[2022-05-13 06:13] timebertt commented on #5956
@neo-liang-sap sent me this webhook config right here in private:

[code]

[2022-05-13 06:21] timebertt commented on #5956
`check-ignore-label.gatekeeper.sh` is a problematic webhook, as it intercepts `CREATE/UPDATE namespaces` calls with `failurePolicy=Fail`.
This is disallowed by this matcher: https://github.com/gardener/gardener/blob/bc1827317538914af9be133cba42dfe7bb806e24/pkg/operation/botanist/matchers/matcher.go#L80-L83

[2022-05-13 06:29] rfranzke commented on #5956
We should probably improve our matcher to check whether best-practices are respected. In above case, the `timeoutSeconds` is low enough and there is a correct `namespaceSelector`, so we should not consider it as problematic anymore?

[2022-05-13 08:34] timebertt commented on #5956
The best-practices don't matter for this case, because Namespaces are cluster-scoped resources, right?
Also, `timeoutSeconds` doesn't matter if `failurePolicy` is set to `Fail`.

[2022-05-13 08:45] rfranzke commented on #5956
Ah, I missed this. Yeah, in this case an `objectSelector` should be used which excludes `kube-system`. However, I doubt that our check would then no longer consider this webhook as problematic, would it?

[2022-05-13 08:55] timebertt commented on #5956
Yes, I expect the same.
Maybe we should enhance our matchers to consider this special case for webhooks on `namespaces` and require that an `objectSelector` is present, that excludes all the k8s/gardener managed system namespaces: `kube-system`, `kube-public`, `default`, `kube-node-lease`.

[2022-05-13 11:04] timebertt commented on #5952
https://github.com/gardener/gardener/pull/5937 is merged now. So I think, we can
/close
this issue.

[2022-05-13 11:04] #5952 closed, assigned to nobody

[2022-05-13 15:40] afritzler commented on #5952
@unmarshall if you are interested in running a Kubernetes control plane in your cluster you could use the following project from the @onmetal team: https://github.com/onmetal/matryoshka

It allows you to deploy the `kube-apiserver` and `kube-controller-manager` via CRs into your cluster. You can find the sample manifest here: https://github.com/onmetal/matryoshka/tree/main/config/samples

Together

[2022-05-14 12:05] ialidzhikov opened #5973 "Seed cannot get ready due to failure during apply of dependency-watchdog-endpoint Deployment"
/area control-plane
/kind bug
/kind regression

**What happened**:
https://github.com/gardener/gardener/pull/5937 introduces a change to dependency-watchdog-endpoint Deployment `spec.selector`. This field is actually immutable. Hence, existing Seed cannot get ready with:
[code]

**What you expected to happen**:
Seed bootstrap to work as expected.

**How to reproduce it (as minimally and precisely

[2022-05-16 06:09] ialidzhikov commented on #4872
@istvanballok I assume that this issue is about the prometheus that is part of the Shoot control plane. Is it possible to introduce similar retention for it as done in https://github.com/gardener/gardener/pull/5450 for the aggregate prometheus?

I think recently @kris94 and @mandelsoft hit this issue (exhausted disk space for the prometheus PV):
[code]

[code]

[2022-05-16 06:20] rfranzke commented on #5973
/assign

[2022-05-16 07:32] istvanballok commented on #4872
The prometheus in the shoot control plane already has a size based retention policy configuration:
https://github.com/gardener/gardener/blob/bc1827317538914af9be133cba42dfe7bb806e24/charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml#L76-L77
and I checked the internal issue you mentioned, and the configuration of that specific prometheus instance seems to be correct / as

[2022-05-16 07:52] unmarshall opened #5977 "Refactor etcd.Deploy method as its too long and does too many things"
**How to categorize this issue?**
/area control-plane
/area quality
/kind enhancement
/kind technical-debt

**What would you like to be added**:
In `operation/botanist/etcd/etcd.go` method: `func (e *etcd) Deploy(ctx context.Context) error` has significantly grown in size especially after the [PR#5741](https://github.com/gardener/gardener/pull/5741/).
The method creates a LOT of resources which ar

[2022-05-16 09:08] #5973 closed, assigned to rfranzke

[2022-05-16 09:36] clebs opened #5978 "Convert API packages to submodules"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:

Make the API packages f gardener submodules for easier usage by clients. See example on the prometheus operator:
https://github.com/prometheus-operator/prometheus-operator/tree/main/pkg%2Fapis%2Fmonitoring

**Why is this needed**:

Currently when importing the gardener API packages to

[2022-05-16 09:39] rfranzke commented on #5978
/duplicate #2871

[2022-05-16 10:06] timebertt commented on #5978
Dedicated go modules in the same repo is painful as experience has shown. As stated in https://github.com/gardener/gardener/issues/2871#issuecomment-949526277, we would need a full sync-out mechanism like kubernetes to better deal with this.

However, since https://github.com/gardener/gardener/pull/5347 we have restricted the imports quite significantly for API packages, so importing them should n

[2022-05-16 10:09] timebertt commented on #5977
The linked PR is not even merged yet. So do we have an issue for something that's not even on master and can be tackled right away?

[2022-05-16 10:15] timebertt opened #5979 "Explicitly delete `metrics-server` on Shoot deletion"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:

We could explicitly delete the `metrics-server` including its `APIServices` early on in shoot deletion.

**Why is this needed**:

If there are no nodes to run `metrics-server` pods, the `APIService` is undiscoverable and can therefore block `Namespace` deletion in step `Cleaning shoot namesp

[2022-05-16 10:17] unmarshall commented on #5977
It was suggested that we create another issue for taking care of refactoring. [#5741](https://github.com/gardener/gardener/pull/5741/) is time sensitive and needs to go in first. There is an ongoing effort to even split this PR into 3 smaller PR's, hopefully allowing merging of multi-node specific changes. We wish to tackle the refactoring effort separately as it is not a must to have for multi-no

[2022-05-16 10:38] timebertt commented on #5977
TBH, I don't like to consciously add technical debt, that can be avoided in the first place. This issue is clearly a big red sign for such a case.

[2022-05-16 11:38] vpnachev opened #5981 "Improve error message about shoot hibernation admission"
**How to categorize this issue?**

/area ops-productivity usability
/kind enhancement

**What would you like to be added**:
The error message forbidding shoot to be hibernated when hibernation is not allowed to be improved, ref: https://github.com/gardener/gardener/blob/64869baf1aa7cca708dcb174ba59b2549ecad216/plugin/pkg/shoot/validator/admission.go#L501

**Why is this needed**:
Sometimes the hibe

[2022-05-16 12:04] timebertt commented on #5981
Yep, good suggestion, that is confusing indeed.

Let's keep the current error message only for `constraint.Status == False` and add some more context for `constraint.Status == Unknown`.

[2022-05-16 13:36] istvanballok commented on #4872
After having looked into the details of the most recent occurrence above, I think the root cause could be a bug in Prometheus that has been resolved with v2.33.4. After upgrading Prometheus with #5984, we can close this issue.

[2022-05-16 13:58] #4872 closed, assigned to nobody

[2022-05-16 14:32] #5981 closed, assigned to nobody

[2022-05-17 06:16] unmarshall commented on #5977
I completely agree with you that we should not create new technical debt when the new changes are not yet merged to master which is why i left a review comment in [PR#5471](https://github.com/gardener/gardener/pull/5741/) only to be told 2 things:
- A method which after the new changes has grown to ~560 lines of code is not an immediate concern
- This should be handled as a separate PR.

In the en

[2022-05-17 12:16] ialidzhikov commented on #5956
Even when you fix the `objectSelector` to be as

[code]

gardenlet still considers it as problematic.

I briefly checked the history behind https://github.com/gardener/gardener/blob/bc1827317538914af9be133cba42dfe7bb806e24/pkg/operation/botanist/matchers/matcher.go#L80-L83.

From https://github.com/gardener/gardener/pull/2270#issuecomment-624494880 these rules were added with explanation:

The `No

[2022-05-17 12:18] rfranzke commented on #5956
Thanks for checking @ialidzhikov, SGTM.

[2022-05-17 14:06] timebertt commented on #5956
Thank you for checking the details, that sounds promising 👍

[2022-05-17 14:33] rfranzke opened #5990 "Upgrade `k8s.io/*` to `v0.24`, `sigs.k8s.io/controller-runtime` to `v0.12.1+`"
**How to categorize this issue?**

**What would you like to be added**:

We should upgrade to the latest versions of our go upstream dependencies:
- `sigs.k8s.io/controller-runtime@v0.12.1`: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.12.1
- `k8s.io/*@v0.24.0`

## Important changes / Action items

Here is a list of a few upstream changes to look out for when vendoring g/g

[2022-05-18 05:47] plkokanov opened #5992 "CPM integration tests fail due to labels and data not being persisted for some secrets"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:
Control plane migration tests fail with the following errors:
[code]

**What you expected to happen**:
Tests to complete successfully

**How to reproduce it (as minimally and precisely as possible)**:
Create a shoot and wait for it to be reconciled. Get the `observability-ingress` secret from the shoot's

[2022-05-18 06:06] plkokanov opened #5993 "Increase the timeout for deploying EtcdCopyBackupsTask during Restore phase"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement

**What would you like to be added**:
Currently when deploying `EtcdCopyBackupsTask` during the `Restore` phase of control plane migration in order to copy shoot backups between backup buckets, there is a timeout of 5 minutes while waiting for the task to complete. After those 5 minutes have passed, if  `EtcdCopyBac

[2022-05-18 06:35] timebertt commented on #5895
Another instance: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1526760693599047680
@plkokanov you are assigned to this issue, are you still working on it?

[2022-05-18 07:03] plkokanov commented on #5895
No I'm not working on it anymore, but I also got unassigned a couple of days ago, it just wasn't with the unassign command.

[2022-05-18 08:33] timuthy commented on #5977
+1

Please don't get me wrong but I see that such issues are typical candidates which get auto-closed after `90d` because no one will have capacity to work on it. If the refactoring was a prerequisite for #5741, then we should have done it first or along the way to a certain extent like **Boy Scout Rule** suggests. So in the meantime this is probably just going to be yet another open issue that is

[2022-05-18 09:40] unmarshall commented on #5977
@timuthy Agreed.

Well this was a review comment that i added. I do not know how the code ownership works in gardener yet, but i assume the final decision to refactor or not is not mine (at least in gardener core), therefore it was an observation made and recorded as part of the PR. Please take a call and if you decide that the review comment needs to be incorporated as part of the PR, then please

[2022-05-19 07:05] plkokanov commented on #5850
For the last part:

We could simply change the following function in https://github.com/gardener/gardener/blob/master/pkg/operation/care/checker.go
[code]

I have not tested it completely but this will probably be better than adding a similar check only in https://github.com/gardener/gardener/blob/master/pkg/operation/care/seed_health.go and it would also resolve

@timebertt @ialidzhikov @rfranzke

[2022-05-19 07:10] rfranzke commented on #5850
This will also consider the `Progressing` condition for `ManagedResource`s associated with `Shoot`s. Is this safe at this stage, or better, do we really want this/care about it?

[2022-05-19 07:48] clebs commented on #5978
Hi @timebertt,
thanks for the quick response! Currently I am importing gardener `1.46.2` here: https://github.com/kyma-project/hydroform/tree/main/provision. This is causing issues when transitively importing things like helm 2.16, yaml.v2, a very outdated version of k8s.io/client-go, etc...

I am able to replace them sometimes with the ones I need but it is not always possible. Additionally, even

[2022-05-19 13:23] #4239 closed, assigned to plkokanov

[2022-05-19 13:23] #5914 closed, assigned to ary1992

[2022-05-19 14:27] #5808 closed, assigned to acumino

[2022-05-20 07:53] #5957 closed, assigned to dimityrmirchev

[2022-05-20 13:34] #4796 closed, assigned to ialidzhikov, ary1992

[2022-05-21 11:57] rfranzke opened #6016 "☂️ Improve Gardener Development Productivity"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:

### 📖 Documentation

- [x] https://github.com/gardener/gardener/pull/6245

### 🧪 Testing

- Enable more e2e tests based on existing TestMachinery tests
  - [x] https://github.com/gardener/gardener/pull/6293
- Improve debugging experience for failing e2e tests
  - [x] https://github.co

[2022-05-21 12:16] rfranzke commented on #2754
# Tasks

_This got copied into the issue description itself, see https://github.com/gardener/gardener/issues/2754#issue-681818569._

[2022-05-22 19:10] rfranzke opened #6017 "Jitter for the `shootretry` controller"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:
The [`shootretry` controller](https://github.com/gardener/gardener/blob/master/pkg/controllermanager/controller/shoot/shoot_retry_control.go) is responsible for automatically retrying failed `Shoot`s after the configured retry period (default: `10m`): https://github.com/gardener/gardener/blo

[2022-05-23 05:52] plkokanov commented on #4106
/unassign as will not have the capacity to continue working on this

[2022-05-23 09:55] ary1992 commented on #5990
/assign

[2022-05-23 15:51] ialidzhikov commented on #5992
Can this issue be closed after https://github.com/gardener/gardener/pull/6011?

[2022-05-23 16:13] plkokanov commented on #5992
I guess. I wanted to wait until the tests pass the erroneous step before closing it though.

[2022-05-24 05:37] himanshu-kun commented on #7538
cc @vlerenc

[2022-05-24 07:13] vlerenc commented on #7538
Thanks @bollmann. You are right, ideally we should prevent that (option gardener/machine-controller-manager#2). It is not reasonably possible to rename a pool (option gardener/machine-controller-manager#1) as the name is encoded everywhere, also so that you can more easily understand what the nodes are doing (on the infrastructure provider side as well as from within Kubernetes). GKE also doesn't

[2022-05-24 10:11] acumino commented on #5634
Maybe we can use this new feature. [Add non-preempting option to PriorityClasses] (https://github.com/kubernetes/enhancements/issues/902.)

[2022-05-25 08:07] #5800 closed, assigned to nobody

[2022-05-26 09:16] shafeeqes commented on #6017
/assign

[2022-05-26 11:20] unmarshall commented on #5878
Correction:
In [actuator_reconcile.go](https://github.com/gardener/gardener/blob/80c9a619e3d5e68f6fb5a4fcdb016004c34fbc64/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go) only MCM and CA are scaled up/down. KCM is not handled in this reconciler.

[2022-05-26 11:21] unmarshall commented on #5878
cc @rishabh-11

[2022-05-26 12:43] plkokanov opened #6034 "Restoration of `BackupEntry` resources can fail when migrating `Shoot` control planes between `Seeds` in different regions"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:
There is a a problem during the restoration of a shoot's `BackupEntry` when migrating the shoot's control plane between seeds in different regions and the `CopyEtcdBackupsDuringControlPlaneMigration` feature gate is enabled:

[code]

When the `CopyEtcdBackupsDuringControlPlaneMigration` feature gate is e

[2022-05-27 00:27] neo-liang-sap commented on #5956
/reopen
some customer reported same error with following webhook with g/g 1.57.0
[code]
![image](https://user-images.githubusercontent.com/42594392/170605003-e018d497-1eb7-4aab-98b5-d28e91f16c35.png)

Free free ping me in private for more detailed information

[2022-05-27 05:42] rfranzke commented on #5956
@neo-liang-sap The improvement is not yet released and will only be part of v1.48. @ialidzhikov do you think it makes sense to backport it?

[2022-05-27 05:55] ialidzhikov commented on #5956
There is no v1.57.0 yet. I assume you mean v1.47.0.
The corresponding PR (https://github.com/gardener/gardener/pull/5991) is not included in v1.47.0 and is about to be included in the upcoming v1.48.0.

Depends on how many affected clusters we have - if it is only several cases I would rather avoid the overhead around new patch release. The issue itself is not a regression. Maybe people just notic

[2022-05-27 05:59] rfranzke commented on #5956
Fair enough, thanks!

@neo-liang-sap please check if this still happens with `master` / v1.48 and reopen if necessary

/close

[2022-05-27 06:18] ialidzhikov commented on #5992
The previously failing `migrate-shoot` step is now successful (with `v1.48.0-dev-8f819ffab82898c65be19a4376aeec3b5627c3ba`).

![Screenshot 2022-05-27 at 9 16 41](https://user-images.githubusercontent.com/9372594/170641859-172164ed-fa63-4f78-86f9-bc88f614ae90.png)

/close

[2022-05-27 06:18] #5992 closed, assigned to nobody

[2022-05-27 06:24] #6034 closed, assigned to plkokanov

[2022-05-27 06:58] plkokanov opened #6036 "Creation of a `Shoot` cluster can fail, if it is the first `Shoot` assigned to a `Seed`"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
When the `APIServerSNI` feature gate is enabled, the sync period of the seed controller in `gardenlet` is relatively large and the dependency watchdog probe is enabled (`seed.spec.settings.dependencyWatchdog.probe.enabled=true`), creation of a shoot cluster (if that is the first shoot cluster on the seed) will fail in

[2022-05-27 07:26] ScheererJ commented on #6036
We partially already check that SNI is enabled **or** some resources still exist:

https://github.com/gardener/gardener/blob/5da021628e55336d22dfc1f6f574a1969fd2bc99/pkg/operation/seed/seed.go#L777-L779

Is there any reason against moving the feature gate check directly into `anySNI`? This would change

https://github.com/gardener/gardener/blob/5da021628e55336d22dfc1f6f574a1969fd2bc99/pkg/operatio

[2022-05-27 08:19] vlerenc commented on #5956
Seems that had the desired effect. Now so many people started reacting/fixing their web hooks. :-)

cc @holgerkoser @dguendisch @petersutter @grolu

[2022-05-27 12:42] dimityrmirchev opened #6042 "Shoot cannot be reconciled after CA Rotation was triggered if `ReversedVPN` is disabled"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
I had `ReversedVPN` set to `false` and triggered CA rotation for a shoot cluster. The reconciliation failed with error:
[code]

The `vpn-seed` container in the `kube-apiserver` pod is logging the following:
[code]

After restarting the gardenlet with `ReversedVPN: true` the shoot reconciles successfully.

**What y

[2022-05-27 14:17] timuthy opened #6045 "[Extensions lib] Pass clientConnection configuration to shoot client"
**How to categorize this issue?**

/area performance
/kind enhancement

**What would you like to be added**:
Gardener's extensions library offers a standard health check registration which is used by provider extensions ([example](https://github.com/gardener/gardener-extension-provider-azure/blob/1f43bb5a28d2b67b22517a2cf60853675a20d1cf/pkg/controller/healthcheck/add.go#L62)).
Today, it's not poss

[2022-05-28 09:32] rfranzke commented on #5912
All related PRs have been merged / tasks have been completed, hence
/close

[2022-05-28 09:32] #5912 closed, assigned to acumino

[2022-05-28 09:37] #5979 closed, assigned to kris94

[2022-05-29 02:44] #4743 closed, assigned to nobody

[2022-05-29 06:31] vlerenc commented on #5912
Awesome!

[2022-05-29 13:44] #4662 closed, assigned to nobody

[2022-05-29 13:44] #4785 closed, assigned to plkokanov

[2022-05-29 15:45] #5176 closed, assigned to nobody

[2022-05-30 05:55] rfranzke commented on #4742
What's the status of this issue? 👀

[2022-05-30 06:16] rfranzke commented on #6042
/assign

Thanks for reporting this @dimityrmirchev, however, I am unable to reproduce it following the steps you provided. After both `rotate-ca-start` and `rotate-ca-complete` everything is running fine. What am I missing (I tried with `provider-local`)?

[2022-05-30 06:52] ialidzhikov commented on #4742
MCM and its providers still use `endpointsleases`. To be switched to `leases` with https://github.com/gardener/machine-controller-manager/pull/711 and then has to be vendored in the MCM providers.

[2022-05-30 07:29] rfranzke commented on #6042
Update: In a joint call with @dimityrmirchev we managed to reproduce it with `provider-gcp` (the difference with `provider-local` seems to be that the legacy VPN does not work "correctly" here; though, given that it's deprecated anyways it would probably be removed sooner or later).

We figured out what the problem is and @dimityrmirchev will open a PR with the fix. Thanks!

[2022-05-30 08:04] shafeeqes commented on #4742
https://github.com/kubernetes/ingress-nginx/pull/8107 is still open

[2022-05-30 08:21] vlerenc commented on #5173
OK, what's the status here? It seems, @timebertt (initially) and myself would rather pick option #1 with less effort while @stoyanr and @rfranzke (and then possibly also @timebertt) would like to pick option #3 with a way to report issues back into the garden cluster.

Whatever we plan to do, we should do it and close CPM (actually, this also covers forceful deletion and not only CPM).

If nobody

[2022-05-30 08:31] #6017 closed, assigned to kris94

[2022-05-30 08:36] MalteJ commented on #4453
/reopen

[2022-05-30 11:43] #6042 closed, assigned to rfranzke

[2022-05-30 12:31] rfranzke commented on #5850
All related tasks have been completed. Thanks everybody for your contributions!
/close

[2022-05-30 12:31] #5850 closed, assigned to plkokanov

[2022-05-30 15:23] vabrams opened #6052 "Using an external DNS Provider failed if UseDNSRecords-Feature-Flag is enabled"
**How to categorize this issue?**
/area control-plane
/kind bug

**What happened**:
gardener-controller-manager reports a reconciliation error if the UseDNSRecords-Feature-Flag is enabled

`"level":"error","logger":"controller.controllerregistration.seed","msg":"Error reconciling request","name":"openstack","namespace":"","error":"need to install an extension controller for \"DNSRecord/cloudflare-

[2022-05-30 15:36] rfranzke commented on #6052
This is expected, I believe. To my knowledge, there is no extension yet implementing the `DNSRecord/cloudflare-dns` "API", so the `UseDNSRecord`s feature gate cannot be used. If you rely on such DNS provider type it would be advisable to contribute such extension (given that `DNSRecord` is the new standard and the feature gate will be eventually promoted and removed, i.e. it will not be able to di

[2022-05-30 16:02] MartinWeindel commented on #6052
You may try https://github.com/schrodit/gardener-extension-provider-dns-cloudflare

[2022-06-01 12:58] oliver-goetz opened #6058 "Verify `maintenance.gardener.cloud/operation` annotation right away"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:
https://github.com/gardener/gardener/pull/6039 introduced `maintenance.gardener.cloud/operation` for shoots.
At the moment the annotation is validated before the operations are executed during the maintenance time window only. Thus, users will get notified about wrong annotations, typos etc.

[2022-06-01 13:01] rfranzke commented on #6058
Small addition: We probably should validate `gardener.cloud/operation` on `Shoot`s as well

[2022-06-02 05:49] timebertt opened #6062 "`make gardener-down` fails at Seed deletion"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:

Seed `local` could not be deleted via `make gardener-down` because the `ControllerInstallation` for provider-local was not deleted.
[code]

[code]

These `DNSRecords` are created for `Ingress` objects in the garden namespace, which don't get cleaned up on Seed deletion.

**What you expected to happen**:

`make

[2022-06-02 05:51] timebertt commented on #6062
Deleting all ingresses in the `garden` namespace unblocks deletion of the `ControllerInstallation` and `Seed`.
Eventually, `make gardener-down` succeeds.

[2022-06-02 09:45] ialidzhikov commented on #5585
You can try to reconcile the following MR against https://github.com/gardener/gardener/pull/5822:

[code]

I added some dummy logging with `fmt.Println`:

[code]

The result is:
[code]

To me (as I mentioned in https://github.com/gardener/gardener/issues/5585#issuecomment-1118504930) kinds for some reason are empty and it is always comparing by name which leads the VPA to be applied before the Clu

[2022-06-02 12:08] vlerenc commented on #1455
Probably related: https://github.tools.sap/kubernetes/autoscaling/issues/39 and https://github.tools.sap/kubernetes/autoscaling/issues/40

[2022-06-03 05:20] rfranzke commented on #4722
/remove lifecycle/rotten

[2022-06-03 11:23] Diaphteiros opened #6067 "Why increase the default socket buffer size?"
**How to categorize this issue?**

/area os
/kind question

Gardener overwrites the OS-specific default values for socket buffer size on the shoot nodes, see https://github.com/gardener/gardener/blob/3ee1070ce8d8144d3479809ecbafe9ba0cff9c7f/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kernelconfig/component.go#L69-L71

We have now had at least one case wher

[2022-06-03 11:24] Diaphteiros commented on #6067
cc @rfranzke @DockToFuture @MrBatschner

[2022-06-03 11:56] oliver-goetz commented on #6058
/assign oliver-goetz

[2022-06-03 15:46] #5878 closed, assigned to nobody

[2022-06-06 17:49] #4797 closed, assigned to nobody

[2022-06-07 08:00] plkokanov commented on #5411
/remove-lifecycle rotten

[2022-06-07 09:01] #5585 closed, assigned to acumino

[2022-06-07 14:14] rfranzke commented on #5990
/unassign @ary1992
/assign @rfranzke

[2022-06-08 12:47] rfranzke commented on #3244
/assign

[2022-06-09 05:35] timebertt opened #6081 "[Flaky Test] Credentials rotation e2e test failing with `old ca* secret should get cleaned up`"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`E2E Test Suite: [It] Shoot Tests Create Shoot, Rotate Credentials and Delete Shoot`

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1534493774900629504#
https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1534554173587066880#
htt

[2022-06-09 05:35] timebertt commented on #6081
/assign

[2022-06-09 08:00] plkokanov opened #6084 "Race condition could cause the `SeedSystemComponentsHealthy` condition to become `True` before all `ManagedResources` for a seed are rolled out"
**How to categorize this issue?**

/area robustness ops-productivity
/kind bug

**What happened**:
A race condition could cause a seed's `SeedSystemComponentsHealthy` condition to become `True` and therefore the seed to become `Ready` right after it has been bootstrapped, even though there are still `ManagedResource`s that are progressing.

Generally, the `SeedSystemComponentsHealthy` condition in

[2022-06-09 12:32] timebertt commented on #6016
/assign
for

We just had a discussion about the testing strategy. I will finalize our discussion results and open a PR with the new document.
The testing developer guideline will follow once we've had the second part of the discussion.

[2022-06-09 15:25] rfranzke commented on #5990
/unassign
I won't make it this week, unfortunately.

[2022-06-09 17:27] rfranzke commented on #5634
/unassign @ialidzhikov
/assign @rfranzke

I still plan to take a look and at least come up with a proposal which `PriorityClass`es should be introduced and how the components should be assigned (either tomorrow or beginning of next week).

[2022-06-10 05:20] timebertt commented on #4888
/remove-lifecycle stale

[2022-06-10 06:02] timebertt opened #6092 "[Flaky Test] Credentials rotation e2e test stuck in tasks `Deleting old ServiceAccount secrets after rotation of signing key, Removing label from secrets after rotation of ETCD encryption key`"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`E2E Test Suite: [It] Shoot Tests Create Shoot, Rotate CA and Delete Shoot`

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6090/pull-gardener-e2e-kind/1534949945625284608
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_garde

[2022-06-10 06:03] timebertt commented on #6081
Since https://github.com/gardener/gardener/pull/6082 has been merged, I have not seen this flake again.
Let's hope it stays that way so that we can close this issue then.

[2022-06-10 11:52] timebertt commented on #6092
Another instance reveals the following in the [gardenlet logs](https://storage.googleapis.com/gardener-prow/pr-logs/pull/gardener_gardener/6094/pull-gardener-e2e-kind/1535168125190803456/artifacts/gardener-local-control-plane/containers/gardenlet-8fbd8db58-j9zj2_garden_gardenlet-b5ce0ed1934d4053bf7fece8c7051aba16e444b72b93f052816e930d47f7a57d.log):

[code]

These are the last logs for shoot `rotat

[2022-06-10 14:41] timebertt commented on #6092
The logs of https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6094/pull-gardener-e2e-kind/1535168125190803456 reveal a few interesting aspects.
This might be confusing, but hear me out :)

## Observations

[code]

During phase `Completing` (started `08:16:28Z`, interrupted by test timeout at `08:26:28Z`), gardenlet got multiple `x509: certificate signed by unknown au

[2022-06-13 05:27] rfranzke commented on #6092
Nice, very interesting findings indeed! :) Thanks for the detailed analysis and the proposed fix 🚀

[2022-06-13 06:35] rfranzke commented on #6052
The question seems to be answered, so let's
/close
this issue for now. Feel free to `/reopen` if you see necessity.

[2022-06-13 06:35] #6052 closed, assigned to nobody

[2022-06-13 08:00] oliver-goetz commented on #6045
/assign oliver-goetz

[2022-06-13 09:03] #6036 closed, assigned to nobody

[2022-06-13 09:17] timebertt commented on #6036
@plkokanov Now that this issue is fixed, should we lower the sync frequency as originally proposed in https://github.com/gardener/gardener/pull/5995?

[2022-06-13 09:17] timebertt commented on #5548
/remove-lifecycle stale

[2022-06-13 09:25] plkokanov commented on #6036
This was handled as part of #6068 already. It's set to 1h as was the proposal in #5995

[2022-06-13 09:34] MartinWeindel commented on #5270
Feature gate `DisableDNSProviderManagement ` has been enabled on both canary and live landscapes.
@timuthy
The task "Verify whether above changes work as expected on large landscapes" is completed.

[2022-06-13 11:12] rfranzke commented on #5270
Thanks for the update @MartinWeindel. Can we then proceed with the last open task which is

- Drop `dns.gardener.cloud` related coding from g/g

from your point of view? Or should we wait for something else?

[2022-06-13 14:55] #4123 closed, assigned to nobody

[2022-06-13 14:58] lukasmrtvy commented on #4123
/reopen

[2022-06-13 15:54] vpnachev opened #6103 "After v1.47 gardenlet fails to reconcile ControllerInstallations with helm3 charts"
**How to categorize this issue?**

/area robustness usability
/kind bug regression

**What happened**:
After v1.47 gardenlet fails to reconcile ControllerInstallations with [helm3](https://helm.sh/docs/topics/charts/#the-apiversion-field) charts, i.e. `Chart\.yaml.apiVersion=v2`

**What you expected to happen**:
The controller installation to be successfully reconciled

**How to reproduce it (as m

[2022-06-13 15:55] #4735 closed, assigned to vlvasilev

[2022-06-14 06:25] timebertt commented on #6081
I have not seen this flake again so far 🎉
/close

[2022-06-14 06:25] #6081 closed, assigned to timebertt

[2022-06-14 07:23] ialidzhikov opened #6106 "Validate `kubeReserved` and `systemReserved` against the `Node`'s allocatable resources"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
Currently one can specify a kubeReserved that exceeds the Node allocatable resources. See steps to reproduce for more details.

**What you expected to happen**:
User to be not allowed to configure kubeReserved that exceeds the Node allocatable resources

**How to reproduce it (as minimally and precisely as possible)**:

[2022-06-14 07:46] tobiscr commented on #5978
@timebertt and @rfranzke , thanks for your reply! But we would really like to challenge whether there is no chance to get this change in place. It's quite painful for us and we see risks, that it will cause collisions sooner or later and we get blocked in our deliveries.

Any chance to bring this topic back on your agenda?

With Go 1.18 was also the support for modularisation improved (see [link](

[2022-06-14 07:48] vpnachev commented on #6103
This seems to be introduced with https://github.com/gardener/gardener/pull/5804. The upstream change is https://github.com/helm/helm/pull/6180 and it is related to https://github.com/helm/helm/issues/5907. My understanding is that as long as Gardener is using `k8s.io/helm@v2`, it should not be able to manage helm V2 charts.

[2022-06-14 08:04] MartinWeindel commented on #5270
@rfranzke
From my point of view it is ok to proceed with "Drop dns.gardener.cloud related coding from g/g"

[2022-06-14 08:39] rfranzke commented on #5978
It might be worth taking another look (especially at the new improvements with recent Go versions), but I doubt that we can change something short-term given that we are focusing on security-related topics these days (and the summer vacation period is just about to start).

[2022-06-14 08:40] rfranzke commented on #5270
/kind cleanup

[2022-06-14 09:53] timebertt commented on #5978
I recently got aware of the go workspaces feature as well, which might indeed reduce the pain of having multiple modules in the same repository.
But even if that eases the pain, I still think we need a fully-fledged sync-out mechanism like kubernetes as stated multiple times, see https://github.com/gardener/gardener/issues/2871#issuecomment-949526277.
We currently don't have this yet. However, thi

[2022-06-14 11:37] clebs commented on #5978
Hi @timebertt, @rfranzke,

thanks for the response and looking into it again. I am very interested in learning more about the challenges this poses and why this sync-out is necessary.

I would also be happy to help with the topic when I can see the full picture.

[2022-06-14 11:54] rfranzke commented on #6092
There was a new instance of this in https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1536668819815141376 (after #6096 was merged).

[2022-06-14 12:24] #6058 closed, assigned to oliver-goetz

[2022-06-14 13:53] ScheererJ commented on #4309
/remove-lifecycle rotten

[2022-06-15 09:42] timebertt commented on #6092
I checked this test failure and I suspect that it failed because Race Condition B is only partially resolved with https://github.com/gardener/gardener/pull/6096:

In phase `Preparing` these two tasks were again executed in quick succession:
[code]

I suspect, that this time the `token-requestor` was faster than gardenlet and successfully renewed the token as instructed by `Renewing shoot access se

[2022-06-15 10:53] rfranzke commented on #6092
This sounds reasonable @timebertt, thanks for checking it out. Will you open a PR?

[2022-06-15 13:34] timebertt commented on #6092
Sure, I'm on it :)

[2022-06-15 14:00] rfranzke commented on #5634
We discussed out of band that our usage of `PriorityClass`es is quite confusing today and that we should think whether we can introduce some better concepts to improve the overall robustness of the system.

I looked into this topic and I propose that we introduce the following `PriorityClass`es and with their respective associations:

## Seed Clusters

The seed controller in gardenlet would create

[2022-06-15 17:25] acumino opened #6127 "Switch envoy-proxy image from `envoy` to `envoy-distroless`"
**How to categorize this issue?**

/area open-source
/kind enhancement

**What would you like to be added**:
Switch envoy-proxy image from `envoy` to `envoy-distroless` once multi-arch image for it is available.

**Why is this needed**:

[2022-06-15 17:25] acumino commented on #6127
/assign @acumino

[2022-06-16 10:01] timebertt commented on #5895
Another instance: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1537273187778170880

[2022-06-17 16:59] #4450 closed, assigned to nobody

[2022-06-20 03:02] ary1992 commented on #6084
/assign

[2022-06-20 06:18] timebertt commented on #6092
I have not seen any more instances of this flake since https://github.com/gardener/gardener/pull/6125
/close

[2022-06-20 06:18] #6092 closed, assigned to timebertt

[2022-06-20 07:33] #3244 closed, assigned to rfranzke

[2022-06-20 08:14] timebertt commented on #5270
Before we cleanup `dns.gardener.cloud` related code in this repository, the `DisableDNSProviderManagement` feature gate should be promoted to GA (currently still alpha). Otherwise, it doesn't make sense to have it, because disabling it won't work anymore.

@MartinWeindel what are your plans for promoting the feature gate?

[2022-06-20 09:27] timebertt commented on #5634
I've updated @rfranzke's proposal after another round of discussion and will start working on it this week.
/unassign @rfranzke
/assign @timebertt

[2022-06-20 12:40] MartinWeindel commented on #5270
I have added a PR to promote `DisableDNSProviderManagement` feature gate to beta: #6142
Then I would suggest to set it to GA two releases later, i.e. with `v1.52`. Does this make sense?

[2022-06-20 12:58] ebensom commented on #4834
/remove-lifecycle rotten
/reopen

The Kyma project would also welcome if this enhancement was implemented.
Unfortunately we configured `spec.networking.nodes` to 10.250.0.0/19 and assigned the whole subnet range to the single zone workers CIDR (this is the case for both AWS and Azure Shoots).

Now we are about to support the upgradeability of Kyma runtimes from single zone to multi-zone, and for t

[2022-06-20 13:31] lautoma commented on #5978
@timebertt or @rfranzke it would be great if you could meet with @clebs to explain your challenges and how he could contribute. Thanks!

[2022-06-20 14:56] kon-angelo commented on #4834
/remove-lifecycle rotten
/reopen

[2022-06-20 15:05] timebertt commented on #5270
Thank you @MartinWeindel. That sounds good 👍

[2022-06-21 12:46] #4309 closed, assigned to DockToFuture, ScheererJ, mvladev

[2022-06-21 12:57] ialidzhikov opened #6154 "Drop support for `alpha.csimigration.shoot.extensions.gardener.cloud/kubernetes-version`"
**How to categorize this issue?**

/area storage control-plane
/kind cleanup

**What would you like to be added**:
https://github.com/gardener/gardener/pull/4202 and https://github.com/gardener/gardener-extension-provider-aws/pull/354 add possibility to overwrite the CSI migration version. Anyways, this was added back then due to existing issues during the migration but AFAIK it was never used or

[2022-06-21 14:18] #5990 closed, assigned to kris94

[2022-06-22 07:35] marwinski opened #6157 "API server probes sporadically fail with "tls: internal error""
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:

We see sporadic failures from blackbox exporter probing the kube-apiserver from both, seed and shoot side:

[code]

Given the total amount of clusters this problem appears to be rare with probably less than 100 probes failing for this reason.

**What you expected to happen**:

Probes should not fail with this err

[2022-06-22 11:29] #3881 closed, assigned to acumino

[2022-06-22 12:51] rfranzke commented on #5250
/remove lifecycle/frozen
/assign @shafeeqes

[2022-06-22 14:39] rfranzke commented on #2879
/reopen
It's still not clear how to implement this but the request for this feature popped up again

[2022-06-22 16:18] ialidzhikov commented on #1455
Hello @vlerenc @rfranzke @timuthy ,

Having in mind that https://github.com/gardener/gardener/issues/5064 is near completion, I can start looking into this issue.
I went over the discussion in this issue to recall what were the options on the table.

I have the feeling that 2 different things are discussed as part of this issue:
1. How to allow any arbitrary scheduling profiles?
2. How to allow Sh

[2022-06-23 06:02] timebertt opened #6168 "`pull-gardener-apidiff` fails silently"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:

`pull-gardener-apidiff` permanently fails silently with the following error:
[code]
e.g. https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6113/pull-gardener-apidiff/1539277751167488000#1:build-log.txt%3A23

Note however, that the job is not marked as failed, prow doesn't comment

[2022-06-23 06:02] timebertt commented on #6168
@acumino can you take a look?

[2022-06-23 06:18] rfranzke commented on #1455
Perhaps we should rather have a meeting to talk about the open questions? There were many discussions in the past and I cannot follow everything anymore, neither do I know whether all arguments still apply today.

[2022-06-23 09:23] #6168 closed, assigned to nobody

[2022-06-23 12:15] vlerenc commented on #1455
@ialidzhikov Thank you for the summary. One question in regards to the web hook: Why is that needed? I thought, we can more elegantly, if the end user selects that feature in the shoot spec, configure the default scheduler accordingly. No?

[2022-06-23 13:30] #5913 closed, assigned to ary1992, shafeeqes

[2022-06-23 14:04] timebertt commented on #5895
/assign @rfranzke @timebertt

[2022-06-23 14:04] ialidzhikov commented on #1455
Do you see in [the docs](https://kubernetes.io/docs/reference/scheduling/config/#multiple-profiles) a way to mark a profile as default? I didn't look into all of the details but looks like it is the kube-apiserver that sets `.spec.schedulerName` to `default-scheduler` when the field is not specified:

Things to check:
 - is the default scheduler configurable in the kube-apiserver? I think it can b

[2022-06-24 06:53] timebertt commented on #5634
One more nit, I noticed in the above proposal:
`gardener-system-critical` (like all other classes in Seeds) should have less priority than all `gardener-shoot-system-*` classes, to ensure shoot cluster critical components have higher priority than seed cluster components if we are on a `ManagedSeed`.
Therefore, I propose to use `gardener-system-critical=999998950`.

Additionally, I propose to drop

[2022-06-24 07:01] rfranzke commented on #5634
Yes, sounds good, I think we talked about this in our meeting but didn't adapt the values accordingly.

Fine for me, although this will create a slight asymmetry 😉

[2022-06-24 07:32] #5895 closed, assigned to rfranzke, timebertt

[2022-06-24 10:34] timebertt commented on #5634
/unassign
I have completed the first steps in https://github.com/gardener/gardener/pull/6186 and listed the remaining steps in the original issue description.

[2022-06-24 11:35] rufreakde opened #6188 ""Logging" Stack Deprecated?"
https://github.com/gardener/gardener/blob/29031f9513f51caf28891a4b5a4c9c344aace570/docs/extensions/logging-and-monitoring.md?plain=1#L7

So I saw this Logging stack explanation but it seems that in the list of gates it is deprecated and even removed after 1.42.
Is this correct? If so could this guide be updated with a deprecation notice and also what are the general suggested alternatives then?

h

[2022-06-24 11:39] rfranzke commented on #6188
Only the feature gate was deprecated and removed, not the logging stack itself. It's still available.

[2022-06-24 11:39] ialidzhikov commented on #6188
No, it is not deprecated. Just changed the way how it is configured. Previously it was with a feature gate, after https://github.com/gardener/gardener/pull/5337 - with a configuration option in the gardenlet's component config.

[2022-06-24 11:43] ialidzhikov commented on #6188
Feel free to reach out [over Slack](https://kubernetes.slack.com/messages/gardener) if you have additional/follow-up questions.

/close

[2022-06-24 11:43] #6188 closed, assigned to nobody

[2022-06-24 11:43] rufreakde commented on #6188
Ah okay got it could update the guide a little to emphasise that the gate is dependent on the version.
Thanks!

[2022-06-24 13:43] hoeltcl opened #6191 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-06-24 13:56] istvanballok commented on #3667
/reopen
(we haven't added the dashboards yet)

[2022-06-24 15:36] ialidzhikov commented on #5064
I now verified once again (this time with the above-linked changes in the provider extensions and the new cluster-autoscaler images) that this issue gets resolved (scale-up happens when the volume limit is reached for the Node).

[2022-06-26 17:40] ialidzhikov commented on #1455
I now checked and they do it via mutating webhook. I created a GKE cluster for test purposes and switched the autoscaling profile from `default` to `optimize-utilization`. This created the following webhook in the cluster.

[code]
<details>

[code]

</details>

---

For the time being we can start with similar mutating webhook and in parallel work on making the default scheduler name configurable

[2022-06-27 06:14] shafeeqes commented on #6106
Should we validate existing shoots as well?

[2022-06-27 06:33] ialidzhikov commented on #6106
Yes, we can validate existing Shoots as well. The corresponding fields are not immutable and if there are already existing misconfigured values, the Shoot owner can fix them.

[2022-06-27 08:18] timebertt commented on #4722
What is the status here? What's missing for completing this issue?
@plkokanov @kris94

[2022-06-27 08:19] timebertt commented on #4798
/remove-lifecycle stale

[2022-06-27 08:32] timebertt commented on #2965
We discussed this issue again and had the following thoughts:

- running the race detector probably reveals some races out of our control, false positives or even ones that we are not interested in
- we would need some experience about how valuable running the race detector is
- it's unclear what's the behavior on a race (log or panic?) and how we would follow up on races found on landscapes or in

[2022-06-27 08:41] timebertt commented on #4853
Let's close this issue as it has been open for some time without more occurrences or new investigation details.
/close

[2022-06-27 08:41] #4853 closed, assigned to nobody

[2022-06-27 08:43] timebertt commented on #4350
We don't plan on focusing on testmachinery tests in favor of e2e tests that are run as part of CI.
If we see highly flaky test suites, we should fix them. However, we don't want to start a general cleanup/improvement of the existing testmachinery tests.
/close

[2022-06-27 08:43] #4350 closed, assigned to nobody

[2022-06-27 09:15] kon-angelo opened #6200 "Worker and Cluster autoscaler soft deadlock because CA configuration not updated"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:

In an AWS cluster an effort was made to increase the size of some worker pools. One of the worker pools was using big GPU machines, while the other was using standard and readily available machine types. When applying this change the following things happened:
+ worker controller issued the new `machineclass`es a

[2022-06-27 10:57] plkokanov commented on #4722
Currently only the `Bootstrapped` and `SeedSystemComponentsHealthy` are set to `Progressing` during reconciliations.
`BackupBucketsReady`, `ExtensionsReady` and `GardenletReady` are still only set to `Unknown`, `True` or `False`.

Should we add support for `Progressing` status to them as well?

[2022-06-27 11:00] rfranzke commented on #4722
Yes

[2022-06-27 15:17] ialidzhikov commented on #1455
Outcomes from the meeting we had earlier today:

- I think we are okay to try out option 2. from https://github.com/gardener/gardener/issues/1455#issuecomment-964267871 with the disclaimers from https://github.com/gardener/gardener/issues/1455#issuecomment-1163330012:
- We plan to introduce a new field to the Shoot spec that denotes the kube-scheduler profile that is used/imposed
[code]

- We need

[2022-06-27 16:25] #6191 closed, assigned to nobody

[2022-06-27 17:30] vlerenc commented on #1455
Sounds good, thank you @ialidzhikov. Just two things:
- I would suggest to call the default profile (in the shoot spec) rather `balanced`, but not `default` as that carries not enough meaning and most people don't know what the default is
- I would add always all scheduler profiles with explicit names, i.e. for now only `balancedScheduler` and `binpackingScheduler` (maybe later more), whether we u

[2022-06-28 02:12] shafeeqes commented on #5824
https://github.com/kubernetes/autoscaler/issues/4844 is closed now. Let's wait for a release with the changes.

[2022-06-28 07:17] rfranzke opened #6211 "Eliminate `causer` interface in favor of `errors.Unwrap`"
**How to categorize this issue?**

/area dev-productivity
/kind cleanup technical-debt

**What would you like to be added**:
The `causer` interface https://github.com/gardener/gardener/blob/862c77153f92be4f9ab8d039d2751f630539ef90/pkg/utils/errors/unwrap.go#L19-L21 leads to confusion when it comes to error handling and error propagation.
Let's eliminate it and rather use Golang's native error unwr

[2022-06-28 07:41] ialidzhikov commented on #1455
Ok, let's use `balanced`.

I was about to use `default-scheduler` (to keep the defaulting from kube-apiserver side working) and `bin-packing-scheduler` - so yes, we will use explicit and descriptive names.

For now I will pick the webhook approach due to the advantages listed above; this is also what GKE does; and I, myself, as operator/end user would like to see a schedulerName that corresponds t

[2022-06-29 05:29] timebertt commented on #4605
/remove-lifecycle stale

[2022-06-29 05:29] timebertt commented on #2829
/remove-lifecycle stale

[2022-06-29 05:30] timebertt commented on #4794
/remove-lifecycle stale

[2022-06-29 09:10] ScheererJ commented on #4453
/reopen
/remove-lifecycle rotten

[2022-06-29 09:30] pre commented on #5690
This was closed as `Completed` but it seems this is not available / has not been implemented?

Does this mean that a new Github issue feature request should be created to request this again?

[2022-06-29 10:04] jdrueckert commented on #5690
My bad, sorry. Just re-checked the K8s v1.25 enhancements list and it seems like the `--seccomp-default` field will indeed become beta with K8s v.125 planned to be released August 23rd.

[2022-06-30 06:35] timebertt commented on #4251
/assign @rfranzke @timebertt

[2022-06-30 06:53] timebertt commented on #5658
@andrerun are there any updates on this issue?

[2022-06-30 07:43] voelzmo commented on #5658
@timebertt We were blocked on a few internal issues, but these have been resolved. I think we're going to fix this soon!

[2022-06-30 08:37] ialidzhikov commented on #5064
We can close this issue now, all above-linked PRs are merged.

/close

[2022-06-30 08:37] #5064 closed, assigned to nobody

[2022-06-30 08:54] #5411 closed, assigned to plkokanov

[2022-06-30 13:15] timebertt commented on #6016
/unassign

is done with https://github.com/gardener/gardener/pull/6245

[2022-06-30 13:18] andrerun commented on #5658
Documenting discussion on a side channel:
Today I confirmed that an update was recently made to bring existing clusters to conformance. As next steps, I will validate said conformance to the v1 schema, and then I’ll switch to it. Unless we consider it urgent, it will take a couple of weeks due to competing priorities.

[2022-07-01 07:05] ialidzhikov commented on #6045
/reopen
as we had to revert https://github.com/gardener/gardener/pull/6113

[2022-07-02 06:17] vlerenc commented on #6157
@marwinski Is that a possible issue that may lead to the observed, but not necessarily perceived API server outages? They are phantom outages?

@istvanballok Wouldn't this be another (good) reason to finish the "meaningful availability" topic? In the end, API server availability is the most relevant SLI and we see (too) many issues with the seed/shoot probes we seem unable to get down. We found ph

[2022-07-02 06:32] vlerenc commented on #3259
That may not only help with:
- Our controllers/kubelet get precedence at the shoot API server
- Our controllers/gardenlet get precedence at the Gardener API server

...but also with:
- Onboarding of nodes/kubelets after a total control plane outage (cc @ashwani2k @voelzmo)

During load tests with very large cluster, the observation was that all nodes are trying to join at the same time and that ca

[2022-07-04 06:44] rfranzke commented on #3292
All related tasks have been completed.
/close

[2022-07-04 06:44] #3292 closed, assigned to rfranzke, timebertt

[2022-07-04 07:27] timebertt commented on #6016
/assign @oliver-goetz
for the tasks listed above with his name :)

[2022-07-04 11:05] #6084 closed, assigned to ary1992

[2022-07-04 13:33] #6106 closed, assigned to shafeeqes

[2022-07-04 14:55] vlerenc commented on #3292
Awesome!

[2022-07-04 15:24] christianhuening commented on #3292
Truly Amazing! Thanks a ton!

[2022-07-04 15:30] timuthy opened #6258 "☂️ -Issue for ARM64 dev environment"
**How to categorize this issue?**

/area delivery
/area dev-productivity
/kind enhancement

**What would you like to be added**:
More and more developers switch with their dev machines to an `ARM64` based architecture, esp. with Apple Silicon. Although it's possible to run `AMD64` based images on these platforms via [qemu emulation](https://docs.docker.com/desktop/mac/apple-silicon/#known-issues),

[2022-07-04 15:32] timuthy commented on #6258
/assign

[2022-07-04 17:35] cypherfox commented on #3292
Outstanding!

[2022-07-04 17:40] rfranzke commented on #6258
Is pause-container still needed after https://github.com/gardener/gardener/pull/6238?

[2022-07-04 17:50] acumino commented on #6258
No

[2022-07-05 06:33] timebertt commented on #6258
machine-controller-provider-local and provider-local node image are already multi-arch builds 🚀
See https://github.com/orgs/gardener/packages?repo_name=machine-controller-manager-provider-local

[2022-07-05 07:26] timuthy commented on #6258
Nice. Then we need support for MCM
https://github.com/gardener/gardener/blob/9535a6c27e1f6313c80279346ad8673ca69f6dc0/pkg/provider-local/imagevector/images.yaml#L2-L5

[2022-07-05 09:35] #5533 closed, assigned to nobody

[2022-07-05 09:50] timebertt opened #6263 "Add integration/e2e test for gardenlet certificate rotation"
**How to categorize this issue?**

/area testing
/kind enhancement

**What would you like to be added**:

We currently don't test the gardenlet certificate rotation feature in CI.
We should add a test (optimally e2e) to verify that feature on PRs and on master.

**Why is this needed**:

Increasing test coverage and confidence.

[2022-07-05 13:26] ialidzhikov opened #6268 "prometheus: Error on ingesting results from rule evaluation with different value but same timestamp"
**How to categorize this issue?**

/area monitoring
/kind bug

**What happened**:
There are errors of type `Error on ingesting results from rule evaluation with different value but same timestamp` in the garden/prometheus-0 logs.

**What you expected to happen**:
To do not have similar error logs.

**How to reproduce it (as minimally and precisely as possible)**:
1. Check the logs of the prometheu

[2022-07-05 13:33] ialidzhikov commented on #6268
cc @voelzmo @wyb1 @istvanballok

[2022-07-05 15:18] ScheererJ opened #6270 "#5946 broke ability to update istio if ExposureClasses are used"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:
Updating istio does no longer work after https://github.com/gardener/gardener/pull/5946 if `ExposureClasses` are used. There is only one managed resource for the istio resources, but the `istio-ingress` resources should be deployed into several namespaces, one for each exposure class.
Looking into the managed resourc

[2022-07-06 05:32] rfranzke commented on #6270
@acumino can you please check and follow up?

[2022-07-06 12:18] shafeeqes commented on #5250
I looked into this issue.I will try to summarize what I understood:

1. Pod Security Admission is controlled by labels on namespaces. eg: pod-security.kubernetes.io/`MODE`: `LEVEL`
There are 3 modes,

- enforce : Policy violations will cause the pod to be rejected.
- audit       : Policy violations will trigger the addition of an audit annotation to the event recorded in the audit log, but are oth

[2022-07-06 13:42] acumino commented on #6270
/assign

[2022-07-06 14:24] plkokanov opened #6281 "Improve control plane migration end-to-end tests"
**How to categorize this issue?**

/area control-plane-migration
/area testing
/kind enhancement

**What would you like to be added**:

- [ ] Improve the control plane migration e2e test by:
  - [ ] Making the `Worker` migration and restoration testable. Currently the worker is deleted during the migrate phase and recreated during the restore phase which is not desired.
  - [ ] Making the `Shoot`'

[2022-07-06 14:25] plkokanov commented on #4902
Closing this as the tasks have been completed. I've opened #6281 to track the leftovers for the e2e tests.

[2022-07-06 14:25] #4902 closed, assigned to plkokanov

[2022-07-07 02:16] ary1992 commented on #6211
/assign

[2022-07-07 11:08] ialidzhikov opened #6286 "gardenlet panics when Shoot is created in a Namespace that does not have the Project labels"
**How to categorize this issue?**
/area quality
/kind bug

**What happened**:
gardenlet panics when Shoot is created in a Namespace that does not have the Project labels

**What you expected to happen**:
No panic.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a ns `garden-test` without Project labels

[code]

2. Create the following Project that uses this namespace

[2022-07-08 06:18] #1455 closed, assigned to ialidzhikov

[2022-07-08 06:34] rfranzke commented on #5325
/remove-lifecycle stale
cc @MrBatschner

[2022-07-08 14:09] #6270 closed, assigned to acumino

[2022-07-09 09:07] #1013 closed, assigned to nobody

[2022-07-09 09:07] #4519 closed, assigned to nobody

[2022-07-11 08:12] plkokanov commented on #4798
/assign

[2022-07-11 08:18] plkokanov commented on #2751
/assign

[2022-07-11 08:20] plkokanov commented on #4722
/assign

[2022-07-11 15:09] voelzmo commented on #5325
I understand that this is only a prerequisite for enabling `cgroupsv2`, but please be aware that additional things need to be done before switching the cgroup:

- ensure that we're using at least `containerd` [1.5.12](https://github.com/containerd/containerd/releases/tag/v1.5.12) or [1.6.3](https://github.com/containerd/containerd/releases/tag/v1.6.3) to get the [fix for incorrectly detected OOMKi

[2022-07-12 10:06] #6062 closed, assigned to nobody

[2022-07-12 11:53] plkokanov opened #6302 "Finalise "Bad Case" Control Plane Migration"
# Stories
- As user I want my clusters to recover from a disaster, should it strike (downtime is aceptable).
- As operator I want an easy, fail-safe, automated, and fast means to migrate clusters if disaster strikes.
- As provider I want disaster recovery to provide a compliant and safe service.

# Motivation
In contrast to [GEP-7 Shoot Control Plane Migration "Good Case" Scenario](https://github.

[2022-07-12 12:52] timebertt opened #6305 "Drop support for `use-as-seed` annotation"
**How to categorize this issue?**

/area dev-productivity ops-productivity
/kind cleanup

**What would you like to be added**:

The `use-as-seed` annotation on shoots was replaced by a proper resource (`ManagedSeed`) a long time ago.
We should finally clean up the old annotation and the corresponding "shoot seed registration" controller.

Along the way, we should enforce that `Shoot` objects that

[2022-07-12 14:33] wyb1 opened #6308 "Add a sidecar to Operator/Owner Grafanas to discover dashboards"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

Add a sidecar to Grafana to discover dashboards as described [here](https://github.com/gardener/gardener/blob/master/docs/proposals/19-migrating-to-prometheus-operator.md#grafana-sidecar).

- [ ] Refactor Grafana to a component (similar to https://github.com/gardener/gardener/pull/6210)
- [

[2022-07-12 14:59] rfranzke commented on #6308
As part of this issue, it might make sense to refactor Grafana to a component (similar to #6210) before we even further extend the Helm charts (multiple times).

[2022-07-12 16:06] istvanballok commented on #6308
/cc @rickardsjp @istvanballok (for the notifications)

[2022-07-13 05:46] #6268 closed, assigned to nobody

[2022-07-13 06:21] timebertt opened #6313 "[Flaky Test] `Shoot Hibernation Test Machinery Suite`"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`Shoot Hibernation Test Machinery Suite`

**CI link**:

[TM Dashboard](https://tm.gardener.cloud/testrun/testruns-on-dev/dev-manualggv4f)
[TM Grafana](https://grafana.ingress.cicdes.core.shoot.live.k8s-hana.ondemand.com/d/3_8I9RpMk/testmachinery-details?orgId=1&from=1657593456000&to=1657643856000

[2022-07-13 06:21] timebertt commented on #6313
@kris94 @plkokanov can you take care about this one?

[2022-07-13 06:45] plkokanov commented on #6313
/assign

[2022-07-13 09:30] wyb1 commented on #6308
I will add it to the issue

[2022-07-13 11:19] timuthy opened #6317 "Evaluate `BackupReady` condition for etcd resource"
**How to categorize this issue?**

/area control-plane
/area ops-productivity
/kind enhancement

**What would you like to be added**:
Etcd-Druid [v0.11.0](https://github.com/gardener/etcd-druid/releases/tag/v0.11.0) maintains a new `BackupReady` condition for the `etcd` resource. Gardener should evaluate this condition as part of its regular health checks and contribute the state to the `ControlPl

[2022-07-13 12:23] wyb1 opened #6318 "Deploy the Prometheus Operator and its CRDs as a ManagedResource"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

- [ ] Create a component in go for the Prometheus Operator and its CRDs
- [ ] Deploy as a Managed Resource

[2022-07-13 12:45] wyb1 opened #6319 "[GEP-19] Initial Shoot Monitoring migration"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

Requires https://github.com/gardener/gardener/issues/6318 as a prerequisite

Goal: Replace the Prometheus in each control plane with a Prometheus object from the prometheus-operator.

- [ ] Replace Prometheus artifacts from the `seed-monitoring` charts with a component.
- [ ] Add temporary

[2022-07-13 13:54] wyb1 commented on #6319
/cc @rickardsjp @istvanballok

[2022-07-13 13:55] wyb1 commented on #6318
/cc @rickardsjp @istvanballok

[2022-07-13 20:29] plkokanov commented on #4866
Closing this in favour of #6302

[2022-07-13 20:29] #4866 closed, assigned to stoyanr, plkokanov

[2022-07-14 05:09] shafeeqes commented on #5250
Summarizing the meeting on "Migration to PodSecurity" on 12/07/22,
The next steps on this issue would be:

1. - For clusters with k8s `v1.23+`,  Adapt components to use `gardener.privileged` PSP instead of dedicated PSPs.
2. Adapt extensions as well to use `gardener.privileged` PSP For clusters with k8s `v1.23+`
3. Add an option to disable the `kube-apiserver` admission plugins in the ShootSpec.
4

[2022-07-14 13:11] ialidzhikov opened #6330 "After #6271 istio-ingressgateway fails to get ready"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:
After #6271 a Seed in mu local setup cannot is unready with reason:

[code]

[code]

[code]

**What you expected to happen**:
`istio-ingressgateway` to get ready.

**How to reproduce it (as minimally and precisely as possible)**:
See above.

**Anything else we need to know?**:

**Environment**:

- Gardener version: 8

[2022-07-14 13:15] timuthy commented on #6317
/assign
/hold
as we wait for Druid v0.11.1, see https://github.com/gardener/gardener/pull/6292#issuecomment-1183003896

[2022-07-14 14:30] timebertt opened #6331 "Add integration/e2e test for `Plant` or drop it"
**How to categorize this issue?**

/area dev-productivity
/kind technical-debt

**What would you like to be added**:

We should
- either add proper integration or e2e tests for the `Plant` resource and controller
- or drop them

**Why is this needed**:

The `Plant` resource and controller are currently untested in CI. There are testmachinery tests, but they can't prevent bugs and regressions from

[2022-07-14 15:24] #6313 closed, assigned to plkokanov

[2022-07-15 06:40] timebertt commented on #6330
Nice to see the new Progressing condition in action! ref https://github.com/gardener/gardener/issues/5850

This bug is a good example of what we could catch with e2e upgrade tests, ref https://github.com/gardener/gardener/issues/6016

[2022-07-15 07:25] plkokanov commented on #6330
From what I could find here: https://bytemeta.vip/repo/istio/istio/issues/38217 it could be caused by some problems in the new charts.
However, I failed to reproduce it yesterday. I'll give it a go today again with a freshly setup local env by upgrading from gardener that doesn't have the https://github.com/gardener/gardener/pull/6271 to one that does.

[2022-07-15 08:13] rfranzke commented on #6263
Now that we have the `ManagedSeed` e2e tests, we could extend it with this case.

[2022-07-15 08:15] rfranzke commented on #5630
/remove-lifecycle stale

[2022-07-15 08:16] rfranzke commented on #5250
/remove-lifecycle frozen

[2022-07-15 08:17] rfranzke commented on #4957
/remove-lifecycle frozen

[2022-07-15 08:18] plkokanov commented on #5173
Closing this in favour of #6302

[2022-07-15 08:18] #5173 closed, assigned to stoyanr, plkokanov

[2022-07-15 08:18] rfranzke commented on #4924
We don't plant to support this feature and with Kubernetes 1.24 the `LegacyServiceAccountTokenNoAutoGeneration` feature gate is enabled by default.
/close

[2022-07-15 08:19] #4924 closed, assigned to nobody

[2022-07-15 08:19] rfranzke commented on #4888
/remove-lifecycle frozen

[2022-07-15 08:20] rfranzke commented on #4794
@wyb1 @istvanballok @rickardsjp WDYT about this one?

[2022-07-15 08:20] rfranzke commented on #4742
@himanshu-kun The MCM PR is still open - what are the plans?

[2022-07-15 08:20] plkokanov commented on #6330
Tried again with a clean local env setup from commit d829ed0913c02222f3a3ee7cdca2220fccb62ecb (right before the istio upgrade PR), then I shut down everything, upgraded to 8a6dce8e553b76ac6b510508c58eb0f506bb60d6, started the garden apiserver and all controllers and still my local seed managed to get ready :(

I'll try with using a seed on one of our landscapes next.

[2022-07-15 08:21] rfranzke commented on #4741
I think we don't plan to graduate this feature gate, right? If this is correct, can you please adapt the title and the description/open tasks?

[2022-07-15 08:22] rfranzke commented on #4612
/remove-lifecycle frozen

[2022-07-15 08:23] rfranzke commented on #3667
Do you still plan to add the dashboards?

[2022-07-15 08:23] rfranzke commented on #2879
/remove-lifecycle rotten

[2022-07-15 08:24] rfranzke commented on #5658
/remove-lifecycle frozen

[2022-07-15 08:26] rfranzke commented on #3553
There was GEP-19 which discussed how to evolve the monitoring stack, and we couldn't find a sustainable approach to make this an extension. I doubt that it would be different for the logging stack.
Hence, I suggest to close this issue and rather improve the data flow in the code (ref #2754).

[2022-07-15 08:26] rfranzke commented on #4804
Do we still plan to do this? TBH, I don't think it's very important and what we have today seems to be good enough (there is not any pull on this whatsoever). Let's close it?

[2022-07-15 08:27] rfranzke commented on #6330
I'm confused, what is different in the local setup compared to "a seed in the landscapes"?

[2022-07-15 08:46] ialidzhikov commented on #6330
My Seed's K8s version is v1.21.14. I see that in https://github.com/istio/istio/blob/f59ce19ec6b63bbb70a65c43ac423845f1129464/manifests/charts/gateway/templates/deployment.yaml#L49-L73 there are different securityContext settings getting applied for K8s < 1.22 and for K8s >= 1.22.
@plkokanov maybe you can try to repro with K8s 1.21 Seed if you are on a higher K8s version.

[2022-07-15 08:49] plkokanov commented on #6330
Yep, I was exactly planning to test it with 1.21 and 1.22 now

Edit: in our chart the check was not included:
https://github.com/gardener/gardener/pull/6271/files#r919724222

[2022-07-15 08:55] timuthy commented on #4804
I agree @rfranzke. Let's close this issue, the idea itself won't get lost in case we'll meet this or a similar requirement again in the future.
/close

[2022-07-15 08:55] #4804 closed, assigned to nobody

[2022-07-15 09:34] ialidzhikov opened #6337 "gardenlet spams `not found` errors like crazy"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
After rebasing to latest master, on Shoot creation gardenlet spams Secret `not found` errors like crazy:

[code]

The Shoot creation is successfully but the the gardenlet's logs are highly polluted and impossible to read/follow.

**What you expected to happen**:
No such spam in the gardenlet's logs.

**How to reproduce

[2022-07-15 11:40] plkokanov commented on #6330
I couldn't reproduce this with 1.21.14 and 1.22.11, however I got the error with a seed on 1.20.15.
/cc @ScheererJ @DockToFuture

[2022-07-15 12:39] #4605 closed, assigned to nobody

[2022-07-15 15:04] #5658 closed, assigned to andrerun

[2022-07-15 15:12] #2885 closed, assigned to nobody

[2022-07-18 05:59] #6211 closed, assigned to ary1992

[2022-07-18 06:21] himanshu-kun commented on #4742
I am looking into it with @acumino as we want to test the relevance of `endpoint` in RBACs as pointed in [this comment](https://github.com/gardener/machine-controller-manager/pull/711#issuecomment-1132696519). It got delayed due to other ad-hoc tasks.
Will merge it in coming 2 days.

[2022-07-18 06:51] #6330 closed, assigned to nobody

[2022-07-18 07:12] plkokanov commented on #2751
/unassign as I wont have time to continue with this for now.

[2022-07-18 07:24] plkokanov commented on #4798
After taking a look @timebertt's proposal in https://github.com/gardener/gardener/pull/5394#pullrequestreview-876002608 and experimenting a bit here's how I plan to proceed with this:

-  Extensions stop updating the lastUpdateTime in the extension status if no changes to the condition occurred (as previously suggested)
- `gardenlet` reuses the leader election `lease` resources of extension contro

[2022-07-18 10:22] vlerenc commented on #5479
Creation of tens of thousand of clusters is not practical (takes too long, costs too much), so we would have to get creative here. Maybe we could write a "hollow infrastructure extension" (and "hollow machine driver") that would create "hollow clusters", much like [kubemark](https://github.com/kubernetes-sigs/cluster-api-provider-kubemark) does with "hollow nodes" to test huge landscapes with many

[2022-07-18 11:20] ialidzhikov opened #6345 "After #6338 metrics-server no longer works for K8s 1.17 Shoot"
**How to categorize this issue?**

/area quality
/kind bug
/kind regression

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Creata a K8s 1.17 Shoot cluster

2. Make sure that the Shoot cannot get healthy with reason

[code]

[code]

[code]

**Anything else we need to know?**:

**Environment**:

- Gardener version: 04390112

[2022-07-18 11:20] ialidzhikov commented on #6345
cc @oliver-goetz

[2022-07-18 12:55] oliver-goetz commented on #6345
/assign

[2022-07-18 14:28] rfranzke opened #6348 "[controller-manager] Drop `Plant` API and controller"
**How to categorize this issue?**

/area dev-productivity
/kind cleanup

**What would you like to be added**:
Let's drop the `Plant` API and the controller from our codebase.

**Why is this needed**:
`Plant`s were never used and their overall design is flawed (you can not register clusters which are not accessible from the garden cluster where GCM is running).

[2022-07-19 06:50] rfranzke opened #6355 "Prevent end-users from pinning `.spec.seedName` when creating `Shoot`s"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:
After #6018, it's still possible for end-users to specify `.spec.seedName` when they create new `Shoot` resources. We should prevent them from doing this.

**Why is this needed**:
This can easily lead to overload situations where end-users pin a single seed and create lots of clusters. It's

[2022-07-19 07:47] ialidzhikov commented on #6337
@rfranzke do you have any idea about this issue? I think it started after one of the logging adaptation PRs.

[2022-07-19 07:56] rfranzke commented on #6337
I tried reproducing this by creating a `Shoot` in my local setup, but the logs from this `shootsecret` controller look as expected to me:

[code]

Any hints how to reproduce this?

[2022-07-19 10:20] #6045 closed, assigned to oliver-goetz

[2022-07-19 12:22] #6345 closed, assigned to oliver-goetz

[2022-07-20 04:25] shafeeqes commented on #6355
/assign

[2022-07-20 05:40] shafeeqes commented on #6337
I could see this in other controllers in gardenlet as well, in gardener@693ec0ce6, running gardenlet as a process
eg:
[code]

[2022-07-20 08:34] rfranzke commented on #4251
/assign @ary1992 for some of the controller refactorings for `controller-manager`, see above

[2022-07-20 10:43] #6337 closed, assigned to nobody

[2022-07-20 13:01] MrBatschner opened #6365 "Disable automatic updates for OS major/minor releases"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:
Gardeners maintenance controller would currently upgrade the OS of worker nodes of those shoots that have automatic patch management enabled to the latest release as soon as it is classified as `supported` in the CloudProfile.
For new Kubernetes versions, Gardener would honour the major.mino

[2022-07-20 13:30] #4957 closed, assigned to shafeeqes

[2022-07-20 13:31] rfranzke commented on #6331
/close
in favor of #6348

[2022-07-20 13:31] #6331 closed, assigned to nobody

[2022-07-20 15:08] varbanv opened #6367 "Provide information about egress IPs in the shoot cluster"
**How to categorize this issue?**
/area networking
/king enhancement

**What would you like to be added**:
Provide and update the list of egress IPs for the shoot cluster.

**Why is this needed**:
Users often need to limit access to exposed services using source IPs (for example HANA Cloud).
Currently, there is no automated way to get the list of egress IPs for workloads in Gardener in order to up

[2022-07-20 15:24] ialidzhikov commented on #4018
/reopen

[2022-07-21 09:14] voelzmo opened #6370 "cluster-autoscaler missing permissions for configmaps: expander type `priority` not usable"
**How to categorize this issue?**

/area auto-scaling
/kind bug

**What happened**
Users tried to make use of customizing the cluster-autoscaler's expander to `priority` [as described in the documentation](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/expander/priority/readme.md). This requires adding a configmap to assign priorities to the worker pools. This configmap is

[2022-07-21 09:15] voelzmo commented on #6370
/assign

[2022-07-21 10:34] istvanballok commented on #6308
- We use #5745 as an example to refactor Grafana (or even the whole monitoring stack) into a component.

/assign @istvanballok, @wyb1, @rickardsjp

[2022-07-21 11:52] timebertt opened #6375 "Cleanup CloudProfile `docker` migration"
**How to categorize this issue?**

/kind cleanup technical-debt

**What would you like to be added**:

The `CloudProfile` controller has temporary migration coding, that adds `docker` to all `.spec.machineImages[].versions[].cri` configurations (introduced by https://github.com/gardener/gardener/pull/4500):
https://github.com/gardener/gardener/blob/115733caad7e60110fbd379ad85b526fd151825e/pkg/cont

[2022-07-21 11:52] timebertt commented on #6375
cc @voelzmo @BeckerMax

[2022-07-21 12:55] voelzmo commented on #6375
Do we need to tackle this now instead of doing #4673 first, such that we can simply remove that code? Is there a benefit in touching this, knowing that it is going to be removed as soon as we _can_ produce docker-less OS images?

Also: I think while it is true that we cannot produce docker-less images right now, it is a different story if we advertise the option to use `docker` as a container runt

[2022-07-21 16:07] ialidzhikov commented on #6305
@voelzmo @andrerun do you have any comments/objections against such enforcement?

[2022-07-22 06:52] timebertt commented on #6375
Well, I do not see any movement or pull on https://github.com/gardener/gardener/issues/4673. AFAIK nobody is working on it.
However, we should get rid of this technical debt.

[2022-07-22 06:56] timebertt commented on #4798
Instead of retrieving all `ControllerRegistrations` and then listing namespaces that might match, gardenlet should retrieve all `ControllerInstallations` for its seed and map these to the corresponding extension objects via `ControllerRegistrations`.
`ControllerInstallations` have a 1:1 relation to their installation namespace.
However, there is no contract about the lease name currently.
What's y

[2022-07-22 07:42] voelzmo commented on #6305
Let my try to understand what the "enforcement" means. Is this something different than we're already doing for new Shoots, where we [default `VPA.enabled: true`](https://github.com/gardener/gardener/blob/2e3d605831d1628db914d24837d3bd385a246dff/plugin/pkg/shoot/vpa/admission.go#L66-L68)? Are you saying you would change this for existing clusters as well?

[2022-07-22 09:04] timebertt commented on #6305
The idea is to enforce, that you can only register `Shoots` as `ManagedSeeds` if the shoot VPA is enabled but the seed VPA is disabled, as it isn't sensible to do it any other way.
And yes, this should probably be enforced for existing Shoots that are registered as ManagedSeeds already.

[2022-07-22 09:23] #6370 closed, assigned to voelzmo

[2022-07-22 10:56] dimityrmirchev opened #6385 "Label resources created by GRM"
**How to categorize this issue?**

/area robustness dev-productivity
/kind enhancement

**What would you like to be added**:
Resources created by GRM to be labeled so that they can be easily described with `object selectors` used by different webhooks. Right now there is no easy way to select all resources managed by Gardener that are deployed in the shoot cluster since there is no enforcement of

[2022-07-22 15:17] #4726 closed, assigned to nobody

[2022-07-25 12:07] dimitar-kostadinov commented on #4018
/assign

[2022-07-25 13:30] marwinski commented on #6157
Yes, these are the outages shown in the report. Those are rare single failing requests so I would not necessary call this an outage. This said, there are too many failing requests - it is probably ok to see one failing request per week, not several per day.

This said, I remember that this issue alway hit the same clusters so it might be something application related. I do not consider this a netw

[2022-07-26 05:50] acumino opened #6396 "Adopt "tools" concept for extensions"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:
Install required development tools to a local dir – on the fly and as needed. PR https://github.com/gardener/gardener/pull/4879, introduced `tools.mk` to install the required development dependencies on the fly. Extensions should also adopt these changes and should drop `install-requir

[2022-07-26 06:34] timebertt opened #6397 "Use `Eventually`/`Consistently` in all integration tests"
**How to categorize this issue?**

/area testing
/kind technical-debt

**What would you like to be added**:

Replace remaining usages of "wait until" or "retry until" functions in integration tests with gomega's native [async assertions](https://onsi.github.io/gomega/#making-asynchronous-assertions) (`Eventually`, `Consistently`).

Examples:

https://github.com/gardener/gardener/blob/50f92c5dc3516

[2022-07-26 07:46] timuthy commented on #6317
Druid v0.11.1 has been merged into Gardener. I plan to continue with this item in the coming days.

[2022-07-26 08:55] rfranzke commented on #5250
With @ary1992 we looked the description above and were a bit confused about the following points:

1. The step

   is mentioned before the step

   However, it should be connected with each other, right? Only when the end-user confirms that the PSP migration was done from his side (by setting this `disablePSP=true`) then we should disable the `PodSecurityPolicy` admission plugin in the `kube-apise

[2022-07-26 09:20] rfranzke commented on #2754
/assign @wyb1 @istvanballok @rickardsjp
for the `grafana` component refactoring

[2022-07-26 09:37] shafeeqes commented on #5250
Sorry for the confusion, I just meant it as steps, that's why I said "for these clusters after migration."

Good suggestion. Thanks.

How about a `Disabled` field?
[code]

Sure.

Will update the issue comment soon.

[2022-07-26 11:23] rfranzke commented on #5250
Thanks!

Sounds reasonable, I think we already have this for globally enabled extensions as well, so it "fits": https://github.com/gardener/gardener/blob/51c46e2c89ae65bdf6f56c95f271d05faca0b6ed/pkg/apis/core/v1beta1/types_shoot.go#L434-L436

[2022-07-26 12:11] rfranzke commented on #4606
/remove-lifecycle stale

[2022-07-26 12:13] rfranzke commented on #4742
The only item left above is

However, v0.49 is only used for seeds < 1.22, so are we fine here? Is there anything left to be done or can we close this issue?

[2022-07-26 12:20] shafeeqes commented on #4742
`nginx-ingress` is still using `configmapleases`, [ref](https://github.com/tao12345666333/ingress-nginx/blob/62a876a80875d53756b0831f03d518295f76f9f8/internal/ingress/controller/status.go#L104-L115), we have to wait till it uses `leases`.
I will open a corresponding PR soon.

[2022-07-26 12:24] rfranzke commented on #4742
Cool, thanks for the update

[2022-07-26 12:24] wyb1 opened #6402 "GCM forgets about projects in a failed state"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:

The GCM does not reconcile projects that are in a failed state if it initially gets a too many requests error. Perhaps other errors will cause the same issue, but I have only seen it with this error.

[code]
Somehow the GCM forgets about these projects and will only reconcile if it gets restarted.

**What you expect

[2022-07-26 12:30] rfranzke commented on #6402
Can you please provide some steps for reproducing this locally? This makes it easier to look into it.

[2022-07-28 09:10] timebertt commented on #5860
/remove-lifecycle stale

[2022-07-28 09:23] #6286 closed, assigned to acumino

[2022-07-29 11:06] pre commented on #5690
/remove-lifecycle rotten

[2022-07-29 15:11] timuthy opened #6419 "Broken CA-rotation for HA shoots"
**How to categorize this issue?**

/area high-availability
/area security
/kind bug

**What happened**:
When testing the CA rotation feature for HA shoot clusters I observed a race condition where the CA `peer` bundle was not completely rolled out to all etcd pods while Gardenlet already continued to distribute the `server/client` certificate singed by the new CA.

- `etcd-main-2` log:

[code]

-

[2022-07-30 06:04] plkokanov commented on #4798
Initially I assumed that there was only one lease per namespace (since we currently have one controller per namespace). However, I guess this is not necessarily true?
There's also a function that the extension controllers use when generating the leader election name - `cmd.LeaderElectionNameID(<extension-name>)`, at least for the provider extensions. Currently we only perform the health checks for

[2022-07-30 06:05] plkokanov commented on #4722
I plan to finish this next week. Nearly done with the first part.

- [x] Add a new `conditionThreshold` for the `ExtensionsReady` condition that is managed by the [seed_extension_control](https://github.com/gardener/gardener/blob/master/pkg/gardenlet/controller/seed/seed_extension_control.go). The `ExtensionsReady` condition will be set to progressing if any of the `ControllerInstallation`s'  `Ins

[2022-08-01 04:21] #6385 closed, assigned to nobody

[2022-08-01 06:40] BeckerMax commented on #6402
Seems like Wesley is on vacation now. If this happens again we will gather more information/ping you.

[2022-08-01 09:17] acumino opened #6422 "Gardenlet deployment using helm fails"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
While deploying the Gardener v1.52.0 `gardenlet` deployment fails with the following error:
[code]
 But the gardenlet images gets upgraded to the latest version. This removes the priority-class from managed resources and the priority class gets garbage collected.
 So if one deploy the gardenelet again it will succ

[2022-08-01 09:19] acumino commented on #6422
/cc @kris94 @ialidzhikov @timebertt

[2022-08-01 09:53] timebertt commented on #6422
I see there is a mechanism in helm 3 for adopting existing resources if they are correctly labeled: https://github.com/helm/helm/pull/7649

However, leveraging this mechanism in gardenlet will get quite complicated.
Also, it will not help our internal case because we are still not using helm 3 (😞).

So if one deploy the gardenelet again it will succeed without error.

If that's true and it will su

[2022-08-01 09:56] acumino commented on #6422
My suggestion is to use the `gardenlet` priority class for v1.52 and let MR clean the old priority class `garden-system-critical`. Later In in v1.53, we can switch back again to  `garden-system-critical`. Because deploying 3-4 times on canary and live doesn't seem right to me.

[2022-08-01 10:36] acumino commented on #6422
Is this reasonable @timebertt @ialidzhikov?

[2022-08-01 11:29] timebertt commented on #6422
xref https://github.com/gardener/gardener/issues/5634

[2022-08-01 11:30] timebertt commented on #6422
Sounds good to me. This might be the simplest solution we can come up with
This also means we need to partially revert https://github.com/gardener/gardener/pull/6235 for now.

[2022-08-01 12:25] ialidzhikov commented on #5634
In https://github.com/gardener/gardener/issues/5634#issuecomment-1156512839 I don't see the terraformer component. Did we miss it?

[2022-08-01 12:37] ialidzhikov commented on #6422
I couldn't follow all the details but if (partial) revert of the PR that introduces the issue (https://github.com/gardener/gardener/pull/6235) does the trick, then fine from my side. 👍

[2022-08-01 12:41] acumino commented on #6422
#6430 partially reverts #6235.

[2022-08-01 12:48] ialidzhikov commented on #6422
Hm, I am not quite sure that this approach will work. I see that in https://github.com/gardener/gardener/pull/6257 components like istiod and gardener-resource-manager are adapted to use the `garden-system-critical`. With #6430 I don't see who creates this `garden-system-critical` PriorityClass. Or do I overlook something?

[2022-08-01 12:49] acumino commented on #6422
No, I also just checked that #6430 is merged.

[2022-08-01 12:56] ialidzhikov commented on #6422
Will it work if we completely revert #6235? IIUC now https://github.com/gardener/gardener/pull/6430 is partial revert of #6235 (without the changes that deploy `gardener-system-critical` as part of the Seed bootstrap). And to me it seems that the issue is that in #6430 we don't deploy the `gardener-system-critical` PriorityClass.

[2022-08-01 13:26] ialidzhikov commented on #6422
As https://github.com/gardener/gardener/issues/6257 is meanwhile merged (and there are seed components that rely on the `gardener-system-critical` PriorityClass), with @acumino we rather tend to completely revert https://github.com/gardener/gardener/pull/6235. It can be followed up separately later on how to migrate the gardenlet Deployment to the new PriorityClass.

[2022-08-01 13:55] ialidzhikov commented on #6422
I had a call with @kris94 , he is also fine with the revert of https://github.com/gardener/gardener/pull/6235 and then cherry-picking it to v1.52.
Then we can follow a 2 release migration process for switching gardenlet back to the `gardener-system-critical` PriorityClass.

[2022-08-01 14:27] acumino commented on #6422
Since #6257 is merged not only `gradenlet` but everything which is using `gardener-system-critical` priority class needs to be switched to some different priority class as the first step and later in the second step we can clean that temporary priority class and let helm deploy the `gardener-system-critical` priority class.

[2022-08-01 14:28] timuthy commented on #6419
After having another look and several trial runs confirmed the assumption that Etcd-Druid sets `etcd.Status.Ready: true` during a rolling update because it evaluates the following conditions from the underlying `StatefuSet`:

- `statefulSet.Status.ObservedGeneration == statefulSet.Generation`
- `statefulSet.Status.ReadyReplicas == replicas`

However, a `StatefulSet` can already fulfill those condi

[2022-08-02 03:53] shafeeqes commented on #5444
/remove-lifecycle stale

[2022-08-02 05:15] shafeeqes commented on #6355
Let's have a check in the admission plugins, whether the user trying to create the shoot with the `.spec.seedName` set is bound to a RBAC role with update permissions for `shoots/binding` subresource.
This way operators can still create shoots the old way.
Should we have the check in the `ShootValidator` plugin or the `CustomVerbAuthorizer` plugin?

[2022-08-02 07:36] #6422 closed, assigned to nobody

[2022-08-02 09:10] timebertt commented on #5634
Yes, it's not included in the list.
I'm wondering whether we should assign a priority class to terraformer, as we probably don't want to preempt any of the control plane components in favor of a short-lived terraformer pod.
If there is no free capacity on the seed nodes we would wait for a new node to be added by cluster-autoscaler, which should be fine.
WDYT?

[2022-08-02 09:16] timebertt commented on #6355
From my perspective, both options are fine. `ShootValidator` has already some `seedName` related checks, so it might be a good fit.

[2022-08-02 09:18] timebertt commented on #6305
Is there anything left to do for this issue after https://github.com/gardener/gardener/pull/6388?

[2022-08-02 10:07] ialidzhikov commented on #6305
Nope.

/close

[2022-08-02 10:07] #6305 closed, assigned to ialidzhikov

[2022-08-03 07:06] ialidzhikov opened #6441 "`--field-selector` for Shoots does not work as expected"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
While using `--field-selector` we noticed the following discrepancy. On large landscapes `--field-selector spec.cloudProfileName=foo` did not return anything while there were actually results that had to be returned:

[code]

There are also much bigger discrepancies:
[code]

Using the `--chunk-size=0` flag seem to fix t

[2022-08-03 07:38] vpnachev opened #6442 "ERR_INFRA_DEPENDENCIES wrongfully detected gardener internal error"
**How to categorize this issue?**

/area ops-productivity quality usability
/kind bug

**What happened**:
`ERR_INFRA_DEPENDENCIES` wrongfully detect gardener internal error.
In details, a shoot reconciliation failed with
[code]

`ERR_INFRA_DEPENDENCIES` is classified as a user non-retryable error but I don's see how a shoot owner can deal with this error.

**What you expected to happen**:
This int

[2022-08-03 10:20] #6419 closed, assigned to timuthy

[2022-08-03 12:20] #6441 closed, assigned to nobody

[2022-08-03 15:52] dguendisch commented on #6442
Happened again with several clusters that sporadically faced an InternalServerError from openstack and immediately went into Failed state, hence required manual reconcilation.

<details><summary>Details</summary><p>

[code]

</p></details>

[2022-08-04 06:04] timebertt commented on #5978
ref https://github.com/gardener/hvpa-controller/issues/92

[2022-08-04 08:17] timebertt commented on #6442
ref #5444

[2022-08-04 15:04] clebs commented on #5978
Hi @timebertt,
thanks for the feedback. If I understand correctly, the issue is the ambiguous import. I also faced this and the problem was not solvable for some time in the past because the nested module support was not fully added until later.

Right now we are able to solve the problem by running `go mod tidy --compat=1.17`. Not sure if you tried this solution recently.

[2022-08-05 08:49] vpnachev opened #6453 "ERR_INFRA_UNAUTHENTICATED wrongfully detected transient Azure API error"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:
A shoot reconciliation failed with
[code]

And this error is classified as `ERR_INFRA_UNAUTHENTICATED` just because of the presence of `invalid character` in the error message.

**What you expected to happen**:
Such errors to not be classified as `ERR_INFRA_UNAUTHENTICATED`.

**How to reproduce it (as minimally

[2022-08-08 08:13] ary1992 commented on #2751
/assign

[2022-08-08 12:12] nschad opened #6463 "gardenlet doesn't reconcile `DNSRecords` when changing their spec"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
We recently migrated from `dnsentries` to `dnsrecords`. Upon the migration, we noticed that after gardener cleared all `dnsentries` and migrated them to `dnsrecords` it got stuck with the following error message:

We then removed all previously migrated `dnsrecords` and let Gardener re-create the `dnsrecord`. Afte

[2022-08-08 13:02] ialidzhikov opened #6464 "PriorityClasses for control plane monitoring and logging components are wrong"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
After https://github.com/gardener/gardener/pull/6257:
[code]

`prometheus`, `loki`, `grafana-operators`, `grafana-users` wrongly use `gardener-system-600`.
According to https://github.com/gardener/gardener/blob/master/docs/development/priority-classes.md `gardener-system-600` is a Seed system PriorityClass and sho

[2022-08-09 05:25] timebertt commented on #6463
`observed generation outdated` indicates that the `DNSRecord` controller (part of provider-gcp) was not acting on the objects. I.e., from a first look, it sounds more like an extension issue rather than gardener itself.

In order to understand your occurrence better, we need some more information:
- Was the provider-gcp extension already installed before the migration?
- What version of provider-g

[2022-08-09 06:38] nschad commented on #6463
Yep that was Step 1.

1.23.1

I do not actually as this was only a dev cluster. However we looked at the provider and nothing seemed off. It seems like it was "done". After all all the `dnsentries` were migrated successfully. I'm gonna test it again today and update this comment with the logs.

[2022-08-09 08:31] #6464 closed, assigned to ialidzhikov

[2022-08-09 11:23] ialidzhikov commented on #5634
My concern was that the terraformer Pod can be evicted in favor of other control plane components. We know that in the past we had issue with terraform state lost - my feeling is that the terraform and its providers are not rock solid and just wanted to prevent any potential state lost issue that can arise around terraformer Pod being evicted and terraform (or its providers) not being able to prop

[2022-08-09 11:27] nschad commented on #6463
I've updated the steps as described in

For us this behaviour is 100% reproducible. Even though gardenlet complains like crazy with the error message posted above. The GCP extension doesn't seem to do an aweful lot.

[2022-08-09 12:57] timebertt commented on #6463
After a joint look with @nschad, we figured out the root cause for this.

### Background

Since https://github.com/gardener/gardener/pull/5531, the `DNSRecord` is only annotated with `gardener.cloud/operation=reconcile` if the `shoot.gardener.cloud/tasks` annotation contains `deployDNSRecord*`. This in turn is only done during maintenance in order to limit the number of API calls made to the DNS p

[2022-08-09 13:06] #4612 closed, assigned to nobody

[2022-08-09 13:07] ialidzhikov opened #6469 "Switch back to the upstream node-problem-detector image"
**How to categorize this issue?**

/area open-source
/kind enhancement

**What would you like to be added**:
With https://github.com/gardener/gardener/pull/6415 we switched to a custom build of node-problem-detector image that is multi-arch. With the [node-problem-detector@v0.8.11](https://github.com/kubernetes/node-problem-detector/releases/tag/v0.8.11) release the upstream images should be multi

[2022-08-10 05:35] acumino commented on #6348
/assign

[2022-08-10 06:08] timebertt commented on #5634
Got your concern. Which priority class do you suggest?

[2022-08-10 06:29] timebertt commented on #6396
@acumino Why is that?
The controller-tools version is controlled via the project's `go.mod`. I expect that you can set the required version there.

[2022-08-10 06:42] acumino commented on #6396
It uses `crd:trivialVersions=true` flag which is not there in new controller-gen tool. https://github.com/gardener/kupid/blob/db5a7ddd0e4133df1ecbf22dda24aa7188422f74/Makefile#L12

[2022-08-10 09:00] shafeeqes opened #6471 "Project `ClusterRole`s are not created on `make dev-setup`"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
When a new `serviceaccount` is added to the project, `gardener-controller-manager` adds this serviceaccount to the corresponding rolebinding according to the project role mentioned. For eg, these are the rolebindings present.
[code]
But the ClusterRoles they are referring to are not created.
Hence, adding a `servi

[2022-08-10 11:08] timebertt commented on #6396
And what about installing the old version of the tool, that still has the flag, i.e. v0.6.2 (ref https://github.com/gardener/kupid/blob/db5a7ddd0e4133df1ecbf22dda24aa7188422f74/Makefile#L13)?

[2022-08-10 11:13] acumino commented on #6396
We use this rule in tools.mk https://github.com/gardener/gardener/blob/baf544c9a7e6126ee89785bbe059ef1d40e88566/hack/tools.mk#L94-L95
that means it will install the latest version of controller-gen tools. So we can't install the older version if we use tools.mk rule.

[2022-08-10 14:44] timebertt commented on #6396
The rule will install the version specified in `go.mod` 🤔

[2022-08-10 15:18] acumino commented on #6396
Yes, but in `go.mod` kupid specifies controller-tools version v0.8.0 but in the `make file` it uses v0.6.2. I am not sure if it is done intentionally. And do we really want `crd:trivialVersions=true` this flag.

[2022-08-11 01:09] DanielYWoo commented on #5958
hopefully not auto-closed

[2022-08-11 06:26] acumino commented on #6375
/assign

[2022-08-11 11:39] #6355 closed, assigned to shafeeqes

[2022-08-11 11:39] #6348 closed, assigned to acumino

[2022-08-12 10:57] timebertt commented on #6463
/assign @nschad

[2022-08-12 13:21] BeckerMax opened #6483 "During rolling node update shoot cluster reports outdated cloud-config error"
**How to categorize this issue?**

A healthy Shoot Cluster which is in the state of being rolled for example due to a K8s minor version update will show a misleading `outdated cloud-config` error.

We observed this during a K8s minor version upgrade. Clusters with large node pools can take multiple hours to complete their node rolling (`maxSurge 1`). During the process of node rolling the cluster

[2022-08-15 06:16] timebertt opened #6486 "[Flaky Test] Bastion Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

- `Bastion Controller Integration Test Suite.[It] Bastion controller tests shoot exists, is not in deletion and on the same seed bastion is not yet expired should not delete Bastion`
- `Bastion Controller Integration Test Suite.[It] Bastion controller tests shoot exists, is not in deletion and on

[2022-08-15 06:33] timebertt opened #6487 "[Flaky Test] E2E Test Suite ManagedSeed Tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`E2E Test Suite.[It] ManagedSeed Tests Create Shoot, Create ManagedSeed, Delete ManagedSeed, Delete Shoot [ManagedSeed, default]`

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1557814589771485184
https://prow.gardener.cloud/view/gs/gardener-prow/logs/c

[2022-08-15 06:39] timebertt commented on #6487
/assign

[2022-08-15 09:32] timebertt commented on #6486
/assign

[2022-08-15 09:52] timebertt commented on #6486
In all test failures, I found the following symptoms:
The test creates shoot and bastion in quick succession and the bastion controller observes the bastion before it gets to know about the shoot, hence it deletes it immediately.

For example:
[code]

That's why the test cases that check that the bastion is not getting deleted immediately fail.

[2022-08-15 09:54] timebertt commented on #6486
We have the following two options:
- a) fix the test: make sure the shoot informer has observed the shoot creation before creating the bastion
- b) enhance the controller: make sure to not delete bastions that are created (almost) simultaneously with referenced shoots

[2022-08-15 10:04] timebertt commented on #6486
However, it's super hard to reproduce this flake without support for using an existing gardener setup:
[code]

I might need to look into https://github.com/gardener/gardener/issues/6016 first:

[2022-08-15 15:12] ialidzhikov commented on #4747
/reopen

as the success rate of the `shoot-beta-test-suite` is still awful:

![Screenshot 2022-08-16 at 10 42 08](https://user-images.githubusercontent.com/9372594/184825062-ef551a41-aae5-4203-ad78-30741a21761c.png)

The most prominent failure reason still seems to be coming from the loki tenant test:

[code]

---

The success rate of the `shoot-beta-serial-test-suite` is awful as well:

![Screens

[2022-08-15 15:12] ialidzhikov commented on #4747
/remove-lifecycle rotten

[2022-08-16 03:29] shafeeqes commented on #4932
For future reference:
Currenly we don't have webhooks for DNS specific validation in the extensions. But when we introduce it in the future, we should have a seperate webhook. Because if we use the objectSelector for the DNS labels in the resources, since the requirements from `matchLabels` are added ([ref](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-su

[2022-08-16 06:40] acumino opened #6496 "[Flaky Test] ExposureClass Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
- ExposureClass Controller Integration Test Suite.[It] should add the finalizer and not release it on deletion since there is still referencing shoot

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6480/pull-gardener-integration/1559427070918922240

[2022-08-16 06:40] acumino commented on #6496
/assign @ary1992
Can you please follow-up on this issue?

[2022-08-16 06:47] timebertt commented on #6496
The test failures are similar to https://github.com/gardener/gardener/issues/6486#issuecomment-1214835354.
I will take a look.
/unassign @ary1992
/assign

[2022-08-16 07:58] timebertt commented on #6486
Concerning b):
It's highly unlikely that bastions are created (almost) simultaneously with shoots in reality.
Also, shoot deletion is denied until all bastions are gone, hence the code flow that cleans up bastions for deleted shoots in the flaky tests should generally not be executed in reality as well.

Considering these points, I decided to go with a) and not adapt the controller to handle the a

[2022-08-16 08:12] timebertt commented on #5634
/unassign @kris94
as he is unavailable for the remaining items
/assign @acumino

[2022-08-16 08:15] timebertt commented on #5634
We decided to go with `gardener-system-300` for `terraformer`.
/assign
for this item.

[2022-08-16 08:29] #6375 closed, assigned to acumino

[2022-08-16 08:31] timebertt commented on #6483
/area ops-productivity
/kind bug

[2022-08-16 14:10] dimityrmirchev opened #6501 "Ability to configure cluster-wide default seccomp profile RuntimeDefault for shoots"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
In Kubernetes 1.25 the `kubelet`'s `SeccompDefault` feature gate will graduate to Beta. Allow enabling this feature cluster-wide through the shoot spec. This feature should not be exposed for shoots with k8s version < 1.25. We can probably also consider enabling this feature by default for new

[2022-08-17 03:48] shafeeqes commented on #4932
Add objectSelector in `admission-cilium` : https://github.com/gardener/gardener-extension-networking-cilium/pull/115

[2022-08-17 07:00] #6486 closed, assigned to timebertt

[2022-08-17 07:47] Kristian-ZH commented on #4747
We are on it together with @vlvasilev

[2022-08-17 09:01] timebertt commented on #6471
/assign

[2022-08-17 09:49] timebertt commented on #5634
Done with https://github.com/gardener/gardener/pull/6515
/unassign

[2022-08-17 10:26] #6463 closed, assigned to nschad

[2022-08-17 11:09] timebertt opened #6516 "`make format` yields formatted files when `go1.19` is installed"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:

On `master`, I can observe the following:
[code]

Accordingly, this breaks `make check` for me.

When using `go1.18`, no files are formatted:

[code]

**What you expected to happen**:

`make format` and friends to work in a backward-compatible manner even if I upgrade my toolchain to `go1.19`.

- Gardener vers

[2022-08-17 11:10] timebertt commented on #6516
To fix this issue, I propose to upgrade to go1.19 in this repository.
/assign
I have a WIP in my fork, will complete it tomorrow

[2022-08-17 11:41] ialidzhikov opened #6517 "Switch back to the upstream ingress-default-backend image"
**How to categorize this issue?**

/area open-source
/kind enhancement

**What would you like to be added**:
We switched back from `k8s.gcr.io/defaultbackend` to the https://github.com/gardener/ingress-default-backend because the upstream image is not multi-arch - ref https://github.com/kubernetes/ingress-gce/issues/1719.
We should switch back to the upstream image once it is multi-arch.

**Why is

[2022-08-17 11:50] acumino commented on #6517
/assign

[2022-08-17 12:46] #6471 closed, assigned to timebertt

[2022-08-18 06:20] timebertt commented on #5977
2 months later after https://github.com/gardener/gardener/pull/5741/ has been merged, the issue is still open and the code is not refactored...
Seems like @timuthy was right after all:

[2022-08-18 06:31] unmarshall commented on #5977
Well i waited for response for https://github.com/gardener/gardener/issues/5977#issuecomment-1129795851
and then finally gave up. I see a lot of code with extremely long functions which do more than one thing all over the code base. Therefore i asked for views from core contributors to gardener core if they think it is ok to have this or it should be changed. I assumed that this is not a serious c

[2022-08-18 06:50] #5977 closed, assigned to nobody

[2022-08-18 10:40] istvanballok commented on #2800
/reopen

Looking into this issue I found that actually the network related metrics are exposed by the cadvisor.
The reason why we drop them is this rule:
https://github.com/gardener/gardener/blob/21ac4306b7b4a80fedfe2349616e87cde50fa2e1/charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml#L168-L170
If the container label is empty, the series is dropped. This heuristic was pro

[2022-08-18 15:31] MartinWeindel opened #6528 "Shoots are not labelled for globally enabled extensions"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
Shoots are labelled for their extensions.
For example, if you add the extension of type `shoot-dns-service`, the shoot gets the label `extensions.extensions.gardener.cloud/shoot-dns-service: "true"`.
They same should be true for globally enabled extensions, but it does not.
As this label may be used to filter webh

[2022-08-18 15:31] MartinWeindel commented on #6528
/cc @shafeeqes

[2022-08-18 18:52] shreyas-s-rao opened #6529 "☂️ [GEP-20] Highly Available Seed and Shoot Clusters"
**How to categorize this issue?**

/area high-availability
/kind enhancement

**What would you like to be added**:

This is an umbrella issue to track the implementation of [GEP-20 Highly Available Shoot Control Planes](https://github.com/gardener/gardener/blob/master/docs/proposals/20-ha-control-planes.md).

## Tasks

- [x] https://github.com/gardener/gardener/pull/6530
- Add validations for upda

[2022-08-18 19:04] shreyas-s-rao commented on #6529
/assign
/assign @timuthy

[2022-08-19 06:11] timebertt commented on #6528
/assign

[2022-08-19 06:16] aaronfern opened #6532 "Change validation of `alpha.control-plane.shoot.gardener.cloud/high-availability` annotation"
**How to categorize this issue?**

/area backup
/area high-availability
/kind enhancement

**What would you like to be added**:
Gardener has an annotation `alpha.control-plane.shoot.gardener.cloud/high-availability` intended to indicate whether the shoot uses a single member etcd or a 3 member etcd cluster
As of now, this annotation is [immutable](https://github.com/shreyas-s-rao/gardener/blob/9a3

[2022-08-19 07:17] timebertt commented on #6528
@MartinWeindel Thanks for reporting, nice issue description :)

[2022-08-19 08:05] #6528 closed, assigned to timebertt

[2022-08-19 08:49] timebertt opened #6539 "`check-docforge` is failing in `ci-gardener-unit`"
**How to categorize this issue?**

/area documentation
/kind bug

**What happened**:

`check-docforge` is always failing in `ci-gardener-unit`, e.g. https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-unit/1560512284504100864#1:build-log.txt%3A812-832:

[code]

However, `check-docforge` doesn't set an error exit code indicating a failure, hence the job passes and no one actually not

[2022-08-19 08:49] timebertt commented on #6539
@Kristian-ZH @Kostov6 can you take a look at this please?

[2022-08-19 08:59] timebertt commented on #6487
There seem to be more flakes with a different kind of error than the one addressed by https://github.com/gardener/gardener/pull/6488:

- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6523/pull-gardener-e2e-kind/1559910191724498944
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6515/pull-gardener-e2e-kind/1559838461253390336
- h

[2022-08-19 11:52] #6516 closed, assigned to timebertt

[2022-08-19 12:06] timebertt commented on #6487
Unfortunately, it's hard to debug this flake without logs, events, etc. from the shoot itself.
We might want to look into the respective items from https://github.com/gardener/gardener/issues/6016 soon.

Luckily, I was able to observe the failure from https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6522/pull-gardener-e2e-kind/1560573365364723712 in the prow cluster

[2022-08-19 12:52] acumino opened #6548 "Failing to create seed in local setup"
**How to categorize this issue?**

/area testing
/kind bug

**What happened**:
When creating a seed in a local setup, the seed cannot be ready because of `kube-state-metrics`. `kube-state-metrics` goes into `CrashLoopBackOff` without any error in logs.

**What you expected to happen**:
Should be able to create seed in a local setup.

**How to reproduce it (as minimally and precisely as possible)**

[2022-08-21 08:38] #5644 closed, assigned to nobody

[2022-08-22 06:01] timebertt commented on #4106
/remove-lifecycle stale
/lifecycle frozen

[2022-08-22 06:18] timebertt commented on #2800
/remove-lifecycle rotten

[2022-08-22 07:40] rfranzke commented on #6548
Is this reproducible in every case? Can you share some logs of the `kube-state-metrics`?

[2022-08-22 07:41] rfranzke commented on #6539
/assign @Kristian-ZH @Kostov6

[2022-08-22 07:44] acumino commented on #6548
Yes.
Logs of `kube-system-metrics` -
[code]

[2022-08-22 07:48] rfranzke commented on #6402
Any updates? :-)

[2022-08-22 07:55] Kostov6 commented on #6539
can you tell me the version of git used?

[2022-08-22 07:59] timebertt commented on #6539
Here is the job manifest including the used image:
https://github.com/gardener/ci-infra/blob/master/config/jobs/gardener/gardener-unit-tests.yaml#L54

[2022-08-22 08:09] rfranzke commented on #6396
All items in the list are completed.
/close

[2022-08-22 08:09] #6396 closed, assigned to acumino

[2022-08-22 08:24] rfranzke commented on #6402
@ialidzhikov suggested to introduce a mock error at the respective step and try to reproduce it this way. I will try doing so and see what I can find out.

[2022-08-22 08:28] rfranzke commented on #6365
@danielfoehrKn @vlerenc Do you have an opinion about this one? IIRC you were mostly involved in the discussions back then when the whole auto-update/classification features were developed.

[2022-08-22 09:07] Kostov6 commented on #6539
From my understanding the error is that origin/master does not exist. After local testing my biggest suspicion is that there is no origin remote but I'm not sure how to validate this. Can someone give me direction how to check if origin is added to the remotes?

[2022-08-22 09:16] rfranzke commented on #6453
Thanks for reporting!
We talked about this one this morning, and we feel that we should rather close and not fix it right now. This doesn't seem something that was newly introduced and rather looks like a transient error. Instead, we rather wanted to spend the time on the proper solution (#5444) once the PSP migration story (#5250) is finished, cc @shafeeqes.
Kindly `/reopen` if you object and thi

[2022-08-22 09:16] rfranzke commented on #6442
Thanks for reporting!
We talked about this one this morning, and we feel that we should rather close and not fix it right now. This doesn't seem something that was newly introduced and rather looks like a transient error. Instead, we rather wanted to spend the time on the proper solution (#5444) once the PSP migration story (#5250) is finished, cc @shafeeqes.
Kindly `/reopen` if you object and thi

[2022-08-22 09:16] #6453 closed, assigned to nobody

[2022-08-22 09:16] #6442 closed, assigned to nobody

[2022-08-22 09:44] Kristian-ZH commented on #6539
Is there a way to attach to a running/past job the way we could on Concourse via `fly hijack'?

[2022-08-22 09:48] ashwani2k commented on #6529
This needs some modifications along with a change required for Seed.
Change needs to be part of GEP -> GEP enhancement PR | Implementation--> Review

We reprioritised in discussion with @timuthy

[2022-08-22 10:27] timebertt commented on #6539
You can try out `mkpj.sh` and `pj-on-kind.sh` from https://github.com/gardener/ci-infra/tree/master/config.
It basically gives you the `Pod` spec as it would run on the prow cluster and then you can investigate in on a local kind cluster.

[2022-08-22 10:57] rfranzke commented on #6483
/assign

[2022-08-22 11:01] unmarshall commented on #6548
I tried scaling down `kube-system-metrics` - this at least helped to start the seed. It went into `Ready` state. However the shoot creation continues to fail.
Logs from GRM:
[code]
State of pods in the shoot control namespace:
[code]

[2022-08-22 11:05] rfranzke commented on #6548
Given that this does not happen with `provider-local`, I expect that it's a problem in the respective seed that is used for the local setup.
@ScheererJ might this be related to the recent networking/DNS changes in the respective landscape?

[2022-08-22 11:39] vlerenc commented on #6365
@rfranzke Sure, I love what @MrBatschner is writing:

Absolutely. It was always suboptimal that we didn't have OS semver versioning and if we now have, then we should handle it similarly.

There are a few (?) subtleties, though:
- Are the test suites set up in this way, to validate all patch updates for their respective major/minor versions resp. dealing with multiple major/minor versions in the f

[2022-08-22 12:23] ScheererJ commented on #6548
Apparently, the network policies are not correct for usage of node local dns on the seed, yet. I will investigate and fix this.
For now, please deactivate node local dns on your seed cluster in case you face this issue.

[2022-08-22 12:25] rfranzke commented on #6548
Thanks. I think we should close this issue since it's likely not related to a problem in `gardener/gardener`.
Feel free to `/reopen` if you think different.

/close

[2022-08-22 12:25] #6548 closed, assigned to nobody

[2022-08-22 13:11] ashwani2k commented on #6548
It works @ScheererJ after incorporating your suggestion to disable `nodeLocalDNS`.   Thanks a ton!

[2022-08-22 14:48] timebertt commented on #6496
/reopen
This was not fixed with https://github.com/gardener/gardener/pull/6527/commits/cb5a46f1acb58aabab36aafe86051ea804fa7df8

This is obviously not enough:
https://github.com/gardener/gardener/blob/c44dddf1439a0cbde65c7e9a8b54708b55656129/test/integration/controllermanager/exposureclass/exposureclass_test.go#L106-L113
The `ExposureClass` might be cleaned up until the shoot is created.
(Or garde

[2022-08-23 02:25] shafeeqes commented on #4742
The PR for using leases is also merged. Now we have to wait for the release of `ingress-nginx`.

[2022-08-23 03:36] shafeeqes opened #6559 "Validate Kubernetes Admission Plugins in the Shoot spec"
**How to categorize this issue?**

/area usability
/area ops-productivity
/kind enhancement

**What would you like to be added**:
Add validation for the user specified admission plugins in the Shoot spec. Shoot creation or update is denied if the spec contains an invalid plugin config.

**Why is this needed**:
Certain admission plugins are only compatible with certain Kubernetes versions.
eg: `Pod

[2022-08-23 06:49] #6496 closed, assigned to timebertt

[2022-08-23 08:01] #6317 closed, assigned to timuthy

[2022-08-23 08:46] timebertt opened #6561 "Drop gardenlet dependency towards `openvpn` binary"
**How to categorize this issue?**

/area security
/kind cleanup

**What would you like to be added**:

Today, gardenlet depends on the `openvpn` binary:
https://github.com/gardener/gardener/blob/2952f9b2cac26a74d1a88374c8eb8002231cf1d7/cmd/gardenlet/main.go#L31-L33

It is needed for generating OpenVPN TLS keys:
https://github.com/gardener/gardener/blob/2952f9b2cac26a74d1a88374c8eb8002231cf1d7/pkg/

[2022-08-23 08:58] timebertt commented on #6561
BTW, the functionality of `openvpn` we depend on is deprecated:
[code]

[2022-08-23 09:38] rfranzke commented on #6263
/assign

[2022-08-23 09:48] timuthy opened #6562 "Problematic webhook reported for provider local"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
When creating a shoot with `provider-local`, e.g. `example/provider-loca/shoot.yaml`, the following constraints are reported:

[code]

This unfortunately forbids to hibernate the cluster which is extremely useful when testing locally 😄

**What you expected to happen**:
The webhook to be skipped (?!) from the ch

[2022-08-23 09:50] rfranzke commented on #6562
/assign

[2022-08-23 09:55] timebertt commented on #6562
My guess would be, this is a race condition but the e2e test is fast enough to hibernate the shoot after creation so that we haven't noticed this one yet. 😄

[2022-08-23 11:43] istvanballok commented on #4800
/reopen

[2022-08-23 12:00] istvanballok commented on #4800
/remove-lifecycle rotten

[2022-08-23 13:15] acumino commented on #6397
/assign

[2022-08-23 13:30] #5854 closed, assigned to nobody

[2022-08-23 14:10] istvanballok commented on #4738
/reopen
/remove-lifecycle rotten

[2022-08-23 14:50] ialidzhikov opened #6565 "[Flaky Test] `CP Migration Test Suite` is flaky"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`CP Migration Test Suite - /src/test/testmachinery/system/shoot_cp_migration`

**CI link**:
Not applicable (internal test-machinery).

**Reason for failure**:

I noticed 2 flakes in the last days (the one is on gcp, the other one is on alicloud):
[code]

[code]

More flakes:
[code]

**Anything els

[2022-08-23 14:50] ialidzhikov commented on #6565
cc @plkokanov

[2022-08-23 14:57] ialidzhikov commented on #4747
For `shoot-beta-serial-test-suite` there are some improvements after #6546:

![Screenshot 2022-08-23 at 17 55 29](https://user-images.githubusercontent.com/9372594/186191356-55bfb933-1d7b-4f4a-a368-985ac117337a.png)

But I still see that the test always fails on alicloud and openstack. Can you check further? Thanks in advance!

[2022-08-23 23:35] oliver-goetz opened #6566 "Problematic webhook remediator can conflict with 3rd party webhook reconciliation apps"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:
The problematic webhook remediato introduced with https://github.com/gardener/gardener/pull/6090 could have interdependencies with 3rd party applications reconciling webhooks resulting in a problematic outcome.
Assuming there is a third party application, which reconciles webhooks into an "undesired state" over

[2022-08-24 06:14] rfranzke opened #6567 "☂️-Issue for "Support for Kubernetes v1.25”"
/area open-source
/kind enhancement
/priority 3
/topology garden seed shoot

Kubernetes v1.25 has been released, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.25.md

Work can be started and pushed to the [`kubernetes-v1.25`](https://github.com/gardener/gardener/tree/kubernetes-v1.25) branch. There should be similar branches in the provider exte

[2022-08-24 06:20] shafeeqes commented on #6567
/assign

[2022-08-24 06:21] shafeeqes commented on #5444
/unassign for now
I will take a look after https://github.com/gardener/gardener/issues/5250 and https://github.com/gardener/gardener/issues/6567.
Please feel free to take over if anyone likes to work on it in the meanwhile.

[2022-08-24 06:32] rfranzke commented on #6566
Well, exactly this situation was the reason why we had not implemented the auto-remediation earlier. I have mixed feelings about putting more complexity into it right now to cover such cases (unless they occur at high rate; though I would expect this to rather be an exception since not many webhooks are automatically reconciled by controllers).

Yes, we could probably store information about how o

[2022-08-24 07:29] oliver-goetz commented on #6566
That's what I have in my mind too.

After reading [this paragraph](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#avoiding-operating-on-the-kube-system-namespace) a potential solution could be adding a custom label like `my.webhook.com/disable: true` to `kube-system` namespace and create a corresponding matcher for it.
This would prevent the webhook from

[2022-08-24 07:57] vlvasilev commented on #4747
For `alicloud` the reason that is not enough resources for Loki statefulset.
[code]

[2022-08-24 08:17] ialidzhikov commented on #6567
With 1.25 the folks (@dkistner and @kon-angelo) wanted to try out the upstream CCM - ref https://github.com/gardener/gardener-extension-provider-aws/issues/577.

[2022-08-24 08:20] rfranzke commented on #6567
@dkistner @kon-angelo Can this switch to the OOT CCM also be done later (after 1.25 is already supported) so that we get rid this dependency on the tasks?

[2022-08-24 09:47] ialidzhikov opened #6569 "During a rolling update no new Nodes from the to be rolled worker can join the cluster"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
It seems that during a rolling update no new Nodes from the to be rolled worker can join the cluster.

**What you expected to happen**:
Such Nodes to be able to join the cluster. Nodes from the to be rolled worker can get unhealthy and can be replaced. But the new replacement Nodes cannot not join the cluster.
For

[2022-08-24 12:59] kon-angelo commented on #6567
The argument in the past was to not perform the upgrade in the middle of kubernetes releases so that we don't have any weird or unexpected behaviour due to the transition.

In general OOT should be a superset of the behavior of the in-tree CCM. In practice if we go though with upgrade in-tree now, we would need to verify one extra transition (in-tree 1.25 -> oot 1.25) in addition to the others, bu

[2022-08-24 13:33] rfranzke commented on #6567
OK, cc @shafeeqes. Let's see how it goes then and talk about this once we have finished the other items from above list.

[2022-08-24 16:01] rfranzke commented on #6402
I spent some time with it and added the following patch introducing a mock error:

[code]

The `gardener-controller-manager` produced the following output:

[code]

We can observe the expected behavior with exponentially backing off the reconciliation up to the maximum time of `16m`.
Apart from this, I cannot see any obvious problem with the implementation or any concept misuse which could cause t

[2022-08-24 16:04] ialidzhikov commented on #4747
/reopen
wrongly closed by https://github.com/gardener/gardener/pull/6571

[2022-08-25 03:52] jackygui commented on #4834
@kon-angelo, any plan to release this enhancement? As we have discussed months before that support the multi-AZ for NAT gateway in Azure HC infrastructure.

[2022-08-25 14:44] #6483 closed, assigned to rfranzke

[2022-08-25 15:42] #6539 closed, assigned to Kostov6, Kristian-ZH

[2022-08-25 16:31] #6397 closed, assigned to acumino

[2022-08-25 16:43] #5678 closed, assigned to nobody

[2022-08-26 08:18] timebertt opened #6582 "provider-local: `nodePort` conflict during seed bootstrapping"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:

Currently, provider-local updates a few `LoadBalancer` services to use predefined `nodePort`s that are mapped to some ports on the host machine. E.g., for `istio-ingressgateway`:
https://github.com/gardener/gardener/blob/5f62609530c035caa4115f80ae16d0e52f7b0d14/example/gardener-local/kind/cluster-skaffold.yaml

[2022-08-26 08:20] timebertt commented on #6582
/kind flake
for visibility

[2022-08-26 15:44] tobiscr opened #6588 "VPN seed error breaks communication to API server"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:

We are facing in our pipelines frequently happening issues which seem to be related to the vpn-seed server communication:

[code]

When the error message is reported, the communication to the API server become unreliable and stops working either immediately or with a delay between 30 sec - 1 min.

Example for an imm

[2022-08-26 15:48] rfranzke commented on #6588
cc @ScheererJ @DockToFuture

[2022-08-26 16:06] dee0sap commented on #6588
My team has experienced this as well recently however it was outside of Kyma.

It happened

- A few times In this pipeline https://sacservices.jaas-gcp.cloud.sap.corp/blue/organizations/jenkins/dmi-multicloud-service-provisioner/detail/PR-122/13/pipeline/2111/.    We added some retry logic to get around it.
- When invoking kubectl logs

A teammate noticed the following sequence of messages in the

[2022-08-27 08:43] #5694 closed, assigned to plkokanov

[2022-08-27 13:43] #4120 closed, assigned to nobody

[2022-08-29 07:58] #6562 closed, assigned to rfranzke

[2022-08-29 08:23] plkokanov commented on #6559
/assign @plkokanov

[2022-08-29 08:24] plkokanov commented on #2965
/assign @plkokanov

[2022-08-29 08:28] plkokanov commented on #6565
/assign @plkokanov

[2022-08-29 08:42] plkokanov commented on #6487
@timebertt should we close this now, since it was moved to `Completed GQF Tasks` or what is the status?

[2022-08-29 08:48] timebertt commented on #6487
I wanted to observe the test for another week. I haven't seen any more instances of this flake, so we can close this.
/close

[2022-08-29 08:48] #6487 closed, assigned to timebertt

[2022-08-29 10:04] vpnachev opened #6592 "The maintenance controller in GCM to keep track of the last maintenance operation in the shoot status"
**How to categorize this issue?**

/area ops-productivity robustness usability
/kind enhancement

**What would you like to be added**:
The maintenance controller in GCM to keep track of the last maintenance operation in the shoot status - it could be either a condition or a new field similar to `lastOperation`.

**Why is this needed**:
1. To have the timestamp of the last maintenance operation.
2.

[2022-08-29 11:13] #6127 closed, assigned to nobody

[2022-08-29 11:13] #6263 closed, assigned to rfranzke

[2022-08-29 12:25] ScheererJ commented on #6588
I may state the obvious, but the current vpn solution used by Gardener is not highly available as of today. There is exactly one connection between the endpoint in the control plane and the cluster. Both sides can break, e.g. due to autoscaling or a node going down. When this happens the connection will be re-established, but this may take long enough that some requests will fail.
High availabilit

[2022-08-29 15:06] dee0sap commented on #6588
@ScheererJ
Thanks for that info.
At least in the case of my team, we have only seen this recently and only with transient clusters.   e.g.  Clusters created by a CD pipeline for integration testing.
The latter detail makes it difficult to provide access as generally the cluster is gone.

The pipeline does dump the manifests of all k8s objects and it gathers nearly all logs from the cluster before

[2022-08-29 15:34] ialidzhikov commented on #4741
Done.

[2022-08-29 15:41] #4738 closed, assigned to nobody

[2022-08-30 05:28] timebertt opened #6600 "[Flaky Test] Seed ExtensionsCheck Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`Seed ExtensionsCheck Controller Integration Test Suite`

**CI link**:

- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1564378900773998592
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6593/pull-gardener-integration/1564228915

[2022-08-30 05:28] timebertt commented on #6600
cc @plkokanov

[2022-08-30 06:07] ialidzhikov commented on #4888
We can close now as all sub-tasks are completed.

/close

[2022-08-30 06:07] #4888 closed, assigned to ialidzhikov

[2022-08-30 06:40] ScheererJ commented on #6588
@dee0sap
Unfortunately, the kubernetes manifests do not help in this regard. As mentioned before, I have seen several cases where either autoscaling or simply node rotation caused vpn outages as the vpn pods needed to be rescheduled/restarted. You can easily rule this out if you look at the age of the `vpn-shoot` pod in the shoot cluster and the age of the `vpn-seed-server` pod in the control plan

[2022-08-30 13:17] timebertt commented on #6582
Another instance of this flake: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind-migration/1564598789107355648
[code]

[2022-08-30 13:57] rodcloutier opened #6602 "Duplication in documentation"
**How to categorize this issue?**
/area documentation
/kind enhancement

**What would you like to be added**:

There seems to be two documentation page that document the same process, at least have the same name, but in different manners.

* Development: https://gardener.cloud/docs/gardener/development/getting_started_locally/
* Deployment: https://gardener.cloud/docs/gardener/deployment/getting_s

[2022-08-30 13:57] dee0sap commented on #6588
Thanks @ScheererJ
Our dump of information includes manifests from pods, events, and logs
So we'll have the age of the vpn-shoot pod in the shoot cluster.

Am not sure if we collect anything that will provide the age of the vpn-seed-server.   I'll look into that.

Please let me know if there is any other data my team should try to collect.

[2022-08-31 12:42] dimitar-kostadinov commented on #4018
Currently, the recommended version of `addon-resizer` is 1.8.15 and it scales up and down containers resource requests and limits. The requests and limits values are calculated based on number of Nodes and the recommended `metrics-server` configuration in [Kubernetes](https://github.com/kubernetes/kubernetes/blob/95ee5ab382d64cfe6c28967f36b53970b8374491/cluster/gce/gci/configure-helper.sh#L2729) i

[2022-08-31 14:04] ScheererJ commented on #6588
@dee0sap
In case there are node changes it might also be relevant, i.e. nodes going away and being replaced.
Some of the data concerning the control plane, e.g. related to `vpn-seed-server` pod may be available indirectly via observability metrics, but it might be a pain to get this info out of prometheus.

[2022-08-31 14:44] ialidzhikov opened #6607 "[Flaky Test] CloudProfile Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`CloudProfile Controller Integration Test Suite`

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6604/pull-gardener-integration/1564895635423891456

**Reason for failure**:

[code]

**Anything else we need to know**:

[2022-09-01 09:10] ialidzhikov commented on #6567
I was actually thinking about this topic and I guess it will be best if you @dkistner and @kon-angelo can handle this with a feature gate so we can decouple it from the 1.25 topic. At the end, our final goal is a controlled rollout and a feature gate should do the trick. WDYT?

[2022-09-01 09:20] kon-angelo commented on #6567
@ialidzhikov I think that is a great idea. If my previous comment was not clear as to its intentions, I agree that we can and should decouple it from gardener's 1.25 support and doing it via feature gate could be a good way to introduce the change.

[2022-09-01 11:46] timebertt commented on #6602
This is on purpose, actually.
The second guide is a general getting started for when you want to get started with trying out gardener.
The first guide however is targeted at developers.

There are big overlaps, but also important differences in the setup (e.g., running gardener components as pods in the cluster or as processes on the host machine).
We want to strive towards a single skaffold-based

[2022-09-01 11:46] #6602 closed, assigned to nobody

[2022-09-02 09:29] shafeeqes commented on #6607
Another occurence https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6570/pull-gardener-integration/1565631458125549568

[2022-09-02 11:52] rfranzke commented on #6402
It's not clear how to proceed here, so let's
/close
Feel free to `/reopen` with additional information that helps to track down the issue.

[2022-09-02 11:52] #6402 closed, assigned to nobody

[2022-09-02 12:18] shafeeqes opened #6618 "[Flaky Test] E2E Test: Gardenlet Kubeconfig Rotation Tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
https://github.com/gardener/gardener/blob/833e5f89b48079922d39ac43f60a3d853e802f43/test/e2e/managedseed/create_rotate_delete.go#L58

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6570/pull-gardener-e2e-kind/1565631458054246400

**Reason for failure**

[2022-09-02 14:16] plkokanov commented on #6600
/assign

[2022-09-03 13:48] #5757 closed, assigned to nobody

[2022-09-04 13:48] #5763 closed, assigned to nobody

[2022-09-05 04:12] shafeeqes opened #6623 "[Flaky Test] E2E Test: credentials-rotation"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
https://github.com/gardener/gardener/blob/833e5f89b48079922d39ac43f60a3d853e802f43/test/e2e/shoot/create_rotate_delete.go#L40

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6570/pull-gardener-e2e-kind/1565631458054246400
https://prow.gardener.cloud/v

[2022-09-05 06:06] timebertt commented on #6618
Two more occurrences:
- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1565790237840379904
- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1566273427218632704

[2022-09-05 07:40] plkokanov commented on #2965
/unassign @plkokanov as I won't have time to continue with this.

[2022-09-05 08:14] plkokanov commented on #6561
/assign @acumino

[2022-09-05 08:49] #5611 closed, assigned to nobody

[2022-09-06 07:15] #2800 closed, assigned to nobody

[2022-09-06 07:55] acumino commented on #6618
More occurences:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6632/pull-gardener-e2e-kind/1567049874501799936

[2022-09-06 07:56] acumino commented on #6623
More occurrences:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6632/pull-gardener-e2e-kind/1567049874501799936

[2022-09-07 05:43] timebertt commented on #6582
Another occurrence:
https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind-migration/1567317686734557184

[2022-09-07 05:50] rfranzke commented on #6582
I would vote for implementing the remediation for now to get rid of these tedious flakes.

[2022-09-07 06:44] timebertt commented on #6582
+1, sounds good

[2022-09-07 06:45] rfranzke commented on #6582
/assign

[2022-09-07 10:02] plkokanov opened #6642 "[Flaky Test] ShootValidator Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
One of the `DeferCleanup` calls from the suite setup is failing:
https://github.com/gardener/gardener/blob/8f2b58bf8d16b1ee3079f68cdc10b66e9dee7918/test/integration/apiserver/admissionplugins/shootvalidator/shootvalidator_suite_test.go#L330-L333

**CI link**:
https://prow.gardener.cloud/view/gs/ga

[2022-09-07 11:33] rfranzke commented on #6618
/assign

[2022-09-07 12:24] rfranzke commented on #6623
And another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6640/pull-gardener-e2e-kind/1567430919764054016

[2022-09-07 12:26] shafeeqes commented on #6642
[code]
This test shouldn't be creating Shoots at all. 👀
https://github.com/gardener/gardener/blob/ba7cb8c4e6dc8fc376a32084ba403959a8edb43d/test/integration/apiserver/admissionplugins/shootvalidator/shootvalidator_test.go#L106-L111

[2022-09-07 12:47] rfranzke commented on #6623
/assign

[2022-09-07 12:48] rfranzke commented on #6623
In all the three cases I checked, I can see some events like these:

[code]

The reason for the preemption and re-scheduling can only be that the `gardener-extension-provider-local` pod which serves the [`node` webhook](https://github.com/gardener/gardener/tree/master/pkg/provider-local/webhook/node) is down. In this case, the kubelet will be able to revert the `Node`s resource capacity again whic

[2022-09-07 12:51] rfranzke commented on #6623
With https://github.com/gardener/gardener/pull/6573, we have set the failure policy of the webhook to `Ignore`. Together with the `timeoutSeconds=1`, this is quite risky for the seed nodes.

[2022-09-07 13:07] acumino commented on #6607
[code]

From the logs, I guess the cloud profile is being deleted before even the shoot gets persisted.
Shoots get created at `09/02/22 09:24:53.152`
[code]
and meanwhile, the cloud profile is deleted at `2022-09-02T09:24:53.170Z`
[code]
Probably adding eventually call after https://github.com/gardener/gardener/blob/8a3036e718172f41390527a402ae18b8860f89be/test/integration/controllermanager/cloudp

[2022-09-07 13:12] rfranzke commented on #6607
Thanks for checking @acumino!

However, I don't think that adding `Eventually` to this line will fix it. The shoot is actually persisted (otherwise the `Create` call would have failed), but I assume that the manager cache is stale and has not yet observed it. Hence, when the `CloudProfile` is being deleted it will just release it immediately.

Probably we need something like https://github.com/gar

[2022-09-07 13:15] ary1992 commented on #6607
Similar issue was there with `ExposureClass` integration test as well.

[2022-09-07 13:15] acumino commented on #6607
Here I was suggesting the same thing that you suggested i.e adding a get call wrapped in eventually.

[2022-09-07 13:15] rfranzke commented on #6607
Ah, got it now. Cool :) Yeah, then let's do this and get this fixed. Thanks again!

[2022-09-07 13:24] rfranzke commented on #6592
cross-referencing https://github.com/gardener/gardener/issues/2097

[2022-09-07 13:28] rfranzke commented on #4722
All items are done

/close

[2022-09-07 13:28] #4722 closed, assigned to plkokanov

[2022-09-07 13:32] rfranzke commented on #2751
@ary1992 Are you still working on this?

[2022-09-08 03:54] rfranzke commented on #6607
There is a similar flake for the `Quota` controller, see https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6625/pull-gardener-integration/1567521678953549824.
I'm opening a PR now.
/assign

[2022-09-08 04:12] rfranzke opened #6648 "[Flaky Test] `PodZoneAffinity` Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`PodZoneAffinity` Integration Test Suite

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6647/pull-gardener-integration/1567724664074014720

**Reason for failure**:
[code]

**Anything else we need to know**:
Introduced with #6579 and first seen in h

[2022-09-08 04:15] ashwani2k commented on #6529
Below bullet points highlight the api contract for introducing HA control planes  via -
[code]

1. `non-HA` shoots can be scheduled on `non-HA` or` HA`(_multi-zone_) seeds.
2. `single-zone` shoots can be scheduled on `non-HA` or `HA`(_multi-zone_) seeds.
3. `multi-zone` shoots can only be scheduled **ONLY on** HA(multi-zone) seeds.
4. `non-HA` shoots can be upgraded to `single-zone`  on `non-HA` o

[2022-09-08 05:30] #6607 closed, assigned to rfranzke, acumino

[2022-09-08 07:05] #6623 closed, assigned to rfranzke

[2022-09-08 08:22] #6559 closed, assigned to plkokanov

[2022-09-08 08:22] #6561 closed, assigned to acumino

[2022-09-08 10:25] #6648 closed, assigned to timuthy

[2022-09-08 17:13] ary1992 commented on #2751
/unassign

[2022-09-08 17:15] ary1992 commented on #2751
Not for now. Can we add a list of components for which tests need to be written?

[2022-09-09 07:09] #6582 closed, assigned to rfranzke

[2022-09-09 12:50] RaphaelVogel opened #6654 "control plane migration does not respect seedSelector in cloud profile"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:
Control plane migration does not respect `seedSelector.matchLabels` defined in cloud profile. Control plane migration to a destination seed which does not have the corresponding label should not work.
**What you expected to happen**:
When a control plane is migrated it should be checked, if the destinati

[2022-09-09 12:54] rfranzke commented on #6654
So far, the `seedSelector` in the `CloudProfile` is not used by any validation (independent of control plane migration) but only by the `gardener-scheduler`.

[2022-09-09 13:37] #6600 closed, assigned to plkokanov

[2022-09-09 13:38] #6618 closed, assigned to rfranzke

[2022-09-09 14:36] plkokanov opened #6656 "`make gardener-down` fails at deletion of `garden` `Project`"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
Calling `make gardener-down` fails with the following error:
[code]

**What you expected to happen**:
`make gardener-down to complete successfully`

**How to reproduce it (as minimally and precisely as possible)**:
1. `make kind-up`
2. `make gardener-up`
3. `make gardener-down`

**Anything else we need to know?

[2022-09-09 14:39] rfranzke commented on #6656
Can we just add the confirmation annotation to https://github.com/gardener/gardener/blob/master/example/provider-local/garden/base/project.yaml?

Yes, sounds good, do you want to open a PR?

[2022-09-09 14:40] plkokanov commented on #6656
Yep sure I'll do it on Monday morning, though.

/assign @plkokanov

[2022-09-10 14:52] #5802 closed, assigned to nobody

[2022-09-11 11:52] #5788 closed, assigned to nobody

[2022-09-11 16:56] shafeeqes opened #6659 "[Flaky Test] Shoot Maintenance controller tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]
and
[code]
**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6638/pull-gardener-integration/1568990366986670080

**Reason for failure**:
Mentioned above.

**Anything else we need to know**:

[2022-09-11 17:45] rfranzke opened #6661 "Upgrade `k8s.io/*` to `v0.25`, `sigs.k8s.io/controller-runtime` to `v0.13`"
**How to categorize this issue?**

**What would you like to be added**:

We should upgrade to the latest versions of our go upstream dependencies:
- `sigs.k8s.io/controller-runtime@v0.13.0`: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.13.0
- `k8s.io/*@v0.25.0`

## Important changes / Action items

Here is a list of a few upstream changes to look out for when vendoring g/g

[2022-09-11 17:48] rfranzke commented on #2751
As part of this issue, the only open topic seems to be the one reported in https://github.com/gardener/gardener/issues/2751#issuecomment-760015754

[2022-09-12 03:40] #6469 closed, assigned to acumino

[2022-09-12 06:32] shafeeqes commented on #6642
Running this against an existing Gardener cluster gives this error:
[code]
which comes from here:
https://github.com/gardener/gardener/blob/bf9dcf5704d2bb53273f1807c6e2e73dd17a9fd1/vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/controlplane/plane.go#L234-L237

Will check how to add this to the kube-apiserver.

[2022-09-12 06:52] ialidzhikov commented on #2590
@danielfoehrKn @voelzmo shouldn't we reopen this issue and add the `lifecycle/frozen` label? IIUC we are not yet aligned with the [Kubernetes recommended cGroup setup](https://github.com/kubernetes/design-proposals-archive/blob/main/node/node-allocatable.md#recommended-cgroups-setup).

[2022-09-12 07:18] voelzmo commented on #2590
True, let's keep this open, as it is not fixed in any way.

[2022-09-12 07:18] voelzmo commented on #2590
/reopen

[2022-09-12 07:27] rfranzke commented on #6659
Happened again: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6645/pull-gardener-integration/1569224037224157184

[2022-09-12 08:07] ialidzhikov commented on #6659
/assign

[2022-09-12 08:10] rfranzke commented on #6642
https://github.com/gardener/gardener/blob/3ca159190b08fd667535e01c460b5372209234a2/test/integration/controllermanager/project/project/project_test.go#L461-L471 might be of help :)

[2022-09-12 08:13] ialidzhikov commented on #6654
/assign

[2022-09-12 08:14] ialidzhikov commented on #2751
/assign

[2022-09-12 08:20] vpnachev commented on #6103
/remove-lifecycle stale

[2022-09-12 08:24] ialidzhikov commented on #6592
We agreed to add the last maintenance operation in a Shoot status field similar to `lastOperation` - example naming can be `lastMaintenanceOperation`. We also have to check whether https://github.com/gardener/gardener/issues/2097 is still applicable - if it is, we can use the new status field to prevent GCM from performing n maintenance operations if it is in `CrasshloopBackoff`.

[2022-09-12 08:33] ialidzhikov commented on #2965
/assign

[2022-09-12 08:54] ialidzhikov commented on #6566
We discussed that it would be useful to add a metric that keeps track of how often a webhook for Shoot is remediated. We need to check how to add this metrics - if it requires storing values in a ConfigMap, then we rather think that it is getting too complex and we kind of agree to live with the current state.

[2022-09-12 12:30] ialidzhikov commented on #6659
I tried to reproduce the failures locally against my remote garden setup but had no success with the try:
[code]

[2022-09-12 13:11] #6656 closed, assigned to plkokanov

[2022-09-12 14:11] ialidzhikov commented on #6659
I was able to reproduce the failures when I ran the stress test against the local garden setup.

---

I think the reason for the failures is that for example the test is updating the CloudProfile (sets a version to expire) but the CloudProfile fetched by the maintenance controller is a stale one that does not contain the most recent update.
I think the reason for such failures to happen now is htt

[2022-09-12 15:20] shafeeqes commented on #6642
Thanks a lot! This worked.
However, I was unable to reproduce the flake.
[code]

[2022-09-12 15:22] shafeeqes commented on #6642
Meanwhile another occurence: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1568366665064779776

[2022-09-12 15:36] danielfoehrKn opened #6666 "Containerd monitoring script - remove/fix? Bad side effects + no clear advantage"
**How to categorize this issue?**

/area os
/area robustness
/kind bug

**What happened**:

The [containerd monitoring script](https://github.com/gardener/gardener/blob/6445844bf0dbf166bf79b4b416e202617a596a31/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/templates/scripts/health-monitor.tpl.sh) sends a SIGTERM to a restarting containerd daemon pr

[2022-09-12 15:37] ialidzhikov commented on #6659
One approach to deflake would be to run the controller with direct client as before:

[code]

This approach is not consistent with the other controller-manager integration tests that don't need to run with a direct client (at least I don't know of similar flakes reported for them).

Alternatively, everywhere we patch the CloudProfile we could add "waits" the corresponding CloudProfile update to be

[2022-09-12 15:51] rfranzke commented on #6659
In reality, the manager has a cached client, so I think we should keep following this approach and not inject the `testClient`.

I understand what you mean, but I'm not sure whether this is an argument against it. In the tests, we are having quite low sync periods and fast, frequent reconciliations, so we have to make sure that we do not make assertions too early. Can you try this approach for now

[2022-09-12 15:56] ialidzhikov commented on #6659
Sure, I will give a try tomorrow.

[2022-09-12 19:29] rfranzke commented on #2829
I vote for closing this one and simply relying on what the controller-runtime library provides. If it's HTTP for the metrics and health endpoints, then it's HTTP and good enough (I don't see any security risk whatsoever with this).

[2022-09-13 07:28] timuthy commented on #2829
I kind of agree here, even though I'm a bit more concerned that we don't have authorization for `/debug` which is however disabled by default. Any strong concerns from your side @timebertt?
IIRC, the main reason for opening this issue was to mimic what K8s did with their components and to make it consistent with Gardenlet when we didn't use CR.

[2022-09-13 08:34] acumino commented on #5444
/assign
for gardener changes.

[2022-09-13 08:52] #3667 closed, assigned to nobody

[2022-09-13 09:29] shafeeqes opened #6671 "[Flaky Test] PodZoneAffinity tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]
**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6668/pull-gardener-integration/1569616104525926400

**Reason for failure**:
Mentioned above.

**Anything else we need to know**:

[2022-09-13 09:31] rfranzke commented on #6671
cc @timuthy

[2022-09-13 13:05] syurevich commented on #6666
[containerd bug issue](https://github.com/containerd/containerd/issues/7394).

[2022-09-13 13:21] danielfoehrKn commented on #6666
Stakeholder reported

  pkill containerd

Hence, the script either needs to be removed or updated to exactly match only the containerd daemon process name (e.g via `pkill -x`)

[2022-09-13 15:47] #6661 closed, assigned to shafeeqes

[2022-09-14 07:42] ialidzhikov commented on #4742
/close
as all sub-tasks are completed

[2022-09-14 07:42] #4742 closed, assigned to ary1992, acumino, shafeeqes

[2022-09-14 09:44] #6659 closed, assigned to ialidzhikov

[2022-09-14 11:13] ialidzhikov commented on #6654
As @rfranzke shared in https://github.com/gardener/gardener/issues/6654#issuecomment-1241942300 the CloudProfile's `.spec.seedSelector` is currently only used by the gardener-scheduler. I think it is possible (and was possible before) to create Shoots on Seed that does not match CloudProfiles `.spec.seedSelector`. Hence, the semantic of this `.spec.seedSelector` field currently is  "checked during

[2022-09-14 11:15] rfranzke commented on #6654
It probably makes sense to enforce it, yes @ialidzhikov. If the `CloudProfile` references a `Shoot` with a specific `seedSelector` then most probably only those seeds are eligible for running the shoot's control plane. If it's `nil` then there is no such constraint and any seed could be used (even cross-provider).

[2022-09-14 15:47] ebensom commented on #3873
Hi Gardener team,
We would like to ask if it's possible to revive the issue. Kyma would like to use this feature to expose public outbound IP address information to our customers. The corresponding epic on our side is a highly demanded enhancement for a long overdue deficiency.
/reopen
/open

[2022-09-15 05:23] acumino opened #6679 "[Flaky Test] ExtensionsCheck Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6585/pull-gardener-integration/1570059944915374080

**Reason for failure**:

**Anything else we need to know**:

[2022-09-15 06:05] rfranzke commented on #6679
I believe that #6585 which caused this flake was not rebased on `master` and particularly did not include #6636. Here, we made sure that these suites should not flake anymore. Let's wait a bit more, but I hope that we can close this issue without the necessity to do anything.

[2022-09-15 06:23] ialidzhikov commented on #6679
From @oliver-goetz:

Thus, when the changes are merged the next PR test run should use the fixes.

My understanding is that prow does a rebase before running the tests.

[2022-09-15 07:43] oliver-goetz commented on #6679
You can see in [clone-log.txt](https://storage.googleapis.com/gardener-prow/pr-logs/pull/gardener_gardener/6585/pull-gardener-integration/1570059944915374080/clone-log.txt) of the test @acumino mentioned, that prow used commit `3749db49b33e32e2d73c63213f0ea8c94dfba18e` and applied the PR changes on top of it.
At this point #6636 was already included.

[2022-09-15 07:48] timuthy commented on #6671
I tried to find out more about the flaky test and did some stress testing with more logging:

[code]

--> `podzoneaffinity-webhook-test-e000d401/test-m5bqq` is the pod which doesn't have the expected affinity configuration set.

However, the webhook sends the anticipated patch to the Kube-Apiserver:

[code]

The Kube-Apiserver logs suspicious messages whenever a test run fails:
[code]

However, it

[2022-09-15 08:16] rfranzke commented on #6679
Well, that's unfortunate then :)

Here is another similar failure from the `BackupBucketsCheck` test suite which is very similar to the `ExtensionsCheck` suite:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6667/pull-gardener-integration/1570323685837901824

[2022-09-15 09:02] tobiscr commented on #6588
Sorry for the late update.

We are still facing VPN issues, but a retry solves the problem in most cases. We had just 1 cluster in last few days which was consistantly blocking any API server communication (https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/2031/pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener/1568212161677758464/build-log.

[2022-09-15 15:06] ialidzhikov commented on #6565
More verbose logging from a failed run:
[code]

The secret name does not change but its data is regenerated.
We were discussing that the Secret can be regenerated during `restore` if is not present in the ShootState for some reason.
During `migrate` of a ControlPlane we delete the ControlPlane. Deletion of ControlPlane at the end calls `sm.Cleanup()`

https://github.com/gardener/gardener/blob/cffd

[2022-09-15 15:33] ialidzhikov commented on #6565
I am now wondering whether the issue can be caused by https://github.com/kubernetes/kubernetes/issues/110625 (similar to https://github.com/gardener/gardener/issues/6441). In short the kube-apiserver does not always return all of the resources when `--label-selector` /`--field-selector` are used. Our Seeds are at 1.23.6, the corresponding backport for 1.23 is present in 1.23.9+.
I think it makes s

[2022-09-15 15:54] dguendisch commented on #6565
Sure, I added an internal issue on the update, let's discuss the priority there.

[2022-09-16 07:03] rfranzke commented on #6679
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6681/pull-gardener-integration/1570666193080029184

[2022-09-18 06:41] plkokanov commented on #6679
/assign

[2022-09-19 05:25] shafeeqes commented on #6671
Few more occurences: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6533/pull-gardener-integration/1571723184804204544
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6701/pull-gardener-integration/1572095419582779392

[2022-09-19 06:26] plkokanov opened #6689 "Add a new `WithClock(...)` function to the `ConditionBuilder` interface and deprecate `WithNowFunc(...)`"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:
Add new function that can be used to pass a `clock.Clock` interface to the [`ConditionBuilder`](https://github.com/gardener/gardener/blob/176bf4aa05a4087f69d13fbd9ac9fc105ef4a4ff/pkg/apis/core/v1beta1/helper/condition_builder.go#L26-L35) interface.
Enhance the current `ConditionBuilder

[2022-09-19 07:43] shafeeqes commented on #6642
I tried using the local-garden setup as well.
No luck there too.
[code]
In kind,
it fails with a different error:
[code]

[2022-09-19 08:15] oliver-goetz commented on #5191
/assign @oliver-goetz

[2022-09-19 08:21] oliver-goetz commented on #6689
/assign @oliver-goetz

[2022-09-19 08:44] #6654 closed, assigned to ialidzhikov

[2022-09-19 08:56] #5846 closed, assigned to nobody

[2022-09-20 07:02] ialidzhikov opened #6703 "[Failing Test] `CP Migration Test Suite` is failing"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`CP Migration Test Suite - /src/test/testmachinery/system/shoot_cp_migration`

**CI link**:
N/A

**Reason for failure**:
[code]

[code]

and many other failures with the same error.

**Anything else we need to know**:
N/A

[2022-09-20 07:02] ialidzhikov commented on #6703
cc @plkokanov @gardener/gardener-extension-provider-aws-maintainers

[2022-09-20 07:30] timuthy commented on #6671
I will have another look ASAP.

[2022-09-20 07:31] timuthy commented on #6671
/assign

[2022-09-20 07:37] rfranzke commented on #6679
@plkokanov There is a new flake: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6705/pull-gardener-integration/1572124710328602624

/reopen

[2022-09-20 07:38] rfranzke opened #6707 "[Flaky Test] Shoot Quota Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
- Shoot Quota Controller Integration Test Suite

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1572051864575283200

**Reason for failure**:
[code]

[2022-09-20 09:12] shafeeqes opened #6709 "[Flaky Test] Pod Scheduler Name Webhook Handler"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]
**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6698/pull-gardener-integration/1572150280986824704

**Reason for failure**:
See above.

**Anything else we need to know**:

[2022-09-20 09:24] shafeeqes opened #6710 "[Flaky Test] TokenInvalidator Test suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]
**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6698/pull-gardener-integration/1572151823794442240

**Reason for failure**:
see above.

**Anything else we need to know**:

[2022-09-20 12:11] rfranzke commented on #6710
/assign

[2022-09-20 12:47] rfranzke commented on #6709
This seems to be similar to #6671

[2022-09-20 13:02] rfranzke commented on #6707
/assign

[2022-09-20 14:05] timuthy opened #6718 "[GEP-20] Reduce Cross-zonal Traffic via Topology Aware Hints"
**How to categorize this issue?**

/area high-availability
/area networking
/area cost
/kind enhancement

**What would you like to be added**:
Gardener should provide means to reduce cross-zonal network traffic within HA control-planes (with `zone` tolerance). For now, we plan to stick to standard Kubernetes services and features and not introduce any service meshes that bring advanced routing cap

[2022-09-20 14:13] ialidzhikov commented on #6565
Wrt https://github.com/gardener/gardener/issues/6565#issuecomment-1248269874 I am able to reproduce according to the steps in https://github.com/kubernetes/kubernetes/pull/110652#issue-1276119362 but I am not sure whether it can be reproduced with client-go/controller-runtime client. `--chunk-size` flag has client side implementation that relies on the `limit` and `continue` query params.
Anyways,

[2022-09-20 14:21] ialidzhikov commented on #6565
There is 1 failure from 2 days ago. The newest failures are due to https://github.com/gardener/gardener/issues/6703.

[2022-09-21 06:33] #6710 closed, assigned to rfranzke

[2022-09-21 06:38] rfranzke commented on #6671
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1572414255263649792

[2022-09-21 07:47] shafeeqes commented on #6671
A different test:
[code]
Ref: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6700/pull-gardener-integration/1572488601646665728

[2022-09-21 10:35] ialidzhikov commented on #6529
Wrt to `Enhance Pod eviction in case of zone outage (delete Pods in Terminating state)`: for Deployments the kube-controller-manager behaviour is to create new Pods right away when the old Pods are Terminating.

Example:

<details>

<summary>Expand to see the Deployment!</summary>

[code]

</details>

Above we have a Deployment. Its container does not handle SIGTERM and it will hang in Terminating

[2022-09-21 12:01] oliver-goetz commented on #6689
@plkokanov: ~~Could we delete `WithNowFunction(..)` directly instead of deprecating it?~~
Otherwise, it would not be clear which function was used and there could be some weird combinations like `conditionBuilder.WithClock(realClock).WithNowFunc(fakeNow)`.

I'll simply build it that the last change matters 😄

[2022-09-21 13:09] dimakow opened #6726 "Webhook remediator feature too aggressive"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
With https://github.com/gardener/gardener/pull/6090 Gardener has introduced a webhook remediator feature which should trigger once users are using Webhook which are too costly. Unfortunately, the current implementation will also remediate Webhook definitions which are simply lacking a "timeoutSeconds" property.

[

[2022-09-21 13:31] #6532 closed, assigned to nobody

[2022-09-22 02:45] hua82556281 commented on #6726
I also concern this issue. We have some webhook configurations in our cluster. As I observed most of them didn't specify timeoutSeconds and use default value 10s. But they are evaluated as problematic.  Is there any simple ways to remove the Warning currently . Or I only can remove the annotation gardener.cloud/warning in them one by one.

[2022-09-22 05:23] rfranzke commented on #6726
The easiest option is to explicitly set the `timeoutSeconds`. Alternatively, you can label the webhook with `remediation.webhook.shoot.gardener.cloud/exclude=true`, however please remember to remove it again once this issue is fixed.

[2022-09-22 09:59] ialidzhikov commented on #6529
We had a sync with @unmarshall and we are able to confirm that in a simulation of zone outage (simulated via network acl that denies all ingress and egress traffic for a zone) the recovery for a (multi-zone) control plane worked well as outlined in https://github.com/gardener/gardener/issues/6529#issuecomment-1253517049:
- For Deployments kube-controller-manager creates new replicas right away whe

[2022-09-22 10:46] ialidzhikov commented on #6718
/assign

[2022-09-23 04:46] acumino commented on #6726
/assign

[2022-09-23 04:50] vlerenc commented on #6529
Great to hear! Thank you!

[2022-09-23 16:41] #6671 closed, assigned to timuthy

[2022-09-26 09:12] plkokanov commented on #6703
I had a look at this and the error is actually not due to control plane migration.
There seems to be a problem with the custom route controller automatic enablement for k8s clusters > 1.22 that was added in https://github.com/gardener/gardener-extension-provider-aws/pull/612. What I noticed was that when a new cluster is created the `useCustomRouteController` is properly set to true by the webhook

[2022-09-28 09:41] vpnachev opened #6747 "Webhook constraint matcher does not consider well-know k8s label on namespaces"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
Since https://github.com/kubernetes/kubernetes/pull/96968 all namespace in k8s get the label `kubernetes.io/metadata.name=<namespace-name>`. The webhook constrain matcher here https://github.com/gardener/gardener/blob/24dc519d70c664bb64ebe46808320ae9595d3cfc/pkg/operation/botanist/matchers/matcher.go#L50-L52
does not

[2022-09-28 10:09] vpnachev commented on #6747
It seems relying on well-known labels is error prone as any shoot owner can set own labels on the kube-system namespace and used them to configure the namespace selectors of the webhook. I think the matcher should actually have to try to mimic the k8s API server and try to match namespace selector expression via the full set of labels on the namespace.

[2022-09-29 08:04] ShiroDN opened #6752 "Wrong permissions on local-backupbuckets"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
I am trying to setup local poc according to `getting_started_locally.md` guide. But it seems there is some problem with deployment on linux (archlinux, ubuntu 20.04). After I run `make gardener-up` the seed cluster never reaches `STATUS=Ready`.

[code]

When I run `kubectl describe seed local` I can see error (gardene

[2022-09-29 14:48] plkokanov commented on #6703
@ialidzhikov should we close this now, since we know what the issues is and will come to a solution that also does not interfere with CP migration in https://github.com/gardener/gardener-extension-provider-aws/issues/619

[2022-09-29 14:54] plkokanov opened #6756 "[Flaky Test] Create, Hibernate, Wake up and Delete Shoot e2e test is flaky"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
The Create, Hibernate, Wake up and Delete Shoot e2e test failed with timeout during the `Wake Up` step.

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6748/pull-gardener-e2e-kind/1575081780585697280

**Reason for failure**:
It seems that waking up th

[2022-09-29 14:54] ialidzhikov commented on #6703
Yes, let's close as the issue should be fixed with [`provider-aws@v1.38.2`](https://github.com/gardener/gardener-extension-provider-aws/releases/tag/v1.38.2).
Thank you for discovering this issue and participating in the discussion on how to tackle it! 🙇 It wasn't an easy one to discover.

/close

[2022-09-29 14:54] #6703 closed, assigned to nobody

[2022-09-30 08:23] timuthy commented on #6529
I added another item `Support control-plane migration for HA shoots` since this doesn't seem to work out of the box. We should create a separate issue once we have more certainty and details and find a proper way to support this use-case.

cc @plkokanov @vlerenc

[2022-09-30 09:38] tobiscr commented on #6588
The issue happened today again and is not solved:

https://status.build.kyma-project.io/view/gs/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/2076/pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener/1574721267871780864

 We are still trying to provide a cluster for further analysis. Please don't close this ticket until we got one defective cluster in place.

[2022-09-30 10:22] plkokanov commented on #6529
Should we (for now) add validation that forbids migration for HA shoots?

[2022-09-30 15:32] #6679 closed, assigned to plkokanov

[2022-10-01 14:27] acumino commented on #6726
/close https://github.com/gardener/gardener/pull/6728#issuecomment-1263588239

[2022-10-01 14:27] #6726 closed, assigned to acumino

[2022-10-02 07:42] shafeeqes commented on #5634
/close
All tasks are completed.

[2022-10-03 04:20] shafeeqes opened #6766 "[Flaky Test] Gardenlet kubeconfig rotation test suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6727/pull-gardener-e2e-kind/1576612816863891456

**Reason for failure**:
Mentioned above.
**Anything else we need to know**:

[2022-10-04 06:02] ialidzhikov commented on #4018
/close
as the reasoning is provided in https://github.com/gardener/gardener/issues/4018#issuecomment-1232887290

[2022-10-04 06:02] #4018 closed, assigned to dimitar-kostadinov

[2022-10-04 10:31] rfranzke commented on #6752
Do you want to file a PR with an improvement? :)

[2022-10-04 13:02] timebertt opened #6769 "[Flaky Test] `make gardener-down` is flaky"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`make gardener-down` in `*-gardener-e2e-kind` is flaky. Sometimes, `helm uninstall` fails with:

[code]

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6754/pull-gardener-e2e-kind/1577253184139694080#1:build-log.txt%3A1569-1604

**Reason for failure

[2022-10-04 15:45] rfranzke commented on #2829
Any feedback @timebertt?

[2022-10-05 05:51] timebertt commented on #2829
I still vote for implementing option b) (adding kube-rbac-proxy) which is very little effort.
This plays nicely with what the community does (kubebuilder, etc.) and follows best practices. I would consider this to be "what controller-runtime/kubebuilder provides" even though it is a sidecar component rather than a go library feature.

I even have some running examples in one of my projects, which

[2022-10-05 07:28] rfranzke opened #6773 "☂️-Issue for "Support for Kubernetes v1.26”"
/area open-source
/kind enhancement
/priority 3
/topology garden seed shoot

Kubernetes v1.26 was released on December 9th, you'll find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.26.md

Work can be started and pushed to the [`kubernetes-v1.26`](https://github.com/gardener/gardener/tree/kubernetes-v1.26) branch. There should be similar branches in

[2022-10-05 07:48] rfranzke commented on #6766
/assign

[2022-10-05 08:04] timebertt commented on #6709
I think the problem here is, that we are only a single `CREATE pod` call right after creating the webhook.
If the API server's webhook admission plugin has not observed the webhook object yet, the webhook might not get called.

Here you can see how the `{Mutating,Validating}Webhook` admission plugin makes use of informers for retrieving the webhooks to call during a given API call:
- https://githu

[2022-10-05 08:22] rfranzke commented on #2829
In an internal chat we figured that we won't be able to use the `kube-rbac-proxy` approach for the `/healthz` and `/readyz` endpoints since we otherwise would need to write JWT tokens into the `{live,ready}nessProbe`s of the various `Deployment`s (which isn't a great idea).

Since `/debug` is disabled by default and typically only used for dev purposes, `/metrics` is the only endpoint left that wo

[2022-10-05 08:22] #2829 closed, assigned to nobody

[2022-10-05 09:04] ialidzhikov opened #6775 "Unready calico-node Pod is not reflected in the Shoot status"
**How to categorize this issue?**

/area control-plane quality
/kind bug

**What happened**:
For a Shoot calico-node Pod is unhealthy since longtime:
[code]

[code]

Looks lie GRM threats this that the DaemonSet is Progressing:
[code]

And this issue is not reflected in any way in the Shoot status.

**What you expected to happen**:
The issue to be reflected in the Shoot status.

**How to reproduce

[2022-10-05 12:50] rfranzke commented on #6766
I've checked the occurrences and they all look similar. Explaining [this failure](https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6727/pull-gardener-e2e-kind/1576612816863891456) now.

We see the following logs in the final gardenlet pod `gardenlet-74bf67bf5-26gch`:

[code]

At this time, the kubeconfig should have been actually renewed with `10m` validity by this

[2022-10-05 13:24] rfranzke commented on #6766
Another occurrence: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1577639895457861632

[2022-10-05 14:12] rfranzke opened #6777 "Local Registry pods are only accessible by accident from local shoot clusters"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
We are using `172.19.0.0/16` as node CIDR for the local `Seed`s at two places:

https://github.com/gardener/gardener/blob/3f57fd0f415117075724d94b6aa051cee558200d/example/provider-local/seed-kind/local/seed.yaml#L29

https://github.com/gardener/gardener/blob/3f57fd0f415117075724d94b6aa051cee558200d/example/gard

[2022-10-05 14:13] rfranzke commented on #6777
/assign

[2022-10-05 14:24] majst01 commented on #6777
related to: #6755

[2022-10-06 15:57] #6689 closed, assigned to oliver-goetz

[2022-10-07 06:30] rfranzke commented on #6642
@shafeeqes It happened again: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6733/pull-gardener-integration/1578270033082060800

[2022-10-07 06:56] ialidzhikov commented on #6709
/assign

[2022-10-07 07:07] #6766 closed, assigned to rfranzke

[2022-10-07 07:07] #6777 closed, assigned to rfranzke

[2022-10-07 07:59] #6501 closed, assigned to AleksandarSavchev

[2022-10-07 09:24] ialidzhikov commented on #6709
@rfranzke @timebertt If I am not wrong currently there is no way to run a webhook env test against existing cluster, right?
The webhook's is created/updated with localhost url:
[code]

and kube-apiservers (`make kind-up` or `make local-garden-up`) fail to call the webhook with:
[code]

Or, I am missing something?

[2022-10-07 09:56] ialidzhikov commented on #6709
Anyways I managed to run the stress tool for the the webhook tests by not using existing cluster.

[2022-10-07 10:02] ScheererJ commented on #4453
/remove-lifecycle stale

[2022-10-07 10:09] ialidzhikov commented on #6709
@rfranzke @timebertt the reason for this flake is rather that in the BeforeSuite we are missing a wait until the webhook is started. Example from other webhook envtest:

https://github.com/gardener/gardener/blob/2c5074415de457e9609f51850e62991c3cdb4f0d/test/integration/resourcemanager/seccompprofile/seccompprofile_suite_test.go#L127-L131

[2022-10-07 10:54] #6709 closed, assigned to ialidzhikov

[2022-10-07 11:50] ialidzhikov commented on #6565
Meanwhile our Seeds were updated to 1.23.9. I now checked and was not able to see the particular error from this issue occurring for the past 10 days. Let's keep it open for a while to see whether it will occur again in the next days.

[2022-10-07 11:55] ialidzhikov commented on #6565
I now actually noticed a failure on other landscape from 2 days ago:
[code]

[2022-10-07 13:51] plkokanov commented on #4798
/reopen as the new heartbeat controller has to be enabled in the extension controllers when `gardener/gardener`>=`v1.58.0` is revendored

---
### Provider Extensions
- [x] Revendor g/g in [extension-provider-openstack](https://github.com/gardener/gardener-extension-provider-openstack) and enable heartbeat controller. https://github.com/gardener/gardener-extension-provider-openstack/pull/512
- [x]

[2022-10-07 16:11] ShiroDN commented on #6752
So, I did some tests and there is one more issue that is connected to this one.

I will file a PR but first I want to discuss how it should be best resolved.

The issue with permissions on dev/local-backupbuckets/ can be easily solved by a change in Makefile target `kind-up`:
`mkdir -m 775 ... -> mkdir -m 777 ...`

But the next issue is with deleting and cleanup.
In directories `local-backupbucket

[2022-10-09 11:11] #4729 closed, assigned to nobody

[2022-10-09 15:18] ialidzhikov commented on #5325
/remove-lifecycle stale
/lifecycle frozen

[2022-10-10 02:11] #5958 closed, assigned to nobody

[2022-10-10 07:35] ialidzhikov commented on #2965
/unassign
as I also don't have capacity to start looking into this issue (it is also unclear what we want to achieve with this issue)

[2022-10-10 07:36] ialidzhikov commented on #2751
/unassign
as I also don't have capacity to start looking into this issue

[2022-10-10 08:04] shafeeqes opened #6786 "[Flaky Test] ControllerInstallation Controller tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6750/pull-gardener-integration/1579353349046669312

**Reason for failure**:
[code]
**Anything else we need to know**:

[2022-10-10 08:04] shafeeqes commented on #6786
/cc @rfranzke

[2022-10-10 08:50] rfranzke commented on #6756
/assign

[2022-10-10 08:51] rfranzke commented on #6786
/assign

[2022-10-10 08:52] rfranzke commented on #6769
/assign @oliver-goetz

[2022-10-10 08:56] rfranzke commented on #6775
/assign @ialidzhikov

[2022-10-10 09:16] oliver-goetz opened #6788 "Update Go version to 1.19.2"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
Go version 1.19.2 is released since last week ([ref](https://groups.google.com/g/golang-announce/c/xtuG5faxtaU)) and should be used in g/g.

**Why is this needed**:
The release contains 3 security fixes.

[2022-10-10 09:17] oliver-goetz commented on #6788
/assign

[2022-10-10 10:29] #6788 closed, assigned to oliver-goetz

[2022-10-10 11:24] ialidzhikov opened #6791 "[Flaky Test] Seed Controller Suite: [It] LeaseReconciler updates GardenletReady condition if it already exists"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`Seed Controller Suite: [It] LeaseReconciler updates GardenletReady condition if it already exists`

**CI link**:
Ref https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6790/pull-gardener-unit/1579426678059307008

**Reason for failure**:
[code]

**Anything else we nee

[2022-10-10 13:40] ialidzhikov commented on #6775
I am able to reproduce the issue. In short, with https://github.com/gardener/gardener/pull/5628 during a rolling update of a DaemonSet we tolerate `maxUnavailable` replicas to be unavailable to prevent failing the health check always during a rolling update. The issue is that rolling update of DaemonSet can get stuck (ref https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#daemonset-

[2022-10-10 15:41] rfranzke commented on #6775
I don't think it's possible to achieve both at the same time. A way out could be to incorporate the `Progressing` condition of `ManagedResource`s into the health status conditions of the `Shoot`. When e.g. a `DaemonSet` rollout is `Progressing` for too long then the `Shoot` condition will eventually transition to `False`, hence the error would become "visible". OTOH, this might again lead to some

[2022-10-11 05:55] ialidzhikov opened #6798 "pods "vpn-seed-server-867cd9dbcf-" is forbidden: no PriorityClass with name gardener-shoot-controlplane was found"
**How to categorize this issue?**

/area control-plane
/kind bug
/kind regression

**What happened**:
After the rollout of gardener/gardener@v1.57.0 Shoots are unhealthy with:
[code]

[code]

Possible related to https://github.com/gardener/gardener/pull/6738.

**What you expected to happen**:
No such issue after the rollout of gardener/gardener@v1.57.0.

**How to reproduce it (as minimally and pre

[2022-10-11 05:57] ialidzhikov commented on #6798
I think the problem here is similar to https://github.com/gardener/gardener/pull/6511. The `gardener-shoot-controlplane` PriorityClass is removed on Seed bootstrap which leaves Shoot control planes without PriorityClass until they are reconciled to run with the new PriorityClass.

[2022-10-11 05:59] ialidzhikov commented on #6798
/assign

[2022-10-11 06:13] acumino commented on #6798
I didn't think of shoot reconciliation window. Adding the priority class in managed resource should solve this issue. Revert of d2dddea9b0368519a6ae19d0687f7d2cc6c3d5d8 commit should do the job.

[2022-10-11 08:05] #6798 closed, assigned to ialidzhikov

[2022-10-11 08:40] rfranzke commented on #6786
Two more:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6784/pull-gardener-integration/1579753120127258624
- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1579544044596367360

[2022-10-11 11:48] rfranzke commented on #6756
I've checked above occurrence. Results:

- Shoot creation and hibernation succeeded, but the wake-up step failed because `blackbox-exporter` was not becoming healthy.
- Shoot was woken up at 11:38:25 and the test failed after 10min at 11:48:25 according to the [configured timeout](https://github.com/gardener/gardener/blob/66b1975adf5d6656930d1273c150792028646ad5/test/e2e/shoot/create_hibernate_wak

[2022-10-11 12:22] ialidzhikov commented on #6565
In short, the issue occurs due to a transient error in the migrate flow after the ControlPlane Destroy. In the migrate flow we first Restore the ControlPlane, then we Destroy it. If a transient error occurs after the ControlPlane Destroy, in the next try we will Restore the ControlPlane which will created fresh new `ca-provider-{provider}-controlplane` Secret (because the existing ones were alread

[2022-10-11 12:34] rfranzke commented on #6565
So it's an actual bug that we found here, nice summary @ialidzhikov, thanks. Do you have any ideas/suggestions what we can improve?

[2022-10-11 12:51] plkokanov commented on #6565
Before the introduction of the secrets manager we used to redeploy all secrets from the shoot state at the start of the migrate phase. Not sure if the same can be done now though - basically change this code:
https://github.com/gardener/gardener/blob/66b1975adf5d6656930d1273c150792028646ad5/pkg/operation/botanist/secrets.go#L59-L63
to also be executed during `Migrate` phase.

[2022-10-11 12:57] rfranzke commented on #6565
Maybe, but it feels a bit weird/sounds like a workaround. Can we rather prevent executing some of the tasks in the migrate flow when we already deleted the `ControlPlane` (same approach what we do in the deletion flow)? This way, we wouldn't even try to restore the `ControlPlane` resource again unnecessarily.

[2022-10-11 13:19] ialidzhikov opened #6807 "gardener/gardener and all modules that vendor gardener/gardener require `k8s.io/client-go@v11.0.1-0.20190409021438-1a26190bd76a+incompatible`"
**How to categorize this issue?**

/area open-source
/kind bug

**What happened**:
For some reason gardener/gardener and all modules that vendor gardener/gardener require quite outdated client-go `k8s.io/client-go@v11.0.1-0.20190409021438-1a26190bd76a+incompatible`:

https://github.com/gardener/gardener/blob/9c6789844109351f4512871d8b1de25f9d91bd3c/go.mod#L50

https://github.com/gardener/gardener-

[2022-10-11 13:42] rfranzke commented on #6786
Another one:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6808/pull-gardener-integration/1579827971126988800

[2022-10-11 14:51] ialidzhikov commented on #6775
Agree.

There are some open questions/challenges. If we start reflecting "MR not progressing" to the Shoot status, then the Shoot condition will be false for more

As you said, if we start reflecting "MR not progressing" to the Shoot conditions, then a Shoot condition will be "false" appr. right away for long-running (> 30min) calico-node rolling updates.

If you mean introducing a "toleration" so

[2022-10-11 14:57] rfranzke commented on #6775
Yeah, such toleration approach sounds promising from UX PoV, i.e. when there are `ManagedResource`s with are `Progressing=true` and `Healthy=true` then let's keep the shoot condition at status `Progressing` the entire time and don't transition it to `False` after the grace period. Only when something is indeed unhealthy for too long then we should transition it to `False`.

However, I'm not sure h

[2022-10-11 15:00] rfranzke commented on #6786
Looking at all the failures, the problem seems to occur when the `testRunID` is interpreted as number: https://github.com/gardener/gardener/blob/d3bda6cf471143652fc24036e8f497d373cb250c/test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_suite_test.go#L109

In this case, https://github.com/gardener/gardener/blob/d3bda6cf471143652fc24036e8f497d373cb250c/t

[2022-10-11 15:23] #6756 closed, assigned to rfranzke

[2022-10-12 02:52] neo-liang-sap opened #6818 "Cannot create containers with gRPC probes on Gardener 1.57.0 with k8s 1.24"
**How to categorize this issue?**
/kind bug
/area open-source

**What happened**:
gRPC readiness/liveness probes are not working on Gardener 1.57.0 with k8s 1.24. According to the documentation they should be available on this version: [link](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-grpc-liveness-probe). I enabled the GRPCContai

[2022-10-12 07:18] acumino commented on #6807
I tried  `go mod graph | grep k8s.io/client-go@v11.0.1-0.20190409021438-1a26190bd76a+incompatible`
It gives the following result -
[code]

So old client-go version is needed by etcd-druid and DWD, I checked later in etcd-druid here old client-go dependency is required because an old version of the gardener(v1.36) is imported and it imports hvpa-controller@v0.3.1 which uses client-go version 11.0.1

[2022-10-12 08:25] #6786 closed, assigned to rfranzke

[2022-10-12 11:38] ialidzhikov commented on #6818
/assign

[2022-10-12 12:03] acumino commented on #2692
/assign

[2022-10-12 16:10] ialidzhikov commented on #6818
I think this is caused by the `apiserver-proxy.networking.gardener.cloud` mutating webhook. After looking for several hours into the source of kubernetes/kubernetes and comparing kube-apiserver flags for kind vs gardeer, finally the following was enough to prove that the apiserver-proxy webhook is doing something wrong:
[code]

The Pod spec:
[code]

[2022-10-12 16:31] ialidzhikov commented on #6818
The apiserver-proxy module vendors quite outdated k8s.io/* dependencies (v0.19.2):
https://github.com/gardener/apiserver-proxy/blob/78e78f5e136180125e906cd5ed2f9b053aed7cfa/go.mod#L15-L21

The `GRPC` fields were introduced in K8s 1.23.0 (ref https://github.com/kubernetes/kubernetes/pull/106463). I assume the apiserver-proxy's defaulting webhook does not know about the `GRPC` fields in the Pod spec

[2022-10-13 09:51] ialidzhikov commented on #6818
The corresponding handling is in https://github.com/gardener/apiserver-proxy/blob/fa7607ad11455f539269a964d2606cf3a43b706a/vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/defaulter.go#L59-L74.

The response is:
[code]

The patches in the response:
[code]

[2022-10-13 10:14] oliver-goetz opened #6827 "Requirements for failureTolerance "node" are not checked on Shoot creation/update"
**How to categorize this issue?**

/area high-availability
/kind bug

**What happened**:
It is possible to create shoots with `failureTolerance` type `node` even when there are no seeds with this feature enabled.

_Shoot creation:_
New shoots with failure tolerance type node can be scheduled anywhere, even on seeds having HA disabled.

_Shoot update:_
Failure tolerance of type node can be activate

[2022-10-13 10:49] rfranzke commented on #6818
Thanks @ialidzhikov, interesting. So that's one downside in our world when a component uses the controller-runtime webhook wrappers and has outdated Golang dependencies.

[2022-10-13 11:00] ialidzhikov commented on #6818
Yes, in particular the problematic part is https://github.com/gardener/apiserver-proxy/blob/fa7607ad11455f539269a964d2606cf3a43b706a/vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/defaulter.go#L73-L74. When computing the patch `req.Object.Raw` is passed as orginal value and `marshaledPod` as current. `req.Object.Raw` contains the `.spec.containers.0.readinessProbe.grpc` field while `m

[2022-10-13 11:02] rfranzke commented on #6818
So we can update the Golang dependencies (which anyways makes sense), but we should in addition change this webhook to construct the patch "manually" so that we don't run into similar issues in the future again in case we are late with updating the Golang dependencies.

[2022-10-13 15:16] #999 closed, assigned to ThormaehlenFred, marwinski, mvladev

[2022-10-14 07:13] oliver-goetz commented on #6827
/assign

[2022-10-15 07:41] #5993 closed, assigned to nobody

[2022-10-15 21:53] cbarbian-sap commented on #3112
I don't think that this has fixed the issue.

In order to have running `update-ca-certificates` (with or without --fresh) any effect (on debian'ish OS such as gardenlinux), at least one of the following conditions would have to be fulfilled:
-  the certificate is stored in `/usr/share/ca-certificates` **and** the according filename is listed in `/etc/ca-certificates.conf`
- the certificate is stor

[2022-10-16 07:57] shafeeqes commented on #6642
I tried again, but had no success in reproducing this,
[code]
We wait for deletion of shoots in all tests which creates shoots,
eg,
https://github.com/gardener/gardener/blob/d1d365fdbcdab52680aca6d82626e15b747fe752/test/integration/apiserver/admissionplugins/shootvalidator/shootvalidator_test.go#L139-L141
Yet, this flakes.
What I can think of is, we can disable `SeedValidator` admission plugin in

[2022-10-16 11:50] timebertt commented on #5634
/reopen

I just observed that a `kube-scheduler` pod was preempted by a `loki` pod, so I noticed that some components were not adapted yet:
[code]

Most importantly, the following components that are configured in this repository were not adapted:
- cluster-autoscaler
- kube-scheduler

[2022-10-17 06:02] rfranzke commented on #6642
WDYT?

Sounds reasonable

[2022-10-17 07:52] rfranzke commented on #6791
/assign

[2022-10-17 07:56] rfranzke commented on #6791
I'll fix it as part of https://github.com/gardener/gardener/pull/6836 which anyways touches the `Seed` reconcilers in `gardenlet`.

[2022-10-17 08:00] rfranzke commented on #6791
I think the flake was introduced with https://github.com/gardener/gardener/pull/6729 since it switched to a `Clock` ([ref](https://github.com/gardener/gardener/pull/6729/files#diff-f1ec33881fa4af6c949e137f163b40a049be4d2600324546ee247a5c42bcc96a)) but did not adapt the a usage of `time.Now()` whose result can diverge from the fake clock: https://github.com/gardener/gardener/blob/3cbc43c7000a7f5032

[2022-10-17 08:03] rfranzke commented on #6791
Fixed with https://github.com/gardener/gardener/pull/6836/commits/a18d85058a362af1aca022ed9153d547f701aa44

[2022-10-17 08:38] shafeeqes commented on #6642
Okay, then I will make the change.

[2022-10-17 08:55] rfranzke commented on #6775
/unassign @ialidzhikov
for now in favor of some other tasks

[2022-10-17 08:57] rfranzke commented on #5634
/unassign @acumino
/assign @ialidzhikov

[2022-10-17 09:37] ialidzhikov commented on #5634
- [x] `cluster-autoscaler` and `kube-scheduler` -> https://github.com/gardener/gardener/pull/6838
- [x] `csi-snapshot-validation` -> https://github.com/gardener/gardener-extension-provider-gcp/pull/507 (I found it missing only for provider-gcp, for the other provider extensions it was set)
- [x] `shoot-dns-service` -> https://github.com/gardener/gardener-extension-shoot-dns-service/pull/163

[2022-10-17 09:37] #5270 closed, assigned to MartinWeindel

[2022-10-17 10:05] ialidzhikov commented on #5634
/close
as the items from https://github.com/gardener/gardener/issues/5634#issuecomment-1280573295 are completed

[2022-10-17 10:14] #6642 closed, assigned to shafeeqes

[2022-10-17 11:50] vpnachev opened #6846 "Gardener is trying to delete ingress resources via unavailable extensions/v1beta1 API"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
Gardener is trying to delete ingress resources via unavailable extensions/v1beta1 API.
Since k8s 1.22 the extensions/v1beta1 API no longer serves Ingress resources ([ref](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis)) but gardener still uses thi

[2022-10-17 11:54] ialidzhikov commented on #6846
/assign

[2022-10-17 13:01] ialidzhikov commented on #6154
I assume when we drop support fоr K8s 1.21 (provider-azure enables CSI migration starting K8s 1.21), we should be good to clean up the [csimigration controller](https://github.com/gardener/gardener/tree/v1.57.1/extensions/pkg/controller/csimigration). (@rfranzke, feel free to correct me if I am wrong).

If that's the case, then it  doesn't make much sense to first clean up the support for `alpha.c

[2022-10-17 15:01] timuthy commented on #6827
As discussed with @oliver-goetz, this issues mixes up two scenarios when stating "[...] no seeds with this feature enabled":

1. The `HAControlPlane` feature gate is not enabled by `gardenlet` -> This will result in shoot clusters having non-HA control-planes even though it's desired by `spec` or `metadata.annotations`. I only see potential protection for this problem by adding the feature gate al

[2022-10-17 17:21] rfranzke commented on #6154
Sounds like a good plan @ialidzhikov!

[2022-10-18 06:01] ialidzhikov commented on #6154
Then let's close and do not invest into this task for now.

/close

[2022-10-18 06:01] #6154 closed, assigned to dimitar-kostadinov

[2022-10-18 07:37] cbarbian-sap opened #6847 "Custom CA certs are still not activated on the node"
**How to categorize this issue?**
(follow up on https://github.com/gardener/gardener/issues/3112)

/area os
/kind bug

**What happened**:

Adding certificates to the nodes' trust store via `shoot.spec.provider.workers[].caBundle` does not work as expected.
The specified bundle is indeed added to /etc/ssl/certs/ROOTcerts.pem, but not to /etc/ssl/certs/ca-certificates.

The canonical way to achieve

[2022-10-18 15:02] plkokanov commented on #6565
We currently use the exact same approach and flags to determine if the `ControlPlane` resource needs to be redeployed.
So IIUC this issue can only happen if the migration flow errors after the `ControlPlane` is migrated, but before the `kube-apiserver` deployment is deleted. Generally, if we've already passed the step that migrates the `ControlPlane`, all `ManagedResources` and all extension resou

[2022-10-19 06:11] rfranzke commented on #6565
I don't think we want to make such assumptions. Extensions using `ManagedResource`s is just a convention, not a requirement and rather an implementation detail.
Can we rather not redeploy the `ControlPlane` if it is already deleted?

[2022-10-19 07:57] shafeeqes commented on #5250
/close
All tasks are completed.

[2022-10-19 07:57] #5250 closed, assigned to shafeeqes

[2022-10-19 09:53] plkokanov commented on #6565
I found the issue that was causing this redeployment in the first place: https://github.com/gardener/gardener/issues/4484. Basically, [the `WakeUpKubeAPIServer`])(https://github.com/gardener/gardener/blob/40b0bf10522e53c55ceaf1b361a4d016a94fe741/pkg/gardenlet/controller/shoot/shoot_control_migrate.go#L229-L233) would cause problems for providers for which the webhook that mutates the `kube-apiserv

[2022-10-19 13:11] ialidzhikov opened #6851 "No event or Shoot status information for a failed maintenance operation"
**How to categorize this issue?**

/area quality control-plane
/kind bug

**What happened**:
We have API changes that prevent upgrading from one K8s to the next one. For example automatic update of Shoot with `spec.kubernetes.kubeAPIServer.enableBasicAuthentication=true` from K8s 1.18 to 1.19 is not possible:
[code]

Maybe we have many more cases that prevent the maintenance controller to upgrade

[2022-10-19 13:15] ialidzhikov commented on #6851
This requirement/issue was raised in https://github.com/gardener/gardener/issues/6592 as well:

But as far as I see from the code https://github.com/gardener/gardener/pull/6725 does not improve this aspect.

https://github.com/gardener/gardener/blob/dccfd4f21661232750a3cd9a5b337b5fe2d4a03a/pkg/controllermanager/controller/shoot/maintenance/reconciler.go#L199-L203

@acumino can you confirm/reject?