[2019-04-30 06:30] marwinski commented on #2146
Hi @alexellis, I have talked to some DigitalOcean representatives at KubeCon in Kopenhagen last year about porting Gardener to their platform. At that time Gardener was little known and the discussion somewhat fell asleep. This may have changed by now. I might help if you could make another attempt. As Rafael said, we'd love to see more adoption and could support here. Best regards, Dirk

[2019-04-30 11:43] afritzler opened #969 "Add VPA Policy Configuration per Component"
**What would you like to be added**:
Currently the Gardener decides what VPA policy to use when deploying the CP components. It would be great to allow the Gardener administrator to set the VPA policy per component in the Gardener configuration configmap.

**Why is this needed**:
This will allow the Gardener administrator to have a fine grained controller on how VPA is used in the landscape.

[2019-05-02 08:55] #963 closed, assigned to jia-jerry, minchaow

[2019-05-06 07:14] eladyitz opened #984 "robot-kubeconfig.yaml file with view permissions only"
**What would you like to be added**:
As of know the robot-kubeconfig.yaml provided via the Gardener UI is one that allows user 'read' and some 'write' permissions on the shoot clusters.
We require a robot-kubeconfig.yaml that is allowed only 'read' permissions on the shoots.

**Why is this needed**:
We want to access our shoots threw Gardener to get the Health Measurements Gardener collects on our

[2019-05-06 09:26] hoeltcl opened #985 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-05-06 10:26] #885 closed, assigned to georgekuruvillak

[2019-05-06 12:18] freegroup opened #987 "allow to configure the kubelet with "--cpu-manager-polic""
**What would you like to be added**:
Some scenarios required for performance reasons that a pod has a *sticky* CPU assignment.
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

**Why is this needed**:
Allow configuring the kubelet with the **cpu-manager-policy** flag as described in the link.

[2019-05-08 03:23] PadmaB opened #993 "[CPE] Optimize rolling update of Nodes with more volumes"
# Improvement
Optimize the time taken for the rolling update of Nodes with higher number of Volumes attached. The nodes in the SEED clusters have an average of 10+ volumes per Node

Tests across cloud providers show that GCP and OpenStack are better than AWS and Azure in the attach and detach operations. AWS performs better than GCP during attach while GCP outperforms heavily during detach

**Impa

[2019-05-08 04:07] vlerenc commented on #993
Maybe it could have 2 queues, one that works in parallel and deals with all pods that have no PVs and one that works serially and one-by-one evicts pods with PVs. Maybe it is sufficient to wait for the pod to be evicted and the PV to be successfully detached before the next one is processed, but maybe the controller would have to wait for the attach to complete, too. That however would be ugly / a

[2019-05-08 14:18] vlerenc opened #996 "Support for KUBELET_EXTRA_ARGS"
**What would you like to be added**:
It would be great if Gardener could either at least add `$KUBELET_EXTRA_ARGS` (like `kubedm` does, see https://kubernetes.io/docs/setup/independent/kubelet-integration) to the kubelet args when launching it (in which case users could help themselves with daemon sets if they want to influence the kubelet args, see below) or even make these additional kubelet arg

[2019-05-10 12:35] mvladev commented on #516
Webhook authentication and authorization is enabled for quite some time:

[code]

Do you have any specific idea why setting the Data volumes to writable is needed for Istio? I couldn't find any usage for it

[2019-05-13 08:29] mvladev opened #999 "Use only one IDP for monitoring and logging"
# Use one IDP for monitoring and logging

## Problem

At the moment operators can access logging and monitoring components which are exposed via Ingress and Basic Authentication:

[code]

Basic Authentication is plagued by has many issues, not limited to, password-sharing, need for revocation when user is removed from the `Project`, subject to brute force attacks, impossible to enforce Multi-facto

[2019-05-15 07:14] vpnachev opened #1008 "Grafana Dashboard for API Usage"
**What would you like to be added**:
The kube-apiserver exposes metrics about the API usage:
- `apiserver_request_count` [Deprecated](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#deprecated-metrics) since 1.14
- `apiserver_request_total` [Replacement](https://github.com/kubernetes/kubernetes/pull/72336) for apiserver_request_count since 1.14

A dashboard in the Grafana co

[2019-05-15 10:11] prashanth26 opened #1010 "Increase machine drain and scale down timeouts"
**What would you like to be added**:

- We see machines on some infrastructures (E.g. Azure) fail to detach data disks attached to a machine in the current drain timeout window of 5mins.
- Machines in the cluster seem to be scaling up and down frequently due to small changes in cluster load.

**Solution**:

- Enhance the drain timeout to give providers a better worst case timeout while detaching d

[2019-05-15 10:48] #1010 closed, assigned to nobody

[2019-05-15 13:00] vlerenc opened #1013 "Prefetching of Control Plane Container Images to Seed Nodes"
**What would you like to be added**:
Image prefetching for our seeds to lower the downtimes of components such as ETCD or ETCD backup-and-restore, e.g. something like https://github.com/mattmoor/warm-image.

**Why is this needed**:
To shorten potential downtimes. For instance, when ETCD is scheduled (or rescheduled due to a spec update or node rolling update), ETCD remains down for a lot longer th

[2019-05-17 16:24] srinisbook opened #1020 "no matches for kind "Seed" in version "garden.sapcloud.io/v1beta1""
I was deployed Gardener in gcp using landscape.

https://github.com/gardener/garden-setup

everything was successful but when creating seed cluster, im getting below error.

kubectl apply -f seed.yaml
secret/seed-gcp unchanged
error: unable to recognize "seed.yaml": no matches for kind "Seed" in version "garden.sapcloud.io/v1beta1"

Also, in the dashboard, I'm getting error "Failed to fetch the cl

[2019-05-22 07:46] vlerenc opened #1026 "New Alerts on ETCD DB Size (warning if predictive too large soon and error if too large)"
**What would you like to be added**:
We have seen end users that by accident (bug) were flooding ETCD. A failure is consequently not the fault of Gardener.

**Why is this needed**:
We'd like to warn the end users about their approaching doom and to silence alerts on our end if ETCD is simply beyond our limits that we can manage today.

**Current limit**
We may want to question the performance coll

[2019-05-22 08:49] freegroup opened #1027 "Link to configuration of SMTP alerting is broken"
The page [Cluster Alert Configuration](https://github.com/gardener/gardener/blob/master/docs/usage/shoots.md#configure-a-shoot-cluster-alert-receiver) describes how to setup an SMTP alert for the shoot.

Unfortunately, the link to the configmap example is broken.

<img width="919" alt="Bildschirmfoto 2019-05-22 um 10 45 13" src="https://user-images.githubusercontent.com/1155039/58160427-bff8fc00-7

[2019-05-22 09:17] freegroup commented on #1027
I moved the page to the Gardener Landing Page

 - [Rendered Version](https://gardener.cloud/050-tutorials/content/howto/create-delete-shoot/) for the enduser
 - [Markdown Version](https://github.com/gardener/documentation/blob/master/website/documentation/050-tutorials/content/howto/create-delete-shoot/_index.md) to edit/update the content

I think it is a good idea to delete the page https://gith

[2019-05-23 12:20] afritzler opened #1030 "Allow to configure scale-down-utilization-threshold for cluster-autoscaler"
**What would you like to be added**:
By default the scale down of a node happens when the utilisation of CPU/RAM goes below 50% [0]. It would be great to expose the `scale-down-utilization-threshold` flag as a shoot configuration option in the spec.

[code]

**Why is this needed**:
If a customer knows exactly how his workload looks like, he might be able to run his shoot cluster more cost efficien

[2019-05-23 14:27] freegroup opened #1031 "Change the slogan in the github org of the gardener"
Change the *botanist* slogan to the new slogan

**Universal Kubernetes at Scale**

![Bildschirmfoto 2019-05-23 um 16 23 39](https://user-images.githubusercontent.com/1155039/58260931-a7b8d800-7d77-11e9-81bf-4d631c2d93f8.png)

[2019-05-23 15:19] marwinski opened #1032 "Calico version 3.7.2 breaks networking on Azure"
**What happened**:

Pull request https://github.com/gardener/gardener/pull/1018 breaks networking on Azure.

**What you expected to happen**:

Pods on different nodes can communicate with each other. They cannot however with this pull request.

**How to reproduce it (as minimally and precisely as possible)**:

Azure (seed) cluster when updated from the old calico version. It may be required to add

[2019-05-23 15:58] dkistner commented on #1032
Up to Calico 3.4.0 it use the cidr ranges on the node object which is controlled by the cloud controller manager. CCM uses this range to propagate the routing table. We verified Calico 3.7.2 uses different ranges. Also seen on Azure and AWS.
Since the node cidr is used to propagate the route table on Azure this breaks networking.
On AWS the CCM does not use the information in the route table.

[2019-05-23 18:56] vlerenc commented on #1031
Done.

[2019-05-23 18:56] #1031 closed, assigned to nobody

[2019-05-24 07:31] timuthy commented on #1032
Calico IPAM (https://github.com/gardener/gardener/pull/1018/files#diff-9db9994a19aaf3eff63107a3e00c85d6R33) does not work on Azure.

Unfortunately, the [recommended](https://docs.projectcalico.org/v3.7/reference/public-cloud/azure) Azure IPAM plugin does also not work in combination with the Calico plugin.
If we want switch from `host-local` IPAM on Azure we're also required to switch to Azure CNI

[2019-05-27 15:07] #1032 closed, assigned to timuthy

[2019-05-28 19:01] ialidzhikov commented on #1027
Why the same content is duplicated in gardener/documentation repo? Can't we just reference from gardener/documentation the docs/usage/shoots.md file in gardener/gardener?

[2019-05-28 21:20] freegroup commented on #1027
I can link any "md" file. But unfortunately the files are moved or delete without notice and
the documentation is broken.

Question: why this "md" exists? We can maintain just the file in the documentation repo.
or?

[2019-05-29 11:01] #1030 closed, assigned to nobody

[2019-05-30 06:26] nikhilsap opened #1050 "Could not create route for hollow node in kubemark"
**What happened**:
I have implemented kubemark in gardner, using kubemark's pre-existing cluster configuration.
As a part of framework, the hollod-pods got deployed in the cluster and registered as nodes also.
But when i do `kubectl describe node hollow-node`,i can see this error.

`Warning FailedToCreateRoute 9s route_controller Could not create route f26a850b-81ee-11e9-a072-b2f06bc2a29d 100.96.9

[2019-05-30 06:29] nikhilsap commented on #1050
/kind support

[2019-05-30 14:20] IliyanVidenov opened #1051 "Gardener dashboard does not show the right cluster status"
Adding an annotation "shoot.garden.sapcloud.io/ignore: true" changed the status of the shoot to "Reconciliation Deactivated" but the reconciliation didn't stop on Canary landscape.

[2019-05-30 14:34] ialidzhikov commented on #1051
Thanks for reporting.
An issue about that already exists in gardener/dashboard repo - gardener/dashboard#386. You could subscribe for it.

I think we can close this one as duplicate.

[2019-05-30 14:36] IliyanVidenov commented on #1051
Okay, thanks for the fast response. I'm closing it.

[2019-05-30 14:36] #1051 closed, assigned to nobody

[2019-05-30 14:43] IliyanVidenov opened #1052 "Adding an annotation "shoot.garden.sapcloud.io/ignore: true" didn't stop reconciliation on Canary landscape."
**What happened**: The Shoot reconciled again.

**What you expected to happen**: The shoot should stop its reconciliation

**How to reproduce it (as minimally and precisely as possible)**: Add "shoot.garden.sapcloud.io/ignore: true" to your cluster and it will reconcile again

**Anything else we need to know?**:
I am part of the Continuum team. Our Shoots should not reconcile, or better, they shou

[2019-05-30 19:16] ialidzhikov commented on #1052
Thanks for reporting.

As described in #1035

and you hit this case.

The issue for reconciling only in maintenance time window is #251.

[2019-05-31 07:04] IliyanVidenov commented on #1052
As I understand, this is not possible on Canary for now. I don't know much about Gardener implementation but what about moving this property to the project controller? That way the number of clusters which are out of sync would be reduced and it won't be necessary to stop overriding the sync period on a whole landscape.

[2019-05-31 07:09] rfranzke commented on #1052
Hi @IliyanVidenov, this feature was originally only meant for development purposes (and is still). We cannot allow this to be used on productive landscapes. If clusters are not reconciled for various weeks we cannot ensure anymore that we can update them with newer Gardener versions. For example, take the recent etcd volume migration: The migration code has been introduced with the last version an

[2019-05-31 08:11] IliyanVidenov commented on #1052
Hi @rfranzke, basically we need the feature described in #251. Unfortunately, as I understand the task is blocked for now but we need #251 working (or something similar to it) in August.

[2019-05-31 10:37] nikhilsap commented on #1050
We have tweaked the cloud controller flag `--configure-cloud-routes="false"` and stopped the reconciliation in the cluster.
We are now able to deploy the hollow-pods and those pods are registered as hollow-nodes in the cluster and able to schedule normal pods in the hollow-nodes.

![image](https://user-images.githubusercontent.com/41104107/58700539-effe7880-83bd-11e9-99cb-2589d76ba023.png)

Thanks

[2019-05-31 12:22] #730 closed, assigned to timuthy

[2019-05-31 13:01] #728 closed, assigned to afritzler, adracus, zanetworker, rfranzke

[2019-05-31 16:03] vpnachev opened #1055 "Enhance lastError with timestamp"
**What would you like to be added**:
The lastError field currently has a `description` and `codes` fields https://github.com/gardener/gardener/blob/8969ff71e9549a5b2fb4255f408afaad097ab488/pkg/apis/core/types_common.go#L34-L40

A timestamp field similar to the one in `lastOperation` https://github.com/gardener/gardener/blob/8969ff71e9549a5b2fb4255f408afaad097ab488/pkg/apis/core/types_common.go#L76

[2019-05-31 18:57] mvladev opened #1056 "Nginx deprecation, first step."
Nginx controller is deprecated for a while. While it would no longer be deployed to end-users in the future, we must provide a escape hatch and backwards-compatible way for users to run their own Ingress controllers while keeping the `*.ingress.<shoot-name>.<project>.shoot.<domain>` as an entry point.

I would recommend the following additional field `DeployController` to be added to the Nginx ing

[2019-05-31 21:00] vpnachev commented on #1056
The nginx controller was dedeprecated in the dashboard https://github.com/gardener/dashboard/pull/388, while it was disabled by default in the gardener core #837.
So at the moment it is a bit confusing, but as far as I know the deprecation is stopped atm.

Accordingly to gardener core, it the nginx controller is deprecated and the default should be `false`, not `true`.

[2019-06-03 06:44] mvladev commented on #1056
This is not a backwards-compatible change.

[2019-06-04 10:06] #546 closed, assigned to hardikdr, prashanth26

[2019-06-04 10:13] #984 closed, assigned to nobody

[2019-06-04 11:17] #996 closed, assigned to nobody

[2019-06-04 11:18] #1052 closed, assigned to nobody

[2019-06-04 11:19] rfranzke commented on #1020
Probably, the Gardener API server is not running properly. Please raise an issue in gardener/garden-setup.

[2019-06-04 11:19] #1020 closed, assigned to nobody

[2019-06-04 11:22] #729 closed, assigned to rfranzke

[2019-06-04 12:31] #987 closed, assigned to nobody

[2019-06-06 09:07] #356 closed, assigned to danielfoehrKn

[2019-06-06 15:22] adracus opened #1070 "Cert Manager Extension cannot be cleaned up when shoot deletes"
**What happened**:
Cleaning up the extensions for a deleting Shoot with Cert Manager errors with
[code]

**What you expected to happen**:
The Shoot should be properly deleted.

**How to reproduce it (as minimally and precisely as possible)**:
Create a Shoot with Cert Manager enabled. Delete it again. This only happens for some of the clusters.

**Anything else we need to know?**:
I anticipate this

[2019-06-07 08:15] timuthy commented on #1070
Fixed in #1071

[2019-06-07 08:15] #1070 closed, assigned to nobody

[2019-06-07 09:27] afritzler opened #1073 "Support Service Account Token Volume Projection"
**What would you like to be added**:
Allow the user to configure the following flags on the `kube-apiserver`
[code]
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

For clusters older than `1.12` the `ServiceAccountTokenVolumeProjection` feature gate needs to be activated .

[2019-06-07 14:24] adracus opened #1074 "Shoot with no infrastructure but worker migration cannot be deleted"
**What happened**:
Tried to delete a shoot that was created with an old Gardener version. The Shoot was hanging waiting for its infrastructure to reconcile.

**What you expected to happen**:
The Shoot should be deleted. Also, there should be no infrastructure migration necessary as the shoot never had a functioning one.

**How to reproduce it (as minimally and precisely as possible)**:
Create a Sh

[2019-06-07 14:31] timuthy opened #1075 "Support deletion for unscheduled shoots"
**What happened**:
If a shoot hasn't been scheduled yet, it is not possible to delete it.

**What you expected to happen**:
Deletion happens immediately, i.e. finalizer is removed from shoot.

[2019-06-11 08:42] #873 closed, assigned to mvladev

[2019-06-11 09:08] mvladev opened #2143 "Run all `make` commands in container."
All `make` commands require various dev resources to be available:

- `golang`
- `helm`
- various `gnu` utils  such as `tar`, `gzip`, `tr`, `base64`, `cut`, `find`, `grep`, `xargs`.
- `gingo`
- linters.

I think that the most reasonable way to get reproducible builds and things such as `make generate` is to run those commands in a pre-build container image.

[2019-06-11 10:44] #1074 closed, assigned to adracus

[2019-06-11 13:35] ThormaehlenFred commented on #985
Hi, is it possible to do the assessment in Checkmarx until 18.06.2019?

[2019-06-11 14:05] rfranzke commented on #985
Done

[2019-06-11 14:05] #985 closed, assigned to nobody

[2019-06-11 15:45] #939 closed, assigned to nobody

[2019-06-12 09:03] #373 closed, assigned to nobody

[2019-06-12 10:35] #1075 closed, assigned to timuthy

[2019-06-12 11:37] ialidzhikov opened #1089 "Shoot stuck in deletion in a edge case"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Shoot and ensure that the creation passes successfully.
2. HIbernate the Shoot and ensure that all CP components are scaled down to 0.
3. Un-hibernate the shoot and trigger the deletion in the same time.
4. Ensure that the deletion stucks in `Initializing connection

[2019-06-12 11:39] rfranzke commented on #1089
cc @timuthy
i guess we can easily resolve this when you introduce the new field in the shoot status that indicates whether the shoot is really hibernated or not (while the `.spec.hibernation.enabled` just defines the desired state from the user)

[2019-06-12 11:46] timuthy commented on #1089
@rfranzke absolutely! I'll take care of this. Thanks for reporting @ialidzhikov.

[2019-06-12 15:38] ialidzhikov opened #1096 "Umbrella issue for go modules"
[golang/dep](https://github.com/golang/dep) is no longer the official tool for dependency management in the community. Go 1.11 adds preliminary support for a new concept called "modules", an alternative to GOPATH with integrated support for versioning and package distribution. Using modules, developers are no longer confined to working inside GOPATH, version dependency information is explicit yet

[2019-06-13 22:54] ialidzhikov opened #1100 "Clean up of Shoot resources with finalizers"
Currently the Shoot deletion could be be blocked at `Cleaning kubernetes resources
` step if there is a controller and various objects have finalizers of this controller. The deletion flow can delete the controller pods and the objects with the finalizer can hang.

I managed to reproduce with rancher chart installation:
1. Create a Shoot.
2. Follow the steps at https://rancher.com/docs/rancher/v2.

[2019-06-17 08:36] afritzler opened #1107 "Allow to set the Node CIDR Mask Size in Shoot Spec"
**What would you like to be added**:
Currently the default CIDR mask size for a singe node is set to 24 which results in 255 allocatable Pod IPs per node.
[code]
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/
It would be great if you could set this number in the Shoot spec.

**Why is this needed**:
In case you are creating large node machines, it might b

[2019-06-17 11:22] marwinski opened #1109 "Provide Network Extensibility"
As a user operating a Gardener landscape I want to have a choice of using the optimal Kubernetes network provider for the used cloud provider(s) as well as the best network provider for my particular use case.

We currently only support Calico as network provider. This is for example problematic for Azure where it is not officially supported (although it does work). New and specialised network pro

[2019-06-18 05:07] KesavanKing commented on #1107
I changed the default value and it works for me. Able to allocate more pods per node.

[2019-06-18 13:43] schrodit opened #1112 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-06-19 09:32] vasu1124 opened #1115 "Support to customize CoreDNS"
**What would you like to be added**:
We need the ability to add stub domains or change the CoreDNS configuration file without corrupting the DNS baseline of the shoot setup.

Currently any change to the CoreDNS configuration is reconciled and reset.

The Azure folks have a good extension mechanism described here:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/coredns-custom.m

[2019-06-19 15:19] danielfoehrKn opened #1117 "Allow to opt-out of automatic machine image upgrades until a forced update time"
Currently every day in the maintenance time window, the  maintenance controller updates the shoots's image name and version to the version specified in the CloudPfrofile. This means every day there can be an update to the OsImage.

**What would you like to be added**:

- To give shoots the option to explicitly opt-out of the daily os update. Default is update os daily.

  - For Legacy shoots we as

[2019-06-19 21:43] ialidzhikov opened #1118 "Support for Kubernetes v1.15.0"
WIP: https://github.com/gardener/gardener/tree/feature/kubernetes-1.15

[2019-06-19 22:41] ialidzhikov opened #1119 "calico-kube-controllers is in CreateContainerConfigError when allowPrivilegedContainer is false"
1. Create Shoot with `.spec.kubernetes.allowPrivilegedContainers: false`.
2. Ensure that
[code]

[2019-06-20 07:04] rfranzke commented on #1119
Nice finding. Do you want to take that over @ialidzhikov and add the missing PSPs? @mvladev can probably consult and help!

[2019-06-20 07:06] rfranzke commented on #1117
Great summary @danielfoehrKn, sounds good. Only one thing, let's please rename `.spec.maintenance.autoUpdate.osVersion` to `.spec.maintenance.autoUpdate.machineImageVersion` (because the field in the shoot spec is also called `machineImage`).

[2019-06-20 07:07] rfranzke commented on #1117
Also, what do you think about renaming `expirationDate` in the `CloudProfile`? Something more meaningful that clearly tells the end-user what will happen at this time, e.g. `forceUpdateTime` or sth similar?

[2019-06-20 07:10] rfranzke commented on #1115
We already had a similar request in the past and we might allow customization of CoreDNS in the future (needs to be discussed how in detail that would look like/work).
As suggested by @mvladev, in the meantime, users can deploy their own CoreDNS deployment with their custom configuration. All the pods that require this custom CoreDNS can be started with a different DNS server than the default one

[2019-06-20 07:11] rfranzke commented on #1055
+1, are you interested in taking this @vpnachev?

[2019-06-20 07:13] mvladev commented on #1119
I've fixed it in #1120 , but I'll file a PR upstream to fix it in calico, so we don't need this PSP anymore.

[2019-06-20 09:52] vpnachev commented on #1055
Yes, I will take it.

[2019-06-20 10:03] ialidzhikov commented on #1055
This will allow also in the [gardener/dashboard](https://github.com/gardener/dashboard) to have 2 different times - one for the time elapsed since the lastError and one for the time elapsed since the lastOperation.
Currently it's a little bit misleading because the dashboard shows the lastOperation time under the Error and for errors that happened 10m ago and now fixed, it could show `a few second

[2019-06-20 15:57] zanetworker commented on #1115
@vasu1124 in the case of istio, the `istio-dns` service needs to get a pre-assigned cluster-ip and any pod that starts in an istio context needs to be assigned the `istio-dns` server ip via `dnsConfig`.

[2019-06-21 10:48] #251 closed, assigned to adracus

[2019-06-21 11:28] #1119 closed, assigned to ialidzhikov, mvladev

[2019-06-23 08:39] vasu1124 commented on #1115
I understand it as workaround.
@zanetworker @mvladev: Do you know if you can adjust the istio mutation controller to also inject/modify the Pod DNS configuration?
If not, then this puts the responsibility of setting the `istio-dns` link to whoever applies workloads. And that would not be satisfactory.

[2019-06-24 06:28] #1055 closed, assigned to nobody

[2019-06-24 07:00] mvladev commented on #1115
@vasu1124  - it already does that - you can configure it as you like as you can provide an injection template:

https://github.com/istio/istio/blob/9bfe0c000ca299c338d2654844e77a074ec5e1e7/install/kubernetes/helm/istio/files/injection-template.yaml#L345-L351

[2019-06-24 09:22] mvladev opened #1135 "One API Server LB per Seed for all Shoots"
Replace `LoadBalancers` per Shoot kube-apiserver with SNI passthrough  proxy.

## Pros

- Greatly reduce IaaS provider costs. For example `network loadbalancer` on AWS costs at minimum 17 USD / month
- No IaaS quota constraint.
- Support for better loadbalancing [algorithms than round-robin ](https://www.envoyproxy.io/docs/envoy/v1.10.0/intro/arch_overview/load_balancing/load_balancers#supported-l

[2019-06-24 11:17] marwinski commented on #1135
There is one challenge: the kubelet uses the ip address and not the host name so SNI will not work here. You probably need to set a up proxies in the shoot cluster (possibly one per host) that captures the requests and redirects them to a FQDN.

Anyway, I have closed the internal issue so this is the master issue now.

[2019-06-24 11:53] mvladev commented on #1135
Where are you getting this from?

I've the following kubeconfig:

[code]

And I'm running kubelet with

[code]

And after that kubelet runs successfully:

[code]

Are you referring to https://github.com/kubernetes/kubernetes/issues/79280 ?

[2019-06-24 14:00] vasu1124 commented on #1115
@mvladev @zanetworker @rfranzke
I tried out the workaround setup.
What did we do?
a) adjusted istio-cordns to proxy to kubernetes-dns
[code]
b) adjusted the injection template to produce pods with
[code]

These issues are making the proposed workaround unfeasible.

[2019-06-24 14:22] #1118 closed, assigned to rfranzke

[2019-06-24 14:44] mvladev commented on #1115
If we are looking for full configuration extensibility, then I'll suggest to have something like this in the gardener cluster:

[code]

using selectors end-users can select which DNS configuration applies to which clusters.

[code]

[2019-06-24 15:43] rfranzke opened #1137 "Extract network policy tests to gardener/gardener-extensions"
**What would you like to be added**:
We should move all [network policy tests that are provider-specific](https://github.com/gardener/gardener/tree/master/test/integration/seeds/networkpolicies) to their dedicated repositories. Currently, we develop all extensions in https://github.com/gardener/gardener-extensions, hence, let's move them there.

**Why is this needed**:
We are progressing with exte

[2019-06-24 15:44] rfranzke opened #1138 "Add calico-kube-controller deployment to shoot care health check"
**What would you like to be added**:
The new `calico-kube-controller` deployment should be added to the health check performed by the shoot care controller.

**Why is this needed**:
Better observability.

[2019-06-24 19:33] vlerenc commented on #1135
👍

If this works reliably (also for horizontally scaled shoot API servers), this would be a huge win for Gardener. Thank you! You can add to your pro points also that then Gardener would be "compatible" also with infrastructures with poor LBaaS implementations. We have some demand in this regard and such a solution - if we in addition/later solve also the VPN question elegantly - greatly reduces s

[2019-06-25 06:06] #881 closed, assigned to nobody

[2019-06-25 07:12] marwinski commented on #1135
@mvladev, sorry the hint with the kubelet was wrong. The real problem appears to be the Kubernetes service as requests will not contain a valid api server domain name but ```kubernetes``` or ```kubernetes.default```.

[2019-06-25 07:15] mvladev commented on #1135
@marwinski have a look at https://github.com/kubernetes/kubernetes/pull/79312
Hopefully I'll be able to backport it to other versions

[2019-06-25 07:20] marwinski commented on #1135
wow, I am impressed

[2019-06-25 21:37] ialidzhikov commented on #1027
or?

Yep, operations/end user docs can be/should be moved and maintained in g/documentation. After gardener/documentation#51 is resolved, we can remove the `docs/usage/shoots.md` file.

[2019-06-26 10:05] #1138 closed, assigned to mvladev

[2019-06-26 10:52] vlerenc opened #1150 "Schedule Critical Shoot Cluster `kube-system` Pods with High Priority"
**What would you like to be added**:
We schedule critical shoot cluster `kube-system` pods with extensive tolerations, but not yet with high priority, so our pods may starve.

**Why is this needed**:
Proposal by @cbarbian-sap: How about scheduling them with higher priority?

[2019-06-26 13:01] vlerenc opened #1151 "Allow to Defer Reconcilation/Maintenance to Next Maintenance Time Window/24h"
# Story
- As shoot cluster owner I want to defer the next reconciliation/maintenance to the next maintenance time window or by at most a day/24h, so that I can avoid planned or unplanned cluster outages.

# Motivation
At present we run only zonal clusters and we know that during maintenance of either the seed or the shoot the control plane may become unavailable for a minute or so. Most use cases

[2019-06-26 18:51] cbarbian-sap commented on #1150
That would at least allow gardener pods to evict other workloads if necessary. What about doing both (i.e. scheduling gardener pods in kube-system with priorityclass system-cluster-critical/system-node-critical + offering an optional section in the shoot yaml to specify tolerations/affinities/nodeselectors for the gardener workloads) ?

[2019-06-27 08:18] #1027 closed, assigned to nobody

[2019-06-27 12:22] kayrus opened #1155 "Remove the corresponding seed object, when the seed-shoot cluster is removed"
**What would you like to be added**:

seed cluster (shoot with the `shoot.garden.sapcloud.io/use-as-seed: "true,visible,unprotected"` annotation) removal has to remove the seed object.

**Why is this needed**:

Seed clusters are usually created using the: `kubectl create -f seed-region.yaml` command. The removal is performed the same way: `kubectl delete -f seed-region.yaml`. However when the seed

[2019-06-27 14:16] ialidzhikov opened #1156 "Documentation issue on page "https://gardener.cloud/about/""
The about page is not properly displayed. See the screenshot below.

![Screenshot 2019-06-27 at 17 11 50](https://user-images.githubusercontent.com/9372594/60273599-2832a180-98ff-11e9-8a88-6aeef11bb293.png)

/cc @freegroup

---
Page: https://gardener.cloud/about/
don't remove the link to the page. It's required for the processor

[2019-06-27 20:23] ialidzhikov commented on #1118
From [Supported releases and component skew](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew):

Supported versions of some k8s providers by the time of writing this:
- GKE - 1.11, 1.12, 1.13
- EKS - 1.10, 1.11, 1.12, 1.13
- AKS - 1.10, 1.11, 1.12, 1.13, 1.14 (preview)
- [RKE](https://github.com/rancher/rk

[2019-06-28 05:43] vasu1124 commented on #1156
@OlegLoewen

[2019-06-28 07:01] OlegLoewen commented on #1156
Will look at this with @freegroup together

[2019-06-28 13:40] RaphaelVogel opened #1157 "Prevent accidental deletion of infrastructure shoot/seed clusters"
**What would you like to be added**:
If rbac is disabled in the garden cluster, users could accidental delete seed clusters.
To prevent this, garden API server should not start, if a call to `SubjectAccessReview` with an arbitrary user trying to delete the seed cluster succeeds.

**Why is this needed**:
Prevent accidental deletion if infrastructure shoot clusters

[2019-06-28 15:59] kayrus commented on #1155
Here is the proper workflow to delete seed:

[code]

Here is how to remove stale ControllerInstallation, if the seed was removed incorrectly

[code]

[2019-07-01 05:31] #1156 closed, assigned to nobody

[2019-07-01 10:42] mvladev commented on #1157
Gardener API server should not be aware of such authorization assumptions.

`RBAC` is not a requirement for running K8S - it's recommended in most of times, but not a requirement.

Such setup issues should be enforced via `Webhook` Authorization or dynamic admission controls.

[2019-07-01 12:29] mvladev opened #1161 "Introduce a new OpenID Connect configuration resource(s)"
# Introduce new OpenID Connect configuration resource(s)

Gardener offers clusters with OpenID Connect (OIDC) not configured by default.

Offering a way to (optionaly) inject OIDC configuration on `Shoot` on creation can dramatically improve the secutity, and it can be used to limit the need for `kubeconfigs` with client x509 certificates and the admin (`system:masters`) certificate.

The solution

[2019-07-02 13:51] danielfoehrKn commented on #1117
Also to consider:

1)  What do you think about making the  ForceUpdateTime optional? A ForceUpdateTime of nil would mean an indefinite lifetime of the osVersion (a shoot never has to update). Or is it preferable that a user has to specify a timestamp?
I would leave it as optional although I have no strong opinion on it.

2) Shoot Migration from the old (name, image) to the new MachineImage format

[2019-07-03 08:59] vlerenc commented on #1117
1. Personally, I like `expirationDate`, but `forceUpdateTime` is also fine.
2. Either way, sure, it's definitely optional. The latest version will never have a `forceUpdateTime`.
3. I thought we wanted option (4), if we have to get rid of a version. What exactly is the dangerous part here? Finding the latest semver? If we validate that all versions comply, then it shouldn't be dangerous, I would t

[2019-07-03 09:14] vlerenc commented on #1161
Can you please motivate a bit more. We have not disabled OIDC. It's just not configured. How will the additional resources help? It's about defaults, right? So `ClusterOpenIDConnectConfiguration` in combination with the mutating web hook are already sufficient, aren't they? So why `OpenIDConnectConfiguration`? In case someone wants to do that on project level for all shoots there, right?

[2019-07-03 09:36] mvladev commented on #1161
It was a wrong wording - I meant "not configured by default".

Yes - it'll mutate the Shoot entity on creation:

If you have

[code]

and the following Shoot entity send to the API server

[code]

after the mutating admission control, the Shoot entity will have the following spec:

[code]

Exactly - its the same reason why you have `ClusterRole` and `Role` in K8S - cluster-scoped and namespace-sco

[2019-07-03 09:45] vlerenc commented on #1161
OK, thanks, sounds like a reasonable improvement towards secure-by-default.

[2019-07-03 10:01] danielfoehrKn commented on #1117
@vlerenc when we create a new shoot without a machineImage or if we (force)update a shoot - we pick the latest semVer Version.

My point is only about the migration of shoots with old MachineImages (the current migration logic does not work anymore with the changes introduced).

[2019-07-03 15:59] kayrus opened #1167 "Gardener reconcile/readiness shoot status doesn't reflect the working VPN"
**What happened**:

If the shoot cluster VPN is not reachable and the `vpn-seed` container inside the `kube-apiserver` pod produces error logs:

[code]

This error is not reflected in the overall shoot cluster status:

[code]

And when user want to use `kubectl logs` or `kubectl exec`, this operation will timeout and user won't be able to understand why.

**What you expected to happen**:

I expect

[2019-07-04 11:54] rfranzke commented on #1117
Regarding 1: It must be optional anyways as we add a new field to the API. +1 for `expirationDate`.

Regarding the migration: Can you explain again what you mean? I don't get it. Why should we change the scheme from `(name, version)`? Why is any migration needed/does not work anymore?

[2019-07-04 12:19] danielfoehrKn commented on #1117
Discussed with @rfranzke the [migration code ](https://github.com/gardener/gardener/blob/05932afc42bf798ca16429d77d85f672623b24c5/pkg/controllermanager/controller/shoot/shoot.go#L340) should be removed instead. Updates from a pre-Extension version to the newest version are not possible/discouraged anyways.

[2019-07-05 06:42] ialidzhikov commented on #1096
From [Go modules wiki in golang/go](https://github.com/golang/go/wiki/Modules):

[2019-07-05 09:12] rfranzke commented on #1167
@adracus WDYT about enhancing the `SystemComponents` condition to make it only `True` if the VPN works?

[2019-07-05 09:13] rfranzke commented on #1157
Technically it's not required, true, but some installations (like ours) want to enforce that it's enabled. We can make it configurable whether the gardener-apiserver should crash if RBAC is not enabled (and default it to `false`).

[2019-07-05 09:16] george-xiao-sap opened #1174 "Unable to Deploy Gardener on local Kubernetes"
**What happened**:
when I follow the instruction of “Deploying the Gardener into a Kubernetes cluster”，
I execute command “helm install charts/gardener --debug --namespace garden --name gardener --wait ” in the path of gardener which is the master branch I download at 2019-7-5.

I get the following error:

[debug] Created tunnel using local port: '36441'

[debug] SERVER: "127.0.0.1:36441"

[debug]

[2019-07-05 09:17] adracus commented on #1167
The `SystemComponents` condition only reflects what the various system component `Deployment`s, `StatefulSet`s and `DaemonSet`s report back - I think that this means that probably our health checks for the VPN are not good enough so its `Deployment` does not report that it's not working. We'll have to improve that I guess.

[2019-07-05 09:18] mvladev commented on #1157
RBAC can be enabled / disabled at any given time. Check during API server start is not sufficient.

The proper way is to add `ValidatingWebhookConfiguration` and have a dedicated dynamic admission which can actually check for `RBAC`.

[2019-07-05 09:19] rfranzke commented on #1174
I cannot reproduce this. Is this a local issue with your system? The Gardener Helm chart contains symlinks, e.g. https://github.com/gardener/gardener/blob/master/charts/gardener/charts/utils-templates ?

[2019-07-05 09:20] rfranzke commented on #1100
@adracus I understood that this is desired for the moment, right? We only forcefully delete the CRDs or APIServices, correct?
Should we forcefully remove finalizers from all resources after `5m`? What speaks against this?

[2019-07-05 09:22] rfranzke commented on #1167
Hm, not sure whether that's the correct way. The vpn-shoot deployment itself is fine (it functions as OpenVPN server and is ready and ready to accept incoming connections). It's just that the vpn-seed cannot (yet?) connect to it. I don't think we should include this information in the `Deployment` status of the vpn-shoot.

[2019-07-05 09:24] adracus commented on #1100
Yes, that's right. What speaks against this: Until now, by doing this and manually investigating for each 'stuck' Shoot, we 'protected' our customers from deleting unwanted resources by pinging them if some of them had an issue. However, since we anyways also finalize `CRD`s and `APIService`s, I'd also be up to finalizing the remaining resources.

[2019-07-05 09:24] rfranzke commented on #1157
Yes, true, but this requires a restart of the kube-apiserver. The gardener-apiserver probably won't restart in this case but just re-establish the connection.

Can you explain in detail how this should look like? Which rules should the webhook have? What should it do? How does it deal with the dynamic enable/disable behaviour of RBAC?

[2019-07-05 09:26] adracus commented on #1167
I mean I'm just looking at the health-checking code: This code does not have any client to do real checks in the cluster and that's by design - it should see 'declaratively' whether there's an issue or not. In the case of the VPN, I'd probably then rather recommend to have an operator that takes care of setting up the 'network bridge' between Seed and Shoot and that this one is the one thing that

[2019-07-05 09:26] rfranzke commented on #1100
Yes, I guess that's the point. We already do this for CRDs and APIServices, so, with the same argument/reasoning we can do it for everything else as well, I think.

[2019-07-05 09:29] george-xiao-sap commented on #1174
I delete my local branch, and try again. The error is not happen.
Maybe my local branch has errors.
Many thanks.

[2019-07-05 09:29] #1174 closed, assigned to nobody

[2019-07-05 09:31] rfranzke commented on #1167
Hm, I didn't get the motivation for such an "operator". Why should we do this? The VPN is a core component in the Gardener architecture. IMHO there is nothing bad in compiling the health checking logic in the regular care controller. Did I miss something?

I don't get this as well - we have the shoot client when checking the system components. The only thing we need to do is trying to open a port-

[2019-07-05 14:09] mvladev commented on #1157
It should probably be something like

[code]

It'll periodically execute

[code]

and store the result in a global variable. That variable is going to be checked later on on every single admission request. If it's false, then the admission requests is going to be denied.

[2019-07-08 11:46] afritzler opened #1182 "Prevention of Garden namespace deletion when deleting Project"
**What would you like to be added**:
Since we are currently treating the `garden` namespace and project kind of "special" it would make sense to prevent the `garden` namespace deletion when the `garden` project has been removed. Can't we just remove the `project` but leave the namespace as is and leave it to the user to remove it.

**Why is this needed**:
Currently people are blowing up their land

[2019-07-09 14:52] jia-jerry opened #1190 "Check for seed and shoot network overlap"
**What happened**:
I create a shoot by explicitly specifying a seed. The network setups of shoot and seed are exactly the same. The shoot will fail because of kube-apiserver failure.
**What you expected to happen**:
The shoot should not be created. API validation should prevent it from creating.

[2019-07-09 14:59] shturec opened #1191 "gardener/pkg/client/kubernetes Clientset with fake clients in extension controller tests"
**What would you like to be added**:
Fake clients implementation for the `Interface` interface in gardener/pkg/client/kubernetes.

**Why is this needed**:
This is the all-purpose client that is most likely to be used by extension controllers. While there are already `fake` packages for the particular clients, there is no easy way to fake this interface. It is implemented by the `Clientset` struct

[2019-07-10 05:55] hoeltcl opened #1193 "Deploy multiple Gardener API server with node Anti-affinity"
**What would you like to be added**:
Deploy multiple Gardener API servers with Node Anti-Affinity
(https://github.com/gardener/gardener/blob/master/charts/gardener/charts/runtime/templates/deployment-apiserver.yaml)
**Why is this needed**:
This is required to make Gardener API server fail safe.

[2019-07-10 07:12] ialidzhikov commented on #1190
I had no success reproducing this:
[code]

https://github.com/gardener/gardener/blob/3ef3b2d70f40a05a5fb1b2ea36f614351e952fd4/plugin/pkg/shoot/validator/admission.go#L343-L345

Can you outline some steps to reproduce?

[2019-07-10 07:25] jia-jerry commented on #1190
@ialidzhikov , I reported this issue by mistake. Everything is fine. Thank you for your check. I will close this issue.

[2019-07-10 07:25] #1190 closed, assigned to nobody

[2019-07-10 07:54] ialidzhikov opened #1194 "Deletion issue in corner case"
Shoot hibernated with older version of gardener fails to delete with `0.26.2`.
[code]

As a workaround creating a sample deploy with the same name (`gardener-resource-manager`) does the trick.
[code]

[2019-07-10 15:18] zanetworker commented on #1191
@shturec did you have a look at this: https://github.com/gardener/gardener/tree/master/pkg/mock ?

[2019-07-10 15:33] shturec commented on #1191
No, thanks. I will give it a try. I see the interface I need has been added some 13 days ago. Is that already part of a release or when is that planned?
Still it feels strange why would I need a `gomock` dependency instead of simply having the relevant properties exposed and let people do their thing.

[2019-07-11 07:56] adracus commented on #1194
I think the thing we should rather do is to re-apply the expected components instead of scaling them imperatively - I'll take that one.

[2019-07-11 10:07] plkokanov commented on #1008
/assign

[2019-07-11 13:47] zanetworker commented on #1191
because you can only do so much with Fake clients, Mocking gives you much more leaverage over the API. Regarding the part you are referring to, it was added a long while ago, only refactored recently.

[2019-07-11 16:13] kayrus opened #1205 "Cannot remove shoot, if the credentials are wrong"
**What happened**:

I created the shoot cluster with the wrong credentials and I want to delete it. Unfortunately I can't.

**What you expected to happen**:

I can delete the shoot cluster with the wrong credentials.

**How to reproduce it (as minimally and precisely as possible)**:

Create shoot cluster with the wrong credentials and try to delete it without fixing the credentials, you'll see in

[2019-07-11 20:59] ialidzhikov opened #1206 "Vendor kubernetes-1.16.0"
TODOs:
- Vendor `kubernetes-1.15.0` dependencies
- Get rid of https://github.com/gardener/gardener/pull/1185/files#diff-bfba4cfc0724a744471759c72668a271R40

[2019-07-11 21:48] ialidzhikov opened #1207 "Add validation and proper error message for audit policy apiVersion"
Applying an audit policy with apiVersion that is invalid for the corresponding Kubernetes version of the Shoot (for example `audit.k8s.io/v1` for  versions <= `v1.11`) causes apiserver to fail and no proper err is set to shoot status.
We could introduce a validation about that and set a proper err when needed.

/cc @vpnachev

[2019-07-13 20:34] ialidzhikov commented on #1137
Once this is resolved we can use `gofmt -s` - used in k/kubernetes and suggested by goreportcard.
Ref https://golang.org/cmd/gofmt/#hdr-The_simplify_command .

[2019-07-14 12:12] ialidzhikov opened #1213 "Adopt k/dashboard v2.0.0"
k/dashboard will soon release v2.0.0 with many improvements/changes:
- Changed image registry - `k8s.gcr.io` -> `kubernetesui/dashboard`.
- Frontend has been completely rewritten to use Angular 8.
- ...

Ref to the beta chagelog - https://github.com/kubernetes/dashboard/releases/tag/v2.0.0-beta1 .

[2019-07-15 07:51] zanetworker commented on #1213
@ialidzhikov I think that is already being taken care of by @petersutter.

[2019-07-15 08:16] ialidzhikov commented on #1213
It is about kubernetes/dashboard, not gardener/dashboard.
If it is taken from @petersutter - cool. I just filed the issue and had no intension for now to take it. Btw v2.0.0 is not already released. I suggest to contribute to the addon in k/kubernetes or the official chart in helm/charts first and then to adopt on our side.

[2019-07-15 08:28] zanetworker commented on #1213
okay, seems like @petersutter was just testing it for https://github.com/kubernetes/dashboard/issues/3680, the issue is still open.

[2019-07-15 09:09] schrodit opened #1214 "Shoot cannot be deleted because of unexisting resource-manager"
**What happened**:
A shoot that was created 1 month ago (before the resource manager was introduced) and hibernated since then, could not be deleted.
Gardener is unable to delete the shoot because it tries to scale up the `resource manager deployment` which was never created for the shoot.

**What you expected to happen**:
The shoot clusters can be successfully deleted/wokenup.

**How to reproduce

[2019-07-15 09:13] ialidzhikov commented on #1214
Duplicate of #1194.
You can close in favour of the referenced issue.

[2019-07-15 10:12] #1214 closed, assigned to nobody

[2019-07-15 10:39] afritzler opened #1215 "Remove Last Error when Step has been successfully processed"
**What would you like to be added**:
Currently the last error is being displayed until we either hit another error or the cluster has been successfully reconciled. It would be more useful to remove that last error if we passed this with a successful processed step.

**Why is this needed**:
Improves operator productivity.

[2019-07-15 13:36] janwillies opened #1218 "restrict CIDR range for openvpn-server and bastion host"
**What would you like to be added**:
I would like to limit the CIDR ranges which are allowed to connect to the openvpn-server in the shoot, and the bastion host.

**Why is this needed**:
Currently the openvpn-server in the shoot cluster is open to `0.0.0.0/0`, as is the bastion host. While CIDR limits are often implemented as a security consideration, they have other benefits as well: blocking unw

[2019-07-15 14:32] #1207 closed, assigned to nobody

[2019-07-16 07:05] eladyitz opened #1219 "Gardener Local installation doesn't recognize kind"
**What happened**:
I ran the following commands:
[code]
got:
[code]

**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
see in "I ran the following commands"

**Anything else we need to know?**:
I know what the problem is, see below

**Environment**:
- Travis-CI on GCP
- kind stable
- kubectl stable
- Gardener local master

**Problem in Code**

[2019-07-16 11:02] #1219 closed, assigned to nobody

[2019-07-17 12:40] ialidzhikov opened #1223 "Last operation state not properly updated"
I observe some Shoots with the following strange `.status.lastOperation`:
[code]

Checking the `progress` and `description` it looks like the `Reconcile` was successful but the state is `Failed`.

[2019-07-17 15:12] ialidzhikov opened #1224 "Create network policies for resources in kube-system ns of the Shoot"
End users may deploy network policies which may break connectivity for vpn other system components living in the kube-system ns.

[2019-07-18 15:07] Fabian-K opened #1225 "Change the default storage class of a cluster"
**What happened**:
I provisioned a new storage class to a cluster, removed the `storageclass.kubernetes.io/is-default-class` from the `default-class` and added it to my new storage class. After some time, gardener automatically re-adds `storageclass.kubernetes.io/is-default-class` to `default-class`.

As a result, there are two storage classes marked as default and provisioning new PVCs without sp

[2019-07-19 03:17] vlerenc commented on #1056
We cannot provide backward-compatibility indefinitely, but we also don't want to leave our end users hanging in the air either.

However, it's not backward compatibility we break, if they still can select the nginx addon. Only if they don't, it's gone and then there is also no DNS record anymore, which is fair. When we remove it entirely, having only the DNS record is less then there was before (s

[2019-07-19 06:37] mejuhi opened #1226 "Editing kube-apiserver of Gardener shoot created to enable Kubernetes dynamic-backend auditing"
To enable dynamic audit configuration in the kubernetes cluster which requires adding "--audit-dynamic-configuration" option in kube-apiserver along with additional changes llike adding additional feature gates.

Since in normal kubernetes cluster(not using Gardner) one can edit kube-apiserver manifest file which is saved on path /etc/kubernetes/manifests/kube-apiserver.yaml directly and add all t

[2019-07-19 06:50] ialidzhikov commented on #1226
/cc @shturec

[2019-07-19 06:58] vpnachev commented on #1226
So far the `DynamicAuditing` is in alpha state and this is why we do not want to invest into it. Once it graduates to beta we will take care to provide option to enable it.

[2019-07-19 07:20] mejuhi commented on #1226
Okay, Is there any way to provide  Kubernetes auditing using [webhook ](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#webhook-backend)

It requires "--audit-webhook-config-file" as one of the option.

Is Kubernetes auditing using webhook supported by Gardener v0.22.0 @shturec

[2019-07-19 09:13] ialidzhikov commented on #1223
No clear steps to reproduce for now.

[2019-07-19 09:13] #1223 closed, assigned to nobody

[2019-07-19 09:25] shturec commented on #1226
No configurable way, as far as I know. Audit is a managed feature so in terms of api server audit backend you get what your Gardener hosting service has in store for your shoots (log file by default). And it's not configurable on per shoot basis by the shoot cluster owner. What you can influence is the audit policy.
The plans to make this more flexible are to enable dynamic audit as soon as the fe

[2019-07-19 10:59] bergerx opened #1228 "Enable Virtual network service endpoints for Azure"
**What would you like to be added**:
Virtual network service endpoints for Azure support.

Virtual network service endpoints for Azure requires a specific flag to be set on the subnet (not on VNET, on Subnet) of the nodes. In our case we want the cluster nodes to be able to use this feature and the Subnet needs that flag. But the subnet is configured by Gardener, and our changes are being reverted

[2019-07-19 11:24] bergerx commented on #1228
Seems like my assumption about the GEP-1 not helping with this was right, even with the gardener-extensions we still cant prevent the subnet creation handled by terraformer:
https://github.com/gardener/gardener-extensions/blob/c4c502de484d9ef6333d4f15c807d96740086550/controllers/provider-azure/charts/internal/azure-infra/templates/main.tf#L28

But now since the implementation is now moved to garde

[2019-07-19 11:24] #1228 closed, assigned to nobody

[2019-07-21 12:56] rfranzke commented on #1206
Let's not do this for now so that we first can get rid of the `gardener-extensions-fixes` branch. In order to do this we have to solve https://github.com/gardener/gardener-extensions/issues/163 so that we can update the Kubernetes version in gardener/gardener-extensions to `kubernetes-1.14` (basically, the same version that gardener/gardener's `master` branch is currently referencing). After that

[2019-07-21 13:00] vpnachev commented on #1224
You could check #565, which is basically the same issue as this one.

[2019-07-21 13:03] rfranzke commented on #1224
Yes, let's close this one as a duplicate of #565

[2019-07-21 13:03] #1224 closed, assigned to nobody

[2019-07-21 13:34] rfranzke commented on #1226
Thanks for the explanation and outlook, @shturec. I guess we can close this one then as "won't fix" as we already have different plans using audit sinks.

[2019-07-21 13:34] #1226 closed, assigned to nobody

[2019-07-21 13:39] rfranzke commented on #1213
Do we have to deploy different Kubernetes Dashboard versions for shoots < 1.14? From the release notes I understand that some features might not work for clusters < 1.14.

[2019-07-21 14:47] vpnachev commented on #1193
The chart has already support for a parameter for the number of replicas https://github.com/gardener/gardener/blob/a1e2433c31adc95fca52705fe547190630b9312f/charts/gardener/charts/runtime/templates/deployment-apiserver.yaml#L14

So what needs to be done is to add pod [anti-affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity) to the spec

[2019-07-21 15:23] jicowan commented on #180
@vlerenc the documentation says the seed base cluster must support basic authentication.  The only types of authN that EKS supports is IAM and bearer tokens.

[2019-07-22 03:54] rfranzke commented on #180
@jicowan where do you see this documentation on our side? It's actually wrong - the only contract for registering a seed cluster in gardener is a kubeconfig with no provider specific authentication method (because gardener does not vendor any provider specific plugins that would be needed).
So, if you provide a kubeconfig for your EKS seed containing a bearer token it should work fine.

[2019-07-22 05:47] #1193 closed, assigned to rfranzke

[2019-07-22 09:17] ThormaehlenFred opened #1232 "Only use secure TLS cypher suites"
**What would you like to be added**:
Please only use the following secure TLS cypher suites:
1. TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
2. TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
3. TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
4. TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA

**Why is this needed**:
With Gardener PR [#428](https://github.com/gardener/gardener/pull/428) we removed insecure cipher suites and have written

[2019-07-22 12:34] jicowan commented on #180
@rfranzke thanks for clarifying.  I found it here, step 6, https://github.com/gardener/garden-setup.  "If you created the base cluster using GKE convert your kubeconfig file to one that uses **basic authentication** with Google-specific configuration parameters:"  I tried installing on a KOPS clusters with `sow` but kept failing at the **seeds** step with this error:
[code]

When I tried the YAML

[2019-07-22 14:36] #1112 closed, assigned to nobody

[2019-07-22 14:40] rfranzke commented on #180
@Diaphteiros @mandelsoft can you assist here with this sow error?

[2019-07-22 15:21] plkokanov commented on #1215
/assign

[2019-07-22 15:38] rfranzke commented on #1225
I don't think we can implement this easily. The extension controllers will create the storage classes and will pick one that is the default class. After that, these manifests are given to the resource-manager who will apply them every minute or so. The resource-manager itself is not aware of what it applies, i.e., it doesn't know about the context. However, it would need to know to fix "this issue

[2019-07-22 15:38] #1225 closed, assigned to nobody

[2019-07-22 16:42] #1008 closed, assigned to nobody

[2019-07-23 06:35] #604 closed, assigned to nobody

[2019-07-23 06:36] #516 closed, assigned to nobody

[2019-07-23 06:38] rfranzke commented on #886
Closing as it's done.

[2019-07-23 06:38] #886 closed, assigned to nobody

[2019-07-23 06:38] #892 closed, assigned to nobody

[2019-07-23 06:40] rfranzke commented on #1215
@plkokanov you assigned yourself, what are your plans?

[2019-07-23 07:16] vlerenc commented on #2146
@alexellis That would be awesome! Just a few weeks ago Packet Cloud contributed their support (with the old in-tree extension model - the new one has progressed a lot and @rfranzke has more information for the new out-of-tree extension model). DigitalOcean is a great platform, so of course we would be very interested!

[2019-07-23 07:31] Diaphteiros commented on #180
@jicowan Based on your error message, the structure of the credentials in one of the entries of `landscape.iaas` seems to be wrong. You can find information about the correct structure for the credentials here: https://github.com/gardener/garden-setup/blob/master/README.md#landscapeiaas

If you can't figure out what is wrong, post the `landscape.iaas` node of your acre.yaml (obfuscate sensitive in

[2019-07-23 08:41] plkokanov commented on #1215
@rfranzke Still coming up with a good way to do it. Checking both the gardener and gardener-extensions code.
If you have anything in mind I'm open to suggestions/help :)

[2019-07-23 09:00] rfranzke opened #1240 "Redeploy components instead of simply scaling them up when deleting hibernated shoot"
**What would you like to be added**:
From #1194:

**Why is this needed**:
When we introduce new components we should ensure that they are available in case we delete a hibernated shoot.

[2019-07-23 09:00] rfranzke commented on #1194
With #1239 we will always deploy the GRM which will help with the problem.

For the future I guess what @adracus suggested is the right way. I opened #1240 and assigned him to track the status.

[2019-07-23 09:03] rfranzke commented on #1215
The only idea I have is: We would need to store in the `LastError` structure at which task of the flow it failed. Then we could reset it after we have passed this task.
For the extensions this is not easily possible because we rarely use the flow there.

[2019-07-23 09:04] amshuman-kr opened #1241 "Shoot apiserver intermittently not reachable from shoot work-load when the apiserver request rate is high"
**What happened**:
When the request rate is high (>~200 req/s), the shoot apiserver becomes unreachable to the shoot work-load intermittently. This has been seen in AWS, Alicloud as well as GCP. But it is reachable from the other control-plane components in the seed.

**What you expected to happen**:
The shoot apiserver should have been accessible from shoot work-load especially because no control

[2019-07-23 09:18] #1194 closed, assigned to adracus

[2019-07-23 12:50] mejuhi opened #1244 "Provision to customize kube-apiserver of Gardener shoot"
Kubernetes provides various options in [kube-apiserver ](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).

I want to add additional options to customize my shoot's  kube-apiserver rather than using shipped in kube-apiserver options of shoot which gets created using shoot's yaml (other than configurable option such as featureGates, runtimeConfig and auditConfig).

[2019-07-23 13:58] jicowan commented on #180
Thanks @Diaphteiros.  The documentation left me a little confused.  I thought the `iaas.cluster` section was referring to the CIDR ranges of the base cluster.  It says:

[code]

Does this mean I should leave the cluster node blank?  I assume it still needs a reference to the kubeconfig. What IP ranges are valid?  On EKS, you can't configure the Service CIDR and the pod CIDR is the same CIDR as the

[2019-07-23 14:30] tiagokv opened #1246 "TCP Load Balancing for NGINX"
**What would you like to be added**:

In NGINX ingress, it's possible to use a [L4 load balancing](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/). The solution is basically passing a ConfigMap name to an NGINX controller argument `--tcp-services-configmap`, which the key is a port number to be open and the value is a concatenation of the namespace, service and it

[2019-07-23 14:32] rfranzke commented on #1244
We don’t allow that on purpose to keep up Gardener‘s SLOs.
Gardener is a managed Kubernetes service and as such dictates what can be configured and what not. We won’t make such general configurability available, sorry.

[2019-07-23 14:32] #1244 closed, assigned to nobody

[2019-07-23 17:56] tiagokv opened #1247 "Enhance Configuration ConfigMap for NGINX"
**What would you like to be added**:

There are specific configurations in NGINX, which are more detailed [here](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/), the can be tweaked in NGINX deployment. They all end up in this [file](https://github.com/gardener/gardener/blob/master/charts/shoot-addons/charts/nginx-ingress/templates/controller-configmap.yaml).
M

[2019-07-24 07:27] Diaphteiros commented on #180
The part of the README you are quoting refers to the first entry of `landscape.iaas`. As opposed to (optional) further entries in `landscape.iaas`, the first one doesn't need the `cluster` node - it will use the values from your base cluster (the ones from `landscape.cluster`).
Regarding the CIDRs: Unfortunately, I did never use the garden setup on EKS and don't have a working configuration at han

[2019-07-24 08:59] #1155 closed, assigned to nobody

[2019-07-24 14:00] Fabian-K opened #1251 "Shoot Spec: hibernation.enabled should be optional"
**What would you like to be added**:
The field hibernation.enabled of the Shoot spec should be optional

**Why is this needed**:
I want to add a hibernation schedule to a cluster. Currently, I have to supply a value for `enabled`. As a result, the cluster is hibernated or woken up whenever the config is applied (depending on the value of enabled). This leads e.g. to an unexpected wake up of the cl

[2019-07-24 14:10] ialidzhikov opened #1252 "tls: no cipher suite supported by both client and server"
**What happened**:
In my local setup I experience the following issue with the current master branch. The shoot fails to reconcile with Seed v1.14.4 with the following error:
[code]

Logs from kube-apiserver:
[code]

I am not able to reproduce with  Seed version v1.12.10.

**What you expected to happen**:
Shoot to reconcile successfully.

**How to reproduce it (as minimally and precisely as possib

[2019-07-24 18:40] jicowan commented on #180
Thanks @Diaphteiros.  So you're saying I don't need the `iaas.cluster` node?  The comment that appears in the acre.yaml template/example says "information about your **base** cluster" and "CIDR IP ranges of **base** cluster". If you omit those from acre.yaml, will it still work?  I feel like I've completely  misinterpreted the documentation.  I get that the shoots are virtual Kubernetes clusters t

[2019-07-24 19:07] tiagokv opened #1254 "Update nginx-ingress-controller image to latest version"
**What would you like to be added**:

1. Update the NGINX Controller to version 0.25.0 and its chart in the nginx-ingress folder.
2. Enhance in shoot API the following points:
  a. Image of a custom NGINX controller.
  b. Map the "extraEnvs" information to NGINX controller (already present a placeholder in the values.xml of the new chart).
  c. Add namespace where NGINX controller will be installe

[2019-07-25 04:42] rfranzke commented on #1251
Valid request, it could be optional and defaulted to `false`. @danielfoehrKn do you want to take this along with the task of introducing the hibernation-status field in the shoot status?

[2019-07-25 04:44] rfranzke commented on #1254
Hi @tiagokv, while we certainly want to update the nginx version, I guess we won't work on your points mentioned in 2.

We are providing the nginx-ingress-controller as a default ingress addon for convenience reasons. However, there are way too many configuration options and every end-user needs something different. Consequently, we would need to open up everything. That's a lot of effort for us h

[2019-07-25 07:11] Diaphteiros commented on #180
I'll try to explain what happens here:
You need to provide the base cluster. In theory, that can be any kubernetes cluster - GKE, kops, even a shoot if you already have access to running Gardener somehow.
In the `landscape.cluster` node, you need to provide the path to the kubeconfig for your base cluster and specify the CIDRs of that cluster (or at least some CIDRs that completely contain those o

[2019-07-25 08:56] #1252 closed, assigned to nobody

[2019-07-26 14:00] jicowan commented on #180
@Diaphteiros Ok, that makes sense, however, I don't have a `landscape.iaas.cluster` node in my `acre.yaml`.  Gardener seems to have an issue with the CIDR ranges that my base cluster is using.  Are there certain ranges that are invalid.  The ranges that I've listed in my `acre.yaml` are the ranges that my base KOPS cluster is using.

[2019-07-26 14:32] Diaphteiros commented on #180
@jicowan There shouldn't be any 'invalid' ranges. However, the default CIDRs kops uses clash with the dashboard defaults:
[code]

But you should notice that only when trying to create a shoot via the dashboard, not before.

What exactly is the error message you get and when do you get it?

[2019-07-26 14:41] jicowan commented on #180
https://github.com/gardener/gardener/issues/180#issuecomment-513772304

[2019-07-26 14:46] jicowan commented on #180
@Diaphteiros it happens during the seeds stage.  I have not tried creating a shoot via the dashboard.

[2019-07-29 06:18] Diaphteiros commented on #180
@jicowan Ah, it's still that error. The error message is comparatively precise - there is a function that base64-encodes your credentials to put them into a secret and that function fails because it gets a non-string argument.
Ah, I found it: You have put the kubeconfig in the `credentials` node! That is not correct, the kubeconfig belongs in the `cluster` node (however, since that is the first en

[2019-07-29 12:17] #1117 closed, assigned to danielfoehrKn

[2019-07-31 03:32] bbhuston opened #1270 "kops"

[2019-07-31 03:33] #1270 closed, assigned to nobody

[2019-07-31 03:34] bbhuston commented on #1270
Please delete this issue.  It was a copy/pasta mistake.

[2019-08-01 14:06] #1089 closed, assigned to danielfoehrKn, timuthy

[2019-08-01 14:06] #1251 closed, assigned to danielfoehrKn

[2019-08-02 06:02] rfranzke opened #1278 "Shoots not woken up during hibernation schedule if GCM down"
**What happened**:
If a shoot has a hibernation schedule but the gardener-controller-manager is down during that time for whatever reason the shoot is not woken up.

**What you expected to happen**:
The shoot user expects its shoots to get woken up when configured, or at least as soon as possible after that (if GCM comes up again later).

**How to reproduce it (as minimally and precisely as possib

[2019-08-02 06:57] rfranzke commented on #1246
Closing this for the reasons described in #1254. gardener/gardener-extensions#201 tracks the status of the DNS controller for shoots. gardener/gardener-extensions#237 tracks the status of the certificate service enhancements for custom domains.

[2019-08-02 06:57] #1246 closed, assigned to nobody

[2019-08-02 06:58] rfranzke commented on #1254
gardener/gardener-extensions#201 tracks the status of the DNS controller for shoots. gardener/gardener-extensions#237 tracks the status of the certificate service enhancements for custom domains.

[2019-08-02 06:58] rfranzke commented on #1247
Closing this for the reasons described in #1254. gardener/gardener-extensions#201 tracks the status of the DNS controller for shoots. gardener/gardener-extensions#237 tracks the status of the certificate service enhancements for custom domains.

[2019-08-02 06:58] #1247 closed, assigned to nobody

[2019-08-02 07:00] rfranzke commented on #1050
@nikhilsap what do you suggest? Should anything be improved on Gardener side or can this ticket be closed?

[2019-08-02 07:03] rfranzke commented on #725
@thomasdraebing do you still plan to implement this/need this? If not, shall we close the ticket?

[2019-08-02 07:04] rfranzke commented on #448
In gardener/gardener-extensions we're using [packr](https://github.com/gobuffalo/packr), I can we can implement something similar for gardener/gardener.

[2019-08-02 07:05] #270 closed, assigned to nobody

[2019-08-02 07:06] rfranzke commented on #238
We probably won't do anything here soon. Nobody should manually delete stuff in the seed, and administrators/operators that do that anyways should know what they are doing. Maybe we can implement it when we have the gardenlet, let's see.

[2019-08-02 07:06] #238 closed, assigned to nobody

[2019-08-02 07:07] thomasdraebing commented on #725
We are currently not needing this anymore and I am too busy with other things right now to implement it, so please go ahead and close this ticket.

[2019-08-02 07:07] #725 closed, assigned to nobody

[2019-08-02 07:08] rfranzke commented on #1191
Can we close this? I think `gomock` should provide enough flexibility for the use-case?

[2019-08-02 07:09] rfranzke commented on #969
@afritzler Can you elaborate more about concrete use-cases?
@wyb1 Do you think it makes sense to implement this?

[2019-08-02 07:10] #835 closed, assigned to nobody

[2019-08-02 07:10] #754 closed, assigned to nobody

[2019-08-02 07:11] rfranzke commented on #345
What's the status/plan here?

[2019-08-02 07:11] rfranzke commented on #277
Do you still plan to implement this in the next time?

[2019-08-02 07:12] rfranzke commented on #169
@dkistner @wyb1 will you do that soon? If not, let's close the ticket, it's open for too long anyways. We don't have yet a landscape/gardener installation name, but there is gardener/gardener-extensions#183 which needs such name for other reasons (FYI)

[2019-08-02 07:13] #48 closed, assigned to nobody

[2019-08-02 07:59] afritzler commented on #969
Gosh that is an old one. I think we can close this one again. Can't remember what the exact problem was.

[2019-08-02 08:15] #969 closed, assigned to nobody

[2019-08-02 09:20] swapnilgm commented on #1026
@PadmaB Will you please include this in your work around alerts for backup failure?

[2019-08-02 13:36] zanetworker commented on #1241
@amshuman-kr I have linked related PRs that solves the file-copy issue but also should improve the situation for this one. Can you re-test your use-case ?

[2019-08-02 15:21] jicowan commented on #180
@Diaphteiros sorry for the delay.  I removed that section from my acre.yaml and managed to get a little further.  Now I'm getting the following error:

[code]

I am trying to install this onto a KOPS cluster with the default settings.  In an earlier comment, https://github.com/gardener/gardener/issues/180#issuecomment-515477710, you mentioned that the ranges overlap with the gardener dashboard.  W

[2019-08-02 23:33] vlerenc commented on #1026
I think the warning/alerting part is covered already by @wyb1 , right @dkistner?

[2019-08-05 07:38] Diaphteiros commented on #180
@jicowan I think you will have to re-install kops with modified CIDRs to avoid conflicts with the dashboard defaults (they can't be changed at the moment, unfortunately).

However, the error you are seeing right now has a different reason - it's because your pod and service CIDR overlap, which shouldn't be the case.

[2019-08-05 08:59] adracus commented on #1073
@afritzler in the shoot API, under `.spec.kubernetes.kubeAPIServer.runtimeConfig`, we already support entering arbitrary values for the runtime configuration of the Shoot's Kube-APIserver - is that enough?

[2019-08-05 09:02] rfranzke commented on #1073
This only configures the `--runtime-config` flag.

[2019-08-05 09:12] adracus commented on #1073
Ah, sorry, my bad - then I'll just introduce it.

[2019-08-05 13:26] #1100 closed, assigned to adracus

[2019-08-05 20:17] vasu1124 commented on #1213
Should we follow this example set by GKE and let users install it on their own if they deem that they really need it?

[2019-08-05 20:35] ialidzhikov commented on #1232
I guess we can reopen as the PRs were reverted.

/reopen

[2019-08-06 06:59] dkistner commented on #277
Good question I have not planned to implement this soon. I would rather raise the question if we still need this, because we have meanwhile end user facing monitoring and could display a list with user related alerts there.

On the other hand side we could not display the active alerts in the Gardener dashboard without these conditions (except if the dashboard queries Prometheus by their own). If

[2019-08-06 07:14] vlerenc commented on #277
We plan to expose Prometheus to the end user. That will alleviate the need for this a lot. On the other hand, looking with the eyes of an end user, wouldn't you agree that seeing a green cluster in the UI and active alerts in Prometheus give an inconsistent impression? Considering this, I would think it's interesting (medium priority) to have that in the shoot resources and consequently in the Das

[2019-08-06 09:37] hoeltcl opened #1291 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-08-06 12:53] #1107 closed, assigned to nobody

[2019-08-06 14:35] kayrus opened #1294 "Cannot create the cloud profile with the non semver version (e.g. stable)"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

**Anything else we need to know?**:

Changeing the `stable` to `1.0.0` work fine. But the `In case there is no semVer version for this image use the extensibility provider (define mapping in the ControllerRegistration) to map to the actual non-semVer vers

[2019-08-06 14:54] vpnachev commented on #1294
CoreOS are using semVer for their images, check [here](https://stable.release.core-os.net/amd64-usr/) the available `stable` versions.
You could also use `0.0.0-stable`

[2019-08-06 15:06] ialidzhikov opened #1295 "Make possible to delete shoot with wrong `.spec.dns`"
**What happened**:
User can apply shoot spec with not properly configured `.spec.dns` which may result in
[code]

The deletion of such shoot is not possible.

**What you expected to happen**:
To be able to delete shoot with not properly configured `.spec.dns`.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a shoot with the following dns section and ensure that it does

[2019-08-06 15:34] dkistner commented on #1026
Yes it is possible to distinguish between user and operator related alerts, but we did not have any backup/restore alerts yet integrated.

[2019-08-07 06:47] vpnachev commented on #1294
@kayrus can we close this issue?

@danielfoehrKn the semantic version requirement for the machine images was introduced with #1177, so you might have any feedback ?

[2019-08-07 06:52] rfranzke commented on #1294
That's no issue in Gardener but correct behaviour: Machine image versions must be in semver format.

If you don't have a semver then e.g. use `0.0.0-stable` as @vpnachev suggested (or anything else that is a semver) and configure your extension controllers to map this string to the correct version for your environment, see e.g. https://github.com/gardener/gardener-extensions/blob/master/controller

[2019-08-07 06:52] #1294 closed, assigned to nobody

[2019-08-07 13:35] ialidzhikov commented on #1206
@adracus , @rfranzke should we wait for kubernetes-sigs/controller-runtime#495 or it is not a hard dependency for this issue?

[2019-08-07 13:38] rfranzke commented on #1206
Most probably we have to wait, otherwise we end-up with the same problems we have seen in the past, I assume.

[2019-08-07 15:04] ialidzhikov commented on #1213
I just noticed that in k/website they changed k/dashboard version to be the beta one and I opened this issue to have it the backlog. I still haven't played with new v2 branch to see what is supported per k8s version.

I have no strong opinion about it. Users can always disable the dashboard add-on and do `helm install stable/kubernetes-dashboard`.
Feel free to close/comment if you think that we sh

[2019-08-08 07:37] rfranzke commented on #201
https://github.com/gardener/gardener/pull/1284/files#r311564192 should also be considered.

[2019-08-08 11:21] ThormaehlenFred commented on #1213
Google writes in their bulletin: _We are making this change due to several high-profile attacks that exploited the Kubernetes Dashboard add-on throughout the past year._
When we stop advertising the k/dashboard in the Gardener cluster creation dialogue we reduce at least the overall risk implied by it. Thus I would vote for _let users install it on their own if they deem that they really need it_

[2019-08-08 15:44] rfranzke commented on #1213
cc @vlerenc, opinion?

[2019-08-09 05:59] vlerenc commented on #1213
Well, if that's the new thing, then let's embrace it.

I don't understand the security argument, because I don't know whether version 2 shall be safer than version 1. I assume, it's in general bad to have any dashboard in production systems, because whether or not security was improved, it's an entry vector.

Having no dashboard as an option in Gardener is not acceptable. We must offer one, otherw

[2019-08-09 06:41] rfranzke commented on #1213
What is your concrete suggestion now? We keep the kubernetes-dashboard as part of an optional addon in Gardener that can be enabled/disabled in the shoot spec, and we deploy the current version for clusters < 1.14, and the new (not yet released?) `v2.0.0` version for clusters >= 1.14. Did I understand this correctly? Or do you want to not offer it at all anymore for newer clusters? I guess no, rig

[2019-08-09 13:59] plkokanov commented on #1215
@rfranzke I finally had time to work on this issue.
I think we might have to use an array to list all the LastErrors of each task since flow tasks can run in parallel or extend the LastError structure with an array of TaskErrors.
The reason fir this is that currently:
- At the same time multiple tasks can fail and the error description is a concatenation of all errors-- - This means that If we wan

[2019-08-11 11:24] jia-jerry opened #1311 "AliCloud Regression: Loadbalancers can't be deleted in shoot cluster"
**What happened**:
After deletion of shoot cluster, SLBs  are not deleted.
**What you expected to happen**:
External resources should be deleted successfully
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Gardener should wait for SLBs to be deleted in Shoot Deletion loop. I also found some disks leftovers, but it seems that they were left dur

[2019-08-12 02:29] jia-jerry commented on #1311
It seems other cloud providers have the same issue

[2019-08-12 05:28] timuthy commented on #1311
Hi @jia-jerry,

it'd be nice if there was more context on this issue.

- Do you mean Disks / SLBs of the Shoot cluster's control plane (resource in Seed) or Disks / SLBs that are created in the Shoot?

- What reclaim policy did your PVs have?

- How were the SLBs created? Through `services` of type `LoadBalancer`?

[2019-08-12 05:40] jia-jerry commented on #1311
Hi @timuthy
1. SLBs in shoot cluster like nginx-ingress-controller and VPN are not released. This is because the cloud controller manager and csi controllers are deleted before SLBs and PVC are deleted.
2. Reclaim policy of PV-- persistentVolumeReclaimPolicy: Delete
3. Through services of type LoadBalancer

The deletion lifecycle is refactored. This issue doesn't happen before. And also, this issu

[2019-08-12 11:18] ialidzhikov commented on #1311
I guess gardener/gardener-extensions#257 is related to this issue?

[2019-08-12 11:26] rfranzke commented on #1311
We probably have found the cause for this (cc @timuthy) and are working on a fix.
The root cause is still that services don’t have Finalizers yet...

[2019-08-12 12:33] rfranzke commented on #1291
@timuthy can we close this? You looked at it, right?

[2019-08-12 12:37] hoeltcl commented on #1291
@rfranzke, @timuthy: No issues. I close it.

[2019-08-12 13:44] afritzler commented on #1311
For OpenStack we implemented this hack for now https://github.com/gardener/gardener-extensions/pull/191 ... we wait for 2 minutes before we remove the cloud/kube-controller-manager.

[2019-08-12 14:45] #1311 closed, assigned to nobody

[2019-08-12 16:13] rfranzke commented on #1295
#1205 is similar

[2019-08-12 16:25] rfranzke commented on #1215
Hi @plkokanov, thank you for the update.

Yes, this sounds reasonable.

Also an option, true, but if we now touch this part anyways and spend time implementing it we can also go the cleaner way which would be the first option you described.

[2019-08-13 08:05] wyb1 commented on #169
I can add the infrastructure of the shoot to the alert but adding the landscape will be more difficult.

[2019-08-13 08:27] #169 closed, assigned to dkistner, wyb1

[2019-08-13 11:23] vlerenc opened #1324 "Please support spec with <major>.<minor> Kubernetes version"
**What would you like to be added**:
The ability to specify only the `<major>`.`<minor>` Kubernetes version with new shoot resources and the appropriate/matching `<major>`.`<minor>`.`<patch>` version will be inserted instead by the API server.

**Why is this needed**:
To simplify cluster creation/automation, avoiding the need to read and parse the cloud profiles beforehand.

[2019-08-13 11:25] rfranzke commented on #1324
@danielfoehrKn

[2019-08-13 11:29] vlerenc opened #1325 "Please support Kubernetes version expiration date"
**What would you like to be added**:
When managing could profiles and Kubernetes versions, we tend to drop versions with security vulnerabilities rather instantly, replacing them with the latest safe one. This causes issues with stakeholders that first want to validate the update process, but have no means anymore to create an "old" cluster and run through the update process. While this is more of

[2019-08-13 11:44] ialidzhikov commented on #1325
I would also vote to "officialize" the k8s version support policy and add it under `/docs` or in `g/documentation`. For me now it is not clear when a given k8s version reaches its end of life in g/gardener.

[2019-08-13 11:50] timuthy commented on #1311
To be sure, I double checked the disk issue but couldn't reproduce it.

[2019-08-13 19:49] ialidzhikov commented on #1325
I just mean something like [AKS Kubernetes version support policy](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#kubernetes-version-support-policy):

Having a similar rule/policy would mean that when a new Kubernetes version support is added, the oldest minor version is deprecated (marked with an expiration date if we talk in the context of this issue).

Linking also [EK

[2019-08-14 03:45] vlerenc commented on #1325
That is service-specific and up to the owner of the Gardener deployment, but not really something that can be implemented in Gardener or be mentioned in the docs as every owner can handle it differently. For instance, if AKS offers that, they will have to back-port patches that the community doesn't. It's their specific rule. Gardener per se, doesn't have any rules, because it's just a tool, but n

[2019-08-14 07:32] jia-jerry commented on #1311
It can't be reproduced when the shoot is awaken.
Just now I did a test as following steps, the disk is left undeleted. I will check this issue next week if you guys overloaded.
1. Create a shoot on AliCloud.
2. Create a PVC in shoot cluster.
3. Hibernate the shoot cluster
4. Delete the shoot **without** waking up the shoot.

[2019-08-14 07:36] rfranzke commented on #1311
Do you use alicloud extension [0.9.3](https://github.com/gardener/gardener-extensions/releases/tag/0.9.3) containing [this fix](https://github.com/gardener/gardener-extensions/commit/882ac8a07ec9f5c4935a05e95711134b26fc2134)?

[2019-08-14 08:02] rfranzke commented on #1325
Still, the question of @ialidzhikov is still relevant. Today we are supporting 1.10 - 1.15, but 1.16 is coming in a few weeks and with every version the complexity in our code increases (sometimes more, sometimes less).

I guess what @ialidzhikov wanted to clarify is whether we want to setup a general rule for the open-source tool Gardener itself in regards to which version support is implemented.

[2019-08-14 10:41] jia-jerry commented on #1311
Yes. The extension is in version 0.9.3. I did the test again and found the CSI-Controller was not wakeup during deletion. This isssue only occurs for providers using CSI

[2019-08-14 10:51] rfranzke commented on #1311
Thanks, will check it.

[2019-08-14 12:33] danielfoehrKn opened #1333 "Draft: Kubernetes version expiration date"
**Currently**

The cloud profile can contain multiple supported kubernetes versions.  A shoot can specify in the spec.Maintenance.AutoUpdate section if its kubernetes version should be upated to the latest version on a daily basis.

If a shoot is on an old kubernetes version (no auto update) and the admin decides to drop this version from the cloud profile due to any reason (e.g security) the shoo

[2019-08-14 12:54] rfranzke commented on #1325
From #1333
@danielfoehrKn :

**Currently**

The cloud profile can contain multiple supported kubernetes versions.  A shoot can specify in the spec.Maintenance.AutoUpdate section if its kubernetes version should be upated to the latest version on a daily basis.

If a shoot is on an old kubernetes version (no auto update) and the admin decides to drop this version from the cloud profile due to any r

[2019-08-14 12:54] rfranzke commented on #1333
I added your comment to #1325. Let's close this one.

[2019-08-14 12:54] #1333 closed, assigned to nobody

[2019-08-14 13:44] rfranzke commented on #1311
https://github.com/gardener/gardener-extensions/commit/b971aade2373eef0de62d024ad32c95e2bd912be fixes the problem. Release 0.9.4 is in the process of being built. Sorry for the inconveniences, Jerry.

[2019-08-14 13:47] jia-jerry commented on #1311
Thank you Rafael, I should haved handled this issue anyway. At least for Alicloud plugin. :)

[2019-08-14 13:59] vlerenc commented on #1325
@rfranzke Are you saying, you would vote for dropping older versions faster? That was also the proposal by @ialidzhikov quite some time ago. Back then I argued why we don't want to do that, but if the complexity in maintaining the older versions is hurting us, then of course we can drop older versions faster.

So far this was on the pro side:
- More versions leave more time to our end users to ada

[2019-08-14 14:05] vlerenc commented on #1325
@danielfoehrKn I don't think we should forcefully update shoot clusters. Is there a mandatory reason to do that? Even if, we can only update one version at a time. We should never update to the latest, because that is a.) not possible and b.) bears an even greater risk to break the cluster. We should only update to the highest patch version of the oldest permitted minor version.

Still, I am not s

[2019-08-14 14:12] rfranzke commented on #1325
I have no strong opinion against or for dropping older versions faster. Currently, the maintenance effort is manageable. I just wanted to raise the awareness again whether we want to setup such rule (because currently there is nothing, we simply decide at a specific date to drop something, but nobody knows when). This might make it difficult to plan for end-users, especially if they don't have inf

[2019-08-14 14:54] vlerenc commented on #1325
OK, thanks @rfranzke. Indeed, this ticket is about technical support for the `expirationDate`, not the process itself. The purpose is to exactly avoid sudden removals of Kubernetes versions in the future and make the deprecation of a Kubernetes version accessible to end users via our programmatic interface, so that they can alert themselves or even automate a migration procedure.

What about the o

[2019-08-15 04:18] rfranzke opened #1335 "Resource limit handling for pods using VPA"
**What would you like to be added**:
Currently, we are using the VPA for several components, e.g. `kube-controller-manager`, `kube-scheduler`, and may more.

In its current implementation the VPA - if set to policy `Auto` - does only set the pod's resource **requests**. It doesn't touch the **limits**. According to @georgekuruvillak this is planned for a future release of VPA, however, it might st

[2019-08-15 05:57] rfranzke commented on #1325
+1, we can't do that. Let's keep the current behaviour which is only updating to the latest patch version for the respective minor version (if auto update is `true`, or if it's `false` and the currently used version's `expirationDate` is expired). I don't see a new to forcefully update minor versions. This would potentially break a lot of users as with most minor version updates there may be manua

[2019-08-15 06:04] rfranzke commented on #1325
@danielfoehrKn How do you plan to realize this in a backwards compatible way?

Today, the list of supported Kubernetes versions is just a `[]string`:

[code]

We cannot change the `versions` object, unfortunately. What do you think about

[code]

Every version in the `.versions[]` must be in the `.offeredVersions[]`, and vice versa. But what if a version in the `.offeredVersions[]` has an expirati

[2019-08-15 14:20] phil9909 opened #1338 "Extension resource not deleted from seed"
**What happened**:
Removing an extension from the extensions section of the shoot spec did not cause the extension resource to be deleted from the shoot namespace in the seed cluster.
In turn the reconcile loop of the extension controller is still triggered and the extension stays installed.

**What you expected to happen**:
The matching extension resource is deleted from the shoot namespace in th

[2019-08-15 14:57] danielfoehrKn commented on #1325
@rfranzke yes, providing backwards compatibility like this makes sense.
I would say removing expired kubernetes versions from the CloudProfile is up to the Operator.  This way a kubernetes version does not suddenly disappear from the CloudProfile.
Also maybe some people would like to have a "history" of their used versions, but thats speculation... in any case it is a trivial operation for the ope

[2019-08-15 15:24] rfranzke commented on #1325
+1, makes it easier for us and is not a huge problem for operators (it doesn't make any sense to keep expired versions in the list anyways).

[2019-08-15 17:43] vlerenc commented on #1325
What a pity. It was almost consistent for a brief moment in time. Soon:

[code]

Such is life. ;-)

[2019-08-15 19:55] rfranzke commented on #1325
See GEP-4, it will become much better again soon :)

[2019-08-16 06:22] amshuman-kr commented on #1335
Seems to be already covered by VPA admission plugin in [#2005](https://github.com/kubernetes/autoscaler/pull/2005). We might have to wait till 0.6.0 release or even better 0.5.2 according to [#2105](https://github.com/kubernetes/autoscaler/pull/2105).

[2019-08-16 06:24] rfranzke commented on #1335
Awesome, so nothing to do on our side other than updating to the new version, right? Great, thank you.

[2019-08-16 06:26] amshuman-kr commented on #1335
Yes. Then limits will be scaled in the same proportion as the requests are scaled.

[2019-08-16 08:27] vlerenc commented on #1325
Ah, right, we have another go soon. Thanks!

[2019-08-16 10:23] #1338 closed, assigned to timuthy

[2019-08-16 21:31] tuxgoose opened #1348 "Current Azure shoot example is incorrect"
**What happened**:
Currently the document below is recommending users to use azure as a cloud profile, https://github.com/gardener/gardener/blob/ed26a3fdf2d67487d68fc5b2783b06e14e25daca/example/90-shoot-azure.yaml#L9

However you will get an error when attempting to deploy a azure shoot cluster unless you specify, "az"
**What you expected to happen**:
➜  gardener_shoot_nursery git:(master) ✗ kubec

[2019-08-16 21:48] rfranzke commented on #1348
Not an issue/bug, see explanation in #1259. This is the open-source project repository for gardener, and the examples are independent of any concrete installation/landscape.

[2019-08-16 21:48] #1348 closed, assigned to nobody

[2019-08-19 07:31] ialidzhikov opened #1349 "Update sigs.k8s.io/controller-runtime version"
Currently we are using `sigs.k8s.io/controller-runtime@v0.2.0-beta.2`.
`v0.2.0-beta.5` contains kubernetes-sigs/controller-runtime#447 which will resolve many TODOs in our source.
Also it is a prerequisite for #1206.

[2019-08-19 10:01] #1073 closed, assigned to adracus

[2019-08-19 12:21] rfranzke opened #1351 "Monitoring and logging configuration for extension controllers"
**What would you like to be added**:
While progressing with #308 we have moved out most of the provider-specific information of the Gardener code. However, there are still left-overs for monitoring and logging configuration of provider-specific components, e.g. for the cloud-controller-manager ([metric scrape config](https://github.com/gardener/gardener/blob/ff1c8d1a39528aee41d5ed7867f6b2b05011a8b

[2019-08-19 12:22] rfranzke commented on #1351
/cc @dkistner @wyb1 - can you please review in regards to the monitoring parts?
/cc @ialidzhikov @vlvasilev - can you please review in regards to the logging parts?
/cc @svetlinas (who was interested in taking this)

[2019-08-20 06:50] dkistner commented on #1351
Monitoring part looks good to me. Thank you for summarising this.

[2019-08-20 07:38] #105 closed, assigned to nobody

[2019-08-20 08:20] kayrus opened #1871 "New seed registration produces ControllerInstallation error messages"
Once the new seed's shoot is up and ready, and the seed is being registered, the gardener controller manager produces error logs:

[code]

[2019-08-20 08:58] kayrus opened #1352 "Impossible to delete the seed"
**What happened**:

Seed cannot be deleted. I executed the following command:

[code]

Only region2-01-dev was removed. The region1-01-dev seed hangs with the following messages:

[code]

kubectl debug:

[code]

**Environment**:

- Gardener version: 0.27.6
- Kubernetes version (use `kubectl version`): 1.15.0
- Cloud provider or hardware configuration: openstack
- Others: gardener-extensions to 0.9

[2019-08-20 09:06] kayrus commented on #1352
Looks like a race condition. Region2 secrets were not removed, but region1 secrets were removed:

[code]

I never faced this issue when I removed seeds one by one. It happened only when I specified two of them in one command.

[2019-08-20 09:08] vpnachev commented on #1351
How about to re-use the Prometheus operator instead of implementing our own operator?

[2019-08-20 09:10] rfranzke commented on #1351
I don't get it, what do you mean @vpnachev?

[2019-08-20 09:11] rfranzke commented on #1871
Why is that a problem? The seed needs to be bootstrapped with CRDs in order to install the CRs. We don't split that into two steps because it's effort that isn't worth it. This only happens for a few seconds once during initial seed registration.

[2019-08-20 09:18] dkistner commented on #1351
We do not implement an operator here, basically define a contract for the extension to inject provider specific monitoring config + dashboards.

I think your proposal goes in the direction that the provider extension could also deploy a `ServiceMonitor` or `PrometheusRule` CR (which is observed by the Prometheus Operator) instead of writing a ConfigMap, right?

[2019-08-20 09:23] kayrus commented on #1871
For me it is not a problem, but a confusing error message.

[2019-08-20 09:43] vpnachev commented on #1351
Yes, that is what I mean - to deploy the [Prometheus Operator](https://github.com/coreos/prometheus-operator) in the seed clusters and let the extensions to deploy [CRs](ServiceMonitor). I believe most of the extensions will deploy `ServiceMonitor`s and `PrometheusRule`s.

[2019-08-20 10:01] ialidzhikov commented on #1351
The logging part looks good to me.

[2019-08-20 10:06] rfranzke commented on #1351
Well, we can think about that, but that's a larger refactoring of the monitoring stack itself which should not be a prerequisite for this small extension contract. It might certainly make sense to consider this separately. Thanks for mentioning it! :)

[2019-08-20 15:08] #1324 closed, assigned to danielfoehrKn

[2019-08-20 15:47] #1109 closed, assigned to zanetworker

[2019-08-21 07:47] dkistner opened #1356 "Increase Monitoring retention"
**What would you like to be added**:
Increase the retention of the Shoot cluster Prometheus from [180h](https://github.com/gardener/gardener/blob/master/charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml#L84) (7.5d) to 30d.
Probably we need also to increase the disk size which is currently fixed [20gb](https://github.com/gardener/gardener/blob/master/charts/seed-monitor

[2019-08-21 09:08] vlerenc commented on #1335
Just to clarify @rfranzke: Is there anything that needs to be done right now (like statically increasing the limits for certain now failing components) until the new version will become available?

[2019-08-21 09:11] rfranzke commented on #1335
I don't think so, @georgekuruvillak just explained that the limits will scale proportional to requests with https://github.com/kubernetes/autoscaler/pull/2005/. It should be OK to only wait for the new release.

[2019-08-21 11:50] rfranzke commented on #1351
Thanks, @svetlinas is taking this one and will start working on it! 👍

[2019-08-21 13:18] kayrus commented on #1352
Just started to cleanup the seeds and shoots for the new clean deployment and noticed this:

[code]

Not sure whether it is related. In the initial issue the `seed-region1-01-dev` was removed before removing the seed, in this situation seeds were removed, but not the secrets.

[2019-08-26 07:18] #1137 closed, assigned to mvladev

[2019-08-27 05:04] #1325 closed, assigned to danielfoehrKn

[2019-08-27 16:13] rfranzke opened #1376 "Support new API resources in core.gardener.cloud/v1alpha1 group"
Part of #308.

As we have proposed in [GEP-1](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md) and [GEP-4](https://github.com/gardener/gardener/blob/master/docs/proposals/04-new-core-gardener-cloud-apis.md) we want to new API resources in the `core.gardener.cloud/v1alpha1` group.

# Definition of Done

- **Backwards-compatible resource migrations (+ example mani

[2019-08-28 07:43] ccwienk opened #1380 "Enable Gardener to use custom ImagePullSecrets"
**What would you like to be added**:

It should be possible to pass custom ImagePullSecrets to Gardener, thus enabling it to retrieve Container Images from Container Image Registries that require authentication.

Ideally, it should be possible to pass multiple secrets and specify a mapping between secrets and target container image registries.

**Why is this needed**:

In private setups (e.g. in c

[2019-08-28 07:44] ccwienk commented on #1380
/cc @ThormaehlenFred @hoeltcl

[2019-08-29 07:48] #1295 closed, assigned to nobody

[2019-08-30 10:53] #895 closed, assigned to rfranzke

[2019-09-02 05:35] vlerenc commented on #1213
Yes, that. From what I understood, that would make sense.

[2019-09-02 08:08] plkokanov opened #1390 "Deploying "backupentry" can fail with "name must be no more than 63 characters""
What happened?
Created a shoot with a name of 10 characters (max  allowed). During the shoot creation process I got the following error.
[code]

Considering the project name can be 10 symbols (i077286 is only 7) we might run into this problem **very** often.

What should happen:
Creating a shoot with max number of already allowed symbols should not return an error.

[2019-09-02 08:14] plkokanov commented on #1390
Maybe we should use a partial hash of the UID instead of the whole UID.

[2019-09-02 08:30] rfranzke commented on #1390
https://github.com/gardener/gardener/pull/1389

[2019-09-02 11:41] plkokanov commented on #1390
Closing this as #1389 was merged.

[2019-09-02 11:41] #1390 closed, assigned to nobody

[2019-09-03 08:14] #1191 closed, assigned to nobody

[2019-09-10 13:25] ialidzhikov opened #1407 "Improve core.gardener.cloud.CloudProfile validation"
The following cases could be improved:
- Prevent `.spec.kubernetes.versions` with duplicating version. Example of invalid spec section:

[code]

- Prevent `.spec.regions` with duplicating name. Example of invalid spec section:
[code]

[2019-09-11 13:39] phil9909 commented on #1351
@rfranzke @svetlinas This issue seems to have four parts:
1. write logging config-maps on extension side
1. read logging config-maps on gardener side
1. write monitoring config-maps on extension side
1. read monitoring config-maps on gardener side

I think currently only part 1-3 are implemented and part 4 is missing.
Therefor this issue should be reopened.

[2019-09-11 13:55] rfranzke commented on #1351
Yes, true, it was accidentally closed, opened again. @svetlinas wanted to finish this part.

[2019-09-11 19:34] petersutter opened #1413 "Browser-trusted certificates for kube-apiservers"
**What would you like to be added**:
If a certificate can be requested because a certificate service is available, e.g. `cert-management` for shoots, make use of [`--tls-sni-cert-key`](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) flag to pass a browser-trusted certificate to the kube-apiserver of shoot clusters.

**Why is this needed**:
For the [web terminals

[2019-09-12 12:09] ialidzhikov opened #1419 "Inconsistency between autoUpdate of kubernetesVersion and machineImageVersion"
Currently we you drop a Kubernetes version from the CloudProfile and a Shoot refers this dropped version, in the next maintenance time window the Shoot `kubernetes.version` will be updated to the next patch version only if `autoUpdate.kubernetesVersion` is true.
On the other hand when you drop a machine image version from the CloudProfile and if a Shoot refers this dropped machine image version, i

[2019-09-12 12:28] danielfoehrKn commented on #1419
Updating machine images and k8 versions are different use cases.Machine images can be updated to latest whereas Kubernetes version updates to latest might break the cluster.

This was discussed in [1325](https://github.com/gardener/gardener/issues/1325). See:

@danielfoehrKn I don't think we should forcefully update shoot clusters. Is there a mandatory reason to do that? Even if, we can only updat

[2019-09-12 12:34] ialidzhikov commented on #1419
By inconsistency I didn't mean that the update is to the latest version.
I mean that currently I can have `autoUpdate.kubernetesVersion: false` and if s.o drops my version from the CloudProfile - I will continue to live with my version and because `autoUpdate.kubernetesVersion: false`.
On the other hand when I have `autoUpdate.machineImageVersion: false` and if s.o drops my version from the CloudP

[2019-09-12 14:48] ialidzhikov commented on #1419
Sorry, my bad. I was not right about `autoUpdate.kubernetesVersion`.
Sorry for taking your time. 😞

[2019-09-12 15:20] ialidzhikov commented on #1419
Btw @rfranzke this behaviour has changed.
Previously when you replace version X (for example 1.10.12) with patched Y (1.10.13) in the CloudProfile and the Shoot refers X (1.10.12 in our example) and has `autoUpdate.kubernetesVersion: false` and enters in maintenance time window the version was staying the same - X (1.10.12).
Now when you replace version in the CloudProfile, the Shoot version is up

[2019-09-12 15:40] rfranzke commented on #1419
Do you have the commit where this changed?

[2019-09-12 15:54] timuthy opened #1420 "Clean up shoot resources gracefully"
**What would you like to be added**:

Clean up resources in a shoot cluster gracefully when the shoot is deleted. Currently, the `GracePeriodSeconds` is set to `0` even in the beginning of the deletion process. This prevents programs in pods from receiving SIGTERM signals and thus they are not able to exit properly.
A forceful deletion (`GracePeriodSeconds = 0`) should only be done after a predefi

[2019-09-12 15:56] vpnachev commented on #1419
This is the code responsible for this  https://github.com/gardener/gardener/blob/61275cccbc28be274e560d975a0b249b5cab7d32/pkg/controllermanager/controller/shoot/shoot_maintenance_control.go#L223-L247

particularly "if it is not in the cloud profile - go get the latest version"
[code]

I think that if `shoot.Spec.Maintenance.AutoUpdate.KubernetesVersion == false` we should not touch the version, in

[2019-09-12 17:55] rfranzke commented on #1419
Yes, agreed! @danielfoehrKn can you please fix this asap?

[2019-09-12 18:09] vpnachev commented on #1419
This one as well ?  https://github.com/gardener/gardener/blob/61275cccbc28be274e560d975a0b249b5cab7d32/pkg/controllermanager/controller/shoot/shoot_maintenance_control.go#L309

[2019-09-12 18:20] rfranzke commented on #1419
No, machine images are updated by design to the latest version if the current version is not found anymore, right Daniel?

[2019-09-12 18:22] vpnachev commented on #1419
Even when `*shoot.Spec.Maintenance.AutoUpdate.MachineImageVersion` is `false`?

[2019-09-12 18:27] vpnachev commented on #1419
/reopen

[2019-09-12 20:28] ialidzhikov commented on #1419
It is changed with gardener/gardener#1363.
It is not a big thing, we just need to make sure that
`.spec.maintenance.autoUpdate.kubernetesVersion: false` is respected even if `.spec.kubernetes.version` is no longer part of the CloudProfile.
However good to see that we have agreement on it. :)

Hmm, if that is the case, then I find it a little bit confusing. As Shoot owner you have two identical fie

[2019-09-13 07:52] danielfoehrKn commented on #1419
@ialidzhikov true, there is a different behaviour implemented even though being two identical fields.

I think the difference originated because we do not treat a kubernetes version update the same way as a machineImage update.

To my understanding:

**Kubernetes versions**
- cannot be just updated between minor versions without high risk of breaking the cluster
- updates between patch versions re

[2019-09-13 07:59] rfranzke commented on #1419
Thanks for the summary @danielfoehrKn.

I don't think we should change this. In the past, we always rolled out machine image updates. Now, the user can drop out, but only until the currently used version expires. When the version doesn't exist in the profile anymore an immediate update is happening. This is because we need to be able to roll out security fixes ASAP, and we still control the worker

[2019-09-13 08:27] vpnachev commented on #1419
Then do we need the field `shoot.Spec.Maintenance.AutoUpdate.MachineImageVersion` ?

[2019-09-13 08:31] rfranzke commented on #1419
Yes, we need it, because if operators want to offer expiration dates for machine image versions to allow end-users to "manually" update/migrate to the new image then end-users need to configure this behaviour via this field.

[2019-09-13 09:14] mvladev commented on #1135
# In-cluster communication to the API server

Even if the master service (`kubernetes` in `default` namespace) is of type `ExternalName` and kubelet [supports](https://github.com/gardener/gardener/issues/1135#issuecomment-505317932) this configuration the problem still exists for older K8S versions where this functionality is not available.

## Workaround

SNI works only if the client sets the ser

[2019-09-13 09:20] databus23 commented on #1135
Just a small comment regarding workaround 2: It think this is not possible. While the client hello TLS packet is not encrypted it seems to be guarded against modification.
I had the same idea for kubernikus and tried modifying the SNI hostname. In my experiments this caused the TLS handshake to fail immediately with an error indicating the hello packet was invalid ( I don't remember the exact word

[2019-09-13 09:23] mvladev commented on #1135
@databus23 did you set the correct checksum of the packet?

[2019-09-13 09:24] #1419 closed, assigned to danielfoehrKn

[2019-09-13 09:25] databus23 commented on #1135
@mvladev I'm not sure. Its totally possible that I missed something when I tried it 1 year back. But if you think about is also makes total sense that the client hello packet would be guarded against modification when traversing the network, no?
I'm happy to be proven wrong. :)

[2019-09-13 09:28] databus23 commented on #1135
What do you mean by checksum? I did not modify packets using XDP. I intercepted the connection with a tcp proxy, so the tcp checksum was of no concern to me as I was copying from one connection to another modifying the tcp data. If there is a checksum in the tls format I might have missed that, I don't remember tbh.

[2019-09-13 09:44] mvladev commented on #1135
The checksum in the IP header https://github.com/torvalds/linux/blob/505a8ec7e11ae5236c4a154a1e24ef49a8349600/samples/bpf/xdp_tx_iptunnel_kern.c#L145

Now I think about it I don't think you have modified anything in the source / destination?

I'm looking in the [specification](https://tools.ietf.org/html/rfc5246#section-7.4.1.1) and there is nothing which prevents modifications of the data. The se

[2019-09-13 09:50] databus23 commented on #1135
The client hello is not encrypted for sure, that's how SNI based routing can work at all. But in addition I beliebe the TLS protocol does use a MAC to secure message integrity. https://tools.ietf.org/html/rfc5246#section-1:

And this is also what I observed when trying this out, as soon as you start to tamper with the unencrypted data one of the two side will drop the connection during the handsha

[2019-09-13 09:54] databus23 commented on #1135
More specifically there is a section about the Handshake protocol further down in the link above.

   has three basic properties:

So now having read that I'm pretty sure this will not work.

[2019-09-13 10:34] mvladev commented on #1135
You are right - the handshake protocol is encapsulated in the TLS record protocol. So we cannot safely tamper with it.

So the only workaround is to terminate the TLS connect.

[2019-09-13 10:41] databus23 commented on #1135
Not necesarily. I think you could also come up with a tcp proxy that just forwards the connection without terminating the tls connection. So that the end-to-end encryption between client and apiserver is not changed.
The tcp proxy would just statically prepend the hostname in a simple format that is removed on the receiving ingress side and then forward the tcp connection to the correct apiserver

[2019-09-13 10:51] mvladev commented on #1135
Another reason why termination is required is when the client tries to talk to the apiserver via the in-cluster DNS.

For all API servers `kubernetes.default.svc.cluster.local` will be the same and when a client tries to connect to that API server via that record SNI won't work.

For this to work CoreDNS must be changed:

[code]

The content of the `kubernetes.default.svc.cluster.local` is going t

[2019-09-13 11:22] databus23 commented on #1135
Thats why the proxy would need to prepend the information to the tcp connection when forwarding. On the receiving end a custom ingress server would read the prefix and forward the rest of the connection to the correct service ip. It can be done, it just can't be done with standard ingress routers available.

[2019-09-16 11:29] rfranzke opened #1428 "Enhance backup handling"
The current shared backup bucket solution aims to automatically reschedule `core.gardener.cloud/v1alpha1.BackupBucket` resources in case the active `Seed` is offline or has problems. However, as of today there is no mechanism to decide which new `Seed` has access to the backup infrastructure environment (e.g., consider the `openstack` case where multiple OpenStack installations might be active wit

[2019-09-17 05:40] nikhilsap commented on #1050
For now Closing this as nothing need to change in Gardener side.

[2019-09-17 05:40] #1050 closed, assigned to nobody

[2019-09-17 08:31] mvladev opened #1433 "Generate OIDC kubeconfig when OIDC is specified"
**What would you like to be added**:

When OIDC is specified in the Shoot cluster, a OIDC kubeconfig should be generated. Given:

[code]

it should produce the following kubeconfig

[code]

This have a requirement to #1394

[2019-09-17 10:25] amshuman-kr commented on #1428
I see this as a topology problem. The [above](https://github.com/gardener/gardener/issues/1428#issue-493992716) approach with `BackupInfrastructure` seeks to solve it by explicitly encoding the topology (provider, region etc.).

How about solving it a bit more informally similar to the topology-aware scheduling using labels and selectors? The topology can be encoded in the labels of `seeds` simila

[2019-09-17 11:43] ialidzhikov opened #1434 "Support for Kubernetes v1.16"
Ref to the Changelog: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md

[2019-09-17 11:44] ialidzhikov commented on #1434
@gardener/gardener-maintainers , should we consider EOL for v1.10 before v1.16 adoption?

[2019-09-17 13:46] rfranzke commented on #1434
Why do we have to remove 1.10 before adopting 1.16? At the moment it doesn't harm (code complexity-wise), and we still don't have an upstream policy for such deprecations/removals. So, I wouldn't do it now, particularly not as prerequisite.

[2019-09-17 14:07] petersutter commented on #879
workaround:
- delete ownerRef on namespace and project related annotations and labels on the namespace.
- remove finalizer on project and set `confirmation.garden.sapcloud.io/deletion` annotation
- delete project
- cleanup other resources created for the project (clusterroles + bindings)

[2019-09-18 14:20] ialidzhikov opened #1441 "Unable to specify keystoneURL in OpenStack CloudProfile"
Steps to reproduce:
1. Apply CloudProfile.
[code]

2. Ensure that `.spec.openstack.keystoneURL`, `.spec.openstack.constraints.loadBalancerProviders` and `.spec.openstack.constraints.floatingPools` values are defaulted:
[code]
[code]

[2019-09-18 14:28] ialidzhikov commented on #1441
@rfranzke , are you able to reproduce this one?

[2019-09-18 14:56] rfranzke commented on #1376
@danielfoehrKn @schrodit @dguendisch volunteered to take over the adaptation of the integration tests once #1430 is merged.

[2019-09-18 18:56] rfranzke commented on #1441
Yes, very nice finding, thank you. I fixed it in [bfec3b9](https://github.com/gardener/gardener/pull/1430/commits/bfec3b9da85d192cac1cd3196dc305636537bfec) and added it to #1430. PTAL!

[2019-09-19 05:17] rfranzke commented on #1434
I have pushed the [`feature/kubernetes-1.16`](https://github.com/gardener/gardener/tree/feature/kubernetes-1.16) and [`gardener/gardener-extensions@feature/kubernetes-1.16`](https://github.com/gardener/gardener-extensions/tree/feature/kubernetes-1.16) branches for the necessary adaptations.

[2019-09-19 10:48] #1161 closed, assigned to nobody

[2019-09-19 10:58] #1441 closed, assigned to nobody

[2019-09-19 11:37] amshuman-kr commented on #1335
VPA 0.6.1 is [out](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.6.1) with the ["Preserve limit / request ratio, don't cap recommendations to limit"](https://github.com/kubernetes/autoscaler/commit/3fef092d2d7abc65b953e391c72e107bb8f2cd5e) change.

[2019-09-19 11:37] amshuman-kr commented on #1335
We are evaluating it as part of the performance test run with HVPA.

[2019-09-19 11:47] rfranzke commented on #1335
👍

[2019-09-19 12:00] wyb1 commented on #1356
I suggest we whitelist the metric `prometheus_tsdb_storage_blocks_bytes` and collect it in the `aggregate-prometheus` as well. Then we can see on average how much storage all prometheus instances need. Obviously this does not account for the wal so we should leave some buffer. In addition to that we can whitelist `prometheus_tsdb_lowest_timestamp` to figure out how "old" the data is.
In the mean t

[2019-09-20 06:56] #1356 closed, assigned to nobody

[2019-09-20 07:20] rfranzke commented on #1151
Implemented, but not on a per-shoot basis, but globally in the controller-manager configuration.

[2019-09-20 07:20] #1151 closed, assigned to nobody

[2019-09-20 07:22] rfranzke commented on #1115
I think making this configurable is dangerous as we control the version but the end-user (may) control the configuration. This will lead to operational effort and problems.
Would it be a better idea to allow the end-user to deploy his own CoreDNS and disable ours?

[2019-09-20 07:24] rfranzke commented on #1056
We decided to keep the nginx-ingress addon for now and don't deprecate/remove it soon. Meanwhile the [shoot-dns-service](https://github.com/gardener/gardener-extensions/tree/master/controllers/extension-shoot-dns-service) extension arrived which allows end-users to deactivate our nginx/ingress controller and deploy their own with DNS support. Soon, also certificate support will be available.
Gener

[2019-09-20 07:24] #1056 closed, assigned to nobody

[2019-09-20 07:24] rfranzke commented on #1026
What's the status here?

[2019-09-20 07:25] rfranzke commented on #1182
duplicate of #879

[2019-09-20 07:25] #1182 closed, assigned to nobody

[2019-09-20 08:13] swapnilgm commented on #1026
It was supposed to be added in backup alerts PR. But not added yet.  @shreyas-s-rao Please add this alert as well.
/assign @shreyas-s-rao

[2019-09-20 12:39] #1434 closed, assigned to nobody

[2019-09-20 15:35] zanetworker commented on #1115
what if the user was not able to correctly configure CoreDNS? then service discovery won't work and it would be a nice scenarios.

That said, we can test config changes and see how they affect the existing CoreDNS pods.

[2019-09-23 03:46] amshuman-kr opened #1447 "Minimise disruption to workload in case of kube-apiserver loadbalancer issues"
**What happened**:
If the `kuber-apiserver` loadbalancer is down for some time, the workload (even what is not dependent on `kube-apiserver`) in the cluster is disrupted because nodes and pods get evicted eventually.

The `nodelifecycle` controller in the `kube-controller-manager` is the active component that is taking the relevant actions. The following flags seem to be relevant.
* `--node-monito

[2019-09-23 07:26] vlerenc commented on #1447
We were fearing that scaling down the KCM may have undesired side effects and disabling the `nodelifecycle` controller may be better/less drastic. Do we know whether there is anything in KCM worth keep running or whether it can be shut down, if the nodes can't call back home anyways?

[2019-09-23 15:39] sjentzsch opened #1450 "metrics-server on metal not available: FailedDiscoveryCheck"
**What happened**:

In our shoot clusters, for our Gardener metal cloud (team here at FI-TS), the metrics-server is being deployed. However, with our infrastructural setup, the metrics server does not seem to work properly anymore, as e.g. the apiservice `v1beta1.metrics.k8s.io` is not available, deletion of namespaces is thus hanging and any auto-scaling (horizontal/vertical) won't work.

However

[2019-09-24 05:35] amshuman-kr commented on #1447
@vlerenc I tried switching off KCM for longer periods last week (~2h) while the loadbalancer was also down. I could not see any adverse affects. The existing workload was unaffected as long as the pods/nodes themselves did not have any issues. Considering that scaling down KCM is simpler compared to switching on/off individual controllers in KCM, this looks more suitable approach. WDYT?

[2019-09-24 07:18] vlerenc commented on #1447
Well then, if the anxiety wasn't justified, then it is certainly the simplest solution. I just wasn't sure whether we should check the source code to be sure or try another path (avoiding that). Not sure whether "disabling it for a week" proves the point (maybe some code paths were not touched). However, if a standard workload looks healthy, then I guess we can just do it this way. During further

[2019-09-24 07:19] rfranzke commented on #1450
Hi @sjentzsch, interesting, thanks for filing the issue.
So, I understood that the main problem for you is that you need to run the metrics-server in the host network, right? The PSP is needed in this case as well, right?
I think it makes sense to add the PSP generally directly in Gardener (we already do this for most other components). I'm not so sure whether we should make `hostNetwork=true` the

[2019-09-24 09:38] wyb1 opened #1452 "Dynamically set allow-to-seed-apiserver network policy"
**What would you like to be added**:
A controller that dynamically sets the network policy `allow-to-seed-apiserver`.
**Why is this needed**:
Currently, the network policy `allow-to-seed-apiserver` allows traffic to almost every IP. To create a more secure network policy, we need a controller that will create this network policy with the seed-apiserver IP.

[2019-09-24 10:35] rfranzke opened #1454 "Container Runtime Options"
**What would you like to be added**:
Today, Gardener has a hard requirement to Docker, but there are a couple of more container runtimes out there, e.g. `cri-o` or `gvisor`. We should investigate what is necessary to make the container runtime pluggable, and to allow end-users to configure which runtime shall be used on shoot level.

**Why is this needed**:
End-users are interested in using other

[2019-09-24 10:39] rfranzke opened #1455 "Configurable kube-scheduler strategies (a.k.a. bin-packing)"
**What would you like to be added**:
We should investigate what is necessary to allow configuring the scheduling strategies that are used by the `kube-scheduler`.

Disclaimer: @mvladev pointed out that the Kubernetes community is currently planning to change the way how the scheduler is configured:

* https://docs.google.com/document/d/1P1eBaePxuko22B8LLOrPEonoj1awc1dCVBDefuRWUA4
  * Migrate predi

[2019-09-24 12:44] majst01 commented on #1454
Would love to help here

[2019-09-24 16:38] sjentzsch commented on #1450
Hi @rfranzke Exactly, that makes sense and sounds reasonable.
If you could ensure the PSP for the metrics-server gets deployed via Gardener, we can mutate `hostNetwork=true` on our end.

[2019-09-25 07:22] rfranzke commented on #1450
Hi @sjentzsch, sounds good. Would you like to file a PR against the metrics-server chart?

[2019-09-25 07:55] swapnilgm commented on #1428
@amshuman-kr Since backupBucket is not created manually and created at the time of seed creation. Mostly your idea leads to putting seedSelector to all the label values from first assigned seed. But all labels need not be useful for categorising seeds which has access  to object store/backup provider. So, when the event of rescheduling occurs the new seed need not be expected to have all labels as

[2019-09-25 09:19] amshuman-kr commented on #1428
This is not a valid assumption. The selector could be on a subset of values. Hence, the rest of the chain of logic is invalid too.

[2019-09-25 12:09] rfranzke commented on #1096
Any update?

[2019-09-25 12:10] #1096 closed, assigned to ialidzhikov

[2019-09-26 07:51] liorokman commented on #1454
Seems to me that the biggest value would be to make Gardner-managed clusters use Containerd to launch pods by default. Both gVisor and Kata Containers support integrating into Kubernetes using Containerd shims.

Since the latest Docker CE packages come with Containerd, and CoreOS has Containerd preinstalled, the change would mainly require adding the relevant kubelet parameters (`--container-runti

[2019-09-26 08:09] wyb1 opened #1461 "Send Alerts to custom Alertmanager"
**What would you like to be added**:
Prometheus should be able to send alerts to a custom alertmanager. The alertmanager address will be configurable via shoot annotation.
**Why is this needed**:
Users will be able to configure their own alerting stack and do custom alert integrations (e.g. Slack alerts, pagerduty, etc.). In addition, users with multiple clusters can use a single alertmanager to h

[2019-09-26 10:37] wyb1 opened #1462 "Optionally add ports to allow-to-blocked-cidrs networkpolicy"
**What would you like to be added**:
Add whitelisted ports to the networkpolicy `allow-to-blocked-cidrs`.
**Why is this needed**:
Currently the networkpolicy `allow-to-blocked-cidrs` will allow traffic on all ports to the given CIDRs. This will reduce the traffic to only the allowed ports.

[2019-09-26 20:50] iancrowther opened #1467 "IBM Cloud"
IBM Cloud Support

Whilst not in the big 3, IBM has k8s

[2019-09-27 05:01] vlerenc commented on #1467
I guess, that's a feature request to support IBM Cloud. On the other hand, you mention, they also have Kubernetes (yes, we know), but Gardener is no "shell" wrapping around other companies Kubernetes services. It's one of its own with a vanilla Kubernetes distro you can configure. That's how we provision homogenous clusters in private and public clouds. Plus, we can deploy to any region with basic

[2019-09-27 05:01] #1467 closed, assigned to nobody

[2019-09-27 10:21] timuthy opened #1470 "Prevent `gardener` finalizer from being removed for existing shoots"
**What would you like to be added**:
When the `gardener` finalizer is removed from a shoot, an admission plugin in the Gardener should check if the shoot still has some backing assets, e.g. networks, machines, etc.

This can be done by checking if the shoot `namespace` in the seed exists and deny the admission request if this is the case.

**Why is this needed**:
At the moment it is possible to re

[2019-09-27 10:23] timebertt commented on #1470
Thanks for opening the issue. I'll get on it as soon as I'm back from vacation.

[2019-09-27 13:36] #1420 closed, assigned to timuthy

[2019-09-27 14:40] vpnachev commented on #1454
Gardener is not working only with CoreOS, it also has support for Ubuntu and SUSE-JEOS. New operating systems might be added in the future, too. A clean contract from the Gardener is required w.r.t. container runtime, so that new operating systems controllers will be implemented without any change in the gardner code.

At the moment, the OS can be configured per worker pool, because of potential i

[2019-09-27 19:33] majst01 commented on #1454
Configuration per worker pool is probably the most flexible solution, but probably kinda difficult to manage from a user perspective if there is no default in the cloudprofile.
Regarding container runtime, i would also prefer to add containerd as a second option for the start.

[2019-09-30 07:30] rfranzke opened #1472 "Allow adding additional availability zones after shoot creation"
**What would you like to be added**:
Today, adding additional AZs after shoot creation is not possible. The gardener-apiserver validates that no such changes are allowed.
However, from our implementation point of view it would be possible/no effort to allow this.

**Why is this needed**:
End-users usually create the cluster with one AZ, but once they want to go GA with their applications they want

[2019-09-30 10:05] #1351 closed, assigned to nobody

[2019-09-30 10:49] iancrowther commented on #1467
hey @vlerenc

I had, as you correctly identify, completely misunderstood the product offering and indeed thought it was a shell wrapping for managing deployments.

Thanks for the insight and for your response.

[2019-09-30 15:01] vpnachev opened #1473 "Improve user experience during deletion of some Gardener resources"
**What would you like to be added**:
In #1463 @rfranzke and me discussed the user experience during deletion of some gardener resources, like `SecretBinding` and `CloudProfile`. The case is that when these resources are referenced by other resources, e.g. `Shoots`, `Seeds`, their deletion is accepted(the deletion timestamp is set) but for the user it seems like the deletion is stuck. Basically, th

[2019-10-01 06:54] ialidzhikov opened #1476 "Shoot with .spec.dns.secretName that is missing is no longer reconciled"
**What happened**:
Shoot is shown as successfully created/reconciled but it is not reconciled since 1 month.
Shoot also has deletionTimestamp but the deletion flow never starts.

**What you expected to happen**:
I would expect somehow to know that the Shoot is not reconciled. Probably an error could be written to the Shoot status.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-10-03 06:37] swapnilgm commented on #1428
Yes. but then we will have to hardcode it in code the set of label to be choose from seed for which backupBucket is being created.

@rfranzke @timuthy @mandelsoft Any comment on approach suggested by @amshuman-kr ?

[2019-10-03 07:32] amshuman-kr commented on #1428
Or pick it from somewhere in the landscape configuration which is the right place for such information, isn't it?

[2019-10-03 19:43] vpnachev commented on #1454
OS type and version is optional in the shoot manifest, too. If the OS is omitted in the shoot manifest, it is defaulted to the first one available in the respective cloud profile.

https://github.com/gardener/gardener/blob/59a79859b4a6a5428239e5be728716b7ff24b6ca/pkg/apis/core/v1alpha1/types_shoot.go#L804-L805

So, I think that similar approach can be used for the container runtime - have a defaul

[2019-10-03 19:50] vpnachev commented on #1380
You could find [1] interesting, at least for Shoot cluster point of view.
For the seed cluster it is not applicable, at least not easy.

[1] https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry

[2019-10-03 20:41] majst01 commented on #1454
Agreed, so we need to have:

- a default container runtime per CloudProfile, which is available across all possible MachineImages / OSses
- A set of possible/compatible ContainerRuntimes per MachineImage, which will default to that given in the CloudProfile if ommited.

[2019-10-04 03:45] liorokman commented on #1454
I think this is a little more subtle. The first question is whether Kubernetes is configured to use the Docker API to configure containers, or the CRI API to configure containers. The current default is to use the Docker API, I think we should change that to use the CRI API, by moving the default Kubernetes configuration to use Containerd. This should be done across all worker-nodes, regardless of

[2019-10-04 09:05] timuthy opened #1482 "Use valid certificates for Grafana and Kibana endpoints"
**What would you like to be added**:
Gardener deploys Shoot logging and monitoring stacks which give operators and shoot owners access to Grafana and Kibana. At the moment, these endpoints are served with a cluster signed certificate which is not trusted by any browser by default.

Gardener should try to obtain/use a "globally" trusted certificate for these endpoints on a best effort basis. This m

[2019-10-04 12:51] vlerenc commented on #1380
What is the exact use case? I am asking because with the Hub we have the same issue and so we want to establish a contract that people hosting charts on the Hub have to specify a certain pull secret (by name) with their charts (if they use the Hub's image registry) and we install the/our pull secret prior to installation of the chart.

I haven't thought about integrating that part into Gardener, b

[2019-10-04 13:09] vlerenc commented on #1454
Sounds all very reasonable:
- using the containerd shim
- make it configurable per worker pool
- similar defaulting behaviour as we have already for OS
- describe which runtimes are allowed per OS, when we have gaps (maybe RHEL and Docker is already such a gap that may force us to do that, because that combination is officially supported)

In addition, we would get of course another/fourth output

[2019-10-04 13:32] dguendisch commented on #1454
An additional test dimension, uh, I mean if that feature makes sense (and it sounds like), then we'll have to add that dimension. Maybe we can optimize a bit by not creating test shoots with all that dimensions multiplied but combine dimensions into single shoots by using multiple worker pools instead, let's see...

[2019-10-06 11:19] ialidzhikov opened #1483 "Cannot run integration tests"
Recently the controller-runtime version was upgraded to `v0.2.0-beta.4`. In this version the library also registers a flag `kubeconfig` which makes impossible to run our integration tests because they also define a flag with the same name which results in panic.

https://github.com/kubernetes-sigs/controller-runtime/blob/v0.2.0-beta.4/pkg/client/config/config.go#L38-L40

[code]

[2019-10-07 06:57] danielfoehrKn commented on #1483
Will be fixed with [PR](https://github.com/gardener/gardener/pull/1474) changing our internal naming of the flag from to "kubecfg".

[2019-10-07 15:12] yarivlifchuk commented on #1455
Application Studio (WebIDE DevX) need this capability to avoid creating all PODS in the same node while there are several pre allocated empty nodes. Load on one node cause to PODs failures.

Support configurable Shoot K8S strategy scoring  - strategy for Application Studio (WebIDE) should be changed from ImageLocalityPriority to leastRequestedPriority
Currently it creates problematic scheduling be

[2019-10-08 13:33] hoeltcl commented on #1291
@rfranzke , @timuthy , @zanetworker 1 medium Checkmarx finding. Could you please take care?

[2019-10-09 14:05] #1291 closed, assigned to nobody

[2019-10-09 14:58] RaphaelVogel opened #1495 "Add K8s version metadata to cloudprofile"
**What would you like to be added**:
We are currently sharpening/defining our K8s versioning policy and want to classify versions in the cloudprofiles. An additional ENUM with possible values of `preview`, `supported`, `deprecated` and `expired` should be added. This should be used by the dashboard to display those version classifications when selecting the a specific version.

**Why is this neede

[2019-10-09 15:03] ialidzhikov commented on #1495
Why we point to an internal link in the public repo?

[2019-10-09 15:07] RaphaelVogel commented on #1495
removed...

[2019-10-10 09:32] vpnachev opened #1496 "Gardener does not respect machineImage on shoot level"
**What happened**:
When a shoot cluster is created with this manifest(only relevant fields are show)
[code]

The API defaulting sets the worker pool level os to be the default from the cloud profile, not the default defined on shoot level. So if I get the manifest of the created shoot, I will see this:
[code]

**What you expected to happen**:
I expect the shoot level defined machine image to be re

[2019-10-10 16:01] timebertt opened #1498 "Gardener finalizer cannot be written directly to newly created shoot"
**What happened**:
#1463 introduced a bug, which may cause that gardener-controller-manager cannot add the  `gardener` finalizer to a newly created shoot and still continue with the reconciliation logic.
E.g. it is possible, that the shoot controller creates other resources which require proper cleanup while the shoot itself is missing the `gardener` finalizer.

Error message:
[code]

**What you e

[2019-10-10 16:04] timebertt commented on #1498
I am on it and will open a PR in the next days

[2019-10-11 06:02] #1496 closed, assigned to nobody

[2019-10-11 06:08] timuthy commented on #1498
I'd consider this a blocker for Gardener release `0.31.x` @rfranzke

[2019-10-14 07:21] #1376 closed, assigned to schrodit, rfranzke, dguendisch, danielfoehrKn

[2019-10-14 08:53] #1026 closed, assigned to dkistner, swapnilgm, wyb1, shreyas-s-rao

[2019-10-14 13:11] #1498 closed, assigned to timebertt

[2019-10-16 07:36] danielfoehrKn commented on #1483
I think this issue can be closed now. The PR has been merged.

[2019-10-16 07:36] #1483 closed, assigned to danielfoehrKn

[2019-10-16 08:08] rfranzke commented on #1450
Hey @sjentzsch, any update on this?

[2019-10-16 11:50] phil9909 opened #1515 "docker daemon on node should trust the cluster CA"
**What would you like to be added**:
The cluster CA (the CA which sign CSRs https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/) should be trusted by the docker daemon running on the nodes.
GKE already does this.

**Why is this needed**:
This allows to easily set-up a cluster internal docker registry.

**Test**
The `test.sh` script inside [test.tar.gz](https://github.com/gardener/garde

[2019-10-16 13:58] rfranzke commented on #1515
Thanks, @vpnachev offered to look into it next week.

[2019-10-17 10:36] kayrus opened #1517 "Bump gopkg.in/yaml.v2 to 2.2.4"
In order to avoid an ability of DoS attacks, the yaml package version has to be bumped. https://github.com/go-yaml/yaml/pull/515

[2019-10-17 10:57] #1517 closed, assigned to nobody

[2019-10-17 10:58] rfranzke commented on #1517
You're right... thanks.

[2019-10-17 14:24] sjentzsch commented on #1450
Hi @rfranzke, we discovered a network issue on our side, which very likely caused such `FailedDiscoveryCheck`. Thus, we might not need the feature anymore. Please feel free to close the issue and we re-open if it turns out we still need some more customization on this end. Thanks a lot so far, nonetheless!

[2019-10-17 14:33] rfranzke commented on #1450
Okay, thanks for the update!

[2019-10-17 14:33] #1450 closed, assigned to nobody

[2019-10-18 08:31] #1470 closed, assigned to timebertt

[2019-10-22 06:16] schrodit opened #1526 "Shoots stuck in reconcile because of certificate-service extension"
**What happened**:
[code]

Shoot clusters stuck in reconcile because the `certificate-service` extension cannot be deleted correctly, although a deletion timestamp is set correctly.
When retrigger deletion with `kubectl delete extensions.extensions.gardener.cloud certificate-service` it is deleted immediately

Example:
[code]

**What you expected to happen**:
The extension should be deleted and th

[2019-10-22 06:21] rfranzke commented on #1526
Root cause is a bug in Kubernetes, see https://github.com/kubernetes/kubernetes/issues/77081

[2019-10-22 06:52] schrodit commented on #1526
Ok so fixed in 1.16. Then I will just delete all extensions manually 👍

[2019-10-22 10:27] hoeltcl opened #1530 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-10-22 11:11] ccwienk commented on #1380
@vlerenc : can we have a personal follow-up?

[2019-10-22 11:13] timebertt commented on #1473
/assign

[2019-10-22 11:49] rfranzke commented on #1530
Assessed.

[2019-10-22 11:49] #1530 closed, assigned to nobody

[2019-10-22 14:47] afritzler opened #1531 "ValidatingWebhook for GCM breaks local setup"
**What happened**:
With the RBAC rules introduced in https://github.com/gardener/gardener/commit/924fb2692c04b5321774e0168ceed510954800aa the local setup doesn't work quite right anymore since you can't create any secrets in the `garden` namespace anymore. Why is this webhook + rules needed in the local setup at all?

**How to reproduce it (as minimally and precisely as possible)**:
Run `make dev-

[2019-10-22 14:49] vlerenc commented on #1380
Sure, you invite @cwienk?

[2019-10-23 06:33] timebertt commented on #1531
+1, I ran into the same problem yesterday.

A possible workaround would be to delete the `"gardener-controller-manager"` `ValidatingWebhookConfiguration`, create the domain secrets you want, rerun `make dev-setup` and then start `gardener-controller-manager` again.

[2019-10-23 06:39] rfranzke commented on #1531
I'll open a PR that makes the webhook optional, it's not needed in the local setup. The motivation was to  be as near as possible on a real setup.

[2019-10-23 07:23] #1531 closed, assigned to rfranzke

[2019-10-23 15:41] schrodit opened #1536 "Validate podPIDLimit"
As user can configure the `podPIDLimit` of the kubelet we need to validate that number to ensure that all gardener components have enough PID's to work correctly.

Background: A user specified a limit of 10 which causes the kube-proxy to be unable to setup the iptables as it cannot spawn th iptables process.

cc @zanetworker

[2019-10-24 04:29] rfranzke commented on #1536
@danielfoehrKn

[2019-10-25 06:58] schrodit opened #1542 "Credentials are not correctly synced when shoot is in deletion"
**What happened**:

A shoot was deleted with invalid credentials.
The customer updated the credentials in the project but the new credentials were not synced to the seed.

**What you expected to happen**:
New Credentials are synced to the shoot namespace in the seed so that the shoot can be correctly deleted.

**How to reproduce it (as minimally and precisely as possible)**:
1. create a shoot with

[2019-10-26 15:49] ialidzhikov commented on #1542
+1

I also hit this several times and I had to sync manually the updated credentials from the secret in the garden cluster to the secret in the Shoot ns to allow proper deletion.

[2019-10-28 05:41] #1115 closed, assigned to nobody

[2019-10-28 11:36] wyb1 opened #1554 "Customize alertmanager for operators"
**What would you like to be added**:
The alertmanager for operators should be able to accept custom configuration.

**Why is this needed**:
Currently, the alertmanager that is deployed for operators can only be configured to send out email alerts. If someone is operating their own gardener and needs to configure custom alerts (slack, pager duty, etc.) this is currently not possible using our alert

[2019-10-28 16:08] timebertt opened #1555 "Deadlock on Seed deletion"
**What happened**:
When a Seed is deleted that is still used by at least one Shoot (which is not marked for deletion), a deadlock will occur, so that neither Seed nor Shoots can be deleted and require manual cleanup.

The problem is that the `metadata.generation` of the Seed object is increased on deletion (here: `vendor/k8s.io/apiserver/pkg/registry/generic/registry/store.go:761`) and the `status

[2019-10-28 16:31] timebertt opened #1556 "Update k8s.io/client-go version"
As I was implementing #1552 I discovered, that we are currently using the outdated version `k8s.io/client-go v11.0.1-0.20190409021438-1a26190bd76a`, which has no support for the new `events.k8s.io` API (see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/events-redesign.md)

k8s.io/client-go version v12.0.0 is the one used in k8s 1.15 and includes

[2019-10-28 18:11] ialidzhikov commented on #1556
+1

This will be done with #1206 (which requires #1349 and `sigs.k8s.io/controller-runtime@v0.3.0`). I think we can close as duplicate of #1206.

[2019-10-29 07:51] zanetworker commented on #1555
@tim-ebert maybe we can implement something similar to this (https://github.com/kubernetes/kubernetes/blob/cb19b56831d54d1d31249949318ef0b07bf00df9/pkg/registry/core/pod/strategy.go#L118 ) for our resources (especially the seed in this case)?

We would need to have `spec.TerminationGracePeriodSeconds` in the seed spec, or any other spec that wishes to implement the interface...

[2019-10-29 12:03] timebertt commented on #1407
/assign

[2019-10-29 12:24] kayrus opened #1560 "Core: kubelet services lose connections to kube-apiserver"
**What happened**:

When kube-apiserver is restarted, some kubelet go routines seem lose connection state and then fail, which leads to reconciliation issues in gardener.

![Screenshot_20191029_132131](https://user-images.githubusercontent.com/4047483/67766591-0a14b380-fa4f-11e9-96fc-0794798c8429.png)

**What you expected to happen**:

Reconciliation should be fine even, when kube-apiserver was re

[2019-10-29 12:46] rfranzke commented on #1560
I don't think this is something that we can influence, can we? Also, I've never seen this anywhere in the past. The screenshot you linked indicates that the vpn-shoot pod is either not running or not reachable via its load balancer. How is a kubelet restart related here?

[2019-10-29 12:53] wyb1 commented on #1554
Optionally, we could send the operator alerts to a different alertmanager. This address could be configured somewhere and the alerts will be sent to an external alertmanager.

[2019-10-29 14:30] kayrus commented on #1560
@rfranzke it is related to the pod status. when pod status is not updated, other depending services stop working. restarting the kubelet solves the issue. @schrodit is already looking into this. The issue occurs in office landscape as well.

[2019-10-29 15:10] rfranzke commented on #1555
Should we simply not wait for a seed to be "up-to-date" in case it is marked for deletion? It will never get up to date anyways because the bootstrap loop is never executed again.

[2019-10-30 07:56] #1473 closed, assigned to timebertt

[2019-10-30 09:28] schrodit opened #1564 "☂️- Issue for Gardener Test Cases"
### Motivation
Since Gardener has to manage hundreds or even thousands of clusters in full automation, there is no human involved anymore once deployed. A bug in the controller manager may have catastrophic effects on a productive landscape. Consequently, we must protect ourselves against this worst case scenario with a likewise fully automated output qualification.

The goal is that we can releas

[2019-10-30 11:15] schrodit opened #1565 "Improve Gardener test framework"
**What would you like to be added**:
As we want to improve our code coverage in the next months we will need a simple and easy to use test framework.
Currently a lot of functionality is already in the gardener testframework and it can be used by the tests itself.
But the current framework also has some disadvantages:
- some functions that are in the framework are really specific to just one test e

[2019-11-01 07:10] jia-jerry opened #1571 "Default externalTrafficPolicy Nginx ingress service"
**What would you like to be added**:
By default, when I enable Nginx ingress controller for shoot cluster, *externalTrafficPolicy* is *Cluster*.  There is some drawbacks for this setting:
1. Nginx can't get correct source IP from client: https://kubernetes.io/docs/tutorials/services/source-ip/
2. Possible extra hops between nodes.

Suggest to set the default value to Local
**Why is this needed**:

[2019-11-01 07:18] rfranzke commented on #1571
I think this is cloud specific, right? cc @zanetworker @DockToFuture

[2019-11-01 14:28] #1526 closed, assigned to nobody

[2019-11-01 14:29] rfranzke commented on #1335
Fixed with https://github.com/gardener/gardener/pull/1512

[2019-11-01 14:29] #1335 closed, assigned to nobody

[2019-11-01 14:30] rfranzke commented on #893
Done with https://github.com/gardener/gardener/pull/1421

[2019-11-01 14:30] #893 closed, assigned to georgekuruvillak, ggaurav10, amshuman-kr

[2019-11-01 14:40] #1407 closed, assigned to timebertt

[2019-11-01 15:55] rfranzke commented on #255
Done with #1421

[2019-11-01 15:55] #255 closed, assigned to hardikdr

[2019-11-01 15:55] rfranzke commented on #232
GEP: #1546

[2019-11-01 15:57] rfranzke commented on #16
Done with #1421

[2019-11-01 15:57] #16 closed, assigned to georgekuruvillak, ggaurav10, amshuman-kr

[2019-11-01 16:54] rfranzke opened #1572 "Support multiple DNS providers"
With the new `core.gardener.cloud/v1alpha1.Shoot` API we are supporting to specify multiple DNS providers: https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L192-L205

However, our current implementation only deploys exactly one provider: https://github.com/gardener/gardener/blob/master/pkg/operation/botanist/dns.go

We should fix our implementation to properly support the API

[2019-11-01 16:54] rfranzke opened #1573 "`DNSProviderPreset` resource and admission controller"
With the new `core.gardener.cloud/v1alpha1.Shoot` API we are supporting to specify multiple DNS providers: https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L192-L205

Similar to how we introduced `OpenIDConnectPreset` resources with https://github.com/gardener/gardener/pull/1394 we can introduce `DNSProviderPreset` resources and an admission controller that allows end-users t

[2019-11-01 16:54] rfranzke opened #1574 "Use central gardener-resource-manager in seeds to deploy extensions"
Since https://github.com/gardener/gardener/pull/1331 every seed gets a central `gardener-resource-manager` deployment. We should use this one and its `ManagedResource` API to deploy and reconcile the extension controllers instead of duplicating this logic in the `ControllerInstallation` controller: https://github.com/gardener/gardener/blob/master/pkg/controllermanager/controller/controllerinstalla

[2019-11-01 16:55] rfranzke opened #1575 "Forbid hibernating shoots with problematic webhooks"
We should prevent `Shoot`s from getting hibernated in case they have `ValidatingWebhookConfiguration`s or `MutatingWebhookConfiguration`s with rules for `CREATE` `pods` or `nodes` and `failurePolicy=Fail`.

Otherwise, we can never wake up this shoot cluster again as new nodes cannot get created, or our system component pods cannot get created (because the validating webhook pod is not yet running)

[2019-11-01 16:55] rfranzke opened #1576 "Gardenlet"
Similar to how Kubernetes has the Kubelet to manage pods on nodes we want to have a Gardenlet to manage shoots on seeds.
The idea is to run the shoot reconciliation flow (+ all other controllers communicating with the seed) inside the seed itself, allowing for better network performance and scalability. The gardener-controller-manager will remain the control loops for things that are not requiring

[2019-11-01 16:56] rfranzke opened #1577 "Implement versioning policy contract (GEP-5)"
GEP-5 (https://github.com/gardener/gardener/blob/master/docs/proposals/05-versioning-policy.md) is a proposal for making the Kubernetes and operating system versioning policy more predictable for operators and end-users.

Mainly, it classifies versions into four categories, `preview`, `supported`, `deprecated`, and `expired`.

As the proposal has been accepted we should implement it now.

[2019-11-01 16:56] rfranzke opened #1578 "Optimize etcd encryption handling"
With https://github.com/gardener/gardener/pull/1066 we have introduced etcd encryption for shoot clusters. Today, in order to activate the encryption for new shoot clusters we require two reconciliation flows. In the first flow the encryption configuration is created but set to inactivate, and only in the second flow it's made active. However, it would be possible to combine that into one flow, at

[2019-11-01 16:57] rfranzke opened #1579 "Documentation for `Network` resource"
We are lacking documentation for the `extensions.gardener.cloud/v1alpha1.Network` resource in https://github.com/gardener/gardener/tree/master/docs/extensions. For all other extension contracts we already have extensive documentation, see https://github.com/gardener/gardener/tree/master/docs#extensions.

[2019-11-01 16:57] rfranzke opened #1580 "Enhance documentation for control plane extensions"
Gardener deploys a bunch of network policies into the shoot namespace in the seeds. Any extension controller that wants to deploy additional components next to the control plane that need to communicate with other parts needs to set proper labels to get targeted by the network policies managed by Gardener.

Today, we don't have documentation for which network policies are installed by Gardener and

[2019-11-01 16:57] rfranzke opened #1581 "Disable extensions that are globally enabled"
Today, it is possible to globally enable an extension via its `ControllerRegistration` resource. This means that all shoot clusters automatically get this extension without the necessity to explicitly activate it in the `.spec.extensions[]` list.

However, some shoots might want to opt out of our globally enabled extensions, but this is not possible today.
Let's introduce `.spec.extensions[].enabl

[2019-11-01 16:58] rfranzke opened #1582 "Nodes CIDR should be optional"
We are using the `nodes` CIDR in the `.spec.networking.nodes` field in order to properly set up the VPN connection between the kube-apiserver and the shoot worker nodes.
However, some providers don't need such a VPN connection because they only have one large network in which all their seed and shoot VMs are living together.
Consequently, we should make the field and the VPN configuration optional

[2019-11-01 16:59] rfranzke opened #1583 "Improve ControllerInstallation controller cleanup"
Today, if a `Seed` gets deleted then the `ControllerRegistration` controller deletes all `ControllerInstallation`s referencing this `Seed`.
This will cause that the extension controller are getting removed from the cluster. However, if there are still `Shoot`s or `BackupBucket`/`BackupEntry` objects referencing this `Seed` as well then their reconciliation loops will fail forever.

We should only

[2019-11-01 16:59] rfranzke opened #1584 "Offer VPA deployment next to shoot control plane"
We should optionally offer to deploy and configure the VPA for shoot clusters. We can run the required deployments in the shoot namespace in the seed and wire them accordingly so that the webhooks can seed-internally communicate with the shoot's API server.

End-users could then get a VPA for their clusters out of the box, controlled and managed by Gardener. A new `.spec.kubernetes.verticalPodAuto

[2019-11-01 17:01] rfranzke commented on #1495
Closed in favour of #1577

[2019-11-01 17:01] #1495 closed, assigned to danielfoehrKn

[2019-11-01 17:42] ialidzhikov opened #1585 "Enhance validation for core.gardener.cloud.Shoot"
**What would you like to be added**:
Currently it is possible to create a Shoot with the following spec section (only relevant fields are shown):
[code]

The Shoot reconciliation will fail with
[code]

The valid spec should be
[code]

[2019-11-01 17:44] rfranzke commented on #1585
Duplicate of https://github.com/gardener/gardener-extensions/issues/407

[2019-11-01 17:44] #1585 closed, assigned to nobody

[2019-11-01 21:11] vpnachev commented on #1575
If the webhook is external, e.g. `[MutatingWebhookConfigurations|ValidatingWebhookConfigurations].webhooks.clientConfig.url` is defined, Gardener should not block hibernation of the cluster.

[2019-11-02 07:02] vlerenc commented on #1575
Good point(s).

[2019-11-04 07:03] #1215 closed, assigned to plkokanov

[2019-11-04 07:05] #1349 closed, assigned to ialidzhikov

[2019-11-04 12:33] #1556 closed, assigned to nobody

[2019-11-04 16:27] ialidzhikov opened #1590 "Remove the Shoot from the store when the Shoot ns is missing in the Seed"
In the deletion flow we should remove the Shoot from the store when it has deletionTimestamp and the Shoot ns in the Seed is missing.

Ref https://github.com/gardener/gardener/pull/1404#commitcomment-35795308

[2019-11-05 06:34] timebertt commented on #1555
Yes of course, this should be a possible workaround.

[2019-11-05 06:52] plkokanov commented on #1590
Almost done with the fix #1591 .

[2019-11-05 07:47] rfranzke commented on #1555
Not sure if I would consider it as "workaround". It's rather the correct implementation as the seed controller will never do any bootstrapping anymore if the seed is deleted, so it doesn't make sense to wait for it.
You wanna go ahead implementing it this way?

[2019-11-05 07:53] timebertt commented on #1555
Yes, sure.
/assign

[2019-11-05 09:58] ialidzhikov opened #1592 "ControllerRegistration controller tries to patch ControllerInstallation with deletionTimestamp"
Currently when you delete a ControllerInstallation, ControllerRegistration controller tries to patch the ControllerInstallation which results in failed patch attempts until the ControllerInstallation is deleted.
[code]

[2019-11-05 22:42] ghost opened #1595 "Gardener differentiation"
How does gardener different from Google's Anthos and Azure Arc ?

Like to understand when would i would gardener when compared to others ?

[2019-11-06 04:35] vlerenc commented on #1595
There is not much to be compared here. Anthos is GKE (Google Cloud) and GKE-on-prem (VMware), but while the first is well-known and regarded, the latter is not of the same qualities (no Borg anywhere outside of Google), see also https://cloud.google.com/gke-on-prem/quotas, which are quite restricting. It's all very, very early.

Arc is even fresher, Azure and private DC hardware only, and mostly r

[2019-11-06 04:35] #1595 closed, assigned to nobody

[2019-11-06 05:42] #1515 closed, assigned to vpnachev

[2019-11-06 07:04] #1590 closed, assigned to plkokanov

[2019-11-06 19:07] ghost commented on #1595
@vlerenc  Thanks for the response. What i understand, Gardener is more of a homogenous K8S for multiple clouds  managed from single pane of glass.

[2019-11-06 23:26] ialidzhikov commented on #1564
Not sure if it is the right issue, but I just wanted to suggest that we could also add test for  `.spec.kubeProxy.mode`. Afaik we currently do not test with `.spec.kubeProxy.mode: IPVS`, right?

[2019-11-07 07:14] timuthy commented on #1564
Have you already thought of adding test cases for the different operating systems that we support on major cloud providers? I know the test matrix easily grows here but at least the most important permutations should be covered.

[2019-11-07 08:04] mvladev commented on #1576
Can you elaborate on

I'll strongly recommend to use the [Lease](https://github.com/kubernetes/api/blob/665c8a257c1af277521b08dd43d5c73570405ef0/coordination/v1/types.go#L23-L37) resource for storing heartbeats and update the status only when something really breaks. See the [Node Heartbeat KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0009-node-heartbeat.md).

[2019-11-07 08:13] rfranzke commented on #1576
Thanks for pointing this out! Very interesting! In its initial version it's implemented in a way similar to what the kubelet does today, hence, reporting its ready status as condition in the `Seed` object. I suggest to incorporate it as is, as we definitely won't have these scalability problems for some time (the document talks about 2000 nodes with 10-15 pods each; I doubt that anybody will have

[2019-11-07 11:01] zanetworker commented on #1571
This is cloud-specific yes, it should be possible however needs to be tested on each cloud provider to make sure the LB health checks are fast enough.

[2019-11-07 11:18] rfranzke commented on #1571
Let's close the PR for now. As discussed, it's probably provider-specific and can be changed with the [shoot webhook concept](https://github.com/gardener/gardener/blob/master/docs/extensions/shoot-webhooks.md).

If you want to change the default in Gardener itself please reopen with experiment results and reasoning why it can be done generally for all infrastructure providers.

[2019-11-07 11:18] #1571 closed, assigned to nobody

[2019-11-08 08:35] mvladev commented on #1135
I got the TLS termination proxy up and running (see https://github.com/gardener/gardener/issues/1135#issuecomment-531164314) - it also parses the x509 certificate and everything is working.

The problem with this approach is that if a `Node` is compromised, then an attacker can access the proxy certificate and use it to make requests to the API server and impersonate users. Today if an attacker ge

[2019-11-08 09:14] vlerenc commented on #1135
I haven't followed you in detail (also, the last communication is from September), but it's great that you continue investigating. That would help Gardener a lot.

Now, when you say, proxy certificate and impersonation, that only refers to this one cluster (not the others dispatched clusters that run over the LB for all the seed-managed shoots), right?

Then, I would think, the goal to have only o

[2019-11-08 09:16] mvladev commented on #1135
Only the cluster which `Node` is compromized

[2019-11-08 14:36] dguendisch commented on #1564
Right, we don't customize `kubeProxy:mode` yet, so we test whatever is the current default.
@ialidzhikov do you happen to have an idea on how much usage there is for `IPVS` currently?
If we'd test `IPVS` as well, would the basic shootapp test (deploying guestbook, etc) suffice or would we need a new test (of course besides creating an `IPVS` enabled cluster)?

Yes, colleagues are running jeos+ubun

[2019-11-11 10:24] rfranzke commented on #1592
This should be fixed with https://github.com/gardener/gardener/pull/1601/files#diff-da98b671315f6e97798e22a130710261

[2019-11-11 10:27] rfranzke opened #1605 "Protobuf generation is missing"
**What happened**:
Using Gardener on a 1.16 Kubernetes cluster does not work properly because the kube-controller-manager only uses `protobuf` in 1.16, and the Gardener does not yet support this content type.

**What you expected to happen**:
Gardener should provide protobuf definitons.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy Gardener on 1.16 cluster and try to de

[2019-11-11 20:31] ialidzhikov commented on #1542
Btw it is not only the `cloudprovider` secret in the shoot ns, I had to sync also the machineclass secret.

[2019-11-12 05:48] #1472 closed, assigned to zanetworker

[2019-11-12 09:09] freegroup commented on #1572
If an existing cluster "suddenly" wants to use a custom domain with TLS/certificates, then this is only possible by deleting the cluster completely and entering the domain in the Shoot Manifest and creating the cluster again.

is it possible to use this feature *Custom Domains* with an existing cluster on a migration path (without deleting them at all)?

we have a lot of stakeholder with existing

[2019-11-12 09:59] rfranzke commented on #1572
I'd consider this request to be independent of this issue.
What you want to do is to change your DNS domain of a running cluster. Theoretically, this should be not too much work. We would need to regenerate the kube-apiserver certificate, and to create/delete new/old records. Can you open a separate issue for this one?

[2019-11-12 16:57] dkistner commented on #345
I think we will not do this in the near future, because we have similar metrics already via the `gardener-metrics-exporter` (not with that detail level). Therefore I will close the issue for now and if we need more detailed insight in the future we can open it again.

[2019-11-12 16:57] #345 closed, assigned to dkistner, wyb1

[2019-11-13 06:07] jia-jerry opened #1609 "Expose shoot infrastucture information for end users"
**What would you like to be added**:
When a shoot is created, infrastructure (vpc, security grups and etc. ) is created by Gardener via Terraform. Though Gardener operators could find the output from infrastructures.extensions.gardener.cloud in seed cluster, we need to find a way to expose such information to customers.
**Why is this needed**:
Some users need infrastructure information to do some

[2019-11-13 12:05] #1555 closed, assigned to timebertt

[2019-11-13 12:35] rfranzke opened #1615 "Allow to disable DNS"
**What would you like to be added**:
It should be possible to disable DNS for certain seed clusters. This means that shoots assigned to such a seed don't get any DNS providers/entries, and only the load balancer hostname/ip is used in order to communicate to the API server.

**Why is this needed**:
Some environments don't require DNS, and it also enables an easier setup for Gardener to play around

[2019-11-13 12:56] timebertt commented on #1575
@rfranzke @timuthy @zanetworker and myself discussed on how we want to implement this behaviour.

Here are our thoughts:
As direct communication from the garden cluster to the Shoot is not desired anymore (and will be removed with #1601) the correct place to actually check the webhooks is in the Shoot care controller which will eventually also be part of the Gardenlet and also runs the Shoot healt

[2019-11-13 15:57] rfranzke commented on #1564
Some ideas:

- [ ] Add labels, taints, annotations to worker pools and see them added
- [x] Disable privileged containers and test that privileged containers are not allowed anymore
- [ ] Configure kube-apiserver settings (OIDC, admission plugins, etc.) and see them being correctly configured
- [ ] Configure kube-controller-manager settings (HPA, feature gates, etc.) and see them being correctly c

[2019-11-14 05:19] ghost opened #1618 "Getting started."
Hello Team.

I would like to install gardener, install UI and also create GKE and EKS using gardener.

Can you help point me to right links to get started ?

[2019-11-14 06:14] vlerenc commented on #1618
Gardener is no shell around other managed Kubernetes services/offerings. Gardener comes with a configurable vanilla Kubernetes distro. To achieve that, it needs to control the control plane, which no managed service allows (for obvious reasons). Gardener comes with minimal TCO and manages everything including the nodes. Again, services like EKS don't support that.

Gardener's mission goal is to pr

[2019-11-14 06:14] #1618 closed, assigned to nobody

[2019-11-14 13:29] ghost commented on #1618
Thanks for the detailed explanation @vlerenc

Can you point me to steps for installing gardener ?

[2019-11-14 13:39] ialidzhikov commented on #1618
@kkbrat9 , you can check the community installer - https://github.com/gardener/garden-setup/ and the related [docs](https://github.com/gardener/garden-setup/tree/1.16.2/docs/extended).

[2019-11-14 15:48] #1554 closed, assigned to wyb1

[2019-11-15 09:24] grolu commented on #1564
Ideas for **Dashboard**
* Have an end-to-end test for Gardener Dashboard, leverage Test Machinery Infrastructure to setup a Gardener Landscape where we can run the tests
  * Create a project
  *  Create a cluster (different providers?)
  * Start a terminal session
  * Delete a cluster
  * Delete a project
…
*  Add tests for Terminal Feature
* * Backend Code
* * Terminal Controller
* Improve Unit T

[2019-11-15 10:07] schrodit commented on #1575
You should also consider this issue we had with the karydia webhooks: https://github.com/karydia/karydia/issues/235
There they set the `failurePolicy` to `Ignore` but as the timeout was 30s the initial client request timeouted with an error before the failure could be ignored.

[2019-11-15 12:51] ggaurav10 opened #1627 "Allow nodes with root disks of type io1 with configurable iops when creating shoots in aws"
**What would you like to be added**:
Today it is not possible to create shoots with nodes that have io1 disks as root disks with configurable iops. Gardener should support that.
**Why is this needed**:
This could be useful for end-users who depend on higher throughput from a node's root disk. In our perf-runs also, we have observed that higher root disk's throughput can be helpful in the cases whe

[2019-11-19 07:17] timebertt opened #1630 "Incorrect state on cluster hibernation"
**What happened**:
When Gardener hibernates Shoot clusters, it sometimes happens that the objects in the Shoot's etcd don't reflect the correct state of the cluster.
The current logic is more or less: scale down the workers, wait for all Node objects to be deleted and then hibernate the control plane.

This can lead to the following state:
All Nodes removed, but Pods still having the state `Runnin

[2019-11-19 07:21] plkokanov opened #1631 "Shoot Control Plane Migration"
This issue describes the necessary tasks for an initial implementation of the proposal for [Control Plane Migration](https://github.com/gardener/gardener/blob/master/docs/proposals/07-shoot-control-plane-migration.md).

The goal is to enable control plane migration between two working seeds.

The following things have to be done:
  - [x] ShootState resource added to gardener API Server #1634
  - [

[2019-11-19 07:23] timebertt commented on #1630
I discussed with @zanetworker and @timuthy on how to check, if the cluster is in a "clean state" before hibernating the control plane.

Here are our thoughts:
- We should wait for all the Endpoints objects in the Shoot to not contain any IPs from the Shoot's PodCIDR. This would indicate that all Pod's reflect the hibernated state (not running anymore) and the Endpoints controller picked it up and

[2019-11-19 07:27] timebertt commented on #1630
@schrodit and I could not reproduce this issue in a local setup.
We will analyse this further and then implement a fix for this.

/assign
/status in-progress

[2019-11-19 07:43] timebertt opened #1633 "Seed deletion leaves workload in garden namespace"
**What happened**:
If you delete a Seed object, the `garden` namespace and some workload in it will not be removed from the cluster.

After Seed deletion:
[code]

**What you expected to happen**:
Gardener should clean up all the added resources after the Seed was deregistered.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2019-11-19 07:44] timebertt commented on #1633
I guess, we should check this issue after the `gardenlet` has been merged (#1601 )

/status on-hold

[2019-11-19 12:01] timebertt commented on #1630
Update:
We've been able to reproduce the issue. It seems to be related to k8s v1.16 as we can only reproduce it with v1.16

[2019-11-19 13:02] timebertt commented on #1630
Update:
We verified that this issue is related to Kubernetes version 1.16 (all patch versions).
I will now proceed with implementing the fix as described above:

[2019-11-19 13:24] kayrus commented on #1560
@rfranzke @afritzler according to the latest debug results, this issue hasn't been faced by you, because your production CoreOS VMs are updated manually under the ops control. In our case we're using garden-setup and it has the autoupdate enabled by default.
Our nodes are updated and rebooted almost every 2 weeks (approximately). This leads to a connection problem between kubelet and active kube-a

[2019-11-19 19:11] vlerenc commented on #1630
Thanks for catching this. Indeed, we should avoid this situation (right after getting rid of the nodes shutting down everything before it's properly updated by the various independent controllers).

[2019-11-19 21:57] vpnachev commented on #1630
IMHO, the actual RCA is shortly described here https://github.com/kubernetes/kubernetes/issues/71508#issuecomment-470126655. Basically the client request timeout before the request from the kube API to the validating/mutating webhook, thus the request is rejected despite the `Ignore` policy.

I am wondering whether the `Nodes` objects are deleted before the control plane is hibernated? If not, thi

[2019-11-20 06:55] timebertt commented on #1630
Yes, indeed. That is exactly the issue we were experiencing here.

Before Gardener hibernates the control plane, it waits for all Node objects to be deleted. But at the moment it does not wait long enough before scaling down `kube-controller-manager` for it to update the Pods and Endpoints accordingly.

Yes, we tried this. We managed to wake up the Shoot properly when setting the problematic webho

[2019-11-20 07:25] schrodit commented on #1630
Update:
We tested the above mentioned fix which fixes the endpoint issue. But discovered another strange behavior with the pods.
The endpoints are now "cleaned" (some endpoints have `<none>` some have nothing?) but the pods are still `Running`.
I think we should wait for a real clean state, so all pods are pending and all internal endpoints are `<none>`.

![Screen Shot 2019-11-19 at 15 55 40](http

[2019-11-20 10:50] petersutter opened #1637 "Wildcard certificates"
**What would you like to be added**:
If a certificate can be requested because a certificate service is available, e.g. `cert-management` for shoots, gardener should request a wildcard certificate per shoot namespace on the seed.

**Why is this needed**:
- Could be of use for `Use valid certificates for Grafana and Kibana endpoints` #1482
- Could be of use for `Browser-trusted certificates for kub

[2019-11-20 15:23] vpnachev commented on #1630
They are in `Running` because the `kubelet` is down and there is nothing to update their status.
Actually, are the Nodes drained during the hibernation?

[2019-11-20 15:31] timuthy opened #1639 "CRDs deployed by Gardener-Resource-Manager block shoot clean-up"
**What happened**:
Presumably a race condition blocks/defers the deletion of shoot clusters when CRDs are deployed by the Gardener-Resource-Manager.

Gardener deletes all cluster CRDs in the shoot deletion flow. After the deletion, it checks if the resources are gone.

It can happen that the Gardener-Resource-Manager redeploys a deleted CRD before the check is done by Gardener. As a consequence th

[2019-11-20 15:35] DockToFuture commented on #1639
Thanks for opening up an issue for this race condition!

[2019-11-20 15:35] ialidzhikov commented on #1639
`certificates.cert.gardener.cloud` crd gets recreated because of the mr of the extension.
Whats is your fix idea here?

[2019-11-20 16:22] timuthy commented on #1639
Gardener first deletes all CRDs and then checks for them to be gone.

A quick win could be to directly check for the existence **after each CRD** was deleted. Once gone, we should be confident enough to proceed with the shoot deletion flow.

[2019-11-20 18:37] schrodit commented on #1630
Yes but the kcm will update their state to `Pending` after some time, so we just need to wait until the kcm gc starts updating the pod's status.

[2019-11-20 18:41] timuthy commented on #1630
This should happen by MCM since the MachineDeployment is scaled down.
/cc @hardikdr @prashanth26

[2019-11-20 22:08] ialidzhikov commented on #1639
We do apply the clean && ensureGone pattern not only for crds but for each kubernetes api resource that we clean up during Shoot deletion. Isn't the right solution the extension controller to clean up its managed resources when the shoot is in deletion? If I know that something is being deleted, I would stop applying new things on it.
My initial proposal was to move the `Clean extensions` step bef

[2019-11-21 06:07] prashanth26 commented on #1630
Yes, the nodes are always drained on scale-down (in turn hibernation).

[2019-11-21 06:47] timuthy commented on #1639
This is not possible because it would also delete controllers that have set their `finalizers` on the resource, i.e. the resource is not cleaned up properly.
Let's take the `shoot-cert-service` as an example: It deploys a `certificate controller` to the shoot control plane and puts a `Certificate CRD` into the shoot cluster. When we deleted the `shoot-cert-service` extension before the CRDs in the

[2019-11-21 15:39] timuthy commented on #1639
I re-iterated over the situation and came up with the following proposal:

1. Introduce a new field in the `ManagedResource` CRD called `forceRedeploy` which defaults to `true`.
[code]

- `forceRedeploy == true`: resources are re-applied by the controller
- `forceRedeploy == false`: resources are only applied once and deleted when `ManagedResource` is removed.

2. Add a step prior to `Cleaning ext

[2019-11-21 15:45] rfranzke commented on #1639
Thanks @timuthy, sounds good, although I have the feeling that the `ManagedResource` API could be better streamlined. Though, it's `v1alpha1`, hence, okay for now.
Another (quicker) approach would be to adapt our clean-up logic to only check for resources whose creation timestamp is <= the deletion timestamp of the shoot. One potential "problem" with the above suggestion is that extension controll

[2019-11-21 16:02] timuthy commented on #1639
Sounds also good to me, thanks for the suggestion :)

[2019-11-22 06:32] #1630 closed, assigned to timebertt

[2019-11-22 09:26] petersutter commented on #1637
As of gardener/dashboard#510, at least from the dashboard perspective, we no longer require this as the dashboard now uses wildcard certificates `per seed`.

Feel free to close this issue if you see no further need from your side for wildcard certificates `per shoot namespace`.

[2019-11-22 10:15] timuthy opened #1645 "CloudRouter conversion is missing for Shoot APIs"
**What happened**:
https://github.com/gardener/gardener-extensions/pull/417 added a new field `cloudRouter` to the `VPC` of the provider GCP API.

Since `cloudRouter` hasn't been added to `garden.sapcloud.io/v1beta1` but Gardener still offers both shoot API versions, a proper conversion logic is required: `cloudRouter` should be saved as an annotation (`migration.shoot.gardener.cloud/infrastructur

[2019-11-22 14:53] ialidzhikov commented on #1206
/assign @ialidzhikov

[2019-11-22 15:07] ialidzhikov opened #1648 "Purge context.TODO()"
There are multiple usages of `context.TODO()` in g/gardener and g/gardener-extensions in non-test code. We could revise, context-ify our packages and purge the usage of context.TODO().

https://golang.org/pkg/context/

[2019-11-22 15:16] ialidzhikov opened #1649 "Adapt labels and annotations to the new API group"
Currently the annotation to trigger reconciliation on crds such as `Infrastructure`, `Worker` is `gardener.cloud/operation=reconcile`. However the annotation for Shoot is `shoot.garden.sapcloud.io/operation=reconcile`. There are annotation/label keys such as `garden.sapcloud.io/createdBy`, `namespace.garden.sapcloud.io/project`, `shoot.garden.sapcloud.io/ignore`, etc. that could be switched to `<f

[2019-11-22 16:15] timuthy commented on #1637
Let's continue on #1482.

[2019-11-22 16:15] #1637 closed, assigned to nobody

[2019-11-22 16:37] rfranzke commented on #1645
Can we simply add the new fields to the spec.cloud.gcp object in the old garden.sapcloud.io/v1beta1 API instead of inventing another mechanism that stores parts of the infrastructure config inside an annotation? This makes the implementation way easier, and as we plan to remove the old API soon anyways, we should only invest the minimal effort to keep the API backwards compatible.

[2019-11-23 09:31] timuthy opened #1650 "Quota for user facing resources"
**What would you like to be added**:
Gardener should have configurable, project scoped quotas for resources that end users (specifically project members) are permitted to create:

[code]

The list above contains all possible resources, although some of them might be negligible or aren't critical for the system stability (tbd).

A quota could look like:

[code]

Unfortunately, k8s native `ResourceQ

[2019-11-25 13:18] ialidzhikov opened #1653 "Editing infrastructureConfig does not reconcile the Infrastructure"
Steps to reproduce:
1. Create a Shoot
2. Edit the `spec.provider.infrastructureConfig`. For example for GCP add a new property `spec.provider.infrastructureConfig.networks.cloudNAT.minPortsPerVM`.

[code]

3. Ensure that the Shoot reconciliation fails at step `Waiting until shoot infrastructure has been reconciled`

[code]

The `metadata.generation` of the Infrastructure is updated, but the there

[2019-11-25 13:19] ialidzhikov commented on #1653
@timuthy , shouldn't the `Infrastructure` to be reconciled on generation change or I miss something?

[2019-11-25 13:25] rfranzke commented on #1653
The `Infrastructure` reconciliation is only triggered in the maintenance time window. We should trigger it as well if the provider config has changed...

[2019-11-25 13:35] timuthy commented on #1653
https://github.com/gardener/gardener/commit/56d12ad05de535b96921d6a54a1ee0ede9b4ba0b

[2019-11-25 16:12] wyb1 opened #1655 "Add networkpolicies into kube-system namespace"
**What would you like to be added**:
Networkpolicies should be added into the kube-system namespace of shoots that will allow necessary communication between components.

**Why is this needed**:
If users deploy their own networkpolicies into the kube-system namespace it can break the shoot cluster or prevent the shoot cluster from being properly monitored.

[2019-11-25 16:15] rfranzke commented on #1655
Duplicate of #565

[2019-11-25 16:15] #1655 closed, assigned to nobody

[2019-11-25 19:42] vasu1124 commented on #1218
We are working/waiting on an upsteam KEP:
https://github.com/kubernetes/enhancements/issues/1217
https://github.com/kubernetes/enhancements/pull/1216
https://github.com/kubernetes/kubernetes/pull/79312

While these will help reduce the number of control plane LB IPs, depending on the provider these IPs cannot be considered stable. But reducing the CIDR will also limit effective DR (we can recover

[2019-11-26 07:58] mvladev commented on #1135
After spending some more time looking/testing/writing at various tunnels

- https://github.com/ginuerzh/gost (various tunneling options)
- https://github.com/jpillora/chisel
- https://github.com/xtaci/kcptun (transport is UDP-based)

As of terms of performance, `chisel` was the fastest one + least latency. The architecture is simple:

![overview](https://docs.google.com/drawings/d/1p53VWxzGNfy8rjr

[2019-11-26 08:56] ialidzhikov opened #1658 "Check VPA for ElasticSearch"
Check whether elasticsearch StatefulSet can be scaled with VPA.

[2019-11-26 09:19] timebertt opened #1660 "Add golangci-lint checks"
In `gardener/gardener-extensions` we use golangci-lint in the `check` [script](https://github.com/gardener/gardener-extensions/blob/13a9c3411f5bb35b6142424c2c5d66c551e0d39c/hack/check.sh#L27) which offers faster and more aggressive lint checks compared to the tools currently used in `gardener/gardener` (`go vet`, `golint`).

I think we should include golangci-lint also in g/g.

[2019-11-27 11:45] deissnerk commented on #1454
@dguendisch @vlerenc
For us (FaaS) this feature would definitely make sense. To my understanding Kata containers can only be used, where nested virtualization is possible (not on ordinary EC2 instances), but gvisor would be very interesting.

[2019-11-27 13:18] #1653 closed, assigned to timuthy

[2019-11-27 14:30] #1639 closed, assigned to timuthy

[2019-11-27 14:59] #1542 closed, assigned to rfranzke

[2019-11-28 13:11] #1575 closed, assigned to timebertt

[2019-11-29 22:07] timuthy opened #1674 "Deploying main and events etcd fails if HVPA is disabled"
**What happened**:
If the `HVPA` flag has never been enabled for the `Gardener-Controller-Manager`, shoot reconciliation will fail with the following error:

[code]

**What you expected to happen**:
Shoots are reconciled successfully.

**Anything else we need to know?**:
https://github.com/gardener/gardener/blob/v0.32.0/pkg/operation/botanist/controlplane.go#L1120-L1132

#1421

/cc @ggaurav10

- G

[2019-11-30 17:36] ialidzhikov opened #1675 "DeployManagedResources does not update ManagedResource labels"
Starting from #1374, some ManagedResouces in the Shoot namespace have the label `origin: gardener`. However the `DeployManagedResources` step adds this label only to new ManagedResources and the old ones still miss it.

[code]

The expected behaviour is the ManagedResources `shoot-core`, `shoot-cloud-config-execution`, `shoot-core-namespaces` and `addons` to have this label after successful reconc

[2019-11-30 17:40] ialidzhikov opened #1676 "Clean up DeleteManagedResources func"
#1374 adds label patching for ManagedResources for compatibility reasons.
When we fix #1675, we can clean it.

[2019-12-02 07:36] #1674 closed, assigned to nobody

[2019-12-02 10:11] ialidzhikov commented on #1206
My plan is first to update to `sigs.k8s.io/controller-runtime@v0.2.2`, then to `sigs.k8s.io/controller-runtime@v0.3.0` and `kubernetes-1.15`.

[2019-12-02 10:22] rfranzke commented on #1206
Sounds good, thanks

[2019-12-02 15:54] #1574 closed, assigned to ialidzhikov

[2019-12-03 08:50] amshuman-kr commented on #1584
Why not an add-on?

[2019-12-03 08:56] rfranzke commented on #1584
What's the benefit in this case?

[2019-12-03 09:26] amshuman-kr commented on #1584
Hosting on the shoot cluster nodes.

[2019-12-03 09:36] rfranzke commented on #1584
Okay, no strong opinion, actually. The only benefit of running it in the seed is that it can talk cluster-internally to the kube-apiserver. But that’s not a very strong benefit. There is no real reason to run it in the seed, so I‘d be okay running it in the shoot.

[2019-12-03 09:41] amshuman-kr commented on #1584
Me neither :-) Just thought hosting optional components in the seed would add to the cost of hosting the control planes.

[2019-12-03 12:09] timuthy opened #1684 "Renew user facing certificates automatically"
**What would you like to be added**:
User facing certificates should be renewed automatically.

**Why is this needed**:
Gardener creates shoot clusters related certificates that are user facing for different component (`Alertmanager`, `Grafana`, `Loki`, `Prometheus`).
These certificates are "only" valid for 2 years and must be renewed before they expire.

[2019-12-03 16:57] #1675 closed, assigned to nobody

[2019-12-05 07:53] timuthy opened #1697 "Too many conflicts for constraint and condition updates"
Since #1642 we've observed many conflicting updates in the controller manager logs:
[code]

This is probably because the health and constraint checks run in parallel and try to update the shoot resource shortly after another. While it makes sense to do the checks in parallel, we should combine the results and update the shoot status afterwards to avoid the conflicts. I don't want to blame conflict

[2019-12-05 08:13] rfranzke commented on #1697
Oh, I didn't see that this is happening. Can we simply change this logic? We can calculate the `conditions` and the `constraints` in parallel, but there should be only one update call to the status.
@tim-ebert ?

[2019-12-05 08:34] rfranzke commented on #1697
I start working on it.

[2019-12-05 14:29] #1697 closed, assigned to rfranzke

[2019-12-06 09:54] #1254 closed, assigned to nobody

[2019-12-06 11:10] #1447 closed, assigned to nobody

[2019-12-06 14:46] #1615 closed, assigned to rfranzke

[2019-12-09 09:00] timuthy opened #1704 "Support etcd encryption for Gardener resources"
**What would you like to be added**:
Kubernetes has offered encryption for native resources since 1.13 (https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/). Gardener is an extension API server that comes with its own api groups and resources for which encryption should also be possible.

**Why is this needed**:
Some Gardener resources might contain sensitive information (e.g. values

[2019-12-09 09:18] vpnachev opened #1705 "Nodes failing to self-bootstrap"
**What happened**:

With #1586 we have changed handling of the `updatecacerts` service.
This change has introduced a circular dependency between `docker`, `kubelet` and `updatecacerts` because of which sometimes nodes failed to bootstrap.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:

**Environment**:
I

[2019-12-09 09:40] timebertt commented on #1476
/assign

[2019-12-09 09:59] rfranzke commented on #1704
cc @EmoinLanyu

[2019-12-10 05:15] vlerenc commented on #1605
@mvladev Didn't you want to build that right away? Can someone else help?

[2019-12-10 06:17] ialidzhikov commented on #1605
@vlerenc, I will check today.

[2019-12-10 08:56] ialidzhikov opened #1708 "Add hack/check-generate.sh"
g/g can have a `hack/verify-codegen.sh` script such as the k8s.io/sample-apiserver. The same mechanism we have also in g/gext where we have `hack/check-generate.sh`.
I would be very nice if g/g has similar script and the ci/cd to fail when the code generation is not ran.

[2019-12-10 09:03] ialidzhikov opened #1709 "Support for Kubernetes v1.17"
Ref to the changelog -  https://github.com/kubernetes/kubernetes/blob/v1.17.0/CHANGELOG-1.17.md.

[2019-12-10 10:18] #1476 closed, assigned to timebertt

[2019-12-10 10:20] #1704 closed, assigned to timuthy

[2019-12-10 14:15] ialidzhikov commented on #1605
Ok, we reproduced this with @vpnachev . In my local setup (minikube v1.16)
[code]

The ns status
[code]

garden-apiserver logs:
[code]

[2019-12-10 14:17] rfranzke commented on #1605
cc @danielfoehrKn

[2019-12-10 15:22] #1576 closed, assigned to rfranzke

[2019-12-10 15:22] #1592 closed, assigned to rfranzke

[2019-12-10 17:00] ialidzhikov commented on #1605
Ok, I managed to reproduce the same with github.com/kubernetes/sample-apiserver on kubernetes-1.14 branch on minikube v 1.16.3.

[code]

With github.com/kubernetes/sample-apiserver on kubernetes-1.16 branch (which also vendors kubernetes-1.16) the namespaces can be successfully deleted.
We already started adopting kubernetes-1.16, so I think this issue will be resolved once we adopt kubernetes-1.1

[2019-12-10 17:00] ialidzhikov commented on #1605
/assign @ialidzhikov

[2019-12-10 17:02] ialidzhikov commented on #1206
I will rename the issue to be kubernetes-1.16.

[2019-12-11 13:24] dkistner opened #1713 "Volume type overridden for multiple worker pools"
**What happened**:
If we have a Shoot cluster with several worker pools and the pools have different volume types configured than it seems that the volume types will be overridden.

[code]

After creating the shoot resource the worker sections looks like this:
[code]

**What you expected to happen**:
Volume type information are applied correctly for each worker pool.

**How to reproduce it (as min

[2019-12-11 14:58] rfranzke commented on #1713
@timuthy is working on it, thank you.

[2019-12-11 20:37] #1713 closed, assigned to timuthy

[2019-12-12 15:42] swilen-iwanow commented on #1650
I also think, that it is reasonable gardener admins to be able to specify a quota for creating projects. Otherwise the project API could be abused.

[2019-12-13 07:40] rfranzke opened #1721 "Automated certificate rotation for Gardenlet"
With #1601 we have introduced the gardenlet, a component comparable with the kubelet in Kubernetes.

The gardenlet implements (optionally) TLS bootstrapping, i.e., it fetches a client certificate for the garden cluster via `CertificateSigningRequest` resources (with the help of a bootstrap token).
These client certificate are valid only for `1Y` and have to be renewed before they expire.

Let's pl

[2019-12-13 07:41] rfranzke opened #1722 "Use `Lease` objects for seed heartbeats"
With #1601 we have introduced the gardenlet, a component comparable with the kubelet in Kubernetes.

Today, the gardenlet sends a heartbeat every `20s` to its responsible `Seed` objects by updating the `GardenletReady` condition.
This process is comparable to the heartbeats sent by the kubelet for its `Node` object.
However, the Kubernetes community has proposed an implemented another, more scalab

[2019-12-13 07:41] rfranzke opened #1723 "SeedAuthorizer restricting gardenlet permission in garden cluster"
With #1601 we have introduced the gardenlet, a component comparable with the kubelet in Kubernetes.

Kubernetes has a dedicated [`NodeAuthorizer` admission plugin](https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/auth/authorizer/node) which ensures that a kubelet responsible for node `X` may only touch resources (like `Pod`s, `Secret`s, etc.) that are related to node `X`.

In our fi

[2019-12-13 07:41] rfranzke opened #1724 "Harden Gardenlet RBAC privileges in the seed cluster"
With #1601 we have introduced the gardenlet, a component comparable with the kubelet in Kubernetes.

However, in this first introduction we have not hardened the `ClusterRole`s we bind the gardenlet to in the seed ([ref](https://github.com/gardener/gardener/blob/1e591cc942e3c968407ace20f3e9cc0f183f7438/charts/gardener/gardenlet/charts/runtime/templates/rbac.yaml#L5-L22)).

This is true for both th

[2019-12-13 07:41] rfranzke opened #1725 "Dynamically refresh configuration secrets in the `garden` namespace"
Today, the gardenlet does read secrets for default domains, internal domain, alerting, etc. only once during start-up, and then never again.
This forces administrators to manually restart the gardenlet in all seed clusters in case he/she changes such a secret.
Although this scenario happens very rarely, we should enable the gardenlet to dynamically refresh the secrets such that a restart is not re

[2019-12-13 07:43] rfranzke opened #1726 "High priority for gardenlet deployment on seed"
The gardenlet is a central and core component running on seeds. We should have some `PodPriority` to ensure that it is always ran, and potentially preempts other pods with a lower priority. I've seen cases in which the VPA scaled up the gardenlet but it could not be scheduled because no node had enough capacity. We had to wait until the cluster-autoscaler provisioned a new node which caused an und

[2019-12-15 19:42] ialidzhikov commented on #1605
Ahh, sorry, I was wrong about:

I now reproduce the namespace deletion issue with sample-apiserver@v1.16 on kubernetes v1.16 and sample-apiserver@v1.17 on kubernetes v1.17. Probably I missed to create the apiservice when I did the initial test. :|

I will continue the investigation.

[2019-12-16 08:40] ialidzhikov commented on #1542
Ok, with v0.33.4 the `cloudprovider` secret is updated but the machineclass secret is not.

[2019-12-16 09:32] rfranzke commented on #1542
This should be done by the worker controllers as part of the deletion flow.

[2019-12-17 09:33] guydc opened #1743 "Multiple worker volumes, volume encryption and kubelet volume"
**What would you like to be added**:

Currently, only the root device of a gardener worker can be configured. This device is used both by the OS and k8s, meaning that k8s persistent state is stored on this volume. No additional volumes can be configured and attached to the worker machine. There is no way to indicate if a volume should be encrypted or not.

Gardener should allow an arbitrary number

[2019-12-17 10:45] jia-jerry opened #1744 "Seed(Soil) created by Gardenlet lacks volume infromation in Alicloud"
**What happened**:
When  deploying a Garden(soil) cluster, after gardenlet is deployed in the soil cluster, the seed representing soil cluster is generated by Gardenlet. However, the seed lacks all volume information like *persistentvolume.garden.sapcloud.io/minimumSize: 20Gi*.
And also, it is even worse, after update a Gardener cluster by enabling Gardenlet, *persistentvolume.garden.sapcloud.io/p

[2019-12-17 11:10] rfranzke commented on #1744
Can you share the gardenlet component config?

[2019-12-17 11:54] EmoinLanyu commented on #1744
It turns out to be a problem of configuration of gardenlet:

Current configuration is:
[code]

While it should be:

[code]

So perhaps we can close this issue :)

[2019-12-17 13:37] ialidzhikov commented on #1744
/close

[2019-12-17 13:37] #1744 closed, assigned to nobody