[2018-07-23 14:39] freegroup commented on #281
**example/shoot-azure.yaml** is named the in the docu as well but missing too

[2018-07-24 09:49] shturec opened #282 "ApplyChart fails for existing resources with immutable fields"
The issue was observed when the function [ApplyChart](https://github.com/gardener/gardener/blob/fe5a126d859e580cf20d2b934ac68b9fd0a873ea/pkg/operation/common/utils.go#L37) was invoked for a chart that deploys a [Service Catalog](https://github.com/kubernetes-incubator/service-catalog) `ServiceInstance` resource in a cluster that already has one. The error is the standard one that you receive when

[2018-07-24 10:49] vlerenc opened #283 "Kubernetes v1.11 on OpenStack VPN Issues"
Since introduction of Kubernetes v1.11 we see frequent VPN issues on OpenStack:
[code]

Looks like the connection is being dropped on the vpn-shoot side. We see weired warnings (vpn-shoot):
[code]

Problem is not understood. No issues with v1.9.x or v1.10.x clusters so far. What in v1.11 could possibly trigger these problems? Or is this a coincidence (v1.11 makes slightly different requests, which

[2018-07-24 11:42] dkistner commented on #256
PR #271 is merged. Can we close this issue?

[2018-07-24 12:38] vlerenc opened #285 "Blocked Infrastructure Resource Cleanup"
With the number of clusters, the drag on ops grows as people "get ideas" and modify their infrastructure resources (if they happen to have direct access) in ways, Gardener will refuse to clean up. That's a safety measure (Gardener cleans up only resources it has created itself), but also a technical problem, as `Terraform` would be in our way, would we like to handle it differently.

Examples of t

[2018-07-24 12:44] vlerenc opened #286 "Blocked Kubernetes Cluster Cleanup"
Sometimes the control plane fails and cannot be resurrected before termination/deletion/cleanup of a shoot cluster, but we still want to get rid of a cluster (e.g. because it was on a trial self-destruction timer or was abandoned by the owner). At the moment that's not possible, because we play by the rules and like to first delete all resources in the shoot cluster and let all controllers do thei

[2018-07-24 13:44] afritzler opened #288 "initializeShootClient stuck in Timeout Error in the Cluster Creation Process"
Currently we are experiencing an issue when creating Shoots on GCP. The creation of a cluster gets stuck with the following error:

[code]

Eventually those failed clusters become healthy again after a 1-3 hour waiting period. it looks like there is a dead but established connection open against the Shoot API-server.

I found those issues on github which might be related:
https://github.com/giants

[2018-07-24 15:16] afritzler commented on #288
After further debugging we found that a the `Send-Q` for the corresponding  API server TCP connection is pretty full:

via:
[code]

That means that packets send to the LB are not acknowledged and fill up the queue.

All working connections (with healthy Shoots) have an empty `Send-Q` field.

[2018-07-24 15:24] mvladev commented on #288
@afritzler noisy neighbors?

[2018-07-24 15:42] afritzler commented on #288
@mvladev not really. It is an issue in the Garden cluster itself (which is only running the controller/apiserver)

[2018-07-24 22:40] mvladev opened #289 "Update openapi generation to use k8s.io/kube-openapi"
Running `./hack/generate-code` right now produces an error:

[code]

preventing code generation from succeeding.

Some of those issues are with our code and naming conventions, but many come from K8S packages, which cannot be changed.

As a workaround we must update the code generation to use `k8s.io/kube-openapi/cmd/openapi-gen` as it supports [--report-filename flag](https://github.com/kubernete

[2018-07-24 23:47] mvladev commented on #276
@vlerenc @bergerx yes `GlobalNetworkPolicy` makes sense for the Shoot

[2018-07-25 07:09] fableh opened #290 "Local Gardener setup - creation of a Shoot cluster not working"
Hi all,

i´am just starting with the gardener local setup on my mac.
All steps working fine, but if i want to create the "Shoot Cluster" by executing this:

`kubectl apply -f dev/shoot-local.yaml`

I got the following response:

**error: the path "dev/shoot-local.yaml" does not exist**

By checking  the "dev" folder, iam have the following files in place:

_20-componentconfig-gardener-controller-m

[2018-07-25 08:00] plkokanov commented on #290
@fableh you should use `kubectl apply -f dev/90-shoot-local.yaml`
@mvladev maybe we should update the local setup documentation?

[2018-07-25 08:08] mvladev commented on #290
@plkokanov yes this should be updated to `kubectl apply -f dev/90-shoot-local.yaml`

[2018-07-25 08:54] fableh commented on #290
@mvladev ok i tried this also but i got the following response:

`The Shoot "local" is invalid: spec: Invalid value: garden.ShootSpec{Addons:(*garden.Addons)(0xc4209f3dc0), Backup:(*garden.Backup)(0xc420f1fee0), Cloud:garden.Cloud{Profile:"local", Region:"local", SecretBindingRef:v1.LocalObjectReference{Name:"core-local"}, Seed:(*string)(0xc420bb2f20), AWS:(*garden.AWSCloud)(nil), Azure:(*garden.A

[2018-07-25 10:18] plkokanov commented on #290
@fableh we should also update the name of the shoots to reflect recent namespace changes. Instead of `shoot-dev-local` you should use `shoot--dev--local`

In the controller-manager screenshot I see that there was a [SHOOT RECONCILE] log so I'm guessing you already tried starting a shoot.

You can list all of the namespaces in your cluster (so you can see your shoot's namespace)
`kubectl get namesp

[2018-07-25 10:25] mvladev commented on #290
Fixed in #291

[2018-07-25 10:43] #290 closed, assigned to nobody

[2018-07-25 11:18] fableh commented on #290
@plkokanov one (hopefully) last question....

If i execute now this one:
`kubectl --kubeconfig dev/shoot-kubeconfig get nodes`

i got this error:

`The connection to the server 192.168.64.2.nip.io:31443 was refused - did you specify the right host or port?`

The following pods available:

(https://user-images.githubusercontent.com/13249857/43197936-16b6197e-900d-11e8-977b-8cb1862213f8.png)
![image

[2018-07-25 11:22] plkokanov commented on #290
@fableh can I contact you via slack or mail since the initial issue was resolved?
In the meantime:
The problem might be that 192.168.64.2.nip.io is not getting resolved properly (to 192.168.64.2) or your minikube has changed its IP address.
Could you please check the output of
`dig 192.168.64.2.nip.io`
and
`nslookup 192.168.64.2.nip.io`

Then also check
`minikube ip`

[2018-07-25 12:00] vlerenc commented on #285
FYI: Fitting development: https://blog.golang.org/go-cloud (at the time of this writing only GCP and AWS, but more to come).

[2018-07-25 12:03] bmaeck commented on #288
@afritzler maybe you can check with linux `ss` command for more details of the connection?
`ss -tie dst <LB_IP_OF_API_SERVER_SHOOT_1 >`

[2018-07-25 12:17] freegroup opened #292 "links to a bunch of YAML files ends in 404"
**document** : https://github.com/gardener/gardener/blob/master/docs/deployment/configuration.md
**wrong link** : https://github.com/gardener/gardener/blob/master/example/cloudprofile-aws.yaml

**document** : https://github.com/gardener/gardener/blob/master/docs/deployment/kubernetes.md
**wrong link** :https://github.com/gardener/gardener/blob/master/docs/deployment/../../example/seed-aws-dev.yaml

[2018-07-25 12:21] freegroup opened #293 "file 'secret-internal-doman.yaml' referenced in docu didn't exists"
**docu**: https://github.com/gardener/gardener/blob/master/docs/development/local_setup.md

**link** :https://github.com/gardener/gardener/blob/master/example/secret-internal-domain.yaml

[2018-07-25 12:29] fableh commented on #290
@plkokanov ok sounds great i just signed in to the gardener slack channel.
username: fabian

[2018-07-25 13:41] afritzler commented on #288
I opened now an issue in the client-go project[0]. Lets see if somebody else is experiencing the same problem.

[0] https://github.com/kubernetes/client-go/issues/442

[2018-07-26 06:37] plkokanov commented on #292
This error can also be observed with the following files:

docu: https://github.com/gardener/gardener/blob/master/docs/development/local_setup.md

link :https://github.com/gardener/gardener/blob/master/example/secret-internal-domain.yaml

All files in the example folder had a number added before their name.
I'll make a PR to fix the documentation asap.

[2018-07-26 06:41] plkokanov commented on #293
Referenced these URLs in #292. Progress will be tracked there.
Can someone close this issue

[2018-07-26 09:23] #292 closed, assigned to nobody

[2018-07-26 09:44] freegroup commented on #292
still some broken links

**document**: https://github.com/gardener/gardener/blob/master/docs/development/process.md
**link**: https://github.com/gardener/gardener/blob/master/docs/development/compare

**document**: https://github.com/gardener/documentation/blob/master/CONTRIBUTING.md
**link**: https://code.google.com/p/go-wiki/wiki/CodeReviewComments
(should be https://github.com/golang/go/wiki/Co

[2018-07-26 10:10] plkokanov commented on #292
@freegroup

**link**: https://github.com/gardener/gardener/blob/master/docs/development/compare
mentioned this in #296 this deserves a separate issue imo.

**document**: https://github.com/gardener/landscape-setup/blob/master/README.md
**link**: https://github.com/gardener/gardener/blob/master/example/shoot-aws.yaml
is for the landscape-setup so I'll create a separate issue and PR for that reposit

[2018-07-26 10:24] freegroup commented on #292
hi - code.google.com is outdated and not supported anymore. We should avoid redirects.
Make things easier for the build job which checks the documentation for dead links.

[2018-07-26 12:26] afritzler commented on #288
@bmaeck could MTU be an issue? GCP machines have a < 1400 MTU.

[2018-07-26 16:33] simonsheng opened #299 "fork/exec /opt/vagrant/embedded/bin/ruby: argument list too long"
I got this error when I follow "local_setup.md"--"Check Vagrant setup".

according the [vagrant issues 9972](https://github.com/hashicorp/vagrant/issues/9972), this because of vagrant try to resolve plugin dependency.

Not sure we need to update our Vagrantfile or wait for vagrant new version which carry the fix.

[2018-07-26 20:53] simonsheng commented on #299
I just fix it by run the newest version 2.1.3.dev which carry their fix.
please reference to [installation of source](https://www.vagrantup.com/docs/installation/source.html).

[2018-07-26 20:53] #299 closed, assigned to nobody

[2018-07-27 05:05] vlerenc commented on #212
Replaced by #285.

[2018-07-27 05:05] #212 closed, assigned to nobody

[2018-07-27 07:02] #293 closed, assigned to nobody

[2018-07-27 07:08] dkistner commented on #281
This should be fixed by https://github.com/gardener/gardener/pull/296

[2018-07-27 07:08] #281 closed, assigned to nobody

[2018-07-27 11:49] #289 closed, assigned to mvladev

[2018-07-27 21:09] shturec opened #300 "Docs for Gardener setup on minikube need an update"
[kubernetes-minikube.md](../tree/master/docs/deployment/kubernetes-minikube.md#running) mentions:
[code]
Since minikube 1.26 this property name changed to `apiserver.authorization-mode` and the text should therefore read:
[code]
, and eventually mention that apiserver.Authorization.Mode is valid for <1.26 minikube releases

The observed issue when trying to run with the deprecated property name is

[2018-07-29 15:50] #300 closed, assigned to nobody

[2018-07-30 07:30] #254 closed, assigned to prashanth26

[2018-07-30 07:40] prashanth26 commented on #254
Gentle Reminder: We need to enable cluster-autoscaler on seed clusters (shoot-specs) to enable the working on reserve excess capacity. We will need to do this once, the new version of gardener is released.

[2018-07-30 08:02] vlerenc commented on #254
Yes, @dkistner looks into this.

[2018-07-31 10:38] vlerenc commented on #16
FYI: The following podcast https://kubernetespodcast.com/episode/009-sre had some interesting information in it like:
- GKE etcd is split into main+events like ours (general community consensus anyways)
- GKE regular clusters really only have one master with one etcd (like ours, we also ditched leader election since we run etcd as pod in another Kubernetes cluster)
- Only regional GKE clusters hav

[2018-07-31 10:41] rfranzke commented on #282
Hm, true. But where does Gardener need to deploy a `ServiceInstance` resource? Or do you simply want to re-use the function in another project?
As you said, it's hard to tell that in general. Also, PATCH isn't what we want in all cases.

[2018-07-31 10:57] #256 closed, assigned to plkokanov

[2018-07-31 14:03] #283 closed, assigned to nobody

[2018-08-01 08:58] shturec commented on #282
Yes, I'm reusing the function in a controller extending gardener to deploy resources in seeds and shoots. It happens that I need Service Catalog resources, hence the problem. But they are just an example. Potentially, there could be any (custom) resource that may need patch. For gardener extensibility sake it would be great to enhance a bit the function to consider these scenarios too.

What about

[2018-08-02 14:02] alcasim opened #305 "Cannot retrieve logs or exec in Shoot cluster"
Hi, we're suffering an intermittent issue with our shoot clusters from two different gardener environments.

Basically, each time we try to retrieve logs from any pod or exec anything in a pod, we get the same "server misbehaving" error:
`kubectl logs -n kube-system addons-kube-lego-59b74dd564-8h2lc
Error from server: Get https://shoot--msa-sandbox--dex-sbx-cpu-worker-84bb4f499f-rpsvz:10250/contai

[2018-08-02 14:25] rfranzke commented on #305
Is this a Kubernetes 1.11 cluster?

[2018-08-02 15:19] alcasim commented on #305
@rfranzke yes, shoot cluster is on 1.11

[2018-08-02 16:13] rfranzke commented on #305
Can you check `kubectl get nodes -o wide`. You will probably see nodes that do not report an internal IP. We see this as well with Kubernetes 1.11 and suspect the kubelet to have a bug.
A "workaround" has been implemented in the Gardener (restart of these kubelets) and will be released with the next version. To fix the problem now, you have to recreate the machines (by deleting the corresponding `

[2018-08-02 16:33] alcasim commented on #305
@rfranzke thanks for the reply. Looks like we're facing exactly that, as some nodes didn't had internal IP address

I'm trying deleting the machines, but we will also stick to k8s 1.10 until next gardener version is released :)

Thanks for your help! I think this issue can be closed now

[2018-08-02 16:33] #305 closed, assigned to nobody

[2018-08-03 07:12] #273 closed, assigned to plkokanov

[2018-08-05 12:25] vlerenc commented on #231
The spec is in a very early phase and isn't anywhere near to be ready for adoption. We will first focus on the machine API part.

[2018-08-05 12:25] #231 closed, assigned to nobody

[2018-08-07 16:08] vlerenc opened #308 "Gardener Extensibility"
# Story
- As contributor I want to extend the Gardener out-of-tree, so that I can more easily add functionality I need, maybe even functionality that would never be included into the master branch.
- As developer I want the Gardener to be extensible out-of-tree, so that it becomes more versatile and it's community can grow faster without its maintainers turning into a bottleneck.

# Motivation
We

[2018-08-09 06:47] timuthy opened #310 "Nginx Ingress Configuration Returns HTTP-400 on AWS"
We've been observing an issue with the Nginx Ingress Controller in Shoot clusters **on AWS**:

**Failure description:**
Whenever a Ingress resource with a corresponding URL is created, a request against it ends up with a HTTP 400 error message.
In addition, a request to a non existing Ingress URL or to the AWS load balancer directly also returns HTTP 400 instead of being redirected to the default

[2018-08-10 15:35] afritzler opened #316 "Docker daemon on Shoot nodes doesn't use self signed certificates"
Currently the Docker daemon on the shoot machines is not using self signed certificates which might be needed if you want to pull from custom registries with self-signed certs at their endpoints.

We are able to distribute rootCAs on the nodes via the `caBundle` property in the `cloudprofile`. However the docker daemon needs a restart in order to pull those changes.

[2018-08-13 09:51] BRuhland commented on #316
e.g. it is not possible to use the internal Artifactory, which is needed for us.

[2018-08-13 14:34] #316 closed, assigned to nobody

[2018-08-14 12:08] rfranzke commented on #310
Fixed by 9b4964fdd4182ac4ac6d2e5009de01316e31af59

[2018-08-14 12:08] #310 closed, assigned to nobody

[2018-08-16 08:44] freegroup opened #324 "sporadic error message "service account 'default' missing""
from time to time an error message is shown during the cluster creation.
This error goes by after reconciliation/retry but I think this can be optimized ;-)

### error during create a cluster
<img width="843" alt="bildschirmfoto 2018-08-16 um 10 40 30" src="https://user-images.githubusercontent.com/1155039/44198160-ebbfe200-a140-11e8-8e05-5538d40b5790.png">

### error during create another cluster

[2018-08-16 09:24] rfranzke commented on #324
Background -> quoting myself from slack: "That's a rarely seen race condition which might happen during initial cluster creation. Gardener creates a namespace, and Kubernetes shall create the "default" service account after that. If Gardener is too fast deploying something in that namespace, then this error occurs."

[2018-08-16 09:24] #324 closed, assigned to rfranzke

[2018-08-16 11:38] marwinski opened #325 "Shoot Cluster ceases to work if kube-apiserver is blocked from metadata service access (AWS and GCP)"
When creating a PVC on a shoot cluster the kube-apiserver in the seed cluster tries to access the local metadata service. These are the requests:

[code]

and

[code]

Blocking access to metadata service causes the PV creation to fail that is created alongside the PVC. This is quite clearly a bug in Kubernetes as this information should be collected from the IaaS account for which credentials are

[2018-08-16 12:47] marwinski commented on #325
Update: we @zanetworker  @marwinski have just evaluated that the exact same problem does not show up on AWS.

[2018-08-16 14:01] swapnilgm commented on #325
This issue has been already fixed in v0.9.0 via https://github.com/gardener/gardener/commit/50a3ec51b342e2a750045a7b8dc3192758186f14.

[2018-08-16 14:28] zanetworker commented on #325
@swapnilgm  Thing is we don't need to disallow everywhere, it only happens on GCP based on our investigation. So we were going to look at the concealment service

[2018-08-16 14:33] marwinski commented on #325
@swapnilgm: this hasn't been fixed and the Cloud Controller Service is not really here yet because it is beta and we might only be able to use it in some future versions (well and in addition we haven't tested it and it might not yet fully work as expected).

Is it only a problem on GCP? I don't know. We haven't seen that specific problem on AWS but there might be others not to mention Azure / GCP

[2018-08-16 16:06] marwinski commented on #325
According to the documentation at https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#failure-domainbetakubernetesiozone the labels are present on pv and node objects:

[code]

In addition it also collects the project-id via

[code]

(see traced call above)

which makes it into the node spec of the nodes (but not the pv):

[code]

[2018-08-17 06:52] #257 closed, assigned to rfranzke

[2018-08-17 06:52] #258 closed, assigned to rfranzke

[2018-08-17 06:52] #259 closed, assigned to rfranzke

[2018-08-17 06:52] #263 closed, assigned to rfranzke

[2018-08-17 07:02] marwinski commented on #325
It appears that the two call that are invoked on the metadata service (`computeMetadata/v1/project/project-id` and `/computeMetadata/v1/instance/zone` are not relevant for tagging the volumes.

I have however found calls to the metadata service in the initialization of the gce cloud provider in `kubernetes/pkg/cloudprovider/providers/gce/gce.go` (in `generateCloudConfig`) invoked by the cloud prov

[2018-08-17 07:48] zanetworker commented on #325
@marwinski That was really helpful. It was actually @PadmaB  who suggested the use of the Metadata Concealment :)

[2018-08-17 08:51] swapnilgm commented on #325
I haven't tested it out thoroughly.

Just give you history, With initial discussion we started across restricting access from kube-apiserver to outside world, we considered blocking metadata service as well. I went ahead with blocking it, considering all the logic would be in kube-controller-manager and not in kube-apiserver. I did some basic test like deploying some core resources on shoot, resta

[2018-08-17 13:41] afritzler commented on #288
Found an interesting article covering the time out settings of the go net/http client [0].

Setting those values in the dialer and client seems to solve the creation problem on GCP.

[0] https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779

[2018-08-17 19:01] afritzler commented on #288
@Adracus some interesting findings from comments of the medium post above:

* By default only two keep-alive connections per host are established. Google for DefaultMaxIdleConnsPerHost . This means that the net/http client immediately closes 998 out of 1K concurrent connections established to the given host after each request. This results in high network overhead and slow performance. This may be

[2018-08-20 10:43] adracus commented on #288
Some _very_ interesting Kubernetes issue:
https://github.com/kubernetes/kubernetes/issues/65012

[2018-08-27 06:01] rfranzke commented on #288
See kubernetes/client-go#333: Root cause is the underlying infrastructure environment, nothing we can influence in Gardener itself.

[2018-08-27 06:01] #288 closed, assigned to afritzler, adracus

[2018-08-27 07:02] vlerenc commented on #288
Still, even if not many can access it, @afritzler can you please add the SPC ticket link to SAP IT here, once available.

[2018-08-28 07:00] rfranzke commented on #260
This is not possible at the moment as the kubeconfig contains a client certificate which cannot be revoked on demand. The only way to revoke is would be to change the CA of the cluster. However, this isn't something we do in the next time.

This is already a different one and always was since day one.

[2018-08-28 07:03] rfranzke commented on #105
What do you think about using an annotation as trigger to do that? The user puts e.g. `garden.sapcloud.io/operation=reset-password` on the Shoot, and the Gardener does the same and removes the annotation after that.

[2018-08-28 07:14] rfranzke commented on #251
I'm not sure if this is really a good idea, mainly for the reasons you already mentioned in the last paragraph. If we introduce any of these behaviours we break basic principles of Kubernetes controllers.

One thing we definitely should not change is that Gardener reconciles all Shoots when it starts. We could make it configurable for the user to define that Gardener shall only reconcile in the ma

[2018-08-28 07:16] vlerenc commented on #105
Yes, that sounds reasonable. Much like with initializers/finalizers. They trigger an action/operation and remove themselves afterwards. This allows for some loose coupling as well.

Let's spin this idea further, would it also help with hibernation/wake-up? That's the other story that jumps to mind that is similar in nature?

[2018-08-28 07:17] rfranzke commented on #106
@hardikdr and @prashanth26 can you please comment here?
Would it be correct from your point of view to let the `.spec.strategy.rollingUpdate.maxSurge` be configurable per worker pool in the shoot? Currently, we [hard-code it to `1`](https://github.com/gardener/gardener/blob/master/charts/seed-machines/charts/machines/values.yaml#L6).
What are thoughts on `.spec.strategy.maxUnavailable` (currently

[2018-08-28 07:19] rfranzke commented on #105
Hm, regarding hibernation/wake-up I guess it's actually safer to have a dedicated field in the `Shoot` resource. Otherwise it would be hard to identify whether the Shoot is currently hibernated or not.

[2018-08-28 07:33] prashanth26 commented on #106
I think that it would be better if users could configure this on the dashboard as an advanced configuration (something that is hidden by default, as users already kind of are confused with the concept of multiple worker pools) . We could default this to marSurge=1 and maxUnavailable=0 and keep it only as an advanced option.

[2018-08-28 07:34] rfranzke commented on #106
Agreed, this we will anyway do. I was more asking about whether it is correct to only expose `maxSurge`. Do we also have to expose `maxUnavailable`?

[2018-08-28 08:54] vlerenc commented on #251
Yes, when the user changes the spec, e.g. the workers, we can easily argue, that things may temporarily be restarted/become unavailable briefly for the changes to be applied.

What I am actually more "unhappy" about is that I have no good answer for the "unexpected downtimes":
1. We roll out a new OS to the seed and all control planes are hit - here we could at least improve the situation with aff

[2018-08-28 09:16] rfranzke commented on #251
Regarding 1. and 2.:

True, but those changes to the Seeds are updated in their respective maintenance time windows as well (in the night). Anyway, the "problem" (it also saves us from many other issues) is that we only have one etcd replica, and when it needs to be moved to another node, then the volume must be re-attached and the backup-restore sidecar must do its validation - both takes some ti

[2018-08-28 09:50] vlerenc commented on #105
OK, sounds reasonable. I guess I was coming from the angle: controller sees annotation, stores/parks current max/mins in another annotation, sets them all to zero. Wake-up is similar.

However, that's not a smart idea as Gardener already needs to "understand" hibernation (it also hibernates the non-essential control plane), so already carries specific code for that. Also, this way we don't have to

[2018-08-28 10:10] vlerenc commented on #251
Night is a relative term (for the single Gardener instance) in this global world. ;-)

As for the new point you brought up: that was not what I meant. The complexity you mention is something we should definitely avoid, i.e. if someone, by touching/modifying the shoot resource (e.g. worker pools), really triggers an update, a full reconciliation should run, nothing less. There should never be a "mi

[2018-08-28 13:36] rfranzke commented on #251
True, that's how it might be at the moment, but that's not "unchangeable". With our extensibility story and moving responsibilities to other controllers we can and we have to reduce the time Gardener needs to reconcile a cluster. This will give us more capabilities to scale, managing more Shoots.

That's exactly the point complicating the logic, because subsequent steps may depend on these availab

[2018-08-28 15:12] vlerenc commented on #251
What do you mean? Is there a "startup phase" in the Gardener, i.e. does it first reconcile all clusters *before* it starts going over into "normal" operation mode?

[2018-08-29 07:14] rfranzke commented on #251
No, I was talking about the steps executed in the usual reconciliation flow. If we pick certain steps and declare them as "availability critical" and only execute them within the maintenance time window then we might also have to defer the execution of subsequent steps which are dependent on those "availability critical" operations. This will complicate the whole reconciliation logic, and in the e

[2018-08-29 07:25] vlerenc commented on #251
No, I never meant to "pick certain steps" and defer only them. It's all or nothing. I do not expect the Gardener to know what is an "availability critical" operation, either. That would be far too complex. That's why I asked, whether we can defer everything into the maintenance window, exactly because it's hard to know what is "availability critical" and certainly not to rip the reconciliation int

[2018-08-29 11:35] bergerx opened #343 "shoot.status.conditions are removed"
I'd expect shoots' `.status.conditions` fields not to be empty ever once they have successfully provisioned, but we regularly see as reconciliation fails the conditions field is removed.  I'm not sure about the best practices here but we expect to see a value for the rest of the shoot's lifecycle if once there was any value.

For reconciliation failures there should be dedicated reason (e.g. Stale

[2018-08-29 11:45] bergerx commented on #343
As an example this is the current shoot status of the same garden just after 20 minutes later:

[code]

This is forcing us not to consume shoot's status fields for monitoring.

[2018-08-29 11:55] vlerenc commented on #343
Thank you. Yes, we are also considering a change here (cc @rfranzke @grolu @holgerkoser @petersutter).

[2018-08-29 11:58] rfranzke commented on #343
FYI: My comment on a similar ticket on the Gardener Dashboard: https://github.com/gardener/dashboard/issues/166#issuecomment-414996600

[2018-08-29 14:22] rfranzke commented on #343
What do we want to do? Do we want to keep the `.status.conditions` field during reconciliation/deletion but don't update it while the operation is processing? I'm not having a strong opinion about this.

[2018-08-29 16:13] vlerenc commented on #343
Not sure what the alternatives are. In regards to your question, during reconciliation: yes, but during deletion: no. As for the time of creation (your comment at the dashboard ticket), I hope we can keep the status quo and don't run health checks, i.e. when the ongoing operation is a creation or deletion, we have no conditions. Does that make sense/is reasonable?

[2018-08-29 18:51] bergerx commented on #343
During reconciliation i'd expect no change, but being able to see some kind of staleness status "next to" the true/false status would be useful. We can already do that by manually checking last* fields but thats not straightforward.

Having how many reconcile failures reported in the status could also be also useful (in a similar manner to the pod restarts). That would tell about historically prob

[2018-08-29 18:59] bergerx commented on #343
And i think we should also keep the conditions as they are during the deletion as well. We have some cases that deletion doesnt go through and shoot stuck at that state for an extended period, we'd still like to know the last status. E.g. #237. In such cases the extra staleness information would be helpful since reconcile will keep updating the lastOperation with the last attempt time rather than

[2018-08-29 23:45] bergerx commented on #237
We just had this issue in another cluster as a result of an operator mistake, last time when we hist this issue we solved it by destroying the whole gardener setup, but this time we have some other shoots on the gerdener that we'd prefer to keep, any idea about how to unblock the ns termination.

Here is the current status:
[code]

Reconciliations for all shoots in that namespace are stuck on Depl

[2018-08-30 06:16] rfranzke commented on #237
Save the YAMLs of the `Shoot`s and `SecretBinding`s in the `msa-infra` namespace into a file. Then delete all `Shoot`s and `BackupInfrastructure`s manually, after that recreate the namespace:

[code]

Gardener should pick up the existing clusters and reconcile them. The only thing that is gone and will be recreated is the ABS containers holding the etcd backups.
PS: You have to manually delete the

[2018-08-30 11:18] dkistner opened #345 "Metrics for flow execution"
The crucial operations of the Gardener are executed within a flow. A flow consists of ordered steps to create/reconcile/update/delete Shoots or BackupInfrastructures. To achieve more observability regarding those operations we should expose some flow metrics in the Gardener Controller Manager.

For example, we want to know how long took a flow execution and if it succeed or not. Furthermore the me

[2018-08-30 11:25] bergerx commented on #237
Thanks a lot @rfranzke , i didn't follow your instructions exactly but i got the overall idea and that helped me to solve the issue.

Here is more or less what i did:
* suspended gardener-apiserver and gardener-controller-manager (scaled both to 0), verified the pods are terminated
* deleted shoot and secret bindings from gardener's own etcd (we have a dedicated etcd for gardener) using commands l

[2018-08-30 11:39] dkistner commented on #345
@mvladev, @vlerenc What do you mean?

[2018-08-31 08:17] adracus opened #346 "Add Force Deletion Flag"
For some clusters, it is okay to forcefully cleanup its associated resources rather than blocking due to a custom finalizer etc. A flag for forceful deletion in a shoot could be implemented and also accessed in the dashboard together with a hint that this may cause leakage. In total, this could be very useful for dev use cases.

[2018-08-31 15:56] mliepold commented on #81
Questions / Open Issues:
- How are trial quotas identified? By a label or all quotas in the garden-trial namespace?
- When and by which component is the SecretBinding for a trial quota in a project created? At project creation or via cron job? Can all projects use the trial quota?
- Currently the quota field of a SecretBinding in immutable. So if a project requests a higher quota, it can't be chan

[2018-09-02 14:57] vlerenc commented on #345
I am not sure how this will look like after the we have done the extensibility epic. The components will be loosely coupled, Gardener will no longer know everything (the actual goal), which will make debugging harder. So, I would think, we should postpone this topic and incorporate such thoughts rather in the extensibility epic (how can we maintain some level of observability when going this path)

[2018-09-03 05:16] rfranzke commented on #346
Belongs to #286, right?

[2018-09-03 08:01] adracus commented on #346
Yes, could be a 'mitigation' for experienced users that exactly want a fire and forget cleanup with possible leakage.

[2018-09-03 09:47] prashanth26 commented on #106
I think exposing both would be better as it would offer more flexibility to the customers. I think some one who understands marSurge would also understand maxUnavailable (or at-least read upon it).

[2018-09-03 13:57] rfranzke commented on #81
A new `SecretBinding` referencing a higher `Quota` would be needed to create and injected in the `Shoot` resources.

All `Quota`s in the `garden-trial` namespace.

We will write a new controller creating `SecretBinding`s for the `Secret`s and `Quota`s in the `garden-trial` namespace in all our `Project` creation. This will not be part of Gardener itself as we want to leave it to the Gardener provi

[2018-09-03 16:27] rfranzke opened #348 "Allow auto-hibernation/wake-up configuration in Shoot specification"
# Story
- As user I want to put my cluster to hibernation at regular times when I don't need it, e.g. every weekend or every day in the evening, and I want it to wake up automatically when I want to work with it again.

# Motivation
In order to save costs, e.g., when the user does not need/work with it (for example on weekends), we want to allow the user to define of a schedule for automatically h

[2018-09-04 12:50] #241 closed, assigned to rfranzke, ggaurav10

[2018-09-05 11:24] rfranzke commented on #178
I've evaluated to which extent we can reduce the `ec2:Describe*` action and found out that the only permission the kubelet needs is `ec2:DescribeInstances`.

Unfortunately, AWS does still not provide a way of defining resource-level permissions for all `Describe` actions [1, 2, 3].

Anyway, we will get rid the any interactions with the cloud API triggered by kubelet once we can introduce the CSI f

[2018-09-05 11:29] #178 closed, assigned to rfranzke

[2018-09-06 12:00] #237 closed, assigned to nobody

[2018-09-06 12:41] rfranzke commented on #86
With the extension concept we have in mind I guess we won't using the external DNS (as it does anyway not provide all the features we need currently, and as it seems hard to contribute to it (@mandelsoft's PR from February is still open).

[2018-09-06 12:41] #86 closed, assigned to nobody

[2018-09-06 14:44] rfranzke opened #355 "Reset failed Shoots when a new Gardener version gets deployed"
Today, Gardener does retrying an operation (create/reconcile/delete) on `Shoot` resources in case it keeps failing for a [given maximum duration](https://github.com/gardener/gardener/blob/master/example/20-componentconfig-gardener-controller-manager.yaml#L13). If the operation did still not succeed after the duration was exceeded, Gardener will set the `.status.lastOperation.state=Failed` and will

[2018-09-06 15:11] rfranzke opened #356 "Implement Gardener Scheduler"
Every `Shoot` belongs to a `Seed`. When creating a new `Shoot` resource it is possible to specify onto which `Seed` cluster its control plane shall be deployed to (`.spec.cloud.seed`). This field is similar to the `.spec.nodeName` field in the specification of Kubernetes native `Pod` resources.

In case the user does not specify the field (normal case; the user does not/should not care about where

[2018-09-06 15:30] rfranzke opened #357 "Dedicated Member/Admin resources"
Now that we have [dedicated `Project` resources](https://github.com/gardener/gardener/blob/master/example/05-project-dev.yaml) we also want to get rid of the implicit/unversioned logic of adding members to projects and administrators to the whole Garden cluster.

Currently, Gardener relies on the [`garden.sapcloud.io:system:project-member` `ClusterRole`](https://github.com/gardener/gardener/blob/m

[2018-09-06 15:40] rfranzke opened #358 "Extend prune-whitelist of kube-addon-manager once v8.7 is available"
Since a few weeks the kube-addon-manager supports to [define extra resources for pruning](https://github.com/kubernetes/kubernetes/commit/6a880b2567eff17ef0a2bdeaf6ed6c77696dd989).
The [default prune-whitelist](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/kube-addons.sh#L35-L53) is quite small and does for example not contain resources in the `rbac.authorizatio

[2018-09-06 21:22] bergerx commented on #357
Wow this issue tells a o lot to digest for me about how the authz works on garden cluster. The information in this issue hasn't been documented anywhere (so thanks for the detailed description in the issue :+1:) and i didn't have time to go through the code to deduct the flow you explained here.

In our case, we host gardener on AKS and we still can't run a gardener dashboard due to unknown auth c

[2018-09-07 05:12] harsimranmaan opened #359 "dep ensure fails on new dev setup"
Hangs while running the command:

[code]

[code]

[code]

Failed when trying to run tests natively on mac

[2018-09-07 05:49] rfranzke commented on #359
Can you upgrade your version of `dep` and try again? This is what I have:

[code]

[2018-09-07 06:04] harsimranmaan commented on #359
More investigation reveals that this is likely an issue with the dep using some bad cache. I think I'll have a fix soon.

[2018-09-07 06:05] rfranzke commented on #359
Alright, thank you. Then let's close this one.

[2018-09-07 06:05] #359 closed, assigned to nobody

[2018-09-07 06:13] harsimranmaan commented on #359
Cleaned up the $GOPATH/pkg directory and everything is good now.

[2018-09-07 13:04] #106 closed, assigned to adracus, zanetworker

[2018-09-08 09:22] luisdavim commented on #357
I like the second approach better, even though we'd have to manage admis separately, it makes it easier to manage users from a shoot centric perspective. I can see pros and cons in both approaches but we definitely need these dedicated resources.

[2018-09-08 18:27] Tusshu opened #361 "Exec error: fork/exec /opt/vagrant/embedded/bin/ruby: argument list too long"
Using MacOs High Sierra  10.13.6
Downloaded and installed Vagrant 2.1.4
Downloaded coreos-vagrant
vagrant up  output is as below:

Installing plugins: vagrant-ignition
Installing the 'vagrant-ignition' plugin. This can take a few minutes...
Installed the plugin 'vagrant-ignition (0.0.3)'!
Installing plugins: vagrant-ignition
Installing the 'vagrant-ignition' plugin. This can take a few minutes...

[2018-09-08 18:28] #361 closed, assigned to nobody

[2018-09-09 06:13] vlerenc commented on #356
Nice!

[2018-09-10 05:55] rfranzke commented on #357
@luisdavim that's true, it makes it little easier. The "problem" with the second approach is that anyone who may write the `Project` resource does now also have privileges for adding/removing members. In case we would like to control that separately (who may add/remove members) this won't be possible with this approach.

[2018-09-10 08:33] luisdavim commented on #357
That's a good point @rfranzke, I agree.

[2018-09-10 14:27] #191 closed, assigned to rfranzke, timuthy

[2018-09-10 16:13] #325 closed, assigned to nobody

[2018-09-12 10:50] marwinski commented on #159
As far as I remember from the performance tests MTUs beyond ~1400 don't really have a big impact. That said, there may be - under certain circumstances - big improvements for some scenarios. That said, increasing the MTU to something like 9000 on AWS is possible (don't know about OpenStack) but I would not recommend it without thourough testing. I doubt that it is really worth the effort.

[2018-09-12 14:30] vlerenc commented on #159
My point was more that our default may be too large/not fit the MTU of the network below and we create too many packets (let's say, ours is 1500 and let's say the networking underlay has 1460, then every packet is broken into two, one of 1460 and one of 40 bytes - ideally they should match and having more packets than necessary on the underlay is waste). Take these numbers with a grain of salt - I

[2018-09-12 14:35] vlerenc commented on #159
What are your thoughts @mkoderer, @dkusidlo?

[2018-09-13 06:46] marwinski commented on #159
OK, fragmentation is a big problem - caused this myself :-( But why have an "optimized" setting for all the cloud providers? What we have seen from the performance tests is that it does not really matter whether the MTU is something in between ~1360 and ~1450. So why not agree on something the works in the range of 1400 ?

[2018-09-13 07:08] ThormaehlenFred opened #362 "Block control plane components that need no meta data service"
Related to [KGS-1](https://jtrack.wdf.sap.corp/browse/KGS-1)/[KGS-3](https://jtrack.wdf.sap.corp/browse/KGS-3). We should have rather blocked not only the API server, but also all other control plane components that need no meta data service in PR [#266](https://github.com/gardener/gardener/pull/266/files). This would have also included the monitoring and logging stacks and with them Grafana. The

[2018-09-13 07:32] vlerenc commented on #159
Well, also in the light of the extensibility we should strive to keep infrastructure specific stuff where it belongs to, but we can of course first go with a sane default value.

[2018-09-14 14:33] #129 closed, assigned to nobody

[2018-09-16 10:49] marwinski opened #365 "Allow any Machine Type when using Bring-Your-Own-Accont"
# Story

As a Gardener user I want to be able to use all the machine types that the cloud provider offers when I provide account details of my own infrastructure account, not just the ones provided by Gardener.

# Motivation

In a completely managed environment we mainly would like to offer the machine types that are cost efficient for us, for which we have special discounts. When somebody brings

[2018-09-16 14:51] vlerenc commented on #365
Well, we would have done that since long, would we have seen a reasonable way, but we don't. How would we do that? How should Gardener or the Dashboard even know? We are not the infrastructure provider, so we have a hard time getting to that information. Or do you imagine some "free-text" field that we then can't validate?

[2018-09-18 09:02] pkokanov commented on #3
This issue is being worked on in PR #176

[2018-09-18 15:48] vlerenc commented on #159
We could test using `ping` to find the ideal MTU sizes (preferred). From what I can find online:

AWS: 1500, source: https://docs.aws.amazon.com/de_de/AWSEC2/latest/UserGuide/network_mtu.html
Azure: 1500 from the looks, source, no direct one: https://blogs.msdn.microsoft.com/igorpag/2017/04/06/my-personal-azure-faq-on-azure-networking-v3
GCP: 1460, source: https://cloud.google.com/vpn/docs/concept

[2018-09-18 15:50] vlerenc commented on #159
Do we have to reserve 20 bytes for repackaging?

Anyway, locations are https://github.com/gardener/gardener/blob/master/charts/shoot-core/charts/calico/templates/config.yaml and https://github.com/gardener/gardener/blob/master/charts/shoot-core/charts/calico/templates/calico.yaml, I guess. Not sure though.

[2018-09-19 04:19] jia-jerry opened #367 "Support Alicloud"
Alicloud is planned to be fully supported by Gardener project.

Some cases need to be considered:
1.  Cloud Controller Manager
Kubernetes has no in-tree cloud provider for Alicloud. Project https://github.com/AliyunContainerService/alicloud-controller-manager provides solution to enable CCM in Alicloud.
2. Dynamic Volume provisioning
Kubernetes dose not support PVC for Alicloud directly. CSI is a

[2018-09-19 06:02] marwinski commented on #365
I can think of a way. Ultimately the one who brings the secret should determine the machine types; so there is an association between the secret and the machine types. How about this: the list of all possible machine types and the list of default machine types (more or less the list we do have today) shall be part of the cloud profile. When the list of machines is not specified when entering the s

[2018-09-19 06:25] vlerenc commented on #365
Sure Dirk, there are means. I meant (and wrote) "reasonable" means. That is a lot of stuff you are packing up here for a tiny requirement, i.e. this will never be implemented, because there will never be time, because there will always be lower hanging fruits and more important requirements.

What do we need for the above:
- Somebody constantly maintaining the "full list" (more likely we will hand

[2018-09-19 06:36] nikhilsap opened #369 "mvcc: database space exceeded error beyond 2gb in etcd db"
During our test, we were generating load on database of the ETCD.
we were not able to go beyond 2 GB.
once db size reaches 2GB, It throws error.

As per [community guidelines](https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/limit.md), the default size is 2gb.

[2018-09-19 06:38] rfranzke commented on #369
@georgekuruvillak @swapnilgm could you please take a look here?

[2018-09-19 06:41] nikhilsap commented on #369
@georgekuruvillak @swapnilgm @rfranzke i am preparing a PR to handle this.
This PR will have the  relevant configmap parameter (quota-backend-bytes) to handle more than 2 GB.

[2018-09-19 06:47] rfranzke commented on #369
Cool, thank you!

[2018-09-19 08:13] marwinski commented on #365
@vlerenc  please be careful with absolute statements like "this will never be implemented".

Not important, well my inbox is full of those kind of questions and requirements so I do not agree that this is not important. In case we want to offer this as a service we are in the driver seat and offer the machine types that we find appropriate and that suit us and our business needs. Others who pay th

[2018-09-19 08:21] vlerenc commented on #365
@marwinski: I said why... "this will never be implemented, because there will never be time, because there will always be lower hanging fruits and more important requirements"

I didn't write "not important". I wrote "more important".

We are in the driver seat, therefore let's add the machine types and be done with it. That's what I suggested. Nothing complicated, just add what is requested. Late

[2018-09-19 08:22] swapnilgm commented on #369
@nikhilsap Thank you for bringing that to our notice.

[2018-09-19 11:02] dkusidlo commented on #159
@marwinski

Sure, having 1400 or 1440 doesn't help a lot. Deciding on an MTU really depends on the kind of workload you have, which is something I don't know and therefor cannot decide upon.
What can be seen is a better throughput when using ~9000 byte internally. The (synthetic) performance gain we measured for Jumbo Frames was ~35%.
External connectivity is a different thing as we have seen with

[2018-09-19 12:19] #369 closed, assigned to georgekuruvillak, swapnilgm

[2018-09-19 12:22] vlerenc commented on #159
Right, IFF all switches and hosts on the way are properly configured, it won't matter, I guess.

I guess you mean "doesn't have to" and not "must not" (darf nicht).

Well, not sure what you mean. Let's pick 1440 then, right?

Yes, as discussed in the Slack channel (;-)). There is Kubify and the Shoots.

So are we done here, 1440 is the way to go and we do that now for Kubify and the shoots?

[2018-09-19 12:47] marwinski commented on #365
Lets discuss this with the team and decide, maybe I will be able to explain it. If not I will dump it.

[2018-09-19 12:48] vlerenc commented on #365
In any case, can you please share your "inbox full of those kind of questions and requirements" with us, maybe we should get them in right away with https://github.wdf.sap.corp/kubernetes/landscape-setup/issues/172? In any case, we need to add them in order to become available and it would be a waste if we block our users.

[2018-09-19 14:40] ThormaehlenFred opened #373 "One time scan and assessment of several scan tool results e.g. kube-bench"
We should execute a one time scan and assessment of tools like
1. [kube-bench](https://github.com/aquasecurity/kube-bench)
2. [kubernetes-cis-benchmark](https://github.com/neuvector/kubernetes-cis-benchmark)
3. [kube-hunter](https://github.com/aquasecurity/kube-hunter)

in a shoot cluster.

Since most likely not all findings will be relevant in our Gardener environment, we should assess them and p

[2018-09-20 09:06] dkusidlo commented on #159
I intentionally used "must not" as in RFC2119 because I assumed you want your packets to get delivered ;) As the DF bit is set it would not get fragmented but dropped.

That is addressed to @marwinski I guess?

[2018-09-21 06:47] vlerenc commented on #159
Wow, thanks for that clarification. ;-)

It seems a need a lesson in this. Jumbo frames with their 9000 bytes looked like a multiple of the usual 1500 bytes, using one for what normally required 6 packets.

Well, yes, and to all else, so 1440 it is then?

@afritzler Can you please change that in Kubify?
@rfranzke And can you do that please for the shoots?

To both: What happens with the existing c

[2018-09-21 07:48] vlerenc opened #376 "Update Calico to 3.2.x"
According to @databus23 we should update to Calico 3.2.x that contains a fix for vSphere/DVS (https://github.com/projectcalico/felix/pull/1838). It will limit the port range to the ephemeral port range, so that ports used for back communication in pods that are masqueraded on the host remain there so that they match the usual security groups for stateless DVS.

[2018-09-21 09:08] #240 closed, assigned to zanetworker, rfranzke

[2018-09-21 14:04] rfranzke commented on #376
@databus23 @BugRoger will you take this one?

[2018-09-24 07:57] rfranzke opened #378 "Reset failed Shoots when a new Gardener version takes over"
We should reset Shoots "stuck" in a failed state (`.status.lastOperation.state=Failed`) if we deploy a new Gardener version.
The Gardener already writes its version into the Shoot status (`.status.gardener.version`), hence, we can easily compare whether our version is newer.

[2018-09-24 07:57] rfranzke commented on #378
Sorry, duplicate of #355.

[2018-09-24 07:57] #378 closed, assigned to adracus, zanetworker

[2018-09-24 12:52] #362 closed, assigned to adracus, zanetworker

[2018-09-24 13:01] #194 closed, assigned to nobody

[2018-09-25 06:03] #159 closed, assigned to nobody

[2018-09-25 06:03] #376 closed, assigned to nobody

[2018-09-25 07:07] #355 closed, assigned to zanetworker

[2018-09-25 07:12] rfranzke commented on #282
Let's close this for now and possibly reopen after the exensibility epic.

[2018-09-25 07:12] #282 closed, assigned to nobody

[2018-09-25 07:54] #358 closed, assigned to nobody

[2018-09-25 08:09] hardikdr commented on #250
/cc

[2018-09-25 16:25] luisdavim commented on #190
You have that many domains? you can combine up to 100 subdomains per cert and you can also use wild card certificates...

[2018-09-26 14:14] ThormaehlenFred commented on #373
**kube-hunter**
running [kube-hunter](https://github.com/aquasecurity/kube-hunter#pod) locally on a VM with remote option targeting all endpoints of a dedicated shoot cluster in the DEV landscape finds no vulnerabilities.
See kube-hunter issue [#56](https://github.com/aquasecurity/kube-hunter/issues/56) to see that the --user option is required at least on an Ubuntu VM.
[code]
list endpoints
[code

[2018-09-26 16:22] #286 closed, assigned to nobody

[2018-09-26 16:22] #346 closed, assigned to nobody

[2018-09-26 18:07] #24 closed, assigned to afritzler

[2018-09-26 18:07] #160 closed, assigned to nobody

[2018-09-27 14:02] petersutter opened #396 "Add minimumVolumeSize field to cloud profiles"
Currently the minimumVolumeSize of workers is hardcoded in the gardener. It would be nice if this information can be factored out to the cloud profiles so that also the gardener dashboard can provide a proper validation by just reading the respective value from the cloud profile

AWS minmumVolumeSize 20: https://github.com/gardener/gardener/blob/46e8736955e852daaeb396a01d67843269532c2b/pkg/apis/ga

[2018-09-28 08:34] vrock28 opened #398 "Gardener UI throwing an error when kubeconfig file is valid"
Hi,

I am attaching the screen shot from the UI error i hit while trying to upload a valid Kubeconfig YAML file.

<img width="894" alt="screen shot 2018-09-28 at 2 01 39 pm" src="https://user-images.githubusercontent.com/30268685/46197405-632f8680-c327-11e8-8ec5-0243d4f7a5a2.png">
<img width="908" alt="screen shot 2018-09-28 at 2 02 03 pm" src="https://user-images.githubusercontent.com/30268685/46

[2018-09-28 08:53] rfranzke commented on #398
We hvae disabled the login in the kubernetes dashboard as it does not work properly for kubeconfigs with client certificates which we generate. You don't have to login, please just use "Skip".

[2018-09-28 08:53] #398 closed, assigned to nobody

[2018-09-28 11:50] rfranzke opened #400 "Support Kubernetes 1.12"
[Kubernetes v1.12](https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0) has been released (see [release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#v1120)).
We should take a look into what has changed and implement support for 1.12 in Gardener.

# TODOs

## Standard tasks
- [x] Update Go libraries to `kubernetes-1.12.1`
  - [x] `Added --authorization-alw

[2018-09-28 12:07] rfranzke opened #401 "Configurable list for namespaces which may use protected seeds"
The Seed spec allows to configure `.spec.protected={true,false}` which means that only Shoots that have been deployed to the `garden` namespace may use this respective Seed cluster.

We should make this list of namespaces configurable, either globally (in the configuration of the SeedManager admission plugin) or per Seed (maybe in the resource directly, maybe also in the admission plugin's configu

[2018-09-28 12:48] fsniper opened #402 "Project deletion fails if it's using hardcoded namespace"
Steps to reproduce:
1. create namespace and project (You can even let gardener create the namespace)
[code]

2. Try to delete the project
[code]

3. Validate status
[code]

4. Try to delete namespace directly
[code]

[2018-09-28 13:00] fsniper commented on #402
We actually have that svc defined and the ip is correct:
[code]

[2018-09-28 13:05] fsniper commented on #402
I downgraded gardener to 0.10.2 from 0.12.0. All the namespaces in Termination state are gone.

[2018-09-28 13:13] fsniper commented on #402
After upgrading to 0.12.0 with a cleaned state,
I created a project without a given namespace. Gardener created a semi-random named namespace.
I tried to delete the project. It still failed to delete.

[code]

[2018-09-28 15:30] rfranzke commented on #402
This is a problem in your Gardener cluster. We now register a validating webhook to the Garden cluster and it seems that the kube-apiserver of your Garden cluster cannot reach the gardener-controller-manager pod.

[2018-09-28 15:42] fsniper commented on #402
Ok i checked the service description for the gcm. It should be listening for 2718 and 2719. But it's only listening on 2718.

Also apiserver can reach  gcm:80. gcm:443 is refusing connections as expected.

[code]

Ok turns out, it's about a certificate issue:
[code]

I'll check this issue and report back. Thank you.

[2018-09-28 15:56] fsniper commented on #402
After adding the tls cert, project deletion started working.

[2018-09-28 15:56] #402 closed, assigned to nobody

[2018-10-01 09:41] Demonsthere opened #403 "Helm integration"
Hello,
In the current setup of Gardener, it is not possible to upgrade tiller using the `helm upgrade` method:

[code]

And the only method of upgrading helm is to modify the image in the `tiller-deploy` deployment in `kube-system` namespace.

However, such a change is then overwritten by the Reconcile mechanism, and helm is again downgraded.

I assume, the default cli method should work, or is th

[2018-10-02 11:48] adracus opened #409 "Namespace deletions may lead to projects without corresponding namespaces"
Sometimes the deletion of a namespace that a project references goes unnoticed in our project controller. We have to add adapt our code / add a garbage collection loop that can collect and delete such orphaned projects.

[2018-10-03 17:15] rfranzke commented on #409
How is be possible? We register a validating webhook that gets triggered on namespace deletion and deny deletion of namespaces if it wasn't done via the project resource?!

[2018-10-03 17:24] rfranzke commented on #403
It is intended that the addons managed/deployed by Gardener are reconciled at any time to the state Gardener desires. Please install tiller on your own if you want to control its lifecycle on your own.
BTW: We are going to remove the in-tree addon management and will replace it by a more pluggable solution in the future: #246.

[2018-10-03 17:24] #403 closed, assigned to nobody

[2018-10-03 19:48] petersutter commented on #409
I created a project with the dashboard (the dashboard currently only creates the namespace). After I created the project I quickly deleted it again from the dashboard. Most likely it was a race condition.

[2018-10-04 05:11] rfranzke commented on #409
Still, I don't understand. If the namespace has been deleted already then the project creation should fail (as the namespace name gets written to the project's `.spec.namespace` field, but then namespace does no longer exist).

Have you done this on your local setup/minikube cluster?

[2018-10-04 05:46] rfranzke opened #411 "Validate uniqueness of shoot domain"
The `.spec.dns.domain` field of the `Shoot` specification results in DNS records pointing to the Shoot's kube-apiserver. If multiple Shoots have the same value Gardener is not able to manage both anymore, neither the user is able to use the Shoots (as the DNS record gets updated with every reconciliation loop and alternates between the shoots).

We should validate in the `ShootValidator` admission

[2018-10-04 07:30] petersutter commented on #409
no this was done on the dev landscape

[2018-10-04 13:18] #411 closed, assigned to nobody

[2018-10-04 20:41] vlerenc commented on #255
The current HPA-based approach for the API servers has the following issues @amshuman-kr and @ggaurav10 are investigating:
1. Even an empty cluster starts with 3 or 4 API servers which seems odd?
2. CPU metrics are used, but requests or request latency may be better (though also troubled, e.g. requests in regards to the threshold and request latency on the queried resources, so is there a "best or

[2018-10-05 02:19] vlerenc opened #419 "Extended Timeouts for "Slow" Infrastructures"
What would be a way to support also "slow" infrastructures (custom OpenStack in this case) that need more time for machine creation (more than the [default of 10 mins for the health reconciliation](https://github.com/gardener/machine-controller-manager/blob/master/kubernetes/deployment/deployment.yaml#L27)) or F5 LB creation (likewise) and thereby avoiding a failure on the first run (eventually it

[2018-10-05 07:41] amshuman-kr commented on #255
We have planned the following tasks regarding auto-scaling of kube-apiserver.

1. Tweek the formula-based resource limits for kube-apiserver to favour larger pods with less number of replicas over smaller pods with larger number of replicas. This can be done pretty fast as we have the data already but requires careful validation after the changes. I suspect this might address the empty-cluster iss

[2018-10-05 07:57] amshuman-kr commented on #255
I missed on more point.

4. We are also planning to evaluate options to avoid/minimize disruption when HPA scales down kube-apiserver.

[2018-10-05 09:48] rfranzke commented on #268
How do we continue here? I doubt that this is something that belongs to the Gardener core. Isn't this rather something that someone might want to deploy optionally on top? I mean, the thing we want to forbid/restrict here is actually a Kubernetes feature on purpose.

[2018-10-05 09:49] rfranzke commented on #250
Assigning @hardikdr and @prashanth26 as it requires machine-controller-manager in the first place.

[2018-10-05 09:50] rfranzke commented on #229
@dkusidlo how do we continue here?

[2018-10-05 09:52] rfranzke commented on #169
Closing as it's done, see e.g. this alert email:

[code]

[2018-10-05 09:53] rfranzke commented on #88
Closing for the reasons commented by @vlerenc.

[2018-10-05 09:53] #88 closed, assigned to nobody

[2018-10-05 09:56] #6 closed, assigned to nobody

[2018-10-05 09:58] #36 closed, assigned to nobody

[2018-10-05 10:35] marwinski commented on #268
see https://groups.google.com/forum/#!topic/kubernetes-sig-auth/hD7b0qMlDaE

That was the argument there as well... If you want something like quota or preventing the problem described above there appears to be no other way.

[2018-10-05 11:04] prashanth26 commented on #250
We have opened up an [issue](https://github.com/gardener/machine-controller-manager/issues/174) to track the same. We shall prioritize this.

Regards,
Prashanth

[2018-10-05 12:44] rfranzke commented on #268
Sure, I agree that an admission controller would be able to solve the issue. I rather wanted to motivate to not track the status of this task in the Gardener core repository as it doesn't belong to the core. It should be part of another component/security addon/...

[2018-10-06 04:35] vlerenc commented on #255
In regards to:
* (1)+(2) Is there no best practice (docs or slides) somewhere on the web for how to auto-scale API servers?
* (3) Since this is our controller manager (the one in the soil controlling the seed), we are "fine" as long as the setting fits all (HPAs in the seed). But this is of course unfortunate, if not outright unwise by the HPA implementors, to have that in the controller manager i

[2018-10-07 14:33] amshuman-kr commented on #255
@vlerenc We were planning to go ahead pretty much with the same steps as you listed above. We will check if those steps are sufficient or we need more tweaking.

[2018-10-07 14:38] amshuman-kr commented on #255
Regarding 4, we were looking at any options other than cool-down too. I was just wonderin if some sort of ingress/proxy can help achieve a smoother down-scaling. We anyway need it for the slowloris attack.

[2018-10-07 17:46] vlerenc commented on #255
I was unsuccessful so far to google such a guide/best practice or by asking in the Kubernetes Slack channel. People usually do not auto-scale API servers, because they have static masters. Hmm... :-/

As long as `tolerance` gives as hysteresis-like behaviour and cooldown works, I am optimistic. Also, a long cooldown isn't too scary, at least we can wait and see. If all control planes are always al

[2018-10-08 06:56] rfranzke commented on #400
FYI: I created the [`feature/kubernetes-1.12`](https://github.com/gardener/gardener/tree/feature/kubernetes-1.12) branch to which we can push our implementations.

[2018-10-08 07:33] rfranzke opened #423 "Consider PodDistruptionBudgets for Shoot control plane"
We should consider introducing PodDisruptionBudgets for Shoot control planes to improve the availability during rolling updates: https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#how-disruption-budgets-work

[2018-10-08 08:11] prashanth26 commented on #250
Hi @rfranzke ,

I went back to thinking on this issue and realized that this feature is already supported by the machine-controller-manager/gardener shoots. The only requirement it has is the topologyKey for which we can use the [built-in-node-labels](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#interlude-built-in-node-labels) such as this `topologyKey: kubernetes.io/hostname

[2018-10-08 09:28] vlerenc commented on #423
True, thanks!

[2018-10-08 15:54] rfranzke commented on #250
Hi, thanks @prashanth26. What MCM should do is the following:

1. During a rolling update of the MachineSet it should label all the new machines/nodes with some specific label, let's say `newmachine=true`.
2. After the rolling update of the MachineSet is done the label can be completely removed from all machines.

With that we can add the `preferredDuringSchedulingIgnoredDuringExecution` affinity

[2018-10-08 17:40] prashanth26 commented on #250
Thanks for the detailed explanation @rfranzke. I understand your concern now. If I understand it correctly there are two parts to what we are both thinking here,

1. Pods to be placed in new machines when a rolling update is going on (as you have described above)

- We planned to apply the following taints to all the old nodes/machines - [`PreferNoSchedule`](https://kubernetes.io/docs/concepts/con

[2018-10-09 03:23] vlerenc commented on #250
Right, these are two different issues:
1. One is about not scheduling control planes components on old nodes and reschedule them again and again when doing a rolling update (gardener/machine-controller-manager#120)
2. The other is about scheduling the critical two components (etcd + api server) on the same node, so that when a rolling update happens, both go down together/are rescheduled together

[2018-10-09 06:31] amshuman-kr commented on #255
I could not find any guides/best-practices either :-(

Agreed that we must make sure most clusters at lower load should be at one kube-apiserver pod.

@ggaurav10  had demonstrated in one of the weekly-kube meetings how the current setup is vulnerable to a slowloris attack on any shoot kube-apiserver.

[2018-10-10 08:31] ThormaehlenFred opened #431 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2018-10-11 06:33] marwinski opened #444 "Control plane not suspended or stopped when cluster is hibernated"
When we hibernate a cluster the control plane is not shut down. This produces many errors (in fact I have been hunting them until I realised that the cluster was hibernated) and consumes resources. Can we please scale the deployments to 0 or delete the pods in the control plane when the cluster is hibernated.

[2018-10-11 07:45] vlerenc commented on #444
Can you be more specific? The control plane is shut down to some extent (e.g. monitoring stack), but not completely for technical reasons. Maybe we can improve hibernation further, but what are those errors?

[2018-10-11 10:03] marwinski commented on #444
@rfranzke mentioned that the control plane is not shut down. Anyway, we see several megabytes (I guess to the extend of the log rotation) of garbage logs from the vpn pods (number of api servers plus 1). It appears that the api server pods and prometheus pods remain up.

[2018-10-11 11:33] ggaurav10 commented on #255
Raised the PR (#445) to increase limits and resources requested by kube-apiserver. Previous values were motivated by the following facts for each slot (eg. 50-100 node cluster):
1. Smaller cluster with lower/no load will have 1 kube-apiserver
1. Smaller cluster with high load will have multiple apiservers
1. Bigger cluster with lower/no load will have multiple apiservers
1. Bigger clusters with hi

[2018-10-11 11:55] ThormaehlenFred commented on #373
**Assessment for Shoot Clusters**
Legend: **k-b**: kube-bench, **k-c-b**: kubernetes-cis-benchmark

| Ensure that the ([kubelet argument](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/#options)) | k-b | k-c-b | assessment | follow up |
| ------- | --- | ----- | ------------- | ------------ |
| allow-privileged is set to false | FAIL| WARN|  cluster admins should have fu

[2018-10-11 12:29] rfranzke commented on #444
etcd, kube-apiserver, kube-controller-manager, kube-scheduler(, aws-lb-readvertiser), and machine-controller-manager are not shut down. The rest including the entire monitoring stack and autoscaler is shut down.
I can't remember anymore why we kept the above mentioned pods. I guess it should be also fine to shut them down as well. @vlerenc, do you maybe remember the reason?

[2018-10-11 12:43] ThormaehlenFred commented on #373
kubernetes-cis-bench master.sh executed in the shoot cluster returned some additional WARN messages which have not been returned by worker.sh (kube-bench was not executed in the corresponding seed). It must be checked if these are relevant for a shoot cluster.

| Ensure that the argument  | assessment | follow up |
|-----|-----|-----|
| insecure-port is set to 0 | | |
| profiling is set to false |

[2018-10-12 03:55] vlerenc commented on #169
Where do I see it @rfranzke / @mvladev? When you closed it, I noticed it in the URL, but that was rather implicit. Now I have noticed that this implicit behaviour fails e.g. for our seeds for alerts from the soil:
[code]
I basically would like to have something that I can use to categorise the alerts. One problem certainly is that the notion of landscape is not part of the Open Source Gardener, bu

[2018-10-12 04:13] vlerenc commented on #444
No @rfranzke, that's why I wrote "Maybe we can improve hibernation further". I can't recall any good reason anymore. Gardener has control and can resurrect at will, so let's try. Will reduce costs even more and of course get rid of the seed VPNs/logging that their shoot counterpart is long gone.

[2018-10-12 04:19] vlerenc commented on #255
Thank you! Indeed, let's optimise not too much on costs alone (also because it's really hard to guess how "loaded" a cluster will be), but on a healthy mix of costs and API server stability.

In regards to the startup behaviour, I am not sure that's the only reason. We have noticed empty clusters running 4 API servers. After we gave the cluster 101 nodes max (and your vertical scaling changed the

[2018-10-12 07:20] rfranzke commented on #169
You're right, thanks. The infrastructure is implicit due to the `seed_profile` (which in general does not need to contain the infra name but could have any name), and the landscape name was implicit as well due to the `seed_api` (which, again, does not need to contain any "landscape name" in general).
As you already pointed out we should one name/group property to the alert config for representing

[2018-10-12 15:12] rfranzke commented on #343
@Adracus: Similar to what we do with `CustomResourceDefinition`s and `APIService`s we should forcefully delete `Pod`s which are not terminating after a certain grace period when deleting a shoot.

As the shoot care controller already takes over the task of deleting stuck terminating pods, maybe we solve the above problem when fixing this ticket, right? The care controller would run always, hence,

[2018-10-12 15:30] mvladev commented on #255
I've made a PoC for HPA based on the [Custom Metrics API](https://github.com/kubernetes/metrics) of K8S with Prometheus and [Kubernetes Custom Metrics Adapter](https://github.com/DirectXMan12/k8s-prometheus-adapter). Using this custom metric `apiserver_requests_per_second`
This metric combines all requests to the API server (mutating and non-mutating) per second (we probably want to split them if

[2018-10-14 08:40] tareksha opened #447 "Fetching clusters programatically"
Hi,

I have a gardener running and managing my cluster. I am trying to write automation tools that configure kubernetes/helm clients automatically from scratch. The tools should authenticate with the gardener and fetch the kubernetes configuration file of the relevant cluster automatically.

Is there a documented REST API in gardener that I can use for fetching information about the clusters?

tha

[2018-10-14 10:18] rfranzke commented on #447
Hi,

Gardener itself has no REST API for fetching the kubeconfig of a shoot, but it uses the hosting Kubernetes cluster to store it as a secret.

For a shoot named `my-cluster` running in namespace `garden-my-project` you can fetch the kubeconfig by doing

[code]

Does this answer your question?

[2018-10-14 20:16] mvladev opened #448 "Copy charts to a temporay dir on gardenlet start"
The `charts` folder is read in runtime by the garden controller manager. For local development, this can lead to situations when the controller is started on branch `X` then developer switches to branch`Y` leading to unexpected behavior https://github.com/gardener/gardener/pull/363#issuecomment-429657753:

As a workaround and to ensure stability and reliability, when the controller is started, we

[2018-10-15 05:20] rfranzke commented on #448
WDYT about https://github.com/kevinburke/go-bindata?

[2018-10-15 05:25] rfranzke opened #449 "Cert-Broker integration"
Now that we have open-sourced the [cert-broker](https://github.com/gardener/cert-broker) we need to integrate it into Gardener.

Gardener needs to deploy the [cert-manager](https://github.com/jetstack/cert-manager) once into the seed cluster's `garden` namespace, and the cert-broker once per shoot control plane.
We will only allow DNS-based certificate challenges.

End-users of shoot clusters can

[2018-10-15 05:44] amshuman-kr commented on #255
💯 @mvladev Thanks you. This is great!
@ggaurav10 Can you please work with Martin to see how to make the static formula work with HPA based on requests-per-second?

Also, let's confirm the theory that requests-per-second is a more stable metric than CPU, my gut-feeling notwithstanding ;-)

[2018-10-15 05:49] rfranzke opened #450 "Make CloudProfiles ready to be used in conjunction with Quotas"
In the context of enabling quotas for shoots we have to add another field named `advertised` or `deprecated` to the `machineTypes` and `volumeTypes` structs of the `CloudProfile`s.

From Markus: "But one use case that comes into my mind why we can't remove the old machine types that are still in use is the Quota/Trial use case. Because there the amount of currently used CPUs and memory is determin

[2018-10-15 05:51] ggaurav10 commented on #255
Looks good! Thanks @mvladev.
Will get in touch.

[2018-10-15 07:37] mvladev commented on #448
That's a better solution indeed.

[2018-10-15 11:21] msohn commented on #448
You may consider to use

`git --work-tree=/path/to/outputdir checkout HEAD -- subdirname`

in order to let git create a consistent copy of a committed version of a subdirectory in another directory. With this approach git will eliminate potential race conditions while copying the chart

[2018-10-15 12:10] #367 closed, assigned to nobody

[2018-10-15 15:39] rfranzke commented on #450
Or, another even better and more clean option could be to check in an admission controller that a machineType/volumeType cannot be removed if it's in use by shoots under quota. With that we wouldn't force the Gardener provider to keep these settings up-to-date, effectively reducing ops effort.

[2018-10-16 06:39] rfranzke commented on #400
@zanetworker the HPA PR (#399) is merged.
I have rebased the [`feature/kubernetes-1.12`](https://github.com/gardener/gardener/tree/feature/kubernetes-1.12) branch on the latest `master`.
Please start working on the two items assigned to you (see above).

[2018-10-16 07:23] rfranzke commented on #251
I wanted to start working on this one, but I figured out that there is something that blocks us from doing it: We are still in the situation that Gardener creates the bootstrap tokens for the worker pools with an expiration duration of `90m`. Hence, if a shoot would only be reconciled in its maintenance time window  and a machine breaks so that a new one gets created then it most likely can't join

[2018-10-17 09:44] bergerx opened #462 "AKS doesn't play well with controllers"
We have both our garden and seed clusters running on AKS.

Apparently AKS doesn’t play well with controllers running inside the cluster due to VPN issues between AKS control plane (apiserver) and nodes, you can find the details in https://github.com/Azure/AKS/issues/676

This is causing lots of noise both in gardener and machine controller manager logs and could be causing some other unpredictable

[2018-10-17 10:23] rfranzke commented on #462
I guess we shouldn't allow such configuration in the upstream repository. What do you think about running a mutating webhook that adds these environment variables to the controllers in your AKS cluster?

[2018-10-17 12:30] bergerx commented on #462
Oh I didn't think about MutatingWebhooks, I guess thats what AKS is working on as the definitive (!) solution to the problem. We don't have experience on these but will check, thanks for the pointer.

I thought PodPreset would be a great fit for this but its still alpha and won't likely be enabled on AKS soon.

[2018-10-17 17:01] rfranzke commented on #462
OK. Are you fine with closing the issue?

[2018-10-18 09:42] tareksha commented on #447
hi @rfranzke
this does not solve my problem because it actually requires the .kube/config that we are trying to fetch..
thanks

[2018-10-18 10:10] rfranzke commented on #447
Hm, then I did not understand what you are trying to do. Can you explain again? You run Gardener in cluster A and have a shoot cluster B? If you want to fetch the kubeconfig for B then my answer above is what you need, but obviously you're trying something else?!

[2018-10-18 10:44] tareksha commented on #447
I have a completely clean environment without any session data. I want to log-in to gardener programmatically (maybe obtain the JWT that is used by the API ? ) and fetch the kubeconfig file for some cluster. Is this possible ?

[2018-10-18 10:46] rfranzke commented on #447
What do you mean by "log-in to Gardener programmatically"? Are you talking about the [Gardener dashboard](https://github.com/gardener/dashboard)? If so, kindly raise the question at this repo: https://github.com/gardener/dashboard.

[2018-10-18 10:55] tareksha commented on #447
opened it
https://github.com/gardener/dashboard/issues/222
thank you @rfranzke

[2018-10-18 10:57] rfranzke commented on #447
OK, thanks!!! Will close this one then. Have a great day!

[2018-10-18 10:57] #447 closed, assigned to nobody

[2018-10-18 11:25] dkusidlo commented on #229
@rfranzke Suse reported that a backport of this feature to our release (Newton) is not trivial due to changes in the database schema.

I would close this issue and reopen it as soon as we either upgrade to a newer version or we get a backport.

[2018-10-18 11:27] rfranzke commented on #229
OK, sounds reasonable. Thank you for the update!

[2018-10-18 11:27] #229 closed, assigned to nobody

[2018-10-18 13:53] #462 closed, assigned to nobody

[2018-10-19 06:47] vlerenc commented on #356
This may become more and more interesting for us as we are now beyond 100 nodes for one of the seeds in a tightly packed infrastructure/region. So far we have not yet implemented proper shoot cluster control plane auto-scaling beyond this number of nodes, so either we do the control plane auto-scaling, stick with large seed defaults or have a scheduler and multiple seeds. The static defaults are e

[2018-10-19 15:25] rfranzke commented on #450
@mliepold are you interested in taking this one?

[2018-10-19 17:08] mliepold commented on #450
Yes, I can take this one.
And an admission controller makes sense to prevent that a machine or volume type is deleted, if it is still used. But it doesn't solve the problem with switching to new (and better) machine types and also doesn't solve the internal requirement of not advertising some big machine types in the UI. For this we still need to add a field to the ```machineTypes``` and ```volume

[2018-10-21 10:38] rfranzke commented on #450
OK, with the admission controller we could prevent removing in-use machine/volume types, however, we can't prevent that newly created clusters use those we don't want to be used anymore. Agreed, then let's go with the first approach and introduce an `advertised={true,false}` (`*bool)` field to the machine/volume types in the `CloudProfile` which is defaulted to `true` if not specified.

[2018-10-22 13:34] rfranzke commented on #444
I wanted to implement it, but then I remembered why we might have decided to not scale down everything entirely: If a shoot is hibernated and shall be deleted then no etcd,apiserver,controller-manager will be running. However, the deletion flow needs to talk to the apiserver to ensure a proper cleanup.

We have three options:
1. We disallow shoot deletion when a cluster is hibernated: A user would

[2018-10-23 07:10] rfranzke commented on #444
Just had a chat with @dguendisch: When talking about the second approach I was assuming that the deployments have already been deleted, however, in fact they would have been only scaled down to zero. There might be an easy way to wake them up again when deleting a shoot. I will explore it and come back.

[2018-10-23 08:42] rfranzke commented on #444
I explored this path a little bit. It is too complicated to really shut down everything entirely without modifying the codes in too many places. Lots of steps are depending on a running/available Shoot API server. We need at least
* etcd-events
* etcd-main
* kube-apiserver

Theoretically, we could scale down the remaining deployments and wake them up in the deletion flow.
I have done the implement

[2018-10-23 09:29] prashanth26 commented on #444
AWS takes a while (up to a few minutes) to terminate VMs. During this phase, the node object is stuck in   `Ready,SchedulingDisabled`. Eventually, these objects get deleted.

[2018-10-23 09:29] rfranzke commented on #444
I checked again with @hardikdr and @prashanth26: Seems like the behaviour reported in the previous comment was a "false positive": The actual VMs have been correctly deleted on AWS, hence, it was correct  to also delete the `Machine` objects. However, as we have scaled down KCM the node-lifecycle-controller inside was not running anymore. This controller is responsible for deleting the `Node` obje

[2018-10-23 09:35] amshuman-kr commented on #444
@rfranzke Perhaps we can shutdown kube-controller-manager after it has deleted the nodes? Is that a possibility?

[2018-10-23 10:34] rfranzke commented on #444
We could shut it down in a later reconciliation, but not in the same reconciliation that hibernates a cluster (too complicated code-wise).

[2018-10-23 10:45] rfranzke opened #476 "Prometheus should use HTTPS port for scraping metrics of KCM/CCM for K8S >= 1.12"
As of Kubernetes 1.12 the cloud-controller-manager and kube-controller-manager advertise the metrics via a HTTPS server. The old HTTP server is still running as well, however, it will be deprecated and removed in a future Kubernetes version.

Consequently, we should change the Prometheus configuration to use HTTPS for scraping the metrics of KCM/CCM for Kubernetes >= 1.12. See also @mvladev 's com

[2018-10-23 11:08] rfranzke commented on #444
Opened PR #477. As described before we will end up with etcd and the kube-apiserver (and the kube-controller-manager if there are still nodes, however, it would be scaled down in a further reconciliation step).

@marwinski As we keep the kube-apiserver for now we will also keep the vpn-seed (same pod). If you want to get rid of the error messages produced by VPN you add a check whether nodes exist

[2018-10-23 11:13] rfranzke commented on #396
Will be done as part of the extensibility epic. I have added a field to the example `CloudProfile` resource in the proposal document (https://github.com/gardener/gardener/commit/6e527ba2e19caf4262dea6e75aa8b1105b78913d#diff-211ac3b72ed2dbadb74b3e8304eb4c71R120).

[2018-10-23 11:13] #396 closed, assigned to nobody

[2018-10-23 14:08] mliepold commented on #450
After a discussion with the Dashboard team and @rfranzke we decided to name the flag ```usable={true,false} (*bool)```. The default value is ```true```.
If the flag is set to ```false```, the machine/volume type can't be used anymore to create new shoot clusters. And these machine/volume types won't be displayed in the Dashboard anymore.

[2018-10-23 16:22] #3 closed, assigned to vpnachev, vlpanov

[2018-10-23 16:23] #400 closed, assigned to adracus, zanetworker, rfranzke, timuthy

[2018-10-24 03:46] vlerenc commented on #444
I had no chance to read through the stream of messages yesterday, but my take would have been clearly #1, but the following comments shed some more light on the matter: internal dependencies to a running API server. What exactly are these dependencies, e.g. care controller?

Reasoning: #1 or rather a total shutdown of the control plane is the right thing to do, because:
1. It basically relieves th

[2018-10-24 05:51] rfranzke commented on #444
Fully agreed, my goal is the same - I just don't want to spend this time right now implementing it because it is not straight-forward.

I have opened a PR that only keeps etcd+apiserver which should be fine for time being (at least it improves a lot in contrast to how it was before (all controllers still running). We will certainly address the topic again after the extensibility epic.

[2018-10-24 20:05] rfranzke commented on #357
FYI: We decided to go with the second approach for now (see #480):

[code]

We won't introduce dedicated `Admin` resources now either. A Gardener administrator is a user that is bound to the [`garden.sapcloud.io:admin` ClusterRole](https://github.com/gardener/gardener/blob/master/charts/gardener/templates/rbac.yaml#L1-L11) via a `ClusterRoleBinding`.

[2018-10-25 06:02] #444 closed, assigned to nobody

[2018-10-25 07:26] rfranzke commented on #276
Can this one be closed as it will probably be covered by the security addon planned by @marwinski, @alban and @schu?

[2018-10-30 14:23] #450 closed, assigned to mliepold

[2018-11-02 07:26] afritzler opened #489 "Add Support for Maintenance Mode"
What do you think about adding a maintenance mode/switch into Gardener in which we don't allow any creation/deletion of shoots?

Why?
To prevent inconstancy when we do a controlled restore of a cluster we currently might run into a situation where our backup (even the incremental one) might miss objects which have been created/deleted. In addition any infrastructure related jobs (creation or recon

[2018-11-02 07:28] rfranzke commented on #489
Not exactly sure about the use-case, but wouldn't a `kubectl -n garden scale deploy/gardener-controller-manager --replicas=0` suffice to achieve the same?

[2018-11-02 07:35] afritzler commented on #489
Well that will work for us, however is combined with a downtime experience for the user. I was thinking about something were we also tell the user in the dashboard via a notification or something - and scaling down the controller in the background.

[2018-11-02 07:46] rfranzke commented on #489
OK, but how do you envision this? Is that really something that needs to be build into Gardener? Can you elaborate on how that could be implemented?

[2018-11-02 08:16] #343 closed, assigned to adracus

[2018-11-02 09:24] #211 closed, assigned to mvladev

[2018-11-02 11:23] rfranzke commented on #419
Not sure how this can be done in general other than exposing these wait/timeout values in the `CloudProfile`. With #491 we will for now increase the creation timeout for machine statically to `20m`, will that solve the issue for now? Or shall we keep it open?

[2018-11-02 11:59] afritzler commented on #489
Ok, I guess we can close this one for now since there is no high prio need for that.

[2018-11-02 11:59] #489 closed, assigned to nobody

[2018-11-02 12:02] #357 closed, assigned to nobody

[2018-11-02 12:02] #409 closed, assigned to nobody

[2018-11-02 17:50] bergerx opened #492 "taint support in worker groups"
We want to dedicate some worker groups to some namespaces (more specifically we want pods in monitoring namespace to run on a dedicated worker group)

We are planning to use PodNodeSelector and PodTolerationRestriction Admission Controllers (implemented here https://github.com/gardener/gardener/issues/258) to restrict the pod in the namespace to a specific worker group by using worker group labels

[2018-11-03 02:20] bergerx commented on #419
We also regularly experience similar slowness caused issues on Azure.

For example when creating new shoots, first reconciles tend to fail due to long apiserver LB creation time on Azure (if I recall correctly, at the `waitUntilKubeAPIServerServiceIsReady` task). Many times we mislead by the failed status reported in shoot status, and while we were troubleshooting next reconcile kicks in and finds

[2018-11-03 03:38] bergerx commented on #492
Just saw this related issue on mcm https://github.com/gardener/machine-controller-manager/issues/174

[2018-11-05 12:00] bergerx opened #494 "Support Azure DNS"
In our company we have all Garden related resources on Azure. The lack of support for Azure DNS forces us to maintain an AWS account only for Route53 since Gardener only supports Route53 (and recently AliCloud).

[2018-11-05 16:09] bergerx commented on #419
I just went through a shoot creation on Azure and seems like its better now, i only saw the issue below.

I simply watched the `kubectl get shoot bekirtest -o yaml -w | sed -n '/^status:/,/apiVersion:/p' ` output during the creation and here is an issue that the initial reconciliation hit 4 times in a row until it eventually succeeds.

[code]

Its first kicked in `2018-11-05T15:20:16Z` then first

[2018-11-05 16:40] rfranzke commented on #419
We are seeing the same @bergerx. The infrastructure creation job succeeded (which is responsible for creating the subnet), however, when the machine-controller-manager tries to fetch it from the Azure API it answers with `404 Not Found`.

[2018-11-06 15:55] bergerx commented on #236
Do #331 and #495 address this issue?

[2018-11-06 15:57] bergerx commented on #236
Oh this one is about "Garden" cluster not about shoots.

[2018-11-06 16:06] rfranzke commented on #236
Yes, I'm not sure whether this should be kept open here. It is possible to define a custom audit policy for the Gardener API server already. I guess it's up to the Gardener provider to define a proper one that fits the individual needs.

[2018-11-07 09:26] ThormaehlenFred commented on #431
Checkmarx shows no findings anymore, thus I close this issue. When Checkmarx will show new findings I will open up a new issue.

[2018-11-07 09:26] #431 closed, assigned to nobody

[2018-11-07 15:17] henningzahn opened #502 "support all machine types available with cloud provider"
Hi folks,

we are trying to create cluster with larger machine types (currently r4.16xlarge, x1.16xlarge & x1.32.xlarge on AWS), but do get "unsupported machine type" error from the Gardener cluster wenn applying the shoot manifest. We would expect to have all machine types available for worker node deployment.

<from the kubectl comman shell>

kubectl apply -f .\basic_aws.yaml
Error from server (

[2018-11-07 22:42] #502 closed, assigned to nobody

[2018-11-09 17:12] vlerenc commented on #365
What will happen with this ticket? There is always the manual way to add all/many more machine types. Are you interested to file a PR @hummelo?

[2018-11-13 06:04] amshuman-kr commented on #255
It is high time to take up the static scaling for ETCD as well. See [here](https://github.com/gardener/etcd-backup-restore/issues/64).

[2018-11-13 07:09] rfranzke opened #510 "Perform Terraform infra job reconciliation only in maintenance time window"
The Terraform infra job is run in every reconciliation loop in order to check that the infrastructure (networks, security groups) are in a good shape for running the shoot cluster. However, if a user has many clusters in the same account then a lot of these jobs are running and are producing requests against the cloud API.
From the past one and a half years we have seen that in most cases the reco

[2018-11-13 07:12] rfranzke opened #511 "Perform Terraform DNS job reconciliation only if needed"
When we create/reconcile DNS records we already have code that should check whether we actually have to start the Terraform DNS job or not (if a "`nslookup <host>`" already results in the desired record name we don't want to do anything):

(From: https://github.com/gardener/gardener/blob/master/pkg/operation/botanist/dns.go#L65-L83)
[code]

However, this piece of code seems not do work properly/re

[2018-11-13 07:31] rfranzke opened #512 "Enable way to trigger reconciliation without changing the specification"
Similar to how we have enabled to trigger an immediate maintenance operation (outside the time window but on user's demand) we want to add a way for triggering immediate reconciliation without the necessity of changing the specification.

[2018-11-13 10:30] Demonsthere opened #516 "Enable Webhook support for Kubelet"
Please consider setting the following options as parameter in the Shoot.yaml:

[code]

Currently only featureGates can be set using the Shoot mechanism, which limits the functionality of using webhooks as the authorization/authentication methods for the cluster, which is required in some projects (istio). Would it be possible to enable those?

Best regards

[2018-11-13 11:05] rfranzke commented on #516
I guess it would be possible to expose these flags. @mvladev any thoughts/comments?

[2018-11-13 13:20] #348 closed, assigned to adracus, timuthy

[2018-11-14 07:14] rfranzke commented on #510
We plan:

- The shoot maintenance controller will always annotate the shoot with `shoot.garden.sapcloud.io/tasks=deployInfrastructure`.
- The shoot controller will perform the `DeployInfrastructure` task <=> the shoot is being created or the shoot is annotated with `shoot.garden.sapcloud.io/tasks` and the value contains `deployInfrastructure`
- The shoot controller will always delete the `shoot.ga

[2018-11-14 10:12] rfranzke commented on #510
We will do the same for the `DeployKube2IAMResources` function (although, we have deprecated the `kube2iam` addon anyways and are going to remove it in the future). However, as long as we still have it this will improve the situation as well.

[2018-11-15 06:40] #512 closed, assigned to rfranzke

[2018-11-15 15:06] rfranzke commented on #172
Closing this one, since the latest improvements the seed's Prometheus runs quite stable. Please reopen if necessary.

[2018-11-15 15:06] #172 closed, assigned to mvladev

[2018-11-15 15:06] #449 closed, assigned to zanetworker, timuthy

[2018-11-16 09:18] #510 closed, assigned to timuthy

[2018-11-16 14:12] vpnachev opened #535 "Shoot networks must not overlap when multi AZ is used"
Currently Gardener could deploy `Shoot` cluster across multiple availability zones.
For this purpose in the shoot manifest every zone must  has its own `internal` CIDR, `public` CIDR and `workers` CIDR, but a proper validation is missing and Gardener will not disallow shoot with overlapped networks.

[2018-11-16 14:39] #511 closed, assigned to zanetworker

[2018-11-21 08:04] rfranzke opened #540 "Test framework"
We should invest into a Gardener-specific test framework that allows us to write our tests in Go, preferably with the Ginkgo/Gomega framework. Ideally, the tests are small and can be executed individually or in groups (or all).

Let's start with migrating our current integration test (script-based) to Golang and develop a proper framework that allows us to easily add more tests in the future.

Con

[2018-11-22 07:07] rfranzke opened #544 "Default shoot domain if provider != unmanaged"
If the shoot's `.spec.dns.provider` field is not `unmanaged` then we should default the `.spec.dns.domain` field in case it is not provided by the user. Otherwise, the configuration does not make any sense and will lead to an error (#542).

Let's please default `.spec.dns.domain` with `<shootName>.<projectName>.<managed-domain>` where `<managed-domain>` is any of the registered default domains in

[2018-11-22 13:16] rfranzke opened #545 "Introduce "Progressing" state for shoot conditions"
The current shoot conditions reflect the most recently observed state of a shoot. Users often misinterpret the status and get the impression that their cluster is somewhat broken. A good example for this is e.g., when the cluster-autoscaler decides to scale up. It increases the `.spec.replicas` field of the `MachineDeployment`, however, the `EveryNodeReady` condition shows `False` with the message

[2018-11-22 13:23] bergerx opened #546 "cluster autoscaler downscale configuration"
In some of our clusters (mainly on perf test clusters) we struggle with the autscaler being aggressive for our use case.

E.g. we run perf/load tests 10-20 minutes apart on the cluster and currently after each test the autoscaler kicks in and unnecessarily downscales the cluster just before the next round of tests are started. This forces us to disable the autoscaler feature since it's also impact

[2018-11-22 13:57] luisdavim commented on #546
looks like these parameters are configurable in the shoot spec under `kubeControllerManager`.
https://github.com/gardener/gardener/blob/master/example/90-shoot-azure.yaml#L75

or am I reading this wrong?

[2018-11-22 16:33] rfranzke commented on #546
@luisdavim no, these flags control the horizontal pod autoscaler, not the cluster autoscaler.
@bergerx The configuration of any components is a huge topic for itself that will at least be solvable easier with the planned extensibility concepts. Anyway, I've not yet fully understood your scenario. You are doing performance tests on a shoot, so why do you need the autoscaler here at all? If you don'

[2018-11-23 15:03] epierotto opened #550 "Gardener upgrade overwrites shoot backup schedule"
We keep our shoot definitions in git and when we apply changes we simply `kubectl apply -f my-shoot.yaml`

I've changed the autoScaler values and applied the shoot definition and then I realised that etcd-main-0 pod was replaced for that shoot.

I asked on gardener slack channel what kind of changes on the shoot definition can cause an update on etcd-main statefulset and I been told:
**only if you

[2018-11-23 15:09] rfranzke commented on #550
@georgekuruvillak can you please take a look? You did implement the change of the backup schedule some time back, is it still needed? Can we remove it? Does `schedule: '*/5 * * * *'` make sense or is it too frequent? Should we add rather a proper validation in the Garden API than resetting it the hard way on every start?

[2018-11-23 15:19] rfranzke commented on #546
@hardikdr @prashanth26 what do you think, which flags make sense to get exposed?
In the end, the problem is that flags can come and go, but once they are in the Shoot API we can't remove them incompatibly. We have to find a good way to expose them if we want to.

[2018-11-23 15:20] bergerx opened #551 "Update the AKS deployment guide"
The AKS deployment guide ([docs/deployment/aks.md](https://github.com/gardener/gardener/blob/master/docs/deployment/aks.md)) became old as AKS service went GA since then and now has RBAC and AAD support.

We need to update the doc to reflect the changes in the AKS.

[2018-11-23 15:21] bergerx commented on #551
I'll try to create a PR for this.

[2018-11-23 15:27] rfranzke commented on #551
Nice, thank you Bekir!

[2018-11-23 15:28] #544 closed, assigned to timuthy

[2018-11-25 10:49] georgekuruvillak commented on #550
@rfranzke 5 minute full backups are too frequent. We would go with 24 hr full backup interval and have incremental backups in between. We can remove the validation at: https://github.com/gardener/gardener/blob/master/pkg/controller/shoot/shoot.go#L242

This would prevent shoots from having a full backup schedule less than 24 hrs which is now the default. What should we validate? Whether it is a pr

[2018-11-25 12:17] afritzler commented on #545
@Adracus and I implemented the `processing` condition handling. The only thing missing is, what the threshold should be.

The two options we came up with (can be set via the controller configmap)
* Time based (e.g. 180s)
* Resync period count (e.g. 5 * syncPeriod)

We prefer the time based approach. Any objections?

[2018-11-25 13:34] rfranzke commented on #545
Thank you. Please see above: The configuration of the Controller Manager should allow individual thresholds per condition (I already put an example in the ticket description). Does that clarify the question?

[2018-11-25 13:34] rfranzke commented on #545
Btw: It should be `progressing` instead of `processing`, right?

[2018-11-25 13:48] rfranzke commented on #550
We should validate in `pkg/apis/garden/validation` that the `.spec.backup.schedule` is not too frequent, i.e. not more often than `24h` . Then we can remove the part in `pkg/controller/shoot/shoot.go`. Does that make sense?

[2018-11-26 06:49] afritzler commented on #545
Sorry, of course `progressing`. Well, should've read the description, because we implemented the threshold duration globally instead of per condition. :see_no_evil: But that can be fixed easily.

[2018-11-27 11:29] vlerenc opened #557 "Monitoring Crash"
I was trying to get a picture on a performance test cluster by going to the dashboard garden-devx-londo/perf and opening up Grafana, but when I switched to last 30 days, Prometheus fell down:
[code]
Turned into:
[code]

[2018-11-27 11:32] vlerenc commented on #557
When I go back 7 days, it looks like a Swiss cheese:
<img width="845" alt="screen shot 2018-11-27 at 12 31 37" src="https://user-images.githubusercontent.com/4974203/49079285-78019b00-f240-11e8-8a90-b94110f8998a.png">

[2018-11-27 12:17] mvladev commented on #557
@ vlerenc there are several issues which should be resolved:

- you should not be able to select 30days as currently Prometheus persists data only for 14 days top
- using the dashboard to query for those metrics is quite heavy. At the moment we calculate them on the flight. A better approach would be to simply store those queries as metrics. For example for the latency we do this `sum by(verb) (ra

[2018-11-27 14:48] vlerenc commented on #557
@mvladev How is this helpful? I mean, the problem was the week before last week, within the 14 days, but I couldn't select 14 days, so I selected 30 days. Either way, what purpose does the data serve if I can't call it up? And if you set a "more aggressive query evaluation timeout to prevent heavy queries", then I also don't get the data, but that was the whole purpose of the monitoring. Is there

[2018-11-27 15:10] #545 closed, assigned to afritzler, adracus

[2018-11-28 10:49] alcasim opened #560 "add --rm flag to cloud-init image preload"
We have spotted thousands of finished containers in the shoot nodes as a result of the cloud-init unit image pre-load. We are talking about 30000 containers in a week, which is pretty high and should not be happening, impacting also in kubernetes not being able to purge images, and node disk space usage

So far, I think it can be easily solved adding the flag `--rm` to the `docker run` command on

[2018-11-28 12:36] dkistner commented on #557
In any way I agree with Martin to remove the time selection of 30d when we only hold the data for max 14 days.

I don't know if it's a good idea to create recording rules for all dashboard queries, because I can't assess how much load this will produce when we calculate them every 30s or 1m. This is something which we may have to try out. If we decide to go in this direction we have to limit the a

[2018-11-28 13:10] ialidzhikov opened #563 "Certificate management issue on local_setup.md"
I follow [local_setup.md](https://github.com/gardener/gardener/blob/master/docs/development/local_setup.md) to setup local gardener. I am able to execute the steps except the last one (applying the shoot).

[code]

I think I cannot apply the shoot because my seed has `Status: False`. Find below the status of my seed:
[code]

How I start minikube:
[code]

My minikube version:
[code]

Logs from Gard

[2018-11-28 14:17] vlerenc commented on #557
Sure, if we can drop 30 days or replace it with 14 days, even better. I was just saying, I wanted to take a look at what we have, because it happened in the week before last week.

The point being, that I wanted to take a look, which is why we collect the data. To analyse problems.

As for the lost metrics, I understand the two Prometheuses, but I don't know whether it really crashed. It had only

[2018-11-28 15:10] rfranzke commented on #563
Thank you for reporting! The problem is that the `CertificateManagement` feature gate is enabled by default, but the local setup script does not install the required secret. We will fix that!

[2018-11-28 18:56] vpnachev opened #565 "Deploy network policy in the shoot allowing network traffic for the system components"
Currently, we assume that the network traffic to and from our system component pods installed inside the shoot cluster are allowed. Unfortunately the shoot owner could define `NetworkPolicy` disallowing the network traffic to our pods, which affects the gardener ability to operate the shoot cluster. So we have to deploy proper `NetworkPolicy` whitelisting the traffic to and from our pods (`garden.

[2018-11-29 07:34] #563 closed, assigned to nobody

[2018-11-29 12:30] marwinski commented on #565
It appears that our stakeholders want better isolation of the system components. Gardener cannot parse the network policies to detect whether they are ok (well it could but this would mean we build an engine here). I would therefore propose to deploy a standard set of policies and have them checked by the reconciler. If stakeholders are not happy with that policy they need to discuss their concern

[2018-11-30 06:43] #535 closed, assigned to mvladev

[2018-11-30 11:30] ialidzhikov opened #570 "Shoot cannot determine seed by profile and region in local scenario"
I follow [setup_local.md](https://github.com/gardener/gardener/blob/master/docs/development/local_setup.md#check-local-setup). The step that applies the shoot fails:
[code]

Meanwhile the seed is available.
As workaround when I set in `dev/90-shoot-local.yaml` in `.spec.cloud.seed` to `local` the admission validation passes.

It looks like the seed selection by `.spec.cloud.profile` and `.spec.clo

[2018-11-30 12:11] rfranzke commented on #570
For the local setup the step of finding an appropriate seed does anyway not make sense, so your workaround is fine. If you want please file a PR that adds `.spec.cloud.seed` to the local manifest.

[2018-11-30 12:33] #560 closed, assigned to rfranzke

[2018-11-30 12:35] rfranzke commented on #560
Thanks @alcasim for reporting this one, we have fixed that and are going to create a new release.

[2018-11-30 15:38] #570 closed, assigned to nobody

[2018-12-02 13:48] marwinski commented on #565
@vpnachev let me re-iterate my point from last Friday: the control plane is currently quite unprotected. Therefore we must add network policies and possibly do do more such as not running those containers with high privileges (not part of this ticket). Some stakeholders will however assume this not to be sure enough and start "optimising", possibly breaking the cluster. Imagine the number of ticke

[2018-12-03 11:24] epierotto commented on #550
Isn't the `.spec.backup.schedule` supposed to be configurable?

[2018-12-03 12:16] rfranzke commented on #550
Yes, at least back then (when it was introduced) it was. However, some values (more frequent than `24h`) might not make sense.
@georgekuruvillak does it still make sense to have that field configurable? If so, what do you think about the validation mentioned above?

/cc @swapnilgm

[2018-12-03 21:37] harsimranmaan opened #578 "Add support for HTTP LBs on GCP"
While using Gardener with GCP, there is no support to add an [HTTPS LB](https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer). On GKE, it is possible to setup an ingress of class `gce` but on gardener, that annotation value is not supported for values other than `nginx`. Using nginx adds a TCP LB and not an HTTPS lb.
HTTPS LB comes with features like out the box CDN support whic

[2018-12-04 03:42] vlerenc commented on #578
I guess, this is about https://github.com/kubernetes/ingress-gce and I would assume you might be able to deploy it yourself, though I have not tried that. We have deployed nginx anyways only as default ingress controller and might pull it out/will pull it out eventually. We definitely don't want to be opinionated and offering nginx might even go too far (Gardener is an Open Source project and we,

[2018-12-04 06:53] swapnilgm commented on #550
Currently we don't make delta snapshot period configurable through the shoot YAML. We have set it to 5min as per our observations on deployed cluster. So, probably i would suggest full backup interval of 1 hour still make sense,(i.e total 24 incremental snapshots) below that it will loose the optimisation efforts  of delta snapshots, considering time and size taken for full snapshots. Said that we

[2018-12-04 06:56] rfranzke commented on #550
Thanks. Should we now rather go and move it to a global configuration and remove it from the shoot spec? My feeling is that it doesn't make too much sense to have it configurable per shoot. Also, which kind of validation do you propose? You just wrote "Said that we will set it to 24hr by default. So somebody wants it that frequent, let them be"?

Can you please explain what is the solution that ma

[2018-12-04 23:27] harsimranmaan commented on #578
I followed the guide at https://github.com/kubernetes/ingress-gce/tree/master/examples/deployment to deploy on k8s 1.12.3 on Gardener but the GLBC container does not pass the livelinessProbe and crashes. I could not find anything valuable in the logs. Is there a way to debug this?

[2018-12-05 07:55] vlerenc commented on #578
Sorry, we don't know. If the controller fails and the log doesn't help with the problem, then it's also hard for us, because we can't debug all controllers the people want to run in Gardener clusters. When you have cracked the problem and we can do something to improve, we are very open to consider, of course.

[2018-12-12 08:04] harsimranmaan commented on #578
From further reading through the source, I am able to get to a state where the controller is being deployed but calls to GCP are failing as being unauthorized despite setting up correct? credentials. Would continue investigating this further. If I find a solution, I'll publish it here.

[2018-12-12 17:28] marwinski opened #604 "Add Test for Cloud Provider Load Balancer Issues"
As a result of https://github.com/gardener/vpn/issues/36 we need a check for possible load balancer issues. The Cloud Foundry colleagues have confirmed that the suspected root cause for this issue is present on most or all hypercloud providers.

The issue appears to be that load balancers re-use source ports in tcp connections too early which leads to SYN packets being dropped by the linux network

[2018-12-16 17:06] #551 closed, assigned to nobody

[2018-12-19 09:03] grolu opened #611 "Expose Gardener Version"
We have the requirement to show the Gardener version in the dashboard : gardener/dashboard#262

Currently, the version is set in the shoot spec during reconciliation, but there is no endpoint where the dashboard could fetch this version. Would it be possible to add this - otherwise we would need to parse the image tag in the deployment as a workaround.

[2018-12-20 07:47] #476 closed, assigned to wyb1

[2018-12-20 16:37] discostur opened #614 "Baremetal provisioning"
Hi,

are there any plans for expanding the baremetal support? As far as i can see you can only provision k8s via openstack in your own datacenter. It would be nice if there is a more flexible way of provisioning clusters in your own datacenter, for example you just provide IP / credentials to your VMs and the provisioning starts. Provisioning the VMs is up to you / your custom virtualization clust

[2018-12-20 19:58] vlerenc commented on #614
Gardener is actually more about managing fleets of Kubernetes clusters without manual effort. We have support for AWS, Azure, GCP, and Openstack. Alibaba is almost done. Packet has started the work and VMware is on the horizon with the work to start in January '19. However, bare metal in the sense of pet VMs is not fitting the concept of Gardener and will not be supported (as of now). All day-2 op

[2018-12-20 19:58] #614 closed, assigned to nobody

[2018-12-21 07:34] #611 closed, assigned to rfranzke

[2018-12-21 07:35] rfranzke commented on #611
Example output:

[code]

[2018-12-21 11:41] discostur commented on #614
@vlerenc thanks for the explanation, sound legit to me!

[2018-12-31 11:31] swapnilgm commented on #550
Sorry for late reply. It just skipped out of mind.

We had given another thought for global configuration vs. per-shoot. And we are on the conclusion that let's just keep the configuration field in shoot spec, as it is currently.

We should keep the default backup schedule to `24hr` if not specified in spec (as it is currently). But we should change  `garden.DefaultETCDBackupSchedule` to `1 hour`,

[2019-01-02 10:43] alcasim opened #623 "add support for tags/labels on shoots"
Hi,

I think it would be a nice feature to add support for tags/labels on all shoot resources. This will be really helpful on cost tracking on some cloud platforms.

I have some time to spare adding this feature for Azure, I'm happy to discuss about it

[2019-01-02 11:56] bergerx commented on #623
I guess the path would be something like this:

[code]

So a good starting point is to check if machine-controller-manager supports this and create a matching issue there if needed.

[2019-01-02 12:03] alcasim commented on #623
That's the path to follow to tag instances indeed. But those are not the only resources to be tagged (even more, in the Azure case it's not necessary to tag them in order to track costs). I planned to tag all elements created by the terraformer, that gives a valid first approach.  Then effort can be extended to the machine-controller manager.

[2019-01-03 08:14] hardikdr commented on #546
This issue was discussed once in the community call, I am not very sure of a good way to expose the component-specific flags into Shoot-API. The question also stands if we should make all the components[or only autoscaler] completely configurable or gradually expose set flags to shoot-API on need-basis. If later, we can then have a final check to expose a specific set of flags from autoscaler.

[2019-01-03 14:54] fsniper opened #627 "mount.cifs is not provided in CoreOS 1745"
Currently all the cloud profile samples refer to CoreOS version: 1745.7.0. This version does not have mount.cifs installed. Related bug report and fix are below:

https://github.com/coreos/bugs/issues/571
https://github.com/coreos/coreos-overlay/pull/3344

So It's impossible to use AzureFiles or CIFSShares as persistent  volumes.

The latest stable coreos version on Azure is: 1911.5.0 . Is that ve

[2019-01-03 15:13] dkistner opened #628 "Add check/metric to test API Server reachability from Shoot via kubernetes service"
We want to have a check if a pod can reach the Shoot Kube API Server via the `kubernetes` service in the default namespace. The result of the check should lead to a metric, which again should raise a Prometheus alert, when the API Server is not reachable via this route.

The alert dependents on the alert `KubeApiserverDown` (which is evaluated by the Prometheus on the Seed based on the existence o

[2019-01-03 15:56] rfranzke commented on #627
Not tried, but so far we had no issues with new CoreOS versions. Give it a try and report back your results, please! :-)

PS: We don't maintain every new CoreOS/K8s versions in the example `CloudProfile` resources necessarily (new versions appear too frequent).

[2019-01-04 08:06] fsniper commented on #627
We are testing the newest image now.

[2019-01-04 15:16] luisdavim commented on #627
we've tried version `1911.5.0` and it seems to be woking fine.

[2019-01-05 15:12] rfranzke commented on #627
Thank you for checking out and reporting back! Then I guess it's fine to close the issue?!

[2019-01-05 15:12] #627 closed, assigned to nobody

[2019-01-05 15:25] luisdavim commented on #627
Will you update the default version in the code and examples?

[2019-01-05 15:26] rfranzke commented on #627
Yes, with the integration of K8s v1.13 we anyway need to touch the example resources and can then change this values. What default version in the code do you mean?

[2019-01-05 15:29] luisdavim commented on #627
I'm on a mobile now so I can't check but I remember grepping the code and finding references to the coreos version in it.

[2019-01-05 15:30] fsniper commented on #627
İt's in examples/*cloudprofile* files

On Sat 5 Jan 2019, 18:29 Luis Davim <notifications@github.com wrote:

[2019-01-05 15:40] rfranzke commented on #627
I have updated the example `CloudProfile` and `Shoot` resources in f1098ce1ef83e4698d4eb1af11c7f8c119bfadd6 (currently still on the `feature/kubernetes-1.13` branch, not yet merged to `master`). Once 1.13 is supported all the values should be up-to-date.
There should not be an explicit version statement in the code itself, only in the example resource manifests. Please report the file once you fou

[2019-01-07 09:04] marwinski opened #631 "Isolate etcd using Network Policies"
etcd shall be isolated using the following policies:

1.  only network traffic from the API server in the same namespace (for the same control plane) shall be allowed.
2. no outgoing network traffic shall be allowed

(2) above might interfere with the backup infrastructure and might need further investigation.

[2019-01-07 09:05] rfranzke commented on #550
Thank you @swapnilgm.
@timuthy or @zanetworker do you want to take this one?

[2019-01-07 09:10] rfranzke commented on #631
Yes, ideally we get network policies that define fine-grained rules to only allow those components to talk to each other that really need to (not only etcd). @wyb1 started working on defining network policies for Prometheus, but I suggest that someone takes the time to investigate who needs to talk to whom and then - carefully and with an extended amount of tests - designs the network policies.

[2019-01-07 09:13] rfranzke commented on #623
Do you need arbitrary tags or is a cluster information on the resources enough? For example, in AWS we tag all the resources with the cluster name: https://github.com/gardener/gardener/blob/master/charts/seed-terraformer/charts/aws-infra/templates/_main.tf#L403-L407

[2019-01-07 09:17] rfranzke commented on #631
@adracus interested in this one?

[2019-01-07 09:21] alcasim commented on #623
I need arbitrary tags, as we classify costs based on different criteria (per team, per shoot, per environment...). I (almost) have something which takes shoot's labels and place them as tags for Azure, just for the terraform infra charts. I will open a PR once I'm happy on how it works (probably I will extend that to AWS as well).

[2019-01-07 09:23] rfranzke commented on #623
OK. How do you plan to tag the resources causing costs but are not created by Gardener but the CCM/KCM (load balancers, volumes, ...)?

[2019-01-07 12:03] alcasim commented on #623
In the case of Azure it's quite easy: all resources created within a resource group are cost-tracked by the resource group itself. So when CCM or KCMs create something is done under the resource group, hence can be cost-tracked by that. In our use-case we need to tag the different resource groups to categorize the costs.

I cannot tell about AWS or other cloud providers, I will do an small researc

[2019-01-07 12:37] rfranzke commented on #623
Hm, I don't get it. I don't understand how you want to enable arbitrary tags on the shoot resource to be propagated to the IaaS resources in general. It's a special case in Azure that everything is grouped under the resource group which you can tag. Such a general solution you are having in mind should work for all cloud providers, and I don't see how we can achieve that for the mentioned resource

[2019-01-07 13:48] alcasim commented on #623
Hey @rfranzke, I considered your feedback and I agree with you.
Unfortunately (and that is quite frustrating) Kubernetes does not tag any created resource. There are a PR and an issue stating that for PVs (and specifically for AWS):

- https://github.com/kubernetes/kubernetes/pull/49390
- https://github.com/kubernetes/kubernetes/issues/50898

In order to be consistent all resources should be tagge

[2019-01-07 16:30] luisdavim commented on #627
ok, the go files I was referring to are test files, pkg/apis/garden/validation/validation_test.go and plugin/pkg/shoot/validator/admission_test.go the rest are just the example yaml files and the template that generates them:
[code]

[2019-01-07 16:41] rfranzke commented on #623
OK, thank you. I remember we were thinking about something similar back one year but postponed it as we would need to write additional controllers to tag resources created by Kubernetes. However, it's also more difficult generally, as the users could deploy any arbitrary custom controller into their clusters which again could create infrastructure resources we don't know about.

That's wrong, Gard

[2019-01-07 16:41] #623 closed, assigned to nobody

[2019-01-08 14:38] #268 closed, assigned to nobody

[2019-01-08 14:38] rfranzke commented on #419
We won't work on this one in the foreseeable future, hence, closing it for now.

[2019-01-08 14:38] #419 closed, assigned to nobody

[2019-01-08 14:39] rfranzke commented on #23
We won't work on this one in the foreseeable future, hence, closing it for now.

[2019-01-08 14:39] #23 closed, assigned to nobody

[2019-01-08 14:39] rfranzke commented on #101
Covered with https://github.com/gardener/landscape-setup, I guess.

[2019-01-08 14:39] #101 closed, assigned to nobody

[2019-01-08 14:40] #236 closed, assigned to nobody

[2019-01-08 14:42] rfranzke commented on #246
We won't work on this one in the foreseeable future, hence, closing it for now.

[2019-01-08 14:42] #246 closed, assigned to adracus

[2019-01-08 14:43] #276 closed, assigned to nobody

[2019-01-08 14:43] #365 closed, assigned to nobody

[2019-01-08 14:44] rfranzke commented on #516
@mvladev ping

[2019-01-08 14:44] #578 closed, assigned to nobody

[2019-01-09 08:00] IliyanVidenov opened #643 "Shoots are created without access credentials"
We are experiencing some issues when we try to create a shoot. It is successfully created (ControlPlaneHealty condition is set to true) but without access credentials both missing in the gardener dashboard and seed secrets. After reconciliation, the credentials appear.

[2019-01-09 08:06] rfranzke commented on #643
Can you elaborate a little more? I didn't get the actual problem.

[2019-01-09 08:22] adracus commented on #643
The condition `ControlPlaneHealthy` is not the indicator for the credentials being present. The only time when you can assume that the credentials are there is after a _successful complete reconciliation_ (i.e. roughly translates to `Shoot.status.LastOperation.Progress == 100 && Shoot.status.LastOperation.State == Succeeded`)

[2019-01-09 08:23] mvladev commented on #516
We need to have #642 merged first.

In general we want to add https://github.com/kubernetes/kubelet/blob/63bb2f3a8bebc7916b5a924e41af3316ac9cd01f/config/v1beta1/types.go to the configuration

[2019-01-09 08:27] rfranzke commented on #516
Not sure whether we want that. We should be careful what to expose and what not.

[2019-01-09 08:42] vpnachev commented on #643
The issue is that the access credentials are synced too late to the Garden cluster, in the best case on the second reconciliation of the shoot cluster.

The scenario is like this:
1. A shoot called `my-shoot` was already successfully created and was working fine
2. The shoot called `my-shoot` is scheduled for deletion
3. A few minutes later the GCM reported that it is successfully deleted
4. But t

[2019-01-09 12:21] praveendhac commented on #631
Following up from the email conversation where I reported the issue first.
Issue was first reported on Gardener v0.12.0, then we did not have default NetworkPolicies on Seeds.
Current issue reported is on Gardener v0.14.1 where we have default NetworkPolicies for Seeds.

[2019-01-09 12:32] rfranzke commented on #631
We currently only isolate the kube-apiserver as it is the only entrypoint into the seeds. Isolating the other components is definitely planned and desired, but not that critical, as nobody can directly talk to them.

[2019-01-11 13:44] marwinski opened #649 "Zone Transfer query possible within the Kubernetes Cluster (Information Disclosure)"
Zone Transfer protocol is used to keep redundant DNS servers in sync. The service is reachable on the following DNS servers within the Kubernetes cluster:

100.96.11.2 (no dns, or at least no reverse lookup entry)
100.64.0.10 (kube-dns.kube-system.svc.cluster.local)
Impact: an attacker from within the Kubernetes cluster, can extract the list of all hosts within the cluster, with a single query.

[

[2019-01-11 14:04] adracus commented on #631
@rfranzke I guess providing a block is very difficult with our current network policies. I think we rather require a bigger rework there, but as you also said, the priority right now is not high for this.

[2019-01-11 14:53] marwinski commented on #649
Merged into #565

[2019-01-11 14:53] #649 closed, assigned to nobody

[2019-01-11 14:57] marwinski commented on #565
There are several issues that need to be addressed with network policies described above in the shoot cluster:

### Zone Transfer query possible within the Kubernetes Cluster (Information Disclosure)

Zone Transfer protocol is used to keep redundant DNS servers in sync. The service is reachable on the following DNS servers within the Kubernetes cluster:

100.96.11.2 (no dns, or at least no reverse

[2019-01-14 15:34] vpnachev commented on #643
It turns that the `garbagecollector` controller was not enabled for the KCM in the kubernetes cluster extended by the Gardener. So, when a shoot cluster is deleted, the `deletionTimestamp` of the secrets containing the access credentials is set, but there is no controller to finalize the deletion of these secrets within reasonable time.

Thanks to @rfranzke who proposed what could be wrong and I j

[2019-01-14 16:21] #643 closed, assigned to vpnachev

[2019-01-15 09:59] marwinski opened #653 "Ensure Deletion of Logfiles older than Two weeks"
In order to be DIPA compliant we need to ensure that logfiles older than 2 weeks are deleted.

### Implementation proposal

There are several ways on how the logging stack of Docker can be configured during cloud init. There may be an option to write to a new file every day and to rotate the log every day for up to fourteen days. In case there is no such option we may have to write a custom logger

[2019-01-15 10:07] mvladev opened #654 "Use federation for creation of various resource in Gardener"
# Federation-v2 for addon management / extensiblity.

## Overview

Unlike v1, [federation-v2](https://github.com/kubernetes-sigs/federation-v2) providers a generic way to distribute, place, sync and override arbitary Kubernetes resources. From the homepage of the project

<p align="center"><img src="https://raw.githubusercontent.com/kubernetes-sigs/federation-v2/master/docs/images/concepts.png" wi

[2019-01-15 10:26] ialidzhikov commented on #653
I will take this one.

[2019-01-16 07:00] saggir opened #656 "Missing tolerations on kube_proxy and node_exprorter daemonsets"
We are using node taints to separate our pods from the system ones.
There are missing tolerations on the kube_proxy and node_exporter daemonsets definitions in Gardener. As a result, the pods for kube_proxy and node_exporter are not created in all nodes.

*Remark - The Calico daemonset is define correctly.

The missing part is:

tolerations:
  # Make sure this pod gets scheduled on all nodes.
  -

[2019-01-16 08:39] marwinski commented on #247
@DockToFuture: there was already an ipvs ticket - this one. As for calico - it adops automatically:

[2019-01-16 10:44] vlerenc commented on #653
Thanks for this ticket/taking it. Indeed we have two locations, we need to tweak the Docker log file handling and the ES log handling. I am not sure about Stackdriver for our Garden GKE clusters. I don't think we use that at all (@ThormaehlenFred, @mliepold), so there should be no issue with that (atm).

[2019-01-16 11:27] mliepold commented on #653
The container log files of our Garden GKE clusters are not delivered to Stackdriver at the moment.
However some AuditLog, cluster operation and GCE resource information is logged there by default.

[2019-01-16 15:56] vlerenc commented on #654
Thanks for the summary. So you see it as means to replicate "stuff" (the three mentioned use cases), but it's not yet ready for prime-time.

[2019-01-16 17:56] #656 closed, assigned to nobody

[2019-01-17 09:26] ialidzhikov opened #662 "dockerd is started without log rotation properties"
[code]

As you can see the log rotation properties (specified in https://github.com/gardener/gardener/blob/master/charts/shoot-cloud-config/charts/original/templates/docker/_docker.service#L8 ) are not passed to dockerd. Now the container logs on the nodes are not rotated at all:
[code]

The expected log rotation is:
[code]

[2019-01-17 12:30] rfranzke commented on #662
Assigned initial contributor of this part @mvladev

[2019-01-17 12:38] marwinski opened #663 "Provide Fork Bomb Protection for Clusters"
In a cluster that allows untrusted code execution in pods from multiple tenants (e.g. a CI/CD system) tenants should be protected from fork bombs (see https://en.wikipedia.org/wiki/Fork_bomb). By default cluster nodes in Kubernetes with docker as the container runtime are not protected against this kind of denial-of-service attack.

## Implementation Proposal

There are two generally two ways to i

[2019-01-17 12:43] mvladev commented on #662
I'd rather drop `Docker` entirely and use `CRI` compliant runtime and have the `kubelet` to talk directly to it. Then we can set

[code]

as an option on the [kubelet](https://github.com/kubernetes/kubernetes/blob/9cc39a5614d8b5d8c9b750c0c737c1a58bde18bf/cmd/kubelet/app/options/options.go#L572-L573) process and it'll handle the rotation by itself.

[2019-01-17 12:57] marwinski commented on #662
Well, this does also not solve the 14 day retention problem (and exchanging the container runtime does not appear to be a "light" task).

[2019-01-21 09:38] #653 closed, assigned to ialidzhikov

[2019-01-21 15:19] eaterm opened #669 "Alertmanager running in cluster mode"
The alertmanager inside the seed and shoot cluster are running in cluster mode.
If lookup of private IP's fails the alertmanager will terminate with an error, because of this the shoot cluster will never get 100% ready.

Adding `--cluster.listen-address=""'` would solve the issue.

Created ticket for discuss if this is an option.

Ticket created after talking to @dkistner

[2019-01-21 15:56] eaterm commented on #669
Seed network config. Because the pod network is niet RFC1918 the pod will fail.
[code]

[2019-01-21 16:40] #628 closed, assigned to wyb1

[2019-01-21 16:44] #550 closed, assigned to zanetworker, timuthy

[2019-01-21 18:56] #662 closed, assigned to mvladev

[2019-01-22 07:36] zoyapronyakova opened #671 "Changing Log Level of vpn-shoot, calico-node, node-exporter"
Dear gardener colleagues,

I am part of SAP Web IDE team and i am working on logs analysis in our platform.
Currently,  vpn-shoot, calico-node, node-exporter log levels are set to **info**, which basically floods our logs with irrelevant information.
I understood that those components are part of gardener deployment.
How can i set this components log level to error automatically?  (I mean, **not**

[2019-01-22 07:43] marwinski commented on #671
We can certainly reduce the log level for calico, we don't really need info here (@DockToFuture can you please take over). As for vpn-shoot this should normally not create a lot of messages - the number of messages is merely an indication of a problem. So far we mostly saw it on AWS (which we believe is due to the AWS load balancers) but I just saw that also on Azure. We do need to investigate. Is

[2019-01-22 08:00] eaterm commented on #669
When a default shoot is created via the dashboard the networks you cant use for you seed are `100.96.0.0/11` and `100.64.0.0/13`.
As the pod network is a 100 network it needs te be compliant to RFC 6598 for alert manager be able to work.

EDIT: Edited network typo.

[2019-01-22 08:56] vasu1124 commented on #669
[code]

The defaults (see https://github.com/gardener/gardener/blob/master/pkg/apis/garden/types.go) are well within this range.

Could it be a typo or a configuration on your side?
E.g. inspect carefully your line stating `100.0.96.0/11` and `100.0.64.0/13`.
Also, I can't find where `100.0.0.0/10` or `100.80.0.0/13` configuration is persisted in the Gardener repo ...

[2019-01-22 09:19] mvladev commented on #669
This error:

[code]

Leads to
https://github.com/prometheus/alertmanager/blob/9ccbeb585ba07d51e26c1457a9f3107f23d52aea/vendor/github.com/hashicorp/go-sockaddr/ifaddr.go#L58 then in this case https://github.com/prometheus/alertmanager/blob/9ccbeb585ba07d51e26c1457a9f3107f23d52aea/vendor/github.com/hashicorp/go-sockaddr/rfc.go#L465

As Vasu pointed `100.64.0.0/10` should/can be used

[2019-01-22 10:40] eaterm commented on #669
`100.96.0.0/11` and `100.64.0.0/13` are the defaults used when creating a shoot using the gardener dashboard. As the seed en shoot network need to be disjunct we used `100.0.0.0/10` and `100.80.0.0/13` for the seed cluster.

When using the default shoot configuration there is only a small section that can be used for the seed pod network. If you want to use a pod network that is not inside `100.64

[2019-01-22 11:44] zoyapronyakova commented on #671
@marwinski  thanks for your fast response. Good news!
Could you please provide timelines for both
- switching calico and node-exporter log levels
- vpn-shoot logs investigation
By timelines, I mean when the fix is provided and when it is available in Canary landscape?

In addition, attaching here some of vpn-shoot info logs we are getting, maybe it could help:
-- Tue Jan 22 10:50:37 2019 vpn-seed/

[2019-01-22 12:36] vasu1124 commented on #669
I can't find your CIDR references in the dashboard project either:

In https://github.com/gardener/dashboard/blob/master/frontend/src/dialogs/CreateClusterDialog.vue,  I see properly disjunct CIDR ranges:
[code]

In which setup are you finding the defaults?

[2019-01-22 13:40] vasu1124 commented on #669
I think we clarified the network CIDR ranges (and the typos).
And @mvladev provided PR https://github.com/gardener/gardener/pull/674 to address the IP issue.

[2019-01-23 06:27] #669 closed, assigned to dkistner, wyb1, mvladev

[2019-01-23 07:01] timuthy opened #678 "Update to Cert-Manager v0.6.0"
Cert-Manager has included a lot of improvements since v0.4.1, especially for the ACME implementation. Also https://github.com/jetstack/cert-manager/issues/837 has been fixed which prevented us from using v0.5.x.

[2019-01-23 07:33] timuthy opened #679 "Allow Shoot TLS certificates with more than 64 characters"
Gardener offers a certificate service for Shoot cluster Ingress domains. Unfortunately, a `Common Name (CN)` field of a certificate is **limited to 64 characters** but at the same time required by Let's Encrypt (https://community.letsencrypt.org/t/ssl-for-a-63-character-max-number-of-characters-domain-name-s/36387/17), i.e. it's not possible to leave out `CN` and fill out `Subject Alternative Name

[2019-01-23 07:37] marwinski commented on #671
Excessive logs in the vpn-shoot pod are caused by the blackbox exporter opening a connection to the vpn endpoint every 5 seconds. This is not necessary as there is already a test for the VPN in the seed cluster. @dkistner can you please check and disable that test. Thanks.

[2019-01-23 07:39] marwinski commented on #679
I like this idea but doesn't it require changes to the certificate manager?

[2019-01-23 07:49] timuthy commented on #679
It will require changes to `Gardener` or the `Certificate Service Extension` which will do the domain calculation as well as `Cert-Broker` which will enrich the replicated Ingress by this domain. Changes to `Cert-Manager` won't be required.

[2019-01-23 11:37] timuthy commented on #679
**Update:**
Along with our plans towards extensibility we want to extend our Shoot specification by a field `.spec.dns.ingressDomain`.

- A selected ingress domain must be a subdomain of `externalDefaultDomain`. In case of a custom Shoot domain, any domain is accepted since Gardener doesn't know how the hostedZone is related to the domain.
- A selected ingress domain is checked against existing Sh

[2019-01-23 13:05] eaterm opened #682 "Logging curator keeps running when shoot is hibernating"
When logging is enabled and a shoot cluster is hibernation, the daily and hourly curator jobs keep running.
The cronjobs still exist in the seed clusters shoot namespace. Because of this the task keeps running and exiting with an error, because it cant connect to elasticsearch.

[code]

[2019-01-23 13:23] ialidzhikov commented on #682
Thanks for reporting. I also hit the issue. I will take it.

[2019-01-23 14:37] dkistner commented on #671
The blackbox exporter (running co-deployed with Prometheus in the Seed) is executing the `vpn-connection` check every **15** seconds.
 https://github.com/gardener/gardener/blob/master/charts/seed-monitoring/charts/prometheus/templates/config.yaml#L442
But on top of this Prometheus will use the vpn connection to scrape several components (node-exporter, kube-proxy etc...) running on the Shoot nodes

[2019-01-24 06:32] #682 closed, assigned to ialidzhikov

[2019-01-24 08:03] zoyapronyakova commented on #671
@marwinski do you know when we can expect log level change of the the calico and other components?
I need to provide estimations when to eliminate log flooding.

[2019-01-25 08:41] bergerx opened #687 "gardener chart installation in aks.md doesnt work anymore"
Previously when we were first wrote the aks installation doc, we used tags, but given the gardener release cadence is around 1 per week the doc it got old in months. And the chart was relatively stable relative to the rest of the codebase. So I decided to remove the references to any hardcoded version number from the doc and started using latest in the doc.

But after then with the recent changes

[2019-01-25 08:42] bergerx commented on #687
I'll try to address this in the doc.

[2019-01-25 08:47] bergerx commented on #687
Since the problem is generic this need to be covered in both [docs/deployment/kubernetes.md](https://github.com/gardener/gardener/blob/b227e42f3c876dbc0afa7214f69b54d19e8a7e99/docs/deployment/kubernetes.md) and [docs/deployment/aks.md](https://github.com/gardener/gardener/blob/b227e42f3c876dbc0afa7214f69b54d19e8a7e99/docs/deployment/aks.md).

[2019-01-28 08:04] #540 closed, assigned to zanetworker, timuthy

[2019-01-29 17:19] MSSedusch opened #694 "SchemaError of ProviderConfig"
I am trying to set up a local dev environment on Windows. I first tried with Docker for Windows and the Kubernetes version of it but it seems to be too old. I switched to minikube today and updated my local repo with the latest upstream version.

make dev-setup and make start-api are working fine from WSL but when I try to create an internal domain that is required for make start, I get the follow

[2019-01-29 17:27] dguendisch commented on #694
"invalid object doesn't have additional properties" is most likely caused by an outdated `kubectl`, just update it to a recent one.

[2019-01-29 18:19] MSSedusch commented on #694
Thanks! That worked

[2019-01-29 18:19] #694 closed, assigned to nobody

[2019-01-30 07:23] StenlyTU opened #695 "Creation of cluster in OpenStack will fail if there is key pair with the same name"
Cluster in OpenStack cannot be created If in the customer account, key pair with the same name as the shoot already exist: `shoot--<project>--<shoot>`

Expected behavior:
The key pair need to be modified or deleted/recreated

[2019-01-30 07:29] rfranzke commented on #695
We will not modify or delete existing keys. That's expected behaviour that the creation fails and an error is shown to the end-user. The existing key might be used for other critical workload.

[2019-01-30 07:35] #695 closed, assigned to nobody

[2019-01-30 09:37] afritzler opened #696 "Make MCM Timeouts Configurable"
Currently we are having hardcoded timeouts for the MCM[0]. Would be a good idea to have that configurable (per infrastructure).

[0] https://github.com/gardener/gardener/blob/master/charts/seed-controlplane/charts/machine-controller-manager/templates/deployment.yaml#L42-L48

[2019-01-30 10:22] rfranzke commented on #696
See GEP-1 (#308), that will be possible with extensibility in the future. Every provider will manage its own MCM deployment (because it needs to deploy the provider-specific MCM sidecar).
We won't invest into that with the current status.
Closing this then, OK?

[2019-01-30 10:22] #696 closed, assigned to nobody

[2019-01-30 11:05] afritzler commented on #696
Fine with me! Thx!

[2019-01-30 13:08] wyb1 opened #699 "Prometheus running out of storage space"
Prometheus is running out of storage space in the seeds. The data is not persisted very long (2 hours) but depending on the amount of metrics prometheus eventually runs out of storage space. Once prometheus runs out of storage it is stuck in a CrashLoopBackOff indefinitely. Currently, the best way to fix this is to delete enough data from the disk and restart prometheus. To prevent this there are

[2019-01-31 23:20] bergerx opened #703 "SKIP button in kubernetes dashboard is missing"
The SKIP button in the Kubernetes Dashboard is no more there:
![image](https://user-images.githubusercontent.com/45531/52091985-1c3fef00-25ae-11e9-8fec-3d709a82152c.png)

We believe its because of https://github.com/kubernetes/dashboard/issues/2672

Related comment from @rfranzke in https://github.com/gardener/gardener/issues/398#issuecomment-425369182 on 28 Sep 2018:

Is there any other way than

[2019-02-01 07:25] rfranzke commented on #703
Due to security concerns we won't reintroduce the SKIP button. We have removed it for good reasons, see #555.
The Kubernetes dashboard only supports Basic Auth and JWT Token authentication, nothing else and out of our control.

[2019-02-01 07:25] #703 closed, assigned to nobody

[2019-02-01 08:24] pranjaljain commented on #276
@rfranzke where can I see the status for planned security addon?
Just wanted to know whether this issue related to access to metadata service is resolved or not?

[2019-02-01 09:08] rfranzke commented on #276
I don't know, please reach out to @marwinski @alban and @schu.
The issue is closed because restricting access to metadata service from shoots is not part of Gardener core scope (consequently, not done).

[2019-02-01 09:23] marwinski commented on #276
This functionality has been implemented in the security add-on which we plan to make public, however we don't have a timeline for this now.

[2019-02-01 09:46] #41 closed, assigned to nobody

[2019-02-04 08:30] zoyapronyakova commented on #671
Thanks a lot for your help! Number of calico-node INFO messages has bee significantly reduced
31.01 - 1,031,208
03.02 - 0!

[2019-02-05 09:26] urabenst opened #707 "Invalid Azure load balancer idle connection timeout"
Since Kubernetes 1.12 it is possible to adapt the Azure load balancer idle connection timeout for services. It is currently set to 60 minutes which unfortunately is an invalid value:

`Warning  CreatingLoadBalancerFailed  4m (x9 over 19m)  service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service shoot--dev--urshoot/kube-apiserver: idle timeoutvalue

[2019-02-06 07:47] #707 closed, assigned to nobody

[2019-02-06 07:48] rfranzke commented on #707
Great!, thank's for finding that! We have not yet run Azure seeds in v1.12, that's why we didn't face the issue ourselves yet.

[2019-02-06 13:16] #699 closed, assigned to nobody

[2019-02-07 14:47] wyb1 opened #715 "Add vertical pod autoscaler into seed."
Prometheus has had trouble in the past with scaling. The vertical pod autoscaler can alleviate some of these issues. I propose adding the VPA behind a feature gate. The VPA consists of 3 components:
* vpa-admission-controller
* vpa-recommender
* vpa-updater

These components would run in the garden namespace of the seed. Along with these components a VPA CRD will be created. Then it will be possib

[2019-02-10 16:47] freegroup opened #716 "Unable to create internal LoadBalancer on GKE"
Hi,

Unfortunately I’m unable to create an internal LoadBalancer on GKE. The reason for this
Seems to be the missing feature to name a subnet in the Service-Resource.

https://github.com/kubernetes/kubernetes/issues/60665

As mention in the ticket, it is possible to fix it by add some parameters to the kube-controller.
Did we have this already?

This feature is heavy required for a kind of cluster

[2019-02-11 07:17] rfranzke commented on #716
@marwinski @DockToFuture @zanetworker
What would be the side effects when we would add `subnetwork` to the GCE cloud provider config?

[2019-02-11 14:36] DockToFuture commented on #716
So far we have no side effects, when enabling internal loadbalancers on gcp. We could use our existing node-subnet: ```subnetwork-name="shoot--<namespace>--<name>-nodes"``` to take the ips from that range for the ilbs if no seperate ip-range is required.

[2019-02-12 07:59] jia-jerry opened #722 "Block meta-data IP access to seed cluster in Alicloud"
The metadata IP of Alicloud is 100.100.100.200. If the seed cluster is deployed in Alicloud, we should prohibit Shoot control plane to access 100.100.100.200.

Please assign it to me.

[2019-02-12 08:19] #678 closed, assigned to timuthy

[2019-02-12 11:06] freegroup commented on #716
I just saw that it is not possible to share an internal LB across different regions.
https://issuetracker.google.com/issues/111021512

Internal LB is still a good feature for some use cases....but I paste the ticket to inform other user that
this feature has some limitations.

[2019-02-12 11:23] DockToFuture commented on #716
Yes they are bound to their regions and we absolutely should enable them, @zanetworker @marwinski shall we use the node subnet or create a separate one. WDYT?

[2019-02-12 12:13] i300543 commented on #663
Hello,
we at WebIDE are using gardener as our infrastructure provider, and also struggling with protection of our pods against malicious content execution (fork bomb etc)
Is there a timeline when this suggestion could be accepted ?

Thanks

[2019-02-12 14:24] thomasdraebing opened #725 "Enable the use of flexvolumes"
Hi,

currently it is not possible to use Rook [1], because the directory configured in the kubelet to store flexvolume drivers is not writable (by default: `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/`). The documentation of Rook suggests to use `/var/lib/kubelet/volumeplugins` as an alternative [2]. Configuring this path for the Rook operator, allowed Rook to create the flexvolume driver

[2019-02-12 14:28] thomasdraebing commented on #725
@georgekuruvillak As discussed I created this issue following our discussion via email.

[2019-02-12 18:20] marwinski commented on #663
Hi @rfranzke , can you do this in the Gardener team or do you know anybody who could take this?

[2019-02-13 07:48] rfranzke opened #728 "Implement `Infrastructure` extension resource"
Part of #308.

As we have proposed in [GEP-1](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md) we want to have an `Infrastructure` extension resource that is reconciled by an external provider specific controller running in the seed. It should create the necessary networks, security groups, <iaas resources>, ... needed for a shoot cluster.

# Implementation Prop

[2019-02-13 07:54] rfranzke opened #729 "Implement `Worker` extension resource"
Part of #308.

As we have proposed in [GEP-1](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md) we want to have an `Worker` extension resource that is reconciled by an external provider specific controller running in the seed. It should deploy the provider-specific `machine-controller-manager`, the required resources for it to reconcile, and the `MachineClass`es/

[2019-02-13 08:08] rfranzke opened #730 "Implement `Extension` extension resource (+ Cert-Service extension)"
Part of #308.

As we have proposed in [GEP-1](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md) we want to have an `Extension` extension resource that is reconciled by an external controller running in the seed. The `Extension` resources does not have any dependent tasks in the shoot flow, however, it's successful reconciliation is required for the whole shoot fl

[2019-02-13 08:35] rfranzke opened #731 "Extend Shoot specification to expose created DNS records"
Right now, Gardener creates one DNS record for the API server of a Shoot: `api.<shoot-domain>`.
In case the `nginx-ingress` addon is enabled, it also creates a second wildcard DNS record for the ingress controller: `*.ingress.<shoot-domain>`.

Some users want to change `*.ingress` to something else, others just want to programmatically identify their API server/ingress domain.

Let's extend the sh

[2019-02-13 09:05] rfranzke commented on #679
After a discussion we went away from the idea of having `.spec.dns.ingressDomain`, see #731.
To fix the problem here (64 char limit), we decided to generate a second wildcard ingress domain (not configurable) for every shoot that has enabled the nginx-ingress addon.

Based on the "internal domain" configured in the garden cluster we will compute a random value, and create a DNS record pointing to

[2019-02-13 09:11] rfranzke commented on #715
Are you aligned with @amshuman-kr @georgekuruvillak @swapnilgm that are working on VPA for etcd?

[2019-02-13 09:12] rfranzke commented on #716
What would be the rationale behind creating a separate one?

[2019-02-13 09:13] rfranzke commented on #671
Can this one be closed?

[2019-02-13 09:39] zoyapronyakova commented on #671
yes :)

[2019-02-13 09:39] #671 closed, assigned to nobody

[2019-02-13 13:27] zanetworker commented on #716
@DockToFuture maybe we can divide up the node subnet into two smaller subnets namely -> nodes and LBs, WDYT?

[2019-02-13 14:04] DockToFuture commented on #716
Sounds good, I will create a PR.

[2019-02-13 16:02] rfranzke commented on #663
@marwinski as you know we are currently focusing on extensibility, but @brunoklein99 volunteered to look into this one

[2019-02-13 17:45] marwinski commented on #663
Great @brunoklein99. Let me know if you need anything. For the time being option one should be fine.

[2019-02-13 23:58] brunoklein99 commented on #663
Instead of adding the parameter as an annotation, wouldn't it be more appropriate to instead add it as a property of [spec.kubernetes.kubelet](https://github.com/gardener/gardener/blob/master/example/90-shoot-local.yaml#L73) which is already (only `featureGates`) being [passed to the chart renderer](https://github.com/gardener/gardener/blob/master/pkg/operation/hybridbotanist/cloud_config.go#L113-

[2019-02-14 06:29] marwinski commented on #663
OK for me as long as @rfranzke agrees. This is an alpha feature and I am not sure the feature gates are meant for exactly that purpose.

[2019-02-14 08:10] #687 closed, assigned to bergerx

[2019-02-14 10:54] brunoklein99 commented on #663
Agreed. I meant adding a sibling to `featureGates`.

[2019-02-14 11:02] rfranzke commented on #663
As long as it is alpha I would not add it to our versioned spec - just start with the annotation.
So, IMHO, in order to enable it in a shoot,

1. the feature gate must be enabled
1. the new annotation specifying the pid-limit must be set.

This I wouldn't do either. Everybody can enable it who wants it. once it is beta/stable we can enable it by default, but not as long as it's alpha.

[2019-02-14 11:23] #262 closed, assigned to nobody

[2019-02-15 08:24] timuthy commented on #679
@rfranzke what do you think about having:
[code]

So admission could look like the following:

[code]

Imho, this means a little more effort in the code but a cleaner API since both Ingress records work the same way.

[2019-02-15 08:26] rfranzke commented on #679
👍 much better, thank you

[2019-02-18 10:38] hoeltcl opened #747 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-02-18 12:43] rfranzke commented on #747
Done

[2019-02-18 12:43] #747 closed, assigned to nobody

[2019-02-20 05:41] PadmaB opened #754 "[Control Plane Engineering] Scaling recommendations for the API Server of the seed cluster"
# Story
* As an administrator, I want to be able to manage larger seed clusters, with ~500 to 1000 nodes the API Server of the seed cluster should be able to support the load
* As an administrator, I want scaling recommendations for API Server to be able to support larger seed clusters

# Acceptance Criteria
- [ ] Evaluate and recommend the parameters like CPU, memory for API Server to be able to

[2019-02-20 07:06] Henrike42 commented on #663
How can a cluster owner set the annotation specifying the pid-limit at the moment? I have tried, but the reconcile simply removes it. Is it possible to "secure" our live clusters?

[2019-02-20 12:00] brunoklein99 commented on #663
Hi, Henrike.
The actual implementation for this hasn't been released yet.
As for why the annotation is being removed, make sure the annotation has a string value. e.g. `alpha.shoot.garden.sapcloud.io/kubelet-pod-pid-limit: "100"`

[2019-02-20 14:27] usherfu commented on #663
@brunoklein99

Thanks for working on this feature. Our stakeholder WebIDE is also interested in this feature. Do you maybe have a rough estimation when this will be available? :-). Thanks.

[2019-02-20 14:51] brunoklein99 commented on #663
Pretty soon, within next couple weeks probably.

On Wed, Feb 20, 2019, 11:27 usherfu <notifications@github.com wrote:

[2019-02-20 14:58] marwinski commented on #663
Thanks @brunoklein99 - this is really useful.

[2019-02-20 15:33] ThormaehlenFred opened #758 "update perl"
Update perl from 5.24.1-3+deb9u4 to 5.28.1 to patch CVE-2018-18311

[2019-02-20 20:40] #758 closed, assigned to nobody

[2019-02-21 05:29] Henrike42 commented on #663
Regarding, the reconcile removal of the annotation: alpha.shoot.garden.sapcloud.io/kubelet-pod-pid-limit: "100"
I did this like typed above, with a string value. It's still removed.

[2019-02-21 07:12] rfranzke commented on #663
@Henrike42 you probably tried to set it via the Dashboard, right? AFAIK it does not support setting these kinds of annotations, is that correct @holgerkoser @petersutter @grolu ?

[2019-02-21 08:38] petersutter commented on #663
yes this is filtered out by the dashboard https://github.com/gardener/dashboard/blob/master/backend/lib/services/shoots.js#L63-L77

[2019-02-21 08:58] holgerkoser commented on #663
@rfranzke Yes. Currently the dashboard does not allow to modify annotations which match `*.garden.sapcloud.io/*` except
* 'shoot.garden.sapcloud.io/ignore'
* 'garden.sapcloud.io/purpose'
* 'shoot.garden.sapcloud.io/operation'

The reason is only usability to protect the dashboard user from changing accidentally shoot metadata. We could remove these filters or add others annotations to the list of

[2019-02-21 09:04] rfranzke commented on #663
Not sure anymore what was the reason to add it in the first place - technically, users can anyway modify it by using `kubectl`. So probably it's the best to just remove this restriction instead of maintaining a 'whitelist' for allowed fields?!

[2019-02-22 05:58] PadmaB opened #885 "[Feature] Expose VPA recommendations as Prometheus metrics"
# Story
As an operator, I would like to expose the recommendations from VPA as prometheus metrics

# Motivation
Run the VPA in the "Off" mode and observe its recommendations for a certain period of time and compare with the actual resource usage before actually applying those recommendations.
However, at the moment there is no way to expose the recommendations as prometheus metrics - will be conve

[2019-02-26 09:31] Henrike42 commented on #663
At the moment it doesn't seem possible for a cluster owner to secure a Gardener cluster against the Fork bomb. If I am wrong, can you please provide the corresponding kubectl command and/or describe the necessary actions via the Gardener dashboard?
If I am right, is it possible for the Gardener team to secure our live Gardener shoot clusters? At the moment we have three of them?

[2019-02-26 09:40] i300543 commented on #663
There is a workaround you could apply in the image(pod) level:
define system user to be used in your dockerfile defining your container, and add the ulimit command into bashrc

[2019-02-26 11:28] Henrike42 commented on #663
The container uses a Docker image which is constructed from scratch. I put an etc/security/limits.conf file into it, which restricts the number of processes to 2 for all users. However, I can execute Node.js code successfully, which spawns more than 2 child processes.

[2019-02-26 15:26] i300543 commented on #663
modifying limits.conf file will not work.
this is what we have done in our dockerfile:
#  Create system user
RUN mkdir -p /home/exec && \
    groupadd -g 4000 exec && \
    useradd -u 4001 -g group -s /bin/bash -d /home/user exec && \
    chown -R 4001:3000 /home/exec && \
    chmod 770 -R /home/exec
#impose hard limit on number of processes for users when running in bash
RUN echo $'if [ $(whoami)

[2019-02-26 19:44] rfranzke commented on #663
@brunoklein99 the feature gets graduated to beta in 1.14 (https://github.com/kubernetes/kubernetes/pull/72076), so let's not go the "annotation"-way but add it to the shoot spec (`.spec.kubernetes.kubelet.podMaxPids`). That means, for 1.13 clusters we have to add the feature gate automatically if `.spec.kubernetes.kubelet.podMaxPids` is specified, with 1.14 it's enabled by default anyways

[2019-02-27 06:48] Henrike42 commented on #663
Our goal is also to provide protection against the fork bomb, but before testing a fork bomb. I'd like to test if limits for number of processes work at all.
I have tried to adapt the solution proposal, so far it's not working.
Please note, our runtime docker image is built from scratch. It only contains the Node.js executable plus its dependencies and certificates so far.
What I did now is to add

[2019-02-27 10:10] arnabnandy1706 opened #771 "Unable to Deploy Gardener on Kubernetes"
Hello All,

I am deploying the gardener on top of Kubernetes Cluster running on-premise.

I am using the helm chart provided here, but the **gardener-apiserver** goes into **CrashLoopBackOff** state.

When I checked the logs for the pod I get below the error.

`Error: unable to load server certificate: tls: failed to find any PEM data in certificate input`

Please help me.

Thanks in advance.

Reg

[2019-02-27 11:11] rfranzke commented on #771
Have you specified the needed certificates [for etcd](https://github.com/gardener/gardener/blob/master/charts/gardener/values.yaml#L21-L33) and [the gardener-apiserver](https://github.com/gardener/gardener/blob/master/charts/gardener/values.yaml#L37-L49)?

[2019-02-27 11:15] arnabnandy1706 commented on #771
No I have not.

I followed below the link to install.

https://github.com/gardener/gardener/blob/master/docs/deployment/kubernetes.md

How to provide the certificate?

Thanks
Arnab

[2019-02-27 18:16] #716 closed, assigned to zanetworker, marwinski, DockToFuture

[2019-02-28 03:38] arnabnandy1706 commented on #771
@rfranzke  any suggestion on above question?

[2019-02-28 04:36] vlerenc commented on #716
Thanks all!

[2019-02-28 07:42] timuthy commented on #771
[For etcd](https://github.com/gardener/gardener/blob/master/charts/gardener/values.yaml#L21-L33) you need to provide `ca.crt / client.crt / client.key` that lets the `Gardener-Apiserver` connect to an etcd instance.

For instance, if you want to use the same etcd that your `Kube-Apiserver` is connected to, you can refer to the `command parameters` of your `Kube-Apiserver Pod`.

[The Gardener-Apise

[2019-02-28 11:00] arnabnandy1706 commented on #771
@timuthy Thanks for the help.

After I have generated the certificates and keys I have provided in the **values.yaml** file.

But now in the **apiserver** log I am getting below the error.

`F0228 10:56:01.216559       1 storage_decorator.go:57] Unable to create storage backend: config (&{ /registry/garden.sapcloud.io [https://10.211.203.83:2379]    false 0xc0005067e0 <nil> 5m0s 1m0s}), err (conte

[2019-02-28 11:58] pablochacin opened #775 "Missing charts/shoot-cloud-config/charts/downloader"
After  changes introduced in d8430cdf40a1e3d307492b7ccea452cad20e93ee "Restructure operating system specific Helm charts", when creating a shoot using the local cloud provider, the following error appears:
[code]

[2019-02-28 12:04] timuthy commented on #771
Looks like a connection issue to your etcd form Gardner-Apiserver. Have you checked that the IP is correct, `etcd Pod` is running, `Service` is configured correctly, `Endpoint` object is available ...?

[2019-02-28 12:17] vpnachev commented on #775
/assign

[2019-02-28 12:35] timuthy commented on #679
Any efforts of bringing this to Gardener are stopped. We'll rather go with the approach of having a dedicated DNS service for shoot clusters in the future.

[2019-02-28 12:35] #679 closed, assigned to timuthy

[2019-03-01 04:08] arnabnandy1706 commented on #771
But ETCD pod is up and running:
`etcd-k8-master.domain                      1/1     Running   3          10d`

Kubernetes Service:
`Name:              kubernetes`
`Namespace:         default`
`Labels:            component=apiserver`
`                   provider=kubernetes`
`Annotations:       <none>`
`Selector:          <none>`
`Type:              ClusterIP`
`IP:                10.96.0.1`
`Port:

[2019-03-01 07:11] timuthy commented on #771
I rather meant a `Service` for etcd.

Anyways, the point is if your etcd instance is really reachable via `
https://10.211.203.83:2379` and `
ca.crt / client.crt / client.key` you provided.

If you intend to use the same etcd instance your `Kube-Apiserver` uses, please double check these  settings with the ones passed to `Gardener-Apiserver`. If `10.211.203.83:2379` is really your endpoint for etc

[2019-03-02 14:44] rfranzke opened #779 "Add `Plant` resource to Garden API"
Gardener is able to provision and to manage Kubernetes cluster across multiple cloud providers. It enables end-users to manage their clusters with a single pane of class.
However, some end-users have created clusters by other means, e.g., by other providers or other provisioning tools.
Let's enable them to also register these clusters into the Gardener system, so that they can see them in the Dash

[2019-03-02 14:46] rfranzke commented on #779
/cc @vasu1124

[2019-03-02 15:12] rfranzke commented on #356
Issue description updated according to latest discussions
/cc @vlerenc (please modify if I missed something)

[2019-03-02 19:21] vlerenc commented on #779
Thank you @rfranzke (cc @petersutter @holgerkoser @grolu).

A few (dirty) questions:
* How about having also these annotations?
[code]
* "Dirty plant" question: Would we use `createdBy` instead of `registeredBy` (or even `plantedBy`?) like for `shoots`, it would be easier for tools working with `shoot` and `plant` resources like for instance the Dashboard.
* You use `cloud.type`. Wouldn't `cloud.p

[2019-03-02 19:30] vlerenc commented on #356
Thanks @rfranzke. Just a minor implementation idea on the topic of "distance": a useful indicator of sorts of what is close or distant is latency, right? So maybe we can at first statically maintain an IaaS+region matrix (every IaaS+region to every other) and their corresponding latencies among themselves (on the diagonal, the same IaaS+region has a latency of 0 and will thereby always be preferre

[2019-03-04 06:38] rfranzke commented on #779
I understand the motivation, but I would probably try to go the cleaner way as this is a new API and "just because things look better/similar" we shouldn't mix it semantically up with shoots.

Consequently:

OK, no strong opinion, probably `registeredBy` is better.

`provider` is also OK. I used `type` because it was in the proposal for the new `Shoot` resource: https://github.com/gardener/gardene

[2019-03-04 06:41] rfranzke opened #780 "Pardon shoot conditions does not work properly"
With #776 we have introduced a mechanism to pardon shoot conditions / health checks in case the shoot is created or deleted.
I tried to create a new shoot, however, the `APIServerAvailability`'s and the `ControlPlaneHealthy`'s conditions statuses went directly to `False` instead of `Progressing`.

[2019-03-04 06:44] rfranzke opened #781 "Improve ControlPlaneHealthy shoot health check"
When we are doing a rolling update of the shoot worker nodes we are deleting the cluster-autoscaler to prevent that it interferes with our update process.
However, our health checker does not know about the rolling update yet. It will detect that the cluster-autoscaler is gone and will report an error.

Can we please make the health checker aware of the fact that a rolling update process is ongoin

[2019-03-04 12:14] #780 closed, assigned to adracus

[2019-03-04 13:44] grolu commented on #105
Stakeholders started asking for this feature. What also should be part of this, is reset of CA / Certificates as kubeconfig would continue to work even if password has been reseted.
Moreover, this is not only required in case of accidentally leaking credentials. Stakeholders also pointed out that this feature is important to them, as they want tor reset cluster credentials when users with access l

[2019-03-04 16:14] vlerenc commented on #779
OK, great, then let's only add the two annotations and that's it (let's also keep `cloud.type` if the new `shoot` resource will also call it `type`, of course).

[2019-03-05 06:29] #781 closed, assigned to adracus

[2019-03-05 13:40] i300543 commented on #663
I"m sorry the bash solution will not work for nodejs application.
It also contains a flaw as i discovered, because all users running on the same node will share this limitation, and as such its not really a per container limitation in the end.

As such we are stuck until the annotation is supported by gardener
If there are updates related to the dates and times when this is available, please let u

[2019-03-05 16:06] mvladev commented on #779
What about [cluster-registry](https://github.com/kubernetes/cluster-registry )? The API surface seems very similar.

About our resource - the cloud part can be moved to the status:

[code]

Region / Zone can be discovered automatically when the cluster is added. See how it's done in [federation-v2](https://github.com/kubernetes-sigs/federation-v2/blob/b128bbd0b95a84d89bccdd707987c4f17a21e35c/pkg/c

[2019-03-05 17:04] rfranzke commented on #779
Great suggestions @mvladev, thank you! I will follow up on them and adapt the spec properly.

[2019-03-05 18:39] vasu1124 commented on #779
Thanks @mvladev, I was just about to ask that as well.

In essence we need some compatibility with or expose as well clusterregistry.k8s.io/v1alpha1 (although also in alpha) if we have to incorporate tools that rely on that spec (like federation).

Currently the cluster-registry does not have provisions for tooling endpoints. And there is already some opinion on [ClusterStatus](https://github.com/

[2019-03-05 18:46] vasu1124 commented on #771
@arnabnandy1706 can you take a look at what @afritzler did on GKE with https://github.com/afritzler/virtual-gardener-gke and maybe re-use/adopt to your on-premise situation?

[2019-03-05 19:30] vlerenc commented on #779
Nice, thanks @mvladev!

[2019-03-05 19:50] vlerenc commented on #779
As for the cluster registry, there is barely an implementation (no controller) and it's alpha. What do we know of its adoption? Should we wait and keep the more special `plant` on our end/for now? Once it becomes `beta` we could add a controller that watches `shoots` and `plants` and creates/updates `clusters` for cluster registry compliance. Going now for `clusters` (for the `plants`) means, a.)

[2019-03-06 12:34] zanetworker commented on #779
@vasu1124 There is also the possibility of building the Cluster resource in the future as a parent entity that  reacts on Shoots and Plants. But I guess we can have this differentiation for now till we get to the correct use-case of the "Plant" resource. For cluster-registry, the goal is a quite different isn't it? we can of course say that we would like to bundle some plants that share some prope

[2019-03-07 08:59] Ntr0 opened #799 "gardener-controller-manager cannot read secrets "gardener""
I setup a gardener control plane in kubernetes, following the tutorials. I installed the gardener controlplane into namespace "garden", and added a namespace for the seed cluster "garden-dev". I tried then to deploy a seed and a shoot cluster, but all I get is that the gardener-controller-manager complains that the "gardener" secret cannot be retrieved.

time="2019-03-07T08:52:38Z" level=error msg

[2019-03-07 09:20] rfranzke commented on #799
Hi @Ntr0, this message is just coming from the health check, you can ignore it for now. More interesting is the `status` of the `Shoot` resource you created. Can you please share that?

[2019-03-07 09:49] Ntr0 commented on #799
Thanks for the hint. The error was misleading indeed. So the shoot resource complains that several extension controllers are missing. As the examples contained only aws related information I skipped this. So I need to figure out how to deploy the extension controllers for openstack.

[2019-03-07 09:51] rfranzke commented on #799
OK. Currently, we only have operating system config extensions, you can apply https://github.com/gardener/gardener-extensions/blob/0.4.0/controllers/os-coreos/example/controller-registration.yaml to your garden cluster and try again

[2019-03-07 12:48] Ntr0 commented on #799
Thanks for your help. That solved my issue.

[2019-03-07 12:48] #799 closed, assigned to nobody

[2019-03-08 08:21] #775 closed, assigned to vpnachev

[2019-03-08 08:21] #247 closed, assigned to nobody

[2019-03-11 07:34] vlerenc opened #804 "CoreOS systemd-journal memory issue"
It seems the latest CoreOS Container Linux version we use has a memory issue in systemd-journal. In some cases it's using 6Gi on the node, bringing it under severe memory pressure. We expect a fix by CoreOS soon.

[2019-03-11 08:26] vpnachev commented on #804
Let me drop a link to the PR #796 , where the issue was discussed, too.

[2019-03-11 10:03] usherfu commented on #663
Hi @rfranzke
Do we have a timeline of shoot spec ".spec.kubernetes.kubelet.podMaxPids" since the feature graduated to beta in1.14 ?

Thanks
Tieyan

[2019-03-11 10:15] brunoklein99 commented on #663
I have already implemented. Just haven't written the tests yet. Should be
out soon.

On Mon, Mar 11, 2019, 07:03 usherfu <notifications@github.com> wrote:

[2019-03-11 12:20] usherfu commented on #663
@rfranzke @brunoklein99
Want to avoid any confusion, the implementation from @brunoklein99 is the shoot spec ".spec.kubernetes.kubelet.podMaxPids" as suggsted by @rfranzke , correct?  Thanks for putting the effort!

[2019-03-11 12:35] brunoklein99 commented on #663
That is correct. :)

On Mon, Mar 11, 2019, 09:20 usherfu <notifications@github.com> wrote:

[2019-03-12 08:00] mvladev commented on #730
#809

[2019-03-12 09:44] #715 closed, assigned to nobody

[2019-03-13 01:08] marun commented on #654
Followed the link from https://github.com/kubernetes-sigs/federation-v2/issues/509.  Just to note, a federated type now includes all the fields (template, placement and overrides) needed for propagation, and `kubefed2 federate` can transform any kube type to its federated equivalent.  Please don't hesitate to reach out if you think there are other ways that federation can be improved to meet your

[2019-03-13 09:19] vpnachev commented on #804
This issue should be closed by #811 .

[2019-03-13 09:24] #804 closed, assigned to nobody

[2019-03-13 09:25] rfranzke commented on #771
Can this issue be closed?

[2019-03-13 09:25] #731 closed, assigned to timuthy

[2019-03-13 12:00] usherfu commented on #663
Thanks!:-)

[2019-03-13 13:03] vpnachev opened #816 "Custom Audit Policy for Shoot Cluster is Not Working"
With veriosn `0.18.0` of Gardener GCM cannot render an audit policy provided via ConfigMap.

The is the error message
[code]

When the custom audit policy is not set, e.g.
[code]
is missing for the shoot cluster, the GCM successfully reconciles the cluster.

Currently, it looks like to be related to the chart renderer.

[2019-03-13 15:25] vpnachev commented on #816
It turns around that the audit policy was not valid `yaml` file.
I will improve the error messages when the policy is read from a ConfigMap.
In this way it will be more clear where exactly the reconciliation is failing.

[2019-03-13 20:13] #816 closed, assigned to nobody

[2019-03-19 05:07] PadmaB opened #834 "[Evaluate] Explore the possibility of combining HPA and VPA for efficient scalability of API Server"
# Story

- Explore the possibility of combining both HPA and VPA to efficiently scale API Server

# Proposal
- To be detailed

# Acceptance Criteria
- Based on the outcome of the evaluation adopt the proposal to control plane component API Server and to other relevant components

[2019-03-19 05:51] PadmaB opened #835 "Explore the various flags/options of API Server and its influence on the behavior"

[2019-03-19 07:33] rfranzke commented on #835
Can you elaborate? What is meant here?

[2019-03-20 17:21] fsniper opened #844 "health-monitor script is looking into a buggy log output"
The kubelet-monitor somehow puts one node to a reboot loop. If you remove the node from the cluster, it’s replaced with a healthy node. At the same time another one gets into the same reboot loop. If we disable the kubelet-monitor service and restart the node. It gets healthy.

The reboots are like 15 minutes apart.

Furture investigation showed that this is related to PLEG issues. But the health_

[2019-03-21 06:38] prashanth26 opened #846 "RBAC issues while listing replicaSets for CA"
## Issue

The cluster-autoscaler seems to be running into issues while listing replica-sets.

## Logs

[code]

## Solution

Update the `system:cluster-autoscaler-shoot` clusterRoles to provide the required RBAC privileges to list replica-sets clusters of all types.

[2019-03-21 06:38] prashanth26 commented on #846
/assign @prashanth26

[2019-03-21 07:00] #846 closed, assigned to nobody

[2019-03-22 13:52] fsniper commented on #844
We have determined that, this part of the script is really unreliable.

in our case, we have a fluentd pod.  If the pod is reschecduled and if there is a slow disk and/or a big que of logs on the disk. fluentd starts to process the logs, but does not listen for the health endpoint. If this takes long, the container is deemed unhealthy and killed. So this causes a reboot loop for the container. It

[2019-03-22 21:06] afritzler opened #852 "Unmanaged DNS doesn't respect service IP of shoot api server"
Currently the unmanaged DNS only works if you provide the domain of the cluster in the shoot spec. In order to make #827 work, we need to create nip.io based kube-api urls dynamically - the same way we do it for "real" DNS entries.

[2019-03-25 07:05] timuthy commented on #844
Can you elaborate why this causes `PLEG is not healthy` events?

[2019-03-25 08:22] rfranzke commented on #663
@brunoklein99 mentioned that he is currently busy with other tasks and cannot finish his PR soon.
Based on his work I have created #853 that allows the configuration of the pod pid limit.

[2019-03-25 09:06] usherfu commented on #663
@rfranzke Thanks!  We were just discussing with our devx stakeholder:-).

[2019-03-25 09:33] timuthy commented on #731
We might still need to expose the API dns entry / entries for a Shoot cluster when it comes to extensibility. Some extension controllers need to generate a Kubeconfig for Shoot clusters for which they need to know the API endpoint url.

Additionally, is the `standard` dns entry enough or is an extension controller also supposed to know the `internal` domain?

[code]

What is your opinion?

[2019-03-25 09:48] fsniper commented on #844
Even though everything is a bit fuzzy, our investigation shows, if one of the container is not on the docker, but PLEG thinks it's still available and tries to get status for this container. We get PLEG unhealthy errors.

We think that this instance may be caused by this unhealthy fluentd (which was in fact healthy but not ready for livenessProbes) container kill loop.

[code]

[2019-03-25 11:27] timuthy commented on #844
@rfranzke and I discussed internally and we agree with you.

Can you close #845 and open another PR which removes this check, i.e. basically reverting https://github.com/gardener/gardener/commit/b07bf50c0ac601c5c5c26d852b73bd0fb1f7434f (lines 75-81)

[2019-03-25 12:48] timuthy commented on #731
Discussion internally: We agreed on cluster internal communication for extension controllers. We'll add the DNS information later if we really need it.

[2019-03-25 14:43] grolu opened #862 "Hibernation Schedule has no location"
Currently, hibernation schedules are persisted as UTC. For convenience, the Dashboard converts the UTC timestamps to local timezone. However, if the locale (e.g. Europe/Berlin, America/Los_Angeles) is not persisted along with the UTC time, daylight saving times are not treated correctly. Persisting the timezone offset is not sufficient. E.g. if I create a cluster with the Dashboard that shall hibe

[2019-03-25 15:16] #844 closed, assigned to nobody

[2019-03-26 06:48] timuthy commented on #771
Please reopen if required.

[2019-03-26 06:48] #771 closed, assigned to nobody

[2019-03-26 07:46] #663 closed, assigned to nobody

[2019-03-27 09:25] petersutter opened #867 "Shoot is ignored in case ignore annotation has value 'false'"
Currently, if any value is set for the `shoot.garden.sapcloud.io/ignore` annotation, the shoot is ignored. Even, if it is set to `'false'`.
https://github.com/gardener/gardener/blob/e4fa3d5e6b4cf4a8a6f4cc75956dcb649dc183b1/pkg/controllermanager/controller/shoot/shoot_utils.go#L90-L93

[2019-03-27 12:53] marwinski commented on #631
@rfranzke, @mvladev: it appears that we have a good reason to rework the network policies. Any objections closing this ticket and working on a new - more general one?

[2019-03-27 14:25] marwinski opened #873 "Isolate control planes from each other and isolate components inside the control plane"
This issue supersedes issue #631.

For security reasons we need to isolate control planes from each other as well as to ensure that components of a control plane can only see each other on a need-to-communicate basis. Everything else shall be protected by firewalls.

## Acceptance criteria

* there are fine grained security polices that deny all traffic within a control plane namespace and to othe

[2019-03-27 14:27] marwinski commented on #631
closed for the more general issue #873

[2019-03-27 14:27] #631 closed, assigned to nobody

[2019-03-27 14:30] mvladev commented on #873
I'll create network policies for all components except for Prometheus

[2019-03-28 11:56] #862 closed, assigned to adracus

[2019-03-28 11:59] #722 closed, assigned to schrodit, jia-jerry

[2019-03-28 14:41] Diaphteiros opened #879 "Enable deleting a project without deleting its namespace"
For the garden-setup project, I'd like to create a `garden` project linked to the `garden` namespace, in order to be able to use the `shoot.garden.sapcloud.io/use-as-seed` annotation and have the seed created automatically.

However, since deleting a project will also delete the corresponding namespace, this causes trouble when trying to remove the project again, as the Gardener itself is within t

[2019-03-28 14:57] #867 closed, assigned to nobody

[2019-03-28 14:58] mvladev commented on #873
Here is what I plan to do:

## Goals

- All existing network policies must be purged as they are too broad.
- Lots of components should use labels in their `Pods` to controll common `Ingress`, `Egress` network policies (more on this bellow).
- A new controller watching the Seed cluster's `kubernetes` endpoint must be implemeneted (more on this bellow).

## New policies

Bellow you can find a list

[2019-03-28 15:03] mvladev commented on #873
P.S. I've tested some of those policies, but not everything.
This is just the idea on how organize and structure them.

[2019-03-28 15:09] marwinski commented on #873
Just one comment regarding DNS. Only DNS need to see each other via the TCP port, TCP port should be blocked from all other pods.

[2019-03-28 15:11] mvladev commented on #873
I don't get it. Can you explain it in more detail?

[2019-03-28 15:26] marwinski commented on #873
DNS nodes apparently sync each other using TCP. The open TCP port was of some concern to our pen testers as they can be used to manipulate the DNS configuration.

[2019-03-28 15:50] thomasdraebing commented on #725
Is there any progress on this issue?
If you could give me some pointers on where parameters for the kubelet are added in the Gardener source-code, I would also give it a try.

[2019-03-28 15:59] rfranzke commented on #725
No progress yet.
https://github.com/gardener/gardener/pull/853/files is a perfect example for what needs to be done (new parameter that allows to configure the path, and actual transportation of the configuration to the kubelet).

[2019-03-29 07:42] rfranzke opened #881 "Implement `ControlPlane` extension resource"
Part of #308.

It was not proposed in [GEP-1](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md) but during discussion we came up with the idea to introduce a `ControlPlane` resource.
This resource is reconciled by an external provider specific controller running in the seed. It should create the provider specific control plane components (e.g., cloud-controller-m

[2019-03-29 10:36] mvladev commented on #873
From [rfc1035](https://tools.ietf.org/html/):

or UDP headers).  Longer messages are truncated and the TC bit is set in
the header.

After 512 bytes `TCP` is used.`DNSSEC` responses might be larger than the maximum `UDP` size and for this `TCP` is required.

I don't think that we can safely disable it.

[2019-04-01 06:20] PadmaB opened #886 "Deploy VPA for kube-scheduler"
# Story
As an administrator, I would like to deploy VPA for kube-scheduler and make use of its recommendations to be able to manage larger clusters

# Tasks
- [ ] Deploy VPA for kube-scheduler with the updater set to 'off' mode
- [ ] Create the necessary grafana dashboard showing actual vs recommended metrics
- [ ] Based on the observation, decide on the operation mode of the VPA

# Acceptance Cri

[2019-04-01 07:22] #494 closed, assigned to nobody

[2019-04-01 07:26] rfranzke commented on #494
Azure DNS support is included with [gardener/external-dns-management](https://github.com/gardener/external-dns-management), an external DNS controller.

[2019-04-01 18:26] vpnachev commented on #873
The elasticsearch does not need to be exposed via the nginx ingress service.

Most of the policies are addressing the `shoot--` namespaces, while some pods are living in the `garden` or `kube-system` ns. Shall you add policies for non shoot namespaces ? For example fluent[d|bit] are living in the `garden` ns and they are talking each other. I think that FluentBit is even talking with the kube API

[2019-04-01 19:02] mvladev commented on #873
Gardener-created pods in other namespaces will get their own network policies in a separate PR.

DNS is optional addon. It's not required. Also `elasticsearch` should not use any DNS as it's should not have any Egress traffic.

[2019-04-02 03:38] PadmaB commented on #834
With #890 memory metrics is also included to scale kube-apiserver.
However, this issue #834 is to explore the possibility of using both HPA and VPA for better scalability of components like kube-apiserver

[2019-04-02 05:19] PadmaB opened #892 "Configure kubelet to appropriately handle Node conditions [Disk/Memory Pressure]"
# Improvement
Kubelet to be configured appropriately to handle eviction signals based on the Node Conditions [Memory/Disk Pressure]

# Reference
- https://github.com/gardener/machine-controller-manager/issues/95
- https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#node-conditions

[2019-04-02 05:48] rfranzke commented on #892
Can you be more detailed please? What needs to be configured and how?

[2019-04-02 07:43] PadmaB opened #893 "Deploy VPA for kube-apiserver"
# Story
As an administrator, I would like to deploy VPA for kube-apiserver and make use of its recommendations to be able to manage larger clusters

# Tasks
- [ ] Deploy VPA for kube-apiserver with the updater set to 'off' mode
- [ ] Create the necessary grafana dashboard showing actual vs recommended metrics
- [ ] Based on the observation, decide on the operation mode of the VPA

# Acceptance Cri

[2019-04-02 13:26] rfranzke opened #895 "Default shoot networks should be configured on seed side"
Currently, the default pod/service networks for shoots are hard-coded in the Garden API: https://github.com/gardener/gardener/blob/master/pkg/apis/core/v1alpha1/types_utils.go#L91-L96

This means that every shoot that does not specify a pod/service network will get these values. However, due to the VPN we install between seed and shoot the shoot networks must be disjunct from the pod/service netwo

[2019-04-03 09:09] mvladev commented on #779
Why limit the scope of this resource to only externally created clusters? The same logic can clearly be applied to Gardener-created Shoot clusters.

If we create a `Plant` for every `Shoot` we can offer an API for common mechanics such as access discovery and endpoint discovery.

This will actually make the Gardener dashboard not "gardener-controller-aware" as it is today. For example - when you c

[2019-04-03 10:42] #779 closed, assigned to zanetworker, danielfoehrKn

[2019-04-03 11:32] wyb1 commented on #873
Using the network policies that @mvladev suggested, the network policy for prometheus should look like:
[code]

Additionally, prometheus will need the following labels:
[code]

[2019-04-03 11:38] mvladev commented on #873
I think that this should be used

[code]

We need to explicitly specify which components you want to talk in the `gardener` namespace otherwise you'll give too much permission.

[2019-04-03 16:41] vlerenc commented on #356
Thank you for adding the simplified strategy (lexicographically compare regions). @grolu also contacted me and the Dashboard can most likely change the logic easily from regions-with-seeds to regions-in-cloud-profiles, which may be even easier/faster.

So, looking forward to have the simplified strategy. That will resolve a problem for all the users that either turn away because of a limited seed

[2019-04-09 08:41] pablochacin opened #910 "Local development setup doesn't work with external dns provider"
After introducing the external DNS Provider, the local setup fails to create a shoot.

The Controller reflects the following error message:
[code]

[2019-04-09 21:46] ialidzhikov opened #918 "Evaluate grafana/loki as logging backend"
Currently cluster level logging and monitoring for seed clusters are handled by two different systems - the end user/operator uses Grafana to deal with metrics and Kibana to deal with logs.

### Motivation

- Metrics and logs are part of incident resolving and usually you need both of them. Now there is a context switching from one system to another one. loki promises to minimize this cost of cont

[2019-04-10 04:08] vlerenc commented on #892
Any details @padma?

[2019-04-10 04:09] vlerenc commented on #893
You have opened a couple of new tickets @padma. Shouldn't we rather first plan the steps, e.g. in an epic? Either #16 or a new one (I don't mind if you close the old one).

Specifically about this one, yesterday you showed plans for HVPA which would certainly be interesting to this ticket here, right?

[2019-04-10 04:11] vlerenc commented on #885
That's with George, right? Assigning it to him then. I hope that's OK.

[2019-04-10 04:13] vlerenc commented on #886
See comment at #893. There are even more components like kube and cloud controller manager, maybe other control plane components as well, then everything that needs to be scaled based on load in the cluster itself like kube-proxy and calico. A gathering epic would be helpful, I guess. Either #16 or a new one (I don't mind if you close the old one).

[2019-04-10 04:15] vlerenc commented on #835
Ping... @PadmaB. Any concrete plans or assignees?

[2019-04-10 04:18] vlerenc commented on #834
That's with Gaurav, right? Assigning it to him then. I hope that's OK. Maybe we should later move this ticket to this independent/new component.

[2019-04-10 04:27] vlerenc commented on #754
Can't we close this one as duplicate of the more generic #885?

[2019-04-10 04:32] vlerenc commented on #169
@dkistner WDTY?

[2019-04-10 04:36] vlerenc commented on #557
I hope it's ok, if I assign you @wyb1, because you are currently looking into the subject matter together with @kistner. When everything works out nicely with the VPA, please close this ticket. Thank you in advance.

[2019-04-10 04:37] vlerenc commented on #492
Right, closing this here, because it will be covered by MCM.

[2019-04-10 04:37] #492 closed, assigned to nobody

[2019-04-10 04:38] vlerenc commented on #423
For the API server pods, you mean? Or on the shoot itself?

[2019-04-10 04:39] vlerenc commented on #285
@rfranzke @plkokanov @StenlyTU @PlamenPanev What would you see here as remaining issues?

[2019-04-10 04:40] vlerenc commented on #255
Should we close this one for now @PadmaB @amshuman-kr as the minimal implementation is done and we are working on the proper one now?

[2019-04-10 06:00] rfranzke commented on #423
For the kube-apiserver mainly, however, it's not pretty clear how to do that as we not always have multiple replicas of it (depending on the load). For the other components it does not make too much sense (leader election vs. pod restart).

[2019-04-10 06:05] rfranzke commented on #285
All of this is not covered, but I think we cannot do anything about it.

We sometimes see (during shoot creation) that Terraform forgets to create routes which requires ops effort (very rarely). Same for AWS IAM roles and EC2 key pair (even more unlikely/rarely). Switching completely might make sense in the future, however, IMHO Terraform does still provide a lot of benefits and I don't see an imm

[2019-04-10 06:31] StenlyTU commented on #285
In addition to that:
for GCP clusters right now we are facing the problem with firewalls and routes - I've seen merged PR about that.
for OS there are cases when the cluster can't be deleted because of LB port still part of the subnet. Also during cluster creation, some users are missing the necessary network.

[2019-04-10 08:16] vlerenc commented on #918
FYI: cc @dkistner @wyb1

[2019-04-10 10:10] ialidzhikov commented on #910
@mvladev , @rfranzke , do you have any suggestions here? Do we need to introduce for the local provider a dummy `DNSProvider` of type `unmanaged` that will create the nip.io `DNSEntries` and update their status to Ready?

[2019-04-10 10:47] rfranzke commented on #910
If provider=unmanaged we should not check whether there is a DNS extension, we don't need a dummy provider.

[2019-04-10 10:56] vpnachev commented on #910
I am running locally a fix for that. Just need some time to test it and I will open a PR.

[2019-04-11 16:43] danielfoehrKn commented on #356
As @rfranzke  already pointed out Node, pod & seed, shoot are semantically similar. The kube-scheduler tries to find a Node for a pod, in our case, the gardener scheduler tries to find a seed for shoot.
Hence I am thinking it would be worthy taking a look at the way kubernetes build the scheduler (possibly adapt for the gardener-scheduler).

The kube-scheduler defines [predicates and priority func

[2019-04-12 06:07] #910 closed, assigned to nobody

[2019-04-12 06:52] zanetworker commented on #356
Actually, I like the idea, it would be even nice to add weights to priority functions, to add a flavour of a favorable seed to our scheduling. For example, assuming three seeds have already became eligible for scoring election, we can do the following:

[code]
The seed with the highest weighted score, gets the shoot.

[2019-04-12 07:09] rfranzke commented on #356
Thanks @danielfoehrKn, sounds good. The overall concept (building the gardener-scheduler based on the principles in the kube-scheduler) definitely makes sense as we probably can benefit a lot from the experience/knowledge built in to the kube-scheduler. However, that's a lot that needs to be done, so let's try to to it in small steps. The kube-scheduler was also build gradually, so let's first kee

[2019-04-13 15:50] vlerenc commented on #356
If I may, I'd like to add a proposal into the mix of priority functions: seed anti-affinity (like node or hypervisor anti-affinity). People will start to have multiple clusters, maybe because of load considerations, maybe for HA reasons. If they are in the same region, it makes sense to have them spread across the seeds. Thereby the clusters are also not affected at the same time when the seed is

[2019-04-17 04:24] vlerenc opened #938 "Silence Monitoring Alerts for Integration/Conformance/E2E Tests"
What can we do to silence monitoring alerts for integration/conformance/e2e tests?

cc: @wyb1 @dkistner @dguendisch @schrodit @OlegLoewen

[2019-04-17 04:28] vlerenc opened #939 "Make Selective Monitoring Information (e.g. API Server, Kube Controller Manager, Nodes) Available to End Users"
cc @dkistner

[2019-04-24 08:16] OlegLoewen commented on #938
Short update:
monitoring/alerting team will introduce a new label handling. If a cluster contains the corresponding label, alerting will be ignored. Output qualification team will ingest this label into all test clusters.

[2019-04-24 08:19] wyb1 commented on #938
We plan on introducing a new annotation for shoot clusters `garden.sapcloud.io/ignore-alerts`. If this annotation is `true` then the central alertmanager will not send any alerts for this shoot and the shoot specific alertmanager will not be deployed. We will also add an external label for the prometheus config `ignoreAlerts`. This will only be true if the annotation `garden.sapcloud.io/ignore-ale

[2019-04-24 11:19] vlerenc commented on #938
Thank you!

[2019-04-24 11:38] vlerenc commented on #251
More people complain about out-of-maintenance-time-window maintenance. Some want to implement HA scenarios where they have multiple shoot clusters with disjunct maintenance time windows, but if the update happens already with the reconciliation, they can't protect against (temporary) parallel updates (failures) as we reconcile how we see fit, ignoring any maintenance time window.

[2019-04-24 12:51] muvaf commented on #105
We need this as well. The use case is more or less similar with @grolu 's comments.

[2019-04-25 14:44] #938 closed, assigned to wyb1

[2019-04-26 14:36] wyb1 opened #963 "CCM on Alicloud does not expose metrics via HTTPS for Kubernetes version 1.13+"
Prometheus is firing the false positive alert `CloudControllerManagerDown` for all Alicloud shoot clusters with kubernetes version 1.13+. This is because the CCM on Alicloud does not support exposing its metrics via HTTPS. Prometheus tries scraping via HTTPS and gets an HTTP response causing an error. Prometheus then thinks that the CCM is down because it got no metrics and an error.

[2019-04-26 15:13] jia-jerry commented on #963
Thank you for supporting Alicloud clusters. This is because ccm is implemented by Alicloud https://github.com/kubernetes/cloud-provider-alibaba-cloud. It is based on earlier version of Kube lib. Can we change prometheus scape settings?

[2019-04-29 03:10] vlerenc commented on #557
I guess, we can close this one now that we have no instabilities anymore and started to use VPA anyway.

[2019-04-29 03:10] #557 closed, assigned to wyb1

[2019-04-29 07:21] wyb1 commented on #963
We could change the scrape settings in Prometheus but that would be an infrastructure specific change. What do you think @rfranzke?

[2019-04-29 08:12] rfranzke commented on #963
I guess that's fine ATM. We will anyway need an extensibility concept for monitoring/logging as well.

[2019-04-29 19:33] alexellis opened #2146 "DigitalOcean Kubernetes as provider?"
**What would you like to be added**:

DigitalOcean Kubernetes as provider

**Why is this needed**:

I would like to try out gardener - it looks like a really useful app for testing new software on Kubernetes and for managing clusters. I saw a demo at GOTO Chicago but noticed that there was no support for DO at the moment.

My questions would be:

* Is there a flexible plugin model where this could

[2019-04-30 06:21] rfranzke commented on #2146
Hi @alexellis, thanks for opening the issue. We are currently working to the flexible plugin model you mentioned (please see https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md, work started and progressed in https://github.com/gardener/gardener-extensions). It will take some more time until we completely finish this. However, in the end this should allow you to wri