[2021-08-18 15:43] vpnachev commented on #4527
cc @petersutter

[2021-08-19 07:01] #4305 closed, assigned to BeckerMax

[2021-08-19 10:54] lotharbach commented on #4309
I believe I'm hitting what is basically the same problem with a ManagedSeed/Shoot that is using extension-networking-cilium, and I guess anything with cilium would have this problem. Do you agree this is not specific to GKE and could rename this issue to make it clear that cilium/eBPF and API SNI currently can't work together?

[2021-08-19 11:12] rfranzke commented on #4395
@jia-jerry @EmoinLanyu Could you help with this issue?

[2021-08-19 11:21] vpnachev commented on #4309
/assign @ScheererJ @DockToFuture @mvladev

[2021-08-19 12:21] christianhuening commented on #4309
@gesslein yes, i agree. I had found that later but forgot to update this ticket

[2021-08-20 18:51] vlvasilev opened #4540 "BackupEntry reconcilition blocks for 24 hours or less when the gardenlet is restarted."
**How to categorize this issue?**

/area backup
/kind bug
/priority 3

**What happened**:
During normal Shoot reconciliation flow the `BackupEntry` in the Gardener cluster will be annotated with `gardener.cloud/operation=reconcile`. This will change the observed generation and the BE will be caught by the  [`backupEntryUpdate()`](https://github.com/gardener/gardener/blob/077b71bddce44942018640f0ba

[2021-08-21 07:00] jia-jerry commented on #4395
For Alicloud,  ssh-keypairs is immutable.

The currently logic is when  a maintenance happens, a new ssh-key secret will be created and the public key will feed into the terraform(AliCloud) configuration. As a result, terraform always tries to delete the old ssh-key and create a new one with the same name. Always, the old ssh keys is still used by node and this is the `reason` why shoot fails in s

[2021-08-21 08:02] jia-jerry commented on #4395
The possible workaround:
For each infra reconciliation in AliCloud extension, it always detach key from all related VM. Then old ssh key could be deleted.

[2021-08-23 05:58] rfranzke commented on #4540
Thanks for the well-written description! Good finding. IMO, the `operation` annotation should be removed right after increasing the generation in the `registry` package, similar to how it's done for `Shoot` resources (https://github.com/gardener/gardener/blob/077b71bddce44942018640f0bae69622a9103e66/pkg/registry/core/shoot/strategy.go#L92-L107). We should also check (and potentially adapt) similar

[2021-08-23 15:29] ialidzhikov commented on #1649
End-user related labels/annotations (API related ones) are adapted and cleaned up since longtime.

Wrt to the internal ones - I think the leftover items to tackle are:
- [x] controlplane NetworkPolicies still mainly use the deprecated `garden.sapcloud.io/role` label key in the selectors -> needs to be adapted to use `gardener.cloud/role` where it is possible and safe
  - https://github.com/gardene

[2021-08-23 15:36] stoyanr commented on #4540
@rfranzke I would also like to do it as you propose, but I am afraid this will interfere with the current handling, as the operation annotation is also used to determine the current operation type (reconcile or restore) in the reconciler itself, see https://github.com/gardener/gardener/blob/077b71bddce44942018640f0bae69622a9103e66/pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go#L10

[2021-08-24 06:13] rfranzke commented on #4540
Thanks for looking into it, very interesting. I'm wondering why the reconcile/migrate/restore behaviour for `BackupEntry`s differs from `Shoot`s. Is there a reason to not implement it the exact same way? Why are `BackupEntry`s "so special" in those regards?

[2021-08-24 07:16] stoyanr commented on #4540
@rfranzke It's rather the Shoot that is special. It basically doesn't need the operation annotation value, because:
* It's possible to determine if the shoot should be migrated (and therefore set the operation type in `status` to `migrate`) by looking at the seed name in spec vs. status.
* At the end of the migration flow, the operation type in `status` can be simply be set to `restore`.

For any

[2021-08-25 06:00] timebertt commented on #4453
/assign @mganter

As mentioned via Slack, it's probably a good idea to open a [GEP](https://github.com/gardener/gardener/blob/master/docs/proposals/README.md) for this to have a concrete proposal and main reviewer(s) for this topic, so we can push the topic forward.

/cc @DockToFuture @ScheererJ

[2021-08-25 08:12] #4272 closed, assigned to nobody

[2021-08-25 14:40] danielfoehrKn opened #4556 "Cloud config downloader script does not catch cloud config reload error"
**How to categorize this issue?**

/area quality
/kind bug
/priority 3

**What happened**:

Observed an outdated cloud config

![image](https://user-images.githubusercontent.com/33809186/130809705-53f764bc-6a1d-4724-b392-83e09af4ffec.png)

The kubelet binary version was the old 1.18.16.

However, the checksum on the Node was already updated indicating that the cloud config was successfully applied

[2021-08-26 08:04] #4460 closed, assigned to dimityrmirchev

[2021-08-26 11:25] timebertt opened #4558 "make test-integration fails with bash version 3"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:

`make test-integration` fails with the following error
[code]

if the developer has an older version of bash installed on their machine, e.g.
[code]

**What you expected to happen**:

`make test-integration` should work for older bash versions as well as newer bash version, e.g.:
[code]

[2021-08-26 11:25] timebertt commented on #4558
/cc @vanjiii
Thanks for reporting!

[2021-08-26 11:33] timebertt commented on #4558
ref https://github.com/gardener/gardener/issues/4519

[2021-08-26 11:38] AndreBorrmann commented on #4453
Hi there,
we at SAP are also evaluating what changes are required to provide full dual-stack support. We already identified several adjustments that will be required and verified this with a PoC targeting one HyperScaler at the moment.

Feel free to get in touch and collaborate if you'd like to.

[2021-08-26 13:11] shahar-h opened #4559 "Allow configuration of --service-account-extend-token-expiration or disable it"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
Currently `--service-account-extend-token-expiration` is enabled by default for shoot kube-apiserver, which means [bound service account tokens](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume) would be extende

[2021-08-26 14:53] vanjiii opened #4561 "Introduce a validating logic for Container Runtime type"
**How to categorize this issue?**

/area TODO
/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
To be introduce a validating logic in https://github.com/gardener/gardener/tree/master/pkg/apis/extensions/validation for the `extensions.ContainerRuntime`. For reference explore the existing ones.

Also it should be properly register in the existing validating w

[2021-08-26 19:15] vpnachev commented on #4556
This duplicated mac is something which I was constantly observing since several months and it was always failing because of the calico interfaces. This was the main driver os-ubuntu extension to be migrated from cloud-init to bash scripts, therefore I would like to ask you to also check the os extension running in this landscape, what is the version of os-ubuntu?

Ref: https://github.com/gardener/

[2021-08-27 06:39] danielfoehrKn commented on #4556
It was the version v1.10.0 of the ubuntu extensions.
Now with v1.13.0 it seems to. have been resolved.

[2021-08-27 07:16] stoyanr commented on #4294
/cc @rfranzke As discussed, instead of updating the regexes in g/g as suggested above, this should be addressed by returning already categorized errors by the dnsrecord `Actuator` via `gardencorev1beta1helper.NewErrorWithCodes`.

[2021-08-27 10:14] timebertt opened #4567 "Support profiling of gardener components"
**How to categorize this issue?**

/area dev-productivity ops-productivity
/kind enhancement

**What would you like to be added**:

Kubernetes components allow to enable profiling HTTP handlers (enabled by default).
As we reuse the API server library (`k8s.io/apiserver`) for gardener-apiserver, it already has profiling handlers (also enabled by default), see:
[code]

We should support enabling sim

[2021-08-27 10:16] timebertt commented on #4567
/cc @BeckerMax
/assign

[2021-08-27 12:24] timebertt opened #4570 "make check-generate is flaky"
**How to categorize this issue?**

/area dev-productivity
/kind flake

**What happened**:

From time to time, `make check-generate` fails in pipeline jobs with errors like these:

https://concourse.ci-2.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-update-job/builds/521#L6110250c:518
[code]

https://concourse.ci-2.gardener.cloud/teams/gardener/pipelines/gardener-master/j

[2021-08-27 12:33] timebertt commented on #3484
We should also make use of this for gardenlets deployed by `ManagedSeed`s.
Potentially, we can even use it for gardenlets deployed by the chart/landscaper component.

[2021-08-28 22:24] pjdurai-altiscale opened #4573 "Two clusters not waking up with DNS errors."
**How to categorize this issue?**
Clusters not waking up. We are in upgrade downtime.

/area control-plane
/kind bug
/priority 1

**What happened**:
We are running cluster upgrades. Two of the hibernating clusters are not waking up.
**What you expected to happen**:
CLusters to wake up correctly.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-08-28 22:48] #4573 closed, assigned to nobody

[2021-08-30 08:59] mganter commented on #4453
I'm pleased to hear that.

We have already a working PoC in place. But we adapted only the Openstack infrastructure provider.

@AndreBorrmann I'd like to work things out with you. Maybe we can reach out in kubernetes slack?
My username is `Manuel Ganter`.

[2021-08-30 11:57] ialidzhikov opened #4575 "Graduate the `DisallowKubeconfigRotationForShootInDeletion` feature gate"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
The feature gate was introduced as part of https://github.com/gardener/gardener/pull/4379 for mainly compatibility reasons and to give more control to Gardener operators.
We can now proceed with the enablement and promotion of this feature gate as it more or less did the trick

[2021-08-30 12:58] ialidzhikov opened #4576 "Consider using `metav1.{SetMetaDataLabel,SetMetaDataAnnotation}` instead of `kutil.{SetMetaDataLabel,SetMetaDataAnnotation}`"
/kind cleanup
/priority 3

**What would you like to be added**:
Some time ago I added `SetMetaDataLabel` to the `k8s.io/apimachinery/pkg/apis/meta/v1` pkg - https://github.com/kubernetes/kubernetes/pull/93027.

Currently we have `kutil.{SetMetaDataLabel,SetMetaDataAnnotation}` that I think these funcs should be equivalent to `metav1.{SetMetaDataLabel,SetMetaDataAnnotation}`.
We can adapt usages of

[2021-08-30 13:03] ialidzhikov opened #4807 "[GRM] Do not yield `--help` output on error"
**How to categorize this issue?**
/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:

[code]

[2021-08-30 13:26] ialidzhikov opened #4577 "Consider making terraformer v2 the default in the extension library"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Currently provider extensions have explicitly enable v2 with:

https://github.com/gardener/gardener-extension-provider-aws/blob/9aa8410a7f7141c343453728669be62d1c98e435/pkg/controller/infrastructure/actuator.go#L56

As v2 is already the supported version, we can consider making it

[2021-08-30 13:29] timebertt commented on #4807
This should be sufficient: https://github.com/gardener/terraformer/blob/3cdb7d585d81a7b9cad9eb454a413cffb9a1897e/cmd/terraformer/app/terraformer.go#L100-L101

[2021-08-30 13:35] timebertt commented on #4576
I also considered removing the `kutil` funcs in favor of their `metav1` counterparts.
Howerver, the `kutil` variants can also be used in generic functions that just have a `client.Object` for example. `metav1` funcs require passing a `*metav1.ObjectMeta`.
So I guess, we can replace many but not all usages in our codebase.

[2021-08-30 13:38] ialidzhikov opened #4578 "Follow-up on removal of deprecated IGW AWS annotations"
**How to categorize this issue?**

/area quality
/kind cleanup
/priority 3

**What would you like to be added**:
https://github.com/gardener/gardener/pull/3185 deprecates the AWS specific annotations on the `istio-ingressgateway` Service in favour of the `.spec.settings.loadBalancerServices.annotations` field in the Seed spec.

**Why is this needed**:
To do not have AWS specific annotations on the

[2021-08-30 13:38] ialidzhikov commented on #4578
/cc @mvladev

[2021-08-30 14:10] ialidzhikov opened #4579 "Log feature gates on gardener-apiserver startup"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Currently gardenlet, gardener-controller-manager and gardener-scheduler log the feature gates on startup:

https://github.com/gardener/gardener/blob/d9d79a4bd84b5e5679369817c7031358e202f7dd/cmd/gardenlet/app/gardenlet.go#L241

https://github.com/gardener/gardener/blob/d9d79a4bd84b

[2021-08-30 15:12] ialidzhikov opened #4581 "Consider removing/reworking SeedNetworkPoliciesTest integration test"
**How to categorize this issue?**
/area testing
/kind bug
/priority 3

**What happened**:
Since longtime we have the following issues opened:
- https://github.com/gardener/gardener-extension-provider-aws/issues/20
- https://github.com/gardener/gardener-extension-provider-gcp/issues/20
- https://github.com/gardener/gardener-extension-provider-azure/issues/23
- https://github.com/gardener/gardener-e

[2021-08-30 15:12] ialidzhikov commented on #4581
/cc @mvladev

[2021-08-31 06:20] #4294 closed, assigned to nobody

[2021-08-31 07:19] #4540 closed, assigned to nobody

[2021-08-31 07:45] rfranzke commented on #4561
@vanjiii Are you working on this one?

[2021-08-31 07:46] rfranzke commented on #4527
/assign @petersutter

[2021-08-31 07:47] vanjiii commented on #4561
Currently no.

[2021-08-31 07:48] rfranzke commented on #4417
Is this fixed with #4447?

[2021-08-31 07:58] rfranzke commented on #3118
/close as the issue seems no longer relevant, kindly reopen if necessary

[2021-08-31 07:58] #3118 closed, assigned to nobody

[2021-08-31 08:02] rfranzke commented on #4043
What's the status here @ialidzhikov? Is it still relevant?

[2021-08-31 08:04] rfranzke commented on #3769
We have a VPA for it, see https://github.com/gardener/gardener/blob/master/charts/seed-bootstrap/charts/vpa/charts/runtime/templates/vpa-updater.yaml.
As it's not clear how to continue here and as it doesn't seem to be too relevant as of today, let's
/close
for now until it becomes relevant again.

[2021-08-31 08:04] #3769 closed, assigned to nobody

[2021-09-01 04:55] christianhuening opened #4587 "Configuring Backups in a ManagedSeed with Gardenlet does not work"
**How to categorize this issue?**

/area backup
/area control-plane-migration
/kind bug
/priority 1

**What happened**:
I am deploying `ManagedSeeds` with the `GardenletConfig` in it. I also configure the `spec.backup` part of it. However, the resulting `Seed` does not get the required `Backup` entries created. As a consequence, the `BackupBucket` is not created and no `Shoot` is backed up.

**Wha

[2021-09-01 06:17] rfranzke commented on #4587
cc @stoyanr @timebertt

[2021-09-01 14:21] christianhuening commented on #4587
A little addition here:
the initial `ManagedSeed` manifest is how it is rendered. I just saw the the "backup" block is not actually written to the etcd apparently. If I get the YAML from the cluster, the backup part is not actually present.

In other words, this bit is not written to the resulting ManagedSeed resource in the cluster: https://github.com/gardener/gardener/blob/master/example/50-seed

[2021-09-01 14:47] christianhuening commented on #4587
Ok, I am sorry. I totally did not see that the `.seedConfig` requires a `.spec` sub field. With that added and everything shifted right, it works just fine. Weird though, that I did not receive any kind of validation error.

[2021-09-01 14:47] #4587 closed, assigned to nobody

[2021-09-01 15:03] #1648 closed, assigned to nobody

[2021-09-02 08:02] shahar-h commented on #4559
Any update? I noticed that kubelet rotates bound token once in a hour, but the old token is still valid for a year.
The only way to revoke it is to delete the pod.

[2021-09-02 08:08] rfranzke commented on #4559
/assign

I am currently working on a refactoring of how the kube-apiserver deployment (PR hopefully to be open today or tomorrow). After this one is approved and merged, I can take a look at this request, it shouldn't be too difficult.

[2021-09-02 12:05] ialidzhikov opened #4599 "Switching kube-proxy mode from IPVS to IPTables does not work"
**How to categorize this issue?**

/area networking
/kind bug
/priority 3

**What happened**:

Switching kube-proxy mode from IPVS to IPTables fails.

**What you expected to happen**:
Switching kube-proxy mode from IPVS to IPTables to work.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Shoot cluster with kube-proxy mode `IPVS`

[code]

2. Change the kube-proxy mod

[2021-09-02 13:38] wyb1 opened #4600 "Scrape additional coredns metrics"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority 3

**What would you like to be added**:
The shoot prometheus should keep the CoreDNS metric `coredns_kubernetes_dns_programming_duration_seconds` and we should provide a dashboard for this metric.

**Why is this needed**:
Debugging CoreDNS issues.

[2021-09-02 13:38] wyb1 commented on #4600
/assign

[2021-09-03 07:27] timebertt opened #4605 "controller-manager does not respect config.server.https"
**How to categorize this issue?**

/kind bug

**What happened**:

When configuring `ControllerManagerConfiguration.server.https` (https://github.com/gardener/gardener/blob/dc4eb4be0dab379f58636ad2ac11905609ff4e6b/pkg/controllermanager/apis/config/v1alpha1/types.go#L325-L326), it is simply ignored by gardener-controller-manager

https://github.com/gardener/gardener/blob/dc4eb4be0dab379f58636ad2ac11

[2021-09-03 08:39] timebertt commented on #4567
This is not done in https://github.com/gardener/gardener/pull/4568 as it's a rather minor component (as of now) and it doesn't have a component config like the other components.
Thus, we first might want to come up with a good way to make it configurable (maybe via the gardenlet config?).

[2021-09-03 08:43] mandelsoft opened #4606 "Support End-User Configuration for set of encrypted resources"
**How to categorize this issue?**

  /area control-plane
/kind enhancement
/priority 2

**What would you like to be added**:

Enable end users to configure additional resources for etcd encryption.

**Why is this needed**:

So far only secrets are encrypted in shoot clusters. Because there may be other custom resources in shoot clusters
that may contain sensitive data, it is required to be able to

[2021-09-06 10:27] rfranzke commented on #4271
/assign @timuthy

[2021-09-06 10:34] rfranzke commented on #3484
/close for now as the relevant PRs were merged. @timebertt kindly open a dedicated issue if you think there is a specific place that requires adaptation.

[2021-09-06 10:34] #3484 closed, assigned to rfranzke

[2021-09-06 13:24] timebertt opened #4609 "gardenlet leaks memory"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:

In our larger landscapes with 100-260 shoots per Seed we can observe a memory usage pattern of the gardenlet similar to this one:

<img width="2051" alt="Screen Shot 2021-09-06 at 15 12 11" src="https://user-images.githubusercontent.com/46341950/132223233-2b4fbaf2-6d1e-4cfc-a461-9b2ae06c3c27.png">

The green graph s

[2021-09-06 13:39] timebertt commented on #4609
@BeckerMax and I were able to find a goroutine leak (which implies a memory leak as well), which is triggered on every `CheckTunnelConnection` operation.
As this is executed by the shoot care controller once per health check operation, we were able to reproduce and provoke it by setting `GardenletConfiguration.controllers.shootCare.syncPeriod=10s` in our local setup.
We were able to verify the lea

[2021-09-06 13:51] timebertt commented on #4609
This test demonstrates the leak described above: https://github.com/timebertt/gardener/blob/a51b9eabc05b5659fb6dbd6ac078e8ef72fe0f14/pkg/client/kubernetes/leak/leak_test.go

[code]

[2021-09-07 06:23] timebertt opened #4611 "gardenlet metrics handler is broken"
**How to categorize this issue?**

/area monitoring
/kind bug

**What happened**:

gardenlet metrics handler is broken:

[code]

**What you expected to happen**:

gardenlet metrics should expose metrics.

**Environment**:

- Gardener version: b04095a46b9ec015657710a094482910bc57e420

[2021-09-07 07:59] #4293 closed, assigned to vanjiii

[2021-09-07 08:05] timebertt opened #4612 "Persist kubernetes events in observability stack"
**How to categorize this issue?**

/area monitoring logging
/kind enhancement

**What would you like to be added**:

We should persist kubernetes events (for example for seed components and shoot control plane and system components) and make them available alongside logs and metrics in our observability stack(s)

**Why is this needed**:

Kubernetes events are supposed to be short-lived and are col

[2021-09-07 12:51] vpnachev commented on #4417
AFAIK, from the resources listed in https://github.com/gardener/gardener/blob/master/docs/concepts/controller-manager.md#stale-projects-reconciler, only shoot resources are actively watched, so I would say this issue is partially implemented.

[2021-09-07 13:05] #4271 closed, assigned to timuthy

[2021-09-07 13:16] timebertt commented on #4609
I quickly checked, whether there is a linter for usage of unbuffered channels, but I couldn't find one.
However, we should at least check, if we have other critical unbuffered channels in our codebase.

[2021-09-07 13:30] timuthy opened #4616 "Use CertificateSigningRequests version certificates.k8s.io/v1"
**How to categorize this issue?**

/area open-source
/topology garden seed
/kind enhancement
/priority 3

**What would you like to be added / Why is this needed**:
Today, several Gardener components only use the `certificates.k8s.io/v1beta1` version for `CertificateSigningRequests` which is removed in Kubernetes `v1.22` ([ref](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#certi

[2021-09-07 14:39] timuthy commented on #4363
Follow up issue to support 1.22 Garden clusters #4616

[2021-09-07 15:04] timuthy opened #4617 "Add support for KubeSchedulerConfiguration kubescheduler.config.k8s.io/v1beta2"
**How to categorize this issue?**

/area open-source
/kind enhancement
/priority 3

**What would you like to be added**:
Kubernetes `v1.22` adds `KubeSchedulerConfiguration` in version `kubescheduler.config.k8s.io/v1beta2`. However, we cannot use this config version for the `SeedKubeScheduler` out of the box because both `NodeResourcesLeastAllocated` ([disabled in config](https://github.com/garden

[2021-09-07 15:04] timuthy commented on #4617
@mvladev do you have the capacity to take a look?

[2021-09-08 06:23] #4395 closed, assigned to jia-jerry

[2021-09-08 08:56] timebertt commented on #4567
/unassign
for now. #4568 was merged, which concludes all planned steps as of now.

[2021-09-08 10:38] #4611 closed, assigned to wyb1

[2021-09-08 12:49] vpnachev opened #4625 "Gardenlet is missing read permissions for events in the seed cluster"
**How to categorize this issue?**

/area ops-productivity performance quality
/kind bug
/priority 3

**What happened**:
Gardenlet was failing for quite some time in newly created seed cluster with error like
[code]

While it has no controller actively watching `events`, during the bootstrapping of the seed, if the managed ingress is not disabled, a LB will be created and waited its public IP to be

[2021-09-08 13:07] timebertt commented on #4609
I scanned our codebase for the use of unbuffered channels, that could cause a memory leak similar to https://github.com/gardener/gardener/issues/4609#issuecomment-913658722.

We have actually a lot unbuffered channels. However, most of them are not problematic:

- some are never written to, e.g. `stopCh` like [this one](https://github.com/gardener/gardener/blob/975035977a4f776dfe0353c5752d2cfe85c7

[2021-09-08 17:05] timuthy commented on #4363
All relevant PRs for supporting Kubernetes 1.22 have been merged.
/close

[2021-09-09 07:32] #4556 closed, assigned to nobody

[2021-09-09 07:33] #4600 closed, assigned to wyb1

[2021-09-09 08:16] vlerenc commented on #4363
Great! 🎉

[2021-09-09 11:43] BeckerMax opened #4630 "Rotation of cloudprovider secret requires a Shoot reconcilation"
**How to categorize this issue?**
/area control-plane
/area documentation
/kind discussion

**Why is this needed**:

Repeatedly Shoot owners are surprised by the behaviour that after they rotate a cloudprovider secret in the garden cluster it is not instantly synced to the Seed cluster. If they deactivate the old cloudprovider secret in the infrastructure **before** reconciling the Shoot this lead

[2021-09-09 11:57] BeckerMax commented on #4630
This could be implemented by a webhook watching for secrets. We could make this more efficient by first introducing a label for all cloudprovider secrets. In case a cloudprovider secret changes all secretbindings referencing that secret need to be listed. All shoots using that Secretbinding get labeled with the reconcile annotation.

All in all, in a former discussion with @rfranzke and @timuthy w

[2021-09-10 08:40] timebertt commented on #4625
Additionally, the gardenlet should be configured not to watch events on the seed cluster at all.

[2021-09-10 08:58] #4513 closed, assigned to timebertt

[2021-09-10 09:00] timuthy commented on #4625
+1

IIRC, this is also necessary because otherwise the following error occurs:
[code]

[2021-09-10 12:04] #4345 closed, assigned to fynluk

[2021-09-10 13:46] schrodit opened #4648 "gardenlet is not waiting for Extension resources to be deleted"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:

I observed some clusters that cannot be deleted due to a redeployed shoot-dns-extension.
All other resources in the namespace are already deleted (no pods, no deployments, no services).
[code]

According to the gardenlet logs, all clusters had the following flow:
- create shoot
- some error occurred, so

[2021-09-10 13:54] rfranzke commented on #4648
cc @MartinWeindel @mandelsoft

[2021-09-10 14:03] timuthy commented on #4581
/assign

[2021-09-10 14:06] timebertt commented on #4609
/unassign @BeckerMax @timebertt
for now, as all currently planned steps have been completed.
We will have to wait for the fixes to be released and observe their behavior on our internal landscapes.

[2021-09-13 02:01] hzliangbin commented on #4504
sorry, just too busy recently, anyone who interested can take it.

[2021-09-13 06:10] timebertt commented on #4630
Can this be closed with #4631?

[2021-09-13 06:21] timebertt opened #4646 "Use immutable ConfigMaps/Secrets for gardenlet"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:

The gardenlet is deployed with multiple ConfigMaps and Secrets by the gardenlet chart, the `ManagedSeed` controller and the gardenlet landscaper component: config, image vector overwrite(s), cert and kubeconfig secrets.

We should set `.immutable=true` for those ConfigMaps and Secrets just

[2021-09-13 06:22] timebertt commented on #4646
/cc @rfranzke

[2021-09-13 07:19] timuthy commented on #4648
@rfranzke after the latest discussions, this more sounds like an issue in the Gardenlet flow.

[2021-09-13 07:31] timebertt commented on #4648
This predicate func races with the cache: https://github.com/gardener/gardener/blob/6806495376b1de8b760b10cf5bc5cf9445f30b06/pkg/extensions/customresources.go#L216
It should be improved/fixed as part of https://github.com/gardener/gardener/issues/2822

[2021-09-13 07:32] timebertt commented on #4648
However, this only explains, why gardenlet was not waiting for the extension to be deleted, but not why the extension itself could not be deleted successfully.

[2021-09-13 07:41] timebertt commented on #4648
@schrodit just explained, that the extension resource deletion failed, because the API server was already gone and the managed resources created by the extension couldn't be cleaned up because of this.
So, this issue should be fixed once the race condition mentioned above is resolved.

[2021-09-13 07:52] wyb1 opened #4649 "Automatically restart calico if vpn-shoot fails to start"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority 3

**What would you like to be added**:

A way to automatically restart calico if system components like the `vpn-shoot` are failing to come up due to `FailedCreatePodSandBox` errors.

**Why is this needed**:

Often times only calico needs to be restarted and then the system components can start again.

[2021-09-13 08:07] vpnachev commented on #4649
I guess this issue should be moved to https://github.com/gardener/gardener-extension-networking-calico.
It also looks like a duplicate of https://github.com/gardener/gardener-extension-networking-calico/issues/70.

[2021-09-13 08:18] timuthy commented on #4649
/close
As @vpnachev mentioned, that issue should be tackled by the Calico extension.

[2021-09-13 08:18] #4649 closed, assigned to nobody

[2021-09-13 08:20] #4581 closed, assigned to timuthy

[2021-09-13 08:27] wozniakjan opened #4650 "API describing current offerings per region/availability zone for vendors"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 4

**What would you like to be added**:
API describing current offerings per region/availability zone for vendors.

For example similar to this `aws` cli command:
[code]

**Why is this needed**:
Cloud vendors update and enhance their offerings and it would be great to be able to consume the information directly from gar

[2021-09-13 09:04] vpnachev commented on #4650
Hi @wozniakjan

There is the resource CloudProfile in the Gardener API, [ref](https://gardener.cloud/docs/references/core/#core.gardener.cloud/v1beta1.CloudProfile). You can see an example here https://github.com/gardener/gardener/blob/master/example/30-cloudprofile. Does this work for you? If yes, I would like to close this issue, if not - please provide details what is missing and why it should

[2021-09-13 09:07] wozniakjan commented on #4650
hi @vpnachev, this looks exactly like what we need at kyma, thank you for educating me! :)

[2021-09-13 09:10] vpnachev commented on #4650
Nice! If you are looking for AWS specific examples, you can check out https://github.com/gardener/gardener-extension-provider-aws/blob/master/docs/usage-as-operator.md

[2021-09-13 09:25] timuthy commented on #4617
/cc @ialidzhikov @vpnachev

[2021-09-13 09:44] wozniakjan commented on #4650
on closer look, I think there is one detail that we at kyma might be still missing, and that is the mapping between availability zones and machine types. If I'm reading the `CloudProfile` spec correctly, it contains information about all available regions, zones and machine types aggregated. But some zone might be missing certain machine types. It seems to allow me to see there are regions `r1`, `

[2021-09-13 10:07] rfranzke commented on #4650
@wozniakjan There is https://github.com/gardener/gardener/blob/a349f713c6a96b51beddd5c77f805ebfd58ad3d2/example/30-cloudprofile.yaml#L64-L65 which makes it possible to specify such constraints.

[2021-09-13 10:33] wozniakjan commented on #4650
silly me, this is exactly it

[2021-09-13 10:33] #4650 closed, assigned to nobody

[2021-09-13 15:47] mkska commented on #4424
Hi @vpnachev,

Problem still exists with containerd CRI.
Containerd is storing the data/state under `/var/lib/containerd`.

Even if the API reference/documentation mention that the `kubeletDataVolumeName` the kubelet folder storage device is specified - the whole /var/lib is moved to the other storage device.

Mounting path should be `/var/lib/kubelet` instead of `/var/lib`:
https://github.com/gar

[2021-09-14 05:55] timebertt opened #4654 "ManagedSeed sets `debugging.*=false`"
**How to categorize this issue?**

/area dev-productivity ops-productivity
/kind bug

**What happened**:

When creating a simple `ManagedSeed` object like this
[code]

the newly added `debugging` fields (see https://github.com/gardener/gardener/issues/4567, https://github.com/gardener/gardener/pull/4568) in the gardenlet config will be set to `false,false`:
[code]

Because of this, the gardenlet t

[2021-09-14 06:05] timebertt commented on #4654
In the versioned gardenlet config API, `debugging.*` are pointers:
https://github.com/gardener/gardener/blob/862c77153f92be4f9ab8d039d2751f630539ef90/pkg/gardenlet/apis/config/v1alpha1/types.go#L66-L67
https://github.com/gardener/gardener/blob/06242c99ecebf7442021acbb14a895eca27f7f78/vendor/k8s.io/component-base/config/v1alpha1/types.go#L60-L66

However, in the internal gardenlet config API, `debu

[2021-09-14 06:17] timebertt commented on #4654
I see two options for resolving out this situation:
- either we fix it via the API
  - add pointers to `debugging` in the internal and external gardenlet config API
  - ensure proper conversion between the API versions
  - as discussed in https://github.com/gardener/gardener/pull/4568#discussion_r701973036, we are lacking a proper guideline / general approach on such decisions, so we missed this p

[2021-09-14 06:52] timebertt opened #4655 "Refactor scheduler and maintenance test to envtest"
**How to categorize this issue?**

/area testing
/kind technical-debt

## TL;DR

Currently, both the [scheduler test](https://github.com/gardener/gardener/blob/712a875b5965c9c87a8ce9c304c13733fe4b11ce/test/integration/gardener/scheduler/scheduler_test.go#L93) and the [maintenance test](https://github.com/gardener/gardener/blob/ded9a1dcc9631309e283c8eacfa9c693e31eaee4/test/integration/shoots/mainte

[2021-09-14 10:50] rfranzke commented on #4559
Once #4639 is merged I can tackle this.

[2021-09-14 10:56] stoyanr commented on #4654
I would vote for the first option (fix via the API). From my perspective the fact that converting between internal and external versions results in different objects is already a problem that should be avoided. I think we would have it with other types from `component-base/config` as well (e.g. `LeaderElectionConfiguration`) except that they are always used as pointers. Also, `Debugging` is curren

[2021-09-14 11:35] rfranzke opened #4659 "Replace usage of static `ServiceAccount` tokens for components running in seed talking to the seed API server"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 2

**What would you like to be added**:

Today, all of the components running in the seed clusters and talking to the seed's API server use a static `ServiceAccount` token ([example](https://github.com/gardener/gardener/blob/f5353762715d0aa5b3e5ded07f044cf431374193/pkg/operation/botanist/component/etcd/bootstrap.go#L86-L

[2021-09-14 11:35] rfranzke opened #4660 "Replace usage of static `ServiceAccount` tokens for components running in shoot talking to the shoot API server"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 2

**What would you like to be added**:

Today, all of the components running in the shoot clusters and talking to the shoot's API server use a static `ServiceAccount` token ([example](https://github.com/gardener/gardener/blob/f5353762715d0aa5b3e5ded07f044cf431374193/pkg/operation/botanist/component/metricsserver/metrics

[2021-09-14 11:36] rfranzke opened #4661 "Replace usage of static client credentials for components running in seed talking to the shoot API server"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 2

**What would you like to be added**:

Today, all of the components running in the seed clusters and talking to the shoot's API server use a kubeconfig with a static client certificate issued by the cluster's certificate authority ([example](https://github.com/gardener/gardener/blob/f5353762715d0aa5b3e5ded07f044cf43137

[2021-09-14 11:53] rfranzke opened #4662 "Gardenlet should reload kubeconfig after rotation instead of exiting"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority 3

**What would you like to be added**:
Instead of exiting after its client certificate was rotated/renewed, the gardenlet should dynamically refresh its client and keep running.

/cc @danielfoehrKn @timebertt

**Why is this needed**:
Less restarts of gardenlet, hence, less load on the garden and seed clusters.

[2021-09-15 06:23] timebertt commented on #4654
Thanks for your input, @stoyanr.

Yeah, I get your point.
Then, let me correct my point from above: probably the conceptual problem is rather, that these component config APIs were never thought to be persisted on the API server (where they are converted back and forth) or included as `RawExtension`s in other objects.
So we should improve how we include them in our gardenlet config API that ens up

[2021-09-15 06:53] rfranzke commented on #4616
/assign

[2021-09-15 13:41] timebertt commented on #4648
/assign

[2021-09-15 16:19] voelzmo opened #4673 "Remove usage of `docker` in Gardener, such that Gardener can use OS images without docker daemon installed"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
`docker` is still used in Gardener internals:
* The `systemd` unit responsible for downloading the cloud-config depends on the `docker` systemd unit: https://github.com/gardener/gardener/blob/2788f29310bb23faa224a72bbf946f12136e0f5f/pkg/operation/botanist/component/extensions/

[2021-09-16 12:05] timuthy commented on #1684
/priority 2
/assign

[2021-09-16 12:06] timuthy commented on #1684
/remove lifecycle/rotten

[2021-09-17 11:00] timebertt opened #4683 "kube-state-metrics for seed components"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

Scrape and keep kube-state-metrics for seed components (gardenlet, etcd-druid, extensions, etc.), i.e. everything that is not in a shoot namespace and is not already contained in the shoot monitoring stack.
Should be added to the new seed monitoring stack: https://github.com/gardener/garden

[2021-09-17 11:42] timebertt commented on #4654
/assign

[2021-09-17 11:47] dguendisch commented on #4612
fwiw: we deployed https://github.com/heptiolabs/eventrouter for the testmachinery for this exact purpose.

[2021-09-17 21:03] #4616 closed, assigned to rfranzke

[2021-09-17 21:18] #2946 closed, assigned to nobody

[2021-09-18 07:05] vpnachev opened #4687 "New seed bootstrap tokens cannot be created for existing seeds"
**How to categorize this issue?**

/area robustness ops-productivity
/kind bug
/priority 3

**What happened**:
The client certificate of one of the managedseed clusters has expired and it has not been renewed on purpose.
Then, the parent gardenlet can create new bootstrap token and let the child seed use it to request new certificate. According to the code https://github.com/gardener/gardener/blob

[2021-09-18 08:31] vpnachev opened #4688 "GCM fails to approve CSRs"
**How to categorize this issue?**

/area robustness ops-productivity
/kind bug
/priority 1

**What happened**:
The GCM fails to approve the CSR for seed clusters. The error message is:
[code]

**What you expected to happen**:
The CSR to be approved.

**How to reproduce it (as minimally and precisely as possible)**:
Create a new seed that has to self-bootstrap itself, e.g. managed seed.

**Anything

[2021-09-20 06:09] #4688 closed, assigned to nobody

[2021-09-20 06:10] rfranzke commented on #4687
There is no way to know for the `SeedAuthorizer` that the gardenlet's client certificate might be expired. We might want to think about an annotation which can be set by an operator to allow such calls again.

[2021-09-20 09:12] #4654 closed, assigned to timebertt

[2021-09-20 11:07] ialidzhikov opened #4690 "`botanist.WaitUntilTunnelConnectionExists` step is failing right away on transient errors"
**How to categorize this issue?**

/area quality
/kind bug
/priority 3

**What happened**:
We observe high amount of transient errors on Shoot creation that usually self-heal after several minutes. Few examples:

[code]

[code]

It seems that before https://github.com/gardener/gardener/pull/4183, we were retrying with timeout 15min until the tunnel connection is established.
https://github.com/gar

[2021-09-20 11:27] #4648 closed, assigned to timebertt

[2021-09-20 15:32] ialidzhikov opened #4694 "Sequential ControllerInstallation deletion and creation can cause issues"
**How to categorize this issue?**

/area quality
/kind bug
/priority 3

**What happened**:
gardener-controller-manager and gardenlet do not handle properly sequential ControllerInstallation deletion and creation.

**What you expected to happen**:
- [x] GCM to do not try to update ControllerInstallation when the resource has deletionTimestamp -> https://github.com/gardener/gardener/pull/4718
- [x]

[2021-09-21 06:57] prashanth26 opened #4695 "Keep CA max-graceful-termination-sec configurable"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority 3

**What would you like to be added**:
Keep the [max-graceful-termination-sec](https://github.com/gardener/autoscaler/blob/machine-controller-manager-provider/cluster-autoscaler/FAQ.md#does-ca-respect-gracefultermination-in-scale-down) configurable at the Gardener.

**Why is this needed**:
During scale down of nodes

[2021-09-21 08:19] plkokanov commented on #4484
This should be fixed by #4608 #4584 #4663

[2021-09-21 09:22] vanjiii commented on #4655
/assign

[2021-09-21 09:37] timebertt commented on #2822
Update:

I updated the task list and moved all the nice-to-have / cleanup tasks, that are not required for graduating the feature gate, to https://github.com/gardener/gardener/issues/2414.

#4696 completes the last open task required for the graduation.
So once the next version including the PR is released and it is running fine without any additional issues, I plan to promote the feature gate to

[2021-09-22 07:05] #4690 closed, assigned to nobody

[2021-09-22 08:29] AndreBorrmann commented on #4453
@mganter Hi,sure I can reach out in slack, if you share the proper channel name. Otherwise it might be a bit hard to find the right one ;)

[2021-09-22 08:36] mganter commented on #4453
here is the self invite link for the k8s slack https://slack.k8s.io/
there you can find the channel #gardener
and find me by the name of Manuel Ganter

[2021-09-22 09:48] timebertt opened #4708 "[Flaky Test] Controller Common Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`Controller Common Suite` (`github.com/gardener/gardener/extensions/pkg/controller/common`).

**CI link**:

https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-update-job/builds/58#L613d21f7:271
https://concourse.ci.gardener.cloud/teams/gardener/pipelines

[2021-09-22 09:49] timebertt commented on #4708
/cc @stoyanr
The test was introduced in #4638.

[2021-09-23 08:13] timebertt commented on #4625
/assign

[2021-09-23 12:03] #4683 closed, assigned to nobody

[2021-09-23 14:57] timebertt opened #4717 "Auto-merge pull requests"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:

With @gardener/gardener-maintainers we discussed the idea of adding some automation for merging pull requests (like prow in kubernetes projects).

We would like a pull request to be merged automatically

- if at least one reviewer has added the `/lgtm` label
- if it was approved (acco

[2021-09-24 08:34] vlerenc commented on #4363
/reopen Uh, @ThormaehlenFred just noticed that the cipher task wasn't completed, but we require that change to improve security/pass the audit. The checkbox was ticked, but the linked issue is open and indeed, https://github.com/gardener/gardener/blame/master/pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go#L769 shows no change. I will now untick the checkbox.

[2021-09-24 09:06] rfranzke commented on #4363
Why? What is missing? https://github.com/gardener/gardener/pull/4562/commits/c0d0c92e726ef0f65b89af20c63ee38b132ea1c7 is part of the 1.22 support PR.

[2021-09-24 09:07] rfranzke commented on #4363
/close
Let's continue the discussion in https://github.com/gardener/gardener/issues/4300

[2021-09-24 09:07] #4363 closed, assigned to timuthy

[2021-09-24 09:08] rfranzke commented on #4300
From #4363

/reopen Uh, @ThormaehlenFred just noticed that the cipher task wasn't completed, but we require that change to improve security/pass the audit. The checkbox was ticked, but the linked issue is open and indeed, https://github.com/gardener/gardener/blame/master/pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go#L769 shows no change. I will now untick t

[2021-09-24 09:08] rfranzke commented on #4300
/assign @timuthy

[2021-09-24 09:14] vlerenc commented on #4300
Hmm... we couldn't find it the gardener repo, the ticket (this here) is open, but the line item was marked as closed. If all is good, great. This commit is shown as:

[2021-09-24 09:35] rfranzke commented on #4300
Probably @timuthy forgot to close it. So, you didn't see any issues with a real system? Can we then finally close it? :-)

This is because we squash-merged the PR that contains this commit. The respective code is here: https://github.com/gardener/gardener/blob/master/pkg/utils/kubernetes/tls_cipher_suites.go

[2021-09-24 12:10] rfranzke opened #4721 "Print Terraform pod logs if waiting for clean environment times out"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
In https://github.com/gardener/gardener/blob/c3f4f731d7d6564753885448ed0f7800b2085f67/extensions/pkg/terraformer/waiter.go#L42-L45, we might want to read the logs of the Terraformer pod in case the retry loop has timed out.

**Why is this needed**:
Better observability: Oth

[2021-09-24 12:13] rfranzke opened #4722 "`Progressing` condition status for seed conditions"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
Similar to the `Shoot` condition statuses (https://github.com/gardener/gardener/blob/6cb966488b2801f1e2875d359f8a52b9d699341b/docs/usage/shoot_status.md#conditions), the `Seed` conditions should also support the `Progressing` status. Today, failing checks are immediately re

[2021-09-24 12:22] rfranzke opened #4723 "Jitter period for `ManagedSeed`"
**How to categorize this issue?**

/area scalability robustness
/kind enhancement
/priority 3

**What would you like to be added**:
Today, `ManagedSeed`s are reconciled immediate when there is a generation change: https://github.com/gardener/gardener/blob/38ad556a7dec689b35c3ee6dd3cf59bd64b5c705/pkg/gardenlet/controller/managedseed/managedseed_controller.go#L34-L44
However, operators might want to

[2021-09-24 12:28] rfranzke opened #4724 "Shoot deletion should not wait for `ControlPlane` if it already has a `deletionTimestamp`"
**How to categorize this issue?**

/area ops-productivity robustness
/kind bug
/priority 3

**What happened**:
When a `Shoot` is deleted and the corresponding `extensions.gardener.cloud/v1alpha1.ControlPlane` resource already has a `.metadata.deletionTimestamp` then we should not wait for its reconciliation to be finished.

This is intended to be implemented here and was introduced with https://gi

[2021-09-24 12:33] #4625 closed, assigned to timebertt

[2021-09-24 12:38] rfranzke opened #4725 "Owner `DNSRecord` resources might get stuck without reconciliation"
**How to categorize this issue?**

/area ops-productivity robustness
/kind bug
/priority 3

**What happened**:

For arbitrary reasons, controllers might miss events and don't react. We are mitigating this for the extensions controllers by annotating the current time when gardenlet demands a reconciliation (https://github.com/gardener/gardener/blob/61548c1ee9d9b7de046e78bdd048ced16eed7ba3/pkg/opera

[2021-09-24 12:38] rfranzke commented on #4725
/cc @stoyanr

[2021-09-24 14:39] ialidzhikov opened #4726 "Consider machine-controller-manager settings on worker pool when performing worker health checks"
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 3

**What would you like to be added**:
Each worker pool can have custom values for machine-controller-manager settings such as:

[code]

On the other side, the default worker health checker does not consider these settings and can report a failing health check when for example the worker pool is configured with a high ti

[2021-09-24 14:53] rfranzke opened #4727 "Improve error message when `ManagedResource` is stuck in deletion"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
When a `Shoot` cannot be deleted because the `ControlPlane` resource is stuck because some `ManagedResource` is stuck then the following error is presented:

[code]

Can we extend the information to read which resources are exactly blocking the deletion (the `.status.resour

[2021-09-26 20:57] danielfoehrKn commented on #4662
I discussed that topic with @timebertt during the implementation. I believe the reason why it was not done is because we used Informers with static clients all over the place. As far as I can remember these clients could not be refreshed.
I think that nowadays we are in better shape here. Maybe @timebertt knows more details here

[2021-09-27 06:06] timuthy commented on #4300
/close as implemented by #4562.

[2021-09-27 06:06] #4300 closed, assigned to timuthy

[2021-09-27 06:58] vpnachev commented on #4717
From a recent experience `reviewed/lgtm` and `needs/second-opinion` are mutually exclusive labels and setting one of them unsets the other one, for example see [here](https://github.wdf.sap.corp/kubernetes/landscape-setup/pull/3182#issuecomment-3577187). So, this needs to be improved for the `/lgtm` + `/second-opinion` case.

One more condition should be required - there must be no conflicts, but

[2021-09-27 07:47] voelzmo opened #4729 "As on operator, I want `crictl` to be installed and preconfigured, such that I can use it for debugging the container runtime"
**How to categorize this issue?**

/area os
/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
Install [`crictl`](https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md) and configure it for the runtime used on the node (`/etc/crictl.yaml`).

Pro:
* one tool for all CRI runtimes (even for dockershim), therefore only one tool to master and no if

[2021-09-27 07:53] #4558 closed, assigned to timebertt

[2021-09-27 08:29] timebertt opened #4730 "Harmonize finalizer addition across all controllers"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:

From https://github.com/gardener/gardener/pull/4696#discussion_r714603123:

In some controllers (e.g. shoot controller) we return `nil` after adding the finalizer and wait for an update watch event to prevent duplicated reconciliations (see https://github.com/gardener/gardener/pull/2364).
H

[2021-09-27 08:39] rfranzke commented on #4687
/assign

[2021-09-27 10:09] rfranzke commented on #4659
/assign @vanjiii @stoyanr
/in-progress

[2021-09-27 10:09] rfranzke commented on #4660
/assign @vanjiii @stoyanr
/in-progress

[2021-09-27 10:09] rfranzke commented on #4661
/assign @BeckerMax @rfranzke
/in-progress

[2021-09-27 10:09] rfranzke commented on #3292
/assign @BeckerMax @rfranzke @timebertt
/in-progress

[2021-09-27 14:43] timebertt commented on #4687
[This gist](https://gist.github.com/timebertt/93a56f4eec2ce530cdc8119a08ca925f) provides a script to manually rebootstrap an existing seed as a workaround for this issue.

[2021-09-27 15:04] #4579 closed, assigned to nobody

[2021-09-27 15:20] vpnachev opened #4734 "When gardenlet is using client certificate for the g API, it should log a message if it is still valid"
**How to categorize this issue?**

/area ops-productivity quality
/kind enhancement
/priority 3

**What would you like to be added**:
The gardenlet to log a message with the expiration date of the client certificate for the garden cluster.

**Why is this needed**:
Currently, if gardenlet is started with expired client certificate, it will fail to discover the k8s version of the garden cluster, som

[2021-09-27 20:33] #4419 closed, assigned to vpnachev

[2021-09-28 06:02] #4695 closed, assigned to prashanth26

[2021-09-28 06:52] ialidzhikov commented on #4694
I am closing this issue as all subtasks are completed (2/2).

/close

[2021-09-28 06:52] #4694 closed, assigned to nobody

[2021-09-28 06:57] timebertt opened #4735 "loki/kube-rbac-proxy is OOMKilled"
**How to categorize this issue?**

/area auto-scaling logging
/kind bug

**What happened**:

`kube-rbac-proxy` sidecar in the loki container got OOMKilled:
[code]

But HVPA wasn't scaling it up, as it's disabled for this container.

**What you expected to happen**:

It should be autoscaled.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**E

[2021-09-28 07:17] timebertt opened #4736 "kube-proxy/conntrack-fix container is missing resource requests/limits"
**How to categorize this issue?**

/area auto-scaling networking
/kind bug

**What happened**:

The `conntrack-fix` sidecar of the `kube-proxy` is missing resource requests/limits.
It should be set to allow better scheduling and enable autoscaling (if the Shoot VPA feature is enabled).

[2021-09-28 07:18] timebertt commented on #4736
cc @DockToFuture @ScheererJ @wyb1 @istvanballok @marwinski

[2021-09-28 10:27] rfranzke commented on #4734
/assign

[2021-09-28 11:00] danielfoehrKn opened #4738 "Add container-internal OOMs to monitoring of Seed clusters"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority 3

**What would you like to be added**:

Add cAdvisor Metric for container internal OOMs

[code]

**Why is this needed**:

We are lacking observability into OOMs that happened as a result of thread/processes that have been reaped by a parent container process.
Those OOMs are not reported as events by the kubelet.
For t

[2021-09-28 11:46] voelzmo opened #4739 "Replace deprecated kubelet flags with recommended configuration"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
Remove all deprecated kubelet flags and replace them with the new, recommended way. At the point of writing these are:

| flag | removed in | replacement |
|------|------------|-------------|
| `--cloud-provider` | k8s 1.23  | cloud-provider specific configuration |
| `--provi

[2021-09-28 12:25] rfranzke commented on #4735
/assign @vlvasilev

[2021-09-29 05:44] rfranzke commented on #3898
@BeckerMax I think we are ready for the last step, i.e., cleaning up the code and closing this one! 🎉

[2021-09-29 05:47] rfranzke commented on #4251
/assign @timebertt
/roadmap internal
/milestone 2021-Q4

[2021-09-29 05:53] rfranzke opened #4741 "☂️ -Issue for removal of the `SeedKubeScheduler` feature gate"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority 3

**What would you like to be added**:

❗ The `SeedKubeScheduler` feature gate is deprecated in favor of the `bin-packing` scheduling profile that can be configured for a Shoot referred by a ManagedSeed. For more details, see the discussion in https://github.com/gardener/gardener/issues/1455. Hence, the new tasks ar

[2021-09-29 05:53] rfranzke commented on #4617
This might be related to https://github.com/gardener/gardener/issues/4741

[2021-09-29 05:53] rfranzke commented on #4741
/assign @ialidzhikov
/roadmap internal
/milestone 2021-Q4

[2021-09-29 06:13] rfranzke opened #4742 "☂️ -Issue for switching to `Lease`s for leader election locks"
**How to categorize this issue?**

/area scalability
/kind enhancement
/priority 3

**What would you like to be added**:
Many components deployed in Gardener systems are still not using `Lease`s, however, since this is the new recommended default, let's switch to it to ensure our systems scale well.
Support for `endpoints` and `configmaps` is removed in K8s 1.24 with  https://github.com/kubernetes

[2021-09-29 06:13] rfranzke commented on #4742
/assign @ialidzhikov
/roadmap internal
/milestone 2022-Q1

[2021-09-29 08:53] timebertt commented on #4662
Yep, this is also what I remember. I think, we mainly agreed on this approach, as it was quite simple and we didn't see a problem with it.
However, I agree that it makes sense to look into this again.

IIRC, the kubelet is actually able to refresh the client certificate during runtime. We might want to take a look, how this is achieved and if we can leverage similar mechanisms.

[2021-09-29 13:36] Gerrit91 opened #4743 "Graceful deletion for custom resources in shooted seed namespace"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

Graceful deletion for custom resources (CRs) deployed by extension-providers in a seed's shoot namespace.

**Why is this needed**:

We have an extension-provider that deploys a small operator (kind of similar to the MCM pattern) including SA, RBAC resources and a CR that this

[2021-09-29 14:41] vpnachev commented on #4514
/assign

[2021-09-29 16:46] ialidzhikov opened #4747 "[Flaky test] `should get container logs from loki by tenant` test is flaky"
**How to categorize this issue?**

/area quality
/area testing
/kind bug
/priority 3

**What happened**:
The success rate of the beta tests is awful:

![Screenshot 2021-09-29 at 19 39 49](https://user-images.githubusercontent.com/9372594/135312668-059e1b35-5fc1-4606-bcd6-2f27bf1ba042.png)

One of the most prominent failures comes from the `should get container logs from loki by tenant` with reason

[2021-09-29 16:46] ialidzhikov commented on #4747
/assign @vlvasilev @Kristian-ZH

[2021-09-30 07:42] timuthy commented on #4743
This is related to how the worker actuator was enhanced a while ago https://github.com/gardener/gardener/commit/140ee20eb7bb1afb1a90dc6324d829ff57dd1029. There we had the same situation, that the existing steps were not sufficient any more and introduced (`DeployMachineDependencies`, `CleanupMachineDependencies`).

[2021-09-30 13:32] timebertt commented on #3559
@vlvasilev @Kristian-ZH
I just now realized, that we don't keep the logs of shoot system-components running on the shoot worker nodes yet (e.g. `metrics-server` or `csi-driver-node`, etc.
Is this planned / was this in scope of this issue?

[2021-09-30 14:17] timebertt commented on #4725
I think, this can especially cause troubles, if clusters go into a failed state before the owner DNSRecord is created.
Then the dns controller will simply ignore the resource and not reconcile it at all. If the cluster comes out of a failed state, the owner DNSRecord is never touched again and thus not reconciled (as there is no watch event).

[2021-09-30 14:35] vlvasilev commented on #4747
It is `shoot in the foot`.
I have tried to unite the user and operator plugin instances in one by adding a `gardeneruser` field to the user-exposed logs and thus differentiate the user and operator logs. But for this purpose, I have had to reverse the user-exposed tag back as they were starting the tag with `kubernetes.*` prefix. Now we have too much `rewrite_tag` transformation.
Looking at the lo

[2021-10-01 05:19] timuthy commented on #2368
@rfranzke what is your impression on this issue today? My thought is that especially with https://github.com/gardener/gardener/issues/4661 this issues becomes less relevant and I wonder if we will still need to out-source the secrets generation.

[2021-10-01 05:32] BeckerMax commented on #2368
@timuthy I think this issue loses relevance.
With #4661 the gardenlet will no longer generate secrets for components in the Seed (MCM, KCM,...) to authenticate with the Shoot KAPI. Instead a new component other than the gardenlet will request short-lived tokens instead.

[2021-10-01 05:45] timuthy commented on #2368
Thanks for confirming my statement @BeckerMax. The question is rather if it's then fine to keep the remaining secret generation in Gardenlet (I assume we will still have some, e.g. CAs, server certs, probably some client certs like [this](https://github.com/gardener/gardener/blob/ff0d90cc18811314f1b3640f4f33c40f902bf332/pkg/operation/botanist/wanted_secrets.go#L185)?!) and don't see the necessity

[2021-10-01 12:39] timuthy commented on #2368
/unassign for now because of other priorities

[2021-10-01 13:37] timebertt commented on #4725
/assign

[2021-10-01 16:15] #4725 closed, assigned to timebertt

[2021-10-01 16:16] #4559 closed, assigned to rfranzke

[2021-10-04 04:33] vpnachev commented on #4514
/unassign

[2021-10-04 11:46] timebertt opened #4762 "controller-manager panic when bootstrapping garden cluster"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:

With https://github.com/gardener/gardener/pull/4754 GCM's client for secrets is cached again.

However, when starting the clientmap [here](https://github.com/gardener/gardener/blob/89cc8690b817ae5c5879a220a9452e3382519401/pkg/controllermanager/controller/factory.go#L78), the client map doesn't wait for the caches to

[2021-10-04 11:46] timebertt commented on #4762
/assign

[2021-10-04 12:20] #4762 closed, assigned to timebertt

[2021-10-04 14:30] timebertt commented on #4717
I did some research on how the above goals can be achieved. I mainly see two options:

## Use GitHub Actions

There is already a GitHub Action, that seems to provide what we want to achieve: https://github.com/pascalgn/automerge-action
(if there was some gap, we might consider contributing or forking)

However, users are encouraged to switch to GitHub [auto-merge](https://docs.github.com/en/github

[2021-10-04 14:42] timebertt commented on #4717
Having outlined the results of my preliminary research and experiments with prow, I would conclude the following:
GitHub Actions is clearly the much simpler approach and we would probably be done with the goals in this issue very quickly
However, I think that prow is in general the much more sustainable approach, as we are reimplementing more and more stuff that is already existing in the communit

[2021-10-05 06:58] timebertt opened #4772 "Upgrade k8s.io/* to v0.22, sigs.k8s.io/controller-runtime to v0.10"
**How to categorize this issue?**

/area open-source
/kind task

**What would you like to be added**:

We should upgrade to the latest versions of our go upstream dependencies:
- `sigs.k8s.io/controller-runtime@v0.10.x`: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.10.0
- `k8s.io/*@v0.22.x`

It's probably a good idea to complete this one before continuing on https://github

[2021-10-05 08:32] plkokanov opened #4773 "The kube-controller-manager can get stuck with 0 replicas after control plane migration"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
Triggered control plane migration for an azure cluster, which seemed to finish successfully, but then I noticed that the VPN tunnel pod in the shoot never comes up. The reason for that is that the kube-controller-manager in the shoot's control plane had 0 replicas.

The issue seems to come du

[2021-10-05 08:32] plkokanov commented on #4773
/assign

[2021-10-05 08:40] timebertt commented on #4772
I will wait for https://github.com/gardener/gardener/pull/4757 progress before starting on this in order to avoid too many conflicts.

[2021-10-05 08:44] timebertt commented on #4773
I guess, that "something" would be https://github.com/gardener/dependency-watchdog :)

[2021-10-05 08:56] plkokanov opened #4774 "Creating or restoring a cluster with hibernation.enabled=true fails"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:
I tried creating a cluster with hibernation.enabled=true and the shoot creation fails due to the following:
The kube-apiserver in the shoot's control plane is created with 1 replica and gets stuck in a crashloop backoff since the etcd pods are never started:
[code]

This can cause the controlplane cont

[2021-10-05 08:56] plkokanov commented on #4774
/assign @stoyanr

[2021-10-05 09:30] plkokanov opened #4775 "OperatingSystemConfig validation can return an error on Azure during control plane migration"
**How to categorize this issue?**

/area control-plane
/area control-plane-migration
/kind bug
/priority 3

**What happened**:
The newly added validation of OperatingSystemConfig resources can return an error during control plane migration if the cloud-provider-disk-config secret is missing with:
[code]

This seems to happen because the controlplane webhook for Azure tries to mutate the OperatingS

[2021-10-05 09:30] plkokanov commented on #4775
/assign

[2021-10-05 09:54] ialidzhikov commented on #4655
/assign @acumino
for the maintenance test refactoring

[2021-10-05 09:57] ialidzhikov commented on #4575
/assign @acumino

[2021-10-05 09:57] ialidzhikov commented on #4577
/assign @acumino

[2021-10-05 11:09] timebertt opened #4776 "Seed conditions are not copied to Shoot if parent gardenlet is unavailable"
**How to categorize this issue?**

/area robustness ops-productivity
/kind enhancement

**What would you like to be added**:

Currently, the gardenlet's shoot care controller copies the Seed conditions over to the Shoot status, if the shoot is registered as a ManagedSeed: https://github.com/gardener/gardener/blob/0320bb0241020ad19a0f0b536d8f490a8feaaf39/pkg/gardenlet/controller/shoot/shoot_care_co

[2021-10-05 11:10] timebertt commented on #4776
Monitoring will be affected by this as well if we decide for option 2.
cc @wyb1 @istvanballok

[2021-10-05 11:20] plkokanov opened #4777 "Control plane migration of hibernated shoot fails due to APIServer secret verification"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
Trying to hibernate a migrated cluster fails with the following error:
[code]

**What you expected to happen**:
Migration of hibernated shoot to complete successfully

**How to reproduce it (as minimally and precisely as possible)**:
Create a shoot cluster, hibernate it, then trigger migratio

[2021-10-05 11:20] plkokanov commented on #4777
/assign

[2021-10-05 11:23] plkokanov commented on #4773
Thanks, was probably going to spend some time until I remember that the dependency-watchdog component also manages some of the control-plane deployments replicas :).

[2021-10-05 11:54] grolu opened #4778 "Deletion sometimes stuck for Shoots with invalid DNS Credentials"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:
I created several clusters for which I configured DNS providers with invalid credentials. Sometimes those clusters can no longer be deleted. Deletion fails and cluster gets stuck in `Delete Failed` state. Retry operation also does not solve the problem.

[code]

[code]

**What you expected to happen**:
Deletion should not

[2021-10-06 07:47] #4777 closed, assigned to plkokanov

[2021-10-06 07:48] #4774 closed, assigned to stoyanr

[2021-10-06 08:40] wyb1 commented on #4776
Option 2 should not be an issue since we have the metric `garden_seed_condition`. Some components/alerts may still use the `garden_shoot_condition` metric to evaluate the condition of a shooted seed but the migration *should* be relatively simple.

[2021-10-06 12:37] plkokanov opened #4785 "Add support for migrating and hibernating a cluster at the same time"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement
/priority 3

**What would you like to be added**:
The control plane migration scenario should support migration of clusters that have `spec.hibernation.enabled=true` but have not been yet completely hibernated.

**Why is this needed**:
Currently if hibernation is enabled during migration, or migration is triggered d

[2021-10-07 09:58] ThormaehlenFred commented on #4300
pkg/utils/kubernetes/tls_cipher_suites.go in https://github.com/gardener/gardener/pull/4562/files# shows that with v1.22 the following ciphers are used:
[code]

[2021-10-07 10:32] #4687 closed, assigned to rfranzke

[2021-10-07 10:32] #4734 closed, assigned to rfranzke

[2021-10-07 10:42] #4775 closed, assigned to plkokanov

[2021-10-07 11:33] plkokanov opened #4793 "Restore phase of control plane migration can fail for Azure AVSet clusters"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
Triggered control plane migration for an azure availability set cluster in the westus2 region. During the restore phase, the following error occurred:
[code]

**What you expected to happen**:
The restore phase to complete successfully.

**How to reproduce it (as minimally and precisely as pos

[2021-10-07 12:12] #4773 closed, assigned to plkokanov

[2021-10-07 12:22] timebertt opened #4794 "API server dashboard panel with duration of conversion webhooks"
**How to categorize this issue?**

/area monitoring ops-productivity
/kind enhancement

**What would you like to be added**:

API Server monitoring dashboard panel showing the duration of [conversion webhooks](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#webhook-conversion) based on metric `apiserver_crd_webhook_conversion_duration_seco

[2021-10-07 12:47] timebertt commented on #4794
cc @wyb1 @istvanballok

[2021-10-07 13:25] vpnachev opened #4796 "`Last(Transition|Update)Time` of `SeedRegistered` condition of `ManagedSeed` is unnecessary updated on each reconciliation"
**How to categorize this issue?**

/area performance quality
/kind bug
/priority 3

**What happened**:
`Last(Transition|Update)Time` of `SeedRegistered` condition of `ManagedSeed` is unnecessary updated on each reconciliation.

This is happening because on each reconciliation, this status and reason fields of the condition are always updated to here https://github.com/gardener/gardener/blob/446521

[2021-10-07 14:08] lotharbach opened #4797 "Allow creation of CloudProfile containing expirationDates in the past"
**How to categorize this issue?**

/area usability
/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
I would like to create CloudProfiles containing versions with expirationDate set to the past, even if it does not make sense.

**Why is this needed**:
Checking all expirationDates against the current date might be actionable feedback for a human kubectl user

[2021-10-07 15:33] vpnachev opened #4798 "Health checks of extension resource to use dedicated `Lease` resource for heart beats."
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 3

**What would you like to be added**:
A new optional field `LastHeartbeatTime` to be introduced in the conditions. This field should be used only for heartbeats.
Currently `LastUpdateTime` is mused for this purpose.

**Why is this needed**:
Currently, the `LastUpdateTime` field is used for heartbeats by the extension's

[2021-10-08 06:25] timebertt opened #4800 "Open Prometheus ingress or Grafana Explore feature to shoot owners"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

Let's do one (or both) of the following:
- allow shoot owners to access the prometheus ingress of their shoot clusters
- enable the `Explore` feature in the user-facing Grafana instance (ref https://github.com/gardener/gardener/pull/4140)

**Why is this needed**:

Endusers want to analyze t

[2021-10-08 06:27] timebertt commented on #4800
@wyb1 As you have already spent some thoughts on this back in the days, can you elaborate what options we have with which pros/cons?
cc @vlerenc @istvanballok

[2021-10-08 07:35] timuthy commented on #4735
We still see this issue from time to time on our landscapes:

[code]

/reopen
/cc @vlvasilev

[2021-10-08 09:26] wyb1 commented on #4800
Most of the cons were related to these 2 points:

1) End users can see the internal workings of the control plane
2) There is (currently) no contract between the monitoring and endusers

Point 1. is not necessarily negative since it means that endusers can help themselves if they know what they are looking for and considering that it will (hopefully) reduce operational load, it is more like a posi

[2021-10-10 21:13] Natureshadow opened #4819 "Support for Proxmox VE API provider"
**How to categorize this issue?**

/kind enhancement
/priority 3

**What would you like to be added**:

Next to OpenStack, there is another widely used virtualisation stack that allows API-based self-management of virtual machines: Proxmox VE.

Seeing support for orchestration onf Proxmox VE in addition to OpenStack would be nice.

[2021-10-11 06:00] BeckerMax commented on #4630
This is still open and I would close this issue after the dashboard change is merged.

[2021-10-11 09:43] timebertt commented on #4800
cc @Kristian-ZH as you pointed out some concerns in https://github.com/gardener/gardener/pull/4140#issuecomment-851445420

[2021-10-11 10:18] donistz commented on #4630
There are two scenarios for this activity that are not yet covered:
[1] We have service consumers with >10 clusters created using one and the same IaaS account. Now they have to reconcile all these clusters one by one after changing the secret of the IaaS account. It will be good to have an option to reconcile with one click/one command all clusters that depend on one secret.
[2] Many of our stake

[2021-10-11 11:18] timuthy commented on #4630
Then they can also automate shoot cluster reconciliation with the Gardener API by annotating the affected shoot(s) with `gardener.cloud/operation: reconcile`.

[2021-10-11 11:29] donistz commented on #4630
`kubectl -n garden-<project-name> annotate shoot <shoot-name> gardener.cloud/operation=reconcile`

@timuthy  Is there an easy way to find the list with clusters that depend on a concrete secret? In order to use `annotate shoot `one should know the names of all affected shoots in advance.

[2021-10-11 11:31] timebertt commented on #4630
I don't think that reconciling all clusters at once is a good idea if they are using the same credentials, as this is known to quickly exhaust rate limits.

Regarding both 1 and 2, regular reconciliation (happing roughly every 24 hours) should actually be enough for the majority of cases and will not cause any new issues.
For the rare special cases, e.g. rotating leaked credentials, users are free

[2021-10-11 11:39] timebertt commented on #4772
/assign

[2021-10-11 11:54] timuthy commented on #4630
Precisely, you would need to find (1) all `SecretBinding`s which refer to the affected `Secret` and then (2) all `Shoot`s that have a reference to the `SecretBinding` in the same project namespace. However, if you roll a `Secret` and have GitOps in place then you probably also know the related `SecretBinding`s and `Shoot`s.
Users already have the freedom to implement such scenarios with the Garden

[2021-10-11 12:33] Kristian-ZH commented on #4800
In the past we had a discussion and decided to not expose everything to the end users. Instead of that we took an approach to whitelist the components we want to expose.
This decision was taken because we were not sure if the components are enough secure (logging critical data).
Also such logs are valuable for the Operators, not for the Users (I think).
/cc @vlvasilev

[2021-10-11 15:43] ThormaehlenFred opened #4823 "add chacha20 ciphers to meet DISA STIG compliance"
**How to categorize this issue?**
/area security
/kind enhancement
/priority 3
/platform aws-gov

**What would you like to be added**:
Add chacha20 ciphers from k8s v1.23 onwards

**Why is this needed**:
Cipher list was adapted for K8s v1.22 (see [#4300](https://github.com/gardener/gardener/issues/4300) but Gardener's current cipher list for k8s v1.22:
[code]
is not DISA STIG compliant see [V-2424

[2021-10-12 12:10] amosmim opened #4826 "TYPO in envoy's yaml - cause that envoy's admin logging will not dumped"
Debug relate issue

/area audit-logging
/kind bug
/priority 4

**What happened**:
Envoy crashed but no logs was provided

According to envoy's docs - admin level logging dumps to the given path in "access_log_path" config-key in config yaml file.

For example here : https://github.com/envoyproxy/envoy/issues/1291#issuecomment-395073014
if envoy sets with  "access_log_path": "/dev/stdout"  the logs

[2021-10-12 12:33] timebertt commented on #4662
There is https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/certwatcher, but I think this is only for webhook servers.
However, maybe we can get some inspiration from it.

[2021-10-12 13:12] donistz opened #4827 "Gardener API documentation is missing details that some fields/resources are immutable"
**How to categorize this issue?**

/area documentation
/kind enhancement
/priority 3

**What would you like to be added**:
[Gardener API Documentation](https://gardener.cloud/docs/references/core/#core.gardener.cloud/v1beta1.Shoot) to be extended to mention "immutable" for all Gardener API fields that are immutable, like for example Shoot’s `spec.secretBindingName` and SecretBinding’s `spec.secret

[2021-10-12 15:47] deitch opened #4828 "Resource Manager does not respect Chart namespace applied the same way Helm does"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:

Applying a helm chart that expects to receive the equivalent of `helm install --namespace` does not get namespace applied, nor does it have a mechanism for doing so.

**What you expected to happen**:

Pass a namespace

**How to reproduce it (as minimally and precisely as possible)**:

Install a chart

[2021-10-13 15:51] kon-angelo opened #4834 "Allow expansion for `.spec.networking.nodes` CIDR"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

Allow the expansion of the `.spec.networking.nodes` CIDR that is currently validated as an immutable field.

**Why is this needed**:

Certain providers (e.g. Azure) do allow the expansion of their VPC. Users would like to take advantage of that feature to create more address

[2021-10-14 07:14] #2822 closed, assigned to timebertt

[2021-10-14 08:41] stoyanr opened #4838 "Properly classify infra dependencies that show up as "at least one terraformer pod still exists" errors"
**How to categorize this issue?**

/area networking ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:

When deleting a shoot that has infrastructure dependencies, we often see the following error:
[code]

In the logs of the terraformer pod we see something similar to (e.g. on AWS):
[code]

Further investigation usually reveals that there are infrastructure depend

[2021-10-14 08:51] timuthy commented on #4797
/cc @danielfoehrKn

[2021-10-14 12:40] ialidzhikov opened #4843 "Update the go.mod version to go1.17"
**How to categorize this issue?**

/area open-source
/kind enhancement
/priority 4

**What would you like to be added**:

From https://github.com/gardener/gardener/pull/4822#issue-755237424:

**Why is this needed**:
To keep the module version up-to-date

[2021-10-14 13:06] stoyanr opened #4844 "Classify "duplicate zones" and "overlapping zones" error messages as `ERR_CONFIGURATION_ISSUE`."
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
If there are multiple DNS hosted zones for the same domain name, the shoot reconciliation fails with:

[code]

If there are overlapping DNS hosted zones, the shoot reconciliation also fails, this time with:

[code]

We should classify "duplicate zones" and "overlapping zone

[2021-10-14 13:22] linuxbsdfreak opened #4846 "Extended RBAC for Robot user"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 2

**What would you like to be added**:
GET and LIST in RBAC for the Robot user for customresourcedefinitions.apiextensions.k8s.io

**Why is this needed**:

We are using Terraform to launch Shoots using the Robot K8s Creds using the https://github.com/hashicorp/terraform-provider-kubernetes provider.  The K8s Terraf

[2021-10-14 13:32] stoyanr commented on #4846
There is no CRD for shoots. Even if we add get and list permissions for CRDs for project members (the robot user is simply a project member), I don't see how this could help. Shoots are resources handled by the Gardener API server and so they don't have a CRD.

[2021-10-15 06:14] #4416 closed, assigned to nobody

[2021-10-15 06:14] #1684 closed, assigned to timuthy

[2021-10-15 08:21] stoyanr opened #4853 "Ensure managed resource deletion by GRM doesn't fail due to pods stuck in `Terminating` state"
**How to categorize this issue?**

/area ops-productivity robustness
/kind enhancement
/priority 3

**What would you like to be added**:

When managed resources are deleted by the GRM, sometimes what happens is that such a resource can't be deleted because e.g. one of the deployments it tries to delete can't be deleted, because some of its pods are stuck in `Terminating` state due to being unable

[2021-10-15 09:17] timebertt commented on #4772
/unassign
as I have completed all steps that were on my list. The other remaining tasks in this list are not urgent and can be taken over by others as well.

[2021-10-15 09:35] anbrsap opened #4855 "Make kubelet parameter `--serialize-image-pulls` configurable"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

In a shoot manifest some kubelet parameters can already be configured via `spec.kubernetes.kubelet.*`.

There should be an additional field `serializeImagePulls` with boolean value that directly translates into kubelet parameter `--serialize-image-pulls`.

**Why is this neede

[2021-10-15 10:53] danielfoehrKn opened #4856 "Certificate Rotation for Landscaper components"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 2

**What would you like to be added**:

We need a strategy to automatically rotate Certificates used during a Gardener landscape deployment.
This was done manually in the past.

I think we need to distinguish between two categories
1) externally provided certificate (e.g. supplied as a secret reference and rotated by an

[2021-10-15 10:53] danielfoehrKn commented on #4856
cc @petersutter @achimweigel @robertgraeff

[2021-10-16 12:23] stoyanr commented on #4318
Closing this in favor of https://github.com/gardener/gardener-extension-provider-aws/pull/425 and similar potential improvements in the other provider extensions.

[2021-10-16 12:23] #4318 closed, assigned to nobody

[2021-10-16 12:31] stoyanr commented on #3875
Closing this as the PoC is considered finished and [GEP-17](https://github.com/gardener/gardener/blob/master/docs/proposals/17-shoot-control-plane-migration-bad-case.md) is now approved.

[2021-10-16 12:31] #3875 closed, assigned to stoyanr, plkokanov, kris94

[2021-10-16 13:12] stoyanr opened #4866 "☂️ [GEP-17] Shoot Control Plane Migration "Bad Case" Scenario"
**How to categorize this issue?**

/area control-plane-migration robustness
/kind enhancement epic
/roadmap internal
/priority 3

**What would you like to be added**:

This is an epic to track the implementation of [GEP-17 Shoot Control Plane Migration "Bad Case" Scenario](https://github.com/gardener/gardener/blob/master/docs/proposals/17-shoot-control-plane-migration-bad-case.md).

* Add handling

[2021-10-16 13:13] stoyanr commented on #4866
/cc @plkokanov @kris94 @rfranzke

[2021-10-16 13:13] stoyanr commented on #4866
/assign

[2021-10-16 13:31] stoyanr commented on #4708
Fixed with #4752

[2021-10-16 13:31] #4708 closed, assigned to nobody

[2021-10-16 14:12] stoyanr commented on #4323
I am not able to reproduce this issue in our dev landscape and looking at existing `ManagedSeeds` and their `Seeds` in our production landscapes I don't see indications about it either.

In fact, correct `shootDefaults` are propagated to the `Seed` and from there to`Shoots` scheduled on that seed. I tested both creating and updating a `ManagedSeed`.

@christianhuening Are you still able to reprodu

[2021-10-16 14:44] stoyanr commented on #4828
As I already pointed out in https://github.com/gardener/gardener-extension-provider-equinix-metal/pull/136#issuecomment-941018133, I am not sure that the proposed improvement brings enough value for the complexity involved. So far this was not an issue for any charts we or somebody else had to use, and from our perspective it's easily mitigated by adding a single namespace field to a resource that

[2021-10-17 22:33] deitch commented on #4828
I agree with you. If I were designing helm, I probably would have said, from the beginning, "we will not use `kubectl apply -n <ns>` anywhere. If you use `helm install --namespace foo`, we will just set that for `.Release.Namespace`; if you don't template it, you don't get it."

I did not design helm, however; people much smarter than me did, and this is what there is. It _does_ apply it using the

[2021-10-18 06:37] timebertt commented on #4286
I think, it might generally be better for controller-manager to update the status label instead of gardenlet.

Hence, I propose the following:
- gardenlet's shoot care controller should only be responsible to update the shoot conditions and constraints according to healthcheck results (+ garbage collection, but that's not relevant here)
- controller-manager takes over responsibility to set the `sh

[2021-10-18 08:54] ialidzhikov commented on #4838
Similar to https://github.com/gardener/gardener-extension-provider-aws/issues/211

[2021-10-18 09:50] voelzmo opened #4872 "WAL/retention configuration for prometheus doesn't match disk size configuration"
**Summary**
We've seen cases where the prometheus WAL file filled up huge parts of the persistent disk, up to a point where the StatefulSet became unhealthy, because the prometheus container went into CrashLoopBackoff. Solutions in the past have been to delete the WAL in order to free up disk space. We want to find a way to prevent manual interaction from being necessary here.

**What needs to be

[2021-10-18 09:50] voelzmo commented on #4872
/cc @wyb1 @stoyanr

[2021-10-18 12:49] stoyanr commented on #4853
@timebertt Suggested to try to reproduce the `kubelet` behavior outside of GRM, as it may be due to an upstream issue.

[2021-10-18 12:57] stoyanr commented on #4838
The current idea is to check if the terraform logs contains messages similar to:

[code]

and report an error of type `ERR_INFRA_DEPENDENCIES` if the `Still destroying...` message is:
* About a subnet or a security group.
* A sufficiently long time had elapsed (e.g. longer than the configured deletion timeout of 5m for subnets).

[2021-10-18 14:23] ialidzhikov opened #4874 "Do not allow creating a Shoot with `.spec.provider.infrastructureConfig` using an internal API version"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority 3

**What happened**:

Currently it is possible to create a Shoot for example with `.spec.provider.infrastructureConfig` that is using internal API version of the corresponding provider-specific InfrastructureConfig:

[code]

Unfortunately, today it is possible to create such Shoot and it even gets created successfully.

[2021-10-18 14:43] stoyanr commented on #4838
To reproduce this, it's easier to create an instance for the subnet rather than an "EFS mount target", e.g.:

* Create a normal AWS shoot with e.g. a single node
* Note the security group id and the `nodes` subnet id in the status of the `infrastructure` resource in the seed
* Get the AWS existing instance(s) by filtering on the subnet id:
[code]
  Note the image id, instance type, and key name of

[2021-10-18 16:30] stoyanr commented on #4838
To implement the above suggestion, either the existing `findTerraformerErrors` function (https://github.com/gardener/gardener/blob/8c603101963bf67b90dd38b69fd3add96e2a911c/extensions/pkg/terraformer/errors.go#L25) could be enhanced or a new similar function could be added that would try to parse terraformer logs in order to find `Still destroying...` messages that match the above conditions.

[2021-10-19 07:22] stoyanr commented on #4838
I added some more log messages and double checked that in this scenario, the logs are indeed retrieved and processed, but since `findTerraformErrors` doesn't find any error messages in the logs, no classifiable errors are reported.

[2021-10-20 09:10] rfranzke opened #4878 "☂️ Projected Service Account Tokens"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 3

This is an epic to track the development related to leveraging [projected `ServiceAccount` tokens](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection) for the components Gardener deploys into seed and shoot clusters

#### Merge `gardener/gardener

[2021-10-21 08:54] timebertt commented on #4251
/in-progress

[2021-10-21 09:44] timebertt commented on #4123
@morremeyer can you update this issue with the current status?

[2021-10-21 10:14] morremeyer commented on #4123
@timebertt Sorry for being that quiet. I haven't been able to spend any time on this issue as I'm not involved with using gardener anymore.

I can take care of finishing the process/PRs in the upcoming weeks. I'm however not able to support with potential issues in the future.

If this is a deterrent, I suggest keeping this issue in mind as documentation, but closing it to signify the lack of time

[2021-10-21 13:53] MartinWeindel commented on #4778
@timuthy asked:

What would be a reliable way to figure out if the DNS controller has ever created an entry? Checking status.targets?

There are either no `DNSEntry` objects in the namespace at all or the existing `DNSEntries` contain no `status.targets` field

[2021-10-21 14:01] timebertt commented on #2829
Once we refactor gardenlet to a native controller-runtime component (https://github.com/gardener/gardener/issues/4251), i.e. use a c-r manager to expose metrics and health endpoints, we will also be back to plain http for `/healthz`, `/readyz`, `/metrics` and `/debug` there as well.

Do we consider this to be important?
If so, we could
- a) tackle https://github.com/kubernetes-sigs/controller-runt

[2021-10-21 14:01] timuthy commented on #4778
Thanks @MartinWeindel. I deleted the comment because I realized afterwards that the question is not relevant. I think we can then finalize the failing `DNSProvider`s if there are no `DNSEntries`.

[2021-10-21 14:06] timebertt commented on #4605
depends on the decision in https://github.com/gardener/gardener/issues/2829

[2021-10-21 15:25] ialidzhikov opened #4888 "Make the SecretBinding resource provider specific"
**How to categorize this issue?**

/area scalability
/kind enhancement
/priority 3

## Summary

This proposal aims to make the SecretBinding (and referenced Secret) resource provider specific to allow provider type information of the SecretBinding (or referenced Secret) to be accessed easily by external components.

## Motivation

Today, the Shoot resource references a cloud provider Secret using

[2021-10-21 15:39] #3898 closed, assigned to BeckerMax

[2021-10-22 06:09] rfranzke commented on #4888
Generally I'm fine with the proposal. One thought I had was that there were ideas to reuse `SecretBinding` resources also for other secret references in the `Shoot` API. For example, the DNS secrets (https://github.com/gardener/gardener/blob/65288a503da25ef2d89a0d019b4f19f78606986f/example/90-shoot.yaml#L259-L265) are directly referenced today. Instead, we we could allow referencing a `SecretBindi

[2021-10-22 06:26] dkistner opened #4889 "Control planes on protected Seed cannot be deleted"
**How to categorize this issue?**
/kind bug
/priority 3

**What happened**:
We have a Seed which was marked via the `Seed` resource as invisible (`.spec.settings.scheduling.visible=false`) and protected (`.spec.taints[0].key=seed.gardener.cloud/protected`) to prevent that new control planes can be scheduled to the Seed.

The existing control planes (also hibernated ones) hosted on the Seed can't b

[2021-10-22 08:43] rfranzke commented on #2871
I think the consensus is to not implement this after recent experiences with a dedicated API submodule for `etcd-druid` (https://github.com/gardener/etcd-druid/issues/243).
/close

[2021-10-22 08:47] rfranzke commented on #4888
FYI: https://github.com/gardener/gardener/issues/3846 is what I meant above

[2021-10-22 08:48] rfranzke commented on #4043
Can we close this one?

[2021-10-22 08:51] rfranzke commented on #4433
IIUC, in a recent discussion we decided to not pursue this for now. Should we close it?

[2021-10-22 08:52] rfranzke commented on #4436
IIUC, in a recent discussion we decided to not pursue this for now. Should we close it?

[2021-10-22 08:57] rfranzke commented on #4726
/assign @danielfoehrKn

[2021-10-22 11:09] timebertt commented on #2871
If we would do this, then we would need to use a proper staging / sync-out mechanism like k/k does instead of the mechanism we used in grm and etcd-druid with dedicated git tags per module.
I still think, that this is feasible but of course requires much more effort.

[2021-10-22 12:41] dguendisch commented on #4095
I think we can close this issue as we haven't observed istio getting stuck anymore after the update.
/close

[2021-10-22 12:41] #4095 closed, assigned to nobody

[2021-10-22 13:35] vpnachev commented on #4436
If it will not be fixed at all, then close it. But if you plan to have it fixed sometime in the future, then it is better to keep it open but with lower priority.

[2021-10-22 13:36] vpnachev commented on #4433
If it will not be fixed at all, then close it. But if you plan to have it fixed sometime in the future, then it is better to keep it open but with lower priority.

[2021-10-22 14:59] ialidzhikov opened #4895 "Creation of Shoot with name "gardener" fails when UseDNSRecords=true"
**How to categorize this issue?**

/area quality
/kind bug
/priority 3

**What happened**:
Cannot create a Shoot with name "gardener" when `UseDNSRecords` feature gate is enabled.
Currently there is a name collision between the Secret that gardenlet creates for the internal kubeconfig (its name is "gardener-internal") and the Secret that is created by gardenlet for the internal DNSRecord (its name

[2021-10-25 07:55] timebertt commented on #4895
@stoyanr We should have named the secrets `dns-{internal,external}` or something similar.
Renaming/migration should still be possible without a big hassle, I assume.

[2021-10-25 08:20] voelzmo commented on #4889
/priority 2

[2021-10-25 08:27] voelzmo commented on #4139
/priority 4

[2021-10-25 08:46] voelzmo commented on #4853
/priority 4

[2021-10-25 08:57] plkokanov opened #4901 "Forbid changes to the Shoot.Spec when Shoot.Spec.SeedName is changed"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement
/priority 3

**What would you like to be added**:
Check modification of which `shoot.spec` fields can cause problems when done together with a change to `shoot.spec.seedName` (which triggers control plane migration). For example when modifying the kubernetes version and triggering control plane migration at the same

[2021-10-25 09:01] plkokanov opened #4902 "Finalise "Good Case" Control Plane Migration"
# Stories
- As user I want my clusters to recover from a disaster, should it strike (downtime is aceptable).
- As operator I want an easy, fail-safe, automated, and fast means to migrate clusters if disaster strikes.
- As provider I want disaster recovery to provide a compliant and safe service.

# Motivation
[GEP-17 Shoot Control Plane Migration "Good Case" Scenario](https://github.com/gardener/g

[2021-10-25 09:03] plkokanov commented on #1631
As the tasks for this issue have been completed, I will close it in favour of #4902

[2021-10-25 09:03] #1631 closed, assigned to plkokanov, vlvasilev, swilen-iwanow

[2021-10-25 10:04] plkokanov commented on #4902
/cc @stoyanr @kris94

[2021-10-25 10:44] #4381 closed, assigned to nobody

[2021-10-25 13:08] timuthy commented on #2829
Thanks a lot @timebertt for outlining the options. I personally prefer **b)** because it additionally delivers RBAC capabilities. The disadvantage I see is yet another vertically scaled side-car and I hope that if we decide for option **b)**, we don't see this as the #1 reason for Pod evictions.

[2021-10-25 13:12] voelzmo commented on #4889
/assign

[2021-10-25 15:48] ialidzhikov commented on #4888
Thanks for sharing this!

Obviously Shoot provider type (aws, gcp, ...) is different from DNS provider type (aws-route53, google-clouddns, ...). If we allow SecretBindings to be used for DNS, then I think the provider type field still makes sense:
- to prevent configuring a DNS provider with provider type foo in the Shoot spec that refers to SecretBinding with provider type bar - it will be now po

[2021-10-25 16:30] timebertt commented on #4251
I tried to accomplish this, but I faced a few difficulties with the current implementation/architecture of the package:
- the controller actually contains 2 controllers: a controllerinstallation controller and a shootstate controller, but both controllers are initialized and built from the shared `artifacts` map
- the controllerinstallation reconcilers share a common state (`kindToRequiredTypes`)

[2021-10-26 06:22] rfranzke commented on #4888
Sounds good to me, thank you!

[2021-10-26 06:28] timebertt commented on #4888
Thanks for the detailed proposals @ialidzhikov. I like it!

One question as an additional consideration:
If we would go for multiple provider types, i.e. `SecretBinding.provider.types[]`, could we still use a field-selector like `provider.types==aws` to optimize our watches and caches?
Is that supported by the API server (library)?

[2021-10-26 07:01] rfranzke commented on #4380
/assign @shafeeqes
/in-progress

[2021-10-26 07:10] timuthy commented on #4888
Sounds good, thanks @ialidzhikov

Some additional thoughts:
- `provider.type` must probably become immutable.
- > Obviously Shoot provider type (aws, gcp, ...) is different from DNS provider type

  For convenience and better user-experience we can think about an internal mapping or raise a requirement for the DNS extensions to also support simple provider names like `aws`, `gcp`, etc.
- We can de

[2021-10-26 08:13] ialidzhikov commented on #4888
In the ToSelectableFields func we could join the provider types with a separator (",").
 https://github.com/gardener/gardener/blob/5095f22a8797327aaf65fc6061c951b14dadf742/pkg/registry/core/shoot/strategy.go#L175-L187

But my assumption is that if a SecretBinding has multiple providers, then you will be able to select the obj via field selector only if you provide all types (but not only a single

[2021-10-26 09:00] timebertt commented on #4888
Thanks for checking the details, @ialidzhikov  👍

From a quick look, it seems like there is only a field path defined for `status.podIPs` (probably for usage in downward API), but it's not a selectable field: https://github.com/kubernetes/kubernetes/blob/45ce2dfacc87297f69d18245d5255e6e183d63d1/pkg/registry/core/pod/strategy.go#L317-L322
From what I saw in the kube libraries, it doesn't seem to be

[2021-10-26 09:06] voelzmo commented on #4895
/assign

[2021-10-26 11:23] timuthy commented on #4888
Hm why not? We could only allow updates if the previous value is empty, or am I missing something?

Hm, but this controller is only supposed to maintain the `spec.type` of the `SecretBinding`, right?
My proposal was related to a shoot creation. Image you created a handful of `SecretBinding`s with correct `spec.type` and then you create `Shoot`(s) that refer to those `SecretBinding`s. Then again, t

[2021-10-26 15:39] vlerenc opened #4916 "Please describe version skew policy between Gardener components"
**What would you like to be added**:
Documentation, much like https://kubernetes.io/releases/version-skew-policy, that describes the allowed version skew between Gardener components, e.g. `gardener-apiserver`, `gardener-controller-manager`, `gardener-scheduler`, `gardenlet`s in self-managed seeds, etc.

**Why is this needed**:
For operators to understand how/when they need to update Gardener compo

[2021-10-27 10:05] ialidzhikov commented on #4888
To preserve backwards compatibility for SecretBindings that are used for multiple providers the proposal allows multi-values for the provider.type field - for example `provider.type=aws,gcp`. There is actually the following case - if you have an AWS Shoot that is using SecretBinding `foo`, GCM will update `foo` with `provider.type=aws`. If after 1 week you create a new Shoot with provider GCP and

[2021-10-27 11:43] timebertt opened #4921 "[Flaky Test] Root CA Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`Root CA Controller Integration Test Suite` (introduced with https://github.com/gardener/gardener/pull/4832) seems to be flaky.
There were several failures in our pipelines during the past days.

**CI link**:

https://concourse.ci.gardener.cloud/builds/16207589#L6170de68:539
<details>
<summary>Lo

[2021-10-27 12:54] timebertt commented on #4251
I look into this and played around with it a little bit. The result:

- current implementation doesn't prevent the process from exiting, if items are left in the queue or workers have not finished yet
- too much effort to fix current implementation
- could remove it now in favor of graceful termination feature, that we will get with native c-r controllers
- but it also doesn't hurt, so let's keep

[2021-10-27 13:13] voelzmo commented on #4874
/assign

[2021-10-27 15:02] rfranzke opened #4924 "Make `TokenInvalidator` and `ProjectedVolumeMount` usable for shoot cluster users"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
With https://github.com/gardener/gardener/pull/4817 and https://github.com/gardener/gardener/pull/4873 we are developing features that might be interesting for end-users for shoot clusters as well.
We should find a way to make them usable for those clusters so that they can benefit from the fu

[2021-10-28 07:22] timuthy commented on #4888
Thanks for clarifying the points above @ialidzhikov.

I got your point. OTOH, this is just an issue where we should also be willing to **collect** non-critical requirements that will otherwise be forgotten.

[2021-10-28 13:46] dguendisch opened #4932 "Avoid querying all extension admission webhooks"
**How to categorize this issue?**

/area high-availability
/area robustness
/kind enhancement

**What would you like to be added**:
Would be great if gardener had a mechanism to avoid having to query all admission webhooks on e.g. shoot creation.
Today on a given installation we have e.g. a bunch of them:
[code]

Now if we create a shoot e.g. for AWS, also the non-AWS webhooks are called, and if o

[2021-10-29 07:13] rfranzke commented on #4921
/assign

[2021-10-29 08:11] himanshu-kun opened #4937 "Shoot not allowed deletion if seed max capacity reached"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
A shoot was scheduled on a seed which had reached max capacity. When the shoot was marked for deletion by calling [this Delete](https://github.com/gardener/gardener/blob/d078fc86920925dd8d586ea343fef6c2e6378ac6/pkg/client/core/clientset/versioned/typed/core/v1beta1/shoot.go#L159) function , then the shoot deletion fai

[2021-10-29 13:45] #4655 closed, assigned to acumino

[2021-10-29 15:13] ialidzhikov opened #4944 "[Flaky Test] `Shoot Maintenance controller tests`"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`Shoot Maintenance controller tests`

**CI link**: https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-update-job/builds/178

**Reason for failure**:

[code]

It seems that there is a race on Shoot creation between the reconciliation that is enqueued by th

[2021-10-29 15:36] kon-angelo commented on #4834
I had the chance to dive a little bit deeper into that. First of all, looking for uses of the field in inside all repos I could trace the users of this field as follows:
+ gardener
+ calico extension
+ all provider extensions

Notable uses for the other repos (non-gardener/gardener):
+ The vsphere extension is the only one relying on this field to create the subnet for the nodes. In comparison all

[2021-11-01 08:03] ialidzhikov opened #4946 "Existing Shoot fails to be reconciled because of exhausted Secrets quota"
**How to categorize this issue?**

/area quality ops-productivity
/kind bug

**What happened**:
Existing Shoot cluster already has its Secrets created/synced in the Project namespace in the Garden cluster. Hence. gardenlet does not need to create any new secrets. But if the Secrets quota for the given Project is exhausted reconciliation of the existing Shoot fails with:

[code]

[code]

**What you

[2021-11-01 10:48] #4921 closed, assigned to rfranzke

[2021-11-01 18:01] himanshu-kun opened #4947 "Deletion flow for shoots sometimes deletes MCM before its finalizer is removed from the `cloudprovider` secret"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
For some clusters it was observed that MCM was deleted but its finalizer on the `cloudprovider` secret was still present.

**What you expected to happen**:
MCM should be given enough time to remove the finalizer from the `cloudprovider` secret before being deleted.

**How to reproduce it (as minimally and precisel

[2021-11-02 09:35] himanshu-kun opened #4948 "Expected Capacity of machine should be able to be passed down to worker resource"
**How to categorize this issue?**

/area autoscaling
/area usability
/kind enhancement
/kind api-change
/kind discussion

**What would you like to be added**:
* add a `expectedNodeAttributes` field to the `core.gardener.cloud/v1beta1.Machine`
* add `expectedNodeAttributes` field to the `extensions.gardener.cloud/v1alpha1.WorkerPool` which can be updated by gardenlet while creating worker resource

[2021-11-02 09:37] himanshu-kun commented on #4948
cc @rfranzke @AxiomSamarth
I want to discuss
* if the name `expectedNodeAttributes` is ok
* the types of CPU,GPU and particularly Memory is fine , or any other suggestions
* any other thoughts ,improvement tips or queries

[2021-11-02 10:23] AxiomSamarth commented on #4948
@himanshu-kun

The name `ExpectedNodeAttribute` looks good to me. I would prefer the same as the name would be consistent across custom resources (MachineClass uses the same name)

Regarding the Types, I think integer should be good for CPU & GPU. I do not see any fractional values in the machine catalogue for AWS/Azure. I will look for further comments by other senior colleagues.

So far so good.

[2021-11-02 13:27] stoyanr commented on #4947
/priority 3

[2021-11-02 14:13] stoyanr commented on #4916
/priority 3

[2021-11-02 17:55] stoyanr commented on #4947
Log messages from the worker deletion of one such cluster (in reverse order):

[code]

Note the 2 `{"kind":"Secret","log":"Mutating resource","name":"cloudprovider"` entries above. I believe the first one is actually the finalizer removal, while the second one is the finalizer addition, which happens already after MCM has been deleted.

I think the following happens:
* The worker controller is rep

[2021-11-03 05:40] vlerenc commented on #4617
We have more demand for such a feature in the meantime from big players, so it's no longer interesting just for Gardener itself (its seeds). Who would be most familiar with the subject matter to discuss?

Also, would it make sense to hold back #4741 until this one is sorted out? And should we close #1455 as duplicate (this one here is newer, but has more up-to-date information/links). Or would tha

[2021-11-03 06:14] shafeeqes opened #4956 "Bugs during testing after updating to MacOS Monterey"
**How to categorize this issue?**

/area testing
/kind bug

**What happened**:
[error.log](https://github.com/gardener/gardener/files/7465592/error.log)

Please see the error log file for more details.

**What you expected to happen**:

Expect `make test` to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

This error started after updati

[2021-11-03 06:52] timuthy commented on #4617
IIRC, @ialidzhikov wanted to take over. Is this still true?

Hm, I don't see a close relation between both issues. #1455 requests a configuration for end-users while this here solely addresses a compatibility problem for the `SeedKubeScheduler` feature.

[2021-11-03 06:57] vlerenc commented on #1455
@rfranzke @timuthy Given that with `v1.22` `KubeSchedulerConfiguration` in version `kubescheduler.config.k8s.io/v1beta2` is supported and not only we as in Gardener, but also other big players like to have out-of-the-box support for more scheduling strategies (in particular/specifically bin-packing), can we do something with reasonable effort?

(1) On the one hand, we could possibly offer a featur

[2021-11-03 08:02] plkokanov commented on #4727
I finally had some time to work on the issue and i'm currently testing my changes.

[2021-11-03 08:05] plkokanov commented on #4724
I just have a worry that this might cause a problem when #4584 is merged. I will have time to test it out today file a PR if there are no issues.

[2021-11-03 08:14] stoyanr commented on #4947
/priority 2

[2021-11-03 09:05] stoyanr commented on #4947
Updated the title and the description as I believe the issue is specific to MCM and its finalizer on the `cloudprovider` secret.

[2021-11-03 09:49] voelzmo opened #4957 "node-problem-detector should detect the correct logging on suse-chost"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:
The node-problem-detector has a hardcoded path to look for logs: https://github.com/gardener/gardener/blob/a71be722d3346a87ea58e15d3f2ef1b17a7e0b91/charts/shoot-core/components/charts/node-problem-detector/values.yaml#L18 but `journalctl` on suse-chost is configured to use `/run/log/journal` instead. Therefore,

[2021-11-03 10:01] vpnachev commented on #4957
I am wondering if https://github.com/kubernetes/node-problem-detector/pull/253 now automatically detects which path to use when `logPath` is not explicitly specified. If it is doing so, then additional hostPath volume needs to be mounted here https://github.com/gardener/gardener/blob/a71be722d3346a87ea58e15d3f2ef1b17a7e0b91/charts/shoot-core/components/charts/node-problem-detector/templates/daemon

[2021-11-03 11:00] rfranzke commented on #3501
/touch
/in-progress
/assign @majst01 @rfranzke @mwennrich

[2021-11-03 13:06] stoyanr commented on #4947
/assign

[2021-11-03 13:22] stoyanr commented on #4778
/assign

[2021-11-03 14:27] vlerenc commented on #1455
@timuthy, @ialidzhikov and I discussed the subject matter and @timuthy and I suggested in the end to introduce additional `kube-scheduler` profiles, at first only `most-allocated-node-scheduler` that configures the `NodeResourcesFit` plugin to `MostAllocated`. That should help with the most requested demand for a second scheduling profile and it will make things also simpler for us by allowing us

[2021-11-03 14:55] timuthy commented on #1455
There is one exception, though. We cannot get rid of the custom scheduler if we want to have it in soil clusters.

[2021-11-03 15:11] vlerenc commented on #1455
@timuthy True, but I was thinking, we don't really speak about lots of money here for soil clusters (or not-shooted seeds behind firewalls) as we have only few of them and every operator should try to avoid them. So, would we really keep that complexity just for that use case? Not sure it's worth it - I would drop it and reduce the complexity and accept the few bucks more we pay for the very few s

[2021-11-03 20:59] vpnachev opened #4964 "Invalid memory address or nil pointer dereference in ETCD component"
**How to categorize this issue?**

/area control-plane
/kind bug
/exp beginner

**What happened**:
[code]

**What you expected to happen**:
Optional fields to be validated before to be used here https://github.com/gardener/gardener/blob/29ffac5ed724458803b7748800e9de6f07c84f0a/pkg/operation/botanist/component/etcd/etcd.go#L198

**How to reproduce it (as minimally and precisely as possible)**:

**A

[2021-11-03 22:51] rfranzke commented on #4948
Personally, I find `expectedNodeAttribute` highly confusing when reading it. In your description you write "end user to provide the resources cluster autoscaler should consider when scaling a worker pool from zero". I don't see how `expectedNodeAttribute` fits here. Finding precise, short names is hard and I don't have a better proposal now, but maybe you can reiterate on that.

Why not use `resou

[2021-11-04 03:56] AxiomSamarth commented on #4948
@rfranzke Hey Rafael,

Thanks. Regarding the data type `resource.Quantity`, yes, this is thought through. You are correct. This shall be implemented using `resource.Quantity` but somewhere in new future.

Why?

Currently, the machine catalogue (like [here](https://github.com/gardener/autoscaler/blob/machine-controller-manager-provider/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go)) wh

[2021-11-04 06:28] himanshu-kun commented on #4948
Hi @rfranzke
Thanks for valuable inputs.
We'll try to come up with a more meaningful name other than `expectedNodeAttributes`
The second point abt using `resource.Quantity` now seem valid to us. Earlier we were skeptical to make the changes as that would have required changes in the CA level as well. But after discussion among ourselves we have decided to make the following changes

1. Change `exp

[2021-11-04 06:34] rfranzke commented on #4948
Thanks!

[2021-11-04 13:50] MartinWeindel commented on #4866
Regarding the shoot-dns-service extension: PR https://github.com/gardener/gardener-extension-shoot-dns-service/pull/63 was replaced by https://github.com/gardener/gardener-extension-shoot-dns-service/pull/90

[2021-11-04 13:58] stoyanr commented on #4838
In a team discussion we agreed that since the issue is fixed in `terraform` 0.15 (see hashicorp/terraform/issues/27452) it's best to upgrade to this version. Unfortunately it's not possible to do this in a single move, due to the terraform upgrade policy we should go through all intermediate versions (0.13 and 0.14) before we could upgrade to 0.15.

I already started this process with gardener/ter

[2021-11-04 14:19] vpnachev opened #4968 "Cloud config downloader is missing the API server address with DNS-less seed clusters"
**How to categorize this issue?**

/area usability robustness
/kind bug

**What happened**:
I have created a shoot cluster in a landscape where
- There is no internal domain secrets
- The DNS is disabled in the seed settings, `seed.spec.settings.shootDNS.enabled=false`
- It is irrelevant, but I also made sure the gardenlet is started with `APIServerSNI=false`

Effectively, the public IP of the `ku

[2021-11-04 15:31] stoyanr opened #4970 "[Flaky Test] Root CA Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`Root CA Controller Integration Test Suite`

**CI link**: https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-update-job/builds/185

**Reason for failure**:

[code]

[2021-11-04 19:25] MalteJ commented on #4453
Can we maybe create a WIP branch for IPv6, so we can work on multiple infrastructure providers in parallel?

[2021-11-05 11:05] ialidzhikov commented on #4964
Seen also with `gardenlet@v1.34.0`

[2021-11-05 11:12] stoyanr commented on #4838
/assign

[2021-11-05 12:25] thonacker opened #4973 "Add nameserver to worker nodes"
**How to categorize this issue?**

/area ops-productivity
/area usability
/kind enhancement

**What would you like to be added**:

It shoudld be possible to add DNS nameserver via Gardener to worker nodes. Currently we need to apply DaemonSets to change them.

**Why is this needed**:

Hyperscalers such as MS Azure and GCP are connected to internal networks. To resolve internal services like Docker

[2021-11-05 15:49] ialidzhikov commented on #1649
/close

[2021-11-05 15:49] #1649 closed, assigned to ialidzhikov

[2021-11-05 19:30] danielfoehrKn commented on #4726
We talked about that a custom `machineCreationTimeout ` probably does not make sense in the Shoot. There is only Gardener-system software on the node determining the speed until the node is READY. Hence, it makes little sense to add such configurability for users.
Therefore, no health check adjustments are made for this field.

[2021-11-08 07:29] #4964 closed, assigned to nobody

[2021-11-08 07:46] rfranzke commented on #4973
IMO there are too many examples where end-users might want to change specific settings on their nodes and Gardener cannot take care of all of them. I'd say that the `DaemonSet` approach is a good one.

[2021-11-08 08:06] timebertt commented on #4968
Thanks! Managed to reproduce it.
/accepted

[2021-11-08 10:23] voelzmo commented on #4956
Same issues here. Probably related to https://github.com/golang/go/issues/49138 and https://github.com/golang/go/issues/49149

[2021-11-08 11:32] ary1992 commented on #4504
/assign

[2021-11-08 12:08] ialidzhikov opened #4978 "Full terraformer Pod logs are no longer logged by the terraformer pkg"
**How to categorize this issue?**

/area ops-productivity usability
/kind bug
/kind regression

**What happened**:
After https://github.com/gardener/gardener/pull/3223, the terraformer Pod logs are no longer logged by the terraformer pkg.
#3223 changed the log calls from `logger.Info` to `logger.V(1).Info`:

https://github.com/gardener/gardener/blob/3262c48d5c76cc53b78b4af02d107656d67a4492/extensi

[2021-11-08 17:08] stoyanr commented on #4838
I tested with an AWS provider extension image from gardener/gardener-extension-provider-aws/pull/443 and I am no longer able to reproduce the issue by following the above steps. I see that the timeout of 5m is appropriately honored by `terraform` not only during the initial execution, but also during each subsequent execution. This confirms that upgrading terraform to 0.15 effectively fixes this i

[2021-11-08 17:15] stoyanr commented on #4838
I opened 3 different PRs for upgarding terraform to 0.13, 0.14, and 0.15 respectively:

* gardener/terraformer/pull/105
* gardener/terraformer/pull/106
* gardener/terraformer/pull/107

As can be seen from the PRs, I tested all 5 provider extensions with each one of them successfully, including updating from a state created with 0.12.31. I had to do some changes / adaptations for 0.13, but for 0.14

[2021-11-09 08:13] danielfoehrKn commented on #4948
Do I get this right, that these hardcoded resource values are only required for ScaleMP where the amount of memory not necessarily matches the instance type?

While having read the attached generic scale from zero approaches [and this comment](https://github.com/gardener/autoscaler/issues/27#issuecomment-910201951), I am still not quite sure why this has to be hardcoded in the Shoot resource.

The

[2021-11-09 08:24] AxiomSamarth commented on #4948
Hey @danielfoehrKn You are correct with respect to the ScaleMP use case. This is one of the use cases which, this scale from zero story is addressing. The primary use case, this is trying to solve is to make Cluster Autoscaler scale up the worker pool from zero (when there are 0 nodes in the worker pool)

I doubt, if we can achieve this for 'scale from zero scenario' because there will be no nodes

[2021-11-09 08:45] BeckerMax commented on #4956
For cross-reference: Issue with MacOS Monterey and gardener dashboard development: https://github.com/gardener/dashboard/issues/1125

[2021-11-09 09:05] shafeeqes commented on #4956
This seems to solve the issue:

https://github.com/golang/go/issues/49138#issuecomment-956313717

[2021-11-09 09:42] voelzmo commented on #4956
Can confirm that setting `export MallocNanoZone=0` before executing any `make` is a workaround. Happy upgrading, everyone! ;)

[2021-11-09 09:52] BeckerMax commented on #2120
Maybe we should reconsider adding this:
Kubernetes v1.22: alpha support for using swap memory, [ref](https://kubernetes.io/blog/2021/08/09/run-nodes-with-swap-alpha/).

I am unsure how high we want to prioritise this though. @vasu1124 Are stakeholders currently requesting this? How high is their pain in configuring it themselves? Is their current option (like running a privileged pod and enabling

[2021-11-09 09:55] #4947 closed, assigned to stoyanr

[2021-11-09 09:57] #4778 closed, assigned to stoyanr

[2021-11-09 10:08] #4380 closed, assigned to shafeeqes

[2021-11-09 10:11] #4727 closed, assigned to plkokanov

[2021-11-09 10:13] #4944 closed, assigned to nobody

[2021-11-09 13:04] rfranzke commented on #4970
/assign

[2021-11-09 13:15] #4724 closed, assigned to plkokanov

[2021-11-09 13:40] danielfoehrKn commented on #4948
Correct, but this could be reconciled by a controller in the MCM which has access to the Shoot API server in the Seed. The capacity could then be regularly written to the MachineClass.

[2021-11-09 14:12] himanshu-kun commented on #4948
The problem which ScaleMP colleagues were facing is that scale-from-one works for them perfectly but not scale-from-zero.
The solution you are proposing solves the aspect where the machineclass can be updated with the resources of the node.
But the problem will be that we don't have the node (or any similar node) already present to read the resources from, and MCM also creates the machine/node onc

[2021-11-09 15:03] rfranzke commented on #4948
@timebertt proposed to rather not expose this `expectedNodeAttributes` field in the `Shoot` API but only in the `extensions.gardener.cloud/v1alpha1.Worker` resource. This way, only scale-from-zero will be supported.
In order to support the ScaleMP scenario we could extend the `providerConfig` of the SuSE CHost extension (as initially proposed in https://github.com/gardener/autoscaler/issues/27#iss

[2021-11-09 15:34] #4970 closed, assigned to rfranzke

[2021-11-09 15:37] timuthy commented on #1455
I had a discussion with @rfranzke who provided some brackground und history about the scheduler configuration behind the `SeedKubeScheduler`.

Let me outline the benefits and drawbacks of the 3 options we have:

1. Shoot owner deploys a separate Kube-Scheduler into the shoot:
    ➕ Scheduler component and config is entirely controlled by shoot owner who know his application demands the best.
    ➕

[2021-11-09 16:17] #4968 closed, assigned to timebertt

[2021-11-09 16:36] rfranzke opened #4985 "Seed bootstrapping fails when `ManagedIstio` feature gate is disabled"
**How to categorize this issue?**

/area networking
/kind regression

**What happened**:
When `ManagedIstio` is disabled then the seed bootstrapping process fails since the `ext-authz-server` cannot be deployed.

**What you expected to happen**:
Seed bootstrapping should run successfully (possibly, `ext-authz-server` should not be deployed in such cases?)

**How to reproduce it (as minimally and p

[2021-11-09 16:37] vlerenc commented on #1455
@timuthy @rfranzke Yes, whatever it's worth, I am still in favour of 2), because:
- It is easy to offer (minimal effort on our end)
- It is easy to consume (minimal effort on customer end), so it's the sweet spot
- Yes, it's opinionated, but there are not many options when it comes to `NodeResourcesFit` specifically or the subject matter in general (for instance, Swarm had only `spread`, `random`,

[2021-11-09 16:37] rfranzke commented on #4985
cc @DockToFuture @ScheererJ - could you take a look? I guess it was introduced with #4434

[2021-11-10 06:53] timebertt commented on #4948
Side-question: is there actually a need to support scale-from-zero for the ScaleMP scenario? I have the feeling, that we are overdoing it because of an edge case (?). I feel like, it would probably be acceptable to simply only support scale-from-one for ScaleMP, because it is anyways not widely used (not at all?)?
I might be wrong, so I'm asking to clarify this :)

[2021-11-10 07:16] timebertt commented on #2829
Thanks @timuthy for adding your opinion here. I like b) as well.

I recently learned, that kubebuilder actually uses kube-rbac-proxy for securing the metrics endpoints etc. by default: https://book.kubebuilder.io/reference/metrics.html#protecting-the-metrics
So I think, b) should be a safe bet :)

[2021-11-10 09:21] timuthy commented on #1455
Thanks for the points @vlerenc. Although I was very much in favor of 2) in the beginning, I tend to think that the minimal effort of 2) will be a fallacy and will put a lot of stress on dev and ops on our side because:

Being opinionated about this very crucial component will become the # 1 reason for hot-fixes. We ship a 80% ratio profile, then users will make use of it and realize that 80% break

[2021-11-10 10:22] ashwani2k commented on #4948
I would like to pitch in here as I was involved in some of the initial discussions around the requirement.
For worker pools with XXL type machines, scale to zero is very important to save costs.
If I understand correctly, the biggest value preposition of ScaleMP is to expand instance memory of the provisioned XXL type machines to get even more out of them. So not able to support scale from zero wi

[2021-11-10 12:14] vlerenc commented on #1455
@timuthy I think, you are a bit too pessimistic/exaggerating here. Put that into relation to the effort spent already:
- Big players asking again and again and we repeat this conversation ad nauseam was wasteful so far - personally, I want that to end
- We implementing the custom seed scheduler instead of doing the rational thing that we always did in the past: no special treatment of us, i.e. if

[2021-11-10 12:47] rfranzke commented on #1455
I think there is no conclusion or decision yet - we just had a chat about the potential implementations and wanted to outline our results here.

For the time being we can certainly go with option 2 and there are many reasons to do so given that we are actually busy with other topics. However, for me personally, the major concern with this approach is that we don't have experience with bin-packing

[2021-11-10 15:13] danielfoehrKn commented on #4948
For me, that sounds good :)

[2021-11-10 17:30] #4985 closed, assigned to nobody

[2021-11-10 18:55] vlerenc commented on #1455
@rfranzke OK, the goal is not to implement the feature and then throw it over the fence. The goal is to implement it and use it ourselves and then give it to the stakeholders. Many will need time to upgrade until v1.22, so it's months out. And of course, if we see already issues with the plugin and it's not working as expected, it's a showstopper. Most likely though, we will have run in poor `requ

[2021-11-11 08:19] rfranzke opened #4995 "Using the `unmanaged` DNS provider does not work"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
When creating a shoot with the `unmanaged` DNS provider (setting `.spec.dns.providers[0].type=unmanaged`) it fails with:

[code]

**What you expected to happen**:
Shoot creation should succeed.

**How to reproduce it (as minimally and precisely as possible)**:
See above

**Anything else we need to know?**:
Do we still

[2021-11-11 08:44] timuthy commented on #4995
/assign

[2021-11-12 07:03] #4889 closed, assigned to voelzmo

[2021-11-12 07:07] #4577 closed, assigned to nobody

[2021-11-12 09:08] timebertt commented on #4139
Let's close this as https://github.com/gardener/gardener/issues/3962 has been fixed a long time ago.
I think, we should rather refactor the error code handling entirely and not rely on such generic regexes. But this is a much larger topic and needs to be thought through before.
/close

[2021-11-12 09:08] #4139 closed, assigned to nobody

[2021-11-12 09:31] timebertt opened #5001 "cloud-config-downloader doesn't retry hyperkube pull if it failed"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:

We observed, that the `cloud-config-downloader` tried to pull the hyperkube image but failed because the docker daemon was not available.
After that, it wrote the image to the `/var/lib/cloud-config-downloader/downloads/hyperkube/last_downloaded_hyperkube_image` file and never retried the operation, thus the node ne

[2021-11-12 09:31] timebertt commented on #5001
/assign

[2021-11-15 07:28] stoyanr commented on #4776
/assign

[2021-11-15 07:28] stoyanr commented on #4286
/assign

[2021-11-15 07:39] stoyanr commented on #4660
/unassign

[2021-11-15 07:40] stoyanr commented on #4659
/unassign

[2021-11-15 08:07] ialidzhikov commented on #1455
In the handover with Martin V. we talked about this issue that we hit on a large landscape. The issue was that when the `SeedKubeScheduler` feature gate was enabled, control plane Pods were still scheduled on instances that already hit their volume attachment limit on the infrastructure. We suspect that it might be an issue with the aws-ebs-csi-driver itself. Still, it might be also an issue relat

[2021-11-15 08:10] timuthy commented on #1455
Thanks a lot for the insights @ialidzhikov 👍 Does it make sense to document these points and track the progress in #4741?

[2021-11-15 08:11] #4973 closed, assigned to nobody

[2021-11-15 08:12] rfranzke commented on #4937
/close since it was fixed with https://github.com/gardener/gardener/pull/4911

[2021-11-15 08:12] #4937 closed, assigned to danielfoehrKn

[2021-11-15 08:14] rfranzke commented on #4855
I think changes similar to #4282 would be needed. Any contribution is welcome!

[2021-11-15 08:26] ialidzhikov commented on #1455
I now updated the description of #4741 with the points that we discussed back then.

[2021-11-15 08:28] rfranzke commented on #4826
/cc @ScheererJ @DockToFuture

[2021-11-15 08:29] rfranzke commented on #4735
@vlvasilev Did you have a chance to check?

[2021-11-15 08:31] rfranzke commented on #4736
Is this really needed? This container is just doing minimal work and very likely will never be required to auto-scale. 👀

[2021-11-15 08:32] rfranzke commented on #4846
I think what @stoyanr makes sense and there is nothing to do on our end, so
/close

[2021-11-15 08:32] #4846 closed, assigned to nobody

[2021-11-15 09:28] BeckerMax commented on #4514
as discussed in the quality focus meeting:
As this deals with a corner case (during initial cluster creation), it has a relatively easy fix (retrigger cluster recreation) and it was reported only once we decided to close this issue. Please reopen if we see this more often.

/close
cc @rfranzke @timebertt

[2021-11-15 09:28] #4514 closed, assigned to nobody

[2021-11-15 09:36] BeckerMax commented on #4570
probably related to parallel execution. Consider using sequential execution if not able to find the root.
/assign
/priority 2

[2021-11-15 09:37] BeckerMax commented on #3470
/priority 4

[2021-11-15 09:38] BeckerMax commented on #4239
/priority 3

[2021-11-15 09:45] BeckerMax commented on #4646
consider looking at vpn-shoot which uses helm charts which use immutable.
/priority 3
/assign

[2021-11-15 09:47] BeckerMax commented on #4730
/priority 4

[2021-11-15 09:57] BeckerMax commented on #4957
According to the comment above it could be a low hanging fruit to fix it. But needs to be validated.
/priority 4

[2021-11-15 10:01] BeckerMax commented on #4946
/priority 3

[2021-11-15 10:03] timebertt commented on #4736
VPA seems to recommend resources and apply them on Pod creation.
However, if VPA is not enabled, there are no resource requests in the Pod spec.
But I don't remember if this caused an actual issue.

[2021-11-15 10:43] BeckerMax commented on #4736
Following on the discussion in the Quality focus meeting:
- This container itself is minimal and should never need autoscaling.
- If VPA is enabled resource requests are attached. Therefore, the pod will be scaled.
Consequently, can we close the issue then?

[2021-11-15 14:56] timebertt commented on #4736
But I don't remember if this caused an actual issue.

With this,
/close

[2021-11-15 14:56] #4736 closed, assigned to nobody

[2021-11-16 09:34] #4630 closed, assigned to nobody

[2021-11-16 13:18] #4978 closed, assigned to ialidzhikov

[2021-11-16 15:39] vlerenc commented on #4948
@timebertt As far as I understand and @ashwani2k also confirmed, scale-from/to-zero is a cost saving topic for certain big players. These are the same big players that also require ScaleMP to get even more out of their already expensive machines.

@AxiomSamarth In regards to `expectedNodeAttributes`, I believe I expressed also doubts about that field name in one of our syncs, but I don't mind too

[2021-11-16 16:30] timebertt commented on #4948
I'm still wondering whether these big players will actually scale their worker pools with these expensive machines to zero. Because I would expect that for development / evaluation use cases, where you might want to scale to zero, they surely wouldn't use these expensive machines and rather default machine types, which would already support scale-to/from-zero out of the box.

[2021-11-17 08:00] timebertt opened #5024 "Local provider extension"
**How to categorize this issue?**

/area dev-productivity testing open-source
/kind enhancement

## What? 💡

We would like to have a Gardener extension that implements the [Gardener Extension contract](https://github.com/gardener/gardener/blob/master/docs/extensions/overview.md) ([GEP-1](https://github.com/gardener/gardener/blob/master/docs/proposals/01-extensibility.md)) without requiring any ext

[2021-11-17 08:00] timebertt commented on #5024
/assign @rfranzke @timebertt
/in-progress
/roadmap internal
/milestone 2021-Q4

[2021-11-17 13:43] danielfoehrKn commented on #4856
It has been decided that landscaper components should rotate certificates themselves. This is because it is hard to build a central service that knows how to rotate certificates and store them in the appropriate location (e.g APIService) for each component.

At least the control plane component is built to include such a flag. However, it would be probably nice to have a flag for all components so

[2021-11-17 14:13] danielfoehrKn commented on #4856
The user must make sure that the old certificate is not imported on the next execution. Otherwise: regeneration loop

The most straightforward solution currently seems to me to make it the "users" responsibility to supply the rotated certificates in the import configuration for the next execution.
Each landscaper component should specify in its export configuration whether a certificate has been r

[2021-11-17 16:40] #5001 closed, assigned to timebertt

[2021-11-17 21:29] vpnachev commented on #4084
/remove lifecycle/stale

[2021-11-18 10:22] vlerenc commented on #3501
P.S.: Only briefly touched in the ticket description and not strongly related, but from out-of-band communication, it seems possible to offer in-place upgrades of minor versions as well, right? I don't think a ticket exists yet for that, right?

[2021-11-18 10:26] rfranzke commented on #3501
From https://kubernetes.io/releases/version-skew-policy/#kubelet-1:

[2021-11-18 10:35] majst01 commented on #3501
This is an issue our customers also often raise, but i am currently strong against such a possibility because:
- as @rfranzke already pointed its not supported
- even if technically possible, beside being supported, will end in a cat like k8s cluster usage which i strongly discourage

[2021-11-18 10:44] vlerenc commented on #3501
Ha, I never noticed. Thanks for sharing @rfranzke. That's an excellent argument and I agree of course @majst01. Some kind of chaos engineering, at least every 4 months, certainly helps the apps to not get too lazy/complacent.

Also, it helps to get a clean slate now and then and fight drift, which is also from security perspective helpful (at least every 4 months a potential attacker has to vacate

[2021-11-19 07:36] BeckerMax commented on #4946
/assign

[2021-11-19 11:52] stoyanr commented on #4838
Closed by mistake, reopening.

[2021-11-22 06:43] BeckerMax commented on #4946
Thank you very much @ialidzhikov for this super helpful issue description!

[2021-11-22 07:30] #4776 closed, assigned to stoyanr

[2021-11-22 09:26] BeckerMax commented on #4570
/unassign
implemented a workaround in https://github.com/gardener/gardener/pull/5020. We need to continue to observe whether this still happens.

[2021-11-22 09:37] rfranzke commented on #4932
/priority 4

[2021-11-23 06:20] BeckerMax commented on #4946
the proposed solution in https://github.com/gardener/gardener/pull/5051 did not work and there needs to be more investigation done to solve this issue.
For a possible way forward see https://github.com/gardener/gardener/pull/5051#discussion_r753993049
/unassign

[2021-11-23 07:26] #4286 closed, assigned to stoyanr

[2021-11-23 09:04] #4396 closed, assigned to nobody

[2021-11-23 10:18] rfranzke commented on #4872
/area monitoring
cc @istvanballok

[2021-11-23 12:15] mganter commented on #4453
There is a public repo, where the dual stack gep is edited.

you can find it here: https://github.com/AndreBorrmann/gep_wip

[2021-11-24 16:09] #4826 closed, assigned to nobody

[2021-11-24 16:19] ialidzhikov opened #5064 "cluster-autoscaler cannot count migrated PVs and cannot scale up on `exceed max volume count`"
**How to categorize this issue?**

/area quality auto-scaling
/kind bug

**What happened**:
cluster-autoscaler cannot count migrated PVs -> cannot scale up on `exceed max volume count`. Pod(s) hangs forever in Pending state.

**What you expected to happen**:
cluster-autoscaler to properly count migrated PVs and to scale up appropriately on scheduling failures with reason `exceed max volume count`.

[2021-11-24 16:23] ialidzhikov commented on #5064
/cc @AxiomSamarth @himanshu-kun

[2021-11-24 16:52] AxiomSamarth commented on #5064
@ialidzhikov I think there is a similar issue on upstream autoscaler.

- [Link to issue](https://github.com/kubernetes/autoscaler/issues/2806)
- [Also this](https://github.com/kubernetes/kubernetes/issues/93186)

I will some time around this to understand the reason and to find a solution if any tomorrow. In the meantime, these links can be of some help to you.

[2021-11-24 17:01] ialidzhikov commented on #5064
I am not super convinced that these are the same issue. We are not applying any custom max volume limit or any custom scheduling config (is this even possible/supported?). I think the default volume limit and the default scheduling config are used.

PS. If it is really not possible to apply a custom scheduling config to the cluster-autoscaler, then this sounds like yet another blocker issue for #4

[2021-11-24 17:08] AxiomSamarth commented on #5064
Yes, AFAIK, custom scheduling configurations are not possible in CA. It runs the default ones. Also, it does not interact with the actual scheduler binary running in the cluster, instead imports some of the scheduling codes and runs it within CA simply to simulate pod schedulability. So, there are high chances that the behaviour of CA & Scheduler may vary.

[2021-11-25 07:17] rfranzke commented on #4855
/assign @shafeeqes

[2021-11-25 10:04] rfranzke commented on #4606
Work has been started and pushed to https://github.com/timebertt/gardener/tree/enh/encrypted-resources.

[2021-11-25 17:27] danielfoehrKn commented on #4856
This issue contains brainstorming regarding certificate rotation for landscaper components.
There does not seem to be any traction/discussion happening.
So for now, I regard the control plane component as the "reference component" of how certificate rotation should be implemented for landscaper components.

Hence, this issue can be closed once the linked PR is merged.

Further, I would use an etcd

[2021-11-25 17:32] danielfoehrKn commented on #5024
You might consider using the landscaper control plane component once it is ready & has a local `make` script.
It can be used completely local without any landscaper deployment and requires only a minimal configuration file (will do all the cert generation automatically). It also just wraps the control plane helm chart.

[2021-11-25 18:56] himanshu-kun commented on #5064
@ialidzhikov  I think the default scheduling config is not used because
* gardener CA is inline with upstream CA v1.20 which uses scheduler v1.20
* the `CSIMigrationAWS` feature gate is not enabled by defualt in scheduler v1.20 as per [this doc](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#:~:text=1.14-,CSIMigrationAWS,1.17,-CSIMigrationAzureDisk) but you have e

[2021-11-26 06:45] timebertt commented on #5024
We already have a mechanism in place for that (yes, the list is not exhaustive). Also it's not just about deploying, it also about the prerequisites: building the images and loading them into the cluster.
We now use skaffold for this, because it is able to orchestrate the full chain from image build to deployment.

[2021-11-26 09:22] shafeeqes commented on #2754
(**In progress**) Refactor `nginx-ingress` Helm chart into component

[2021-11-29 07:32] ialidzhikov opened #5082 "SeedAuthorizer: Do not allow `DELETE` for BackupBuckets unconditionally"
**How to categorize this issue?**

/area quality security
/kind bug

**What happened**:
From the current handling in the SeedAuthorizer, it seems that it always allows `DELETE` verbs and does not perform relationship checks.

https://github.com/gardener/gardener/blob/3678f65531c172e56fffc65d7c27d82559203513/pkg/admissioncontroller/webhooks/auth/seed/authorizer.go#L107

**What you expected to happe

[2021-11-29 07:53] ialidzhikov opened #5083 "SeedAuthorizer: Do not reject `DELETE` requests if the obj is not found (?)"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
In many places in our code we use the strategy "delete and ignore not found errors". But such delete request can be denied by the SeedAuthorizer with reason `no relationship found between seed 'foo' and this object`. That's why to prevent this issue we have to switch to a strategy "get and del

[2021-11-29 08:41] AxiomSamarth commented on #5064
Any fresh inferences or conclusions arrived at wrt this issue?

[2021-11-29 09:45] rfranzke commented on #5083
/assign

[2021-11-29 09:45] rfranzke commented on #5082
/assign

[2021-11-29 11:58] rfranzke opened #5085 "gardenlet uses "ambiguous" client certificate in nodeless development setup"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
In the nodeless development setup, the gardenlet uses a kubeconfig containing a client certificate with the "ambiguous" user name:

[code]

This file is maintained here: https://github.com/gardener/gardener/blob/master/hack/local-development/local-garden/kubeconfigs/gardenlet.conf

This is an

[2021-11-29 11:59] rfranzke commented on #5085
/assign

[2021-11-29 13:19] rfranzke commented on #5082
Support for `BackupBucket` resources in the seed authorizer was initially added with #3884. In this PR, `delete` was not "always allowed", however, this was changed with https://github.com/gardener/gardener/pull/4111/commits/458b130c1dc92e2f174f54ff9367aff4cee01420, probably to work around #5083.

We could now do something similar to #5066, but let me look into #5083 first to check if this can be

[2021-11-29 15:31] rfranzke opened #5090 "Drop "ambiguous" handling in SeedAuthorizer"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
After https://github.com/gardener/gardener/issues/4078 gardenlets can only be responsible for exactly one seed, so there is no need to keep the special handling for "ambiguous gardenlet"s in the seed authorizer anymore (ref https://github.com/gardener/gardener/blob/master/docs/deployment/garde

[2021-11-29 15:32] rfranzke commented on #5090
/assign

[2021-11-30 05:24] vlerenc commented on #2590
/remove rotten
/add critical

It seems a good idea to improve here, because:
- We have had issues of starvation already and they are generally hard to analyse
- We may not be able the increase utilisation/go on with pod bin-packing #1455

[2021-11-30 05:59] vlerenc commented on #1455
Thanks @ialidzhikov, so these are the dependencies for this ticket (more specifically, bin-packing as a feature):
- https://github.com/gardener/gardener/issues/5064
- https://github.com/gardener/gardener/issues/2590

[2021-11-30 06:55] vlerenc commented on #5064
@ialidzhikov I wouldn't say blocker, but it's generally bad. Reasoning:
- When we speak about #1455 (I would probably rather drop the current custom scheduler code behind #4617 and map #4741 to #1455 if we anyway offer that for end users), we will offer it as alpha feature anyway for certain "big players" and they can test their scenarios specifically before going (or not going) for this feature.

[2021-11-30 07:05] vlerenc commented on #5064
@himanshu-kun @AxiomSamarth How can we help to make this "bug" disappear and go on with the bin-packing feature that will probably safe all users tons of money and help reduce the ecological footprint the default spread scheduling has?

Yes, I got that it's not really a proper bug (from @himanshu-kun analysis in https://github.com/gardener/gardener/issues/5064#issuecomment-979424468), because it's

[2021-11-30 07:48] #4855 closed, assigned to shafeeqes

[2021-11-30 07:58] voelzmo commented on #4110
Deprecation of docker as container runtime is completed. We created a few tasks are about being able to produce OS images without docker runtime support and other things which might be helpful, but those will be tackled outside this epic.

[2021-11-30 07:58] #4110 closed, assigned to voelzmo, BeckerMax

[2021-12-01 06:58] rfranzke opened #5102 "☂️-Issue for "Support for Kubernetes v1.23”"
/area open-source
/kind enhancement
/priority 3
/topology garden seed shoot

Kubernetes v1.23 is about to be released (CW49), find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md

Work can be started and pushed to the [`kubernetes-v1.23`](https://github.com/gardener/gardener/tree/kubernetes-v1.23) branch. There should be similar branches in the

[2021-12-02 07:28] #4043 closed, assigned to nobody

[2021-12-02 07:29] rfranzke commented on #3652
It seems this issue is no longer relevant, shall we close it?

[2021-12-02 07:32] rfranzke commented on #3598
We pretty much implement this as part of #4661, so let's
/close
this issue in favor of it.

[2021-12-02 07:32] #3598 closed, assigned to nobody

[2021-12-02 08:10] rfranzke commented on #3534
Should we close this in favor of #5024?

[2021-12-02 08:10] rfranzke commented on #3629
/close since the issue is open for long with any attention or clear action how to proceed

[2021-12-02 08:10] #3629 closed, assigned to nobody

[2021-12-02 08:14] rfranzke commented on #4323
@christianhuening Can you follow up here?

[2021-12-02 08:14] berendt commented on #3534
Makes sense to me.

[2021-12-02 08:15] rfranzke commented on #4329
/close since this document was dropped

[2021-12-02 08:15] #4329 closed, assigned to nobody

[2021-12-02 08:17] rfranzke commented on #4511
@abdasgupta @timuthy Do you still plan to have such feature gate? In the recent PRs, I think etcd backup compaction can be configured via gardenlet configuration, is this enough?

[2021-12-02 08:20] rfranzke commented on #4599
@ScheererJ @DockToFuture Would you like to have a look here?

[2021-12-02 08:24] timuthy commented on #4511
Thanks for reminding @rfranzke. You're right, we discussed this option internally and decided to go with the typical options instead of introducing a feature gate because they usually come with a graduation plan, i.e. the feature gate itself will eventually be removed again. But compaction should be turned on/off by operators if they see demand for it, so it's independent from the graduation state

[2021-12-02 08:24] timuthy commented on #4511
/close

[2021-12-02 08:25] #4511 closed, assigned to abdasgupta

[2021-12-02 08:29] rfranzke commented on #4511
Great, thank you!

[2021-12-02 08:32] voelzmo commented on #4956
Maybe this will fix it instead of us having to workaround, let's see: https://go-review.googlesource.com/c/go/+/367916/

[2021-12-02 12:02] timebertt opened #5109 "Prevent addition of "unwanted" package references"
**How to categorize this issue?**

/area dev-productivity usability
/kind enhancement

**What would you like to be added**:

A verification tool and step, that prevents addition of "unwanted" package references. For example, unwanted references would be:
- `pkg` -> `extensions`
- `pkg/apis` -> `pkg/operation`
- `extensions`, `pkg/apis`, and similar -> `third_party`
- etc.

**Why is this needed**:

[2021-12-02 16:39] ialidzhikov commented on #4599
/assign @ScheererJ @DockToFuture

[2021-12-03 06:47] timebertt commented on #4948
/reopen
PRs are reverted with https://github.com/gardener/gardener/pull/5113

[2021-12-03 09:04] #3534 closed, assigned to nobody

[2021-12-03 12:32] #4874 closed, assigned to voelzmo

[2021-12-03 12:35] #5085 closed, assigned to rfranzke

[2021-12-03 12:35] #5082 closed, assigned to rfranzke

[2021-12-03 12:35] #5083 closed, assigned to rfranzke

[2021-12-03 15:47] christianhuening commented on #4323
@rfranzke yeah sorry for the delay. I am also not able to reproduce it. We're on 1.33.1 now and it's working. I think we can close the issue.

Thank you!

[2021-12-03 15:47] #4323 closed, assigned to christianhuening

[2021-12-06 08:13] #4895 closed, assigned to voelzmo

[2021-12-06 09:46] voelzmo commented on #4254
We agreed that we're not going to fix this one, but rather wait until everyone is on k8s >= 1.22 where this issue goes away automatically (as there's no way to configure `nil` anymore).

[2021-12-06 10:07] voelzmo commented on #4415
Approaches we tried unsuccessfully
* give the osc a new name when CRI changes: #4289
  * We reverted this later with #4408 because of #4390
* Finding out if the node is about to be deleted by looking at the taints set by MCM:
[code]

But this doesn't work consistently as there's no guarantee that the taint will be visible before the OSC content is updated and seen by the script.

[2021-12-06 17:09] ialidzhikov commented on #4946
I created https://github.com/kubernetes/kubernetes/issues/106842 (still not sure whether this issue report can lead to a short-term mitigation/solution).

[2021-12-07 05:42] BeckerMax commented on #3652
/close

[2021-12-07 05:42] #3652 closed, assigned to BeckerMax

[2021-12-07 05:42] BeckerMax commented on #3652
Please reopen if there are more use cases for this change.

[2021-12-07 09:30] #5090 closed, assigned to rfranzke

[2021-12-07 12:24] rfranzke commented on #4916
/assign

[2021-12-07 13:15] ialidzhikov commented on #4575
Closing this one as all subtasks are now completed (3/3).

/close

[2021-12-07 13:15] #4575 closed, assigned to acumino

[2021-12-07 13:21] ialidzhikov commented on #5102
One minor comment wrt:

There was the agreement to start using the out-of-tree CCM for Azure starting with K8s v1.23 - ref https://github.com/gardener/gardener-extension-provider-azure/pull/376#issuecomment-957614686. In such case, I guess we can skip the update of gardener/cloud-provider-azure with v1.23.0 sources.

[2021-12-08 08:59] timebertt opened #5132 "Shoot can't be deleted with `UseDNSRecords=true` if it was never reconciled with `UseDNSRecords=false`"
**How to categorize this issue?**

/area control-plane-migration
/kind regression

**What happened**:

After upgrading to `gardener@v1.37.0`, Shoots fail to be deleted with `UseDNSRecords=true` if they were never reconciled with `UseDNSRecords=false` during the step `Waiting until main and event etcd report readiness`.

**What you expected to happen**:

Shoots should not fail to be deleted regardl

[2021-12-08 09:37] rfranzke commented on #4527
/unassign @petersutter

[2021-12-08 09:43] timebertt commented on #5132
cc @stoyanr

[2021-12-08 09:56] stoyanr commented on #5132
/assign

[2021-12-08 11:08] timuthy opened #5133 "Support additional SANs for Kube-Apiserver certificates"
**How to categorize this issue?**

/area control-plane
/kind enhancement

**What would you like to be added**:
Gardener creates Kube-Apiserver server certificates with required `CN` and `SAN` fields. It should be possible to configure additional [Subject Alternative Names](https://support.dnsimple.com/articles/what-is-ssl-san/) that are considered during shoot creation.

[code]

I don't consider t

[2021-12-08 15:05] ialidzhikov commented on #4578
/assign

[2021-12-09 04:00] briantopping commented on #5024
Great stuff, thanks Tim! Love that this works on Mac! A couple items on Apple Silicon:
* Install Rosetta
* Manually copy the `amd64` version of Helm to `src/github.com/gardener/gardener/hack/tools/bin`. The Helm install script from their site tries to copy a `arm64` version of Helm, which does not exist.

[2021-12-09 07:16] #5132 closed, assigned to stoyanr

[2021-12-09 08:33] #4946 closed, assigned to nobody

[2021-12-09 13:30] ialidzhikov commented on #4578
I actually have some doubts on exactly how to proceed with this issue.

The first question that I asked to myself was "Is the NLB (hence the svc annotations) for the istio-ingressgateway for AWS a hard requirement, a recommended LB type or just an option that does not matter much?". [GEP-08](https://github.com/gardener/gardener/blob/master/docs/proposals/08-shoot-apiserver-via-sni.md) writes that

[2021-12-09 14:46] #4504 closed, assigned to ary1992

[2021-12-10 10:13] #4856 closed, assigned to nobody

[2021-12-10 10:23] donistz commented on #1433
OIDC configuration in the Gardener shoot clusters is owned by the shoot cluster owner. Gardner should not mess with a provider that is not controlled by it.

[2021-12-10 10:23] #1433 closed, assigned to mvladev

[2021-12-10 11:51] #4916 closed, assigned to rfranzke

[2021-12-13 11:01] rfranzke opened #5154 "Seed care reconciler for health checks of seed system components"
**How to categorize this issue?**

/area robustness monitoring
/kind enhancement

**What would you like to be added**:
Similar to the shoot care reconciler, let's add a seed care reconciler which maintains a new condition in the `Seed`'s `.status.conditions[]` field describing the health of the seed system components.

Since we strive towards using `ManagedResource`s for all of them as part of #27

[2021-12-13 11:07] rfranzke opened #5156 "Drop server certificates of internal components from `ShootState`"
**How to categorize this issue?**

/area scalability
/kind enhancement

**What would you like to be added**:
We generate quite some server certificates for internal components (e.g. https://github.com/gardener/gardener/blob/d30e55572880e35139bb5624319f01eaa5666c2c/pkg/operation/botanist/wanted_secrets.go#L196-L209) and could probably drop them from the `ShootState`. The purpose of the `ShootState`

[2021-12-14 08:59] timuthy opened #5157 "Inconsistent default values for ETCDConfig"
**How to categorize this issue?**

/area control-plane
/kind technical-debt

**What would you like to be added**:
The default values for [ETCDConfig](https://github.com/gardener/gardener/blob/master/pkg/gardenlet/apis/config/v1alpha1/types.go) in the `GardenletConfiguration` should be consistent which is currently not the case for `worker` configurations. For instance, if `ETCDConfig == nil` then

[2021-12-14 08:59] timuthy commented on #5157
@abdasgupta can you take care?

[2021-12-14 09:19] danielfoehrKn opened #5158 "Documentation: Images"
**How to categorize this issue?**

**What would you like to be added**:

Graphics used in the Gardener Documentation.

**Why is this needed**:

Some images can become very large (a couple of MB).
A lot of automation pulls the whole Gardener repository to checkout some helm charts etc. Hence, we do not want to
dramatically increase the repository size by adding pictures.

By letting Github "host" t

[2021-12-14 09:19] #5158 closed, assigned to nobody

[2021-12-14 09:26] danielfoehrKn commented on #5158
## Images used in the documentation for Gardener's use of [Projected Service Account Tokens](https://github.com/gardener/gardener/issues/4878).

![image](https://user-images.githubusercontent.com/33809186/145971279-6bd59f3c-3e78-476e-ad24-dcf3d46a6662.png)

![image](https://user-images.githubusercontent.com/33809186/145974258-1a5ad7bb-52a3-4a9e-9eef-738ddd2828b2.png)

![image](https://user-images.

[2021-12-14 15:27] ialidzhikov commented on #5064
- For this particular issue I created https://github.com/kubernetes/autoscaler/issues/4517. The issue was discussed yesterday in the SIG Autoscaling meeting. I will give a try to follow-up on this issue and check what needs to be done.
- While we talk about volume limits and scaling on volume limits, there is also https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1139 - volume limits ma

[2021-12-15 07:16] timebertt opened #5164 "`seed-*` namespace in garden is not cleaned up after seed deletion"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:

Seed `local` was deleted, but the namespace `seed-local` in the garden cluster was not cleaned up.

**What you expected to happen**:

The namespace to be cleaned up along with the seed itself.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Seed
2. Observe the namespace `seed-$name` to b

[2021-12-15 10:24] AxiomSamarth opened #5166 "Keep the `--ignore-taints` configurable at the Gardener."
**How to categorize this issue?**

/area auto-scaling
/kind enhancement

**What would you like to be added**:
Keep the [`--ignore-taints`](https://github.com/gardener/autoscaler/blob/2bf7dbe0a9dfe0a49f6c31186d17927cd0e3df26/cluster-autoscaler/main.go#L172) configurable at the Gardener.

**Why is this needed**:
NVIDIA GPU drivers are installed before GPU-using pods get scheduled to a node. We would

[2021-12-15 10:25] AxiomSamarth commented on #5166
/assign @AxiomSamarth

[2021-12-15 12:03] timebertt commented on #4717
Update on this:
- the way forward on this topic was discussed multiple times in different rounds
- long story short would be: we want to try out prow in order to get a better feeling of "maintenance effort" and value add. After a POC/experimentation phase we want to decide on the target picture based on our first hands-on experiences.

What already happened:
- we now have a (basic) initial prow se

[2021-12-16 07:59] stoyanr opened #5173 "Cleanup of shoot leftover resources"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement

**What would you like to be added**:
We should introduce a cleanup mechanism for leftover resources in a Seed cluster that once contained the control plane of a Shoot cluster that are no longer needed since the Shoot cluster has been meanwhile force restored to a different seed (see #5123), or force deleted. Such r

[2021-12-16 08:48] stoyanr commented on #5173
Basically what we need is a controller that implements cleanup logic similar to the following script: https://github.com/plkokanov/control-plane-cleanup/blob/master/migrate-resources.sh. We should clarify what resource such a controller reconciles and uses in order to report the progress and errors of a cleanup operation.

It should be noted that the original `Shoot` resource can't be used for thi

[2021-12-16 08:58] stoyanr commented on #5173
From the above approaches, I personally tend to favor the 3rd one (new resource kind). I consider it the most straightforward of the three, as it can be designed and implemented independently of the shoot controller by focusing only on the details relevant for implementing the cleanup properly, without affecting any existing implementation or logic. It is also the most flexible one, as it does not

[2021-12-16 09:40] vlerenc commented on #5173
Gut feeling would have been rather option #1 (no additional resource in the garden cluster). This feels, at least to me, more "encapsulated" (this topic concerns only the seed, so the seed should care and only the seed). The (old) seed cluster's job is to get rid of "stuff" that doesn't belong there. That's it's job, whether it's a deleted or migrated shoot. It contains "stuff", but the shoot is g

[2021-12-16 11:00] ialidzhikov commented on #5064
Wrt to the 1st issue from https://github.com/gardener/gardener/issues/5064#issuecomment-993657306, folks from the upstream community asked me to try out with latest cluster-autoscaler (that vendors K8s v1.23.0) because some of the CSI feature gates are enabled by default with K8s v1.23.0. How I am supposed to do this when our forked cluster-autoscaler vendors K8s v1.18? @AxiomSamarth @himanshu-kun

[2021-12-16 11:10] AxiomSamarth commented on #5064
Could you try these steps out locally on our Gardener fork (`machine-controller-manager-provider` branch) and rebase with latest upstream `master`? Steps are [here](https://github.com/gardener/autoscaler/blob/935bf3362d640b3b186748855c078b52db4c01f3/cluster-autoscaler/FAQ.md#how-do-i-get-the-latest-changes-from-master-onto-the-fork-of-autoscaler-on-gardener) & these steps are yet to be merged in t

[2021-12-16 13:26] ScheererJ commented on #4084
I would like to introduce the cluster proportional dns autoscaling as described in the [guideline](https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/) as an option next to the existing horizontal pod autoscaling of core dns. Both approaches have up- and downsides. While the former one takes the cluster size into account, the latter one considers the actual cpu load. Th

[2021-12-16 13:50] stoyanr commented on #5173
@vlerenc To your points: Even if we agree that "the topic concerns only the seed", it doesn't help with the above drawbacks. It will be hard to get visibility that something is happening or needs to happen, and what's the progress and any errors, and firing alerts for errors during cleanup seems a bit too much to me. With an additional resource, you can do e.g. `k get slo -A` and immediately see i

[2021-12-16 21:02] vpnachev opened #5176 "Automatically restart kube-apiserver deployment rollout when it is stalled"
**How to categorize this issue?**

/area robustness quality ops-productivity
/kind enhancement

**What would you like to be added**:
Automatically restart kube-apiserver deployment rollout when it is stalled.

We have seen a shoot which reconciliation was failing on the step deploying the kube-apiserver.
[code]

The shoot was in this state for more than 12 hours. When we checked the controlplane,

[2021-12-16 21:15] vpnachev commented on #4084
`shoot.spec.dns` is about the external address of the API of the cluster and also some DNS configurations for the requested hostname, i.e. it is not about the CoreDNS.

Personally, I think it should be in `shoot.spec.addons`.

[2021-12-17 03:52] vlerenc commented on #5176
Uh, that's ugly @vpnachev @Kristian-ZH . More patches for something that should work. Have others reported that as well? Since this went on for 12h it cannot be the leader election problem either, but maybe it started with that (and only then a bug in KCM prevented completion)?

[2021-12-17 06:55] rfranzke commented on #4084
I am with @vpnachev, though, maybe we should introduce a new section `.spec.systemComponents` and can have `.spec.systemComponents.coreDNS.autoscaling.mode: horizontal|cluster-proportional`. The `.spec.addons` section was always referring to optional components like k-dashboard or nginx-ingress. WDYT?

[2021-12-17 07:28] ialidzhikov commented on #5064
That's **disappointing**.
1. **What is the update/sync strategy for out forked CA?** Because the current strategy from your reply seems to be "we don't want to do it right now because it is painful".
2. **What is the versioning policy and compatibility promises of our forked CA?** Why we don't maintain a version for each and every K8s release? The upstream CA does this (https://github.com/kubernet

[2021-12-17 08:13] rfranzke commented on #5173
Thanks for the summary and pointing out the drawbacks 👍🏻 Reading all this, I tend towards option 3 as well, even though I initially had some mixed feelings about this `ShootLeftover` resource. Though, I don't have a better proposal at hand. Relying on the `Cluster` in the seed is a great idea, but the operation's status would indeed be intransparent and I never was a fan of only relying on alerts

[2021-12-17 08:23] timuthy commented on #5133
/close
In favor of https://github.com/gardener/gardener/pull/5177

[2021-12-17 08:23] #5133 closed, assigned to nobody

[2021-12-17 08:37] AxiomSamarth commented on #5064
It is painful, I agree. But, I beg to differ with you with respect to why we do not want to do it right now. It is not because it is painful, but because there is one important release around **scale to zero** which is awaited immediately. When we started working on CA a couple of months back and when we did, the first exercise we did was to rebase with the upstream to a version (or to a commit-ha

[2021-12-17 10:27] ScheererJ commented on #1218
We do not plan to implement this for the reversed VPN proposal. Meanwhile we have added an authorization server for the reversed vpn solution. It would be fairly straight forward to implement the filter there (https://github.com/gardener/ext-authz-server/blob/master/pkg/auth/v3/auth.go).
@janwillies Feel free to propose a corresponding change if you still need this.

[2021-12-17 12:28] Kristian-ZH opened #5180 "Add a check for intersection between nodes and pods CIDRs"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:
Currently it is possible the create a shoot cluster with the same IP ranges for nodes and pods, but this is not a correct configuration and the creation of the cluster will fail: [ref](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network)
[code]

Also there will be

[2021-12-17 12:51] vlerenc commented on #4084
Hmm... I have difficulties with this proposal in general. If you make it configurable, I see mostly downsides:
- We have the effort to offer that
- We have the burden to maintain both approaches
- We will be asked for a recommendation anyway, because how should people know
- We will be confronted with the statement that it's our responsibility to do it right (no other managed service provider offe

[2021-12-17 13:02] vlerenc commented on #5173
Hmm... I cannot agree with either of you, but that's OK.

Let me just add the following general thoughts:
- I am not arguing for alerts as solution, just as mitigation that is cheaper than an extra resource.
- I am generally not of the opinion we should create "planned work" for operators. That's just like "planned downtime". It should not be the case.
- We should strive for automation and instead

[2021-12-17 13:25] vlerenc commented on #5064
Sure @AxiomSamarth, the general statement/recommendation always is to finish topics before picking up new ones. So, let's get scale-to/from-zero done first before tackling something new.

@ialidzhikov Please don't rush with your statements. Often people have reasons.

[2021-12-17 14:58] ialidzhikov opened #5181 "gardenlet failed to reconcile a Shoot with reason `could not parse renew timestamp`"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
See below.

**What you expected to happen**:
Reconciliation to succeed.

**How to reproduce it (as minimally and precisely as possible)**:
1. I had a Shoot created with v1.38.0-dev and hibernated afterwards.

2. Updated to last master branch.

3. gardenlet fails to reconcile the Shoot with:

[code]

**Environment**:

-

[2021-12-17 16:31] christianhuening opened #5185 "Blackbox Reporter missing network policy label to be able to communicate with APIServer when Cilium is used"
**How to categorize this issue?**

/area monitoring
/area control-plane
/kind bug

**What happened**:
We have Cilium active as CNI in all our clusters. When enabling alerting via alertmanager we received a lot of alerts from shoots indicating they wouldn't be able to reach the api-server. It turned out that the blackbox-reporter pod was missing a network policy label to be allowed to talk to the a

[2021-12-17 16:42] rfranzke commented on #5185
Can you explain how this is related to reversed VPN?

[2021-12-17 16:44] christianhuening commented on #5185
🤔 it probably is not now that you say it. I thought that the alert check and network policy was special due to the fact the we have reverse vpn enabled and the connection is initialized from the shoot to the seed to begin with, but that has nothing to do with it AFAIK.

[2021-12-17 17:50] stoyanr commented on #5173
@vlerenc I personally do subscribe to every of the general statements above, it's just that I am not sure how exactly to implement the first approach while avoiding the issues that I mentioned.

Let me just point out that the existence of the extra resource doesn't mean that it has to be created manually in order for something to happen. For the "bad case" scenario, as part of the "fallback" the c

[2021-12-18 06:03] vlerenc commented on #5173
@stoyanr If you want, we can talk out-of-band. Maybe I didn't get the problem entirely. It's about "controller detects the need for cleanup by detecting the leftover resources in the seed directly", so all happens in the seed, but the decision depends on the "tracking information" in the garden cluster. You listed:

1. Progress and errors are not reported in a status, and therefore harder to track

[2021-12-18 15:31] stoyanr commented on #5173
@vlerenc Let's talk out-of-band. Just a few more comments:

It will be just such an implementation. However, "resilient" doesn't mean "always expected to eventually succeed, no matter what the current shoot state may be". I will write more about when it should be expected to succeed, as this needs to be specified / clarified independent of the current discussion.

What you described is just one po

[2021-12-19 14:32] ialidzhikov commented on #5064
I created the following issue (https://github.com/gardener/autoscaler/issues/107) with my expectations/proposal.

[2021-12-20 05:38] #5181 closed, assigned to rfranzke

[2021-12-20 09:12] rfranzke commented on #4742
/assign @shafeeqes @acumino @ary1992

[2021-12-20 10:19] ialidzhikov commented on #4578
No feedback on https://github.com/gardener/gardener/issues/4578#issuecomment-989854330, hence
/unassign

[2021-12-20 10:55] himanshu-kun commented on #4948
Hi Colleagues,
Earlier we had come to conclusion that user will be providing their desired capacity in [`image provider config`](https://github.com/gardener/gardener/blob/131fadc0875b7f35ceb7cc3b116bf1023b7304d0/pkg/apis/core/v1beta1/types_shoot.go#L1160) like [this](https://github.com/gardener/autoscaler/issues/27#issuecomment-910258051) and we'll be implementing a mutating webhook in `gardener-e

[2021-12-20 10:57] himanshu-kun commented on #4948
/reopen

[2021-12-20 11:02] timebertt opened #5188 "gardenlet does not wait for `Etcd`s to be scaled down in hibernation flow"
**How to categorize this issue?**

/area cost
/kind bug

**What happened**:

Shoot was hibernated, but the etcd pods remained in the shoot's control plane:
[code]

**What you expected to happen**:

- etcd statefulsets should be scaled down during hibernation. However, that seems to be an etcd-druid issue, as gardenlet correctly manipulated the `Etcd` resource as expected. Only mentioning it here f

[2021-12-20 12:00] timebertt opened #5189 "resource-manager excessively updates `shoot-access-cloud-config-downloader` Secret on creation"
**How to categorize this issue?**

/area robustness scalability
/kind bug

**What happened**:

During shoot creation, gardener-resource-manager excessively updated the secret `shoot-access-cloud-config-downloader` (more than 1000 times).

[code]

**What you expected to happen**:

The secret to be updated only if necessary? Well, at least not more than 1000 times.

**How to reproduce it (as minimal

[2021-12-20 14:01] timebertt opened #5191 "Configurable log level/format everywhere"
**How to categorize this issue?**

/area logging ops-productivity dev-productivity
/kind enhancement

**What would you like to be added**:

Currently, only components with a component config (controller-manager, scheduler and gardenlet) feature a configurable log level and format. apiserver is special as it uses the apiserver-library and inherits its log-related flags (`-v` and friends).

There ar

[2021-12-20 14:01] timebertt commented on #4803
Superseeded by https://github.com/gardener/gardener/issues/5191.

/close

[2021-12-20 14:01] #4803 closed, assigned to nobody

[2021-12-20 15:07] timebertt commented on #5024
All tasks for the first version of provider-local tracked in this issue are completed now.
Let's get some experience with it and enhance it further down the line.
Please open dedicated issues for improvements and bugs :)

/close

[2021-12-20 15:07] #5024 closed, assigned to rfranzke, timebertt

[2021-12-20 15:28] stoyanr commented on #4866
/assign @plkokanov

[2021-12-20 15:28] stoyanr commented on #4838
/assign @ialidzhikov

[2021-12-20 15:29] stoyanr commented on #5173
/assign
/assign @plkokanov

[2021-12-20 15:58] stoyanr commented on #5173
I would like to document my assumptions of when the new controller (independently if there is a new resource or not) should be expected to successfully cleanup the shoot leftover resources.

The controller should always be able to successfully cleanup the shoot leftover resources if the following conditions are met:

* The seed cluster is healthy, i.e. its `gardenlet`, `etcd-druid`, and all needed

[2021-12-20 16:37] ialidzhikov opened #5192 "`keep-after-project-deletion` annotation is wrongly added to the Project Namespace"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
`namespace.gardener.cloud/keep-after-project-deletion: "true"` is wrongly added to the Project namespace on Project creation that requests a new Namespace.

**What you expected to happen**:
`namespace.gardener.cloud/keep-after-project-deletion: "true"` to be not added to the Project Namespace.

**How to reproduce it (as

[2021-12-20 17:28] ialidzhikov commented on #5064
https://github.com/kubernetes/autoscaler/pull/4539 was merged, looking forward to gardener/autoscaler#107.

[2021-12-21 08:01] timebertt commented on #5173
I still strongly prefer the first approach mentioned above: only rely on the `Cluster` resource for detection and don't report into the garden cluster.

This is because:
- We agreed that the cleanup mechanism should be a "best effort" mechanism that can help operators in cases we can foresee (currently that's only the forceful migration), but not in all cases. So let's not discuss cleanup of state

[2021-12-21 08:10] rfranzke commented on #5173
Thanks for further opinions! I think there are many valid/reasonable points. As proposed and as a compromise for the time being, shall we go ahead with the less complex first approach for now and get our feet wet/get some experience? Introducing a dedicated resource in the Garden API can always be done later with (probably?) relatively manageable effort.

[2021-12-21 08:34] ialidzhikov opened #5197 "Code generation is required after release"
**How to categorize this issue?**

/area quality delivery
/kind regression
/kind bug

**What happened**:
After https://github.com/gardener/gardener/pull/5115 , `make check-generate` after a release will fail because the provider-local ControllerDeployment/ControllerRegistration is not up-to-date (ref https://github.com/gardener/gardener/pull/5115#discussion_r771513464).

**What you expected to hap

[2021-12-21 08:35] rfranzke commented on #5197
/assign

We decided to not render the version into the `ControllerRegistration` for provider-local but just the static `latest` tag. This way, no generation is needed on release.

[2021-12-21 08:44] stoyanr commented on #5173
@timebertt Thanks for your feedback. Let me reiterate a few basic points:

* My intention is to propose a mechanism that works in general, not just for shoots that could not be migrated and had to be forcefully restored.
* If the problematic situation on the old seed is a persisting one, the cleanup should not be expected to work no matter how we implemented it, and we likely have a bigger problem

[2021-12-21 09:09] timebertt commented on #5173
A few short replies to "defend my points":

I think, my point was misunderstood. Let me try to rephrase it:
I would only use either the `Cluster` resource or the corresponding `Namespace` as a trigger for the cleanup mechanism. This would be equivalent to triggering the whole cleanup logic by deleting the `ShootLeftover` resource.

The `Cluster` resource is still not supposed to be "reconciled". T

[2021-12-21 09:23] stoyanr commented on #5173
This is not enough, we need to specify the actual grace period somewhere, either as a duration or as another timestamp (some cleanups do require a grace period, others don't)

So if the resource that is used as a trigger is gone for whatever reason, nothing will happen, even if there are still other resources left.

So we will then be reconciling the shoot and reporting the cleanup progress / erro

[2021-12-21 14:28] #5189 closed, assigned to rfranzke

[2021-12-22 08:45] istvanballok commented on #4872
Unfortunately, as far as I understood, the retention policy is only applied to the "persistent blocks", I don't think there is a way to limit the size of the write ahead log. The write ahead log captures the ingested data in 2 hour blocks and its size depends on the ingested data.

We could consider to delete the WAL before starting up prometheus, if its size is too big / there isn't much free dis

[2021-12-22 09:05] timuthy opened #5205 "Error codes are not removed from extension health checks"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 2

**What happened**:
A cluster which had a cloud quota issue was correctly assigned a `ERR_INFRA_QUOTA_EXCEEDED` code for the `EveryNodeReady` condition of the `worker` resource. However, after the quota was increased and the actual issue was gone the code was not removed:

[code]

**What you expected to happen**:
The erro

[2021-12-22 09:08] rfranzke commented on #5205
Seems similar to https://github.com/gardener/gardener/pull/4885. Do we know the version of the extension controller which was adding this error code? Does it already contain this fix?

[2021-12-22 09:36] #5197 closed, assigned to rfranzke

[2021-12-22 09:54] timuthy commented on #5205
Good point, thanks for posting this PR. The fix was delivered with `gardener/gardener v1.34.0` but the released GCP extension only has a vendored version of `v1.32.0`.
/close

[2021-12-22 09:54] #5205 closed, assigned to nobody

[2021-12-22 09:58] rfranzke commented on #5205
Thanks for checking!

[2021-12-22 16:29] christianhuening commented on #5185
we found out that the problem is apparently cilium when using 0.0.0.0/0 as CIDR destination for an egress policy.  @istvanballok found this issue: https://github.com/cilium/cilium/issues/16147#issuecomment-843611823

[2021-12-23 08:01] stoyanr commented on #5173
In a discussion with @rfranzke, @timebertt, and @plkokanov we decided to adopt the "new resource" approach (the third one listed in https://github.com/gardener/gardener/issues/5173#issuecomment-995562573). The main arguments for this are:

* We regard this as a general mechanism that could also be used for "forceful deletion" of clusters (also called "purge" or "drop cluster", see https://github.c

[2021-12-23 08:04] stoyanr commented on #3110
After a long pause we are discussing this topic again, see #5173, and there is also an implementation proposed with #5150, so far only for the "forceful restoration" case, that could later be adapted to the "forceful deletion" (called "purge" or "drop cluster" here, see the first point in https://github.com/gardener/gardener/issues/3110#issuecomment-738745082).

[2021-12-30 14:04] shafeeqes commented on #4742
Issue: Migrate `ingress-nginx` to use Lease API
https://github.com/kubernetes/ingress-nginx/issues/8091

[2021-12-30 16:10] shafeeqes commented on #1150
Found that all `kube-system` pods in the Shoot cluster are already scheduled with system-cluster-critical/system-node-critical `PriorityClass`.

[2022-01-03 12:27] ScheererJ commented on #4084
@vlerenc From my perspective, the main reason for making it configurable was that we will need a longer period of time to switch from one solution to another for such a crucial thing as dns. In the discussion with @rfranzke annotations came up as an option, but was voted against as ugly if it was to stay like that mid term. Therefore, the idea was to introduce something in the shoot spec instead.

[2022-01-03 12:38] sunir1 commented on #4948
As discussed and reviewed with @AxiomSamarth , his suggested approach looks to be suitable to our requirement.

The needed functionality is something we asked for back in August, and and delay is blocking us from improving TCO in HANA-Cloud, where already hundreds of instances are being used on daily (>100 are with over 1TB of memory).

[2022-01-03 13:48] ScheererJ commented on #4578
My preference would be

- Leave it as it is today and remove the deprecations.

[2022-01-03 14:41] acumino commented on #4742
For [external-dns-management](https://github.com/gardener/external-dns-management/) we need to make changes in [controller-manager-library](https://github.com/gardener/controller-manager-library) and then revendor [external-dns-management](https://github.com/gardener/external-dns-management/) with the updated [controller-manager-library](https://github.com/gardener/controller-manager-library).

[2022-01-03 15:15] jkmw opened #5212 "cluster-autoscaler cannot handle scale-to-zero worker groups"
**How to categorize this issue?**

/area auto-scaling
/kind bug

**What happened**:

The cluster-autoscaler reports the following error as soon as there is a _scale-to-zero_ worker group (`.spec.provider.workers[0].minimum: 0`) in the shootspec:

[code]

**What you expected to happen**:

The cluster-autoscaler should recognise the scale-to-zero worker groups and ignore them or scale them up if nec

[2022-01-03 15:39] MartinWeindel commented on #4742
Done with https://github.com/gardener/external-dns-management/pull/236

[2022-01-04 08:00] #5166 closed, assigned to AxiomSamarth

[2022-01-04 23:48] neo-liang-sap opened #5218 "a test issue, please ignore"
**How to categorize this issue?**

/area audit-logging
/kind bug

**What happened**:
xxx
**What you expected to happen**:
xxx
**How to reproduce it (as minimally and precisely as possible)**:
xxx
**Anything else we need to know?**:
xxx
**Environment**:

- Gardener version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2022-01-04 23:54] neo-liang-sap commented on #5218
/assign

[2022-01-05 00:34] neo-liang-sap commented on #5218
/ping

[2022-01-05 00:51] neo-liang-sap commented on #5218
/ping

[2022-01-05 00:53] neo-liang-sap commented on #5218
/ping

[2022-01-05 01:12] neo-liang-sap commented on #5218
/ping

[2022-01-05 01:15] neo-liang-sap commented on #5218
/ping

[2022-01-05 01:40] neo-liang-sap commented on #5218
/ping

[2022-01-05 01:41] neo-liang-sap commented on #5218
/ping

[2022-01-05 01:45] neo-liang-sap commented on #5218
/ping

[2022-01-05 01:46] neo-liang-sap commented on #5218
/ping

[2022-01-05 02:02] neo-liang-sap commented on #5218
/ping

[2022-01-05 02:02] #5218 closed, assigned to nobody

[2022-01-05 09:16] ialidzhikov commented on #5212
To my knowledge for a long time scale-(from/to)-zero was supported only for AWS and Azure.
From https://github.com/gardener/autoscaler/issues/27:

@AxiomSamarth @himanshu-kun can you provider details to the end user how generic scale-to-zero can be used for provider openstack?

[2022-01-05 09:20] AxiomSamarth commented on #5212
@ialidzhikov @jkmw

As of today, as Ismail mentioned, the scale to or from zero is supported on AWS & Azure. Soon, generic scale to/from zero will be made available on Gardener for all providers. As of today, in order to facilitate scaling by autoscaler on other cloud providers (except AWS & Azure) you need to have minimum number of machines in the worker pool to be greater than or equal to the nu

[2022-01-05 09:30] ialidzhikov commented on #5212
https://github.com/gardener/gardener-extension-provider-openstack/pull/359 is the PR that is supposed to fix this issue for provider-openstack, right? So, to my understanding with v1.38 gardenlet sets the nodeTemplate in the Worker spec (with the machine type details coming from the CloudProfile) and afterwards https://github.com/gardener/gardener-extension-provider-openstack/pull/359 is supposed

[2022-01-05 09:59] AxiomSamarth commented on #5212
@ialidzhikov You are 100% right!

[2022-01-05 10:02] ialidzhikov commented on #5212
@jkmw you can watch https://github.com/gardener/gardener-extension-provider-openstack/pull/359 for updates. There is no need to keep this issue in the gardener/gardener repository.

/close

[2022-01-05 10:02] #5212 closed, assigned to nobody

[2022-01-05 11:51] shafeeqes commented on #4742
kubernetes/ingress-nginx/pull/8107

[2022-01-05 14:35] ialidzhikov opened #5222 "hvpa-controller@v0.3.1 cannot reload its token (because it is using client-go < v0.15.7)"
/area security
/kind bug
/kind regression
/priority 1

**What happened**:
https://github.com/gardener/gardener/pull/5128 switches the hvpa-controller to use projected ServiceAccount tokens.
From the project ServiceAccount tokens KEP (https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1205-bound-service-account-tokens/README.md#prerequisites) there is the following prerequisite:
[

[2022-01-05 14:35] ialidzhikov commented on #5222
/cc @rfranzke

[2022-01-06 09:00] vpnachev commented on #5102
What do you think about changing the cgroup driver from `cgroupfs` to `systemd` for clusters on k8s >= 1.23?
I am asking because:
- systemd is the recommended cgroup driver, [ref](https://github.com/kubernetes/kubeadm/issues/1394#issuecomment-462878219)

- cgroupfs does not support cgroup v2 which the OS vendors start to consider to be the default

[2022-01-06 09:05] ialidzhikov commented on #5222
/cc @shreyas-s-rao @voelzmo
/cc @ashwani2k

[2022-01-06 16:08] acumino commented on #4742
kubernetes/cloud-provider-gcp#309

[2022-01-07 07:42] ialidzhikov commented on #4956
Fixed in [go1.17.6](https://github.com/golang/go/issues?q=milestone%3AGo1.17.6+label%3ACherryPickApproved).

[code]

/close

[2022-01-07 07:42] #4956 closed, assigned to nobody

[2022-01-07 07:51] rfranzke commented on #1150
Thanks for taking time to check this @shafeeqes, then it seems fine to
/close
this issue.

[2022-01-07 07:51] #1150 closed, assigned to nobody

[2022-01-07 08:29] rfranzke commented on #5102
I think your proposal sounds reasonable @vpnachev

[2022-01-07 13:07] #5222 closed, assigned to nobody

[2022-01-07 16:23] danielfoehrKn commented on #4797
Sounds ok to me &  should be an easy fix in the validation logic for the CloudProfile.
@gesslein is this something you would like to work on?

[2022-01-10 09:39] #5188 closed, assigned to nobody

[2022-01-10 10:26] himanshu-kun commented on #4948
Update:
We have got private approval regarding the new approach , and will proceed working on it. Since we are planning to enable feature in AWS first , we will be working on the changes in `gardener-extension-aws` . Please refer to [this](https://github.com/gardener/gardener-extension-provider-aws/pull/461) PR for progress.

[2022-01-10 12:30] rfranzke commented on #5102
/assign @BeckerMax @rfranzke

[2022-01-10 14:17] acumino commented on #4742
kubernetes/cloud-provider-openstack#1733

[2022-01-10 16:28] rfranzke commented on #3501
/reopen

During the review of #4971, @danielfoehrKn [pointed out](https://github.com/gardener/gardener/pull/4971#issuecomment-965356076) that the provider extensions need to be adapted to support this feature in all cases. Especially those with CSI migration logic need "special care".

When looking at https://github.com/gardener/gardener/pull/4971#issuecomment-965356076, there are multiple ways to

[2022-01-10 16:37] ialidzhikov opened #5240 "Shoot deletion fails on `Waiting until main and event etcd report readiness`"
/area quality
/kind bug
/kind regression
/priority 1

**What happened**:
Looks like with https://github.com/gardener/gardener/pull/5209 a regression is being introduced that prevents Shoot to be deleted successfully.

**What you expected to happen**:
Shoot deletion to do not hang/fail on task `Waiting until main and event etcd report readiness`.

**How to reproduce it (as minimally and precisely a

[2022-01-10 17:09] timuthy commented on #4995
I was about to remove the functionality entirely from the code since this particular use case hasn't worked for ~10 months (see https://github.com/gardener/gardener/commit/322ba4a7e31783036566c8b409f97fc5a92bd744). However, `unmanaged` providers can also be used for default and internal domains and we simply don't know if this feature is used or not. At least I'm reluctant to remove this feature w

[2022-01-10 17:16] ialidzhikov commented on #5240
The issue is that in the deletion flow we have the following 3 consecutive tasks:

https://github.com/gardener/gardener/blob/83f20512c06d5e7b6505c8d94db063585501e11a/pkg/gardenlet/controller/shoot/shoot_control_delete.go#L253-L267

`Waiting until main and event etcd report readiness` is actually using the `etcd` field of the component

https://github.com/gardener/gardener/blob/83f20512c06d5e7b6505

[2022-01-11 07:01] rfranzke commented on #4995
OK, thanks @timuthy. Shall we then close this ticket for now? It was created under the assumption that everything related to `unmanaged` providers does not work. I assume that we don't want to spend the effort of deprecating and migrating existing systems with `unmanaged` providers?

[2022-01-11 07:04] rfranzke commented on #5240
Side note: Interestingly, the [`pull-gardener-e2e-kind` job](https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5209/pull-gardener-e2e-kind/1480455404826660864) executed for #5209 has caught the problem (the test itself failed). However, the entire run was wrongly marked as "successful", allowing the PR to be merged.
cc @timebertt

[2022-01-11 07:09] timuthy commented on #4995
I would also suggest to close this issue. We can still tackle the removal in the future if there are strong arguments to do so.

[2022-01-11 16:29] #4995 closed, assigned to timuthy

[2022-01-11 16:29] #5240 closed, assigned to nobody

[2022-01-12 10:33] ialidzhikov commented on #4747
@vlvasilev , do you have any update on this issue? Do the changes you introduced fix the problem with the integration test?

[2022-01-12 10:38] ialidzhikov opened #5249 "[Failing test] `should get container logs from loki for all namespaces` test is failing"
/area testing
/kind bug

**What happened**:
Looks like https://github.com/gardener/gardener/pull/5010 removed the loki ServiceAccount but the logging integration test was not adapted - currently the test expects to find the ServiceAccount.

![Screenshot 2022-01-12 at 12 39 29](https://user-images.githubusercontent.com/9372594/149124896-fee10e32-a73f-4011-9220-5e9ef39385c6.png)

**What you expected

[2022-01-12 11:54] rfranzke opened #5250 "Drop `PodSecurityPolicy` usage / move to `PodSecurity`"
**How to categorize this issue?**

/area open-source
/kind enhancement

**What would you like to be added**:
Drop usage of `PodSecurityPolicy`s and potentially move to `PodSecurity`.
Read more here: [PodSecurityPolicy Deprecation: Past, Present, and Future](https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/)

Steps:
- [x] Add an option to disable the `kube

[2022-01-12 14:31] rfranzke opened #5252 "`autoscaling/v2beta2` was promoted to `autoscaling/v2`"

[2022-01-12 14:32] rfranzke commented on #5252
/close since it was accidentally opened by clicking on the GitHub UI feature... :-)

[2022-01-12 14:32] #5252 closed, assigned to nobody

[2022-01-12 14:42] vlerenc commented on #4084
Thanks @ScheererJ @DockToFuture for the out-of-band discussion. Now I understand better and indeed, I share your view that we should make it configurable (as part of the shoot spec). Not so much as a temporary solution to test the auto-scaler, as I initially thought was the intention, but, as you have pointed out, as means to allow stakeholders to tweak the settings should the auto-scaling solutio

[2022-01-12 18:04] rfranzke commented on #4739
/assign

[2022-01-12 19:57] rfranzke commented on #3501
While looking into the adaptation of the `csimigration` controller I figured that above approach would not work since the entire CSI migration process leverages the fact that we perform a rolling update of all (!) nodes during the migration. If we'd only start the CSI migration when all Kubernetes versions have reached minimum then there might still be pools whose version hasn't changed, i.e., poo

[2022-01-13 06:43] majst01 commented on #3501
Luckily our metal-stack csi provider was always out-of-tree.

[2022-01-13 06:49] rfranzke commented on #3501
Yes :-) For you, only the first part of #5256 could be relevant

[2022-01-13 08:06] voelzmo commented on #4415
After talking to @vpnachev about this some more, we agreed to try the following approach to avoid this scenario
* compute the WorkerPoolHash also during content creation for the OSC and include it in the OSC contents
* in the OSC executor, read the hash, and either write it to disk (if no hash there yet) or compare it to a hash that is already written to disk
* if hashes differ, don't execute clou

[2022-01-13 08:14] #5249 closed, assigned to nobody

[2022-01-13 16:09] ialidzhikov opened #5267 "gardenlet@v1.39 cannot delete hibernated Shoot that was hibernated with gardenlet@v1.38"
/area security quality
/kind bug

**What happened**:
gardenlet@v1.39 cannot delete hibernated Shoot that was hibernated with gardenlet@v1.38.

**What you expected to happen**:
gardenlet@v1.39 to be able to delete hibernated Shoot that was hibernated with gardenlet@v1.38.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Shoot with gardenlet@v1.38

2. Hibernate the new

[2022-01-14 06:54] rfranzke commented on #5267
/assign

[2022-01-14 09:15] timuthy opened #5270 "Move `DNSProvider` capabilities out of g/g"
**How to categorize this issue?**

/area open-source
/kind enhancement

**What would you like to be added**:
Managing `DNSProviders` should be moved from [gardener/gardener](https://github.com/gardener/gardener) to [gardener/gardener-extension-shoot-dns-service](https://github.com/gardener/gardener-extension-shoot-dns-service). The following approach was discussed:

- [x] Introduce a new feature g

[2022-01-14 09:16] timuthy commented on #5270
/cc @MartinWeindel @mandelsoft @rfranzke

[2022-01-14 09:24] rfranzke commented on #5270
Hi @timuthy,
thanks for opening the issue and the summary! I have only one question:

Do we really need this? Can't the `.spec.extensions[].providerConfig` field be used for this?

[2022-01-14 09:24] timuthy commented on #5270
@rfranzke the point about "advanced" configuration (2nd point in list) is a little bit different from what you proposed [here](https://github.com/gardener/gardener/pull/5207#issuecomment-999573417). Any strong objections to not add a RawExtension field to `shoot.spec.dns.providers`? I know that your proposal more matches the general approach we took with extensions. However, I think due to histori

[2022-01-14 09:38] rfranzke commented on #5270
@timuthy I think we should rather go back to exactly one provider in the `.spec.dns` section since gardenlet uses exactly one domain/provider for a shoot cluster. Any additional providers and any additional metadata information is solely related to `shoot-dns-service`. I think something like this would be a proper target picture:

[code]

Does this make sense? I understand that it's "a little inco

[2022-01-14 10:11] timuthy commented on #5270
This looks like the right target picture for me as well. There is rather the challenge how to get there in a full backwards-compatible way, i.e. people can still configure their DNS providers via `shoot.spec.dns` like they do today.
The only way I currently see is that the DNS extension (there is probably/hopefully only one) needs to deliver a mutating webhook that takes the `dns.providers` inform

[2022-01-14 10:17] rfranzke commented on #5270
I think when we have introduced the `core.gardener.cloud` the gardener-apiserver has taken care of the conversion of fields that previously were "native" fields in `garden.sapcloud.io` but moved to `providerConfig` fields in `core.gardener.cloud`. Probably we can follow the same approach again and relax the extension from caring about this. In this case, it can only care about its `providerConfig`

[2022-01-14 10:35] timuthy commented on #5270
It's definitely easier but based on some assumptions/facts:
- The `type` of the extension is `shoot-dns-service`
- The configuration is of type `Configuration.shoot-dns-service.extensions.config.gardener.cloud` because otherwise we don't know how to edit the config.
- Gardenlet has to know how providers look like in `Configuration.shoot-dns-service.extensions.config.gardener.cloud` which prevents