[2021-03-19 06:30] vlerenc commented on #1413
@valentinvieriu The discussion above between @petersutter and @mvladev was in a very specific context.

You are interested in what exactly? On the one hand, you write "have a certificate that is valid in the browser", but then you also write "node" and "communicate with possible 1000x clusters in a stateless way" which has nothing to do with the browser. I guess, it's about the later point/that's

[2021-03-19 08:43] valentinvieriu commented on #1413
Thank you for the reply @vlerenc. Node has a list of trusted certificates, as browser do too. I was assuming we will use some sort of Lets Encrypt certificate, that would be trusted by Node ( and Browser ) automatically.

There are ways of trusting CA in node true, we will  pursue that path for now then

[2021-03-22 06:59] #3717 closed, assigned to mvladev

[2021-03-23 11:52] ialidzhikov opened #3759 "panic: runtime error: invalid memory address or nil pointer dereference"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:

gardenlet is `CrashLoopBackOff` because of a panic in the controlplane migration flow.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version:

[code]

- Kubernete

[2021-03-23 19:31] ialidzhikov commented on #3759
/assign @kris94 @plkokanov

[2021-03-24 07:55] timebertt opened #3765 "Support envtests with gardener resources"
**How to categorize this issue?**

/area dev-productivity testing
/kind enhancement

**What would you like to be added**:

Support for writing integration tests with controller-runtime's `envtest` package that can use gardener API resources.

A promising approach is to add a wrapper for `envtest`, that is spinning up and registering g-api in the test environment.

**Why is this needed**:

`envtest

[2021-03-24 07:55] timebertt commented on #3765
/assign

[2021-03-24 08:17] mvladev opened #3766 "Hibernated cluster with custom CSI drivers could not be deleted"
**How to categorize this issue?**

/area ops
/kind bug
/priority 3

**What happened**:

A *hibernated* cluster (on Alicoud, but irrelevant) with a custom CSI drivers could not be deleted

**What you expected to happen**:

Cluster to be deleted successfully

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy custom CSI driver e.g. rook for ceph
1. Create some volumesnapsho

[2021-03-24 08:49] timebertt commented on #3765
Minimum required changes for this scenario in upstream `envtest` package are proposed in https://github.com/kubernetes-sigs/controller-runtime/pull/1449.

[2021-03-24 09:44] #1725 closed, assigned to timuthy

[2021-03-24 13:42] mvladev opened #3769 "VPA-updater gets OOM killed"
**How to categorize this issue?**

/area scalability
/kind bug
/priority 3

**What happened**:

On Seed cluster that has VPA enabled, the `vpa-updater` of a Shoot cluster is OOMKilled, because it recommends to low memory:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener ve

[2021-03-24 15:18] ialidzhikov opened #3770 "There are 2 VPAs for gardener-resource-manager after update to v1.17.0"
/kind bug
/kind regression

**What happened**:

Currently in the garden ns of a Seed we have 2 VPA for the same deployment.

[code]

https://github.com/gardener/gardener/pull/3445 changes the name of the VPA from `gardener-resource-manager-vpa` to `gardener-resource-manager` but it does not clean up the old VPA.

The same applies also for the Shoot controlplanes:

[code]

**What you expected to ha

[2021-03-24 15:51] ialidzhikov commented on #3770
Seems to be fixed with https://github.com/gardener/gardener/pull/3540 ...

[2021-03-24 15:51] ialidzhikov commented on #3770
/close

[2021-03-24 15:51] #3770 closed, assigned to nobody

[2021-03-25 07:29] vlerenc opened #3775 "Rate limit exceeded errors are wrongly detected as non-retriable"
**What happened**:
Currently rate limit issues are detected as non-retriable errors. It means that if a cloud provider rate limit exceeded error occurs, the Shoot will be set to Failed and will be no longer retried.

**What you expected to happen**:
Rate limit exceeded errors should be retied.

[2021-03-26 15:05] rfranzke commented on #1723
Due to the fact that the `ControllerRegistration` resource may contain sensitive data in its `.spec.deployment.providerConfig` we want to restrict the gardenlet to only access those that are relevant for its own `Seed`.
While looking into implementing this handling in the seed authorizer, I encountered some conceptual issues blocking me from proceeding at the moment.

At the moment, there are seve

[2021-03-29 06:54] timebertt commented on #1723
Generally, I like the proposal of separating registration information (responsible extension types) and deployment configuration (helm chart + values).
Minor suggestion: I would go for `ControllerDeployment` instead of `ExtensionDeployment` to make it consistent with `Controller{Registration,Installation}`.

True of course. Still thinking about, if this can/should be avoided. But currently I also

[2021-03-29 10:28] stoyanr commented on #3766
We discussed this issue and agreed that we should detect custom CSI drivers and `VolumeSnapshots` managed by such drivers and add an appropriate constraint to the shoot. For now, this constraint should be used to make users aware about potential issues with the deletion of such shoots, e.g. in the dashboard, since such issues could arise also with non-hibernated shoots.

In addition, we will forbi

[2021-03-29 11:12] vlerenc commented on #3766
+1

I would also hope we can map the deletion of hibernated clusters to their wake-up + deletion, so that we don't have to treat it as special case.

Also, it's another case where https://github.com/gardener/gardener/issues/3110#issuecomment-734647043 would have helped us. End-user problems like this should not become Gardener problems. All kind of things may be wrong with a cluster, not only hibe

[2021-03-29 11:15] timebertt commented on #3667
/cc @wyb1 @istvanballok
Would you be able to tackle this one?
Seems like we have recently been bitten by this in some of our Seed clusters. Metrics and dashboards for disk/volume IOPS would support such investigations.

[2021-03-29 11:26] stoyanr commented on #3766
For now we intended to simply forbid it via an admission plugin. I think this is good enough as a start, while mapping as you suggest would be much harder to do. We could consider that later if we are dissatisfied with the simpler approach.

We will probably not work on this right away, since we are not sure how often this could affect us, so this issue is likely to remain open for some time, unti

[2021-03-29 11:45] stoyanr opened #3786 "Forbid deletion of hibernated shoots"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
Deletion of hibernated shoots, or shoots that are not fully awake, should be forbidden. If the shoot is hibernated, the user should wake it up first and wait until it's actually awake, before deleting it.

**Why is this needed**:
We would like to get rid of the special logic f

[2021-03-29 11:45] stoyanr commented on #3786
/assign

[2021-03-29 11:56] stoyanr opened #3787 "Validate extension resources (`Infrastructure`, etc.) using strict validation"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

Extension resources such as `Infrastructure` should be properly validated using the so-called "strict validation" that was introduced recently. In this validation mode, validation should fail if there is any data that is not part of the API definition.

**Why is this needed**

[2021-03-29 11:57] stoyanr commented on #3787
/assign

[2021-03-29 11:58] dguendisch commented on #3766
Are we sure that no one is doing this automatically today (deleting hibernated shoots), otherwise it could be considered an API change if it's suddenly forbidden?

[2021-03-29 12:02] stoyanr commented on #3766
@dguendisch Even if someone is doing that, I don't think we ever had a "contract" or something similar to prevent us from doing such a change.

In general, hibernation is considered to be a "developer cost saving" feature, this is why it's frustrating to us that we need special logic to handle deletion of hibernated cluster.

@rfranzke Any considerations from your side?

[2021-03-29 12:23] rfranzke commented on #3766
I think I mentioned this as well: There might be end-users which might need to adapt their automation accordingly. I think it needs to be somehow configurable so that operators can give end-users enough time to adapt before they enable this behaviour. We can also have a chat to think about ways how to best and most easily achieve this.

[2021-03-29 13:35] timebertt commented on #3787
I think this is very specific to the respective provider extensions.
Should we move this issue to https://github.com/gardener/gardener-extension-provider-azure, as you want to start with solving the issue there first?

[2021-03-29 14:03] dkistner commented on #3505
Sorry for the delayed response here.

If we adapt the `RuntimeClass` concept strictly to our case then the component which applies the handler logic would be the `gardenlet`.
Consequently we could move the handler configuration to the Gardenlet config.

This brings me to @mvladev questions.
We could keep the gardenlet config like it is and use the sni config for the default exposure configuration

[2021-03-29 14:41] vpnachev commented on #3766
I vote for

This would mean the regular reconciliation should happen if the shoot is not already awaken and just at the end, the deletion loop is triggered if the the deletion timestamp is set.

[2021-03-29 15:41] stoyanr commented on #3766
As said above, I don't think this is easy to do, and so from my perspective is yet another rather complex thing we introduce for the deletion of hibernated shoots. I could be missing something of course. @rfranzke Do you think we should invest in further researching this? From our discussion in the meeting I had the impression we are aiming at a "simple" solution to get rid of the current complexi

[2021-03-29 15:45] stoyanr commented on #3787
Closing in favor of https://github.com/gardener/gardener-extension-provider-azure/issues/270.

[2021-03-29 15:45] #3787 closed, assigned to stoyanr

[2021-03-30 05:59] rfranzke commented on #3766
Actually, I like the idea because we would not change the API validation and don't need to mentioned configurability, etc. Is it really that complex/why do think so? Generally, I agree that we are striving for something simple, but such changes to the API are always rather the opposite, so if we can solve the issues internally we can hopefully avoid some of the struggles.

[2021-03-30 06:43] dongyingbo opened #3794 "Confusion about images' latest tag"
**How to categorize this issue?**

/area delivery
/kind bug
/priority 3

**What happened**:
Currently the latest tag is not applied to v1.19.x but to v1.16.x. For example it is v1.16.6-dev-87995ad2e1599d2963d538afb9b0ba1eceece816 for admission-controller image when my opening this issue.
When installing with charts/gardener/controlplane admission-controller fails to start because of compatibility.

[2021-03-30 06:48] rfranzke commented on #3794
/cc @AndreasBurger @ccwienk - can you help?

[2021-03-30 07:08] BeckerMax commented on #3495
Addressed through:
1. https://github.com/gardener/gardener/pull/3653
2. https://github.com/gardener/gardener/pull/3575
/close

[2021-03-30 07:08] #3495 closed, assigned to nobody

[2021-03-30 07:11] stoyanr commented on #3766
@rfranzke OK, I will look into this further, although it doesn't seem too promising to me in terms of complexity. It also has its own drawbacks in terms of "compatibility". Now, if I delete a shoot, suddenly it's reconciled at first instead of being deleted. Or, if the shoot is not hibernated but also not fully awaken, nothing happens for a while until it's fully awaken. And if this fails for some

[2021-03-30 08:20] rfranzke commented on #3766
Thanks @stoyanr for bringing up your thoughts, I can partly understand your reservations with respect to the complexity concerns, but I'm not sure if it's really that complicated. Why I mainly like @vlerenc's/@vpnachev's idea is because we wouldn't break today's API (even if we don't know of use-case or consider them "minor", in reality, there might be end-users relying on this).

I would rather a

[2021-03-30 09:11] stoyanr commented on #3766
@rfranzke Let's look at the code together, perhaps we can come up with a simple idea how to do it, so far the few things I tried aren't working and other approaches I can think of aren't simple.

[2021-03-30 13:07] wyb1 commented on #3667
We can tackle this issue. This will be done in two steps:

1. Provide these metrics and a dashboard for the shoots (including shooted seeds).
2. Extend the monitoring of our seeds to also include the metrics. This is necessary to have observability for our seeds that are not shoots.

Step one is straightforward and step 2 will require some more effort.

[2021-03-30 14:37] #3786 closed, assigned to stoyanr

[2021-03-30 14:43] stoyanr commented on #3766
Update: In a short meeting with @rfranzke and @timebertt we decided to do nothing for the moment. We will not forbid the deletion of hibernated shoots because of the objectons mentioned above. We will also not try to execute the wake-up of hibernated shoots as part of the deletion because it's not really simple, especially if all the cases that should be tested are taken into account. Also, both a

[2021-03-31 03:43] mvladev opened #3800 "Full AWS network customization for Shoot cluster"
**How to categorize this issue?**

/area networking
/kind enhancement
/priority 3

**What would you like to be added**:

The ability to provision Shoot cluster in already existing VPC with pre-existing routing tables, subnets, nat gateways and internetgateways.

**Why is this needed**:

In some cases, due to security, a AWS network layout would require having all egress/ingress traffic pass throug

[2021-03-31 03:45] mvladev commented on #3800
/close

I don't know why I opened this in the Gardener repo. Moving to the `aws` repo.

[2021-03-31 03:46] #3800 closed, assigned to nobody

[2021-03-31 03:47] mvladev commented on #3800
See https://github.com/gardener/gardener-extension-provider-aws/issues/306

[2021-03-31 05:26] vpnachev commented on #3800
I would ask the same and would offer you to transfer this issue to provider-aws repo, but you have already opened new one, so everything is good.

[2021-04-01 09:00] #3759 closed, assigned to plkokanov, kris94

[2021-04-01 18:27] vpnachev opened #3814 "Gardenlet cannot start if there is no Seed resource"
**How to categorize this issue?**

/area dev-productivity
/kind bug
/priority 3

**What happened**:
[code]

**What you expected to happen**:
The gardenlet to start and wait in background till a seed resource is created.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the local setup guide [here](https://github.com/gardener/gardener/blob/master/docs/development/local_setup

[2021-04-02 08:12] stoyanr opened #3816 "Gardenlet panics when deployed to a managed seed"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:

When deployed to a managed seed via a `ManagedSeed` resource, gardenlet panics:

[code]

**What you expected to happen**:
No panic.

**How to reproduce it (as minimally and precisely as possible)**:
Create a `ManagedSeed` resource with `gardenlet`, or use the `use-as-seed` annotation.

**Anything else

[2021-04-02 08:21] vpnachev commented on #3816
Which version/commit of gardener is this?

[2021-04-02 09:32] stoyanr commented on #3816
* Reproducible with the latest master (0f17e91bee804921fe05f15ee39232c4b8971cee) when testing locally and running managed seed integration tests on dev landscape.
* Seems to be related to #3700, at least this PR introduced the code that actually causes the panic.

[2021-04-02 09:52] stoyanr commented on #3816
@vpnachev discovered that the issue is caused by a deadlock in the seed creation logic:

* gardenlet looks for an internal domain secret in the seed namespace, e.g. (`seed-xxx`)
* however, at this point this namespace (and the secret) doesn't even exist, it will be created by GCM only after the seed is there (which obviously will never happen since `gardenlet` crashes with the above error).

The w

[2021-04-02 09:53] stoyanr commented on #3816
/cc @rfranzke @timuthy

[2021-04-06 05:02] #3816 closed, assigned to nobody

[2021-04-06 07:21] vlvasilev commented on #3559
@rfranzke By receiving all logs from a node on my local set up I get about 50-60 MB per 24 hours.
But if we don't need all of the journald logs then it could be lower.

[2021-04-06 16:20] BeckerMax opened #3830 "ResourceNotFound error on Seed deletion"
Deleting a Seed can fail with the following error:
[code]

**How to categorize this issue?**

/kind bug
/priority 3

**How to reproduce it (as minimally and precisely as possible)**:
I was able to consistently reproduce it:

1. Disable `CachedRuntimeClients` feature gate
2. Delete Seed and let the deletion artificially fail after the `etcds.druid.gardener.cloud` crd was cleaned up in the deletion

[2021-04-07 08:08] timuthy commented on #1723
I think we also need to adapt the update handling i.e., when a `ExtensionDeployment`/`ControllerDeployment` is changed, we need to enqueue related `ControllerInstallations`.
Furthermore, we (a controller) need to maintain an ownership for `ExtensionDeployment`/`ControllerDeployment` -> `ControllerRegistration` to support garbage collection, right?

[2021-04-07 10:00] rfranzke commented on #1723
In a chat with @timuthy we have discussed the following points:

- > Furthermore, we (a controller) need to maintain an ownership for ExtensionDeployment/ControllerDeployment -> ControllerRegistration to support garbage collection, right?

  We decided to not maintain owner references for `ControllerDeployment` objects because they are created by humans/end-users and not directly related to the co

[2021-04-07 12:48] stoyanr commented on #3471
Closing, the feedback so far is rather on the negative side and I don't see this as sufficiently high priority either.

[2021-04-07 12:48] #3471 closed, assigned to nobody

[2021-04-07 12:52] stoyanr commented on #3119
@rfranzke Should we close this issue? It seems it was not observed any more and it has effectively become stale as well.

[2021-04-07 14:57] timebertt opened #3836 "Shoot care controller lists all BackupEntries of Seed"
**How to categorize this issue?**

/area scalability
/kind bug
/priority 1

**What happened**:

The shoot care controller lists all `BackupEntries` of the Seed each time it executes health checks for a Shoot cluster (`backupentries.extensions.gardener.cloud` are cluster-scoped resources):
https://github.com/gardener/gardener/blob/261076fc89705bb02dcc92e3595d43e56e544be1/pkg/operation/care/health.g

[2021-04-07 15:17] #3119 closed, assigned to nobody

[2021-04-07 15:44] #3830 closed, assigned to BeckerMax

[2021-04-08 06:02] timebertt opened #3837 "Ensure care controller updates the shoot status"
**How to categorize this issue?**

/area scalability
/kind bug
/priority 2

**What happened**:

In https://github.com/gardener/gardener/commit/3743a08a0e6b0fb5edd0d1eddeab319649ac0d2d#diff-23b298258957a189c2eb556160665c5067fa3ec1c70a2805fd86df5d1123efdeR154 we introduced a timeout for the shoot care controller equal to its sync period.

When observing severe issues with the Seed's API server (e.g.

[2021-04-08 07:15] rfranzke commented on #3775
/close in favor of https://github.com/gardener/external-dns-management/issues/161

[2021-04-08 07:22] rfranzke commented on #3765
@timebertt can you outline the next steps here so that everybody is aware? Is it only about contributing the required changes upstream and getting rid of our fork again, or is there more?

[2021-04-08 07:23] rfranzke commented on #3712
Any progress on this @wyb1?

[2021-04-08 07:24] ialidzhikov commented on #3775
/reopen

[2021-04-08 07:25] rfranzke commented on #3699
From above discussion, it seems that the implementation effort is not fair compared to the benefits of the results, and most likely nobody will work on it anytime soon. Shall we close?

[2021-04-08 07:26] rfranzke commented on #3652
@BeckerMax can you share your progress on this issue?

[2021-04-08 07:27] rfranzke commented on #3549
@Kristian-ZH can you update the issue with your progress?

[2021-04-08 07:28] rfranzke commented on #3464
I think this issue should be fixed meanwhile due to some recent improvements in this code.
/close
Kindly reopen if you think it still persists.

[2021-04-08 07:28] #3464 closed, assigned to nobody

[2021-04-08 07:34] rfranzke commented on #2621
/close as the issue is rotten and unlikely to be picked up anytime soon

[2021-04-08 07:34] rfranzke commented on #2414
@timebertt Should this issue be closed in favor of #2822? Or do you want to track this separately?

[2021-04-08 07:34] #2621 closed, assigned to nobody

[2021-04-08 07:37] rfranzke commented on #1921
I guess we will not invest into this one given that we have a proposal for a reversed VPN with #3771 and #3812 that will work independent of the Kubernetes version.
/close

[2021-04-08 07:37] #1921 closed, assigned to nobody

[2021-04-08 07:38] plkokanov opened #3838 "BackupEntries remain in the Source Seed after Control Plane Migration"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 2

**What happened**:
Sometimes after executing Control Plane Migration, the migrated `Shoot`'s `extensions.gardener.cloud/v1alpha1.BackupEntry` is still present in the __Source Seed__.

**What you expected to happen**:
There should be no `BackupEntry` for the migrated `Shoot` in the __Source Seed__

**How to repr

[2021-04-08 07:38] rfranzke commented on #1823
It seems this issue won't be pursued (open since long time, no activity).
/close

[2021-04-08 07:38] #1823 closed, assigned to RaphaelVogel, ccwienk

[2021-04-08 07:38] plkokanov commented on #3838
/assign
/invite @kris94 @timebertt @rfranzke

[2021-04-08 07:42] rfranzke commented on #1278
It seems that this is a corner case not getting much attention, and given that hibernation is mostly a development feature anyways (especially the schedules), it's unlikely that anybody will pick this up anytime soon.
/close

[2021-04-08 07:42] #1278 closed, assigned to nobody

[2021-04-08 07:42] rfranzke commented on #1218
@DockToFuture @ScheererJ will this still be necessary with your new reversed VPN proposal #3812?

[2021-04-08 07:43] rfranzke commented on #233
/close as it's unlikely that we will implement this ring due to complexity concerns

[2021-04-08 07:43] #233 closed, assigned to mandelsoft, MartinWeindel

[2021-04-08 07:45] rfranzke commented on #55
/close as there are a thousand ways to break the cluster and we cannot provide remediation for each of them. Given that the issue is open since a very long time with no attention and no activity, it's unlikely that it'll be picked up anytime soon.

[2021-04-08 07:45] #55 closed, assigned to nobody

[2021-04-08 07:48] rfranzke commented on #3775
@ialidzhikov From the description, this issue is about the DNS controller not adhering to the extension contracts. It was moved to the external-dns-management repo. Can you please close this issue again and open a separate one for tracking the "rate limit error code" topic?

(Actually, I'm confused about your title - didn't we agree that it's NOT wrong to detect them as non-retryable?)

[2021-04-08 07:52] wyb1 commented on #3712
I found 2 different causes for the alert.
1) Whenever shoots are in deletion Prometheus can no longer scrape the Kube API Server and gets a 403. I think this issue may be unrelated.
[code]
If deletion takes more than 5 minutes, we get an alert.

API Server is logging many
[code]

2) There is no kube-apiserver to scrape so Prometheus assumes it is down. If deletion takes too long the alert will fir

[2021-04-08 07:55] ScheererJ commented on #1218
It depends on how you look at the problem. With #3771/#3812, the openvpn server moves from the shoot cluster to the shoot control plane in the seed cluster. Therefore, if this is "only" about having clean logs/restricted access vector to the shoot cluster then it is no longer relevant. However, even with #3771/#3812 we continue to have an openvpn server, even though it is now located in the shoot

[2021-04-08 08:01] rfranzke commented on #3712
I think we could delete Prometheus early, but we should keep Grafana to be able to access Loki logs.

[2021-04-08 08:04] ialidzhikov commented on #3775
I updated the description of the current issue. No "DNS" in it now, pure "rate limit exceeded".

I am tired of this discussion. These errors were retriable since the beginning for probably almost more than 3 years. I cannot understand what changed now. Is it normal to you that we set the Shoot to Failed and stop retrying when a rate limit error occurs? It is not the expected behaviour to me. In mo

[2021-04-08 08:37] plkokanov commented on #3838
One option would be to add a `Status.SeedName` field to the `BackupEntry` in the garden cluster and it will do any steps to migrate the `BackupEntry` from the __Source Seed__ to the __Destination Seed__ if `Status.SeedName` != `Spec.SeedName` - similar to what happens with the `Shoot` resource. The `BackupEntry` in the Seed will not be directly annotated with `gardener.cloud/operation=migrate` as

[2021-04-08 08:42] rfranzke commented on #3838
I like the first proposal for similarity reasons to the `Shoot` resource and to let the `BackupEntry` controller in gardenlet coordinate this/encapsulate the required knowledge, so that the `Shoot` controller in gardenlet doesn't need to know about these details and just change the `.spec.seedName`.

[2021-04-08 08:46] plkokanov commented on #2561
Closing this as the tasks have been completed. We will open new issues for enhancements or any problems that come up with the integration tests

[2021-04-08 08:46] #2561 closed, assigned to plkokanov, vlvasilev, swilen-iwanow, kris94

[2021-04-08 09:49] timuthy commented on #3838
One question: Will we have a similar handling for `spec.bucketName`? According to https://github.com/gardener/gardener/issues/3491#issuecomment-790656701, the bucket will also change after migration.

[2021-04-08 10:32] timuthy commented on #3837
/assign

[2021-04-08 10:32] timuthy commented on #3836
/assign

[2021-04-08 10:41] dguendisch commented on #2621
For the record, this contributes as well to the described issue: https://github.com/projectcalico/node/issues/519
(having observed such an issue this week myself and reading through the linked issues, I'm starting to wonder how k8s can work at all for any dynamic/job-like workload that involves node autoscaling, it's just too easy that the node incl. networking is not usable yet, but still pods/jo

[2021-04-08 10:50] plkokanov commented on #3838
I guess we would have a better idea of how to handle this once we have agreed on how to migrate data between the buckets of the source and destination seeds. We could add the source bucket to the `BackupEntry.Status.BucketName` and have the destination bucket in the `BackupEntry.Spec.BucketName` - but we will have to keep those until the etcd data is migrated.

[2021-04-08 11:53] BeckerMax commented on #3652
I gave this issue a relatively low prio because for now one can still use the old setting. I would tackle it in the next week.

[2021-04-08 12:32] timuthy opened #3846 "Support SecretBinding for DNS Providers"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
The `Shoot` API should be extended by an optional `secretBindingName` field which can be used as an alternative for `shoot.spec.dns.providers[].secretName` to set up DNS providers:

[code]

**Why is this needed**:
Today, DNS providers for shoot clusters refer to `Secrets` that res

[2021-04-08 13:45] stoyanr commented on #3724
@timebertt Does it make sense to add it for `ManagedSeedSets` as well?

[2021-04-08 14:04] #3814 closed, assigned to nobody

[2021-04-09 07:11] rfranzke opened #3851 "☂️-Issue for "Support for Kubernetes v1.21”"
/area open-source
/kind enhancement
/priority 3
/topology garden seed shoot

Kubernetes v1.21 has been released, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md

Work has been started and is pushed to the [`kubernetes-v1.21`](https://github.com/gardener/gardener/tree/kubernetes-v1.21) branch. There should be similar branches in the provider

[2021-04-09 07:20] mukhtorov commented on #1860
Hi @nicklas-dohrn
when I added `server.customResponseHeaders: {"x-frame-options":"sameorigin"}` it is giving server error 500.

Actually, I was rendering `iframe` so the url is dynamic. giving "refused to frame" error.

any suggestions pls..

[2021-04-09 10:29] Kristian-ZH commented on #3549
I do not have any progress here. Currently I am working on another tasks out of the logging scope, but  @vlvasilev  can take this issue as well

[2021-04-09 10:46] Kristian-ZH commented on #3549
/assign @vlvasilev

[2021-04-09 12:22] #3836 closed, assigned to timuthy

[2021-04-11 22:26] plkokanov commented on #3672
Took a bit of a look into this as part of #3838, seems it's because of this code: [strategy.go:84](https://github.com/gardener/gardener/blob/66d5c9aaa0c63109ba03e164c487d1bcd1474c9b/pkg/registry/core/backupentry/strategy.go#L84)

The `gardener.cloud/operation=reconcile` is kept on the resource until it is completely reconciled so any updates to it will increase the generation and re-add it to the

[2021-04-12 06:03] rfranzke commented on #3672
Interesting @plkokanov, I'm not sure why this is done differently compared to the operation annotation on the `Shoot`. Probably it should be removed right away so that the controller does not have to do it itself?

[2021-04-12 06:07] plkokanov commented on #3672
Yes I think removing it right away makes sense. As I see for the shoot, the operation annotation is directly removed after the generation of the resource is increased. So I will try that out.

Edit: there is one more reason - seems like the `BackupEntry.Status.ObservedGeneration` is only modified at the end of a successful operation - it should really be modified at the beginning before any other

[2021-04-12 13:51] #3724 closed, assigned to stoyanr

[2021-04-12 13:54] #3837 closed, assigned to timuthy

[2021-04-12 15:10] timebertt commented on #3724
@stoyanr, yes I think, it would also make sense there.

[2021-04-12 15:47] vasu1124 commented on #2120
https://github.com/kubernetes/enhancements/issues/2400

[2021-04-13 10:19] christianhuening opened #3872 "Regression: Seed creations fails if seed name contains a dot "." on 1.20.x"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 2

**What happened**:
Garden Seed creation from acre.yaml fails if the garden base seed name contains a ".". Error in `sow` is:

[code]

Error in Gardenlet shows as:

[code]

The error in the gardenlet shows that it's attempted to create a namespace with a dot in its name, which is simply not supported.

**What you expected to

[2021-04-13 10:21] Diaphteiros commented on #3872
For context: The reason this fails in garden-setup is the error in the gardenlet. @christianhuening said that everything worked fine with Gardener `v1.19` and it doesn't work anymore with Gardener `v1.20`, so this sounds like a regression in the Gardener. The problems seems to be the `.` in the seed name.

[2021-04-13 10:49] danielfoehrKn opened #3873 "Proposal: Expose Extension Provider Status in Gardener cluster"
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 3

**What would you like to be added**:

I'd like to propose a way to expose the **ProviderStatus**  of an extension resource ("lives" in the Seed) to a resource in the Garden cluster.

Generally, there are three ways how to accomplish this

1. Put the information into the Shoot status
2. Use config map or secret to store

[2021-04-13 11:29] rfranzke commented on #3873
Do you want to close https://github.com/gardener/gardener/issues/1609 in favor of this issue?

Personally, I thought we would rather want something similar to the `ShootState`, i.e., a resource that contains all the provider statuses of all extensions. This way, the gardenlet could sync it once (e.g., at the end of reconciliation) and we would only have one resource per shoot. With your proposal,

[2021-04-13 12:53] timebertt commented on #2414
We could keep this one open as it is also about refactoring the client usage in the extension library, which is not related to the feature gate.
But I don't have a strong opinion.

[2021-04-13 12:59] timebertt commented on #3765
I updated the issue description with the next steps. However, I'm not working on any of those tasks currently.
/unassign
Others are welcome to contribute to this :)

[2021-04-13 13:18] ialidzhikov commented on #3872
/status accepted

[2021-04-13 13:23] stoyanr opened #3875 "[GEP-7] Control Plane Migration: Etcd Backup Migration / Leader Election PoC"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement
/priority 3

**What would you like to be added**:

We would like to implement a PoC for the etcd backup migration / leader election mechanism as currently proposed with #3066, in order to evaluate the feasibility of the proposed approach and try to address the remaining open issues. We don't aim yet for production q

[2021-04-13 13:28] stoyanr commented on #3875
/assign @stoyanr @plkokanov @kris94
/cc @rfranzke @mandelsoft @amshuman-kr This is PoC / experimentation, if you would rather have us try things differently, please comment. Otherwise, we would in any case share and discuss the results with you in order to agree on a final approach.

[2021-04-13 14:13] danielfoehrKn commented on #3873
Ok sure. I designed it this way because I thought consumers are most likely only interested in one specific extension type (e.g the admission controller checking for cloud provider resources)
But it is a valid concern, agree. Will use a list in the `status`  with type `rawExtension`.

[2021-04-13 14:14] danielfoehrKn commented on #3873
WDYT about handling it like the `ShootState` resource in the federated seed controller like I proposed above?
So it gets updated as soon as the provider status changes.

[2021-04-13 14:23] timebertt commented on #3672
/assign @plkokanov
as you said you want to work on this.

[2021-04-13 14:26] timebertt commented on #3699
/close as there were enough +1s

[2021-04-13 14:26] #3699 closed, assigned to nobody

[2021-04-13 14:39] vlerenc commented on #3875
@stoyanr I think I understand 2, 4, and 5, but can you elaborate a bit more on 1 and 3?

[2021-04-13 15:05] stoyanr commented on #3875
1 is simply the changes to the overall restoration flow (executed by `gardenlet`) to bind everything together and actually perform a successful "restore" reconciliation, provided that all other changes are in place.
3 is needed to ensure that if the BE controller has to reconcile 2 different BEs and therefore create 2 `etcd-backup` secrets for the same shoot, they are created with different names;

[2021-04-13 16:12] danielfoehrKn commented on #3405
We are missing a detailed Guide on how to set up the Gardener control plane (Gardener API server, GCM, Scheduler, Gardener Admission Controller) end-to-end, similar to the [Gardenlet manual setup Guide](https://github.com/gardener/gardener/blob/master/docs/deployment/deploy_gardenlet_manually.md).
I think the Gardenlet set up guide was helpful to many adopters and I think it would make sense to ha

[2021-04-13 16:15] danielfoehrKn commented on #1609
closed in favor of #3873

[2021-04-13 16:15] #1609 closed, assigned to nobody

[2021-04-14 09:04] #3712 closed, assigned to wyb1

[2021-04-14 12:01] Kristian-ZH commented on #3552
Here is the PR with the progress of this change: https://github.com/gardener/logging/pull/92

[2021-04-14 12:05] Kristian-ZH commented on #3551
We had a discussion  about this enhancement and it seems to be a lot of effort because currently we support a lot of filters and parsers. Also such tests will be dynamically changed, because the log format of one pod is not a constant. It depends on the library used in the application.

So we considered to not implement this for now.
/close

[2021-04-14 12:05] #3551 closed, assigned to nobody

[2021-04-14 12:55] Kristian-ZH commented on #3548
Info for the progress:
- The tenant tests are now stable after the new changes.
- The load test fails only on `suse-chost`. There the fluent-bit crashes on init phase(still investigating...)

[2021-04-15 06:15] #3170 closed, assigned to rfranzke

[2021-04-15 10:52] Diaphteiros opened #3881 "Use `ManagedResource` for Istio deployment and remove Istio on seed deletion"
**How to categorize this issue?**

/area operations
/kind enhancement
/priority 3

**What would you like to be added**:
An option to remove istio and all resources belonging to it from the cluster when a seed with the `ManagedIstio` feature gate active is deleted.

**Why is this needed**:
If the gardenlet is deployed with the `ManagedIstio` feature gate (which is enabled by default in the current

[2021-04-15 18:00] rfranzke commented on #3881
/cc @mvladev

[2021-04-16 11:47] dkistner commented on #3505
For completeness I updated the implementation proposal above with the discussed changes.

As I guess that this feature will be quite large, I will split it into several steps/PRs to make them easier to review (also by different people).
My current plan comprises the following steps:

- [x] Step 1: Add ExposureClass api definition, ExposureClass validation, Garden ApiServer storage/strategy for the

[2021-04-19 08:10] wyb1 commented on #2946
After discussing with @MartinWeindel @timebertt and @istvanballok we came up with the following proposal. We will add a new singleton `prometheus` which we will call `seed-prometheus` in the `garden` ns (it could also be deployed in a different ns).
# Seed-prometheus
Will be responsible for all system components running on the seed (i.e. everything other than shoot control planes).

## Contract be

[2021-04-19 08:37] wyb1 opened #3889 "Replace Prometheus VPA with HVPA"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority 3

**What would you like to be added**:

The Prometheus VPA should be replaced with HVPA similar to how [loki uses HVPA](https://github.com/gardener/gardener/pull/3025) instead of VPA.

**Why is this needed**:

Better control of Prometheus scaling

[2021-04-19 08:56] timebertt commented on #3766
/close in favor #3110 as proposed above and there probably won't be any action items for this particular issue

[2021-04-19 08:56] #3766 closed, assigned to nobody

[2021-04-19 09:14] Diaphteiros opened #3890 "Deletion of managed seeds fails"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:
I tried to delete a `seed` created by a `ManagedSeed` resource by deleting the `ManagedSeed` resource again. The seed itself gets deleted, but deletion of the `ManagedSeed` resource hangs with the error message
[code]

This happens independently of whether `ServiceAccount` or `BootstrapToken` is set in `s

[2021-04-19 09:27] rfranzke commented on #3890
/cc @stoyanr @danielfoehrKn

[2021-04-19 11:36] timebertt commented on #2946
Thanks for your proposal! As said in person, I like it very much and I'm already looking forward to the improved monitoring experience! 🚀

One minor comments and one question from my side:

1. I would propose to use `prometheus.io/{scrape,port}` (not the `.io`), as it seems to be kind of a standard in the community (e.g. comes as part of many helm charts and the prometheus helm chart also uses tho

[2021-04-19 11:49] wyb1 commented on #2946
Thanks for the feedback @timebertt!

1. You are right. I will update the comment to reflect that.
2. The grafana already exists and I propose we simply reuse it. The grafana will have multiple prometheus datasources, but I don't see that being an issue. Either way it should be used to host existing and new seed monitoring dashboards.

[2021-04-19 12:59] timebertt opened #3892 "Discussion: don't force-delete machines during hibernation"
**How to categorize this issue?**

/area robustness storage
/kind discussion
/priority 3

Currently, we [force-delete all machines](https://github.com/gardener/gardener/blob/a1b0891be6061c9511b7d6038e381c4a1a6c0f04/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go#L247) during hibenation of a shoot cluster, which means that MCM won't wait for the volumes to be detached before

[2021-04-19 13:05] timebertt commented on #3892
Additional note on custom CSI drivers:
If users have deployed additional CSI drivers to their shoot cluster, those controller Pods would need to be excluded from MCM's drain logic in order to properly execute the detach logic on hibernation. If they would be evicted similar to other Pods, `VolumeAttachment`s of those drivers would be stuck until the machine drain times out. (I couldn't find any an

[2021-04-19 13:27] BeckerMax commented on #2754
/unassign as #3445 was merged

[2021-04-19 13:28] timuthy commented on #2946
@wyb1 Can you shortly explain how this new `seed-prometheus` is different from the Prometheus instance (seed monitoring stack) we already have in the `garden` namespace or what's the motivation for adding a new Prometheus instead of reusing the existing one?
Btw. which controller will be responsible for deploying `seed-prometheus`?
Thanks :)

[2021-04-19 15:38] wyb1 commented on #2946
The motivation of adding a new prometheus is so that we have a prometheus dedicated to only monitor components running on the seed. This should be the entry point for operators when debugging issues with the seed. There are 2 reasons for not reusing the `aggregate-prometheus` which is also running in the garden ns.
1. The purpose of the `aggregate-prometheus` is to aggregate data (i.e. data with l

[2021-04-20 08:55] danielfoehrKn opened #3897 "Aggregate failing health check reports"
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 3

**What would you like to be added**:

I would like to propose **aggregated** health check reports.

Gardener has the following health checks that contribute to the Readiness conditions in the `Status` of a Shoot cluster.
-  [Health checks executed by the Gardenlet ](https://github.com/gardener/gardener/blob/929c5f9174f

[2021-04-20 08:56] BeckerMax opened #3898 "☂️ issue: Use dedicated bootstrap-tokens per shoot worker machine (instead of a long-valid shared token)"
## Use dedicated bootstrap-tokens per shoot worker machine (instead of a long-valid shared token)

_Background:_
When a new node of a shoot cluster is created the kubelet needs to register with the shoot api server. The kubelet uses a bootstrap-token for authentication.

_New:_
In the proposed new flow the worker controller (here MCM)  creates a temporary bootstrap-token for each created vm.
If th

[2021-04-20 09:29] rfranzke commented on #3897
Hm, it was rather a conscious decision to exit early when the first check fails (instead of always checking everything), mainly to not pollute the shoot status/resource in general.

[2021-04-20 10:00] rfranzke commented on #3851
/close as all related PRs were merged

[2021-04-20 10:00] #3851 closed, assigned to rfranzke

[2021-04-20 10:24] danielfoehrKn opened #3899 "Health check messages with strong types"
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 3

**What would you like to be added**:

At the moment, health check messages (from the Gardenlet & the extensions) are aggregated into one field of type `string`.

[code]

I propose strong API types for health check messages in the Shoot's `Status`.
To give an example, this is how the Shoot's conditions could look like:

[2021-04-20 10:25] danielfoehrKn commented on #3899
FYI @petersutter @grolu

[2021-04-20 10:27] danielfoehrKn commented on #3897
Yes, I would like to challenge the status quo due the reasons mentioned above.
I think that gives an incomplete overview of the health of the status.

[2021-04-20 10:29] rfranzke commented on #3897
Do you have an idea how to overcome the reasons that led to the "status quo", or, alternatively, an argument why they do no longer apply?

[2021-04-20 10:44] danielfoehrKn commented on #3897
They still apply, though I do not think the right thing to do is just dropping valid health check reports and therefore hiding problems.

First of all, I do not think that failing health checks are polluting the Shoot, but rather necessary information.
But what could be done is externalizing the aggregated health check reports into a dedicated resource.
The `Shoot` would still have a high level he

[2021-04-21 13:42] timebertt opened #3905 "Reconcile ManagedSeedSet via annotation trigger"
**How to categorize this issue?**

/area usability ops-productivity
/kind enhancement

**What would you like to be added**:

Add an option to manually trigger reconciling a `ManagedSeedSet` (without changing the spec or waiting for the periodic sync) via the well-known `gardener.cloud/operation=reconcile` annotation.
Similar to https://github.com/gardener/gardener/issues/3724 (proposed by @stoyanr

[2021-04-21 13:49] timebertt opened #3907 "Implement scale subresource for ManagedSeedSets"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What would you like to be added**:

We could implement the [scale subresource](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/horizontal-pod-autoscaler.md#scale-subresource) on `ManagedSeedSet`s similar to `Deployment`/`StatefulSet`/etc.
We can check https://github.com/kube

[2021-04-21 13:49] timebertt commented on #3907
/cc @stoyanr

[2021-04-21 13:59] timebertt opened #3908 "Use dedicated Reasons for ManagedSeedSet events"
**How to categorize this issue?**

/area usability ops-productivity
/kind enhancement

**What happened**:

When trying out the `ManagedSeedSet` controller, I noticed that `kubectl describe mss` combines events quite fast, if they have the same `Reason`, e.g.:

[code]

This prevents operators to see other relevant events, e.g. https://github.com/gardener/gardener/blob/05da6cdf802b9f462c13870874567a

[2021-04-21 14:00] stoyanr commented on #3907
/assign

[2021-04-21 14:20] timebertt opened #3909 "Relax client-side validation for templates in ManagedSeedSet"
**How to categorize this issue?**

/area usability ops-productivity
/kind enhancement

**What would you like to be added**:

When creating a minimal `ManagedSeedSet`, e.g.
[code]

via `kubectl`, the client-side validation (based on the OpenAPI spec) will fail because of some required fields, e.g.:

[code]

Though, these fields are actually optional in server-side validation and are defaulted from

[2021-04-21 14:26] timebertt opened #3910 "Relax server-side validation for templates in ManagedSeedSet"
**How to categorize this issue?**

/area usability ops-productivity
/kind enhancement

**What would you like to be added**:

In addition to relaxing client-side validation (https://github.com/gardener/gardener/issues/3909) we could also relax the server side validation of the `shootTemplate` in `ManagedSeed`s in the following ways:

- allow specifying purpose `infrastructure` in the shoot spec:
[c

[2021-04-21 15:36] stoyanr commented on #3909
Because of the above, I tend slightly to prefer not to do as suggested, also since there are multiple workarounds. Having `+optional` fields that are in fact mandatory might be confusing for users and cause more damage than the convenience of e.g. not having to specify a few empty fields. I don't really have a strong opinion though.

Note that this behavior is only reproducible when `seedTemplate`

[2021-04-21 15:36] stoyanr commented on #3910
/assign

[2021-04-21 15:37] stoyanr commented on #3908
/assign

[2021-04-22 06:10] rfranzke commented on #3909
I agree with @stoyanr, I think the drawbacks don't justify such change, especially because `ManagedSeedSet`s are (at least today) not the most frequently used resources in the Gardener API while `Seed`s/`Shoot`s are.

[2021-04-22 08:08] #3838 closed, assigned to plkokanov

[2021-04-22 08:12] timebertt commented on #3897
While I do kind of understand @danielfoehrKn's motivation, I don't think, this is the way to go.

I do understand, that often times shoot conditions are showing errors (e.g. "grafana unhealthy" or "kcm unhealthy") that are actually not the "root cause" (e.g. actually "prometheus" or "etcd/k-api" are the problematic components) and thus the health message might be misleading.

Though, I would argue

[2021-04-22 09:01] #3907 closed, assigned to stoyanr

[2021-04-22 10:19] danielfoehrKn commented on #3897
I would argue it is more confusing to just arbitrarily drop health check reports from the Seed.

I agree,  that it is hard to prioritize health check failures.
However, we already do that implicitly today. We always prioritize health check messages coming directly from the Gardenlet over aggregated reports from Extensions.

It seems to me that both @rfranzke  and @timebertt  are rightfully concern

[2021-04-22 10:51] rfranzke commented on #3897
At this point, personally, I feel that the proposed complexity (new API/resource -> more distribution of relevant information for users, new controller -> more code, one more resource per shoot -> increased etcd data volume, ...) might not be worth the benefits, at least at this time.
In my experience, it never was an issue that I didn't have a complete overview of all the many components of the s

[2021-04-22 15:46] #3872 closed, assigned to nobody

[2021-04-23 05:13] #3905 closed, assigned to stoyanr

[2021-04-26 09:00] stoyanr opened #3948 "gardener-apiserver panic in `WebhookAuthorizer.Authorize`"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:
`gardener-apiserver` fails with the following panic:

[code]

Note that this is not a critical crash, the panic is recovered from and `gardener-apiserver` is still responsive.

**What you expected to happen**:
No panics.

**How to reproduce it (as minimally and precisely as possible)**:
* Start local dev

[2021-04-26 18:43] #3908 closed, assigned to stoyanr

[2021-04-26 18:45] #3910 closed, assigned to stoyanr

[2021-04-26 18:46] timebertt commented on #3909
Thanks for adding your opinions. As no one else supported my proposal, I think we can discard it and close the issue.
/close

[2021-04-26 18:46] #3909 closed, assigned to nobody

[2021-04-26 18:49] timebertt commented on #3672
Fixed in #3880
/close

[2021-04-26 18:49] #3672 closed, assigned to plkokanov

[2021-04-26 18:50] timebertt commented on #3733
/close
as I didn't monitor the test anymore.

[2021-04-26 18:50] #3733 closed, assigned to nobody

[2021-04-28 05:33] timebertt commented on #3907
Something we might have to do as well, when we eventually want to leverage server-side apply: https://github.com/kubernetes/kubernetes/pull/98377
Saving it now for future reference, but not sure if it's worth adapting right away.

[2021-04-28 07:55] timebertt opened #3961 "Adapt to helm v3"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:

We should finally adapt all our hack scripts and so on to helm v3 and install v3 in `install-requirements.sh`.

**Why is this needed**:

Most developers will have migrated to helm v3 by now. When doing some development for gardener that uses helm for templating stuff (e.g. `hack/local

[2021-04-28 08:42] schrodit opened #3962 "Shoot cannot be created due to a a race condition with the shoot state"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:

A cluster that was running several days was deleted.
**Directly** after the cluster was deleted a new cluster with the same name has been created.

Gardener was unable to create the new shoot due to a already existing shoot state resource with a different owner. (see below for a concrete error message).

_my assumption_:

[2021-04-28 08:48] rfranzke commented on #3962
Can you please share some relevant logs of the GC controller in KCM?

[2021-04-28 10:32] dguendisch opened #3965 "kube-scheduler vpa should have minAllowed setting"
**How to categorize this issue?**

/area control-plane
/area auto-scaling
/kind enhancement
/priority 3

**What would you like to be added**:
Please add `minAllowed` to the VPA of `kube-scheduler` to prevent too low memory recommendations.

According to @amshuman-kr:

**Why is this needed**:
In a related issue VPA recommended way too low memory settings for `kube-scheduler` which then crashlooped.

[2021-04-28 11:46] #3965 closed, assigned to nobody

[2021-04-28 12:06] #3775 closed, assigned to nobody

[2021-04-28 12:48] schrodit commented on #3962
[kcm-shootstate-gc.log](https://github.com/gardener/gardener/files/6391864/kcm-shootstate-gc.log)
Do you also need the kcm logs of a successfull run when the kcm was able to delete the shootstate?

Sidenote: I needed approx. 5 retries until I could reproduce the issue with increased verbosity.
Used Script:
[code]

[2021-04-30 09:49] danielfoehrKn commented on #3897
For me, the effect is that I do not look at the HealthCheck messages but rather directly check the ExtensionResources. So as an operator, the HealthCheck have only limited value to me.
For experienced operators that also know about the implementation details of the health checks, this might not be an issue - but I doubt the same holds true for other groups.

[2021-05-03 09:25] BeckerMax commented on #3962
We discussed this issue in the core quality round. Results:
- In the above log we see `"ts-test" is forbidden: shoot ts-test in namespace garden-core still exists` which shows that the garbage collector tries to delete the shootstate but an admission [plugin](https://github.com/gardener/gardener/blob/a4005e7fd4001e224e4c494d14a7d04c1af81c36/plugin/pkg/shootstate/validator/admission.go#L164) preven

[2021-05-03 09:26] BeckerMax commented on #3962
Thanks @schrodit for the detailed issue including logs and a script to reproduce it 👍🏼

[2021-05-03 09:41] BeckerMax opened #3987 "Validate feature flags upon Shoot K8s version update"
**How to categorize this issue?**
Certain configuration of the shoot resource is only compatible with certain Kubernetes versions. If a Shoot owner updates the Kubernetes version she might miss that therefore certain configuration can become invalid, for example runtimeConfig or feature flags,...
This can lead to an unavailable Shoot cluster after a K8s update.

/area usability
/area ops-productiv

[2021-05-04 19:55] danielfoehrKn commented on #3987
I remember discussions about this in the past.
I believe we purposefully left that to the user because it would require Gardener to maintain a complete list of feature flags per Kubernetes version.
Not sure if the effort is worth it.

[2021-05-05 06:20] rfranzke commented on #3987
The maintenance effort is negligible - a new Kubernetes version is released every 4 months, and when we add support for it to Gardener we might have to update the feature gate list for it - that's it.
The main argument for not doing it so far was that we also have other configurations (e.g., runtime config) which is way harder to validate. We always argued that using such "alpha" features is on th

[2021-05-06 10:01] hassbert opened #4002 "Shooted seed is not getting updated when updating soil seed (1.15.5 -> 1.18.1)"
**How to categorize this issue?**
/area operations
/kind bug
/priority 3

**What happened**:
I updated my gardener landscape from 1.15.5 to 1.18.1 via [garden-setup](https://github.com/gardener/garden-setup).
I have a shooted seed `eval-euc-1` created via the [`use-as-seed` annotation](https://github.com/gardener/gardener/blob/77e09dd522d7bfb682cc35d0be437201b606061b/docs/usage/shooted_seed.md)

[

[2021-05-07 06:55] timebertt commented on #4002
/cc @stoyanr @danielfoehrKn
Can you check this issue, as you have recently touched the corresponding helm charts?

[2021-05-10 09:17] vpnachev opened #4010 "Missing log line when KAS is configured with unsupported feature gate"
**How to categorize this issue?**

/area ops-productivity quality robustness
/kind bug
/priority 3

**What happened**:
https://github.com/gardener/gardener/pull/3353 has improved a lot the ops experience by providing the latest log lines.
Sometimes, it misses the log line about the misconfigured feature gate (maybe it is even not logged, changed log format or no more logging it).

**What you expec

[2021-05-10 09:39] mandelsoft commented on #2874
Another import point missing in the description is the support for operations in the fenced environment. We urgently need mechanisms that allow accessing the private environment.

May be something like opening a support channel on demand by the customer (like for on-prem R/3).

[2021-05-10 14:57] amshuman-kr opened #4018 "Use non-VPA/HPA autoscaling for metrics-server"
**How to categorize this issue?**

/area control-plane auto-scaling
/kind enhancement
/priority 2

**What would you like to be added**:

Use non-VPA/HPA autoscaling for metrics-server

**Why is this needed**:

We are using VPA to scale `metrics-server`. But VPA relies on metrics API to recommend scaling. If for any reason `metrics-server` goes into a `CrashloopBackoff`, then metrics API also will

[2021-05-10 15:12] stoyanr opened #4019 "Transient machine creation errors on Azure incorrectly categorized as ERR_INFRA_DEPENDENCIES"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority 3

**What happened**:

Gardener stopped reconciling a cluster after encountering the following error, which was labeled as `ERR_INFRA_DEPENDENCIES`: `machine(s) failed: 1 error occurred: "shoot--hc-dev--ere39-az-haas-default-z2-69ff5-9fslk": Cloud provider message - Future#WaitForCompletion: context has been cancelled: S

[2021-05-10 15:18] stoyanr commented on #4019
@rfranzke, the string that was matched was introduced by you with 36d6681aa3cfa8b60042ed33cde920fcddbf3b42, do you remember why it was introduced this way?

[2021-05-10 17:55] amshuman-kr commented on #4018
/assign @harishmanasa

[2021-05-10 20:14] vpnachev commented on #4018
Nice idea, I was thinking about moving the metrics server next to the control plane in the seed cluster. It can have a vpn sidecar like the prometheus/kube-apiserver pods and talk to the shoot network. This way we can use the well known VPA/H(V)PA for the shoot's metrics server as the cycling dependency no longer exist.
Could you evaluate also this approach?

A known limitation is that the APIServ

[2021-05-10 20:28] vpnachev commented on #4018
By the way, metrics server cannot benefit from horizontal scaling as each replica always scrape all pods and nodes resource usage, see https://github.com/kubernetes-sigs/metrics-server/issues/552 for more details.

[2021-05-10 21:10] ialidzhikov opened #4020 "[good first issue] Follow-up on `io/ioutil` deprecation"
/exp beginner
/needs help

From https://golang.org/doc/go1.16#ioutil:

Use [this Github search](https://github.com/gardener/gardener/search?p=1&q=io%2Fioutil) to list the usages of `io/ioutil` for github.com/gardener/gardener.

[2021-05-11 05:44] vlerenc commented on #4019
This comment might not be of much help, but in general, the infrastructure extensions should be better suited to guess certain classes of issues, namely all that are rooted in the infrastructure or interacting/communicating with it. In this case though, things get messier as we have specific parts of the infrastructure outsourced elsewhere, here into the MCM drivers.

The whole topic of error code

[2021-05-11 06:03] amshuman-kr commented on #4018
Thanks! This is good information.

My inclination was towards `addon-resizer` which does vertical scaling. When @harishmanasa tried it out, it worked well and delta resources per node can be configure as well. But she found one limitation that `addon-resizer` always sets requests and limits as same regardless of the initial requests and limit configuration.

Because of this limitation, we started

[2021-05-11 06:12] rfranzke commented on #4019
@stoyanr To me it seemed that this error is clearly an infrastructure problem and the Gardener operators cannot help fixing it. Hence, I was looking for a way to hide it from them so that they are not bothered with it. `ERR_INFRA_DEPENDENCIES` seemed to be the closest choice looking at the available options.

Hm, not only. For me, "INFRA DEPENDENCIES" can also mean that the error is caused by/depe

[2021-05-11 07:23] stoyanr commented on #4019
I meant that it's certainly not unique to "unmanaged resources", and this is exactly what the error message claimed the root cause to be.

Yes, but this won't solve the overall issue: instead of retrying on what was likely an infrastructure-related transient error, Gardener stops reconciling and miscategorizes the issue as "user error", leaving the user wondering what could be done, while a simple

[2021-05-11 07:41] rfranzke commented on #4019
Sure, no objections.

[2021-05-11 09:06] dguendisch opened #4023 "OIDC discovery conformance test for K8s 1.21 failing"
**How to categorize this issue?**

/area testing
/kind bug
/priority 3

**What happened**:
K8s v1.21 introduced a [new test on OIDC discovery](https://github.com/kubernetes/kubernetes/blob/v1.21.0/test/e2e/auth/service_accounts.go#L683) which fails on newly introduced K8s v1.21 shoot clusters from Gardener.

[code]

([failing code](https://github.com/kubernetes/kubernetes/blob/master/test/images/a

[2021-05-11 10:06] hzliangbin commented on #4020
/assign

[2021-05-11 12:27] ialidzhikov opened #4036 "[Flaky Test] `ControllerManager Shoot Controller Suite` fails with data race"
/area testing
/kind flake
/priority 3

**Which test(s)/suite(s) are flaking**:
`ControllerManager Shoot Controller Suite` and `Gardener Envtest Suite` fail with data race

**CI link**:
- https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-update-job/builds/234
- https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-u

[2021-05-11 13:43] stoyanr opened #4038 "Shoots hibernation falied due to PDB violation of coredns deployment"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:

Hibernation of an alicloud shoot failed with:
[code]

In the MCM logs, one can see that the machine could not be drained because of a PDB violation:
[code]

The PodDisruptionBudget `coredns` specifies max unavailable of 1.
[code]

The `coredns` deployment has 2 replicas, but since all other nodes are

[2021-05-11 14:10] vpnachev commented on #4038
This should not be a Gardener/Gardener-extension issue - see https://github.com/gardener/gardener/blob/86c5e87142bb45bcb58965c9e6ec891d2c910596/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go#L243-L249.

@gardener/mcm-maintainers please check too.

[2021-05-11 18:11] prashanth26 commented on #4038
Yes, in a hibernation case all the machines should be force deleted. We do perform a drain, however, we keep the timeout to just a minute as seen [here](https://github.com/gardener/machine-controller-manager/blob/master/pkg/util/provider/machinecontroller/machine_util.go#L951-L966). So it could be the case that you see the error for a short period until the machine deletion goes through as one of

[2021-05-11 19:06] vpnachev commented on #4010
I finally succeeded to reproduce this issue with shoot running k8s 1.16 (It did not happen with 1.15 and 1.18).
The shoot manifest is:
<details>
  <summary>Shoot manifest:</summary>

[code]

</details>

The `kube-apiserver` reports the wrong configuration but on the first line
[code]

While gardenlet is looking only in the last 10 log lines which are
[code]

A quick solution would be to also get t

[2021-05-12 06:32] stoyanr commented on #4038
I think it took longer than a minute, the cluster was in this state for at least 20 min. I manually adapted the PDB to let it go through. I only observed it once. Let's keep it open for a couple of more days, if I don't observe it for a second time I will close the ticket.

[2021-05-12 08:03] ialidzhikov commented on #4010
@vpnachev , this is the upstream PR that I was talking about https://github.com/kubernetes/kubernetes/pull/90297. Starting v1.19, on error the apiserver won't spam the command usage help text.
Not sure whether it make sense to invest in any workarounds now as I think this issue is only applicable for K8s < 1.19.

[2021-05-12 08:04] timebertt commented on #4036
Yep, also saw this one...
It seems like it wasn't the best idea to start `g-api` in-process and we should probably reconsider building a binary and executing that one instead.
Ref https://github.com/gardener/gardener/issues/3765

[2021-05-12 08:05] timebertt commented on #4036
Should we disable the test for now until we have sorted things out in the `envtest` package?

[2021-05-12 09:04] stoyanr commented on #3890
@Diaphteiros Is the issue still reproducible with latest gardener? If yes, could you please copy / attach the `ManagedSeed` resource used to reproduce this issue?

This works in general, I assume the error is only reproducible under specific circumstances, but it's hard for me to guess what.

[2021-05-12 09:12] timebertt commented on #4018
One thing to keep in mind with this approach is that the `metrics-server` constantly talks to all kubelets. By moving it to the Seed, we would cause some constant network traffic, but I'm not sure how much / how problematic it would be...

[2021-05-12 09:18] amshuman-kr commented on #4018
Considering the complexity of moving metrics-server (including the VPN and connectivity issues), in out-of-band discussion (cross-skipper meeting), it is was decided to try the `addon-resizer` approach. @harishmanasa has started work on this.

[2021-05-12 09:23] stoyanr opened #4042 "Deleting a managed seed fails because the seed deletion is denied by the `seed-restriction` webhook"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:
Deleting any managed seed on our dev landscape fails with an error similar to:
[code]

**What you expected to happen**:
The seed / managed seed should be deleted without such an error.

**How to reproduce it (as minimally and precisely as possible)**:
Try to delete any managed seed in dev.

**Anything

[2021-05-12 09:23] stoyanr commented on #4042
/cc @rfranzke

[2021-05-12 09:26] krgostev commented on #4042
/cc @kris94

[2021-05-12 09:35] stoyanr commented on #4042
I could not see any errors in the `gardener-admission-controller` logs. Perhaps it would be a good idea to log rejections.

[2021-05-12 09:36] timebertt commented on #3890
FYI: the renderer error is similar to https://github.com/gardener/gardener/issues/4002

[2021-05-12 10:09] ialidzhikov opened #4043 "gardenlet: invalid memory address or nil pointer dereference"
**How to categorize this issue?**
/kind bug
/priority 3

**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version: v1.22.2, v1.27.2
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2021-05-12 11:46] ialidzhikov opened #4048 "aggregate-prometheus-0 is OOMKilled on almost all Seeds after gardenlet@v1.22.2 rollout"
**How to categorize this issue?**
/area auto-scaling
/kind bug
/priority 3

**What happened**:

We observe `aggregate-prometheus-0` that is OOMKilled on multiple Seed after gardenlet@v1.22.2 rollout

[code]

**What you expected to happen**:

No OOMKilled events.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener ver

[2021-05-12 11:46] ialidzhikov commented on #4048
/assign @amshuman-kr @wyb1

[2021-05-12 11:57] amshuman-kr commented on #4048
Even though HVPA is applying the VPA recommendations to the `aggregate-prometheus` `StatefulSet`, the [long-standing issue](https://github.com/kubernetes/kubernetes/issues/67250) of `StatefulSet` controller not doing the rolling updates if pods are unhealth/crashing is preventing the pods to get the recommendation.

In one seed at least, I can see that the memory usage jumped from `~1Gi` to `~3.2G

[2021-05-12 12:08] rfranzke commented on #4048
Side note: If there will ever be a v2 of HVPA, I really recommend to not touch the higher-level resources but only the `Pod`s directly (like VPA). Apart from this concrete issue (StatefulSet not updating crash-looping pods), we have a lot of avoidable code complexities in g/g that would not be necessary. cc @timebertt

[2021-05-12 12:16] #4042 closed, assigned to rfranzke

[2021-05-12 12:31] stoyanr commented on #3890
@timebertt Yes, it's a duplicate. I would say let's close this ticket since the other one has more details.
/duplicate #4002

[2021-05-12 12:36] amshuman-kr commented on #4048
FWIW, I disagree. This would be a a work-around on top of a work-around. Besides, HVPA is not the only component that has this problem. Anyone deploying/managing statefulsets via controllers technically has this problem which potentially requires a manual intervention to recover.

May I suggest a controller that watches `statefulsets` (suitably annotated) and their pods. If it sees the pods crashi

[2021-05-12 12:37] stoyanr commented on #4002
/assign

[2021-05-12 12:43] amshuman-kr commented on #4048
The fact that VPA enables to avoid the complexity in gardener does not mean it should ideally be avoided. In principle, who ever deploys a resource should ideally be responsible for it mutating between reconciliation, especially if another component is also deployed which is expected to mutate it.

AFAIK, even with HPA, the replicas will get overwritten if the reconciler is not careful.

[2021-05-12 12:45] amshuman-kr commented on #4048
VPA using webhook to mutate pods is really just a work around and messes with rolling update strategy among other things. It breaks layers.

What is really required is a `Scale` subresource equivalent to scale resources. A `Resources` subresource, if you will. But even that won't eliminate the need for g/g to be careful not to overwrite. Which is as it should be, IMHO.

[2021-05-12 14:27] ialidzhikov commented on #4043
With @vpnachev we had a look into the stracktrace of the panic.

The corresponding func is

https://github.com/gardener/gardener/blob/87f7deb77d1775ac6244b09257a8bab6851c5173/pkg/controllerutils/seedfilter.go#L55-L76

According to the stacktrace, the panic comes from L67.

https://github.com/gardener/gardener/blob/87f7deb77d1775ac6244b09257a8bab6851c5173/pkg/controllerutils/seedfilter.go#L67

Howe

[2021-05-12 14:28] ialidzhikov commented on #4043
/close

[2021-05-12 15:13] amshuman-kr commented on #4048
To complete my thoughts on the topic of mutating resources (at the risk of dragging the discussion on a side-note), a more viable way to dynamically mutate resources while also reducing the complexity in gardener of having to take care not to overwrite would be to use a separate CRD (for resources) coupled with a mutating webhook to mutate higher order resources instead of mutating the pods undern

[2021-05-12 18:05] vpnachev commented on #4010
Thanks for the link!
As Gardener still support clusters <1.19 I think such improvement will help the daily ops job.

[2021-05-12 20:08] ialidzhikov commented on #4043
I hit this panic once again now.

[2021-05-12 20:08] ialidzhikov commented on #4043
/reopen

[2021-05-13 06:28] #4020 closed, assigned to hzliangbin

[2021-05-13 07:36] #4048 closed, assigned to wyb1, amshuman-kr

[2021-05-13 15:22] ialidzhikov opened #4054 "[Failing test] `Create and reconcile ManagedSeed` test is failing"
**How to categorize this issue?**
/area testing
/kind bug
/priority 3

**What happened**:

The last 9 runs of the test fail with identical errors:

![Screenshot 2021-05-13 at 18 15 03](https://user-images.githubusercontent.com/9372594/118146666-809dba00-b417-11eb-84f8-0962f546c16f.png)

Example logs of a failed run:

<details>

<summary>Test run logs</summary>

[code]

</details>

**What you expec

[2021-05-13 15:23] ialidzhikov commented on #4054
/cc @kris94 @plkokanov @stoyanr

[2021-05-13 16:52] stoyanr commented on #3890
Reopened this so we can debug. I did manage to reproduce the issue, but only by introducing in the parent gardenlet configuration a few lines that should not be there:

[code]

@Diaphteiros Could you please confirm that you parent gardenlet configuration (can be found the `garden/gardenlet-configmap` configmap for the gardenlet responsible for the shoot that is registered as seed) contains the abo

[2021-05-13 21:19] ialidzhikov opened #4055 "`./hack/.ci/prepare_release` is broken"
**How to categorize this issue?**

/kind bug
/priority 2

**What happened**:
`./hack/.ci/prepare_release` that is used by the extension controllers currently fails with:

[code]

Refs to failed releases:
- https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-extension-provider-azure-master/jobs/master-release-job/builds/2
- https://concourse.ci.gardener.cloud/teams/gardener/pipeli

[2021-05-14 10:25] danielfoehrKn commented on #4054
I think there are two issues.

1. IF the SeedAuthorizer is NOT enabled, the Gardenlet bootstrap credentials need RBAC to be configured to create a CSR for the `/seedclient subresource`.  The GCM CSR autoapprover uses the user and group of the CSR (from the Gardenlet bootstrap kubeconfig credentials) to check if this Gardenlet can even create CSRs for the /seedclient subresource.
[This PR](https://

[2021-05-14 14:04] serathius commented on #4018
Agree that you should not use VPA to autoscale MS as this creates a circular dependency. Kubernetes main repo and GKE has used `addon-resizer` for from very beginning [code](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/metrics-server/metrics-server-deployment.yaml#L71). Using addon resizer has some limits, you need to commit to some scaling dimensions like `max pods per node

[2021-05-14 14:25] stoyanr commented on #4038
Closing as promised.

[2021-05-14 14:25] #4038 closed, assigned to nobody

[2021-05-14 14:47] vpnachev commented on #4018
This is true, but Prometheus is doing the same. I guess in worst case it would double the network traffic. But as said, for now this approach will not be evaluated.

[2021-05-14 14:50] ialidzhikov commented on #4055
Today we had a few other successful releases of extensions with go1.16 + embed. For example:
- provider-gcp@v1.16.1 - https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-extension-provider-gcp-release-v1.16/jobs/release-v1.16-release-job/builds/1
- provider-openstack@v1.18.1 - https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-extension-provider-openstack-relea

[2021-05-14 14:55] ialidzhikov commented on #4055
/priority 3

[2021-05-16 18:55] plkokanov commented on #4054
Additionally the ManagedSeed deletion fails as the `resources.gardener.cloud/gardener-resource-manager-seed` finalizer is not removed on resources inside the `garden` namespace in the corresponding Shoot cluster and therefore the `garden` namespace cannot be deleted. The resources are:
Secretss: `managedresource-global-network-policies`
ManagedResources:    `global-network-policies`

[2021-05-17 04:56] amshuman-kr commented on #4018
Thanks a lot for the suggestions and for reaching out @serathius! The confirmation about the approach of using `addon-resizer` for MS is reassuring :-)

We were trying to come up with the configuration based on `addon-resizer` documentation and the MS documentation that @vpnachev shared above. This alternative configuration helps as a concrete base.

We are still making the changes. We will observ

[2021-05-17 06:24] #4010 closed, assigned to nobody

[2021-05-17 06:37] ialidzhikov commented on #4054
Sounds related to https://github.com/gardener/gardener/pull/3886

[2021-05-17 06:55] mvladev opened #4063 "Add option to enable / disable anonymous authentication of the kube-apiserver"
**How to categorize this issue?**

/area control-plane
/area security
/kind enhancement
/priority 3

**What would you like to be added**:

The `anonymousAuthentication` field should be added to [apiserver configuration](https://github.com/gardener/gardener/blob/41cfe1d32cafc7ea3ded555bde01a2a657e7aa3f/pkg/apis/core/v1beta1/types_shoot.go#L454). It should be optional `*bool` and defaulted to `false

[2021-05-17 07:55] dimityrmirchev commented on #4063
/assign @dimityrmirchev

[2021-05-17 07:56] dimityrmirchev commented on #4023
/assign @dimityrmirchev

[2021-05-17 08:41] timebertt commented on #3962
@BeckerMax are you working on this?

[2021-05-17 08:50] BeckerMax commented on #3962
Yes, I would like to finish it. Hopefully today.

[2021-05-17 08:57] timebertt commented on #3962
Ok, great 👍
/assign @BeckerMax

[2021-05-17 10:51] #4055 closed, assigned to nobody

[2021-05-17 15:11] stoyanr commented on #3890
Thanks to @Diaphteiros I was able to confirm that the above configuration could indeed be found on soil clusters, where `gardenlet` is not deployed via a managed seed. I will prepare a fix shortly.

[2021-05-18 06:31] #4054 closed, assigned to nobody

[2021-05-18 06:34] timebertt commented on #4063
@mvladev I don't fully understand this request.

`--anonymous-auth` defaults to `true` in 1.15 - 1.21, [ref](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/). So why is it necessary to explicitly enable it via the `ShootSpec`?

[Service Account Issuer Discovery](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-iss

[2021-05-18 06:56] vpnachev commented on #4063
Because of https://github.com/gardener/gardener/blob/cb2c544fcf074699db2102080509bbe28dda054e/charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml#L105

[2021-05-18 06:59] mvladev commented on #4063
From a strict security point - it's better to disable anonymous authentication. The idea is to give option to have it disabled by default and cluster admins can enable it.

Yes, this is what cluster admins need to do. However if `--anonymous-auth` is set to `false` then the API request won't even hit the RBAC authorizer. It'll be denied at the authentication step (see https://github.com/kubernetes

[2021-05-18 09:04] #3890 closed, assigned to nobody

[2021-05-18 09:04] #4002 closed, assigned to stoyanr

[2021-05-19 07:58] BeckerMax commented on #2719
/assign
/assign @voelzmo

[2021-05-19 08:04] danielfoehrKn commented on #2719
I played around with `crictl` last year to create a bootstrapping mechanism that works independently of the CRI implementation.

That works if `crictl` is preinstalled on the OS which was not well received.

Alternatively, you can use
- `ctr`  which comes as standard for each `containerd` installation but has the drawback that it is an unsupported debug client.
- Use [`nerdctl` ](https://github.co

[2021-05-20 07:57] rfranzke opened #4078 "Drop ability of gardenlet to control multiple seeds"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Today, the gardenlet can either control exactly one seed (`.seedConfig`) or multiple seeds by providing a label selector (`.seedSelector`).
We would like to drop the latter entirely.

**Why is this needed**:

There are several concerns with the functionality of controlling multipl

[2021-05-20 07:58] rfranzke commented on #4078
/cc @gardener/gardener-maintainers @mandelsoft @vlerenc

[2021-05-20 08:14] rfranzke opened #4079 "Only allow using Shoot addons for evaluation clusters beginning with v1.22"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Only allow to enable addons in `.spec.addons` in `Shoot` resources if
- `.spec.kubernetes.version` is lower than `v1.22.0`.
- `.spec.purpose=evaluation` and the `.spec.kubernetes.version` is greater or equal `v1.22.0`.

**Why is this needed**:
The addons are just provided by Garde

[2021-05-20 10:32] vpnachev commented on #4078
I usually have only one seed in my local setup, but sometimes have to add temporary second one.
We can improve the local setup tools to easily switch between seeds or to run multiple gardenlet instances in parallel. The latter would mean to support easy overwrite of the `--config=` flag and use different network [port](https://github.com/gardener/gardener/blob/92bffce756bd797fd35084a0f00058979ac13

[2021-05-20 10:35] vpnachev commented on #4079
Why with this limitation?

[2021-05-20 10:36] rfranzke commented on #4079
For backwards-compatibility

[2021-05-20 11:03] vpnachev commented on #4079
What about if a 1.21 cluster with purpose `production` is upgraded to 1.22 and the addons are enabled?
If it is initiated by the shoot owner, ok - he will see the error and find out that cannot upgrade.
But such validation will brake the forceful minor version [upgrade](https://github.com/gardener/gardener/blob/7c4388ee8bb0eaecfbae451772dc2577df45cc3f/pkg/controllermanager/controller/shoot/shoot_m

[2021-05-20 11:07] rfranzke commented on #4079
Yes, it will be denied by the API and it won't be possible to upgrade.

[2021-05-20 11:13] vpnachev commented on #4079
What do you think to extend the maintenance controller to also disable the addons when it is upgrading non evaluation shoot to k8s version >=1.21? Or to change its purpose to `evaluation` when at least one addon is still enabled?
The fact that forceful minor upgrade is happening makes me think that the shoot owner does not care much about the cluster and the GCM is allowed to apply such changes.

[2021-05-20 11:18] rfranzke commented on #4079
I would like to avoid any additional complexity. We haven't done such things in the past either (e.g., when we disallowed basic auth for newer Kubernetes versions). I would rather want to let the upgrade fail explicitly instead of silently removing some addons (which potentially break the end-users' workload).

[2021-05-20 11:55] timuthy opened #4083 "Drop support for seeds running K8s <= 1.17"
**How to categorize this issue?**

/area security
/area performance
/area scalability
/kind enhancement
/priority 3

**What would you like to be added**:
Gardener should only support seed clusters running K8s 1.18.x and later.

**Why is this needed**:
At the moment the minimum supported version of a seed cluster is K8s `1.15` or `1.16` if `ManagedIstio` is enabled ([ref](https://github.com/gardene

[2021-05-20 13:49] vpnachev opened #4084 "Evaluate dns-autoscaler as replacement of HPA for CoreDNS"
**How to categorize this issue?**

/area auto-scaling networking
/kind enhancement
/priority 3

**What would you like to be added**:
Evaluate dns-autoscaler as replacement of HPA for CoreDNS.

Currently simple [horizontal](https://github.com/gardener/gardener/blob/v1.23.0/charts/shoot-core/components/charts/coredns/templates/coredns-hpa.yaml) pod autoscaler that scales based on the CPU usage. The

[2021-05-20 14:49] vlerenc commented on #4084
/cc @DockToFuture @ScheererJ Seems to use https://github.com/kubernetes-sigs/cluster-proportional-autoscaler under hood, which we were talking about just now. Thanks @vpnachev !

[2021-05-21 06:59] #4023 closed, assigned to dimityrmirchev, mvladev

[2021-05-21 07:46] #4063 closed, assigned to dimityrmirchev

[2021-05-21 07:48] timebertt commented on #4083
Thanks for the excellent summary!
One addition: If the `SeedKubeScheduler` feature gate is enabled, we also require `>=1.18` as a seed cluster kubernetes version already ([ref](https://github.com/gardener/gardener/blob/master/docs/deployment/feature_gates.md#list-of-feature-gates))

[2021-05-21 07:54] timebertt commented on #4078
+100, very much in favor of this 💯👍

[2021-05-21 09:53] dguendisch opened #4095 "Istio-ingressgateway getting stuck sometimes."
**How to categorize this issue?**

/area networking
/area control-plane
/kind bug
/priority 2

**What happened**:
We noticed from time to time that some istio-ingressgateway pods stop working resulting in customers getting occasionally some `SSL_ERROR_SYSCALL` when e.g. curl'ing their shoot api servers. Simple deleting and thus restarting such istio pods resolved the issue.

What the failing istio

[2021-05-21 09:57] ialidzhikov commented on #4095
Is this related to https://github.com/istio/istio/issues/29334 and https://github.com/gardener/gardener-extension-provider-alicloud/issues/181? Or is it another issue?

[2021-05-21 10:18] dguendisch commented on #4095
Thanks for the pointer! I think this addresses in fact the same issue. And it seems there is already a fix on envoy side: https://github.com/istio/istio/issues/29334#issuecomment-825792362

[2021-05-21 11:10] vpnachev commented on #4079
Agree, but what does this mean for GCM? Will it set the shoot to failed state? If not, then it will be silently failing.

[2021-05-21 12:59] rfranzke commented on #4079
Probably, but this is another problem out of scope of this issue. You might want to open a separate issue to track this.

[2021-05-21 13:25] #4019 closed, assigned to nobody

[2021-05-25 10:17] danielfoehrKn commented on #4095
@mvladev updated istio from `1.8` to `1.9.5` with [this PR.](https://github.com/gardener/gardener/pull/4101/files).

Do I understand correctly that this version does not include yet any fixes regarding the envoy master process problems we have encountered?
This is just to make sure that we run an up-to-date version

EDIT: apparently the latest version should include [this commit](https://github.co

[2021-05-25 13:53] rfranzke commented on #3961
@timebertt can this be closed?

[2021-05-25 15:28] timebertt commented on #3961
Yep 👍
/close

[2021-05-25 15:29] #3961 closed, assigned to nobody

[2021-05-26 07:13] timebertt opened #4106 "Optimize memory footprint of gardener-apiserver"
**How to categorize this issue?**

/area cost scalability
/kind enhancement
/priority 3

**What would you like to be added**:

While looking into https://github.com/gardener/gardener/pull/4100#discussion_r638534525, @BeckerMax and I discovered, that `gardener-apiserver` consumes a huge amount of memory in large landscapes, e.g. in a landscape with ~2.4k shoots:
[code]

Part of this is probably due

[2021-05-26 10:20] christianhuening opened #4108 "Grafana NetworkPolicy does not match Ingress controller in kube-system"
**How to categorize this issue?**

/area monitoring
/area security
/kind bug
/priority 2

**What happened**:

The shoot's Grafana deploys a NetworkPolicy which does not match the Nginx Ingress Controller in `kube-system`. Hence it's not accessable:

The NetworkPolicy
[code]

The nginx-ingress controller:
[code]

as can be seen the labels don't match the label selectors

**What you expected to happ

[2021-05-26 12:07] voelzmo opened #4110 "Deprecate usage of docker as container runtime in gardener"
**How to categorize this issue?**
/kind epic
/priority 3

**What would you like to be added**:
* We need to switch to a CRI container runtime and remove the option the configure docker as a runtime from a yet-to-be-determined gardener version on (latest in April 2022).
* We need to provide a migration path for existing shoots switching from docker to a new CRI container runtime

**Why is this need

[2021-05-26 12:08] voelzmo commented on #4110
/assign
/assign @BeckerMax

[2021-05-26 12:09] voelzmo commented on #2719
/close in favor of #4110

[2021-05-26 12:09] #2719 closed, assigned to voelzmo, BeckerMax, danielfoehrKn

[2021-05-26 12:52] rfranzke commented on #4110
I think we should only enforce using containerd for shoots >= Kubernetes v1.22. All shoots < v1.22 should be allowed to use either docker or containerd like today, hence,

should not be necessary, or? Do you see a strong need to enforce containerd for all shoots, even those < v1.22?

[2021-05-26 14:03] vpnachev commented on #4110
We are using cgroupfs, which is still the default in k8s even though the recommended one is systemd. This change requires node roll out, as well as proper configuration of the CRI as kubelet require to run in the same cgroup.

Such change is not backward compatible and I am against changing anything in existing clusters. Defaulting to `containerd` for shoots runnnig on k8s >=1.22 sounds like bette

[2021-05-27 05:18] valentinvieriu commented on #3962
This situation still occurs.

[2021-05-27 05:35] timebertt commented on #3962
@valentinvieriu yes, and as you can see from the linked PR, we are currently working on a fix :)

[2021-05-27 07:05] timebertt opened #4114 "Generated CRD `bastions.extensions.gardener.cloud` is invalid"
**How to categorize this issue?**

/area dev-productivity
/kind bug
/priority 3

**What happened**:

The generated CRD `bastions.extensions.gardener.cloud` cannot be applied on a k8s `v1.18.18` cluster.

[code]

**What you expected to happen**:

CRD can be applied.

**Environment**:

- Gardener version: current master (82ff267575bee297ae438dbc070550e157df0cc7)
- Kubernetes version (use `kubectl ve

[2021-05-27 07:05] timebertt commented on #4114
cc @petersutter @xrstf

[2021-05-27 11:01] amshuman-kr commented on #4018
While testing the changes in gardener to use the `addon-resizer`, we found that there is a race between the `gardener-resource-manager` and the `addon-resizer` in updating the `metrics-server`. The `metrics-server` keeps flapping because of this.

The `gardener-resource-manager` is [already considering](https://github.com/gardener/gardener-resource-manager/blob/4d38c292feea2ad3d653f824ea659fb81bde

[2021-05-27 11:37] timebertt commented on #4108
Fixed with https://github.com/gardener/garden-setup/pull/502
/close

[2021-05-27 11:37] #4108 closed, assigned to nobody

[2021-05-27 13:38] RaphaelVogel opened #4120 "Update architecture documentation"
**How to categorize this issue?**

/area documentation
/kind enhancement
/priority 4

**What would you like to be added**:
Update the architecture picture (https://github.com/gardener/gardener/blob/master/docs/concepts/architecture.md) and description to reflect changes with regards to "reversed cluster VPN" and "shoot API server via SNI"

[2021-05-27 16:59] timebertt opened #4122 "☂️-issue for Server-Side Apply in Gardener"
**How to categorize this issue?**

/area dev-productivity scalability
/kind impediment

From https://github.com/gardener/gardener/issues/4083:

While investigating how and under which circumstances SSA can be leveraged in Gardener as part of https://github.com/gardener/gardener/pull/4027, we got aware of the following major problems that will most probably prevent us from leveraging SSA as origina

[2021-05-27 17:01] vlerenc commented on #4110
Too many people have made themselves dependent on an implementation detail (dockerd underneath), so we cannot change it without users either selecting it as container runtime explicitly or with a new Kubernetes version, which is also explicit.

I would suggest the latter, i.e. piggy-back on a new Kubernetes version and the deprecation of the dockershim to ride on that wave and avoid (to some degre

[2021-05-27 17:05] timebertt commented on #4122
So far there's no decision whether to drop the idea of using SSA in gardener or pursue it further. However, the list above shows that we have to be very conscious about when we can properly leverage it.
We still want to understand the `before-first-apply` manager and the reasoning behind it, so maybe this provides us with some more arguments for taking a decision here.

[2021-05-28 06:17] #3962 closed, assigned to BeckerMax

[2021-05-28 06:33] timebertt commented on #4120
cc @mvladev @DockToFuture @ScheererJ

[2021-05-28 06:53] timebertt commented on #4018
Yes, sounds good to me. I don't have any better idea for this currently.

[2021-05-28 11:10] morremeyer opened #4123 "Definitions/decisions for helm chart repository"
**How to categorize this issue?**
/area delivery
/kind enhancement
/priority 3

**What would you like to be added**:

As [discussed in Slack](https://kubernetes.slack.com/archives/CB57N0BFG/p1621333321024300) and in #1823, there is interest in having a helm chart repository for all charts needed to successfully deploy gardener.

I want all charts that are required to deploy and maintain a gardener

[2021-05-28 13:38] ialidzhikov opened #4127 "Shoot fails to be reconciled after enabling ManagedIstio and APIServerSNI feature gates"
/kind bug
/priority 3

**What happened**:

Shoot fails to be reconciled after enabling ManagedIstio and APIServerSNI feature gates

**How to reproduce it (as minimally and precisely as possible)**:

1. Start gardenlet with APIServerSNI and ManagedIstio feature gates disabled

[code]

2. Create Shoot and make sure that it is successfully created

3. Start gardenlet with APIServerSNI and ManagedIsti

[2021-05-28 14:22] lotharbach commented on #4123
These are the charts and their sources that we consume for our helm-based setups:
[code]

I think everything except controlplane and gardenlet in charts/gardener is not meant for human consumption. For a setup that enables the virtualGarden you need to install
charts/gardener/controlplane/charts/application/ and runtime/ seperately with different kubeconfig targets, so I believe they need to be re

[2021-05-28 15:18] voelzmo commented on #4110
Thanks for the comments y'all! Most of the discussion seems to deal with if/how/when to switch the container runtime for new/existing clusters. Please help me understand your opinions in a bit more details, such that we can make the right decisions here

@vlerenc

My understanding is that you're referring to changing the container runtime for already existing clusters here, is that correct? Would

[2021-05-28 15:24] rfranzke commented on #4110
IMO, we don't need a new API version. We change the defaulting in the API for `Shoot`s using a `.spec.kubernetes.version` of at least `v1.22` (if that's the version which doesn't support dockershim anymore) in a way that `.spec.provider.workers[].cri.name=containerd` (while `containerd` is also the sole allowed value).

[2021-05-28 16:59] danielfoehrKn commented on #4095
In addition to fixing the problem with the main envoy process,  I think we should also adjust the resource requests of the istio-ingressgateway envoy pods.

The istio-ingressgateway is a critical component of a Seed cluster. It requires a lot of CPU time and memory depending on the API server traffic (probably mostly dependent on the number of Shoots on the Seed cluster).

- I think it makes sense

[2021-05-28 19:32] vpnachev commented on #4110
### API convention

@voelzmo if we try to follow strictly the well establish API convention in the k8s community https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md, we must also bump the apiVersion number. Why - because changing the default value from the current implicit `docker-shim` to the explicit `containerd` is considered as not backwar

[2021-05-29 06:49] vlerenc commented on #4110
@voelzmo We may not do that, unless we bind it to the Kubernetes version (we should amend this line in the ticket description's "next steps" with the Kubernetes version condition for clarity - the line after that about the removal as well).

Reason being: We have many stakeholders with automation in place, i.e. we cannot change the default behaviour for new clusters. The clusters the people will t

[2021-05-30 14:51] ialidzhikov commented on #4127
@rfranzke @mvladev I suspect that this is caused by one of the recent refactoring PRs - probably #3983.

[2021-05-31 07:55] timebertt commented on #4083
With this, we will also be able to finally get rid of the infrastructure cleanup wait, which will make shoot deletion faster by ~5m 🎉
https://github.com/gardener/gardener/blob/e3e68ccb2a198c27e2943d07b79d4e342ad14741/pkg/gardenlet/controller/shoot/shoot_control_delete.go#L432-L448

[2021-05-31 08:01] rfranzke commented on #4083
I don't know, we have to test that thoroughly. We have seen issues with AWS when we deactivated the explicit LB deletion with https://github.com/gardener/gardener-extension-provider-aws/pull/290 and had to reactive it with https://github.com/gardener/gardener-extension-provider-aws/pull/295 because it didn't work as expected.

[2021-05-31 08:39] timebertt commented on #4123
I have some concerns about the proposed approach. I would rather release charts in lock-step with gardener itself, because of the following reasons:
- usually we adapt the controlplane and gardenlet charts to changes in the components in the same PR (as this is the easiest flow). Releasing new chart versions for every change to the charts would mean having released charts that require newer compon

[2021-05-31 08:40] stoyanr commented on #3987
/assign

[2021-05-31 08:59] ialidzhikov opened #4135 "[Failing test] should add worker pool with containerd"
/area testing
/kind bug

**What happened**:

Currently the `[Fail] Shoot container runtime testing [It] [DEFAULT] [SERIAL] [SHOOT] should add worker pool with containerd ` test fails with:

[code]

<img width="794" alt="Screenshot 2021-05-31 at 11 53 56" src="https://user-images.githubusercontent.com/9372594/120168155-3c782b00-c207-11eb-894b-53f2846918d6.png">

**Environment**:

- Gardener version

[2021-05-31 09:12] morremeyer commented on #4123
That’s a very good point and we definitely shouldn’t break this workflow. As helm requires the usage of semver, we can’t keep the version numbers the same anyway.

Do they assume that the releases are in lockstep or that the version numbers are the same?

In my opinion, if a chart has a bug, there should be a possibility to fix that bug without waiting for the next gardener release.

I think this

[2021-05-31 09:50] timebertt commented on #4123
Our internal tooling checks out g/g at the to-be-deployed version and applies the helm chart from the file system (basically what @gesslein described above). I assume, garden-setup does the same (but I don't know).

We are quite fast with doing patch releases in g/g. So if there is a bug in the helm chart, we can quickly release patch releases with fixes exactly like we also do for the binaries (s

[2021-05-31 10:00] morremeyer commented on #4123
No, if we don’t have a dependency for the chart to have the exact same version as the gardener release, we’re good imho.

So we’d basically be keeping the same workflow, just with a version bump of the charts on each gardener release depending on the changes made.

Let’s wait for feedback by the others to see how we can proceed.

[2021-05-31 11:18] #4135 closed, assigned to nobody

[2021-05-31 11:19] vpnachev opened #4139 "ShootState Owner Reference bug is wrongly detected as user issue"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority 3

**What happened**:
When a shoot cluster is affected by https://github.com/gardener/gardener/issues/3962, it is assigned to the `ERR_CONFIGURATION_PROBLEM` category because of the `Invalid value` string in the error message.
However, shoot owner may not have access to the ShootState to fix the ownerReferences, thus cla

[2021-05-31 12:50] Kristian-ZH commented on #3554
/close

[2021-05-31 12:50] #3554 closed, assigned to nobody

[2021-05-31 12:53] Kristian-ZH commented on #3552
/close

[2021-05-31 12:54] #3552 closed, assigned to nobody

[2021-05-31 12:54] Kristian-ZH commented on #3549
/close

A PR is merged

[2021-05-31 12:54] #3549 closed, assigned to vlvasilev, Kristian-ZH

[2021-05-31 12:55] Kristian-ZH commented on #2991
As the communication stopped for this PR, we can close the issue

/close

[2021-05-31 12:55] #2991 closed, assigned to vlvasilev, Kristian-ZH

[2021-05-31 12:56] Kristian-ZH commented on #3548
/close

Tests are fixed

[2021-05-31 12:56] #3548 closed, assigned to vlvasilev

[2021-05-31 12:58] Kristian-ZH commented on #3547
/close

This issue was fixed

[2021-05-31 12:58] #3547 closed, assigned to vlvasilev

[2021-06-01 07:02] schrodit commented on #4123
Hi,
sorry for joining late in the discussion.

My comments on the topic:

We already maintain a helm chart repo for our [test charts](https://github.com/gardener/gardener/blob/master/test/framework/resources/repository/repositories.yaml#L8) in our google cloud bucket (https://storage.googleapis.com/gardener-public/integrationtests-charts).
Would it be possible with the CR tool to use the google st

[2021-06-01 08:10] #4114 closed, assigned to nobody

[2021-06-01 08:13] voelzmo commented on #4110
Thanks for all the detailed comments, I really appreciate you all taking the time to provide more context on your thoughts!
To keep you in the loop, here's what we changed in the original issue, hoping that your input is well considered. Let me know if that didn't quite capture it!

* Added concrete k8s versions to the steps of changing the default container runtime for new shoots (1.22) and remov

[2021-06-01 08:19] vpnachev opened #4142 "When removing K8S or OS version from CloudProfile, shoots in deletion should be ignored"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
The cloud profile validation should count only shoots that are not in deletion.
Sometimes, there are shoots stuck in deletion for months and this block landscape operators to remove versions that expired long time ago.

Here https://github.com/gardener/gardener/blob/1c2fd78

[2021-06-01 08:30] morremeyer commented on #4123
No, cr is explicitly made for github pages. I’m not at all set on using github pages, it was just the easiest tool to get started with.

The chart version will only be bumped (and therefore the release process triggered) when a gardener release happens (to avoid having a released chart version that requires component versions that are not released).

Due to the requirement by helm that chart versi

[2021-06-01 14:30] timebertt commented on #4122
There is an upstream issue about the migration from CSA/`CreateOrUpdate` to SSA: https://github.com/kubernetes/kubernetes/issues/99003

[2021-06-01 15:41] ialidzhikov opened #4147 "Graduate the MountHostCADirectories feature gate"
/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:
`MountHostCADirectories` feature gate was introduced ~9 months ago with https://github.com/gardener/gardener/pull/2852. Its main purpose was to preserve the backwards-compatibility between Gardener and several provider extensions.

The compatibility notes on the provider extensions side are:
- https://github.co

[2021-06-01 15:41] ialidzhikov commented on #4147
/cc @danielfoehrKn

[2021-06-02 12:32] vpnachev opened #4153 "Creation of shoot cluster with wrong OIDC config is allowed"
**How to categorize this issue?**
/kind bug
/priority 3

**What happened**:
A shoot cluster with wrong OIDC configuration was created
[code]

Later, the `kube-apiserver` deployment was failing with
[code]

**What you expected to happen**:
The OIDC [validation](https://github.com/gardener/gardener/blob/893f4042fa3e4a1814ab04b4dd79e9a09e1f914a/pkg/apis/core/validation/shoot.go#L586-L635) needs to be

[2021-06-02 13:05] danielfoehrKn commented on #4095
@mvladev WDYT

[2021-06-02 14:47] ialidzhikov opened #4160 "[Flaky Test] guestbook test can flake because of Docker Hub rate limits"
/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`Shoot application testing GuestBook [It] [DEFAULT] [RELEASE] [SHOOT] should deploy guestbook app successfully`

**CI link**:
Not applicable

**Reason for failure**:
For a newly created Shoot I saw a Docker Hub rate limits issue that caused the guestbook test to fail (redis image fails to be pulled -> redis Pod cannot start)

[code

[2021-06-02 15:07] ialidzhikov commented on #4160
I am still not quite sure how for a newly created Shoot, we can hit similar Docker Hub rate limit. Anonymous users should be limited to 100 image pulls per 6 hours. I checked the system components in the kube-system ns and they were all specifying  images in GCR.

[2021-06-02 19:55] ialidzhikov commented on #2423
I guess increasing the timeouts in the guestbook test helped for this issue - ref https://github.com/gardener/gardener/pull/2338. At least I have not seen recently the failure described in this issue.

[2021-06-02 19:55] ialidzhikov commented on #2423
/close

[2021-06-02 19:55] #2423 closed, assigned to nobody

[2021-06-02 19:57] ialidzhikov commented on #4160
/cc @dguendisch

[2021-06-03 11:29] ialidzhikov commented on #4160
@vpnachev shared that in our fenced environment, all egress connections are issued from single IP (or set of IPs). This explains why in such fenced environment we observe Docker Hub rate limits even for newly created Shoot.

[2021-06-04 14:11] pluemer opened #4167 "Configure cluster-wide surge rate"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

An option to configure a maximum _cluster-wide_ surge rate for shoot worker nodes.

**Why is this needed**:

Currently, the maximum surge rate for shoot worker nodes can only be configured on a worker group level by setting `maxSurge` in `.spec.provider.workers[]`. As the num

[2021-06-04 15:04] timuthy commented on #4167
For your use case, what would be the best way to distribute such a global `maxSurge` value over the configured worker pools?

[2021-06-04 15:28] pluemer commented on #4167
The ratio of a worker group's surge rate to the cluster-wide surge rate should be inverse to the ratio of the worker group's number of nodes to the cluster's total number of nodes, i.e. the more nodes a worker group has, the lower the relative surge rate should be.

[2021-06-04 15:28] stoyanr commented on #4142
/assign

[2021-06-04 16:26] timuthy commented on #4167
Understandable from the motivation you wrote down in the description. Other users might expect a bigger `maxSurge` for big worker pools, to let the rolling update happen faster.

[2021-06-07 08:43] rfranzke commented on #4153
/assign

[2021-06-07 09:41] rfranzke commented on #4153
Only the algorithms listed in https://datatracker.ietf.org/doc/html/rfc7518#section-3.1 should be allowed. As the KAPI fails when invalid signing algs are configured, no special handling wrt backwards-compatibility is required.

[2021-06-07 12:03] dguendisch commented on #4095
fyi: I noticed on our canary landscape that `1.9.5` indeed either fixed or greatly reduced the problem. I don't see any istio pod getting high mem or high cpu after some days now. (will monitor the next days as well)

[2021-06-07 12:26] dguendisch commented on #4079
In this case probably the guestbook tests (and others?) need to be amended by deploying their own ingress controller.
Today they rely on one being present and only create `ingress` resources.

[2021-06-07 13:13] #4142 closed, assigned to stoyanr

[2021-06-07 14:22] rfranzke commented on #4079
@dguendisch In which case? We could also allow to enable the addon for both `evaluation` and `testing` purposes, would this be good enough for the integration tests?

[2021-06-07 16:25] dguendisch commented on #4079
We intentionally don't set the `testing` purpose (so that we do have logging&monitoring to test it :) ).
I rechecked, our shoots do have the `evaluation` purpose, I couldn't find where we set it and @schrodit suggested that it's the default. If this is true, we are good to go and the tests will still find nginx ingress.

[2021-06-07 17:58] vasu1124 opened #4173 "BL: Persistent Volume Autoscaling"
**What would you like to be added**:
With [allowVolumeExpansion](https://kubernetes.io/docs/concepts/storage/storage-classes/#allow-volume-expansion) in beta since 1.11 and supported by many CSI controllers, and [ExpandInUsePersistentVolumes](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) also in beta since 1.15, we could offer a PV autoscaling controller similar

[2021-06-08 04:49] rfranzke opened #4174 "Upgrade sigs.k8s.io/controller-runtime to v0.9, k8s.io/* to v0.21"
**How to categorize this issue?**

/area open-source
/kind enhancement
/priority 3

**What would you like to be added**:
`sigs.k8s.io/controller-runtime` has released `v0.9.0`, see https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.9.0. It vendors `k8s.io/*` at `v0.21`, so we can go ahead and update our dependencies as well.

[2021-06-08 04:49] rfranzke commented on #4174
/cc @timebertt - would you be interested in taking this again?

[2021-06-08 06:10] timebertt commented on #4174
I can already sense some trouble, but I'll do it 😉
/assign

[2021-06-08 06:13] rfranzke commented on #4174
Great, thanks! Let's hope for the best... :)

[2021-06-08 06:38] #3987 closed, assigned to stoyanr

[2021-06-08 08:06] krgostev opened #4180 "CPM Is failing on step "Deleting all extension CRs from the Shoot namespace""
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
Control Plane Migration fails with the following error:
[code]

With the current changes on the master branch the object that is passed to the [DeleteExtensionObject()](https://github.com/gardener/gardener/blob/080adaec429c75d7525b45b6d48d6f8d774355f4/pkg/extensions/customresources.go#L158) f

[2021-06-08 08:41] ialidzhikov opened #4182 "hack/get-build-ld-flags.sh: fatal: ls-files -i must be used with either -o or -c"
/kind bug

**What happened**:

[code]

**What you expected to happen**:
`hack/get-build-ld-flags.sh` to work with latest version of git.

**How to reproduce it (as minimally and precisely as possible)**:
See above

**Environment**:

- Gardener version: master
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2021-06-08 08:50] timebertt commented on #4180
This is probably caused by https://github.com/gardener/gardener/pull/4027, right?

[2021-06-08 09:27] #4153 closed, assigned to rfranzke

[2021-06-08 10:59] krgostev commented on #4180
Yep, this could be, however I am not completely sure.

[2021-06-09 05:53] rfranzke opened #4188 "Landscaper Integration"
**How to categorize this issue?**

/area delivery
/kind enhancement
/priority 3

**What would you like to be added**:
Let's integrate with Landscaper and develop components adhering to the APIs and contracts.

**Why is this needed**:
Ease of management of Gardener landscapes

[2021-06-09 05:55] rfranzke commented on #4188
/assign @danielfoehrKn
/in-progress

Related PRs:
- #3130
- #3627
- #3757
- #3809
- #3981
- #3999
- #4283
- #4287
- #4331
- #4835
- #4865
- #5072
- #5130
- #5233
- #5276

[2021-06-09 07:21] timebertt commented on #4180
Ok, I was able to reproduce this locally. It is indeed introduced by #4027.
If for some reason, the migrate flow is executed a second time immediately after the first run, the extension resources are already gone which leads to the failure described here.

What happens is the following:
1. `Migrate` is called on component (e.g. [`infrastructure.Migrate`](https://github.com/gardener/gardener/blob/2

[2021-06-09 07:22] timebertt commented on #4180
Besides the bug introduced by my refactoring, we should probably look into why the migrate flow is executed twice.
Is this by design? Have you observed this behavior before?

[2021-06-09 07:34] krgostev commented on #4180
Thanks a lot for checking this!
Yes we have observed this and a PR is already on its way to fix this issue. #4189
It appears that it was doing it for a while, but we have missed this since the migration flow was running successfully. With the latest changes in the gardener this issue became more visible.

[2021-06-09 07:36] timebertt commented on #4180
Ok, great!
Then both issues touched here will be fixed :)

[2021-06-09 21:06] pluemer commented on #4167
We could still add another field to specify the algorithm later if another behavior is requested by other users. What do you think?

[2021-06-10 06:27] #4180 closed, assigned to timebertt

[2021-06-10 07:06] morremeyer commented on #4123
@schrodit, @timebertt Given the current state and the plans that you have, especially with landscaper: Is there a preferred solution for the requirement „I want to use the controlplane and gardenlet charts in a helm native way (i.e. without cloning the git repo)?“

I’d like to push this topic forward to resolve that clunky step in our deployments, but I also don’t want to make it overly complex.

[2021-06-10 12:51] rfranzke commented on #2956
/close as we plan to remove `KonnectivityTunnel` in favor of the new `ReversedVPN` feature gate

[2021-06-10 12:51] #2956 closed, assigned to DockToFuture, mvladev

[2021-06-10 12:53] rfranzke commented on #2371
There is https://github.com/23technologies/gardener-extension-provider-hcloud now, so let's
/close
this issue and follow up on above repo

[2021-06-10 12:53] #2371 closed, assigned to berendt

[2021-06-10 12:57] rfranzke commented on #1218
Thanks @ScheererJ, do you or @DockToFuture plan to take this in the near future?

[2021-06-10 12:59] rfranzke commented on #1380
I think there are no concrete plans to pursue this anymore. Generally, even if there's still the necessity for it, I'd vote for implementing this as a separate component that registers a webhook for `Pod`s and injects a configured image pull secret.
Adding it to Gardener core wouldn't be enough as there are many extensions that would require similar functionality, i.e., it's easier to handle it ce

[2021-06-10 12:59] #1380 closed, assigned to nobody

[2021-06-10 13:00] rfranzke commented on #1433
@mvladev What's the plan with this issue now that we have merged the `shoots/adminkubeconfig` subresource feature? Do you still plan to generate an OIDC kubeconfig if the `Shoot` has configured OIDC settings?

[2021-06-11 07:13] rfranzke commented on #3889
@wyb1 are you still planning to follow-up on HVPA for Prometheus for shoot control planes?

[2021-06-11 07:15] rfranzke commented on #4043
@ialidzhikov Does this issue still appear? 👀

[2021-06-11 09:16] mandelsoft commented on #4078
In general I would urgently avoid to restrict the usecases a controller can be used for without very severe reasons.
Be happy that we already have a general solution and do not try to mutilate such a solution.

Basically I cannot see those reasons here.

There are three points mentioned above:
- Just reading  (#1723) if couldn't find any real problem, but may be I missed something.
  The only prob

[2021-06-11 09:32] timebertt commented on #4174
/in-progress

[2021-06-11 10:59] rfranzke commented on #4078
Thanks for your PoV @mandelsoft!

Yes, you're right, we might be able to solve this in one way or the other, still, it'd mean more effort/extra code.

use a central gardenlet (for example running in the garden cluster) to handle a small number of shoots. We run the gardener several years this way. For dedicated environments it might be a useful option. (For sure not for our large environments)

If

[2021-06-12 15:47] ialidzhikov commented on #4043
I haven't seen it recently.

[2021-06-12 15:47] ialidzhikov commented on #4043
/close

[2021-06-14 06:42] vlerenc commented on #4167
At first I thought, this could also be a machine-controller-manager (MCM) topic as it controls all machines and could control a cluster-wide maxSurge. But either way, I fear this is getting far too complex (too many possible options; custom attachable "algorithm"). Just with schedulers, where you can deploy your own, you can change the settings dynamically with a custom controller, too. Then you h

[2021-06-14 07:51] wyb1 commented on #3889
Yes, I am planning on adding HVPA for the shoot Prometheus as a feature gate. Will have to implement this and do some testing to make sure there is no operational effort needed for the migration.

[2021-06-14 07:59] rfranzke commented on #3889
Thanks! What's the reason for the feature gate?

[2021-06-14 08:03] wyb1 commented on #3889
To allow easy rollback if we find out Prometheus gets stuck in a `CrashLoopBackOff` when migrating (we experienced this when we added hvpa to the seed-bootstrap). This way we will not break most shoot prometheus instances.

[2021-06-14 09:23] rfranzke commented on #4079
/assign @stoyanr

[2021-06-15 10:41] rfranzke commented on #4078
In a meeting about the subject matter with @stoyanr @timebertt @timuthy @vpnachev, we discussed potential ways to address the apparently sole meaningful reason for still having the ability for gardenlet to control multiple seeds in the first place:

We figured, that in 95% of the development cases it is sufficient to have a gardenlet only targeting exactly one seed. The rest is accounted to the ef

[2021-06-15 13:45] brumhard opened #4214 "core/v1beta1.Provider should implement runtime.NestedObjectEncoder"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
I would like the `Shoot` or rather the `Provider` struct in "github.com/gardener/gardener/pkg/apis/core/v1beta1" to implement the `runtime.NestedObjectEncoder` interface.

**Why is this needed**:
The `Provider` contains two fields of type `*runtime.RawExtension`. If the struct is

[2021-06-15 14:03] brumhard commented on #4214
Of course the same thing applies for all other types that use `*runtime.RawExtension` as property types. A quick search in github revealed that there are plenty of types using it with none of them implementing the interface.

[2021-06-16 06:51] timebertt commented on #4174
Ok, upgrade should not bring many difficulties.
Nevertheless, here is a list of a few (breaking) changes upstream to look out for when vendoring g/g, k/* and c-r in any of our repos (e.g. extensions):

### Most important changes in `k-s/c-r@v0.9` to look out for (see the [release notes](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.9.0) for complete list and more details)

[2021-06-16 07:44] schrodit commented on #4123
With the Landscaper we use a dedicated installer that has the helm charts embedded.
Pushing the charts to another registry does not interfere with the Landscaper plans.

I think its more about the maintenance aspect which is the decision of the core team.
@timebertt do you have a preferred way forward?

[2021-06-16 11:48] rfranzke opened #4219 "Improve local setup to respect gardenlet RBAC roles in the seed cluster"
**How to categorize this issue?**

/area security dev-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
With #4129, the RBAC resources for the gardenlet permissions in the seed cluster will be hardened (earlier, it required admin privileges).
However, in the local setup, usually the gardenlet does not run inside the seed cluster but as process on a developer's machin

[2021-06-16 12:50] timebertt commented on #4123
Well, I outline my proposal above and I think, I haven't seen any concerns/objections.
So I'm fine with continuing like that or discussing concrete steps.

[2021-06-16 13:54] timebertt commented on #4214
Hi @brumhard.
I think, `runtime.RawExtension.Object` is supposed to only be used after decoding an object to save extra back-and-forth encoding and decoding during conversion ([ref](https://github.com/kubernetes/kubernetes/blob/0bc75afcf262e20a23966c10a3224f8acd1cc117/staging/src/k8s.io/apimachinery/pkg/runtime/types.go#L49-L89)).
Clients should generally always encode the `RawExtension` objects f

[2021-06-17 06:15] #4079 closed, assigned to stoyanr

[2021-06-17 06:44] #4174 closed, assigned to timebertt

[2021-06-17 15:42] #1724 closed, assigned to vpnachev, ialidzhikov

[2021-06-18 09:07] brumhard commented on #4214
Hi there @timebertt, thank you for you detailed explanation.
From the MarshalJSON documentation I have to agreee that it looks like this is actually not the correct way.
Still it feels kinda cumbersome to first decode all nested `RawExtension` fields with the correct scheme and then put it into the struct (just much more code).

I took the implementation from [some openshift code](https://github.c

[2021-06-21 08:35] timebertt commented on #4214
I think, there would be one more problem with the approach proposed above, that I didn't mention so far:
I assume, this will break protobuf serialization, because `RawExtension` fields have to be encoded in json and embedded as plain byte arrays in protobuf, as there are no generated protobuf types for the extension provider configs. And even if there were, gardener-apiserver couldn't know about t

[2021-06-21 13:54] timebertt commented on #3892
/close due to inactivity / no responses

[2021-06-21 13:54] #3892 closed, assigned to nobody

[2021-06-22 07:40] timebertt opened #4239 "Missing retry handling in hibernation controller"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:

Retry handling in gardener-controller-manager's hibernation controller.

**Why is this needed**:

Currently, when shoots specify a hibernation schedule, gcm will try to hibernate the shoot (set `spec.hibernation.enabled`) accordingly. However, if there is some temporary problem with for exa

[2021-06-22 08:29] danielfoehrKn commented on #4095
@dguendisch  even on particular busy seed clusters the memory and cpu consumption is:

[code]
We currently define envoy as guaranteed QoS with 4Gi and 4 CPU (for all seeds).
That is a heavy over-reservation

If we really want to increase cpu performance of the envoy proxies, we should pin them via cpu.sets to certain cores using the CPU Manager feature.

@rfranzke can we add this issue to the qual

[2021-06-22 08:49] rfranzke commented on #4095
Hm, given the many discussions and analyzations in the past weeks, I'd rather not add it right now and vote for first discussing the topic with @istvanballok @mvladev @dguendisch. If all agree, I'd think @mvladev would be most suitable for working on the topic.

[2021-06-22 09:06] dguendisch commented on #4095
Since the `1.9.5` update the consumption pattern changed indeed (however there are a few outliers depending on the seed: on a given landscape I noticed max usage cpu ~1200m and max mem usage 600Mi) . So yes, checking the current pattern and adapting to avoid waste makes sense in my opinion.

[2021-06-22 09:43] morremeyer commented on #4123
Thanks for your comments.

## Proposal

I would for now not use a seperate `gardener/charts` repository for now as this would lead to duplicated code, but we should keep this in mind for possible future changes.

I think the easiest to achieve and least complex solution to solve the requirements for a „pure helm chart deployment“ is the following:

* Configure `cr` for the g/g repository in a [Git

[2021-06-23 06:37] schrodit commented on #4123
be part of/available for maintenance/debugging of the GitHub Actions and release workflow in general for at least the foreseeable future.

looks good to me and I think we are currently fine with 2 helm repositories.
We should then also add the release flow and responsibility somewhere in the docs (maybe https://github.com/gardener/gardener/blob/master/docs/development/process.md)

[2021-06-23 12:07] brumhard commented on #4214
Sure okay works for me 👍  No need to break anything for a minor developer experience improvement.

[2021-06-23 12:07] #4214 closed, assigned to nobody

[2021-06-23 14:10] rfranzke opened #4251 "Refactor Gardener components to native controller-runtime components"
**How to categorize this issue?**

/area open-source dev-productivity scalability
/kind cleanup technical-debt

**What would you like to be added**:
- `gardener-scheduler`, `gardener-controller-manager` and `gardenlet` should be refactored such that they become native controller-runtime components.
- `gardener-resource-manager`, `gardener-admission-controller`, `gardener-seed-admission-controller`

[2021-06-23 15:46] voelzmo opened #4254 "Changing `cri.name=containerd` to `cri=nil` still leaves `containerd` running on the node as systemd service"
**How to categorize this issue?**
/kind bug
/priority 3

**What happened**:
When changing a worker pool from using `containerd` as a container runtime to `docker`, the new nodes still run `containerd` as systemd service
[code]

The kubelet is correctly configured to not use `containerd` as external container runtime
[code]

The node is correctly reported to use the `docker` runtime
[code]

**What

[2021-06-24 10:29] morremeyer commented on #4123
#4259 adds the helm chart releasing.

I’d also like to PR https://github.com/morremeyer/gardener/tree/gh-pages to create the index page for GitHub pages, but GitHub doesn’t allow a PR to a non-existing branch. If one of the maintainers wants to do this, you can push the contents of my branch to a `gh-pages` branch in this repository.

I’ll now get to work on the changes for g/dashboard and link th

[2021-06-25 12:44] rfranzke commented on #1649
@ialidzhikov Could you provide an update of the status of this issue? :)

[2021-06-25 12:47] rfranzke commented on #1433
friendly reminder @mvladev

[2021-06-25 12:49] timebertt commented on #4123
@morremeyer Sorry for jumping in just now.

TBH, I'm a bit confused, why you're now proposing to publish charts in multiple repositories, although I proposed to publish them in a dedicated repo, e.g. `gardener/charts`, see https://github.com/gardener/gardener/issues/4123#issuecomment-851323237. There were no objections/concerns about that earlier, so why are we moving now into a different directio

[2021-06-25 12:53] rfranzke commented on #3419
What about this issue? Is there still something concrete to be done or can we close it?

[2021-06-25 15:51] voelzmo commented on #4254
I think what we're seeing here is two things coming together
* as @vpnachev pointed out, the `oscName` does not depend on the selected `worker.cri` and therefore the same `operatingsystemconfig` is used when the `CRI` for an existing worker pool is changed. My understanding is that this shouldn't be an issue in itself  – it should be possible to reconcile this correctly
* `osc.spec.criconfig` is o

[2021-06-26 14:23] timebertt commented on #4036
I decided to not build a binary beforehand and keep running g-api in-process because
- we don't have to think about test result caching for envtest suites
- we don't have to think about building binaries in `make {verify,test,...}`
- test packages can still be executed easily with `go test` / `ginkgo` without building binaries in `pkg/envtest`
- k/k uses the same approach in its [integration tests

[2021-06-28 08:28] voelzmo commented on #4254
/assign

[2021-06-28 11:37] morremeyer commented on #4123
@morremeyer No worries, better now than later :)

I took your proposal to use a seperate `gardener/charts` repo as an alternative idea, not as a preference from your side. I didn’t know about the `workflow_dispatch` events that you already use (as with the gardenctl example) - this clears things up for me, thank you!

Now that I got that, I can get behind your proposal 100%.

Regarding the `applic

[2021-06-28 12:52] timebertt commented on #4078
/assign @xrstf

[2021-06-28 13:09] timebertt commented on #4123
Nice, that's great to hear!

Will do :)

Ok. How would you then use the subcharts as a user? Because you have to apply them to different clusters, if you want to use the virtual garden construct... If you don't, then I expect you can just install everything at once and this should be straight forward, right?

[2021-06-28 13:38] timebertt commented on #4123
Here you go: https://github.com/gardener/charts, https://gardener.github.io/charts/ 🚀

[2021-06-28 13:41] morremeyer commented on #4123
I’ve so far not used the virtual garden construct, but I don’t think it would be possible with that, yes. To enable this, we’d likely have to package both charts seperately and use them as dependencies for the `controlplane` chart. @gesslein, do you have more insight into that?

I would however nevertheless start with the work on `g/charts` to add controlplane, gardenlet and dashboard to it - if w

[2021-06-28 13:49] timebertt commented on #4123
Yes, that sounds reasonable. Let's start with that.
If we want to support the virtual garden use case later on, it should be possible by publishing dedicated charts and just make the `controlplane` chart a compound of both (so you can still install both at the same time as before).
As I understood, the helm charts are mainly supposed to support the "getting started" users, they will probably not c

[2021-06-28 14:12] christianhuening commented on #4123
I am currently working to set up the virtual garden also via helm charts. The approach from @gesslein that I also adopted is to use this chart for the virtual garden k8s apiserver: https://github.com/gardener/garden-setup/tree/master/components/kube-apiserver/chart

I am currently pulling all the required charts down and build a central super chart from that in our internal tooling pipeline.

[2021-06-28 14:30] ialidzhikov opened #4266 "istiod's readiness probe is always failing"
/kind bug
/kind regression

**What happened**:

In my local setup I enabled the `ManagedIstio` feature gate:

[code]

[code]

[code]

[code]

[code]

On environment that runs g/g@master since several days.

[code]

[code]

**What you expected to happen**:
istiod and istio-ingressgateway Pods that get ready.

**How to reproduce it (as minimally and precisely as possible)**:
Enable the `ManagedIstio

[2021-06-29 05:40] #4266 closed, assigned to nobody

[2021-06-29 07:23] #4127 closed, assigned to nobody

[2021-06-29 07:46] morremeyer commented on #4123
@timebertt To commit the changes in g/charts once the charts have been pulled and the version updated, I’ll use [what is already there in the homebrew-tap](https://github.com/gardener/homebrew-tap/blob/3fbba877e4eac72c42d02efd93bc1e6da465f676/.github/workflows/update-tags.yml#L16-L25).

Can I reuse the `gardener-robot-ci-1` user here? If no, which user with which mail adress should I use?

[2021-06-29 08:22] ThormaehlenFred opened #4271 "Please update Kubernetes ingress nginx controller to v0.47.0"
/area security
/kind enhancement
/priority 3

**What would you like to be added**:
Kubernetes ingress nginx controller v0.47.0
https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.47.0

**Why is this needed**:
some CVEs in ingress Kubernetes nginx controller v0.41.2 are patched in v0.47.0

[2021-06-29 08:33] ThormaehlenFred opened #4272 "Exclude pause container images from binary scanning"
/area security
/kind technical-debt
/priority 3

**What would you like to be added**:
please look at https://github.com/gardener/gardener-extension-networking-calico/pull/89 and do the same for pause container 3.1 if you agree to this approach as Gardener component owner.

**Why is this needed**:
The pause container image cannot be scanned with the respective tool and returns results of no value.

[2021-06-29 09:14] vpnachev commented on #4182
/assign

[2021-06-29 09:18] timebertt commented on #4272
Seems like a simple change, you should be able to do it 🚀
However, I don't understand, why such internal specifics need to be in the open source repository.

[2021-06-29 10:10] timebertt commented on #4123
That sounds good, no objections/concerns 👍

[2021-06-30 08:14] #4160 closed, assigned to nobody

[2021-06-30 08:19] voelzmo opened #4280 "Stop using github.com/pkg/errors"
**How to categorize this issue?**

/kind enhancement
/priority 3

**What would you like to be added**:
Similar to https://github.com/kubernetes/kubernetes/issues/103043 we should be using Go native error wrapping (available since Go 1.13) (similar to what was done in containerd/console#54).

[code]

**Why is this needed**:
Getting rid of vendors in favor of using stdlib is always nice. Others seem

[2021-06-30 08:54] rfranzke opened #4281 "Optimize hyperkube Docker image download and make image garbage collection thresholds configurable"
**How to categorize this issue?**

/area storage scalability networking
/kind enhancement
/priority 3

**What would you like to be added**:
1. The pulling of the `hyperkube` Docker image as part of the `cloud-config-downloader` (executed each `1m` on all worker nodes of all shoot clusters) should become more intelligent in the way that it does NOT pull it if it has already copied the `kubelet` and

[2021-06-30 08:54] rfranzke commented on #4281
/assign

[2021-06-30 09:05] voelzmo commented on #4254
As the `operatingsystemconfig` is shared between the old worker pool and the new worker pool, this leads to a reconfiguration of the old worker pool during the node rollout. I think this is also what @vpnachev observed in the first place, when looking at this. Here's the scenario for a single node in a worker pool configured to use `containerd`. Afterwards the worker pool is changed to `cri==nil`,

[2021-06-30 12:39] #4182 closed, assigned to vpnachev

[2021-06-30 14:52] timebertt opened #4286 "Label shoot as progressing if gardenlet stopped sending heartbeats"
**How to categorize this issue?**

/area robustness ops-productivity
/kind enhancement

**What would you like to be added**:

When gardener-controller-manager detects that a gardenlet stopped sending heartbeats, it sets all conditions for all shoots on the respective seed to unknown: https://github.com/gardener/gardener/blob/677eaffc5acdf78d19f09566945f4e91d97da742/pkg/controllermanager/controller

[2021-07-01 08:06] stoyanr opened #4293 "Introduce a validating webhook for validation of extension resources"
**How to categorize this issue?**

/area control-plane
/area usability
/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
Introduce a validating webhook to execute the existing validation of extension resources in https://github.com/gardener/gardener/tree/master/pkg/apis/extensions/validation. The natural place to host it would be the `seed-admission-control

[2021-07-01 09:17] stoyanr opened #4294 "Add error categorization for route53 errors"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
Add categorization for route53 errors (and later for similar errors from other DNS providers) to https://github.com/gardener/gardener/blob/677eaffc5acdf78d19f09566945f4e91d97da742/pkg/apis/core/v1beta1/helper/errors.go#L56-L64 to support the ongoing work on replacing the DN

[2021-07-01 09:22] stoyanr commented on #4294
**Route53 non-retryable errors**:

Errors that could happen due to wrong configuration (non-existing zone or a zone that is wrong for the used domain name):
* Non-existing zone: `NoSuchHostedZone: No hosted zone found with ID: Z1PFE086IU98CAX`
* Wrong domain name for zone: `InvalidChangeBatch: [RRSet with DNS name api.i500152-aws.dev.example.com. is not permitted in zone dev.k8s-hana.ondemand.com.

[2021-07-01 09:22] stoyanr commented on #4294
/cc @timebertt

[2021-07-01 10:20] ialidzhikov opened #4295 "Observed a panic: reflect: Field of non-struct type *v1.LabelSelector"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:

[code]

**What you expected to happen**:

No panic

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Shoot with .spec.seedSelector

[code]

2. `make start-gardenlet` and observe the panic above

**Anything else we need to know?**:

**Environment**:

- Gardener version: v1.26.0-dev-7c26738292

[2021-07-01 11:27] timebertt commented on #4295
Responsible commit is https://github.com/gardener/gardener/pull/4246/commits/1b430b1aabf801982c4ef8641896ff50e91d809e

[2021-07-01 11:49] ialidzhikov commented on #4295
Yep, I think that `k8s.io/apimachinery/pkg/util/strategicpatch.CreateTwoWayMergePatch` (that is invoked by `sigs.k8s.io/controller-runtime/pkg/client.createStrategicMergePatch`) cannot handle obj with pointer to embedded struct. I will try to reproduce on a sample project and will try to create an upstream issue about it.
Meanwhile can we use `client.MergeFrom` (instead of `StrategicMergeFrom`) fo

[2021-07-01 12:02] timebertt commented on #4295
Yes, this matches what I found out.
If I understand correctly, we hit a similar issue like https://github.com/kubernetes-sigs/structured-merge-diff/issues/172 but this time in `k8s.io/apimachinery/pkg/util/strategicpatch`.

For this particular case `ReportShootProgress` we can. But there are other usages of strategic merge patch that will panic, e.g. https://github.com/gardener/gardener/blob/54930

[2021-07-01 12:45] timebertt commented on #4295
It seems, it might be more difficult to get or propose a fix for this issue upstream.

The root cause of this is, that we embed a pointer field in the `SeedSelector` type, which seems to not be best practice and is not supported by all code-generators and libraries.
So, I will try to remove the pointer now, which should be backwards-compatible and hopefully will save us more headaches in the futur

[2021-07-02 06:15] #4295 closed, assigned to timebertt

[2021-07-02 07:01] ThormaehlenFred opened #4300 "Kubernetes API server must use approved cipher suites"
**How to categorize this issue?**
/area security
/kind enhancement
/priority 3
/platform aws-gov

**What would you like to be added**:
Limit the value of tls-cipher-suites with K8s v1.22 to TLS 1.3 cyphers (available since [Kubernetes v1.19](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#bug-or-regression-18):
TLS_AES_128_GCM_SHA256,
TLS_CHACHA20_POLY1305_SHA256,

[2021-07-02 10:27] timebertt opened #4302 "Test failures with `error dialing backend: proxy error from vpn-seed-server`"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:

I observed some test failures with errors similar to the following:

[code]

[code]

It seems like, the tunnel connection is not quite stable and the `pods/exec` calls fail because the API server is not able to connect to the kubelet.

**What you expected to happen**:

The test not to fail and the tunnel connection

[2021-07-02 10:34] timebertt opened #4303 "Missing readinessProbes for vpn-seed-server"
**How to categorize this issue?**

/area networking
/kind enhancement

**What would you like to be added**:

The `vpn-seed-server` should have `readinessProbes` to properly signal pod readiness to the Deployment/Service controller.

**Why is this needed**:

`vpn-seed-server` is a critical component in the connection between `kube-apiserver` and shoot nodes (if the `ReversedVPN` feature gate is ena

[2021-07-02 10:35] timebertt commented on #4303
/cc @DockToFuture @ScheererJ

[2021-07-02 10:35] timebertt commented on #4302
/cc @DockToFuture @ScheererJ

This might be related to https://github.com/gardener/gardener/issues/4303 but I don't have proof for it / can't do a proper RCA.

[2021-07-02 11:24] morremeyer commented on #4123
### Technical refinement

@timebertt and I met today to discuss some technical details and refinements. We came to the following conlusions:

* the `g/charts` repository should only contain resources that we need to publish the charts. For `g/g` charts, this is e.g. `charts/gardener` and `charts/utils-templates`
* the `g/charts` repo will contain a `charts/$repository` directory for every reposito

[2021-07-02 12:29] voelzmo opened #4305 "MaintenanceController doesn't check if currently used container runtime is supported by new image"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:
The maintenance controller selected a new `MachineImageVersion` during maintenance which doesn't list the cluster's container runtime in the `CloudProfile`

**What you expected to happen**:
When picking a new version, support for the currently used container runtime is taken into account. It could happen, for example, tha

[2021-07-02 14:17] ScheererJ commented on #4302
@timebertt Was the issue reproducible for you or just randomly happening? Did you execute the tests separately or in a larger group? In the latter case which suite did you execute?

[2021-07-02 14:19] ScheererJ commented on #4303
As the `vpn-seed-server` is a singleton, I guess this is not that relevant in terms of service routing. Nevertheless, it makes sense to add a readinessProbe. Therefore, we will work on it.

[2021-07-02 14:45] voelzmo commented on #4305
Related: I can also do this change manually! Updating the `Shoot` spec, such that my worker's `MachineImageVersion` refers to a version which doesn't support the currently selected runtime.
For example:
* Create your shoot with `gardenlinux` and container runtime `containerd`
* Then update it to use `suse-chost` (which doesn't support `containerd` yet and therefore doesn't have it in its list of s

[2021-07-02 15:21] voelzmo opened #4308 "Shoot update doesn't validate whether the specified MachineImageVersion supports the selected CRI"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:
I was able to successfully submit an update for my `Shoot`'s worker pool to `suse-chost` from the previously specified `gardenlinux`, although the worker pool uses `containerd` as container runtime. This doesn't work, as `suse-chost` doesn't support `containerd`.

**What you expected to happen**:
Similar to what happens d

[2021-07-02 16:28] christianhuening opened #4309 "Allow usage of CNI with eBPF (Cilium, GKE Dataplane2) when using API SNI feature"
**How to categorize this issue?**

/area cost
/area networking
/area control-plane
/kind enhancement
/priority 2

**What would you like to be added**:
GKE made the DataplaneV2 based on Cilium and eBPF generally available starting with K8s 1.20.6-gke1000 (https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2). Upgrade from existing clusters to the new dataplane are not supported.

I

[2021-07-04 09:09] vpnachev commented on #4309
cc @mvladev

[2021-07-04 09:11] vpnachev commented on #4302
`k exec` and `k logs` to a cluster with ReversedVPN enabled was sporadically failing with same/similar error last days, but I have no chance to investigate what actually is causing it and some minutes later it was again up and running.

[2021-07-05 10:53] stoyanr opened #4311 "Improve logging and messages in generic extension reconcilers"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
Logging and error messages in generic extension reconcilers (`extensions/pkg/controller`) could be improved as it was done in #4231 for the `DNSRecord` reconciler.

* Ensure that all log messages contain the full extension object name (`<namespace>/<name>`) as opposed to ju

[2021-07-05 11:33] timebertt commented on #4302
I just observed some failures like the ones described here during regular test runs of the `shoot-default-serial-test-suite` on our internal development landscape (will send you a link in a private chat).
It was not happening consistently, but still in multiple test runs. So far I have no steps to reproduce, but I opened this issue to track such occurrences.

[2021-07-05 11:36] timebertt commented on #4303
Well, during rolling updates, there will still be multiple instances and we will want to make sure, that traffic is only routed to the healthy instance.

[2021-07-05 12:27] vanjiii commented on #4280
/assign

[2021-07-06 07:26] stoyanr opened #4318 "Ensure `DNSRecord` resources are only reconciled if needed"
**How to categorize this issue?**

/area control-plane
/area robustness
/kind enhancement
/priority 3

**What would you like to be added**:
Currently, `DNSRecord` resources are reconciled (and their corresponding DNS records updated) on each reconciliation of a shoot, sometimes multiple times if the reconciliation is restarted. This is not needed, since the resources themselves would change only i

[2021-07-06 07:27] stoyanr commented on #4318
/cc @timebertt @rfranzke

[2021-07-06 08:26] #4036 closed, assigned to nobody

[2021-07-06 09:53] #4147 closed, assigned to nobody

[2021-07-06 15:20] dkistner commented on #3505
There is another related PR https://github.com/gardener/gardener/pull/4319, but as it is not a core piece of the story, rather an extension to it, I will not consider it as relevant to complete the story. As then all steps completed I will close this issue.

/close

[2021-07-06 15:20] #3505 closed, assigned to dkistner

[2021-07-06 15:21] timebertt commented on #2822
Note about this subtask:

I decided to not spend any effort on replacing `CreateOrUpdate` in the grm library, as it's probably not worth it. (at least for now).
For the secrets, there will probably be only a small number of conflicts, as no one else is updating them regularly (only grm adds its finalizer, which is a one-time op).
For the managed resources, chances for running into conflicts are al

[2021-07-06 15:46] christianhuening opened #4323 "CIDRs for default networks are not written to Seed from ManagedSeed"
**How to categorize this issue?**

/area networking
/area usability
/kind bug
/priority 3

**What happened**:

When creating a `ManagedSeed` for an existing shoot cluster, Gardener does not write the `shootDefaults` CIDRs to the resulting `Seed` resource.
The effect is, that Gardener will not auto-populate the `pods` and `services` CIDRs for newly created `Shoot` clusters, which especially breaks

[2021-07-06 16:37] vpnachev opened #4324 "OS version for a shoot is defaulted to newer but deprecated version when older but supported is available."
**How to categorize this issue?**

/kind bug
/priority 2
/assign

**What happened**:
A shoot cluster was created with empty OS version. The gardener API has defaulted it to newer but deprecated version when older and supported one is available.

**What you expected to happen**:
To not default worker pool to a deprecated OS version.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-07-07 08:25] vlerenc commented on #3244
Considering how much this problem is a nuisance to Gardener (see topic of VPN reversal where not even a proper web hook setup with PDBs and such would have helped...; then again, one could argue, that we could do the VPN reversal in two phases instead of one, which would be backward-compatible), and that all despite even Kubernetes' clear statement in https://kubernetes.io/docs/reference/access-au

[2021-07-07 10:27] mruell commented on #4324
Just chiming in - our cluster even upgraded to 318.4.0 in the maintenance window due to autoupdate beeing enabled. We have disabled it for now (and rolled back the version) till that is fixed.

[2021-07-07 11:11] vpnachev commented on #4324
Yes, clusters with auto-update are also affected and upgraded to such deprecated version during as part of their maintenance.

[2021-07-07 11:52] timebertt commented on #4323
cc @stoyanr

[2021-07-07 12:46] morremeyer commented on #4123
@timebertt and I discussed another implementation detail regarding when `cr` is run:

The plan was to update the charts in the `workflow_dispatch` workflow and push the changes to the repository. A second workflow would then run `on: push` to run `cr`.

During implementation, I discovered that this is not possible without a workaround (PAT that has push access).

@timebertt and I therefore decided

[2021-07-07 13:53] vasu1124 commented on #2120
https://github.com/kubernetes/kubernetes/issues/53533

[2021-07-08 07:21] siredmar opened #4329 "AKS documentation contains AWS specifics and outdated"
**How to categorize this issue?**

/area documentation
/kind bug
/priority 4

**What happened**:
I'm trying to setup gardener on a AKS cluster. However there are several issues with that documenatation (https://github.com/gardener/gardener/blob/master/docs/deployment/aks.md)
* outdated (`section Initialize Helm on the Cluster`) -> `init` command is removed from helm
* several AWS specific occurren

[2021-07-08 08:28] #3559 closed, assigned to nobody

[2021-07-08 08:44] #1723 closed, assigned to rfranzke, timuthy

[2021-07-08 09:06] timebertt commented on #1723
Is the envtest for `Seed{Authorizer,Restriction}` still on your list?

[2021-07-08 09:13] rfranzke commented on #1723
No, I think I mentioned this in a Daily meeting some weeks back. I consider the current test coverage is quite good and I would now move to the next topic instead of implementing an envtest (which probably would make the current unit tests mostly obsolete).

[2021-07-08 09:18] timebertt commented on #1723
Ok, sounds good. Missed this update :)

[2021-07-08 13:23] ialidzhikov opened #4333 "Additional DNS provider Secret is not updated on Shoot deletion"
**How to categorize this issue?**
/area quality
/kind bug
/priority 3

**What happened**:

Additional DNS provider Secret is not updated on Shoot deletion.

**What you expected to happen**:

Similar to the `cloudprovider` Secret, during the Shoot deletion flow gardenlet should also sync the additional DNS provider Secret. This is to allow end users to update their invalid Secret data with valid on

[2021-07-09 06:27] timebertt commented on #4302
I just encountered this with `kubectl logs`:

[code]

I will send you some logs from `vpn-{seed-server,shoot}` and `envoy-proxy` via a private message.

[2021-07-09 09:17] krasimirdermendzhiev opened #4339 "Delete cluster during installation of Service Hub"
**How to categorize this issue?**

/kind enhancement

**What would you like to be added**:

I would like to have option for delete force.

**Why is this needed**:

Because example I install Kyma and something wrong and stuck I need to delete the Kyma deploy and then delete the cluster, but when I delete the cluster is stuck on this message.

I'm waiting the cluster to force delete but nothing chan

[2021-07-09 09:19] rfranzke commented on #4339
/close in favor of #3110 and #4212

[2021-07-09 09:19] #4339 closed, assigned to nobody

[2021-07-09 14:28] ialidzhikov opened #4340 "Expose logs of machine-controller-manager to end users"
**How to categorize this issue?**

/area logging
/kind enhancement
/kind discussion
/priority 3

**What would you like to be added**:
As far as I see currently the machine-controller-manager logs are not exposed to the end users. Exposing them to the end users can make sense.

**Why is this needed**:
In multiple cases we see that end users cannot complete RCA on their side because they don't have

[2021-07-09 15:06] #4324 closed, assigned to vpnachev

[2021-07-11 11:11] vlerenc commented on #4340
@ialidzhikov Indeed, it would be great to give the people access to the MCM and CA logs as they often raise questions like why a node was replaced or why scale-out/-in didn't happen, etc.

See also https://github.com/gardener/machine-controller-manager/issues/140.

So yes, ideally the Grafana dashboards should expose those logs (that we anyway have).

[2021-07-12 06:40] #4333 closed, assigned to nobody

[2021-07-12 09:03] #4281 closed, assigned to rfranzke

[2021-07-12 09:07] vanjiii commented on #4311
/assign

[2021-07-12 09:17] #4308 closed, assigned to nobody

[2021-07-12 10:07] fynluk opened #4345 "Use secret reference or cert-manager to provide certificates to the helmchart"
**How to categorize this issue?**

/area ops-productivity
/area security
/kind enhancement
/priority 3

**What would you like to be added**:
We would like to add the possibility to install gardener via helmcharts without the use of inline certificates.
We have two approaches. The first one will use secret references instead of inline certificates, where we expect the secrets to already exist in th

[2021-07-12 14:54] ialidzhikov opened #4346 "kubeconfig rotation on deleting Shoot can deadlock the deletion"
**How to categorize this issue?**

/area quality
/kind bug
/priority 3

**What happened**:
In large landscapes we often have Shoots that fail to be deleted because of various reasons (user issues, transient errors, etc). Under some circumstances, kubeconfig rotation for Shoot in deletion can deadlock the Shoot deletion.

**What you expected to happen**:
kubeconfig rotation on deleting Shoot to do

[2021-07-12 14:56] ialidzhikov commented on #4346
@gardener/gardener-maintainers wdty about forbidding kubeconfig rotation on Shoot in deletion? I guess such operation on Shoot in deletion does not make sense in general and can only interfere with the deletion flow.

[2021-07-12 15:43] vpnachev commented on #4346
Makes sense.
Should we explicitly forbid it via validation on update request or it is enough the controller simply to skip this operation?
I lean toward the silently skipping the rotation.

[2021-07-12 15:52] ialidzhikov commented on #4346
I think it's better to have a validation that rejects the update. If we have backwards compatibility concerns, then we can have a feature gate for it, hence we can allow gardener operators to enable it in controlled manner.

[2021-07-13 05:22] prashanth26 commented on #4340
I agree with this. I think CA logs are already exposed. However, yes exposing MCM logs also makes sense.

[2021-07-13 07:19] BeckerMax commented on #4305
/assign
/assign voelzmo

[2021-07-13 08:23] timebertt commented on #4329
cc @Diaphteiros
should we link garden-setup in this doc or remove it entirely in favor of garden-setup?

[2021-07-13 08:30] timebertt commented on #4345
Sounds good, this should also be sufficient to use something like cert-manager or external-secrets as well.
Feel free to assign yourself via `/assign` to this issue and open the PR.

[2021-07-13 08:43] timebertt opened #4350 "[Flaky Test] Test machinery tests are sensitive to transient errors"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

Many test machinery test suites are very fragile / sensitive to transient errors like a short unavailability of g-api. E.g. the `Create and Reconcile Shoot` test:

[code]

We should add retries wherever possible/sensible to make tests less susceptible to transient errors.

**CI link**:

https://g

[2021-07-13 09:25] timebertt commented on #4302
I encountered more test failures that seem related to this, predominantly the `Dashboard should be available` test step:

[code]

E.g. ref https://grafana.ingress.tm.core.shoot.live.k8s-hana.ondemand.com/explore?orgId=1&left=%5B%22now-7d%22,%22now%22,%22Loki%22,%7B%22expr%22:%22%7Bcontainer%3D%5C%22main%5C%22,tm_testdef%3D%5C%22shoot-release-test-suite%5C%22,argo_workflow%3D%5C%22dev-manualscdw7-w

[2021-07-13 09:26] timebertt commented on #4350
Hit another test failure, that was likely caused by a transient error: https://github.com/gardener/gardener/issues/4302#issuecomment-878927583
So these lines here, should be improved with a retry as well: https://github.com/gardener/gardener/blob/0fc098960a4a997e08a7e18bb32830b0878f9bb6/test/integration/shoots/applications/shoot_app.go#L98-L103

[2021-07-13 11:54] Kristian-ZH commented on #4340
Yes, CA logs are already exposed.
About the MCM: @vlvasilev can you please do this?

[2021-07-13 11:57] Kristian-ZH commented on #4340
I also suggest to add it only in `Controlplane Logs Dashboard` because the separated dashboards by container will be deleted soon.

[2021-07-13 13:54] vlvasilev commented on #4340
I will do it tomorrow

[2021-07-13 15:19] rfranzke commented on #3485
This issue was motivated by gardener/gardener-resource-manager#104, however, we decided to not pursue the approach requiring gardenlet to also deploy shoot control plane components via `ManagedResource`s. Additionally, @timebertt and myself had some scalability concerns due to the duplication of the resources (e.g., the monitoring Grafana dashboards stored as `ConfigMap`s are already large and wou

[2021-07-13 15:19] #3485 closed, assigned to nobody

[2021-07-14 07:14] rfranzke commented on #1232
/close in favor of #4300

[2021-07-14 07:14] #1232 closed, assigned to nobody

[2021-07-14 07:16] vlerenc commented on #4300
@ThormaehlenFred Just for clarification, because we didn't really understand the statement: we should limit the cipher suites to these 9 then?

[code]

[2021-07-14 08:01] #4280 closed, assigned to vanjiii

[2021-07-14 10:28] phongvu0403 opened #4360 "Deploying the Gardener into a Kubernetes cluster"
I can't find `controlplane-values.yaml` and `gardener-values.yaml` in directory `charts/gardener/controlplane`. So I can't deploy the gardener control plane. Can you help me fix this problem?
Thanks advanced!

[2021-07-14 12:13] vpnachev commented on #4360
You should be looking for https://github.com/gardener/gardener/blob/master/charts/gardener/controlplane/values.yaml and https://github.com/gardener/gardener/blob/master/charts/gardener/gardenlet/values.yaml.

[2021-07-14 12:43] #4311 closed, assigned to vanjiii

[2021-07-14 13:27] majst01 opened #4361 "☂️ CIS Benchmark compliance"
**How to categorize this issue?**

  /area control-plane
  /area certification
  /area security
  /kind discussion
  /priority 4

More and more customers require formal verification of security related aspects of the produced clusters. One approach is to run a well known and established tool to identify potential security related weaknesses and report the results.

We have choose [kube-bench](http

[2021-07-15 03:38] phongvu0403 commented on #4360
Firstly, thanks your reply!

Sorry, I had a mistakes. I tried to deploy the Gardener in to a Kubernetes cluster following the [link](https://github.com/gardener/gardener/blob/master/docs/deployment/setup_gardener.md)

In the command
[code]
I think file `gardener-values.yaml` is in folder `gardener` when I cloned Gardener Project because of relative path `charts/gardener/controlplane`.

I think [ht

[2021-07-15 06:16] #4078 closed, assigned to xrstf

[2021-07-15 06:23] vanjiii commented on #4219
/assign

[2021-07-15 06:46] rfranzke opened #4363 "☂️-Issue for "Support for Kubernetes v1.22”"
/area open-source
/kind enhancement
/priority 3
/topology garden seed shoot

Kubernetes v1.22 will be released on August 4th, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md

Work can be started and pushed to the [`kubernetes-v1.22`](https://github.com/gardener/gardener/tree/kubernetes-v1.22) branch. There should be similar branches in the

[2021-07-15 08:30] #4302 closed, assigned to nobody

[2021-07-15 09:12] voelzmo commented on #4363
There's a bunch of API versions being removed, I'm not sure if/how/where we're using them: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes

[2021-07-15 09:18] rfranzke commented on #4363
Thanks @voelzmo, I added it to the list above.

[2021-07-15 09:42] vpnachev commented on #4360
Reading https://github.com/gardener/gardener/blob/master/docs/deployment/setup_gardener.md my understanding is that you are responsible to create own `controlplane-values.yaml` file, as https://github.com/gardener/gardener/blob/master/charts/gardener/controlplane/values.yaml can be used as starting point.

The only problem with the guide that I see is that in the helm command `controlplane-values.

[2021-07-15 10:01] ialidzhikov commented on #2227
I am closing this one as all related PRs are now merged.

/close

[2021-07-15 10:01] #2227 closed, assigned to nobody

[2021-07-15 10:24] #4360 closed, assigned to nobody

[2021-07-15 12:18] ScheererJ commented on #4302
#4362 probably fixed the most important (visible) part of this problem. It should give connections enough head room to wait for a reconnect of the vpn connection to happen. tcp retransmissions will take care of everything.

However, there are still some issues open, which will be tackled separately:
- All vpn connections of shoots of a seed are reset when a shoot is created/deleted (or the vpn env

[2021-07-15 12:46] timebertt commented on #4302
Should we then reopen the issue for tracking these issues?

[2021-07-15 13:25] ScheererJ commented on #4302
No hard feelings either way. We can reopen this one or create two new ones.

[2021-07-15 14:27] vpnachev commented on #4346
/assign

[2021-07-16 05:45] timebertt commented on #4302
Ok, then please create new ticket(s) so these tasks can be tracked 👍
If you want, you can open an ☂️-issue for graduating the `ReversedVPN` feature gate (similar to https://github.com/gardener/gardener/issues/2822 or https://github.com/gardener/gardener/issues/2942) and add all of the hickups we see in production to that. This will give a good overview over the state of the feature.

[2021-07-16 05:53] timebertt commented on #4361
cc @ThormaehlenFred @dguendisch @vlerenc

[2021-07-16 12:08] timebertt opened #4380 "Cleanup duplicated config fields for leader election"
**How to categorize this issue?**

/area quality usability
/kind technical-debt

**What would you like to be added**:

In the [controller-manager](https://github.com/gardener/gardener/blob/c30f8a12d75380122bb1dc89a90f48e2420711ba/pkg/controllermanager/apis/config/v1alpha1/types.go#L311-L317), [scheduler](https://github.com/gardener/gardener/blob/c30f8a12d75380122bb1dc89a90f48e2420711ba/pkg/schedul

[2021-07-16 12:56] ScheererJ opened #4381 "ReversedVPN connections being reset by istio ingress reconfigurations"
**How to categorize this issue?**

/area networking
/kind bug
/priority 3

**What happened**:
Each reconfiguration of the `istio-ingress` gateway causes all established vpn connections of clusters on the same seed to be reset/killed. Essentially, a shoot cluster creation/deletion affects all vpn connections of shoot clusters using the same seed.
Below is an example coming from a tcpdump for reset

[2021-07-16 12:58] ScheererJ commented on #4381
/cc @DockToFuture @mvladev @marwinski

[2021-07-16 12:58] ScheererJ commented on #4381
@mvladev Feel free to share how this issue affects/does not affect the SNI infrastructure.

[2021-07-16 13:00] ScheererJ commented on #4381
Due to #4362 this issue is less relevant as the overall connection will continue to exist for established connections and new connections have a bigger buffer until an error is reported back.

[2021-07-16 13:08] ScheererJ opened #4382 "Establishing the `ReversedVPN` connection takes longer than expected"
**How to categorize this issue?**

/area networking
/kind bug
/priority 3

**What happened**:
Establishing the vpn connection between `vpn-seed-server` and `vpn-shoot` takes around 4-5s on usual landscapes. This is longer than expected.
[code]

[code]
**What you expected to happen**:
The connection should be established in a second or maybe up to 3 seconds.

**How to reproduce it (as minimally and

[2021-07-16 13:08] ScheererJ commented on #4382
/cc @DockToFuture @marwinski

[2021-07-16 13:09] ScheererJ commented on #4382
Due to #4362 this issue is less relevant as the overall connection will continue to exist for established connections and new connections have a bigger buffer until an error is reported back.

[2021-07-16 13:10] ScheererJ commented on #4302
Opened #4381 and #4382 to track further findings related to `ReversedVPN`.

[2021-07-16 19:11] vpnachev commented on #3244
It looks like the community is working on a feature allowing some webhooks to work on other webhooks.
Then we can add a validating webhook for validating and mutating webhooks that will reject create/update requests if they are affecting resources in the kube-system namespace. Our validating webhook might have an object selector so that users can skip this validation if they put a well-known label

[2021-07-18 13:46] ialidzhikov opened #4385 "[Failing test] `should add worker pool with containerd` is failing on ubuntu"
**How to categorize this issue?**

/area testing
/kind bug

**What happened**:

`Shoot container runtime testing [It] [DEFAULT] [SERIAL] [SHOOT] should add worker pool with containerd` test is failing on `ubuntu@18.4.20210415`.

<img width="1719" alt="Screenshot 2021-07-18 at 16 33 06" src="https://user-images.githubusercontent.com/9372594/126069198-35966256-b0c6-4b38-bfe3-8d468f5baeea.png">

**Ho

[2021-07-18 13:46] ialidzhikov commented on #4385
/cc @vpnachev

[2021-07-18 20:46] vpnachev commented on #4385
This seems to be not ubuntu version related. It fails even to create a node with older versions. Unfortunately I cannot ssh on those nodes to get more information, so I will need more time to understand what is going on, but I guess it might be related to the recently released os-ubuntu version https://github.com/gardener/gardener-extension-os-ubuntu/releases/tag/v1.12.0

[2021-07-19 15:33] vpnachev opened #4390 "Nodes with containerd fail to find their cloud-config secret after gardener update to 1.27.X"
**How to categorize this issue?**

/area robustness  ops-productivity
/kind bug
/priority 2

**What happened**:
A shoot cluster with containerd which was created and reconciled with Gardener <=1.26 is experiencing issues after the gardenlet is updated to 1.27.Y. Its nodes are reported with outdated cloud config.

 Shortly, because of #4289 the suffix of the `cloud-config-` secret is changed as now

[2021-07-19 15:56] voelzmo commented on #4254
Our change didn't quite work as expected: #4390

[2021-07-19 19:21] vpnachev commented on #4385
This bug most probably was caused by a containerd update that took place on July 15th https://launchpad.net/ubuntu/+source/containerd/+changelog. It was just a coincidence that we released the os-ubuntu extension the next day.

[2021-07-20 07:58] ialidzhikov opened #4393 "gardenlet fails to delete Shoot when ssh-keypair is missing in the ShootState"
/kind bug
/kind regression
/priority 2

**What happened**:
Currently gardenlet may fail to create Shoot in the early steps of the Shoot reconcile flow (or simply gardenlet can be in CrashloopBackoff because of any other reason). In such case depending of the problematic step the ShootState can be empty. Deletion of such failed Shoot fails with:

[code]

**What you expected to happen**:
The deletio

[2021-07-20 07:59] ialidzhikov commented on #4393
/assign @xrstf @petersutter

[2021-07-20 08:23] voelzmo commented on #4390
We were able to reproduce this given the above steps, thanks for writing this down to clearly! Our next steps are
* revert the original change which introduced this issue: https://github.com/gardener/gardener/commit/a4e338de1b07ac708d64ee22f96e4198d768ad04
* take the original idea of https://github.com/gardener/gardener/pull/4274
* resolve the problems with this idea outlined in https://github.com

[2021-07-20 08:24] petersutter commented on #4393
You can also create a shoot which already has the `gardener.cloud/operation: rotate-ssh-keypair` annotation and it should result in the same error
[code]

[2021-07-20 11:45] #4385 closed, assigned to nobody

[2021-07-20 12:39] #4393 closed, assigned to xrstf, petersutter

[2021-07-20 13:51] ialidzhikov opened #4395 "SSH keypair rotation does not work for Alicloud Shoot"
/kind bug
/priority 3

**What you expected to happen**:
SSH keypair rotation to work for Alicloud Shoot.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create an Alicloud Shoot

2. Maintain the Shoot (annotate it gardener.cloud/operation=maintain)

Currently the maintain operation also performs SSH key pair rotation.

3. Make sure that the Shoot fails to reconcile with:

[c

[2021-07-20 13:55] ialidzhikov opened #4396 "Add integration test for SSH keypair rotation operation"
**How to categorize this issue?**

/kind enhancement
/priority 3

**What would you like to be added**:
Add integration test for SSH keypair rotation operation.

**Why is this needed**:
To prevent any regressions and to make sure that the feature is working on all environments.

[2021-07-20 14:09] vpnachev commented on #4395
Can we get the ssh rotation out of the maintain operation that is happening regularly as a short term mitigation?
I.e. it can be implemented like the kubeconfig rotation which requires to be explicitly requested.
@petersutter wdyt?

I am afraid this change will now brake any alicloud shoot cluster once it is maintained.

[2021-07-20 14:23] petersutter opened #4398 "Manual trigger of SSH Keypair rotation - Infrastructure fails to be reconciled"
**How to categorize this issue?**
/area control-plane
/kind bug
/priority 3

**What happened**:
When setting the `gardener.cloud/operation: rotate-ssh-keypair` annotation on the `shoot` after it was set already set previously the lastOperation shows the following error:
[code]

When checking the `Infrastructure` resource  the `observedGeneration` and `generation` is out of sync and no reconcile is

[2021-07-20 14:28] plkokanov opened #4399 "Gardenlet fails to start if extension CRDs are not already present in the seed cluster."
**How to categorize this issue?**

/area usability
/kind regression
/priority 1

**What happened**:
 Trying to start `gardenlet` for a brand new seed fails with:
[code]

**What you expected to happen**:
`gardenlet` to start properly and the seed to be bootstrapped.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the guidelines in the [local setup guide](https://github.com

[2021-07-20 14:29] plkokanov commented on #4399
/cc @rfranzke @xrstf

[2021-07-20 14:37] petersutter commented on #4395
@vpnachev: @ialidzhikov just added a feature gate to trigger the rotation during maintenance https://github.com/gardener/gardener/pull/4397

[2021-07-20 14:49] vpnachev commented on #4395
Thanks!. I have seen it shortly after the post above. I think it is very good approach. Thanks for taking care about it!

[2021-07-21 08:06] #4346 closed, assigned to vpnachev

[2021-07-21 08:44] morremeyer commented on #4123
I talked to @timebertt again at the beginning of this week as the use of `cr` would require a lot of workarounds that would be hard to maintain. The use of helms packaging and indexing features would also lead to considerable maintenance effort as the scripting for that would have to be complicated.

We therefore decided to implement the publishing of the helm charts with [helms experimental OCI s

[2021-07-21 10:54] #4398 closed, assigned to nobody

[2021-07-21 10:56] timuthy commented on #4399
@xrstf do you have capacity to work on a fix?

[2021-07-21 14:35] #4390 closed, assigned to voelzmo

[2021-07-22 05:42] timuthy commented on #4399
/assign

[2021-07-22 12:23] ialidzhikov opened #4414 "Cannot create a new Seed in the local setup"
**How to categorize this issue?**

/kind bug
/priority 3

**What you expected to happen**:
To be able to create a new Seed in the local setup.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Seed secret

[code]

2. Create a Seed

[code]

3. Ensure that gardenlet fails to create leader election record

[code]

**Environment**:

- Gardener version: v1.28.0-dev-da556e6

[2021-07-22 12:49] voelzmo opened #4415 "Nodes which are removed in a rolling update still apply new cloud-config"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:

When a rolling node update is triggered, a new worker pool is created and the nodes in the old worker pool are marked as `preferNoSchedule` by the MCM, then drained and in the end removed, once the new nodes are ready. In this process, any changes in the cloud-config are still applied to the old nodes

[2021-07-22 13:32] vpnachev opened #4416 "Missing documentation about the stale project feature in projects.md"
**How to categorize this issue?**

/area documentation
/kind enhancement
/priority 3

**What would you like to be added**:
I was expecting to find some info about when and why a project is declared as stale in https://github.com/gardener/gardener/blob/master/docs/usage/projects.md, however there is nothing about it.

Instead, such information is available in https://github.com/gardener/gardener/bl

[2021-07-22 13:37] vpnachev opened #4417 "Stale project controller does not detect project usage"
**How to categorize this issue?**

/kind bug
/area ops-productivity robustness usability
/priority 3

**What happened**:
The stale project controller is  reconciling the project resource on pre-defined period of time. The default sync period is 12 hours and during this long time a user can create and delete a shoot cluster, the controller will not see it and will still consider the project as stal

[2021-07-22 13:43] vpnachev commented on #4415
Actually, my understanding for the bug was always exactly what is now described in this ticket and I would say it is duplicate of #4254. Or maybe #4254 is about something different?

[2021-07-22 14:18] #4414 closed, assigned to nobody

[2021-07-22 14:32] ialidzhikov opened #4419 "gardenlet cannot bootstrap new Seed cluster when VPA setting is enabled and ManagedIstio=true"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:
Currently there is kind of deadlock in seed bootstrap - istiod component has a VPA and on seed bootstrap istiod component is applied before the whole seed-boostrap chart. But the seed-bootstrap chart is the piece that contains the VPA CRD. So istiod component fails to deploy as the CRD is missing.

**What you expected to

[2021-07-22 15:01] #4399 closed, assigned to timuthy

[2021-07-23 05:40] timebertt commented on #4417
Probably the better alternative is to just watch the resources, that the project stale controller cares about, i.e., Shoot, SecretBinding, etc. in the project namespace and then equeue the project.
This is closer to how k8s controllers should usually work.

[2021-07-23 06:04] timuthy commented on #4363
/assign

[2021-07-23 06:13] vpnachev commented on #4417
Sure, this what I mean with

without going into implementation detail. Shorter sync periods is just mitigation, not a real fix.

[2021-07-23 08:06] vlerenc commented on #4382
@mvladev Could you please update this ticket?

Also, @marwinski opened https://github.com/gardener/vpn2/issues/4 which seems to describe the same problems as https://github.com/gardener/gardener/issues/4381 and https://github.com/gardener/gardener/issues/4382 opened by @ScheererJ . Which ones do we keep?

[2021-07-23 08:06] vlerenc commented on #4381
@mvladev Could you please update this ticket?

Also, @marwinski opened https://github.com/gardener/vpn2/issues/4 which seems to describe the same problems as https://github.com/gardener/gardener/issues/4381 and https://github.com/gardener/gardener/issues/4382 opened by @ScheererJ . Which ones do we keep?

[2021-07-23 08:50] mliepold opened #4420 "ProjectValidator admission plugin doesn't allow garden project to be created"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:
During the setup of a new Gardener landscape the creation of the project `garden`, which will contain the seed resources,  failed because of the new ProjectValidator admission plugin with the following error: `projects.core.gardener.cloud "garden" is forbidden: .spec.namespace must start with garden-`

[2021-07-23 08:58] ThormaehlenFred commented on #4300
From an external consultant in U.S. I got the information to remove CHACHA20. So the list of remaining ciphers would look like this.
[code]
But I will check if now all of them are TLS 1.3 and if this should be the final list.

[2021-07-23 11:02] mkska opened #4424 "Configure separate disk for /var/lib/kubelet for worker nodes"
**How to categorize this issue?**
/area os
/area storage
/kind enhancement
/priority 3

**What would you like to be added**:
At the moment, only the WHOLE `/var/lib` can be assigned to additional disks using for worker nodes:
https://github.com/gardener/gardener/blob/a6eda4d63195f9373c1c17055f1b18d3f962bfb9/example/90-shoot.yaml#L50-L55

This configuration description:
<html>
<body>

kubeletDataVo

[2021-07-23 12:04] petersutter commented on #4123
@morremeyer

I have created the  app [`gardener-github-workflow-charts`](https://github.com/organizations/gardener/settings/apps/gardener-github-workflow-charts) and installed it into the repository `charts`.

The app has the following permissions:
- `Actions`: Workflows, workflow runs and artifacts. `Read & Write`
- `Metadata`: Search repositories, list collaborators, and access repository metada

[2021-07-23 12:28] vpnachev commented on #4424
Have you tried pure containerd+runc without docker?
It seems containerd is using `/run/containerd/` in contrast to docker which is using `/var/lib/docker` and docker will be soon removed as part of #4110.

[2021-07-23 12:33] timuthy opened #4427 "Failed to bootstrap seeds running Kubernetes 1.15"
**How to categorize this issue?**

/area quality
/kind regression
/priority 3

**What happened**:
After registering a seed cluster which runs Kubernetes `1.15` the following bootstrap error occur:

[code]

**What you expected to happen**:
The seed cluster to be bootstrapped successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Register a Kubernetes cluster running 1.15 a

[2021-07-23 12:37] ialidzhikov commented on #4427
We can simply switch to apiextensions.k8s.io/v1beta1 apiVersion (as all other similar CRDs) without touching the the min required Seed version, right? I am not sure why you couple this with changing the min required Seed version..

[2021-07-23 12:58] timuthy commented on #4427
`admissionregistration.k8s.io/v1beta1` will be removed with Kubernetes 1.22 ([ref](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes)), so we anyway need to get rid or want to get rid of the `v1beta1` version.
But we can easily use `admissionregistration.k8s.io/v1beta1` for Gardener `v1.27` to fix this. WDYT?

[2021-07-23 12:59] #4420 closed, assigned to nobody

[2021-07-23 13:15] ialidzhikov commented on #4427
Yep, I would vote to go that way for master and affected release branch for now.

[2021-07-26 07:06] #4427 closed, assigned to nobody

[2021-07-26 10:11] ialidzhikov commented on #4083
https://github.com/gardener/gardener/pull/4426 was only a doc change that raises the requirement for the Seed Kubernetes version. I guess we can also clean up the handling for Kubernetes < 1.18 in few releases (I assume we have handling in the seed-bootstrap chart, there is also https://github.com/gardener/gardener/issues/4083#issuecomment-851287062 that needs further investigations, etc).

[2021-07-26 13:11] vpnachev opened #4433 "Garbage collect cloud-config secrets in the kube-system namespace of shoot clusters"
**How to categorize this issue?**

/area quality os ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
For each worker pool of a shoot clusters a `cloud-config-<pool-name>-<hash>` secret is maintained in the shoot cluster.
This secrets are containing a script that is downloaded on each node of the pool end executed as part of the node bootstrap and node in-place u

[2021-07-26 13:39] vpnachev opened #4436 "Node health check can be compromised by faulty cloud-config checksum secrets existing in the shoot"
**How to categorize this issue?**

/area quality os ops-productivity
/kind bug
/priority 3

**What happened**:
In the kube-system namespace of the shoot clusters external agents can create cloud-config secrets with wrong data that breaks the nodes health checks by injecting faulty checksum.

Here https://github.com/gardener/gardener/blob/0f094f27d0f3b538b15414a28e1de60c4d3f4444/pkg/operation/botan

[2021-07-26 13:52] ScheererJ commented on #4382
Interestingly, #4434 seems to improve the connect time reducing it by about 2s to around 3s.

[2021-07-26 14:29] ialidzhikov opened #4437 "gardenlet: invalid memory address or nil pointer dereference"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:

I noticed few gardenlet restarts on different Seeds because of the following panic:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version: v1.28.0-dev-5dbe6f595a8b45b9638470535e2eb79feb96cb49,

[2021-07-26 15:04] timuthy commented on #4433
Can you elaborate what you mean by "a similar secret"? Are you suggesting to delete any secret that has a  `cloud-config-` prefix but is not used by the node?

[2021-07-26 15:07] vpnachev commented on #4433
It depends to the clients and how they find these secrets. And yes, the prefix is one option. Other one is label selector https://github.com/gardener/gardener/blob/0f094f27d0f3b538b15414a28e1de60c4d3f4444/pkg/operation/botanist/worker.go#L88-L110.

[2021-07-26 15:15] ialidzhikov commented on #4437
I see this panic even with gardenlet@v1.27.2. Hence, I will not consider it as release blocker for v1.28.0.
I suspect that that it happens on deletion of hibernated Shoot where `Waiting until Kubernetes API server reports readiness` does not properly wait for kube-apiserver replicas to be considered as ready. But I have to reproduce locally first to confirm this.

[2021-07-27 07:11] voelzmo commented on #4415
While #4254 is caused by this issue, they're still talking about different things. For example, we tried to fix #4254 without fixing this issue. I think we agreed that #4254 is acceptable to have (because it goes away when there are no clusters with k8s version <1.22 anymore), while this issue here is probably something we should think about how to solve. Does this make sense?

[2021-07-27 07:25] #4437 closed, assigned to nobody

[2021-07-27 10:19] ialidzhikov opened #4442 "gardenlet: invalid memory address or nil pointer dereference"
/area quality
/kind bug
/priority 3

**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version: v1.27.2, v1.28.0-dev-489e985691671faac0a73bc9a4a4cf62c2acbcc2
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Other

[2021-07-27 10:27] ialidzhikov opened #4443 "gardenlet: concurrent map writes"
/area quality
/kind bug
/priority 3

**What happened**:

[code]

Checkout full logs in [gardenlet-dd84747cc-wd5kj.log](https://github.com/gardener/gardener/files/6884659/gardenlet-dd84747cc-wd5kj.log)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version: v1.28.0-dev-489e985691

[2021-07-27 10:49] ialidzhikov commented on #4043
/reopen

[2021-07-27 10:51] ThormaehlenFred commented on #4300
1. Regarding TLS 1.3 and STIGs the above list is the final list to be applied.
2. To be quantum computer save in the future we will have to replace the currently used public key algorithms (RSA, (EC)DSA and DH). For AES and SHA it is enough to increase the length. However, this will come with a certain performance penalty which can vary widely between devices. Therefore if applicable a comprehensi

[2021-07-27 20:39] vanjiii commented on #4293
/assign

[2021-07-29 06:07] mvladev opened #4450 "Introduce Shoot identity for authentication to external systems"
**How to categorize this issue?**

/area security
/kind api-change
/kind enhancement
/priority 3

**What would you like to be added**:

New field in the `Shoot` specification called `serviceAccountName` that would be used to associate a `Shoot` cluster with`ServiceAccount` in the Garden cluster. Said `ServiceAccount`'s Token would be used to authenticate to external systems.

**Why is this needed*

[2021-07-29 06:07] mvladev commented on #4450
/cc @dimityrmirchev

[2021-07-29 06:09] mvladev commented on #4450
Also in this case - the information which `AWS` role to assume, is `AWS`-specific and should be put in the configuration for that specific extension.

[2021-07-29 11:36] mganter opened #4453 "dual-stack support for gardener"
**How to categorize this issue?**

/area control-plane
/area networking
/kind enhancement
/kind api-change
/priority 3

**What would you like to be added**:

I'd like to enhance the gardener resources for IPv4/IPv6 dual-stack. Therefor multiple changes in the API and it's validation are required. There is also a need of API and resource changes in the respective infrastructure and CNI extension.

[2021-07-30 14:37] voelzmo opened #4458 "[Flaky Test] FLAKING e2e-fast/NodeFeature:RuntimeHandler"
**How to categorize this issue?**

/area testing
/kind flake
/priority 3

**Which test(s)/suite(s) are flaking**:
Since enabling the k8s e2e test suite also to be run with `containerd`, we have failing tests in [e2e-fast/NodeFeature:RuntimeHandler](https://github.com/kubernetes/kubernetes/blob/9ff3b7e744b34c099c1405d9add192adbef0b6b1/test/e2e/common/node/runtimeclass.go#L45). This is the summary:

[2021-08-03 07:59] mvladev opened #4460 "Add extension labels to Shoot namespaces in the seed clusters"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

Label like `extension.gardener.cloud/my-extension: "true"` to be added to each shoot control plane namespace if `my-extension` is enabled for that `Shoot`.

**Why is this needed**:

Optional extensions might want to have a `MutatingWebhookConfigurations` to mutate some resour

[2021-08-03 10:57] timuthy opened #4463 "Failed to hibernate shoot clusters in creation phase"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 3

**What happened**:
The hibernation of a shoot cluster failed because of the following reason:

[code]

Pods were still running in the cluster but:
[code]

--> _Problem_: KCM is already scaled to `0` and cannot clean up remaining pods.

**What you expected to happen**:
Hibernation operation to be successful.

**How to rep

[2021-08-03 12:01] dimityrmirchev commented on #4460
/assign @dimityrmirchev

[2021-08-03 19:21] vpnachev commented on #4340
Almost all provider extensions are now exposing the MCM logs.
Once https://github.com/gardener/gardener/pull/4387 is also merged, we can close this issue.

[2021-08-04 08:26] plkokanov commented on #4463
/assign

[2021-08-04 09:19] voelzmo commented on #4458
The specific set of tests that we would need to disable seem not to be part of the conformance test suite:
* [`conformance.yaml` contains `RuntimeClass API tests`](https://github.com/kubernetes/kubernetes/blob/9ff3b7e744b34c099c1405d9add192adbef0b6b1/test/conformance/testdata/conformance.yaml#L2087-L2094)
* Tests which are failing are not started by `ConformanceIt`, but rather [marked with `NodeFe

[2021-08-04 13:43] #4458 closed, assigned to nobody

[2021-08-04 14:05] vpnachev commented on #4340
This task is now completed and I am closing this issue as all required PRs are merged.

[2021-08-04 14:05] #4340 closed, assigned to nobody

[2021-08-05 02:27] dat1041988 opened #4474 "Cannot create shoot cluster"
Create shoot cluster failed with following error (attached file).
Need some help!

Thanks!

Env:
Opentack
Garden-setup 3.12.0
Garden k8s cluster: 1.20.7

[gardener-resource-manager-log.txt](https://github.com/gardener/gardener/files/6935514/gardener-resource-manager-log.txt)

[2021-08-05 06:35] timuthy commented on #4474
The following entry hints towards a network issue in your seed cluster. Can you please check?

[code]

@Diaphteiros have you seen this issue with the mentioned Garden-Setup version before?

[2021-08-05 06:41] #4219 closed, assigned to vanjiii

[2021-08-05 07:30] dat1041988 commented on #4474
I don't create addition seed cluster, using garden base cluster as seed cluster. In base cluster, i don't see a network issue. I checked network by ping & nslookup svc, it's ok.

In Garden namespace, gardener-seed-admission-controller always refresh (Kill & Create new one, seem like VPA apply new resource, is that normal?)

![image](https://user-images.githubusercontent.com/42293819/128309386-99b0

[2021-08-05 14:36] stoyanr commented on #4293
/cc @plkokanov

[2021-08-05 15:35] stoyanr commented on #4293
In addition to the extension resources mentioned above, the validating webhook should also take care to validate [etcd resources](https://github.com/gardener/etcd-druid/blob/master/api/v1alpha1/etcd_types.go). We had a recent case where if we had such a validation in place, we could have prevented a rather severe issue from happening.
Note that validation of `etcd` resources is currently missing i

[2021-08-06 08:41] lotharbach opened #4477 "project member has no permission to list controllerregistrations as required by gardener dashboard"
**How to categorize this issue?**

/area user-management
/kind bug
/priority 3

**What happened**:
Gardener dashboard 1.51.0 is not able to show available Network Types and DNS Providers, which it tries to look up in the controllerregistrations. (unless logged in with an global admin account). With kubectl and a project-admin serviceaccount I get:
[code]

**What you expected to happen**:
Be able t

[2021-08-06 10:27] #4474 closed, assigned to nobody

[2021-08-06 11:02] vpnachev commented on #4477
Will be fixed by https://github.com/gardener/dashboard/pull/1073, right @grolu @petersutter ?

[2021-08-06 11:03] petersutter commented on #4477
correct

[2021-08-06 11:12] vpnachev commented on #4477
Closing as https://github.com/gardener/dashboard/pull/1073 has been merged.

[2021-08-06 11:12] #4477 closed, assigned to nobody

[2021-08-06 12:29] #4463 closed, assigned to plkokanov

[2021-08-09 08:01] plkokanov opened #4484 "Migration of hibernated Azure cluster can get stuck"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
Trying to migrate a hibernated cluster on Azure can get stuck if the migration flow fails after the `ControlPlane` resource is migrated successfully, but before the kube-apiserver deployment is removed.

**What you expected to happen**:
Migration to succeed without a problem.

**How to reprod

[2021-08-09 08:01] plkokanov commented on #4484
/assign

[2021-08-09 14:24] vpnachev commented on #4419
Just one detail toward how to reproduce it, the cluster backing the seed must not be installed with VPA via other means (if it is a shoot cluster, `spec.kubernetes.verticalPodAutoscaler.enabled` must be `false`)

[2021-08-10 07:59] timuthy opened #4487 "Eliminate the `predicate.FromMapper` usage to ensure code consistency"
**How to categorize this issue?**

/area open-source
/kind cleanup
/priority 3

**What would you like to be added**:
We should move all predicates from /extensions to /pkg:
- Use `predicate.NewPredicateFuncs` instead of `FromMapper` to eliminate dependency to `/extensions/pkg/predicate`
- Move predicates to `/pkg/predicate`
- Create aliases for moved predicate functions in `extensions/pkg/predicat

[2021-08-11 07:06] timebertt commented on #4251
I'm currently working on this for the remaining gardenlet controllers as part of https://github.com/gardener/gardener/issues/2822

[2021-08-11 07:49] vpnachev commented on #4419
/assign

[2021-08-11 14:56] donistz opened #4495 "Implement Viewer role with access to all projects"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 3

**What would you like to be added**:
Implement viewer role that will allow only get/list/watch permissions for Kubernetes and Gardener resources for all Gardener projects without access to secrets
**Why is this needed**:
The Viewer role is mainly necessary for audit purposes but also will be used for managing the acce

[2021-08-12 07:36] timuthy commented on #4442
Fixed by #4459
/close

[2021-08-12 07:36] #4442 closed, assigned to nobody

[2021-08-12 15:46] timebertt commented on #4251
It's mostly done with https://github.com/gardener/gardener/pull/4503.
Though, the shoot controller should be further refactored into individual `reconcile.Reconciler`s instead of using `reconcile.Func`s.

[2021-08-12 15:50] timebertt opened #4504 "[good first issue] Make Seed lease sync/duration period configurable"
**How to categorize this issue?**

/area scalability
/kind enhancement

**What would you like to be added**:

Make Seed lease sync/duration period configurable, currently the gardenlet uses hard-coded values for lease duration and sync period (see [here](https://github.com/gardener/gardener/blob/v1.28.0/pkg/gardenlet/controller/seed/seed_lease_control.go#L43)).
Instead, there should be proper conf

[2021-08-12 15:53] timebertt commented on #4504
/exp beginner
/needs help

[2021-08-13 03:06] hzliangbin commented on #4504
/assign

[2021-08-13 05:55] timebertt commented on #4504
Thanks @hzliangbin for picking this up!
Just a small heads-up: the seed lease controller is refactored with #4503 (411992bc616fabd76ca5660ab78111a3383a1d68).
Depending on what gets merged first, you might need to rebase a bit.

[2021-08-13 06:53] hzliangbin commented on #4504
@timebertt ok

[2021-08-13 07:30] timuthy commented on #4443
/assign

[2021-08-13 09:56] timuthy commented on #4443
Root cause: [storeStaticTokenAsSecrets](https://github.com/gardener/gardener/blob/584ae9587896f5c04cd33a13e14b1774b37d32d9/pkg/operation/botanist/secrets.go#L338) writes to `b.CheckSums` without acquiring the lock from `Operation`.

[2021-08-13 10:55] amshuman-kr opened #4511 "Enabling scheduled backup compaction for ETCD via gardenlet feature gate"
**How to categorize this issue?**

/area control-plane cost high-availability disaster-recovery
/kind enhancement
/priority 2

**What would you like to be added**:

The [upcoming release](https://github.com/gardener/etcd-druid/milestone/15?closed=1) of `etcd-druid` includes the feature to [schedule periodic compaction of incremental snapshots](https://github.com/gardener/etcd-druid/blob/master/doc

[2021-08-13 10:56] amshuman-kr commented on #4511
/assign @abdasgupta

[2021-08-13 14:41] #4303 closed, assigned to nobody

[2021-08-16 06:22] dkistner commented on #4511
How about using an annotation on the Shoot resource for this?

[2021-08-16 12:44] vpnachev commented on #4511
TBH, I don't think a gardenlet feature gate is the correct implementation. You can simply expose some etcd-druid configuration options via the gardenlet config, just like it is done for the logging and SNI https://github.com/gardener/gardener/blob/0bb7e5842c2b51ab0cf3c33a343cac75288ee101/pkg/gardenlet/apis/config/v1alpha1/types.go#L75-L82.

[2021-08-16 13:20] timebertt opened #4513 "Deny manually scheduling shoot if seed has reached capacity limit"
**How to categorize this issue?**

/area robustness
/kind enhancement

**What would you like to be added**:

gardener-apiserver should deny `{CREATE,UPDATE} shoot` requests with `spec.seedName` set to a Seed, which has reached its maximum capacity for shoots (`Seed.status.allocatable.shoots`).

**Why is this needed**:

gardener-scheduler already respects the Seeds' capacity settings for finding a

[2021-08-16 14:25] timebertt opened #4514 "kube-dns service cannot be created because of ClusterIP conflict"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:

The `kube-dns` service of the managed resource `shoot-core` could not be created during shoot creation as the specified ClusterIP is already used by the service `addons-nginx-ingress-controller`:

[code]

`spec.clusterIP` of the `kube-dns` service is hard-coded to the 10th IP of the shoot's service CIDR ([ref](https

[2021-08-16 14:41] timebertt commented on #4514
One solution that was proposed is to add a validating webhook to shoots that allows the reserved ClusterIP to only be used by the `kube-dns` service (cc @vpnachev @danielfoehrKn).
This could also prevent this issue from happening, when users tamper with the `kube-dns` service and delete it during a shoot's lifecycle.

However, adding such a webhook would require a new component similar to the [API

[2021-08-16 15:07] rfranzke commented on #4514
This ManagedResource should then be deployed as the first one in a dedicated flow task. The task should then also wait for the service to be created before creating other ManagedResources and Services in the shoot.
I think, this would be a sufficient and adequate solution to this issue.
WDYT?

+1, exactly this is what we should do :)

[2021-08-17 06:11] #4495 closed, assigned to nobody

[2021-08-17 07:13] timebertt commented on #4513
/assign

[2021-08-17 09:20] #4443 closed, assigned to timuthy

[2021-08-17 13:06] voelzmo opened #4519 "Investigate a containerized setup to develop, build and run Gardener"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
A containerized environment to develop, build and run Gardener, similar to what kubernetes offers: https://github.com/kubernetes/kubernetes#to-start-developing-k8s only requires a running docker environment.

**Why is this needed**:
* Simplicity: Compare the preparation ins

[2021-08-17 13:07] voelzmo commented on #2143
Closing in favor of #4519 to keep the conversation in a single place. Thanks for raising this issue, @mvladev!

[2021-08-17 13:07] #2143 closed, assigned to nobody

[2021-08-18 06:56] rfranzke commented on #2871
Would this really help? In my recent experience, the mentioned solution in g/grm is not helpful at all. How is it different to have an own Go module for the API instead of only importing `pkg/apis/core/v1beta1` in external projects?

[2021-08-18 06:58] rfranzke commented on #2829
Should we close this in favor of #4251? cc @timebertt

[2021-08-18 07:15] timebertt commented on #2822
BTW: It wasn't mentioned here, but with https://github.com/gardener/gardener/pull/4320 the `CachedRuntimeClients` feature gate was actually dropped in gardener-scheduler (now all clients are cached by default there).
Hence, there's nothing to graduate in the scheduler anymore, only in gardener-controller-manager and gardenlet.

[2021-08-18 09:32] timuthy commented on #2829
Hm, I don't think that one comes with the other. The scheduler for instance was changed to use the Controller-Runtime but the endpoints are still served via http only. Even on the contrary, with the Controller-Runtime serving these endpoints with https is not supported yet (https://github.com/kubernetes-sigs/controller-runtime/issues/979). Hence, we should only close it if we decide that this is n

[2021-08-18 09:35] rfranzke commented on #3948
/close for now as it seems to not have appeared again, please reopen if needed

[2021-08-18 09:36] #3948 closed, assigned to nobody

[2021-08-18 15:07] ialidzhikov opened #4527 "gardenlet always creates (useless?) ssh-keypair.old Secret on Shoot creation/reconciliation"
/area quality
/area auto-scaling
/kind bug
/priority 3

**What happened**:
gardenlet always creates (useless?) ssh-keypair.old Secret on Shoot creation/reconciliation. First I was quite surprised that  ssh-keypair.old Secret is created on landscapes even when `RotateSSHKeypairOnMaintenance` feature gate was never enabled.
Then I found the communication in https://github.com/gardener/gardener/pull/