[2022-10-19 16:29] cbarbian-sap opened #6852 "Please provide missing custom override mechanism for node-local-dns"
**How to categorize this issue?**

/area control-plane
/kind enhancement

**What would you like to be added**:

For the 'normal' cluster coredns service Gardener offers a possibility to inject custom servers and custom overrides for the main server, see https://github.com/gardener/gardener/blob/master/docs/usage/custom-dns-config.md ...

Please add the same or a similar functionality for the node-

[2022-10-20 08:05] ialidzhikov opened #6855 "Error code is no longer added for the `Waiting until managed resources have been deleted` step"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
Shoot fails to be deleted with:
[code]

As you can see the error message contains `InvalidClientTokenId`, which should be matched by the `ERR_INFRA_UNAUTHORIZED` regex https://github.com/gardener/gardener/blob/0a7a79299833ebb78fc6196c1861d271013fc727/pkg/apis/core/v1beta1/helper/errors.go#L61

But as you can see, there

[2022-10-20 08:21] ScheererJ commented on #6852
https://github.com/gardener/gardener/pull/6856 documents the status quo.

[2022-10-20 09:42] pbochynski commented on #3110
/remove-lifecycle stale

[2022-10-20 13:10] ialidzhikov opened #6858 "Pick a better name for the `validate-namespace-deletion` ValidatingWebhookConfiguration"
**How to categorize this issue?**

/area control-plane
/kind cleanup

**What would you like to be added**:
The `validate-namespace-deletion` ValidatingWebhookConfiguration contains the following webhooks - `validate-namespace-deletion.gardener.cloud`, `validate-kubeconfig-secrets.gardener.cloud`, `validate-resource-size.gardener.cloud`, `seed-restriction.gardener.cloud`, `internal-domain-secret.ga

[2022-10-20 14:03] AleksandarSavchev commented on #6858
/assign

[2022-10-21 04:47] shafeeqes commented on #6567
/close
All tasks are completed.

[2022-10-21 08:36] ialidzhikov commented on #6567
Shouldn't we keep it open for

?

Ref https://github.com/gardener/gardener/blob/v1.57.1/docs/usage/supported_k8s_versions.md#seed-cluster-versions

Or is it tracked somewhere else?

[2022-10-21 10:47] vpnachev opened #6872 "Gardenlet in local gardener fails to create seed due to IP CIDR conflicts"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
Following this guide https://github.com/gardener/gardener/blob/master/docs/deployment/getting_started_locally.md, it failed on step `make gardener-up` as no seed was created. In fact, gardenlet is crashing with this error message
[code]

**What you expected to happen**:
To be able to create local gardener envir

[2022-10-21 13:18] ialidzhikov commented on #6818
This is completed with https://github.com/gardener/apiserver-proxy/pull/24.

I created the following issue https://github.com/gardener/apiserver-proxy/issues/26. I will rather leave the @gardener/apiserver-proxy-maintainers to check this long-term enhancement issue.

[2022-10-21 13:46] #6818 closed, assigned to ialidzhikov

[2022-10-23 14:40] #6846 closed, assigned to ialidzhikov

[2022-10-24 07:36] mandelsoft opened #6881 "Validation Webhook for worker groups"
**How to categorize this issue?**
 /area control-plane
/kind impediment

**What happened**:

A worker group has configured multiple times the same zone. Fixing this by deleting the additional occurrences is prevented
by the UI as well as by the validation webhook.

But, because it has been created earlier, the creation must have been accepted by the webhook, which leads to reconcilation problems f

[2022-10-24 07:47] mandelsoft opened #6882 "After Kubernetes update API server cannot start during rolling update because of outdated audit policy api version."
**How to categorize this issue?**

/area control-plane
/kind impediment

**What happened**:

Cluster stuck in deletion workflow, because API server deployment was not healthy.

The API server deployment was rolled according to a pending kubernetes upgrade.
The new replicaset couldn't succeed, because a customer configured audit policy
used an outdated version (v1beta). Therefore the deployment nev

[2022-10-24 07:53] mandelsoft opened #6883 "Extension regularly report an outdated health status in Canary landscape"
**How to categorize this issue?**

/area control-plane
/kind question

**What happened**:

Several times a day a lot of shoots are reported with problems, because extensions report an outdated health status.
This happend for all extensions, but in most of the cases only the cert or dns extension is reported on the dashboard.

The problem state persists for up to 10 minutes for more than 100 shoots

[2022-10-24 08:48] rfranzke commented on #5191
/close
All tasks have been completed.

[2022-10-24 08:48] #5191 closed, assigned to oliver-goetz

[2022-10-24 08:52] rfranzke commented on #6883
What do you think should be the next step to analyse this? I don't see any information in this issue (no logs of extensions, no gardenlet logs, nothing at all). Can you provide them, please?

[2022-10-24 08:53] rfranzke commented on #6881
Yes, generally this is not forbidden. It is in the responsibility of the user to properly configure the network layout of their IaaS layer as well as the worker pools. Gardener does not make any assumptions.

Yes, deleting existing zones is not permitted (and will not be for now).

Can you share more information? Which "problems" occur during reconciliation? Can you share logs?

[2022-10-24 08:54] rfranzke commented on #6855
cc @acumino

[2022-10-24 10:06] dimityrmirchev opened #6885 "Allow extensions to be reconciled at different stages of the shoot control flow"
**How to categorize this issue?**

/area usability robustness
/kind enhancement

### Proposal
Right now the `gardenlet` deploys all extension resources after the shoot's `kube-apiserver` is deployed and ready. This behaviour enables most of the use cases regarding extensions but fails to cover cases where the extension should be deployed before the `kube-apiserver`. For example if we want to deplo

[2022-10-24 10:44] vpnachev commented on #6592
/reopen

as #6862 reverted #6725

[2022-10-24 10:52] rfranzke commented on #6885
Thanks for opening the issue. Can you again explain the `hibernate` field? Is it really needed or can we rather handle this like a "special" case of reconciliation (like in the code)?
Also, I would not make those fields a list but rather accept a single value describing the strategy:

- `BeforeKubeAPIServer`
- `AfterKubeAPIServer`
- `BeforeAndAfterKubeAPIServer`

something like this.

[2022-10-24 11:51] timuthy opened #6890 "[GEP-20] High Availability for reversed VPN connection"
**How to categorize this issue?**

/area control-plane
/area high-availability
/area networking
/kind enhancement

**What would you like to be added**:
Shoots which define `spec.controlPlane.highAvailability.failureTolerance: {node, zone}` get an HA control-plane but today the control-planes only have a single VPN connection.

The following points where sketched out after a discussion with @Scheer

[2022-10-24 12:00] rfranzke commented on #6529
/assign @rfranzke

for the tasks related to

(except for the Remainders/special cases)

[2022-10-24 12:19] timuthy commented on #6890
/assign @MartinWeindel
Thanks for your support 🙂

[2022-10-24 13:21] dimityrmirchev commented on #6885
The thing with the `hibernate` field is that usually you want the opposite of the regular deployment strategy. For example if I want to deploy my extension before kapi, then I want it hibernated after kapi. We can eliminate the `hibernate` field if we agree on such contract (on hibernation we do the opposite of what we do on regular reconciliation). Then things like "deploy the extension before ka

[2022-10-24 16:15] rfranzke commented on #6885
I would suggest to start as simple as possible (i.e., define some contract for the hibernation for now). This doesn't limit us from extending the API in the future if required.

[2022-10-25 06:00] ialidzhikov opened #6892 "Node's Pods count in the `Node/Worker Pool Overview` dashboard is wrong"
**How to categorize this issue?**

/area monitoring
/kind bug

**What happened**:
![Screenshot 2022-10-25 at 8 57 16](https://user-images.githubusercontent.com/9372594/197694007-9b0f9390-fc52-4d39-b940-b61b13a34f1c.png)

The dashboard shows 9 Pods for `ip-10-242-1-133.eu-central-1.compute.internal` and 11 Pods for `ip-10-242-1-136.eu-central-1.compute.internal`.
But in reality:
[code]

**What you

[2022-10-25 06:15] shafeeqes opened #6893 "Support Kubernetes `v1.25` Seeds"
**How to categorize this issue?**

/area open-source
/kind enhancement
/topology seed

**What would you like to be added**:

Support for Kubernetes v1.25 Shoots were added in #6567.

Required tasks:
- [x] https://github.com/gardener/etcd-druid/issues/429
  - [x] Upgrade etcd-druid version in gardener/gardener > #7034
- [x] gardener/hvpa-controller/issues/104
- [x] https://github.com/gardener/garde

[2022-10-25 06:16] shafeeqes commented on #6567
Opened a new issue. We can keep this closed.

[2022-10-25 06:29] rfranzke commented on #6893
We should also tackle https://github.com/gardener/gardener/blob/017023657af9fc09853636775c15fe329fd3d4c8/test/e2e/managedseed/create_rotate_delete.go#L58-L59 once 1.25 seeds are supported.

[2022-10-25 08:36] rfranzke commented on #5634
/reopen
for cleanup
due to https://github.com/gardener/gardener/pull/6799

[2022-10-25 08:38] rfranzke commented on #6791
/close
because https://github.com/gardener/gardener/pull/6836 was merged

[2022-10-25 08:38] #6791 closed, assigned to rfranzke

[2022-10-25 09:45] oliver-goetz opened #6896 "Gardenlet might fail to delete seed when runs in a combined garden/seed clusters"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:
Deleting the seed cluster in `garden-local` setup failed ([test ref](https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6865/pull-gardener-e2e-kind/1584815215726301184)), because gardenlet panicked ([ref](https://storage.googleapis.com/gardener-prow/pr-logs/pull/gardener_gardener/6865/pu

[2022-10-25 12:00] rfranzke commented on #6565
As discussed in our meeting today, the only reason that the `ControlPlane` is deployed before the `kube-apiserver` was that we don't have CSI for all providers when the Kubernetes version is < `1.21`. Consequently, when we drop support for shoots < `1.21`, we can clean all this up (i.e., first deploy `kube-apiserver`, then deploy `ControlPlane`) and then these issues should disappear, am I right?

[2022-10-25 12:36] ialidzhikov opened #6897 "[Flaky Test] [It] ManagedSeed Tests Create Shoot, Create ManagedSeed, Delete ManagedSeed, Delete Shoot [ManagedSeed, default]"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`[It] ManagedSeed Tests Create Shoot, Create ManagedSeed, Delete ManagedSeed, Delete Shoot [ManagedSeed, default]`

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6894/pull-gardener-e2e-kind/1584808878820823040

**Reason for failure**:
[code]

**Anyth

[2022-10-25 14:05] timuthy opened #6898 "Consider removing `SeedTemplate` field from ManagedSeed"
**How to categorize this issue?**

/area scalability
/kind cleanup

**What would you like to be added**:
The field `SeedTemplate` in the ManagedSeed-API is used to register the `seed` object via the ManagedSeed-Controller rather than the Gardenlet.

[code]

At the same time, the Gardenlet-Config **requires** the `config.seedConfig` to be set, i.e. it is anyway registering or updating the `seed` ob

[2022-10-25 17:55] oliver-goetz commented on #6769
/close
Today, I checked like 40 different e2e tests and I was not able to find any other occurrence of this issue.
Please reopen, if it happens again.

[2022-10-25 17:55] #6769 closed, assigned to oliver-goetz

[2022-10-26 05:30] timebertt opened #6903 "[Flaky Test] CloudProfile Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`CloudProfile controller tests no shoot referencing the CloudProfile should add the finalizer and release it on deletion`

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6902/pull-gardener-integration/1585137129640431616#1:build-log.txt%3A41-67

**Rea

[2022-10-26 05:30] timebertt commented on #6903
ref https://github.com/gardener/gardener/pull/6902

[2022-10-26 05:37] timebertt opened #6904 "[Flaky Test] Extensions Controller BackupBucket Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
`BackupBucket should successfully create and delete a BackupBucket (respecting operation annotation)`

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6902/pull-gardener-integration/1585137129640431616#1:build-log.txt%3A131-219

**Reason for failure**:

[2022-10-26 05:37] timebertt commented on #6904
ref https://github.com/gardener/gardener/pull/6902

[2022-10-26 09:04] acumino commented on #6855
Handling this error code in gardener will lead us back to square 1. The error is provider-extension related and if handled in gardener we need to store details of all provider errors for unauthorized errors.

[2022-10-26 09:49] ialidzhikov commented on #6718
In the last days I had a look into the [TopologyAwareHints](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/). I will try to summarize my understanding in this comment. Most of the points raised in this comment are also raised by @unmarshall in https://github.com/kubernetes/kubernetes/issues/110714 (the issue title is specific but discussion in the issue itself is more

[2022-10-26 10:28] timuthy opened #6905 "[GEP-20] Potential race condition for zone-pinning"
**How to categorize this issue?**

/area high-availability
/area control-plane
/kind bug

**What happened**:
The `gardener-resource-manager` adds `podAffinity` and `nodeAffinity` configuration to shoot control-plane pods in order to enforce that all pods are scheduled into the same zone, for `non-HA` or `node` shoots (see https://github.com/gardener/gardener/pull/6579).

We've seen at least one ca

[2022-10-26 10:29] timuthy commented on #6905
/assign

[2022-10-26 11:52] vlerenc commented on #6718
Is it possible to set/mutate those hints ourself, so that we get what we need, because the logic to not set the hints is indeed flawed in our case (unless there is no endpoint in that zone that is, but it shouldn't depend on the CPU capacity per zone - that's pointless/wrong in our case).

[2022-10-26 12:06] ialidzhikov opened #6906 "kube-controller-manager: unknown flag: --cluster-signing-kube-apiserver-client-cert-file"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
After https://github.com/gardener/gardener/pull/6784 `kube-controller-manager` for a Shoot with K8s 1.18.20 fails with:
[code]

It seems that the corresponding flag is not present in v1.18.20. The `--cluster-signing-kube-apiserver-client-cert-file` flag is added starting K8s 1.19 with https://github.com/kubernetes

[2022-10-26 12:11] elchead opened #6907 "Local setup crashes due to unauthorized after some time"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
The API server issues unauthorized after some time (~ 20 min uptime) and then my gardenlet and controller-manager crash soon after.

API-server log:
[code]

Gardenlet log:
[code]

I then need to apply the `dev-setup` again and start everything all over.

**What you expected to happen**:
No crash :)

**How to re

[2022-10-26 18:11] DockToFuture commented on #6718
FYI, we run cilium shoots without `kube-proxy` and we also wanted to remove `kube-proxy` from calico shoots at a later point in time.

[2022-10-27 03:26] unmarshall commented on #6718
AFAIK even if you set this explicitly, [reconciler](https://github.com/kubernetes/kubernetes/blob/29b856b658337ac94cf808d7ce3925b0af527f86/pkg/controller/endpointslice/reconciler.go#L264-L270) will again change the hints based on the values computed in [topologycache](https://github.com/kubernetes/kubernetes/blob/29b856b658337ac94cf808d7ce3925b0af527f86/pkg/controller/endpointslice/topologycache/t

[2022-10-27 05:49] #6851 closed, assigned to nobody

[2022-10-27 06:25] ialidzhikov opened #6911 "☂️ Drop support for Shoots with K8s < 1.20"
**How to categorize this issue?**
/kind cleanup

**What would you like to be added**:
We can drop support for Shoots with K8s < 1.20.

Gardener:
- [x] https://github.com/gardener/gardener: https://github.com/gardener/gardener/pull/6987
   - [x] Clean up support for [`BasicAuthFormatCSV`](https://github.com/gardener/gardener/blob/c38a317bb0dccea0f25546acdffc39e697d0588a/pkg/utils/secrets/basic_auth

[2022-10-27 06:29] ialidzhikov commented on #6906
The issue will be tackled with https://github.com/gardener/gardener/issues/6911.

[2022-10-27 06:34] #6858 closed, assigned to AleksandarSavchev

[2022-10-27 14:22] timuthy commented on #6905
Update: It's still not clear why and under which circumstances this issue happened. The logs didn't help either to narrow down the issue.
However, it's planned to expand the webhook to handle HA concerns in general and with this endeavor we can improve logging as well. Also, the affinity configuration will slightly change, i.e. in the future Gardenlet will pick zone(s) before any workload is sched

[2022-10-27 23:20] oliver-goetz opened #6917 "`make check-apidiff` is silently panicking"
**How to categorize this issue?**

/area TODO
/kind bug

**What happened**:
`make check-apidiff` is silently panicking in each PR: [ref](https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6915/pull-gardener-apidiff/1585770153394573312), [ref](https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6916/pull-gardener-apidiff/1585762892211294208

[2022-10-27 23:21] oliver-goetz commented on #6917
/area dev-productivity

[2022-10-28 08:45] acumino commented on #6917
we need to upgrade new go-apidiff release with this PR https://github.com/joelanford/go-apidiff/pull/19 in.

[2022-10-28 10:15] acumino opened #6923 "[Flaky Test] ShootState Extensions Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

[code]

and

[code]
**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6912/pull-gardener-integration/1585932846114017280
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6912/pull-gardener-integration/1585935334800101376

[2022-10-28 10:53] reshnm commented on #4606
It looks like with Kubernetes 1.26.x, encryption of  custom resources will be supported: https://github.com/kubernetes/kubernetes/pull/113015

Are there any plans to support this for in Gardener? This would be really helpful to encrypt custom resources that contain sensitive data.

[2022-10-28 11:58] #6827 closed, assigned to oliver-goetz

[2022-10-28 14:38] #6917 closed, assigned to nobody

[2022-10-30 06:17] rfranzke commented on #4606
Interesting, so without https://github.com/kubernetes/kubernetes/pull/113015 the feature would not even have worked as expected. In this case, it's actually good that we haven't implemented it yet 😅

@reshnm We plan to eventually support it, yes, but we don't have a timeline for it yet. But given that it would only work for 1.26+ it isn't too urgent either. Probably we won't make it in 2022, but h

[2022-10-31 04:13] shafeeqes opened #6927 "[Flaky Test] ControllerInstallation Required controller tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6926/pull-gardener-integration/1586925411156103168

**Reason for failure**:
[code]

**Anything else we need to know**:

[2022-10-31 07:13] shafeeqes opened #6928 "[Flaky Test] Project Activity controller tests"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]
**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6837/pull-gardener-integration/1586977319220678656

**Reason for failure**:
[code]

**Anything else we need to know**:

[2022-10-31 08:39] rfranzke commented on #6927
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6919/pull-gardener-integration/1586999929648189440

[2022-10-31 08:39] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6919/pull-gardener-integration/1586987487371202560

[2022-10-31 09:12] rfranzke commented on #6898
@timuthy wants to work on this, thanks!
/assign @timuthy

[2022-10-31 09:15] rfranzke opened #6931 "[Flaky Test] Shoot Conditions Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/batch/pull-gardener-integration/1583444048444657664

**Reason for failure**:
[code]

[2022-10-31 09:16] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6871/pull-gardener-integration/1583427715539668992

[2022-10-31 09:18] rfranzke opened #6932 "[Flaky Test] Extensions Webhook Certificates Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6866/pull-gardener-integration/1583377650796204032
- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1585613542181048320

**Reason for failure**:

[code]

[2022-10-31 09:20] rfranzke opened #6933 "[Flaky Test] Seed Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6873/pull-gardener-integration/1586620335078248448

**Reason for failure**:
[code]

[2022-10-31 09:23] rfranzke commented on #6906
Shall we close this in favor of #6911?

[2022-10-31 09:24] #6883 closed, assigned to nobody

[2022-10-31 09:25] #6881 closed, assigned to nobody

[2022-10-31 09:26] axel7born commented on #6852
/assign

[2022-10-31 09:27] rfranzke commented on #6872
The problem is that the node CIDR is hard-coded at several places (https://github.com/gardener/gardener/search?q=%22172.18.0.0%2F16%22). This specific CIDR seems to only be the correct one for Macs.

[2022-10-31 09:31] vpnachev commented on #6872
@dimityrmirchev suggested that this is related to the `kind` docker network which changed its CIDR in newer versions of kind and needs to be re-created, but this is did not work for me as it still uses the `192.168.16.0/20` CIDR.

[2022-10-31 09:34] ialidzhikov commented on #5634
/close
as https://github.com/gardener/gardener/pull/6899 is merged

[2022-10-31 09:34] #5634 closed, assigned to ialidzhikov

[2022-10-31 10:26] ialidzhikov commented on #6906
/close
as the issue will be tackled with https://github.com/gardener/gardener/issues/6911

[2022-10-31 10:26] #6906 closed, assigned to nobody

[2022-10-31 11:46] #6905 closed, assigned to timuthy

[2022-10-31 12:31] dimityrmirchev opened #6936 "Do not execute irrelevant checks on certain pull requests"
**How to categorize this issue?**

/area quality cost
/kind enhancement

**What would you like to be added**:
There are certain PRs that modify only documentation related files. There is no need to run all test suites in such cases. We can save time and computing resources by skipping the irrelevant suites in such cases. See [this](https://github.com/gardener/gardener/pull/6935) PR for example.

c

[2022-10-31 12:47] #6067 closed, assigned to nobody

[2022-10-31 15:16] ialidzhikov commented on #6718
We had a sync last week on this topic. The "consensus" was to ask the maintainers feedback for our use case and try to contribute it. There was also the suggestion to evaluate a webhook approach that on every update ensures the EndpointSlice hints.

~~I also noticed the [`ServiceTopology`](https://kubernetes.io/docs/concepts/services-networking/service-topology/) - it was deprecated in favor of To

[2022-10-31 17:33] #6872 closed, assigned to nobody

[2022-11-01 03:28] shafeeqes commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1587184101889150976

[2022-11-02 09:19] oliver-goetz commented on #6936
Last time I checked, there have been only very few PRs (like 3 in a quarter) which changed docs only.
If we will exclude certain files from several tests, we cannot not enforce these tests via github branch protection anymore. We should not do this for this low number of PRs.

[2022-11-02 09:22] dimityrmirchev commented on #6936
Thanks for the explanation! Feel free to close the issue if you think it is irrelevant for the time being.

[2022-11-02 12:13] vlerenc commented on #653
Is that a strict rule (14d) @marwinski? Sometimes, Gardener operators would like to have logs available for more than 14d in order to have enough time to follow issues and provide RCAs.

cc @ThormaehlenFred

[2022-11-03 06:42] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6945/pull-gardener-integration-release/1588057792680300544

[2022-11-03 08:02] yang-wang11 commented on #6773
@rfranzke Hello Rafael,
I noticed you mentioned the cloud-provider-azure will be archived, we still need its LB controller for our static IP.
May I know the reason? Is there any alternative controller responsible for reconciling the LB on the gardener further? Thanks.
[code]

[2022-11-03 08:11] kon-angelo commented on #6773
@yang-wang11 for older releases we maintained a fork https://github.com/gardener/cloud-provider-azure of azure CCM but for newer k8s versions we use the upstream image.
TLDR; there will still be a CCM doing LB reconciliation (just not our fork).

[2022-11-03 08:13] rfranzke commented on #6773
We only use our k/k in-tree fork (https://github.com/gardener/cloud-provider-azure) for shoots <= 1.22. For shoot clusters higher than 1.22 Kubernetes, we already today use the upstream Azure cloud provider (github.com/kubernetes-sigs/cloud-provider-azure).

[2022-11-03 10:20] shafeeqes commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6948/pull-gardener-integration/1588109381390569472

[2022-11-03 10:34] oliver-goetz commented on #6936
/close
Please see [this comment ](https://github.com/gardener/gardener/issues/6936#issuecomment-1299921707)for an explanation.

[2022-11-03 10:34] #6936 closed, assigned to nobody

[2022-11-03 12:32] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6951/pull-gardener-integration/1588145125026959360

[2022-11-04 07:36] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6953/pull-gardener-integration/1588432675562065920

[2022-11-04 09:46] #6752 closed, assigned to nobody

[2022-11-04 15:07] rfranzke commented on #6927
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6944/pull-gardener-integration/1588544760883187712

[2022-11-04 15:33] ZeddowPAS opened #6957 "No connection from outside to the gardener cluster"
obsolete

[2022-11-04 15:35] #6957 closed, assigned to nobody

[2022-11-06 06:36] shafeeqes commented on #6927
Another one : https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6837/pull-gardener-integration/1589137752769695744

[2022-11-07 08:05] Wieneo opened #6961 "Upgrade to 1.59.0 breaks shoot deletion"
**How to categorize this issue?**
/area control-plane
/area quality
/area usability
/kind bug

**What happened**:
After upgrading to Gardener 1.59.0, shoots created before the upgrade can't be deleted.
The shoot namespace on the seed is stuck in state "Terminating".

It looks like Gardener doesn't clean the secrets starting with "managedresource-" and "extension-".
As the gardener-resource-manager

[2022-11-07 08:14] namsral commented on #6961
I'm having the same issue with Gardener v1.58.0 on OpenStack

Error: Waiting until shoot namespace in Seed has been deleted

Remaining resources in shoot's namespace:

[code]

[2022-11-07 08:18] rfranzke commented on #6961
Thanks for reporting.
Can you please provide some `Shoot` YAML and some steps for reproducing this issue?

[2022-11-07 08:19] rfranzke commented on #2692
Another reason why we need this: https://github.com/gardener/gardener/issues/6961

[2022-11-07 08:41] Wieneo commented on #6961
A example Shoot YAML:
[code]

I already mentioned how to reproduce it in the initial issue description.
Is there something missing?

[2022-11-07 10:58] rfranzke commented on #6961
@namsral I think your issue is a different one (even if the symptoms are the same). In your case, there are also `ManagedResource`s which are not cleaned up, but I think in @Wieneo's case (and this is also what I could reproduce) only the `Secret`s referenced by the `ManagedResource`s are still stuck in the namespace.

[2022-11-07 11:08] Wieneo commented on #6961
Just for reference, I listed all remaining resources in the shoot namespace:
[code]

[2022-11-07 11:10] rfranzke commented on #6961
I opened https://github.com/gardener/gardener/pull/6964 which will fix this issue. Once again, thanks for reporting!

[2022-11-07 11:32] vlvasilev opened #6965 "Gardener Logging stack could not properly detect whether the journald logs in /var/log/journal or /run/log/journal"
**How to categorize this issue?**

/area logging
/kind bug

**What happened**:
People often complain that the `systemd` logs from SUSE machines are missing.
The `/var/lib/promtail/scripts/set_active_journal_file.sh` script as part from the `promtail` systemd service decides where on the filesystem - either from `/run/log/journal` or from `/var/log/journal` - promtail should parse the system logs.

[2022-11-07 11:49] #6961 closed, assigned to rfranzke

[2022-11-07 15:14] nickytd commented on #6965
Reading through `promtail` configuration  https://grafana.com/docs/loki/latest/clients/promtail/configuration/#journal it says
[code]
It seems that if empty the `promtail` potentially will resolve to the correct location. Or just my hopes are too high :)

[2022-11-07 18:09] reshnm commented on #4606
@rfranzke Thank you for the clarification 👍

[2022-11-08 07:22] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration-release-v1-57/1589845759593811968

[2022-11-08 08:56] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6955/pull-gardener-integration/1589884252810383360

[2022-11-08 08:56] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6942/pull-gardener-integration/1589903601944236032

[2022-11-08 09:08] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6955/pull-gardener-integration/1589904549689167872

[2022-11-08 09:37] rfranzke commented on #6707
/reopen

Another one, this time:

[code]

https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6968/pull-gardener-integration/1589912777651130368

[2022-11-08 10:05] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6967/pull-gardener-integration/1589919843140767744

[2022-11-08 10:33] ushanirp opened #6969 "helm install gardener-controlplane charts/gardener/controlplane --namespace garden --set existingConfigMap=controlplane-values --wait command set up pods under garden namespace with status CrashLoopBackOff. Nothing is working."
I'm new to Gardener.

I tried to set up Gardener in an AKS cluster with following helm command.
helm install gardener-controlplane charts/gardener/controlplane --namespace garden --set existingConfigMap=controlplane-values --wait

When I run I can see the following available pods under garden namespace with status CrashLoopBackOff.
kubectl get pods -n garden
NAME

[2022-11-08 10:41] #6852 closed, assigned to axel7born

[2022-11-08 12:45] shafeeqes commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6926/pull-gardener-integration/1589945678304382976

[2022-11-08 13:24] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6971/pull-gardener-integration/1589966613707231232

[2022-11-08 13:29] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration-release-v1-59/1589966808553623552

[2022-11-08 13:29] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration-release-v1-57/1589966556819886080

This time, the `Project` controller itself

[code]

[2022-11-08 15:16] shafeeqes commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6837/pull-gardener-integration/1589992038886019072

[2022-11-09 09:06] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1590265201867886592

[2022-11-09 10:52] dimityrmirchev commented on #6885
/assign

[2022-11-09 12:43] #6666 closed, assigned to nobody

[2022-11-09 14:01] StenlyTU opened #6975 "Test machinery tests are failing after upgrading virtual garden api-server to 1.24.7"
**How to categorize this issue?**

/area testing
/kind api-change

**What happened**:
With 1.24 the service account secrets are no longer created automatically. As result, the test machinery tests are failing

**What you expected to happen**:
Testmachinary code to be adapted https://github.com/gardener/gardener/blob/fc2fa73ffd200061a22e3ed8d052b483c940dd35/test/testmachinery/gardener/security/rbac

[2022-11-09 15:23] timebertt commented on #6258
Small update on this issue:

I created [a script](https://gist.github.com/timebertt/371480eca17ba263020052eb3a4687c7) to check which images don't support arm64 yet in our local setup.

On the seed cluster, only istio is lacking arm64 support:
[code]

@axel7born is already working on upgrading istio to 1.15 which supports arm64.

This is done already, `ko` automatically builds for the correct targe

[2022-11-09 15:42] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6979/pull-gardener-integration/1590368042737471488

[2022-11-09 15:54] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6967/pull-gardener-integration/1590369680780955648

[2022-11-10 06:34] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration-release-v1-59/1590389774017892352

[2022-11-10 06:34] rfranzke commented on #6927
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1590446397851701248

[2022-11-10 07:00] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6977/pull-gardener-integration/1590596853710196736

[2022-11-10 09:21] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6967/pull-gardener-integration/1590632744210141184

[2022-11-10 10:52] #5548 closed, assigned to nobody

[2022-11-11 04:34] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1590869511567839232

[2022-11-11 06:25] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6839/pull-gardener-integration/1590642637797330944

[2022-11-11 06:53] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/batch/pull-gardener-integration/1590958004495192064

[2022-11-11 07:21] #6975 closed, assigned to nobody

[2022-11-11 08:29] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6994/pull-gardener-integration-release-v1-59/1590977273563975680

[2022-11-11 08:43] #6965 closed, assigned to nobody

[2022-11-11 09:48] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6998/pull-gardener-integration/1591003340601298944

[2022-11-11 12:55] timebertt commented on #6302
I think, the `Seed.spec.settings.ownerChecks` section and corresponding handling can also be removed once the other tasks are done.
@plkokanov do you want to add this to the task list?

[2022-11-11 12:57] plkokanov commented on #6302
@timebertt yep, I was planning to do it directly as part of `Remove deployment of the special owner DNSRecord during shoot reconciliation.` But I will list it separately in the issue.

[2022-11-11 13:02] rfranzke commented on #6923
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6973/pull-gardener-integration/1591052708461154304

[2022-11-11 13:21] timebertt commented on #6885
This is a nice proposal!
I wonder whether we could use this in https://github.com/gardener/gardener-extension-registry-cache (cc @oliver-goetz @JensAc @Gerrit91)
There we wanted to add webhooks for OSCs but the extension objects were only created/reconciled after the OSCs, IIRC.
If we had a way to influence this order, we could significantly improve the extension's security by dropping the privile

[2022-11-11 13:54] acumino commented on #6923
Another one - https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6993/pull-gardener-integration/1591064788916506624

[2022-11-14 07:06] timebertt commented on #5630
/remove-lifecycle rotten

@SimonKienzler @breuerfelix can you comment here on the state of the ACL extension?

[2022-11-14 08:25] voelzmo commented on #3259
/remove-lifecycle rotten

[2022-11-14 08:32] nickytd opened #7004 "Allow K8S api server access log configuration for troubleshooting scenarios in shoot resources"
/area logging
/kind enhancement

Allow configuring K8S API http access logs for shoot clusters via gardener shoot resource. `--vmodule=httplog=3`

This enables troubleshooting sessions for customers looking into the details of K8S requests handling. Today there is no mechanism to enable those logs apart from hacking around the workload specs of K8S api server, which shall not be advised especially

[2022-11-14 09:13] oliver-goetz commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6991/pull-gardener-integration/1592077703593332736

[2022-11-14 09:14] oliver-goetz commented on #6928
/assign

[2022-11-14 09:44] breuerfelix commented on #5630
We developed a Gardener Extension based on EnvoyFilters for IP allowlisting.

https://github.com/stackitcloud/gardener-extension-acl

All design decisions and restrictions we faced are described in the README :).
TL;DR; only allowlisting works due to how the VPN traffic is handled in Gardener.

We would love to have some feedback on the extension! Either in here, Slack on as a GitHub Issue.

[2022-11-15 04:22] shafeeqes opened #7010 "[Flaky Test] BackupBucket Controller Test suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6989/pull-gardener-integration/1590734776296280064
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7009/pull-gardener-integration/1592244953184997376

**Reason for

[2022-11-15 07:52] rfranzke commented on #6923
/assign

[2022-11-15 08:54] rfranzke commented on #6927
/assign

[2022-11-15 11:05] ialidzhikov opened #7013 "Webhook with `failurePolicy=Ignore` can be problematic"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What happened**:
Currently we don't consider a webhook with `failurePolicy=Ignore` and `timeoutSeconds < 15s` as problematic:
https://github.com/gardener/gardener/blob/9444417324f2843d3389a28a918239558bd69fb7/pkg/operation/care/constraints.go#L333-L366

However in https://kubernetes.slack.com/archives/C0EG7JC6T/p1650375

[2022-11-15 12:07] rfranzke commented on #6903
I have checked this one, but I don't see anything that we could improve to prevent this from happening. I assume that the node running the pod executing the integration tests was CPU-throttled or overloaded in general, hence our default https://github.com/gardener/gardener/blob/20ea13a183559f356daef565db7567c21cc00954/hack/test-integration.env#L3 was not good enough.
In the logs, we see that after

[2022-11-15 12:31] timebertt commented on #6903
Sounds good, thanks for looking into it!
/close

[2022-11-15 12:31] #6903 closed, assigned to rfranzke

[2022-11-15 12:39] rfranzke commented on #6927
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6989/pull-gardener-integration/1592495734140178432

[2022-11-15 13:32] rfranzke opened #7016 "☂️ Improve Gardener Operator"
**How to categorize this issue?**

/area dev-productivity delivery high-availability security open-source
/kind enhancement

As of today, Gardener has no notion of managing any components running in the garden cluster. As a consequence, human operators have to manually deploy the "garden system components" (`vertical-pod-autoscaler`, `hvpa-controller`, `etcd-druid`, `nginx-ingress`) and the "virtu

[2022-11-15 21:53] dmahmalatsap opened #7019 "base64 on macOS doesn't recognize the w0 flag"
While setting up a local cluster of Gardener using KinD, there was a failure at this line:
https://github.com/gardener/gardener/blob/28be93bd2860e6c8de087c5c112200be68f43150/hack/local-development/start-gardenlet#L50

Since the `base64` binary that comes with macOS doesn't support the `-w0` flag (`-b 0` is the equivalent on macOS and is already set as default behaviour), the command fails.
I got t

[2022-11-16 06:35] ialidzhikov commented on #7019
AFAIK, `-w0` should work on macOS when GNU core utils are used. See https://github.com/gardener/gardener/blob/v1.59.1/docs/development/local_setup.md#macos-only-install-gnu-core-utilities.

[2022-11-16 13:08] rfranzke commented on #6529
All related PRs in `gardener/gardener` have been merged.
/unassign

[2022-11-16 13:41] timebertt commented on #4123
For anyone subscribed to this issue:
There is https://github.com/gardener-community/gardener-charts introduced by @JensAc @mxmxchere
(also see blog post: https://23technologies.cloud/en/blog/gardener-chart-releaser)
I think it covers everything discussed in this issue.

[2022-11-16 18:07] dmahmalatsap commented on #7019
Works as intended then !
Once I applied the changes to my `PATH` var, the correct binaries were being used and everything compiles fine.
Thank you @ialidzhikov, closing the issue.

[2022-11-16 18:07] #7019 closed, assigned to nobody

[2022-11-17 06:11] timebertt commented on #4800
/assign @istvanballok

[2022-11-17 07:38] shafeeqes commented on #6707
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6926/pull-gardener-integration/1593144874037678080

[2022-11-17 07:46] shafeeqes commented on #6707
/assign

[2022-11-17 16:03] #7010 closed, assigned to nobody

[2022-11-17 16:04] #6707 closed, assigned to rfranzke, shafeeqes

[2022-11-17 16:59] #6927 closed, assigned to rfranzke

[2022-11-18 18:08] oliver-goetz opened #7041 "nginx ingress controller could prevent rolling seed nodes"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:
nginx ingress controller deployment is configured with `Replica: 1` in combination with `MinAvailable: 1` in its pod disruption budget.
This prevents rolling the node on which nginx controller is running.

**What you expected to happen**:
A proper configuration of replicas and pod disruption budget for nginx.

**How

[2022-11-18 23:27] bogiva commented on #3873
Hi @danielfoehrKn,
Would it be possible that you reopen this one?
I am a customer of Kyma and waiting for their feature to come to life.
Thanks in advance!

[2022-11-21 06:48] #7041 closed, assigned to nobody

[2022-11-21 09:30] voelzmo commented on #6893
I closed https://github.com/gardener/hvpa-controller/issues/104 with 'won't fix', our current plan is to have HVPA removed once we'll get to updating our Seeds to 1.25.

[2022-11-21 09:36] oliver-goetz commented on #6847
/assign

[2022-11-21 15:35] timebertt opened #7051 "☂️ [GEP-21] IPv6 Single-Stack Support in Local Gardener"
**How to categorize this issue?**

/area networking
/kind enhancement

This is an umbrella issue for implementing the changes proposed in [GEP-21 IPv6 Single-Stack Support in Local Gardener](https://github.com/gardener/gardener/blob/master/docs/proposals/21-ipv6-singlestack-local.md).

## Tasks

- [x] https://github.com/gardener/gardener/pull/7050
- [x] https://github.com/gardener/gardener/pull/72

[2022-11-21 15:35] timebertt commented on #7051
/assign @einfachnuralex @timebertt

[2022-11-21 18:22] oliver-goetz commented on #4730
@timebertt @rfranzke after implementing b) finalizers are not enforced anymore. When finalizers are removed by someone/something else the reconciler does not add them unless a change which affects the generation happens or the controller is restarting.
Is this an accepted side effect or a bug?

[2022-11-22 03:39] shafeeqes commented on #6893
Is there an open issue for HVPA removal that we can link here?

[2022-11-22 07:21] timebertt commented on #4730
Is there a difference in this regard between a) and b)?
I think forcefully removing the finalizers is always a dangerous operation and is generally not prevented (e.g., LB services, PVCs, PVs).
It should not be protected because sometimes that's the only way to get rid of resources, however you should know what you're doing 😄

[2022-11-22 08:16] oliver-goetz commented on #4730
Other controllers do the same, that's true 👍
I just checked for b) because it is on my agenda now. However, there might be not much to do anyway. I have the impression most of our controllers are already adapted this way.

[2022-11-22 08:23] rfranzke commented on #4730
This sounds good @oliver-goetz, please confirm :) If there is nothing to be done, even better!

[2022-11-22 09:26] oliver-goetz commented on #4730
It is harmonized at most refactored controllers, but the more I check, the more places I find, where it's not done yet 😄

[2022-11-22 10:25] acumino commented on #2692
/unassign
/assign @seshachalam-yv

[2022-11-22 10:35] timuthy commented on #6529
/assign @plkokanov @ishan16696
for tasks related to

[2022-11-22 11:54] #4741 closed, assigned to ialidzhikov

[2022-11-22 15:49] danielfoehrKn commented on #6365
/remove-lifecycle stale

[2022-11-23 06:29] shafeeqes commented on #6933
Another test:
[code]
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7055/pull-gardener-integration/1595094201236721664

[2022-11-23 06:38] himanshu-kun opened #7057 "Autoscaler couldn't be configured if machines are unheatlhy"
**How to categorize this issue?**

/area auto-scaling
/area performance
/area robustness
/kind bug

**What happened**:

Customers using gardener shoot clusters have faced issues where they run out of quota for a particular worker group and to avoid being stuck with machines trying to come-up , they increase the min size of another similar worker group which has quota. Sometimes they even introduce

[2022-11-23 06:39] himanshu-kun commented on #7057
cc @rishabh-11

[2022-11-23 08:54] #6898 closed, assigned to timuthy

[2022-11-23 15:05] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7048/pull-gardener-integration/1595432196343074816

[2022-11-23 16:17] voelzmo commented on #6893
It's https://github.com/gardener/backlog/issues/25 – but that probably only works for you and me, as it is in a private backlog.

[2022-11-23 21:17] rfranzke opened #7064 "[Flaky Test] Seed deletion"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
e2e test suite pass but `Seed` deletion (triggered by `make gardener-down` fails):

[code]

**CI link**:
- https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1595415122543644672
- https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7048/pull-ga

[2022-11-23 21:17] rfranzke commented on #7064
cc @shafeeqes @plkokanov

[2022-11-24 01:26] shafeeqes commented on #7064
/assign

[2022-11-24 04:51] shafeeqes commented on #7064
I think it's still the same deadlock as https://github.com/gardener/gardener/pull/6926#issuecomment-1324855125, From https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1595415122543644672
[code]
Now, the BackupEntry which is getting deleted waits for the healthy BackupBucket and the healthcheck fails because the `ObservedGeneration!=Generation`  since the BackupBucket gene

[2022-11-24 06:22] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1595581470750019584

[2022-11-24 08:23] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7062/pull-gardener-integration/1595693472789041152

[2022-11-24 08:25] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7067/pull-gardener-integration/1595690595425193984

[2022-11-24 08:39] acumino commented on #6932
/assign

[2022-11-24 09:18] AleksandarSavchev opened #7069 "Kubelet stuck in auto reset state when `protectKernelDefaults=true`"
**How to categorize this issue?**

/area security
/kind bug

**What happened**:
When creating a shoot with `kubelet` option `protectKernelDefaults=true` and machine image `gardenlinux` my machine nodes stay in a pending state with `kubelet` getting constantly reset and giving the following error:
`Failed to start ContainerManager” err=“[invalid kernel flag: kernel/panic, expected value: 10, actual

[2022-11-24 09:18] AleksandarSavchev commented on #7069
/assign @AleksandarSavchev

[2022-11-24 10:57] #6200 closed, assigned to nobody

[2022-11-24 12:56] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration/1595702350595493888

[2022-11-24 13:01] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7062/pull-gardener-integration/1595762629912039424

/reopen

[2022-11-24 17:47] oliver-goetz commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/6678/pull-gardener-integration/1595830864925691904

Removing the `Ordered` directive in https://github.com/gardener/gardener/pull/7043 might be the reason for this.

[2022-11-24 18:16] oliver-goetz commented on #6928
I did not see @shafeeqes comment: https://github.com/gardener/gardener/pull/7020#issuecomment-1320188359
Thus, my statement from the previous comment is wrong 😅

[2022-11-25 08:13] rfranzke commented on #6928
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration-release-v1-60/1596052914634231808

[2022-11-25 10:19] shafeeqes commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7080/pull-gardener-integration/1596078462827761664

[2022-11-25 10:49] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-integration-release-v1-59/1596068517638049792

[2022-11-25 11:58] timuthy commented on #6904
/assign

[2022-11-25 17:19] dguendisch commented on #5956
I have here another legit webhook that Gardener detects as problematic:
<details><summary>webhook spec</summary><p>

[code]

</p></details>

The important bit is that it's acting on `namespaces` and has a `namespaceSelector` and no `objectSelector`:
[code]

I see that @timebertt previously wrote https://github.com/gardener/gardener/issues/5956#issuecomment-1125795187 that `namespaces` are cluster-

[2022-11-25 17:23] ialidzhikov commented on #5956
@dguendisch , the case from https://github.com/gardener/gardener/issues/5956#issuecomment-1327730518 should be rather that we currently don't handle properly `kubernetes.io/metadata.name`. There is already existing issue about it - ref https://github.com/gardener/gardener/issues/6747. I guess we can close this issue in favor of https://github.com/gardener/gardener/issues/6747.

[2022-11-25 17:25] dguendisch commented on #5956
I see, thanks for the ref! Then let's close this here.

[2022-11-25 17:25] #5956 closed, assigned to ialidzhikov

[2022-11-28 09:32] timuthy commented on #6931
/assign

[2022-11-28 09:41] rfranzke commented on #2692
@seshachalam-yv Can you explain your plans here? Which kind of upgrade scenarios are you working on?

[2022-11-28 09:42] rfranzke commented on #4798
/close
all related tasks have been completed

[2022-11-28 09:42] #4798 closed, assigned to plkokanov

[2022-11-28 10:21] #6904 closed, assigned to timuthy

[2022-11-28 11:47] shafeeqes commented on #6897
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7080/pull-gardener-e2e-kind/1597156404748095488

[2022-11-28 12:18] rfranzke commented on #6904
@timuthy FYI https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7086/pull-gardener-integration/1597201262674186240

[2022-11-28 12:23] rfranzke commented on #6933
Another one: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7086/pull-gardener-integration/1597203594749153280

[2022-11-28 12:35] timuthy commented on #6904
Wow, it even ran into the 5 mins timeout 😮 I'll have another look if and how this is related to the slower rate limiter. Thanks for letting me know 👍

[2022-11-28 13:36] timuthy commented on #6904
We set the test timeout to `5m` but this is the overall timeout which is why I think it is not related to the BackupBucket controller. The strike happened more or less by coincidence because the global timeout was exceeded. Does that make sense? Should we increase the timeout to `10m` as we have more and more integration tests?

[2022-11-28 15:07] timebertt commented on #6904
Are you referring to this line? https://github.com/gardener/gardener/blob/d856aa25803701ccdf540569fd8639f4ae94890c/hack/test-integration.sh#L45

The `-timeout` flag of `go test` specifies a "per-suite" timeout, not an overall timeout of the integration test:
[code]

I'm afraid, that the test run rather failed because the individual test took too long, but not because of the overall number of integ

[2022-11-29 07:12] acumino commented on #6906
/cc @ialidzhikov What is the fix if a cluster is stuck with this issue?

[2022-11-29 07:26] rfranzke commented on #6773
/assign @ialidzhikov

[2022-11-29 07:35] #7064 closed, assigned to shafeeqes

[2022-11-29 08:28] timuthy commented on #6904
Okay, thanks for double checking 👍. I played around with this value yesterday and it seemed like it's not applying per suite for some reason.

I ran it again locally and even after 10 minutes of stress testing, the integration tests passed. Unfortunately, the test output doesn't show any valuable information either about the `Extensions Controller BackupBucket Integration Test Suite`. Only the sta

[2022-11-29 08:50] seshachalam-yv commented on #2692
My plan is to add gardener upgrade tests by leveraging g/g e2e shoot creation test framework.

**Summary of my plan**

* Create a kind cluster non-HA/HA-single-zone/HA-multi-zone
* Install gardener `v1.x.x`
* Run Pre-upgrade tests (filter by label `pre-upgrade`)

* **Install gardener `v1.y.y`**
* **Run Post-upgrade tests (filter by label `post-upgrade`)**

* **Uninstall gardener**
* **Delete kind

[2022-11-29 11:08] timebertt commented on #6904
Yes, that sounds good. Let's use `-ginkgo.timeout` instead of `-timeout` to get a nicer output 👍
I'm not sure if this will break the test cache though. If I remember correctly, go considers test invocations with additional arguments as "non-cacheable".

[2022-11-29 15:11] timuthy opened #7103 "Unify and improve shoot system components handling"
**How to categorize this issue?**

/area scalability
/kind enhancement

**What would you like to be added**:
Whenever users specify a worker pool with `shoot.spec.provider.pools[].systemComponents.allow: true`, related components should be scheduled onto these nodes even when custom and additional taints are specified. Earlier, system components generally tolerated all `NoSchedule` and `NoExecute`

[2022-11-29 15:22] timuthy opened #7104 "Unify and improve shoot system components handling"
**How to categorize this issue?**

/area robustness
/area usability
/kind enhancement

**What would you like to be added**:
Whenever users specify a worker pool with `shoot.spec.provider.pools[].systemComponents.allow: true`, related components should be scheduled onto these nodes even when custom and additional taints are specified.

Gardener will need https://github.com/gardener/gardener/issues/

[2022-11-29 15:33] timuthy opened #7105 "`HighAvailabilityConfig` webhook to handle `HPA` and `HVPA` objects"
**How to categorize this issue?**

/area high-availability
/kind enhancement

**What would you like to be added**:
Similar to how the `HighAvailabilityConfig` webhook in GRM adjusts the replica count of `deployment`s and `statefulset`s, it should be enhanced by a similar handling for `HPA`s and `HVPA`s. Both object types will need to have the `high-availability-config.resources.gardener.cloud/type

[2022-11-29 15:33] timuthy commented on #7105
/cc @dimityrmirchev
Thanks for reporting.

[2022-11-29 16:01] timuthy opened #7107 "Add API defaults for `protectKernelDefaults`"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:
https://github.com/gardener/gardener/pull/6919 added a new field `protectKernelDefaults` but doesn't set API level defaults in https://github.com/gardener/gardener/blob/master/pkg/apis/core/v1alpha1/defaults.go and https://github.com/gardener/gardener/blob/master/pkg/apis/core/v1beta1/default

[2022-11-30 07:42] timuthy commented on #7107
@dimityrmirchev let me know that this was on purpose, esp. because defaulting afterwards kubelet fields does not work well in combination with the worker pool's kubelet config that is then overwritten (see #6918).

/close

[2022-11-30 07:42] #7107 closed, assigned to nobody

[2022-11-30 07:55] timebertt commented on #7104
What is tracked in this issue in addition to https://github.com/gardener/gardener/issues/7103?

[2022-11-30 08:01] timebertt commented on #7103
I'm wondering, shouldn't system components tolerate all kinds of taints (system taints and user-specified taints)?
It would be simpler and less error-prone to tolerate all `NoSchedule` taints in system pods.

Can you provide an example scenario in which system components are allowed on a given worker pool but should not be scheduled because of taints not specified in the worker pool spec?

[2022-11-30 08:15] timuthy commented on #7103
How would you handle `NoExecute`taints added by the user?

It's not about scheduling but execution. [Taint based eviction](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions) should still work and thus we can't generally also tolerate `NoExecute` taints. Do we miss something?

[2022-11-30 08:40] axel7born opened #7110 "NetworkPolicy `allow-to-private-networks` doesn't exclude pod network range."
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:
The NetworkPolicy `allow-to-private-networks` allows traffic to private networks, but should exclude traffic to the pod network.
In a seed cluster, I observed that the `except` clause for the pod network (10.64.0.0/12) is missing:
[code]

**What you expected to happen**:
I expect, that an `except` for  the pod networ

[2022-11-30 09:04] plkokanov opened #7111 "Performing control plane migration before the grace period for deleting `BackupEntries` has expired can cause the restoration phase to get stuck"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:
Performing control plane migration in close succession can cause the restoration phase to get stuck because during the restoration phase of control plane migration a source `BackupEntry` is created to facilitate the copy of `etcd` backups. Afterwards, it is deleted. However, if there is a [grace period](

[2022-11-30 09:04] plkokanov commented on #7111
/assign

[2022-11-30 09:56] timebertt commented on #7103
Ah ok, this is my misunderstanding: I thought this was only about scheduling taints (didn't notice the `NoExecute` taint in the example).

In my opinion, `NoExecute` taints added by the user should also be respected by system components.
E.g., if a given node should evict all pods, probably the system components should also be evicted from the node.

Maybe we can have a call on this one where you

[2022-11-30 10:33] shaoyongfeng opened #7114 "Can't see logs from kube-system namespace of shoot cluster"
**How to categorize this issue?**
/area logging
/kind bug

**What happened**:
I create a shoot on Alicloud and try to get the logs from kube-system namespace of my shoot from operator grafana,
The logs are not available.
**What you expected to happen**:
we should be able to see the logs from Loki in grafana
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2022-11-30 10:52] vlvasilev commented on #7114
/assign @vlvasilev

[2022-11-30 10:56] vpnachev opened #7116 "[gardener-local] Image tags and injected version might not reflect the actual git version"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
In a freshly started local gardener landscape from the `v1.60.2` git tag, the seed reports its gardenlet version to be `v1.60.1`
[code]

The logs of `make gardener-up` clearly shows that `v1.60.2` images should be used
[code]

The images in the pod specs also specify `v1.60.2` as the tag to be used
[code]

All

[2022-11-30 11:10] vlvasilev commented on #7114
This behavior is observed on Alicloud infrastructure only.
The logs from `systemd` are present.
The log agent (Promtail) which scrapes logs from `systemd` and `kube-system` namespace is the same.
It uses the following configuration for scraping pod logs:
[code]
If I add additional static configuration like this one:
[code]
the logs from the containers starts to arrive in Loki.
This means that the

[2022-11-30 12:29] vpnachev commented on #7116
I just cleaned the current landscape, checked out `v1.60.1` and created new landscape.
What I found suspicious is the image digests used for the `v1.60.1` images - they are the same as the one from above used for the `v1.60.2` version, `gardener-apiserver` is the only image having different digest.

[code]

[2022-11-30 12:53] timebertt opened #7117 "Wait for node-critical pods before scheduling workload pods"
**How to categorize this issue?**

/area robustness
/kind enhancement

## Motivation

When registering new `Nodes`, kubelet adds the `node.kubernetes.io/not-ready` taint to prevent scheduling workload pods to the `Node` until the `Ready` condition gets `True`.
However, the kubelet does not consider the readiness of node-critical pods.
Hence, the `Ready` condition might get `True` and the `node.kub

[2022-11-30 13:10] majst01 commented on #7117
This also affects the metal-stack.io components which are

_EDIT(timebertt): added the metal-stack components to the list above_

[2022-11-30 13:21] timebertt commented on #7117
Thanks @majst01, I added the metal-stack components to the list :)

[2022-11-30 14:21] timuthy commented on #6933
Same suite but different test: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7119/pull-gardener-integration/1597955763936956416

[code]

/cc @rfranzke

[2022-11-30 14:27] Kristian-ZH opened #7120 "☂️ Fluent Operator"
**How to categorize this issue?**

/area logging
/kind enhancement

The Fluent-bit setup is currently scattered across various repositories. There is basic logic in g/g but there are also different filters and parsers on the different extensions, which Gardener is responsible for assembling into a single ConfigMap and giving it to Fluent-Bit. Therefore, we decided to rely on the [Fluent Operator](

[2022-11-30 14:28] Kristian-ZH commented on #7120
/assign

[2022-11-30 14:38] vlerenc commented on #7117
That means, these tolerations:

[code]

...for these components (at least `calico-typha`):

- `blackbox-exporter`
- `calico-kube-controllers`
- `calico-typha`

...cannot be removed, which we were discussing just a few days ago, because they cause trouble themselves/are wrong (these essential pods remain "sticky": even though the nodes break/are being drained).

W/o this PR and when we would have r

[2022-11-30 15:45] vpnachev commented on #7116
I decided to give it another try by checking out the `release-v1.60` branch which is currently at d840f067c4b3298829df45aadbd3905d6ae86828.
I've never started the local environment from this commit or branch, however - again the same components are stuck on `v1.60.1`

[code]

[code]

[code]

[code]

[2022-11-30 16:19] timebertt commented on #7117
I think there is some confusion involved here. Probably it's because I didn't fully understand what problems you have faced with the tolerations in system pods (ref https://github.com/gardener/gardener/issues/7103).

With this proposal, we won't change the `Ready` condition or the taints managed by kubelet (e.g., `node.kubernetes.io/not-ready`).
Hence, if the `NoExecute` toleration of `calico-typh

[2022-11-30 16:20] ialidzhikov opened #7124 "[Flaky Test] Seed Controller Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:
[code]

**CI link**:
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/7089/pull-gardener-integration/1597967667161993216

**Reason for failure**:
[code]

**Anything else we need to know**:
First assumption: in the test we delete the Seed, the Seed deletion destroys

[2022-11-30 17:25] vlerenc commented on #7117
Sorry, I am on sick leave, so not fully "present", but what I understood: You want to prevent nodes turning ready before the daemonset pods like calico-node turn ready, so that nothing gets scheduled to such half-way-through nodes, which won't happen if calico-typha is not running, which can only happen if either nodes are ready or it tolerates the related taints. Hence, catch22, no? But I agree,

[2022-11-30 19:21] dguendisch commented on #7117
I have one addition:
In https://github.com/kubernetes/kubernetes/issues/75890#issuecomment-1104723833 it's mentioned that the envisioned approach collides with cluster-autoscaler (as it would continue up-scaling until all critical pods are ready and the resp. well-known taint `node.gardener.cloud/critical-components-not-ready` got removed) and https://github.com/kubernetes/kubernetes/issues/75890#