[2020-10-15 11:55] timebertt commented on #2978
In a talk about this, @timuthy pointed out, that the `garden` project is actually not that special and does not have to be bound to the `garden` namespace, actually (just to clarify, as I was mistaken here).

Also he mentioned, that one could use the `namespace.gardener.cloud/keep-after-project-deletion` annotation in order to prevent gcm from cleaning up the `garden` namespace.
Should we add this

[2020-10-15 12:02] timuthy commented on #2978
Yep, thanks @timebertt for summing up. I think your latest proposal makes sense.

[2020-10-15 12:27] DockToFuture opened #2982 "Expose KonnectivityTunnel as feature gate in shoot spec"
**How to categorize this issue?**

/kind enhancement
/priority normal

**What would you like to be added**:

Expose `KonnectivityTunnel` as a feature gate in the shoot spec configuration.

**Why is this needed**:

The `KonnectivityTunnel` is another solution for the seed to shoot communication which has a lot of benefits over the `OpenVPN tunnel` solution, especially for private setups as is menti

[2020-10-15 12:51] timebertt commented on #2977
I digged a bit deeper into this and it is indeed related to the embedded `*metav1.LabelSelector` field in the CloudProfiles' [`SeedSelector`](https://github.com/gardener/gardener/blob/dc89563d6ecdb2ca40347aa2d669e28d59b66f17/pkg/apis/core/v1beta1/types_cloudprofile.go#L93).

Though, it's not a bug on our side but rather this upstream issue: https://github.com/kubernetes-sigs/structured-merge-diff/

[2020-10-15 12:57] timuthy opened #2983 "Race condition for gardener/controlplane/charts/application chart"
**How to categorize this issue?**

/area robustness
/kind bug
/priority normal

**What happened**:
The chart `gardener/charts/gardener/controlplane/charts/application` was used to deploy necessary assets to the virtual garden cluster. Sometimes though, the containing `ServiceAccounts` cannot be created by KCM because of the [ValidatingWebhookConfiguration](https://github.com/gardener/gardener/blob

[2020-10-15 13:19] timebertt commented on #2977
I have a fix in my fork, which solves the whole problem for us: https://github.com/timebertt/structured-merge-diff/commit/0a81751f3a9c9f6046a14497092029dfc1ddba16

[2020-10-15 13:35] timebertt commented on #2977
If my tests are correct, the problem with this bug is, that you can't create/apply new CloudProfiles with a SeedSelector or change existing ones, but also gcm for example can't update the CloudProfiles (always uses updates instead of patches), e.g. to add/remove it's finalizer.

Side note: it seems like, the quirky approach with an embedded inline pointer field is still not completely supported in

[2020-10-15 13:41] timuthy commented on #2977
Okay, can we do it also in the Gardener org like done for [kube-openapi](https://github.com/gardener/gardener/blob/b7449f036123a01398c3dd10726bde5d5f296538/go.mod#L74)?

[2020-10-15 13:41] ialidzhikov commented on #2977
We already have a fork of kubernetes/kube-openapi that was supposed to fix this issue with https://github.com/gardener/gardener/pull/2682. So what https://github.com/gardener/gardener/pull/2682 is not fixing anything or? Personally forking upstream is not the long-term way to go. We already have too much forks.

[2020-10-15 13:52] timebertt commented on #2977
Yes, sure. Can do.

#2682 seems to target only the broken OpenAPI spec and this issue is caused by the server-side-apply stuff (fieldmanager and so on...), so two different issues caused by the same embedded pointer field.

Yeah, totally agree with you. As said, this would only be a short-term solution.
But it seems, this might be the only option short-term for us.

[2020-10-15 13:55] ialidzhikov commented on #2977
Yep, you are right, I now recall. If you say that this is the only option, then let's proceed with it. Thanks for the investigation.

[2020-10-15 15:07] timebertt commented on #2977
Done: #2985

[2020-10-15 17:17] #2977 closed, assigned to timebertt

[2020-10-15 17:25] ezeeyahoo opened #2986 "support for additional architectures"
Suppose if I want to deploy this service on PPC based cluster. Does it offer solution in that regard?

[2020-10-15 17:48] timebertt commented on #2986
No, we currently build only linux/amd64 images.

/kind enhancement
/area usability
/title Support for additional architectures

[2020-10-15 19:02] vpnachev commented on #2981
/assign

[2020-10-16 05:13] latituder opened #2988 "need to monitor real time pod numbers"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
in Grafana dashboard `Node/Worker Pool Overview`, need to have a pod number count for each workgrop. please do not average it;
better, we can select a k8s namespace in this dashboard, so we can only shows the pod count in the namespace.

**Why is this needed**:
currently the

[2020-10-16 06:09] timebertt commented on #2988
Thanks for the enhancement request.

This sounds like a great first PR 😉
The dashboard in question is located here: https://github.com/gardener/gardener/blob/60e30c8c077970a5f3d0e2871c70f9d65adedd55/charts/seed-monitoring/charts/grafana/dashboards/owners/node-pool-dashboard.json
Would you like to contribute this enhancement?

[2020-10-16 06:15] timebertt commented on #2988
One thing to note, though: the monitoring stack provided by gardener is supposed to give a good overview over the cluster status and it's system components for operators and shoot owners.
Though I think it makes sense to enable some common scenarios which might help many users and operators, it is not meant to serve as a general-purpose monitoring solution and doesn't relieve the shoot owners for

[2020-10-16 09:19] #2981 closed, assigned to vpnachev

[2020-10-16 09:57] vpnachev opened #2990 "Add alert for nodes that did not get kubelet patch update or show them Nodes status"
**How to categorize this issue?**

/area monitoring
/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
I would like to receive alert if the nodes of a shoot cluster are running on kubelet version different from the kubernetes version of the shoot. A corner case is to distinguish manually added nodes to the cluster.

A query that can be used as a startin

[2020-10-16 10:10] timebertt commented on #2978
/title Add keep-after-project-deletion annotation when adopting namespaces

[2020-10-16 10:20] hardikdr opened #2991 "Make kernel logs accessible for seed machines."
**How to categorize this issue?**

/area logging
/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**: Currently MCM replaces the unhealthy machines after a default timeout of 10mins. A machine is considered unhealthy when either of the following node-conditions sets to True `KernelDeadlock`, `FilesystemReadOnly`, `DiskPressure`, or `KubeletReady` to false

[2020-10-16 10:42] Kristian-ZH commented on #2991
Sounds reasonable, we will do this.

Thanks for the issue :)

[2020-10-16 10:58] ezeeyahoo commented on #2986
Would comminity like to consider if I enhance a bit to support PPC64LE architecture?

[2020-10-16 11:45] timebertt commented on #2986
Hmm, I think in general there should be not so much speaking against support for additional architectures.
Though, I personally can't judge, how big the implications will be and how much interest there is.

@ccwienk @AndreasBurger can we build multi-arch images in our pipelines?
/cc @vasu1124 @vlerenc

[2020-10-16 11:49] dguendisch commented on #2986
From qualification point of view: we'd need to disclaim that we cannot fully qualify such builds today (i.e. integration tests) due to lack of hardware/software for these architectures.

[2020-10-16 12:15] hardikdr commented on #2991
thanks @Kristian-ZH .

@vlvasilev mentioned there is also a plugin for the kernel-logs in fluent-bit.
I see this, https://docs.fluentbit.io/manual/pipeline/inputs/kernel-logs , probably useful.

[2020-10-16 13:25] vlerenc commented on #2986
Indeed @ezeeyahoo, we were already asked about ARM support and have thought somewhat about that. There are multi-arch images, but then again we would increase network traffic with them. It may make more sense to have and pull dedicated images per worker pool, but that is somewhat more effort, especially when in mixed mode with other architectures.

In the end, it's a matter of bandwidth and pull,

[2020-10-19 07:56] rfranzke commented on #2991
/assign @Kristian-ZH @vlvasilev

[2020-10-19 08:00] rfranzke commented on #2983
Any idea what we can do to prevent this from happening?

[2020-10-19 08:03] rfranzke commented on #2978
/assign @danielfoehrKn

[2020-10-19 08:04] vlvasilev commented on #2991
I did some investigation and tests and it seems that the fluent-bit kmsg plugin does not work without mounting the device /dev/kmsg. As I see the only way to mount a device is to use the [Kubernetes Device Plugin](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/) which we have to write on our own and deploy it as DaemonSet. I have tried to use the 'tail' pl

[2020-10-19 08:07] rfranzke commented on #2964
This is a
/duplicate #2705

Generally, the Shoot API cannot cater for all possible, not-foreseeable use-cases. In #2705 it is being discussed to allow adding a set of annotations for all components **without** fine-granular configurability (i.e., which of those annotations are added to which resource). The proper solution for this is to build a webhook that adds whatever you need to whatever resou

[2020-10-19 08:09] #2964 closed, assigned to nobody

[2020-10-19 08:11] rfranzke commented on #2956
/assign @DockToFuture

[2020-10-19 08:12] rfranzke commented on #2930
@danielfoehrKn would this be something for the quality focus this week?

[2020-10-19 08:15] rfranzke commented on #2960
Is my understanding correct that the issue is the wrongly reported `.status.hibernated` field? Or is there more that needs to be adapted?

[2020-10-19 08:17] rfranzke commented on #2915
Is this still happening?

[2020-10-19 08:18] rfranzke commented on #2871
ping @ialidzhikov @petersutter - IIUC it wouldn't help to move the API out, or?

[2020-10-19 08:19] rfranzke commented on #2721
/touch

[2020-10-19 08:25] Kristian-ZH commented on #2991
Then we should consider how much time we will need for this change and will add this in our backlog

[2020-10-19 08:34] timuthy commented on #2960
Yes, `.status.hibernated` is `true` even though the CP/Workers haven't been scaled down.

[2020-10-19 09:39] timuthy commented on #2982
As discussed, let's make it configurable via a shoot annotation, e.g. `alpha.konnectivity-tunnel.shoot.gardener.cloud`, besides the Gardenlet configuration mentioned in the issue description. (/cc @rfranzke)

[2020-10-19 12:12] schrodit opened #2998 "Make DNS Entry TTL configurable"
**How to categorize this issue?**

/kind enhancement
/priority normal

**What would you like to be added**:

The ttl of the DNS entry deployed by the gardenlet is currently set to [120](https://github.com/gardener/gardener/blob/master/charts/seed-dns/entry/values.yaml#L3).
Some dns providers enforce a minimum ttl of more than 120 e.g. 300.

To support such dns providers, it should be possible to m

[2020-10-19 12:19] schrodit commented on #2998
The gardenlet could omit the dnsentry ttl and rely on the dns controller to set an appropriate default.

The ttl value would be configured using the controller registration and it would be possible to set different ttl values depending on the dns provider.

[2020-10-19 13:49] wyb1 opened #3001 "Upgrade Grafana to 7.2.x"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
Grafana should be upgraded to 7.2.x

**Why is this needed**:
Grafana provides a new feature that will allow the use of [$__rate_interval](https://github.com/grafana/grafana/pull/26937) to avoid hard coding interval values. This should improve the performance when viewing gra

[2020-10-19 14:13] ezeeyahoo commented on #2986
Thanks for responses

I am wondering, ~~where can I test the deployment and~~(going through documentation) what is minimum deployment requirement component-wise that I have to build and test. My current status is I have got docker image of gardener ready to be testedtested and currently working on gardenctl.

[2020-10-19 14:59] Haegi commented on #2811
This issue was fixed by the introduction of the AWS NLB (at the moment enabled on dev).

[2020-10-19 14:59] #2811 closed, assigned to nobody

[2020-10-19 17:03] timebertt commented on #2915
Nope, doesn't seem to be the case 😉
So let's
/close
for now.

[2020-10-19 17:08] #2979 closed, assigned to rfranzke

[2020-10-20 11:30] #2990 closed, assigned to rfranzke

[2020-10-20 11:33] petersutter commented on #2871
seems like I was running in to the same issue that was reported in this thread https://github.com/gardener/gardener/issues/2489#issuecomment-675996756
which is solved with one of the latest gardener versions.

Seems like the issue is solved for me, but I guess it still makes sense to factor the api out into an own submodule, don't you agree?
E.g. apart from `github.com/gardener/gardener@v1.11.0` m

[2020-10-20 11:38] rfranzke commented on #2871
Maybe, but I don't see us having capacity to work on that anytime soon. :(

[2020-10-20 11:44] timuthy commented on #2983
At the moment I can only think of moving the `ValidatingWebhookConfiguration` to a separate chart.
Do you have another idea?

[2020-10-20 14:32] wyb1 commented on #2988
Hi @latituder the reason that you don't see an increase in the number of the pods is because we only track pods in the kube-system namespace. This should be made prominent and perhaps this panel is not very useful then and we can consider removing it. Like @timebertt said the monitoring stack provided by gardener is a not general purpose solution and recommend you deploy your own monitoring that f

[2020-10-20 15:23] #2982 closed, assigned to nobody

[2020-10-21 06:18] #3001 closed, assigned to nobody

[2020-10-21 16:39] rfranzke opened #3018 "Shoot's `.status.lastOperation` set to `Failed` too early"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:
`gardener-apiserver` was put under load (and got scaled up very fast), however, until new apiserver pods were available, it sometimes returned

[code]

  The gardenlet sets the `.status.lastOperation.state` to `Failed` when trying to initialize a new operation without waiting for the configured retry

[2020-10-21 16:52] rfranzke opened #3019 "Kubeconfig rotation does not work as expected"
**How to categorize this issue?**

/area usability
/kind bug
/priority critical

**What happened**:
After the rotation of the kubeconfig of a shoot the new kubeconfig is (sometimes?) not synced into the project namespace in the garden cluster, hence, the downloadable kubeconfig does not work and the end-user cannot interact with his cluster.

**What you expected to happen**:
The kubeconfig in the

[2020-10-21 16:53] rfranzke commented on #1564
We should also
- [ ] enhance our existing integration tests to try out kubeconfig rotation for a shoot (and whether the cluster is still accessible afterwards)

/cc @schrodit @dguendisch

[2020-10-21 16:57] rfranzke opened #3020 "Error code for misconfigured `PodDisruptionBudget`s blocking machine drain processes"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
We can reuse the `ERR_CONFIGURATION_PROBLEM` error code to classify shoot errors in which a misconfigured `PodDisruptionBudget` (min available=1), e.g. for istio, blocks the machine drain process.
This is to hide it from the erroneous shoot list in the Gardener Dashboa

[2020-10-22 01:37] gerrith3 commented on #2986
HI all - what kind of hardware support do you need?  From a ppc64le/IBM Power brand perspective, we have a number of options, our preferred is just to set up and use Travis CI today, although more CI integrations with our Power Cloud are coming.  We can also provide free access to VMs via a partnership with OSL:  https://osuosl.org/services/powerdev/ .  If you want to go that route, let me know, I

[2020-10-22 07:24] prashanth26 opened #3023 "Invalid credentials error on machineDeployment updates"
**What happened**:
Invalid Credentials error on rolled out machines

I am seeing this occurring when a machineDeployment has undergone a rolling update (with new machineset/machines) and is pointing to a new set of machineClass (and credentials) and one of the old machine pointing to the old machineClass (and old credentials) is stuck in the deletion and the credentials are outdated. Now with upda

[2020-10-22 08:04] rfranzke commented on #3023
I think it makes more sense to move the issue to g/g as the generic worker actuator seems to be the culprit, i.e., it does not update old machine class secrets.
Do you agree?

[2020-10-22 08:18] hardikdr commented on #3023
Yes, I'd agree, if all the related secrets underneath are updated with correct creds, this issue is better resolved, we should move it to the g/g.

[2020-10-22 08:22] prashanth26 commented on #3023
Agreed. Even I was confused as to where to keep the issue. But I think it's better solved at g/g.

[2020-10-22 11:56] #2854 closed, assigned to timuthy

[2020-10-22 13:10] prashanth26 commented on #3023
/area ops-productivity
/kind bug

[2020-10-22 15:39] danielfoehrKn commented on #2960
The problem is, that we [here](https://github.com/gardener/gardener/blob/8d8680551021d79b28727e5fe186870abc26ef23/pkg/gardenlet/controller/shoot/shoot_control.go#L566) set the hibernation status based on the current spec.
We will have the same problem for the Seed name: if during a reconciliation someone changes the Seed name, after the first reconciliation, the seed is set incorrectly in the stat

[2020-10-23 06:19] timuthy commented on #2960
Thanks @danielfoehrKn for the analysis. Since option 2 really contradicts with the Kubernetes design principles that we follow, I also **vote for option 1**. We also can't expect Gardener clients to handle blocking spec updates and it'd be an incompatible change of a wide extent.

Another option besides checking the seed or the control plane, is to consult the cluster resource. It is written to th

[2020-10-23 06:22] rfranzke commented on #2960
Agreed to @timuthy, thanks.
@danielfoehrKn, please keep the `.spec.seedName` logic untouched for now and focus on the hibernation problem. The colleagues implemented #1631 (@plkokanov @swilen-iwanow @vlvasilev) will handle this if necessary.

[2020-10-23 07:43] timuthy commented on #2998
I think that's a valid approach. Opinions @gardener/gardener-maintainers?

[2020-10-23 07:46] rfranzke commented on #2998
Generally, yes, sounds good, but where would we configure the 120s that we use today? If we completely rely on the controller registrations then we would have an "incompatible" change because you have to sync them again when updating Gardener.

[2020-10-23 08:13] schrodit commented on #2998
That change would also requires a change in the [dns contract](https://github.com/gardener/gardener/blob/master/docs/extensions/dns.md#what-needs-to-be-implemented-to-support-a-new-dns-provider).
And it would require that the ttl has to be set by the dns extension, which may lead to adjustments in the dns extension controller.

The idea of configuring the ttl in the dns controller was that there a

[2020-10-23 08:56] timuthy commented on #2998
In case of the external dns management there would be no change as the default there is already 120: https://github.com/gardener/external-dns-management/blob/master/charts/external-dns-management/values.yaml#L305

Then we either risk this incompatible change @rfranzke or we make it configurable via the Gardenlet configuration.

[2020-10-23 13:18] #1240 closed, assigned to nobody

[2020-10-23 13:42] timebertt commented on #2915
/reopen

After quite a while without any flakes, it's happening again:
https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-pull-request-job/builds/261
https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-pull-request-job/builds/255.1

[2020-10-23 13:52] danielfoehrKn opened #3031 "Worker Controller incorrect behavior during Shoot hibernation"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:

When the Shoot is hibernated & reconciled due to a change in the worker definition, the provider extensions times out when trying to reconcile the Worker.

[code]

The generic worker actuator waits until the MachineSets are created [here](https://github.com/gardener/gardener/blob/5db21a6344c9e2a0

[2020-10-23 13:57] wyb1 opened #3033 "Upgrade node exporter to v1.0.1"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
The node exporter should be upgraded to v1.0.1.

**Why is this needed**:
The newest version comes with several bug fixes.

[2020-10-23 13:57] wyb1 commented on #3033
/assign

[2020-10-23 14:39] #2943 closed, assigned to ialidzhikov

[2020-10-23 16:27] #2960 closed, assigned to nobody

[2020-10-24 19:51] ialidzhikov opened #3039 "Uncomment (or remove) istio related tests"
/area networking
/kind cleanup
/priority normal

https://github.com/gardener/gardener/pull/2406 introduces bunch of commented tests with comment:

https://github.com/gardener/gardener/blob/f36d165c48fcca85a7000ada427d5f18d6266809/pkg/operation/seed/istio/istiod_test.go#L17-L18

https://github.com/gardener/gardener/blob/f36d165c48fcca85a7000ada427d5f18d6266809/pkg/operation/seed/istio/istio_suite_t

[2020-10-24 19:51] ialidzhikov commented on #3039
@mvladev , could you please check this one?

[2020-10-26 08:02] plkokanov commented on #2561
/assign @kris94

[2020-10-26 14:04] timuthy opened #4804 "[GRM] Introduce modes"
**How to categorize this issue?**

/area control-plane
/kind enhancement

**What would you like to be added**:
In the scope of gardener/gardener-resource-manager#74, @mandelsoft @timebertt @rfranzke discussed about different use cases and modes the GRM should support in the future. We put together the following proposal:

- [x] Add `resources.gardener.cloud/origin` to deployed resources in order t

[2020-10-26 14:11] timebertt commented on #4804
I'm not completely sure, if `FallBack` should really be the default mode, because
- it is different to the current "default"
- it brings in a race condition / indeterministic behaviour, when we have multiple grms reconciling the same resource (e.g. the DNSEntry CRD in shooted seeds)

[2020-10-26 14:24] timuthy commented on #4804
Then we'd need a 5th mode if we don't want this to become the new default.

[2020-10-26 15:01] timuthy commented on #4804
I agree it's critical to make "Fallback" the default mode in the beginning but apart from that:

I don't think it's different if you only have one GRM, isn't it?

Eventually, you have to transition to this mode since it's the only one which makes sense with multiple GRMs targeting the same cluster.

WDYT?

[2020-10-26 15:10] #3031 closed, assigned to nobody

[2020-10-27 07:27] prashanth26 commented on #3023
I will take a look at this issue. However, will need a few days to start working on this as I want to finish the MCM OOT story for AWS. Will assign it to me when I start working on this.

[2020-10-27 13:23] #3033 closed, assigned to wyb1

[2020-10-27 15:06] rfranzke commented on #1648
/touch

[2020-10-27 15:42] rfranzke commented on #4804
Another use-case (forceful shoot cluster deletion) popped up (cc @timebertt @vlerenc @dguendisch) that requires GRM to not check if the resources managed by the `ManagedResource` object are indeed deleted. If it cannot check it (maybe because the target cluster is down) then it simply continues and removes the finalizer from the `ManagedResource`.

[2020-10-27 15:55] rfranzke opened #3050 "Faster requeueing when exponentially backoffed shoot shall be deleted"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority normal

**What would you like to be added**:
When a shoot that fails to be created or reconciled for a long time then it is exponentially backoffed. When it is later deleted by the user, then it might still take the full backoff time (~16m) until the deletion flow starts (because we only use one queue and only different

[2020-10-27 16:15] vpnachev commented on #3019
After some investigation I found several weird things
- the related secrets in the shoot namespace in the seed are re-generated
- the shootstate in the garden is never updated and keeps the old static-token
- sometimes the kubeconfig synced to the garden clusters is containing the deleted token, sometimes it is properly updated
- not every trigger of kubeconfig rotation reproduces the issue.

Just

[2020-10-27 16:44] rfranzke commented on #3019
/cc @plkokanov @swilen-iwanow

[2020-10-27 19:46] vpnachev commented on #3019
I can confirm that the shoot state is never updated and this is always reproducible.
The reason seems to be the [reflect.DeepEqual](https://github.com/gardener/gardener/blob/2cfba7d68e6e8815f59b9620883afbe7f328c601/pkg/operation/botanist/secrets.go#L90) that does not detect differences correctly.

I have added some logs:
<details>

[code]

</details>

and find out that when there is a differences

[2020-10-28 08:04] plkokanov commented on #3019
Just a note: I've been trying to reproduce it with gardenlet from v1.12.0-dev-cf9a793c4cdce4a64cb329868bd0ebad7c31b8fd and haven't been able to for the past 40 minutes (I did around 10-12 rotations)
How often does it happen with v1.11.3?

[2020-10-28 15:07] Diaphteiros opened #3056 "Seed deletion stuck due to cluster-autoscaler managedresource"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:
I tried to delete a seed, performing the following operations:
1. delete `seed` resource
2. delete resources created by `gardenlet` helm chart
3. delete `garden` namespace on seed cluster

Step 3 fails due to resources with finalizers existing in the namespace:
[code]

**What you expected to happe

[2020-10-28 19:09] ialidzhikov opened #3058 "kubelet cannot start with k/k v1.12 and v1.13"
**How to categorize this issue?**

/area quality
/kind bug
/kind regression
/priority normal

**What happened**:
[code]

https://github.com/gardener/gardener/pull/3042 sets the pod pid limit by default. I believe it it related to the fact that ~~SupportPodPidsLimit~~ SupportNodePidsLimit feature gate is beta starting from v1.15. Ref https://kubernetes.io/docs/reference/command-line-tools-reference

[2020-10-29 04:14] #3058 closed, assigned to nobody

[2020-10-29 07:33] #2894 closed, assigned to nobody

[2020-10-29 13:32] mwindower opened #3064 "Support custom registry-mirror"
**How to categorize this issue?**

/area cost
/kind enhancement
/priority normal

**What would you like to be added**:
An ability to configure a custom registry mirror to use as pull through cache for images from DockerHub.

The docker daemon would need an environment variable like this: `DOCKER_OPTS=--registry-mirror <URL>`

And containerd would need this section in its configuration file:

[code

[2020-10-29 15:23] danielfoehrKn commented on #3064
I think this is a valid use-case.
Looking at the draft PR I would  opt for putting a custom registry option not into the CloudProfile, but into the Shoot. Possibly on worker pool level even.

@rfranzke  more container runtime specific are spreading across Gardener components. This will most likely only increase as we mostly cover only default container runtime settings.
I would like to see a dedic

[2020-10-30 15:31] vpnachev commented on #3019
The code that syncs the credentials back to the Garden cluster is looking fine to me and I do not have any suspicious.
I will keep on eye on

in the next weeks and if it is not reproduced, I will close the issue.

[2020-10-30 21:00] ialidzhikov opened #3081 "Failing liveness probe of garden/loki-0 Pod"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal

**What happened**:
In our base cluster which is also registered as Seed:

[code]

**What you expected to happen**:
No failing liveness probe.

**Environment**:

- Gardener version: v1.12.2
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2020-10-30 21:01] ialidzhikov commented on #3081
@Kristian-ZH @vlvasilev PTAL

[2020-11-02 07:50] Kristian-ZH commented on #3081
Hmm could it be an IaaS volume issue?

[2020-11-02 08:17] ialidzhikov commented on #3081
Why? Volume attach/detach is completely fine, it is the liveness probe that fails at each ~3m.

[2020-11-02 08:47] timebertt commented on #1564
We should also add integration test cases for
- [ ] shoots with custom dns providers (including a check for the finalizer on the referenced secret)
- [ ] shoots with a configured audit policy (including a check for the finalizer on the referenced configmap)

[2020-11-02 09:57] #2988 closed, assigned to nobody

[2020-11-02 11:31] #2961 closed, assigned to kallurbsk

[2020-11-02 16:12] krgostev opened #3090 "Shoot deletion is stuck while trying to deploy resources in a namespace with status "Terminating""
**How to categorize this issue?**
/area control-plane
/kind bug
/priority normal

**What happened**:
Shoot deletion is stuck with error:
`task "Deploying network policies" failed: retry failed with context deadline exceeded, last error: failed to apply manifests: 8 errors occurred: [could not apply object of kind "NetworkPolicy" "shoot--it--tmxtz-jsk/allow-to-aggregate-prometheus": networkpolicies

[2020-11-02 16:26] ialidzhikov commented on #3090
Thank you for reporting! I think this issue is recently fixed with https://github.com/gardener/gardener/pull/3085. We will include it in the upcoming v1.12.3 patch release.
Please, feel free to reopen if you have any comments.

/close

[2020-11-02 16:26] #3090 closed, assigned to nobody

[2020-11-02 21:19] ialidzhikov commented on #2966
/reopen

[2020-11-02 21:20] #2966 closed, assigned to wyb1

[2020-11-03 07:12] #2983 closed, assigned to nobody

[2020-11-03 08:29] JordanJordanov commented on #3081
Seems like replacing VPA with HVPA (https://github.com/gardener/gardener/pull/3025) couldn't solve the issue -  will investigate further.

[2020-11-03 11:01] ialidzhikov commented on #3018
I managed to reproduce this one. The full error is like:

[code]

The problematic part seems to be https://github.com/gardener/gardener/blob/v1.12.3/pkg/gardenlet/controller/shoot/shoot_control.go#L595.

The `utils.TimeElapsed(shoot.Status.RetryCycleStartTime, c.config.Controllers.Shoot.RetryDuration.Duration)` part will always evaluate to true as `shoot.Status.RetryCycleStartTime` is nil -> `will

[2020-11-03 11:06] rfranzke commented on #3018
Nice digging @ialidzhikov, thank's so much.
Shall we move https://github.com/gardener/gardener/blob/566a736b7bbd1ddccada371c9d4ba38bc943dd31/pkg/gardenlet/controller/shoot/shoot_control.go#L436-L439 up to https://github.com/gardener/gardener/blob/566a736b7bbd1ddccada371c9d4ba38bc943dd31/pkg/gardenlet/controller/shoot/shoot_control.go#L396?

The `updateShootStatusOperationStart` function ensures th

[2020-11-03 12:03] timuthy commented on #3018
A side effect of a plain move would be a constant retry for shoots for which an `operation` could not be initialized (usually configuration problems). Might not be critical for a handful of invalid shoots but might be if some automation creates plenty if such.

[2020-11-03 12:46] rfranzke commented on #3018
Hm, yes, but if we can detect this and assign the `ERR_CONFIGURATION_PROBLEM` error code to it then it won't be retried, right? Is this possible?

[2020-11-03 12:54] timuthy commented on #3018
Sounds good to me.

[2020-11-03 13:14] timebertt commented on #2871
If we don't want or don't have the time to implement some sync mechanism to a different repo, something like @mvladev has done in https://github.com/gardener/gardener-resource-manager/pull/86, would already help here, right?

[2020-11-03 13:28] petersutter commented on #2871
Maybe it was misleading from my side to take https://github.com/kubernetes/apimachinery as an example but for me at least this sync mechanism was never a requirement, so yes this would already help

[2020-11-04 09:25] rfranzke opened #3108 "Expose max-requests-inflight parameter of kube-apiserver in Shoot"
**How to categorize this issue?**

/area usability scalability
/kind enhancement
/priority normal

**What would you like to be added**:
We should expose the `--max-requests-inflight` parameter on the `kube-apiserver` deployment in the `Shoot` resource so that end-users can change it in case their clusters' workloads require it to be higher/lower.

**Why is this needed**:
Mainly for scalability rea

[2020-11-04 09:30] timebertt opened #3109 "☂️-Issue for upgrading to k/*@v0.19 and controller-runtime@v0.7"
**How to categorize this issue?**

/area quality robustness open-source
/kind enhancement
/priority normal

**What would you like to be added**:

[controller-runtime v0.7](https://github.com/kubernetes-sigs/controller-runtime/releases/v0.7.0) was released. We can now go ahead our dependencies to `k/*@v0.19` and `c-r@v0.7.0`.

This issue tracks all the tasks, that have to be done and should be foll

[2020-11-04 14:09] pbochynski opened #3110 "Provide a way to quickly dispose Shoot cluster"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
The option to delete the cluster by destroying worker VMs without waiting for clean delete of all kubernetes resources.
I can imagine it as an annotation on the Shoot:
[code]

**Why is this needed**:
I use a temporary gardener cluster to run the integration test. All t

[2020-11-04 14:18] vpnachev commented on #3110
Just a bit more context, you are asking for a feature that skips the deletion or at least does not fail on deletion of the k8s resources inside the shoot cluster, right?

[2020-11-04 14:19] ialidzhikov commented on #3110
From my observation from our integration tests the Shoot deletion takes 10-15min.
Do you have CRDs are other resources that block the cleanup and need to be finalized by gardener after a timeout? If you are sure that this is not the case, then can you share at which step(s) from the deletion flow it spends more time than expected (when the deletion takes more than 30 min)?

[2020-11-04 14:59] timuthy commented on #3108
What about `--max-mutating-requests-inflight`?

We should consider to cap the value(s) as this can can lead to a DoS, especially if `APIServerSNI` is enabled. WDYT? (/cc @mvladev)

[2020-11-04 15:45] #1650 closed, assigned to timuthy

[2020-11-04 19:08] vpnachev opened #3112 "Custom CA certs are not activated on the node"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority normal

**What happened**:
The cluster CA certificate is installed in the /etc/ssl/certs/ROOTCerts.pem file but it is not activated and missing in the /etc/ssl/certs/ca-certificates.crt

Looking into the logs of the service
[code]
It is executed, but no certificates are added.
While I am on the node, running
[code]
again

[2020-11-04 22:07] pbochynski commented on #3110
Yes - the problem is that some orphan objects remain and have finalizers from already uninstalled controllers. I am thinking about writing a tool similar to this one: https://github.com/ctron/kill-kube-ns
But I would need to go through all CRD and for each CRD list all the objects and remove the finalizers. It is doable but will take some time, and I just don't care about clean up. I am going to d

[2020-11-05 04:59] vlerenc commented on #3110
@pbochynski Yes, we are contemplating the same (cc as well to the already participating Gardener colleagues also @dguendisch, @rfranzke @timebertt ). In general and many years ago we thought it makes more sense to go the safe way "through the API server", so that we never become responsible for orphaned resources (controllers might be responsible for real world resources, e.g. infrastructures reso

[2020-11-05 12:39] stoyanr opened #3118 "Shoot reconciliation failed with an error when attempting to update the managed resource `extension-worker-mcm-shoot`"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority normal

**What happened**:
During DoD activities, we noticed multiple errors where shoot reconciliation failed with an error when attempting to update the managed resource `extension-worker-mcm-shoot` (or sometimes, `extension-controlplane-shoot-webhooks`). This is a transient error that disappears during one of the next

[2020-11-05 12:40] stoyanr commented on #3118
@timebertt also found the following clues:

We seem to have some problems with short watches in `provider-aws`:

[code]

Also, I have also seen some strange logs in the Seeds’ API servers like these:
[code]

It seems like we have some problems with our watches on the Seeds, so we have to look into this again.
Unfortunately, we don’t have any component-specific metrics about this stuff, so it is re

[2020-11-05 12:44] stoyanr commented on #3118
@timebertt Since we don't have a way to reliably reproduce the issue, do you have a suggestion for a meaningful next step in order to further investigate or fix it? Perhaps adding additional metrics or logs could help?

[2020-11-05 12:51] stoyanr opened #3119 "Shoot reconciliation failed with an error when attempting to update the worker status"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority normal

**What happened**:
During DoD activities, we noticed multiple errors where shoot reconciliation failed with an error when attempting to update the worker status. This is a transient error that disappears during one of the next retries. However, it may cause multiple clusters in all landscape to fail during a sing

[2020-11-05 12:59] stoyanr commented on #3119
/cc @rfranzke @timebertt Perhaps a meaningful next step would be to wrap the relevant errors in the AWS provider extension (or even all extensions) in order to gain more information when such an error occurs again?

[2020-11-05 14:45] prashanth26 opened #3120 "More aggressive backoff on rate throttling"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/kind discussion
/priority normal

**What would you like to be added**:
Currently, shoot reconciliations/deletions on infrastructure failures are retried too often. Hence we would like this backoff to be more aggressive to allow at least a few shoot reconciliations to succeed without rate limits and avoid all shoots to be

[2020-11-05 15:14] timuthy opened #3121 "Seed Grafana failed to load Extensions dashboard"
**How to categorize this issue?**

/area monitoring
/kind bug
/priority normal

**What happened**:
Seed Grafana failed to load "Extensions" dashboard (see screenshot). I was able to reproduce it on multiple seed clusters. It worked occasionally when I reloaded the page several times.

<img width="1118" alt="Screen Shot 2020-11-05 at 16 04 51" src="https://user-images.githubusercontent.com/40451181

[2020-11-05 15:30] stoyanr opened #3122 "Detect webhooks that are potentially problematic for maintenance activities and place a constraint on shoots"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
We should detect webhooks that are potentially problematic for maintenance activities and place a constraint on shoots of type `MaintenancePossible` to forbid maintenance similarly to how we currently forbid hibernation for similar reasons. The constraint could look li

[2020-11-05 16:07] rfranzke commented on #3122
Also related: https://github.com/gardener/gardener/issues/3020

[2020-11-05 16:45] timuthy commented on #3122
Does this mean we skip reconciliation as long as the Shoot has a problematic webhook?

If yes, we should make sure a shoot is reconciled as soon as a new Gardener version is rolled out at the latest, even if it then fails. Otherwise we can hardly ensure that a cluster was processed by necessary migration logic which is only shipped in certain versions of Gardener.

[2020-11-06 06:46] timebertt commented on #2689
/ping @plkokanov

[2020-11-06 07:08] timebertt commented on #3109
🎉
ref https://groups.google.com/g/kubebuilder/c/9r0mqKl5ZFc/m/DUsEex_1AQAJ

[2020-11-06 07:27] timebertt commented on #3120
Thanks for opening this issue.

As you also pointed out, this issue start to occur when many clusters use the same IaaS credentials (and by that all ccm's and other controllers contribute to the same rate limit budget).
Do you think, this will really be improved by more aggressive backoff in the infrastructure deletion?
The infra reconciliation/deletion only contributes a part to the total number

[2020-11-06 07:32] prashanth26 commented on #3120
Oh yes, that is also a valid point that skipped my mind. In that case, there is probably not much we can do here from Gardener perspective.

This is something I have already proposed to the shoot owner running into this issue. However, they mentioned that their architecture will need tweaking to change this as they have a single credential used in their architecture I suspect.

[2020-11-06 07:37] timebertt commented on #3118
Yes, additional metrics will definitely help us to understand such problems a bit better in the future. Although, they will not guarantee, that we will be able to fix them 😉

Other than that, it might be good to check, if the watch cache in the Seeds' API servers are overflowing again like we saw with the ConfigMaps a few months back.
If that's the case, we can probably work around this by increas

[2020-11-06 07:56] timebertt commented on #3119
Yes, improving the logs is always a good idea. If you find a way to improve the error handling, so that the stack trace is more helpful, please do so :)

Also, I think it would be necessary to analyze the issue a bit deeper to find the root cause. I can think of the following points to start the investigation:
1. was the provider controller restarted at the time / leader election changed, the issu

[2020-11-06 08:33] abbi-gaurav opened #3123 "Perform disk encryption for Kubernetes cluster control plane components with own keys"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority critical

**What would you like to be added**:

The team operating gardener should be able to specify and manage their own keys that are used for disk encryption for various control plane components such as ETCD.

**Why is this needed**:

At present, when gardener provision disks from IaaS for components such as ETC

[2020-11-06 08:34] abbi-gaurav commented on #3123
cc: @ThormaehlenFred

[2020-11-06 08:34] timuthy commented on #3120
A document explaining the situation and recommending a best practice can also be a form of mitigation, especially for new users.

[2020-11-06 09:02] wyb1 commented on #3121
Seems to be related to the datasource. Whenever the datasource is loki, the CPU and Memory usage panels are broken.
![image](https://user-images.githubusercontent.com/8710621/98346400-31b13b00-2016-11eb-91fc-5e6cbeee0923.png)

Whenever the datasource is changed to prometheus and the label is adjusted then the CPU and memory panels work but the logs from loki no longer exist.
![image](https://user-

[2020-11-06 09:48] plkokanov commented on #2689
Will start on it next week. One thing that worries me though is the keys for merging entries during a patch -> for gardener resources it is easy as there the names are unique. However, for extensions it's a unique combination of name, purpose and kind.

[2020-11-06 15:26] ialidzhikov commented on #3019
@vpnachev , do you have any observations on it, can it be closed now?
I tried to look into the test results for the integration test that you added. But after 20m of search for test results I found that the commit that adds the integration test was not cherry-picked into the release branch - only the fix commit. Ref https://github.com/gardener/gardener/commits/release-v1.12.

[2020-11-06 15:48] vlerenc commented on #3110
Let me add some more details: We need a solution for the following cases:
- invalid credentials
- deliberate deletion of resources managed by us
- creating infrastructure dependencies that block us
- deleted controllers for custom resources/resources with finalisers that won’t go away, because the end users have deleted the responsible controllers
- too long grace periods, so users get impatient a

[2020-11-06 20:07] vpnachev commented on #3019
I faced the issue only once, but the shoot still was not reconciled by the fixed version. I would like observe it next week and if we do not see it, we can close this issue.

[2020-11-06 20:08] vpnachev commented on #3019
And, yes - the test was not cherry-picked as it is more like a feature. I was not sure whether we should do it or not.

[2020-11-06 20:17] lumi017 opened #3127 "API Server Rate Limiting Shoot Grafana Dashboard"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority critical

**What would you like to be added**:
We currently have no visibility on rate limiting consumption of the Gardener cluster. We should have the metrics available and a Grafana dashboard to provide the visibility over the consumption.

**Why is this needed**:
Help to debug issues due to rate limiting.

[2020-11-06 20:28] ialidzhikov commented on #3019
Thank you for the update!

[2020-11-07 19:38] vpnachev commented on #3120
While Gardener is contributing with just few API calls during infrastructure deletion, it still cannot delete the resources.
In this case I think it would be better to set the shoot as failed right away and prevent further reconciliations.

[2020-11-09 07:43] timebertt commented on #3127
Can you further specify, which "rate limits" you are talking about? If I get it right, this is about the API server side throttling of requests, correct?

/area monitoring
/cc @wyb1 @istvanballok

[2020-11-09 07:51] BeckerMax commented on #3120
Mitigations:
1. Make error transparent in the shoot status (currently just shown in the infrastructure logs and not shown in the shoot status)
2. Inform endusers about using different infrastructure accounts (consequences if you use the same infrastructure account for multiple Shoot clusters).
3. Use more aggressive backoffs in case of rate limit errors

In the quality week we will start with issu

[2020-11-09 08:06] rfranzke commented on #3056
/assign

[2020-11-09 12:09] rfranzke commented on #2687
/touch
/assign

[2020-11-09 12:28] #3112 closed, assigned to vpnachev

[2020-11-09 12:50] rfranzke commented on #2721
/assign

[2020-11-09 13:12] #2687 closed, assigned to rfranzke

[2020-11-09 13:29] dimakow commented on #3118
Hi colleagues,
i could reproduce that issue in a dev-cluster of ours with around 2000 HANA-facades (i also opened issue https://github.tools.sap/kubernetes-live/issues-live/issues/155). So it should be also possible for you to reproduce the issue when putting enough load on the API-server.
Regards, Dirk

[2020-11-09 14:02] rfranzke commented on #2849
/assign

[2020-11-09 14:39] rfranzke commented on #2872
/title Expose pod eviction timeout KCM flag to enable shorter eviction time for control plane components in shooted seeds
/assign

[2020-11-09 14:52] dimakow opened #3138 "Deactivate the kubeconfig provided in Gardener dashboard"
/area security
/kind enhancement
/priority normal

**What would you like to be added**:
Hello gardener team,
please provide the possibility to deactivate the admin-kubeconfig accessible in Gardener dashboard.

**Why is this needed**:
We are already creating & rotating a kubeconfig each 24h with the help of service accounts. Since we do not need the gardener provided kubeconfig, we would like to di

[2020-11-09 15:01] rfranzke commented on #2872
I've made it configurable, but it was already set to `2m0s` for all kube-controller-managers in all shoot clusters. We can set it to `1m0s` if we want, though, not sure if the expected behaviour will be established.

[2020-11-09 15:12] rfranzke commented on #3108
/assign

[2020-11-09 15:16] vpnachev opened #3140 "Validation of the configured feature gates of a shoot cluster and its k8s version"
**How to categorize this issue?**

/area control-plane ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
There should be a validation checking that the kubernetes version of a shoot cluster is compliant with the configured feature gates of the kubernetes API server, kubernetes controller manager, kubelet, kubernetes scheduler, kube-proxy. The cloud controlle

[2020-11-09 15:19] rfranzke commented on #3140
ℹ️ We have never done this on purpose (prevent the maintenance effort of duplicating all possible feature gates in our code base).

[2020-11-09 15:56] rfranzke commented on #3064
Let's
/close
this one in favor of #2719 which is an issue for a larger refactoring about the container runtimes in general. When it will be tackled such configuration options can be kept in mind.

[2020-11-09 15:56] #3064 closed, assigned to nobody

[2020-11-09 16:12] danielfoehrKn commented on #3122
I understand this to be more relevant when the Node pool is being rolled? Not for the general reconciliation.
Then when the calico system pods fails to be created the node fails to join.

[2020-11-09 17:32] timuthy commented on #3140
This seems to become problematic with forceful K8s [version upgrades](https://github.com/gardener/gardener/blob/master/docs/usage/shoot_versions.md#forceful-migration-of-expired-versions).

[2020-11-09 19:09] lumi017 commented on #3127
Yes

[2020-11-10 06:14] majst01 commented on #3064
In the meantime we modified our os-metal-extension https://github.com/metal-stack/os-metal-extension/pull/9 which changes the current docker daemon config in the same way for all our clusters. This mitigates the current docker hub pull limit for our customers.

We will remove this once #2719 is able to configure this per shoot. We can of course help testing !

[2020-11-10 07:00] #3056 closed, assigned to rfranzke

[2020-11-10 07:31] rfranzke commented on #2978
/unassign @danielfoehrKn

@timebertt @timuthy: While thinking about the proposed solution I got some doubts about its feasibility:

1. If we add this `keep-after-project-deletion` annotation to the namespace ALWAYS when a `Project` is a created with a `non-nil` `.spec.namespace` field then we will run into issue in Gardener installations that use the Gardener Dashboard. The reason is that the Gard

[2020-11-10 07:57] rfranzke commented on #2998
/assign

[2020-11-10 08:14] rfranzke commented on #3050
/assign

[2020-11-10 10:48] timuthy commented on #2978
Thanks @rfranzke. I also think it's not too critical and hence I'm fine to offload this task to the operator.

[2020-11-11 12:19] rfranzke commented on #1825
Let's
/close
this one in favor of #2754.

[2020-11-11 12:19] #1825 closed, assigned to timebertt

[2020-11-12 07:34] #3050 closed, assigned to rfranzke

[2020-11-12 08:06] Kristian-ZH commented on #3081
/close

Seems that this change fixed the issue: https://github.com/gardener/gardener/pull/3098

Can you please reopen the issue if you see this problem again?

[2020-11-12 08:06] #3081 closed, assigned to vlvasilev, Kristian-ZH

[2020-11-12 09:34] schrodit opened #3152 "Leaked shoot resource after successful deletion"
**How to categorize this issue?**

/area robustness
/kind bug
/priority normal

**What happened**:

A shoot cluster was successfully deleted on `2020-10-22` but the shoot resource was still present in a `Successfully Deleted` state.

I tried to retrigger an update by changing the shoot spec so that the gardenlet can remove the finalizer on its own but the shoot did not get reconciled by the garden

[2020-11-12 10:04] mvladev commented on #2873
I'm working on this and it's 40% done

/assign

[2020-11-12 16:28] #2938 closed, assigned to nobody

[2020-11-12 16:29] #2721 closed, assigned to rfranzke

[2020-11-13 16:27] schrodit opened #3159 "Deletion deadlock with invalid primary domain"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:

Gardener is unable to delete shoot clusters, with a invalid primary dns domain.

Gardener tries to redeploy dns entries before starting the deletion flow, which will result in a deadlock if the dns configuration is invalid.

[code]

The only possible fix is to patch the etcd as the primary dns field

[2020-11-13 17:00] serathius commented on #2794
Version v0.4.0 was released.

[2020-11-14 06:44] vlerenc commented on #87
See also https://github.com/gardener/machine-controller-manager/issues/470 for a similar problem on MCM level.

We should develop something like a scoring function that tells us whether we have destabilised a landscape or shoot with an update or not (beyond a certain threshold). Threshold, because we cannot expect all shoots/pods to come up again (what this means is not even clear), so there needs

[2020-11-14 14:41] vlerenc opened #3160 "Support for cron-based maintenance time windows"
**What would you like to be added**:
Today we support only daily maintenance time windows (that we also use for reconciliation), but we see people asking for more flexibility here and have weekly or quarterly maintenance time windows. Also we would benefit from weekly maintenance time windows as we cannot migrate our seeds anymore during one night without running maintenance on multiple seeds at t

[2020-11-16 06:42] jia-jerry opened #3161 "Support containerd in AliCloud Mainland"
**How to categorize this issue?**

/area os
/kind enhancement
/priority blocker

**What would you like to be added**:
Add `pause container image` configure option  in Containerd configuration.

**Why is this needed**:
Currently, when enable containerd in shoot on AliCloud(Shanghai region). Node will fail to start because addon pods(like CNI addons) can't be created. Error logs are below:
[code]
It

[2020-11-16 07:59] rfranzke commented on #2453
/touch

[2020-11-16 09:10] BeckerMax commented on #3120
Regarding 1.:
Actually, the errors are already available in the Shoot Status. In question was also a context deadline exceeded error:
[code]
I checked it and the `RequestCanceled` error is exactly the one we receive from the aws-go-sdk and correctly propagate to the user. See:
https://github.com/gardener/gardener-extension-provider-aws/blob/master/pkg/controller/infrastructure/actuator_delete.go#L

[2020-11-16 09:38] rfranzke commented on #3140
In a discussion round with @gardener/gardener-maintainers we decided to not introduce this validation with the main argument of @timuthy in https://github.com/gardener/gardener/issues/3140#issuecomment-724161061.

When a user configures invalid/non-existent feature gate then the logging stack can help him identify why his kube-apiserver is not starting up. All of this is only getting problematic w

[2020-11-16 09:38] #3140 closed, assigned to nobody

[2020-11-16 09:44] rfranzke commented on #3122
In a discussion round with @gardener/gardener-maintainers we agreed to introduce this additional constraint (`MaintenancePreconditionsSatisfied`) with the same check as for the `HibernationPossible` today (however, still a separate constraint so that it can be easier extended in the future with additional checks if needed).

However, we won't block maintenance if the preconditions are not satisfie

[2020-11-16 12:50] ialidzhikov opened #3169 "Make the check for stale extension healthchecks enabled by default"
For backwards compatibility reasons https://github.com/gardener/gardener/pull/2266 made the check for stale extension healthchecks disabled by default. This was done back in `gardener/gardener@v1.4.0` and now it is time to make this check enabled by default.

Initially there was no idea to make this check configurable (like enabled or disabled) but I think to make sense to have this configurable.

[2020-11-16 12:57] ialidzhikov opened #3170 "Cleanup v1.10 - v1.14 related code"
Since quite some time our testing for v1.10 and v1.11 in the README.md states:

[code]

I believe we can proceed with clean up of the handling for these versions for the following reasons:
- we you do a change in g/g or any other component you (as PR author) have to consider whether your change will work (whether the corresponding API version is supported)  in v1.10 or v1.11
- v1.10 and v1.11 are

[2020-11-16 13:07] ialidzhikov opened #3171 "Consider migrating from github.com/gobuffalo/packr/v2 to github.com/markbates/pkger"
When I was recently checking https://github.com/gobuffalo/packr/tree/master/v2, I saw the following statement in their README.md:

[code]

/kind cleanup
/priority normal

[2020-11-16 13:18] ialidzhikov opened #3172 "Unable to create a Shoot with .metadata.generateName"
**How to categorize this issue?**

/kind bug
/kind regression
/priority normal

**What happened**:
According to https://github.com/gardener/gardener/issues/1783 it should be possible to create a Shoot `.metadata.generateName`.
But currently I fail with this operation. I am trying to apply:

[code]

[code]

**What you expected to happen**:
To be able to create a Shoot with `.metadata.generateName `

[2020-11-16 15:24] ialidzhikov commented on #3019
Any new observations?

[2020-11-16 16:00] vpnachev commented on #3019
Nope.
/close
fixed by #3069

[2020-11-16 16:00] #3019 closed, assigned to vpnachev

[2020-11-16 21:47] #3152 closed, assigned to rfranzke

[2020-11-17 07:29] amshuman-kr commented on #87
I would suggest to mediate this via `status.conditions` along the lines discussed in https://github.com/gardener/gardener/pull/1797. The co-ordination point would not be the `Cluster` status. `Landscape` status perhaps? The `status.conditions` approach lends itself to multi-level co-ordination. Relevant information can be propagated up (node and cluster issues) and down (landscape and infra issues

[2020-11-17 07:35] #3159 closed, assigned to rfranzke

[2020-11-17 13:07] timebertt commented on #3172
Last time I checked, `generateName` didn't work with `k apply` (not only for gardener, but also for k8s core resources).
I think, it always tries to fetch the current state of the object before patching it.

`k create -f` should work, though.
Can you confirm that?

[2020-11-17 13:10] timebertt commented on #3169
+1, sgtm

[2020-11-17 13:33] #3161 closed, assigned to nobody

[2020-11-17 14:36] rfranzke commented on #2453
/assign

[2020-11-17 16:56] timebertt commented on #2978
Yes, this isn't too critical, I agree.

Nevertheless, one comment, because I probably understood the initial idea a bit differently (https://github.com/gardener/gardener/pull/2436#pullrequestreview-430599830):

I thought, the idea was to add the annotation to the namespace only when **adopting** it, so when a `Project` with a non-nil `spec.namespace` is reconciled for the first time **and** the na

[2020-11-17 17:18] rfranzke commented on #2978
Thanks for the clarification @timebertt, this makes sense! Here is the PR: https://github.com/gardener/gardener/pull/3179

[2020-11-18 06:40] #3018 closed, assigned to ialidzhikov

[2020-11-18 08:04] #3122 closed, assigned to rfranzke

[2020-11-18 08:43] #2453 closed, assigned to rfranzke, prashanth26

[2020-11-18 09:39] #2998 closed, assigned to rfranzke

[2020-11-18 09:39] #2849 closed, assigned to rfranzke

[2020-11-18 11:37] #2872 closed, assigned to rfranzke

[2020-11-18 11:38] #2978 closed, assigned to nobody

[2020-11-18 13:22] #3108 closed, assigned to rfranzke

[2020-11-18 14:50] ialidzhikov opened #3186 "Allow setting Seed spec.settings.loadBalancerServices.annotations via "shoot.gardener.cloud/use-as-seed""
In order to remove the deprecated annotations with https://github.com/gardener/gardener/pull/3185, we should make possible setting the `spec.settings.loadBalancerServices.annotations` field for a ShootedSeed.

[2020-11-18 15:08] ialidzhikov commented on #3172
You are right, it works with `k create -f`. I wasn't aware of this difference between apply and create. Thank you for letting me know.

/close

[2020-11-18 15:08] #3172 closed, assigned to nobody

[2020-11-18 21:47] BeckerMax commented on #3120
/unassign

[2020-11-19 16:37] ialidzhikov commented on #2794
Fixed with #3174.

/close

[2020-11-19 16:37] #2794 closed, assigned to nobody

[2020-11-20 06:58] hardikdr opened #3193 "Enable Cluster-Autoscaler during Rollouts."
**How to categorize this issue?**

/area auto-scaling
/area high-availability
/kind enhancement
/priority normal

**What would you like to be added**:
Currently, we disable the cluster-autoscaler during rolling-updates of the cluster. With the growing size of the clusters, the roll-update could take a long time, sometimes even a couple of hours. In this case, the newly introduced workload would no

[2020-11-20 07:23] rfranzke commented on #2689
@plkokanov what's the progress?

[2020-11-20 07:42] rfranzke commented on #2706
/touch
We hit this again, see #3183. /cc @timebertt
If time allows, we should refactor these health conditions to make them less error-prone, and more easy and intuitive to use.

[2020-11-20 09:36] #2745 closed, assigned to DockToFuture

[2020-11-23 07:04] plkokanov commented on #2689
@rfranzke still working on it as I was in vacation.

[2020-11-23 08:49] ialidzhikov opened #3208 "Update apiserver-network-proxy images"
**How to categorize this issue?**

/area networking
/kind enhancement
/priority normal

**What would you like to be added**:
There are new releases of https://github.com/kubernetes-sigs/apiserver-network-proxy - by the time of writing this the latest version is v0.0.14, we are still using v0.0.12. v0.0.13 includes also https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/112.

/cc @Dock

[2020-11-23 09:06] timuthy commented on #3023
@prashanth26 can you provide an update, is the issue already being worked on?

[2020-11-23 09:35] prashanth26 commented on #3023
Hi @timuthy ,

I wasn't getting any time to work on this. However, @vpnachev was kind enough to pick it instead of me for now. So I think he is working on this.

[2020-11-23 09:54] vpnachev commented on #3023
/assign
/unassign @prashanth26

[2020-11-25 12:29] berendt commented on #2371
In the meantime load balancers can also be used on the Hetzner cloud.

From our point of view a broad support also of smaller CSPs makes a lot of sense for Gardener.

We would like to have a look at this topic.

@toonsevrin Do you have time to help?

[2020-11-25 12:32] berendt commented on #2146
@timoreimann We are just getting used to Gardener and are using DO for our internal infrastructure. Therefore we also have an extension for DO on the agenda. Would you be interested in an exchange so that DO can support us with resources for the development and later CI? Maybe it will be easier for you to find some time if we do it as a team.

[2020-11-25 12:33] wyb1 opened #3225 "Keep metric `apiserver_dropped_requests_total`"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal
/assign
**What would you like to be added**:
We should keep the metric `apiserver_dropped_requests_total` instead of dropping it and provide a dashboard for this.

**Why is this needed**:

The metric can be useful for debugging rate limits by the apiserver.

[2020-11-25 15:07] robinbraemer commented on #2371
I'm also looking forward to get Gardner integration with Hetzner.

[2020-11-25 15:12] toonsevrin commented on #2371
@berendt I got in touch with @hardikdr a while ago as I also was very eager to get this going. At the time there was no position on their team available for me to work on this as a paid student employee. I doubt the situation has changed since then and am sadly enough unable to contribute on this in my unpaid time. Sorry :(

I think it is still a great and strategic move to support hetzner, so I h

[2020-11-25 15:18] berendt commented on #2371
We would take over this and initiate the initial development in the coming weeks. First in https://github.com/23technologies/gardener-extension-provider-hcloud. We would then move it after completion. Not sure what the process is to get a repository in the Gardener namespace. Or if it would have to go to https://github.com/hetznercloud/ later.

[2020-11-26 08:50] dguendisch commented on #3110
We discussed this topic in a meeting, here's the outcome:

- for cases like broken/lost/invalid cloudprovider accounts we agree that it makes sense to provide an option to "purge" a cluster. "Purge" means to ignore the customers cloudprovider resources and instead delete everything on our accounts (seed resources) plus our metadata in gardener.
  - we want to enable this feature in a first step on

[2020-11-27 05:10] vlerenc commented on #3110
Thanks for the discussion @dguendisch @rfranzke @timebertt @prashanth26 @mvladev @dkistner @vpnachev @ialidzhikov and sorry I couldn't join that meeting yesterday.

### History

Many years ago we thought it makes more sense to go the safe way "through the API server" and delete all resources, so that we never become responsible for orphaned resources (controllers might be responsible for real worl

[2020-11-27 08:16] vpnachev commented on #3110
I am not sure about this. Shoot owners can deploy their own custom resources with custom controllers that creates IaaS resources potentially blocking the deletion. Then we will have to know how to delete these IaaS resource that can block us and this will be never ending learning because the cloud provider can enable some new resource at any time (unlikely to happen very often).

The case is when

[2020-11-27 09:24] vlerenc commented on #3110
@vpnachev For one, it's first about improving the error messages. That is always the preferred way. I am not sure which hints you get with the different IaaS SDKs (e.g. when you try to delete a VPC and can't - do you only get a failure code and nothing else or a list of resources blocking the deletion or is there a simple way to enumerate the blocking resources easily). Then, only if that doesn't

[2020-11-27 10:54] wyb1 opened #3234 "Add and Expose Admission Controller Metrics"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:

The Admission Controller should expose metrics about the resource creation it is blocking/could be blocking. Related to #2815

**Why is this needed**:

This would improve operations since an operator would not have to look at the logs, but instead on a dashboard to quickly

[2020-11-27 10:55] wyb1 commented on #3234
/assign @wyb1 @timuthy @istvanballok

[2020-11-27 12:38] rfranzke opened #3237 "Improved observability for cloud-config user-data applications on worker nodes"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
1. The `Secret`s downloaded by the `cloud-config-downloader` systemd unit (running on all shoot worker nodes) should have a `checksum/data` annotation whose value is the checksum of the `Secret`s' `.data` map.
1. The `cloud-config-downloader` reads this annotation of the `Se

[2020-11-27 12:42] rfranzke opened #3238 "Re-evaluate shoot conditions immediately after reconciliation"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
1. When the shoot reconciliation flow finishes successfully then the `.status.lastOperation.state` is set to `Succeeded`. The same update call should  set the conditions to `Progressing`.
1. The shoot care controller should enqueue shoots immediately after their `.status.las

[2020-11-30 09:57] timebertt opened #3244 "Remediate broken shoot webhooks in care controller"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:

@mandelsoft proposed to add a new controller (sitting in a dedicated component next to the Shoot's control plane), that will reconcile webhooks in the shoot, that will be problematic for different shoot operations (e.g. maintenance, hibernation, scale-up, ...). (ref h

[2020-11-30 11:56] timebertt opened #3246 "Annotation on Node for triggering kubelet restart"
**How to categorize this issue?**

/area ops-productivity control-plane-migration disaster-recovery
/kind enhancement
/priority normal

**What would you like to be added**:

Let's add an annotation, e.g. `node.gardener.cloud/operation=restart-kubelet` or something similar, that will, when added to a `Node` object, cause the `cloud-config` script on that node to restart the kubelet unit.

**Why is

[2020-11-30 12:03] rfranzke commented on #3246
Could be done together with #3237

[2020-11-30 13:47] vlerenc commented on #3246
Good point @timebertt . @plkokanov will we then automatically restart all `kubelets` after control plane migration?

[2020-12-01 08:55] plkokanov commented on #3246
In the case of the good path we shouldn't run into this problem during CP Migration as an etcd snapshot is taken after the APIServer is shut down. So we would never restore from outdated data.

However, if no recent snapshot could be taken due to some problems on the seed we could potentially hit this issue. So __if possible__, I think we could only limit this to the bad case scenario.

[2020-12-01 08:55] rfranzke commented on #3238
/assign

[2020-12-01 09:38] timuthy commented on #3244
I still believe that a shoot problem detector, analogue to the [node problem detector](https://github.com/kubernetes/node-problem-detector), is a real and a more independent alternative to add such checks.

[2020-12-01 09:43] timebertt commented on #3244
So, are you saying, that we shouldn't automatically add selectors to the problematic webhooks and just detect such webhooks and only put some additional conditions on the shoot?
Or is this only about the naming?

[2020-12-01 09:44] rfranzke commented on #3244
Yes, agreed, it makes sense to do it in a separate project and untangle it from the Gardener lifecycle. Again, already the naming (NPD and SPD) suggests that the approach proposed by @timuthy is right.

[2020-12-01 09:51] timuthy commented on #3244
Yes, only conditions, mainly because:
- We wouldn't need to touch the shoot owner's setup
- We wouldn't need another exception / opt-out mechanism ("The controller should also annotate the webhooks it touches and explain what was changed / how to opt out.")
- Components are free to decide how the condition is evaluated

[2020-12-01 11:03] timebertt commented on #3244
In another chat including @rfranzke and @timuthy, we found that we are not sure, what would be the best approach for this. Both approaches have their pros and cons:

Option a:
We detect problematic webhooks and set special conditions (or constraints) in the Shoot's status (similar to what we have already in place with the current constraints) but don't act on the problematic webhooks, which is sim

[2020-12-01 11:21] rfranzke commented on #3208
/assign @DockToFuture @mvladev

[2020-12-01 11:50] mvladev commented on #3208
I'll work on that.

[2020-12-01 15:03] timebertt opened #4805 "☂️ Integration tests for resource-manager"
**How to categorize this issue?**

/area testing dev-productivity
/kind enhancement

**What would you like to be added**:

We need several [integration tests (envtests)](https://github.com/gardener/gardener/blob/master/docs/development/testing.md#integration-tests-envtests) for gardener-resource-manager. There are a few integration tests for some of the more recent features (e.g. tokenrequestor),

[2020-12-02 07:22] hoeltcl opened #3252 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2020-12-02 07:25] rfranzke commented on #3252
/assign @timuthy

[2020-12-02 07:41] timuthy commented on #3252
/status under-investigation

[2020-12-02 13:55] #3238 closed, assigned to rfranzke

[2020-12-02 14:55] vpnachev commented on #3023
All extension have been fixed, I am closing now this issue.
/close

[2020-12-02 14:55] #3023 closed, assigned to vpnachev

[2020-12-02 15:30] rfranzke commented on #2719
FYI: Docker support in the kubelet is deprecated with Kubernetes v1.20, see https://github.com/kubernetes/kubernetes/pull/94624.

[2020-12-02 15:34] rfranzke opened #3259 "Investigate/Enable Kubernetes API Priority and Fairness"
**How to categorize this issue?**

/area scalability
/kind enhancement
/priority normal

**What would you like to be added**:
There is a new alpha feature since 1.18, see https://kubernetes.io/docs/concepts/cluster-administration/flow-control/, which can help to prevent the API server from being overloaded. This is applicable for both {kube,gardener}-apiserver.
It is being promoted to beta in 1.20

[2020-12-02 16:06] rfranzke opened #3260 "☂️-Issue for "Support for Kubernetes v1.20”"
/area open-source
/kind enhancement
/priority normal
/topology garden seed shoot

Kubernetes v1.20 will be released soon, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md

Work has been started and is pushed to the [`kubernetes-v1.20`](https://github.com/gardener/gardener/tree/kubernetes-v1.20) branch. There should be similar branches in the

[2020-12-03 07:10] timebertt commented on #4803
/assign
/touch

[2020-12-03 07:59] #3252 closed, assigned to timuthy

[2020-12-04 06:59] timuthy commented on #3260
As investigated, watch cache for `events.v1` was already disabled and every new release from `>= 1.17` will disable the cache also for `events.events.k8s.io`. I don't see an action item from our side, i.e. let's move it to ℹ️?

[2020-12-04 09:56] wyb1 commented on #3127
@lumi017 would this metric be sufficient? https://github.com/kubernetes/kubernetes/blob/40ef0ad6e938c8b5bf827e6dbce68f1ad2b25900/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L122

We would add the metric as described in this issue  #3225 and add a dashboard for the shoot API Servers.

[2020-12-07 13:10] ialidzhikov commented on #2932
It seems that the issue is fixed with #2745 (or any other PR meanwhile). I ran the test multiple times with the same setup with the current `gardener/gardener@master` and the test passed successfully.

/close

[2020-12-07 13:10] #2932 closed, assigned to nobody

[2020-12-08 15:43] ialidzhikov opened #3278 "kube-apiserver v1.19 fails to exec the preStop lifecycle hook"
**How to categorize this issue?**

/kind bug
/priority normal

**What happened**:
https://github.com/gardener/gardener/pull/1275/files adds a prestop hook that relies on presence of `sh` in the apiserver image.
`sh` seems to be missing in `k8s.gcr.io/kube-apiserver:v1.19.4`:
[code]

And hence on each rollout we have events that report failure of the prestop hook:

[code]

`sh` seems to be present

[2020-12-08 19:01] lumi017 commented on #3127
This is a low hanging fruit which is fast to add. What would be better is to have more detail so you can see by verb such as GET, PUT, CREATE, UPDATE, PATCH, DELETE, etc.

[2020-12-08 20:10] vpnachev commented on #3278
Good catch, the only binary inside the image, other than kube-apiserver, is `/usr/sbin/tzconfig`.
This should be related to the migration to distroless https://github.com/kubernetes/kubernetes/pull/90674 in 1.19.

[2020-12-09 06:25] timuthy commented on #3278
The prestop hook should not be needed since we can use `/readyz` with `shutdown-delay-duration` flag (/cc @amshuman-kr)

[code]

[2020-12-09 09:22] rfranzke commented on #2942
@vlerenc asked to have an annotation on the `Shoot` that allows to overwrite the feature gate setting for this particular cluster, similar to what we've done for the `KonnectivityTunnel` in #3007

WDYT @mvladev ?

[2020-12-09 09:45] timuthy commented on #2706
/assign

[2020-12-09 11:49] BeckerMax opened #3281 "Changing Seed IngressDomain will make Shoot monitoring unavailable until next Shoot Reconcile"
/area networking
/kind bug

/priority normal

**What happened**:
After changing the `seed.spec.dns.ingressDomain` the monitoring Ingresses in the Shoot namespaces of the Seed will keep the old ingressDomain until the Shoots get [reconciled](https://github.com/gardener/gardener/blob/6a4526b135da570f567c2fb5bd597bd07e02b915/pkg/gardenlet/controller/shoot/shoot_control_reconcile.go#L386).
If the Shoo

[2020-12-09 11:50] BeckerMax commented on #3281
As @timuthy mentioned changing the ingressDomain for ShootedSeeds is currently not possible so I lean towards making the ingressDomain immutable for pure Seeds.

[2020-12-09 13:37] vlerenc commented on #2942
@mvladev @rfranzke I was merely asking whether we have it, because we could support that. But I only asked in case we hit a hard wall somewhere if we now roll it out to thousands of clusters. If we don't have it, no need to invest now into it. We can continue with the roll-out - it just feels safer to have such a thing and not being forced to roll back things, but if it looks good, we can just dec

[2020-12-09 13:45] rfranzke commented on #2942
Sure, thanks. A severe difference compared to the `KonnectivityTunnel` feature is also that this has effects on the seed (costs, etc.) which is not accessible by end-users (while they would still be able to {en,dis}able the `APIServerSNI` feature for their particular shoot if we go this "annotation" way.

[2020-12-09 13:51] vlerenc commented on #2942
@rfranzke Right. My thoughts were actually, that if we have it, only we would/could do that, but not end users. Like with quotas, we would do that only on an exception basis. Anyway, nothing to worry about right now (or in the future), if everything runs (stays) smoothly. :-)

[2020-12-10 07:21] amshuman-kr commented on #3278
That should be sufficient, yes 👍

[2020-12-10 07:23] amshuman-kr commented on #3278
But I hope the following issue is not a problem because we have configured the delay to `20s`.
https://github.com/kubernetes/kubernetes/issues/88293

[2020-12-10 07:39] timebertt opened #3288 "Administrator are lacking some privileges"
**How to categorize this issue?**

/area user-management
/kind enhancement
/priority normal

**What would you like to be added**:

Currently, users bound to the `gardener.cloud:system:administrators` ClusterRole are not able to access events in the `events.k8s.io` API group.
When debugging one particular issue around events, I missed those permissions.

As an operator I would like to either have f

[2020-12-10 10:48] timuthy commented on #3278
Good point @amshuman-kr. @ialidzhikov are you already working on a fix or do you want someone else to take over?

[2020-12-10 10:56] ialidzhikov commented on #3278
But `/readyz` and `--shutdown-delay-duration ` are only available for kubernetes apiserver >= v1.16. So do you mean to use `--shutdown-delay-duration ` for k8s >= v1.16 and keep the preStop hook for < v1.16?
I am not looking into this currently. Feel free to take it if you have something in mind.

 I generally don't understand what is the rational behind this preStop hook. @amshuman-kr , what is t

[2020-12-11 10:59] christianhuening opened #3292 "☂️ Solution For Automated Shoot CA/Credentials Rotation"
**How to categorize this issue?**

/area control-plane
/kind enhancement

**What would you like to be added**:
A documented and tested way to automatically manage and rotate Shoot CA credentials without downtime. One proposition would be to use the cert-manager.io project for it as it is well integrated within the K8s Community.
An integration with secure stores like Hashicorp Vault is certainly d

[2020-12-11 11:03] schmidtdu commented on #3292
adding @dergeberl @mganter @einfachnuralex

[2020-12-11 11:12] christianhuening commented on #3292
adding @alesti

[2020-12-11 11:14] christianhuening commented on #3292
addin @iss0

[2020-12-11 13:56] #3288 closed, assigned to mvladev, donistz

[2020-12-11 14:47] #3234 closed, assigned to wyb1, istvanballok, timuthy

[2020-12-14 06:53] timebertt commented on #3288
@donistz @mvladev Can somebody elaborate on that and quickly clarify the reasons here?

[2020-12-14 07:32] timebertt commented on #3109
[c-r@v0.7.0](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.7.0) was released

[2020-12-14 08:08] timebertt commented on #3292
Ok, I see 3 (more or less) distinct topics touched here:

1. rotation of the Shoot root CA
- I have listed some steps that are necessary for doing this gracefully, can add them here
- This should probably be automated somehow via some annotation similar to the [kubeconfig rotation feature](https://github.com/gardener/gardener/blob/master/docs/usage/shoot_operations.md#rotate-kubeconfig-credentials

[2020-12-14 08:09] timebertt commented on #3292
Can you guys also outline, what you have already been investigating in / working on / what you would like to implement from the this list?

[2020-12-14 09:36] mvladev commented on #3288
From a security standpoint is better to remove add permissions as your go than to remove them post factum.

[2020-12-14 09:41] cypherfox commented on #3292
Please do. I also think we need a diagram that shows *ALL* certs that we are talking about here. Otherwise, misunderstanding is guaranteed.

I doubt that this is minor, as all other trust derives from that. Unless the root of the chains for the Shoots can be injected independently from the Gardener (see below).

We would like to generate and maintain those root CAs with Vault, that are not generat

[2020-12-14 11:45] timuthy commented on #3278
Yes, that's the idea.

The `preStop` is meant to let the Kube-Apiserver accept incoming requests for a few seconds (after termination was triggered) because otherwise the Pod might be gone while the traffic is still routed to the Pod (delay in service/endpoint update).

[2020-12-14 12:04] timebertt commented on #3292
Ok, I already sense some misunderstanding here. So let me try to clarify :)

Actually, the Shoots' root CA (CN `kubernetes`) is self-signed and is not related to the CA of the garden cluster in any way (which is good, you already outlined some disadvantages of such an approach).

Not sure, if I get this point. The Shoots' CAs are generated and "maintained" by the gardenlet. Would that fit to your

[2020-12-14 12:09] timebertt commented on #3292
Here are some of my personal notes of what needs to be done, when manually rotating a Shoot CA (@rfranzke @mvladev please add, if I missed something):

[code]

This can probably be used to derive some concrete steps when implementing automation for this.

[2020-12-14 12:45] cypherfox commented on #3292
:+1:

No, Shoot secrets in the Seed are fine (exception see below).  For this I would define a "subsystem" as a set of containers/processes that are communicating via TLS, trusted by certs from the same cert tree -> trust the same CA certs.  A container may be part of multiple subsystems at the same time.

These "subsystems" usually eventually come to a point where the manual states: "...and the a

[2020-12-14 15:00] mganter commented on #3292
I can't really see the difference between a Shoot and a Seed rotation. If you have a shooted seed, you can abstract the workload inside the shooted seed as shoot workload, so there shouldn't be any difference. You need to roll all secrets related to the shoot and that should do it, right?

This solution seems very promising.
Actually we have problems that the VPA is killing our pods with OOMKilled

[2020-12-14 16:43] christianhuening commented on #3292
We had a call today to discuss the topics discussed here. It became apparent, that we basically deal with three topics:
1. Shoot CA rotation & automation
2. Garden Base Cluster CA management & rotation
3. (where applicable) Support for Hashicorp Vault for secure storage of secrets

I changed the title of this ticket to focus on the Shoot CA rotation. Bascially we agreed it boils down to implement/

[2020-12-15 06:50] timebertt commented on #3292
Great, seems like we're on the same page, then. Your list resembles my list very much :)
Yes, let's first discuss the Shoot CA rotation here and keep the other topics separated and discuss them in dedicated issues.

What would be the next steps on this issue, then?
I think, this would make a great first PR :)
Anyone interested in pulling this off?

[2020-12-15 06:52] #2706 closed, assigned to timuthy

[2020-12-15 07:05] amshuman-kr commented on #3278
Yes, @timuthy is correct. The idea is to give time for the traffic routing to take effect. This mitigates losing requests during rolling updates https://github.com/kubernetes/kubernetes/issues/43576.

[2020-12-15 07:58] cypherfox commented on #3292
@timebertt I am wondering about how to implement the rotation component (starting with the Shoot CA). Did you envision this as a tool to be run by some admin, or as an extension that checks the remaining validity of the CA cert and then swings into action?

[2020-12-15 10:23] timebertt commented on #3292
I would teach gardener to automate it, similar to the kubeconfig rotation, as metioned above:

So at first, operators and endusers can trigger the automation via the new annotation. And maybe later on, gardener-controller-manager could be instructed to do it automatically when approaching the end of a CA's validity

[2020-12-15 10:48] wyb1 opened #3304 "enable vpa by default for newly created shoots (configurable)"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority normal

**What would you like to be added**:

The `node-exporter` should be under VPA.

**Why is this needed**:

Static requests and limits do not make sense for the node exporter. The resource consumption of the node exporter greatly depends on the size/activity of the node. If the nodes are too large the node expor

[2020-12-15 10:56] rfranzke commented on #3304
Hm, I'm confused, what is this issue about? What shall be implemented? VPA is an optional feature in shoots, and end-users can enable it if they want (also the system components) to vertically scale. For backwards-compatibility reasons we cannot enable it by default, but if it's enabled then the node-exporter gets put under VPA, see https://github.com/gardener/gardener/blob/master/charts/shoot-cor

[2020-12-15 11:05] wyb1 commented on #3304
I could have been more clear in the issue description. The question would be what can we do for shoots that do not have VPA enabled?

[2020-12-15 12:26] rfranzke commented on #3304
We could compute the resource requests/limits for node-exporter based on the used machine type, however, generally, we should rather motivate the users to enable the VPA for the shoot if they see scalability issues in the system components.

[2020-12-15 18:11] #3127 closed, assigned to nobody

[2020-12-15 18:11] #3225 closed, assigned to wyb1

[2020-12-16 07:08] hardikdr commented on #3304
We faced this issue while testing the high-CPU workload on the MemoryOne machines. It seems the issue is 2-fold.
First, node-exporter gets short of resources for large machines, we saw CPU-spikes and in-general high-CPU utilization of the node-exporter pod during tests. This is solvable by simply enabling VPA for the shoot.

Second, the current live-ness probes of `5s` for the node-exporter is too

[2020-12-16 09:57] wyb1 commented on #3304
It is tracking many different aspects of the node so it is not surprising that large nodes with more activity would require more resources. You can see the active collectors [here](https://github.com/prometheus/node_exporter/blob/master/README.md#collectors). Some collectors might be consuming might be causing a bottleneck so those would also be worth looking into

[2020-12-17 07:43] #3278 closed, assigned to nobody

[2020-12-17 08:08] rfranzke commented on #3260
/cc @dguendisch @schrodit FYI :) Please prepare the execution and publishing of the conformance tests for 1.20

[2020-12-17 12:05] briantopping opened #3317 "Ambiguous reference to undefined services / pods in shoot error message"
**How to categorize this issue?**
/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
When `.spec.provider.infrastructureConfig.networks` and `.spec.provider.infrastructureConfig.networks` is not defined in a `Shoot`, the fallback is to use `.spec.networks.shootDefaults.services|pods` in the `Seed`. When neither is defined, an error message similar to this

[2020-12-17 18:20] ialidzhikov opened #3321 "IgnoreOperationAnnotation handling is too broken"
/kind bug
/priority normal

**What happened**:
https://github.com/gardener/gardener/pull/2290 introduces a bunch of `IgnoreOperationAnnotation`s in the `AddArgs` of the controllers but currently no one of the extension controller is passing this `IgnoreOperationAnnotation` and it is always evaluated to false. Other than that for the backupentry and the backupbucket controllers the reconcileOpts ar

[2020-12-17 18:20] ialidzhikov commented on #3321
/assign @danielfoehrKn

[2020-12-18 02:16] briantopping opened #3324 "Failed create of shoot control plane is unrecoverable"
**How to categorize this issue?**
/area control-plane
/area usability
/kind bug
/priority normal

**What happened**: When a bad `Shoot` is submitted, it cannot be deleted because the reconciler does not see the proper `ControllerRegistrations` and reschedules. The delete timestamp is not checked.

**What you expected to happen**: It seems like if the delete timestamp exists, reconcile failures sho

[2020-12-18 08:42] timuthy commented on #3321
+1000

[2020-12-18 08:50] rfranzke commented on #3321
➕💯0️⃣ as well :)

[2020-12-18 10:29] timuthy opened #3325 "Increase RevisionHistoryLimit to 1"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
Since a while we have set `revisionHistoryLimit: 0` to not spam seed clusters with obsolete `ReplicaSets`. However, it turns out useful to at least keep a short history i.e., `revisionHistoryLimit: 1`.

**Why is this needed**:
Sometimes we observe unexpected changes of co

[2020-12-18 13:02] timebertt commented on #3317
Yes, there's room for improvement here.
Can you improve the error message?

[2020-12-18 13:31] timebertt commented on #3324
It seems we're only checking for a nil provider type if `secret` is set:
https://github.com/gardener/gardener/blob/c244cc3c7a19371b48cdd7194035f668621385c2/pkg/apis/core/validation/shoot.go#L448-L450

But if I remember correctly, not setting `secret` means reusing the secretbinding's credentials. Though, in this case, we would need to know which provider shall be used, as provider extension types

[2020-12-18 21:34] briantopping commented on #3317
Hey Tim, I’m thinking if the full element path is available, that would make it so developers don’t have to be in the namespace collision detection game. Reuse of names is good, it reduces semantic complexity. The full path solves both issues?

[2020-12-18 21:39] briantopping commented on #3324
I guess I am thinking something more generic as I finally get into the code, maybe the function executors can recognize the deleted state and return some sort of value that triggers a cascaded exit (assuming there are nested executor calls)? It seems like it’s going to be endless regressions for the same class of issue otherwise.

[2020-12-19 10:33] briantopping commented on #3324
To add some more flavor to this, it currently seems like *any* failure to fully deploy a shoot is unrecoverable. I initially thought this was due to a DNS problem when in fact it is an unrouteable CNI configuration from gardenlet to the new shoot cluster. When this occurs, the `Shoot cluster deletion` flow wants to finish setting up the cluster before tearing it down and loops forever.

These logs

[2020-12-22 09:56] timebertt commented on #3109
For reference: my progress is on https://github.com/timebertt/gardener/commits/vendor/kk-cr

[2020-12-22 09:56] briantopping opened #3329 "Network policy is too restrictive"
Hello experts, I'm new to Gardener so I don't know if this is an issue or not, reporting on what I did to get my first cluster working. During shoot reconciliation, I was having a problem with gardenlet reaching the shoot apiserver. Removing this aspect of the NetworkPolicy allowed it to continue reconciling

https://github.com/gardener/gardener/blob/2f725a489a03254397e16c4950d1c7e544a1c610/charts

[2020-12-22 12:20] briantopping commented on #3324
Closing as a duplicate of #3110.

[2020-12-22 12:20] #3324 closed, assigned to nobody

[2020-12-22 13:03] briantopping opened #4806 "Allow excluding `ManagedResource`s from reconciliation"
**How to categorize this issue?**
/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
Have resource manager check if an annotation is on a resource before replacing it.

**Why is this needed**:
When a resource needs to be hand-patched by an operator to keep the system running, resource manager keeps overwriting it. gardener/gardener-resource-manager#100 wou

[2020-12-22 15:58] RaphaelVogel commented on #3186
Gardener on CCloud setup for the new domains (e.g. S4) also need this annotations, since we explicitly need to specify the FIP subnet where the LB for the API servers should get their IP from

[2020-12-22 23:30] pbochynski commented on #3110
Just wanted to say that the use case is simple. I don't want to clean the cluster by deleting each and every resource gracefully if I am going to throw it away completely. It is not rocket science to write such a clean-up script, but in my case, it is just a waste of time. I am not talking about time to write the script, but time to execute it with every test run. Thousands of executions per month

[2020-12-23 06:57] timebertt commented on #3329
Hmm, that sounds odd. This particular line is supposed to allow traffic from all other control plane components to their API server. It shouldn't restrict anything and also not the gardenlet to talk to the API server...

[2020-12-23 09:58] briantopping commented on #3329
What if it's allowing other control plane components but not other namespaces?

I wonder if this is a behavioral difference between how Calico and Cilium interpret the netpol?

[2020-12-27 00:50] briantopping opened #3334 "Unresolved task dependencies should log like lagging ControllerInstallation"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**: The controller that reconciles `ControllerInstallation` objects periodically reports unfinished installations. It would be great if task dependencies were treated the same way.

**Why is this needed**: As a new user, it took significant time to discover the very elegant t

[2020-12-27 00:52] briantopping commented on #3329
What appears to be happening is Cilium distills criteria for netpol comparisons to labels and what I guess I’d call "set semantics". One of the problems I was seeing was the connection to the seed api-server was being labelled as `reserved:host`, which is basically any address on the actual machine. This didn’t match with any of the labels that were defined by the netpol so none of the rules match

[2020-12-27 00:52] #3329 closed, assigned to nobody

[2020-12-28 09:25] danielfoehrKn opened #3335 "Seed domain update"
**How to categorize this issue?**

/area monitoring
/area usability
/kind enhancement
/kind discussion
/priority normal

**What would you like to be added**:

Provide a solution on how to deal with Seed domain updates.

**Why is this needed**:

Changing the spec.ingressDomain or the managed seed ingress does not change the monitoring ingresses of the Shoot clusters until the next reconciliation. T

[2020-12-28 10:33] #201 closed, assigned to BeckerMax

[2020-12-28 14:02] rfranzke commented on #3260
/close as all related pull requests were merged

[2020-12-28 14:02] #3260 closed, assigned to rfranzke

[2020-12-30 07:38] #3186 closed, assigned to mvladev

[2021-01-04 08:22] rfranzke commented on #3120
The only open point is

In two discussions we figured that it's not easily achievable because we would probably a) first need a new error code indicating API rate limit issues, and then b) a good classification of those. Especially b) is not trivial.

In favor of other tasks with a higher priority we decided to not follow up for now as and revisit if necessary.

/close

[2021-01-04 08:23] #3120 closed, assigned to nobody

[2021-01-05 16:57] danielfoehrKn opened #3351 "Removing shoot annotation in "RestartControlPlanePods" fails"
**How to categorize this issue?**

/kind bug
/priority normal

**What happened**:

Removing shoot annotation in  "RestartControlPlanePods" fails because it is operating on an outdated version.
This is a temporary situation and should not lead right away to a failed reocniliation.

**What you expected to happen**:

Possible reason
 - shoot is updated by Gardenlet at the same time

**How to reproduc

[2021-01-05 18:16] #3193 closed, assigned to nobody

[2021-01-07 08:55] danielfoehrKn commented on #3335
closing due to duplication of issue #3281

[2021-01-07 08:55] #3335 closed, assigned to nobody

[2021-01-08 07:35] timebertt commented on #3351
Another option would be to use patch requests instead. If we do a constant patch for removing the annotation key, this can probably be done without optimistic locking and thus, wouldn't require retry on conflict semantics.

[2021-01-08 09:06] rfranzke commented on #3351
/assign

[2021-01-08 09:27] timebertt opened #3362 "[SLOW TEST]: should properly generate Basic Auth Object with Bcrypt hashed password if specified in config"
**How to categorize this issue?**

/area testing security
/kind bug
/priority normal

**What happened**:

This test is consistently slow in test runs:
https://github.com/gardener/gardener/blob/ca4b82674028bfe4c5dcd515cec397c234645626/pkg/utils/secrets/basic_auth_test.go#L84-L89

For example, see https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-head-update-jo

[2021-01-08 09:29] timebertt commented on #3362
/assign @Kristian-ZH @plkokanov
I think, you added tests and `BcryptPasswordHashRequest` functionality. Can you check this, please?

[2021-01-08 09:33] ialidzhikov commented on #3362
+1. I had an item in my list to check whether we can remove the Bcrypt handling as it was introduced with searchguard/elasticsearch and it should be no longer used now.

[2021-01-08 09:35] ialidzhikov commented on #3362
/assign @ialidzhikov

[2021-01-08 09:52] timebertt commented on #3362
For now: https://github.com/gardener/gardener/pull/3363

[2021-01-08 11:49] #2873 closed, assigned to mvladev

[2021-01-08 15:51] Kristian-ZH commented on #3362
Yup, the bcrypt is no longer used in the logging stack

[2021-01-09 09:47] #3362 closed, assigned to ialidzhikov, plkokanov, Kristian-ZH

[2021-01-11 11:25] mvladev commented on #2052
The PSP API is [deprecated in 1.21](https://github.com/kubernetes/kubernetes/pull/97171) and scheduled for removal in v1.24.

Should we keep this issue opened?

[2021-01-11 12:23] rfranzke commented on #2052
Let's
/close
it for now as there is anyways no concrete planned follow-up action, and if they are being deprecated and removed anyways, there's probably little point in investing now.

[2021-01-11 12:23] #2052 closed, assigned to mvladev

[2021-01-11 13:56] rfranzke commented on #3334
Hm, the "hung"/currently executed tasks are populated into the `Shoot`'s `.status.lastOperation.description` field. Isn't this "good enough" for now?

[2021-01-11 13:59] rfranzke commented on #3325
/assign

[2021-01-11 14:01] #3208 closed, assigned to mvladev

[2021-01-11 14:01] #3039 closed, assigned to mvladev

[2021-01-11 14:03] rfranzke commented on #3304
@hardikdr @wyb1 What's your proposed follow-up action here? We have VPA already if the user enables it. Do you still want to compute proportional resource requests/limits based on the machine type? The down-side of this would be that we probably would need one `DaemonSet` per worker pool.

[2021-01-11 14:04] rfranzke commented on #3281
+1 for making it immutable for now. The argument would be that the domain of a shoot is also immutable.
@BeckerMax would you open a PR?

[2021-01-11 14:06] rfranzke commented on #3170
Should we also cleanup 1.12 - 1.14?

[2021-01-11 14:08] rfranzke commented on #3244
In more syncs we decided to go for option b) and allow the users to opt-out of this automatism of they need it. The whole feature should be optional and it should also be possible to disable it entirely for a shoot or maybe even a project.

[2021-01-11 14:09] rfranzke commented on #3169
@ialidzhikov do you want to cover this as you are assigned?

[2021-01-11 14:10] rfranzke commented on #3121
ping @Kristian-ZH @vlvasilev

[2021-01-11 14:13] rfranzke commented on #3119
Any objections closing this for now with the option to reopen if necessary/relevant again?

[2021-01-11 14:14] ialidzhikov commented on #3169
Yes, it is still in my list. 👀

[2021-01-11 14:56] timebertt commented on #3119
Nope

[2021-01-11 15:51] rfranzke commented on #3237
/assign

[2021-01-11 16:09] Kristian-ZH commented on #3121
Hmm i checked and can not see any issues at the moment. We had an issue before, where the Loki was constantly scaled-up/down because of the misconfigured hvpa. This issue was fixed and currently the dashboards are looking fine.
Can you please recheck if everything is working as expected @timuthy @wyb1 ?

[2021-01-11 19:21] briantopping commented on #3334
Hi @rfranzke i was just trying to track issues that I thought would be most helpful.

[2021-01-11 19:21] #3334 closed, assigned to nobody

[2021-01-12 07:25] timuthy commented on #3121
I don't experience the issue at the moment, either. Thanks for checking @Kristian-ZH.
/close

[2021-01-12 07:25] #3121 closed, assigned to nobody

[2021-01-12 09:44] ialidzhikov opened #3378 "Failed to unbootstrap Seed Cluster (image is required)"
/kind bug
/kind regression
/priority normal

**What happened**:
Deletion of Seed cluster does not work.

**What you expected to happen**:
Deletion of Seed cluster to work.

**How to reproduce it (as minimally and precisely as possible)**:

1. Register a v1.18.14 Seed cluster.

2. Make sure that it is successfully bootstrapped and registered.

3. Delete the Seed cluster

4. Make sure that the deboo

[2021-01-12 13:16] rfranzke commented on #3378
Any idea where this is coming from? cc @BeckerMax @mvladev

[2021-01-12 13:19] #3351 closed, assigned to rfranzke

[2021-01-12 14:14] BeckerMax commented on #3281
/assign

[2021-01-12 16:03] rfranzke commented on #3246
/assign

[2021-01-12 16:33] #3325 closed, assigned to rfranzke

[2021-01-12 16:45] mvladev commented on #3378
/assign

[2021-01-12 18:09] timebertt opened #3388 "make generate takes very long"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority normal

**What would you like to be added**:

Make `make generate` faster.

**Ideas**
I think, [controller-tools](https://github.com/kubernetes-sigs/controller-tools) might be a bit faster than [code-generator](https://github.com/kubernetes/code-generator).
We could try, switching to controller-tools for the gene

[2021-01-12 18:11] timebertt commented on #2915
Haven't seen any flakes again.
/close

[2021-01-12 18:11] #2915 closed, assigned to nobody

[2021-01-12 18:13] timebertt commented on #2836
This can be partly addressed with #3109 (ref https://github.com/kubernetes-sigs/controller-runtime/pull/1149).
With that we will be able to configure c-r clients to use protobuf for the gardener APIs.

[2021-01-12 18:14] timebertt commented on #2815
/touch

[2021-01-12 18:18] timebertt commented on #1633
We agreed on not implementing this via a `ManagedResource` for the whole `seed-bootstrap` chart and rather via proper individual component implementations including a `WaitCleanup` function like in [this example](https://github.com/gardener/gardener/blob/1704b1e9bfe05d8d8949762f4c3a070221c308a2/pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go#L386).

/duplicate #2754

[2021-01-12 18:19] timebertt commented on #1633
/close

[2021-01-12 18:19] #1633 closed, assigned to nobody

[2021-01-12 18:20] timebertt commented on #2414
/touch

[2021-01-13 07:35] timebertt commented on #1564
We need an integration test for
- [ ] gardenlet bootstrapping (via bootstrap token and serviceaccount) - partly addressed by https://github.com/gardener/gardener/pull/2786
- [ ] gardenlet certificate rotation

[2021-01-13 09:31] #3378 closed, assigned to mvladev

[2021-01-13 10:47] #3169 closed, assigned to ialidzhikov

[2021-01-14 08:26] timebertt commented on #2751
We need integration tests for
- [ ] the extension webhooks (start a manager, register webhooks using the extensions library, do some dummy mutations, assert that they are applied, ...)

Currently there's no way of telling if a change to the webhook library code will break something there (ref https://github.com/gardener/gardener/pull/3393#issuecomment-760014129).

[2021-01-14 15:23] #3281 closed, assigned to BeckerMax

[2021-01-14 15:42] timebertt opened #3405 "☂️-Issue for missing docs / doc enhancements"
**How to categorize this issue?**

/area documentation
/kind enhancement
/priority 3

**What would you like to be added**:

Docs for
- [x] Secrets that are created for every shoot in the project namespace in the garden cluster: list of names, description of each secrets, what's included, how it can be used, ...
- [x] Add docs for missing controllers in https://github.com/gardener/gardener/blob/mas

[2021-01-15 09:51] timebertt commented on #2368
/touch
/scalability

[2021-01-15 10:29] MartinWeindel commented on #3109
*Note:* On revendoring an extension you may run into a problem with the dependency `github.com/googleapis/gnostic/openapiv2`. The directory name changed from CamelCase to lowercase.
Depending on your git settings, you may have to delete the directory vendor/github.com/googleapis/gnostic/OpenAPIv2, commit the changes, and add it again after a `make revendor`

[2021-01-15 10:31] rfranzke commented on #2815
/assign @timuthy @rfranzke

[2021-01-15 13:36] donistz opened #3419 "New Gardener project role for accessing, downloading and rotating the super admin kubeconfig/secret"
**How to categorize this issue?**
/area security
/kind enhancement
/priority critical

**What would you like to be added**:
A new Gardener role that will segregate the permissions to access, download and rotate the kubeconfig/secret of the super admin user of the shoot cluster
**Why is this needed**:
There are two APIs that can be used to manage shoot cluster resources: The Gardener API and Kubern

[2021-01-15 14:41] timuthy commented on #3419
Did I get it correctly that you suggest to split the `admin` role into the following two roles?
- Admin (e.g. `ProjectOperator`) who only manages assets in the project namespace of the Garden cluster
- Admin (e.g. `ShootAdmin`) who has full access to the shoot cluster

[2021-01-15 14:57] donistz commented on #3419
Yes, this is absolutely what I mean.

[2021-01-15 15:00] vpnachev opened #3420 "Cloud Credentials on the Nodes are not Updated During Deletion Flow"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority normal

**What happened**:
The cloud credentials for an (openstack) cluster has expired, its was set for deletion and later the valid credentials were provided.
All secrets using the cloud credentials on the seed were properly updated, however the OperatingSystemConfig are not reconciled during the deletion, thus the cre

[2021-01-15 15:10] vlerenc commented on #3419
@donistz Isn't the main driver, that some teams want to enable their ops colleagues to access Grafana/Prometheus without being able to download the admin kubeconfig for the cluster with full permissions?

If that is the main driver, won't #999 help solving the problem? Because, once we have that, we would have no `*.monitoring` secret anymore and could use RBAC to limit access. The two other secre

[2021-01-15 15:23] donistz commented on #3419
No, Here the main driver is to limit the access to a super admin secret and to be able to control the full admin access to the shoot cluster easier. The actual requirement was some admins to be able to change the shoot yaml but to not be able to access the nodes via a terminal and create privileged pod on a node.
The SSO for Grafana will not resolve such problem. Here it is necessary to segregate

[2021-01-15 15:26] rfranzke commented on #3419
Cross-ref: #3138

[2021-01-15 16:29] vlerenc commented on #3419
OK, got it @donistz . But it's still confusing... and I want to avoid a proliferation of roles. P.S.: The `admin` role with the current UAM restriction is already confusing (an admin that cannot administer other members).

@rfranzke cross-referenced #3138. Why is `viewer` not OK? But actually, that's not even the real ask. They seem to be fine with the `admin` role in general, but they want rotati

[2021-01-15 17:31] #3237 closed, assigned to rfranzke

[2021-01-15 17:31] #3246 closed, assigned to rfranzke

[2021-01-18 06:53] #565 closed, assigned to nobody

[2021-01-18 13:19] rfranzke commented on #1723
/touch

[2021-01-18 13:27] rfranzke commented on #448
/close in favor of #2754 - we are moving away from charts and into the direction of Golang components or standard Golang templates (with sprig funcs)

[2021-01-18 13:27] #448 closed, assigned to nobody

[2021-01-19 12:44] amshuman-kr opened #3428 "Propagate BackupBucket creation errors to the Seed resource status"
**How to categorize this issue?**

/area backup
/area storage
/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
If BuckupBucket creation fails (e.g. because of https://github.com/gardener/gardener-extension-provider-azure/issues/237), the error is reported in the `BackupBucket` status but the Seed itself is shown as ready.

[code]

We should propagate

[2021-01-19 18:57] g-pavlov opened #3430 "Register gardener as a documentation component"
**How to categorize this issue?**
/area documentation
/kind enhancement
/priority normal

**What would you like to be added**:
Docforge manifest at `.docforge/manifest.yaml` path, describing the documentation that gardener core contributes structured as it should to be publish at channels such as gardener.cloud.

The manifest declares the docs file/folder structure as-is without changes and requir

[2021-01-20 08:25] rfranzke commented on #3304
ping @hardikdr @wyb1

[2021-01-20 08:29] rfranzke commented on #3171
FYI: As part of the `OperatingSystemConfig` refactoring (#2754) I'm introducing https://github.com/go-bindata/go-bindata because packr was not used in gardener/gardener yet and, as it recommends to another tool anyways I considered `go-bindata` as best fit for my use-case for now. I'm planning to get rid of it again with Golang 1.16 and the new `//go:embed` feature.

Shall we generally close this

[2021-01-20 08:32] rfranzke commented on #3170
/area dev-productivity open-source

[2021-01-20 08:41] majst01 commented on #3171
I would also consider waiting for go 1.16 and use `//go:embed` instead, we at metal-stack will do the same.

[2021-01-20 08:43] #3430 closed, assigned to nobody

[2021-01-20 08:47] rfranzke commented on #2956
/assign @mvladev

[2021-01-20 08:47] rfranzke commented on #2950
/touch
@amshuman-kr what's the plan here? Do you still plan adding the dashboards?

[2021-01-20 08:48] rfranzke commented on #2942
According to @mvladev we have observed rare issues with the `apiserver-proxy` when running on large worker nodes.
@mvladev can you provide an update here? What is missing to promote the feature gate to `beta` and enable it by default?

[2021-01-20 08:49] rfranzke commented on #2930
/close in favor of #3405

[2021-01-20 08:49] #2930 closed, assigned to nobody

[2021-01-20 08:49] rfranzke commented on #2885
/assign @stoyanr @timebertt @danielfoehrKn @rfranzke

[2021-01-20 08:51] rfranzke commented on #2800
Any plans to mitigate this issue @wyb1 @danielfoehrKn ?

[2021-01-20 08:51] rfranzke commented on #2754
/assign @BeckerMax for gardener-resource-manager deployment refactoring
/assign @rfranzke for `OperatingSystemConfig` refactoring

[2021-01-20 08:51] hardikdr commented on #3304
Sorry, missed it earlier.
No concrete proposal from me, I'd say we can hold on to this until we have a clear requirement from the user, as I remember the user also suspected certain configuration in kubelet could be a reason for the behavior they saw.

[2021-01-20 08:52] rfranzke commented on #2751
/unassign for now in favor of #2815

[2021-01-20 08:53] rfranzke commented on #2692
/touch

[2021-01-20 08:53] rfranzke commented on #2689
/ping @plkokanov

[2021-01-20 08:55] rfranzke commented on #2371
/assign @berendt @gesslein

[2021-01-20 08:55] rfranzke commented on #2358
/touch

[2021-01-20 08:55] rfranzke commented on #2358
/kind technical-debt

[2021-01-20 08:56] rfranzke commented on #2207
@ialidzhikov do you think the current image vector overwrite mechanism aren't sufficient? When I was developing 1.19 and 1.20 I was using them to play with `rc` images and it worked pretty well.

[2021-01-20 08:56] majst01 commented on #2358
/cc @Gerrit91

[2021-01-20 08:57] rfranzke commented on #2181
/close in favor of #2885 and @stoyan's PRs #3412 #3414 #3415 #3416 #3417 #3418

[2021-01-20 08:57] #2181 closed, assigned to nobody

[2021-01-20 08:57] wyb1 commented on #3304
I think we can close this issue. We can add a dashboard for CPU throttling. This way a user can help themselves by seeing if the node exporter is getting throttled and add their own VPA or use ours for the node-exporter.

[2021-01-20 08:58] rfranzke commented on #1724
/touch

[2021-01-20 08:59] rfranzke commented on #1725
/touch
We are considering moving these secrets into a separate namespace to prevent allowing the gardenlet accessing the `garden` namespace entirely as it also might contain other sensitive credentials that it might not even need to do it's work (e.g., other kubeconfigs of shooted seeds, etc.), see also #1723

[2021-01-20 09:02] vlerenc commented on #3304
Hmm... doesn't it make sense to do this @wyb1 (like we did in the early days without proper auto-scaling)?

---

@rfranzke Why is that?

[2021-01-20 09:17] rfranzke commented on #1433
/touch
@mvladev still plans to implement this?

[2021-01-20 09:17] rfranzke commented on #1573
/close as we don't plan to implement this for now

[2021-01-20 09:17] #1573 closed, assigned to nobody

[2021-01-20 09:21] ialidzhikov commented on #3171
/close

[2021-01-20 09:21] #3171 closed, assigned to nobody

[2021-01-20 10:37] vpnachev opened #3433 "Deletion of Shoot Level Logging Resources Deletes Cluster Level Role and Rolebinding"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal
/assign @vlvasilev

**What happened**:
Each reconciliation of shoot with `testing` purpose ensures that the logging resources in the shoot namespace in the seed are deleted:
https://github.com/gardener/gardener/blob/24121a7c7b3cd0180ff871fca54e995c4d0b9178/pkg/operation/botanist/logging.go#L42-L44

However, this method lis

[2021-01-20 10:42] rfranzke commented on #3304
@vlerenc because a shoot can have multiple worker pools with different machine types, so one DaemonSet with some statically computed resource requests/limits wouldn't work in all cases.

Still, I'm wondering why we want/have to do this in the first place. We offer VPA and it should do all all of this for us. Is there a reason why the user cannot enable it? Should we start enabling it by default fo

[2021-01-20 10:43] vpnachev commented on #2822
While investigating #3433 , it turns out it is not reproducible when the `CachedRuntimeClients` feature is enabled.
I was also looking in the audit logs, there is no list or delete requests from gardenlet for the above clusterrole and clusterrolebindings. On the other side, when the feature is disabled, I do see the list requests followed by delete.

[2021-01-20 10:46] ialidzhikov commented on #3020
Do we want to have this check for misconfigured PodDisruptionBudgets as constraint to allow components like the g/dashboard to read, interpret it and show warnings about it? I am asking because I was wondering whether to start with the constraint approach or to implement the error code handling without the constraint approach.

[2021-01-20 10:49] rfranzke commented on #3020
I guess it would be helpful for the end-users if the Dashboard can display a warning about this (cc @gardener/dashboard-maintainers), so having both would be great :)

[2021-01-20 10:51] rfranzke commented on #3433
Nice finding and description @vpnachev  thanks!

[2021-01-20 12:05] vlerenc commented on #3304
🤦  Sure, yes.

How are the others doing it? Not all hyperscalers ship with VPA and also not by default. But then again, via dedicated daemon sets possibly.

Tell me. :-) Back then we thought, because the user may already have one deployed on his own, right? What's our take on this, because...

...otherwise I would also be for default enablement.

[2021-01-20 12:11] rfranzke commented on #3304
Yes, this was the only reason why we did not enable it by default, i.e., to be "backwards compatible" in case somebody already deploys his own PR. However, as it improves the general quality of the cluster and also releases the burden of running the VPA from end-users, it should be a good step to enable it by  default for new clusters. We can make this behaviour configurable in the gardenlet so th

[2021-01-20 13:36] vlerenc commented on #3304
Yes, very reasonable, thank you @rfranzke @wyb1.

[2021-01-20 15:44] #3433 closed, assigned to vlvasilev

[2021-01-20 16:03] danielfoehrKn commented on #2800
Still working on other issues - but I intend to pick it up when picking up ContainerRuntimes again. Otherwise @wyb1 might take a look

[2021-01-21 08:00] timebertt commented on #3020
I guess, the constraints are one option and also fit semantically.
The other option would be to add error codes to the `EveryNodeReady` condition, right?
What would be the better option then?

[2021-01-21 08:25] timebertt commented on #1725
Hmm, why should we move those secrets out of the `garden` namespace?

Isn't this exactly what the `SeedAuthorizer` (#1723) should check and prevent?

[2021-01-21 08:28] vlerenc commented on #1725
@timebertt That's only about mutating operations, but you cannot put read operations under lock. The goal is to prevent that an attacker can reach from one seed to other seeds or shared information resp. that shared information exists in the first place. If all gardenlets can read the garden namespace in the garden cluster, that would violate the goal above.

[2021-01-21 08:34] timebertt commented on #1725
Hmm, the `NodeAuthorizer` also seems to authorize read operations, see [here](https://kubernetes.io/docs/reference/access-authn-authz/node/) and [here](https://github.com/kubernetes/kubernetes/blob/9d99dbc357ed85bcc963fc4bab8a4a3089c910b2/plugin/pkg/auth/authorizer/node/node_authorizer.go#L175).

[2021-01-21 08:39] rfranzke commented on #1725
I just noted it down because we discussed it, but we will have to revisit this anyways when we get to #1723. Actually, then name `SeedAuthorizer` suggests that it only handles "seed-related" resources, but these general secrets are "global" configuration. Anyways, just notes so that we don't forget it, the details need to be clarified as part of #1723.

[2021-01-21 09:36] plkokanov commented on #2689
@rfranzke testing my changes right now. Then I'll finish it with a unit test and the integration test for the ShootState controller (I could leave the integration test for a different PR, though)

[2021-01-21 10:53] vlerenc commented on #1725
@timebertt https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

---

But that's a special hack in Kubernetes that is in from the early days.

Don't get me wrong, if there is a means to limit read requests to only resources a seed/`gardenlet` has a need-to-know and nothing else, great. Can this be done/how?

[2021-01-21 12:10] ThormaehlenFred commented on #999
Hello @mvladev , does this issue still exist?

[2021-01-21 13:30] timebertt commented on #1725
Ok, I see the title of #1723 is confusing. We don't need a new admission plugin, but rather a new authorizer.
Admission is too late in the request chain and such decisions have to be done in the Authorization layer.

I've done some quick scan through the API server code.
The extended API server (g-api) delegates Authorization decisions to the kube-apiserver by default.
So this should be possible b

[2021-01-21 14:35] vlerenc commented on #1725
@timebertt, great, thank you!

[2021-01-21 15:08] ialidzhikov commented on #3020
The other option would be to add error codes to the EveryNodeReady condition, right?
What would be the better option then?

Hm, good question. If we pick up the condition approach, would it be okay to fail the `EveryNodeReady` condition for misconfigured PDB that can cause troubles only when the node is drained?
My approach for now is to introduce a new constraint of type `EveryPodEvictionPossible

[2021-01-22 07:44] timuthy commented on #3020
Thanks for driving this topic so thoroughly @ialidzhikov.

Wouldn't the `MaintenancePreconditionsSatisfied` then be just a duplicate of the `EveryPodEvictionPossible` condition (with a different type of course)? So I wonder if a specific `reason` can be sufficient.

SGTM

[2021-01-22 08:41] ialidzhikov commented on #3020
Currently `MaintenancePreconditionsSatisfied` performs the same checks as in `HibernationPossible`. If we add the check to  the `MaintenancePreconditionsSatisfied` constraint directly (without a separate constraint) and make gardenlet or generic worker actuator to respect it, then we would mark as configuration problem also cases in which there is a problematic webhook during rolling update - and

[2021-01-22 09:21] timuthy commented on #3020
I think this only happens if it solely looks at the constraint `type` right? In general it should also understand the reason and react accordingly.

[2021-01-22 17:13] timuthy commented on #2368
/assign
I started to create APIs (extracted already available internal ones) for CP secret generation. This is a first step to make the functionality available from the outside, see [here](https://github.com/timuthy/gardener/tree/feature.cp-secrets-api/pkg/secretsmanager/apis/v1alpha1). Following this, we can start to craft a separate component which will be called by Gardener.

[2021-01-22 19:18] ialidzhikov commented on #3020
Well, finally I have a draft PR that works and misconfigured PodDisruptionBudgets are properly flagged (WOW!!)- see https://github.com/ialidzhikov/gardener/tree/enh/pdb-checks (excuse me for the missing unit tests and doc strings). I have to admit that I am not happy at all with it as on at least 2 places in the generic worker actuator I have to check whether we have a case with misconfigured PodD

[2021-01-25 06:54] rfranzke commented on #3020
Thanks for the summary @ialidzhikov. IIUC you propose that MCM, when it initiates a node drain, checks if there are problematic PDBs and if yes, it will populate this information into the machine status. Then the worker health check controller can simply read this and populate it to its own conditions (from where it will be picked up by the shoot care controller), right?

[2021-01-25 07:18] rfranzke commented on #3304
/title Enable VPA by default for newly created shoots (configurable)
/assign

[2021-01-25 07:59] timuthy opened #3451 "Make VPA container logs accessible to end users"
**How to categorize this issue?**

/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
VPA container logs should be accessible via the Grafana user instance if the shoot is equipped with a managed VPA (`.spec.kubernetes.verticalPodAutoscaler`)

**Why is this needed**:
https://github.com/gardener/gardener/issues/3304 proposes to enable managed VPA by default and t

[2021-01-25 08:00] Kristian-ZH commented on #3451
/assign

[2021-01-25 08:24] ialidzhikov commented on #3020
Yes, this is my proposal.

[2021-01-25 12:40] mvladev commented on #2956
After #3399 is merged, I'll create an additional PR that would also allow for a separate deployment of `konnectivity-server` even if SNI is not enabled.

[2021-01-25 14:10] christianhuening commented on #3292
We had an initial meeting (THX @timebertt ) where a number of notes were taken:

Notes from SAP Meeting:
- Hint is towards the rotate kubeconfig credentials as it is relatively similar as to what we want to achieve: https://github.com/gardener/gardener/blob/master/docs/usage/shoot_operations.md#rotate-kubeconfig-credentials
- Shoot Controller is here: https://github.com/gardener/gardener/tree/mast

[2021-01-25 14:19] timebertt commented on #3292
One additional note from my side:
- We might want to have some metrics / dashboards showing the expiration date of the Shoot CA (ref https://github.com/gardener/gardener/issues/3453)

[2021-01-25 14:23] cypherfox commented on #3292
For simplicity sake, IMHO it should expose the validity of any and all certs that it knows about.

[2021-01-25 14:27] timebertt opened #3453 "Metrics / Dashboards for expiry of Shoot CAs/certs"
**How to categorize this issue?**

/area security monitoring
/kind enhancement
/priority normal

**What would you like to be added**:

Metrics and dashboard (panels) for expiration dates of the different Shoot CAs/certs.

**Why is this needed**:

Operators and endusers want to have a good overview when all the CAs and certs used in a shoot will expire.
Currently, all shoot cluster CAs/certs have a

[2021-01-26 11:55] poelzi commented on #2143
I highly suggest using nix and a proper shell/default.nix for the build process.
https://nixos.org/explore.html
[niv](https://github.com/nmattia/niv) allows you to have proper dependencies across different operating systems.

[2021-01-26 16:48] #3451 closed, assigned to Kristian-ZH

[2021-01-26 20:45] mvladev commented on #999
Yes, it's not fixed.

[2021-01-27 09:31] invidian opened #3464 ""unbootstrap Seed Cluster" fails with "no matches for kind \"ManagedResource\" in version""
**How to categorize this issue?**

/area TODO
/kind bug
/priority normal

**What happened**:

Created Seed fails with the following condition in status:
[code]

**What you expected to happen**:

Creating Shooted Seed cluster works as expected.

**How to reproduce it (as minimally and precisely as possible)**:

I created a Shooted Seed cluster using https://github.com/gardener/gardener-extension-pr

[2021-01-27 10:14] prashanth26 commented on #3020
I would second (probably third as Rafael seconded it :) )  with this proposal.

[2021-01-27 10:20] rfranzke commented on #3304
/unassign as the proposed PR #3461 was rejected and I'm busy with other things already, i.e., don't have the capacity to rework entirely now

[2021-01-27 11:04] timebertt commented on #2836
/assign

[2021-01-27 14:28] timebertt commented on #3304
After a quick chat with @rfranzke about this, I will take over and implement this via an admission plugin as proposed in #3461.
/assign

[2021-01-28 08:04] rfranzke commented on #1649
According to @ialidzhikov most of this is done. We are now waiting a couple of releases before removing the final remaining artefacts, and then we can close this issue.
@ialidzhikov please correct me if I'm wrong and thanks for all your efforts!

[2021-01-28 12:17] stoyanr opened #3469 "Using SeedTemplate instead of Seed in GardenletConfiguration"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
The design of the `GardenletConfiguration` resource should be improved:
* Currently, it embeds `Seed` in `SeedConfig`: https://github.com/gardener/gardener/blob/a1b0891be6061c9511b7d6038e381c4a1a6c0f04/pkg/gardenlet/apis/config/types.go#L288-L291. Instead, it should embed

[2021-01-28 12:23] stoyanr commented on #3469
@timebertt Opened this one as discussed. Do you have any comments?

[2021-01-28 12:32] stoyanr opened #3470 "Using Invalid instead of BadRequest or Forbidden in admission plugins"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:

Currently the error handling in most admission plugins is both wrong and inconsistent, since errors due to invalid field values are reported either as `BadRequest` (400) or as `Forbidden` (403). Neither of these HTTP errors is appropriate for this situation.

Instead, su

[2021-01-28 12:33] stoyanr commented on #3470
@timebertt Opened this one as discussed. Do you have any comments?

[2021-01-28 12:49] stoyanr opened #3471 "Using CreateOrUpdate instead of Reconcile for methods that reconcile creation or update"
**How to categorize this issue?**

/area control-plane
/kind technical-debt
/priority normal

**What would you like to be added**:

Functions and methods named `Reconcile` (or `reconcile`) that actually reconcile the creation or update of a resource in controllers and actuators should be renamed to `CreateOrUpdate` (or `createOrUpdate`), similarly to `Delete` (or `delete`) functions and methods th

[2021-01-28 12:52] stoyanr commented on #3471
@rfranzke Opened this one as suggested. Do you have any comments?

[2021-01-28 13:03] timebertt commented on #3469
No comment, sounds promising to me.

[2021-01-28 13:07] timebertt commented on #3470
Nope, sgtm

[2021-01-28 15:00] #3304 closed, assigned to timebertt

[2021-01-29 10:08] ezeeyahoo opened #3475 "Gardener tested on PPC64LE with minikube single node deployment"
Hi,

Before making PR, I would request community to review through my progress.
https://github.com/ezeeyahoo/gardener/commits/master

Overview of changes made:-
25a317141aae47d210565b1cdc8dee35a14aca6c - Dockerfile
08289a87bce0183b7240ee97147f516d5800a981 - hack/local-development/dev-setup

Docker base images created successfully

Previous thread: #2986

[2021-01-29 10:11] timebertt commented on #3475
Please open a (draft) PR, if you want your changes to be reviewed.
Thanks.
/close

[2021-01-29 10:11] #3475 closed, assigned to nobody

[2021-01-29 14:44] rfranzke commented on #3471
I'm fine with this if we do it consistently everywhere.

[2021-01-29 14:47] hassbert opened #3478 "Enable private load balancer usage for the kube api servers on the seeds"
**How to categorize this issue?**
/area networking
/area security
/kind enhancement
/kind discussion
/priority normal

**What would you like to be added**:
I would like to add the `to-private-networks` networkpolicy to the dependency watchdog prober.

[here](https://github.com/gardener/gardener/blob/4769e2b102502312967fc9d1c1ab8983eb767104/charts/seed-bootstrap/charts/dependency-watchdog/templates

[2021-01-29 14:47] rfranzke commented on #2942
ping @mvladev

[2021-02-01 07:38] timuthy commented on #3428
/assign

[2021-02-01 07:47] timebertt commented on #3471
Personally, I don't see any problems with the current naming.
But if there is indeed confusion for many devs and it is worth the effort to rename it everywhere, I'm also not against changing it.

[2021-02-01 07:54] timuthy commented on #3471
+1

[2021-02-01 09:18] ialidzhikov commented on #2227
/remove lifecycle/stale

[2021-02-01 14:15] stoyanr commented on #3388
Do you have ideas how we could achieve this? Unfortunately, `go generate` doesn't seem to support parallelization (see also https://github.com/golang/go/issues/20520). We could probably split the single `go generate` run into multiple runs for specific  files / packages that then could be executed in parallel, but it would be harder (though not impossible) to do it without manually maintaining a l

[2021-02-01 14:25] timebertt commented on #3388
This was also the first step, I was thinking about.
Possible ideas for parallelizing would be to either do it in bash, or even write a small go wrapper using the code generator's go code directly.

You can also give this one a shot if you want. Don't know if code generation using controller-tools is significantly faster, though.
As far as I can see, it also doesn't support all types of code genera

[2021-02-01 14:32] stoyanr commented on #3388
Let me fist do a small PoC in bash to see how much we are likely to gain.

I would save this for last, to me at least it sounds less promising than the parallel execution.

[2021-02-01 14:36] timebertt commented on #3388
Yes, this was not meant to be either or, we can probably do both if it is of any benefit.

[2021-02-02 06:09] rfranzke opened #3484 "☂️-Issue for immutable ConfigMaps/Secrets (+ using checksum name suffixes instead of checksum annotations)"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

**What would you like to be added**:
Instead of checksum annotations in the `core/v1.PodTemplate` for mounted `ConfigMap`s/`Secret`s we should use checksum suffixes for the names of those `ConfigMap`s/`Secret`s. Additionally, we should set `.immutable=true` ([ref](https://kubernetes.io/docs/concepts/configurati

[2021-02-02 06:12] rfranzke opened #3485 "Leverage gardener-resource-manager for deploying shoot control plane components"
**How to categorize this issue?**

/area robustness scalability dev-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
The [gardener/gardener-resource-manager](https://github.com/gardener/gardener-resource-manager) is very powerful when it comes to managing resources inside a Kubernetes cluster. We already use it for deploying the system components and optional a

[2021-02-02 06:53] #2836 closed, assigned to timebertt

[2021-02-02 07:02] timebertt commented on #3478
Seems like there is no obvious reason for not doing such a change.
Feel free to drop a PR with your improvement.

[2021-02-02 15:25] #3469 closed, assigned to nobody

[2021-02-03 07:48] timuthy opened #3491 "BackupBucket Controller Enhancements"
**How to categorize this issue?**

/area scalability
/area robustness
/kind enhancement
/priority normal

**What would you like to be added**:

- [ ] Seed Control BackupBucket in Gardener Controller Manager
    - On Seed creation: Create new BackupBucket for new Seed (move out logic from [here](https://github.com/gardener/gardener/blob/437ab664ce84ea6ff63f48abfeba7e1006f59a5f/pkg/gardenlet/control

[2021-02-03 12:19] vlerenc commented on #3491
I'd like to mix in a (new?) requirement @timuthy: all seeds shall have their own backup bucket to which only they have access to (individual credentials with access only to "their" shoot backups/data), so that no seed can read the shoot backups from another seed and attackers can traverse laterally through all shoots.

That will have impact on control plane migration, I guess, as it was implemente

[2021-02-03 12:47] timuthy commented on #3491
That's a good point @vlerenc, although I think that the BackupBucket (BB) is not the main problem here but rather the BackupEntry (BE). In the end, the BE holds a reference to a copied secret of the BB from the Garden cluster.

What if we migrated BEs from bucket A -> B? Actually, we don't need to move any data between the buckets but keeping the entry in bucket A long enough to ensure that anothe

[2021-02-03 13:28] vlerenc commented on #3491
Yes, as you say, that the credentials are stuffed into the BE comes on top. My main point was that no seed shall be able to read backups of shoots hosted by another seed. So, when we improve what you described, which is anyway reasonable (we don't want to have backups left and right of the actual seed that hosts some shoots), e.g. so that we can safely delete a seed eventually, then we should also

[2021-02-04 08:42] rfranzke commented on #1724
/assign @vpnachev @ialidzhikov

First step would be to record the gardenlet's activities on the seed and improve its RBAC role (https://github.com/gardener/gardener/blob/master/charts/gardener/gardenlet/charts/runtime/templates/rbac.yaml#L16-L22).
@vpnachev suggested to use https://github.com/liggitt/audit2rbac to convert the recorded audit logs into RBAC rules.

/security
/normal
/in-progress

[2021-02-04 09:27] timebertt opened #3495 "Hanging ControllerInstallations block Seed deletion"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:

When deleting a Seed, we currently see some problems with the cleanup of controller installations:

- the federated seed controller stops to properly report the `ControllerInstallationRequired` condition ([this part](https://github.com/gardener/gardener/blob/03794c4fab012f16625540cd2989ab8f328be93d/p

[2021-02-04 09:28] timebertt commented on #3495
I assume, these are the issues, that you, @stoyanr and @invidian, also encountered. Can you confirm or are there additional bugs?

/assign @timebertt
for the first bug
and
/assign @BeckerMax
for the second bug.

[2021-02-04 10:26] timuthy commented on #3495
@Diaphteiros IIRC you experienced such issues as well.

[2021-02-04 10:47] timuthy commented on #3485
Do you already have an idea if and how we should adapt the shoot care operation i.e., control plane health checks to this planned change?
Two options I have in mind:
- Gardener cp health checks only consider conditions of `ManagedResource`s, which has the disadvantage that the Gardener care sync period does not determine the actual health check interval any more (rather `health-sync-period` of GRM

[2021-02-04 16:50] vlerenc opened #3501 "Kubernetes Version Configurability per Worker Pool"
**What would you like to be added**:
Today, end users can define the OS version per worker pool, but not the Kubernetes version. I.e., while they can create themselves a new worker pool with a new OS and orchestrate a careful migration of workload (brownfield/legacy apps that have individual "planned maintenance time window" where the cluster-global maintenance time window won't help), they cannot

[2021-02-05 04:12] rfranzke commented on #3485
I would rather go for the first approach, i.e., leverage what GRM already does wherever possible. As for your mentioned disadvantage: Do you see a particular problem when the interval is not controllable by gardenlet?

[2021-02-05 04:28] rfranzke commented on #1723
/assign @timuthy @rfranzke
/security
/normal

[2021-02-05 07:59] plkokanov commented on #3491
Also for the "Bad Case Scenario" the etcd `backup-restore` in the new seed needs to have access to the backup directories of the shoot cluster in order to write which is the current 'master' seed so that the `backup-restore` in the old seed can read them (if we completely move the backups from the old to the new seed then we could use the fact that the backup is missing to inform the old seed that

[2021-02-05 08:37] amshuman-kr commented on #3491
The way things are, this would be indistinguishable to the old `etcd-backup-restore` (if it is still running) from a new etcd starting up. So, we will still some kind of handshake to inform the old instance that this is the migration scenario.

[2021-02-05 08:41] plkokanov commented on #3491
Oh yeah, it would try to create a backup first, and that would succeed. For some reason I was thinking only about fetching backups :/

[2021-02-05 09:44] timebertt commented on #3501
Should kube-proxy (and maybe other system components that run per node like `csi-driver-node`) be on the same version like the kubelet?
If that's the case, it will be a bit tricky to orchestrate that for components managed by extensions.

[2021-02-05 09:53] rfranzke commented on #3501
From https://kubernetes.io/docs/setup/release/version-skew-policy/:

We knew it would come some day, so it seems that we have to split the today single kube-proxy `DaemonSet` into a dedicated `DaemonSet` per worker pool. 👀

[2021-02-05 10:04] dkistner opened #3505 "Selectable API Server endpoint network and API Server ACL"
**How to categorize this issue?**
/area control-plane networking security
/kind enhancement
/priority normal

**What would you like to be added**:
Today, each Seed can expose the controlplane (kube-apiserver) endpoint only in a certain network e.g. Seeds on the hyperscaler expose the hosted controlplane endpoints with a public ip address. In case that SNI is enabled (Gardenlet component config `.f

[2021-02-05 10:50] stoyanr commented on #3388
For posterity, besides the improvements implemented in #3489 I also experimented with using [controller-tools](https://github.com/kubernetes-sigs/controller-tools). Here is what I found.

There is a single generator, `controller-gen`, and the only generation it can do that is alternative to `code-generator` is for deepcopy functions, if it's invoked like this:

[code]

Initially, I was seeing a hu

[2021-02-05 11:19] rfranzke commented on #3505
Is this something which is specific to OpenStack or can it also be applied to other infrastructures? For example, would such scenario make sense or even work on a hyperscaler?

[2021-02-05 21:29] mvladev commented on #3505
For most of the cloud providers you have internal and external LoadBalancers. The external LB is the default. When you use internal LB if you have Shoot clusters in the same VPC or routable to the VPC of the Seed cluster you can have such case.

[2021-02-06 08:13] mvladev opened #3509 "Use kubernetes' k8s.io/pkg/apis/meta/v1/Conditions for newer APIs"
**How to categorize this issue?**

/kind enhancement
/kind api-change
/priority normal

**What would you like to be added**:

Use the kubernetes' [standardized conditions](https://github.com/kubernetes/enhancements/blob/ade94beb15cfbcb1afcc12445f1691d45e2db062/keps/sig-api-machinery/1623-standardize-conditions/README.md) for newer APIs .

The new standard conditions are available in [apimachinery]

[2021-02-06 14:53] majst01 commented on #3505
This is a scenario we are interested in as well. But i think it is difficult to implement because the seed must be of course part of the internal network as well, additionally to the internet facing network. Our current implementation in metal-stack allows us already to provision shoots with multiple external networks, but currently at least one network must be internet facing as otherwise a lot o

[2021-02-07 06:23] briantopping opened #3510 "Allow annotations on shoot Services"
**How to categorize this issue?**
/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
As in https://github.com/gardener/gardener/pull/2380, I need the ability to add arbitrary annotations at a seed level to services that are created by shoots. Where the existing PR successfully adds annotations to services that are created for the control plane, shoots also

[2021-02-08 06:29] BeckerMax commented on #3495
Second bug is handled in #3511

[2021-02-08 07:16] dkistner commented on #3505
Yes I had for the hyperscalers also the internal lb scenario in mind. For private clouds based on Openstack or metal-stack there could be even more networks to choose e.g. internal, dmz or internet routable networks.

[2021-02-08 07:24] timebertt commented on #3509
In general, sgtm.
Though, we still have the error codes list in our conditions:
https://github.com/gardener/gardener/blob/21ce5acb214d2d65f2af90ac8a7d0d3e158e4e5d/pkg/apis/core/v1beta1/types_utils.go#L50

Is your proposal then to embed the apimachinery conditions in our condition types?

[2021-02-08 08:17] #3388 closed, assigned to nobody

[2021-02-08 11:08] timuthy commented on #3510
There are two points I'd like to comment on:
- Using annotations is vague and unstable since it's not really part of an official API contract. We're also about to replace the `use-as-seed` annotation by `ManagedSeed` (see [here](https://github.com/gardener/gardener/blob/master/docs/proposals/13-automated-seed-management.md#managedseed-resource))
- The requirement sounds quite specific because in y

[2021-02-08 11:08] stoyanr opened #3513 "Seed unbootstrap fails with "could not find image gardener-resource-manager""
**How to categorize this issue?**

/area control-plane
/kind bug
/priority critical

**What happened**:
Seed unbootstrap fails with:
[code]

**What you expected to happen**:
Seed unbootstrap succeeds.

**How to reproduce it (as minimally and precisely as possible)**:
Register a seed, allow it to bootstrap successfully, then delete it to trigger the unbootstrap.

**Anything else we need to know?**:

[2021-02-08 11:10] stoyanr commented on #3513
/assign @BeckerMax

[2021-02-08 13:33] danielfoehrKn commented on #3510
@timuthy  we should really create a sample gardener-extension with helpful comments to provide an easy starting point.

That extension would need to inject the annotations into the managed-resources in the Seed cluster. I do not think we have an existing example for this.

[2021-02-08 14:38] BeckerMax commented on #3513
The initial issue would be fixed with: https://github.com/gardener/gardener/pull/3518

But we discovered a more fundamental issue that needs to be addressed:
By refactoring the gardener resource manager into component form we now require to define dependencies in the deletion flow. Specifically, the grm needs to be deleted *after* all components that rely on the grm got deleted. The current Seed d

[2021-02-08 22:25] briantopping commented on #3510
Hi guys, thanks for the feedback! I guess this is specific in that my immediate need is to expose a shoot `Service` to the seed cluster load balancer and have it assign the appropriate address. Load balancers generally do this with annotations. Maybe I should be asking if there are other ways to do this? I don't want to solve a problem that has already been solved elsewhere. I simply cannot find a

[2021-02-09 06:13] rfranzke commented on #3513
Yes, the GRM is (hopefully the only?) special component in the seed reconciliation: It needs to be deployed first and deleted last, obviously without the means of a `ManagedResource` but via the normal Kubernetes Go client applier. All other components can then be created/deleted in parallel by leveraging `ManagedResource`s.

[2021-02-09 17:32] timuthy commented on #3485
No, not in particular 👍

[2021-02-10 08:13] timuthy opened #3534 "[Community] Create sample gardener extension"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority normal

/cc @danielfoehrKn @briantopping

**What would you like to be added**:
For the community it'd be helpful to have a sample Gardener extension, similar to [sample-apiserver](https://github.com/kubernetes/sample-apiserver), which serves as a skeleton for new extensions as well as explains/demonstrates differ

[2021-02-10 08:17] timuthy commented on #3510
These are valid points @briantopping, thanks for clarifying.

As you said:

This is a perfect use case for an extension e.g., a security extension which is either very specific to your use-case or more generic so that the Gardener community will profit from it as well.

As I still see this requirement as a functionality on top of Gardener for which we have adequate extension points, I'd refrain fr

[2021-02-10 08:27] timebertt commented on #3534
/cc @berendt @gesslein

[2021-02-10 10:20] timebertt commented on #3495
I observed another race condition which contributes to this issue:

- if the gardenlet is running outside of the seed cluster (e.g. in the dev setup) it needs the kubeconfig secret for the seed (`seed.spec.secretRef`) to access it in order to cleanup any controllerinstallations during seed deletion.
But if the seed controller finishes its cleanup first before the controllerinstallation controller

[2021-02-10 11:25] timebertt commented on #1724
FYI: with https://github.com/gardener/gardener/pull/3535 the gardenlet also needs permission for `leases` in the seed.

[2021-02-10 11:28] rfranzke commented on #3495
Interesting @timebertt, thanks for reporting it here. Indeed, we only wait for `Shoot`s and `BackupBucket`s to be gone, but there is also the `ControllerInstallation`s that we should wait for (because they reference the `Seed`).

[2021-02-10 15:40] cbarbian-sap opened #3537 "Pinning of system components"
Today, Gardener deploys a bunch of workloads (let's call them 'system components') into kube-system namespace.

While most or all of them run with a high priority class (which is good) it would be in addition desirable to pin these workloads to certain worker groups. It seems that this was already (partially) addressed when the worker spec field `systemComponents.allowed` was introduced (which is

[2021-02-10 16:03] briantopping commented on #3510
Thank you @timuthy. After consultation with @danielfoehrKn and @stoyanr, we have discovered that the code in question is [in the Kubevirt organization](https://github.com/kubevirt/cloud-provider-kubevirt) and that's why it could not be found. @stoyanr further explained that the method of proxying for a shoot `Service` is specific to the gardener-kubevirt provider, so it is unlikely that packaging

[2021-02-10 16:03] #3510 closed, assigned to nobody

[2021-02-10 18:31] vpnachev commented on #3537
There are some system components that must run on each node and they cannot be isolated to a specific worker pool.
Could you name the components that you do not want to run the special worker pool?

[2021-02-10 18:33] cbarbian-sap commented on #3537
Of course, daemon sets excluded. But for all others ...

[2021-02-10 18:43] cbarbian-sap commented on #3537
All current (and yet unknown future) non-daemonset workloads that Gardener deploys ...

[2021-02-10 18:46] vpnachev commented on #3537
This does not help.
You can check https://github.com/gardener/gardener/issues/2462 and the related PRs to see which components and why were considered as node critical and hence runs everywhere.

/close

[2021-02-10 18:46] #3537 closed, assigned to nobody

[2021-02-11 05:22] rfranzke commented on #3537
Hm, wouldn't it be good enough if Gardener would simply add [the taints which are specified on the "system" worker pool](https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L64-L67) as tolerations to the deployments? All of them? Then there is no need to explicitly configure the tolerations via a separate field. This would also be backwards-compatible with the current behaviour

[2021-02-11 08:29] vpnachev commented on #3537
Isn't it getting a bit complicated for the extensions then? They also have to find this system worker pool and add the respective tolerations. Code wise this can be implemented by a utility function, but for some versions the Gardener and the extensions will not be fully compatible.

If there are multiple worker pools allowing system components and each of them have some taints, then the system co

[2021-02-11 14:01] valentinvieriu commented on #1413
This is a feature that we will use in Kyma too. We would love to have a certificate that is valid in the browser/node too.

[2021-02-12 08:07] vlvasilev opened #3559 "Get logs from the shoot nodes"
**What would you like to be added**:
A log processor should be installed on the shoot nodes to scrape processes like kubelet, docker, kernel and etc.

**Why is this needed**:
When a node can't join the cluster or just stops it is unclear the reason for that.
Operators can't access the end  users nodes and is very hard to debug such an issue.

[2021-02-12 08:45] vlvasilev commented on #3559
First solution is to install log process on the shoot nodes via the cloud-config-downloader which install, for example, the kubelet.
Then the logs could be stored in Object Storage.
Additional log processor could be installed as a sidecar into the Loki pod which  resides the shoot controlplane in the seed.
This sidecar will scrapes logs from the Object Store and it will send them to Loki.

pros:
1

[2021-02-12 10:12] Kristian-ZH opened #3547 "Rejected logs from Loki due to out of order entries"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal

**What happened**:
Loki accepts only sorted streams by timestamp. For this reason the [Garden Output Plugin](https://github.com/gardener/logging/tree/master/cmd/fluent-bit-loki-plugin) should provide such kind of streams where all logs are sorted.
We made this approach by implementing additional label called `bucketID` wh

[2021-02-12 10:12] Kristian-ZH commented on #3547
/assign @vlvasilev

[2021-02-12 10:19] #3478 closed, assigned to nobody

[2021-02-12 10:26] #3513 closed, assigned to BeckerMax

[2021-02-12 10:50] Kristian-ZH opened #3548 "Flaking Logging integration tests"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal

**What happened**:
Logging integration tests are failing.

**Possible reasons**:
- Loki is restarted during the test run.
- OutOfOrder entries
- Slow Loki disk attach/detach
-  ...

**What you expected to happen**:
Make integration tests stable

**Anything else we need to know?**:

[2021-02-12 10:51] Kristian-ZH commented on #3548
/assign @vlvasilev

[2021-02-12 10:59] Kristian-ZH opened #3549 "Upgrade Loki to v2.0"
**How to categorize this issue?**

/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
Upgrade Loki to version v2.0.

**Why is this needed**:
With the new version the following features can be used ([docs](https://grafana.com/blog/2020/10/28/loki-2.0-released-transform-logs-as-youre-querying-them-and-set-up-alerts-within-loki/)):
- Extract labels from log lines a

[2021-02-12 10:59] Kristian-ZH commented on #3549
/assign @Kristian-ZH

[2021-02-12 11:20] timuthy commented on #1725
After gaining more insights with @rfranzke, we're now confident that we indeed need to copy the secrets into a dedicated namespace as a list/watch operation for secrets cannot be restricted or checked by a custom authorization plugin.

We decided to have a controller for the Gardener Controller manager that watches `Seed` objects.
Responsibilities:
- create a namespace in the Garden cluster `seed-

[2021-02-12 11:23] dguendisch commented on #3549
I guess you will be upgrading directly to [v2.1.0](https://github.com/grafana/loki/releases/tag/v2.1.0)?

[2021-02-12 11:26] Kristian-ZH commented on #3549
Yes, when we fix the current bugs in the logging stack I will upgrade Loki to the newest available version

[2021-02-12 11:33] Kristian-ZH opened #3551 "Logging integration test which checks for broken parsers"
**How to categorize this issue?**

/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
Logging integration test which will check for broken fluent-bit parsers

**Why is this needed**:
Fluent-bit parsers are difficult to maintain, especially when they are too much and the integration test will help here a lot.
Broken parser will not only affect the log parsing, bu

[2021-02-12 11:38] Kristian-ZH opened #3552 "Keep logs for deleted clusters"
**How to categorize this issue?**

/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
Keep logs from the deletion phase of the shoot in the central/dedicated Loki instance for 14 days.

**Why is this needed**:
This enhancement will help to investigate issues happened during the shoot deletion phase.

[2021-02-12 11:54] Kristian-ZH opened #3553 "Logging stack as gardener-extension"
**How to categorize this issue?**

/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
Transform the logging stack into gardener extension and move it into dedicated repo.

**Why is this needed**:
- Decouple logging from the gardener itself
- Version control
- Easier maintenance

[2021-02-12 12:05] Kristian-ZH opened #3554 "Merge all Grafana logging dashboards into one"
**How to categorize this issue?**

/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
Since the dashboards have functionality to list pods and containers, it will be good to merge all existing logging dashboards into one dashboard.

**Why is this needed**:
This change will improve the user experience because no longer will be needed to switch between different d

[2021-02-12 13:17] rfranzke commented on #3553
I was thinking about the same (also for the monitoring stack), but I always ended up with the problem that the components we deploy (kube-apiserver, KCM, etc.) provide the configuration for the fluent-bit / prometheus / grafana / alertmanager. It "felt" wrong to maintain these components separately while Gardener depends on them and their specific compatibility. For example, if we need to change s

[2021-02-12 14:16] Kristian-ZH commented on #3553
Hmm, this was only an idea, we still did not invest time into this approach but now when you mentioned about this...
Nope, I have no idea. Also there are configurations which are coming from the other extensions...

[2021-02-12 14:21] rfranzke commented on #3553
Hm, well, that's a good point actually and it reveals that we already have the compatibility problem today. So, maybe it's not even as much of a problem because those fluent-bit/scrape config/... APIs don't change that often (actually, I've not seen that they changed at all in the past years).
Maybe it's fair to still explore this approach (externalizing both monitoring and logging into an extensi

[2021-02-12 14:27] Kristian-ZH commented on #3553
One of the things we should also consider is what will happen with Grafana, because now the monitoring and the logging stack use the same Grafana

[2021-02-12 16:58] vlvasilev commented on #3559
@mvladev idea copied from [Slack thread](https://sap-ti.slack.com/archives/C0172CDN3AS/p1613123434203700?thread_ts=1613058001.196200&cid=C0172CDN3AS)
[code]
But we have to store the RBAC token on the shoot nodes.
Is this a security vulnerability?

[2021-02-15 09:51] rfranzke commented on #2815
/unassign @timuthy @rfranzke for now in favor of #1723 and #1724 and #1725

[2021-02-15 15:29] danielfoehrKn opened #3570 "Improve Kubelet requested resources"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

**What would you like to be added**:

Improve the default kubelet eviction and reserved resource requests.

## Kubelet eviction

In general, the Kubelet starts pod evictions when:

[code]

Proposed change:

- evictionHard.nodefs.available 5% -> 10%
- nodefs.available: 10% -> 15% (or leave it at 10% to not cause

[2021-02-17 16:34] vpnachev opened #3580 "[OSC] Ensure cloud config downloader scripts are always updated on the node"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
We have observed a Node on GCP was rebooted and then the user data was re-applied. As the user data contains the downloader OSC, the reboot caused the files part of the dowloader to be reverted to their content at the time when the VM was created. The node was created

[2021-02-18 09:00] #3428 closed, assigned to timuthy

[2021-02-18 11:14] #3580 closed, assigned to nobody

[2021-02-19 15:24] ialidzhikov opened #3595 "Scale istiod dynamically with VPA"
**How to categorize this issue?**
/kind bug

**What would you like to be added**:
Scale istiod with VPA (or HPA, or HVPA).

**Why is this needed**:

Currently istiod Deployment is deployed with static memory and cpu limits - `2Gi` and 1 CPU core. On multiple large Seeds we observe istiod Pods being OOMKilled:

[code]

[2021-02-19 15:27] ialidzhikov commented on #3595
The memory usage of istiod Pods from the last 14 days.

<img width="1661" alt="Screenshot 2021-02-19 at 17 21 36" src="https://user-images.githubusercontent.com/9372594/108524410-a9f6f000-72d7-11eb-9569-a4c0a27d9966.png">

[2021-02-20 12:20] mvladev opened #3598 "Control plane secret size reduction"
**How to categorize this issue?**

/area scalability
/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:

Secret size reduction for each cluster.

**Why is this needed**:

Each controller running and watching secret resources in the Seed cluster is affected by the big size of secrets each control plane uses. For example istiod was getting OOMKilled on big s

[2021-02-20 12:20] mvladev commented on #3598
/cc @ialidzhikov @rfranzke

[2021-02-22 09:43] ialidzhikov commented on #3595
/assign @mvladev

[2021-02-22 16:56] timebertt commented on #4803
I spent some more time with this based on the thoughts summarized in https://github.com/gardener/gardener-resource-manager/pull/98#issuecomment-745370758 and will pause my work on this for now, because of several headaches:

- we can't use `klogr` directly, because it seems like it's not supposed to be used in conjunction with a structured logger implementation under the hood (e.g. `zapr`). So if

[2021-02-22 16:56] timebertt commented on #2822
/assign
Will work on this next.

[2021-02-22 16:59] timebertt commented on #3109
/close
as all action items have been resolved.

Summarized some thoughts around consolidating the whole logging stuff in https://github.com/gardener/gardener-resource-manager/issues/66, but this is indeed a separate topic.

[2021-02-22 16:59] #3109 closed, assigned to timebertt

[2021-02-23 15:53] #3595 closed, assigned to mvladev

[2021-02-23 16:21] vlerenc commented on #3491
@plkokanov Yes, I would think so.

@amshuman-kr Right, the handshake can be fairly simple like a file in the backup folder marking it accordingly and after the backup was transferred, it can be removed, so that we don't leave traces. When the seed comes only again (if ever), it can auto-clean the "hollow" backup.

Hmm... what do you mean? When we migrate a control plane, we have to have the backup

[2021-02-23 16:44] danielfoehrKn opened #3619 "Sane minimum resource requests for Seed's metrics server"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority normal

**What would you like to be added**:

Provide sane minimum resource requests for Seed's metrics server to prevent it from being CPU throttled.
If it is throttled it cannot provide the necessary metrics for its own VPA and any Shoot cluster in the Seed.
This leads to horizontal scaling not working for Shoot ku

[2021-02-24 07:58] timebertt commented on #3619
I guess, this is not only related to Seed clusters but to Shoot clusters in general, right?

In the particular case you observed, was the VPA enabled for the Shoot?

[2021-02-24 08:35] ialidzhikov opened #3621 "nil pointer dereference in federatedseed controller"
**How to categorize this issue?**

/kind bug

**What happened**:

[code]

It seems to happen after https://github.com/gardener/gardener/pull/3550

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version: master
- Kubernetes version (use `kubectl version`):
- Cloud provider or hard

[2021-02-24 08:35] ialidzhikov commented on #3621
/cc @plkokanov

[2021-02-24 08:50] danielfoehrKn commented on #3619
Not at first, but we enabled it.

I am just thinking that we need higher minimum resource requests for metric servers of Seed clusters because they'll have a higher load.

[2021-02-24 08:58] vpnachev commented on #3619
Actually, the `minAllowed` is not set for the `metrics-server` VPA https://github.com/gardener/gardener/blob/5a13e6b11a5452e51c0f010c3839319b8f8b67e6/pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go#L393-L408.

[2021-02-24 09:05] plkokanov commented on #3491
I was talking about the backups for the __Source Seed__. But let me see if I actually understood @amshuman-kr correctly:

After the backup has been transferred and the backup directory for the __Source Seed__ is empty (or non existant), if there is nothing else indicating that the __Source Seed__ is no longer the master (due to any network problem, for instance), the etcd `backup-restore` in the _

[2021-02-24 09:20] stoyanr commented on #3621
Deleting all backupentries for shoots that have been already deleted from the seed workarounds the issue at least temporarily. We should probably look into why these backupentries still exist in the first place - this is probably also an issue since only some of them remain, and only in some cases.

[2021-02-24 09:23] plkokanov commented on #3621
I talked with @kris94 to also include checks in the migration integration test for orphaned resources and to see if those backupentries getting orphaned is buggy behaviour or not.

Currently the migrate method for the backupentries doesn't do anything:
[code]
So this might be causing it.

[2021-02-24 09:39] #3621 closed, assigned to nobody

[2021-02-24 13:38] vlerenc commented on #3491
Yes, I speak of both, source and destination @plkokanov .

See my previous reply: If we leave the old backup there or delete the folder, the backup sidecar would continue. That's why Amshu and I suggest a little "handshake", which could be a file with a certain name or whatever. Then again, it doesn't actually matter too much, because eventually this seed will be fully terminated or will get back

[2021-02-24 15:49] plkokanov commented on #3491
I think we're all saying the same thing here but just to be complete: my point was that if the backups in the source seed continue, the etcd `backup-restore` wouldn't terminate and that would mean that MCM and other controllers would continue working so there's a possibility we could run into a split brain scenario.
As far as I understand that's why we would need the "handshake" (I wasn't arguing

[2021-02-25 17:29] uvwild opened #3629 "more than once a second failed TLS Handshake errors in log of kube-apiserver"
/area control-plane
  /area networking
  /area security

/kind/bug
/kind/impediment
/priority/normal

The logs of the loadbalancer for api.otc-seed.garden.internal.garden.<OURBASEDOMAIN>
is full of TLS handshake errors since Feb 22.
`kubectl -n shoot--garden--otc-seed  logs -f $(k -n shoot--garden--otc-seed get pods -o name | grep kube-apiserver)  --all-containers --since=12h
`
`....
I0225 17:00:1

[2021-02-25 17:47] rfranzke commented on #3629
/cc @mvladev @DockToFuture

@uvwild Why do you think this is a Gardener bug? It rather sounds more related to the underlying infrastructure, i.e., the load balancers of OTC, doesn't it?

[2021-02-25 19:03] uvwild commented on #3629
The affected shoot cluster has been created in gardener at 2021-01-11
TLS  error only start on 22.2.

I also checked other shoot clusters they  also have this issue.
NS=shoot--garden--otc-seed
NS-shoot--jitsi--jitsi
kubectl -n $NS logs  $(k -n $NS get pods -o name | grep kube-apiserver) --all-containers   --since=12h

NS=kube-system
Only  the kube-api-server in the  kube-system of the cluster crea

[2021-02-26 05:34] rfranzke commented on #3629
TLS error only start on 22.2.

What exactly did change on 22.2. in your setup?

[2021-02-26 09:45] vlerenc opened #3630 "Retain backups only for deleted productive clusters"
**How to categorize this issue?**
/area backup
/kind enhancement
/priority normal

**What would you like to be added**:
Let's retain only backups for deleted productive clusters, but not clusters with other `purpose` labels. We could then also increase the retention period for deleted productive clusters (e.g. 14 days).

**Why is this needed**:
We see applications of Gardener with a churn rate of

[2021-03-01 06:44] rfranzke commented on #3630
/assign

[2021-03-01 08:50] timuthy commented on #3629
Can these TLS errors come from a health monitor of the load balancer?

[2021-03-01 11:43] timebertt commented on #2689
PRs are merged now.
/close

[2021-03-01 11:43] #2689 closed, assigned to plkokanov

[2021-03-01 12:56] timebertt commented on #3405
Partly adressed in #3637

[2021-03-02 09:46] vasu1124 commented on #2120
Wider swap support in Kubernetes is now being discussed as well: https://docs.google.com/document/d/1CZtRtC8W8FwW_VWQLKP9DW_2H-hcLBcH9KBbukie67M/edit#

[2021-03-02 13:55] #3630 closed, assigned to rfranzke

[2021-03-03 08:26] danielfoehrKn opened #3652 "Seed managed ingress domain is not backward-compatible"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:

Although the Seed field `spec.dns.IngressDomain` is deprecated in favor of `spec.ingress.domain`.
Only setting the latter field results in

`#   Error: errors validating the configuration: [seedConfig.spec.ingress.controller.kind: Unsupported value: “”: supported values: “nginx” seedConfig.spec.dns.pro

[2021-03-03 08:50] timebertt commented on #3495
The remaining two issues described in this issue will be fixed by https://github.com/gardener/gardener/pull/3653

[2021-03-03 09:11] danielfoehrKn commented on #3652
cc @BeckerMax

[2021-03-03 11:49] BeckerMax commented on #3652
/assign
We did not have the usecase in mind that someone switches to the new setting but does not want to enable the managed ingress. But I think it makes sense to support that as it is currently allowed as well. We can define `seedConfig.spec.ingress.controller` as a pointer.

[2021-03-04 01:16] uvwild commented on #3629
In many cases the health checks seems to be cause such issues.

Therefore I disabled the health checks in  OTC and checked the logs.
But it did not affect the TLS handshake errors.
What other health checks are there to be adjusted?

I see the TLS errors from the kube-api-server to various IPs on gateways (x.x.x.1) of the connected subnets/namespaces.

On my side the resulting effects are broken he

[2021-03-04 07:18] #3020 closed, assigned to ialidzhikov

[2021-03-04 08:44] amshuman-kr commented on #3491
Sorry for the delay. I agree we are talking about pretty much the same thing. Making sure that source backup-restore goes down as early as possible/workable seems to be a good thing to avoid other downstream issues of keeping it potentially running until the source seed heals and deletes the source shoot control plane.

In my review comments in https://github.com/gardener/gardener/pull/3066#pullre

[2021-03-04 09:08] amshuman-kr commented on #3491
To be clear, https://github.com/gardener/gardener/pull/3066#pullrequestreview-524994890 had re-use of the same backup storage across seeds (after migration). So, we can make suitable changes considering that we no longer want to re-use the backup storage across seeds.

[2021-03-04 14:25] mvladev commented on #1433
The more and more I think about this - It's my gut feeling that we should have this as an Shoot subresource - e.g. `shoots/kubeconfig` that accepts a request for `kubeconfig`:

[code]

and then the APIServer responds with:

[code]

Or if the cluster-admin kubeconfig is needed then:

[code]

Those resource won't be preserved in the system, but fetched and constructed from the `ShootState` resource

[2021-03-04 14:27] timuthy commented on #3491
+1

That was also the consideration I had in a discussion with @vlerenc and will simplify the architecture a lot.

@plkokanov in the scope of migration, would you be willing to take over implementing the "Seed Control BackupBucket in Gardener Controller Manager" mentioned in the issue?

[2021-03-04 14:35] briantopping commented on #4806
In thinking about this more, it seems like a complete implementation would be to also check a tristate feature flag to see if the feature is allowed at various levels of deployment. An unset flag indicates "don't care", on or off will lock that preference for subordinate deployments. So if the flag is globally unset, it means any level can add the lock annotation, such as a seed, project or shoot.

[2021-03-04 14:38] ialidzhikov commented on #4806
@briantopping I couldn't follow what is the exact expected behaviour behind this so called "lock". Don't you want simply to ignore a resource from updates?

There is already an annotation that can prevent updates to resource - see https://github.com/gardener/gardener-resource-manager/blob/master/docs/concepts/managed-resource.md#ignoring-updates.

[2021-03-04 14:41] briantopping commented on #4806
Hi @ialidzhikov, thanks for that.

I see that `resources.gardener.cloud/ignore` is applied on the `ManagedResource` (affecting all the resources it manages) and not the resource itself. This definitely works for now, although it would be very useful for the annotation to be usable on the resources themselves. In that case, having the ability for an administrator to disable such overrides is what I

[2021-03-04 14:59] briantopping commented on #4806
I also imagine it would be useful that if the `resources.gardener.cloud/ignore` was usable at the individual resource level, removing it would cause resource manager to reset it completely. This would be useful in situations such as when the shoot operator broke a resource and wanted to reset it.

[2021-03-04 15:06] ialidzhikov commented on #4806
I am not sure where you see this!? It should be applied to the resource itself - see https://github.com/gardener/gardener-resource-manager/blob/ac6d5191c7d4aceb891b036ccaa340f50db308de/example/20-managedresource.yaml#L16

[2021-03-04 15:08] briantopping commented on #4806
Hmm, only through trying to apply it to a deployed resource and changing it. The annotation was ignored and the resource reset to original.

[2021-03-04 15:24] briantopping commented on #4806
/label priority/nonessential

[2021-03-04 15:34] ialidzhikov commented on #4806
It seems that you are right and it does not work when you add the annotation manually afterwards. I guess it is like this by design and `resources.gardener.cloud/ignore` should be present in the original resource. So it is not exactly what you are looking for. Sorry for misleading you.

[2021-03-04 15:37] briantopping commented on #4806
Not misleading at all! I am happy to contribute as I can, so no apologies are ever necessary. Gardener has many layers and if anyone knew them all, I'd feel guilty for wasting their time.

This is something that is useful for backlog, there are far more important things to be working on with limited available resources.

[2021-03-04 16:41] #2942 closed, assigned to mvladev

[2021-03-05 10:39] hoeltcl opened #3666 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2021-03-05 10:47] mvladev commented on #1433
@vlerenc can you have a look into https://github.com/gardener/gardener/issues/1433#issuecomment-790654980 ? With subresource apporach we do not duplicate the information already stored in the `ShootState` and can easily apply authorization based on the the user making the request.

[2021-03-05 10:55] #3666 closed, assigned to nobody

[2021-03-05 11:21] timebertt opened #3667 "Collect metrics and dashboards for node disk I/O"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:

Configure the Shoots' `node_exporter` to collect disk I/O metrics (`--collector. diskstats`), whitelist the metrics in prometheus and build some charts around it in grafana.

**Why is this needed**:

Having metrics about disk I/O and visualizing them will help operators and

[2021-03-05 12:31] plkokanov commented on #3491
@timuthy yep I think I can take care of that. I could later on cover any changes in the BackupEntry migration to migrate the etcd data as securely as possible.

[2021-03-05 12:56] timuthy commented on #3491
Awesome, thank you!!
/assign @plkokanov

[2021-03-05 14:57] timebertt opened #3672 "core.BackupEntry is reconciled multiple times in a row"
**How to categorize this issue?**

/area robustness quality
/kind bug
/priority normal

**What happened**:

In some gardenlet logs I observed, that a `core.BackupEntry` is always reconciled multiple times in a row.

[code]

**What you expected to happen**:

If the `BackupEntry` was reconciled once, it should not be reconciled another time directly afterwards.

**How to reproduce it (as minimally a

[2021-03-08 05:57] amshuman-kr commented on #3619
/assign

[2021-03-08 08:54] vlerenc commented on #1433
@mvladev I guess you asked me specifically because of:
- This is directly related to the question of the initial authorization, if OIDC is configured
- This is indirectly related to the web hook authenticator that you proposed, but haven't used here
- This is indirectly related to operator access either via OIDC web hook authenticator or service accounts on the fly

I am digressing, but there are

[2021-03-08 10:01] mvladev commented on #1433
The static token is the current implementation which can be changed in the future, when those other ways to authenticate can be used.

I haven't updated the example documentation, but there is additional information that can be passed when the cluster is created - https://gardener.cloud/documentation/references/core/#core.gardener.cloud/v1beta1.OpenIDConnectClientAuthentication the secret is store

[2021-03-08 10:15] vlerenc commented on #1433
Maybe, but then again, implementing it this way and throwing it away soon after would be odd/waste.

@mvladev The "Also I'm also thinking" part is your thought/should not be in quotes citing me.

Yes, if we go down that path, that's a nice idea. Then it's not our responsibility. We just take and insert it. Whether it's correct is not our concern.

Then again, it makes the interactions more clumsy

[2021-03-08 10:55] vpnachev commented on #1433
Personally, I do not like very much the idea of sending a custom object to the subresource. Can we simplify it to do just one of the following
1. Have 2 different subresources - one for the OIDC `shoot/oidcKubeconfig` and one for the static kubeconfig `shoot/staticKubeconfig`.
1. Add shootRef to `KubeConfigRequest` and create them on the fly similar to the `SelfSubjectRulesReview`:
[code]

I lean

[2021-03-08 11:11] ialidzhikov opened #3676 "Debootstrap of Seed no longer works"
**How to categorize this issue?**

/kind regression
/priority normal

**What happened**:

Debootstrap of Seed fails with:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Seed
2. Delete a Seed

3. Make sure that the debootstrap fails with:

[code]

**Anything else we need to know?**:

**Environment**:

- Gardener version: mas

[2021-03-08 11:57] mvladev commented on #1433
I think this might be the better approach as we might need different semantics for both ( see bellow ).

Now that the API sever could read the Shoot state it should be quite easy to generate a short-lived certificate - e.g. for 30 mins:

[code]

The API server now can generate a client certificate, sign it by the client-ca and return it in the kubeconfig. The certificate would be valid only for 30

[2021-03-08 13:49] vlerenc commented on #1433
@mvladev Ha, I like that. No static tokens, just a short-lived cert? Very nice!

[2021-03-08 16:33] #3676 closed, assigned to nobody

[2021-03-09 11:29] uvwild commented on #3629
I found a possible cause for this behaviour.  Sticky Sessions Disabled in the cloud provider load balancer.
I believe that would sufficiently explain the issues.

I added a    ` sessionAffinity: ClientIP`
to my nginx ingress configuration which causes the sticky session in the cloud loadbalancer.

I  added sessions Affinity  to the kube-apiserver service of an affected k8s cluster:
[code]
But it d

[2021-03-10 10:27] stoyanr opened #3685 "De-bootstrapping a seed sometimes fails with "no matches for kind Etcd""
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:

De-bootstrapping a seed sometimes fails with:
[code]

**What you expected to happen**:
No such errors during seed de-bootstrapping.

**How to reproduce it (as minimally and precisely as possible)**:
* With `master`: delete a Seed resource, wait until the `etcd-druid` managed resource is deleted f

[2021-03-10 10:40] plkokanov commented on #3619
Just to add an additional cause for the same error:

When sni is enabled an `apiserver-proxy-pod-mutator` container is added to the `kube-apiserver` pod. This container is missing the `resources` field:

[code]

This basically prevents the hpa from reading the full CPU/Memory requests.

[2021-03-10 10:43] rfranzke commented on #3685
/cc @BeckerMax - will #3575 help fixing this?

[2021-03-10 11:23] vpnachev commented on #3685
I faced this problem a week ago and prepared a work-in-progress commit https://github.com/gardener/gardener/commit/a9ca7245e63996b5a1737e0f9b9ab22836cad8dd , but still have not time to fully understand the problem and whether my "fix" is correct.

[2021-03-10 11:30] stoyanr commented on #3685
I am also currently looking into this, since it blocks some integration tests in dev. @vpnachev I think your fix will work, let me try to reproduce the issue locally better and I will test the fix as well.
@rfranzke @BeckerMax I don't think that PR will fix this, since the bug is in the `Destroy` function of a concrete component. I may be wrong though.

[2021-03-10 12:33] stoyanr commented on #3685
The issue is 100% reproducible with version `v1.18.0-dev-7f0ae078d09fe5927d01a4df0821c2bf0d98332a`, without having to manually restart gardenlet or do anything else. With `master` however it's not, to reproduce it there you have to manually restart `gardenlet` in exactly the right moment (quite tricky to do actually). I believe the issue should be fixed regardless.

[2021-03-10 14:33] #3685 closed, assigned to nobody

[2021-03-10 16:02] dkistner commented on #3505
# Selectable API Server Endpoint – Implementation proposal

This proposal tackles the first part of this issue.
It is about how to expose the kube-apiserver/controlplane endpoints on a Seed with access to different network environments and how users can control in which of those network environments the controlplane endpoint of their Shoot will be exposed.

This is `v3` of the implementation propo

[2021-03-10 16:03] dkistner commented on #3505
@rfranzke , @mvladev  Could you please be so kind and have a look on this proposal?
If you generally agree with such an approach I would go on and do a poc of this to check if there are no crucial pitfalls which I have overseen and to prove that it is working as expected. But as said before I want to align the general approach with you upfront.

[2021-03-10 19:24] mvladev commented on #3505
I've several points:

- the end-users might not know which advertised endpoints are available - e.g. they not have `get` access to the `Seed` resource. This makes configuring this very hard.
- all Seed clusters have to use the same `endpointName` for the same kind of functionality - e.g. for apiserver routable from the internet. e.g. Seed `cluster-a` might use `internet` as `endpointName`, while S

[2021-03-10 21:26] vpnachev commented on #3505
A bit out of context, but

is no longer the case, see https://github.com/gardener/gardener/blob/3cbde2d2dc25fbad2916682966b18f988fe57b77/charts/gardener/controlplane/charts/application/templates/rbac-user.yaml#L73-L111

[2021-03-11 07:00] rfranzke commented on #3505
Generally, the proposal looks OK, thanks for the detailed plan.

I had the same like @mvladev in mind (the endpoint names might be different for different seeds, and then migration won't be possible). I tried to argue that "this is something the operators have to keep in mind and properly configure", and we can certainly go ahead with this argument, but then it would increase complexity and makes

[2021-03-11 07:06] majst01 commented on #3505
In the meantime we also implemented the required networking primitives in metal-stack to support the creation of shoots which are only connected in a `DMZ` network, and thanks to the konnectivity-tunnel feature, these Shoots are accessible from a internet facing Seed.

Details are described here: https://metal-stack.io/blog/2021/03/metal-stack-v0.6.0/

[2021-03-11 08:16] dkistner commented on #3505
Nice idea @mvladev. Yes a similar approach like the `RuntimeClass` looks promising for this scenario. I had also the concern while writing the proposal that through an `endpointName` as indicator would might be couple a Shoot too strict to a particular Seed, but didn't had a good alternative idea.
Let me explore that a little bit more in detail.

[2021-03-12 08:41] dkistner commented on #3505
I had a look and we could introduce a `EndpointConfiguration` resource which behave similar like the k8s `RuntimeClass`.
Such a resource could look like this:

[code]
The `EndpointConfiguration` (or maybe `EndpointClass` or `SeedEndpoint` ;-) ) will select the Seeds which can apply its configuration via the means in the `.spec.scheduling` section. This can be a `seedSelector`, but maybe also `tole

[2021-03-12 08:46] petersutter opened #3699 "Delay hibernation"
**How to categorize this issue?**
/area dev-productivity
/area cost
/kind api-change
/kind enhancement
/priority normal

**What would you like to be added**:
There should be an option to postpone or prepone the next hibernation schedule

**Why is this needed**:
Usually you have a hibernation schedule for your development cluster according to your regular business hours. In case you need to work wi

[2021-03-12 08:49] rfranzke commented on #3505
Why there is `spec` (`RuntimeClass` doesn't have it)?

What about `ExposureClass`?

Probably it should be similar to https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#scheduling-v1beta1-node-k8s-io.

Am I understanding correctly that this (and especially the control plane migration case) only work if we use something like

[code]

but not if we use

[code]

because the IDs might

[2021-03-12 09:24] dkistner commented on #3505
Not required. Will remove it.

That's even better 👍

It would be similar. We will definitely have a `seedSelector` (`nodeSelector` equivalent) and could also have tolerations as the Seeds have already taints. I just though it would might be also handy to have `seedNames` directly in the `ExposureClass`.

Regarding the annotations. They are tightly bound to a certain environment. In this Openstack

[2021-03-12 09:32] rfranzke commented on #3505
Not sure, I think k/k avoids this because the "contract" is always the selection via labels. We should probably do the same unless there is a strong reason to introduce these names.

Yep, got it. This also means that migration won't be possible. I hope this isn't a problem for the OpenStack environments I know of :)

If it's immutable then it means that API server exposure for existing clusters ca

[2021-03-12 09:51] #3619 closed, assigned to amshuman-kr

[2021-03-12 10:17] vlerenc commented on #3699
That's actually already possible. You just wake it up manually, is it not?

This leaves only the first request, i.e. to not hibernate at schedule. Frankly, I am not sure whether it's worth the effort, but I agree, it would be handy sometimes, though I usually forget and then it gets hibernated under my hands. ;-)

Anyway, I would assume some new field like `spec.hibernation.[].active` would help a

[2021-03-12 10:51] rfranzke commented on #3699
Probably the Dashboard could show a hint if the time approaches? :)

[2021-03-12 11:36] dkistner commented on #3505
Actually I can't also find a situation which couldn't be covered by selectors or tolerations as well. So therefore let's only have selectors and tolerations? wdyt?

I guess a seed migration would require to have another/new Seed which can as well serve the exact same network environment. I mean how to solve this? If there is a requirement to deploy a controlplane endpoint into a certain network th

[2021-03-12 12:12] petersutter commented on #3699
well basically yes, but you have to wait for it to be ready. If you can prepone the schedule, the cluster is already available when you need it. But this scenario is probably less used and I'm fine to skip it. I thought I mention it, as it's basically just the opposite of the other action and maybe not much of a difference when it comes to the implementation, I would assume.

Same issue as when ma

[2021-03-12 13:50] timuthy commented on #3699
This would be part of the shoot `spec` and will be active until `spec.hibernation.postponeNextSchedule` is reset again which kind of implies that the hibernation control would need to adjust the shoot `spec` again, so that postponing the next hibernation schedule really only happens for the next schedule. I don't think that this would be ideal.

[2021-03-12 14:14] timuthy commented on #3699
With the cron specification we use today, we almost have everything we need because one can set a schedule for a specific date. The only thing that is missing is an option, that a very specific value is supposed to overrule another, more generic schedule.

[2021-03-12 15:55] dkistner commented on #3505
I have updated the proposal above accordingly.

[2021-03-12 16:23] rfranzke commented on #3505
Yes

From your response here I understand that migration would not work. Actually, is the requirement to indeed use very specific networks, or is it rather about either "public" or "private" expose? Maybe we can work with those "classes" and then each seed can implement them differently (e.g., by using different networks)?

I didn't really get the question, but I'm also fine to have it "immutable"

[2021-03-15 05:15] vlerenc commented on #3699
@petersutter @timuthy I am wondering, would you really think about that in advance/is it really worth the effort?

I am actually fine (and did so in the past) to change the hibernation time window, when I thought about it in advance, but in most cases, the cluster "was hibernated under my hands" and the above wouldn't have helped me much.

Just saying/trying to put things in perspective.

[2021-03-15 06:41] timuthy commented on #3699
No, I don't think so either. +1

[2021-03-15 07:19] timuthy commented on #3505
+1 if the requirement allows this. This would also spare us a direct dependency to the `Service` API (via `Service` annotations) in the `ExposureClass`.

Can you elaborate why we need to cover tolerations and selectors aren't sufficient? Or will tolerations be used the same way as they're used in `RuntimeClass` i.e., configured tolerations are added to the shoot ([ref](https://kubernetes.io/docs/r

[2021-03-15 07:39] timebertt commented on #3676
Oooh, sorry for that one.
Thanks for fixing @ialidzhikov!

[2021-03-15 08:31] petersutter commented on #3699
It happened to me several times that I wanted to extend the schedule temporarily and as @mandelsoft approached me with the same inquiry I opened this issue so that it can be discussed.

It's not super critical for me as I also just extend the hibernation schedule as workaround. If it's a major implementation task it's probably not worth the effort.

[2021-03-15 09:24] timebertt commented on #3559
/area logging

[2021-03-15 09:25] timuthy commented on #2226
/close
and continue with https://github.com/gardener/gardener/issues/3559.

[2021-03-15 09:25] #2226 closed, assigned to nobody

[2021-03-15 09:36] dguendisch commented on #2226
Probably you meant: continuing with https://github.com/gardener/gardener/issues/3559

[2021-03-15 09:49] mvladev commented on #3559
Is this a security vulnerability?

The same would be said for kubelet's certificates. At the end you'll need to have an  way to authenticate against the Shoot cluster.

[2021-03-15 10:47] rfranzke commented on #3559
If I understand it correctly then the above proposes to stream the logs over the internet to the Loki in the seed (for every node). Is this correct? If yes, I would expect that this has significant effects on 💰 for traffic and network I/O, doesn't it? Do you have an estimation on how much data would be transferred and how this would increase the costs for a cluster?

[2021-03-15 14:02] dkistner commented on #3505
As said the migration would work if the new Seed would have also access to the same network. The new Seed must be able to apply the configuration of the same `ExposureClass`.

I guess for the use case which I have in mind just `public` and `private` would work, if each Seed can decide how those endpoint configs are realised. I mean generic ExposureClasses like `public` or `private` are easier to c

[2021-03-15 14:32] wyb1 opened #3712 "Do not fire alerts for shoots in deletion"
**How to categorize this issue?**

/area monitoring
/kind bug

**What happened**:

Received `KubeApiserverDown` alerts for shoot clusters that were recently deleted.

**What you expected to happen**:

To not receive `KubeApiserverDown` alerts for recently deleted shoot clusters.

[2021-03-15 14:32] wyb1 commented on #3712
/assign

[2021-03-15 14:34] wyb1 commented on #3712
Increasing the time it takes for the alert to fire might be a quick fix, but I would like to investigate why exactly this happens.

[2021-03-15 14:44] timuthy commented on #3505
Hm, I thought this can be analog to what the `RuntimeClass` describes with  a `handler`. It's only a name for a configuration but the concrete implementation/setup happens on the node. So we could have handlers for `private`, `publich`, `dmz`, etc. (/cc @rfranzke)

I'm wondering if it's better to stick to K8s concepts here which means that we only use taints and tolerations for pod/node or in Gard

[2021-03-15 20:43] rfranzke commented on #3505
I don't think we would have to "hard-code" this, do we? I think when we support `ExposureClasses` with arbitrary `handlers` which can be detailed out on the seed level then the API should be flexible enough (while we could decide to only go with `public`/`private`).

Hm, I think the `tolerations` proposal was inferred by Kubernetes' `RuntimeClass` object (which itself has a [`.scheduling.toleratio

[2021-03-16 07:48] vpnachev opened #3717 "Network policy allow-to-seed-apiserver is not updated on time when APIServerSNI is enabled"
**How to categorize this issue?**

/kind bug
/priority normal
/assign @mvladev

**What happened**:
The APIServerSNI feature gate was enabled for a seed cluster that hosts managed seeds.
When this has happened the managed seed was not in its maintenance time window, thus it did not get a shoot reconciliations, just the SHOOTEDSEED controller has reconciled it, i.e. re-deployed and re-configured the

[2021-03-16 09:49] vpnachev commented on #3717
Another problem is the failure policy of the webhook https://github.com/gardener/gardener/blob/c90af946c31d4c0e2a6358783a450deb49413f1a/charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-pod-mutatingwebhook.yaml#L19

It can fail for any reason and the env var will not be injected in the gardenlet pod, then it will remove the SNI LB IP from the network policies and the co

[2021-03-16 14:59] dkistner commented on #3505
I misunderstood what you meant. Yes so this make sense to me. The ExposureClass would need to specify a handler (like the RuntimeClass). This could look like this:

[code]

Somehow the a selected Seed would need to provide an implementation of the handler specified in the ExposureClass.
We could do that in the Seed resource directly (or any other suggestions to externalise this?)

[code]

Another

[2021-03-16 16:24] rfranzke commented on #3505
I think the proposal looks fine now and it seems very similar to what Kubernetes is doing (which is good). In Kubernetes, the `Node` object doesn't carry any information about the runtime classes. Instead, the cluster administrator has to deploy the handler `DaemonSet` to make the `RuntimeClass`es work. I think this is kind of comparable in effort.

@mvladev @timuthy @vpnachev @majst01 WDYT?

[2021-03-17 07:33] mvladev commented on #3505
Everything looks okay so far. However how would the Gardenlet configuration be changed https://github.com/gardener/gardener/blob/9f7e1e38dbae4a6466377ecbd68724b0e8221516/example/20-componentconfig-gardenlet.yaml#L108-L113

In this case we would have multiple `Services` - one for each `ExposureClass`? Something like for the external `v1alpha1` version:

[code]

and in the internal version this woul

[2021-03-17 07:42] rfranzke commented on #3505
Good question @mvladev. I'm asking myself whether we need this configuration at all in the gardenlet's component configuration? What was the motivation to add it? I can assume that your proposal might lead to issues with managed seeds where most of the configuration is taken from the parent gardenlet (which might have different exposure classes and handlers). Wouldn't it be easier if the gardenlet

[2021-03-17 10:57] uvwild commented on #3629
I did some more reseach.

**The issue with the TLS handshake error persist in the OTC gardener cluster!**
`2021-03-17T00:09:46.280659281Z I0317 00:09:46.280566       1 log.go:172] http: TLS handshake error from 10.240.12.0:16384: read tcp 10.241.129.140:443->10.240.12.0:16384: read: connection reset by peerI analysed the jitsi cluster in more detail:Affected connections:10.241.129.140:443->10.240.

[2021-03-17 11:18] mvladev commented on #3505
The rationale was for the SNI to be able to be installed on clusters that do not have the `ManagedIstio` feature enabled or Istio is already installed in the Seed cluster.

The server name / namespace would be needed to get the service and use for `DNSEntry`.

[2021-03-17 14:03] timebertt opened #3724 "Trigger ManagedSeed gardenlet rollout"
**How to categorize this issue?**

/area usability ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:

Currently, there is no way to manually trigger an immediate rollout of a ManagedSeed's gardenlet.
ManagedSeed rollouts are jittered with `gardenletConfiguration.controllers.managedSeed.syncJitterPeriod`.
But sometimes an operator wants to shortcut this delay

[2021-03-17 14:03] timebertt commented on #3724
/cc @stoyanr
WDYT?

[2021-03-17 14:57] timebertt commented on #2822
/priority 1

[2021-03-18 10:43] timebertt opened #3733 "[Flaky Test] Shoot deletion / TestShootApplications"
**How to categorize this issue?**

/area testing
/kind flake
/priority normal

**Which test(s)/suite(s) are flaking**:
Shoot deletion / TestShootApplications integration test

**CI link**:

https://grafana.ingress.tm.core.shoot.live.k8s-hana.ondemand.com/explore?orgId=1&left=%5B%22now-3d%22,%22now%22,%22Loki%22,%7B%22expr%22:%22%7Bcontainer%3D%5C%22main%5C%22,argo_workflow%3D%5C%22dev-manualbldh2-

[2021-03-18 16:18] valentinvieriu commented on #1413
Can this feature be reconsidered? We would really use this for Kyma.
We plan on getting our Kubernetes Dashboard, outside of the cluster, more like a K8s Dashboard as a Service.
When we do this, we would need to communicate with possible 1000x clusters in a stateless way.
Having a valid https certificate would be the natural way of doing this. Adding the certificate-authority-data for potential an