[2019-12-17 19:46] hoeltcl opened #1746 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-12-18 06:35] rfranzke commented on #1746
Done, assessed.

[2019-12-18 06:35] #1746 closed, assigned to nobody

[2019-12-18 08:29] petersutter opened #1749 "Write secret refs to Shoot status"
**What would you like to be added**:
E.g. the kubeconfig for a shoot can be found in a secret named `${shootName}.kubeconfig`, at least this is the current convention.
It would be nice if the secret references for a shoot would be written to the Shoot status.

**Why is this needed**:

[2019-12-18 09:11] vpnachev opened #1751 "Improve Shoot Hibernation Prevention Check"
**What would you like to be added**:

Recently we have introduced a validation(https://github.com/gardener/gardener/pull/1642) that prevents shoot hibernation in case the cluster has a validating or mutating webhook which might block creation of new pods or nodes. The motivation is that such clusters cannot be waken up later.

The validation [logic](https://github.com/gardener/gardener/blob/ca5c68

[2019-12-18 12:08] rfranzke commented on #1583
This was fixed with #1601, I believe. Closing now.

[2019-12-18 12:08] #1583 closed, assigned to nobody

[2019-12-18 12:10] rfranzke commented on #1206
Fixed with #1737

[2019-12-18 12:10] #1206 closed, assigned to ialidzhikov

[2019-12-18 12:11] rfranzke commented on #285
Closing this for now as mitigation has been implemented long back or other issues are opened in the gardener/gardener-extensions repository.

[2019-12-18 12:11] #285 closed, assigned to nobody

[2019-12-18 21:08] vpnachev commented on #1749
Could you elaborate?
Why is this needed?

[2019-12-19 09:42] #1705 closed, assigned to vpnachev

[2019-12-22 16:55] rfranzke commented on #1709
Work has been started and pushed to the [`feature/kubernetes-1.17` branch](https://github.com/gardener/gardener/tree/feature/kubernetes-1.17).

**Status**:
* Done from gardener/gardener PoV
* All [provider extensions](https://github.com/gardener/gardener-extensions/tree/master/controllers) need to be adapted to no longer use the `hyperkube` image for the 1.17+ `cloud-controller-manager`s.
* Some C

[2019-12-23 15:18] arghya88 commented on #1450
@sjentzsch what was the network issue?

[2019-12-23 16:53] majst01 commented on #1450
This was a misconfigured network between the seed and the shoot actually.

[2019-12-23 21:29] tareksha opened #1768 "API-only repository for CRDs and client factories"
Hi,

I'm trying to write some go code that uses gardener's generated CRD definitions and client factories. Specifically I'm talking about the package hierarchy under `github.com/gardener/gardener/pkg/client/` and `github.com/gardener/gardener/pkg/apis/`.

However, currently this causes fetching the whole code tree and pumping in a huge amount of indirect dependencies, eventually growing the final

[2019-12-23 22:09] timuthy commented on #1768
Hi @tareqhs,

what do you use for dependency management, e.g. go mod and what does your build process looks like?

I presume that once vendored and pruned (tidy) the final binary should be quite small and building the software fast as well (unless you revendor every time).

[2019-12-24 00:06] tareksha commented on #1768
hi @timuthy,
I use go 1.12 modules, no vendor dirs. My code is a standard kubernetes client code, roughly like this:
[code]
This code goes through some isolated CI flows and takes minutes to bring all the dependencies, eventually building an overly sized binary.

[2019-12-24 08:59] rfranzke commented on #1768
Hm, I don’t understand, you can still prune and tidy all unused packages that come from other repositories but are not used in pkg/apis or pkg/client as @timuthy pointed out. Then you‘ll only remain with the minimum number of required packages used to build these two. I think this is the way to go. I don’t think we can easily „just move the two packages out“. It requires some automatism like k/k h

[2019-12-24 09:59] ialidzhikov commented on #1768
Hi @tareqhs ,

1) Switch to `pkg/client/core/clientset/versioned`

I see you are using
[code]

which is the clientset for the old and deprecated `garden.sapcloud.io` apiGroup. The Gardener team introduced a new apiGroup which is `core.gardener.cloud`. The proper import for you needs to be
[code]

2) To prevent each time module resolution you can vendor once (and probably track your `vendor/` dir i

[2019-12-24 18:06] tareksha commented on #1768
hi @rfranzke, @ialidzhikov,

Thanks for the first suggestion, indeed it was my bad - i have to use the new versions anyway. This didn't really reduce the size - originally my binary grew from 15MB to 39MB due to gardener packages, now it is 38MB. I'm assuming the most of the dependencies are common here. `go mod tidy` didn't help much - it merely simplified `go.mod`.

Regarding the vendoring sugge

[2019-12-24 21:16] ialidzhikov commented on #1768
There is `go mod why -m github.com/foo/bar` which can tell you why given package ended up under your `vendor/`. If there is a package you think that is brought by gardener/gardener and should not be under your `vendor/`, please share. Saying "it's too big" is not a valid argument.
#1770 will be a small improvement from our side. :)

k/k are pushing their `vendor/`, moby/moby also, such as many oth

[2019-12-25 15:58] tareksha commented on #1768
@ialidzhikov please allow me to put it simple. My goal is to use gardener's go APIs as go library for performing various operations on my shoots. The gardener code currently ends up bringing in a large dependency tree and dominating the build process.

I've also made a small research here. Actually I think the issue is actually more about internal package structuring. This is an example source:
[c

[2019-12-27 14:16] ialidzhikov commented on #1605
Ref kubernetes/kubernetes#86666.

[2019-12-27 15:06] rfranzke commented on #1768
The dependency to g/g-extensions is only needed for backwards compatibility and will go away in January 2020, so very soon. Will this solve your problem?
Eventually, everything that is vendored when importing `g/g/pkg/apis` is required to build/compile the binary, so how would putting the packages in a separate repository help with the overall size in the end?

[2019-12-30 08:00] #1213 closed, assigned to nobody

[2019-12-30 08:21] #1482 closed, assigned to timuthy

[2019-12-30 09:08] rfranzke commented on #1871
@timuthy you self-assigned some time back, any progress/updates here?

[2019-12-30 10:00] rfranzke commented on #277
@dkistner @wyb1 what's the plan here?

[2019-12-30 10:02] rfranzke commented on #654
No plans to implement this right now, hence, closing.

[2019-12-30 10:02] #654 closed, assigned to nobody

[2019-12-30 10:03] rfranzke commented on #834
Closing as HVPA got integrated as of #1421

[2019-12-30 10:03] #834 closed, assigned to ggaurav10

[2019-12-30 10:04] rfranzke commented on #993
Closing as respective improvements were implemented in the g/machine-controller-manager.

[2019-12-30 10:04] #993 closed, assigned to nobody

[2019-12-30 10:07] rfranzke commented on #1205
Does this still happen? If the cluster was initially created with incorrect credentials then the respective extension controller cannot create any infra resources, hence, the TF state configmap should be empty. According to my understanding this should allow the extension controller to finalize the `Infrastructure` object. If the cluster was initially created with correct credentials and resources

[2019-12-30 10:07] #1205 closed, assigned to nobody

[2019-12-30 10:10] rfranzke commented on #1352
I think this should be fixed with the introduction of the Gardenlet #1601. Please reopen if you think it's not.

[2019-12-30 10:10] #1352 closed, assigned to nobody

[2019-12-30 10:10] rfranzke commented on #1428
@swapnilgm @amshuman-kr what's the plan here?

[2019-12-30 10:11] rfranzke commented on #1433
@mvladev what's the plan here?

[2019-12-30 10:12] rfranzke commented on #1722
@swilen-iwanow volunteered taking this over 👍

[2019-12-30 10:13] rfranzke commented on #1579
ping @zanetworker

[2019-12-30 10:15] rfranzke commented on #1582
This is also relevant for @majst01's and @Gerrit91's metal provider extension which will create a node network dynamically during its `Infrastructure` reconciliation.

[2019-12-30 10:15] rfranzke commented on #1605
@ialidzhikov what's the status? Will you add the generation to g/g?

[2019-12-30 10:15] rfranzke commented on #1609
Kind of similar to #1749

[2019-12-30 10:17] rfranzke commented on #1627
This is possible as of https://github.com/gardener/gardener-extensions/commit/ddba59f549c2ed50d49bf207242bd56adf126bf2, but only with the new `core.gardener.cloud` API group.

[2019-12-30 10:17] #1627 closed, assigned to nobody

[2019-12-30 10:19] rfranzke commented on #232
Closing in favour of #1631

[2019-12-30 10:19] #232 closed, assigned to plkokanov

[2019-12-30 10:21] rfranzke commented on #1645
According to @timuthy it's possible to use the `cloudRouter` fields with the new `core.gardener.cloud` API group. The old `garden.sapcloud.io` API group will be removed in a few weeks, so let's not invest anything anymore.

[2019-12-30 10:21] #1645 closed, assigned to zanetworker

[2019-12-30 10:28] ialidzhikov commented on #1605
This statement is not true IMO. I think there is no (and should not be) hard requirement for protobuf from kubernetes side. I think it is a bug in k/k and I described my findings in kubernetes/kubernetes#86666. The apiserver currently cannot fallback to the second ContentType in the Accept header. I also think that not all kubernetes built-in types have protobuf generation.
So the status is that I

[2019-12-30 11:10] rfranzke commented on #1605
OK 👍 thank you for the update. Do you think it makes still sense to generate the protobuf on our side anyways?

[2020-01-01 06:35] swapnilgm commented on #1428
I'm fine with seedSelector approach suggested by @amshuman-kr.  But before going forward, just need one more clarification. With `seedSelector` approach it's hard rather not possible to specify that the single seed can have access to multiple backup object store provider. On other hand, with backupInfrastructure resource, we can extend it to array i.e. we can make either `seed.spec.backup.Infrastr

[2020-01-01 10:00] amshuman-kr commented on #1428
Well... not impossible ;-)
The assumption above seems driven by the labels I have specified in the example [above](https://github.com/gardener/gardener/issues/1428#issuecomment-532160595). But the whole point of the `seedSelector` approach is that the landscape admins can choose their own labels to describe their topology of seeds and backup infrastructures.

For example, a set of labels like the

[2020-01-01 12:39] ialidzhikov commented on #1605
Looks like it makes sense.

https://kubernetes.io/docs/reference/using-api/api-concepts/#alternate-representations-of-resources

Will check.

[2020-01-02 12:17] mvladev commented on #1433
We still need the `{{shoot-name}}.kubeconfig` as it's used by admins to grant privileges to the end-users.

The plan is the following:

- If OIDC is enabled add additional `context` and user to the existing `{{shoot-name}}.kubeconfig` with a prefix `-oidc`:

[code]
- if OIDC is enabled, then a `{{shoot-name}}.oidc-kubeconfig` secret is created containing:

[code]

- this additional secret is then

[2020-01-02 16:56] timuthy commented on #1751
We can also think about extending the list above by `endpoints` in `kube-system`. Or at least some other implementation to prevent the following scenario:

- Cluster with `Mutatingwebhookconfiguration` on `endpoints`
- Cluster entered hibernation
- The endpoints of the service backing the `Mutatingwebhookconfiguration` still existed
- KCM tried to renew it's leader election (`renew-deadline` 10s)

[2020-01-06 09:46] rfranzke commented on #1428
@amshuman-kr how does Gardener know which labels to put into the `seedSelector` of the `BackupBucket` when creating it? It probably shouldn't "just take all labels from the `Seed` object". All that start with `backup.gardener.cloud`? If none exist then the `seedSelector` is empty, meaning that all seeds would fit, correct?

[2020-01-06 15:43] ialidzhikov opened #1776 "Cannot enable HVPA feature gate on v1.11.x Seed"
**What happened**:
Cannot enable HVPA feature gate on v1.11.x Seed.

**What you expected to happen**:
To be able to enable HVPA feature gate on v1.11.x Seed.

**How to reproduce it (as minimally and precisely as possible)**:
1. Setup v1.11.x Seed and ensure it is `Ready`.
[code]

2. Enable the HVPA feature gate.
[code]

3. Ensure that the Seed fails to bootstrap.

[code]

[code]

<details><summary

[2020-01-06 17:00] ggaurav10 commented on #1776
[This](https://github.com/gardener/hvpa-controller/blob/0.1.0/Makefile#L24) line is put in the `Makefile` by kubebuilder. Will update with other details after looking into it some more.

[2020-01-07 06:24] #1776 closed, assigned to nobody

[2020-01-07 06:47] #1709 closed, assigned to rfranzke

[2020-01-07 10:29] ialidzhikov opened #1781 "Seed is updated too frequently"
**How to reproduce it (as minimally and precisely as possible)**:

1. Setup Seed and ensure it is ready.
[code]

2. Watch the Seed and ensure that its `.metadata.resourceVersion` is updated on each 3-4 seconds.
[code]

The `AllExtensionsReady` condition `lastUpdateTime` is updated at each  3-4 seconds.

I guess it is not okay to have updates so frequently when the `.controllers.seed.syncPeriod` is

[2020-01-07 10:29] ialidzhikov commented on #1781
/cc @mvladev

[2020-01-07 17:04] #1579 closed, assigned to zanetworker

[2020-01-08 06:30] timuthy commented on #1871
Sorry @rfranzke I haven't had the time to re-evaluate yet. Let me remove the assignment in case somebody else wants to work on it in the meantime.

[2020-01-08 08:03] amshuman-kr commented on #1428
Agreed. It shouldn't.

Yes. To the best of my understanding so far. I understand (correct me if I am wrong) that there is a gap in the current implementation and the potential constraint that only some `seeds` might be able to reach some providers. Either we can encode this missing information via in some configuration (some sort of landscape configuration) passed to Gardener or infer it somehow f

[2020-01-08 08:12] amshuman-kr commented on #1428
If required, we could even avoid hard-coding `backup.gardener.cloud` as the prefix and instead use another label like `prefix.selector.backup.gardener.cloud: some-custom-prefix`.

[2020-01-08 08:58] loewenstein opened #1783 "Support `metadata.generateName` as alternative to `metadata.name`"
**What happened**:
I tried to create a shoot with generated name and got an error.
[code]

[code]

**What you expected to happen**:
I expected to get a Shoot whose name is generated with "prefix" as a prefix.

**How to reproduce it (as minimally and precisely as possible)**:
1. Login to the Gardener Dashboard
1. Click the "+" sign to create a Shoot
1. Switch to YAML tab
1. remove `metadata.name` a

[2020-01-08 11:40] ialidzhikov opened #1784 "Project deletion can be blocked by BackupEntry"
**How to reproduce it (as minimally and precisely as possible)**:
1. Create new project `foo`

2. Create Shoot in this project and ensure that the Shoot is created

3. Delete the Shoot

4. Delete the project

5. Ensure that the Project hangs in `Terminating`

[code]

The backup entry is with status
[code]

So currently the project deletion will pass after `gardenlet.config.controllers.backupEntry.

[2020-01-08 11:44] rfranzke commented on #1784
This is desired behavior, isn’t it? How should it be in your opinion?

[2020-01-08 12:28] ialidzhikov commented on #1784
I didn't know that this is the desired behaviour. Then we can close the issue.

[2020-01-08 12:28] #1784 closed, assigned to nobody

[2020-01-10 09:05] rfranzke opened #1788 "Remove confusing warning logs for CoreDNS"
**What would you like to be added**:
As of #1541 it is possible for end-users to customize CoreDNS. Though, in the 99% case the CoreDNS is *not* customized. Still, it produces regularly the following logs:

[code]

Let's please get rid of these logs to not unnecessary pollute it.

**Why is this needed**:
There is no benefit in seeing these logs and it is confusing for end-users.

[2020-01-10 09:39] zanetworker commented on #1788
the log level is already error only, looks like a bug to me in CoreDNS.
  https://github.com/gardener/gardener/blob/c92bb7252c40564d61db234b5c711e5821b0a498/charts/shoot-core/components/charts/coredns/values.yaml#L40

Should we file an issue? or what do you suggest here?

[2020-01-10 09:41] rfranzke commented on #1788
Sure, if you think it's a bug then file an issue. If it's not a bug then it might make sense to clarify with the CoreDNS community whether there is an option to remove these logs.

[2020-01-10 09:52] wyb1 opened #1789 "Set elasticsearch logging VPA to auto"
**What happened**:
`elasticsearch-logging-0` entered a crashloop backoff due to the `metrics-exporter` sidecar crashing and getting OOM killed. The `metrics-exporter` sidecar has static resources and does not get scaled. We should switch VPA to `auto` for this component to prevent situations like this in the future.
/cc @AndreasBurger

[2020-01-10 09:59] rfranzke commented on #1658
Replaced via #1789

[2020-01-10 09:59] #1658 closed, assigned to nobody

[2020-01-10 14:12] rewiko commented on #1743
Also having multiples disks allow isolation and guarantee the IOPS foreach mounted path.
For example docker and kubelet path should use a different disk, when kubelet is using a lot's of IO because of an EmptyDir writing a lot, the docker volume and docker daemon will not be affected.

[2020-01-10 15:09] #1781 closed, assigned to mvladev

[2020-01-13 11:27] #1582 closed, assigned to rfranzke

[2020-01-14 01:32] mvladev opened #1792 "Token volume projection cannot be used to authenticate agains the apiserver"
**What happened**:

ID tokens from the ServiceAccount Token Volume projection cannot be used to authenticate against the API server.

**What you expected to happen**:

- Out of the box to be able to create projected volumes with tokens signed by the same key which is used to sign the service account tokens (used in `kube-controller-manager`)
- Said token can be used to authenticate against the `ku

[2020-01-14 01:43] mvladev commented on #1792
Another interesting feature coming soon https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190730-oidc-discovery.md

[2020-01-15 15:33] ialidzhikov opened #1807 "Allow ShootedSeed .spec.provider to be specified from "shoot.garden.sapcloud.io/use-as-seed" annotation"
Currently `shoot.garden.sapcloud.io/use-as-seed` allows specifying Seed taints, parts of seed spec.
But the `.spec.provider` section of the Seed is populated according to the Shoot spec.

https://github.com/gardener/gardener/blob/5f4ccba25c2b1912e3eecb0db0a05f5f3e039c6c/pkg/gardenlet/controller/shoot/seed_registration_control.go#L311-L315

It might be handy in some cases to be able to specify `.sp

[2020-01-16 07:14] rfranzke opened #1809 "Enable other authentication mechanisms when Gardenlet deploys itself"
**What would you like to be added**:
Today, when the Gardenlet deploys itself for shooted seeds, it creates a bootstrap token for its twin in the shooted seed. Though, this does not work when the Garden cluster does not support bootstrap tokens in the first place. We should implement also another bootstrap mechanism to support these environments. I suggest to optionally (configurable) generate a s

[2020-01-16 09:58] ialidzhikov opened #1811 "fatal error: concurrent map writes"
**What happened**:
gardener-apiserver panics.

**What you expected to happen**:
gardener-apiserver to do not panic.

**How to reproduce it (as minimally and precisely as possible)**:
No clear steps for now.

**Anything else we need to know?**:

<details><summary>Expand me</summary><br><pre>

[code]

</pre></details>

**Environment**:

- Gardener version: v0.33.7
- Kubernetes version (use `kubectl

[2020-01-16 10:27] timebertt opened #1812 "Local dev setup without k8s cluster"
**What would you like to be added**:
It would be nice to have an option for local development without the need for a local k8s cluster (like docker-for-desktop or kind).
@rfranzke @zanetworker proposed to use standalone` kube-apiserver` and `etcd` containers for that.

**Why is this needed**:
This would make the local setup more lightweight and easier wrt to choice of k8s versions and being indepe

[2020-01-16 10:27] timebertt commented on #1812
/assign

[2020-01-16 13:52] ThormaehlenFred opened #1813 "Support for restricted environment"
**What would you like to be added**:
When running a Gardener landscape in a restricted environment e.g. on AWS GovCloud the cluster admin kubeconfig.yaml files contain a domain which can only be resolved by a DNS from within this restricted environment.

**Why is this needed**:
The default generated kubeconfig.yaml files cannot be used neither in an automation nor with gardenctl. To be able to ope

[2020-01-16 14:50] danielfoehrKn commented on #1813
By "A restricted environment" in this context  I suppose you mean the usage of a DNS domain that cannot be resoled from public internet such as with Route53 private hosted zones.

The shoot kubeconfig per default then contains a DNS entry that resides in the private hosted zone and cannot be used from the outside.

How to make kubeconfig usable from public internet in this case:
- configure the Sh

[2020-01-16 22:22] vpnachev commented on #1812
What container runtime will run the kubernetes and etcd containers on MacOS/Windows?
What would be the advantage over `kind` when MacOS/Windows is used?

If the etcd/kubernetes are running as native binaries(not containers), that will be best, but I'm puzzled that containers has to be used.

[2020-01-17 08:24] rfranzke opened #1814 "Introduce shoot cluster purposes"
**What would you like to be added**:
Today, the Gardener Dashboard allows three purposes: `production`, `evaluation`, `development`. Though, these purposes are only added as a label during creation via the Dashboard. End-users using the programmatic Gardener API usually don't set it/it's not enforced.

Let's now introduce `.spec.purpose` in the `Shoot` specification and a fourth purpose `testing`.

[2020-01-17 08:25] rfranzke commented on #1814
/cc @gardener/dashboard-maintainers  - you should not set the purpose label in the future (we will support this for backwards compatibility for quite some time, i.e., we will take the label's value as `.spec.purpose` if it's set (if an unknown value was specified we will choose the default)), but you should use this new `.spec.purpose` field.

[2020-01-17 08:54] neo-liang-sap opened #1816 "Gardener shoot cluster is unable to change its metadata.annotations while destroying"
Hello,

i found this issue during my utilization of terraform-gardener-provider https://github.com/kyma-incubator/terraform-provider-gardener

In short, if i create an Gardener shoot cluster with some meta.annotations using terraform, i can't destroy this shoot cluster directly , i need to first modify the shoot cluster metadata.annotation as `"confirmation.garden.sapcloud.io/deletion" = true` and

[2020-01-17 08:57] dguendisch commented on #1814
Hmm, I can actually imagine that the TestMachinery would set the purpose `testing` for many clusters and still would use another purpose (probably `evaluation`) for other testruns as well (i.e. for testruns containing logging&monitoring tests, and for release tests where I guess we want the "full" cluster)
But I guess that you primarily had other stakeholders in mind which create shoots as part of

[2020-01-17 09:00] rfranzke commented on #1814
Sure, but your use-case makes also sense, +1

[2020-01-17 12:59] vpnachev commented on #1814
Also, the scheduler can choose most idle seed for these testing shoots.

[2020-01-17 13:32] vlerenc commented on #1814
Ah, OK, that's another creative/interesting idea, too. :-)

[2020-01-17 16:42] #1788 closed, assigned to zanetworker

[2020-01-17 20:53] ialidzhikov commented on #1605
Currently the code-generation related to protobufs generates a `Size()` func to each type. We also have types such as `Volume`, `MachineTypeStorage` which have also field named `Size`. And the compilation fails in a ugly way with
[code]

I described my findings in kubernetes/kubernetes#87336.

[2020-01-18 07:18] jia-jerry opened #1818 "shoot-info chart can't be correctly rendered."
**What happened**:
When shoot name is a numbert  like 123, shoot-info chart is not rendered correctly.
**What you expected to happen**:
 Field *shootName* in the configmap data should be string.
**How to reproduce it (as minimally and precisely as possible)**:
Create a shoot with name 123
**Anything else we need to know?**:

**Environment**:

- Gardener version:
- Kubernetes version (use `kubectl

[2020-01-18 10:04] #1818 closed, assigned to nobody

[2020-01-18 14:45] jia-jerry opened #1820 "Service with externalTrafficPolicy=Local can't be updated"
**What happened**:
Gardenlet can't update kube-apiserver service when externalTrafficPolicy is Local.
Here is the error:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
In alicloud, we implement a webhook to change externalTrafficPolicy to be Local. 2nd round of shoot reconciliation will fail as described
**Anything else we need to know?**

[2020-01-19 19:50] ialidzhikov commented on #1816
Hi @neo-liang-sap,

Gardener requires the `confirmation.garden.sapcloud.io/deletion` to be set, to allow given Shoot to be deleted.

For example when you try to delete a Shoot (without this confirmation annotation set in advance):
[code]

I think the error message
[code]
is pretty descriptive.

The proper deletion should be:
[code]

See https://gardener.cloud/050-tutorials/content/howto/create-del

[2020-01-19 19:50] #1816 closed, assigned to nobody

[2020-01-20 00:04] neo-liang-sap commented on #1816
Hi @ialidzhikov :
Thanks for the explanation, @rfranzke also explain this point to me via slack
-Neo

[2020-01-20 06:35] #1820 closed, assigned to nobody

[2020-01-20 11:08] zanetworker commented on #1812
@vpnachev Docker is the go-to runtime here unless you have other perferences, then we can discuss them.

The advantage over using kind is that you don't need to have a full cluster, no dependencies on kubeadm or delays waiting for a new version support (when 1.18 is available, it is also available in your local setup), you also have other customization options like special alpha features which mig

[2020-01-20 13:27] muenchdo opened #1823 "Provide public Helm repository for Gardener charts"
**What would you like to be added**:
It should be possible to install the Gardener Helm charts from a public Helm repository.

Examples on how to provide this using GitHub Pages:
* https://medium.com/@mattiaperi/create-a-public-helm-chart-repository-with-github-pages-49b180dbb417
* https://github.com/int128/helm-github-pages

**Why is this needed**:
This would greatly simplify managing the Gardene

[2020-01-20 13:56] rfranzke commented on #1823
@ccwienk @RaphaelVogel can you take this one as you are working on the delivery topics?

[2020-01-20 17:29] rfranzke opened #1825 "Use gardener-resource-manager to deploy logging/monitoring stack and seed bootstrapping components"
**What would you like to be added**:
We could use the gardener-resource-manager in the `garden` namespace of seeds to deploy the logging/monitoring stacks for shoots. Currently, we have several `Delete*` functions that are enlisting the resources of each chart which makes the whole monitoring and logging stack code hard to maintain and error-prone.

**Why is this needed**:
This will reduce a lot o

[2020-01-20 19:01] vpnachev commented on #1812
Nice. I was thinking that kind is sufficient for local development, but I have to be honest that I mainly use minikube, so I am not aware of its disadvantages.

So the idea is to implement something similar to kind, but with the full freedom to configure easily everything of the master components, am I right?

[2020-01-21 07:14] timebertt commented on #1812
Yes, the proposed approach would give you a **nodeless** local cluster with much less dependencies than a fully-fledged kind/minikube/docker-for-desktop cluster, greater configuration flexibility and would also be much more lightweight.
The basic idea behind it is very similar to the concept of having a nodeless cluster as the garden cluster (virtual garden) with the main difference being that you

[2020-01-21 09:08] #1809 closed, assigned to rfranzke

[2020-01-21 10:01] #1814 closed, assigned to rfranzke

[2020-01-22 12:12] timebertt opened #1835 "Fix hack/generate-extensions-crds"
**What happened**:
[code]

**What you expected to happen**:
We should either fix the `controller-gen crd` command to be able to generate updated CRDs if the extension types change.
Or we should remove the script, if it is not needed anymore.

**Environment**:

- Gardener version: based on #1832
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2020-01-22 12:20] rfranzke commented on #1835
I think we can remove this script now that we have every extension CRD implemented and intact. It's hard to maintain and probably easier to use the binary directly when needed.

[2020-01-22 15:20] ialidzhikov opened #1837 "shoot.garden.sapcloud.io/expirationTimestamp can be extended to infinity"
**What happened**:
According to #81, lifetime of a Shoot can be extended only up to `.spec.clusterLifetimeDays` from the current date,  but never more.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create `Quota`
[code]

2. Create `SecretBinding`
[code]

3. Create `Shoot` with that `SecretBinding` and ensure that the Shoot gets the annotation `shoot.garden.sapcloud.io/expir

[2020-01-22 15:24] rfranzke commented on #1837
Nice finding 💯, cc @dkistner

[2020-01-22 17:44] Gerrit91 opened #1838 "apiserver crashes on shoot validation when updating machine worker volume to nil"
**What happened**:

I had a shoot with `.spec.provider.workers[0].volume` properly in place. When I then set the volume to nil (which is a valid setting), the apiserver panics with a nil pointer dereference.

The suspicious line is here: https://github.com/gardener/gardener/blob/v0.35.0/plugin/pkg/shoot/validator/admission.go#L1196

**What you expected to happen**:

Shoot validation succeeds witho

[2020-01-23 09:58] danielfoehrKn commented on #1577
As I am currently implementing the proposal, I am also reiterating over the MaintenanceController.

Currently, if the shoots's K8 version does not exist in the cloudprofile (any more) and the K8AutoUpdate is not enabled, then the K8 version will not be bumped.
This can lead to a Shoot being permanently on a version that does not exist any more.

I would therefore suggest:
- Forcefully migrate Shoo

[2020-01-23 11:21] #1565 closed, assigned to nobody

[2020-01-23 12:58] timuthy commented on #1572
As discussed internally with @rfranzke, we see the necessity to add two new fields to our shoot API in order to make the implementation work in a usable way for the user.

Currently shoots only have a list of DNS providers which comes with certain pitfalls because if we'll have multiple providers in the future we still need to identity the "primary" one that is responsible for the shoot domain. Us

[2020-01-23 20:55] vpnachev commented on #1577
This has been clarified as a desired behavior in https://github.com/gardener/gardener/issues/1419.

Please, do not do this. The downgrade is a manual effort and we've already seen couple of broken patch releases.

[2020-01-24 06:30] hardikdr opened #1843 "Expose maxEvictRetries and machineDrainTimeout to shoot-resource from MCM."
**What would you like to be added**:
Currently, MCM exposes `maxEvictRetries` and `machineDrainTimeout` as part of the flags, [refer](https://github.com/gardener/machine-controller-manager/blob/master/cmd/machine-controller-manager/app/options/options.go#L106-L107).  It would be nice to have this exposed as part of the shoot-resource, maybe under `worker` section or separate MCM configuration.

**

[2020-01-24 06:35] hardikdr commented on #1843
/assign @hardikdr @prashanth26

[2020-01-24 06:55] rfranzke commented on #1843
We probably should come up with something similar to https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L13, `workerConfig` or so. So far, there is no contract between Gardener and Extensions that MCM is used for managing the machines. Theoretically, it could be anything else. Consequently, directly exposing these flags would be wrong, instead, the providers should define their

[2020-01-24 06:59] rfranzke commented on #1577
@vpnachev what @danielfoehrKn describes is what was agreed on in [GEP5](https://github.com/gardener/gardener/blob/master/docs/proposals/05-versioning-policy.md). Of course, this GEP assumes proper output qualification is in place and broken patch versions are not even added in the first place.

[2020-01-24 07:27] rfranzke opened #1844 "Admission plugin should validate extension types in resources"
**What would you like to be added**:
We should have an admission controller that triggers for `CREATE` and `UPDATE` requests for `BackupBucket`, `Seed`, and `Shoot` resources. It should validate whether the extension types in the `Shoot` are actually registered in the system.

Concretely,

* for `Shoot`s:
  * the `.spec.provider.type` must be part of the `.spec.resources[]` for `kind=Infrastructur

[2020-01-24 08:58] hardikdr commented on #1843
Yes, this is a very good point, considering the extensions mechanism, MCM specific information should not be directly exposed to shoot. We can then introduce `workerConfig` in parallel and populate the MCM/worker-extension related info there.

Though, I am curious about the following case. At the moment, both the eviction and drain-timeouts are part of the MCM-flags, they could also be part of the

[2020-01-24 09:34] rfranzke commented on #1843
Hm, no, we already have `providerConfig` in the `.spec.provider.workers[]` list (per pool). It should go there. So, if you plan to make it configurable per worker-pool already then I suggest to move it there directly.

[2020-01-24 09:34] schrodit opened #1845 "Wrong defaulting for K8s Dashboard Authentication Method"
**What happened**:
When trying to create a shoot cluster with a kubernetes version < 1.16 and disable basic auth on the api-server; gardener defaults the K8s Authentication method to basic auth.

Gardener wrongly defaults the K8s Dashboard authentication method.
`Shoot.core.gardener.cloud "shoot-xxx" is invalid: spec.addons.kubernetes-dashboard.authenticationMode: Invalid value: "basic": cannot us

[2020-01-24 09:43] #1838 closed, assigned to nobody

[2020-01-24 13:04] rfranzke commented on #1789
@wyb1 any progress?

[2020-01-24 13:46] #1845 closed, assigned to nobody

[2020-01-25 12:45] vlerenc commented on #1577
❗️Please note that our internal wiki Versioning-Policy contains the **actual agreed-upon truth**.

I am saying that, because I am not sure, whether all changes were reflected in the GEP5 (was it updated)?

Forceful updates are described there. If we don't do/include that, we can't rid us of these versions and that is in our very interest. Since we do that only with expired versions, likelihood is

[2020-01-27 08:53] wyb1 opened #1860 "Kibana clickjacking vulnerability"
**What happened**:
Kibana is vulnerable to clickjacking attacks. To prevent this Kibana must set an `X-Frame-Options` header so that it cannot be loaded from third party pages or from an iframe.

[2020-01-27 10:51] rfranzke opened #1862 "Auto-restart controller managers in shoot maintenance time window"
**What would you like to be added**:
We could auto-restart (kill pods) of the controller-manager as self-repair mechanism for shoot clusters with problems. We often see that the {kube,cloud}-controller-managers are hanging and only a pod restart helps. The root cause there is unknown and probably some deadlock situation in the k/k codebase itself, though, the auto-restart could function as work ar

[2020-01-27 10:56] ialidzhikov commented on #1862
Each restart of kube-controller-manager/cloud-controller-manager will force the component to populates its caches once again and will contribute to the rate limits.

[2020-01-27 11:07] rfranzke commented on #1862
That's why we should only do it in the maintenance time window.

[2020-01-27 14:25] #1837 closed, assigned to nobody

[2020-01-28 02:53] ggaurav10 opened #1866 "Kube-controller-manager replica count is 0 when cluster is un-hibernated"
**What happened**:
When a hibernated cluster is woken up, the kube-controller-manager deployment's replica count remains 0. Because of this the nodes are not able to join.

**What you expected to happen**:
The kube-controller-manager replica count should be 1 for a running cluster

**How to reproduce it (as minimally and precisely as possible)**:
When dependency watchdog is not running, wake up a

[2020-01-28 04:19] rfranzke commented on #1866
Can you elaborate under which circumstances this is happening? I have never seen this so far.

[2020-01-28 06:24] ggaurav10 commented on #1866
Please refer: https://github.com/gardener/gardener/pull/1867#issuecomment-579096561

[2020-01-28 09:35] nicklas-dohrn commented on #1860
To set this header, you need to add ONE of the following lines to your kibana config file (config/kibana.yml):
server.customResponseHeaders: {"x-frame-options":"deny"}
server.customResponseHeaders: {"x-frame-options":"sameorigin"}

(the feature to set this header is at least available in Version 6.8 and up of Kibana:
[official documentation 6.8](https://www.elastic.co/guide/en/kibana/6.8/settings.

[2020-01-28 12:45] #308 closed, assigned to nobody

[2020-01-28 12:45] #1811 closed, assigned to nobody

[2020-01-28 12:45] #1835 closed, assigned to nobody

[2020-01-28 12:58] kayrus commented on #1560
fixed in k8s 1.15.8 (1.15.9)

[2020-01-28 12:58] #1560 closed, assigned to nobody

[2020-01-29 11:56] mvladev commented on #1413
I would not do this:

- Let’s Encrypt (LE) CA issuer takes a while to be processed during this time, the API server cannot start, slowing cluster creation.
- With the Gardener API you can create clusters without DNS and LE won’t issue certificates for IP addresses only. So this won't work for the dashboard.
- You can provide your own DNS and let Gardener create the `api.<your-domain>` DNS record,

[2020-01-29 13:03] petersutter commented on #1413
The flag should be added in addition to the current `--tls-cert-file` and `--tls-private-key-file` kube-apiserver flags.

Example:
[code]

When accessing `makesomethingup.external.example.com` you will get the browser trusted certificate presented for the kube-apiserver. This should not affect the cluster internal communication, e.g. for myservice.ns.svc.local I would still get the self signed cer

[2020-01-29 13:08] petersutter commented on #1413
And why not create a DNS entry for the shoot's kube-apiserver under the seed domain and make use of the wildcard domain present on each seed, e.g. like we do it for the Grafana enpoint.
This would solve the other three points that you have mentioned.

[2020-01-29 13:09] mvladev commented on #1413
As I mentioned above - there is **no guarantee** that the `Shoot` cluster will have `external`, `internal` or use any domain.

[2020-01-29 13:14] petersutter commented on #1413
have you seen my second response?

[2020-01-29 13:23] mvladev commented on #1413
The Ingress today is backed by `nginx` and adding a new API server to it would trigger reload of it, shutting down existing connections.

~~Also `TCP` services in nginx-ingress-controller are configured via `ConfigMap`.~~
~~https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/~~

It turns out it's possible via annotation https://kubernetes.github.io/ingress-nginx/user-gu

[2020-01-29 13:56] petersutter commented on #1413
Let's try to solve this without an ingress / nginx.

Assume we have a wildcard certificate on the seed for `*.foo.infra1.seed.example.com`.
For each kube-apiserver a DNS entry get's created like `a-myproject--myshoot.foo.infra1.seed.example.com` that points to the LB of the kube-apiserver, similar like we do it for the Grafana endpoint, but without an ingress beeing involved.

[2020-01-29 14:08] mvladev commented on #1413
Even if this is done, then all `Nodes` must be rotated as they would lose connectivity...

[2020-01-29 14:29] petersutter commented on #1413
Why do you think this is so? This would only be the case if they use `a-myproject--myshoot.foo.infra1.seed.example.com` to talk to the apiserver, which should not be the case.

You would still use the `api.myshoot.myproject.shoot.example.com` in case you need to talk to the api server using the external domain. This would present you the same self-signed certificate as before.

[2020-01-29 15:22] #1866 closed, assigned to nobody

[2020-01-29 17:07] ialidzhikov commented on #1560
Nice, we just hit that this morning. We restarted the kubelet on the nodes as a workaround which fixed the Deployments, StatefulSets and DaemonSets to properly update their conditions.
Good to know that this was fixed in v1.15.9.
Thank you @kayrus !

[2020-01-31 11:27] rfranzke commented on #1768
As the g/gardener-extensions dependency is gone we will close this issue for now. Please reopen if you still have problems.

[2020-01-31 11:27] #1768 closed, assigned to nobody

[2020-02-03 17:30] rfranzke opened #1877 "Shoot conditions should be set to "unknown" when gardenlet is not active anymore"
**What would you like to be added**:
The gardener-controller-manager should set the conditions' status to `Unknown` for shoots running on seeds whose gardenlet is not reporting a heartbeat anymore (similar to how it sets the `GardenletReady` condition on `Seed`s to `Unknown` after a certain threshold).

**Why is this needed**:
Today, when the Gardenlet is no longer active, the shoot conditions for

[2020-02-03 18:23] ialidzhikov opened #1878 "Add validation about spec.kubernetes.kubeAPIServer.oidcConfig"
**What would you like to be added**:
1. Create Shoot with the following partial spec included:
[code]

2. Ensure that the kube-apiserver will fail to start with:
[code]

Basically the same Shoot will fail to delete as it will wait `kube-apiserver` to report readiness.

We could add validation to check whether `oidcConfig.clientID` is set. Probably the same applies also to the other fields.

[2020-02-03 23:28] ialidzhikov opened #1879 "kube-apiserver and kube-controller-manager may run different Kubernetes minor versions"
**What happened**:
Currently we redeploy `kube-controller-manager` during the deletion flow using the `.spec.kubernetes.version`. We do not redeploy the `kube-apiserver` during the deletion flow.
This is somehow an assumption that the Shoot was successfully reconciled with `.spec.kubernetes.version` before the deletion and (hence) that the `kube-apiserver` is using the same version.  The `kube-api

[2020-02-04 05:58] vlerenc commented on #1878
Thanks for helping the user and following up, so that it doesn't happen again. Very nice!

[2020-02-04 07:38] rfranzke commented on #1708
If we add this a good idea would be to run everything inside a container, see also https://github.com/gardener/gardener-extensions/issues/122

[2020-02-04 12:39] vpnachev opened #2144 "Clean up Leaked ClusterRole Resources"
Previously we had leaking cluster roles in the seed clusters
[code]

It was fixed for newly created shoots with https://github.com/gardener/gardener-extensions/pull/378, but a clean-up logic to delete the orphaned cluster roles was not implemented.

Note, there is a logic for the deletion of every chart resource, but it relies that the template contains the real name of the resource with properly

[2020-02-05 09:00] loewenstein commented on #1783
@rfranzke @vpnachev Would that be a good candidate for a PR?
I suppose this one is a pretty small change in the shoot validator and a test to verify it's working as intended.

[2020-02-05 09:11] rfranzke commented on #1783
Definitely. Probably plugin/pkg/shoot/validator has to be changed. @vpnachev wanted to take this, though, I don’t know whether he already started. Maybe he can tell whether it’s possible that you take over. 👍

[2020-02-05 15:59] kayrus opened #1889 "Impossible to delete a cluster with incorrect dns domain"
**What happened**:

If cluster was created with incorrect dns domain, which doesn't have a secret to be used, then this cluster stuck. Adding dns secrets is not possible, because the field is immutable.

**What you expected to happen**:

I have to have an ability to delete this cluster or at least to update a spec and define secrets.

**How to reproduce it (as minimally and precisely as possible)*

[2020-02-05 16:45] timuthy commented on #1889
This supposed to work but since we set the shoot `status` even for an unsuccessful operation (https://github.com/gardener/gardener/pull/1706) the check (https://github.com/gardener/gardener/pull/1378) has been failing.

[2020-02-05 20:27] vpnachev commented on #1783
I still have not started working on this, so a PR is very welcomed.

[2020-02-07 07:52] loewenstein opened #1896 "Allow concurrent creation of SecretBinding and Shoots using the binding"
**What would you like to be added**:
I would like to be able to create Shoots referencing SecretBindings that do not exist yet. Similar to a Pod that is still missing volume mounts, the Shoot controller should watch for the SecretBinding to be available and start Shoot provisioning eventually.

**Why is this needed**:
We want to provide the infrastructure secrets and trigger the Shoot creation wit

[2020-02-07 08:21] vpnachev commented on #1896
Can we even extend this further?
I mean to make the SecretBinding optional and if it is not provided:
* Gardener will provision only the Control Plane and will not take care of the infrastructure behind the shoot cluster, e.g. VPC, subnet, VMs.
* If a secret binding is provided later, Gardener will take care to provision the omitted resources.
* I have to think whether it should be possible to rem

[2020-02-07 08:49] loewenstein commented on #1896
@vpnachev It would be great if the implementation of the basic use case will not be blocked on a discussion of the extended use cases.

[2020-02-07 10:15] rfranzke commented on #1807
Should we close this one for now? Or do you really want to implement this?

[2020-02-07 10:18] ialidzhikov commented on #1807
/close

[2020-02-07 10:18] #1807 closed, assigned to nobody

[2020-02-07 11:34] ialidzhikov commented on #1878
/assign @swilen-iwanow

[2020-02-07 12:07] #1726 closed, assigned to rfranzke

[2020-02-07 19:26] vpnachev commented on #1896
As long as all of this is exposed in public API that is already in beta version, I would like to have a proper design so that there will be no braking changes in the future.

But generally, we have to find out whether it makes sense to enable the option CPaaS(Control Plane as a service) next to KaaS(Kubernetes as a Service) via Gardener.

@vlerenc @marwinski @mvladev @rfranzke @vasu1124 - I would

[2020-02-09 21:14] vpnachev commented on #1896
After one more night thinking about this, I think it will not be nice to use dedicated resource for CPaaS, because it will be hard to offer automatic switching between CPaaS and K8SaaS for existing clusters.

The shoot resource can be re-used in the following way:
* if `shoot.spec.provider.infrastructureConfig` and `shoot.spec.provider.workers` are omitted, this means that shoot cluster is limited

[2020-02-10 05:41] rfranzke commented on #1896
@vpnachev I think this is not an easy discussion and clearly out of the scope of this issue. I suggest to create a different issue/GEP for this discussion.
Though, generally, please keep in mind that the control plane also contains provider-specific components like cloud-controller-manager or CSI controllers which are requiring a) the cloud provider credentials and b) proper configuration. I don't

[2020-02-10 07:39] vpnachev commented on #1896
Sure, I just wanted to understand whether making optional `secretBindingName` can affect future features based on the Shoot definitions. In my last assumption, it is fine to do it.

I will follow up with another issue collecting the info from this one, which can be used for a GEP about CPaaS only.

[2020-02-10 07:40] #1167 closed, assigned to rfranzke

[2020-02-10 11:21] vpnachev opened #1907 "Control Plane as a Service"
**What would you like to be added**:
Gardener is providing a fully manged K8S clusters as a service. It is taking care for everything:
* Infrastructure
* Nodes
* Control Plane with properly configure and enable cloud extensions(ccm, csi)
* Network plugins
* and others

In #1896 I was thinking loudly that the shoot API resource might need to support use-case where the Gardener provides and manages

[2020-02-10 12:36] rfranzke commented on #1907
See my comment: https://github.com/gardener/gardener/issues/1896#issuecomment-583964646

[2020-02-10 13:14] #1536 closed, assigned to rfranzke

[2020-02-10 14:25] vpnachev commented on #1907
This is why I have used

I have not much experience with CCM/CSI, but I believe they can be deployed outside the seed and talk with the k8s API via the "public" endpoint.

[2020-02-10 14:30] amshuman-kr commented on #1907
But doesn't that kinda defeat the CPaaS idea?

[2020-02-10 15:22] dguendisch commented on #1843
Would love to see this feature as well. We are running a lot of e2e tests in our testmachinery cluster and when we update the worker pool we'd prefer to let the tests gracefully terminate to avoid repeating a whole testsuite which can take several hours. Hence in our case we'd probably configure the machine-drain-timeout to something like 4 hours (we can live with the rolling taking a whole day or

[2020-02-11 06:02] #1743 closed, assigned to guydc

[2020-02-11 10:28] c0d1ngm0nk3y commented on #1783
@vpnachev We would like to have a closer look at this. Have you already put some thoughts in this? Our first concerns are regarding the length validation
a) the shoot length (<10) is only validated in the UI - why?
b) the length (project+shoot) is restricted to 21 characters, found [here](https://github.com/gardener/gardener/blob/758566e4aa7fc6063720e4fc1c1a3fc7fd7022c9/plugin/pkg/shoot/validator/

[2020-02-11 11:09] rfranzke commented on #1783
b) is what counts. The dashboard has a slightly different logic for legacy reasons /cc @gardener/dashboard-maintainers

[2020-02-11 11:54] muenchdo commented on #1823
Any progress on this? This would really be extremely useful!

[2020-02-11 13:51] plkokanov opened #1917 "Directly use runtime.RawExtension instead of ProviderConfig in apis"
**What would you like to be added**:
[type_utils:22](https://github.com/gardener/gardener/blob/master/pkg/apis/core/types_utils.go#L22) (and the corresponding versioned definition)
[code]
Could be removed in favour of directly using runtime.RawExtension as of kubernetes 1.16 the listed issues in the workaround have been resolved.

**Why is this needed**:
ProviderConfig was only a temporary workaro

[2020-02-11 13:54] c0d1ngm0nk3y commented on #1783
It seems to us to not be that easy after all. The tricky part is that the name is for example used for [populating the default DNS domain](https://github.com/gardener/gardener/blob/master/plugin/pkg/shoot/dns/admission.go#L254). The `generated name` is not yet available when the `shoot` is admissioned. We are sure that this could be solved, but I am not sure if this is worth the effort for our use

[2020-02-11 14:18] rfranzke commented on #1783
Hm, indeed, that's a problem. Could it be an option to not use the `shoot.Name` for the DNS domain in case `GenerateName` is used, but compute a completely random value?

[2020-02-11 18:37] vpnachev commented on #1907
Why? The infrastructure can be anything and there is no extension that is aware about it, so it has to be handled by the shoot owner.
The Gardener will provide only general purpose components like etcd, kube apiserver, kube controller manager and kube scheduler, and maybe a few others.

[2020-02-12 03:30] jia-jerry opened #1921 "Delete VPN service of shoot when the shoot is hibernated"
**What would you like to be added**:

**Why is this needed**:
To save cost, when a shoot is hibernated, the loadbalancer of VPN could be deleted.

[2020-02-12 06:09] #1878 closed, assigned to swilen-iwanow

[2020-02-12 06:12] amshuman-kr commented on #1907
That depends on what we mean by control-plane. Some infrastructure controllers (cloud-controller-manager, machine-controller-manager etc.) are as much _control-plane_ as the more general purpose components like etcd, kube-apiserver, etc.

A way to host such infra-specific control-plane components adjacent to the general purpose control-plane components would be nice (but, of course, hard). This is

[2020-02-12 06:21] #1877 closed, assigned to rfranzke

[2020-02-12 06:48] vpnachev commented on #1907
I think it is clear that in this case Gardener and its extensions will not take care about VMs, VPC/subnets, cloud-controller-manager, csi and other cloud specific resources. So CPaaS is only the general purpose cloud agnostic components.

[2020-02-12 08:17] ialidzhikov opened #1922 "Cannot deploy kube-apiserver when HVPA feature gate is false"
**What happened**:
To be able to create Shoot with
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create Shoot

2. Ensure that the creation fails with

[code]

**Anything else we need to know?**:

**Environment**:

- Gardener version: master
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Ot

[2020-02-12 08:18] ialidzhikov commented on #1922
cc @rfranzke @tim-ebert

[2020-02-12 08:26] amshuman-kr commented on #1922
cc @ggaurav10

[2020-02-12 09:20] #1922 closed, assigned to nobody

[2020-02-13 08:10] EmoinLanyu opened #1926 "Shoot with wrong ExternalDomain cannot be created nor deleted"
**What happened**:
We have met this problem recently:
A user tried to create a Shoot with a customized domain name, however, he did not also provide the dns credential needed for his customized domain.
His default domain should be like `<shoot_name>.<project_name>.shoot.<gardener_domain>`, however, this is what he set `<shoot_name>.<some_customized_name>.<gardener_domain>`.

So the creation of thi

[2020-02-13 12:58] EmoinLanyu commented on #1926
Sorry, there is a mistake in the description, it should be:
Force delete of the Shoot will work, but we have to clean up a lot of things in etcd. Both `/registry/` and `/registry-gardener/` prefixes contain resources that need deleting.

[2020-02-14 08:09] timuthy commented on #1926
I don't think that removing a shoot automatically because of an error is something we should do. In general, I agree that it should be possible for the user to delete the shoot.

[2020-02-14 08:10] timuthy commented on #1889
Closing this one in favor of #1926.

[2020-02-14 08:10] #1889 closed, assigned to nobody

[2020-02-14 10:23] timebertt opened #1939 "Seed bootstrapping fails"
**What happened**:
#1863 introduced a bug which causes the Seed bootstrapping to fail for a new Seed.

Bootstrapping fails on apllying the newly introduced VPA `kube-state-metrics-vpa` (see [here](https://github.com/gardener/gardener/blob/master/charts/seed-bootstrap/charts/kube-state-metrics/templates/kube-state-metrics.yaml#L47-L58)):
[code]
It looks like the issue here is the order in which we

[2020-02-14 10:30] rfranzke commented on #1939
Duplicate of https://github.com/gardener/gardener/issues/1871?

[2020-02-14 10:39] ialidzhikov commented on #1939
Wasn't this error message present only until the vpa components are started?

[2020-02-14 10:44] timebertt commented on #1939
No, this is the actual Seed Bootstrapping that fails, not the installation of the ControllerInstallation's MR.

The vpa components won't come up, because they are part of the same chart and the chart applier fails and returns before it can apply the vpa components...

[2020-02-14 11:32] rfranzke commented on #1939
In the next reconciliation the VPA CRD is installed and then also the VPA CRs should be able to get created.

The root cause is the same like in #1871, so I suggest closing one issue.

[2020-02-14 12:17] rfranzke commented on #1939
After a deeper look it turns out that the root cause here is indeed completely different: Our Kubernetes applier returns an error if it cannot create/update a resource, causing the subsequent resources to not be considered at all. Hence, it will never succeed because the VPA CRD is coming after the VPA CR for the kube-state-metrics.

Eventually, we should switch to using the gardener-resource-mana

[2020-02-14 14:35] vpnachev commented on #1789
After a whole day with enabled VPA and `kube-controller` running with flag `-v=10` I got the following resources by the VPA:
[code]

The main container `elasticsearch-logging` does not benefit so much - only the cpu limit is increased while the memory is pretty stable. Note, the real usage of cpu is double digit mCPU, so the number  `7640m` seems wrong and too high.

The `metrics-exporter` benefit

[2020-02-14 14:39] rfranzke commented on #1789
Thank you @vpnachev for looking into it. Shall we then close this issue after a PR for increasing the metrics-exporter is filed? Shall we even delete the VPA object for elasticsearch as we don't plan to use it?

[2020-02-14 20:24] vpnachev opened #1942 "vpa-recommender cannot fetch legacy selector"
**What happened**:
On a seed cluster:
[code]

This error is logged with very high rate
[code]

**What you expected to happen**:
To not see logs of severity `error`, or at least they have to be vary rare.

**How to reproduce it (as minimally and precisely as possible)**:
Run a Gardener landscape with version `v1.0.4` and HVPA featureGate enabled.

**Anything else we need to know?**:

**Environment*

[2020-02-17 06:44] timebertt commented on #1939
/assign
I will take care of the fix for the chart applier to return a combined error.

[2020-02-17 08:25] rfranzke opened #1943 "Support custom roles for project members"
**What would you like to be added**:
Today, a member in a `Project` can have exactly one role (`.spec.members[*].role`). This is very limiting and only supports roles that are "hard-coded" in the GCM's project controller. Let's extend this model slightly to a list of roles (`.spec.members[*].roles`; deprecate `.spec.members[*].role`) and allow to add "custom" roles (not known by GCM's project cont

[2020-02-17 08:29] rfranzke opened #1944 "Only deploy required extension controllers to seeds"
**What would you like to be added**:
Over a year ago we have introduced the `ControllerRegistration` and `ControllerInstallation` resources that are used to register extension controllers and to describe installation demands of a specific registration to a specific seed.
The first, naive implementation was done in the interest of time and simply deploys every registered extension controller to eve

[2020-02-17 10:27] donistz commented on #1943
Please, explain why these roles have to be "custom". Is it expected these roles to be used to grant permissions in the Kubernetes clusters managed via the project?

[2020-02-17 11:39] rfranzke commented on #1943
Gardener as of today only supports admin and viewer roles. However, there might extension controllers that e.g. install CRDs into the Garden cluster. Project members should have the ability to CRUD these resources. With the „custom“ role concept it is very convenient for those extension to let the GCM project controllers reconciling the needed bindings.
This is a very small adaption and only about

[2020-02-17 13:09] rfranzke commented on #1650
It might be interesting to look into whether `ResourceQuota`s are possible to be reused for object counts of our Gardener-managed resources (https://kubernetes.io/docs/concepts/policy/resource-quotas/#object-count-quota only states "custom resources"). Is it possible?

For the object size there is https://github.com/kubernetes/kubernetes/pull/83261. We could revendor `k8s.io/apiserver` to `v0.16.7

[2020-02-17 13:52] #1789 closed, assigned to vpnachev

[2020-02-19 07:44] #1939 closed, assigned to timebertt

[2020-02-19 10:01] zanetworker opened #1953 "☂️-Issue for network cost optimizations across Gardener components"
Network cost contribute a large portion of our total costs, therefore, it makes sense to monitor and optimize networking to reflect lower costs.

The optimizations should cover a large umbrella including but not limited to:

**Seeds**
- [x] Gardenlet (https://github.com/gardener/gardener/pull/1928)
- [x] Resource Manager  (https://github.com/gardener/gardener/pull/1931, https://github.com/gardener

[2020-02-19 12:23] timebertt commented on #1953
Would it make sense to also add some dashboards/charts on network usage by different components in addition to the proposed optimizations to gain some more observability on the topic?

@wyb1

[2020-02-19 12:23] amshuman-kr commented on #1953
#1954

I am not able to update the checklist. Could someone with access do it for me?

[2020-02-19 12:57] zanetworker commented on #1953
@tim-ebert

It is possible, but would require some time, so these are the quick fixes. That said, we could definitely create another issue for that.

[2020-02-19 13:20] ialidzhikov opened #1957 "Kibana index went read-only"
**What happened**:
Kibana index went read-only and the hourly-curator was not removing the read-only setting from the kibana index.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Fill the elastic volume and ensure that it updates the indices (including the kibana one) to be read-only on given threshold.

2. Open Kibana and ensure it fails
[c

[2020-02-19 14:27] vpnachev opened #1960 "Make machine image version optional"
**What would you like to be added**:
Make the machine image version optional and default it to the latest available version for the selected distribution.

**Why is this needed**:
Ease shoot creation without necessity to find proper version in the `CloudProfile` resource.

[2020-02-20 10:23] jia-jerry opened #1963 "Default network settings of shoot has conflict with alicloud provider's network"
**What happened**:
I create a shoot in Hangzhou(China) region with default network settings. CoreDNS fails to resolve domains. The errors looks like:
[code]
It seems no response from DNS server.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version:
- Kubernetes version (use `k

[2020-02-20 10:34] mvladev commented on #1963
Well in this case, the worker/service and pod cirds should be outside of the Carrier NAT network? (100.64.0.0/10)

[2020-02-20 10:34] jia-jerry commented on #1963
Some of my findings.
Alicloud seems to use CIDR  100.64.0.0/10. Refer to Carrier-grade NAT (RFC6598). Defautl networks of shoot has conflict with Alicloud provider. Some other proof is in PR: https://github.com/gardener/gardener-extension-provider-alicloud/pull/31

[2020-02-20 10:41] jia-jerry commented on #1963
Yes. After I changed the networks of shoot in Hangzhou region, everything gets back.  Here is my settings
[code]

[2020-02-20 12:05] jia-jerry commented on #1963
It should be fixed in the setup configuration

[2020-02-20 12:05] #1963 closed, assigned to mvladev

[2020-02-20 12:38] rfranzke commented on #1633
Should be fixed by switching to using the central GRM to deploy the seed bootstrapping chart.

[2020-02-21 10:08] #1812 closed, assigned to zanetworker, timebertt

[2020-02-26 09:43] mkoynov opened #1975 "Add specific ServiceAccount for elasticsearch-logging"
**What would you like to be added**:
All elasticsearch-logging StatefulSets should use a specific non-default ServiceAccount. This ServiceAccount should also be created.

**Why is this needed**:
The aforementioned StatefulSet creates privileged Pods with a *default* account. The change will allow privileged containers to be created without the necessity to create a ClusterRoleBinding with a subjec

[2020-02-26 13:09] wyb1 commented on #1953
The grafana in each shoot namespace is not able to access the internet due to network policies, but the grafana in the garden namespace is able to access the internet since no networkpolicies act on it.

[2020-02-26 14:27] vlvasilev commented on #1975
/assign

[2020-02-28 15:49] timuthy opened #1989 "Shoot state sync error for shoots in garden namespace"
**What happened**:

Log from arbitrary Gardenlet:

[code]

The reconciler expects the shoot to be in the `garden-garden` namespace but it's in the `garden` namespace. Project related namespaces cannot generally be restored from the shoot namespace in the seed like done here: https://github.com/gardener/gardener/blob/3377a71c400dd2844b3e88404b4e6981de9c5fdf/pkg/gardenlet/controller/federatedseed/sh

[2020-02-28 15:56] timuthy commented on #1989
@plkokanov I skimmed over #1972 but I think it's not enough to add an exception for the `garden` namespace only (https://github.com/gardener/gardener/pull/1972/files#diff-fc78dcc65e3db85a8d3057f877ac7d9cR145) since projcets can use any other namespace defined in `.spec.namespace`

[2020-03-02 13:09] #1943 closed, assigned to rfranzke

[2020-03-02 15:06] plkokanov commented on #1989
@timuthy thanks for looking into it, I'll adapt the PR

[2020-03-02 17:01] #1572 closed, assigned to timuthy

[2020-03-03 13:17] danielfoehrKn commented on #1813
Adressed in PR #1994

[2020-03-03 13:49] AndreasBurger opened #1997 "Clean up empty projects after a period of inactivity"
**What would you like to be added**:
Deletion of empty projects after an extended period of inactivity.

**Why is this needed**:
On our Canary landscape I see a number of projects that are empty and have no signs of activity for the last 3 weeks (at least). Furthermore, some of these projects occupy apparently "desired" names (something short like `test`, `1`, `project` or similar), resulting in a

[2020-03-03 13:56] rfranzke commented on #1997
How would we get to know whether the projects were unused/inactive for an „extended period“?

[2020-03-04 09:24] AndreasBurger commented on #1997
Just spitballing: Whenever Gardener performs any operation on a project (shoot creation, reconciliation, basically _most anything_) annotate the projects' namespace with a timestamp. Periodically check for namespaces/projects that haven't been touched in the last 90 days and delete them.

Unfortunately, I'm not versed enough with either K8s or Gardener to offer a better suggestion. I'm not even su

[2020-03-04 13:18] ggaurav10 opened #2001 "Make kubelet flag --image-pull-progress-deadline configurable"
**What would you like to be added**:
Make kubelet flag --image-pull-progress-deadline configurable.

**Why is this needed**:
the `--image-pull-progress-deadline` kubelet flag is set to default 1m. If a container image size is very large or the docker image repo is very slow, then image pull can fail.
Refer https://github.com/kubernetes/kubernetes/issues/59376 for more details.
The flag can be made

[2020-03-04 13:24] ggaurav10 commented on #2001
It might also be worth it to revisit docker daemon's `max-concurrent-downloads` flag to speed up downloads.

[2020-03-05 12:24] danielfoehrKn opened #2005 "Enhance Maintenance windows with exclusion times"
**What would you like to be added**:
[Inspired by GKE ](https://cloud.google.com/kubernetes-engine/docs/concepts/maintenance-windows-and-exclusions) I propose introducing the ability to define  exclusion times for the maintenance windows.

In GKE

Similar to GKE we could
- limit the amount of maintenance exclusions configurable
- require a minimum of X days of maintenance availability in a X-day r

[2020-03-05 12:32] #2001 closed, assigned to ggaurav10

[2020-03-05 12:50] rfranzke commented on #1792
Fixed by https://github.com/gardener/gardener/pull/1991

[2020-03-05 12:50] #1792 closed, assigned to nobody

[2020-03-05 12:51] rfranzke commented on #1942
Any ideas?

[2020-03-05 17:16] ialidzhikov opened #2008 "chart.FileContent requires 'manifest-%d' suffix"
**What happened**:
In #1947 we add the `manifest-%d` suffix to the chart files to allow proper splitting and sorting of files that contain multiple manifests.
But this breaks the `FileContent` invocations such as:

[code]

The manifest name is already set to `chart-name/templates/foo.yaml_manifest-0` but the `FileContent` tries to find `chart-name/templates/foo.yaml` which results in empty string.

[2020-03-06 07:31] #2008 closed, assigned to nobody

[2020-03-06 09:04] wyb1 commented on #1942
This error is no longer in the master of branch of vpa. I guess updating should remove this error log. I will check and verify.

[2020-03-06 09:46] rfranzke opened #2014 "Allow fine-granular configuration of multi-zone worker pools"
**What would you like to be added**:
As of today, when a worker pool is split across multiple zones, then Gardener/the `Worker` extension does automatically calculate the respective `minimum`, `maximum`, `maxSurge`, and `maxUnavailable` values in a balancing manner:

[code]

However, some users want to have more fine-granular configuration.

See related thread: https://github.com/gardener/machine-

[2020-03-06 10:10] danielfoehrKn commented on #2005
Closing this issue for now, maybe we can circle back in the future when we figure that the current implementation is not sufficient.

[2020-03-06 10:10] #2005 closed, assigned to nobody

[2020-03-06 10:32] hardikdr commented on #2014
I am curious, what value does [2] bring over [1].
- [1] being already available in Gardener.

1. Worker-pool per zone.
[code]

2. Multi-zonal worker-pools.
[code]

One important benefit I could think of is, better UX.
- The user doesn't need to really replicate the taints/labels/maxSurge info all across.

Wondering if technically, it would make any difference in respecting PDBs.
- In multi-zonal w

[2020-03-06 10:36] rfranzke commented on #2014
I think the main benefit is that the settings (taints, kubelet flags, labels, etc.) don't need to be replicated "just because" the pool shall be distributed across zones.

Regarding PDBs, you are the expert. Technically, for each zone a dedicated machine deployment must be created no matter how we change the worker spec.

[2020-03-06 13:49] mvladev commented on #2014
There must also be rollout of `MachineDeployments`. If specify 3 zones = 3 `MachineDeployments`. If I have the following

[code]

I would expect that only *one* machine from this entire worker set is unavailable at all time. This means that I update the machine image in it, gardener would first update the `MachineDeployment` for `us-west2-a`, and after it succeeds, `us-west2-b` and so...

[2020-03-09 07:53] neo-liang-sap opened #2017 "unable to set values of spec. kubernetes.kubeControllerManager.nodeCIDRMaskSize while creating AWS shoot"
**What happened**:

Hello, when trying to create shoot in AWS using [terraform-provider-gardener](https://github.com/kyma-incubator/terraform-provider-gardener) we found we were unable to set values of spec. kubernetes.kubeControllerManager.nodeCIDRMaskSize, this value keeps the default value of `24`

**What you expected to happen**:

this value could be set to sth like `16`
**How to reproduce it

[2020-03-09 07:56] rfranzke commented on #2017
@danielfoehrKn could you check?

[2020-03-09 09:10] timuthy commented on #1650
Thanks for the suggestion @rfranzke. I gave it a shoot and tested `ResourceQuota` but apparently it doesn't work with `core.gardener.cloud` resources out of the box. We need some further investigation if it'd work by adjusting the Gardener Apiserver.

[2020-03-09 09:38] danielfoehrKn commented on #2017
Yes, it seems like the NodeCIDRMaskSize flag in the example shoot is missing. Thanks for catching.

To your problem:

I tried to recreate your problem without luck. You suggest the Gardener ApiServer always sets the node CIDR mask size to 24 , so I tested that part.
I was able to create a Shoot having Spec.kubernetes.kubeControllerManager.nodeCIDRMaskSize to 16.

![image](https://user-images.githu

[2020-03-09 10:20] neo-liang-sap commented on #2017
Hi @danielfoehrKn
Thanks for looking into this issue.
Yes this issue doesn't exist while using `kubectl apply -f xxx.yaml` - i also success while building shoot in yaml way and able to edit NodeCidrMaskSize.
This issue only occurs while using terraform-provide-gardener way. As in issue description i worked with terraform-provider-gardener dev @rakesh-garimella as he confirmed this field is handled

[2020-03-09 11:04] danielfoehrKn commented on #2017
I think it makes sense to open a bug issue in the kyma terraform-provider and investigate the issue.
From Gardener side it seems to work.

Lets shift the discussion over there.

[2020-03-10 13:23] rfranzke commented on #1989
@plkokanov can this be closed now that #1972 is merged? Or was it unrelated?

[2020-03-10 14:40] ThormaehlenFred commented on #1232
Hi @rfranzke and @ialidzhikov , can this issue be closed then?

[2020-03-10 14:44] rfranzke commented on #1232
Why?

[2020-03-10 14:49] ialidzhikov commented on #1232
There are still
[code]

which are not removed. We tried to remove them but we faced issues on aws.

[2020-03-11 07:30] rfranzke commented on #1454
@nimrodoron and colleagues have filed GEP10 (#1735) and started to implement it as of #1971
The implementation happens in three phases (summary of GEP10, see more details there):

1. Allow using `containerd` as CRI for worker pools (requires containerd >= 1.3), see #1971
1. Extend Gardener's `extensions.gardener.cloud` API with a new `ContainerRuntime` resource that is created as part of the shoot

[2020-03-11 10:04] ialidzhikov opened #2033 "addons-kyma ManagedResource is with condition ResourcesApplied=False"
**What happened**:
addons-kyma ManagedResource is with condition ResourcesApplied=False.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create Shoot with annotation `experimental.addons.shoot.gardener.cloud/kyma: enabled` and all kyma requirements configured - `shoot-dns-service` enabled, `shoot-cert-service` enabled, `.spec.allowPrivilegedC

[2020-03-11 15:21] qiffang opened #2038 "There is no User-Data field in core.Worker"
**What would you like to be added**:
I want to add user data configuration and pass it to VM.
But there is not field in worker object of core.

And i saw gardener use the operationsystemconfig cr to set the userdata field in worker object of extensions version.

If i want to pass user data content to node, does that mean I need to add another operationsystemconfig cr?
**Why is this needed**:

[2020-03-11 18:25] rfranzke commented on #2038
Hi @qiffang, can you elaborate more on your use-case? This is by design - the user-data sent to machines shall only be used to install the bare minimum that is required to run directly on the VM - kubelet, health scripts, logrotate config, not much more. Everything else is installed via Kubernetes means (DaemonSets, ...).

[2020-03-12 01:51] qiffang commented on #2038
@rfranzke
Thanks for your response soon.
I want to pass these data to machines when gardener startup vms.
For example
[code]
Thanks

[2020-03-12 06:59] rfranzke commented on #2038
Hello @qiffang, I'm afraid this is not supported for end-users directly. What could be an option is to enhance the operating system config extensions (https://github.com/gardener/gardener-extension-os-coreos, for example) and allow configuring additional things via the `providerConfig` field in the `extensions.gardener.cloud/v1alpha1.OperatingSystemConfig` resource to allow certain configuration f

[2020-03-12 06:59] majst01 commented on #2038
For mounting local disks you can probably use our csi-lvm which will create pv(c) from local disks.

https://github.com/metal-stack/csi-lvm

[2020-03-12 10:39] mvladev opened #2039 "Delete DNSEntries once a cluster is hibernated"
**What happened**:

1. `Cluster-A` is created. It's `LoadBalancer-A` IP address is (as an example) `1.2.3.4`.
1. `Cluster-A` is hibernated. `DNSEntries` are still available and point to `1.2.3.4`.
1. `Loadbalancer-A` is deleted and cloud provider removes the `1.2.3.4` IP address assignment.
1. `Cluster-B` is created. It's `LoadBalancer-B` IP address is `1.2.3.4` (the cloud provider now reuses the

[2020-03-12 11:23] swilen-iwanow commented on #1631
@vpnachev Can you add additional task for cleanup controller

[2020-03-12 11:26] vpnachev commented on #1631
Done

[2020-03-12 13:29] vlerenc commented on #2014
Yeah, the problem with this:
[code]
...is indeed (as @mvladev noted):
* min/max are distributed over/divided by the number of zones while...
* maxSurge/maxUnavailable is applied directly to all of the zones, i.e. not distributed over/divided by

So, if we want to still offer min/max at pool-level, I would deprecate maxSurge/maxUnavailable at pool-level and allow it only on zone-level. If not provi

[2020-03-12 13:31] vlerenc commented on #2014
For me the good thing to hear was that gardener/machine-controller-manager/issues/400 was a bug and not a general issue. Rolling all machine deployments (=zones) at once is maybe not ideal, but fast. One might like to tweak the timeouts then (multiply them with the number of zones in the worst case).

[2020-03-13 05:21] #1676 closed, assigned to rfranzke

[2020-03-13 06:02] rfranzke commented on #2014
Hm, why are you saying this? In fact, we are trying to distribute these values as well, see https://github.com/gardener/gardener-extensions/blob/20003a93f459408e57c7728668c638d6a44ce520/pkg/controller/worker/machines.go#L179-L189. For maxSurge=maxUnavailable=1 it's not possible, sure, but for larger values it is (cc @zanetworker who was involved in the initial contribution of this division logic I

[2020-03-13 07:03] vlerenc commented on #2014
Well @rfranzke, because a.) I didn't know, but b.) read @mvladev comment in https://github.com/gardener/machine-controller-manager/issues/400#issuecomment-562619356, and c.) missed your "balancing manner" hint. ;-)

But then, why do we want to change that so much (and our API again). If Matin's statement is not right and we try to balance, then why would someone configure that differently between

[2020-03-13 08:11] rfranzke commented on #2014
Yes, agreed. Technically, it's also supported already (just inconvenient as you would have to specify the worker pool multiple times for each zone (instead of one worker pool with all the zones)), hence, it always had low prio/we don't plan to implement it anytime soon unless there is pull/immediate need. I'm OK with closing it, sure, WDYT @hardikdr @mvladev ?

[2020-03-13 17:23] #1944 closed, assigned to rfranzke

[2020-03-14 13:22] rfranzke opened #2047 "SecurityContextDeny admission plugin prevents shoot reconciliation"
**What happened**:
When a shoot enables the `SecurityContextDeny` admission plugin then the shoot reconciliation fails because certain pods cannot be created, for example `coredns`:

[code]

**What you expected to happen**:
Either the shoot reconciles or the API forbids to specify this admission plugin.

**How to reproduce it (as minimally and precisely as possible)**:
Set the `.spec.kubernetes.ku

[2020-03-14 15:48] mvladev commented on #2047
This admission plugin doesn't work with `PodSecurityPolicy` admission plugin which is enabled by default. I'll disable it in the apiserver config

[2020-03-15 09:36] ialidzhikov opened #2048 "gardener-resource-manager cannot merge vpn-shoot Service for alicoud"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Reconcile existing alicloud Shoot with `eu.gcr.io/gardener-project/gardener/gardener-resource-manager:v0.13.0-dev-c5867902113761a64215dfb38a487ffb8e7c16d1`

2. Ensure that the vpn-shoot service cannot be appleid

[code]

[code]

[code]

**Anything else we need to know?**:

**E

[2020-03-15 09:37] ialidzhikov commented on #2048
/assign @mvladev

[2020-03-15 10:09] ialidzhikov commented on #2048
The issues is that gardener/gardener-resource-manager#35 introduces an if check around the spec.healthCheckNodePort and it defaults it only when :
[code]

But the `ExternalTrafficPolicy` is set to Local with MutatingWebhookConfiguration from provider-alicloud, so in this case g/gardener-resource-manager will never use old `.spec.healthCheckNodePort` for the cases with MutatingWebhookConfiguration.

[2020-03-15 11:03] rfranzke commented on #2048
Thanks for catching this, @ialidzhikov, good job!

[2020-03-15 20:35] vpnachev commented on #1953
Regarding OS Processes, they are installed and configured by the image vendor. These daemons are recommended by the respective cloud providers for better integration. For example execution of custom-data, users sync, ssh keys sync and others.

They should be talking only with the internal metadata service, so I believe their traffic is not charged, or at least the data volume should be relatively

[2020-03-16 08:23] mvladev commented on #2048
Well the logic is entirely correct. IMHO, it's up to the mutator to handle this

[2020-03-16 08:25] ialidzhikov commented on #2048
Ok, as the author of the change in the gardener/gardener-resource-manager#35, could you please then adapt the provider-alicloud mutator. Thank you!

[2020-03-16 08:26] zanetworker opened #2052 "PodSecurityPolicy order is not guaranteed"
**What would you like to be added**:
A naming convention for PSPs that follows a lexicographic order for PSPs.

**Why is this needed**:
As of today, we apply default PSPs (namely `gardener.priveleged` and `gardener.unprivileged`) in addition to custom PSPs for every system-component. In some cases the policy order does not apply and  `gardener.privileged` might be chosen over the custom-defined PS

[2020-03-16 08:33] rfranzke commented on #2052
cc @mvladev as you were involved in analyzing an issue last week - WDYT?

[2020-03-16 08:44] rfranzke opened #2053 "Seed Admission Webhook preventing accidental deletion of extension CR(D)s"
**What would you like to be added**:
Let's add a new separate binary to g/g that serves a validation webhook in the seed clusters in order to prevent accidental deletion of extension CR(D)s. It shall only allow the deletion if it was confirmed before (similar to how shoot/project validation is prevented).

**Why is this needed**:
Deleting an extension CRD can have catastrophic and hard-to-recover

[2020-03-16 08:51] mvladev commented on #2052
This happens because the PSP for that system component doesn't match the Pod without mutation and therefore the `gardener.privileged` is chosen as it does not mutate the Pod.

Ordering for PSP (with 1 having more priority than 2):

1. no mutation happens.
   - if multiple chosen -> lexicographic ordering
1. mutation happens.
   - if multiple chosen -> lexicographic ordering

[2020-03-16 08:59] zanetworker commented on #2052
@mvladev AFIK mutation only happens if annotations are defined, or?  there could be a case where  other custom policies are applied that do not require pod mutation, which will result in `gardener.privelged` being chosen.

[2020-03-16 09:12] mvladev commented on #2052
Mutation happens always (because PSP is both mutating and validating admission controller there is a `specMutationAllowed` which is set to `true` on the mutating and `false` on the validating step). See https://github.com/kubernetes/kubernetes/blob/92ea33efc509052b208e094390a363c5dbd21b7c/plugin/pkg/admission/security/podsecuritypolicy/admission.go#L258-L292

Here are all the fields which can be m

[2020-03-16 14:24] zanetworker commented on #2052
still if a custom-policy that requires no mutation is behind `gardener.privileged` in lexicographical order, `garderner.privileged` will be chosen still, and thus is not guaranteed, correct?

[2020-03-16 14:35] mvladev commented on #2052
Yes, this is correct. Custom policies should be before that.

[2020-03-16 15:25] MartinWeindel opened #2054 "Control plane migration: shoot specific owner ids for DNS entries"
**What would you like to be added**:
Gardener and dns-shoot-service should add shoot specific owner ids for their managed DNS entries and corresponding DNS owner objects to allow a smooth control plane migration.

**Why is this needed**:
Both Gardener and the dns-shoot-service manage DNS entries in the control plane of the shoot. If the control plane is moved to another seed, it must not happen, t

[2020-03-16 15:27] MartinWeindel commented on #2054
/cc @mandelsoft
/cc @rfranzke

[2020-03-17 05:46] rfranzke commented on #2054
Hm, I'm confused. If you would use `<garden-id>.gardener.cloud/<shoot-namespace>/<some-suffix>` as owner ID, how can you then move the responsibility for the DNS entries to a new seed? I don't see any seed identifier encoded in the owner ID.

(Just for reference, looking at what we have today, the `TXT` record with the owner ID is `seed.gardener.cloud/<garden-id>/<shoot-name>`.)

If I understand c

[2020-03-17 10:19] mandelsoft commented on #2054
It can be migrated *because* there is no seed identifier in the owner id. Therefore the actually used ids (with the seed) have to be migrated in a first step towards the new ones. But we should generally align on the various ids, otherwise it gets even more confusing. If we would have a defined shoot-id (may be including somehow project and shoot name to be meaningful for human beings) this id cou

[2020-03-17 10:24] mandelsoft commented on #2054
@MartinWeindel do you know whether there is a relevant length limit for text record entries?

[2020-03-17 10:41] rfranzke commented on #2054
Can you explain more? Doesn't not encoding a seed identifier in it lead to the risk that multiple DNS providers act on the same DNS records simultaneously?

Do you have concrete suggestions? We have `.status.uid` and `.status.technicalID` in the `ShootStatus` at this point in time.

[2020-03-17 11:26] mandelsoft commented on #2054
If the owner id would be seed specific , then changing the seed responsibility would result in dangling DNS records, because the DNS controller on the new seed is not responsible. Even worse, if the old controller is still responsible for the owner id , the DNS record would be deleted and then later on recreated by the new controller.
To avoid this the DNS entries need a stable owner id that is bo

[2020-03-17 14:09] #1844 closed, assigned to rfranzke

[2020-03-17 15:48] rfranzke commented on #2054
OK, thanks for clarifying, makes perfect sense.
Let's go back to the concrete problem solution: You suggested `<garden-id>.gardener.cloud/<shoot-namespace>` as ID - the easiest would be to simply keep what we have today: `<garden-id>=<uid-of-garden-namespace>`. Or do you suggest something else? You also mentioned that the garden ID should be added to the `extensions.gardener.cloud/v1alpha1.Cluster

[2020-03-17 17:30] mandelsoft commented on #2054
For the garden identity we've used so far the UID of the garden namespace in the virtual garden cluster. This seems to be ok. The seed identity is not handled uniformly today. may be the seed name plus the UID of the seed object plus the garden id should be incorporated. To avoid long names, it could be calculated, for example the hash over the string `<gardenid>-<seed object UID>` prefixed bay th

[2020-03-17 20:30] danielfoehrKn opened #2058 "Containerd config error"
**What happened**:
Currently the OperatingSystemConfig original generated by the Gardener contains a bug when using containerd.
The systemd drop -in file is malformed.
[This is the code in question](https://github.com/gardener/gardener/blob/ed24799c78bebc1d5d66c5ee542e0da03f9b1cc8/charts/seed-operatingsystemconfig/original/templates/containerd/_containerd.service#L1):

**Result**
- containerd is b

[2020-03-18 06:49] rfranzke commented on #2054
Okay, what do you think about proceeding concretely as follows:

1. Garden ID = `garden-hash(uid of garden namespace in garden cluster)[:10]`, e.g. `garden-a1b2c3d4e5`
1. Seed ID = `seed-hash(gardenID + uid of seed object)[:10]`, e.g. `seed-u7i8o3j765a`
1. Shoot ID = `shoot-hash(gardenID + uid of shoot object)[:10]`, e.g. `shoot-j8nbf7a4e2`
1. Enhancing the `extensions.gardener.cloud/v1alpha1.Clus

[2020-03-18 07:35] timuthy commented on #2054
Seed ID = seed-hash(gardenID + uid of seed object)[:10], e.g. seed-u7i8o3j765a
Shoot ID = shoot-hash(gardenID + uid of shoot object)[:10], e.g. shoot-j8nbf7a4e2

Can we also just take the UID of the object we refer to in each ID, i.e. `Shoot ID = shoot-<uid of shoot object>`?
Kubernetes follows the `ISO/IEC 9834-8` which says:

[2020-03-18 07:49] mandelsoft commented on #2054
I would prefer to not tightly bind the DNS eco-system to the gardener infrastructure. Therefore I proposed a more general config. map not necessarily bound to a shoot  or seed. Therefore the name `cluster-identities`. It should always contain a cluster id and can be enriched by any other kind of id as described above.

It also allows to handle combined shoot/seed clusters or even seeds for multipl

[2020-03-18 07:55] MartinWeindel commented on #2054
Is it really a good idea to introduce a new gardenID? It would also be helpful to provide readable  IDs for seeds and shoots, e.g seed-aws-u7i8o3j765a and shoot--core--foobar--j8nbf7a4e2.

BTW, what do you think about introducing a singleton garden object which has a name (the landscape name) and maybe some other global attributes?
For existing landscapes, the id of the garden namespace will be us

[2020-03-18 08:00] rfranzke commented on #2054
Hm, yes, we should simply put the UID there. If users think it's too long they can cut themselves/hash again.

I don't see any connection between DNS and Gardener. This issue is about introducing IDs for the various layers, Garden, Seed, Shoot. Whether DNS controller use it or not is not related (yes, this was the trigger for this discussion, though, the solution is general).

Your proposal from a

[2020-03-18 08:20] mandelsoft commented on #2054
As I already explained twice, it is a general object that has mandatory and scenario based identity fields. it *always* has (independently of the gardener) a `cluster-id` field. It basically can be provided in any way and scenario. For gardener clusters it is maintained by the gardener, it uses the shoot id, if the cluster is a shoot. It can only be a shoot of one garden, therefore it is uniquely

[2020-03-18 08:47] rfranzke commented on #2054
There is no such terminology in the Gardener API. We have `Seed` and `Shoot` resources, that's it. So let's stick to those, please. What you mean is a cluster that will end-up as a `Seed` object as well. It doesn't/shouldn't matter where it is coming from (whether it was created as shoot or is coming from somewhere else).
Why should we take the UID of the `kube-system` namespace instead of the UID

[2020-03-18 10:59] mvladev commented on #2048
Have a look at https://github.com/gardener/gardener-extensions/pull/622 this is the prerequisite for this issue

[2020-03-18 11:29] mwennrich opened #2063 "Increase scrape_timeout for seed node-exporter job"
**What would you like to be added**:

Either increase the scrape_timeout for the node-exporter job, or make it an configurable helm value:

https://github.com/gardener/gardener/blob/a831162e99516fa33171816b8d571e3855e8ba0c/charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml#L429

**Why is this needed**:

We get following alerts:

`"alertname: PrometheusCantScrape", "instance

[2020-03-18 14:45] mandelsoft commented on #2054
Sure we have soil clusters, that are no shoots, they do not have a cluster Id defined by their shoot identity. Therefore the cluster identity must be something else. We have two possibilities:
- use the seed identity (taken from the garden cluster), but this would be inconsistent with the shooted seeds, here the shoot-id will be used as cluster id. Another problem would be the potential possibilit

[2020-03-18 15:16] petersutter commented on #1650
with https://github.com/gardener/gardener/pull/2032 also `roles` and `rolebindings` need to be considered

[2020-03-18 17:48] ialidzhikov opened #2064 "etcd Secrets blocks the Shoot namespace deletion"
**What happened**:
To be able to delete a Shoot.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Shoot `bar`.

2. Delete the Shoot `bar`.

3. Ensure that the Shoot namespace will hang in `Terminating`:
[code]

There are 3 Secrets with finalizers `druid.gardener.cloud/etcd-druid`
[code]

No etcd CR.
[code]

**Anything else we need to

[2020-03-18 17:48] ialidzhikov commented on #2064
/cc @georgekuruvillak

[2020-03-18 20:28] georgekuruvillak commented on #2064
Fixed in this [PR](https://github.com/gardener/etcd-druid/pull/27).  Ill release a hotfix for druid.

[2020-03-18 20:30] ialidzhikov commented on #2064
Thank you @georgekuruvillak !

[2020-03-19 05:50] rfranzke commented on #2064
Fixed with druid v0.1.5, merged with #2065

[2020-03-19 05:50] #2064 closed, assigned to georgekuruvillak

[2020-03-19 06:51] #2058 closed, assigned to danielfoehrKn

[2020-03-19 18:07] muenchdo commented on #1823
Just checking in on this again. Is there anything I can do to support here?

[2020-03-20 08:29] hoeltcl opened #2074 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2020-03-20 08:30] hoeltcl commented on #2074
Checkmarx medium finding. Could you please resolve?

[2020-03-20 09:10] rfranzke commented on #2074
Done.

[2020-03-20 09:10] #2074 closed, assigned to nobody

[2020-03-20 12:39] rfranzke opened #2076 "Enable ScheduleDaemonSetPods feature gate for 1.11 shoots"
**What happened**:
For < 1.12 shoot clusters the daemon set pods are not scheduled by the kube-scheduler but by the kube-controller-manager. This can lead to situations where pods with a high priority cannot be started properly.

**What you expected to happen**:
(Daemon set) Pods with high priority can be properly scheduled.

**How to reproduce it (as minimally and precisely as possible)**:
1. Cre

[2020-03-20 15:59] timuthy commented on #2054
Meeting with @mandelsoft @MartinWeindel  and @rfranzke with the following result:

1. Garden Cluster:
[code]
2. Seed Cluster:
[code]
3. Shoot Cluster:
[code]

Each `ConfigMap` is created by Gardener. If a seed is a shoot at the same time, the cluster already has a `cluster-identity` and thus won't get another id during the seed registration.

Todo:
- [ ] Implement possibility to configure a <lands

[2020-03-23 04:11] #2048 closed, assigned to mvladev

[2020-03-23 07:05] timuthy commented on #2017
As @danielfoehrKn confirmed, the `nodeCIDRMaskSize` is configurable for KCM through the shoot API. Let's close this issue for now. Please re-open if you see any necessity.

[2020-03-23 07:05] #2017 closed, assigned to danielfoehrKn

[2020-03-23 09:50] zanetworker commented on #2076
For 1.10 and 1.11 clusters enabling this feature-gate won't help much as the kube-scheduler takes node readiness into consideration and fails to schedule Networking pods (e.g., Calico) which will result in a broken setup due to FailedPlacement. As a result, **we recommend upgrading to higher versions of kubernetes (> v1.11) for clusters with these issues where the feature-gate is enabled by defaul

[2020-03-23 09:50] #2076 closed, assigned to zanetworker

[2020-03-23 14:32] ialidzhikov opened #2085 ""make dev-setup" returns "Unsupported Kubernetes Environment""
**What happened**:
`make dev-setup` returns `Unsupported Kubernetes Environment`. With the latest minikube versions the minikube node name is no longer `minikube`.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

- Gardener version: master
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2020-03-23 16:45] vpnachev commented on #2085
I tried to mitigate with the `--extra-config` flags `kubeadm.node-name=minikube` and
`kubelet.hostname-override=minikube` but this did not help.

[2020-03-23 18:44] #2063 closed, assigned to wyb1, ggaurav10, amshuman-kr

[2020-03-24 05:40] #2085 closed, assigned to nobody

[2020-03-24 20:32] timuthy commented on #2038
@qiffang do the proposed solutions work for you or do you want to keep this issue open to discuss further?

[2020-03-25 05:16] #1454 closed, assigned to nobody

[2020-03-25 21:29] ialidzhikov commented on #1605
To workaround the issue described above, we decided to rename the Size fields to something else but preserving the json tag (I hope this would be backwards compatible from API side). Currently I am facing issues with int/*int fields handling as go-to-protobuf tries to assign int64 to int (I described my findings in https://github.com/kubernetes/kubernetes/issues/89492). I need to dig more about it

[2020-03-25 21:47] rfranzke commented on #1605
Thanks Ismail. I think it’s safe to go from int->int32

[2020-03-26 05:57] rfranzke opened #2095 "☂️-Issue for "Support for Kubernetes v1.18""
Kubernetes v1.18.0 has been released, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#v1180

Work has started and pushed to the [`feature/kubernetes-1.18`](https://github.com/gardener/gardener/tree/feature/kubernetes-1.18) branch.

Identified TODOs so far:

| | Status |
| --- | --- |
| ✅| completed |
| ☑️ | partly completed |
| 🚧| in progre

[2020-03-26 09:52] timuthy opened #2097 "Remember last maintenance time"
**What would you like to be added**:
Add a timestamp of the last triggered maintenance to the shoot `status`. The maintenance controller should consider this timestamp for maintenance decisions.

**Why is this needed**:
Gardener executes different operations like infrastructure reconciliation, version updates or shoot reconciliation (config dependent) only during the shoot's maintenance time (`sho

[2020-03-26 09:57] rfranzke commented on #2097
Hm, another maintenance operation should be idempotent modulo the newly (to-be-)introduced restart of the pods. Is the effort of remembering the last maintenance really worth the benefit of avoiding restarts?

I can think of more benefits for end-users (which balance out the question). For example, users would be able to see when the last maintenance was and when the next maintenance is planned. T

[2020-03-26 22:35] danielfoehrKn commented on #1577
Please review [this PR](https://github.com/gardener/gardener/pull/2105) first.

[2020-03-27 12:13] #2039 closed, assigned to mvladev, timuthy

[2020-03-27 13:47] #1862 closed, assigned to timuthy

[2020-03-30 07:27] rfranzke commented on #1751
As suggest by @tim-ebert it makes also sense to improve the "check if endpoints exist" check. Custom operators might manage `Endpoint` objects on their own. Hence, let's ignore all `Endpoint`s that don't belong to `Service`s (identifiable by looking at the `Service` object with the same name like the `Endpoint` object - if no label selector is present then the `Endpoint` was not created by KCM end

[2020-03-30 07:41] rfranzke opened #2145 "ShootNotFailed predicate not working as expected"
**What happened**:
The [`ShootNotFailed` predicate](https://github.com/gardener/gardener-extensions/blob/master/pkg/controller/controlplane/controller.go#L65) does not work as expected.
If a reconciliation starts and errors then it gets requeued with exponential backoff. However, the predicates are bypassed, hence, reconciliation will be tried forever (unless the controller restarts - then the que

[2020-03-30 13:16] vpnachev commented on #2038
@qiffang I am closing this issue now. If you need further assistance, please re-open.

[2020-03-30 13:16] #2038 closed, assigned to nobody

[2020-03-30 13:20] vpnachev commented on #852
With #1617 the DNS can be disabled and DNS domain is not required in favor of simple IP addresses.
@afritzler can we close this issue now?

[2020-03-30 13:45] vpnachev commented on #1609
This information has already been available in the `ShootState` resource for the respective shoot.

I think this can be extended to mutating webhook in the `provider-*` extension which will inject the information in the `shoot-core` managedresource. At the end the `shoot-info` configmap (https://github.com/gardener/gardener/pull/1690) will contain the required info.

What do you think? This will b

[2020-03-30 13:54] rfranzke commented on #1609
I think the idea is that end-users can read it from the Gardener API, not (only) from the within the shoot cluster.

[2020-03-30 14:04] vpnachev commented on #1609
Sure. I was targeting users that do not have access to the Gardener API but only to the shoot API.

[2020-03-30 14:08] afritzler commented on #852
Will do so. Thanks for following up.

[2020-03-30 14:08] #852 closed, assigned to nobody

[2020-03-30 16:33] danielfoehrKn opened #2117 "Enabling CRI on existing worker pool fails"
**What happened**:

Adding gvisor CRI to an existing Shoot worker pool does not install gvisor.

**What you expected to happen**:
Gvisor is successfully installed on the node
- Daemonset "containerd-gvisor" in the Shoot has been scheduled
- Worker nodes are properly annotated

**How to reproduce it (as minimally and precisely as possible)**:
1) Create a Shoot with containerd as container runtime.

[2020-03-31 07:57] mwennrich commented on #565
We also need a ingress network policy for the vpn-shoot, like:

[code]

[2020-03-31 17:23] vasu1124 opened #2120 "Worker pool with swap enabled"
**What would you like to be added**:
Add the option to order worker nodes with swap **enabled**:
* start kubelet with `--fail-swap-on=false`
* bootstrap to configure variable amount of swap space on root disk
* enable swap
* taint node

**Why is this needed**:
The ABAP Server makes use of extended (shared) memory that typically is sized beyond available memory and can deal with swap effectively. T

[2020-03-31 19:00] vpnachev commented on #2120
Could you elaborate these steps

We are seeing users complaining that the local disk is out of space, so how we can take space of this disk for the swap partition? How much it should be? Maybe this should be exposed in the API.

I believe a label is the better option, not taint. Or maybe both, but with what effect should be the taint?

This does not looks to me very container friendly. How much su

[2020-03-31 21:48] zanetworker commented on #2117
The question is, should you enable CRI change in the first place? I am guessing there is much more on the node than just the binaries that needs cleaning up? Maybe first a delete then a create to ensure that all the left-overs are cleaned up?

[2020-04-01 06:03] rfranzke commented on #2117
Why is this? Normally, the kubelet should restart with the new flags and then add the label. Can you check whether the user-data in the `kube-system/cloud-config-<worker-pool-name>` secret is correct (has the correct kubelet flag)?

[2020-04-01 06:04] rfranzke commented on #2117
@zanetworker For existing clusters/worker pools the `containerd` cannot be enabled - a new worker pool must be created for it. Enabling `gvisor` afterwards should not be a problem - it only adds the `DaemonSet` to the shoot (+binaries on the host) as well as a `RuntimeClass` object. Only pods using this runtime class will be handled by gvisor (cc @nimrodoron).

[2020-04-01 06:47] danielfoehrKn commented on #2117
Actually thats a misconception. The kubelet only adds the labels when registering the node. See [here](https://kubernetes.io/docs/concepts/architecture/nodes/) and [here](https://github.com/kubernetes/kubernetes/issues/64899).

Another  problem is, that we need to deploy for each worker pool a ContainerRuntime CRD, unlike today where we deploy one per type (e.g gvisor). The major reason for this i

[2020-04-01 07:07] zanetworker commented on #2117
@rfranzke thanks :)

I misunderstood the issue, I thought its meant for changing containerd  runtimes afterwards for workers.

[2020-04-01 07:08] rfranzke commented on #2117
Aha, ok, didn't know that. Interesting. What do you suggest?

We are aware of it and it was a conscious decision to don't do it for now. @nimrodoron had concerns with deploying mutliple daemonsets.

[2020-04-01 07:20] nimrodoron commented on #2117
Hi,
Regarding the second issue (One ContainerRuntime per type).
The RuntimeClass GVisor should be deployed once for the cluster, so there is no meaning for multiple CRD's. At the moment threre  is no meaning for ProviderConfig, but can be in the future, so we made a check that the provider config must be the same, but for the long term i believe it should be configured for the whole shoot spec and

[2020-04-01 08:51] danielfoehrKn commented on #2117
Sorry I was unaware of that and it caused confusion on my side.  Nevertheless I do not understand why it was implemented this way. Let me point it out below.

As we can configure CRI on the worker level, I find it to be counter intuitive to only allow a provider config on the whole Shoot. I also think thats why it was not designed in the Shoot like this in the first place.

While in gvisor there i

[2020-04-01 08:52] danielfoehrKn commented on #2117
@nimrodoron  what was you concern with multiple deamonSets?

[2020-04-01 08:58] danielfoehrKn commented on #2117
Adding the gvisor label only during reconcile when deploying the worker. Then the provider-extension can take care of labeling the node (I already tested that).

[2020-04-01 08:59] nimrodoron commented on #2117
@danielfoehrKn
I don't have concern with multiple deamonSets. Thanks for the information, sounds good.
Unfortunately for me, it is indeed too late. I got back to other projects and currently doesn't have capacity to proceed with this task.

[2020-04-01 09:09] aylei opened #2123 "OperatingSystemConfigs are cleaned before the MachineDeployment being deleted"
**What happened**:
The background is we were doing some chaos tests for our platform applications, including random killing VMs via the cloud provider API. And the platform application would provision and tear down worker groups in the Shoot cluster frequently.

Yesterday we saw that hundreds of worker machines that should have been released were still running. After some investigation, we noticed

[2020-04-01 09:17] aylei commented on #2123
I've noticed that the reconciling process of `Botanist` has been changed in master, but `ComputeOpreatingSystemConfigs` is still executed before `DeployWorkers`. So I suspect `master` suffers this issue too, though I have not had time to verify yet.

IMHO:
1. `Botanist` should only clean `OperatingSystemConfigs` that is not used by any workers, so at least the cleanup of `OperatingSystemConfigs` s

[2020-04-01 09:28] rfranzke commented on #2123
Hello @aylei, thanks for filing the issue. I haven't fully understood why the `OperatingSystemConfig` is relevant here.
Could it be more the case that you are describing the same like https://github.com/gardener/gardener-extensions/issues/623?

[2020-04-01 09:32] aylei commented on #2123
@rfranzke Thanks for your quick response!

IIUC, `OperatingSystemConfig` is the resources that generate the userdata for the worker nodes to download. I've sshed to the worker node and cannot download the usderdata from kube-apiserver.

For the issue you posted, I think they are not relevant because all the MachineDeployments I described are owned by the same `Worker` object.

[2020-04-01 09:33] rfranzke commented on #2117
I'm fully with you @danielfoehrKn, we discussed the same with @nimrodoron and decided that - due to his time constraints - we postpone it for later. But if you want to take up this task then please go ahead - very welcome.

[2020-04-01 09:37] aylei commented on #2123
After look at the pull request again, I ensure that  https://github.com/gardener/gardener-extensions/issues/623 does solve the problem, thanks @rfranzke !

[2020-04-01 09:38] rfranzke commented on #2123
Yep, correct.

Hm, but your steps for reproduction talk about two worker pools. The `Worker` object always contains the list of all pools. Out of this list the worker controller generates the desired `MachineDeployment`s.
Now, in your reproduction steps you make one of these machines in the `victim` group fail and then you remove the worker group from the pool spec. This means to the worker contro

[2020-04-01 09:38] rfranzke commented on #2123
OK, thanks a lot. Let's keep the issue open until you came back with results. By the way, we plan to release this soon (this week, hopefully).

[2020-04-01 09:39] danielfoehrKn commented on #2117
Sure, will do. @nimrodoron no problem. Thanks a lot for the work already.
How should we proceed[ with the gvisor PR](https://github.com/gardener/gardener-extension-runtime-gvisor/pull/2)? Shall we close it or should we merge it and then I create a PR based on that?

[2020-04-01 09:41] rfranzke commented on #2117
AFAIK @nimrodoron wanted to finish it end of this week or next week. Maybe you can work toegether, or, if @nimrodoron has no(t much) time anymore then hand it over to you?

[2020-04-01 09:42] aylei commented on #2123
Thanks, I will update to that version and keep you posted

[2020-04-01 10:03] nimrodoron commented on #2117
@danielfoehrKn, i think you can continue with GVisor and changes you suggested, thank you. I was just planned to finish a small task there, regarding image vector replacement in local development, but i am not sure i will have time soon and don't wan't you to wait.

[2020-04-01 10:25] danielfoehrKn commented on #2117
@nimrodoron alright, maybe just send me a PN on slack telling me what has to be done for the image vector.

[2020-04-01 11:14] vasu1124 commented on #2120
How much swap? The official recommendation is  2x RAM upto 320GB, depending on the physical RAM:
https://launchpad.support.sap.com/#/notes/1597355
I think in this case, we would add an additional dedicated disk for swap.

Indeed, it is a special use case. You can run multiple ABAP servers/processes on a single node, their parallel usage is tested even with disk/swap pressure, so packaged in contai

[2020-04-01 12:17] majst01 commented on #2120
Adding my comments here even if not involved in this special topic.
I just want to add my $0.02 from long term operations experience.
You will pay operational burden with infrastructure savings!
I am not sure how big your savings on the infrastructure side will be compared to the operational pain you will get. It is almost impossible to solve all heap fightings automatically, things will go bad, r

[2020-04-02 07:10] #2053 closed, assigned to rfranzke

[2020-04-02 09:21] #1605 closed, assigned to ialidzhikov

[2020-04-03 11:04] rfranzke commented on #1989
ping @plkokanov

[2020-04-03 11:04] rfranzke commented on #1975
@vlvasilev any progress?

[2020-04-03 16:23] danielfoehrKn opened #2136 "Improve error message during Shoot creation with expired Kubernetes version"
**What would you like to be added**:
Gardener should return a proper error message when trying to create a Shoot having  an expired Kubernetes version.

**Why is this needed**:

Shoots cannot use versions that have an expiration date in the past.
When a Shoot uses a forbidden version, the Shoot Admission plugin only returns the allowed values, without stating why the chosen version is not allowed.

[2020-04-05 06:47] aylei opened #2139 "Shoot cannot be deleted if the InfrastructureConfig is mis-configured"
**What happened**:
Shoot cannot be deleted if the InfrastructureConfig is mis-configured, the error is:

[code]

**What you expected to happen**:
The shoot is deleted successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Create a shoot with mis-configured `InfrastructureConfig` and delete the shoot.
[code]

**Anything else we need to know?**:
We use a go client to create

[2020-04-05 07:17] rfranzke commented on #2139
Hello @aylei, thanks for filing the issue - can you try with v1.4.0 of the GCP extension? The problem should have been fixed with https://github.com/gardener/gardener-extension-provider-gcp/pull/44.

[2020-04-05 07:23] aylei commented on #2139
@rfranzke Thanks! I cannot for now because I am still using gardener `v1.0.4`, which is not compatible with GCP extension `v1.4.0`. I will schedule an update and try out then.

[2020-04-06 09:37] rfranzke commented on #55
We have seen a case where a user deleted the standard/default `APIService` resources. This is related to this issue (cc @ialidzhikov) - there are resources managed by the Kubernetes components that are worth to be protected.
Though, to me it's not clear how we could implement this if we don't want to "hard-code" the resources that shall be protected.

[2020-04-06 11:21] #2117 closed, assigned to danielfoehrKn

[2020-04-06 14:01] ialidzhikov commented on #2145
I think the that predicates passed to Controller.Watch func are not evaluated when the Reconciler returns non-nil error or Result.RequeueAfter is used.

[2020-04-07 07:13] #1660 closed, assigned to nobody

[2020-04-07 07:13] #1708 closed, assigned to nobody

[2020-04-07 12:58] #1960 closed, assigned to vpnachev

[2020-04-07 19:26] hoeltcl opened #2157 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2020-04-07 19:38] ialidzhikov opened #2158 "ShootValidator admission plugin is mutating"
**Why is this needed**:
Currently the `ShootValidator` admission plugin is doing quite a lot of things which are not simple validation- it is defaulting Shoot spec.networking; it is updating the `shoot.garden.sapcloud.io/tasks` annotation; it is defaulting the machine image version; it is translating spec.kubernetes.version with `<major>.<minor>` to `<major.minor.patch>` and probably other mutatin

[2020-04-08 03:06] rfranzke commented on #2157
done

[2020-04-08 03:06] #2157 closed, assigned to nobody

[2020-04-08 08:54] vlvasilev commented on #1975
@rfranzke sorry I forget. I will take action immediately

[2020-04-08 14:17] dansible opened #2163 "[prometheus-operator/config-reloader] memory.limit_in_bytes: device or resource busy"
**What happened**:
When deploying prometheus onto a seed, we noticed that the `prometheus-config-reloader` container can fail with this error:

[code]

This is a known issue with containers with low memory usage:
https://github.com/helm/charts/issues/11447
https://github.com/coreos/prometheus-operator/issues/2409
https://github.com/coreos/prometheus-operator/issues/2424

**Anything else we need to

[2020-04-08 14:31] rfranzke commented on #2163
Can you explain more? I don't really get the problem from the description. What has the prometheus-operator to do with seeds or shoots? If it is uses too less memory (limit) then why opening an issue here?

The `config-reloader` deployed in our Prometheus instances running in the seed actually has a memory limit of `20Mi`: https://github.com/gardener/gardener/blob/master/charts/seed-monitoring/cha

[2020-04-08 15:09] mvladev commented on #2163
@rfranzke have a look  at https://github.com/gardener/gardener/pull/2164

[2020-04-09 05:28] rfranzke commented on #2163
Thanks @mvladev, got it. Does it make sense to update the issue description to be more accurate about the fact that the problem observed ALSO in the prometheus-operator affects our Prometheus instances as well?

[2020-04-09 06:35] mvladev commented on #2163
Updated

[2020-04-09 06:35] #2163 closed, assigned to nobody

[2020-04-09 11:29] ialidzhikov opened #2168 "Workers count is limited by cloud-config Secret size limit"
**What happened**:
Currently it is not possible to have more than 20-25 (depending on the OS) workers in `.spec.provider.workers`.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Shoot with 25 Worker entries under `.spec.provider.workers`.

2. Ensure that the `Deploying managed resources` step fails with:

[code]

**Anything else we need to know?**:

**Environment**:

[2020-04-09 13:03] aylei commented on #2168
I'd like to help with this

[2020-04-09 13:30] ialidzhikov commented on #2168
Yep, sure. I didn't start any work on this.

[2020-04-13 11:54] vpnachev opened #2175 "Graduate logging feature to beta"
**What would you like to be added**:
The logging stack running in the seed clusters responsible for:
1. logging of the the control plane components
1. seed system components like `gardenlet` and gardener extensions

was initially contributed as an alpha feature an year and a half ago https://github.com/gardener/gardener/pull/176. Since then this components is running without major issues and I pro

[2020-04-14 11:00] vpnachev commented on #2175
@mvladev for the  task
[code]
I think it can be handled independently of this one. There is already an enhancement proposal #999 about it. What do you think?

[2020-04-14 13:52] #1975 closed, assigned to vlvasilev

[2020-04-15 08:46] ialidzhikov opened #2179 "Infrastructure can be reconciled multiple times by Cluster CR updates"
**What happened**:
Currently the infrastructure controller watches also for Cluster resource and maps events. This can lead Infrastucture to be enqueued for reconciliation when it is already reconciling.

https://github.com/gardener/gardener/blob/57ec6754b99f561be5e126cfee4c5f6d0b87b6b8/extensions/pkg/controller/infrastructure/controller.go#L97-L101

**How to reproduce it (as minimally and precise

[2020-04-15 11:37] loewenstein commented on #1751
Is there an eta for this issue?

[2020-04-15 14:09] rfranzke opened #2180 "Allow better control for extension controller deployment"
**What would you like to be added**:
1. Let's lift the restriction that there is only exactly one registered extension for each `kind/type` combination.
1. Allow to not specify any `.spec.resources` (if not yet allowed)
1. Let's enhance the `ControllerRegistration` specification to allow better control for how/when extensions are deployed:

[code]

* The `.spec.resources[].primary` field defaults

[2020-04-15 14:22] timuthy commented on #2180
Sounds good!
Can you elaborate more on`.spec.resources[].primary` despite the validation which is mentioned?

[2020-04-15 14:24] rfranzke commented on #2180
Over all registered `ControllerRegistration`s there must be exactly one per `kind/type` combination that specifies `primary=true`. This is to ensure that we have an active/main controller responsible for the reconciliation of an extension resource. Further controllers that "just want to listen" can set `primary=false` and will still get installed.

[2020-04-15 14:32] rfranzke opened #2181 "Replace the `use-as-seed` annotation with a `spec` field"
**What would you like to be added**:
In order to mark shoots to be used as seed we have the `shoot.gardener.cloud/use-as-seed` annotation. It allows a historically grown, meanwhile awkward, comma-separated list of options.
Let's replace this annotation with a field in the `ShootSpec` where we embed the `SeedSpec` and which will allow to set/control every field of the seed configuration:

[code]

T

[2020-04-15 14:43] rfranzke commented on #1650
Thanks @timuthy for trying it out. Indeed, it won't work with custom API servers. How do we proceed here now? Shall we go ahead with your initial proposal and implement our own resource?

[2020-04-15 14:44] rfranzke commented on #1957
@Kristian-ZH maybe you can help/have an idea here?

[2020-04-15 14:44] rfranzke commented on #2168
Any ideas how to fix it? Having a dedicated MR+secret per worker pool?

[2020-04-15 14:45] rfranzke commented on #2139
@aylei I'm closing this issue for now as I expect that it's fixed, kindly reopen if you still have problems. :)

[2020-04-15 14:45] #2139 closed, assigned to nobody

[2020-04-15 14:46] rfranzke commented on #2052
How do we proceed here? What can we do?

[2020-04-15 14:46] rfranzke commented on #2033
@ialidzhikov this issue requires a new release of g/grm, and then we could close it, right?
/cc @tim-ebert - do you want to drive a new release?

[2020-04-15 14:47] aylei commented on #2168
Yes, the test is a little delayed because I don't have v1.2.1 cluster running so I have to create a new one. But I can open a draft PR to show the basic idea.

[2020-04-15 14:47] rfranzke commented on #1989
I'm closing this issue now as it should be fixed with #1972, kindly reopen if you still see problems.

[2020-04-15 14:47] #1989 closed, assigned to nobody

[2020-04-15 14:49] rfranzke commented on #2168
No worries, take your time, just wanted to check back. Thanks for picking it! :)

[2020-04-15 14:50] rfranzke commented on #1942
@wyb1 did you have a chance to check? If no, @amshuman-kr @ggaurav10 can you help out?

[2020-04-15 14:51] timebertt commented on #2033
Sure, was already on my agenda :)
I am currently waiting for https://github.com/gardener/gardener-resource-manager/pull/46 to be merged before releasing. But we can also proceed now with the release.

[2020-04-15 14:52] rfranzke commented on #1997
As a project in Gardener doesn't make sense without using `Shoot`s or `Plant`s, what do you think about storing last timestamp when all shoots/plants have been deleted? If in the next ~90 days no new shoot/plant was created then we could garbage-collect the project? Maybe we can even add a warning condition to the project that warns users that/when it's gonna be cleaned up?

/cc @gardener/gardener

[2020-04-15 14:53] rfranzke commented on #2033
Great, thanks. As you like - we can also wait, just wanted to check back. Thanks!

[2020-04-15 14:54] rfranzke commented on #1907
I don't think we will work anytime soon on it, nor it's unclear whether this is in the scope of g/g. Shall we close the issue for now? /cc @vlerenc @vasu1124 @gardener/gardener-maintainers

[2020-04-15 14:55] rfranzke commented on #1860
/cc @Kristian-ZH, maybe you can help out if @wyb1 is busy?

[2020-04-15 14:57] rfranzke commented on #1813
Closing as it was fixed with #1994

[2020-04-15 14:57] #1813 closed, assigned to danielfoehrKn

[2020-04-15 14:58] schrodit commented on #1823
Hi @muenchdo ,

we are currently working on a new version of garden setup.
We would also want to have the gardener helm charts in a chart repository for the new installer.

As you are already running your own gardener installation and installer.
It would be great and really helpful if you could make a list of all the required helmcharts.

Our idea would be to create helm charts for every new Garde

[2020-04-15 15:00] rfranzke commented on #1462
@wyb1 what's the status here? Do we still need it?

[2020-04-15 15:03] rfranzke commented on #1241
@amshuman-kr I'm closing this issue now that we have HVPA in place. Kindly reopen if you think it makes sense.

[2020-04-15 15:03] #1241 closed, assigned to nobody

[2020-04-15 15:04] rfranzke commented on #1218
There is a GEP for inverting the VPN direction, https://github.com/gardener/gardener/pull/2170, though, it will only be implemented for new Kubernetes versions. Older versions will still use the VPN solution.

[2020-04-15 15:06] rfranzke commented on #423
I'm closing this issue for now as it has no activity and no implementation and it's also not too critical because, due to Gardener's architecture, the seed cluster will bring up any broken pod quite fast again. We don't have seen issues in the past 3 years where a PDB would have improved the situation. Let's revisit it in case it becomes relevant again.

[2020-04-15 15:06] #423 closed, assigned to nobody

[2020-04-15 15:07] rfranzke commented on #277
@dkistner @wyb1 can you please give an update?

[2020-04-15 15:08] rfranzke commented on #1953
@zanetworker can you explain more what is still open?

I guess "Image Pulls (utilize caching or p2p registeries?)" is covered by #1013 already.

What does """
 Seed Kube-apiservers -> Catalog + Metrics server
 Seed Kube-controller-managers
 Seed Cloud-controller-managers
"""

mean? What should be done?

[2020-04-15 15:18] ggaurav10 commented on #1942
As @wyb1 mentioned, this is removed in latest VPA release.
Please refer: https://github.com/kubernetes/autoscaler/commit/4e07e1eac160759c9c515aa0c7d2db137dd7b06e

Updating the VPA version to 0.7.1 should fix this.
The log error message appears mainly because of wrongly configured log level. We are using VPA `v1beta2`, but VPA first tries to fetch the selector using `v1beta1` selector fetcher, and

[2020-04-15 15:29] timuthy commented on #2180
Hm okay, I don't see a clear benefit of having this safeguard, tbh. It's already up to the Gardener operator to apply the `ControllerRegistration`, so it shouldn't matter if one is "active" or "just want to listen". Or is this rather supposed to be promoted by the authors of the extension?

[2020-04-15 15:54] zanetworker commented on #1953
@rfranzke These three components are more questions than they are conclusions, a better way to read them is:
- Can something be optimised in Seed Kube-apiservers -> Catalog + Metrics server communication?
- Can something be optimised  in Seed Kube-controller-managers -> cloud-providers communication for example (volume controller?)
- Can something be optimised  in Seed Cloud-controller-managers ->

[2020-04-15 17:51] Kristian-ZH commented on #1957
Hmm, we have the following setting in the Configmap of our curator:

[code]

Maybe @vlvasilev can tell us more?

[2020-04-15 18:02] rfranzke commented on #1942
Alright, thanks Gaurav. Can somebody take the task of upgrading VPA then, please? :)

[2020-04-15 18:05] rfranzke commented on #2180
Hm, I was thinking about preventing misconfiguration, i.e., it should not be allowed that somebody registers two different calico controllers. However, you are right, it's just a soft argument has not much value. The operator can easily trick the system by setting `primary=false` anyways, so it doesn't help too much. We can also leave it away, if you desire. The benefit of having it (and defaultin

[2020-04-15 18:08] rfranzke commented on #1953
OK, understood now, thanks.

You mention this because the communication happens over VPN (= internet, in case the seed is a shooted seed)? I don't think this can be prevented/optimized, there simply is the air gap and that's the price. Is it really that much?

This depends on the infrastructure itself (e.g., AWS offers private links), but I don't think it's something that can be handled generally.

[2020-04-15 18:10] vlvasilev commented on #1957
The filter removes the read-only only from indices younger than 2 days.
If the kiban index is older than read-only will not be removed.

[2020-04-15 18:12] rfranzke commented on #1957
@vlvasilev so what do you suggest to prevent kibana index from becoming read-only?

[2020-04-15 18:15] vlvasilev commented on #1957
@rfranzke Prevention is impossible wen the storage is flooded. But we can remove it with another action in the curator configuration.

[2020-04-15 18:24] rfranzke commented on #1957
Understood, thanks. So, that means that we should enhance the curator configuration in order to fix this  issue, correct? Can you/Kristian take this?

[2020-04-15 18:38] vlvasilev commented on #1957
@rfranzke the fix is ready but not tested. I have lost connection to my gcp seed.

[2020-04-15 18:40] rfranzke commented on #1957
:-) Probably it got hibernated?

[2020-04-15 18:50] rfranzke commented on #2095
/close as all PRs relevant for 1.18 support have been merged

[2020-04-15 18:50] #2095 closed, assigned to rfranzke

[2020-04-15 18:52] ialidzhikov commented on #2095
Thank you @rfranzke !

[2020-04-16 02:11] vlerenc commented on #1953
Well, do we already know what the traffic is about? I believe we don't, but finding out is probably a very difficult task, right @zanetworker?

So, is the question whether we stop here - at least for now, because we lack information what to optimise @rfranzke? Then OK, I understand. In the networking area, we have the problem with the failing probes which tear holes into our monitoring and the tun

[2020-04-16 06:03] timebertt commented on #1997
I think it makes sense.
We could enhance the project controller to annotate a project as "to-be-deleted" in case there are no more shoots/plants (probably store the timestamp in an annotation or maybe even in the status).
If we want, we can add a condition, as you proposed, to warn the user, when it's going to be cleaned up.
In the normal project reconciliation the controller can then check, if th

[2020-04-16 06:06] rfranzke commented on #1997
Yep, sounds good, thanks Tim. The condition could also be shown in the Dashboard. Do you think we need the "to-be-deleted" annotation or can this be combined with only the condition?

[2020-04-16 06:13] timebertt commented on #1997
Hmm, I also thought about, if we could combine the two. But I think it makes sense to store the timestamp of the deletion of the last shoot/plant as a reference point for the technical calculations.
If for example we would want to prolong this "grace period" in a new release because we figured that it's too short (and apply it also to projects, that are already marked as "to-be-deleted"), then we

[2020-04-16 06:47] timebertt commented on #1953
We had a discussion about whether we could use [AWS VPC interface endpoints / PrivateLinks](https://docs.aws.amazon.com/vpc/latest/userguide/vpce-interface.html) for reducing outgoing traffic to the AWS APIs. What's the status here? cc @mliepold
I assume, other providers offer similar techniques we could leverage.
Though, I think this would belong more in the respective provider extension repos.

[2020-04-16 06:53] qiffang opened #2186 "Just upgrade the machine-controller-manager component"
I use gardener to manage our kubernetes clusters.
I seems that this PR (
#414) support local ssd for GCP. I just want to upgrade machine-controller-manager and i have build the image with machine-controller-manager latest code. But how should i update the image version of machine-controller-manager in gardener?

Thanks

[2020-04-16 06:53] timebertt commented on #1953
I think, we don't have an issue for that, yet.
I understand, that this issue is probably more about actually reducing the costs and this has rather low/no priority. But I still think it would be good to have some more network observability for sustainably improving here.
Should we open another issue for that?

[2020-04-16 06:58] vpnachev commented on #1953
For the service catalog there is some room for improvements:
1. make the service catalog controller manager to talk directly to apiserver extension instead of going through the k8s apiserver
1. upgrade the service catalog to a version that is using migrated to CRDs
1. remove the service catalog - it seems it is not required and we can do our job even better without it.

For the metrics server - we

[2020-04-16 07:02] vpnachev commented on #2186
You can [overwrite images](https://github.com/gardener/gardener-extension-provider-gcp/blob/2029a82003ed2b533143ab0db77e464e5572d0c7/charts/gardener-extension-provider-gcp/values.yaml#L32-L43) deployed by the provider extension, e.g. you can provide your own build of the MCM.  Here is the default list of images used by the provider https://github.com/gardener/gardener-extension-provider-gcp/blob/m

[2020-04-16 07:04] vpnachev commented on #2186
I am closing now the issue, if you need - please re-open it.

[2020-04-16 07:04] #2186 closed, assigned to nobody

[2020-04-16 07:06] rfranzke commented on #1953
About the service catalog - we don't have it in the open-source project, so I guess the discussion should be moved somewhere else?

I don't think we want to do this - the control plane runs in the seed by design, and CCM is part of the control plane.

[2020-04-16 07:45] timuthy commented on #2180
Agree 👍Thanks for explaining.

[2020-04-16 08:20] vlerenc commented on #1577
As discussed out-of-band, we agreed to first document our "ideal versioning policy" (technical representation) and break down the functionality into 3 components:
1. CloudProfileHelper: A binary that uses the policy and helps an operator to manipulate a cloud profile as file/stream (**not as Kubernetes resource**).
2. CloudProfileAdmissionController: An admission controller that uses the policy an

[2020-04-16 08:22] zanetworker commented on #1953
I guess here communication  will be improved, since we will not be initiating egress traffic if we implement the reverse tunnel approach.  Also what I meant is the service catalog talking egress to the API servers, what @vpnachev already shed light about.

True, but I guess there many things that are not handled generally, and a good place for such optimisations would be the provider extensions, t

[2020-04-16 08:38] timuthy commented on #1997
What we should also consider is the case when new projects are created for preparation. Let's suppose an operator creates some projects for customers or a training session and the projects themselves stay inactive for a few days. While it makes sense to deleted them after some time of inactivity, we probably shouldn't show a warning for self destruction right at the beginning.

[2020-04-16 09:22] rfranzke commented on #1997
For such projects we can probably go ahead and immediately write the deletion time in the status condition. The dashboard can decide when it starts to make the alert/warning visible to the end-user (maybe only after half of the time is elapsed). WDYT?
cc @gardener/dashboard-maintainers

[2020-04-16 09:37] timebertt commented on #1564
As Seeds are an essential part of Gardener's architecture, we should probably add an integration for Shooting a Seed / Seed Bootstrapping.

See https://github.com/gardener/gardener/pull/2786

In that test we could also check, that important resources / components of the Seed are correctly configured, e.g.:
- [ ] monitoring/logging ingresses are configured with the correct operator credentials
- [

[2020-04-16 10:21] mliepold commented on #1953
In order to know if we can use these, we first need to analyse the traffic going through the NAT Gateway. For this we could activate the VPC Flow logs for dedicated NATs. The data would then be available on CloudWatch and could then be analysed together with our Network experts.

[2020-04-16 12:11] rfranzke opened #2193 "Project Tolerations to support limiting access to Seed usage"
**What would you like to be added**:
Today, the `Seed` can have several taints specified in the `.spec.taints[]` list. One of them is `seed.gardener.cloud/protected`. If set, only shoots in the `garden` namespace are allowed to specify the seed in the `.spec.seedName`. However, the `garden` namespace is hard-coded (see #401) which is not good. Also, there is a new use case where specific seeds sha

[2020-04-16 12:32] timuthy commented on #2193
Something that I'm a bit concerned about is that the `Project` is the only resource which carries `Tolerations`. For me it sounds like the namespace of a pod defined the tolerations instead of the pod itself. What about if we follow the [PodTolerationRestriction](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podtolerationrestriction) admission plugin which would me

[2020-04-16 12:34] rfranzke commented on #2193
Sure, sounds great, thanks @timuthy. I see that with the `PodTolerationRestriction` it's possible to specify default tolerations. This would be helpful such that not every `Shoot` needs to specify certain `tolerations` for protected seeds they want to use.

[2020-04-16 13:22] #1957 closed, assigned to nobody

[2020-04-17 16:38] rfranzke opened #2196 "Optionally roll out Shoot spec changes only in the maintenance time window"
**What would you like to be added**:
We should make it optionally configurable in the `Shoot` that changes to the `spec` are only applied during the Shoot's maintenance time window.
Let's introduce `.spec.maintenance.confineSpecUpdateRollout` (defaults to `false`). If set to `true` then changes to the `spec` won't trigger the shoot reconciliation flow. However, setting the `gardener.cloud/operatio

[2020-04-17 17:42] danielfoehrKn opened #2197 "Gardenlet should detect outdated HealthCheck conditions in Extension CRDs"
**What would you like to be added**:

The Gardenlet should detect outdated HealthCheck conditions in the Extension CRDs in the seed.

**Why is this needed**:
The care controller in the gardenlet collects health check conditions from extension CRDs in the Shoot (Worker, Network, Extension) .
Extension providers perform health checks of their deployed resources and write back the health check report

[2020-04-18 08:51] timuthy commented on #1650
I tried out `ResourceQuota` a second time because I saw this PR https://github.com/kubernetes/kubernetes/pull/72384 and partly managed to get the right quota count for shoots:
![image](https://user-images.githubusercontent.com/40451181/79632827-080bf180-8162-11ea-9e34-c2c154e335ab.png)

Unfortunately, it didn't work reliably in my local setup, e.g. outdated resource count or no admission denial af

[2020-04-20 07:10] qiffang commented on #2186
Hi @vpnachev
I try to edit `gardener-extension-provider-gcp ` deployment to add overwrite images, but it always be modified back.
[code]

[2020-04-20 09:39] timebertt commented on #2186
Hi @qiffang

the provider extension resources (specified in the provided chart of the `ControllerRegistration`) are deployed via a `ManagedResource` and reconciled back by [gardener-resource-manager](https://github.com/gardener/gardener-resource-manager).
You can overwrite chart values directly in the `ControllerRegistration` like this, which will be propagated to all `ControllerInstallations`/`Se

[2020-04-20 09:54] georgekuruvillak opened #2203 "VPA for etcd statefulset errors out because of RBAC role not including etcd resources"
**What happened**:
'Error checking if target is a top level controller: Unhandled targetRef druid.gardener.cloud/v1alpha1 / Etcd / etcd-main, last error etcds.druid.gardener.cloud "etcd-main" is forbidden: User "system:serviceaccount:garden:vpa-recommender" cannot get resource "etcds/scale" in API group "druid.gardener.cloud".'
**What you expected to happen**:
VPA should not error out.
**How to re

[2020-04-20 10:25] danielfoehrKn commented on #2180
So the primary extension is responsible for the Extension CRD's lifecycle - create, reconcile, delete?

I would not say that they only 'listen' - but are not responsible for the CRD lifecycle.  Because there are use cases where a secondary extension controller reconciles the CRD and then writes conditions on the CRD as well.

Can we make it part of the task/ issue to document that added behaviour

[2020-04-20 10:27] rfranzke commented on #2180
Yes.

Sure, https://github.com/gardener/gardener/blob/master/docs/extensions/controllerregistration.md should be enhanced accordingly.

[2020-04-20 11:01] timebertt commented on #1751
I will take a look at improving the "check if endpoints exist" check, now.
I think @vpnachev has already put some work (or at least thought) into improving the hibernation validation, so I will not touch that part of the issue.

[2020-04-20 12:38] #2203 closed, assigned to nobody

[2020-04-20 17:06] loewenstein commented on #1751
Currently, clusters with Istio installed cannot be hibernated. That's why I asked. Not sure if endpoints are relevant. @vpnachev is there an eta for relaxing the Pod mutation webhook check?

[2020-04-21 08:54] ialidzhikov opened #2207 "Allow alpha, beta, rc image tags for .spec.kubernetes.version"
**Why is this needed**:
For local development and testing you may want to create cluster with `.spec.kubernetes.version` such as `v1.19.0-alpha.1`, `v1.20.0-rc.1`, `v1.19.0-beta.3`, etc.

**What would you like to be added**:
At first glimpse there are multiple places to the adapted:
- validation on `gardener-apiserver` side prevents adding such version in the `CloudProfile`
- we currently have a h

[2020-04-21 09:50] ialidzhikov opened #2208 "prometheus-0 is in CrashLoopBackOff"
**What happened**:
prometheus-0 is in `CrashLoopBackOff`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Shoot.

2. Ensure the prometheus-0 Pod is in CrashLoopBackOff

[code]

[code]
**Anything else we need to know?**:

**Environment**:

- Gardener version: master
- Kubernetes version (use `kubectl version`): v1.18.2
- Cloud provide

[2020-04-22 03:16] qiffang opened #2211 "Create shoot failed"
The error message is here
[code]

the backup secret is existed in garden namespace

[2020-04-22 04:03] rfranzke commented on #2211
Can you check the `extensions.gardener.cloud/v1alpha1.BackupBucket` resource in the respective seed? What's the status? Can you share the logs of the respective provider extension in this seed?

[2020-04-22 05:46] qiffang commented on #2211
I have found the reason, thanks very much.

[2020-04-22 05:46] #2211 closed, assigned to nobody

[2020-04-22 06:35] #2208 closed, assigned to nobody

[2020-04-22 15:36] danielfoehrKn opened #2218 "Gardener Controller Manager should not delete ControllerInstallation right away"
**What happened**:

When removing the Containerruntime support for a Shoot, the GCM determined that the gVisor extension is not required any more (only Shoot using ContainerRuntimes).
The gVisor extension is removed immediately.

The reconcile of the Shoot fails, because the ContainerRuntime will never be reconciled/ deleted.
**What you expected to happen**:
The GCM waits for the Shoot to be recon

[2020-04-23 04:24] rfranzke commented on #2218
Yes, that's a good finding... thanks for opening the issue. As the computation which extensions are required are done by the GCM that does not necessarily have access to the seed clusters (otherwise, it could simply look into them to see which extension resource kind/types are still pending), one solution would be to store the list of required extensions in the shoot status after a successful reco

[2020-04-23 06:58] timebertt commented on #2218
Nice catch, @danielfoehrKn!

I also don't like the Shoot status field with the required extensions too much.
What if we rather let the gardenlet write a new condition to the `ControllerInstallation`s status, stating if there are still any resources of the respective kind/types in the Seed and take this condition into account when gcm computes the required extensions?

[2020-04-23 07:06] rfranzke commented on #2218
Nice idea, sounds promising.

[2020-04-23 13:43] rfranzke opened #2225 "Lift restriction that prevents switching kube proxy mode"
**What would you like to be added**:
With https://github.com/gardener/gardener/pull/961 we have added validation that prevents changing the kube-proxy mode as there were upstream issue. Those issues are resolved with https://github.com/kubernetes/kubernetes/pull/78775 as of 1.16, so we can lift our restriction as well.

Please only prevent switching the mode if the `v1.14.1 <= kubernetes version <

[2020-04-23 13:43] rfranzke commented on #2225
cc @DockToFuture @ialidzhikov @mvladev @vpnachev

[2020-04-23 19:38] hardikdr opened #2226 "Make kubelet logs accessible."
**What would you like to be added**:
We often see machines can't join the cluster for the timeout period. This can happen due to many reasons, including that of infrastructures.
To debug such situations, we mostly have to ssh into the machines, find the kubelet or other systemd-unit logs.

Opening this issue for the initial brainstorming around:
- Does it make sense to have the kubelet logs easily

[2020-04-23 20:04] ialidzhikov opened #2227 "Shoot deletion flow fails to delete VolumeSnapshot CRDs"
**What happened**:
Currently during Shoot deletion we delete resources such as Services, Deployments, PVCs, etc. The user may also have `VolumeSnapshot`s as we already have multiple provider extensions supporting CSI and `VolumeSnapshot`s.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Shoot.

2. Create a `VolumeSnapshot`.

3. Delet

[2020-04-24 04:45] rfranzke commented on #2227
The underlying problem seems to be that there are CRDs which depend on each other. The `VolumeSnapShot*` CRDs are applied by the extension's `ControlPlane` controller. But this controller does not have a hook to intervene during cluster cleanup at beginning of shoot deletion flow. Generally, there might be also user-defined CRDs having the same problem.

For the deletion we already have the `shoot

[2020-04-24 05:02] rfranzke opened #2228 "Controller restart in maintenance time window does not work"
**What happened**:
With #2098, #2116 a feature was contributed that enables auto-restart of controllers in the shoot maintenance time window. However, it seems that there is a bug. I'm having a shoot that was reconciled `8h` ago:

[code]

However, the {kube,cloud}-controller-managers run since 31h:

[code]

**What you expected to happen**:
The controller-managers should have been restarted `8h` ag

[2020-04-24 05:26] rfranzke commented on #2227
Hm, giving it another thought, a quicker way to solve this particular problem might be to label the `volumesnapshotclasses.snapshot.storage.k8s.io` CRD with the `shoot.gardener.cloud/no-cleanup: "true"` label. It probably only contains configuration (like `StorageClass` or `ConfigMap`), hence, can remain in the system until ETCD is deleted entirely (just guessing).
@ialidzhikov would this work?

[2020-04-24 06:10] rfranzke commented on #2228
It seems that this issue not related to the controller-restart feature but to the maintenance in general. The `lastOperation` of the `Infrastructure` is:

[code]

However, it should be `2020-04-23`. Investigating further...

[2020-04-24 08:59] #2197 closed, assigned to danielfoehrKn

[2020-04-24 11:17] #2228 closed, assigned to rfranzke

[2020-04-24 12:04] rfranzke commented on #2225
@DockToFuture offered to take it over next week

[2020-04-24 14:53] danielfoehrKn opened #2232 "CRI label not added to Shoot nodes"
**What happened**:

Currently the CRI label is not added to the Worker CRD if the Shoot does only specify Worker.CRI.Name, but not Worker.CRI.ContainerRuntimes

**What you expected to happen**:

The Shoot nodes in the CRI enabled worker pool should have the appropriate label.

**How to reproduce it (as minimally and precisely as possible)**:

Create a Shoot with a worker configuration:

Observe th

[2020-04-26 18:47] ialidzhikov commented on #2227
As far as I see the deletion of VolumeSnapshot when its `.spec.volumeSnapshotClassName` is missing should work but currently it does not - ref https://github.com/kubernetes-csi/external-snapshotter/issues/306.

[2020-04-26 20:35] ialidzhikov commented on #2227
@ialidzhikov would this work?

`shoot.gardener.cloud/no-cleanup: "true"` will prevent the CRD to be deleted by gardenlet. Actually the CRD gets deleted by the `extension-controlplane-shoot` ManagedResource.
Giving it another try I see one more problem - `extension-controlplane-shoot` ManagedResource deletes first the RBAC needed for csi-snapshot-controller to acquire leader election, then it waits

[2020-04-27 05:08] rfranzke commented on #2227
Not sure whether I can follow the last comment. As part of shoot deletion flow, the deletion of the `ControlPlane` extension CR will only be triggered after the cluster has been cleaned up successfully: https://github.com/gardener/gardener/blob/master/pkg/gardenlet/controller/shoot/shoot_control_delete.go#L404
Hence, the deletion of `extension-controlplane-shoot` managed resource object will not h

[2020-04-27 06:24] #2232 closed, assigned to nobody

[2020-04-27 07:05] ialidzhikov commented on #2227
The `extension-controlplane-shoot` ManagedResource is created with:
[code]

The CRDs already have this label
[code]

It is actually the ManagedResource which cannot delete the volumesnapshots CRD as part of ControlPlane deletion.

[2020-04-27 07:07] rfranzke commented on #2227
OK, but this can be changed to explicitly add this label only the resources other than the `VolumeSnapshots`, or? Then Gardener would delete it as part of the cluster clean up step, and later the `MR` deletion cleans everything up that remains. WDYT?

[2020-04-27 12:21] #2168 closed, assigned to nobody

[2020-04-28 06:22] ialidzhikov opened #2241 "Healthcheck controller stops tracking CR after hibernation"
**What happened**:
With the improvement gardenlet to detect outdated healthcheck conditions (ref #2197) we noticed that after hibernation the healthcheck actuator do no longer requeue the extension CR.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create Shoot

2. Hibernate the Shoot.

3. Wake up the Shoot.

4. Ensure that the extension CR

[2020-04-28 14:59] #2196 closed, assigned to rfranzke

[2020-04-28 17:11] vpnachev commented on #1631
I am reopening this issue, there are more tasks to be done.

[2020-04-29 08:41] vpnachev opened #2252 "Discard logs for hibernated and testing clusters"
**What would you like to be added**:
Throw away logs for `shoot-*` namespace that have no `elasticsearch` running.

**Why is this needed**:
The `fluentd-es` is buffering pod logs from the whole seed cluster.
For shoot clusters that are hibernated or with `spec.purpose=testing` there is no pods backing the `elasticsearch-logging` service. However, fluentd is not aware of this and is trying to send

[2020-04-29 09:59] danielfoehrKn commented on #2241
Tracking [this discussion](https://github.com/gardener/gardener/pull/2249#discussion_r417142588).

The Healthcheck library should start with health checks as soon as the Shoot has fully woken up (shoot.Status.isHibernated == false) from hibernation.
However the gardenlet does not yet update the Cluster resource in the Seed after each reconciliation (see this [PR](https://github.com/gardener/garden

[2020-04-29 10:05] rfranzke commented on #2241
Hm, probably we have to wait a little longer as this is not a code-wise dependency but a deployment dependency. I guess a few weeks/months we have to keep it.

[2020-04-29 11:16] vlvasilev opened #2253 "☂️The Infrastructure is reconciled constantly when a Shoot is hibernated and terraform apply pod returns error"
**What happened**:
After triggering hibernation the terraform pod is spawn, although it is not needed. If error occurs during execution of this pod this will continue each 30 seconds. During this infinite loop a logs will be created which will load the fluentd buffer with no end point messages, because elastic-search pod is scaled to 0.
**What you expected to happen**:
No terraform should be trigg

[2020-04-29 11:25] rfranzke commented on #2253
The `deployInfrastructure` task is only triggered once during maintenance, so you suggest to not trigger it at all if shoot is hibernated?
Can be done, however, for existing shoots/infrastructures of hibernated clusters there is no way to stop it (other than letting the `.status.lastOperation` being manually patched by an administrator).

[2020-04-29 11:26] danielfoehrKn opened #2255 "Gardenlet crashes waiting for Extension CRD to be deleted"
**What happened**:

When waiting for an Extension CRD to be deleted the gardenlet crashes.
There was a bug introduces in PR #2248 that causes a panic when an Extension CRD does not have a last error in the status.
[This LoC](https://github.com/gardener/gardener/blob/de96851b72d7956e84afc1e5605f75b4f6b01fdd/pkg/operation/common/extensions.go#L260) is causing the issue.

![image](https://user-images

[2020-04-29 11:33] vlvasilev commented on #2253
Can we just put this code snipped

`if cluster.Shoot.Spec.Hibernation != nil &&
      cluster.Shoot.Spec.Hibernation.Enabled != nil &&
     *cluster.Shoot.Spec.Hibernation.Enabled {
return reconcile.Result{}, nil
}`
Into the reconciliation function of the Infrastructure controller?

[2020-04-29 11:51] rfranzke commented on #2253
This would a) require every infrastructure controller to change and b) leave the `Infrastructure` objects in a stale state.

[2020-04-29 12:04] vlvasilev commented on #2253
This issue does not require immediately reaction so after time every infrastructure controller will change eventually.
To prevent Infrastructure objects being in a stale state we could change the LastOperationState to `Aborted` with desription "Abort Reconciliation because Shoot is hibernated" .

[2020-04-29 12:39] aylei opened #2257 "Gardenlet v1.3.* cannot bootstrap on Kubernetes v1.14.9"
**What happened**:
Install gardener v1.3.0 using garden-setup, gardenlet cannot bootstrap:

[code]

upgrade gardenlet to v.1.3.1 manually, error still exists.

**What you expected to happen**:
gardenlet v1.3.0 cannot bootstrap, neither v1.3.1

**How to reproduce it (as minimally and precisely as possible)**:
1. provision EKS v1.14.9
2. deploy gardener v1.3.0 or v1.3.1

**Anything else we need to k

[2020-04-29 13:13] ialidzhikov commented on #2257
MachineClass deletion should be handled by the provider extension?
Which version of provider-alicloud you are using? I guess you are using a version which is not adding the confirmation annotation.

[2020-04-29 13:18] ialidzhikov commented on #2257
Starting from [gardener/gardener-extension-provider-alicloud@v1.8.0](https://github.com/gardener/gardener-extension-provider-alicloud/releases/tag/v1.8.0), it should be able to "confirm" the deletion.

[2020-04-29 13:40] #2255 closed, assigned to danielfoehrKn

[2020-04-29 14:10] aylei commented on #2257
I don't have `provider-alicloud` installed:

[code]

And I suspect the issue is caused by:
https://github.com/gardener/gardener/blob/c019bc088b5252b8a0ba1248bc4e0321e7f8b670/pkg/operation/common/utils.go#L283

The code deletes crds with label selector, but the admissin-controller does not respect the label-selector:

https://github.com/gardener/gardener/blob/c019bc088b5252b8a0ba1248bc4e0321e7f8b67

[2020-04-29 14:13] aylei commented on #2257
I will try to fix this and test it locally

[2020-04-29 14:14] aylei commented on #2257
JOOC, is this issue ever caught in e2e or conformance test?

[2020-04-29 14:15] rfranzke commented on #2257
I'm rather confused why the gardenlet/seed controller tries to delete the AlicloudMachineClass as part of its bootstrapping process?
It shouldn't have the `gardener.cloud/role=hvpa` label, or?

[2020-04-29 14:17] rfranzke commented on #2257
The gardener seed admission controller (GSAC) ignores unexpected CRDs, https://github.com/gardener/gardener/blob/master/pkg/seedadmission/extension_crds.go#L42-L59, so the `DELETE HVPA` CRD call should not matter.

[2020-04-29 14:33] rfranzke commented on #2257
Never seen before. @Diaphteiros did you experience this?

[2020-04-29 14:33] aylei commented on #2257
IIUC, `DELETE CRDs with HVPA labels` matches the case:

[code]

And because it a `DELETE COLLECTION` operation, all crds will be listed by:

[code]

I deployed a patched webhook with verbose logging just now and get this hypothesis verified:

[code]

[2020-04-29 14:36] aylei commented on #2257
I'm testing whether get all hvpa crds and delete them one by one could solve the issue.

[2020-04-29 14:40] aylei commented on #2257
BTW, maybe the way webhook handles `DELETE COLLECTION` is flawed? It receives a `DELETE COLLECTION` request which may specify a label-selector but checks **all** the objects in that namespace for confirmation.

Unfortunately, the `AdmissionRequest` does not have a label-selector in the request:

[code]

emmm, looks like a bug of kubernetes?

[2020-04-29 14:40] rfranzke commented on #2257
OK, nice digging, indeed, this makes sense. As far as I can tell there is no possibility for the webhook server to retrieve the sent label selector when doing `kubectl delete crd -l foo=bar`, or?

[2020-04-29 14:41] aylei commented on #2257
Yes, I think so

[2020-04-29 14:42] rfranzke commented on #2257
Yes, indeed, this looks like a Kubernetes bug... :( Can you open an issue in k/k and reference it here?
As for the fix in g/g what you suggested makes sense for now (first fetch the HVPA CRDs by label and then delete them one by one...)

[2020-04-29 14:43] aylei commented on #2257
sure

[2020-04-29 14:44] rfranzke commented on #2257
Thanks @aylei for your help and contributions!

[2020-04-29 16:04] vpnachev commented on #1997
How about the scenario when an empty project is used to store the cloud credentials and they are referenced with secret bindings from another project?
In this case the empty project will not contain any shoot or plant anytime, just secrets and deleting the project will delete the secrets which possibly will affect the existing shoot clusters in the other project.

[2020-04-29 16:09] aylei commented on #2257
Okay, this has been fixed in kubernetes `v1.15` by https://github.com/kubernetes/kubernetes/pull/76346

Does gardener have a version requirement for seed cluster?

[2020-04-29 16:20] #1907 closed, assigned to nobody

[2020-04-29 17:18] rfranzke commented on #2257
The minimum seed version is 1.11 at the moment. However, we are planning to revendor the k/k dependencies soon to kubernetes-1.18, at this point in time we would bump the minimum garden cluster version to 1.16. Probably in the same Go we could mark the minimum seed version to 1.15/1.16 as well then (cc @mvladev). For now, we still want to support < 1.15 seeds, so I guess the fix you described earl

[2020-04-30 02:18] aylei commented on #2257
sounds good!

[2020-04-30 06:52] timebertt commented on #2257
@aylei
I am currently working on https://github.com/gardener/gardener/issues/1633 and are in the process of migrating the seed bootstrap to using a ManagedResource. I have already deleted the `DeleteHvpa` function (which is causing the problem) in my branch, as it is not needed anymore (gardener-resource-manager cleans all objects, that have been removed from the ManagedResource).
So I think, if y

[2020-04-30 06:57] rfranzke commented on #2257
I think it'd still be fair to release a hotfix of v1.3 to allow using it without HVPA feature gate enabled. Your improvement will only make it into a new minor release, @tim-ebert

[2020-04-30 07:08] timebertt commented on #2257
Sure, good point

[2020-04-30 16:09] #1783 closed, assigned to swapnilgm

[2020-05-01 14:22] vlerenc commented on #2120
@vasu1124 Is that a hard requirement? Otherwise I would prefer not to do it.

[2020-05-02 05:08] vlerenc commented on #1997
Have you seen that in the wild @vpnachev? However, it is a possibility that such projects exist. Then again, if the secret is referred to by another non-orphaned project we could count that as still in use, because there is a shoot that (indirectly) refers to this project's secret and we shouldn't/even can't (?) delete it anyway. In addition, if the user can reset the project condition, it would b

[2020-05-02 05:16] vlerenc commented on #2253
Wasn't the problem in this case that the TF pod failed, again and again (unauthorised or something)? The pod was recreated every 30 seconds or so, always creating logs, always pushing into fluentd that could never ship its logs out and was at max capacity all the time. I think we have a timeout of 24h or so for an operation, but then again, in 24h the next maintenance is triggered.

It would be al

[2020-05-02 05:34] vpnachev commented on #1997
Yes, I have seen it.
Personally I have also advised several peoples to use this approach when they want only very few people to manage the cloud credentials but a lot more to use them to create shoot clusters.

[2020-05-02 05:39] vpnachev commented on #1997
Sounds like an excellent plan.

[2020-05-03 15:39] ialidzhikov opened #2272 "Shoot care test clean up logic is not executed on interrupt signal"
**What happened**:
The Shoot care test scales the kube-apiserver deploy to 0 replicas and waits until this is reflected in the  appropriate Shoot condition. In a defer, the test executes clean up logic and scales back the kube-apiserver replicas to the original count. Ref https://github.com/gardener/gardener/blob/v1.3.1/test/integration/shoots/care/shoot_care.go.

We see cases in which the whole t

[2020-05-03 20:25] ialidzhikov opened #2274 "Document dependency-watchdog component"
Currently I cannot find any docs about dependency-watchdog. Currently it seems to be:
1. probing the kube-apiserver and scaling down the kube-controller-manager to 0 replicas when the kube-apiserver is reachable internally but unreachable externally
1. restarting control plane components in `CrashloopBackoff` once etcd is again available

[2020-05-03 20:25] ialidzhikov commented on #2274
/area/documentation

[2020-05-04 07:18] vpnachev commented on #2274
/assign @amshuman-kr

[2020-05-04 07:19] vpnachev commented on #2274
Should we move this issue to https://github.com/gardener/dependency-watchdog ?

PS. I am not authorized to do it.

[2020-05-04 10:00] rfranzke commented on #2253
Yes, that's another improvement in the `Infrastructure` controllers of the various extensions that are using Terraform. I'll look into it as part of the other planned improvements (e.g., today, we sometimes don't display the actual error messages because of non-optimal timeouts).

[2020-05-04 10:41] vlerenc commented on #2253
Excellent, thanks. Is there a ticket to refer from here, because this one is closed, but the subject "Infrastructure is reconciled constantly when a Shoot is hibernated and terraform apply pod returns error" makes sense.

[2020-05-04 10:47] mvladev commented on #1751
https://github.com/gardener/gardener/pull/2270

[2020-05-04 10:55] rfranzke commented on #2253
No, I'll reopen this issue and refer to it from the various extension repos.
/reopen

[2020-05-04 14:30] danielfoehrKn commented on #2272
Thanks for finding  the issue!
The reason why it is implemented with a defer function and not with ginko.AfterSuite() is that the [shoot suite](https://github.com/gardener/gardener/blob/34f3c865f5bd9fb21a9554fa7a92e4aa2f8ed6a6/test/suites/shoot/run_suite_test.go) already registers a ginko.AfterSuite() and the test machinery currently does not allow to add logic  to it. There can be only on ginko.A

[2020-05-04 18:27] ialidzhikov commented on #2274
Why? Afaik dependency-watchdog provides only the framework, the concrete probes are on g/g side.

[2020-05-04 18:59] schrodit commented on #2272
There are two things to consider here:

1. ginkgo.AfterSuite is definitely something that we need and it would solve the described problem if only one test is executed.
I already wanted to  implement the possibility to add AfterSuite functions to the shoot suite but there was no need. If we need it now I can add it to the framework.

2. But we also need a cleanup function that runs when the test f

[2020-05-04 19:01] #2241 closed, assigned to danielfoehrKn

[2020-05-04 20:05] vpnachev commented on #2274
Because I do not see any documentation there, too.
So we have to have something on both places.

[2020-05-05 18:36] danielfoehrKn opened #2287 "Sync kube-apiserver endpoints to allow-to-seed network policy"
**What would you like to be added**:

Do not block endpoints of the seed API server if they are in the private IP range.
The Gardenlet should have a controller that syncs the private IPS of the seed API server endpoints to [this network policy](https://github.com/gardener/gardener/blob/5e2fc0c68cd2f4d9b6605f2143b67692e88270f4/charts/global-network-policies/templates/allow-to-seed-apiserver.yaml).

[2020-05-06 05:29] rfranzke commented on #2193
After @timuthy's proposal I checked again the `PodTolerationRestriction ` admission plugin and would adapt above proposal as follows:

[code]

While the `PodTolerationRestriction` is using annotations on the `Namespace` our `ShootTolerationRestriction` could use `.spec.tolerations` in the `Project` resource.

* The `.spec.tolerations.defaults` can be edited by everybody, but only those tolerations

[2020-05-06 08:02] ThormaehlenFred commented on #1232
@rfranzke and @ialidzhikov What is the outcome of your discussion? Will the ciphers stay, because they are required for AWS?

[2020-05-06 11:51] rfranzke commented on #1232
There was no discussion, the last update is what @ialidzhikov wrote with https://github.com/gardener/gardener/issues/1232#issuecomment-597127897. I don't think any further actions have happened yet. So, yes, for now they'll have to stay.

[2020-05-06 14:10] dansible opened #2293 "Validate cloudprovider credentials"
**What would you like to be added**:
Add validation for `cloudprovider` secret

**Why is this needed**:
Currently, when uploading secrets via the UI, all secret fields are required and validated. However, when creating those credentials via the `cloudprovider` secret, there is no validation. This results in errors such as:

[code]

[2020-05-06 14:16] dansible opened #2294 "Increase kube-apiserver replicas and add anti-affinity"
**What would you like to be added**:
Increase the default number of replicas for the API server deployment to 3 and add anti-affinity rules for the apiserver pods such that they are each running on a different node

**Why is this needed**:
If the node where the apiserver is running is not working, this causes access to the apiserver for the shoot to go down

[2020-05-06 14:19] rfranzke commented on #2293
g/g does not know anything about cloud provider credentials.
Isn't it kind of similar to https://github.com/gardener/gardener-extension-provider-aws/issues/40, https://github.com/gardener/gardener-extension-provider-azure/issues/42, etc.?
Shall we close this issue in favor of those?

[2020-05-06 14:19] rfranzke commented on #2294
As we only have one etcd replica it doesn't help too much to scale the kube-apiserver for availability reasons. There was #423 where the same was discussed, but it was closed: https://github.com/gardener/gardener/issues/423#issuecomment-614095899

/cc @vlerenc

[2020-05-06 17:32] dansible commented on #2293
Ah yes, it would make more sense in the extension repo!

The two issues you referenced would be great for fixing a secret without all the fields in place but don't address validating a `cloudprovider` secret when it is created. The error in this issue was caused by a customer not including their Azure subscription ID into their secret (`secret shoot--xxxx--xxxx/cloudprovider doesn't have a subscri

[2020-05-06 17:38] dansible commented on #2294
Cool! Was there a reason why the other issue was closed?

This issue came up this morning where a seed had 2 nodes down and those two nodes were hosting the API servers for 8 shoots, which all started alerting that the API was down. In this case the node issues resolved after 15-20 minutes and the API servers came back up.

It seems like this issue could easily be resolved by increasing the replic

[2020-05-06 21:05] ialidzhikov opened #2295 "Do not pardon False ConditionStatus for recently created Shoots"
**What happened**:
We currently pardon transition to False ConditionStatus (set it back to Progressing) when Shoot `.status.lastOperation.type=Create`.

**What you expected to happen**:
We should not pardon similar transition when  `.status.lastOperation.type=Create` and `.status.lastOperation.state=Succeeded`.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create Shoot.

2.

[2020-05-07 04:15] rfranzke commented on #2293
Whatever you prefer more, either updating/extending the scope of the existing issues or creating new issues. But yes, they should definitely be moved to the various provider extension repos, g/g cannot help, i.e., this issue here should be closed.

[2020-05-07 04:19] rfranzke commented on #2294
Well, before we decide for the latter (which will definitely increase resource consumption, costs) it would be more interesting to get to know why it took 15-20 minutes to resolve. Shouldn't this be way faster? Can you explain more about the "2 nodes down" situation? What was happening exactly and why was it resolving after some time, and especially, why weren't the API server moved to healthy nod

[2020-05-07 05:49] timebertt commented on #2294
While I further investigated, I discovered, that both the nodes were rebooted due to a OS update:
[code]

I assume, this was triggered by the CoreOS auto-update and is probably fixed by https://github.com/gardener/gardener-extension-os-coreos/pull/10

[2020-05-07 05:57] rfranzke commented on #2294
... 🤨 do you have logs of the update-engine unit? It should have been disabled and not running at all.

[2020-05-07 05:57] timebertt commented on #2294
The Shoot API downtime was probably caused by downtime of `etcd` which was running on one of the Nodes that got rebooted. I can confirm so for one of the instances:
<img width="925" alt="Screen Shot 2020-05-07 at 07 54 10" src="https://user-images.githubusercontent.com/46341950/81259456-477a7f00-9038-11ea-91f7-fb1eaf3c4760.png">

Looking at the StatefulSet dashboard, it shows me, that `etcd-main`

[2020-05-07 06:04] timebertt commented on #2294
Hmm, interesting. The logs don't show any output. 🤔
What could have triggered the OS update then if not the `update-engine`?

[code]

[2020-05-07 06:47] rfranzke commented on #2294
Hm, what about the kubelet-Monitor unit?

[2020-05-07 06:57] timebertt commented on #2294
[code]

[2020-05-07 07:29] vlerenc commented on #2294
This was an early design decision @dansible right from the start (3y). Rational was that since pods restart fast, we don't run many replicas (unless necessary for load balancing).

The far larger "problem" is, as @rfranzke pointed out, the single-replica ETCD. 2y ago we had the CoreOS ETCD controller, but it was rubbish, so we had to take it out and since a.) ETCD is anyways a singleton incapable

[2020-05-07 07:38] rfranzke commented on #2294
@tim-ebert Then I have no idea what might have restarted the node, unfortunately. :( Anybody else maybe?

Gardener cannot create this PDB. Probably it needs to be done by HVPA because only it knows when the kube-apiserver is scaled.

[2020-05-07 07:58] muenchdo commented on #1823
I'm actually still stuck on a Garden cluster created using the old [landscape-setup](https://github.com/gardener/landscape-setup). Running `helm ls` there outputs the following:
[code]
I'm mainly interested in this to ease the upgrade to Gardener 0.33.0, where the Gardener chart was split into `controlplane` and `gardenlet`.

[2020-05-07 08:05] vpnachev commented on #2252
Another options is to add `fluentbit.io/exclude=true` annotation in the pod templates for the hibernated shoots and those with `purpose=testing`. In this way fluentbit will drop logs from these pods.

FYI, there is a bug in fluentbit, the annotation is honored only for newly created pods - https://github.com/fluent/fluent-bit/issues/1142

[2020-05-07 08:08] rfranzke commented on #1823
@muenchdo It's just that you have to run `helm deploy` multiple times now, once with the `controlplane` chart and once per seed with the `gardenlet` chart, https://github.com/gardener/gardener/blob/master/docs/concepts/gardenlet.md#migrating-from-previous-gardener-versions. If this  doesn't help, can you concretize your question?

[2020-05-07 08:12] vlerenc commented on #2294
It can always be 1 even with one API server, because that's anyways the outcome without. No need for complexity. ;-)

[2020-05-07 08:15] rfranzke commented on #2294
Do you suggest `maxUnavailable=1`? Isn't this exactly the problem like with the istio default configuration that is blocking our node draining processes because MCM cannot evict it due to this PDB (as it runs as singleton)?

[2020-05-07 08:20] ialidzhikov commented on #2252
I agree that ignoring testing purpose Shoots would be an improvement.
For the issue that @vlerenc and @rfranzke reported beginning of this week for the "hanged" logging in one of the Seeds - as far as I see there are no Shoots with testing purpose on that Seed. So probably the issue is another one?

[2020-05-07 08:25] vlerenc commented on #2294
No, Istio has `maxUnavailable=0`. I suggest 1.

[2020-05-07 08:27] rfranzke commented on #2294
Thanks 👍

[2020-05-07 08:42] vlerenc commented on #2294
Great, then let's summarise the plan:
- Gardener instructs HPVA to use 2 min replicas for `productive` clusters, otherwise 1 min replica
- Node-level Anti-Affinity
- PDB=1

We still need to think about the case where the API server sits on a dead node or continuously fails to start. If we consider a dead node a node that is `NotReady`, it may be premature to relocate the pod, but then again, why n

[2020-05-07 08:54] wyb1 commented on #2294
I checked the seed during the outage and all nodes were `Ready`. To make sure I checked the monitoring data and all nodes were `Ready` during that time.

[2020-05-07 09:00] timebertt commented on #2294
No, I have run out of ideas, what triggered the reboot/OS update.

[2020-05-07 09:00] vlerenc commented on #2252
We also had the TF pod issue, where it was triggered again and again. @vlvasilev opened #2253.

Together, i.e. this and the other issue, we may have identified two main suspects. However, there is no guarantee, but we can't have an infinitely scaling logging infrastructure either, so until we notice another issue, I hope these two issues bring us back our logs.

With Augustus: "Oh Varus, give me b

[2020-05-07 09:01] vlerenc commented on #2253
Because we want our logs back, please:
/priority/critical

[2020-05-07 09:26] vlerenc commented on #2294
OK, thanks @wyb1. Does someone know or have an idea why ETCD took 12m? The reattach of the volume? Any particular issue here? Are volume operations "as fast as usual"?

[2020-05-07 09:49] rfranzke commented on #2294
@wyb1 we just looked into the node with @tim-ebert and saw that the kubelet was down for ~5min. Hence, the node must have been `NotReady`, right? As for the recovery time, though, it's unclear why it took so long to get all the pods up and running again.

[2020-05-07 09:52] timebertt commented on #2294
The kubelet logs indicate, that the kubelet at least was not running for about 6m:
[code]

It sent the `NodeReady` event pretty fast after that:
[code]

Then it had some trouble verifying the attached etcd volume (a lot of error messages like this):
[code]

[2020-05-07 10:01] wyb1 commented on #2294
The `NotReady` condition must have never reached Prometheus. I just checked again and the only thing I see is that one of the nodes' conditions was `unknown`.
<img width="735" alt="Screen Shot 2020-05-07 at 11 56 41" src="https://user-images.githubusercontent.com/8710621/81281212-d350d300-9059-11ea-867f-37baaa67b40e.png">

How long was kubelet posting its `NotReady` condition? Perhaps due to the s

[2020-05-07 10:04] rfranzke commented on #2294
`Unknown` makes sense - the kubelet was down and the KCM set it to `Unknown`.

[2020-05-07 10:23] zanetworker opened #2298 "Add PR Review Policy"
**What would you like to be added**:
In our PR checklist we don't yet have a review policy, we should add one that includes:

-  PR review response time
- ....

[2020-05-07 10:26] #2298 closed, assigned to nobody

[2020-05-07 12:48] #2295 closed, assigned to ialidzhikov

[2020-05-07 14:49] kayrus commented on #2294
This may be related to https://github.com/gardener/gardener-extension-os-coreos/pull/10. I wonder in which cgroup context the https://github.com/gardener/gardener/blob/master/charts/shoot-cloud-config/templates/scripts/_cloud-config-script.sh#L93 script is executed. If it is executed inside the container, then systemd dbus is not available and unit "stop" commands cannot be executed.

[2020-05-07 16:06] danielfoehrKn opened #2302 "Integrate essential secondary controllers into the Gardener extension reconciliation flow"
**What would you like to be added**:
Make it possible to register extension-controllers that can "hook" into the reconciliation flow of Extension CRDs of the Gardenlet. Secondary controllers that are essential for the Shoot reconcile can then be included in an extensible way / registered at runtime trough ControllerRegistrations.

**Why is this needed**:

In certain cases, in addition to the stand

[2020-05-07 17:07] dansible commented on #2293
closing in favor of the issue in the azure extension: https://github.com/gardener/gardener-extension-provider-azure/issues/81

AWS: https://github.com/gardener/gardener-extension-provider-aws/issues/90
Openstack: https://github.com/gardener/gardener-extension-provider-openstack/issues/69
AliCloud: https://github.com/gardener/gardener-extension-provider-alicloud/issues/74

I did not create one for

[2020-05-07 17:07] #2293 closed, assigned to nobody

[2020-05-08 03:56] #1722 closed, assigned to swilen-iwanow

[2020-05-08 04:47] swapnilgm opened #2304 "Configure cluster autoscaler safe-to-evict annotation only for etcd-main"
**What would you like to be added**:
Gardener should only apply the `cluster-autoscaler.kubernetes.io/safe-to-evict=false` annotation from etcd-main crd. And not the etcd-events.
**Why is this needed**:
Etcd-events is not that critical component. And kube-apiserver does not have blocker in case etcd-events rescheduling takes time in absence of such annotation. This will help saving costs because o

[2020-05-08 05:08] rfranzke commented on #2302
Hm, I thought about it again, and I'm wondering whether this is really something that we need to supported explicitly. It increases the complexity because now multiple extensions would be responsible for the same CRD.

In reality, isn't it rather always the situation that there should be exactly one responsible controller per extension CR? For example, there is only one infrastructure controller.

[2020-05-08 07:12] danielfoehrKn commented on #2302
Thanks! I did not think of registering the Extension in the way you described it above. I think that makes sense.

The only difference with that approach is that it does not happen during the reconciliation of the Shoot infrastructure, but only after the Gardenlet can connect to the Shoot API server. However that should be not a problem in this case as the reconcile will be completed probably even

[2020-05-08 08:29] ialidzhikov commented on #2252
Long time ago @rfranzke asked "why?" about https://github.com/gardener/gardener/pull/1924. Generally I want to write something about it:
- It sucks the way new feature is merged into g/g. In the logging case it is 1 PR that introduce the feature and n following PR that fix (try to make usable) this feature.
https://github.com/gardener/gardener/pull/176 is merged with the following Easter eggs (@rf

[2020-05-08 08:56] rfranzke commented on #2302
Yes, sounds good, I'm ok with closing this one.
/close

[2020-05-08 08:56] #2302 closed, assigned to nobody

[2020-05-08 14:15] petersutter opened #2306 "`.spec.seedSelector` for `Shoot` resources"
**What would you like to be added**:
Give users the ability to select access restrictions (for gardener operators) for their shoot, depending on the selected region.
E.g. on the UI it could look like the following (texts are just an example and for better understanding of the requested feature and will be configurable in the Dashboard)
<img width="1751" alt="Screenshot 2020-05-08 at 15 35 43" src=

[2020-05-08 15:27] vlerenc commented on #2306
Thank you, great! If you want to be open for the future and the taints/tolerations idea makes no sense/cannot be put into action, then maybe `annotations` instead of `accessRestrictions` would be more flexible. Also, why is it `eu-access-standard` and not `eu-access`? And how would the shoot spec look in more details in regards to the 8x5 bullet points? BTW, I would call them rather ...`-cluster-a

[2020-05-08 16:13] #2218 closed, assigned to rfranzke

[2020-05-08 16:13] #2272 closed, assigned to schrodit, dguendisch, danielfoehrKn

[2020-05-08 16:15] #2179 closed, assigned to nobody

[2020-05-08 19:37] petersutter commented on #2306
see reply here https://github.com/gardener/dashboard/issues/689#issuecomment-625982838

[2020-05-09 16:04] vasu1124 commented on #2120
From my internal discussions, it will be a substantial requirement for production.
(We could substitute it with other forms of cheaper ram, like we did for HANA).

[2020-05-11 15:37] rfranzke commented on #2304
@swapnilgm @georgekuruvillak @amshuman-kr do you take care of this one?

[2020-05-11 15:39] rfranzke commented on #2306
Please see https://github.com/gardener/dashboard/issues/689#issuecomment-626716750 for the latest and signed-off proposal how to implement it.

For gardener/gardener, we concretely need to

1. add `.spec.seedSelector` to the `Shoot` specification which allows to provide a label selector for seeds (similar to how `.spec.nodeSelector` in the `Pod` specification allows to provide a label selector for

[2020-05-12 03:49] #1751 closed, assigned to vpnachev

[2020-05-12 05:48] rfranzke commented on #2257
@aylei any update?

[2020-05-12 06:06] georgekuruvillak commented on #2304
Ill take it up.

[2020-05-12 12:33] aylei commented on #2257
Thanks for the ping, I upgraded my seed cluster to solve this issue formerly. And I'm afraid I don't have enough time to finalize and test the fix on v1.14.* these days because I'm working on the pre-release stage of our product.

[2020-05-12 13:06] rfranzke commented on #2257
Thanks for coming back!

[2020-05-13 04:04] rfranzke opened #2318 "Allow configuration of load balancer service annotations per seed"
**What would you like to be added**:
Let's enhance the `gardencorev1beta1.Seed` object and allow to configure a list of annotations that Gardener will add to every `Service` of type `LoadBalancer` in this seed (e.g., the kube-apiserver services, ingresses load balancers, VPN load balancers, etc.).

#2315 will introduce a new `.spec.settings` field that can be enhanced:

[code]

The seed and shoot

[2020-05-13 04:04] rfranzke commented on #2318
/cc @RaphaelVogel @MartinWeindel @mandelsoft

[2020-05-13 04:42] #1581 closed, assigned to rfranzke

[2020-05-13 04:42] #2180 closed, assigned to rfranzke

[2020-05-13 06:07] timebertt commented on #2318
Can you elaborate in which case these annotations are needed?
Are they always provider-specific? If they are, wouldn't the new `seedProviderConfig` or even the ControlPlane Webhook be a good fit to fulfil those requirements?

Also, the Ingress/VPN LB we have in our Shooted Seed clusters comes from the `addons` MR, thus the `gardenlet` shouldn't/can't modify it directly, correct?

[2020-05-13 06:20] rfranzke commented on #2318
It's described above in the "Why is this needed" section.

I only have scenarios in mind where provider-specific settings would be configured, yes.

We discussed about it and initially I was of the same opinion. However, we argued that only the content **might** be (not necessarily always is) provider-specific, but the general mechanism (adding arbitrary annotations to LB services by default) is n

[2020-05-13 06:35] timebertt commented on #2318
Sure, I was more or less asking for an example use case, as I don't have one in mind :)

Agreed, makes sense to me 👍

Ok, got it. Thanks for clarifying.

[2020-05-13 06:54] ialidzhikov opened #2319 ""Deploying Kubernetes API server" fails"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create Shoot

2. Ensure `.status.lastErrors`:
[code]
**Anything else we need to know?**:

**Environment**:

- Gardener version: master
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2020-05-13 09:48] plkokanov opened #2321 "Extend the Shoot API so that users can provide secret data to extension configurations via references"
**What would you like to be added**:
Extend the `Shoot` API to support adding secrets data required by various `Shoot` components (dns, provider configurations, extension configurations) via secret references.

**Why is this needed**:
Currently some extension configurations could require secret data which has to be specified directly in the `Shoot`'s spec. For example:
[code]
To avoid this, refere

[2020-05-13 13:08] rfranzke commented on #2319
/assign @rfranzke

[2020-05-13 13:31] #2225 closed, assigned to DockToFuture

[2020-05-13 14:10] #2319 closed, assigned to rfranzke

[2020-05-13 19:02] ialidzhikov opened #2325 "Double logging in provider extensions with same information"
**What happened**:
Currently provider-azure's infrastructure_controller (most probably applicable also for other provider extensions) logs terraform errors as:
[code]

You can notice that the logged error is the same. Having the same huge log entry twice makes harder digging in the logs.

**What you expected to happen**:
To have 1 unique log entry for given error.

**How to reproduce it (as minima

[2020-05-13 19:03] ialidzhikov commented on #2325
/area/quality

[2020-05-14 05:58] timebertt commented on #2321
Thanks for the proposal, sounds promising FMPOV.
I would probably go with `resources` directly to have a more generic concept to keep our options open for other resources, a Shoot might need. Though, I have no strong opinion regarding the naming of this new section.
If we decide to do so, we should probably also name the referencing fields (e.g. `acme.privateKeyRef.secretName` in your proposal) to

[2020-05-14 06:29] rfranzke commented on #2321
What about

[code]

+1, with `resourceRef` it'd be more generic.

[2020-05-14 06:47] timebertt commented on #2321
Hmm, you have a duplicated key `name` in your list entry, so this won't work, at least in this exact form :)

Still, I rather tend to use something like @plkokanov suggested (with `resources[].secret.secretName`), as we will most probably have a very limited number of resource types we want to support and this could indeed be done very similarly to `v1/Pod.spec.volumes[].secret.secretName`.

[2020-05-14 06:57] rfranzke commented on #2321
Yeah, we can rename the second `name` to `resourceName` or so. I'm still in favour with this solution because we don't have to adapt our code (maybe only the validation, but not our API/controller) if we want to add a new resource (other than secrets). The `.spec.volumes` field in the `Pod` looks like this for legacy reasons, I'd assume. They cannot change it anymore now, but I'm pretty sure that

[2020-05-14 07:04] timebertt commented on #2321
Good point, agreed. So the respective golang type will look something like this, right?
[code]

[2020-05-14 09:34] plkokanov opened #2327 "Persist secrets required by extension controllers so that they can be used during Control Plane Migration"
**What would you like to be added**:
Extend the ShootState, ShootState Sync Controller and the Status of Extension CRs so that secret resources required by extension controllers can be persisted in the ShootState and migrated from the source seed to the destination seed.

**Why is this needed**:
Currently extension controllers can save their state in the `status.state` field of the corresponding e

[2020-05-14 09:44] rfranzke commented on #2327
Thanks for opening the issue!
We should be in line with https://github.com/gardener/gardener/issues/2321#issuecomment-628417974

[2020-05-14 11:31] rfranzke commented on #2327
/assign @stoyanr
/status/in-progress
/area/control-plane-migration
/priority/normal
/component/gardener

[2020-05-14 12:19] rfranzke commented on #2253
/in-progress
/quality

[2020-05-14 14:55] danielfoehrKn opened #2332 "Gardenlet `ControllerInstallationRequired` controller does not consider DNS Providers"
**What happened**:

The Gardenlet does not reconcile the registered DNS Providers in the federated seed controller.

**What you expected to happen**:

Gardenlet should reconcile the DNS Provider to include it in the decision making whether a ControllerInstallation is required or not.

The DNSProvider CRD cannot be enqueued as an extension object.

**How to reproduce it (as minimally and precisely

[2020-05-15 10:08] swapnilgm commented on #2304
Closed via #2317

[2020-05-15 10:08] #2304 closed, assigned to nobody

[2020-05-15 13:54] plkokanov opened #2335 "Add management for DNSOwners and DNSEntries during Shoot reconciliation, migration and restoration"
**What would you like to be added**:
The normal shoot reconciliation flow should deploy `DNSOwner` objects together with `DNSEntries` and `DNSProviders` and set the `DNSEntry.spec.ownerId` to the `ownerID` field of the `DNSOwner`. The `ownerID` is specific for the shoot cluster and should not depend on the name of the `Seed`.
`DNSOwners`, `DNSEntries` and `DNSPRoviders` are CRs managed by the dns

[2020-05-15 14:28] rfranzke commented on #2306
/assign

[2020-05-18 05:32] hardikdr opened #2343 "Allow setting env-variable for kube-scheduler"
**What would you like to be added**:
We need to allow end-users to configure the maximum number of the volumes that can be attached to the node via shoot-resource. This can be achieved by setting the `KUBE_MAX_PD_VOLS` env-variable in kube-scheduler deployment, refer the [documentation](https://kubernetes.io/docs/concepts/storage/storage-limits/#custom-limits) for more details.

**Why is this need

[2020-05-18 07:25] rfranzke commented on #2343
Do you have further information? How will it work?

[2020-05-18 08:39] swilen-iwanow commented on #2335
/assign

[2020-05-18 08:43] rfranzke commented on #2335
cc @vlerenc - can we allow members of the `core` team to use this command?

[2020-05-18 09:29] vlerenc commented on #2335
Hmm... we can do whatever we want @rfranzke. It's our code, but I would like to avoid certain hard-coded behaviour, like hard-coding the `core` team anywhere.

Let's take a look at https://github.tools.sap/kubernetes/kube-docs/wiki/GitHub-Bots#commands:
* add/remove label: some white-listed labels all, the rest of the labels only maintainers
* set/unset milestones: only maintainers
* close/reopen:

[2020-05-18 09:33] rfranzke commented on #2335
Yes, that would be great, thank you! :)

[2020-05-18 09:40] rfranzke commented on #2253
/remove status in-progress
/close
as all related PRs have been merged and will be part of the next extension releases

[2020-05-18 09:41] #2253 closed, assigned to rfranzke

[2020-05-18 09:43] rfranzke commented on #2145
/close
as related PRs have been merged

[2020-05-18 09:43] #2145 closed, assigned to nobody

[2020-05-18 09:44] rfranzke commented on #2054
/area control-plane-migration
/assign @swilen-iwanow

[2020-05-18 09:45] rfranzke commented on #1860
ping @Kristian-ZH

[2020-05-18 09:47] rfranzke commented on #1577
/close
as the related PRs have been merged

[2020-05-18 09:47] #1577 closed, assigned to danielfoehrKn

[2020-05-18 09:50] Kristian-ZH commented on #1860
Thank you. Will check it

[2020-05-18 10:30] rfranzke commented on #2257
/assign

[2020-05-18 10:33] Kristian-ZH commented on #1860
Hmm we experienced some problems when we tried to upgrade the Kibana/ES versions in the past due to indices changes, but from what i can see in the documentation, this customResponseHeaders exists in Kibana 6.7 as well:

https://www.elastic.co/guide/en/kibana/6.7/settings.html

[2020-05-18 10:38] rfranzke commented on #2047
/assign
/remove lifecycle stale

[2020-05-18 11:22] rfranzke commented on #2325
Probably [those](https://github.com/gardener/gardener-extension-provider-aws/blob/master/pkg/controller/infrastructure/actuator_reconcile.go#L100) statements should be removed and simply the error should be returned as the underlying infrastructure reconciler already logs it.
I plan to revendor the extensions this week to latest g/g version - if you want I can take it.

[2020-05-18 11:30] ialidzhikov commented on #2325
I was just about to start with this one. My idea was to check also the other controllers (that's why probably I opened an issue 😄).

[2020-05-18 12:50] stoyanr commented on #2327
The example should actually look as follows (in sync with #2321):

[code]

This should result in a `ShootState` similar to the following:

[code]

[2020-05-18 13:35] stoyanr commented on #2321
@rfranzke @tim-ebert I would propose a minor change:

[code]

It makes more explicit which name is which, as well as easier to reuse `autoscalingv1.CrossVersionObjectReference` in the implementation. Otherwise it might result in confusion - the `CrossVersionObjectReference` name must be the resource (secret) name, and so we would need to rename the other name, which is counterintuitive.

See also

[2020-05-18 14:00] stoyanr commented on #2321
/assign @stoyanr

[2020-05-18 14:54] #1860 closed, assigned to nobody

[2020-05-18 14:54] #2257 closed, assigned to rfranzke, timebertt

[2020-05-19 11:51] afritzler opened #2353 "CIDR validation in Gardener Scheduler should be propagated to the user"
**How to categorize this issue?**
/area usability
/kind enhancement
/priority normal

**What would you like to be added**:
One of my clusters got stuck in the "Pending Creation" state. After looking into the issue it turned out, that there was a CIDR collision between the provided node cidr range the default pod cidr. The validation error of the scheduler is not propagated to the user.

**Why is t

[2020-05-19 11:56] rfranzke commented on #2353
Hm, there should have been an event, similar to what happens in Kubernetes with pods. Did you check `kubectl describe shoot`? Was the message in this event helpful?

[2020-05-19 11:58] afritzler commented on #2353
I tried that. Unfortunately I got an empty status

[code]

And no events.

[2020-05-19 12:00] timebertt commented on #2353
Meanwhile the events are gone. But there were some before, when I checked :)
[code]

[2020-05-19 12:10] rfranzke commented on #2353
Yes, the `status` is expected to be empty because there is no responsible controller (gardenlet) for the shoot as it wasn't scheduled yet. As the events exist, is there anything to improve from g/g's pov?

[2020-05-19 12:11] afritzler commented on #2353
Wouldn't it make sense to display this error on the dashboard instead of a spinning wheel with "pending creation"?

[2020-05-19 12:14] rfranzke commented on #2353
Probably yes, but if it's a dashboard issue only I'd suggest to close this one and reopen a new one at the gardener/dashboard repo.

[2020-05-19 12:15] #2353 closed, assigned to nobody

[2020-05-19 12:15] afritzler commented on #2353
Thanks guys for the help!

[2020-05-19 12:30] hardikdr opened #2354 "☂️Integrate vSMP MemoryOne"
**How to categorize this issue?**

/area usability
/area os
/kind epic
/kind enhancement
/priority normal

**What would you like to be added**:
This is an umbrella issue for the integration of vSMP MemoryONE operating-system based machines with Gardener.

MemoryONE helps in the expansion of memory using non-volatile storage-class memory, which is cost-effective against expensive DRAMs.

MemoryONE

[2020-05-19 13:10] aylei opened #2355 "Fake alert CloudControllerManagerDown due to the absence of service"
**How to categorize this issue?**

/area monitoring
/kind bug
/priority normal

**What happened**:

Deploy a shoot in gardener and the alert `CloudControllerManagerDown` is fired unexpectedly.

**What you expected to happen**:

No alerts when all components is healthy.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a shoot in gardener v1.4.1

**Anything else we need to

[2020-05-19 13:20] vlerenc opened #2356 "New Bot Features Demonstration"
/help
/ping @rfranzke @ialidzhikov

[2020-05-19 13:20] ghost commented on #2356
@vlerenc :information_source: Hi there, I am the Gardener bot :robot: and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add ce

[2020-05-19 13:20] ghost commented on #2356
@rfranzke, @ialidzhikov
<img src="https://source.unsplash.com/collection/981639/640x640">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:20] vlerenc commented on #2356
/bark

[2020-05-19 13:20] ghost commented on #2356
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x583">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:22] vlerenc commented on #2356
Sorry, that was a nonsense issue. 😉

[2020-05-19 13:22] #2356 closed, assigned to nobody

[2020-05-19 13:23] rfranzke commented on #2356
/ping @vlerenc

[2020-05-19 13:23] ghost commented on #2356
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x525">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:24] rfranzke commented on #2356
/bark

[2020-05-19 13:24] ghost commented on #2356
@rfranzke
<img src="https://source.unsplash.com/collection/1120118/640x583">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:27] rfranzke commented on #2355
Thanks @aylei. It seems that [this configuration](https://github.com/gardener/gardener-extension-provider-aws/blob/master/charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-monitoring.yaml) (and those for other providers) is broken.

[2020-05-19 13:28] rfranzke commented on #2355
/platform aws
/platform azure
/platform gcp
/platform alicloud
/platform openstack
/platform packet

[2020-05-19 15:50] rfranzke opened #2358 "Allow Infrastructure extensions to populate node network CIDRs"
**How to categorize this issue?**

/area usability
/area networking
/kind enhancement
/priority normal

The `Shoot` specification has a `.spec.networking.nodes` field with two purposes: Configuring the VPN between shoot control plane and shoot networks, and validating that the seed and shoot networks are disjoint.
This field is kind of duplicative as the subnets for the worker nodes have to be con

[2020-05-19 15:56] #2306 closed, assigned to rfranzke

[2020-05-19 15:56] #2047 closed, assigned to rfranzke, mvladev

[2020-05-20 09:57] ialidzhikov commented on #2325
The PRs from above are merged. I am closing this issue.

[2020-05-20 09:57] ialidzhikov commented on #2325
/close

[2020-05-20 09:57] #2325 closed, assigned to ialidzhikov

[2020-05-21 08:12] ialidzhikov opened #2366 "cannot change seed name, because seed backup is not configured"
**How to categorize this issue?**

/kind bug
/priority critical

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Try to create a new Shoot.

2. Ensure that the apply fails with

[code]

**Anything else we need to know?**:

**Environment**:

- Gardener version: master
- Kubernetes version (use `kubectl version`):
- Cloud pr