[2020-05-21 08:12] ialidzhikov commented on #2366
/cc @swilen-iwanow

[2020-05-21 08:12] ghost commented on #2366
@ialidzhikov Command "/cc swilen-iwanow " either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-21 09:45] #2366 closed, assigned to nobody

[2020-05-21 13:24] vlerenc opened #2368 "out-source secret creation to prevent unpredictable cpu spikes in gardenlet"
**How to categorize this issue?**
/area robustness
/area monitoring
/area operations
/kind bug
/priority normal

**What happened**:
We see alerts that the gardenlet condition flaps, caused by the gardenlet losing leader election.

[2020-05-22 05:22] vlerenc commented on #2368
It seems, VPA is too sluggish, but since VPA has many global knobs, we have difficulties configuring it properly for this use case. Here what @vpnachev reported:

This morning we had ~120 aws shoots that were waiting their secrets to be generated, but gardenlet was in crashloopbackoff so VPA was seeing no resource usage and kept its requests and limits low. This was a dead lock. I've manually bump

[2020-05-22 10:01] toonsevrin opened #2371 "Hetzner cloud support"
/kind enhancement
/priority normal

This issue serves as a tracker for everyone who would want Hetzner Cloud integration. I can potentially help with this if there is enough demand.

Hetzner cloud is a cost-leader in cloud hosting.

Hetzner cloud has:
- [terraform definitions](https://www.terraform.io/docs/providers/hcloud/index.html)
- [csi driver](https://github.com/hetznercloud/csi-driver)
- [p

[2020-05-22 11:32] vasu1124 commented on #2371
@toonsevrin would you like to discuss in [Slack #Gardener](https://kubernetes.slack.com/archives/CB57N0BFG)?
Maybe you can form a community around Gardener on Hetzner. Also, you can get help with how to write the extentions ...

[2020-05-22 12:02] toonsevrin commented on #2371
I'm in the slack now :)

[2020-05-22 12:28] majst01 commented on #2371
The "only" components you have to implement/adapt is the extension-provider-hetzner and machine-controller-manager. You can have a look at:
https://github.com/metal-stack/gardener-extension-provider-metal for reference

[2020-05-22 12:33] toonsevrin commented on #2371
Makes me wonder: what are the trade-offs of implementing at the metal-stack level vs the gardener level?

[2020-05-22 13:01] majst01 commented on #2371
to clarify: metal-stack is a cloud api for bare metal provisioning, same level from the gardener perspective like gcp or ec2 or openstack.

[2020-05-22 13:41] #2327 closed, assigned to stoyanr

[2020-05-25 02:37] rfranzke commented on #2144
/assign

[2020-05-25 02:37] rfranzke commented on #2355
/assign

[2020-05-25 02:38] rfranzke commented on #2318
/assign

[2020-05-25 04:03] rfranzke commented on #2355
/remove platform azure
/remove platform gcp
/remove platform alicloud
/remove platform openstack

[2020-05-25 04:04] rfranzke commented on #2252
/close
as the issue should be fixed by #2320

[2020-05-25 04:04] #2252 closed, assigned to nobody

[2020-05-25 04:06] rfranzke commented on #2123
I'm closing the issue as we believe it's fixed and as the issue was inactive for a while.
Kindly reopen if you still think the bug exists.
/close

[2020-05-25 04:06] #2123 closed, assigned to nobody

[2020-05-25 04:58] rfranzke commented on #2354
/assign @hardikdr @vpnachev @rfranzke

[2020-05-25 05:03] rfranzke commented on #250
@vlerenc is this ticket still relevant/up-to-date (especially after #2310) or can we close it?
If still relevant, could you update it with what is still missing/should be done?

[2020-05-25 05:04] rfranzke commented on #277
/close
due to inactivity and no concrete plans - kindly reopen when it becomes relevant again

[2020-05-25 05:04] #277 closed, assigned to dkistner, wyb1

[2020-05-25 05:05] rfranzke commented on #401
/assign
(to-be-fixed as part of the work for #2193)

[2020-05-25 05:05] rfranzke commented on #401
/remove lifecycle stale

[2020-05-25 05:07] rfranzke commented on #918
/in-progress
/assign @vlvasilev @mvladev

[2020-05-25 05:08] rfranzke commented on #1135
/remove lifecycle stale
/in-progress

[2020-05-25 05:12] rfranzke commented on #1452
Duplicate of #2287
I'm closing this one as #2287 provides more information.
/close

[2020-05-25 05:12] #1452 closed, assigned to wyb1

[2020-05-25 05:12] rfranzke commented on #2287
/area networking
/area security
/in-progress

[2020-05-25 05:14] rfranzke commented on #1462
ping @wyb1 - can you explain more about the use-case and whether it's still relevant?

[2020-05-25 05:16] rfranzke commented on #1578
#2084 fixed the first part of this issue, so only the parallel re-writing of secrets is open now.
@plkokanov any plans for the implementation?

[2020-05-25 05:19] ghost commented on #250
/close # ...from my PoV

[2020-05-25 05:19] ghost commented on #250
@gardener-botmanager Only code owners and the author are allowed to close a ticket or PR.

[2020-05-25 05:19] #250 closed, assigned to hardikdr, prashanth26

[2020-05-25 05:29] rfranzke commented on #1843
Currently, these flags are command line parameters of the MCM which is not optimal as end-users might want to tweak them on worker pool basis.
Still, we discussed with @hardikdr and @prashanth26 that there are three options for the implementation:

1. Expose these global flags in a new `.spec.controlPlane.machineControllerManager` section in the shoot.
2. Expose these flags on worker pool basis in

[2020-05-25 05:30] rfranzke commented on #1871
I'm closing this issue as it seems not important enough and the mentioned logs should not happen anymore anyways as the gardener-resource-manager is meanwhile taking over the deployment of the extension controllers.
/close

[2020-05-25 05:30] #1871 closed, assigned to nobody

[2020-05-25 05:31] rfranzke commented on #250
The botmanager became alive... 😨

[2020-05-25 05:33] rfranzke commented on #1942
ping @ggaurav10 @wyb1 @amshuman-kr

[2020-05-25 05:34] rfranzke commented on #2014
/close
as discussed

[2020-05-25 05:34] #2014 closed, assigned to nobody

[2020-05-25 05:36] rfranzke commented on #2052
ping, any ideas/concrete plans?

[2020-05-25 06:27] rfranzke commented on #2332
Why do you think the gardenlet does not reconcile the `DNSProvider` objects? The only effect of the commit you referenced is that the predicate function is not evaluated for `DNSProvider` objects as it doesn't apply (because it is now extension object), right? Am I missing something?

[2020-05-25 08:34] rfranzke commented on #2332
/assign

[2020-05-25 08:36] rfranzke commented on #2332
FYI: I still think it's not a bug, though, I've opened #2379 to make the code better in a way that object-tailored predicate functions can be provided now during the object registration.

[2020-05-25 10:45] timuthy commented on #2355
have you double checked if we need any netpol to allow prometheus to connect to the CCM @rfranzke?

[2020-05-25 11:11] rfranzke commented on #2355
Thanks, nice question. The CCM already has the label to be able to get scraped by Prometheus: https://github.com/gardener/gardener-extension-provider-aws/blob/master/charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml#L30, https://github.com/gardener/gardener-extension-provider-packet/blob/master/charts/internal/seed-controlplane/charts/packet-

[2020-05-25 12:03] timuthy commented on #2355
I was just wondering if we also need a `allow-to-ccm` netpol for the Prometheus pod. Thanks for taking care 👍

[2020-05-25 12:12] wyb1 commented on #1942
I will upgrade vpa to the newest version.

[2020-05-25 12:16] rfranzke commented on #1942
Thanks a lot!

[2020-05-25 14:20] #2144 closed, assigned to rfranzke

[2020-05-25 14:25] rfranzke commented on #2355
/close
as the related PRs were merged

[2020-05-25 14:25] #2355 closed, assigned to rfranzke

[2020-05-26 07:57] amshuman-kr commented on #1942
FYI Another change to VPA that I filed to be able to reduce the recommendation decay half-life for faster scale down has been [merged](https://github.com/kubernetes/autoscaler/pull/2905) a couple of weeks back. Unfortunately, it is not yet released. Once that gets released, we might have to move to 0.8.x or higher.

[2020-05-26 09:28] vpnachev commented on #2175
With https://github.com/gardener/gardener/issues/918 the logging stack will be completely redesigned, thus it does not make sense to graduate the existing solution to `beta`.

[2020-05-26 09:28] #2175 closed, assigned to mvladev, vlvasilev, donistz

[2020-05-26 10:04] timebertt opened #2387 "Add grace period for conditions after successful Shoot reconciliation"
**How to categorize this issue?**

/area ops-productivity
/area quality
/kind enhancement
/priority normal

**What would you like to be added**:
I see a lot of Shoot clusters, which finish to be created/woken up successfully (`lastOperation.state=Succeeded`) but need some more time to get completely healthy. E.g. `elasticsearch-logging` takes some time to completely start up (including volume prov

[2020-05-26 11:13] hoeltcl opened #2388 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2020-05-26 11:40] ghost commented on #2354
@hardikdr Label "area/usabiliity" does not exist for this repository.

[2020-05-26 11:41] rfranzke commented on #2388
/assign
handled
/close

[2020-05-26 11:41] #2388 closed, assigned to rfranzke

[2020-05-26 12:04] hardikdr commented on #2343
With initial investigation, the following are the major findings:
- For k8s version 1.15: Setting the env-var `KUBE_MAX_PD_VOLS` for kube-scheduler and having feature-gate `AttachVolumeLimit` set to `false` , allows overwriting the existing default value of 25.
   - We dint test, but from the code-path this should also work for the k8s version 1.16.

- For k8s-version 1.17:  The solution above doe

[2020-05-26 15:11] danielfoehrKn opened #2390 "Event logs for maintenance and hibernation operations"
**How to categorize this issue?**

/area operations
/area usability
/kind enhancement
/priority normal

**What would you like to be added**:

Add an "event-log" of performed maintenance operations as well as hibernation / wake-up operations.

Below I listed three options that I could think of how to realize this.

Option (1)

Add an events (or otherwise named field) into the Shoot.Status containin

[2020-05-26 15:15] rfranzke commented on #2390
cc @gardener/dashboard-maintainers

[2020-05-26 15:36] rfranzke commented on #2354
The first PR https://github.com/gardener/gardener-extension-provider-aws/pull/105 was opened to support multiple disks for the worker machines. In another follow-up PR I'll add support for providing a snapshot ID for the data volumes.

[2020-05-27 14:58] #2332 closed, assigned to rfranzke

[2020-05-28 08:01] SayakMukhopadhyay commented on #918
Hi,
I noticed that #2175 was closed in favour of this and so I had a few questions regarding the roadmap.

1. Right now, the logging/monitoring stack consists of prometheus/grafana and fluentd/kibana. Is this going to replace the fluentd/kibana with loki/grafana?
2. Is OIDC as mentioned in #999 in the pipeline with this?
3. I was planning to try and contribute to #999 . Should I hold it off for no

[2020-05-28 13:18] #1942 closed, assigned to wyb1, amshuman-kr

[2020-05-28 14:41] SayakMukhopadhyay commented on #999
Is this issue being worked upon? I was planning to solve the same issue in my cluster and was interested in contributing.

[2020-05-29 14:00] swilen-iwanow commented on #1631
During worker restoration provider extension crashes if worker has no state
[code]

[2020-06-01 13:55] mvladev commented on #999
@SayakMukhopadhyay I'm not working on it at the moment. Any contributions are welcomed.

[2020-06-01 14:08] SayakMukhopadhyay commented on #999
I have managed to put the `garden-grafana` and `garden-prometheus` behind a OAuth proxy instead of Basic Auth. I have used `oauth2-proxy` and connected with the existing dex service and have got a nice flow going. Right now, the OAuth works in the ingress level so people with access to Gardener dashboard will have access to Grafana/Prometheus too.

I am willing to contribute to this issue but my c

[2020-06-02 17:16] rfranzke commented on #2354
The second PR https://github.com/gardener/gardener-extension-provider-aws/pull/112 was opened to support providing a snapshot ID for data volumes.

[2020-06-03 06:23] #2287 closed, assigned to danielfoehrKn

[2020-06-03 06:55] rfranzke commented on #2390
/assign @BeckerMax

[2020-06-03 06:57] rfranzke commented on #1580
/area documentation

[2020-06-03 06:57] rfranzke commented on #1580
cc @danielfoehrKn

[2020-06-03 06:58] rfranzke commented on #1462
/close

[2020-06-03 06:58] #1462 closed, assigned to nobody

[2020-06-03 07:57] rfranzke commented on #2343
/assign

As discussed, we will allow modifying the `KUBE_MAX_PD_VOLS` variable on end-user's own risk (they should be aware of side-effects and consequences, we consider it alpha-level similar to feature gates or runtime config).

The environment variable has only effect for shoots not using CSI. For example, AWS uses CSI beginning with 1.18, so here we'll be following a different approach.

[2020-06-03 08:19] rfranzke commented on #2354
https://github.com/gardener/gardener/pull/2413 allows configuring the `KUBE_MAX_PD_VOLS` environment variable. Helpful information next to the Kubernetes documentation and https://github.com/gardener/gardener/issues/2343#issuecomment-633982785 is here: https://kubernetes.slack.com/archives/C09QZFCE5/p1585038040227700

[2020-06-03 10:31] #2318 closed, assigned to rfranzke

[2020-06-03 12:31] timebertt opened #2414 "Use cached controller-runtime client"
**How to categorize this issue?**

/area quality networking cost
/kind enhancement

**What would you like to be added**:

In g/g we have an increasing number of API calls that are made via controller-runtime clients instead of using more efficient mechanisms like `Informers` or `Listers`.
In our current implementation, these clients — no matter if for garden, seed, plant or shoot cluster — are not

[2020-06-04 15:34] rfranzke commented on #2354
All the related pull requests have been opened (see above references). Once reviewed and merged we can release the various components.

There is an open topic with respect to the override of the volume limits per nodes. #2413 will allow configuring the kube-scheduler, though, it seems to only work up to Kubernetes v1.16. In v1.17 there is an issue (see above linked Slack thread), and beginning wit

[2020-06-05 06:37] #2343 closed, assigned to rfranzke

[2020-06-05 14:17] #401 closed, assigned to rfranzke

[2020-06-05 14:17] #2193 closed, assigned to rfranzke

[2020-06-05 16:36] #2321 closed, assigned to stoyanr

[2020-06-05 21:58] ialidzhikov opened #2423 "[Flaky test] guestbook test is failing on azure"
**How to categorize this issue?**

/area testing
/kind bug
/priority normal

**What happened**:
I observe too many flakes for the guestbook test on azure.
One of the flakes that I managed to reproduce is related to `ingress-nginx` where the ingress controller hangs too long `attempting to acquire leader lease`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2020-06-06 12:13] dguendisch commented on #2423
- After we increased the timeouts (in #2338) the frequency of failed tests because guestbook app didn't become ready in time reduced noticeably (still some fail because of this). When testing manually I could observe various reasons, very slow image pulling on azure in general (but that is now "solved" with #2338), ingress reporting 404 when curled although I couldn't figure why (nginx was running

[2020-06-06 14:51] ialidzhikov commented on #2423
Yep, I also see many flakes because of namespace hanging in `Terminating`. One of the cases seems to be caused by metrics-server:

[code]

[2020-06-06 18:48] ialidzhikov commented on #2423
The ingress-nginx issue happening again:
[code]

`> 13m` it cannot acquire leader lease. Crazy...

[2020-06-08 07:21] rfranzke commented on #1580
Daniel will take over as part of his quality focus week.

/unassign @mvladev
/assign  @danielfoehrKn

[2020-06-08 15:34] ialidzhikov opened #2430 "validate-namespace-deletion webhook is called 2 times"
**How to categorize this issue?**

/kind question
/priority normal

**What happened**:
`validate-namespace-deletion` webhook is called 2 times for single ns delete request.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Try to delete a project ns
[code]

2. Ensure that the `validate-namespace-deletion` webhook is called 2 times:
[code]

**An

[2020-06-08 15:41] rfranzke commented on #1917
/assign

[2020-06-09 06:31] ialidzhikov commented on #2430
Ref https://github.com/kubernetes/kubernetes/issues/91917#issuecomment-640939654

[2020-06-09 06:31] ialidzhikov commented on #2430
/close

[2020-06-09 06:31] #2430 closed, assigned to nobody

[2020-06-09 06:31] timebertt commented on #2430
I also observed this behaviour for other admission plugins (also for `UPDATE` calls).
For example, if the `ShootValidator` denies the request (for example disallows finalizer removal), then it will be immediately invoked again.

It took a quick look and this seems to be done on purpose from the apiserver library, but I am not sure, what is the actual reason for it and if we can/should avoid or rec

[2020-06-09 06:36] ialidzhikov commented on #2430
For example, if the ShootValidator denies the request (for example disallows finalizer removal), then it will be immediately invoked again.

Generally I observed the same with out `ShootValidator`s and initially started the investigation about them. Then I saw the same happening for `validate-namespace-deletion` webhook and spend effort on reproducing the issue with it.

[2020-06-09 07:15] #1917 closed, assigned to rfranzke

[2020-06-09 08:20] timuthy opened #2432 "Gardener fails to delete failed shoots"
**How to categorize this issue?**

/kind bug
/priority normal

**What happened**:
Gardener failed to delete a shoot because the infrastructure had depending objects. After a while the shoot transitioned into a `Failed` state which means that Gardener does not automatically retry the deletion until it is manually re-triggered (annotation `gardener.cloud/operation=retry`) by users or operators.

Aft

[2020-06-09 08:20] timuthy commented on #2432
/assign

[2020-06-09 09:18] vlerenc commented on #1584
Personally, I tend to keep it rather with our control plane. It's critical to the auto-scaling, too. In general, all the things that can be either on the shoot or on the seed, I would prefer to have on the seed, because that means less network traffic, friction, stability issues. In the end, we are responsible to keep these components running, on seed or shoot. If on the seed, it's easier for us t

[2020-06-09 09:28] timebertt commented on #1584
/remove lifecycle/rotten

[2020-06-09 10:10] rfranzke commented on #879
/assign
/remove lifecycle/rotten

[2020-06-09 13:39] rfranzke commented on #1997
/assign

[2020-06-09 14:33] rfranzke opened #2439 "Prometheus rules test fails on master branch"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
`make test` on `master` branch is failing, see:

[code]

**What you expected to happen**:
It should succeed

**How to reproduce it (as minimally and precisely as possible)**:
1. Check out `master`
2. Run `make test` or `./hack/test-prometheus.sh`

**Anything else we need to know?**:
It seems to got intr

[2020-06-09 14:33] rfranzke commented on #2439
@zanetworker could you have a look?

[2020-06-09 15:42] zanetworker commented on #2439
I will have a look

[2020-06-10 05:54] rfranzke commented on #2354
/close as all related PR have been merged and will be released with the respective next versions.

[2020-06-10 05:54] #2354 closed, assigned to vpnachev, hardikdr, rfranzke

[2020-06-10 06:43] #2439 closed, assigned to zanetworker

[2020-06-10 12:28] #2432 closed, assigned to timuthy

[2020-06-11 08:09] mvladev commented on #2054
In gardener there is no concept for `landscape-name` or landscape at all.
I'll would like to have those references removed.

[2020-06-12 18:55] ialidzhikov opened #2452 "v1alpha1.Cluster Shoot lastOperation is not updated after retry operation"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
v1alpha1.Cluster Shoot lastOperation is not updated after retry operation is applied on Shoot.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Shoot with wrong credentials

2. Ensure that after given period of time, the Shoot will be marke

[2020-06-15 07:06] timebertt commented on #2452
/assign @timuthy

[2020-06-15 07:19] rfranzke commented on #1584
/assign

[2020-06-15 07:37] prashanth26 opened #2453 "Generic worker actuator leaves orphaned MCM resources when deleting shoots"
**What happened**:
The generic worker actuator sometimes tends to leave orphan resources while shoot deletion.

**What you expected to happen**:
These resources are not expected to be left out.

**How to reproduce it (as minimally and precisely as possible)**:
Not really sure.

**Anything else we need to know**:
The creation timestamps on the orphan resources were later than shoot deletion timesta

[2020-06-15 07:38] prashanth26 commented on #2453
cc: @rfranzke @timuthy

[2020-06-15 07:43] rfranzke commented on #1721
/assign @timuthy
/remove lifecycle/stale

[2020-06-15 07:49] rfranzke commented on #2453
/bug

[2020-06-15 07:52] prashanth26 commented on #2453
@timuthy - Do you have a list of resources that you observed which were orphaned? I remember you mentioning - machine classes, secrets. You didn't observe machine-deployments/machine-sets/machines right?

[2020-06-15 07:57] timuthy commented on #2453
Yes @prashanth26, here are the resoruces:

[code]

Timestamps:
[code]

[2020-06-15 11:32] swilen-iwanow commented on #2054
We decided to remove the `landscape-name` and leave this to the Gardener operator/admin to decide what unique identifier to use.

[2020-06-15 11:46] swilen-iwanow opened #2454 "TryUpdate and TryUpdateStatus not working as expected when conflict occurs."
**How to categorize this issue?**

/area robustness
/kind bug
/priority normal

**What happened**:

Using the `TryUpdateStatus` function from `pkg/utils/kubernetes/update.go` discovered
an issue that was preventing the resource to be updated as expected. The issue is preventing `status.state` from update if a conflict occurs, when using `tryUpdate()` . For example:
For the first call of `tryUpdate

[2020-06-15 11:47] swilen-iwanow commented on #2454
/assign

[2020-06-15 12:14] prashanth26 commented on #2453
I had an initial analysis of the code path on MCM at least. I see that there are two code paths that could be improved to fix such issues.

1. Add finalizers on (provider)MachineClasses only when there is a machine/machine-set/machine-deployment refering it. Currently it adds for any machineClass without a deletion timestamp. Update [this logic](https://github.com/gardener/machine-controller-manag

[2020-06-15 12:20] prashanth26 commented on #2453
One thought on reproducing this issue,

My guess would be to create an Azure shoot, and once creation is done. Trigger update and deletion (in parallel or in immediate successions). I think this should reproduce this.

[2020-06-15 13:21] timebertt commented on #2454
This seems to be caused by the underlying json decoder (see https://github.com/gardener/gardener/pull/2450#issuecomment-644128313).

[2020-06-15 13:32] dergeberl opened #2455 "metrics-server unable to scrape kubelet"
**How to categorize this issue?**

/area metering
/kind bug
/priority normal

**What happened**:
In our setup with openstack the metrics-server runs into the following error:
[code]
The default setting for the kubelet-preferred-address in the master branch from the matrics server is documented as `[Hostname,InternalDNS,InternalIP,ExternalDNS,ExternalIP]`. In the tags/v0.3.6 there is no documentati

[2020-06-15 15:12] plkokanov commented on #2454
One way to fix this is to pass a copy of the object that we would want to modify to the transform func similar to how it is done for tryUpdateShoot: [shoot.go:48](https://github.com/gardener/gardener/blob/master/pkg/utils/kubernetes/shoot.go#L48)

However, then `TryUpdate`, `TruUpdateStatus` and `tryUpdate` will have to return the updated object (if there's a chance for it to be used after the cal

[2020-06-15 15:59] #879 closed, assigned to rfranzke

[2020-06-15 17:19] vpnachev commented on #2455
There was a PR that aimed to change the metrics server config https://github.com/gardener/gardener/pull/2019 but it was not accepted.

Usually we are seeing this issue on AWS with manually created VPC and `enableDnsHostnames` disabled - ref: https://github.com/gardener/gardener-extension-os-coreos/blob/master/docs/usage-as-end-user.md#aws-vpc-settings-for-coreos-workers

[2020-06-16 03:16] vlerenc opened #2457 "deploy logging stack as early as possible in shoot reconciliation flow"
**How to categorize this issue?**
/area control-plane logging ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
I checked a cluster that couldn't be deleted because of infra dependencies:
[code]

What I noticed was:
1. There was no API server anymore, but dependent components. This is more cosmetic as it creates somewhat needless additional confusion to ops/

[2020-06-16 03:50] ialidzhikov commented on #2457
Actually the provider extensions log the full content of the logs of a terraform Pod after its execution. See https://github.com/gardener/gardener/blob/a3c0c1f06848b44e8492319c83e51b8f99cd3901/extensions/pkg/terraformer/terraformer.go#L204-L212

When I search for logs of a terraformer Pod, I go to the seed Kibana (where the logs from non-Shoot namespaces go, incl. the logs of the extension control

[2020-06-16 04:03] vlerenc commented on #2457
Thanks @ialidzhikov.

Out of curiosity: We have had issues some weeks ago with TF logs flooding fluentd that couldn't be put into the logging stack, because it was gone, wasn't that the case?

Overall: Having to collect control-plane-local and seed-extension-global logs to piece together the view of a cluster makes trouble-shooting a cluster harder. Then again, that's nothing really new.

[2020-06-16 04:17] rfranzke commented on #2457
I think we decided to do this on purpose in the early days of Gardener: We never explicitly deleted the other components to "save the code" and we relied on the namespace controller that cleans everything when we delete the shoot namespace. Do you suggest to change this now?

Can you share the `Shoot` spec? With #2320 logs are discarded in case the shoot's purpose is `testing` (or if hibernated, b

[2020-06-16 08:05] timebertt commented on #2454
Yes, this is one way to solve the issue.
But the problem with your approach is, that you return a `runtime.Object` from `TryUpdate` and so on. So if callers want to further work on the object, they will always have to cast it, which is not so desirable IMO.

But TBH, I don't have a better approach in mind as of now

[2020-06-16 08:25] timuthy opened #2458 "Failed to delete hibernated cluster w/ KAS network proxy"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:
A 1.18.x shoot which had been created and hibernated could not be deleted after the `KonnectivityTunnel` feature gate was activated.

The Kube-Apiserver hung in the init state because of the following events:

[code]

**What you expected to happen**:
The shoot is deleted successfully.

**How to re

[2020-06-16 08:26] timuthy commented on #2458
@zanetworker are you willing to take a look?

[2020-06-16 08:31] rfranzke commented on #2458
Probably related to #1240

[2020-06-16 09:57] zanetworker commented on #2458
@timuthy will take a look sometime later.

[2020-06-16 13:10] jannickfahlbusch opened #2462 "Specify NodeSelector/Affinities for Shoot core components"
**How to categorize this issue?**
/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
I'd like to be able to specify `nodeSelector`s or `affinities` for the core component that Gardener deploys into each seed so that I can control on which worker pools those components run.

**Why is this needed**:
This is needed as some workerpools might have special hardw

[2020-06-16 13:19] rfranzke commented on #2462
/cc @ggaurav10
I remember you have already helped users in the past to control to which worker pool the system components get deployed to.

[2020-06-16 13:27] amshuman-kr commented on #2462
@jannickfahlbusch Please take a look at https://github.com/gardener/kupid. It might meet your requirement. It can be deployed as a gardener extension and can inject many scheduling criteria orthogonally (without touching anything in gardener) including nodeSelector and affinities.

I am working on integrating it with gardener seeds to optional use dedicated worker pools for specific seed workloads

[2020-06-16 13:30] timebertt commented on #2462
@jannickfahlbusch As discussed via Slack, I think the easiest and probably also cleanest solution for your usecase would be to taint the worker pools with special hardware (ref https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#example-use-cases).

Does that work for you?

[2020-06-16 14:45] dergeberl commented on #2455
The default from the metrics-server should be the the following list `[Hostname,InternalDNS,InternalIP,ExternalDNS,ExternalIP]` but without setting this list in the parameters it does not work. Maybe its an idea to set the `--kubelet-preferred-address-types` to this default. That should not have impact on the provider and works also in the provider without DNS resolve for the Hostnames.

[2020-06-16 15:03] rfranzke commented on #2455
/cc @mvladev - thoughts?

[2020-06-16 16:04] mvladev commented on #2455
The API server tries to reach `Nodes` with the predefined list of types. The problem today is that the API server is separated from the Nodes and it can only access them via InternalIP address (this is no longer requirement for 1.18 K8S clusters `KonnectivityTunnel` feature-gate).

This however this is not a requirement for `metrics-server` as it's running in the `Shoot` cluster network. Changing

[2020-06-17 00:39] ggaurav10 commented on #2462
as mentioned by TIm, taints on the nodes/worker-pool and tolerations on the workload desired to run on those worker pools should do the trick in general.

[2020-06-17 06:30] danielfoehrKn commented on #2458
Seeing something similar sometimes on the kube-apiserver. I ll keep an eye on it.
[code]

EDIT: most likely unrelated.

[2020-06-17 07:37] vpnachev commented on #2462
The shoot owner does not control the tolerations of the system components, of course it is possible with a mutating webhook, but this is additional effort for every shoot owner.

My opinion is that every worker pool can have a boolean field `allowSystemComponents` defaulted to `true`. When it is enabled, the nodes from the worker pool can be labeled with something like `system-components.gardener.

[2020-06-17 07:43] timebertt commented on #2462
Yes, this is correct. But to reach @jannickfahlbusch's intended goal, he doesn't need to. The solution would probably be to taint the pools with special hardware (which the system-components should not run on) and add respective tolerations to the workload that is indeed intended to run there.

[2020-06-17 08:30] zanetworker commented on #2458
@danielfoehrKn I think this is different, to me this sounds like a problem with volume attachement  itself not with resources not found.

[2020-06-17 08:32] jannickfahlbusch commented on #2462
Thank you for the suggestions :)

I see that I can and should do this with Taints/Tolerations on the Shoot owner side for the deployed components.

However I think this increases complexity for components that are not directly related to the workload running on the Shoot (As the Core components are deployed by Gardener). If we'd now add a taint to all our "special" worker pools we would need to ad

[2020-06-17 09:16] rfranzke commented on #2455
/assign @timuthy
/in-progress

[2020-06-17 11:37] timebertt commented on #2462
I see, understood. Some setting on the worker pool would indeed be helpful here 👍

[2020-06-17 11:47] #2452 closed, assigned to timuthy

[2020-06-17 13:23] vlerenc commented on #2462
@jannickfahlbusch Indeed, without adapting your workload, we don't have a solution out-of-the-box. Except for https://github.com/gardener/kupid that @amshuman-kr was proposing. We have developed it to enforce orthogonal constraints on workload without the workload knowing. We plan to use it internally to concentrate ETCDs on a dedicated ETCD-optimised worker pool and since we can't make assumption

[2020-06-17 13:32] timuthy commented on #2455
I tested `--kubelet-preferred-address-types=[Hostname,InternalDNS,InternalIP,ExternalDNS,ExternalIP]` on Alicloud, AWS, Azure, GCP, OpenStack, vSphere successfully with Metrics-Server versions `v0.3.6` and `v0.3.1`. I'll file a pull request as soon as the corresponding integration test is implemented.

[2020-06-17 13:43] vpnachev commented on #2462
/assign

[2020-06-18 05:14] rfranzke opened #2469 "Streamline error codes"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
We should streamline our error codes. Today, we have `ERR_INFRA_UNAUTHORIZED` and `ERR_INFRA_INSUFFICIENT_PRIVILEGES` which are both more or less the same. However, we use `ERR_INFRA_UNAUTHORIZED` mostly for 401 Unauthenticated errors. This might lead to confusing when

[2020-06-18 09:01] #2455 closed, assigned to timuthy

[2020-06-18 13:49] ialidzhikov opened #2475 "Wrong usage of client.MatchingFields"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
Currently `secretToBackupBucketMapper` and `secretToBackupEntryMapper` both have usage wrong usage of `client.MatchingFields`.

https://github.com/gardener/gardener/blob/973993fdea1b0cfd843c9795f65fe4d9ad898fa2/extensions/pkg/controller/backupbucket/mapper.go#L61-L64

https://github.com/gardener/gardene

[2020-06-19 08:02] rfranzke commented on #2294
/reopen (ref https://github.com/gardener/gardener/pull/2310#issuecomment-646499501)

[2020-06-19 08:23] danielfoehrKn commented on #1631
I would like to add the ContainerRuntime to the section `Implement Restore/Migrate function in extension controllers`. I opened an issue on the extension repository.

[2020-06-19 11:15] timuthy commented on #2469
+1 for option 2

[2020-06-19 12:05] vasu1124 commented on #2120
fyi https://chrisdown.name/2018/01/02/in-defence-of-swap.html

[2020-06-19 12:54] jannickfahlbusch commented on #2462
I spoke with @vpnachev over Slack. I'll try to contribute the feature.

/assign

[2020-06-19 13:06] rfranzke commented on #2462
Awesome, appreciating this @jannickfahlbusch, thank you!

[2020-06-19 16:02] jannickfahlbusch commented on #2462
Here is the PR: https://github.com/gardener/gardener/pull/2480

[2020-06-20 14:11] #2033 closed, assigned to nobody

[2020-06-21 12:06] prashanth26 commented on #2453
On a similar line,

I saw the following issue on a shoot.

I think what has happened is that there was a work pool with valid credentials. The credentials and machine images were updated to an incorrect one. And then the credentials was again updated to the correct one. Bcoz the machine class had a deletion timestamp the credentials were not updated properly by the Gardener extension.

NAME

[2020-06-22 04:43] rfranzke commented on #2453
Hm, this incident looks different, to be honest. Have you checked whether the `Worker` object was still in the system?

Why, i.e., how does it matter whether there is a deletion timestamp or not?

Usually, what we have seen as was that only `MachineClass`, `Secret`, and `ManagedResource` belonging to the worker extension remain in the system. Personally, I've never seen that any `Machine`, `Machin

[2020-06-22 05:12] prashanth26 commented on #2453
Yes, the worker object was still in the system in an errored status.

Maybe I forgot to mention. But the shoot was in deletion. Hence I expected deletion timestamps to be set which it was.

Yes, it could be the case that this observed issue doesn't exactly fit this issue, we could probably open another issue if we observe this scenario again. And I think it could happen again as the same project h

[2020-06-22 05:39] rfranzke commented on #2453
OK.
Probably https://github.com/gardener/gardener/blob/master/extensions/pkg/controller/worker/genericactuator/actuator_delete.go#L51-L61 is the section that we have to look at and improve.

[2020-06-22 06:35] zanetworker commented on #2458
@timuthy I tried reproducing this issue with no success, did the steps you mentioned in the issue:

1. Disable `KonnectivityTunnel`
1. Create 1.18.x shoot
1. Hibernate shoot
1. Activate `KonnectivityTunnel`
1. Reconcile shoot
1. Delete shoot

Also for the last step tried deleting the shoot after reconciliation while hibernation is enabled and after waking it up:
- Activate KT -> reconcile with hib

[2020-06-22 07:33] rfranzke commented on #1650
/remove lifecycle/stale
/assign @timuthy
/in-progress

[2020-06-22 07:33] rfranzke commented on #1721
/in-progress

[2020-06-22 08:53] rfranzke commented on #1723
/remove lifecycle/rotten

[2020-06-22 08:59] rfranzke commented on #1723
/cc @donistz

[2020-06-22 14:30] rfranzke opened #4802 "[GRM] Cache breaks when managed CRD gets deleted"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:
When the GRM manages a `CustomResourceDefinition` and it's deleted later on then its logs will be flooded with e.g.

[code]

**What you expected to happen**:
GRM does stop watching the respective CRD.

**How to reproduce it (as minimally and precisely as possible)**:
Let GRM manage a CRD and then dele

[2020-06-22 14:36] rfranzke commented on #4802
Generally, this issue can happen for any resource registered to the GRMs scheme as it's watched by default and this breaks if the API does no longer serve it (e.g., because the CRD got deleted or because a user disabled an API with `--runtime-config` at the kube-apiserver).

[2020-06-22 15:39] timebertt commented on #4802
Currently, there is no way to stop individual informers in the controller-runtime cache (ref https://github.com/kubernetes-sigs/controller-runtime/issues/935).
But there is a first PR addressing this and the discussion is ongoing (https://github.com/kubernetes-sigs/controller-runtime/pull/936). Let's wait for it to see if the resulting design will support our usecase as well.

[2020-06-23 08:02] rfranzke commented on #1825
/remove lifecycle/rotten
@tim-ebert will also work on using the GRM for the seed bootstrapping.

[2020-06-23 08:07] #1135 closed, assigned to mvladev

[2020-06-23 08:13] vpnachev commented on #1825
cc @Kristian-ZH @vlvasilev

[2020-06-23 09:06] prashanth26 commented on #2453
I looked through the Gardener code a little for the deletion logic.

Could this be the issue causing the orphan MachineClasses?

- https://github.com/gardener/gardener/blob/e512cd5a12edff2b4513fb6a97ead5f3f2c9909c/extensions/pkg/controller/worker/genericactuator/actuator_delete.go#L203
- https://github.com/gardener/gardener-extension-provider-azure/blob/master/pkg/controller/worker/machines.go#L49

[2020-06-23 12:19] timuthy opened #2489 "Update K8s dependencies to 1.18.x"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

**What would you like to be added**:
Update the `vendor` sources in g/g to K8s 1.18.x.

[2020-06-23 12:20] timuthy commented on #2489
/assign
/in-progress

[2020-06-23 12:21] timuthy commented on #2489
To track progress: https://github.com/timuthy/gardener/tree/maintenance.vendor

[2020-06-23 15:00] ialidzhikov opened #2492 "Cannot bootstrap Seed when all gardenlet feature gates are false"
**How to categorize this issue?**

/kind bug
/kind regression
/priority normal

**What happened**:
Cannot bootstrap Seed when all gardenlet feature gates are false.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. `make start-gardenlet` on the master branch

2. Ensure that a Seed cannot be bootstrapped.
[code]

**Anything else we need to know?

[2020-06-23 18:08] timebertt commented on #2492
It seems like not only the seed bootstrap is affected. I am also unable to reconcile/create a Shoot successfully with `APIServerSNI` disabled.

[2020-06-24 05:40] #2462 closed, assigned to vpnachev, jannickfahlbusch

[2020-06-24 06:42] #2492 closed, assigned to nobody

[2020-06-24 06:54] hardikdr commented on #1843
I have opened a [draft PR](https://github.com/gardener/machine-controller-manager/blob/d17eacb313dc0e123987d27b917161f79768c994/kubernetes/machine_objects/machine-deployment.yaml#L30-L35) to expose couple of parameters to MachineDeployment, just to unblock the efforts here meanwhile.

[2020-06-24 06:56] rfranzke commented on #1843
Thanks. Who will work on the adaptations in g/g?

[2020-06-24 07:53] rfranzke opened #2498 "Enabling KonnectivityTunnel feature gate breaks shoot-core managed resource"
**How to categorize this issue?**

/area networking
/kind bug
/priority normal

**What happened**:
When the `KonnectivityTunnel` feature gate is enabled then the `shoot-core` `ManagedResource` breaks and cannot apply the resources/deploy the `konnectivity-agent`:

[code]

**What you expected to happen**:
GRM deletes VPN resources and deploys konnectivity resources.

**How to reproduce it (as minim

[2020-06-24 07:53] rfranzke commented on #2498
/kind regression
cc @zanetworker @DockToFuture

[2020-06-24 08:01] prashanth26 opened #2499 "Credential update for machines in rolling update"
**How to categorize this issue?**

/area operations
/kind bug
/priority normal

**What happened**:
I think what has happened is that there was a worker pool with valid credentials. The machine images were updated.  And then secret credentials were updated to an incorrect one. And then the credentials was again updated to the correct one. Bcoz the machine class had a deletion timestamp the credenti

[2020-06-24 08:02] zanetworker commented on #2498
I didn't observe this before, how did you trigger it?

[2020-06-24 08:17] timebertt opened #4803 "[GRM] Configurable log level"
**How to categorize this issue?**

/area usability
/area logging
/kind enhancement

**What would you like to be added**:
Let's add the possibility to configure a log level for grm, so that we can minimize the amount of log output in productive environments (to not flood the logging stack with unnecessary log entries) but to be able to get all the interesting logs during development or debugging.

[2020-06-24 08:18] rfranzke commented on #2498
I simply enabled the feature gate.

[2020-06-24 08:29] rfranzke commented on #4803
+1

[2020-06-24 11:32] hardikdr commented on #1843
I'll pick it up once done with the MCM part.

[2020-06-24 16:00] zanetworker commented on #2498
Tested locally the conditions look healthy:

[code]

[2020-06-26 16:39] timuthy opened #2519 "Last responsible extension controller remains on seed after getting obsolete"
**How to categorize this issue?**

/area quality
/area cost
/kind bug
/priority normal

**What happened**:
Gardener offers on-demand `ControllerRegistration`s which are only deployed to the seed cluster if a related extension Kind/Type is found on the seed. Likewise, once extensions are gone, Gardener checks if the extension controller is still required and deletes it if necessary.

Unfortunately,

[2020-06-29 06:34] #1584 closed, assigned to rfranzke

[2020-06-29 09:02] rfranzke commented on #1580
Fixed by #2437

[2020-06-29 09:02] #1580 closed, assigned to danielfoehrKn

[2020-06-29 14:33] plkokanov commented on #1631
Thanks @danielfoehrKn I added it and sorry for seeing so late. Do you plan to work on it or should we handle it?

[2020-06-29 16:18] timebertt opened #2526 "Gardenlet panics when deleting Shoot"
**How to categorize this issue?**

/area quality
/kind bug
/priority blocker

**What happened**:
#2449 seems to have introduced a regression: when the gardenlet tries to cleanup webhooks in the shoot with the kube-apiserver deployment scaled down to 0, it panics here:
https://github.com/gardener/gardener/blob/f120f2c74a503ab4a388aa055cd08d4081eaf5ed/pkg/operation/botanist/cleanup.go#L183

This is

[2020-06-29 17:22] timebertt commented on #2526
Hmm, this seems to be a race condition between gardenlet and dwd.

[2020-06-29 18:00] timebertt commented on #2526
/assign

[2020-06-30 05:53] #1997 closed, assigned to rfranzke

[2020-06-30 06:49] #2274 closed, assigned to amshuman-kr

[2020-06-30 08:51] #2526 closed, assigned to timebertt

[2020-06-30 08:56] BeckerMax commented on #2390
Hey, I am new to K8s and Gardener so I very much welcome corrections/feedback to my suggestion below:

I think it would be cleaner to not introduce any new custom resource for retaining events. Instead, the already created events would best be recorded in some way and then saved in a storage form made for logs. In our case that would mean that something reads these events and writes them to the El

[2020-06-30 09:40] rfranzke commented on #2390
Thanks @BeckerMax for thinking it through so thoroughly.

I think the approach of leveraging the existing `corev1.Event` resource and exporting it to a place where the data can be stored for a longer time makes sense in general.
However, I think this is something that needs to taken care of during the deployment of Gardener. The contract from Gardener's point of view could simply be to generate th

[2020-06-30 10:22] dguendisch commented on #2390
I think both arguments are valid: @BeckerMax with not misusing etcd for kind-of log storage but instead re-using our logging solution (by using one of the many events-to-logs solutions) and @rfranzke with a) events are low-volume as maintenance operations are pretty heavy-weight, so customers cannot induce a large amount of them and b) Dashboard or other ops tools would need to code against the lo

[2020-06-30 10:24] rfranzke commented on #2387
In a sync together with @tim-ebert we agreed to "start small" and re-use the existing [`conditionThreshold` configurations](https://github.com/gardener/gardener/blob/master/example/20-componentconfig-gardenlet.yaml#L48-L56). When a create/reconciliation operation is finished then the care controller could consider the `.status.lastOperation.lastUpdateTime` and mark the conditions as `Progressing`

[2020-07-01 06:01] timebertt commented on #2390
I agree with @dguendisch that both options make total sense.

However, I'm not sure, how such a logging implementation would look like for the first step, as we don't have any logging stack visible to the enduser in the garden cluster as of now. We only have a logging stack with the Shoot Control Plane in the Seed clusters (which is also brought down during hibernation). So I guess, we would need

[2020-07-01 06:01] vlerenc commented on #236
@rfranzke ...but for instance MCM isn't transporting that information anywhere and that was the original reason for this ticket, i.e. that the cluster "changed" in the sense that e.g. a node was added/remove/replaced and the user wanted to know why. Not everything is reflected in the shoot resource.

I don't think we have reached the transparency required just yet. See also #2390.

[2020-07-01 06:01] vlerenc commented on #2390
FYI/from former times, there is `Gardener Cluster Audit Logs` #236. Quite long ago, 2-3y, we discussed how we could preserve some activity log and went for the "cheap" events-based approach.

In fact, the original goal was to get an overview of all operations and their outcome and find the logs for those operations, e.g. by ID. Much like https://bosh.io 's https://bosh.io/docs/cli-v2/#tasks, which

[2020-07-01 08:04] qiffang opened #2538 "Add firewall for shoot apiserver"
Hey, i deployed gardener in gcp.
Is there a good way to add firewall for shoot apiserver?

[2020-07-01 09:51] rfranzke commented on #2294
/close (ref https://github.com/gardener/gardener/pull/2310#issuecomment-648215545)

[2020-07-01 09:51] #2294 closed, assigned to rfranzke

[2020-07-01 10:23] rfranzke commented on #201
/remove lifecycle/rotten

FYI: See also https://github.com/gardener/gardener/blob/master/docs/deployment/kubernetes.md, that's the current situation/requirement/contract:

---

I suggest to introduce `.spec.settings.nginxIngress` to the `Seed`, similar to https://github.com/gardener/gardener/blob/master/example/50-seed.yaml#L48-L49, but disabled by default (because it requires further configuratio

[2020-07-01 13:12] #2458 closed, assigned to zanetworker

[2020-07-01 14:23] BeckerMax commented on #201
/assign @BeckerMax

[2020-07-01 14:45] danielfoehrKn commented on #1631
@plkokanov if it is not super urgent I can do it. But sure, feel free to go ahead (just assign yourself on the issue).

[2020-07-02 06:38] #2387 closed, assigned to rfranzke

[2020-07-02 06:46] minchaow opened #2545 "PVs cannot be destroyed after waking up one hibernated shoots"
**How to categorize this issue?**

/area storage
/kind bug
/priority normal

**What happened**:
`PVs` cannot be destroyed for waking up shoot clusters. The status of `PVs` are always in `Terminating`.
When executing `kubectl get volumeattachments.storage.k8s.io`, I noticed `PVs` are still binding to the old nodes (which already destroyed during hibernating).
**What you expected to happen**:
`PVs`

[2020-07-02 07:02] danielfoehrKn opened #2546 "Update Garden clients at runtime"
**How to categorize this issue?**

/area quality
/ area robustness
/kind enhancement
/priority normal

**What would you like to be added**:

Make it possible to transparently update the Garden Cluster clients at runtime.

With the introduction of the client map concept, it is possible to [refresh clients](https://github.com/gardener/gardener/pull/2544) when the underlying kubeconfig stored in a se

[2020-07-02 07:22] rfranzke commented on #2546
@tim-ebert can explain it in detail, but what I understood from a discussion with him is that it's very complex/not even clear from the current design's perspective to achieve a dynamic refreshment of the garden client.
IIUC the certificate rotation of the gardenlet is the only real use-case (I don't understand the second point, sounds artificial to me, can you explain more about it).
Even if we l

[2020-07-02 12:48] mvladev commented on #2538
Can you provide more details? Like allow traffic to the Shoot API server from specific IPs?

[2020-07-03 06:03] timebertt commented on #2546
Indeed, I don't see any way how the configuration of client-go style ClientSets, Informers or Listers can be changed at runtime. Maybe I miss something here, if you see such possibilities, I would be very interested to look into them.
As we rather heavily rely on Informers and so on in our controllers and don't have any way of refreshing them, we need to shutdown the gardenlet in order to recreate

[2020-07-03 07:06] swilen-iwanow commented on #2454
The easiest way to get rid of the bug is to remove this https://github.com/gardener/gardener/blob/master/pkg/utils/kubernetes/update.go#L56  DeepEqual check, as it is the buggy part. The idea behind it is to check if the received and transformed objects are equal, but in case of a conflict it is not working as expected. The cons of this approach are that we are going to make an update request for

[2020-07-04 17:06] ialidzhikov opened #2557 "extensionsv1apha1.BackupEntry deletion fails because of missing Secret"
**How to categorize this issue?**

/area backup
/kind bug
/priority normal

**What happened**:
We see cases in which extensionsv1apha1.BackupEntry deletion fails because of missing Secret. This failed deletion leads to pollution of the logs as the same log entries as spammed multiple times in a second.

**What you expected to happen**:
To have clean logs.

**How to reproduce it (as minimally and p

[2020-07-04 17:08] ialidzhikov commented on #2557
/cc @swapnilgm @shreyas-s-rao

[2020-07-04 17:09] ialidzhikov commented on #2475
/cc @swapnilgm

[2020-07-04 17:09] ialidzhikov commented on #2475
/area backup

[2020-07-06 04:22] hardikdr opened #2558 "Gardener v1.7.0 seems to be breaking the extension-provider-aws v.1.10"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:  Latest gardener-extension-provider-aws seems not to be able to build when gardener v1.7.0 is vendored in.

**What you expected to happen**: I expected the provider extension to build well against the latest release of g/g.

**How to reproduce it (as minimally and precisely as possible)**:
1. Clone g-

[2020-07-06 04:41] swapnilgm commented on #2475
/status accepted

Thanks for reporting issue. I will work on it.

[2020-07-06 04:47] swapnilgm commented on #2557
Ok. Have to dig into it. This is side effect of deletion failing at the step where, backupentry controller has completed the deletion and removed finalizer from referred secret. But failed at removing finalizer form BackupEntry resource itself. So, in next reconciliation it doesn't find the secret and fails. Will check how can we suppress such logs.

[2020-07-06 06:06] ialidzhikov commented on #2558
See https://github.com/gardener/gardener-extension-provider-aws/pull/129 for example as adaptation.

[2020-07-06 06:10] timebertt commented on #1879
Can probably be fixed by implementing #1240 (not only for hibernated shoots, but in general for all Shoots in deletion)

[2020-07-06 06:11] ialidzhikov commented on #2558
/close

[2020-07-06 06:11] #2558 closed, assigned to nobody

[2020-07-06 06:45] timebertt commented on #2453
/assign

[2020-07-06 17:22] guydc opened #2559 "Resource reservation for kube and system daemons"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

**What would you like to be added**:
[Kubelet configuration](https://godoc.org/k8s.io/kubelet/config/v1beta1) can be used to [reserve resources for kube and system daemons](https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/). Reserved resources are deducted from the node's capacity.

[2020-07-07 07:20] plkokanov opened #2561 "Integration Tests for Shoot Control Plane Migration"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement
/priority normal

**What would you like to be added**:
Integration tests for `Shoot` control plane migration between working `Seeds`.

**Why is this needed**:
The control plane migration of `Shoots` between working `Seeds` is nearly ready to be tested. To do that the following tasks have to be completed:
- [x] Reuse

[2020-07-07 09:40] #2475 closed, assigned to nobody

[2020-07-07 12:44] knightXun opened #2565 "unable to delete shoot when shoot failed to create"
When shoot cluster failed to create, I cannot delete ths shoot cluster mannually.Please notice this.

[2020-07-07 13:09] timuthy commented on #2565
This is a very generic statement and since a lot of steps are involved to create a shoot cluster which are also infrastructure/cloud provider dependent, the reasons for an unsuccessful deletion can be versatile.

Did you really try to clean-up the shoot and dependent resources manually yourself or did you instruct Gardener to delete the shoot again. What's the concrete issue?

I kindly ask you to

[2020-07-07 16:06] timuthy commented on #2559
Thanks for opening this issue and the description @guydaichs.

Did I get it correctly that in your case, the values for the `system-reserved` cgroup were too low and thus the kube components where throttled? Btw. which kube components do you mean besides the kubelet process?

Have you tested the very same scenario with higher `system-reserved` values and saw the throttling not happening?

I'm not

[2020-07-07 16:51] ialidzhikov commented on #2565
/status author-action

[2020-07-07 18:46] guydc commented on #2559
Hi @timuthy,

I refer to kubelet and docker. Our performance tests showed that increasing `system.slice` cpu shares improved the average pod start time by 30%, when multiple pods are scheduled on a certain node at a high rate.

I think that the default values are fine for most cases, and don't see a reason to change them in general.

Our scenario involves large VMs, high pod density and turnaround

[2020-07-08 06:09] timebertt opened #2569 "Machine Image downgraded during apply"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
We have some Shoots that are applied without a machine image version and were previously defaulted to a preview version. This was fixed in #2534.

But now that the Shoots are applied again without a machine image version, they are defaulted to the non-preview version which means a machine image version

[2020-07-08 06:18] timebertt commented on #2569
/cc @vpnachev

[2020-07-08 06:46] timebertt commented on #2569
/assign

[2020-07-08 13:33] #2569 closed, assigned to timebertt

[2020-07-08 14:58] Diaphteiros opened #2572 "seed deletion fails due to provider controllerinstallation not being deleted"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:
Tried to delete a seed. Seed is now stuck in deletion.
Logs show that the provider controllerinstallation still exists, blocking seed deletion. The controllerinstallation doesn't have a deletion timestamp. Deleting it seems to resolve the problem.

**What you expected to happen**:
Extensions are c

[2020-07-08 15:17] ialidzhikov commented on #2572
/status accepted

[2020-07-08 21:43] danielfoehrKn commented on #2546
Agree. I am not advocating to tackle the issue right now but to keep in mind that we have some technical debt here in my opinion.
I think it makes sense to leave this issue open and revisit it when we see more reasons to switch to the controller runtime clients.

No I do not. I see that as a reason to harmonize the client usage in the GCM, Gardenlet and extensions to all use the controller runtime

[2020-07-08 21:48] danielfoehrKn commented on #2572
possibly related to #2519

[2020-07-09 05:45] timuthy commented on #2572
\+ 1

I disabled the backups on my local dev which is why I talked about the provider extensions only in this issue.

[2020-07-09 06:42] timebertt commented on #2546
TBO, I don't really get, why this would be a technical debt. Can you elaborate, why you think so?
We have a lot of other components that are simply restarted if their configuration changes (see the Pod checksum annotations in many of our deployments). And I guess, this is also the "cloud-native" way to do things. Rather kill your workload to see it get restarted cleanly with the correct configurat

[2020-07-09 08:06] #2054 closed, assigned to swilen-iwanow

[2020-07-09 09:49] #2565 closed, assigned to knightXun

[2020-07-09 12:24] timebertt commented on #2454
Hmm, I would not go for removing the `DeepEqual` check.
Also, passing a `runtime.Object` to the transform func yields the same problem as returning a `runtime.Object`: callers will always have to convert the object to the underlying type, that they want to work with.

I took another look at the `tryUpdate` function and found some way, that might work for all the requirements we have.
It adds a `*r

[2020-07-09 13:52] swilen-iwanow commented on #2454
This looks possible solution, but I am worried if the Convert method would clean the obj from fields (when they don't exist in objectFromServer), that are set during previous runs by the transform, when there is a conflict 🤯🤯 . Who knows. We have to try it I guess. Would you or should I?

[2020-07-09 13:55] timebertt commented on #2454
Hmm, the reason I did it in this way, was to ensure, that the object is updated to exactly the version from the server before `transform` is called. But as said, I am not sure, if this will work.

If you want to try and take over this task, feel free to assign yourself to this issue using `/assign` 😉

[2020-07-09 14:02] swilen-iwanow commented on #2454
I am already assigned. Will try it and comeback to you 🤝

[2020-07-09 15:03] timebertt commented on #2454
Ah nice, I missed that 😄
Thank you!

[2020-07-10 12:18] timebertt commented on #2559
/assign @guydaichs
Thanks for picking up this task!

[2020-07-13 14:18] timebertt commented on #2368
We might want to think about outsourcing the secret generation out of the gardenlet.

While discussing the topic with @timuthy @ialidzhikov @vpnachev @danielfoehrKn some ideas were:

**1. Secret generation in separate goroutine worker pool**
If we use some kind of pool of gorountines generating the secrets, we could rate limit the amount of secrets generated in parallel to control the resource con

[2020-07-14 10:37] hoeltcl opened #2585 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2020-07-14 10:51] hoeltcl commented on #2585
Checked. Following the current process for static code analysis issue.

[2020-07-15 06:53] timuthy commented on #2538
/status author-action

[2020-07-15 11:30] guydc commented on #2559
Following the discussion in #2574, I updated the requirement in this issue: only `SystemReserved`, `KubeReserved` should be exposed.

[2020-07-15 12:16] danielfoehrKn opened #2590 "Resource reservation for kube and system daemons"
This issue tracks activities related  to resource reservation for kube and system daemons started in this [Issue](https://github.com/gardener/gardener/issues/2559).

**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

Following up on the discussion made in [this PR](https://github.com/gardener/gardener/pull/2574).
There are multiple open points / activities to b

[2020-07-16 06:15] donistz opened #2592 "New project role for project members administration"
/kind enhancement
/priority normal

**What would you like to be added**:
New project role for project members administration
**Why is this needed**:
The members of the Gardner projects can be managed via the Gardner Dashboard and also via the Gardner API by any project member with the Gardener role “admin”. The problem is that when the Gardner API is used for an integration with an external UAM so

[2020-07-16 10:44] grolu commented on #2592
I want to raise some concerns from the Dashboard side. Currently, the members are part of the project resource. We decide based on the permissions we receive via `SelfSubjectRulesReview` if a user can patch a project. If he is allowed to, we enable project administration (e.g. description, cost center etc.) as well as member management.
How to you plan to separate member management from project ma

[2020-07-16 10:45] grolu commented on #2592
@petersutter

[2020-07-16 11:47] ialidzhikov opened #2593 ""fluentbit.io/exclude=true" is not removed after .spec.purpose change"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal

**What happened**:
With #2320  gardener-seed-admission-controller adds the `fluentbit.io/exclude=true` annotation to the controlplane Pods when the spec.purpose=testing. When the purpose is changed, the exclude annotation stays in the controlplane Pods and this prevents fluent-bit to collect logs from them.

**What you ex

[2020-07-17 08:51] g-pavlov opened #2595 "Cluster level logging API for end-users"
**How to categorize this issue?**
/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
An API to support end users in aggregating cluster level logging data with application logging and/or documentation how to do that.

**Why is this needed**:
Cluster level logging provides context that can aid troubleshooting and tracing root cause in application issues. Having a

[2020-07-17 08:52] g-pavlov commented on #2595
/assign Kristian-ZH
/assign vlvasilev

[2020-07-17 10:42] vpnachev commented on #2595
@g-pavlov you have to prefix the usernames with `@`

/assign @vlvasilev @Kristian-ZH

[2020-07-17 11:04] vpnachev opened #2598 "Shoot failed to be created waiting ingress LB to be ready"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
Sometimes, shoots with enabled ingress addon failed to be created because the respective LB service does not get public IP because there is no nodes in the cluster. This behavior depends on the cloud provider, for example it is observable on GCP, for

**What you expected to happen**:
The shoot to be suc

[2020-07-17 11:08] vpnachev commented on #2598
The logs from the cloud controller manager
[code]

[2020-07-17 12:56] #2598 closed, assigned to vpnachev

[2020-07-17 14:34] danielfoehrKn commented on #2546
We agreed upon that it does not make sense to update the Garden and Seed clients at runtime due to increased complexity.
Gardener is build in a stateless fashion - so killing the Gardenlet pod will do not harm (does not reconcile any Shoots again etc.).
The only thing that possibly happens is that an ongoing reconciliation will be started again.

Thanks for your guys input!
Closing this.

[2020-07-17 14:34] #2546 closed, assigned to nobody

[2020-07-19 13:11] ialidzhikov opened #2604 "Expired machine image version of worker is not forcefully updated"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
Currently expired machine image version of worker is not forcefully updated when Shoot has other workers with non-expired machine image versions.

**What you expected to happen**:
Expired machine image version of worker to be forcefully updated.

**How to reproduce it (as minimally and precisely as poss

[2020-07-20 03:15] rfranzke commented on #2368
My personal preference would be the second approach as it sounds most promising wrt scalability (we can have "as many" secret generation pods as we need in parallel).

[2020-07-20 03:38] rfranzke commented on #2592
@grolu The idea was to introduce a custom verb `spec-members`, similar like [`spec-tolerations-whitelist`](https://github.com/gardener/gardener/blob/9855c1b1a89b36df125ac76e95998a0ab32ff09d/pkg/apis/core/types_project.go#L96-L98) that allows to modify the members of a project. I don't think a dedicated resource is helpful at this point in time.
So, you can still use `SelfSubjectRulesReview` but wi

[2020-07-20 03:48] rfranzke commented on #2585
/assign
done
/close

[2020-07-20 03:48] #2585 closed, assigned to rfranzke

[2020-07-20 04:48] donistz commented on #2592
Hello, Service accounts are not managed via the external UAM solution. The UAM solution is integrated in the way to manage only persona uses via an approval flow.
@rfranzke: Thanks a lot for the feedback!

Kind regards,
Donka

[2020-07-20 04:54] rfranzke commented on #2592
Does this mean that any admin should still be allowed to add/remove ServiceAccounts to/from the project members even when not having this "spec-members" role (but only patch/update)?

[2020-07-20 05:41] donistz commented on #2592
Service Accounts are a kind of technical configuration. It is required to make sure that the Service Accounts permissions will not allow the person who has access to the service account token to use it to manage persona users via the Gardner API but the Service Accounts management should be allowed via the regular "admin" role.

[2020-07-20 07:12] grolu commented on #2592
What I meant is, that we need to implement a custom check for the member management, and cannot just use the Rules we receive via `SelfSubjectRulesReview. If you implement a custom verb I guess this would simplify thinks for us.

Okay, but then we cannot just exchange the string, right? @rfranzke Service Accounts are basically users with a special prefix, so can admins still patch the service acco

[2020-07-20 08:14] rfranzke commented on #2557
Any update?

[2020-07-20 08:14] rfranzke commented on #2538
/close
kindly /reopen if you see necessity

[2020-07-20 08:14] #2538 closed, assigned to qiffang

[2020-07-20 08:15] rfranzke commented on #2498
/close for now, not reproducible

[2020-07-20 08:15] #2498 closed, assigned to nobody

[2020-07-20 08:59] swapnilgm commented on #2557
Nope. As i mentioned its effect of failing at the step of finalizer removal. Only option is manually remove finalizer to delete such erroneous backupentry.  I couldn't see any issue in code, cause on error controller retry reconcile immediately as expected and log the error message.

[2020-07-20 13:27] rfranzke commented on #2592
Personally, I'd prefer to split the lists, but I haven't found a good way to achieve this backwards-compatibly (together with the to-be-introduced custom verb). In a call with @petersutter we agreed that it would probably make sense to split the lists of members (e.g. `.spec.members` and `.spec.robots` in a new API version of the core API).

For now, let's keep `.spec.members` as it is and introdu

[2020-07-20 15:26] vpnachev commented on #2592
The dashboard is not using `kind: ServiceAccount` but `kind: User` for any type of user.
ref: https://github.com/gardener/dashboard/issues/384

[2020-07-20 15:33] grolu commented on #2592
Yes, currently we don't differentiate between users and service accounts this is something we need to do. But all existing service accounts will not be manageable by admins if we don't migrate them

[2020-07-20 16:15] rfranzke commented on #2592
No problem, we can check for both, `kind=User` and `name=system:serviceaccounts:*`. No need for a migration.

[2020-07-20 16:35] grolu commented on #2592
Okay then this is clarified, from dashboard side we are okay with this approach

[2020-07-21 07:48] #2559 closed, assigned to guydc

[2020-07-21 08:13] timuthy commented on #2489
Update: As soon as #2588 has been merged, we proceed with the actual update work.

[2020-07-21 15:12] rfranzke commented on #2604
/assign @vpnachev @danielfoehrKn

[2020-07-22 07:07] #2519 closed, assigned to nobody

[2020-07-22 09:12] rfranzke commented on #2593
/assign

[2020-07-22 10:35] ialidzhikov commented on #2572
It seems that this issue is fixed in the master branch by https://github.com/gardener/gardener/pull/2610.

I am closing this for now, please reopen if you have any objections.

/close

[2020-07-22 10:35] #2572 closed, assigned to nobody

[2020-07-22 19:31] jpillora commented on #1135
Hey guys, I've done a big refactor of chisel. Years ago, I made the mistake of not using the `internal` package and so there's many subpackages exposed when they shouldn't be. I expect everything to continue working, however now with UDP tunnelling and TLS server support. Please check out latest `v1.7.0-rcX` tagged release and let me know if there are any issues.

[2020-07-23 07:16] rfranzke opened #2618 "Shoot tasks are removed too early"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:
Certain tasks in the shoot reconciliation flow are controlled via the `shoot.gardener.cloud/tasks` annotation in `Shoot`s. A good example is `deployInfrastructure`.
When the `.spec.provider.infrastructureConfig` is changed then the GAPI adds this task annotation to the shoot. This task annotation is r

[2020-07-23 07:16] rfranzke commented on #2618
/assign

[2020-07-23 07:21] timuthy commented on #1650
We can use the `ResourceQuota` to restrict the number of resources. But for Gardener managed resources, i.e. API group `core.gardener.cloud` we need to implement our own resource [quota admission plugin](https://github.com/kubernetes/kubernetes/blob/release-1.2/docs/design/admission_control_resource_quota.md#admissioncontrol-plugin-resourcequota) for the Gardener API server analogue to the one fro

[2020-07-23 07:26] rfranzke commented on #1650
Thanks for the update @timuthy. Do you have more background? Why? Last time we talked about it you mentioned there was a problem with the resource quota controller that collects the current number of shoots, for example. Do you now also have observed issues in the admission plugin (even if the controller would compute the values correctly)?

[2020-07-23 08:41] timuthy commented on #1650
The resource quota controller only updates the current or actual resource usage of Pods and Services as explained by the [design doc](https://github.com/kubernetes/kubernetes/blob/release-1.2/docs/design/admission_control_resource_quota.md#resource-quota-controller) and implemented [here](https://github.com/kubernetes/kubernetes/blob/7f88e91892c03f06e167adea051781717dd96dd9/pkg/controller/resource

[2020-07-23 09:54] rfranzke commented on #1633
/remove lifecycle/stale

[2020-07-23 10:43] ghost opened #2621 "Pods scheduled on non-ready Nodes"
**How to categorize this issue?**

/area networking
/area robustness
/kind bug
/priority normal

**What happened**:

When we do an update of the OS, we notice that pods which get run on new Nodes are not able to initiate network connections or have trouble resolving DNS addresses.

**What you expected to happen**:

When a Pod is being scheduled on a new Node it should be able to initiate connectio

[2020-07-23 10:45] rfranzke commented on #2621
/cc @gardener/gardener-extension-networking-calico-maintainers

[2020-07-23 10:56] vpnachev commented on #2621
One option that can be researched, is to set the taint `node.kubernetes.io/network-unavailable` via the kubelet flag`--register-with-taints`, expecting the kubelet automatically to remove it (this has to be double checked) once the node is ready.

[2020-07-23 13:15] #2618 closed, assigned to rfranzke

[2020-07-24 06:59] #2592 closed, assigned to rfranzke

[2020-07-24 12:52] ialidzhikov commented on #2593
I am now sure how https://github.com/gardener/gardener/pull/2615 fixes this issue? Doesn't the seed-admission webhook require create, update operation for given controlplane pod to be able to mutate it and remove the annotation when Shoot `.spec.purpose` is changed from testing to something else?
I now switched the `.spec.purpose` from testing for a given Shoot and for some of the controlplane Pod

[2020-07-24 13:06] ialidzhikov commented on #2593
[code]

[2020-07-24 13:06] rfranzke commented on #2593
Yes, but isn't this a general problem with the approach to have the annotation on the pod? When you switch from production -> testing you won't find the annotations either, right?
What do you suggest?

[2020-07-24 13:18] ialidzhikov commented on #2593
Yep, right, it is also a problem for the `production -> testing` change.

If I had an idea that could address it in a simple && elegant way, I would already share it. I wanted to mention that the steps to reproduce are still valid and applicable.

[2020-07-24 13:29] ialidzhikov commented on #2593
/reopen

[2020-07-24 13:32] rfranzke commented on #2593
The only idea I have right now is to add the shoot purpose as an annotation to the pod template metadata section for workload resources, i.e. `Deployment`s, `StatefulSet`s, etc. Then, when the purpose changes, the pods will be rolled out, triggering the webhook to add/remove the fluentd annotation.

[2020-07-24 14:29] vpnachev commented on #2462
Today I have forcefully deleted all machines of a shoot clusters, the MCM has created the respective replacement machines.
Some of the new VMs has joined very quickly the cluster, but the last few VMs needed 20+ minutes.
While I was waiting the last VMs (there was no `CSR` or `Node` resource for them) I noticed that the nodes that has already joined the cluster were not labeled with `worker.garden

[2020-07-24 15:49] vlerenc commented on #2462
Uh, sounds like a good catch @vpnachev.

[2020-07-24 16:06] vpnachev commented on #2462
Yeah, I think it is somehow related with another observation - I have seen MCM keeping status of machines `Pending` while the nodes were ready for 20+ minutes, it was again on a large cluster with more than 10 VMs created simultaneously. Probably the controller was busy waiting the other VMs to join the cluster.

[2020-07-25 04:53] hardikdr commented on #2462
Hm, labels are applied almost immediately the node-object joins, there is no intended wait in between. But what you said is correct, controller might be busy doing something else meanwhile.

We also observed that recently, for large clusters, mcm getting short of the worker-threads. There is a recent PR : https://github.com/gardener/machine-controller-manager/pull/491 , to increase the number of t

[2020-07-27 05:56] prashanth26 commented on #2462
It is a nice catch. I think we have nailed down this issue here - https://github.com/gardener/machine-controller-manager/issues/490 as mentioned by hardik. We have to have made things better with increasing the worker objects allowed. However, the permanently fix this, we need to move the drain logic out of the main machine reconcilation and we shall do that once we get sometime. Hence keeping #49

[2020-07-27 08:05] rfranzke opened #2629 "☂️-Issue for "Support for Kubernetes v1.19""
Kubernetes v1.19.0 will be released in the next weeks, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md

Work has been started and pushed to the [`kubernetes-v1.19`](https://github.com/gardener/gardener/tree/kubernetes-v1.19) branch. There are similar branches in the provider extension repositories in case the work has been started already.

[2020-07-28 05:02] #1843 closed, assigned to hardikdr, rfranzke, prashanth26

[2020-07-28 05:49] #2604 closed, assigned to vpnachev, danielfoehrKn

[2020-07-28 06:35] jia-jerry opened #2632 "Support user to disable ssl-passthrough option in Nginx Ingress addon"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority blocker

**What would you like to be added**:
User needs to disable ssl-passthrough option in Nginx Ingresss.
**Why is this needed**:
HanaCloud team reported that they can't get source IP in their apps which are exposed via Nginx Ingress Controller on AliCloud.

_What they found_:
- Disable ProxyProtocol in Nginx Ingres

[2020-07-28 06:40] rfranzke commented on #2632
The nginx-ingress addon is not recommended for production use-cases, and we decided long time back to not invest into it anymore (hence, we are also running a very old version). End-users can deploy their own, up-to-date nginx-ingress (or whatever else) controller and configure it properly for their use-case.

[2020-07-28 06:46] jia-jerry commented on #2632
Good suggestion.

[2020-07-28 06:46] #2632 closed, assigned to nobody

[2020-07-28 11:26] timebertt opened #2633 "Readiness probes missing for gardener-apiserver"
**How to categorize this issue?**

/area robustness
/area high-availability
/kind bug
/priority normal

**What happened**:
When the gardener-apiserver deployment is updated, the replicaset controller immediately deletes Pods of the old replicaset without waiting for the new Pods to be ready, which causes a (short) unavailability of the gardener API.
This is because `readinessProbes` are missing in

[2020-07-28 15:03] #918 closed, assigned to mvladev, vlvasilev

[2020-07-29 11:30] einfachnuralex opened #2638 "fluent-bit not collecting logs from master nodes"
**How to categorize this issue?**
/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
We are deploying Gardener with garden-setup to a initial cluster, which is deployed with kubeadm.
On that initial cluster there is a elasticsearch instance and fluent-bit daemonset deployed by the gardenlet.

The fluent-bit daemonset does not have a toleration for the taint effe

[2020-07-29 11:52] rfranzke commented on #2638
/assign @vlvasilev @Kristian-ZH

[2020-07-31 07:05] ialidzhikov commented on #2633
/assign

[2020-07-31 10:59] timebertt commented on #2633
Thanks @ialidzhikov!

One additional thought, I had about this topic:
We could also configure `minReadySeconds` additionally to `readinessProbes` in the `gardener-apiserver` deployment.

[2020-07-31 11:37] ialidzhikov commented on #2633
I hit https://github.com/kubernetes/kubernetes/issues/93599. We should wait until the fix is merged in the k/k master and then cherry-picked into release-v1.17 (as we are currently vendoring `v0.17.9`) and finally vendored on our side.

[2020-08-03 05:54] BeckerMax commented on #2390
Outcome of the joined discussion:

As an immediate solution we want to extend the life-span of certain shoot related events in etcd. We start with events recording  'K8s version updates', 'imageversion updates' and hibernation. This is implemented with an event controller in PR https://github.com/gardener/gardener/pull/2649 .

To improve observability we need to further discuss :
-> Which relevant

[2020-08-03 06:20] rfranzke commented on #2390
Do we already have events for reconciliation/deletion operations?

Hm, didn't we decide on the event controller approach for now with a separate etcd for the events (which is a best practice anyways) and a "short/normal" TTL for the non-shoot events? Everything else is much more work and we don't have a clear plan now, so I'd suggest to postpone this discussion until we have gained some experience

[2020-08-03 06:39] rfranzke opened #2650 "Loki crashing"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal

**What happened**:
After #2515 I sometimes see Loki that is deployed as part of the shoot control plane is crashing:

[code]

**What you expected to happen**:
Loki should work and run without errors.

**How to reproduce it (as minimally and precisely as possible)**:
I don't know at this point in time.

**Anything else we

[2020-08-03 06:40] rfranzke commented on #2650
It seems that it's to slow to start-up, i.e., the liveness/readiness probe fail and the kubelet terminates the pod.

[2020-08-03 06:46] rfranzke commented on #2650
Interestingly, the loki `StatefulSet` declares

[code]

but the VPA has set it down to

[code]

So, probably it got CPU-throttled.
/cc @ggaurav10 @wyb1 - any suggestions?

[2020-08-03 06:48] rfranzke commented on #2650
After deleting the VPA loki is running fine with
[code]

[2020-08-03 07:19] amshuman-kr commented on #2650
I have seen a few `OOMKilled` last week, so it may not be only CPU throttling.

[2020-08-03 07:22] amshuman-kr commented on #2650
I have had similar problem with `kupid` where VPA was scaling down to very low values during low load and leading to crashes when there is load because VPA doesn't react fast enough. Had to add [`minAllowed`](https://github.com/gardener/kupid/blob/master/charts/gardener-extension-kupid/values.yaml#L21-L23) configuration to ensure it doesn't go below some sane levels.

[2020-08-03 07:24] ggaurav10 commented on #2650
After discussion with @amshuman-kr , following are some of the options that we may consider to resolve this (in the order of preference):
1. tuning the gap between `requests` and `limits` to work for the lower end
1. setting `minAllowed` to be higher so the lower end itself is higher
1. Use HVPA controller to gain more control over `limits` scaling

[2020-08-03 08:52] #2650 closed, assigned to vlvasilev, Kristian-ZH

[2020-08-03 12:16] #2335 closed, assigned to swilen-iwanow

[2020-08-03 12:58] rfranzke commented on #2557
I checked the code and I see what you are meaning. The `BackupEntry` controller has no way to determine whether it has already deleted the data, or whether it still has to do it.

* @swapnilgm proposed to put an annotation to the `BackupEntry` post successful deletion but prior to finalizer removal from the referred `Secret`. This way it can know whether it still has to perform the deletion or whe

[2020-08-03 19:16] dguendisch opened #2657 "Conformance test coverage table is broken"
**How to categorize this issue?**
/kind bug
/priority normal
/area testing

**What happened**:
The testgrid/conformance badges included in the repos root readme at https://github.com/gardener/gardener#k8s-conformance-test-coverage are broken because of https://github.com/kubernetes/test-infra/pull/18509

**What you expected to happen**:
No broken links on the root readme

**Anything else we need t

[2020-08-04 06:10] timebertt commented on #2557
I would vote for approach 2)
As you said, the finalizer can also be removed from the BackupEntry itself and we would not be able to clean up properly. But we have this in a lot of other places as well, and I think, k/k handles it similarly (e.g. with PVs/PVCs), right? (At least I understand, that's how finalizers are supposed to work).

We could additionally add a retry to the finalizer removal, b

[2020-08-04 08:08] rfranzke commented on #2638
@einfachnuralex I think it's reasonable, the colleagues are currently on vacation. Feel free to submit a PR if you want.

[2020-08-04 08:39] rfranzke commented on #2557
I've opened a PR to adapt this behaviour.

[2020-08-04 08:39] swapnilgm commented on #2557
Then i'm also fine with it.

[2020-08-04 10:17] #2557 closed, assigned to nobody

[2020-08-04 12:47] vpnachev commented on #2368
I would like just to mention that the `ShootState` resource was introduced with the idea for secret generation outsourcing, so for the third option the "CRD" is already available.

[2020-08-04 12:51] rfranzke commented on #2368
Hm, no, I don't think the `ShootState` is related in any way here. It holds arbitrary data, generated data, but what we need is a CRD that takes a desired configuration (e.g., certificate common name, SANs, lifetime, etc.) and then generates the cert (that might later be put into the `ShootState`, but again, unrelated, so let's not mix it up).

[2020-08-06 06:31] einfachnuralex commented on #2638
@rfranzke Thx, i've opened the PR #2671

[2020-08-06 06:33] rfranzke commented on #2638
/reopen until #2671 is merged

[2020-08-06 08:32] phil9909 commented on #2489
FYI: This blocks us from updating [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/) from `0.5.x` to `0.6.x`.

We import `github.com/gardener/gardener/pkg/apis/core/v1beta1` in our go-code to dynamically create shoots.

[2020-08-06 09:25] timebertt commented on #2633
@ialidzhikov WDYT about the `minReadySeconds`?

[2020-08-06 10:06] timebertt commented on #2489
Why is this blocking you?
If you are only importing the API packages, you should be good to go for using different versions of k/k or controller-runtime. Right?

[2020-08-06 10:32] ialidzhikov commented on #2633
Hm, as far as I see `minReadySeconds` is a delay to wait for a Pod to be ready without any of its containers crashing. But wouldn't be this handled when we introduce the readinessProbe - my assumption is that the rollout will wait until the readiness probe of the newly created Pod is successful (wait for `initialDelaySeconds` and for `successThreshold`) before marking as Ready.

[2020-08-06 10:49] timebertt commented on #2633
Yes, I think `minReadySeconds` is an additional delay before continuing with the rollout. So I guess your perception is right.
Do you think, it makes sense to add it?

[2020-08-06 10:50] rfranzke commented on #1433
/touch

[2020-08-06 10:53] phil9909 commented on #2489
This is what I assumed, but seems not to be true:

[code]

`conversions.go` is apparently broken with k8s 1.18 dependencies

[2020-08-06 10:55] timebertt commented on #2489
Ah ok, makes sense.
Thanks for explaining!

[2020-08-06 11:07] ialidzhikov commented on #2633
Ah, I now understand it. This would be useful if we have a case in which readiness probe is successful but despite that we want to delay the Pod to be ready for another `minReadySeconds`. Do we have such case?

[2020-08-06 11:57] timebertt commented on #2633
I don't know. I'm basically asking you this question, as you have already worked on this topic and might have a better feeling for it :)

[2020-08-06 13:00] rfranzke commented on #2368
/title Out-source secret creation to prevent unpredictable CPU spikes in gardenlet
/remove area/ops-productivity area/monitoring kind/bug
/area auto-scaling
/kind enhancement
/exp intermediate
/platform all
/topology garden seed

[2020-08-06 13:07] timebertt commented on #2368
/assign @BeckerMax

[2020-08-06 13:21] BeckerMax commented on #2368
In a discussion with @rfranzke @vpnachev @timebertt @timuthy we decided to go for option 2):
Differing from the original proposal we want to utilize the Job resource to perform the secret generation. The flow would therefore be:
During reconciliation the Gardenlet checks if there are secrets missing (it can rely on its cache). If secrets are missing it creates a Job object and passes the secrets t

[2020-08-06 15:40] ialidzhikov commented on #2633
My assumption is that `/readyz` endpoint will be good enough to determine the readiness of gardener-apiserver Pod. If it is not, we can track down potential issues with it.

[2020-08-07 09:58] timebertt opened #2675 "Dynamic RESTMapper limited"
**How to categorize this issue?**

/area control-plane
/area scalability
/kind bug
/priority normal

**What happened**:
If the `APIServerSNI` feature gate is disabled and Istio is not installed on the Seed, it can happen, that under high load, the Shoot reconciliation will fail, because the dynamic REST mapper of the Seed client is rate limited:
[code]

The problem is, that the dynamic RESTMapper

[2020-08-07 11:10] timuthy commented on #2675
Can we work this out by passing a different rate limiter?

[2020-08-07 11:47] #2638 closed, assigned to vlvasilev, Kristian-ZH

[2020-08-10 05:30] timebertt commented on #2675
Yes, we could. But that would also mean having more discovery requests and the question would be again, how many rps/burst is enough...
Another option for mitigating it on our side, would be to also ignore the `ErrRateLimited` error returned by the rest mapper.
I would prefer this option over increasing the rate limits, as the default rate limits should be enough, as we don't have a very dynamic s

[2020-08-10 05:47] rfranzke opened #2683 "VPA deleted too early by seed controller when a shooted seeds enables VPA feature in `.spec.kubernetes`"
**How to categorize this issue?**

/area auto-scaling
/kind bug
/priority critical
/exp intermediate
/platform all
/topology seed

**What happened**:
When a shooted seed sets `.spec.kubernetes.verticalPodAutoscaler.enabled=true` then it might happen that this change is    only rolled out after 24h, i.e., in the maintenance time window (if `.spec.maintenance.confineSpecUpdates=true`). However, the

[2020-08-10 05:49] rfranzke opened #2684 "VPA for shooted seeds has no VPA definition for itself"
**How to categorize this issue?**

/area auto-scaling
/kind bug
/priority normal
/exp beginner
/platform all
/topology seed

**What happened**:
When a shoot sets `.spec.kubernetes.verticalPodAutoscaler.enabled=true` then the VPA components will be deployed into its shoot namespace in the seed, next to the control plane. While we create a `VerticalPodAutoscaler` definition for most other control pl

[2020-08-10 05:53] rfranzke opened #2685 "Health status of VPA for shoots is not visible in the `ControlPlaneHealthy` condition"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority normal
/platform all
/exp intermediate
/topology garden seed

**What happened**:
When the VPA is enabled for shoots (`.spec.kubernetes.verticalPodAutoscaler.enabled=true`) then its health is not visible in the `ControlPlaneHealthy` condition, i.e., the shoot care controller does not check it. This leads to the fact that

[2020-08-10 05:55] rfranzke opened #2686 "Gardenlet is sometimes not reacting to SIGTERM"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal
/topology seed
/exp intermediate
/platform all

**What happened**:
I've seen the v1.8 Gardenlet to sometimes not react on SIGTERM. For example, when the VPA scales it up, the existing pod is being terminated while a new one is being created. However, sometimes the old pod does not properly shut down, effectively preventing

[2020-08-10 06:06] rfranzke opened #2687 "Distribute rollout of Gardenlets for shooted seeds"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority normal
/topology seed
/platform all
/exp intermediate

**What would you like to be added**:
Right now, the shooted seed controller in the gardenlet is deploying further gardenlet instances into all shooted seeds simultaneously. Especially for large landscapes, and in combination with the `CachedRuntimeClient` feature

[2020-08-10 06:16] rfranzke opened #2688 "VPA admission controller is sometimes not using the recommended resource limits"
**How to categorize this issue?**

/area auto-scaling
/kind bug
/priority normal
/platform all
/exp expert
/topology seed

**What happened**:
We've seen occurrences in which the VPA admission controller was not using the resource limits recommended by the VPA Recommender when a new pod was created. Only a restart of the VPA admission controller helped (i.e., after the restart it was using the reco

[2020-08-10 06:19] timebertt commented on #2685
Should we outsource the VPA stuff to a `ManagedResource`?
We already have code for checking MRs, so we can reuse that :)

[2020-08-10 06:21] rfranzke commented on #2685
Not sure, we don't do this for other control plane components as of now, so this would be inconsistent/confusing. I'd suggest to do it similar like it's done for other components now, and then refactor it if we think it makes sense.

[2020-08-10 06:22] rfranzke commented on #2561
Ping, just want to raise the importance and priority of these integration tests, especially for those parts which are not limited to the shoot control plane migration itself (e.g., the `ShootState` sync controller, etc.). In v1.8, we just had a regression that was undetected, so an integration test is very much needed.

[2020-08-10 06:22] timebertt commented on #2686
I have also observed this behaviour once or twice, but I think it was without the `CachedRuntimeClients` feature gate enabled.
I had a quick look at it back then and I think, this requires some bigger refactoring and properly passing contexts to the controllers...

[2020-08-10 06:22] rfranzke commented on #2561
/assign @plkokanov @swilen-iwanow @vlvasilev

[2020-08-10 06:27] rfranzke opened #2689 "shoot care health checks sometimes broken"
**How to categorize this issue?**

/area ops-productivity auto-scaling
/kind enhancement
/priority normal
/exp expert
/platform all
/topology seed

**What would you like to be added**:
I don't remember if it only happened when the `CachedRuntimeClient` feature gate was enabled, but I observed that the shoot care health checks break when a v1.8 gardenlet first starts up. See this:

<img width="681"

[2020-08-10 06:46] timuthy commented on #2687
Maybe something like [jitterDuration](https://github.com/gardener/gardener/blob/4cf6f620265c9e8fc1164e755466d906190d7fd2/pkg/gardenlet/bootstrap/certificate/certificate_util.go#L45) can easily help for enqueuing.

[2020-08-10 07:37] timebertt commented on #2689
/assign

[2020-08-10 07:51] rfranzke commented on #2688
Interesting: https://github.com/kubernetes/autoscaler/issues/2633

[2020-08-10 07:59] rfranzke opened #2691 "Generic worker actuator doesn't check machine status when a shoot is hibernated"
**How to categorize this issue?**

/area ops-productivity
/kind bug
/priority normal
/platform all
/exp intermediate
/topology seed

**What happened**:
When a shoot is hibernated then we don't check the error messages in the machines or machine deployments. For example, when the user changes the AWS credentials without updating the secret in Gardener and then tries to hibernate the shoot then it w

[2020-08-10 08:00] rfranzke commented on #2685
/assign @timuthy
/in-progress

[2020-08-10 08:00] rfranzke commented on #2683
/assign
/in-progress

[2020-08-10 08:08] rfranzke opened #2692 "E2E test for deleting a shoot that wasn't reconciled with the new Gardener version yet"
**How to categorize this issue?**

/area quality
/kind test
/priority normal

**What would you like to be added**:
We should add an integration test that tries to delete a `Shoot` that wasn't reconciled with the new Gardener versions yet.

**Why is this needed**:
Sometimes we add new functionality in the reconciliation flow that is also required by the deletion flow. However, not always the necess

[2020-08-10 08:37] timebertt commented on #2689
After a short investigation, it seems to me that this is not related to the Shoot care controller specifically, but rather to the gardenlet's `gardenClientConnection` settings in general.
So to circumvent this issue, one could increase those qps/burst settings. But as you said, it will also auto-resolve after a short period of time.

[2020-08-10 08:41] amshuman-kr commented on #2688
@rfranzke I don't recall this being too frequent earlier. Is this something that has become more frequent with recent shoot VPA changes?

Even [kubernetes/autoscaler#2633](https://github.com/kubernetes/autoscaler/issues/2633) talks about webhook config issues, and unfortunately, even the resolution ([kubernetes/autoscaler#2738](https://github.com/kubernetes/autoscaler/issues/2738)) will only resul

[2020-08-10 09:15] timebertt commented on #2692
Ref #1564

[2020-08-10 10:27] rfranzke commented on #2688
I also just saw it once last week Friday. Agreed, though, I'm not sure whether it's indeed related to the webhook config. I didn't check it, unfortunately, maybe it was indeed gone, but if so, I don't know why this should have happened.

[2020-08-10 10:45] dguendisch commented on #2657
Just to preserve the broken look:
![image](https://user-images.githubusercontent.com/30311254/89775082-60973e00-db07-11ea-8d91-3ca946a259cc.png)

[2020-08-10 10:50] timebertt commented on #2689
As discussed, let's add some jitter duration when enqueueing the Shoots in the care controller so we don't try to check on all of them at the same time. This should already help in limiting the effects on the rate limiter.

[2020-08-10 11:59] #2657 closed, assigned to dguendisch

[2020-08-10 12:00] rfranzke commented on #2684
/assign
/in-progress

[2020-08-10 12:06] amshuman-kr commented on #2688
Understood. Anyway, the case you mentioned in the issue text mentions restarting the admission controller pod restart which is different from a problem with the webhook config. So, something else also seems to be a problem too. Stale cache might be a problem which I saw with kupid too.

[2020-08-10 12:44] dguendisch opened #2697 "Gardenlet crashed with `concurrent map writes`"
**How to categorize this issue?**

/kind bug
/priority normal

**What happened**:
I just observed gardenlet crashing with `fatal error: concurrent map writes`

[gardenlet_crash_dump.txt.zip](https://github.com/gardener/gardener/files/5050821/gardenlet_crash_dump.txt.zip)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2020-08-10 12:44] rfranzke commented on #2688
Hm, but doesn't the VPA admission controller register the webhook on start-up again?

[2020-08-10 12:46] rfranzke commented on #2697
/assign @timebertt
/area quality
/exp intermediate
/platform all
/topology seed
/in-progress

[2020-08-10 14:58] timebertt commented on #2697
TBH, I have no clue on this issue.
I starred at the stacktrace, digged into the code and went through gh issues for the last 1,5 hours, but so far I have absolutely no idea why this might have happened.
Let's come back to this, when we see it happening again.

/unassign
/remove status/in-progress

[2020-08-10 15:03] ialidzhikov opened #2703 "☂️-Issue for '--version' flag"
**How to categorize this issue?**

/area usability
/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
The imagevector overwrite pkg is widely used in g/g and allows overwrite of images with digest (for example `image@sha256:45b23dee08af5e43a7fea6c4cf9c25ccf269ee113168c19722f87876677c5cb2`). This can cause issues for operator while investigating issues on the

[2020-08-10 15:04] ialidzhikov commented on #2703
/assign @ialidzhikov

[2020-08-10 16:13] amshuman-kr commented on #2688
Yes. But by _webhook config issue_ I didn't just mean only issue with the `MutatingWebhookConfiguration` but general connectivity issue from apiserver to the webhook which may not necessarily be solved by a pod restart. But in your case, a restart did solve the problem.

[2020-08-11 06:01] rfranzke commented on #2688
OK, I don't think we have a clear path forward and not enough information to get to the bottom of it. From the symptoms, it sounds very much like the webhook configuration was missing. Anyways, let's then close this issue and reopen as appropriate?

[2020-08-11 06:31] #2684 closed, assigned to rfranzke

[2020-08-11 07:29] wiegandf opened #2705 "Additional annotations for shoot components"
**How to categorize this issue?**
/area ops-productivity
/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
It would be nice to have the option to specify additional annotations for shoot components. I guess we would need to extend https://github.com/gardener/gardener/tree/master/charts/shoot-core/components/charts and https://github.com/gardener/gardener/blo

[2020-08-11 08:20] #2683 closed, assigned to rfranzke

[2020-08-11 08:24] #2685 closed, assigned to timuthy

[2020-08-11 08:36] timuthy opened #2706 "Invalid health checks for shoots w/ confineSpecUpdateRollout"
**How to categorize this issue?**

/area control-plane
/area operations
/kind bug
/priority normal

**What happened**:
The `confineSpecUpdateRollout` (https://github.com/gardener/gardener/pull/2233) feature leads to shoot specs which will get active during the next maintenance window (or manual reconciliation) only. Gardener on the contrary determines the set of required health checks for an indiv

[2020-08-11 09:26] ialidzhikov opened #2707 "Temporary imagevector issues for gardenlet"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
With one of the latest rollouts, we observed issues wrt to imagevector handling. In gardenlet@v1.8.0, there were changes that update version of component and rely on functionality from this new version - for example https://github.com/gardener/gardener/pull/2667 (grm version is updated and the grm Deplo

[2020-08-11 10:43] #2697 closed, assigned to nobody

[2020-08-11 14:37] ialidzhikov commented on #2707
@timebertt shared that there was a manually applied `validatingwebhookconfiguration` that blocked the update of gardenlet configmaps (incl. imagevector ones). This actually explains the strange behaviour that was observed.

/close

[2020-08-11 14:37] #2707 closed, assigned to nobody

[2020-08-12 08:47] danielfoehrKn opened #2719 "Refactor Node Bootstrap for worker nodes with CRI"
**How to categorize this issue?**

/area os
/area security
/kind enhancement
/priority normal

**What would you like to be added**:

Remove the usage of the `docker` CLI during the Node bootstrap but use the CRI instead.
For worker pools that use CRI, this remove the dependency to `docker` altogether.

**CRI enabled worker pools currently require docker**:

Shoot worker pools can specify to use a

[2020-08-12 14:34] rfranzke opened #2721 "Project namespace annotation to prevent stale projects from being deleted"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority normal
/topology garden
/exp beginner
/platform all

**What would you like to be added**:
We could introduce a new annotation on the `Namespace` that is backing a `Project` (e.g., `project.garden.sapcloud.io/skip-stale-check=true`) in order to prevent the stale project controller (ref #2446) from considering this `Proje

[2020-08-12 14:40] rfranzke commented on #2705
Thanks for opening the issue. I just want to add a quick thought: We might add/remove system components running in the `kube-system` namespace in the shoot clusters on the fly (e.g., based on certain configuration in the `Shoot` specification), or with new Gardener versions. Especially the second point might be somewhat critical as end-users themselves don't control the rollout of updates imposed

[2020-08-12 14:43] rfranzke opened #2722 "Auto-restart kube-scheduler in maintenance time window"
**How to categorize this issue?**

/area robustness quality
/kind enhancement
/priority normal
/topology seed
/exp beginner
/platform all

**What would you like to be added**:
With #2098 we have added the auto-restarts of the KCM (and other components with the respective labels) in the shoot's maintenance time windows. The rationale behind it was to circumvent stale cache/stuck controller behaviou

[2020-08-13 03:58] rfranzke opened #2724 "HVPA feature promotion"
**How to categorize this issue?**

/area auto-scaling usability
/kind enhancement
/priority normal

**What would you like to be added**:
Let's promote the [`HVPA` feature gates](https://github.com/gardener/gardener/blob/master/pkg/gardenlet/features/features.go#L29-L30) in gardenlet to `beta` and enable them by default. After a couple of release we should then promote them to `GA` and eventually r

[2020-08-13 04:02] #2688 closed, assigned to nobody

[2020-08-13 20:30] vlerenc commented on #2371
Any decision here? In any case, a new infrastructure requires a new extension, so nothing that would be done here. The ticket already went into stale. Care to contribute such an extension @toonsevrin ?

[2020-08-13 20:32] vlerenc commented on #2146
Any decision here? In any case, a new infrastructure requires a new extension, so nothing that would be done here. The ticket already went into stale. Care to contribute such an extension @alexellis ?

[2020-08-13 20:33] vlerenc commented on #2097
/ping @timuthy

[2020-08-13 20:34] vlerenc commented on #2052
/ping @mvladev @zanetworker

[2020-08-13 20:36] vlerenc commented on #1953
Thank you @zanetworker. Would you be OK to move the remaining tasks into the wider umbrella issue https://github.wdf.sap.corp/kubernetes/kube-backlog/issues/39 if not already listed there. Then we can close this one and keep track only in one issue. WDYT?

/cc @rfranzke

[2020-08-13 20:37] vlerenc commented on #1921
I guess we can close this one with the VPN reversal @zanetworker ?

/cc @rfranzke

[2020-08-13 20:39] alexellis commented on #2146
Unfortunately I don't have a need for this at the moment. Probably worth tracking though, as DigitalOcean support would likely increase usage and lower the costs to try out the project.

[2020-08-13 20:40] vlerenc commented on #1578
/ping @plkokanov

[2020-08-13 21:20] timoreimann commented on #2146
👋 I work at DigitalOcean on the managed Kubernetes product and would be interested in helping out with the contribution of a DigitalOcean extension to gardener (unless someone else feels super enthusiastic -- happy to assist/guide from the DO end in that case as well). I've started to go over some of the docs to get a better understanding of what needs to be done. Appreciate any extra pointers and

[2020-08-13 21:23] toonsevrin commented on #2371
@vasu1124 and I talked a bit about this on slack. At the time there were no plans to develop this in-house.

We touched slightly on me developing this as a student-employee (at SAP) but at the time I was too time constrained to consider doing this (due to exams and tax period for my business).

It seems that there is still quite a bit of interest from the community in this extension (understandabl

[2020-08-14 03:25] rfranzke commented on #1921
We will still support Kubernetes shoots < 1.18 while the VPN inversion will only work for >= 1.18.

[2020-08-14 06:46] timuthy commented on #2097
Let's pick this up for the next quality week.

[2020-08-14 06:49] timuthy commented on #2097
/assign

[2020-08-14 06:51] rfranzke commented on #2097
TBH, I think there are more "pressing" topics that we should spent time with, WDYT? This is more a nice-to-have improvement, or?

[2020-08-14 07:05] zanetworker commented on #1953
I guess since we now know the root cause of what's causing the networking costs, I can close this one and create an additional open point on your referenced issue, namely "Optimize leader-election retry-periods for extension controllers / make leader election configurable." The only concern I have is that this issue acts as a good rendezvous point for all related PRs.

[2020-08-14 08:30] timuthy commented on #2097
Sure, no objections.

/nice-to-have

[2020-08-14 09:10] #2633 closed, assigned to ialidzhikov

[2020-08-14 10:29] qiffang opened #2729 "All aws ebs volumes are deleted when deleting shoot"
**How to categorize this issue?**

When i deleted a shoot, all aws ebs volumes are deleted.
![image](https://user-images.githubusercontent.com/7285248/90240518-f90d2580-de5b-11ea-8610-91ef5f1780e4.png)
Actually, some pv policies are `retain`.

**What happened**:

**What you expected to happen**:
The `retain` pv does not deleted and aws ebs volume also does not deleted

**How to reproduce it (as mi

[2020-08-14 10:35] ialidzhikov commented on #2729
But the deletion flow does not delete PVs. Ref https://github.com/gardener/gardener/blob/5de026e5116e250e3ed80f97cdd6d9bec48f47a2/pkg/operation/botanist/cleanup.go#L228-L240

Can you share the output of `k get pv`? They should be `Released`.

[2020-08-14 11:14] ialidzhikov commented on #2729
I now double-checked and PV with `reclaimPolicy: Retain` was not deleted as part of the Shoot deletion flow.

My setup:

1. Create PVC

[code]

2. PV is first bound:

[code]

3. When the PVC is deleted as part of the deletion flow, the PV is `Released`:
[code]

4. After the Shoot deletion, the EBS volume is not deleted:
[code]

[2020-08-14 11:15] ialidzhikov commented on #2729
For detailed steps to reproduce:

/status author-action

[2020-08-14 13:18] rfranzke commented on #2689
I have to
/reopen
this one as it's still happening, sorry.

[2020-08-14 21:08] vpnachev commented on #2595
To the best of my knowledge we are not planning to provide anything for application logs. The costs to move all of this over the wire might grow too much, thus we are recommending shoot owners to deploy and configure their own logging solution that fits their needs.

[2020-08-14 21:12] vpnachev commented on #2593
With our custom plugin, which has a cluster watcher (https://github.com/gardener/logging/pull/59) this annotation is no longer needed, so the whole admission webhook can be removed.

/assign @vlvasilev @Kristian-ZH

[2020-08-15 08:45] Kristian-ZH commented on #2593
Yup, this was added in the backlog yesterday: https://github.com/gardener/gardener/issues/2677

[2020-08-17 05:58] hardikdr commented on #2371
At the moment no. Though, we are looking at a possibility of developing a dedicated `gardener-control-plane-provider` similar to the kubeadm-based provider in CAPI. - https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20191017-kubeadm-based-control-plane.md

I don't think, it's easily possible to develop an interoperable provider, working with both CAPI and Gardener, as the

[2020-08-17 07:25] vlerenc commented on #1953
OK @zanetworker, then let's close this one and if you need something else as umbrella ticket, please use the above mentioned umbrella ticket.

[2020-08-17 07:26] #1953 closed, assigned to nobody

[2020-08-17 07:48] rfranzke commented on #2722
/assign
ref https://github.com/gardener/gardener/pull/2731#pullrequestreview-467723725

[2020-08-17 10:07] #2390 closed, assigned to BeckerMax

[2020-08-17 11:09] rfranzke opened #2734 "Improve worker status summary during rolling update"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
I have observed the following error message during a rolling update:

[code]

`MachineDeployment` and `Machine` objects:

[code]

`MachineDeployment` spec & status:

[code]

We should improve the status message and probably incorporate the number of updated replicas to

[2020-08-17 11:43] timuthy opened #2736 "Validate DNS provider secret refs"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
If a shoot configures DNS providers `.spec.dns.providers`, Gardener should check if the referenced secret via `SecretName` exists in the project namespace and deny or admit the request accordingly.

**Why is this needed**:
Today, Gardener will only fail during the reconci

[2020-08-17 11:43] timuthy commented on #2736
/assign

[2020-08-17 11:56] timuthy opened #2738 "Protect DNS provider secrets referenced by shoots"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
It should be forbidden to delete DNS provider secrets in the project namespace if they are still referenced by any shoot cluster in the project.

[2020-08-17 11:57] timuthy commented on #2738
/assign

[2020-08-17 13:02] timebertt commented on #2686
Just observed this issue again.
I noticed, that the gardenlet deployment specifies a very high `terminationGracePeriodSeconds`:
https://github.com/gardener/gardener/blob/6039bea24cc0daad2a1372dd79a2c4661fe94969/charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml#L148

We should probably decrease this value as part of improving on this issue.

[2020-08-17 14:07] ialidzhikov commented on #2729
/close

I am closing because of missing steps to reproduce. Please feel free to reopen with more details.

[2020-08-17 14:07] #2729 closed, assigned to qiffang

[2020-08-18 07:25] rfranzke commented on #1879
/duplicate  #1240

[2020-08-18 07:25] #1879 closed, assigned to nobody

[2020-08-18 07:27] rfranzke commented on #2136
/close for now as it's not too relevant at this point in time

[2020-08-18 07:27] #2136 closed, assigned to danielfoehrKn

[2020-08-18 07:32] rfranzke commented on #2454
/ping @swilen-iwanow

[2020-08-18 07:34] rfranzke commented on #2457
/title Deploy logging stack as early as possible in shoot reconciliation flow

for now :)

[2020-08-18 07:34] swilen-iwanow commented on #2454
We are preparing a demo for Thursday, I plan to work on this on Friday, if it is not a problem.

[2020-08-18 07:35] rfranzke commented on #2499
@prashanth26 can you give an update or close this issue if it's not relevant anymore?

[2020-08-18 07:41] prashanth26 commented on #2499
I haven't observed this since [PR #2626](https://github.com/gardener/gardener/pull/2626) is merged on the Gardener. Let's close it for now and reopen if we see it again.

/close

[2020-08-18 07:41] #2499 closed, assigned to nobody

[2020-08-18 10:28] vlerenc opened #2741 "Nodes reported to have insufficient priv. and quota issues when in fact both seems to be wrong (rate limit)"
**How to categorize this issue?**
/area operations
/kind bug

**What happened**:
One of our seeds in Azure was rate limited, nodes couldn't be replaced. The reported codes were:
[code]

**What you expected to happen**:
Ideally the rate limit error, but at least not the two misleading other errors.

**How to reproduce it (as minimally and precisely as possible)**:
n/a

**Anything else we need to kn

[2020-08-18 10:28] vlerenc commented on #2741
<img width="1023" alt="Screenshot 2020-08-18 at 12 16 03" src="https://user-images.githubusercontent.com/4974203/90502562-564ff200-e14e-11ea-9be8-e5a7296d315f.png">
<img width="1006" alt="Screenshot 2020-08-18 at 12 22 54" src="https://user-images.githubusercontent.com/4974203/90502568-594ae280-e14e-11ea-8b08-587a660bc19b.png">
<img width="413" alt="Screenshot 2020-08-18 at 12 23 10" src="https://

[2020-08-18 11:25] ialidzhikov opened #2742 "Update shoot.gardener.cloud/tasks once the step is completed"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

**What would you like to be added**:
Currently `shoot.gardener.cloud/tasks` annotations helps keeping track of "tasks" that need to be performed during the reconcile of a Shoot for example (`shoot.gardener.cloud/tasks='deployInfrastructure,restartControlPlanePods'`. Currently the annotation is updated at the en

[2020-08-18 13:01] vlerenc commented on #2742
Thanks @ialidzhikov, I just wanted to open a similar ticket myself, but saw yours.

Can we please increase the priority as it had some impact on today's problems. I am not sure how much it interfered, but it certainly only increased the rate throttling issues by restarting "expensive" controller components again and again (resync against the infrastructure itself), not even speaking of interruptin

[2020-08-18 13:30] zanetworker opened #2745 "NodeLocalDNS Feature lacks DNS network policy for control-plane components"
**How to categorize this issue?**

/area networking
/kind bug
/priority normal

**What happened**:
Without the `NodeLocalDNS` feature enabled,  a network policy to allow DNS traffic from the shoots control-plane components is defined as follows:
[code]
This policy basically blocks DNS traffic destined anywhere else other than the CoreDNS pods in the `kube-system` namespace.

With `NodeLocalDNS` we

[2020-08-18 15:06] timebertt opened #2747 "Gardenlet times out talking to the Seed API server"
**How to categorize this issue?**

/area quality performance robustness scalability
/kind bug
/priority normal

**What happened**:
Over the past few weeks we have observed, that the gardenlet is often timing out talking to the Seed API server during Shoot reconciliation but also while renewing the leader lease, ending in quite frequent logs including `context deadline exceeded`.
We have seen this

[2020-08-18 15:11] rfranzke commented on #2747
Can you please share more information which parts you already investigated (networking, etc.)?

[2020-08-18 15:17] timebertt commented on #2747
While opening this issue, I stumbled upon the wrong API groups in `DeleteSeedMonitoring`, e.g. `RoleBinding` is not in `core/v1`:
https://github.com/gardener/gardener/blob/1208bc82aa0c6910b858a00993ac0b2f1588c87c/pkg/operation/botanist/monitoring.go#L423

There are 5 of these in that function (see https://github.com/gardener/gardener/compare/master...timebertt:fix/api-groups) and in each iteration

[2020-08-18 15:46] rfranzke commented on #2747
Very interesting, thanks.

Why is that? During re-discovery, why can't we apply further resources that are already known?

To understand it correctly, this is a consequence of the client refactoring, right (earlier we were using dedicated clients to the seed per shoot reconciliation while we only have one client for all of them now)?

Anyways, very good finding, it sounds promising. Thank you!

[2020-08-19 06:47] zanetworker commented on #2745
After looking into this a bit more, I noticed that the `allow-dns` policy is not the main cause. Removing all policies however resolves the problem. This will need to be debugged more, to do so a test-env with the seed having node-local-dns is required (otherwise more time on the dev landscape). Will try to create a nested local setup and troubleshoot this one more closely later.

[2020-08-19 07:28] timebertt commented on #2747
Maybe I wasn't clear enough, let me try again :). What I meant, was that one rediscovery on a single operation (e.g. deleting an unknown/non-existing Kind in the Shoot reconciliation/deletion) will block a parallel rediscovery caused by an unknown/non-existing Kind.
But I checked again just now and saw, that the c-r client will also lock when creating a new rest client (for a new/unknown resource,

[2020-08-19 08:30] franpog859 commented on #2489
Hello! May I ask you when this update will be done? I currently use these versions of k8s dependencies in my component:
[code]
and the old Gardener's dependencies seem not to allow me to build it at all 😞
[code]

[2020-08-19 09:08] ialidzhikov commented on #2489
It seems that the issues from above are caused by https://github.com/kubernetes/kubernetes/issues/84452 + https://github.com/kubernetes/kubernetes/pull/85891. In general we should be able now to switch `AddConversionFuncs` calls to `AddConversionFunc` and that should allow vendoring gardener/gardener with k/k@v0.18.x.

[2020-08-19 09:18] timuthy commented on #2489
I already did that in my WIP branch, e.g. https://github.com/timuthy/gardener/blob/159a91cfb4fa61fc9dfcae95601543c33dc16020/pkg/apis/core/v1alpha1/conversions.go and hope to finish the rest next week.

[2020-08-19 09:26] #2593 closed, assigned to rfranzke, vlvasilev, Kristian-ZH

[2020-08-19 12:24] rfranzke commented on #1648
Note: Will improve (but not fully be fixed) with #2489

[2020-08-19 12:38] rfranzke opened #2751 "☂️-Issue for unit/integration tests in the extensions library"
**How to categorize this issue?**

/area dev-productivity robustness quality testing
/kind enhancement
/priority normal

**What would you like to be added**:
This is an umbrella issue for improving our unit test coverage in our extensions library ([`extensions` directory](https://github.com/gardener/gardener/tree/master/extensions)).
We lack unit and/or integration tests at too many places and sho

[2020-08-19 12:45] rfranzke commented on #1564
In a recent sync we identified the following areas where we could improve with unit and/or integration tests:

- [ ] Federated seed controller in gardenlet (https://github.com/gardener/gardener/tree/master/pkg/gardenlet/controller/federatedseed), see also https://github.com/gardener/gardener/issues/2561#issuecomment-671183370
- Improve existing tests:
  - [ ] shoot hibernation test, e.g. with a ch

[2020-08-19 12:56] rfranzke opened #2754 "☂️-Issue for elimination of Helm charts in favor of Golang implementation"
**How to categorize this issue?**

/area dev-productivity robustness quality testing
/kind enhancement
/priority 3

**What would you like to be added**:
This is an umbrella issue for improving our existing code, mainly in the [`operation`](https://github.com/gardener/gardener/tree/master/pkg/operation) and [`botanist`](https://github.com/gardener/gardener/tree/master/pkg/operation/botanist) packag

[2020-08-19 13:10] #2686 closed, assigned to nobody

[2020-08-19 13:29] rfranzke commented on #2742
/assign

[2020-08-19 21:25] ialidzhikov opened #2758 "Logs missing in loki"
**How to categorize this issue?**

/area logging
/kind bug
/priority normal

**What happened**:
Unable to find logs of extension controllers in the seed loki (the one in the garden ns).

**What you expected to happen**:
To be able to find the logs.

**How to reproduce it (as minimally and precisely as possible)**:
1. Open the grafana ingress of some large seed.

2. Navigate the the explore UI.

3.

[2020-08-20 04:11] #2722 closed, assigned to rfranzke

[2020-08-20 06:03] #2742 closed, assigned to rfranzke

[2020-08-20 06:12] vpnachev commented on #2457
Fixed by #2750
/close

[2020-08-20 06:12] #2457 closed, assigned to nobody

[2020-08-20 07:18] rfranzke commented on #2724
/close due to the upcoming HVPA redesign

[2020-08-20 07:18] #2724 closed, assigned to rfranzke, ggaurav10, amshuman-kr

[2020-08-20 12:07] vpnachev commented on #2758
/assign @vlvasilev @Kristian-ZH

[2020-08-20 13:38] #2691 closed, assigned to nobody

[2020-08-21 06:29] timebertt commented on #2754
I did a rough sketch of how it could look like, if we want to keep the helm charts, but still implement a proper data flow of chart values and tests for those charts.
I started with #2731 and applied my ideas on top of it, while bringing back the charts and mostly keeping the tests proposed in @rfranzke's PR. You can sneak a peek here in #2766.
We will discuss both approaches in the afternoon and

[2020-08-21 07:04] #2736 closed, assigned to timuthy

[2020-08-21 13:52] rfranzke commented on #2754
Together with @timebertt @timuthy @danielfoehrKn @BeckerMax @ialidzhikov @vpnachev we have had a very productive discussion on the subject matter and compared the two approaches presented in #2731 (proposal 1) and #2766 (proposal 2).

A short summary is:
* Proposal 1 has more overhead/boilerplate because of the Golang syntax when defining the structs while with proposal 2 you can define them direc

[2020-08-24 07:28] rfranzke commented on #2754
/unassign @timebertt - thanks for investigating different approaches!
/assign @danielfoehrKn for a refactoring for the `DeployKubeControllerManager` task (similar to #2731).

[2020-08-24 09:39] guydc opened #2774 "use ext4 instead of xfs in kubelet data volume"
**How to categorize this issue?**

/area os
/area security
/kind enhancement
/priority normal

**What would you like to be added**:

Currently, the Kubelet Data Volume is formatted with the `xfs` filesystem. The motivation for using xfs was project quota support which can be used for efficient [ephemeral storage quota management](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node

[2020-08-25 08:23] timebertt commented on #2747
After watching the fix from #2752 over the course of the last 24 hours on our affected Seeds, the problem seems to be fixed indeed.
I haven't seen any other flow steps that were affected. Also the leader election didn't fail that frequently anymore.
So the first two action items are resolved, I would say.

[2020-08-25 08:24] timebertt commented on #2747
Regarding replacing the dynamic REST mapper, I will have to reiterate over the options we have here.
I would actually like to keep it and rather fix some scalability problems we have seen with it in upstream. But that will probably take some time and is therefore maybe no option for us short-term.

[2020-08-25 10:44] ialidzhikov opened #2778 "Shoot deletion can fail if the Infrastructure is deleted but kube-apiserver deployment is not"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
I was now checking a Shoot stuck in deletion.

Its `status.lastOperation`:

[code]

Checking in the event history I see that the Shoot was successfully created:

[code]

Control plane:

[code]

kube-controller-manager fails to start with:

[code]

As part of the ControlPlane deletion the `cloud-provider

[2020-08-25 12:22] ashwani2k opened #2779 "Mutating webhook doesn't abide by the failurePolicy of Ignore and blocks further pod creation"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:
The issue happened during upgrade of Gardener, which had enhancement to move VPA to shoot control plane in the shoot namespace. During the upgrade there is a short period of time when there is no VPA pod backing the mutating webhook which results in error. Although the failurePolicy for the mutati

[2020-08-25 20:06] vpnachev commented on #2779
By the way, the issue can happen at any time, it is more likely to happen during upgrades because of possible node eviction and so on, but is not limited only to this occasions. A general recommendation is to not use 30 seconds for the webhook timeouts and this was considered for the `v1` version of `admissionregistration.k8s.io` when the default was changed from 30 to 10 seconds(ref: https://gith

[2020-08-26 06:01] wiegandf commented on #2705
Hi, I see your point. As you said, it wouldn't be very helpful for our use-case.
I think a set of annotations to put on all components is nice - and couldn't we extend the charts to use per component annotations as well if they are specified?
Of course, when new components are added, they will miss the component specific annotations.

[2020-08-26 06:30] #2774 closed, assigned to nobody

[2020-08-27 06:53] ialidzhikov opened #2784 "Cannot remove worker pool when Shoot is hibernated"
**How to categorize this issue?**

/area quality ops-productivity
/kind bug
/priority normal

**What happened**:
Currently Shoot reconciliation gets stuck when a worker pool of hibernated Shoot cluster is removed.

**What you expected to happen**:
Shoot reconciliation to do not stuck.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create Shoot with 2 worker pools

2. Hibern

[2020-08-27 06:53] ialidzhikov commented on #2784
/cc @prashanth26

[2020-08-27 06:56] prashanth26 commented on #2784
Okay, that explains the cause for the canary issue. Let us look into this one. cc: @hardikdr @AxiomSamarth .

[2020-08-27 09:55] ialidzhikov commented on #2453
I was now checking similar issue. The azuremachineclass and the machineclass secret were orphan:

[code]

From the logs I see:

[code]

The azuremachineclass creation and deletion timstamps are:

[code]

At `2020-08-25T12:23:53.722Z` the worker controller started the machine class deployment and at `2020-08-25T12:23:56.920Z` it started step `Deleting the machine-controller-manager` which is a step

[2020-08-27 11:19] kon-angelo opened #2785 "Fail to create Shoot when seed.ShootDNS is disabled"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:
Tried to create a Shoot cluster without setting up internal and external domain secrets and Seed's `ShootDNS` disabled. Shoot creation failed because gardener tried to operate on `DNSOwner` CRD which was not present on the seed cluster.

In detail, the DNSOwner CRD is currently only present as par

[2020-08-27 11:20] rfranzke commented on #2785
/cc @swilen-iwanow @MartinWeindel @mandelsoft @stoyanr

[2020-08-27 11:25] kon-angelo commented on #2785
/assign

[2020-08-27 13:06] ialidzhikov opened #2787 "'VPN Connection' tile shows always 'No data'"
**How to categorize this issue?**

/area monitoring
/kind bug
/priority normal

**What happened**:
'VPN Connection' tile shows always 'No data'.

**What you expected to happen**:
To have a tile that shows data or to do not have a tile at all.

**How to reproduce it (as minimally and precisely as possible)**:
1. Navigate to the grafana of a random Shoot

2. Ensure that the `VPN Connection` tile in

[2020-08-27 14:41] #2785 closed, assigned to kon-angelo

[2020-08-28 06:04] #1721 closed, assigned to danielfoehrKn, timuthy

[2020-08-28 08:45] wyb1 opened #2790 "Change generate_monitoring_docs script"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
The [generate_monitoring_docs](https://github.com/gardener/gardener/blob/master/.ci/generate_monitoring_docs) script should call the `MonitoringConfiguration` function introduced in #2783 and produce the documentation based on that output.

**Why is this needed**:
With the i

[2020-08-28 08:46] rfranzke commented on #1564
/assign @ialidzhikov for looking into the flaky (beta) tests (https://github.com/gardener/gardener/issues/1564#issuecomment-676293552) and drive them to graduation

[2020-08-28 08:55] rfranzke commented on #1564
/assign @vpnachev for looking into the existing integration tests and extending them with further checks

[2020-08-28 09:16] rfranzke commented on #1564
/assign @timuthy for writing tests for the federated seed controller in gardenlet

[2020-08-28 09:17] rfranzke commented on #2747
/assign @timebertt @timuthy

[2020-08-28 09:20] rfranzke commented on #2751
/assign @rfranzke for integration tests ensuring proper functionality of the extension APIs

[2020-08-28 11:12] ialidzhikov commented on #2227
/remove lifecycle/stale

There are 2 points in this issue:
- the first one is an upstream fix for https://github.com/kubernetes-csi/external-snapshotter/issues/306 (we are now waiting only for a release, the fix is merged since longtime)
- the second point is https://github.com/gardener/gardener/issues/2227#issuecomment-619621111 - we use 1 ManagedResource that holds the CRD definition and the RBA

[2020-08-28 14:39] ialidzhikov commented on #2787
/cc @wyb1 @istvanballok

[2020-08-28 14:56] ialidzhikov opened #2794 "livenessProbe and readinessProbe for metrics-server"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
metrics-server is an extension apiserver and as such it should respond to the endpoints `/readyz`, `/livez` and `healthz`. Currently we don't have defined a livenessProbe or a readinessProbe for the metrics-server deployment - https://github.com/gardener/gardener/blob/v1.9.0

[2020-08-28 19:43] wileyjacobs11 commented on #2146
Hello! Any update on this?

[2020-08-30 15:30] timoreimann commented on #2146
👋   the task is still on my agenda, but I'm yet to find some spare time to work on it. Bear with me please. :)

[2020-08-31 03:53] hardikdr opened #2795 "Assign PriorityClass to NPD"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority normal

**What would you like to be added**: Node problem detector is not assigned any priority-class at the moment, we should probably assign one of the critical-pods related priority-class  eg. `system-node-critical` or `system-cluster-critical` to it.

**Why is this needed**:
NPD helps in identifying the node-issues

[2020-08-31 03:55] hardikdr commented on #2795
/assign

[2020-08-31 06:14] timebertt commented on #2751
In addition to the mentioned tests we could
- [x] make use of [go-apidiff](https://github.com/joelanford/go-apidiff) to easily detect breaking changes in signatures of the extensions library (see https://github.com/kubernetes-sigs/controller-runtime/blob/master/hack/apidiff.sh for an example usage) -> tracked in https://github.com/gardener/gardener/issues/5301

[2020-08-31 12:53] timebertt commented on #2453
As discussed, let's add some more logs to the generic actuator, so that we can better analyze, when this issue comes up again.
/reopen
/assign

[2020-08-31 12:54] timebertt commented on #2453
/area quality robustness

[2020-08-31 13:08] franpog859 commented on #2489
Hello, @timuthy! May I ask you, what is the change's status?
It's getting more and more urgent from my side to upgrade these dependencies 😞

[2020-08-31 15:42] wyb1 opened #2800 "Node details dashboard has missing metrics with containerd"
**How to categorize this issue?**

/area monitoring
/kind bug
/priority normal

**What happened**:
The node details dashboard has missing metrics when the shoot is configured to use containerd.
Network I/O pressure is missing and the system service usage is also missing.
![image](https://user-images.githubusercontent.com/8710621/91731535-3507f080-eba7-11ea-94a6-bdd8613b40d7.png)

**What you expect

[2020-08-31 22:22] ialidzhikov commented on #2794
It seems that the `/healthz` endpoint of the metrics-server is dependent to kube-apiserver avialability. In this issue https://github.com/kubernetes-sigs/metrics-server/issues/540 there are statements like `/healthz never recovers from failed state`. I also played locally with liveness and readiness probes on metrics-server and `/healthz` for sure fails when the apiserver is down. We for sure don'

[2020-08-31 22:22] ialidzhikov commented on #2794
/lifecycle icebox

[2020-09-02 11:44] #2489 closed, assigned to timuthy

[2020-09-02 13:58] #1461 closed, assigned to wyb1

[2020-09-03 07:04] timebertt commented on #2751
We should definitely
- [x] add missing unit tests for the predicates provided by the extensions library (e.g. [`AddTypePredicate`](https://github.com/gardener/gardener/blob/092922b5765ad5e84cc93a40c87c5a80e5841023/extensions/pkg/predicate/predicate.go#L164) is untested but used in all extension controllers) ->tracked in https://github.com/gardener/gardener/pull/6249

[2020-09-03 10:08] Haegi opened #2811 "Missing events on AWS while watching k8s resources"
**How to categorize this issue?**
/area networking
/kind bug
/priority normal

Tagging my team: @modulo11, @loewenstein, @phil9909

**What happened**:
When creating a pod with the istio sidecar and start watching resources, we do not receive any new events although the connection is still open.

Expected results:
[code]
The last two entries are important here and missing in the actual result.

Act

[2020-09-03 11:00] rfranzke commented on #2811
The description is not very clear, but I guess the `test-with-istio` pod is a controller that sometimes misses `CREATE`/`UPDATE`/`DELETE` events for configmaps? I don't know why the problem should be related to Gardener itself. Your current workaround already indicates that you run a service mesh inside the cluster and that changing its configuration fixes the problem.
Can you please provide repro

[2020-09-03 11:25] modulo11 commented on #2811
We boiled down our original issue to these steps, where we create two pods (`test-with-istio`, `test-with-istio-fix`) of which one is part of the Istio service mesh and the other one isn't (see `test.yaml` for reference). Inside these pods we watch for changes of a specified `configmap` (but the resource type should not be important). After some time, one of the pods (`test-with-istio`) seems to n

[2020-09-03 11:28] rfranzke commented on #2811
My point was to have steps that can be executed inside a cluster that doesn't have Istio installed. If it's reproducible there as well then we can go one step further and investigate there. If it's only reproducible with istio mesh in between then it might be related to Istio itself/its configuration.

[2020-09-03 15:05] loewenstein commented on #2811
Actually the issue is supposedly somewhere between Istio/Envoy, the AWS LoadBalancer and the Kubernetes api-server on the seed. The workaround we apply is not really a service mesh configuration, it is rather an escape hatch to circumvent the Envoy for that particular target IP.

This might not _directly_ be a Gardener issue, but it could well be related to the AWS Load Balancer configuration that

[2020-09-04 05:44] timebertt commented on #2811
I'm no istio expert and have actually no idea how the concrete connection flow looks like.
But one thing, that comes to my mind, which is different between AWS and GCP, is that the `kubernetes.default` endpoints object (the one behind the Service with ClusterIP `100.64.0.1`) has two IPs on AWS (both IPs, that the ELB DNS name resolves to) and on GCP only one IP. Could this cause any difficulties f

[2020-09-04 07:10] timebertt commented on #2689
Quick update on this:
My current hypothesis is, that the gardenlet is rate limited pretty quick on startup in large Seeds because of the federated seed controller, as it statically enqueues a lot of resources on startup which each cause a few API calls to the garden cluster.
This grows exponentially with the number of Shoots/Seed, so we can easily hit the rate limit for the garden connection on la

[2020-09-04 08:56] timebertt commented on #2689
Unfortunately we also observed this during runtime of the gardenlet, where it was not rolled/restarted or something similar.
In this case, the problem was not rate limiting while talking to the Garden cluster but rather that the Seed's API was server under high load and was scaled at the time of the issue.
This resulted in the same symptoms like described above, although it's a different root caus

[2020-09-04 08:56] timebertt commented on #2689
Though, the common denominator of both problems is, that the Shoot health checks timeout (with `context deadline exceeded`) (either while talking to the garden cluster or the seed cluster), which only occurs because we have a context timeout of `shootCare.syncPeriod` since #2635 ([relevant change](https://github.com/gardener/gardener/pull/2635/files#diff-985c621432724b1a9d6f7727dc2ee967R154)).
Bef

[2020-09-04 09:06] timebertt commented on #2689
Other improvements, that we should make, regardless of the changes to the care controller, to fix the root causes:
- [x] Use `client.Patch` instead of `CreateOrUpdate` for syncing the extensions' state to the `ShootState` object [here](https://github.com/gardener/gardener/blob/e03a995c79fcaae59697269ef9473c7d70359234/pkg/gardenlet/controller/federatedseed/extensions/shootstate_control.go#L93) simi

[2020-09-04 09:07] rfranzke commented on #2689
Hm, not sure, I'm not so much in favour of hiding this problem (by setting the status to `Progressing`) - let's rather work on better observability/metrics to understand where this problem is coming from and fix its root. Even if you suggest this only for the mean time I would rather vote against it.

[2020-09-04 09:32] timuthy commented on #2689
This sounds interesting but what do you mean by enqueue extension kinds? How can you do that and how does it help to improve the situation?

[2020-09-04 09:33] plkokanov commented on #2689
Yep I can work on replacing `CreateOrUpdate` with `Patch` for the extensions state as well. I think we initially went with `CreateOrUpdate` to create the `ShootState` for already existing shoots as it would not exist for those shoots when this feature was introduced.

[2020-09-04 09:48] timebertt commented on #2689
Agreed. I would definitely like to fix the root causes, too.
So do I understand correctly, that you would also vote for keeping the timeout in the care controller?

The proposal was rather just an idea. What I also meant was, that we might use the condition thresholds to not "hide" the issue permanently, but to set it to `Progressing` for the configured amount of time to have a bit smother rollout

[2020-09-04 09:53] timebertt commented on #2689
I would probably do this by setting the namespace and name of the object to enqueue to a constant value, because there is no way of enqueueing only a kind directly (as you correctly figured).
This would help, because we would then only do the computation of the required installations for an extension kind only once (which is independent of the specific extensions object) rather than doing the same

[2020-09-04 10:02] rfranzke commented on #2629
/remove status/in-delivery
/close as all related PRs have been merged

[2020-09-04 10:02] #2629 closed, assigned to rfranzke

[2020-09-04 10:06] timuthy commented on #2689
IIUC, we need to recalculate with every change of the extension object and this is done by intention. For example, an installation may only not be required any more if all extensions of all kind/type combinations are gone. But let's have a direct discussion about the details. In general, I'm happy to see simplifications in this area :)

[2020-09-04 10:35] timebertt commented on #2687
Today, we hit this issue again while rolling out a different gardenlet configuration and it required manual operator actions to resolve the situation.

To progress on this topic, I would suggest to indeed use some jitter to spread enqueueing the shooted seeds similar to how it is done in the shoot care controller:
https://github.com/gardener/gardener/blob/e03a995c79fcaae59697269ef9473c7d70359234/p

[2020-09-04 11:22] vlerenc commented on #2629
@gardener/gardener-maintainers Thank you, amazingly fast. :-)

[2020-09-04 11:54] timebertt opened #2814 "Improve g-api stability during rolling updates"
**How to categorize this issue?**

/area robustness high-availability
/kind enhancement
/priority normal

**What would you like to be added**:
As discussed in an internal thread, let's improve the stability/availability of the gardener-apiserver during rolling updates by
- [x] tweaking the deployments' rolling update strategy
- [x] maybe setting `minReadySeconds` and adding some delaying `preStop`

[2020-09-04 13:16] timebertt opened #2815 "☂️-issue for gardener component metrics/alerts/dashboards"
**How to categorize this issue?**

/area monitoring ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
Currently the `/metrics` endpoint of our components (gcm, g-scheduler, gardenlet) only expose some very rudimentary metrics: `{garden_cm,gardener_scheduler,gardenlet}_worker_amount`, basic go runtime metrics and prometheus http handler metrics. AFAIK, we don

[2020-09-07 06:17] timebertt commented on #2675
ref https://github.com/kubernetes-sigs/controller-runtime/pull/1151

[2020-09-07 06:23] timebertt commented on #2747
I have created https://github.com/kubernetes-sigs/controller-runtime/pull/1151, which should definitely ease the problem described here.
Once it is merged and released, we can pass a custom rate limit to the DynamicRESTMapper (e.g. once every 5s), which will help us avoiding unnecessary discovery calls, while not surfacing `NoMatchErrors` when deleting non-existing CRs.

[2020-09-07 06:55] rfranzke commented on #2745
Any progress on this one?

[2020-09-07 07:20] amshuman-kr commented on #2814
Some background to the optimizations in #1275.

1. The [`preStop` delay](https://github.com/gardener/gardener/pull/1275/files#diff-062a90a9b844a78dd06fb9fa802386beR110-R116) is to give the kube-proxies a chance to
propagate the changes to the iptables in all the nodes as noted [here](https://github.com/kubernetes/kubernetes/issues/43576).
1. The increase in `minReadySeconds` is to ensure that the

[2020-09-07 09:26] timebertt commented on #2689
#2816 is merged
/unassign

[2020-09-07 10:12] #2779 closed, assigned to ggaurav10, amshuman-kr

[2020-09-07 12:22] timebertt commented on #1564
We could also
- [ ] add a smoke-test style integration tests, which checks if prometheus is able to scrape the most important components/metrics (cc @wyb1 @istvanballok)

[2020-09-08 05:24] #2795 closed, assigned to hardikdr

[2020-09-08 11:46] rfranzke commented on #2754
/unassign for now as #2783 is merged

[2020-09-08 12:02] timuthy opened #2822 "☂️ -Issue for graduating CachedRuntimeClients to beta"
**How to categorize this issue?**

/area scalability
/kind enhancement

**What would you like to be added**:
Since the introduction of the cached controller-runtime clients #2449 we should strive for graduating this feature to beta so that we can make use of all the delivered features in development. We broke down the graduation process to the following tasks after we tested the feature on differe

[2020-09-08 13:43] timebertt opened #2827 "Documentation for version upgrade process"
**How to categorize this issue?**

/area documentation
/kind enhancement
/priority normal

**What would you like to be added**:
IISIC, we are lacking end-user facing documentation about what happens during a Shoot version upgrade (k8s and machine images).

We could add some documentation describing the process of version upgrades, for example for k8s versions:
- k8s patch version upgrade: API serv

[2020-09-09 08:30] timuthy opened #2829 "Support HTTPS for /healthz, /readyz, /metrics and /debug endpoints"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
[Similar to Gardenlet](https://github.com/gardener/gardener/blob/74fbee9bb67270899b0afd8d9cc1bd806bdf80c1/cmd/gardenlet/app/gardenlet.go#L440-L448), controller-manager, admission-controller, resource-manager, scheduler and seed-admission-controller should serve `/healthz`, `/readyz` and `/metr

[2020-09-09 10:16] ialidzhikov commented on #2787
@wyb1 , @istvanballok did you managed to check this issue?

[2020-09-09 11:25] HerrmannHinz commented on #2745
@zanetworker how did you remove them? if i kill them they do come back after a few seconds.

[2020-09-09 12:12] wyb1 commented on #2787
I will take a look tomorrow at what causes this and see how to fix it

[2020-09-09 16:00] ialidzhikov opened #2833 "kube-controller-manager is often not scaled down on hibernation"
**How to categorize this issue?**

/area dev-productivity ops-productivity
/kind bug
/priority normal

**What happened**:
kube-controller-manager is often not scaled on hibernation. There might be something wrong with `Scale` on upstream side or dependency-watchdog can scale up kube-controller-manager again.

**What you expected to happen**:
kube-controller-manager to be scaled down.

**How to rep

[2020-09-10 05:56] #2784 closed, assigned to nobody

[2020-09-10 07:43] timebertt opened #2836 "Use protobuf in gardener components"
**How to categorize this issue?**

/area performance cost
/kind enhancement
/priority normal

**What would you like to be added**:
Currently all gardener components are configured to accept and send requests with content type `application/json`.
We should switch to protobuf (`application/vnd.kubernetes.protobuf`) by default, where possible.
As we heavily make use of CRDs in our Seed clusters it mi

[2020-09-10 08:37] #2787 closed, assigned to nobody

[2020-09-11 08:37] #2814 closed, assigned to rfranzke

[2020-09-11 09:42] danielfoehrKn commented on #2827
In general we need more documentation that explains which configuration changes on the Shoot (k8s version + changes in the worker config) causes either an in place update or a rolling update.

- Also for instance that renaming a worker equals deleting the worker pool and creating a new one and not a rolling update.

[2020-09-11 09:49] danielfoehrKn commented on #2800
Containerd exposes a configurable prometheus compatible metrics endpoint (not part of the default config.toml) that we do not set yet.
Other than that it should expose the default metrics via CRI for each container & per pod [ContainerStats](https://github.com/kubernetes/cri-api/blob/5862c637c0946a29efea6eb7954d229e44fe1daf/pkg/apis/runtime/v1alpha2/api.proto#L1276-L1275)

    // Memory usage gath

[2020-09-11 10:48] timebertt commented on #2815
We had an internal discussion with @wyb1 and @istvanballok. Thanks again for the productive session!

To summarize, we formalized the following action items / plan for this topic:

- [ ] add new prometheus instance without whitelisting/filtering (with low retention time) [@wyb1, @istvanballok]
  - this will help us to explore over time
    - which metrics are indeed helpful -> might be added to wh

[2020-09-14 07:01] vpnachev commented on #2827
/assign

[2020-09-14 08:55] vpnachev commented on #2595
Any progress here  @g-pavlov @Kristian-ZH @vlvasilev ?
If not, then we can close this issue as we will not implement it.

[2020-09-14 08:57] Kristian-ZH commented on #2595
This is a good feature but currently we have more important tasks based on the Logging stack stabilisation and we can close this for now

[2020-09-14 08:57] vpnachev commented on #2758
@vlvasilev @Kristian-ZH recently the logging has received a lot of improvements and most of the logs are now successfully ingested in the correct Loki instance, am I right?

[2020-09-14 08:57] Kristian-ZH commented on #2595
/close

[2020-09-14 08:57] #2595 closed, assigned to vlvasilev, g-pavlov, Kristian-ZH

[2020-09-14 14:44] grolu opened #2849 "Validation should prevent duplicate ServiceAccounts in Project member list"
**How to categorize this issue?**
Currently, it is possile to add the same service account twice in the member list:

[code]

Gardener allows to configure the member like this and it seems to merge the roles.

**What would you like to be added**:
Prevent to add the same service account multiple times.

**Why is this needed**:
The Dashboard would also need to merge the accounts as we do not want to

[2020-09-15 14:40] timuthy opened #2854 "Add unit tests for Gardener Admission Controller"
**How to categorize this issue?**

/area quality
/kind task
/priority normal

**What would you like to be added**:
Add unit tests for the namespace deletion and kubeconfig check:
https://github.com/gardener/gardener/tree/master/pkg/admissioncontroller/server/handlers/webhooks

**Why is this needed**:
These code branches are untested at the moment.

[2020-09-15 14:40] timuthy commented on #2854
/assign
/in-progress

[2020-09-16 11:03] prashanth26 commented on #2545
This issue seems to be affecting all providers. Here is the one for GCP - https://github.com/gardener/gardener-extension-provider-gcp/issues/172. Adding it as a back reference.

[2020-09-17 08:51] runzexia opened #2863 "ssd sc use general name"
**How to categorize this issue?**

/area TODO
/kind enhancement
/priority normal

**What would you like to be added**:

make StorageClass `gp2` and `gce-sc-fast` …… use same name

**Why is this needed**:
Our team uses clusters of cloud vendors such as gcp aws. But when we want to use ssd, we need to use the special sc name. For end users, the name of the type is not the most important, but their s

[2020-09-17 08:59] rfranzke commented on #2863
This would introduce cross-provider extension coordination which is against the goals of our extensibility concepts.
Generally, I would recommend to let the users create the storage classes they need to run their workload themselves (this way they can also optimize the configurations to suit better to their use case).

[2020-09-17 12:30] vpnachev commented on #2833
I have succeed to reproduce the issue with the current master of the gardener.
The gardenlet has scaled down the `kube-controller-manager` but a few seconds later `dependecy-watchdog` scaled it up and in the next hour it was still scaled to 1 replica.

Then I have updated the dwd to the latest master that contains https://github.com/gardener/dependency-watchdog/pull/23 and it now ignores clusters

[2020-09-18 05:59] #2454 closed, assigned to swilen-iwanow

[2020-09-18 08:38] rfranzke commented on #2794
@vpnachev shall we close this issue now?

[2020-09-18 08:39] rfranzke commented on #2758
Shall we close this in favor/merge this into #2677?

[2020-09-18 08:41] Kristian-ZH commented on #2758
Yes :) we can close this issue

[2020-09-18 08:42] #2758 closed, assigned to vlvasilev, Kristian-ZH

[2020-09-18 08:43] ialidzhikov commented on #2758
And how exactly this issue is fixed?

[2020-09-18 08:57] rfranzke commented on #2758
Even if it's not fixed yet let's track it in the general improvement issue #2677

[2020-09-18 08:59] Kristian-ZH commented on #2758
The issue was caused because Loki was not able to handle the logs rate.
When the buffer was overflowing, the output plugin was receiving `pause` command. The normal behaviour after a `pause` command is to receive a `resume` command, when some capacity of the buffer is released. Unfortunatelly once our plugin was `paused`, it was not resumed anymore.

The improvement we did there was to use `rwmute

[2020-09-18 09:06] vpnachev commented on #2794
No, we should switch to `/livez` and `/readyz` once https://github.com/kubernetes-sigs/metrics-server/issues/540 is fixed.

[2020-09-21 13:18] rfranzke commented on #2778
FYI: @MartinWeindel was just hit by this issue again

[2020-09-21 13:23] petersutter opened #2871 "Gardener APIs as own (sub)module"
**How to categorize this issue?**
/area dev-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
It would be nice to have the gardener apis (pkg/apis) as own (sub)module. Similar to https://github.com/kubernetes/apimachinery

**Why is this needed**:
Having the apis as own module would reduce the number of dependencies for the component that depends on the gardener

[2020-09-21 13:34] ialidzhikov commented on #2871
Basically I have the same question as in https://github.com/gardener/gardener/issues/1768#issuecomment-568803049.

Can you be more concrete about the below statement?

Which dependency is added in actual (and should not be added eventually) when you use the api pkgs of gardener/gardener?

[2020-09-21 14:15] petersutter commented on #2871
In my [project](https://github.com/gardener/terminal-controller-manager) I have the following [go.mod](https://github.com/gardener/terminal-controller-manager/blob/master/go.mod) file
[code]

Now, as I had to import `github.com/gardener/gardener/pkg/apis/core/v1beta1` to use the `Project` type, I had to downgrade the `controller-runtime` dependency to `v0.5.10` and hence also the k8s.io/* dependen

[2020-09-22 08:57] vlerenc opened #2872 "expose pod eviction timeout kcm flag to enable shorter eviction time for control plane components in shooted seeds"
**What would you like to be added**:
Faster pod eviction if liveliness probe fails. Default is 5m in KCM, but maybe 1m makes more sense so that we get ETCD and API servers “unglued” from broken nodes faster?

**Why is this needed**:
It is an improvement proposal from issues noticed in the past.

[2020-09-22 09:03] vlerenc opened #2873 "Bin-Packing for Control Planes"
**What would you like to be added**:
@mvladev once rolled out a change for shoot clusters that switched the scheduler to bin-packing, which significantly reduced our shooted seed control plane costs. Since the change was affecting all shoots and some workload fails to come with proper requests/limits (in contrast to Gardener shoot control planes), we saw issues with such workloads and had to rever

[2020-09-22 09:06] rfranzke commented on #2872
Not sure whether I understand it correctly, but you are talking about the `--pod-eviction-timeout` flag in KCM (with a default of `5m`), right? And you propose to set it to `1m` for shooted seeds?

[2020-09-22 09:07] rfranzke commented on #2873
Ref https://github.com/gardener/gardener/pull/1551 and https://github.com/gardener/gardener/pull/1610

[2020-09-22 09:45] vlerenc commented on #2872
Yes @rfranzke , I had it in my old notes (which I am now flushing into the backlogs ;-)), most likely from a previous discussion/issue a long time ago (maybe Gardener Ring?). We concluded back then, that the 5m "are awfully long".

[2020-09-22 09:57] vlerenc opened #2874 "Private Cloud Profiles (Settings and Regions) and Seeds for Private Cloud/Cloud in Country"
**What would you like to be added**:

We need something like private cloud profiles, private regions, private seeds for projects/teams/LoBs with private settings or infrastructure or for nations that want to keep their resources "in country" and sometimes even nobody else on it. To achieve that, the following things come to mind:
- Allow some projects to use certain cloud profiles and seeds that o

[2020-09-22 12:21] hoeltcl opened #2875 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2020-09-22 12:34] rfranzke commented on #2875
/assign
done
/close

[2020-09-22 12:34] #2875 closed, assigned to rfranzke

[2020-09-23 05:51] #2675 closed, assigned to nobody

[2020-09-23 05:51] #2747 closed, assigned to timebertt

[2020-09-23 08:49] bellwest opened #2879 "Support AdmissionPlugin to reference other files"
**What would you like to be added**:

Currently [Admission Plugin](https://gardener.cloud/api-reference/core/#core.gardener.cloud/v1beta1.AdmissionPlugin) does not support referencing other files(in api-server pod). I'd like this to be supported.

**Why is this needed**:

Some Admission Configuration might require other files and their locations, e.g.
[code]
(reference : https://github.com/open-po

[2020-09-23 10:24] mvladev commented on #2873
The problem today is that the `kube-scheduler` is slowly moving towards getting rid of the old configuration (there won't be any `ClusterAutoscalerProvider` build-into kube-scheduler in the near future). The scheduler configuration has just hit [beta in 1.19](https://kubernetes.io/docs/reference/scheduling/config/).

What I would suggest to have instead, while we wait for GA for kube scheduler con

[2020-09-23 15:48] ialidzhikov opened #2882 "Control plane Pods are being restarted too often with reason EvictedByVPA"
**How to categorize this issue?**

/area auto-scaling
/kind bug
/priority normal

**What happened**:
A Shoot was created 50m ago.

[code]

For a Shooted Seed with `spec.kubernetes.verticalPodAutoscaler.enabled=true` for this period of time there were 84 VPA evictions:

[code]

Basically if you watch the control plane Pods you can see that some of them (for example prometheus-0, loki-0, csi-driver-

[2020-09-23 15:48] ialidzhikov commented on #2882
/cc @amshuman-kr @wyb1 @ggaurav10

[2020-09-23 16:11] amshuman-kr commented on #2882
The most evicted pods seem to be the following. All the others were scale at most once.
[code]

[code]

[2020-09-23 16:14] ialidzhikov commented on #2882
Nope

[code]

[2020-09-23 16:16] ialidzhikov commented on #2833
/ping @amshuman-kr

[2020-09-23 16:17] amshuman-kr commented on #2882
You are right. I missed removing the hash suffix in pod names.

[2020-09-23 16:40] amshuman-kr commented on #2882
VPA Updater doesn't seem have too many [options to be tweaked](https://github.com/kubernetes/autoscaler/blob/30b1bb49d539a134f0a5c4646e43c9fc5f151718/vertical-pod-autoscaler/pkg/updater/main.go#L40-L60).

The only possibility seems to be [`--updater-interval`](https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.8.1/vertical-pod-autoscaler/pkg/updater/main.go#L41).

Other than t

[2020-09-23 16:44] vpnachev commented on #2882
I can only point out that this is affecting also the extension pods deployed in the seed cluster, for example the os-gardenlinux extension was evicted 61 times in the last hour.
[code]

[2020-09-23 16:49] vpnachev commented on #2882
Actually the eviction is done because the recommendations are not applied, the reason for which is that `vpa-webhook-config` mutatingwebhookconfigurations is gone.

[2020-09-23 16:52] vpnachev commented on #2882
The above might be related to https://github.com/gardener/gardener/pull/2802 (cc @ggaurav10 ).

[2020-09-23 16:59] amshuman-kr commented on #2833
Sorry for the delay. Will cut dwd release.

[2020-09-23 18:54] amshuman-kr opened #2884 "Dashboard to visualize rate and volume of updates coming into etcd and alerts for the same"
**How to categorize this issue?**

/area monitoring
/kind post-mortem
/priority normal

**What would you like to be added**:
A high rate and volume of updates coming into etcd could cause sudden increase in etcd DB size in a short amount of time. We need a way to monitor, visualize and trigger alerts for high rate and volume of updates into etcd.

**Why is this needed**:
So that we can do either o

[2020-09-23 18:54] amshuman-kr commented on #2884
/assign

[2020-09-23 19:53] ialidzhikov commented on #2882
/priority critical

[2020-09-23 20:09] ialidzhikov commented on #2882
[code]

[2020-09-24 02:16] amshuman-kr commented on #2882
I see the VPA webhook config got created in the night. Is the eviction problem still there?
[code]

[2020-09-24 02:32] ggaurav10 commented on #2882
I am seeing that `vpa-webhook-config` is getting deleted and recreated again and again - every few seconds - atleast in gcp dev seed.

[2020-09-24 02:54] ggaurav10 commented on #2882
looks like the following line is deleting the webhook because vpa is not enabled for `seed` resource:
https://github.com/gardener/gardener/blob/7fd3754574168a3318be5b0a54e78541e34d0831/pkg/operation/common/utils.go#L393

but since VPA is enabled for the `shoot` resource (which is acting as seed), the gardener-resource-manager is creating it again.

[2020-09-24 04:05] vlerenc opened #2885 "Automatic Seed Cluster Management"
# Stories
- As operator, I do not want to manually add or remove seeds, when load increases or decreases.
- As operator, I do not want to manually migrate control planes (depends on #1631), if a seed fails.

# Motivation
We lack seed automation that would deal with load or failure issues. Practically, we see people mostly hit by load issues, but there is also the risk of a failed seed. Today both

[2020-09-24 06:34] #2833 closed, assigned to nobody

[2020-09-24 06:44] ialidzhikov commented on #2882
/assign

[2020-09-24 07:19] rfranzke commented on #2822
After having enabled the `CachedRuntimeClients` feature gate in the gardenlet on a large landscape, we have seen significant resource increases in the kube-apiserver and gardener-apiserver.

This is showing the usage **with** the feature gate being enabled:

[code]

After having disabled the feature gate again (only in the gardenlet), resource consumption dropped significantly:

[code]

[2020-09-24 08:55] #2882 closed, assigned to ialidzhikov

[2020-09-24 09:05] ialidzhikov opened #2887 "Cannot delete hibernated cluster after enabling APIServerSNI feature gate"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:
I triggered deletion for a Shoot which was hibernated since longtime. As part of the deletion flow, gardenlet wakes up the apiserver to ensure proper cleanup. However for such Shoot the apiserver fails to start with:
[code]

Checking the Services, I see that the kube-apiserver Service is still of type

[2020-09-24 10:27] rfranzke commented on #2815
/assign @danielfoehrKn
as he showed some interest in this these topics and might start looking into it

[2020-09-24 12:32] danielfoehrKn commented on #2815
After initially looking into it,  I have to say that I would need a considerable amount of time and focus for this topic ( this is one of the areas I am least familiar in ) that I do not have at the moment.
Lets discuss this in a bigger round when @timebertt is back.

/unassign

[2020-09-24 13:59] amshuman-kr commented on #2884
![image](https://user-images.githubusercontent.com/32157254/94155183-49849380-fe9c-11ea-81f4-f2c5803df6fe.png)
This is what a very high rate and volume might look like

[2020-09-24 15:18] ialidzhikov opened #2890 "etcd-druid Pod is not scaled up despite being OOMKilled"
**How to categorize this issue?**

/area auto-scaling monitoring
/kind bug
/priority normal

**What happened**:
etcd-druid Pod is OOMKilled and I would expect VPA to recommend better values to prevent that.

[code]

**Logs of vpa-updater**:

<details>

[code]

</details>

**Logs of vpa-recomender**:

<details>

[code]

</details>

**Logs of kube-state-metrics**:

<details>

[code]

</details>

**W

[2020-09-24 15:34] vpnachev commented on #2887
This is affecting also waking up of shoot cluster that was hibernated since long time.

[code]

After some time, the `kube-apiserver` deployment has been properly configured with `--advertise-address`.

[2020-09-24 16:46] ialidzhikov commented on #2887
What it means after some time?

[2020-09-24 17:20] vpnachev commented on #2887
5-10 minutes later. I believe something wrong has happened with SNI because currently the `--advertise-address` flag is set to the ClusterIP of the service which is of type LoadBalancer  and this still so after several reconciliations and more than 1 hour later :open_mouth:.

cc @mvladev

[2020-09-25 06:10] mvladev commented on #2887
I'm on it.

[2020-09-25 07:18] Diaphteiros opened #2891 "seed bootstrap fails on kubernetes 1.19 clusters"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority normal

**What happened**:
Tried to create a seed on a kubernetes 1.19.1 cluster. The seed does not become `Ready`. The logs show this:
[code]

**What you expected to happen**:
The seed to become `Ready`.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a 1.19.1 cluster (I tried it on a shoot)
2.

[2020-09-25 08:11] dguendisch opened #2893 "Upon cluster deletion, remove Grafana later"
**How to categorize this issue?**

/area control-plane
/area logging
/kind enhancement
/priority normal

**What would you like to be added**:
I noticed a few times that when a cluster is deleted and reached the step of tearing down infrastructure via tf pod and tf fails because of leaked resources, then I wanted to check e.g. whether ccm really deleted certain items (e.g. LBs) in time.
As ccm was

[2020-09-25 08:27] zjj2wry opened #2894 "KubeEtcdFullBackupFailed will always alerts when create new shoot"
**How to categorize this issue?**

/area monitoring
/kind bug
/priority normal

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2020-09-25 08:27] rfranzke commented on #2891
Ref https://github.com/kubernetes/api/blob/master/networking/v1/types.go#L422-L438 - the `backend` type has changed which you need to adapt.

/in-progress
/assign @Diaphteiros

[2020-09-25 09:58] mvladev commented on #2887
Have a look at #2895

[2020-09-25 11:32] vpnachev commented on #2887
I have just faced this issue with a freshly created cluster.
In my landscape there was no shoot clusters and the APIServerSNI feature gate is enabled.
I create a shoot cluster and its kube-apiserver service is of type LoadBalancer, this should not happen because this cluster never ever existed before.

[2020-09-25 13:12] mvladev commented on #2887
This one is separate problem which is addressed in #2901

[2020-09-26 10:09] #2893 closed, assigned to nobody

[2020-09-28 04:32] vlerenc opened #2906 "☂️ [GEP-28] Self-Hosted Shoot Clusters"
Umbrella Issue for implementing [GEP-28: Self-Hosted Shoot Clusters](https://github.com/gardener/gardener/tree/master/docs/proposals/28-self-hosted-shoot-clusters.md).

Gardener became a great tool to create and manage clusters with very low TCO. Part of this success is its design and running control planes in seed clusters under joint supervision by Gardener and Kubernetes. However, there is suff

[2020-09-28 06:57] rfranzke commented on #2890
/cc @amshuman-kr @ggaurav10 @wyb1  - do you have comments on that one?

[2020-09-28 08:41] #2887 closed, assigned to mvladev

[2020-09-29 11:22] #2734 closed, assigned to rfranzke

[2020-09-29 11:23] grolu commented on #2849
I just noticed that it is also possible to add multiple users with the same name, so there seems to be no validation at all. We will build something in the dashboard to mitigate this, however we should implement a fix for this.

[2020-09-29 11:52] timebertt opened #2915 "[Flaky test] Extensions Controller BackupBucket Test Suite"
**How to categorize this issue?**

/area testing
/kind flake
/priority critical

**What happened**:

`Extensions Controller BackupBucket Test Suite` (BackupBucket controller integration test) is flaky with a high rate:
- https://concourse.ci.gardener.cloud/teams/gardener/pipelines/gardener-master/jobs/master-pull-request-job/builds/9
- https://concourse.ci.gardener.cloud/teams/gardener/pipelines/g

[2020-09-29 11:52] timebertt commented on #2915
/assign

[2020-09-29 12:59] petersutter commented on #2871
another report from a community member https://kubernetes.slack.com/archives/CB57N0BFG/p1601378800020400

[2020-09-29 14:18] timebertt commented on #2915
After half a day trying to reproduce it, I'm stuck with this.
I tried reproducing it
- in a cpu restricted docker container
- with [stress](https://godoc.org/golang.org/x/tools/cmd/stress)
- with stress in a cpu restricted docker container
- with different combinations of timeout settings, resource limitations, parallel executions...

But so far, no luck. With heavy cpu limits / high parallelism,

[2020-09-29 14:20] ialidzhikov opened #2920 "[Flaky test] should autoscale a single worker group"
**How to categorize this issue?**

/area testing
/kind bug
/priority normal

**What happened**:
The `should autoscale a single worker group` test is failing often and hence it is the reason for the beta serial test suite to fail.

Logs of the test execution:

<details>

[code]

</details>

Events of the reserve-capacity Pods:

<details>

[code]

</details>

**What you expected to happen**:

**How

[2020-09-29 14:22] rfranzke commented on #2915
I guess the problem occurs when the CPU is throttled as part of the test execution (after the temporary control plane started up).

[2020-09-29 14:23] ialidzhikov commented on #2920
/cc @hardikdr @timebertt

[2020-09-29 14:24] timebertt commented on #2915
Yes, exactly. That was also my assumption.
Any ideas how to reproduce such a behaviour?

[2020-09-29 14:26] rfranzke commented on #2915
No, not really. What would be the next step (assuming we can reproduce this)?

[2020-09-29 14:34] timebertt commented on #2915
Hm, probably find suitable timeouts and test if it helps...
I will increase the timeouts a bit and do some smaller improvements tomorrow and then we can just observe it in the pipeline.

A small finding from today at least, but unfortunately not a fix for the flake: #2921

[2020-09-30 06:53] timebertt commented on #2920
/kind flake

[2020-09-30 07:58] rfranzke commented on #2827
/unassign @vpnachev
/assign

[2020-09-30 09:52] timebertt opened #2926 "[Flaky Test]: Test new gh issue template"
**How to categorize this issue?**

/area testing
/kind flake
/priority normal

**Which test(s)/suite(s) are flaking**:
None, only testing new gh issue template

**CI link**:

**Reason for failure**:

**Anything else we need to know**:

[2020-09-30 09:52] timebertt commented on #2926
/close

[2020-09-30 09:52] #2926 closed, assigned to nobody

[2020-09-30 12:38] #2741 closed, assigned to rfranzke

[2020-09-30 15:09] timebertt opened #2930 "Documenation on etcd and etcd-druid usage in gardener"
**How to categorize this issue?**

/area documentation control-plane
/kind enhancement
/priority normal

**What would you like to be added**:
Currently, we don’t have any documentation about the usage of etcd and etcd-druid in gardener.

We should add some documentation about
- how etcd-druid is used to bring up the etcds for Shoot clusters
- why we have `etcd-main` and `etcd-events` and what the

[2020-09-30 17:08] danielfoehrKn commented on #2874
@vlerenc as this touches multiple areas within the Gardener maybe this should be put into a GEP and discussed there?

[2020-09-30 17:57] vlerenc commented on #2874
@danielfoehrKn Sure, you can also have the discussion in a GEP and such a topic indeed deserves one. 👍

[2020-10-01 05:26] amshuman-kr commented on #2890
Somehow the recommendations are not updated despite noticing an oomkill. Perhaps because of
[code]

[2020-10-01 05:31] amshuman-kr commented on #2890
The only possible reason for this seems to be https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.8.0/vertical-pod-autoscaler/pkg/recommender/model/container.go#L137-L139

[2020-10-01 06:47] amshuman-kr commented on #2890
Will dig more later today.

@ialidzhikov Which seed cluster was this?

[2020-10-01 06:52] ialidzhikov commented on #2890
dev/az

[2020-10-01 09:39] ialidzhikov opened #2932 "[Failing test] 'should read runtime metrics' test is failing when NodeLocalDNS=true"
**How to categorize this issue?**

/area networking
/kind bug
/priority normal

**What happened**:
`should read runtime metrics` test seems to be failing when NodeLocalDNS feature gate is enabled.

**What you expected to happen**:
No such failure.

**How to reproduce it (as minimally and precisely as possible)**:
1. Start gardenlet with

[code]

2. Create a new Shoot

3. Run the `should read runti

[2020-10-01 10:49] rfranzke commented on #2932
Is it related to https://github.com/gardener/gardener/issues/2745 ?

[2020-10-01 11:12] #2778 closed, assigned to rfranzke

[2020-10-01 12:28] ialidzhikov commented on #2932
It could be related. @DockToFuture , can you confirm?

[2020-10-01 13:24] timebertt commented on #2822
@timuthy and I had an interesting discussion about the client usage in gardener and about this topic again.

We see the following problems with the combination of `Client` and `DirectClient` in our ClientSets:
- it is very confusing, when to use what
- `DirectClient` and `Client` are interoperable and can therefore be easily replaced/switches (both implement the same interface – `client.Client`)
-

[2020-10-02 04:10] vlerenc opened #2938 "Max cap for shoots per seed in scheduler"
**What would you like to be added**:
We have seen seeds (`gardenlet`) go down after being overloaded with shoots, so it may be safer to have a max cap for shoots per seed until we have implemented the automated seed cluster management that would automatically add new seeds.

**Why is this needed**:
To prevent the `gardenlet` on a seed to go down.

/cc @danielfoehrKn

[2020-10-02 06:38] rfranzke commented on #2891
Any progress @Diaphteiros ?

[2020-10-02 07:01] #2738 closed, assigned to timuthy

[2020-10-02 09:48] danielfoehrKn commented on #2938
Is having a max cap. of Shoot clusters for a Seed not independ of the  automated seed cluster management?
Shoot clusters can be pinned to a Seed, so the automated seed cluster management does not help in this case.

Maybe we can implement the max cap for shoots per seed via

**Scheduler**
 - component configuration with default hard max number of Shoots. Overridden by config on the Seed.

**Seed**

[2020-10-02 09:57] vlerenc commented on #2938
Sure, sounds reasonable, thank you very much!

As for your question:

Maybe, maybe not. Seed cluster management may have additional insights (monitoring data, infrastructure considerations, particular seed specs in case of bring-your-seeds, etc.). For the time being, we don't have these things and the rule(s) will be simple (just a cap), so let's go for your proposal then, but I would be open that

[2020-10-02 10:59] danielfoehrKn commented on #2938
From my perspective that makes sense. Should be added in an admission plugin.

[2020-10-02 12:25] rfranzke commented on #2890
[code]

We observed that the VPA's recommendations are lower than currently configured resources which might be the reason why nothing happens:

[code]

[2020-10-02 12:41] vlerenc commented on #2890
Yes, we have seen that for quite some time. Without a better recommender, VPA is not really usable/doesn't increase stability. It doesn't react to spikes well resp. not at all and is only taking into consideration the weighted half-lifed past.

[2020-10-02 13:51] Diaphteiros commented on #2891
@rfranzke I tried to adapt the ingress resources to the new apiGroup, but that broke backwards compatibility. I found out that there is a function in the helm template that sets the ingress apiGroup depending on the kubernetes version (https://github.com/Diaphteiros/gardener/blob/fix-seed-bootstrap/charts/utils-templates/templates/_versions.tpl#L75-L83).
I tried to copy this switch into the ingres

[2020-10-02 14:06] rfranzke commented on #2891
Hmm, what do you mean by "broke backwards compatibility"? The changes actually look promising, what's the exact error?

[2020-10-02 14:25] Diaphteiros commented on #2891
Since the ingress version is set dynamically, depending on the kubernetes version, it will be set to `networking.k8s.io/v1beta1` for clusters lower than kubernetes 1.19, which requires the old format for the ingress. So if I just update the ingress spec to the new format in a static manner, this will fail (at least it didn't work, when I tried it, the error message hinted that the `serviceName` fi

[2020-10-05 06:39] amshuman-kr commented on #2890
I have configured the `minAllowed` for `etcd-druid` in #2941 which addresses the lower end of the scale. But the spike handling in VPA recommender needs a separate general solution.
- https://github.com/gardener/autoscaler/issues/47 and https://github.com/gardener/autoscaler/issues/47#issuecomment-696051959. We are picking this one now.
- https://github.com/gardener/hvpa-controller/issues/79

[2020-10-05 08:18] timuthy opened #2942 "Graduate APIServerSNI (+ ManagedIstio) feature gate"
**How to categorize this issue?**

/area control-plane
/area cost
/area scalability
/kind enhancement
/priority normal

**What would you like to be added**:
The `APIServerSNI` and `ManagedIstio` (usually used together) should be graduated to **beta** after we have collected sufficient experience and test results on regularly tested and busy landscapes. Any potential issues and blockers graduating

[2020-10-05 08:56] Diaphteiros commented on #2891
I retried it with the linked commit. Seed bootstrap works fine, but shoot creation fails with this error message:
[code]

[2020-10-05 09:09] #2890 closed, assigned to nobody

[2020-10-05 09:28] danielfoehrKn commented on #2938
We decided that we would start with the `hard cap` for Shoots.
We ll keep the `soft cap` in mind when the control plane migration is enabled and work started on the automated seed cluster management.

[2020-10-05 09:51] rfranzke commented on #2891
Hm, I don't understand this error, the capabilities are set centrally in the chartrenderer itself, so I have no clue how this can be a nil pointer.
/cc @ialidzhikov @mvladev - any hints/ideas?

[2020-10-05 10:38] ialidzhikov opened #2943 "Show Service events when LoadBalancer cannot be ensured"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
Currently when the vpn-shoot Service is not ensured, the reconciliation fails with generic error like:

[code]

We could add a step like `WaitUntilNginxIngressServiceIsReady` that waits until the vpn-shoot Service `.status.loadBalancer.ingress[]` has elements (when the

[2020-10-05 22:08] ialidzhikov commented on #2920
With some luck I managed to reproduce this issue.

I used `m5.large` machine types (used also by our tm)  which are with `1920m` allocatable cpu .
As shown in the logs above, the third reserve-capacity Pod hangs in Pending with reason:

[code]

The Nodes are as follows:

- node-1 - already runs a reserve-capacity Pod -> cannot accept 1 more reserve-capacity Pod
[code]

- node-2 - does not run a re

[2020-10-06 05:55] timebertt commented on #2920
Very nice digging, @ialidzhikov! 👏

[2020-10-06 10:34] mvladev commented on #2938
It's better to put that configuration in the Seed status like [the Node status](https://github.com/kubernetes/api/blob/2c3c141c931c0ab1ce1396c3152c72852b3d37ee/core/v1/types.go#L4582-L4593) is set. The flow would be quite simple:

- a gardenlet is set with some resources it has as a capacity.
- it updates the `Seed` status with that `capacity` and how much it actually is available (this is the `al

[2020-10-06 10:40] mvladev commented on #2938
Furthermore, cloud-provider extensions can also update the Status with some cloud-specific limitations (e.g. 300 LoadBalancers limit in Azure)

[2020-10-06 12:01] wyb1 opened #2946 "Add custom monitoring for extensions"
**How to categorize this issue?**

/area monitoring
/kind enhancement
/priority normal

**What would you like to be added**:
The current [extensions contract](https://github.com/gardener/gardener/blob/master/docs/extensions/logging-and-monitoring.md#monitoring) only supports adding monitoring in the shoot control plane. This concept should be extended to allow extensions to be monitored from the `

[2020-10-06 13:41] #2827 closed, assigned to rfranzke

[2020-10-06 15:54] vlerenc commented on #2938
I like that @mvladev, maps to an established practice, having `capacity` or rather `allocatable`.

Then again, also with this in place, schedulers are nasty. They cannot easily react to new / unknown resources, which makes scheduling pods on nodes hard (memory, cpu, disks, pods, ...) and so introducing later more resource types will require also changes in the scheduler to respect them.

[2020-10-06 20:56] ialidzhikov commented on #2891
The issue is caused by usage of the root context (`.`) inside `range`.

`range` and `with` overwrite `.`, so we need to use `$.` to refer the root context.

[code]

@Diaphteiros , as I had everything locally set up I filed #2949 and added you as co-author (I hope this is fine for you).

[2020-10-07 03:14] amshuman-kr opened #2950 "Dashboard for the usage, minAllowed and maxAllowed for components scaled by VPA/HVPA and alerts when usage reaches close to maxAllowed"
**How to categorize this issue?**

/area monitoring
/kind post-mortem
/priority normal

**What would you like to be added**:
We need a way to visualize the `minAllowed` and `maxAllowed` configurations (if any) along with the resource usage, requests, limits and VPA recommendations for all the control-plane components scaled by VPA/HVPA. We also need to trigger alerts when the components' resource

[2020-10-07 03:14] amshuman-kr commented on #2950
/assign @amshuman-kr

[2020-10-07 11:43] mvladev commented on #2938
If the logic is generic, then it should not require any additional changes. It's just a dictionary of `resource-name` and `allocatable-value`.

[2020-10-07 13:14] #2891 closed, assigned to Diaphteiros

[2020-10-08 08:03] ialidzhikov opened #2953 "Seed .spec.settings.scheduling.visibility is flapping when it is set to false"
**How to categorize this issue?**

/area quality
/kind bug
/priority normal

**What happened**:
Currently `.spec.settings.scheduling.visibility` is flapping between true and false when ShootedSeed `shoot.gardener.cloud/use-as-seed` annotation contains the `unvisible` identifier.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Add `unvisible`

[2020-10-08 08:45] vlerenc commented on #2953
/area quality
/kind bug
/priority normal

[2020-10-08 11:22] vpnachev commented on #2953
/assign

[2020-10-09 09:01] einfachnuralex opened #2956 "☂️ -Issue for graduating KonnectivityTunnel feature gate to beta"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority normal

**What would you like to be added:**
The Konnectivity feature is in alpha state at the moment and has serias stability issues.
It make sense to collect all problems here and track the progress to beta.

Feel free to add your problems with Konnectivity feature here.

[2020-10-09 09:01] einfachnuralex commented on #2956
Currently we run version 0.0.12 of the apiserver-network-proxy in a test environment and use the http-connect method of this proxy.
Kubernetes version is 1.18.6/1.19.2 and we are working on a Openstack environment. Also we tried the GRPC connection method, but with the same results.
We implemented a liveness probe for the proxy which checks if the proxy is crashed, that was a problem in the past b

[2020-10-09 09:55] dguendisch opened #2958 "Guestbook test on openstack leak volumes from redis StatefulSet"
**How to categorize this issue?**

/area testing
/kind bug
/priority normal

**What happened**:
In regular tests I noticed that a lot of volumes leak in our openstack landscape. Most of the leaked volumes are 8GB in size and contain some redis data, so I assume they are from the guestbook test with deploys a redis `sts`.

**What you expected to happen**:
No leaking.

**How to reproduce it (as mini

[2020-10-09 09:55] ialidzhikov commented on #2958
/area storage

[2020-10-09 10:02] ialidzhikov commented on #2958
/assign @ialidzhikov

[2020-10-09 13:19] timuthy opened #2960 "Mid-air updates lead to shoot deletion failures"
**How to categorize this issue?**

/area robustness
/kind bug
/priority normal

**What happened**:
A cluster which had been woken up from hibernation was deleted and but stuck in the deletion flow at the `Initializing connection to Shoot` step.

**What you expected to happen**:
The cluster to be deleted successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Hibernate e

[2020-10-09 13:33] ialidzhikov commented on #2960
That explains the issue I was looking for yesterday. Thank you for creating this issue!

[2020-10-09 15:00] amshuman-kr opened #2961 "Update VPA to vertical-pod-autoscaler-0.9.0"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority normal

**What would you like to be added**:
Update VPA to [vertical-pod-autoscaler-0.9.0](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.9.0)

**Why is this needed**:
1. Allow custom timeout value for webhook calls [kubernetes/autoscaler#3549](https://github.com/kubernetes/autoscaler

[2020-10-09 15:00] amshuman-kr commented on #2961
/assign

[2020-10-09 15:08] vpnachev commented on #2961
What is the benefit from reverting it? Now we have full control over the configuration and can adjust it easily to our needs.

[2020-10-09 15:16] amshuman-kr commented on #2961
Only hypothetical. We do not have to duplicate possible future changes to other parts of the webhook configuration that are not directly of interest to us.

[2020-10-09 19:22] ialidzhikov commented on #2958
This issue is actually caused by the `Testing if Shoot can be hibernated successfully` against v1.19 cluster. See https://github.com/gardener/gardener-extension-provider-gcp/issues/172 (issue is opened under gardener/gardener-extension-provider-gcp but it is applicable also for all providers using CSI, there is also the same issue under g/g - https://github.com/gardener/gardener/issues/2545).

You

[2020-10-09 19:40] ialidzhikov commented on #2958
Note also that the Shoot deletion flow does only delete and wait for PVCs, but not PVs.

[2020-10-10 15:29] ialidzhikov commented on #2958
I tested on AWS now and the PV deletion hanged again in Terminating but the underlying EBS volume was successfully deleted. I now see that there was a change in the external-provisioner starting v2.0.0 (ref https://github.com/kubernetes-csi/external-provisioner/pull/438/) that now checks whether the PV has volumeattachments and if yes, it fails early and does not call the CSI driver for volume del

[2020-10-10 23:25] tareksha opened #2964 "Customize annotations on vpn-shoot service"
**How to categorize this issue?**
/area audit-logging
/area monitoring
/area networking
/area security

**What would you like to be added**:

The ability to add custom annotations to the managed service `vpn-shoot` in `kube-system` namespace inside the shoot. Right now the service is pretty much static and not configurable:
https://github.com/gardener/gardener/blob/v1.11.1/charts/shoot-core/compon

[2020-10-11 10:41] dguendisch commented on #2958
Nice finding! Thanks so much for digging into this!

[2020-10-12 06:42] timuthy commented on #2942
Waiting for https://github.com/gardener/gardener/pull/2954 before we proceed with the activation on the last landscape.

[2020-10-12 08:13] amshuman-kr commented on #2961
/assign @kallurbsk

[2020-10-12 08:42] BeckerMax opened #2965 "Golang race detector finds races in Gardener Code"
Running the [data race detector](https://golang.org/doc/articles/race_detector.html) on Garden components detects multiple races. This issue is meant for discussing how we proceed with the findings.

Background:
My goal was to find a test setup which detects issues coming from shared access to data structures like https://github.com/gardener/gardener/pull/2860. The issue #2860 was caused by shared

[2020-10-12 09:02] ialidzhikov opened #2966 "CoreDNS dashboard shows always 'No data'"
**How to categorize this issue?**

/area monitoring
/kind bug
/priority normal

**What happened**:
CoreDNS dashboard shows always 'No data'

**What you expected to happen**:
To have a dashboard that shows data or to do not have a dashboard at all.

**How to reproduce it (as minimally and precisely as possible)**:
1. Navigate to the grafana of a random Shoot

2. Ensure that the the tiles in `CoreDN

[2020-10-12 09:02] ialidzhikov commented on #2966
/cc @wyb1

[2020-10-13 06:20] timebertt commented on #2181
/touch

In a chat with @gardener/gardener-maintainers, @vpnachev proposed to have a dedicated resource (e.g. `ShootedSeed`) which will contain a reference to the `Shoot` and the `Seed` template.
We could also add another section in this resource, which configures the gardenlet deployment, for example which bootstrap mechanism to use (bootstrap token / service account) but also (parts of) the `Gard

[2020-10-13 06:23] timebertt commented on #2181
We might even think about making the resource namespaced and then register `ShootedSeed`s in the `garden` namespace as "globally" available Seeds and `ShootedSeed`s in a project namespace will automatically receive project specific taints and labels, so that Shoots of the project can use "private Seeds".
/cc @vlerenc

[2020-10-13 06:25] dguendisch commented on #2181
Good idea! Sounds like it would help the colleagues currently writing control plane migration tests as well!
/cc @plkokanov @kris94

[2020-10-13 06:48] #2920 closed, assigned to nobody

[2020-10-13 08:18] plkokanov commented on #2181
Yep that would greatly help to isolate the test seeds, would also allow us to actually have integration tests for bootstrapping seeds (independent of CP migration).

[2020-10-13 08:20] danielfoehrKn commented on #2964
I wonder if this is rather an issue for the AWS provider - or could that be implemented in the Gardener?

Not sure if that should be implemented as a generic possibility to add Annotations to resources in the Shoot - or expose functionality via the `providerConfig` where the provider then adds a webhook.

[2020-10-13 09:04] vlerenc commented on #2181
@timebertt Yes, new functionality should already consider the private cloud profiles/seeds requirements in https://github.com/gardener/gardener/issues/2874. Eventually we will have to turn around our current non-namespaced seeds, which will help @plkokanov and for other tests.

To do the right thing though, it would be best to start first with a GEP as @danielfoehrKn suggested.

[2020-10-13 14:12] #2953 closed, assigned to vpnachev

[2020-10-14 06:53] mvladev commented on #2942
I've updated the issue with additional requirements.

[2020-10-14 06:58] timuthy commented on #2942
Thanks @mvladev.

Can you elaborate what is meant by this requirement?

[2020-10-14 07:00] ialidzhikov commented on #2956
ping @DockToFuture

[2020-10-14 07:00] mvladev commented on #2942
Today it's hard-coded to `istio-ingress` namespace and `istio-ingress-gateway`. It can be different if `ManagedIstio` is not used and there is some custom installation. By default, IGW is installed in the `istio-system` namespace.

[2020-10-14 07:00] ialidzhikov commented on #2932
ping @DockToFuture

[2020-10-14 07:01] wyb1 commented on #2966
The metric names have changed. I will have to update Prometheus to collect these new metrics and update the dashboard
/assign

[2020-10-14 07:01] ialidzhikov commented on #2863
/close

[2020-10-14 07:01] #2863 closed, assigned to nobody

[2020-10-14 09:42] timebertt commented on #2965
/assign

[2020-10-14 10:49] timebertt commented on #2942
@mvladev Thanks for adding the action items, makes perfect sense!
I think it would be good, to first add proper monitoring for this feature gate, before we enable it on an end-user facing environment (or even one Seed of it).

Therefore my question: would you be able to implement those requirements so we can proceed with the graduation and then enable it on end-user facing environments?

[2020-10-14 10:56] mvladev commented on #2942
I'm working on enabling the metrics atm

[2020-10-14 11:45] timebertt commented on #2942
Great, thanks!
/assign @mvladev

[2020-10-14 12:05] hardikdr opened #2976 "Consuming host-attached SSDs for docker-images and/or kubelet"
**How to categorize this issue?**

/area storage
/kind enhancement
/priority normal

**What would you like to be added**:
Many of the large/high-end machines in different cloud-providers come with host-attached SSDs nowadays, one such example is the `X1e` series in AWS, [see](https://aws.amazon.com/ec2/instance-types/x1e/). These SSDs could be as large as 2 TBs, generally free, and consumable.

Cu

[2020-10-14 12:08] hardikdr commented on #2976
cc @vlerenc @danielfoehrKn

[2020-10-14 14:05] timebertt opened #2977 "GAPI panics with "reflect: NumField of non-struct type *v1.LabelSelector""
**How to categorize this issue?**

/area quality
/kind bug
/priority critical

**What happened**:
When applying a `CloudProfile`, `gardener-apiserver` sometimes panics with the following stack trace:
[code]

**What you expected to happen**:
GAPI not to panic.

**How to reproduce it (as minimally and precisely as possible)**:
Not sure yet. This is probably related to the `seedSelector` field in the

[2020-10-14 15:40] dguendisch commented on #2977
cc @dkistner

[2020-10-14 17:10] vlerenc commented on #2976
Opening up here for configuration may be beneficial also for the bare metal and edge use cases where we will have to allow end users to make appropriate use of the given hardware (a lot more than with the current hypervisor provisioned VMs where you get nothing unless you specify it - with only the exception of these high-end and dedicated instance types).

[2020-10-15 05:35] majst01 commented on #2976
Regarding bare metal: We at metal-stack already discussed the possibility to leverage locally attached disks not only for PODs wit our [CSI Driver](https://github.com/metal-stack/csi-driver-lvm), but also for native usage like @hardikdr described. One of the main difficulties is to detect unassigned block devices, format and mount them automatically without any knowledge of the machine setup befor

[2020-10-15 06:42] #2545 closed, assigned to nobody

[2020-10-15 06:42] #2958 closed, assigned to ialidzhikov

[2020-10-15 06:48] timebertt opened #2978 "Add keep-after-project-deletion annotation when adopting namespaces"
**How to categorize this issue?**

/area usability
/kind bug
/priority normal

**What happened**:
In my local setup, gcm cleaned up the `garden` project and also namespace, as I don't have any shoots or other resources in the project.
[code]

**What you expected to happen**:
As the `garden` project is a bit of a special case, I would expect, that it won't be marked as `stale` and deleted by the pr

[2020-10-15 06:49] timebertt commented on #2978
@gardener/gardener-maintainers WDYT? Should we exclude the `garden` project from being touched by the project stale controller?

[2020-10-15 06:56] timebertt opened #2979 "Check vendor folder in `check-generate`"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority normal

**What would you like to be added**:
As we copy all our go dependencies into the `vendor` directory, we rely on a "clean" or "correct" state of the directory when building.
Developers might change source files in the vendor folder or simply forget to run `make revendor` and it might probably not be notice

[2020-10-15 06:57] timuthy commented on #2978
Do you mean because of the "protected" setting for a seed?

I personally don't use a `garden` project for my local setup but rather the files in `/example` where the project is called [dev](https://github.com/gardener/gardener/blob/master/example/05-project-dev.yaml).

[2020-10-15 07:31] timebertt commented on #2978
Not only because of that. But also, because it is bound to the `garden` namespace, where probably also other important system resources are located, e.g. `gardener-apiserver` and it's config.

ATM I don't use the `garden` project either, but I have created it some months ago to test some cases with ShootedSeeds or something similar, but deleted all the resources afterwards (thus, it was marked sta

[2020-10-15 11:00] vpnachev opened #2981 "cloud-config-downloader may stuck and stop applying the OSC original"
**How to categorize this issue?**

/area ops-productivity quality
/kind bug
/priority normal

**What happened**:
A shoot cluster was updated from k8s 1.17.8 to 1.17.11, but not all nodes get the update and are still running on 1.17.8.
All related OSC resources and secrets have been updated with right kubelet OCI image.
Logging on one of affected nodes, shows that the `cloud-config-downloader` serv