[2018-01-12 16:09] gardener-ci commented on #4
**Comment by [vasu1124](https://github.wdf.sap.corp/d023462)**
_Wednesday Jul 19, 2017 at 19:30 GMT_

----

I found some interesting insights on kubeadm here: https://kubernetes.io/docs/admin/kubeadm/ .
e.g. kubeadm v1.7 has a feature to auto-approve new nodes, which can be turned off; see section "Securing your installation even more"

I was wondering if we could enable BYO bare metal system by i

[2018-01-12 16:09] gardener-ci commented on #4
**Comment by [vasu1124](https://github.wdf.sap.corp/d023462)**
_Wednesday Jul 26, 2017 at 10:02 GMT_

----

Test clear containers with kubernetes: https://github.com/01org/cc-oci-runtime/wiki/Clear-Containers-and-Kubernetes

[2018-01-12 16:09] gardener-ci commented on #11
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jul 20, 2017 at 04:34 GMT_

----

Issue blocked because the management is discussing with the IT folks whether they will support Matchbox at all, give us OpenStack Ironic instead, or simply force us on OpenStack, which would make our life easier, but at the same time add significant operational risks because of the maturity of

[2018-01-12 16:09] gardener-ci commented on #12
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Sunday Jul 23, 2017 at 04:13 GMT_

----

Note by @d023280:

We have our very first test case (see commit ff0159b38dc0bead01bb2f7d584927bc04557af1) in the garden-operator and should call it in our integration server/pipeline with `make test`.

[2018-01-12 16:09] gardener-ci commented on #12
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Aug 02, 2017 at 06:12 GMT_

----

Our pipeline should include the following:

On every dev codeline PR/update:
* Formal checks like referenced issue
* Lint checks
* Unit tests (mocking everything outside the unit/module)
* Acceptance tests (mocking everything outside the component/GitHub project)

On every release codeline PR

[2018-01-12 16:10] gardener-ci commented on #12
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Tuesday Sep 05, 2017 at 15:30 GMT_

----

From our workshop in early August:
![20170801_181334](https://git.removed/storage/user/4487/files/b1089e40-925f-11e7-95f2-e1b1448e3daf)
  - Branching
    - Stay with 3 major branches:
      - Devlop->Release->Master
      - see 20170801_181334.jpg
    - Team members from corresponding component

[2018-01-12 16:10] gardener-ci commented on #12
**Comment by [d036774](https://github.wdf.sap.corp/d036774)**
_Tuesday Sep 05, 2017 at 15:47 GMT_

----

@d043832 @d051236 @d065849
I just received this:
„….. some limitation with the usage of the kubernetes-plugin (up to version 0.12)……For now it is only possible to have 5 concurrent connections to Kubernetes cluster”
from the [Jenkins as a Service JAM Group](https://jam.removed/c/jamatsap.com/fe

[2018-01-12 16:10] gardener-ci commented on #12
**Comment by [d036774](https://github.wdf.sap.corp/d036774)**
_Monday Sep 11, 2017 at 14:22 GMT_

----

Results from [Drone](https://drone.io/) evaluation:

- Evaluation stop for now (11.09.2017)
   - Mail from Vedran 11.09.:
[code]
Some more details:
- Drone consists of one main server (docker image) + multiple agents (docker images)
  - Main server runs the UI and integrates e.g. with GitHub
  -

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Wednesday Jul 26, 2017 at 11:32 GMT_

----

The documentation that is available for e2e testing is only valid for local testing scenario (create your own cluster, write code/tests, run & debug them).

What we want is to use the available tests (for a specific k8s release e.g. release-1.6, release-1.7), not modify them and simply run th

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Jul 26, 2017 at 14:58 GMT_

----

That sounds pretty good. Can we integrate this into a (for now) separate Jenkins job (that we will later bring together into/integrate with a CI/CD pipeline)?

One problem will be the Docker part. I have not yet tried to run Docker in Docker, but that's what we will need, right? We have to so

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Thursday Jul 27, 2017 at 08:43 GMT_

----

You can expose the docker socket to your Jenkins container and run docker on the node that's running:
[code]
I'll look at https://github.com/kubernetes/test-infra/tree/master/prow and the whole test infrastructure that k8s runs. I really like the aspect of using github comments on PRs and issu

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jul 27, 2017 at 10:55 GMT_

----

Yes, I mounted the socket, libs, and some more stuff into the Jenkins container to implement the isolation for the Service Fabrik CI/CD, but that was easy as I only ran a single Docker node.

Now we have Kubernetes and a.) it doesn't have to be Docker (could be rkt), b.) we would make no use o

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Sunday Jul 30, 2017 at 17:51 GMT_

----

Here is a a video for more technical details https://youtu.be/VT7111hp8Zg?t=110

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Sunday Jul 30, 2017 at 19:48 GMT_

----

Thanks, looks interesting, a lightweight solution. The thing I am quite unsure about are our requirements. Overall, building a web app (Gardener UI) and a backend component (Garden Operator) is only one small part of the whole thing. We will need jobs for all kind of things and complicated pipel

[2018-01-12 16:10] gardener-ci commented on #13
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Friday Aug 25, 2017 at 04:25 GMT_

----

Added estimate that only refers to the remaining effort. The bulk of the work was already done by Katya and Martin, but we must integrate their work into the CI/CD pipeline.

[2018-01-12 16:10] gardener-ci commented on #16
**Comment by [vasu1124](https://github.wdf.sap.corp/d023462)**
_Monday Nov 13, 2017 at 10:47 GMT_

----

Also related to control plane scalability as well as upgrade:

- [ ] Investigate, if it makes sense to introduce Envoy (without ISTIO overhead) into the routing.
- [ ] https://github.com/heptio/contour could offer ingress (generic across clouds) and version based routing.

(and on the side, we

[2018-01-12 16:10] gardener-ci commented on #19
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Tuesday Aug 08, 2017 at 11:34 GMT_

----

Andreas Herz started to look into the issue, but then joined the Vue.js story instead. Still, he may have some information in case other colleagues are picking up this issue later.

[2018-01-12 16:10] gardener-ci commented on #19
**Comment by [I331134](https://github.wdf.sap.corp/I331134)**
_Wednesday Aug 16, 2017 at 13:43 GMT_

----

I along with prashanth can check on this to see what community is already providing and planning around same.

[2018-01-12 16:10] gardener-ci commented on #19
**Comment by [I331134](https://github.wdf.sap.corp/I331134)**
_Tuesday Aug 29, 2017 at 11:35 GMT_

----

Working doc from community showing possible architectures and roadmap :
https://docs.google.com/document/d/1cs1kqLziG-Ww145yN6vvlKguPbQQ0psrSBnEqpy0pzE/edit#

[2018-01-12 16:10] gardener-ci commented on #19
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Aug 30, 2017 at 03:21 GMT_

----

Thank you for sharing. As discussed on the phone, since it's a push-based system, it will be interesting to see what they will do if the NPD is not calling back/home. I saw plans for a heartbeat for the daemons (though they didn't write what shall happen concretely in the case the daemon fail

[2018-01-12 16:10] gardener-ci commented on #19
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Friday Nov 03, 2017 at 10:47 GMT_

----

The plan is to start integrating the NPD when we have capacity to also join the community in developing a/the remedy controller, maybe supported by the work we do currently around the Node(Set)Controller. At least, this would be a compelling and extremely useful contribution SAP could make to th

[2018-01-12 16:10] gardener-ci commented on #22
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Saturday Aug 19, 2017 at 09:10 GMT_

----

CoreOS created an [core-linux-update-operator](https://github.com/coreos/container-linux-update-operator) for that purpose. I think its worth investigating.

[2018-01-12 16:11] gardener-ci commented on #29
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jul 20, 2017 at 04:44 GMT_

----

Vasu informed us about the following inquiry by Thorsten Herre:

[2018-01-12 16:11] gardener-ci commented on #29
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Thursday Aug 31, 2017 at 15:21 GMT_

----

TODO so far
- [x] RBAC enabled in #89
- [ ] PodSecurityPolicy #47
- [ ] Network Policies #98

Limits and Quotas are Namespace based and I suggest we leave them the Cluster administrators

[2018-01-12 16:11] gardener-ci commented on #30
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Very true, thank you. However, at present I lack the knowledge on how we can secure our cluster. Certainly, privileged containers are a huge problem (a big no-no). In addition, we will need means to limit what a user can mount locally. Some weeks ago we asked us the same question and saw that

[2018-01-12 16:11] gardener-ci commented on #30
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Note by Hardik:

As long as I know , path-specific access restriction with hostPath is not yet implemented in k8s.
Though there is a concept of PodSecurityPolicy(PSP) , which can be used to restrict the set(un-privileged) of users from using the hostPath feature at all.

Have a look:
* https:/

[2018-01-12 16:11] gardener-ci commented on #30
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Thanks Hardik.

[2018-01-12 16:11] gardener-ci commented on #31
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Nov 29, 2017 at 07:38 GMT_

----

Looks like Bosh had the same idea (well, everybody can if they have cattle VMs): http://www.starkandwayne.com/blog/save-85-on-your-cloud-foundry-hosting-bill-with-this-one-simple-trick/amp

[2018-01-12 16:11] gardener-ci commented on #31
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Wednesday Nov 29, 2017 at 14:12 GMT_

----

With our current Shoot specification this cannot be achieved easily (just looking at the types).
The worker specification is too generic, but this feature for spot instances is AWS specific. Making changes to the specification for every similar feature can't scale well in the future.

I would

[2018-01-12 16:11] gardener-ci commented on #31
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Nov 29, 2017 at 14:21 GMT_

----

Right, no argument here. Thank you for the proposal. My intention was primarily to write down the idea. As priorities are right now, it's still not at the top of the list, but it would be a nice feature and could lower the costs significantly for our customers. Actually, it could make us comp

[2018-01-12 16:11] gardener-ci commented on #35
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Thursday Aug 31, 2017 at 10:38 GMT_

----

There is an proposal for allowing exactly the above scenario (reserving cluster resources by cluster-autoscaler) which is planned to be release with Kubernetes v1.8 (according to the [1.8 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXax

[2018-01-12 16:11] gardener-ci commented on #37
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Friday Sep 15, 2017 at 03:58 GMT_

----

@d023280 please see my comment from 5th of September. Do you have an idea where we could show such information?

[2018-01-12 16:11] gardener-ci commented on #37
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Monday Sep 25, 2017 at 08:44 GMT_

----

Work is done in #112. However, because PSP lacks some needed features (ordering/priority) we should postpone this until k8s 1.9

[2018-01-12 16:11] gardener-ci commented on #37
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Monday Sep 25, 2017 at 13:25 GMT_

----

Removed milestone due to Problems with PSP

[2018-01-12 16:12] gardener-ci commented on #45
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Wednesday Oct 25, 2017 at 12:53 GMT_

----

From my tests it will work very good, let's keep it open for a couple of days and see if we can improve it further.

[2018-01-12 16:12] gardener-ci commented on #45
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Wednesday Oct 25, 2017 at 15:03 GMT_

----

- [x] etcd was missing metrics endpoints after refactoring
- [x] kube-state-metrics is not present in Azure

[2018-01-12 16:12] gardener-ci commented on #47
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Nov 15, 2017 at 08:18 GMT_

----

Thank you for the thorough research and proposal. Personally, I like the second variation somewhat better.

This would specifically solve the runtime and feature gate question. Questions like configuring the more specific settings like authentication would be postponed.

When reading this, I

[2018-01-12 16:12] gardener-ci commented on #47
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Wednesday Nov 15, 2017 at 09:59 GMT_

----

Good points, I haven't thought about the OIDC configuration part, but the above model could be easily extended in order to support that as well.
And you're right, when we enable specifying feature gates dynamically, we should solve the cloud config parts first. But I think we already have a

[2018-01-12 16:12] gardener-ci commented on #47
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Wednesday Nov 15, 2017 at 12:45 GMT_

----

I'm also 100% for the second solution.

[2018-01-12 16:12] gardener-ci commented on #47
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Monday Nov 20, 2017 at 14:59 GMT_

----

So we take option #2, but put it on hold until we have solved the cloud-config issue #176.

[2018-01-12 16:12] gardener-ci commented on #47
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Monday Jan 08, 2018 at 09:06 GMT_

----

We will also add `oidcConfig` to the `kubeAPIServer` object in order to allow users to configure an open id connect provider.
Moreover, we will probably not put the feature gates and runtime configs under constraints because controlling leads to too much complexity (some values are not allowed/

[2018-01-12 16:12] gardener-ci commented on #50
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Monday Dec 11, 2017 at 14:07 GMT_

----

With the availability of the `node-controller-manager` we can reduce the node replica count to `0` and disable all control plane alerts temporarily.

[2018-01-12 16:12] gardener-ci commented on #50
**Comment by [d029221](https://github.wdf.sap.corp/d029221)**
_Thursday Jan 11, 2018 at 08:17 GMT_

----

That would be a great feature also for our use case.
Can you say when it will be available?

[2018-01-12 16:12] gardener-ci commented on #50
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Thursday Jan 11, 2018 at 08:31 GMT_

----

Not really, in 2 months maybe.

[2018-01-12 16:12] gardener-ci commented on #51
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Tuesday Jan 09, 2018 at 09:29 GMT_

----

@d038928 Could you please handle this question? Thank you Jürgen.

[2018-01-12 16:12] gardener-ci commented on #51
**Comment by [d038928](https://github.wdf.sap.corp/d038928)**
_Tuesday Jan 09, 2018 at 10:13 GMT_

----

Converged Cloud Infrastructure is the base for several control planes (GMP, VMWare, more than one OpenStack Environments, ...). We are working on enabling Kubernetes cluster in SAP DCs in the context of SAP Cloud Platform which means technically that we rely on OpenStack Industry Edition. At th

[2018-01-12 16:12] gardener-ci commented on #52
**Comment by [d070668](https://github.wdf.sap.corp/d070668)**
_Tuesday Nov 28, 2017 at 15:53 GMT_

----

Sounds fine to me. For Azure, however, there is no useful availability-zone name. Therefore I'd suggest
[code]
for the Azure case.

[2018-01-12 16:12] gardener-ci commented on #53
**Comment by [mvladev](https://github.wdf.sap.corp/i068969)**
_Wednesday Nov 29, 2017 at 12:28 GMT_

----

`ReplicaSet` should only be used by other controllers. You probably meant `Deployment`? I didn't want to add manual persistent volume management (deletion to be specific). So `StatefulSet` felt as the easiest solution.

AlertManager requires for every replica to talk to other replicas. I beli

[2018-01-12 16:12] gardener-ci commented on #53
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Monday Dec 04, 2017 at 06:54 GMT_

----

Hey @i068969, I didn't get the point regarding the PV management/the argument regarding the deletion. When deleting a Shoot cluster, we delete the whole namespace within the Seed cluster. That will recursively delete all objects (and also the AlertManager/Prometheus PVCs).

And what exactly was

[2018-01-12 16:12] gardener-ci commented on #53
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Dec 27, 2017 at 09:39 GMT_

----

Two remarks:
* If a StatefulSet is deleted, it doesn't delete the PVCs, so StatefulSets don't relieve us from taking care of the PVCs/PVs
* However, as pointed out, we delete the namespace and now it's good that PVs are not bound to the namespace (this time at least), because if K8s/we would

[2018-01-12 16:12] gardener-ci commented on #53
**Comment by [vlerenc](https://github.wdf.sap.corp/d043832)**
_Wednesday Dec 27, 2017 at 09:43 GMT_

----

P.S.: I can't find the ticket, but wasn't there a ticket/discussion around the two alert manager instances? If not and we only talked verbally about the subject matter in the context of this ticket, I suggest to switch to one replica like for everything else or motivate why we run two alert m

[2018-01-12 16:12] gardener-ci commented on #53
**Comment by [vasu1124](https://github.wdf.sap.corp/d023462)**
_Wednesday Jan 03, 2018 at 11:21 GMT_

----

a) StatefulSets are required if the internal workload need a sticky identity,
b) StatefulSets have an additional feature, where volumeClaimTemplates can be used to dynamically create PVCs per requested number of replicas (and bind them to ordinal ordered pods),
c) Deployments/ReplicaSets tre

[2018-01-12 16:13] gardener-ci opened #56 "Investigate how to replace Cloud Init by Ignition"
**Issue by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Wednesday Dec 06, 2017 at 14:29 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/253_

----

We are using CoreOS cloud init which has been superseded by [Ignition](https://github.com/coreos/ignition) [1] and is now deprecated.

We should check what needs to be done in order to switch to Ignition. Wh

[2018-01-12 16:13] gardener-ci commented on #58
**Comment by [ccwienk](https://github.wdf.sap.corp/d051236)**
_Monday Jan 08, 2018 at 16:56 GMT_

----

test errors do not seem to be realted to me - retriggering the jenkins did not result in the same (unit test) error..

[2018-01-12 16:13] gardener-ci commented on #59
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Tuesday Jan 09, 2018 at 08:03 GMT_

----

Hi Daniel,
thanks for reporting.
The problem is that the controller manager is not allowed to create load balancers in your GCP project:

[code]

Can you please check whether the service account you provided to the Gardener has the proper permissions, especially `Compute Admin`?

[2018-01-12 16:13] gardener-ci commented on #59
**Comment by [ddegraf](https://github.wdf.sap.corp/D059185)**
_Tuesday Jan 09, 2018 at 08:12 GMT_

----

Hi Raphael,
I've assigned the roles that are mentioned in the secret's help popup:
![bug gcp](https://git.removed/storage/user/503/files/e4b8d78a-f51c-11e7-8b2e-132c811eac8f)
Is there any API I have to activate in the GCP Dashboard? Currently Google Compute Engine API and Google Identity and Ac

[2018-01-12 16:13] gardener-ci commented on #59
**Comment by [D057453](https://github.wdf.sap.corp/D057453)**
_Tuesday Jan 09, 2018 at 14:51 GMT_

----

Hi,
same issue here:

Project:  sap-iot-innovation
Cluster: iotsai

I'm in contact with Sebastian Stauch and Markus Liepold.

best regards,
Santo

[2018-01-12 16:13] gardener-ci commented on #59
**Comment by [docktofuture](https://github.wdf.sap.corp/d068290)**
_Wednesday Jan 10, 2018 at 11:03 GMT_

----

Add a new IAM role with member name kubeoperator@sap-cloud-platform-dev1.iam.gserviceaccount.com in your project and grant it the role "Compute Admin". This should solve the issue, due to missing permissions.
![iam role](https://git.removed/storage/user/27689/files/1d2d3840-f5fe-11e7-90e

[2018-01-12 16:13] gardener-ci commented on #59
**Comment by [ddegraf](https://github.wdf.sap.corp/D059185)**
_Friday Jan 12, 2018 at 13:07 GMT_

----

Adding the member works fine for me. This is just a workaround, right?

[2018-01-12 16:13] gardener-ci commented on #59
**Comment by [rfranzke](https://github.wdf.sap.corp/d065849)**
_Friday Jan 12, 2018 at 15:42 GMT_

----

Yes, hopefully. Markus Liepold and Sebastian Stauch are looking into how to correctly solve the problem.

[2018-01-13 21:10] gardener-robot-ci-1 opened #1 "Backup & Restore"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:43 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/7_

----

# Stories
* As operator I want to restore a broken cluster, so that I can ensure business continuity.

# Motivation
We must ensure that if disaster strikes (human error or hardware failure alike),

[2018-01-13 21:11] gardener-robot-ci-1 opened #2 "Add Prometheus Monitoring"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:43 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/8_

----

# Stories
* As operator I want internal monitoring, so that I can check on my cluster(s).
* As operator I want alerts on issues available in internal monitoring, so that I dont have to check on my

[2018-01-13 21:11] gardener-robot-ci-1 opened #3 "Add Cluster Logging"
# Stories
* As operator I want cluster logging, so that I can check on my cluster(s).

# Motivation
We need means to get to the logs of our own (cluster)s, but we can influence/bend this BLI. The goal is to improve the work of an operator (of the week), not to provide a 100 % solution. Certain logs are much more important than others, e.g. etcd and machine controller logs are kind of critical, API

[2018-01-13 21:11] gardener-robot-ci-1 opened #4 "Multi-Cloud"
# Stories
* As provider I want to provision on AWS, Azure, GCP and OpenStack, so that Kubernetes runs in the Public Hyper-Scale Clouds where our customers already have their footprint.

# Motivation
We shall go where our customers are, i.e. multi-cloud and also our own DCs. We shall offer this in an operator-friendly way with simplified operations.

# Acceptance Criteria
Clusters can be created, o

[2018-01-13 21:11] gardener-robot-ci-1 commented on #4
**Comment by [vasu1124](https://github.com/vasu1124)**
_Wednesday Jul 19, 2017 at 19:30 GMT_

----

I found some interesting insights on kubeadm here: https://kubernetes.io/docs/admin/kubeadm/ .
e.g. kubeadm v1.7 has a feature to auto-approve new nodes, which can be turned off; see section "Securing your installation even more"

I was wondering if we could enable BYO bare metal system by integrati

[2018-01-13 21:11] gardener-robot-ci-1 commented on #4
**Comment by [vasu1124](https://github.com/vasu1124)**
_Wednesday Jul 26, 2017 at 10:02 GMT_

----

Test clear containers with kubernetes: https://github.com/01org/cc-oci-runtime/wiki/Clear-Containers-and-Kubernetes

[2018-01-13 21:11] gardener-robot-ci-1 opened #5 "Cross Integration"

[2018-01-13 21:11] gardener-robot-ci-1 opened #6 "Enable Local Storage"
# Story
* As user I want local storage, so that I get optimal performance for workload depends on it/can cope with it.

# Motivation
Network-attached storage carries only that far, but some applications require local storage (Hadoop). This software, as it must expect hardware failures, usually copes well with/tolerates such failures.

# Acceptance Criteria
- [ ] Local storage (under quota)
- [ ] W

[2018-01-13 21:11] gardener-robot-ci-1 opened #7 "Provision via GKE"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/14_

----

# Stories
* As provider I want to provision Kubernetes via GKE, so that we dont have to provision Kubernetes ourselves on GCP (when SAP or customers need to run it side-by-side) and benefit from a

[2018-01-13 21:11] gardener-robot-ci-1 opened #8 "Investigate GKE"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/15_

----

Check out https://cloud.google.com/container-engine. What would be necessary to do in order to remotely provision/manage/operate/access those clusters (instead of our native ones on that IaaS) and

[2018-01-13 21:11] gardener-robot-ci-1 opened #9 "Provision via ACS"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/16_

----

# Stories
* As provider I want to provision Kubernetes via ACS, so that we dont have to provision Kubernetes ourselves on Azure (when SAP or customers need to run it side-by-side) and benefit from

[2018-01-13 21:11] gardener-robot-ci-1 opened #10 "Investigate ACS"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/17_

----

Check out https://azure.microsoft.com/services/container-service. What would be necessary to do in order to remotely provision/manage/operate/access those clusters (instead of our native ones on t

[2018-01-13 21:11] gardener-robot-ci-1 opened #11 "Shoot Cluster on Bate Metal PoC"

[2018-01-13 21:11] gardener-robot-ci-1 opened #12 "Garden Operator CI"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/24_

----

# Stories
* As contributor I depend on a continuous integration/delivery pipeline, so that I neither waste my time with repetitive tasks nor can I make (fatal) mistakes.

# Motivation
Newly hired

[2018-01-13 21:11] gardener-robot-ci-1 commented on #12
**Comment by [vlerenc](https://github.com/vlerenc)**
_Sunday Jul 23, 2017 at 04:13 GMT_

----

Note by @d023280:

We have our very first test case (see commit ff0159b38dc0bead01bb2f7d584927bc04557af1) in the garden-operator and should call it in our integration server/pipeline with `make test`.

[2018-01-13 21:11] gardener-robot-ci-1 commented on #12
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Aug 02, 2017 at 06:12 GMT_

----

Our pipeline should include the following:

On every dev codeline PR/update:
* Formal checks like referenced issue
* Lint checks
* Unit tests (mocking everything outside the unit/module)
* Acceptance tests (mocking everything outside the component/GitHub project)

On every release codeline PR/update:

[2018-01-13 21:11] gardener-robot-ci-1 commented on #12
**Comment by [vlerenc](https://github.com/vlerenc)**
_Tuesday Sep 05, 2017 at 14:58 GMT_

----

Since Jenkins, more so Jenkins pipelines, and especially the Jenkins Kubernetes Plugin comes with significant limitations and actually breaks the main argument for Jenkins with its ton of plugins and the huge community (only little of that is available in the execution pods), **Dirk will split off and t

[2018-01-13 21:11] gardener-robot-ci-1 commented on #12
**Comment by [vlerenc](https://github.com/vlerenc)**
_Tuesday Sep 05, 2017 at 15:30 GMT_

----

From our workshop in early August:
![20170801_181334](https://git.removed/storage/user/4487/files/b1089e40-925f-11e7-95f2-e1b1448e3daf)
  - Branching
    - Stay with 3 major branches:
      - Devlop->Release->Master
      - see 20170801_181334.jpg
    - Team members from corresponding component can push

[2018-01-13 21:11] gardener-robot-ci-1 commented on #12
**Comment by [d036774](https://github.com/d036774)**
_Tuesday Sep 05, 2017 at 15:47 GMT_

----

@d043832 @d051236 @d065849
I just received this:
„….. some limitation with the usage of the kubernetes-plugin (up to version 0.12)……For now it is only possible to have 5 concurrent connections to Kubernetes cluster”
from the [Jenkins as a Service JAM Group](https://jam.removed/c/jamatsap.com/feed/item/r

[2018-01-13 21:11] gardener-robot-ci-1 commented on #12
**Comment by [d036774](https://github.com/d036774)**
_Monday Sep 11, 2017 at 14:22 GMT_

----

Results from [Drone](https://drone.io/) evaluation:

- Evaluation stop for now (11.09.2017)
   - Mail from Vedran 11.09.:
[code]
Some more details:
- Drone consists of one main server (docker image) + multiple agents (docker images)
  - Main server runs the UI and integrates e.g. with GitHub
  - Upon rec

[2018-01-13 21:11] gardener-robot-ci-1 opened #13 "Compliance and Performance Testing"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/26_

----

# Story
* As provider I want to be sure our shoot clusters are Kubernetes compliant and show a sufficient performance, so that I dont deliver crap to our consumers.

# Motivation
We are still in a

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Jul 26, 2017 at 11:32 GMT_

----

The documentation that is available for e2e testing is only valid for local testing scenario (create your own cluster, write code/tests, run & debug them).

What we want is to use the available tests (for a specific k8s release e.g. release-1.6, release-1.7), not modify them and simply run them.

The

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Jul 26, 2017 at 14:58 GMT_

----

That sounds pretty good. Can we integrate this into a (for now) separate Jenkins job (that we will later bring together into/integrate with a CI/CD pipeline)?

One problem will be the Docker part. I have not yet tried to run Docker in Docker, but that's what we will need, right? We have to solve the p

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [mvladev](https://github.com/mvladev)**
_Thursday Jul 27, 2017 at 08:43 GMT_

----

You can expose the docker socket to your Jenkins container and run docker on the node that's running:
[code]
I'll look at https://github.com/kubernetes/test-infra/tree/master/prow and the whole test infrastructure that k8s runs. I really like the aspect of using github comments on PRs and issues to ins

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jul 27, 2017 at 10:55 GMT_

----

Yes, I mounted the socket, libs, and some more stuff into the Jenkins container to implement the isolation for the Service Fabrik CI/CD, but that was easy as I only ran a single Docker node.

Now we have Kubernetes and a.) it doesn't have to be Docker (could be rkt), b.) we would make no use of the clu

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [vlerenc](https://github.com/vlerenc)**
_Saturday Jul 29, 2017 at 05:58 GMT_

----

Side note: Just stumbled across the guideline for the cluster autoscaler on how to run e2e tests before you make a PR to the cluster autoscaler: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#developer. Once we have implemented our procedure, it would be great to trigger

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [mvladev](https://github.com/mvladev)**
_Sunday Jul 30, 2017 at 17:47 GMT_

----

On Friday I managed to configure and run [Prow](https://github.com/kubernetes/test-infra/tree/master/prow) on my dev cluster. It's looking very promising.

The scenario is the following:
* PR is created
* No automatic test are triggered (PR needs to be reviewed first)
* Once a team member reviews it he c

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [mvladev](https://github.com/mvladev)**
_Sunday Jul 30, 2017 at 17:51 GMT_

----

Here is a a video for more technical details https://youtu.be/VT7111hp8Zg?t=110

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [vlerenc](https://github.com/vlerenc)**
_Sunday Jul 30, 2017 at 19:48 GMT_

----

Thanks, looks interesting, a lightweight solution. The thing I am quite unsure about are our requirements. Overall, building a web app (Gardener UI) and a backend component (Garden Operator) is only one small part of the whole thing. We will need jobs for all kind of things and complicated pipelines, too

[2018-01-13 21:11] gardener-robot-ci-1 commented on #13
**Comment by [vlerenc](https://github.com/vlerenc)**
_Friday Aug 25, 2017 at 04:25 GMT_

----

Added estimate that only refers to the remaining effort. The bulk of the work was already done by Katya and Martin, but we must integrate their work into the CI/CD pipeline.

[2018-01-13 21:11] gardener-robot-ci-1 opened #14 "Automated Cluster Updates"
# Stories
* As user I want the latest version with all security patches and bug fixes, so that my cluster is safe and sound.
* As provider I can update the OS, so that I can deploy important security patches and bug fixes quickly.
* As provider I can update Kubernetes and its components, so that I can deploy important security patches and bug fixes quickly.

# Motivation
See above.

# Acceptance C

[2018-01-13 21:11] gardener-robot-ci-1 opened #15 "Broken Node Detection & Retirement"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/29_

----

# Story
* As operator I want broken nodes to be removed automatically, so that nothing gets scheduled there anymore, the existing workload is drained/moved, the nodes dont count into my budget (in

[2018-01-13 21:11] gardener-robot-ci-1 opened #16 "Shoot Cluster Control Plane Auto-Scaling"
# Story
* As provider I want my shoot cluster control planes to scale automatically (within certain limits), so that my shoot clusters remain operational and respond fast.

# Motivation
Response time behaviour. Avoiding issues like #79. Generally being able to run larger and very large clusters safely (also important for our own shoot'ed seed clusters).

# Acceptance Criteria
- [x] XS (2 nodes), S

[2018-01-13 21:12] gardener-robot-ci-1 opened #17 "ETCD Backup & Restore"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/31_

----

# Story
* As provider I want etcd backups for my shoot clusters, so that I can restore them should they be lost.
* Later: As provider I want etcd backups to be restored automatically should the PV

[2018-01-13 21:12] gardener-robot-ci-1 opened #18 "Garden, Seed & Shoot Cluster Disaster Recovery"
# Story
- As provider I need a plan for disaster recovery, so that I can resurrect lost infrastructure and restore my service.

# Acceptance Criteria
Please find out what we need to do when we completely lose a shoot or even seed or soil cluster:
- [ ] **Total loss and recreation of only the shoot cluster worker environment**: What do we need to do to reconstruct the worker environment if we lose

[2018-01-13 21:12] gardener-robot-ci-1 opened #19 "Investigate Node Problem Detector"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/33_

----

Please check out https://github.com/kubernetes/node-problem-detector. Is it worth anything? If so, how can it be integrated into the seed & shoot cluster approach and alerts be received. Please re

[2018-01-13 21:12] gardener-robot-ci-1 commented on #19
**Comment by [vlerenc](https://github.com/vlerenc)**
_Tuesday Aug 08, 2017 at 11:34 GMT_

----

Andreas Herz started to look into the issue, but then joined the Vue.js story instead. Still, he may have some information in case other colleagues are picking up this issue later.

[2018-01-13 21:12] gardener-robot-ci-1 commented on #19
**Comment by [I331134](https://github.com/I331134)**
_Wednesday Aug 16, 2017 at 13:43 GMT_

----

I along with prashanth can check on this to see what community is already providing and planning around same.

[2018-01-13 21:12] gardener-robot-ci-1 commented on #19
**Comment by [I331134](https://github.com/I331134)**
_Tuesday Aug 29, 2017 at 11:35 GMT_

----

Working doc from community showing possible architectures and roadmap :
https://docs.google.com/document/d/1cs1kqLziG-Ww145yN6vvlKguPbQQ0psrSBnEqpy0pzE/edit#

[2018-01-13 21:12] gardener-robot-ci-1 commented on #19
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Aug 30, 2017 at 03:21 GMT_

----

Thank you for sharing. As discussed on the phone, since it's a push-based system, it will be interesting to see what they will do if the NPD is not calling back/home. I saw plans for a heartbeat for the daemons (though they didn't write what shall happen concretely in the case the daemon fails to call

[2018-01-13 21:12] gardener-robot-ci-1 commented on #19
**Comment by [vlerenc](https://github.com/vlerenc)**
_Friday Nov 03, 2017 at 10:47 GMT_

----

The plan is to start integrating the NPD when we have capacity to also join the community in developing a/the remedy controller, maybe supported by the work we do currently around the Node(Set)Controller. At least, this would be a compelling and extremely useful contribution SAP could make to the overall

[2018-01-13 21:12] gardener-robot-ci-1 opened #20 "Investigate EFK Stack"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:44 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/34_

----

Please check out the EFK Stack (Elasticsearch + fluentd + Kibana; see various blogs, e.g. https://logz.io/blog/kubernetes-log-analysis). Is it what we should use? If so, how can it be integrated i

[2018-01-13 21:12] gardener-robot-ci-1 opened #21 "Resilience & Robustness Hardening Concept"
Check out chaos tools like (ask Juergen Schneider for input):
* https://kubernetes.io/docs/admin/kubelet and the chaos-chance option
* https://github.com/bloomberg/powerfulseal
* https://github.com/asobti/kube-monkey
* https://github.com/Netflix/chaosmonkey
* https://github.com/linki/chaoskube
* https://github.com/openebs/litmus

If so, how can we use #31 and one or more of the tools above for res

[2018-01-13 21:12] gardener-robot-ci-1 opened #22 "CoreOS Container Linux FastPatch Updates"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/37_

----

# Story
* As operator I want OS patches (functional and security) to be deployed as fast and automated as possible and ideally without any significant downtime, so that my cluster remains sound an

[2018-01-13 21:12] gardener-robot-ci-1 commented on #22
**Comment by [mvladev](https://github.com/mvladev)**
_Saturday Aug 19, 2017 at 09:10 GMT_

----

CoreOS created an [core-linux-update-operator](https://github.com/coreos/container-linux-update-operator) for that purpose. I think its worth investigating.

[2018-01-13 21:12] gardener-robot-ci-1 opened #23 "ImagePullPolicy Admission Controller"
# Story
* As operator I want to control which container image I allow (black-/whitelist), so that I can ensure the safety of my Kubernetes cluster.

# Motivation
Security.

# Acceptance Criteria
- [ ] Admission controller that can be switched on or off:
  - [ ] Allow images from certain registries
  - [ ] Allow images with certain signatures

# Implementation Proposal
Implement an image policy web

[2018-01-13 21:12] gardener-robot-ci-1 opened #24 "Enable GPU Usage"
# Story
* As user I want to run GPU-dependent applications, so that I can use libraries such as Theano or Tensorflow on GPUs.

# Motivation
See above.

# Acceptance Criteria
- [x] Users can require nodes with GPUs
- [x] The GPU is actually available to (non-privileged) containers
- [x] CUDA usage for ML is possible
- [x] Theano or Tensorflow can consume available node GPUs

# Open Questions
- [ ]

[2018-01-13 21:12] gardener-robot-ci-1 opened #25 "Kubelet as Pod"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/43_

----

# Acceptance Criteria
- [ ] Bootstrap/deploy the kubelet as pod if possible, so that it can be conveniently updated

(!) Beware if kubelet is run in a docker container: Volume attachment does not

[2018-01-13 21:12] gardener-robot-ci-1 opened #26 "Optimise Cluster VPN"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/44_

----

# Story
* As provider I want to have a fast, reliable and safe cluster VPN, so that I get all these benefits for this crucial component in the seed & shoot approach.

# Motivation
Performance, sim

[2018-01-13 21:12] gardener-robot-ci-1 opened #27 "Investigate ALB Ingress (In Contrast to NGINX Ingress)"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/45_

----

Investigate https://coreos.com/blog/alb-ingress-controller-intro. Is it any good? Can it replace nginx ingress on AWS as the more natural and IaaS-specific solution? What impact on costs will it h

[2018-01-13 21:12] gardener-robot-ci-1 opened #28 "Multi-Tenancy"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/46_

----

# Stories
* As user I dont want others to see or interact with (get logs, kill pod) containers deployed by me, so that nobody can spy on me.
* As user I dont want to accidentally break containers

[2018-01-13 21:12] gardener-robot-ci-1 opened #29 "Investigate Multi-Tenancy"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/47_

----

See [KUBE-23](https://jtrack.removed/browse/KUBE-23) and find out what we truly need in order to implement that epic. Key issues are security (RBAC, security policies, exploits) and isolation (dis

[2018-01-13 21:12] gardener-robot-ci-1 commented on #29
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jul 20, 2017 at 04:44 GMT_

----

Vasu informed us about the following inquiry by Thorsten Herre:

[2018-01-13 21:12] gardener-robot-ci-1 commented on #29
**Comment by [mvladev](https://github.com/mvladev)**
_Thursday Aug 31, 2017 at 15:21 GMT_

----

TODO so far
- [x] RBAC enabled in #89
- [ ] PodSecurityPolicy #47
- [ ] Network Policies #98

Limits and Quotas are Namespace based and I suggest we leave them the Cluster administrators

[2018-01-13 21:12] gardener-robot-ci-1 opened #30 "Pod Container/Local Disk Quota"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/48_

----

# Story
* As operator I want to limit the impact of containers that consume all disk space, so that they dont put the entire node in danger or out of operation.

# Motivation
At present any contai

[2018-01-13 21:12] gardener-robot-ci-1 commented on #30
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Note by Hardik:

On a side note , I believe it should also be ensured that /var/run/docker.sock , does not get exposed to the Pod/Container running over k8s. Otherwise pod can then configure new docker-client pointed to .sock which in turn can mess up with the host machine.

https://www.lvh.io/posts/do

[2018-01-13 21:12] gardener-robot-ci-1 commented on #30
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Very true, thank you. However, at present I lack the knowledge on how we can secure our cluster. Certainly, privileged containers are a huge problem (a big no-no). In addition, we will need means to limit what a user can mount locally. Some weeks ago we asked us the same question and saw that Kubernete

[2018-01-13 21:12] gardener-robot-ci-1 commented on #30
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Note by Hardik:

As long as I know , path-specific access restriction with hostPath is not yet implemented in k8s.
Though there is a concept of PodSecurityPolicy(PSP) , which can be used to restrict the set(un-privileged) of users from using the hostPath feature at all.

Have a look:
* https://github.c

[2018-01-13 21:12] gardener-robot-ci-1 commented on #30
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jul 20, 2017 at 04:59 GMT_

----

Thanks Hardik.

[2018-01-13 21:12] gardener-robot-ci-1 opened #31 "Spot / Low-Priotity / Preemptible VM Support"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/49_

----

# Story
* As operator I want to use AWS spot, Azure Low-Priotity or GCP Preemptible VM instances, so that my landscape runs at lower costs.

# Motivation
Money, sure, but also some form of chaos m

[2018-01-13 21:12] gardener-robot-ci-1 commented on #31
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Nov 29, 2017 at 07:38 GMT_

----

Looks like Bosh had the same idea (well, everybody can if they have cattle VMs): http://www.starkandwayne.com/blog/save-85-on-your-cloud-foundry-hosting-bill-with-this-one-simple-trick/amp

[2018-01-13 21:12] gardener-robot-ci-1 commented on #31
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Nov 29, 2017 at 14:12 GMT_

----

With our current Shoot specification this cannot be achieved easily (just looking at the types).
The worker specification is too generic, but this feature for spot instances is AWS specific. Making changes to the specification for every similar feature can't scale well in the future.

I would suggest

[2018-01-13 21:12] gardener-robot-ci-1 commented on #31
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Nov 29, 2017 at 14:21 GMT_

----

Right, no argument here. Thank you for the proposal. My intention was primarily to write down the idea. As priorities are right now, it's still not at the top of the list, but it would be a nice feature and could lower the costs significantly for our customers. Actually, it could make us competitive e

[2018-01-13 21:12] gardener-robot-ci-1 opened #32 "GPU Support"
# Stories
* As user I want to utilise GPUs if available, so that I can implement GPU-relevant applications like ML.

# Motivation
See above.

# Acceptance Criteria
- [ ] Users can require nodes with GPUs
- [ ] The GPU is actually available to (non-privileged) containers
- [ ] CUDA usage for ML is possible

# Open Questions
- [ ] While CPUs are well compressible, how about GPUs (shader cores)?
- [

[2018-01-13 21:12] gardener-robot-ci-1 opened #33 "Automated Updates"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/53_

----

# Stories
* As user I want the latest version with all security patches and bug fixes, so that my cluster is safe and sound.
* As provider I can update the OS, so that I can deploy important secur

[2018-01-13 21:12] gardener-robot-ci-1 commented on #33
**Comment by [vlerenc](https://github.com/vlerenc)**
_Friday Oct 06, 2017 at 07:58 GMT_

----

Our pipeline should include the following:

On every dev codeline PR/update:
* Formal checks like referenced issue
* Lint checks
* Unit tests (mocking everything outside the unit/module)
* Acceptance tests (mocking everything outside the component/GitHub project)

On every release codeline PR/update:
* D

[2018-01-13 21:12] gardener-robot-ci-1 opened #34 "Robustness and Resilience"
**Issue by [kubernetes-jenkins](https://github.com/kubernetes-jenkins)**
_Wednesday Jul 19, 2017 at 18:45 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/54_

----

# Stories
* As provider I want to ship a robust and resilient system, so that I have less complaints.

# Motivation
The less complaints we get, the more productive our users probably are and the m

[2018-01-13 21:13] gardener-robot-ci-1 opened #35 "Reserve Excess Cluster Capacity"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Tuesday Aug 08, 2017 at 05:59 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/71_

----

# Story
* As user I want to be able to schedule my workload (if of reasonable size) in my shoot cluster in seconds, even if all nodes of the shoot cluster are busy, so that I am more productive.
* As operator I want to b

[2018-01-13 21:13] gardener-robot-ci-1 commented on #35
**Comment by [rfranzke](https://github.com/rfranzke)**
_Thursday Aug 31, 2017 at 10:38 GMT_

----

There is an proposal for allowing exactly the above scenario (reserving cluster resources by cluster-autoscaler) which is planned to be release with Kubernetes v1.8 (according to the [1.8 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns

[2018-01-13 21:13] gardener-robot-ci-1 opened #36 "Improve Prometheus Grafana Dashboards"
# Story
- As operator I want useful Prometheus Grafana dashboards, so that I have best observability for my ops tasks.

# Motivation
As discussed in the internal review, please take some time to finalize the dashboards, so that we have a good starting point/it is clear what purpose the dashboards serve.

# Acceptance Criteria
- [ ] Remove duplicate information (some duplicate information makes sen

[2018-01-13 21:13] gardener-robot-ci-1 opened #37 "Enable PodSecurityPolicy"
**Issue by [mvladev](https://github.com/mvladev)**
_Thursday Aug 31, 2017 at 14:57 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/97_

----

As part of for #47.

Documentation can be found [here]( https://kubernetes.io/docs/concepts/policy/pod-security-policy/). Steps should be:
- [x] Enable `PodSecurityPolicy` admission control for all Shoot clusters
- [ ]

[2018-01-13 21:13] gardener-robot-ci-1 commented on #37
**Comment by [vlerenc](https://github.com/vlerenc)**
_Tuesday Sep 05, 2017 at 09:26 GMT_

----

We should find a way to make transparent to the user which modifications we made on top of a vanilla Kubernetes cluster, e.g. in the creation summary or cluster overview page in the Gardener (with links to kubernetes.io to read up more on the subject, e.g. pod security policies).

[2018-01-13 21:13] gardener-robot-ci-1 commented on #37
**Comment by [vlerenc](https://github.com/vlerenc)**
_Friday Sep 15, 2017 at 03:56 GMT_

----

@i068969 could you please prepare a PR for this?

[2018-01-13 21:13] gardener-robot-ci-1 commented on #37
**Comment by [vlerenc](https://github.com/vlerenc)**
_Friday Sep 15, 2017 at 03:58 GMT_

----

@d023280 please see my comment from 5th of September. Do you have an idea where we could show such information?

[2018-01-13 21:13] gardener-robot-ci-1 commented on #37
**Comment by [mvladev](https://github.com/mvladev)**
_Monday Sep 25, 2017 at 08:44 GMT_

----

Work is done in #112. However, because PSP lacks some needed features (ordering/priority) we should postpone this until k8s 1.9

[2018-01-13 21:13] gardener-robot-ci-1 commented on #37
**Comment by [mvladev](https://github.com/mvladev)**
_Monday Sep 25, 2017 at 13:25 GMT_

----

Removed milestone due to Problems with PSP

[2018-01-13 21:13] gardener-robot-ci-1 opened #38 "Investigate Vault Integration with Kubernetes"
**Issue by [vasu1124](https://github.com/vasu1124)**
_Wednesday Sep 20, 2017 at 12:29 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/110_

----

Vault 0.8.3 now supports Kubernetes integration via the TokenReview API.
https://www.vaultproject.io/docs/auth/kubernetes.html

[2018-01-13 21:13] gardener-robot-ci-1 opened #39 "Workflow Jobs Testing Capacity Shortage on Seed Clusters"
We had to terminate the cluster auto scaler on the seeds because:
* An older Calico version is deployed there and we know that it results in issues after lots of scale-up/down due to bugs that fail to cleanup IP ranges
* It still lacks (was said to be implemented for v1.8 but wasn't) the feature to reserve excess capacity and our seed clusters started breathing with the integration tests, which re

[2018-01-13 21:13] gardener-robot-ci-1 opened #40 "[ci-pipeline ] - early-exit for broken garden-operators"
**Issue by [ccwienk](https://github.com/ccwienk)**
_Thursday Oct 19, 2017 at 13:39 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/150_

----

if garden-operator binary is obviously broken (as in: panics upon simple ./garden-operator --help or similar smoke-test), do not bother to run ci-pipeline
maybe this is already handled by existing unit tests?

[2018-01-13 21:13] gardener-robot-ci-1 opened #41 "Project Member RoleBindings in Seed Clusters"
# Story
- As operator I want access to the shoot cluster namespace within the seed cluster, so that I can do my ops work.

# Motivation
In order to run operations for all clusters within a project, the future operators (we for now) need access to the shoot cluster namespace within the seed cluster for everything in it. At present, access is only possible via the admin credentials.

# Acceptance Cr

[2018-01-13 21:13] gardener-robot-ci-1 opened #42 "Keep Backups after Cluster Deletion"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Tuesday Oct 24, 2017 at 00:24 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/159_

----

At present, all backups are deleted when the cluster is deleted. It would be better to not delete them  right away and instead keep them for some time and let a garbage collector of sorts delete only those older than a

[2018-01-13 21:13] gardener-robot-ci-1 opened #43 "Condense Backups"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Tuesday Oct 24, 2017 at 00:29 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/160_

----

Right now we take only backups for the past 7 days (once a day), but it would be better to have a more flexible backup plan and condense older backups:
* Run backups hourly
* Keep only the last 24 hourly backups and of

[2018-01-13 21:13] gardener-robot-ci-1 opened #44 "Make Backup Status Available"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Tuesday Oct 24, 2017 at 00:35 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/161_

----

Right now, the user (nor operator for that matter) has access to the status (success or failure) of the backups, their full list with date/time (taken, took) or the size. As a first step towards on-demand restore, this

[2018-01-13 21:13] gardener-robot-ci-1 opened #45 "Alert Volume"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Tuesday Oct 24, 2017 at 07:03 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/163_

----

Please investigate the current alert volume (at present far too many for manual inspection). Are we having too many alerts fired or too early? If not, what's wrong with the clusters, what do we need to change, which fea

[2018-01-13 21:13] gardener-robot-ci-1 commented on #45
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Oct 25, 2017 at 01:02 GMT_

----

I'm not yet about the firing too early, but some of the things I'm planning to do is

- [x] If no nodes are available, mute all alerts for shoot elements
- [x] if VPN is down, mute all alerts for shoot elements
- [x] better grouping by alertnames

[2018-01-13 21:13] gardener-robot-ci-1 commented on #45
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Oct 25, 2017 at 12:53 GMT_

----

From my tests it will work very good, let's keep it open for a couple of days and see if we can improve it further.

[2018-01-13 21:13] gardener-robot-ci-1 commented on #45
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Oct 25, 2017 at 15:03 GMT_

----

- [x] etcd was missing metrics endpoints after refactoring
- [x] kube-state-metrics is not present in Azure

[2018-01-13 21:13] gardener-robot-ci-1 opened #46 "Pods/Infrastructure Not Reconciled After Restore"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Tuesday Nov 07, 2017 at 16:06 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/186_

----

We seem to have issues when we restore a backup: Pods/containers that were created after the last backup turn into unmanaged zombies once the backup is restored, i.e. the kubelet doesn't kill them even though it should

[2018-01-13 21:13] gardener-robot-ci-1 opened #47 "Allow to Switch On Alpha/Beta Features"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Monday Nov 13, 2017 at 03:53 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/198_

----

We knew time would come that users want to tweak the control plane (configure authentication, switch on alpha or beta features). Now Frank was the first to request that (`apiVersion: admissionregistration.k8s.io/v1alpha1

[2018-01-13 21:13] gardener-robot-ci-1 commented on #47
**Comment by [rfranzke](https://github.com/rfranzke)**
_Tuesday Nov 14, 2017 at 19:42 GMT_

----

We already got a [second request](https://jam.removed/questions/WmxygrQ8CVIsC1F0i5DjCm) for that.

Alpha APIs are enabled by providing the `--runtime-config` flag to the `kube-apiserver`; official documentation:
[code]

Feature gates are enabled by providing flags to the `kube-apiserver`, `kube-contro

[2018-01-13 21:13] gardener-robot-ci-1 commented on #47
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Nov 15, 2017 at 08:18 GMT_

----

Thank you for the thorough research and proposal. Personally, I like the second variation somewhat better.

This would specifically solve the runtime and feature gate question. Questions like configuring the more specific settings like authentication would be postponed.

When reading this, I am wonder

[2018-01-13 21:13] gardener-robot-ci-1 commented on #47
**Comment by [rfranzke](https://github.com/rfranzke)**
_Wednesday Nov 15, 2017 at 09:59 GMT_

----

Good points, I haven't thought about the OIDC configuration part, but the above model could be easily extended in order to support that as well.
And you're right, when we enable specifying feature gates dynamically, we should solve the cloud config parts first. But I think we already have a solution

[2018-01-13 21:13] gardener-robot-ci-1 commented on #47
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Nov 15, 2017 at 12:45 GMT_

----

I'm also 100% for the second solution.

[2018-01-13 21:13] gardener-robot-ci-1 commented on #47
**Comment by [vlerenc](https://github.com/vlerenc)**
_Monday Nov 20, 2017 at 14:59 GMT_

----

So we take option #2, but put it on hold until we have solved the cloud-config issue #176.

[2018-01-13 21:13] gardener-robot-ci-1 commented on #47
**Comment by [rfranzke](https://github.com/rfranzke)**
_Monday Jan 08, 2018 at 09:06 GMT_

----

We will also add `oidcConfig` to the `kubeAPIServer` object in order to allow users to configure an open id connect provider.
Moreover, we will probably not put the feature gates and runtime configs under constraints because controlling leads to too much complexity (some values are not allowed/do not e

[2018-01-13 21:13] gardener-robot-ci-1 opened #48 "Shoot Cluster Control Plane High-Availability"
# Story
* As provider I want my shoot cluster control planes to be HA (within certain limits), so that my shoot clusters remain operational.

# Motivation
Stability and scalability of our clusters (see also performance tests here https://jam4.sapjam.com/blogs/show/vKBhw5503MHfMQuId0b7t0).

# Acceptance Criteria
- [ ] Find out whether our assumption works out that we don't have to run control plane

[2018-01-13 21:13] gardener-robot-ci-1 opened #49 "Improve Logging / GroupBy Cluster and Operation + Show As Task List"
# Story
- As operator (of the week) I want to access cluster operations logs (create, update/reconcile, delete) in a convenient way, so that I can easily see what the outcome of each operation was without trying to `grep` the information out of the overall/global Gardener logs.

# Motivation
We should improve the way how we interact/access the Gardener/cluster logs. As an operator (of the week) I

[2018-01-13 21:13] gardener-robot-ci-1 opened #50 "Hibernate/Wake-Up Clusters"
# Story
- As user/operator I want to hibernate clusters, so that I can save costs when I don't need the clusters anymore/temporarily.

# Motivation
We have seen that users try to hibernate their clusters to save costs (we were also asked how to do that). That's actually great and we haven't seen this form of responsibility ever elsewhere.

However, users have no means at present to do so in a clea

[2018-01-13 21:13] gardener-robot-ci-1 commented on #50
**Comment by [rfranzke](https://github.com/rfranzke)**
_Monday Dec 11, 2017 at 14:07 GMT_

----

With the availability of the `machine-controller-manager` we can reduce the node replica count to `0` and disable all worker node alerts temporarily.

[2018-01-13 21:13] gardener-robot-ci-1 commented on #50
**Comment by [d029221](https://github.com/d029221)**
_Thursday Jan 11, 2018 at 08:17 GMT_

----

That would be a great feature also for our use case.
Can you say when it will be available?

[2018-01-13 21:13] gardener-robot-ci-1 commented on #50
**Comment by [vlerenc](https://github.com/vlerenc)**
_Thursday Jan 11, 2018 at 08:31 GMT_

----

Not really, in 2 months maybe.

[2018-01-13 21:13] gardener-robot-ci-1 opened #51 "OpenStack Cluster 4 Support"
**Issue by [vlerenc](https://github.com/vlerenc)**
_Thursday Nov 23, 2017 at 13:17 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/224_

----

# Story
* As user I want to deploy shoot clusters on OpenStack Cluster 4, so that I can run my workload in SAP DCs.

# Acceptance Criteria
- [x] User can get a working shoot cluster on OpenStack Cluster 4 in his own te

[2018-01-13 21:14] gardener-robot-ci-1 commented on #51
**Comment by [D067570](https://github.com/D067570)**
_Monday Jan 08, 2018 at 09:33 GMT_

----

I was able to enter my account secrets but can't select them in the "create cluster" dialog.
Any progress/timeline for this feature? We have a high demand for that because we need connectivity to internal systems.

Also naming is a bit confusing. Sometimes it's called Openstack sometimes SAP Cloud Platfo

[2018-01-13 21:14] gardener-robot-ci-1 commented on #51
**Comment by [vlerenc](https://github.com/vlerenc)**
_Tuesday Jan 09, 2018 at 09:29 GMT_

----

@d038928 Could you please handle this question? Thank you Jürgen.

[2018-01-13 21:14] gardener-robot-ci-1 commented on #51
**Comment by [d038928](https://github.com/d038928)**
_Tuesday Jan 09, 2018 at 10:13 GMT_

----

Converged Cloud Infrastructure is the base for several control planes (GMP, VMWare, more than one OpenStack Environments, ...). We are working on enabling Kubernetes cluster in SAP DCs in the context of SAP Cloud Platform which means technically that we rely on OpenStack Industry Edition. At the moment,

[2018-01-13 21:14] gardener-robot-ci-1 opened #52 "Harmonize Worker Names"
By @rfranzke: @AndreasBurger propsed to harmonize the worker names as follows:

`shoot-${shoot_name}-${worker_name}-${worker_az}-${worker_count}`

The length of `${shoot_name}` is restricted by 10 characters.
The length of `${worker_name}` is restricted by 15 characters.
The length of `${worker_az}` is restricted by ~ 25 characters.
The length of `${worker_count}` is restricted by 4 characters.

I

[2018-01-13 21:14] gardener-robot-ci-1 commented on #52
**Comment by [d070668](https://github.com/d070668)**
_Tuesday Nov 28, 2017 at 15:53 GMT_

----

Sounds fine to me. For Azure, however, there is no useful availability-zone name. Therefore I'd suggest
[code]
for the Azure case.

[2018-01-13 21:14] gardener-robot-ci-1 opened #53 "StatefulSets for Prometheus/Alertmanager (Single Instance Only)"
By @afritzler: I just wanted to open the discussion here why we are using stateful sets for the alertmanager and prometheus deployments. IMO we should switch to single pod replicasets. That is what you see out there in the wild when looking for example manifests for prometheus.

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [rfranzke](https://github.com/rfranzke)**
_Wednesday Nov 29, 2017 at 11:27 GMT_

----

@i068969 please shed some light here

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [mvladev](https://github.com/mvladev)**
_Wednesday Nov 29, 2017 at 12:28 GMT_

----

`ReplicaSet` should only be used by other controllers. You probably meant `Deployment`? I didn't want to add manual persistent volume management (deletion to be specific). So `StatefulSet` felt as the easiest solution.

AlertManager requires for every replica to talk to other replicas. I believe only

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [rfranzke](https://github.com/rfranzke)**
_Monday Dec 04, 2017 at 06:54 GMT_

----

Hey @i068969, I didn't get the point regarding the PV management/the argument regarding the deletion. When deleting a Shoot cluster, we delete the whole namespace within the Seed cluster. That will recursively delete all objects (and also the AlertManager/Prometheus PVCs).

And what exactly was the arg

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Dec 27, 2017 at 09:39 GMT_

----

Two remarks:
* If a StatefulSet is deleted, it doesn't delete the PVCs, so StatefulSets don't relieve us from taking care of the PVCs/PVs
* However, as pointed out, we delete the namespace and now it's good that PVs are not bound to the namespace (this time at least), because if K8s/we would accidenta

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Dec 27, 2017 at 09:43 GMT_

----

P.S.: I can't find the ticket, but wasn't there a ticket/discussion around the two alert manager instances? If not and we only talked verbally about the subject matter in the context of this ticket, I suggest to switch to one replica like for everything else or motivate why we run two alert managers?

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [I820491](https://github.com/I820491)**
_Tuesday Jan 02, 2018 at 12:27 GMT_

----

I think the alertmanager discussion was verbally only. IMO we should switch back to deployment + pvc and have the replica set to 1. I haven't found anybody on github who is deploying Prometheus/Alertmanager as StatefulSets. A good baseline are the helm charts for Prom [1].

[1] https://github.com/kubern

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [vlerenc](https://github.com/vlerenc)**
_Wednesday Jan 03, 2018 at 07:28 GMT_

----

Well, not seeing other people doing it this way is an indication, but no strong reasoning. Other people weren't deploying the control plane in the way we do it, but here we are with Gardener.

Anyway, I also don't see arguments by Martin (the one given isn't holding true - deletion of PVCs isn't happe

[2018-01-13 21:14] gardener-robot-ci-1 commented on #53
**Comment by [vasu1124](https://github.com/vasu1124)**
_Wednesday Jan 03, 2018 at 11:21 GMT_

----

a) StatefulSets are required if the internal workload need a sticky identity,
b) StatefulSets have an additional feature, where volumeClaimTemplates can be used to dynamically create PVCs per requested number of replicas (and bind them to ordinal ordered pods),
c) Deployments/ReplicaSets treat volum

[2018-01-13 21:14] gardener-robot-ci-1 opened #54 "Disks of StatefulSets are not Removed Correctly on OpenStack"
**Issue by [I820491](https://github.com/I820491)**
_Monday Dec 04, 2017 at 16:25 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/issues/244_

----

Seems like there is an issue with draining the OpenStack cluster prior to the deletion step.

Here is the controller manager log (recurring):
[code]

The alertmanager disk gets recreated by the scheduler every now and th

[2018-01-13 21:14] gardener-robot-ci-1 opened #55 "Protect Service Accounts Against Deletion/Remedy Deletions"
By @vlerenc: Customers may break their own clusters by deleting service accounts, which were created by the API server. Without an API server restart, these service accounts won't come back, so we either need to monitor them and either recreate them (without duplicating what the API server is doing) or restart the API server when we see somebody tampered with them.

[2018-01-13 21:14] gardener-robot-ci-1 opened #57 "DNS intermittent delay"
By @swapnilgm: It seems like there is issue with kube-DNS. It sometimes takes time to setup DNS entry for services.

Issue was first found with deployment of etcd backing shoot clusters.  Etcd while bootstrapping, tries to find peers in cluster using peer urls. We setup headless service for this peer URL's. But since sometimes, DNS resolution takes extra time, etcd runs through timeout and fails o

[2018-01-13 21:14] gardener-robot-ci-1 opened #58 "re-implement gop-deployment gear for integrationtests"
**Issue by [ccwienk](https://github.com/ccwienk)**
_Monday Jan 08, 2018 at 14:40 GMT_
_Originally opened as https://git.removed/kubernetes-attic/garden-operator/pull/273_

----

Convert the coding deploying garden operator pods for integration tests from
shell script embedded into the Jenkins pipeline definition file (Jenkinsfile)
to a separate python script. Place it into a '.ci' subdirectory acc

[2018-01-13 21:14] gardener-robot-ci-1 commented on #58
**Comment by [ccwienk](https://github.com/ccwienk)**
_Monday Jan 08, 2018 at 16:56 GMT_

----

test errors do not seem to be realted to me - retriggering the jenkins did not result in the same (unit test) error..

[2018-01-13 21:14] gardener-robot-ci-1 opened #59 "[GCP] Cluster creation fails while executing DeployNginxIngressResources"
By @ddegraf: I've tried to create a cluster on Google Cloud Platform. The creation process fails with this error message:
[code]
Project: k8s-pm
Cluster: gcp-test

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [rfranzke](https://github.com/rfranzke)**
_Tuesday Jan 09, 2018 at 08:03 GMT_

----

Hi Daniel,
thanks for reporting.
The problem is that the controller manager is not allowed to create load balancers in your GCP project:

[code]

Can you please check whether the service account you provided to the Gardener has the proper permissions, especially `Compute Admin`?

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [ddegraf](https://github.com/ddegraf)**
_Tuesday Jan 09, 2018 at 08:12 GMT_

----

Hi Raphael,
I've assigned the roles that are mentioned in the secret's help popup:
![bug gcp](https://git.removed/storage/user/503/files/e4b8d78a-f51c-11e7-8b2e-132c811eac8f)
Is there any API I have to activate in the GCP Dashboard? Currently Google Compute Engine API and Google Identity and Access Mana

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [rfranzke](https://github.com/rfranzke)**
_Tuesday Jan 09, 2018 at 08:14 GMT_

----

Okay. Not sure. I will check and come back to once I have investigated further.

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [D057453](https://github.com/D057453)**
_Tuesday Jan 09, 2018 at 14:51 GMT_

----

Hi,
same issue here:

Project:  sap-iot-innovation
Cluster: iotsai

I'm in contact with Sebastian Stauch and Markus Liepold.

best regards,
Santo

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [docktofuture](https://github.com/docktofuture)**
_Wednesday Jan 10, 2018 at 11:03 GMT_

----

Add a new IAM role with member name kubeoperator@sap-cloud-platform-dev1.iam.gserviceaccount.com in your project and grant it the role "Compute Admin". This should solve the issue, due to missing permissions.
![iam role](https://git.removed/storage/user/27689/files/1d2d3840-f5fe-11e7-90e0-1a

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [ddegraf](https://github.com/ddegraf)**
_Friday Jan 12, 2018 at 13:07 GMT_

----

Adding the member works fine for me. This is just a workaround, right?

[2018-01-13 21:14] gardener-robot-ci-1 commented on #59
**Comment by [rfranzke](https://github.com/rfranzke)**
_Friday Jan 12, 2018 at 15:42 GMT_

----

Yes, hopefully. Markus Liepold and Sebastian Stauch are looking into how to correctly solve the problem.

[2018-01-15 06:36] rfranzke commented on #47
Done with larger refactoring.

[2018-01-15 06:36] #47 closed, assigned to nobody

[2018-01-15 15:36] mvladev opened #60 "[GCP] Seed clusters' kubelets can't be scraped by Prometheus"
We directly scrape the `kubelets` for both seed and shoot clusters. On GCE the Token Review API is [disabled](https://github.com/kubernetes/kubernetes/issues/44330#issuecomment-294023219), breaking the kubelet seed scraping.

We have 2 options to mitigate this problem:

- generate a certificate for Prometheus using the CSR API
- use the api-server's proxy capabilities

Both have downsides.

[2018-01-16 12:41] #58 closed, assigned to nobody

[2018-01-16 12:49] rfranzke opened #64 "[GCP] Can we re-enable GCP multi-zone deployments?"
Some time back we have disabled deployments into [multiple availability zones for Google clusters](https://github.com/gardener/gardener/blob/72d4693ab5da13f9512e963bd5e8aa5772738035/pkg/apis/garden/validation/validation.go#L755-L757) because we saw issues with PVCs and volume attachments (kubernetes/issues#50115) in the GCE cloud provider.

Has the issue been resolved so that we can re-enable it a

[2018-01-16 12:50] rfranzke commented on #64
cc @DockToFuture @mliepold

[2018-01-19 08:46] mvladev opened #66 "Allow controller-manager to specify gardener-apiserver connection"
`gardener-controller-manager` only supports 1 kubernetes server (`core`) as configuration.
For local development it should be possible to specify the optional `gardener-apiserver` without the need to register it with `APIService`. This will also allow us to specify `application/vnd.kubernetes.protobuf` for the `core` apiserver

I suggest the following changes:

[code]

If no `GardenerClientConnect

[2018-01-19 09:28] mvladev commented on #66
This more or less what we want to have:

[code]

$GOPATH/github.com/gardener/gardener/dev/kubeconfig :

[code]

[2018-01-26 11:55] freegroup opened #68 "unable to downscale unused nodes"
unused nodes stays forever.

[code]

<img width="633" alt="bildschirmfoto 2018-01-26 um 12 51 35" src="https://user-images.githubusercontent.com/1155039/35438769-24cbe686-0298-11e8-8d1c-95d5159f34d4.png">

[2018-01-26 12:00] rfranzke commented on #68
Hi, thanks for reporting.

This issue has already been fixed: https://github.com/gardener/gardener/blob/master/charts/shoot-addons/charts/cluster-autoscaler/templates/clusterrole.yaml#L33-L44

[2018-01-26 12:00] #68 closed, assigned to nobody

[2018-01-26 16:46] freegroup commented on #68
Hi Rafael,

Is this already deployed and available for new clusters?

[2018-02-05 17:39] vlerenc commented on #43
Remark: These backups would not be used for customer-initiated restore or PiTR (because most likely the infrastructure resources would no longer fit/match and the backup would not be usable anymore without manual processing), but as a safeguard against unnoticed backup corruption. In these cases these backups would be the last hope to extract valuable data and process the data manually to restore

[2018-02-05 17:47] vlerenc commented on #44
This ticket makes no sense anymore after we have learned that there is no infrastructure reconciler, i.e. we could end up with backups that shows infrastructure resources that do no longer exist (e.g. an LB service was deleted after the backup was taken) or vice versa, that lacks infrastructure resources that exist, but the cluster has forgotten about (e.g. an LB service was created after the back

[2018-02-05 17:47] #44 closed, assigned to nobody

[2018-02-06 04:37] vlerenc commented on #46
As discussed with the above finding in November last year, we should invest in incremental/continuous backups, so that we can restore a backup that doesn't deviate from the infrastructure and everything too much (hopefully not at all), otherwise we break the cluster.

[2018-02-06 14:01] freegroup opened #75 "provide "real" user in the kubeconfig.yaml instead of the technical user "admin""
The user can download the `kubeconfig.yaml` in the gardener UI to access the cluster
via the `kubectl` CLI. One problem with the downloaded kubeconfig is that the user inside
is always a generic `admin`user and not the user which has logged in to the Gardener.

[code]

In this case, it is not possible to track changes of deployments via **audit-logging**.
How to get the user which has initiated th

[2018-02-06 16:57] rfranzke commented on #75
Currently, we create only one Kubeconfig whose client certificate is in the `system:masters` group, i.e. has full administrator access.

Kubernetes itself does not manage users but delegates that to an external service (the configured OIDC provider (see https://kubernetes.io/docs/admin/authentication/#users-in-kubernetes)).
In order to establish what you described we would need to configure the OI

[2018-02-09 11:35] vlerenc commented on #43
Moved to https://github.com/gardener/etcd-backup-restore/issues/3.

[2018-02-09 11:35] #43 closed, assigned to nobody

[2018-02-09 21:08] vlerenc opened #79 "Sporadic Downtime of API Server/Controller Manager under App Load Testing"
While preparing an HPA demo and an enablement team demo, we noticed the following problem (independently):

### Setup
Simple app runs in one cluster that uses HPA or is scaled out manually. Load generated by means of a second cluster onto the LB of the app in the first cluster.

### Observation
The scenario sometimes works like it should but sometimes:
* API server sporadically fails to respond (n

[2018-02-09 21:25] #4 closed, assigned to nobody

[2018-02-09 21:26] #5 closed, assigned to nobody

[2018-02-09 21:29] vlerenc commented on #7
Dropped out of scope.

[2018-02-09 21:29] #7 closed, assigned to nobody

[2018-02-09 21:29] vlerenc commented on #9
Dropped out of scope.

[2018-02-09 21:30] vlerenc commented on #34
We reached a point of high robustness and resilience.

[2018-02-09 21:38] #34 closed, assigned to nobody

[2018-02-09 21:38] #9 closed, assigned to nobody

[2018-02-09 22:43] vlerenc commented on #25
We decided against the kubelet in a pod, because of its increasing complexity. We would have preserved a local kubelet still, potentially deviating in version from the one in the pod and that was actually the main use case (to update the kubelet). Now that we can update it via the machine controller and can update its configuration even easier via a seed resource that gets downloaded when changed,

[2018-02-09 22:43] #25 closed, assigned to nobody

[2018-02-09 23:02] vlerenc commented on #22
We won't do them now that we can easily replace entire VMs.

[2018-02-09 23:02] #22 closed, assigned to nobody

[2018-02-09 23:03] #11 closed, assigned to nobody

[2018-02-10 07:15] vlerenc commented on #39
With shoot'ed seed and the machine controller this won't be necessary anymore.

[2018-02-10 07:15] #39 closed, assigned to nobody

[2018-02-10 13:15] vlerenc commented on #35
Moved to https://github.com/gardener/machine-controller-manager/issues/26.

[2018-02-10 13:15] #35 closed, assigned to nobody

[2018-02-10 13:18] vlerenc commented on #31
MOved to https://github.com/gardener/machine-controller-manager/issues/27.

[2018-02-10 13:18] #31 closed, assigned to nobody

[2018-02-11 10:08] vlerenc commented on #1
Moved to https://github.com/gardener/etcd-backup-restore/issues/1.

[2018-02-11 10:08] #1 closed, assigned to nobody

[2018-02-11 10:11] vlerenc commented on #2
Implemented.

[2018-02-11 10:11] #2 closed, assigned to nobody

[2018-02-11 10:11] vlerenc commented on #8
Won't do.

[2018-02-11 10:11] #8 closed, assigned to nobody

[2018-02-11 10:11] vlerenc commented on #10
Won't do.

[2018-02-11 10:11] #10 closed, assigned to nobody

[2018-02-11 10:34] vlerenc commented on #12
Done internally by other subteam for now until we find the time to expose it properly.

[2018-02-11 10:34] #12 closed, assigned to nobody

[2018-02-11 12:22] vlerenc commented on #13
Moved to https://github.wdf.sap.corp/kubernetes/landscape-dev-garden/issues/8.

[2018-02-11 12:22] #13 closed, assigned to nobody

[2018-02-11 12:28] vlerenc commented on #15
Done with https://github.com/gardener/auto-node-repair. New https://github.com/gardener/node-controller-manager will replace the logic.

[2018-02-11 12:28] #15 closed, assigned to nobody

[2018-02-11 12:30] vlerenc commented on #17
Replaced with https://github.com/gardener/etcd-backup-restore/issues/1.

[2018-02-11 12:30] #17 closed, assigned to nobody

[2018-02-11 12:41] vlerenc commented on #19
Moved to https://github.com/gardener/machine-controller-manager/issues/28.

[2018-02-11 12:41] #19 closed, assigned to nobody

[2018-02-11 12:43] vlerenc commented on #20
Merged with https://github.com/gardener/gardener/issues/3.

[2018-02-11 12:43] #20 closed, assigned to nobody

[2018-02-11 12:46] vlerenc commented on #21
Moved to https://github.wdf.sap.corp/kubernetes/landscape-dev-garden/issues/9.

[2018-02-11 12:46] #21 closed, assigned to nobody

[2018-02-11 12:49] vlerenc commented on #26
Moved to https://github.com/gardener/vpn/issues/17.

[2018-02-11 12:49] #26 closed, assigned to nobody

[2018-02-11 12:50] vlerenc commented on #27
With the enlarged multi-cloud support we have today, it seems unlikely we can work on this topic anytime soon.

[2018-02-11 12:50] #27 closed, assigned to nobody

[2018-02-11 12:57] vlerenc commented on #28
No topic for the Gardener.

[2018-02-11 12:57] #28 closed, assigned to nobody

[2018-02-11 13:00] vlerenc commented on #29
No Gardener task anymore.

[2018-02-11 13:00] #29 closed, assigned to nobody

[2018-02-11 13:01] vlerenc commented on #30
https://github.com/gardener/auto-node-repair already takes care of it. https://github.com/gardener/node-controller-manager will replace the functionality.

[2018-02-11 13:01] #30 closed, assigned to nobody

[2018-02-11 13:03] vlerenc commented on #33
Duplicate of https://github.com/gardener/gardener/issues/14.

[2018-02-11 13:03] #33 closed, assigned to nobody

[2018-02-11 13:41] vlerenc commented on #37
Moved internally.

[2018-02-11 13:41] #37 closed, assigned to nobody

[2018-02-11 13:45] vlerenc commented on #38
Unclear scope and purpose.

[2018-02-11 13:45] #38 closed, assigned to nobody

[2018-02-11 13:46] vlerenc commented on #40
Wrong component.

[2018-02-11 13:46] #40 closed, assigned to nobody

[2018-02-11 14:00] vlerenc commented on #42
Moved to https://github.com/gardener/etcd-backup-restore/issues/5.

[2018-02-11 14:00] #42 closed, assigned to nobody

[2018-02-11 14:00] vlerenc commented on #45
Done, needs retesting.

[2018-02-11 14:00] #45 closed, assigned to nobody

[2018-02-11 14:01] vlerenc commented on #46
Replaced with follow-up action https://github.com/gardener/etcd-backup-restore/issues/2.

[2018-02-11 14:01] #46 closed, assigned to nobody

[2018-02-11 14:03] vlerenc commented on #51
Implemented.

[2018-02-11 14:03] #51 closed, assigned to nobody

[2018-02-11 14:07] vlerenc commented on #52
@rfranzke, @dkistner, @AndreasBurger What's the status of this ticket? Still something to do? Proposal still valid? Source is not accessible publicly. Length restriction does not apply anymore.

[2018-02-11 14:10] vlerenc commented on #53
@afritzler, @mvladev, @vasu1124, @rfranzke What's the status of this ticket?

I suggest to keep the stateful sets (we have them anyways for etcd) and don't change that. However, I suggest to scale down the alert manager to one instance as we run everything with one instance.

[2018-02-11 14:12] vlerenc commented on #54
@afritzler As far as I know, this issue was discussed/clarified and we have no issue anymore, right? Please reopen otherwise.

[2018-02-11 14:12] #54 closed, assigned to nobody

[2018-02-11 14:15] vlerenc commented on #59
@mliepold, @DockToFuture, @rfranzke What's the status of this ticket?

[2018-02-11 14:16] vlerenc commented on #60
@DockToFuture, @mliepold What's the status of this ticket?

[2018-02-11 14:19] vlerenc commented on #75
Can't be changed without cluster user management. OIDC configuration will be enabled. In the context of SCP we will offer this. GKE isn't supporting this either.

[2018-02-11 14:19] #75 closed, assigned to nobody

[2018-02-11 14:33] vlerenc commented on #32
Duplicate of https://github.com/gardener/gardener/issues/24.

[2018-02-11 14:33] #32 closed, assigned to nobody

[2018-02-11 14:40] vlerenc commented on #3
Ticket is **on hold** until management has decided whether we may do it ourselves or have to wait for some central service.

[2018-02-11 17:21] vlerenc opened #80 "Rename workers into machines"
With the advent of the machine controller manager and the machine API, we should rename:
- [ ] In the Gardener/in our shoot cluster spec:
  - [ ] `workers` into `machines`
- In the dashboard/in the cluster creation dialog (covered in gardener/dashboard#24):
  - `WORKER` into `MACHINES`
  - `Group Name` into `Pool Name`
  - `cpu-worker` (default) into `cpu-pool`

[2018-02-11 17:57] vlerenc commented on #80
Actually, workers is the better term. Just because we have a machine controller manager, we shouldn't call the worker machines just machines. That controller manager could also provision Kubernetes masters later and the workers of a shoot resource are only Kubernetes workers.

[2018-02-11 17:57] #80 closed, assigned to nobody

[2018-02-12 06:50] rfranzke commented on #59
Fixed with #67

[2018-02-12 06:50] #59 closed, assigned to nobody

[2018-02-12 06:52] rfranzke commented on #53
I am of the same opinion, let's stay with StatefulSets.
Reduction to 1 replica for AlertManager has been done with 5f2815968be90b81f9768f1fdcb51be4fa133cfe.

[2018-02-12 06:52] #53 closed, assigned to nobody

[2018-02-12 06:55] rfranzke commented on #52
With the machine-controller-manager we will get harmony regarding the VM/instance names.
The scheme will look like as follows:

`shoot-<project>-<shoot-name>-<worker-name>-z<zone-nr>`, so for example `shoot-myproject-cluster1-cpu-worker-z1`. For clouds where no availability zones exist (at the moment only Azure) the zone number is simply omitted.

However, for AWS Shoots we still need to use the V

[2018-02-12 06:55] #52 closed, assigned to nobody

[2018-02-12 07:26] vlerenc commented on #53
Thanks!

[2018-02-12 07:28] vlerenc commented on #52
Thanks for the update!

[2018-02-12 10:21] vlerenc opened #81 "Shoot Cluster Quota/Limits"
# Story
- As operator I want my clusters to not exceed certain quotas/limits so that I can control the costs.
- As provider I want to offer free-of-charge trial clusters to interested parties, but with certain quotas/limits so that I can control the costs.

# Motivation
We want to offer trial clusters, but we need quota/limits for those.

Per IaaS account (which we model today, maybe not ideally,

[2018-02-12 10:36] mliepold commented on #81
## Tracking the quota status
Problem:
There is a problem with keeping the quota status in the status sub-resource of the quota.
With the current proposal there is only one quota resource for all projects that use the default quota.
### Proposals
1. Keep the quota states of all projects that use the default quota.
[code]
2. Only keep the status at the quota object for the secret. For the project qu

[2018-02-12 10:37] mliepold commented on #81
## Event handling

### Quota Events:
- Create Quota:  
  1. Verify quota specification. Also check that a correct scope is set.
  2. For quota with scope "secret": Check the existence of referred secret and duplicate definitions (if owner references are used). 
  Note: No status is set at quota creation.
- Update Quota:  
  1. Verify quota specification.
  2. Check: Only metrics and cluster lifeti

[2018-02-12 11:20] mliepold commented on #81
## Abstract
Currently every user or project owner has to bring its own secret(s) to create clusters.
In order to increase adoption of the Gardener, we want to introduce trial clusters.
But for these we need to introduce quotas to be able to limit the amount of created clusters and resources and thus the possible costs for a potential sponsor.

## Requirements
The quotas/limits need to be set for (

[2018-02-12 11:39] mliepold commented on #60
@mvladev Following the linked issue, it seems that the community prefers the 2nd option using the api-servers proxy cababilities. So we will test this option locally to see if it is feasible.

[2018-02-12 12:19] rfranzke commented on #60
@mvladev, do you mean GKE or GCE? Is this relevant at all as we plan to shoot the Seeds itself?

[2018-02-12 12:20] mvladev commented on #60
`GKE`

[2018-02-12 12:21] rfranzke commented on #60
Ok, so answer to second question would be "no"?

[2018-02-12 12:22] mvladev commented on #60
I would go with `api-server` proxy

[2018-02-12 12:34] rfranzke commented on #60
So you say it's still relevant? Why?

[2018-02-12 13:45] vlerenc commented on #14
### What works today
- API server extension only allows for compatible changes, e.g. name, infrastructure and region cannot be changed, but secret reference, Kubernetes version, worker pools, addons can be changed
- Every 10 minutes the Gardener reconciles the shoot resource with the actual cluster by rerunning all (idempotent) operations, i.e. the entire creation flow is executed including Terraf

[2018-02-12 13:53] vlerenc commented on #49
End of 2017 we implemented operation IDs that group all logs for an operation like create, reconcile or delete and report those as events of shoot resources, i.e. we have now the technical means to expose the logs in the dashboard (BLI).

[2018-02-12 13:58] vlerenc commented on #50
We should ask @mvladev how to silence the alerts. We could e.g. use `garden.sapcloud.io/operatedBy` to silence them (poor man's solution) or, as suggest by @rfranzke, scale down the alertmanager to 0 (preferred).

[2018-02-12 14:04] vlerenc commented on #57
The original problem is no longer existing/pressing, because we stopped using the etcd operator and switched to statefulsets. Overall it's anyhow hard to analyse and fix the issue, since kube-dns is a Kubernetes component. We also haven't seen it in other problem scenarios. If you do not agree @swapnilgm, please reopen.

[2018-02-12 14:04] #57 closed, assigned to nobody

[2018-02-12 14:07] vlerenc commented on #66
Already done, right?

[2018-02-12 14:07] #66 closed, assigned to mvladev

[2018-02-12 14:08] rfranzke commented on #66
Done with #69.

[2018-02-12 15:24] vlerenc commented on #81
@mliepold As discussed, let's keep it simple for now and dynamically calculate the used up resources whenever needed. We need this code anyhow (gathering the data) and could start with it at first (and improve it later when we see performance issues with it). That would simplify the first implementation as we wouldn't need to store and read the used up resources, don't have to find a solution for

[2018-02-12 18:54] vlerenc opened #82 "Guard against illegal cloud profile modifications"
As discussed in #14 @rfranzke noted that we should prohibit illegal cloud profile modifications, e.g. dropping a Kubernetes version or machine type while a shoot cluster still uses it. So let's write a small admission controller that prevents that in general (droppings/modifications) or that prevents that only from happening if there are clusters still using it (otherwise allows it).

[2018-02-13 10:31] vlerenc opened #83 "Guard against illegal shoot resource modifications"
As discussed in the context of #14 we should prevent that a shoot resource is modified illegally, e.g. the machine image should not be changed and if, only to the preferred one.

[2018-02-13 10:49] vlerenc opened #84 "Maintenance Time Window"
# Story
- As user I want maintenance to occur only in specified time windows, so that the impact is minimal on my business/development.
- As provider I want cluster maintenance to occur not all at once, so that I don't overload the infrastructures.

# Acceptance Criteria
- [x] Maintenance time window can be defined in the shoot resource
  - [x] Whether or not Kubernetes patch versions should be ap

[2018-02-14 13:36] #82 closed, assigned to rfranzke

[2018-02-14 13:37] rfranzke commented on #82
As @mandelsoft suggested (and that's how it's implemented right now; similar to what we (@vlerenc) discussed about yesterday): Instead of preventing the CloudProfile from removing values in the constraints which are still in use by any Shoot, we should rather adapt the existing ShootValidator admission plugin. With this commit the following behaviour is implemented: When a field `X` in a Shoot man

[2018-02-15 12:38] rfranzke commented on #84
With c6153a88d444f07fc44f017aabecd73299141081 we can define the maintenance settings in the Shoot manifest. It looks like that:

[code]

If it is not provided when creating the Shoot, the Gardener will randomly compute the time window. The default for updating the patch kubernetes versions is `true`.

Next task is to write the machine image inside the Shoot manifest (to be discussed how).
After th

[2018-02-16 14:11] vlerenc opened #86 "Replace Terraform DNS with DNS Provider"
@mandelsoft has shown usage of the [DNS provider](https://github.com/kubernetes-incubator/external-dns) in our sister project [Kubify](https://github.com/gardener/kubify). Can we switch over to it for our DNS entries like the shoot API server? That would reduce the dependency to Terraform further, which we want to eliminate completely eventually (because of the poor error handling and other reason

[2018-02-16 14:14] rfranzke commented on #86
Once the [pull request](https://github.com/kubernetes-incubator/external-dns/pull/455) from @mandelsoft is merged we can do it.

[2018-02-16 15:46] #83 closed, assigned to rfranzke

[2018-02-16 15:51] #50 closed, assigned to rfranzke

[2018-02-19 07:51] afritzler commented on #3
Any idea what this "center service" would look like?

[2018-02-19 11:50] vlerenc commented on #3
Decision is to follow the well established pattern we already went for with the monitoring stack.

[2018-02-19 13:20] rfranzke commented on #60
Not relevant anymore because the Seed clusters are setup on GCE and not GKE.

[2018-02-19 13:56] vlerenc opened #87 "Gardener Canary Update/Melt-Down Protection"
# Stories
* As provider I want to stop a new Gardener roll-out when it detects issues during cluster operations that indicate a problem with the new Gardener version, so that the damage it contained automatically.

# Motivation
See above.

# Acceptance Criteria
- [ ] Run operations such as a cluster update following a Canary process, i.e. first migrate one cluster and validate it, then migrate mor

[2018-02-20 12:45] #14 closed, assigned to rfranzke

[2018-02-20 12:45] #84 closed, assigned to rfranzke

[2018-02-20 12:47] rfranzke commented on #14
Canary updates / auto-halt on issues will be tracked in #87.

[2018-02-21 12:36] marwinski opened #88 "Certificate Rotation"
# Story

As a provider we need to ensure that all certificates that are used in a Kubernetes cluste are valid and  are kept secure.

# Implementation Proposal

One way to ensure the validity of certificates is to update them on every cluster update. This also means that certificates don't need to be valid for an extensive period of time but can expire after a couple of months (requiring frequent c

[2018-02-21 12:50] marwinski opened #89 "Protect Privileged Container from Access"
# Story

As provider of Garden cluster I want the possibility to provide my customers with clusters that do not allow privileged containers. Today certain containers are privileged such as the Calico container where clusters users can log on. This should be prohibited.

# Accptance criteria

[ ] Access to privileged pods in the shoot cluster is not possible anymore

[2018-02-22 14:43] mvladev opened #90 "Use dnsmasq to cache Shoot's DNS in the Seed cluster"
In our setup end-users should be able to use an extension apiserver, `ExternalAdmissionHookConfiguration`, `ValidatingWebhookConfiguration` ...

Imagine the following configuration that the user adds to it's Shoot cluster via `kubectl`:

[code]

This will fail, because the API server is in the Seed cluster and it'll try to do a call against `https://foo.bar` and when trying to resolve `foo.bar` th

[2018-02-22 14:44] mvladev commented on #90
@rfranzke @vlerenc your thoughts for this?

[2018-02-22 17:14] vlerenc commented on #90
That sounds indeed like a severe gap. If that's the case, we should close it, I agree (and would prefer option 1). Thank you for reporting.

On the other hand, I wonder. If that's really the case, we can be lucky that so far the API server has never made a call with the service domain name, but why is it doing it in this case? I mean, so far we had never issues, not with kubectl exec, proxy or por

[2018-02-22 18:23] vasu1124 commented on #90
How does GKE solve it?

[2018-02-22 18:27] vlerenc commented on #90
We don't know - that's part of the hidden GKE control plane.

If that's really the case (as said, I am wondering why the API server so far only in this case does not use the resolved IP, but the service name), Martin's proposal seems very reasonable.

[2018-02-22 19:06] mvladev commented on #90
@vlerenc @vasu1124 I was completely mistaken - all those resources don't use DNS - they use either Services' ClusterIP or a random Endpoint: see [this](https://github.com/kubernetes/kube-aggregator/blob/3d6167b406c70d0fa8dfb3d1b2771c7e4d6dcbbf/pkg/apiserver/resolvers.go#L26-L63) and [this](https://github.com/kubernetes/kube-aggregator/blob/44576ca54d8b80e02a1e7f0c5a89d93d24efff4b/pkg/controllers/s

[2018-02-23 05:11] ghost opened #92 "Issue with Scaling down the nodes"
Using Gardener, I have created a cluster on AWS with 5 worker groups with auto scaling limits set minimum as 5 and maximum as 10.
**Observation1:**  I expect gardener to create a 25 Node Cluster but it created 20 node cluster(no errors from my AWS console regarding the quota limits).
**Observation2:** Using kubectl, I have deleted 19 nodes out of 20 and the nodes got deleted successfully. So when

[2018-02-23 06:12] rfranzke commented on #92
Hi @K7king,

regarding observ. 1: I have checked that all five auto scaling groups were created successfully on AWS and have been configured with the correct desired/minimum/maximum counts. Therefore, I'm very unsure what we/Gardener can do further about the situation? It has fulfilled the "contract" with AWS by successfully creating the resources there. I suggest to contact AWS and ask what's wro

[2018-02-23 06:19] rfranzke commented on #90
There is the `--enable-aggregator-routing` flag which solves the problem: From the help: `Turns on aggregator routing requests to endoints IP rather than cluster IP.` (We [already configure](https://github.com/gardener/gardener/blob/master/charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml#L55) it.)

[2018-02-23 13:36] #90 closed, assigned to nobody

[2018-02-25 09:53] #92 closed, assigned to nobody

[2018-02-27 06:36] vlerenc opened #97 "Expose Gardener Metrics/Dashboard in (our) Kubify Clusters"
While @afritzler has integrated a monitoring stack into https://github.com/gardener/kubify, @dkistner has exposed a metrics endpoint in the Gardener and created a dashboard for it.

How can we bring both together now, via configuration in one of our Kubify-created clusters/landscapes?

[2018-02-27 07:21] afritzler commented on #97
1. Do we need a custom scrape configuration for prometheus?
2. Custom dashboards need to be uploaded manually at the moment into Grafana :( I have this on our todo list to integrate an automatic upload of non standard dashboards. (same is true for non standard prometheus scape config and alerting rules)

[2018-02-27 09:25] dkistner commented on #97
We have introduced a generic scrape job for pods called ''kubernetes-pods-by-annotation'' in Prometheus on kubify clusters. But this job will only scrape pods with proper annotations in the ``kube-system`` namespace [see here](https://github.com/gardener/kubify/blob/master/modules/seed/addons/monitoring/templates/prometheus-config.yaml#L177).

We could also extend the job to watch on other namespa

[2018-02-27 11:37] vlerenc commented on #97
Well, can it be scripted? We have the landscape setup/[`plow` script](https://github.wdf.sap.corp/kubernetes-dev/landscape-dev-garden/blob/master/plow) (for now, but something similar will remain). Then we wouldn't mind "some additional steps" until we find better suited ways.

[2018-02-28 06:42] gabel opened #98 "AWS persistence volume creation for "ReadWriteMany" stays in pending"
When trying to create the following resource it stays in pending and never finishes. There is no volume created in AWS EC2. As soon as I switch back to "ReadWriteOnce" the creation works like a charm.

Infrastructure: AWS
Region: eu-central-1
Server version: 1.8.5

persistencevolumeclaim.yaml
[code]

[2018-02-28 06:52] vlerenc commented on #98
Not quite sure what you try to achieve here (why, where you are coming from) and why you are opening this ticket (this seems to be more a consulting question). AWS is not supporting what you want, which you will find in the official Kubernetes documentation: https://kubernetes.io/docs/concepts/storage/persistent-volumes.

[2018-02-28 06:54] #98 closed, assigned to nobody

[2018-02-28 07:09] dkistner commented on #97
Sure, we could update the configmaps, which contains the configurations for Prometheus and Grafana,  within the script, by appending the dashboard definition and the scrape config.

We have an update mechanism available, which applies the changes on those configmaps automatically to Grafana and Prometheus.

[2018-02-28 07:13] gabel commented on #98
@vlerenc Thanks for the hint. AWS EFS is the way to go.

[2018-02-28 10:27] vlerenc commented on #97
Good, then that's another topic to add to the landscape setup (cc @rfranzke, who is at present keeping track of the open issues for the landscape setup).

[2018-03-03 23:02] vasu1124 commented on #23
How about using OPA?
http://www.openpolicyagent.org/docs/kubernetes-admission-control.html

[2018-03-05 14:15] vlerenc opened #99 "View/Modify Shoot Cluster Spec (Short-Term Mitigation)"
This is a short-term mitigation for #23: Let's change the yaml viewer into an editor and allow the users to directly modify the spec for now.

[2018-03-05 14:19] vlerenc commented on #99
Wrong component.

[2018-03-05 14:19] #99 closed, assigned to nobody

[2018-03-06 06:20] #49 closed, assigned to rfranzke

[2018-03-06 08:48] vlerenc opened #100 "Investigate how to respect PDB (Pod Disruption Budget)"
As discussed, it seems the machine controller manager (reusing the drain logic of `kubectl`) does not respect the pod disruption budget (in contrary to what the official documentation https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node is saying).

A few questions:
- Are we sure we really took all logic from `kubectl`? Maybe we missed the critical bits, because the documentation

[2018-03-06 08:57] vlerenc commented on #100
Wrong component.

[2018-03-06 08:57] #100 closed, assigned to hardikdr, prashanth26

[2018-03-06 15:39] marwinski opened #101 "Community Gardener Setup"
# Story
- As a community developer I want to develop and contribute to project Gardener
- As a community user or operations person I want to deploy and operate my own Gardener

# Motivation
The Gardener source code has been moved to public github already but due the the lack of documentation and procedures it is very hard to set up a Gardener for development or deployment. This is however critical

[2018-03-07 03:36] vlerenc opened #103 "Kubernetes v1.10 Adoption"
Business as usual...

[2018-03-07 03:37] vlerenc opened #104 "Kubernetes v1.10 Update"
Business as usual...

[2018-03-07 07:34] vlerenc opened #105 "Admin Password Reset"
# Story
- As user I want to reset the password, so that I can change it if it leaked.

# Motivation
Users sometimes/accidentally leak their admin password.

# Acceptance Criteria
First we must answer the question whether we like to just reset it or also set it, i.e.
- [ ] User can request admin password regeneration through the shoot cluster resource

or
- [ ] User can set the admin password throu

[2018-03-07 08:18] vlerenc opened #106 "Rolling Update MaxInFlight (per worker pool)"
# Story
- As user I want to define/cap the number of machines that are under parallel update/in parallel drain, so that I can tweak it to my applications/workload.

# Motivation
When we create N new machines, we drain N old machines in parallel. Kubernetes does a great job in respecting the pod disruption budgets, but we will only wait at most 5 minutes for the machine to be drained before termina

[2018-03-11 11:59] mvladev opened #107 "Move Seed controller to the API server"
[APIService](https://github.com/kubernetes/kube-aggregator/tree/5cfc5c4c8c903e1886b9a54678d0837d9cdd9e2f/pkg/controllers/status) as part of `kube-aggregator` has the controller which reconciles its `status` in the `aggregator-apiserver`. Following the same pattern, [seed-controller](https://github.com/gardener/gardener/tree/8446cd54eef1514992757f944850fdc34aa42c83/pkg/controller/seed), should be m

[2018-03-11 12:01] mvladev commented on #55
@vlerenc  which `ServiceAccounts` are you referring to? Every service account created by the `kube-addon-manager` will be recreated automatically.

[2018-03-11 12:38] mvladev commented on #89
@marwinski there are 2 different scenarios: Disable `attach` and `exec` with [DenyEscalatingExec](https://kubernetes.io/docs/admin/admission-controllers/#denyescalatingexec) and [PodSecurityPolicy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/). Are you referring to both of them or a single one?

[2018-03-12 04:41] vlerenc commented on #55
The ones I wrote above: the ones created by the API server implicitly (not by the addon-manager).

[2018-03-12 04:54] vlerenc commented on #89
Why do we have this requirement? It doesn't fit the situation we have today. Can we please close it or can you please formulate the big picture and corresponding epic first? As it stands right now (and for the coming months), there is only (cluster-)admin access and then there is nothing to be restricted. Even if you disable privileged containers in the API server configuration, which we actually

[2018-03-12 04:57] vlerenc commented on #88
This is a massive undertaking, but not yet spec'ed. Also, it states it's a story, which would not be fitting. We speak of many months of work here. If it's a story, it would not meet the formal requirements either (no DoD).

[2018-03-12 05:00] vlerenc commented on #101
The implementation proposal carries parts of the acceptance criteria. The DoD as well and at the same time is not meeting the formal DoD requirements (DoD is no free text, but together with team and program management agreed upon items that must be checked for a story to be closed if we are to avoid additional process overhead).

[2018-03-13 12:04] dkistner commented on #81
Provided PR. As already discussed. Things are not covered so far...
- determination of resources, which are created within the Shoot cluster (PVs, LBs)
- admission for Shoot api-servers, to avoid the creation/increase of resources when Quota is exceeded

[2018-03-13 14:19] burreo opened #109 "GCP prerequisite: Role "service account actor" deprecated"
According to the documentation Service account needs to have the role

Service Account Admin
**Service Account Actor**
Compute Admin

I got to know that the role „Service Account Actor” doen't exist and is deprecated according to https://cloud.google.com/iam/docs/service-accounts
and the role „Service Account User“ should be used.

[2018-03-13 14:28] rfranzke commented on #109
Thanks, that's already fixed in the [latest version of the Gardener dashboard](https://github.com/gardener/dashboard/blob/a178b9bc0690f0e6008b09f1e9e75c79c178056b/frontend/src/dialogs/SecretDialogGcpHelp.vue#L33-L39).

[2018-03-13 14:28] #109 closed, assigned to nobody

[2018-03-15 05:00] vlerenc commented on #97
Closing as duplicate.

[2018-03-15 05:00] #97 closed, assigned to nobody

[2018-03-19 07:00] yagrxu opened #112 "the service should be able to keep deleted cluster for some time."
e.g. AWS will keep the information as "terminated" instances for some time(billing reason) ?
But I could not find the deleted one in our page anymore.

[2018-03-19 11:07] vlerenc commented on #112
And why would you need to? What's your motivation? What do you want to read up afterwards?

[2018-03-20 03:50] vlerenc commented on #81
Thank you @dkistner.

[2018-03-20 05:04] #104 closed, assigned to nobody

[2018-03-20 05:09] vlerenc commented on #112
Ping...

[2018-03-21 03:25] vlerenc commented on #112
Ping... (ticket will be closed next, if no answer is provided)

[2018-03-21 08:01] #112 closed, assigned to nobody

[2018-03-21 14:01] vlerenc commented on #64
Ping... @mliepold @DockToFuture

[2018-03-21 18:35] mliepold commented on #64
The issue has been resolved in 1.9 and was even cherry picked into release 1.7 and 1.8. (see PR https://github.com/kubernetes/kubernetes/pull/52322).
We will test it with the new gardener and activate multi-zone deployment if the test is successful.

[2018-03-27 13:56] #103 closed, assigned to nobody

[2018-03-28 09:26] mliepold commented on #64
Multi-zone deployments for GCP have been enabled again and tested successfully for K8S 1.8.5+ and 1.9.
Pull request: https://github.com/gardener/gardener/pull/115

[2018-03-28 10:09] #64 closed, assigned to mliepold

[2018-04-03 12:22] marwinski opened #117 "Number of pods limited to 110 per node by default"
During network and cluster scalability tests it was noted that there is a 110 pod limit on nodes by default. This might be too low for certain use cases.

There is a detailed discussion here: https://github.com/kubernetes/kubernetes/issues/23349

I would propose to make this configurable through the shoot manifest to up to 254 nodes (the pod network is a class C network) as part of the node config

[2018-04-09 13:15] #81 closed, assigned to dkistner, mliepold

[2018-04-09 13:36] ghost opened #122 "hyperkube goes down when we stress node's with workloads beyond the node's default capacity"
How to Reproduce:
create a gardener shoot cluster with one AWS autoscaling worker group with min as one and max as 10.
Run the clusterloader from perf tests repo with step size as 10 and pods as 1500
so initially only one node will be up and as the clusterloader framework runs AWS autoscaling tries to add nodes when workloads goes beyond the existing nodes capacity.
At the moment, where in one sid

[2018-04-09 13:49] rfranzke commented on #122
Duplicate of #79?

[2018-04-11 09:21] #60 closed, assigned to mvladev

[2018-04-11 12:20] #122 closed, assigned to nobody

[2018-04-16 04:09] vlerenc opened #129 "Delete failed"
I created a couple of clusters for testing and deleted them. I did not use the programmatic interface and I did not fiddle around with the IaaS resources or opened the console, but I got this error (`canary`: `core`/`vlerencaw9`):

[code]

[2018-04-16 06:05] rfranzke commented on #129
Hm, that's the same issue which we saw occasionally in the past. The kube controller manager cannot delete load balancers or security groups from AWS (more often security groups). Generally, it deletes the load balancers first and the corresponding security groups second. However, AWS takes a while to detach the network interface from the load balancer and blocks the deletion of the security group

[2018-04-16 13:24] vlerenc opened #130 "Terminate old instance faster than 30 min"
When we redeploy and the current instance is busy with an operation (e.g. machine deployment might take up to 30 minutes), the old gardener stops watching and the new one doesn't start until it can acquire leadership, i.e. for that time no gardener is actively processing new requests/operations/clusters.

[2018-04-16 13:39] vlerenc opened #131 "Disable cluster autoscaler in spec (temporarily until we have one again)"
As long as we have no cluster autoscaler supporting our machine controller, we should not mislead the users and make clear we have none.

[2018-04-16 13:41] vlerenc commented on #129
Let's wait for the smoke tests. If they fail, we should do something. The only thing we can do is to delete the security groups automatically and not wait on the controller manager to (not) do it.

[2018-04-16 14:57] rfranzke commented on #131
We decided to wait and sync with @hardikdr and @prashanth26 about when the integration of cluster-autoscaler will come. If it takes too long and we still want to not confuse the users we should rather change the dashboard (cc @grolu @holgerkoser @petersutter) by only allowing to enter a fixed number of worker nodes per pool (the dashboard should write the provided to number both `autoScalerMin` an

[2018-04-16 16:12] #130 closed, assigned to nobody

[2018-04-17 08:54] rfranzke commented on #129
FYI: I've prepared an implementation that deletes the ELB security groups. Thus, just in case we need it, we can quickly have it.

[2018-04-17 14:27] mvladev commented on #117
The Kubernetes SLAs only support 100 pods / node: https://kubernetes.io/docs/admin/cluster-large/
There are lots of factors that can limit performance - docker version, noisy neighbors, kubelet overhead ...

[2018-04-19 12:40] holgpar opened #139 "AWS security groups too open?"
We have to ensure that our AWS account, in which we run Gardener Clusters, is in compliance with the corporate security procedure [1].

When checking [1.40.01 Ensure no security group allows unfiltered access from the Internet to administrative remote console services]  I came across Gardener specific security groups ("Security group for nodes",  "Security group for bastion") which  open port 22 t

[2018-04-19 12:56] holgpar commented on #139
Will try with mailing list.

[2018-04-19 12:56] #139 closed, assigned to nobody

[2018-04-23 10:21] swapnilgm commented on #24
Reference for future investigation: https://kubernetes.io/docs/concepts/cluster-administration/device-plugins/

[2018-04-24 09:24] rfranzke commented on #86
Just had a quick discussion with @mandelsoft as it looks like his PR is going to be merged soon.

We would have to deploy one `external-dns` centrally in all seeds (which would manage the (internal) DNS records for the `kube-apiserver`s of all shoots with our credentials/hosted zone), and we would have to deploy another `external-dns` next to each control plane (which would manage the ingress DNS

[2018-04-24 10:27] vlerenc commented on #86
Hmm... not sure whether multiple annotations would work at the API service LB service (https://github.com/kubernetes-incubator/external-dns/blob/master/docs/faq.md#how-do-i-specify-dns-name-for-my-kubernetes-objects), but no, we don't have to implement it. We all thought it may be a good idea to get rid of TF stuff. If we believe, it's not worth the effort, we don't do it.

[2018-04-24 10:40] rfranzke commented on #86
Well, the way it works fits into how Gardener does things, but I'm afraid we have to enhance it here and there to make it usable for us (e.g., the multiple DNS name thing if that's not yet possible). Somebody (probably @mandelsoft) would have to take this. We would have to bring in our changes upstream (we don't want forks, however, it's quite slow as @mandelsoft's initial PR is still not merged).

[2018-04-26 05:48] nikhilagrawal577 opened #144 "During Reconcile , kubectl is not working, API is unavailable."
During Reconcile of cluster, Kubectl is not working.
API server is also unavailable
As a result, we are not able to use the cluster.
Reconcile is happening again and again.
IAAS : Openstack

[2018-04-26 05:58] rfranzke commented on #144
Thanks for reporting! We are aware and have already fixed the issue, releasing a new version today. Sorry for the inconveniences.

[2018-04-26 06:39] rfranzke commented on #144
Closing due to [release 0.3.2](https://github.com/gardener/gardener/releases/tag/0.3.2).

[2018-04-26 06:39] #144 closed, assigned to rfranzke

[2018-04-26 11:01] nikhilagrawal577 opened #145 "Auto Scaling is not working"
With known fact of the number pods limited to 110 per node.We wanted also to check on the Auto Scaling aspects of Gardener.
Gardener should create up new nodes in the cluster when no of pods per node reaches the limit

**Cluster Characteristics** :
[code]
Upto 31 nodes, auto scaling was working properly.
Beyond 31 nodes, means there were around 3300 pods, Auto scaling of nodes didn’t happen after

[2018-04-26 11:05] rfranzke commented on #145
We are currently in the process of integrating the cluster autoscaler. It is not explicitly disabled or mentioned in the Gardener dashboard as it will come shortly, and we already want to enable users to configure the proper settings.
We will (re)use the [Kubernetes cluster autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) and the actual logic of how it's decided

[2018-04-26 11:05] #145 closed, assigned to nobody

[2018-04-26 11:22] nikhilagrawal577 opened #146 "Kube-proxy and Kube-dns were down during a scalability test"
While doing a scalability test in Gardener, we checked  Gardener dashboard.
Kube-dns was down.
Kube-proxy was down.

![image](https://user-images.githubusercontent.com/5903934/39302447-41904cac-4970-11e8-8a9c-5082fd42a044.png)

We are not sure why it is down in the cluster.

[2018-04-26 11:27] rfranzke commented on #146
Without further details this will be hard to analyze. Generally, whenever a new machine is spinned up a few system components (like kube-proxy) need to start. When the health check of Gardener is performed in the same moment it will show the message you attached. Hence, I wouldn't be too nervous about that in case you have more detailed information about what exactly and how long it went wrong/did

[2018-04-27 08:19] nikhilagrawal577 commented on #146
No, we already had enough number of nodes/resources. It didn't spin up any node.
You can reproduce the problem by creating 35-36 nodes with around 3k pods

[2018-04-27 08:21] rfranzke commented on #146
Can you please provide further details? Otherwise, we won't be able to do anything. Logs of the components which don't come up would be helpful.

[2018-04-27 09:05] nikhilagrawal577 commented on #146
Due to maintenance cost, we deleted the cluster.
We will be triggering the test again. Will check if we can face the same issue again.

[2018-05-02 11:03] vlerenc opened #154 "Publish Ingress LB Address"
The nginx-ingress controller doesn't report the LB IP anymore with v0.12.0 https://github.com/kubernetes/ingress-nginx/releases/tag/nginx-0.12.0. Should we set `--publish-status-address` to get the IP back. Vora was expecting it/checking it, just to see whether everything worked out.

[2018-05-02 11:04] vlerenc opened #155 "Deploy Kubernetes Dashboard as Ingress"
We were approached twice to deploy the Kubernetes Dashboard as ingress. Should we consider it and what are the pros and cons?

[2018-05-02 12:02] vlerenc commented on #146
Valuable feedback, thank you! First I thought, this could be a duplicate of #79, but let's keep it open in case both are two facets of the same "general problem" that our clusters don't scale well enough. The danger that makes this more pressing is that we run seeds as shoots now.

However, the finding is kind of surprising. The proxy scales automatically, because it's a daemon set, so maybe this

[2018-05-03 12:47] vlerenc opened #156 "Prometheus Ingress Resource on Wrong Port"
The Prometheus ingress resource uses port 8080, but should use port 80 instead (regression introduced after refactoring as it seems).

[2018-05-03 13:00] vlerenc opened #158 "No Monitoring Data"
Gardener v0.3.3 shows no monitoring data whatsoever in Grafana, but seems to have data in Prometheus. I checked a seed (Canary AWS) and a shoot (Core vlerenc). Both report nothing, which seems to be related to wrong dashboard definitions (thanks to Plamen for pointing it out), still pointing to 8080 (related to #156). Maybe there are more places than ingress and dashboards where the port was forgo

[2018-05-03 19:03] #156 closed, assigned to nobody

[2018-05-05 06:03] vlerenc opened #159 "MTU Optimization"
Marc reported issues with MTU that we should tweak to improve performance. Do you agree/can we do that?

[2018-05-05 06:05] vlerenc opened #160 "Calico IPIP Optimization"
Marc reported issues with IPIP that we should tweak to improve performance (specifically using IP-in-IP only cross-subnet, not generally, see Calico documentation https://docs.projectcalico.org/v2.2/usage/configuration/ip-in-ip). Do you agree/can we do that?

[2018-05-08 14:35] vlerenc opened #163 "Dedicated queue and worker pool for seeds created as shoots"
We ought to give seeds precedence over shoots to roll out critical changes asap and not compete with shoots.

[2018-05-08 14:36] vlerenc commented on #163
Fixed by 59ce3409b2cf595e79842f49ab610dfa96fcf6f0.

[2018-05-08 14:44] vlerenc opened #164 "Use character not allowed in project and cluster name to split off both in namespace"
We must avoid namespace clashes, which can occur at present, e.g. when:
* someone creates project aaa and cluster bbb-ccc
* someone else creates project aaa-bbb and cluster ccc
This would result in the same namespace name and problems in creation/with the reconciler that would be confused.

We applied a bandaid in the dashboard for now, forbidding dashes for cluster names, the current split-off ch

[2018-05-09 02:07] #158 closed, assigned to nobody

[2018-05-09 09:06] vlerenc commented on #155
Other providers also use the proxy path, going for ingress would make the ingress controller mandatory and open new questions about authentication (which is most likely also the reason for others, not only us, to not go this path in their service offering).

[2018-05-09 09:06] #155 closed, assigned to nobody

[2018-05-09 11:58] #163 closed, assigned to rfranzke

[2018-05-09 12:05] rfranzke commented on #154
I don't get it.. can you please explain what exactly you mean?
Where should the ingress-controller report the IP?

The `.status` object of an `Ingress` resource does still contain it, e.g.:

[code]

[2018-05-09 12:42] vlerenc commented on #154
That is indeed strange. I'll try it again.

Vora reported the issue initially and indeed, I saw no ip anymore in the status in my own cluster. Exactly the spot you just showed has an ip.

Let's me check, whether I can still reproduce the issue and if not, we can close the ticket.

[2018-05-09 12:47] vlerenc commented on #154
Just checked the monocular ingress in my shoot cluster canary/core/vlerenc:
[code]

It has no IP, but should have one, right?

[2018-05-09 13:06] rfranzke commented on #154
Hm, ok, I see. However, per `--publish-status-address` you can define a custom address that is propagated to the ingress status. As per https://github.com/kubernetes/ingress-nginx/blob/1df421ac0cb3dc66231e81d80c90784b41a45be9/cmd/nginx/flags.go#L90-L91 it propagates the actual address per default. Maybe there's a bug?

[2018-05-09 13:29] vlerenc commented on #154
Maybe, I was not sure what the switch did, "it just looked fitting". Sorry.

[2018-05-09 13:47] rfranzke commented on #154
Just started the nginx-ingress-controller with the latest versions (0.14.0) and `--update-status=true`, but it didn't have any effect.

[2018-05-11 06:47] rfranzke opened #167 "Frequent VPN issues reported but cannot be confirmed"
We see alerts every couple of hours indicating a broken VPN connection in the prometheus-0 pod:

[code]

The log of the vpn-seed sidecar indicates no problem with VPN:

[code]

Interestingly, we also see `NoWorkerNodes` alerts but no problems in the VPN sidecar of the API server itself and no other issues:

[code]

Besides, `NoWorkerNodes` seems to be the wrong name anyhow (the seed had continuous

[2018-05-11 13:28] rfranzke commented on #164
Namespaces in Kubernetes must respect the regex `[a-z0-9]([-a-z0-9]*[a-z0-9])?`. Hence, we decided to use `shoot--<project>--<name>` in the future.

[2018-05-13 14:56] vlerenc opened #169 "Name Landscape and Infrastructure in Alert"
Can we please show the landscape name and the infrastructure kind in the alert, so that we can quickly see where we were hit and whether we were hit by an infrastructure outage like in the past days.

[2018-05-13 15:01] vlerenc commented on #167
@rfranzke Weren't these the live alerts? If so, the question that remains is `NoWorkerNodes`, why it's called this way and why we see it, because the seeds certainly never have had "no worker nodes".

[2018-05-13 19:02] rfranzke commented on #167
Right, it were live alerts. I assume this check is done via the VPN connection which was not working at some points.
I assume we can close the issue; once we deployed the new VPN solution we never saw the alert again.

[2018-05-14 02:49] vlerenc opened #170 "NoWorkerNodes"
When the VPN fails, we see alerts of the `VPNConnectionDown` variety, which is to be expected, but we also see `NoWorkerNodes` alerts:

[code]

Why does it correlate and is the name right? We are pretty certain, that the seed (in this example) never had no worker nodes running. Whenever we looked, they were there and if an seed would fail, this would have been detected by many people. Something se

[2018-05-14 02:50] vlerenc commented on #167
Closed. Opened #170 to track connection with VPN and alert name.

[2018-05-14 02:50] #167 closed, assigned to mvladev, vlpanov

[2018-05-14 10:47] swapnilgm commented on #164
@rfranzke Won't it create same issue,  that project/shoot name should follow regex which don't allow "--"? Won't that be again another bandaid? Are we planning to have this check may be in admission controller or validation?
Instead isn't it better to again use UID as prefix/suffix. Since we will have it (UID) available by the time we create namespace. (UID are supposed to be that way).  Something

[2018-05-14 11:11] rfranzke commented on #164
Hm, good point. @vlerenc Thoughts?

[2018-05-15 03:15] vlerenc commented on #164
Well, `--` will indeed be forbidden, but it can be forbidden in the Gardener directly. `-` can't be forbidden, because its already used by our seed clusters and we can't migrate that easily as of now without the ability to move control planes.

So the plan is to:
- [x] forbid `--` in the Gardener for cluster names
- [x] keep the existing namespaces, but create them with new pattern for new cluster

[2018-05-15 14:55] vlerenc commented on #24
@afritzler provided a solution in https://github.com/afritzler/gpu-installer. He tested it with an AWS shoot cluster with p2 nodes and Tensorflow GPU usage.

[2018-05-15 15:01] vlerenc commented on #24
We could integrate it into the Gardener as new addon and bind the daemon sets to worker pools with GPUs (we know that from the cloud profiles that list the number of GPUs; prerequisite: we transport that information into labels; @rfranzke and @dkistner). Or we do nothing and describe it only in the [HowTos/FAQ](https://github.wdf.sap.corp/pages/kubernetes/gardener/howtos) (@freegroup).

[2018-05-16 09:12] vlerenc opened #172 "Seed Cluster Monitoring Data Missing"
Some monitoring dashboards lack information (also reported in regards to raw data/etrics by the performance team, Kesavan S):
<img width="1379" alt="screen shot 2018-05-16 at 11 08 33" src="https://user-images.githubusercontent.com/4974203/40107904-d9cb26fc-58f9-11e8-9a2c-3305251b42c0.png">

Or:
<img width="1399" alt="screen shot 2018-05-16 at 11 08 09" src="https://user-images.githubusercontent.c

[2018-05-16 13:14] rfranzke commented on #117
Let's either close this or refine the description. We won't change that limit without that we've tried that out and got more experience with very large clusters (that might require > 110 pods per nodes). As @mvladev pointed out, the fact that K8S doesn't support that officially is a strong indicator not to do it.

[2018-05-16 13:17] #117 closed, assigned to nobody

[2018-05-16 13:28] rfranzke commented on #107
It is possible to create Shoots also without running the gardener-controller-manager by specifying a value in the Shoot's `.spec.cloud.seed` field. Only when it's not specified the "SeedManager" admission controller in the gardener-apiserver will try to find a Seed and only considering those whose status indicates availability.

The seed controller does not only update the status but also bootstra

[2018-05-16 13:28] #107 closed, assigned to nobody

[2018-05-16 13:57] rfranzke commented on #164
Let's not migrate the namespaces (too difficult), as the `shoot-<project>-<name>` is also the ID of all infrastructure resources.
Let's rather create new clusters with the new scheme, ok?

[2018-05-16 14:01] vlerenc commented on #164
And have exceptions throughout the code? Well, if we have to, then so be it, but that's the proverbial technical debt. Sooner or later however, we may have to migrate for this or another reason.

[2018-05-16 14:04] rfranzke commented on #164
No exceptions, we'll put the ID (`shoot-<project>-<name>`) in the Shoot status and use it from there.
I doubt that we can migrate all the infrastructure resources without downtime/issues. In AWS the names are often just tags, however, in GCP the names are often the technical IDs of the resources.

[2018-05-16 14:12] vlerenc commented on #164
As said, sooner or later we will have to do something painful... we'll have to accept that eventually. Just saying. ;-)

But I agree, it would be waste to do it for this tiny ugly problem. Not worth it.

[2018-05-17 13:29] vlerenc commented on #170
Why would we silence all other alerts? And when looking into it, we didn't see VPN failing. You can't be serious to "just silence everything now"?

[2018-05-17 20:17] #170 closed, assigned to mvladev

[2018-05-18 01:49] vlerenc opened #174 "Garden Resource Lists Not Aligned"
When listing resources of a kind, e.g. shoots by calling `kubectl get shoots --all-namespaces`, the output is not aligned. Can this be improved? It would increase readability.

[2018-05-18 02:49] swapnilgm commented on #174
This was [bug](https://github.com/kubernetes/kubernetes/issues/56282) with `CustomColumnPrinter` in kubernetes.

[2018-05-18 02:51] vlerenc commented on #174
Oh, wow, it got fixed just lately. Who would think. Thanks for pointing out!

[2018-05-18 02:51] #174 closed, assigned to nobody

[2018-05-18 04:05] vlerenc commented on #79
We have seen that the resources alloted to the control plane are insufficient and things start failing.

[2018-05-18 12:09] #164 closed, assigned to nobody

[2018-05-18 14:34] marwinski opened #178 "Reduce Instance Profile Permissions for AWS Shoot Clusters"
# Story
- As user/provider I want to grant the worker nodes as few permissions as possible, so that the attack surface is as minimal as possible (against active hacking, but also accidental exposure).

# Motivation

- Security
- A cluster administrator user (which we provide by default) can access the cloud provider with the cloud profile user. The permissions can be found [here](https://github.co

[2018-05-18 20:22] vlerenc commented on #178
I don't understand. We narrowed that down (@rfranzke) and you checked it, so what is this about? Doing it again or have you found a problem? If so, which permission? The "implementation proposals" don't add up.

[2018-05-20 12:15] luisdavim opened #180 "Use AKS or EKS for the gardener cluster."
Hi,
Is it possible to use a managed kubernetes cluster for the (top level) gardener cluster?

[2018-05-20 20:06] vlerenc commented on #180
Depends on... the native service. The Gardener itself might run on any Kubernetes cluster that passes the conformance tests, I guess. The Dashboard, in its standard configuration, depends on OpenID Connect to be configured at the API server.

We have [Kubify](https://github.com/gardener/kubify) (Terraform-based bring-up on different infrastructures), too.

[2018-05-20 20:06] #180 closed, assigned to nobody

[2018-05-20 20:15] luisdavim commented on #180
thanks for the answer @vlerenc

[2018-05-23 06:42] mvladev commented on #172
The seed cluster's Prometheus is the problem. It is ingesting too many time-series (many containers / pods being created). I've reduced the retention period even further with #182 , but there are some problems in the 2.2.x release.

[2018-05-23 12:43] amshuman-kr opened #184 "Rapid changes to shoot yaml take a long time to get reconciled"
Pre-condition:

The cluster was healthy at 100 nodes.
Steps:

1. Try scaling the cluster from 100 to 150. This froze the machinedeployment because the AWS quota limits were exceeded.

1. Try to scale it down to 130. This froze the machinedeployment again because the AWS quota limits were still exceeded.

1. Try to scale it down to 100 which was within the quota limits.

Observed behaviour:

-The s

[2018-05-23 12:46] amshuman-kr commented on #184
This is an enhancement/productivity issue. But I am not able add the labels.

[2018-05-23 12:48] rfranzke commented on #184
Yeah, this is basically because we have a maximum wait time of 30 minutes for all machines to become ready.
So far, there is no way for the Gardener to identify that it will never succeed. https://github.com/gardener/machine-controller-manager/pull/89 will help with this, but what do you suggest to do? Gardener can only abort and restart a new reconciliation flow if the created `MachineDeployment`

[2018-05-23 12:53] amshuman-kr commented on #184
Agreed. This can be only addressed after MachineDeployment starts conveying the required information.

I just recorded it here. We can either close and re-open this after [PR#89](https://github.com/gardener/machine-controller-manager/pull/89) is merged or keep it open.

[2018-05-23 12:54] rfranzke commented on #184
Sure, let's keep it open.

[2018-05-23 14:40] M-I-P-S opened #185 "(*Botanist).WaitUntilKubeAPIServerServiceIsReady / Creation of K8s Shoots via Gardener on OpenStack"
Hi colleagues,

since yesterday, creation of Kubernetes Shoot Clusters on OpenStack shows following message:

Create Processing:
Currently executing (*Botanist).WaitUntilKubeAPIServerServiceIsReady
Last Error
Failed to reconcile Shoot cluster state: Errors occurred during flow execution: '(*Botanist).WaitUntilKubeAPIServerServiceIsReady' returned '`.status.loadBalancer.ingress[]` has no elements y

[2018-05-23 15:04] rfranzke commented on #185
Handled internally, not related to Gardener itself.

[2018-05-23 15:04] #185 closed, assigned to nobody

[2018-05-24 03:14] vlerenc opened #186 "Improve status/error messages"
Our users have difficulties interpreting the status/error messages and indeed, they are quite technical. We do not want to introduce complex mapping or ties to the Dashboard, but maybe it's time to take a look and see whether we can improve them, strip off boilerplate stuff ("currently executing", "botanist", etc.) and be more understanding with users not aware of the inner workings of the Gardene

[2018-05-24 05:38] amshuman-kr commented on #184
BTW, freeze label and freeze condition is already updated on the MachineDeployment. Can this be used as an indication to abort the current reconciliation if there is a new update in the queue?

[2018-05-24 11:25] freegroup opened #187 "enable the nginx/ingress controller with the "--enable-ssl-passthrough""
because sometimes it is required to run inside the cluster with HTTPS. For this reason we don't want
terminate the TLS on the ingress and just forward to the pod instead.

For this reason the nginx-controller must configured with "--enable-ssl-passthrough"
see: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#ssl-passthrough

At the moment

[2018-05-24 15:40] vlerenc commented on #18
Let's use Minikube (on an IaaS VM with IaaS LBs) to bootstrap a Gardener, create a ring of seeds (actually garden clusters) and finally transfer the first seed control plane into the last seed cluster, finally deploy an etcd cluster across the garden clusters, an API server as well, form a virtual distributed Kubernetes cluster and transfer the Gardener control plane  into that ring and shut down

[2018-05-25 11:45] hendrikKahl opened #188 "enable nginx/ingress controller to control client_max_body_size"
The nginx ingress controller in my gardener managed cluster uses a `client_max_body_size` of `1m` per default. This applied to all server configurations at `/etc/nginx/nginx.conf`.

For most scenarios this should be sufficient. However I want to run a docker registry inside the cluster (for demo/testing/training), deployed as stable/docker-registry helm chart.
Since most layers of a docker image a

[2018-05-25 15:13] bergerx opened #189 "shoots stuck in Processing cant be deleted ever"
I have a shoot stuck in `Processing` due to misconfigured `internalDomain` for `gardener-controller-manager`.

[code]

And here is where the controller manager is stuck:
[code]

apparently its impossible to delete a shoot that is stuck in `Processing`

[2018-05-25 15:20] bergerx commented on #189
@rfranzke pointed me the https://github.com/gardener/gardener/blob/master/hack/delete-shoot script, tried it:

[code]

[2018-05-25 15:42] bergerx commented on #189
@rfranzke suggested deleting the apiserver component in the shoot namespace, and apparently this workaround helped:

[code]

[2018-05-26 16:58] loewenstein opened #190 "Replace kube-lego with cert-manager"
According to the [readme](https://github.com/jetstack/kube-lego/blob/master/README.md) kube-lego is in maintenance mode and suggests using [cert-manager](https://github.com/jetstack/cert-manager/) instead. Are there any plans to replace the kube-lego add-on with cert-manager?

[2018-05-26 19:58] vlerenc commented on #190
Indeed, that's the plan (cert-manager). However, this makes little sense (for us) without an increased rate limit, which is currently in negotiations with Let's Encrypt.

[2018-05-26 19:58] #190 closed, assigned to nobody

[2018-05-27 18:26] rfranzke commented on #189
Let's close this as the deletion failed to due the misconfigured Gardener deployment in the first place (no valid internal domain name provided).
We hope to get the documentation part much better in the upcoming weeks.

[2018-05-27 18:26] #189 closed, assigned to nobody

[2018-05-28 08:47] petersutter commented on #50
can we have an annotation to hibernate the shoot instead of setting the autoscaler max to 0 so that we do not "lose" the autoscaler configuration?

[2018-05-28 09:04] rfranzke commented on #50
Yes, we plan to add a new field to the shoot spec for the same.

[2018-05-28 09:07] petersutter commented on #50
is there already an issue regarding this that you can link here or should we reopen this issue?

[2018-05-28 09:36] rfranzke opened #191 "Hibernation/Wake-Up triggered via boolean value in Shoot spec"
# Story
- As user I want to put my cluster to hibernation and wake it up conveniently without loosing the autoscaling configuration of my worker pools.

# Motivation
Currently, in order to put a Shoot cluster to hibernation, the user has to set the
fields `autoScalerMin=autoScalerMax=0` for all the worker pools. With that, he/she looses the autoscaler configuration and needs to re-apply it when th

[2018-05-28 09:36] rfranzke commented on #50
Created #191 to track.

[2018-05-28 13:28] vlerenc commented on #16
FYI: [Autoscale your Kubernetes Workload with Prometheus - Frederic Branczyk, CoreOS](https://www.youtube.com/watch?v=VQFoc0ukCvI)
FYI: [Building Large Kubernetes Clusters](https://kubernetes.io/docs/admin/cluster-large/)

[2018-05-28 13:28] vlerenc commented on #79
FYI: [Autoscale your Kubernetes Workload with Prometheus - Frederic Branczyk, CoreOS](https://www.youtube.com/watch?v=VQFoc0ukCvI)

[2018-05-28 15:32] #186 closed, assigned to nobody

[2018-05-28 15:32] #187 closed, assigned to nobody

[2018-05-29 08:33] rfranzke commented on #154
Upstream issue: https://github.com/kubernetes/ingress-nginx/issues/2509

[2018-05-29 13:09] vlerenc opened #194 "Schedule kube-system Pods in Shoot Cluster and Most Important Control Plane Pods in Seed Cluster as Critical"
Please schedule our kube-system pods in shoot clusters and the most important control plane pods in seed clusters as critical (if not yet the case). See https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/#marking-pod-as-critical-when-priorites-are-enabled.

To further increase stability, set requests and limits to the same value for extremely critical pod

[2018-05-29 14:52] dkusidlo commented on #160
For clusters running on OpenStack the performance increases from < 1 gbps to ~ 6 gbps when switching IPinIP from `Always` to `CrossSubnet` in our test setup. (tested using kubernetes/perf-tests)

The issue then is that the port security blocks the out- and ingoing traffic and removing port security is no option. Adding OpenStack `allowed_address_pairs` to the workers VM port with the calico IPPool

[2018-05-30 13:17] ghost opened #195 "Bare-metal worker support"
Would it be possible to support workers with `machineType: bare-metal` so that the cluster's control plane runs in a cloud provider (e.g. OpenStack), but certain workers are bare-metal machines?

The installation and setup of such workers could be delegated to existing tools like the [Terraform Matchbox provider](https://github.com/coreos/terraform-provider-matchbox/), [xCAT](https://xcat.org/) or

[2018-05-30 15:59] afritzler commented on #24
So I renamed the repo now [0].

One thing to add here is:
- NodeLabeling and NodeSelector + Tolerations and Taints should be added to the manifests.

I might make helm chart out of it.

https://github.com/afritzler/kubernetes-gpu

[2018-05-30 16:00] afritzler commented on #24
Btw. we just successfully applied this to an OpenStack based setup with NVIDIA V100. The whole thing worked out of the box without any modification!

[2018-05-31 01:13] matthew-marchetti opened #196 "Ingress regex doesn't match a domain with a "-""
Currently the regex filter for ingress in https://github.com/gardener/gardener/blob/7c6581b834680db68fb1737bd0747a79cd3d175d/pkg/apis/garden/validation/validation.go#L469 does not accept a domain with a "-". We should allow users to use this convention, as its a valid domain to use.

[2018-05-31 01:30] matthew-marchetti commented on #196
Fix Pr'd here. https://github.com/gardener/gardener/pull/197

[2018-05-31 09:40] vasu1124 commented on #195
Please have a look at https://github.com/gardener/machine-controller-manager .
And more in depth at the driver package https://github.com/gardener/machine-controller-manager/tree/master/pkg/driver .
You could indeed delegate machine creation to other external tools.
But beware that establishing the right environment (network & storage) which spans hybrid landscapes is not an easy feat. It is proba

[2018-05-31 09:54] vasu1124 commented on #188
I thought that the nginx config is tuneable by the user, see
https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/configmap.md

If I misunderstood:
You can deploy your own ingress (cf. https://github.com/kubernetes/charts/tree/master/stable/nginx-ingress) where you have all the controls at your disposal. Ensure that you use a different tag in controller.ingre

[2018-06-01 11:22] schulzh opened #199 "Ingress hostname very long, little space for service names left"
The default hostname generated for the ingress controller is quite long, in our case 55 characters: `ingress.ngom-eu.ngom.shoot.canary.k8s-hana.ondemand.com`
As TLS certificates only allow for 63 characters long hosts, this leaves in our case only 7 characters of usable length for the service name.
While in theory it should be possible to use SANs for longer names, Letsencrypt for example does not

[2018-06-01 12:29] fsniper opened #201 "Seed cluster ingresses needs domain records"
When deploying shoot clusters, gardener deploys monitoring applications and creates ingresses for them:
[code]

But these domains are not created, or there is no wildchar record is available.

I tried to use external-dns to create these records to no avail, because external-dns requires services, or ingresses to have external-dns.alpha.kubernetes.io/hostname= annotations, which are not available.

[2018-06-01 13:45] vasu1124 commented on #199
@schulzh Hmm, you can't configure cert-manager to use SAN?
I understood https://github.com/jetstack/cert-manager/issues/267 such that it is possible, just documentation is confusing (have not tried it out myself).

btw. CommonName (limited at 64chars) has been depricated sind 18 years, cf. https://tools.ietf.org/html/rfc2818 (thanks for the link, @vlerenc ):

Except for the shorter `ingress` name,

[2018-06-03 16:57] vlerenc commented on #154
@rfranzke From the description/discussion, it doesn't look like our problem, does it? Our `ingress` get an IP, but it isn't shown. Also, we do not run multiple controller instances, but only one, right?

[2018-06-03 17:05] vlerenc commented on #24
Great news!

[2018-06-04 07:25] rfranzke commented on #154
I don't think so. I've commented on the ticket, let's see whether we get some tips.

[2018-06-05 10:00] #195 closed, assigned to nobody

[2018-06-06 06:33] hendrikKahl commented on #188
Found a solution: by now there is a parameter that allows to customize the client_max_body_size but it's actually called proxy-body-size.
With the annotation `nginx.ingress.kubernetes.io/proxy-body-size` it is possible to tune the body size for individual ingress resources.

reference link: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-max-body-size

[2018-06-06 06:33] #188 closed, assigned to nobody

[2018-06-06 06:41] rfranzke commented on #188
Thanks for letting us know!

[2018-06-06 08:16] loewenstein opened #205 "Technical user cannot read cloudprofile"
For CI/CD purposes we created a technical user (service account) like

[code]

Unfortunately, this service account cannot read cloudprofile in order to figure out the Kubernetes version to use for creating shoots. That is probably because cloudprofile is not namespaced, but on the cluster scope and there is no corresponding clusterrolebinding.

[2018-06-06 11:28] vlerenc commented on #160
Awesome news!

As for the `allowed_address_pairs` feature and its integration (if I understood it right), the networking is setup in https://github.com/gardener/gardener/blob/master/charts/seed-terraformer/charts/openstack-infra/templates/_main.tf (contact is @rfranzke) and the machines in https://github.com/gardener/machine-controller-manager/blob/master/pkg/driver/driver_openstack.go and https:/

[2018-06-07 05:55] rfranzke commented on #131
Closing as cluster-autoscaler is merged (#200).

[2018-06-07 06:05] #205 closed, assigned to nobody

[2018-06-07 14:12] vlerenc opened #208 "EveryNodeReady reported even though desired node replicas don't match actual ones"
When I wake up a cluster from hibernation (maybe also in other cases), I see a healthy control plane chip for the nodes, because the Gardener reports `EveryNodeReady`. Actually, wouldn't it make more sense to indicate, that the nodes are missing, i.e. the desired doesn't match the actual state (yet)?

[2018-06-07 14:15] vlerenc commented on #208
The general question, I guess, is more about the reconciliation loop and that the status is only updated in reconciliation. However, when users invoke and operation (like wake-up) the shoot resource status and Dashboard don't change right away, which is surprising/confusing.

[2018-06-07 14:35] rfranzke commented on #208
The `EveryNodeReady` does only check whether every node that is known to the cluster is ready. It does not yet correlate the desired number of replicas of all machines to the number of registered nodes. Do you suggest to do that?

The conditions checks are part of another controller that is not aware of anything the main Shoot controller does. Not sure whether I understand the question here. What

[2018-06-08 04:37] vlerenc commented on #208
About the first part: Yes, kind of thinking out loud whether that would make sense? From end-user perspective it would certainly do.

About the second part: It goes back to an observation made some weeks ago. I change something, but at first nothing happens. From end-user perspective, it's difficult to assess whether the change had an effect or not, because at first nothing happens.

[2018-06-08 05:44] rfranzke commented on #201
Thanks @fsniper for mentioning that. Currently, Gardener expects the Seed clusters to run the nginx-ingress-controller and to have a wildcard DNS record pointing to the exposed load balancer already created (https://github.com/gardener/gardener/blob/master/example/seed-azure.yaml#L14).

Your proposal is to drop that assumption, however, that would require Gardener to install the ingress controller

[2018-06-08 06:01] rfranzke commented on #208
Agreed, makes sense. The health check was there before we had `MachineDeployment` resources from which we actually could know how many nodes **should** have been registered. Another thing that becomes better with the machine controller.

With the above adaption at least the experience for the scenario you explained in the issue (waking up a hibernated Shoot) will improve (the `EveryNodeReady` cond

[2018-06-08 08:39] rfranzke opened #211 "Use PodSecurityPolicies for enabling/disabling privileged containers"
We allow to specify in the [`Shoot` resource](https://github.com/gardener/gardener/blob/master/pkg/apis/garden/v1beta1/types.go#L963-L965) whether to enable/disable privileged containers. Until Kubernetes v1.13.0 the way to enable/disable them is to provide the `--allow-privileged` flag to the kubelet. However, this flag is already deprecated will be removed in v1.13.0: https://github.com/kubernet

[2018-06-08 09:51] fsniper commented on #86
Hello,

I think this work is a good idea to move forward with. Currently, gardener should be extended for using any dns service you want to use it for. (eg. https://github.com/gardener/gardener/commit/06b01dad1fda3d043042aa7da632b3c1e260746e#diff-33d2a8cacfcd2dda84699a11862f3ab0).

For our requirements we need to use Azure Dns Zones. If gardener were leveraging external-dns this would be a trivial

[2018-06-08 11:01] rfranzke commented on #208
Can we close the issue now that 44e2e87 and 122945d have been pushed?

[2018-06-08 13:30] vlerenc opened #212 "Ignore customer resources when deleting a cluster"
From time to time we have issues with customers who have deleted their resources themselves (lately @DockToFuture and @mandelsoft). Then, the Gardener fails to delete the cluster. In these cases, an annotation at the shoot resource would help that deletes everything in control of the Gardener, but ignores everything inside the customer account. If the annotation is set, the Gardener could ignore t

[2018-06-08 13:54] mvladev commented on #211
The idea is to have at least 2 PSPs - one _privileged_ (full permissions) and _restricted_ (limited to the absolute minimum).

By default we should grant the _privileged_ PSP to all authenticated users + administrators (not breaking existing users and administrators)
By default we should grant the _restricted_ PSP to all authenticated users + administrators (not breaking existing users and adminis

[2018-06-08 14:17] rfranzke commented on #211
@thormaehlenfred maybe you could work together with Martin here?

[2018-06-08 15:59] ThormaehlenFred commented on #211
@mvladev so your proposal is the following if I understand you correctly.
Given a privileged PSP `ClusterRoleBinding` would look like this:
[code]
then you would simply advise the administrator via documentation to comment or delete the last lines from the `subject`
[code]
The consequence would be:

1. privileged PSP ([example](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/addon

[2018-06-09 14:41] vlerenc commented on #211
@mvladev what would happen if the user would indeed alter the created PSP:
1. Wouldn't the addon-manager reconcile it?
2. Worst case, can the user exclude us from managing their cluster and break our SLO?

[2018-06-09 14:48] vlerenc commented on #208
Thank you, sure.

[2018-06-09 14:48] #208 closed, assigned to nobody

[2018-06-12 21:08] vlerenc commented on #18
As for moving control planes from one seed to another, please see https://github.com/amshuman-kr/gardener/blob/master/docs/proposals/shoot-control-plane-migration/README.md (in the context of https://github.com/gardener/etcd-backup-restore/issues/34).

[2018-06-13 07:26] #196 closed, assigned to nobody

[2018-06-13 08:35] mvladev commented on #211
We plan to use `addonmanager.kubernetes.io/mode: EnsureExists` mode. If he breaks his rules, then he should remove them and revert to the original lose status.

Can you elaborate on this?

[2018-06-13 09:24] vlerenc commented on #211
Ah, OK, so the addon-manager won't change it back, just recreate it if it's gone. Thanks!

As for the second point, it falls together with your side remark "if [the user] breaks [the] rules, then [the user] should remove them [which the addon-manager will] revert to the original [values]".

Can the user do that? Can the user exclude us? Or is the system admin access something that cannot be broken

[2018-06-13 10:01] alban commented on #211
The Pod Security Policies can only restrict the creation/update of pods, but not of other kubernetes objects, so it will not block changes on PSP, roles and role binding. So PSP cannot lock us out.

[2018-06-13 10:04] vlerenc commented on #211
Thanks @alban.

[2018-06-14 16:15] praveendhac opened #220 ""gardenctl target shoot" throws segmentation error"
Created new shoot cluster successfully. Saw segmentation error while setting target to Shoot cluster
`gardenctl target shoot pd-shoot1-azure`

**Crash Trace**
`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x11ef756]

goroutine 1 [running]:
github.com/gardener/gardenctl/vendor/github.com/sirupsen/logrus.(*Logge

[2018-06-14 16:28] bergerx opened #221 "Misleading secret issue in event log during Shoot creation on Azure"
During the `WaitUntilKubeAPIServerServiceIsReady` step the creation of an Azure Load Balancer for the apiserver seems to be taking more than 10 minutes, and after 10 minutes  `gardener-controller-manager` seems to be throwing a kind of misleading error.

The error mentions:  `cannot use secret 'core-azure' to create the DNS record because key 'accessKeyID' is missing`
But actually the underlying e

[2018-06-14 17:09] bergerx commented on #221
Oh apparently i was wrong, it was reporting multiple independent issues in the single event which tricked me.

[2018-06-14 17:09] #221 closed, assigned to nobody

[2018-06-14 18:16] rfranzke commented on #220
Moved to gardener/gardenctl#31.

[2018-06-14 18:16] #220 closed, assigned to nobody

[2018-06-15 04:13] #131 closed, assigned to nobody

[2018-06-15 09:16] bergerx opened #223 "Admission controllers don't pick up recent secrets in k8s cluster"
We've been seeing that either `gardener-contoller-manager` nor `gardener-apiserver` picks up secrets which are recently created.

Versions in use:
* etcd: quay.io/coreos/etcd:v3.3.2 in garden namespace
* garden cluster: Azure AKS 1.9.6
* gardener versions we tried: 1.5.0, 1.6.1

We prepared a single yaml manifest with below items in given order:
- Secret: default-domain
- Secret: seed-azure
- Secr

[2018-06-15 14:05] praveendhac opened #224 "gardener API server crashes during Shoot cluster creation with oidcConfig parameter"
Command used and command error
`$ kubectl apply -f example/90-shoot-azure-dex.yaml

Error from server (ServiceUnavailable): error when creating "example/90-shoot-azure-dex.yaml": the server is currently unable to handle the request (post shoots.garden.sapcloud.io)`

Suspicious config in example/90-shoot-azure-dex.yaml
[code]

[2018-06-15 14:12] #224 closed, assigned to nobody

[2018-06-18 19:36] vlerenc opened #225 "Revoke Kubeconfig/Change Admin Password"
Kubeconfig/password may have leaked. Therefore our users ask for a way to revoke it and get a new one.

[2018-06-19 04:36] rfranzke commented on #225
Duplicate of #105

[2018-06-19 04:36] #225 closed, assigned to nobody

[2018-06-19 05:58] #223 closed, assigned to rfranzke

[2018-06-19 06:02] rfranzke commented on #223
@bergerx the issue  should have been resolved. I could not reproduce it so far. Could you please try again with image tag `0.7.0-d0f1fda30b679c730680af3355bfa1424fe4f37e` and report your experiences? Please reopen this issue in case you are still facing problems.

Not sure what you mean here in detail. The controller manager reads the secret before every reconciliation (not from a cache, but from

[2018-06-19 11:58] vlerenc commented on #225
Thank you, I really need to get through this mess of a backlog and build my tools/setup. Sorry for bothering - I was milking a list of early user feedback from the enablement team.

[2018-06-20 06:41] #154 closed, assigned to nobody

[2018-06-20 06:41] #184 closed, assigned to nobody

[2018-06-20 06:43] rfranzke commented on #154
Dug deeper regarding this one, and it turned out that there is another flag in the nginx-ingress configuration which we had to enable. Actually, we had the flag never enabled before and the publishing of the addresses was working a long time. Couldn't find out which nginx-ingress version changed the behaviour and why.

[2018-06-20 06:56] vlerenc commented on #154
Ah, thank you for digging in! What was the configuration we now set that gave us the publishing back?

[2018-06-20 06:57] rfranzke commented on #154
https://github.com/kubernetes/ingress-nginx/blob/master/cmd/nginx/flags.go#L62-L66

[2018-06-20 07:22] vlerenc commented on #154
Thanks!

[2018-06-20 12:04] bergerx opened #227 "recent secrets are still not picked up by Admission controllers #223"
This is a followup after "Admission controllers don't pick up recent secrets in k8s cluster #223".

As indicated by @rfranzke in #223, I deployed gardener-apiserver and gardener-contoller-manager with the image `0.7.0-d0f1fda30b679c730680af3355bfa1424fe4f37e`.

# Steps to repeat the problem

Crate a test project:

[code]

Prepare test manifest just with a `Secret` and a `SecretBinding`

[code]

Re

[2018-06-20 13:41] rfranzke commented on #227
Thanks @bergerx. Will follow up.

[2018-06-20 14:27] bergerx commented on #227
I just saw `0.7.0` is released, tried with that relase as well, same result:

[code]

[2018-06-21 13:10] vlerenc commented on #178
@marwinski Ping... any update here or new insights via Kinvolk?

[2018-06-21 14:20] dkusidlo opened #229 "OpenStack VLAN network type"
Currently the Gardener deploys OpenStack networks using the OpenStack default. This is in our case a VXLAN tunnel. For performance reasons we would like to be able to use VLAN as an alternative network type.

Probably something like this
[code]
in here https://github.com/gardener/gardener/blob/master/charts/seed-terraformer/charts/openstack-infra/templates/_main.tf#L28

I already talked to @afritz

[2018-06-21 14:20] bergerx opened #230 "readinessProbe required in kube-apiserver"
So this only an idea for improving the Shoot creation flow, an this would be a nice to have feature to troubleshoot provisioning issues and and early break before creating resources that could not be used.

Multiple time we had shoot's kube-apiserver failing to reach to the etcd (still investigating the root cause).

Currently [charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserve

[2018-06-21 15:13] vlerenc commented on #159
According to a @dkusidlo this would require the Gardener to use different parameters for different infrastructures. According to @rfranzke this would have to be added or we could use the lowest possible value (which is GCP given the currently supported 4 infrastructures) for the CNI interface as well.

[2018-06-21 15:49] rfranzke commented on #230
Which kind of `readinessProbe` do you suggest for the `kube-apiserver` deployment? It does not expose a `/ready` endpoint but only a `/healthz` route. `/healthz/etcd` could be an option?!
But what is the expected outcome of that? When it reports that it is not ready, then it won't get any traffic. Hence, in the end the behaviour is the same compared to now - no operation involving it will work.

[2018-06-21 17:39] bergerx commented on #230
If the current `/healthz` endpoint runs below checks, isnt it already quite suitable for readiness as is:

[code]

[2018-06-21 18:23] rfranzke commented on #230
Sure, but I've not understood what you expect to happen. When the readiness probe in Kubernetes fails then no traffic will be routed to the underlying pods. Hence, the outcome of the operation Gardener wants to perform is the same as it is now - it won't work / it won't get better. Or do you only suggest to use it for improving the step in which the operation fails (`WaitUntilKubeAPIServerIsReady`

[2018-06-21 18:44] swapnilgm commented on #230
Although there isn't any direct api on apiserver(say /ready), and `/healthz` is only health endpoint and doesn't mean apiserver is completely ready to accept and process request,  I think having readiness probe using `/healthz` makes sense. This will halt the flow at `WaitUntilKubeAPIServerIsReady` step. And help in early detection of error like etcd issues.

Said that, this surely doesn't solve t

[2018-06-21 19:25] vlerenc opened #231 "Adopt Cluster API Spec"
To not be marginalised and outrun eventually, we should actively engage with the community and eventually adopt the cluster API spec. See gardener/machine-controller-manager#46.

[2018-06-21 21:05] bergerx commented on #230
From @rfranzke:

Since there is only a liveness probe and no readiness probe, as soon as the container is started, it immediately transitions into Ready state, after some time Liveness probe will fail and restart the kube-apiserver, until then kube-apiserver will be assumed ready to serve. `WaitUntilKubeAPIServerIsReady` checks for Ready state not Liveness. Having a readiness probe will block flow

[2018-06-22 04:00] vlerenc opened #232 "Seed Cluster Disaster Recovery (a.k.a. Control Plane Migration)"
# Story
- As operator I want my seed cluster (function-wise) to recover from a disaster, so that I can ensure business continuity.

# Motivation
Availability SLO, Business continuity.

# Acceptance Criteria
- [ ] Seed cluster functionality recovers from single zone loss (=full disaster for a single zone seed cluster) with a Recovery Time Objective (RTO) of 5 minutes.

# Implementation Proposal
Mov

[2018-06-22 04:00] vlerenc opened #233 "Garden Cluster Disaster Recovery (a.k.a. Gardener Ring)"
# Story
- As operator I want my garden cluster (function-wise) to recover from a disaster, so that I can ensure business continuity.

# Motivation
Availability SLO, Business continuity.

# Acceptance Criteria
- [ ] Garden cluster functionality recovers from single zone loss (=partial disaster) with a Recovery Time Objective (RTO) of 5 minutes.

# Implementation Proposal
Form a highly available dis

[2018-06-22 04:01] vlerenc commented on #18
Replaced by #232 and #233.

[2018-06-22 04:01] #18 closed, assigned to nobody

[2018-06-22 04:42] rfranzke commented on #230
OK, thank you for the elaboration. Will incorporate it! Great feedback @bergerx!

[2018-06-22 06:16] rfranzke commented on #229
@dkusidlo what happens with existing networks that get the
[code]
change? Will they be recreated or can they be updated in place? If they get recreated, what will happen to the machines/volumes?

[2018-06-22 11:13] #230 closed, assigned to rfranzke

[2018-06-22 11:40] #227 closed, assigned to rfranzke

[2018-06-24 06:12] vlerenc opened #236 "Gardener Cluster Audit Logs"
# Story
- As operator and user I want to see an event log showing who/what did what to my cluster, so that I can retrospectively analyse issues.

# Motivation
It is useful to understand what a human user or automated process did to a cluster to explain (and next time prevent) issues.

# Open Question
Should we really implement a solution only for clusters or rather think broader and have an audit

[2018-06-24 16:02] bergerx opened #237 "Deleting a Namespace of a project with a Shoot causes deadlock"
I accidentally deleted the Namespace of a Project with a Shoot inside it. After some time Namespace stuck in Terminating.

TL;DR: namespace blocked on shoot, shoot blocked on bakcup, backup blocked on namespace termination

Here is a related message from gardener-controller-manager:

Here is how the deadlock happened:
- the namespace is marked for deletion and no resources is allowed to be created

[2018-06-24 16:02] bergerx commented on #237
Some options I see:
- prevent the premature Shoot deletion (being deleted without annotation) until operators issue a Shoot recovery or confirm the deletion, which could be challenging because a new backup cant be issued.
- take the shoot deletion as granted without a backup generation triggered, let everything to be deleted gracefully.

[2018-06-24 16:14] bergerx opened #238 "Deletion of a Shoot Namespace on Seed stuck in Terminating"
After I deleted a Project Namespace in Garden cluster and got the Shoot stuck during deletion (#237),  I manually removed the resources created on the cloud provider and wanted to remove the Shoot Namespace on the Seed. So I issued a `kubectl delete ns ...` command but I saw the Namespace stuck in deletion.

The machine-controller-manager in the same namespace is deleted before the CRDs are being

[2018-06-25 13:33] vlerenc commented on #146
Closing as we believe this was only a follow-up problem of the unavailable API server (seen also during the latest Garden cluster downtime).

[2018-06-25 13:33] #146 closed, assigned to nobody

[2018-06-25 13:40] vlerenc commented on #101
@marwinski Can this ticket be closed now? Or moved to the now existing external landscape-setup repo?

[2018-06-25 13:58] vlerenc commented on #89
Closing as we hand out cluster admin creds. Cluster admins may still choose to add more users and restrict access with RBAC/PSPs.

[2018-06-25 13:58] #89 closed, assigned to nobody

[2018-06-26 07:58] rfranzke opened #240 "Replace kube-dns with CoreDNS"
CoreDNS will be the new default DNS plugin for Kubernetes, hence, we should switch from kube-dns to CoreDNS as well.

[2018-06-26 07:59] rfranzke opened #241 "Replace Heapster with the Kubernetes Metrics server"
From the 1.11 release notes:

We should replace Heapster with the Kubernetes metrics server.

Heapster deprecation timeline: https://github.com/kubernetes/heapster/blob/master/docs/deprecation.md

[2018-06-26 15:15] bergerx opened #246 "Allow modular addons"
Currently there are some pre-defined addons in gardener that are used when creating a shoot.

We want to provision some resources as part of our shoot creation process. I'm curious if it could be possible to be able to extend the addons provided out of the box in different gardener installations?

I'm not sure if this is easy to implement, but it makes sense to be able to allow our users pick some

[2018-06-26 17:22] vlerenc commented on #24
I guess, the last thing missing is a HowTo in https://github.wdf.sap.corp/pages/kubernetes/gardener/howtos and then we can consider this done, at least as a first iteration, right?

[2018-06-27 11:32] bmaeck commented on #229
My understanding is that you can not easily change existing subnets. Which means you need to delete the old VXLAN based subnet and create a new VLAN based subnet. In this case all essources in the existing subnet needed to be deleted as well.

@dkusidlo Please correct me if I am wrong.

[2018-06-27 11:39] rfranzke commented on #229
Then we can't simply add this as it would break existing clusters. We would need to be careful and only do it for newly created Shoots.

[2018-06-28 10:45] freegroup commented on #24
https://github.wdf.sap.corp/pages/kubernetes/gardener/doc/2017/01/16/howto-gpu.html

tutorial is written.

[2018-06-29 06:15] vlerenc opened #247 "IPVS Adoption"
In Kubernetes v1.11 IPVS-based in-cluster service load balancing graduated to GA (https://kubernetes.io/blog/2018/06/27/kubernetes-1.11-release-announcement):

[2018-06-29 06:17] vlerenc commented on #247
@mvladev found this issue https://github.com/kubernetes/kubernetes/issues/57841, but otherwise it looks good and may help performance further @hardikdr @gonzolino @dkusidlo.

[2018-06-29 16:42] bergerx opened #249 "Document how autoUpdate in Shoots are handled"
After having a chat in slack I learned that if a shoot has `.spec.maintenance.autoUpdate.kubernetesVersion: true` in the definition then kubernetes patch releases will be automatically updated during the `.spec.maintenance.timeWindow`

E.g. if you have a shoot cluster with:

[code]

And if you update Cloud profile and add `1.10.5` and `1.11.0` to the `.spec.<provider>.constraints.kubernetes.versio

[2018-06-29 16:45] rfranzke commented on #246
/cc @vasu1124

[2018-06-29 16:53] bergerx commented on #249
As a reference for later, here is how kubernetes versions releases:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md

[2018-06-30 05:25] vlerenc opened #250 "Preferred Scheduling for Shoot K8s Control Plane"
For HA anti-affinity is key, but for components that depend on each other, we should rather use affinity and `preferredDuringSchedulingIgnoredDuringExecution` scheduling to reduce the failure domain. While without affinity a OS image roll-out may break the control plane multiple times, affinity could help to break it only once while the node is down (and the pods get rescheduled) or drained (and t

[2018-06-30 05:42] vlerenc opened #251 "Reconcile in Maintenance Time Window Only"
People complain that they see shoot cluster control plane outages during the day (when we roll out a new Gardener), which is true. When we, e.g. change the control plane settings (CPU/memory limits) the control plane becomes shortly unavailable. Also, we have a load issue with the reconciler and it generates too many events. So why not run the reconciler once a day? We already had to change the in

[2018-07-01 17:59] bergerx commented on #24
Internal documentation link :'(

Is it possible to push the tutorial to github repo?

On Thu, Jun 28, 2018, 11:45 Andreas Herz <notifications@github.com> wrote:

[2018-07-01 18:12] vlerenc commented on #24
@marwinski @vasu1124 Any concrete/actionable plans to get the HowTos out into the public?

[2018-07-02 11:09] vasu1124 commented on #24
Looking at facilitating HowTos for community ... stay tuned.

[2018-07-03 06:08] m1093782566 commented on #247
Seems kubernetes/kubernetes#57841 is not a real issue, please check: https://github.com/kubernetes/kubernetes/issues/57841#issuecomment-402007534

[2018-07-03 06:17] mvladev commented on #247
Great news! Thank you @m1093782566!

[2018-07-03 06:19] m1093782566 commented on #247
You are welcome @mvladev :)

Please feel free to contact me when you have any question/problem in trying IPVS. I am the feature owner and responsible for fixing any issue.

[2018-07-03 15:57] bergerx commented on #246
A recent discussion in slack can be found here: https://kubernetes.slack.com/archives/CB57N0BFG/p1530630996000284

Summary:

@bergerx:

@mvladev:

@bergerx:

@mvladev:

[2018-07-04 11:29] grolu opened #253 "Wrong DNS name validation for Shoot / Worker names"
In the validation logic for shoot names, the gardener apiserver checks that the name is a valid DNS1123 **subdomain**. However, subdomains can contain a dot, which will lead to an error during creation. The correct validation should be a check for valid DNS1123 **label**.
Error as seen during creation:
`Failed to reconcile Shoot cluster state: Errors occurred during flow execution: '(*Botanist).Wa

[2018-07-04 12:50] vlerenc opened #254 "Reserve Excess Capacity in Seed Cluster"
# Story
* As user I want my shoot cluster to be provisioned as fast as possible, so that I can work with the cluster right away (extremely useful for programmatic access and provisioning or for testing, training and demonstration purposes).

# Motivation
Initially we wanted to implement cluster excess capacity reservation in the mcm (gardener/machine-controller-manager#26), so that our seed cluste

[2018-07-04 12:56] vlerenc commented on #79
I think we can close this issue now as we have understood the problem in the meantime. Our clusters can now be scaled to 100 nodes and when #255 or even #16 is implemented, we hope to get to much higher cluster sizes as in principle we should have addressed the limiting factor (the control plane).

[2018-07-04 12:56] #79 closed, assigned to hardikdr

[2018-07-04 12:58] vlerenc opened #255 "Static/Formula-Based Shoot Cluster Control Plane Scaling"
# Story
* As provider I want my shoot cluster control planes to scale automatically (within certain limits), so that my shoot clusters remain operational and respond fast.

# Motivation
Response time behaviour. Avoiding issues like #79. Generally being able to run small clusters cheaply and large clusters safely (also important for our own shoot'ed seed clusters).

This is the simpler form of #16

[2018-07-04 13:20] vlerenc commented on #16
While HPA seems safe to use for horizontal pod autoscaling, VPA gives a very poor impression (NPEs) and the v1.11 release notes even hinted at larger problems and that the VPA will be revamped completely (https://kubernetes.io/docs/imported/release/notes for v1.11, search for VPA).

Therefore, ticket is now icebox'ed. There shall be a new version with v1.12, but I wouldn't hold my breath, so let's

[2018-07-04 23:10] mvladev commented on #255
Just to mention that the API server needs to be scaled vertically as well as horizontally - it uses multiple sharedinformers for different resources or putting it simply - more K8S resources are available, more memory is needed

[2018-07-05 02:32] vlerenc commented on #255
Yes, you are right. I was thinking the same and should have added it (will do). What I didn't know is how to bring that ever together with HPA and VPA later. As of now, concurrent usage is not advised and given the poor nature of VPA and that both are acting on their own, it becomes obvious that the solutions will compete and generate garbage. In the formula-based approach though, we can be smarte

[2018-07-05 14:00] #249 closed, assigned to nobody

[2018-07-06 08:47] plkokanov commented on #241
I can start working on this little by little.

The kubernetes dashboard still uses heapster and they are currently also migrating to the metrics API: [2986](https://github.com/kubernetes/dashboard/issues/2986).
We might have to keep heapster until all components we use, that are currently only supporting it, also switch to the metrics API.

[2018-07-06 09:25] vlerenc opened #256 "Generate a different password for the monitoring (and logging) stacks"
Since long, the cluster admin password is also used to secure the Grafana dashboard. That should be a different one, because the set of people (end users and cluster operators) may be different ones.

[2018-07-06 10:05] freegroup opened #257 "add the --admission-controller=Initializers to the kube-apiserver"
I try to use a kubernetes feature named **Kubernetes Initializer** which is well explained in
a tutorial from Kelsey Hightower

https://github.com/kelseyhightower/kubernetes-initializer-tutorial/blob/master/docs/initializing-deployments.md

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#what-are-initializers

Unfortunately I'm unable to use this feature b

[2018-07-06 10:10] vlerenc commented on #257
That is indeed an open question: Shall we allow configuration of admission controller plugins or not. And if yes, what can happen worst case? A few must be always on, because we depend on them. See also #254 that requires the PriorityAdmissionPlugin.

[2018-07-06 10:26] freegroup commented on #257
yes - you should allow it   👍

[2018-07-08 08:25] bergerx commented on #257
When I was first looking at the gardener design, having control over
admission plugins was one of my first expectations.

We were using AKS and had no control over most cluster level configs (authn
fields, admission plugins, feature gates, etc.) when we found Gardener I
immediately thought it would allow us more control over such configs. Which
turned out to be not true for admission plugins.

I t

[2018-07-08 19:57] bergerx opened #258 "Allow enabling PodNodeSelector and PodTolerationRestriction Admission Controllers"
Hi,

We have some clusters that we want:
- to reserve a worker set (MachineDeployment) to the pods in a specific namespace,
- pods in usual namespaces to be deployed to a specific worker set (MachineDeployment)

Usage of `PodNodeSelector` and `PodTolerationRestriction` admission controllers could allow this scenarios.

Enabling only these admission controllers doesn't seem to be enough, we should

[2018-07-09 05:26] prashanth26 commented on #254
After having @hardikdr try a basic working of the low-prio pods for reserving excess capacity for a cluster. Now I shall be trying to integrate this into the gardener.

[2018-07-09 06:11] vlerenc commented on #254
Thanks @prashanth26!

[2018-07-09 06:56] freegroup opened #259 "need --admission-control=PersistentVolumeClaimResize flag to use VolumeResize"
since kubernetes version 1.9 it seems to be possible to resize volumes on demand for this kind
of storage types
- gcePersistentDisk
- awsElasticBlockStore
- OpenStack Cinder
- glusterfs
- rbd

To be able to use this feature you need to allow expanding PVCs by setting **ExpandPersistentVolumes feature** gate to true. Also, enable **PersistentVolumeClaimResize** admission plugin if you want to preve

[2018-07-09 07:00] freegroup commented on #257
maybe the configuration can be part of the shoot.yaml?
see https://github.com/gardener/gardener/issues/259

[2018-07-09 07:15] vlerenc commented on #258
All related: #254 (priority), #257 (Initializers), #258 (PodNodeSelector , PodTolerationRestriction), #259 (PersistentVolumeClaimResize).

BLI for configurable admission controllers/plugins is now #263.

[2018-07-09 07:15] vlerenc commented on #257
All related: #254 (priority), #257 (Initializers), #258 (PodNodeSelector , PodTolerationRestriction), #259 (PersistentVolumeClaimResize).

BLI for configurable admission controllers/plugins is now #263.

[2018-07-09 07:15] vlerenc commented on #254
All related (in terms of the need to switch on an admission controller/plugin): #254 (priority), #257 (Initializers), #258 (PodNodeSelector , PodTolerationRestriction), #259 (PersistentVolumeClaimResize).

BLI for configurable admission controllers/plugins is now #263.

[2018-07-09 07:15] vlerenc commented on #259
All related: #254 (priority), #257 (Initializers), #258 (PodNodeSelector , PodTolerationRestriction), #259 (PersistentVolumeClaimResize).

BLI for configurable admission controllers/plugins is now #263.

[2018-07-09 07:33] vlerenc commented on #259
FYI: Feature gates can already be tweaked in the shoot resource. What remains is the configuration of admission plugins.

https://github.com/gardener/gardener/blob/f6f8e2382143d9179d8ec13657515e46ffc97669/pkg/apis/garden/types.go#L984-L1058

[2018-07-09 09:35] bergerx commented on #23
OPA seems cool, but how is it related to ImagePullPolicy admission controller? Even if we have OPA we still explicitly need ImagePullPolicy to be enabled on some clusters, ideally through the shoot definition.

Or, did you just put it as a related idea around having generic Admission Controller solution?

[2018-07-09 12:35] alcasim commented on #36
Hi,

I’m wondering how to contribute to this issue, as I’m interested in providing better dashboards for shoot cluster monitoring. I already started something removing the restriction of metric collection on “kube-system” namespace for the shoot cluster, I want to make that switchable so it won’t impact the actual upstream behavior, but if selected it will collect metrics from all namespaces in sh

[2018-07-09 14:39] freegroup opened #260 "split operation and developer kubeconfig.yaml into two"
at the moment the `kubeconfig.yaml`, downloadable from the gardener dashboard, is the very
same as this one which is required of the gardener to operates the cluster.

For this reason, it is not possible to revoke the kubeconfig.yaml if this has been leaked.

May it is a good idea to create a new admin group, used by the dev-kubeconfig.yaml which is downloadable from the dashboard.

[2018-07-09 17:05] alcasim commented on #36
Also, the information for the "Resource Requests" dashboard is indeed wrong, as requested CPU and memory from seed and shoot containers are used in the dashboard. Limiting to type=shoot in the metrics starting with "kube_pod_container_resource_requests_" solves the issue, when metrics from all namespaces are collected (if limited to kube-system, only requests on kube-system namespace are displayed

[2018-07-09 19:08] vlerenc commented on #260
That's a duplicate of #105, right?

[2018-07-09 19:08] #260 closed, assigned to nobody

[2018-07-09 21:00] vasu1124 commented on #36
@mvladev

[2018-07-10 06:28] freegroup commented on #260
partly duplicate

 - add the feature to reset/revoke kubeconfig.yaml // **dublicate**
 - kubeconfig for reconcile and operation (done by the gardener) must be a different one than the kubeconfig.yaml for developers // **new**

[2018-07-10 15:31] vlerenc commented on #199
Unfortunately, we don't know how to help you here. Having said that, we understand your issue and even had some of it in place. Even today our Grafana is `g`, Prometheus is `p`, alert manager is `a`, so that we could squeeze in their names into the CNs of the respective certs. We also had `ing` for ingress previously, but it led nowhere and the moment product management has decided that we had to

[2018-07-10 15:31] #199 closed, assigned to nobody

[2018-07-10 19:59] vlerenc opened #262 "Custom OS Support (e.g. SLES, Ubuntu, etc.)"
# Story
- As user I can specify a custom OS in the shoot cluster resource spec, so that I can run an OS that I technically (specific tuning, custom drivers) or organisationally (license and support deals) require.

# Motivation
See above.

# Acceptance Criteria
- [ ] User can specify a custom OS in the shoot cluster resource spec for the entire cluster, e.g. for AWS `spec.cloud.aws.machineImage.am

[2018-07-10 20:09] vlerenc opened #263 "Configurable Admission Controllers/Plugins"
# Story
- As user I want to switch on a specific admission controller/plugin (with custom configuration), so that I can implement certain scenarios that require them.

# Motivation
See other issues like #254 (Priority), #257 (Initializers), #258 (PodNodeSelector, PodTolerationRestriction), #259 (PersistentVolumeClaimResize), or Slack where pod presets where requested multiple times in the past (Po

[2018-07-11 05:57] vlerenc opened #264 "Bootstrap Tokens Piling Up"
An end user reported that our clusters pile up `bootstrap-token-*` secrets in the `kube-system` NS.

[code]

Please note: When we fix the issue, we also need to take care of the amassed secrets in the shoots and clean them out if that's not a side effect of the fix already.

[2018-07-11 09:30] vlerenc opened #265 "Harden Seed Cluster by Isolating Shoot Cluster API Server"
# Story
- As provider I want make sure that the shoot cluster API server in the seed cluster cannot reach any other endpoints but the ones it needs to do its job, so that no API server exploits can expose the seed cluster in any way.

# Motivation
Add additional security to protect the seed clusters from (shoot cluster) API server exploits (the only externally reachable endpoint).

# Acceptance Cr

[2018-07-11 10:56] ggaurav10 commented on #265
Access to dns (kube-dns in the seed) will also be required from the shoot's API server (running in the seed) for etcd discovery

[2018-07-11 12:09] marwinski commented on #265
The following network policies should be sufficient to meet the demands outlined above:

1. Block egress from the control plane api servers to the whole seed cluster except the control plane etcd server and the kube-dns from the seed cluster.
2. Block traffic to the cloud provider metadata service for each control plane namespace.

[2018-07-12 11:04] marwinski opened #268 "Prevent Cross-Cluster Volume Access"
# Story
- As user I want that no other user from another cluster to mount my volumes even if they are in the same infrastructure account, so that my data remains private.

# Motivation
Security. We do not recommend that multiple shoot clusters for different owners are deployed into one single infrastructure account (this recommendation is also given by the cloud providers that we have consulted).

[2018-07-12 14:38] dkistner commented on #264
Clean up of the bootstrap-token secrets is cared by the ``tokencleaner`` controller, which is bundled into the kube-controller-manager and have to be explicitly  activated via the ``--controllers=...,tokencleaner,...`` flag. This is configured for the Shoot kube-controller-managers [1].

See not really an issue by the Gardener here, because it is only responsible for creating bootstrap token secre

[2018-07-12 19:08] vlerenc commented on #268
@marwinski, this appears to be a duplicate of #178. Can we then close the other? Also, can't this be done in AWS via IAM alone (based on tags)? Azure, GCP and OpenStack are anyways far too open. Azure and OpenStack (until out-of-tree cloud providers in Kubernetes are done) still hold the IaaS credentials, so the door is anyways wide open.

[2018-07-12 19:20] vlerenc commented on #264
Thank you @dkistner. So you assume a K8s bug in the tokencleaner? Can you please open a bug report in this case?

[2018-07-13 09:17] mvladev opened #270 "Remove resource limits and requests in local development scenario"
For local development (minikube) it's helpful to remove all resource limits and requests, so we can pack more components on the same machine

[2018-07-13 13:49] plkokanov commented on #256
Created PR #271

I've currently only added different password generation for the monitoring stack.
I will add password generation for the logging stack PR (#176) as soon as PR #271 gets approved.

[2018-07-13 14:30] #253 closed, assigned to nobody

[2018-07-13 15:51] dkistner commented on #264
Ah checking the code again. It seems that the ``tokencleaner`` controller tries to delay the reprocessing of the bootstrap-token secrets as long as possible [1], because in the kube-controller-manager the default options, which  are passed to the tokencleaner controller have no resync period [2]. The controller removes the secret out of its workqueue, when it has processed once. When the secret wa

[2018-07-16 07:14] dkistner commented on #264
It is like described. When I update an expired bootstrap-token secret the ``tokencleaner`` controller will instandly pickup the secret and delete it.

**Two options**
1. We could check in each reconcile loop for existing bootstrap-tokens secrets and if they are expired, we can update for example their ``.data.description`` field. That would force the ``tokencleaner`` controller to remove the secre

[2018-07-16 10:33] marwinski commented on #268
@vlerenc the solution outlined here will also be beneficial for other cloud providers although they might just be too open for this to work at all (I am not sure they really are and we also might see improvements here in the following months). I would not implement a cloud provider specific solution as there is one that works in a generic way and is not much more difficult to implement.

As for is

[2018-07-16 10:53] marwinski commented on #178
Update: we have done some investigations and here are the results in a nutshell:

- the credentials provided by the metadata service correspond to the role in the instance profile
- all other information does not appear to be critical as it does not reveal information on the account or other instances (ec2, volumes, ...)
- the metadata service appears to be read-only - no modifications appear to b

[2018-07-17 06:36] vlerenc commented on #268
Thanks, I can work with that and have sharpened the user story and added the release notes and DoD.

[2018-07-17 06:37] vlerenc commented on #268
@marwinski Next time please be as specific as possible, otherwise the ticket will remain in limbo until it gets more clearly spec'ed out. Thanks!

[2018-07-17 07:12] vlerenc commented on #178
Thanks, I can work with that and have sharpened the user story, used the default template and added the release notes and DoD.

However, I am sceptical whether we should do that, simply because on both points the out-of-tree cloud providers might help us in a much safer way:
- EC2: Out-of-tree cloud providers will make permissions for the `kubelet` most likely obsolete and we might even drop them

[2018-07-17 07:14] vlerenc commented on #178
@marwinski Next time please be as specific as possible, otherwise the ticket will remain in limbo until it gets more clearly spec'ed out. Thanks! In regards to out-of-tree cloud providers could you please take a look and advice. I have the feeling that we shouldn't waste too much time on the first (ECR) if out-of-tree cloud providers are coming and may not do the latter (ECR), for which I don't kn

[2018-07-17 09:59] cihangirbesiktas opened #272 "Adding prometheus-operator as an addon"
We need `prometheus-operator` to be deployed on a specified namespace of our shoot clusters. Currently, we are deploying it using this [helm chart](https://github.com/coreos/prometheus-operator/tree/master/helm). To automate the installation, I am planning to add the helm chart as a shoot addon.
Implementation details:
- Adding the `prometheus-operator` helm chart to `charts/shoot-addons/charts/pr

[2018-07-17 10:07] plkokanov opened #273 "Swap math/rand with crypto/rand for password generation"
Currently basic authentication password use math/rand seeded with the current time. This still has very low entropy and should possibly be replaced with crypto/rand.

There might be other occurrences of math/rand being used in a security relevant context which should also be changed.

[2018-07-17 10:08] vlerenc commented on #272
We would rather not like to extend the add-on concept in-tree. See also @bergerx request #246. This would not be sustainable (which is why we didn't add any other add-ons anymore) and we need another approach here, if anything at all. Meaning, most cluster installers focus on the cluster installation itself - content can be added independently and the field is moving fast.

An extension concept co

[2018-07-17 10:08] #272 closed, assigned to nobody

[2018-07-17 10:11] vlerenc commented on #246
Exactly, we would rather not like to extend the add-on concept in-tree (similar request showing the effort if we continue the in-tree approach is #272). This would not be sustainable (which is why we didn't add any other add-ons anymore) and we need another approach here, if anything at all. Meaning, most cluster installers focus on the cluster installation itself - content can be added independen

[2018-07-17 10:15] plkokanov commented on #273
I'll start working on this.

[2018-07-17 15:02] vlerenc commented on #264
We investigated and found out that this is standard Kubernetes behaviour. Eventually (Kubernetes makes no clear statement) the tokens are deleted. Indeed, at the latest when we roll the seed workers and the controller managers gets rescheduled, the newly scheduled/started controller managers will cleanup the old bootstrap tokens automatically.

[2018-07-17 15:02] #264 closed, assigned to nobody

[2018-07-17 15:42] marwinski opened #275 "Reduce the Permissions in the Cloud Profile (AWS only)"
# Story

As an administrator operating a Gardener landscape I want to restrict on what I reveal about the underlying infrastructure to my users.

# Motivation

A cluster administrator user (which we provide by default) can access the cloud provider with the cloud profile user. The permissions can be found [here](https://github.com/gardener/gardener/blob/922cdbf79683a0eb40135c8ea96f924d0be5debd/cha

[2018-07-17 15:54] vlerenc commented on #275
That is a duplicate of #178 and the information above would be helpful in #178.

[2018-07-17 16:08] marwinski opened #276 "Restrict Access to Metadata Service by Default"
# Story

As a cluster administrator I want to provide clusters to my users which are secure by default and that don't leak any information that an attacker can use who is running code in the cluster. Access to the metadata service may compromise security as well as my leak information.

# Motivation

Although we tell our users of the impact of the metadata service and how to prevent possible dange

[2018-07-17 16:19] marwinski commented on #275
merged into #178

[2018-07-17 16:19] #275 closed, assigned to nobody

[2018-07-17 16:31] vlerenc commented on #275
Thanks @marwinski.

[2018-07-17 17:55] vlerenc commented on #246
See also #269 that asks for better configurability of the ingress controller. Out of band, but the same add-on, users have asked for multiple replicas for the ingress controller. These are requests that illustrate how difficult the add-on concept is right now. If we provide them, we need to provide a lot more than we have today. So either we go this path, then we need to improve the concept or we

[2018-07-18 09:23] dkistner opened #277 "Collect and expose Shoot alerts by the Gardener"
As a Shoot operator I want to be able to see the firing/pending/resolved alerts, which are referring my cluster, on a central place for example in the Gardener Dashboard.  =As Gardener operator I want to be able to see all Shoot alerts on a central place, for example in a Grafana Dashboard. As an enduser I want to have more transparency of my Shoot clusters health.

**Background**
Each Shoot has a

[2018-07-18 19:23] bergerx commented on #246
@mvladev mentioned using helm-crd but it's still experimental. I briefly did a research if there is an existing good-enough solution for this specific problem, but seems like it's being discussed all over the place and no foreseeable mainstream solution yet. I found this thread the closest possible with Helm, and seem like no one knows where to go: https://groups.google.com/forum/#!topic/kubernete

[2018-07-18 21:44] luisdavim commented on #246
What about a way to reference a list of charts to be deployed in the shoot/seed definitions and then the controller would just loop through and install them...
This would enable out-of-the-tree addons and could be implemented as a separate controller watching the shoots/seeds resources.

[2018-07-18 21:57] luisdavim commented on #246
just looked at `helm-crd` mentioned by @bergerx and @mvladev and that seams like an interesting alternative.

[2018-07-19 12:30] luisdavim commented on #246
https://github.com/weaveworks/flux could also be an alternative

[2018-07-19 12:37] marwinski commented on #178
Updated implementation proposal from issue #275.

[2018-07-19 22:46] bergerx commented on #276
Since calico is used in `Shoot`s, could the Calico's Global Network Policy Resource be an option:
 https://docs.projectcalico.org/v3.1/reference/calicoctl/resources/globalnetworkpolicy
Note that the Global Network Policy is a Calico specific resource and won't work for any other kubernetes network implementations.

[2018-07-20 18:45] vlerenc commented on #276
Wow, @bergerx, I didn't know of that, thank you, that may indeed be the solution for our Calico-run clusters!

[2018-07-20 18:49] vlerenc commented on #276
@mvladev, @alban, @dkistner, @marwinski, @swapnilgm, @amshuman-kr would you agree as well, that this would be the simplest solution to restrict access to the metadata service the fastest?

[2018-07-21 20:23] bergerx commented on #246
From https://github.com/gardener/bouquet:

[2018-07-23 08:08] luisdavim commented on #246
bouquet seems interesting but using configmaps instead of helm charts might be limiting.

[2018-07-23 13:16] #265 closed, assigned to nobody

[2018-07-23 13:22] vlerenc commented on #270
What do you think @mvladev about #255? Can't we close this one/won't it be resolved if we take your thought into account when doing #255, which we want to do anyways?

[2018-07-23 14:27] freegroup opened #281 "reference to non existing YAML"
the document [local setup](https://github.com/gardener/gardener/blob/master/docs/development/local_setup.md) contains a reference to a not existing YAML
**https://github.com/gardener/gardener/blob/master/example/secret-internal-domain.yaml**

please fix the documentation.

[code]