[2022-01-14 11:47] rfranzke commented on #5270
OK, sure, valid points. If you prefer doing the conversion with a mutating webhook then it's even better for g/g. Thanks!

[2022-01-14 13:03] rfranzke commented on #2146
I suggest to
/close
this issue for now since provider extensions like this one are implemented as separate/out-of-tree projects (e.g. https://github.com/gardener/gardener-extension-provider-gcp).

[2022-01-14 13:03] #2146 closed, assigned to nobody

[2022-01-14 13:05] rfranzke commented on #1157
/close since this issue is open since a long time without anyone picking it up or any attention at all. Feel free to reopen if you think it's adequate.

[2022-01-14 13:05] #1157 closed, assigned to nobody

[2022-01-14 13:06] rfranzke commented on #1428
/close since this issue is open since a long time without anyone picking it up or any attention at all. Feel free to reopen if you think it's adequate.

[2022-01-14 13:06] #1428 closed, assigned to nobody

[2022-01-14 13:07] rfranzke commented on #1578
/unassign @plkokanov

[2022-01-14 13:07] rfranzke commented on #1749
/close since this issue is open since a long time without anyone picking it up or any attention at all. Feel free to reopen if you think it's adequate.

[2022-01-14 13:07] #1749 closed, assigned to nobody

[2022-01-14 13:09] rfranzke commented on #2097
This issue is open since a long time without anyone picking it up or any attention at all. Does everybody agree to closing it for now since the benefits seem to be not too important valuable for now?

[2022-01-14 13:11] rfranzke commented on #2158
This issue is open since a long time without anyone picking it up or any attention at all. Do we think that this is important enough that we spend time with it within the next month (or even year)? It seems there is not too much benefit/value of splitting it up (what would be use cases for enabling just one of the plugins while disabling the other?). Maybe we should just rename it to prevent confu

[2022-01-14 13:12] rfranzke commented on #2207
@ialidzhikov I would suggest to close this issue given that the requirement can be implemented with the image vector overwrite. Apart from it, it doesn't seem to have much attention/need/value. Do you agree?

[2022-01-14 13:18] rfranzke commented on #2368
I would agree with the assumption that #4661 will relieve us significantly from the concerns we had earlier. Given that it is implemented and we haven't encountered the CPU spikes anymore since a longer time, I would also vote for
/close
ing the issue now. We can reopen/revisit if it becomes relevant again, but I don't expect it from today's point of view.

[2022-01-14 13:18] #2368 closed, assigned to nobody

[2022-01-14 13:18] rfranzke commented on #2469
/assign @shafeeqes

[2022-01-14 13:20] rfranzke commented on #2703
@ialidzhikov Can you outline what is missing for this issue or whether we still want to pursue it?

[2022-01-14 13:21] rfranzke commented on #2705
/close since this issue is open since a long time without anyone picking it up or any attention at all.

Edit: Such annotations/labels/whatever modifications seem to be required only for very specific use-cases and can be achieved by having mutating webhooks with the `gardener.cloud/role=system-component` label selector.

[2022-01-14 13:21] #2705 closed, assigned to nobody

[2022-01-14 13:24] rfranzke commented on #2790
@wyb1 Do you still plan to tackle this issue or shall we close it?

[2022-01-14 13:24] rfranzke commented on #2800
/ping @wyb1 @istvanballok

[2022-01-14 13:29] rfranzke commented on #2879
/close since this issue is open since a long time without anyone picking it up or any attention at all. Generally, I'm not sure how we would implement this since it's highly dangerous to allow arbitrary/untrusted files being mounted into the `kube-apiserver` pod running the seed clusters. Feel free to reopen if you think it's adequate.

[2022-01-14 13:30] rfranzke commented on #2884
/close since this issue is open since a long time without anyone picking it up or any attention at all. Feel free to reopen if you think it's adequate.

[2022-01-14 13:30] #2884 closed, assigned to amshuman-kr

[2022-01-14 13:31] rfranzke commented on #2950
Given that this issue is open since a long time without anyone picking it up or any attention at all, shall we close it? Or do you plan to invest into something like this @shreyas-s-rao @voelzmo?

[2022-01-14 13:32] rfranzke commented on #2976
This issue is open since a long time without anyone picking it up or any attention at all. Is it still relevant or shall we close it?

[2022-01-14 13:32] rfranzke commented on #3123
/security

[2022-01-14 13:35] rfranzke commented on #3317
/close since this issue is open since a long time without anyone picking it up or any attention at all. Feel free to reopen if you think it's adequate.

[2022-01-14 13:35] #3317 closed, assigned to nobody

[2022-01-14 13:38] rfranzke commented on #3138
/touch
Now that #5220 was promoted we could look into this issue.

[2022-01-14 13:40] wyb1 commented on #2790
We can close the issue

[2022-01-14 13:40] #2790 closed, assigned to nobody

[2022-01-14 13:40] rfranzke commented on #2097
I just noticed #3242 which might be related for considerations.

[2022-01-14 13:43] rfranzke commented on #4806
cc @dguendisch @ScheererJ
IIUC, we recently had a case where such solution (allowing operators to annotate a ManagedResource to prevent GRM from reconciling it) would be helpful, correct?

[2022-01-14 13:43] #3419 closed, assigned to nobody

[2022-01-14 13:48] rfranzke commented on #3420
This issue is open since quite a long time without anyone picking it up or any attention at all. @dkistner @kon-angelo @MartinWeindel any opinion?
IIUC, this is only relevant for OpenStack shoots < 1.19 since higher versions use CSI and wouldn't run into this issue, correct? If so, given that we have dropped support for shoots < 1.17 with #5272 while 1.17/1.18 are already rarely used/out-of-mainte

[2022-01-14 13:48] rfranzke commented on #3321
/unassign @danielfoehrKn

[2022-01-14 13:49] ScheererJ commented on #4806
@rfranzke yes, I remember a few cases where this would have helped a lot.

[2022-01-14 13:49] dguendisch commented on #4806
+1000 correct, yes, absolutely :)
Even more worse, since the GRM is responsible for the projected volume tokens, scaling down GRM temporarily (to manually modify GRM observed resources) also will block i.e. gardener managed pods in kube-system from being created
[code]

[2022-01-14 13:49] rfranzke commented on #3491
@plkokanov can you provide the current status here?

[2022-01-14 13:52] rfranzke commented on #3846
@timuthy Does this request still make sense in the light of #5270?

[2022-01-14 13:54] rfranzke commented on #3881
Can this be implemented by deleting the respective namespaces and CRDs? Would this be enough?

[2022-01-14 13:55] rfranzke commented on #4806
OK, thanks for clarifying :) Then we probably want to look into this somewhen.

/area dev-productivity

[2022-01-14 13:56] rfranzke commented on #3889
@wyb1 What about this one? There was no activity since long, do you still have plans for introducing the HVPA?

[2022-01-14 13:56] rfranzke commented on #3897
Given that there is no consensus and this activity is open since a long time without much activity, shall we close it for now? Or is this still relevant/important enough to follow-up?

[2022-01-14 13:58] rfranzke commented on #3899
Personally, I have some doubts whether the required effort justifies the resulting value, TBH. Not sure what other @gardener/gardener-maintainers think.

[2022-01-14 14:01] rfranzke commented on #4018
@ialidzhikov Why did you reopen this issue after it closed via #4216?

[2022-01-14 14:02] ialidzhikov commented on #4018
Because [#4216](https://github.com/gardener/gardener/pull/4216) was reverted with https://github.com/gardener/gardener/pull/4405.

[2022-01-14 14:07] rfranzke commented on #4083
FYI: With #5272 we have dropped support for clusters < 1.17.

[2022-01-14 14:07] rfranzke commented on #4018
Thanks!

[2022-01-14 14:07] rfranzke commented on #4084
/assign @ScheererJ

[2022-01-14 14:07] ialidzhikov commented on #4018
The agreement back then was to introduce the feature behind a feature gate to give more control to Gardener operators. With [#4216](https://github.com/gardener/gardener/pull/4216) we saw that it actually needed a lot of fixes/improvements after merging the PR (few examples https://github.com/gardener/gardener/pull/4386, https://github.com/gardener/gardener/pull/4402). IMO it would definitely make

[2022-01-14 14:10] rfranzke commented on #4123
/unassign @morremeyer

[2022-01-14 14:11] rfranzke commented on #4167
/close for now given the explanation in https://github.com/gardener/gardener/issues/4167#issuecomment-860421543, feel free to reopen if you think it's still relevant and should be discussed.

[2022-01-14 14:12] #4167 closed, assigned to nobody

[2022-01-14 14:23] rfranzke commented on #4254
OK, thanks @voelzmo, then let's
/close
this issue for now given that there is nothing left to be done.

[2022-01-14 14:23] #4254 closed, assigned to voelzmo

[2022-01-14 14:23] #5267 closed, assigned to rfranzke

[2022-01-14 14:26] rfranzke commented on #4361
The last part ("[WARN] 5.1.6 Ensure that Service Account Tokens are only mounted where necessary") should have been addressed with #5099 and #5128.

[2022-01-14 14:26] rfranzke commented on #4382
@ScheererJ @DockToFuture Is this issue/ticket still relevant/up-to-date?

[2022-01-14 14:27] rfranzke commented on #4417
Probably also related to #4251

[2022-01-14 14:28] serathius commented on #4018
https://github.com/gardener/gardener/pull/4402 looks strange. 14MiB per node seems absurd. Could you maybe describe the scalability dimensions that your are targeting?

For example MS targets https://github.com/kubernetes-sigs/metrics-server#scaling:
* 100 nodes
* 70 pods per node
* 100 Deployments
* ~7 HPA QPS

With such pod density and QPS we need:
* 1mCore CPU per node
* 2MiB Memory per node

[2022-01-14 14:29] rfranzke commented on #4433
/close since it will probably not be tackled soon. We can reopen/revisit if it becomes relevant again. Thanks!

[2022-01-14 14:29] #4433 closed, assigned to nobody

[2022-01-14 14:29] rfranzke commented on #4436
/close since it will probably not be tackled soon. We can reopen/revisit if it becomes relevant again. Thanks!

[2022-01-14 14:29] #4436 closed, assigned to nobody

[2022-01-14 14:30] rfranzke commented on #4450
@vpnachev @dimityrmirchev Is this still something you plan to do when you have time/capacity?

[2022-01-14 14:35] rfranzke commented on #4487
#4860 has moved the generic predicates (i.e., those not strictly related to extensions) to `pkg/controllerutils/predicate`. IIUC, the only thing left for this issue is eliminating the [`FromMapper` usage](https://github.com/gardener/gardener/search?q=FromMapper). Is this correct @timuthy?

[2022-01-14 14:35] timuthy commented on #3846
It's still a valid use case but we need to think about it again as with #5270 we would need a new approach to tackle this. Let's close this for now and discuss again once we implemented #5270.
/close

[2022-01-14 14:35] #3846 closed, assigned to nobody

[2022-01-14 14:38] rfranzke commented on #4570
Can we close this issue for now after #5020? Personally, I haven't observed such flakes since then.

[2022-01-14 14:39] rfranzke commented on #4578
OK, so then the open task is to remove the deprecations, correct?

[2022-01-14 14:40] rfranzke commented on #4606
/unassign @timebertt @rfranzke

[2022-01-14 14:41] rfranzke commented on #4609
@timebertt Can you provide an update here whether the fixes have helped?

[2022-01-14 14:41] timuthy commented on #2097
Hm, is it related? This issues is more about GCM triggering the maintenance.
However, no objection against closing this now because of missing attention and dev capacity.

[2022-01-14 14:45] rfranzke commented on #4735
@vlvasilev Can you please provide an update here?

[2022-01-14 14:52] rfranzke commented on #4819
/close for similar reasons as described in https://github.com/gardener/gardener/issues/2146#issuecomment-1013099275

[2022-01-14 14:52] #4819 closed, assigned to nobody

[2022-01-14 14:53] rfranzke commented on #4828
/close since I don't expect anybody to work on this soon (especially that since doesn't seem to be a frequent/widely-spread issue)

[2022-01-14 14:53] #4828 closed, assigned to nobody

[2022-01-14 14:57] rfranzke commented on #4872
Any suggestions how to proceed here?

[2022-01-14 15:02] #2097 closed, assigned to nobody

[2022-01-14 15:05] rfranzke commented on #5157
/ping @abdasgupta

[2022-01-14 15:23] rfranzke opened #5277 "Drop `Logging` feature gate in favor of gardenlet configuration"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:
The `Logging` feature gate should be deprecated and removed. Instead, the logging feature should be enabled/disabled/configured via the gardenlet configuration.

**Why is this needed**:
The feature will never be promoted given that it's an optional feature, so having introduced it in the firs

[2022-01-14 15:24] rfranzke commented on #5277
/assign @acumino

[2022-01-14 15:25] himanshu-kun commented on #4948
/close as changes on g/g are done and plan is decided for extensions

[2022-01-14 15:25] #4948 closed, assigned to nobody

[2022-01-14 15:34] rfranzke commented on #2469
/touch

[2022-01-17 06:56] timuthy commented on #4487
Yes, that's correct @rfranzke. The original intention of this issue was to just maintain one `predicate.go` file in Gardener that can be used for both gardener and extensions but I'm also fine keeping it the way it is today. Eliminating the `FromMapper` usage becomes then only a nice-to-have code consistency.

[2022-01-17 07:03] rfranzke commented on #4487
OK, thanks @timuthy, sounds reasonable, then let's do it this way and close the issue afterwards.
/title Eliminate the `predicate.FromMapper` usage to ensure code consistency

[2022-01-17 07:50] timebertt commented on #4570
Same here.
/close

[2022-01-17 07:50] #4570 closed, assigned to nobody

[2022-01-17 08:00] #4823 closed, assigned to rfranzke

[2022-01-17 08:15] timebertt commented on #3897
I don't see enough priority/urgency to work on this right now. However, I think we will definitely revisit the topic of improving the operator's view on landscape issues.
I would vote for closing the issue for now, as we will anyways have to start brainstorming again, when it becomes more relevant.

[2022-01-17 08:16] rfranzke commented on #3897
Sounds reasonable, thanks for a second opinion!
/close

[2022-01-17 08:16] #3897 closed, assigned to nobody

[2022-01-17 08:33] grolu commented on #3846
I just want to make clear that it is not only about adding the possibility to reference secrets from another namespace. It is also behaving differently than the shoot secrets, therefore the Dashboard secret handling is kind of hacky atm. We need to create a secret binding resource even if we cannot use them in the spec, so users could be very confused why a secret binding resource is required for

[2022-01-17 08:34] grolu commented on #5270
Please see also my comment about using secret binding resources: https://github.com/gardener/gardener/issues/3846#issuecomment-1014262097

[2022-01-17 08:55] timebertt commented on #5270
Thanks @timuthy and @rfranzke for your considerations here. I like your proposals and what you already agreed on :)
One question about this step:

I currently only see the `dns.gardener.cloud/compound` finalizer on `DNSProvider` objects. I assume, it is added by the dns-controller-manager. So what do you mean by "gardenlet [...] removing its finalizer"?

[2022-01-17 08:59] timebertt commented on #3899
+1 to @rfranzke

[2022-01-17 09:03] timebertt commented on #4806
Hmm, wouldn't it be enough to make sure, grm respects the respective `*max-concurrent-workers` flags so that operators can "scale down" the MR controller?
I think, it's not respected because of some missing plumbing. So that should be way easier to fix/implement and maintain than a "lock annotation".

Would this be enough for the cases that you have in mind @dguendisch @ScheererJ?

[2022-01-17 09:08] timebertt commented on #2158
Renaming would be an option FMPOV.
Splitting would additionally provide a better separation of concerns. The lack of it has not only caused confusion but also some bugs in the past, if I remember correctly.

[2022-01-17 09:13] dguendisch commented on #4806
One thing is to be able to "scale down" MR handling at all. In the past this was possible by scaling down GRM, so setting some startup flag would do equally well.

However the feature of "selectively" disabling certain MRs or even better like described in this ticket on the affected actual resource (like a daemonset) would be super handy because this is the usual task: recognizing that something c

[2022-01-17 09:20] acumino commented on #5192
/priority 2

[2022-01-17 09:21] acumino commented on #5192
/priority 2

[2022-01-17 09:31] BeckerMax commented on #2965
Next step is to run Gardener locally with the `-race` flag. Create a few Shoots and then look at the findings. Compile the findings of the race detector and see wether they are actionable. Post the findings into this issue.

[2022-01-17 09:31] BeckerMax commented on #2965
/priority 3

[2022-01-17 09:34] timebertt opened #5281 "resource-manager does not respect `--max-concurrent-workers`"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:

`--max-concurrent-workers` was set to `0`, but resource-manager kept reconciling `ManagedResources`.

**What you expected to happen**:

resource-manager to respect its flags.

**How to reproduce it (as minimally and precisely as possible)**:

1. Prepare the environment
[code]
2. Start resource-manager
[code]
3

[2022-01-17 09:34] timebertt commented on #4806
Ok, thanks for your thoughts.

I'm also a bit torn on this, so I can't form a clear opinion ATM. This should definitely considered more, when we start working on this topic.

For now, I opened https://github.com/gardener/gardener/issues/5281 about the bug I mentioned. This should be a long-hanging fruit which we can focus on first.

[2022-01-17 09:35] acumino commented on #3794
In general we don't recommend to use latest tag. For gardener the latest tag is pointed at the most recent updated image and it can be hot fix or minor branch.

[2022-01-17 09:35] #3794 closed, assigned to nobody

[2022-01-17 09:40] rfranzke commented on #4806
I think we should just allow excluding an entire `ManagedResource` from reconciliation (via annotation in the `Seed`) and not particular resources. This should be good enough for such "corner cases".

[2022-01-17 09:55] timuthy commented on #5281
Btw. this is true for nearly every controller we set up with Controller-Runtime.

See https://github.com/kubernetes-sigs/controller-runtime/blob/0a3dd2a36dd971ea2fdcb163b0457e6be0d315bd/pkg/controller/controller.go#L112

[2022-01-17 09:58] #5185 closed, assigned to nobody

[2022-01-17 09:59] timebertt commented on #4609
Definitely :)

Well, the fixes have helped in a sense, that we don't leak as many goroutines anymore. However, we still see a memory leakage in gardenlet nevertheless.

@ialidzhikov pointed out, that there is a memory leak in the client-go workqueue library, which is fixed in https://github.com/kubernetes/kubernetes/pull/104991. It is included in `v1.23.0` and will be part of the next patch releas

[2022-01-17 10:28] timebertt opened #5282 "Upgrade k8s.io/* to v0.23, sigs.k8s.io/controller-runtime to v0.11"
**How to categorize this issue?**

**What would you like to be added**:

We should upgrade to the latest versions of our go upstream dependencies:
- `sigs.k8s.io/controller-runtime@v0.11.x`: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.11.0
- `k8s.io/*@v0.23.x`
- `sigs.k8s.io/controller-tools@v0.8.x`: https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.8.0

[2022-01-17 10:34] MartinWeindel commented on #5270
My mistake. You are right, only the dns-controller-manager is adding a finalizer. Transferring ownership to the extension does not need any action from the Gardenlet. The `DNSProvider` should be left as it is and the extension takes care of updating or deleting it.
Can we use the annotation `gardener.cloud/timestamp` to identify `DNSProviders` created by the Gardenlet?

[2022-01-17 11:05] timuthy commented on #5270
As discussed offline, we can use the `managed-dns-provider` role label for the clean-up logic that Gardenlet already uses today ([ref](https://github.com/gardener/gardener/blob/0f631393bda799f92d0c404bd5d3556a975a522d/pkg/operation/botanist/dns.go#L309)).

[2022-01-17 14:23] ialidzhikov opened #5283 "Shoot wrongly marked with error codes when MachineDeployment is unhealthy"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:

Shoot had the following condition:

[code]

The Shoot/condition is wrongly marked with error codes `ERR_INFRA_INSUFFICIENT_PRIVILEGES` and `ERR_INFRA_QUOTA_EXCEEDED`.

The MachineDeployment status (the unhealthy one):

[code]

After some time the status of the Worker transitioned to:
[code]

Note that error codes are n

[2022-01-17 14:31] ialidzhikov commented on #5283
Looks like this one was fixed by https://github.com/gardener/gardener/pull/4885. It is included in v1.34.0 while provider-azure@v1.22.0 vendors v1.32.0.

/close

[2022-01-17 14:31] #5283 closed, assigned to nobody

[2022-01-18 08:11] #2469 closed, assigned to shafeeqes

[2022-01-18 08:34] ialidzhikov opened #5285 "Shoot creation fails with `no matches for kind "Deployment" in version "apps/v1"`"
**How to categorize this issue?**

/area ops-productivity quality
/kind bug
/priority 2

**What happened**:
After the rollout of v1.38 we regularly see on a daily basis Shoot creation/deletion errors that fail with:
[code]

[code]

**What you expected to happen**:
Shoot creation/deletion to succeed as expected.

**How to reproduce it (as minimally and precisely as possible)**:
Not clear for now.

[2022-01-18 09:34] acumino commented on #5192
/assign

[2022-01-18 09:54] rfranzke commented on #5285
cc @timebertt - Did we change anything related to the REST mapper? 👀

[2022-01-18 10:24] timuthy commented on #5285
We also see messages for other kinds, so it leads more and more to REST mapper or discovery.
[code]

[2022-01-18 15:11] dimityrmirchev commented on #4450
No, this will not be implemented for the time being so I guess we can close the issue. Maybe @donistz can share a bit more info about an alternative solution.

[2022-01-18 15:22] rfranzke commented on #5285
Together with @timebertt we shortly looked into this and thought that it might be related to #5012. With this PR, the [`gardeneraccess` component](https://github.com/gardener/gardener/blob/master/pkg/operation/botanist/component/gardeneraccess/access.go) was introduced which first creates shoot access secrets for gardenlet and second a `ManagedResource` containing a `ClusterRoleBinding` for provid

[2022-01-18 15:29] rfranzke commented on #4450
OK, thanks for clarification. I saw there is parallel work going on in the provider extensions allowing end-users to drop their cloud provider credentials entirely while using those "centrally-managed" credentials provided by Gardener operators:

- https://github.com/gardener/gardener-extension-provider-azure/pull/401
- https://github.com/gardener/gardener-extension-provider-gcp/pull/365

The serv

[2022-01-18 15:29] donistz commented on #4450
The alternative solution for the Gardener service authentication to consumer IaaS accounts/subaccounts/projects is called "central service account". It will be implemented in the IaaS extensions as an alternative to the static service account credential configured by the Gardener service consumers. Here are some details:
GCP : https://github.com/gardener/gardener-extension-provider-gcp/issues/362

[2022-01-18 17:09] ialidzhikov commented on #4747
Any news @vlvasilev ?

[2022-01-19 06:43] acumino commented on #5180
/assign

[2022-01-19 07:04] acumino opened #5291 "Improve the CIDR disjointedness check of shoot and seed network"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:
Currently it is possible the create a shoot cluster with the IP ranges of shoot pods same as IP ranges of seed nodes, but this is not a correct configuration and the shoot will fail. The checks here are not complete: https://github.com/gardener/gardener/blob/4dde96a5994f181a998e59831aacdcaab8246b48/pkg/utils/validati

[2022-01-19 07:49] BeckerMax opened #5292 "GCM: DPANIC odd number of arguments passed as key-value pairs for logging"
**How to categorize this issue?**

/kind bug

**What happened**:
Since https://github.com/gardener/gardener/pull/5268 in the current master the logs of the KCM show for every controllerinstallation:
[code]

cc @timebertt

**Environment**:

- Gardener version: master

[2022-01-19 07:58] timebertt commented on #5292
I will check, if we can come up with some hack script that verifies an even number of logging args.

[2022-01-19 08:04] rfranzke commented on #3899
Then let's
/close for now.

[2022-01-19 08:04] #3899 closed, assigned to nobody

[2022-01-19 08:48] #5292 closed, assigned to timebertt

[2022-01-19 09:28] BeckerMax opened #5295 "Shoots registered as Seeds do not get Seed conditions updated"
**How to categorize this issue?**

/kind bug

**What happened**:
Shoots registered as Seeds sometimes do not get Seed conditions updated.
This results in the Seed resource to have a mismatch in conditions with the corresponding Shoot resource leading to Shoots falsely reporting as healthy or non-healthy. The dashboard relies on the conditions in the Shoot and therefore will display healthiness pot

[2022-01-19 09:28] BeckerMax commented on #5295
/assign

[2022-01-19 09:56] ialidzhikov opened #5296 "Creation of hibernated Shoot fails"
**How to categorize this issue?**

/area quality dev-productivity ops-productivity
/kind bug

**What happened**:
Creation of hibernated Shoot failed.

**What you expected to happen**:
Creation of hibernated Shoot to succeed as before.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Shoot with `spec.hibernation.enabled=true`

[code]

2. Make sure that the creation fa

[2022-01-19 10:38] ialidzhikov opened #5298 "Validate workers max count vs max Nodes count allowed by the Pods CIDR"
**How to categorize this issue?**

/area networking ops-productivity
/kind enhancement

**What would you like to be added**:
Validation whether the configured worker pools max Nodes count does not exceed max Nodes count allowed by the Pods CIDR. The Pod network calculations that has to be considered are described in https://github.com/gardener/gardener/blob/v1.38.3/docs/usage/shoot_networking.md.

[2022-01-19 13:11] rfranzke commented on #5296
/assign

[2022-01-19 15:11] timebertt opened #5301 "Consider adding API diff script to detect go signature changes"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement

**What would you like to be added**:

We could consider adding a script similar to what is added in https://github.com/kubernetes/utils/pull/158.
It could be used to detect that PRs are changing exported interfaces, types, or method signatures in incompatible ways.

**Why is this needed**:

In the past year, we had many b

[2022-01-19 15:29] ialidzhikov commented on #5285
Nope, I don't see forbidden errors in the gardenlet logs.

That's very interesting finding actually. For 1 of the occurrences I was able to fetch the available api resources with `k api-resources` and verify that all core api resources are available. Looks like in theory this rediscovery thing should work but in practice for some reason it does not.

[2022-01-20 10:15] timebertt commented on #5285
I won't have much time left to look into this issue today because of other tasks that came up, so I will do it tomorrow, if nobody else finds time for it earlier than me.

[2022-01-20 11:45] timebertt commented on #5295
@BeckerMax and I looked into this problem and we recognized two problems in the shoot condition controller, that can lead to the described behavior under certain circumstances:
1. `filterSeedForShootConditions` doesn't evaluate to `true` for `Add` events. This is relevant for situations, where the `Seed` reflector looses the watch connection and has to do a full relist. In this case, the informer

[2022-01-20 12:09] acumino commented on #5291
/assign

[2022-01-20 12:09] acumino commented on #4576
/assign

[2022-01-20 12:10] acumino commented on #4578
/assign

[2022-01-20 12:40] timuthy commented on #5295
Thanks for the detailed description @timebertt.

Is there any further mitigation planned? How about additional periodic re-syncs (see [comment](https://github.com/gardener/gardener/pull/5013#discussion_r751971488))?

[2022-01-20 12:58] BeckerMax commented on #5295
For problem number 2. we discussed switching the update strategy from `Patch` with `strategicMergePatch` to `Update` when [updating the shoot conditions](https://github.com/gardener/gardener/blob/6159c839ded65dc64ab9bc8f742ee9117efc7642/pkg/controllermanager/controller/shoot/shoot_conditions_control.go#L140). This ensures that the shoot object in the cache is up-to-date otherwise it will be retrie

[2022-01-20 13:28] #5296 closed, assigned to rfranzke

[2022-01-20 13:28] #4576 closed, assigned to acumino

[2022-01-20 15:33] timebertt commented on #5295
For problem 1, I would additionally make sure that the predicates evaluate to true for add events in any case (e.g. because of restarts or reflector relists).

I would not add manual periodic resyncs as already discussed in the referenced PR comment. Instead we should make sure, that the predicate evaluates to true for the cache periodic resync, i.e. for update events with unchanged `resourceVersi

[2022-01-21 06:47] acumino commented on #4807
Similar change is required in -

gardener-scheduler
gardener-apiserver
gardener-controller-manager
gardener-resource-manager

Will all these be refactored like GSAC in #3459, then required changes can be made in that PR only and we can close this issue?
@rfranzke @timebertt

[2022-01-21 07:15] rfranzke commented on #4807
- `gardener-scheduler` and `gardener-resource-manager` are already native controller-runtime components.
- The plan is to also refactor `gardener-controller-manager` and `gardenlet` as part of #4251, however, this will probably take a bit more time. Hence, probably it makes sense to fix it already now if it is a simple change as proposed in https://github.com/gardener/gardener/issues/4807#issuecom

[2022-01-21 07:20] acumino commented on #4807
Thanks, I will make the required changes.

[2022-01-21 08:24] timebertt commented on #5295
I dug a bit deeper into the cache resync topic, so here is some additional information for documentation purposes:
- cache resyncs don't involve an API call (they only process all object's in the store on the client-side and `Sync` events to the cache's internal queue, see [reflector.go](https://github.com/kubernetes/client-go/blob/a4e27104a2f8f5d3965f1520f74a190eba1ad221/tools/cache/reflector.go#

[2022-01-21 12:39] acumino commented on #4807
/assign

[2022-01-21 13:32] timebertt commented on #5285
It seems, I don't have enough information/time for now to debug this issue further.
We should take another at it, when the problem reoccurs.

[2022-01-21 13:47] #5295 closed, assigned to BeckerMax

[2022-01-21 13:48] #4807 closed, assigned to acumino

[2022-01-24 09:17] acumino commented on #5164
@timebertt,  I tried to reproduce it many times and it worked as expected. Are you still facing this issue?
While deleting the seed was your GCM also running?

[2022-01-24 09:28] ialidzhikov commented on #4827
/assign

[2022-01-24 12:02] ScheererJ commented on #4578
From my perspective: Yes.

[2022-01-24 12:41] timebertt opened #5310 "Enable more e2e tests in presubmits and periodics"
**How to categorize this issue?**

/area testing dev-productivity quality
/kind enhancement

**What would you like to be added**:

In the context of https://github.com/gardener/gardener/issues/5024, we added an e2e job that runs for PR verification and periodically on `master`: https://github.com/gardener/ci-infra/pull/20
Currently, [gardener-e2e-kind jobs](https://prow.gardener.cloud/?job=*-garde

[2022-01-24 12:41] timebertt commented on #5310
/assign @rfranzke @timebertt
/in-progress

[2022-01-24 13:08] timebertt opened #5311 "Upgrade to ginkgo v2"
**How to categorize this issue?**

/area testing dev-productivity
/kind enhancement

**What would you like to be added**:

Upgrade our ginkgo dependency to [v2](https://github.com/onsi/ginkgo/releases/tag/v2.0.0).
There is a [migration guide](https://onsi.github.io/ginkgo/MIGRATING_TO_V2) available describing all the new features and breaking changes.

**Why is this needed**:

- with the release o

[2022-01-24 13:09] timebertt commented on #5311
/assign
/in-progress

[2022-01-24 18:53] rfranzke commented on #4806
/title Allow excluding `ManagedResource`s from reconciliation

[2022-01-24 18:54] rfranzke commented on #5281
Given that this works "as designed" (see @timuthy's link), we agreed
/close
ing this issue for now. As the goal of this request is probably similar to https://github.com/gardener/gardener/issues/4806, let's rather focus on this.
If you feel we should still support a `--disable-controller` flag (similar to what we support for the extensions library) then kindly open a new issue.

[2022-01-24 18:54] #5281 closed, assigned to nobody

[2022-01-24 20:22] #4578 closed, assigned to acumino

[2022-01-25 05:01] shafeeqes commented on #4561
/assign

[2022-01-25 06:56] ary1992 commented on #4527
/assign

[2022-01-25 07:38] voelzmo commented on #5102
Note: 1.23.2 has a regression regarding x-kubernets-preserve-unknown-fields when being used on arrays: https://github.com/kubernetes/kubernetes/pull/107688 This is fixed in >= 1.23.3

[2022-01-25 09:02] acumino commented on #5277
I synced with @ialidzhikov and we decided to follow this approach:

Step 1: Deprecate the `logging` feature gate and keep it for a few more versions for backward compatibility as all of our landscapes explicitly enable this feature gate.
Introduce a new subfield `enabled` in `logging` field of  `GardenletConfiguration` for globally enabling and disabling logging and keeping its default value to fa

[2022-01-25 09:04] rfranzke commented on #5277
Why? It's alpha and we can easily drop it without breaking any promises. We do the same for the component configurations, I don't see a difference here. Shouldn't we make this less complex and rather work with a "breaking" release note asking folks to adapt their configuration?

[2022-01-25 09:24] ialidzhikov commented on #5277
The general idea was to make it a little bit more graceful. If we drop the feature gate, then with the gardener version update the gardener operator has to adapt to the breaking change right away. If we make it with the deprecation and backwards-compatibility handling, then this adaptation can be done in a later point in the time (does not strictly depend on the gardener version update).
In short,

[2022-01-25 14:54] hendrikKahl opened #5316 "DNS records fails with invalid credentials"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:
The deletion of dns records (external, ingress) fails with an error message, stating that the credentials are invalid.
This happens in the context of credential rotation and it looks like changes to the secret are not properly replicated to dns resource in the shoot namespace on the seed.

**What you expected to happ

[2022-01-25 17:20] timebertt opened #5321 "Adapt gardener test framework reporter to ginkgo's new reporting infrastructure"
**How to categorize this issue?**

/area testing
/kind enhancement

**What would you like to be added**:

As a follow up on https://github.com/gardener/gardener/issues/5311, we need to get rid of our usage of the deprecated custom reporting "compatibility layer", as mentioned in https://github.com/gardener/gardener/pull/5313/commits/3b548efd49086264eb4bed5aff2c62cd1cc9e4ee.

Our custom reporter in

[2022-01-25 17:20] timebertt commented on #5321
cc @gardener/test-infra-maintainers
@hendrikKahl, I would highly appreciate, if you could take over this task. Would you be up to it?

[2022-01-26 07:33] #5311 closed, assigned to timebertt

[2022-01-26 07:57] acumino commented on #5192
The issue seems to be same as 2nd point mention in this comment https://github.com/gardener/gardener/issues/5295#issuecomment-1017415479.

[2022-01-26 10:14] timuthy commented on #5270
I noticed another thing: The `gardener/gardener-extension-shoot-cert-service` extension or the backing `gardener/cert-management` component uses DNS01 challenges by creating `DNSEntries`. This will result in a direct dependency from `gardener/gardener-extension-shoot-dns-service` to `gardener/gardener-extension-shoot-cert-service` when the DNS capabilities are removed from `gardener/gardener`. (cc

[2022-01-26 12:22] rfranzke commented on #5270
Good catch @timuthy, I think that's fair (to build an extension on top of the functionality of another extension). We should clearly document this in `gardener/gardener-extension-shoot-cert-service` and potentially add some start-up checks to ensure the `gardener/gardener-extension-shoot-dns-service` extension is installed as well (for example, it could check whether the `dns.gardener.cloud/v1alph

[2022-01-26 13:34] ialidzhikov opened #5323 "`shootHasBastions` check is wrong - it checks for a random Bastion in the Project namespace"
**How to categorize this issue?**

/area quality ops-productivity
/kind bug

**What happened**:
Currently `shootHasBastions` func checks whether there is any Bastion in the Project namespace.

https://github.com/gardener/gardener/blob/c2276016229f9e49dcc4652e9ad8b652e7d0f64e/pkg/gardenlet/controller/shoot/shoot_control.go#L452-L462

The following check for Bastions associated to Shoots also seems

[2022-01-26 13:50] rfranzke opened #5325 "Use `systemd` as cgroup driver"
**How to categorize this issue?**

/area open-source
/kind enhancement

**What would you like to be added**:
With https://github.com/gardener/gardener/pull/5255 we have switched the cgroup driver from `cgroupfs` to `systemd` for shoots >= 1.23. However, this change was reverted with https://github.com/gardener/gardener/pull/5324.

Let's look into that the consequences of this change are, how the c

[2022-01-26 17:53] rfranzke commented on #4739
/close as this was done as part https://github.com/gardener/gardener/issues/5102

https://github.com/gardener/gardener-extension-provider-alicloud/issues/202 remains open since there is a follow-up task w.r.t. the elimination of the `--provider-id` flag (see [details](https://github.com/gardener/gardener-extension-provider-alicloud/issues/202#issuecomment-1022443917)).

[2022-01-26 17:53] #4739 closed, assigned to rfranzke

[2022-01-27 08:52] shafeeqes commented on #4932
/assign

[2022-01-27 09:20] timebertt commented on #5164
I can't reproduce this anymore as well. The namespace has an owner reference to the seed, so the namespace is cleaned up after the seed has been deleted.
There must have been some weird circumstances, when it happened back then. But I can't remember, so
/close

[2022-01-27 09:20] #5164 closed, assigned to nobody

[2022-01-27 10:44] timebertt opened #5336 "Landscaper code is not linted"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:

`make check` does not include the `landscaper` package hierarchy. Hence, landscaper-related code is not linted at all.

https://github.com/gardener/gardener/blob/f60def6b1c34456e4b2aa1ea81a92fb0d3c51b47/Makefile#L208-L209

`./hack/check.sh ./landscaper/...` reveals a ton of unresolved issues:

[code]

**What you expect

[2022-01-27 17:19] #5180 closed, assigned to acumino

[2022-01-27 17:19] #5291 closed, assigned to acumino

[2022-01-27 17:20] #4561 closed, assigned to shafeeqes

[2022-01-27 17:41] danielfoehrKn commented on #5336
thanks, good point. I wrongly assumed it is covered but have not checked it.
I'll open a PR for that.

/assign

[2022-01-28 05:36] acumino commented on #4932
/assign

[2022-01-28 08:33] #4484 closed, assigned to plkokanov

[2022-01-28 08:53] rfranzke commented on #4723
@ary1992 @shafeeqes I have looked into this again and I propose the following:

The [`gardenlet` configuration](https://github.com/gardener/gardener/blob/master/example/20-componentconfig-gardenlet.yaml) already allows configuring the `syncJitterPeriod`: https://github.com/gardener/gardener/blob/179cf336ce5cfaa8dc3b0ef08ea1aba87ee0765c/example/20-componentconfig-gardenlet.yaml#L68-L72

Instead of

[2022-01-28 11:32] BeckerMax commented on #5192
Looking into this with @acumino we investigated this bug. It looks like parallel reconcilations can cause a race condition which leads to the annotation being wrongfully added to the namespace. Timeline of the race condition:

- project gets created and AddEvent is triggered, reconcilation starts
- The project is patched multiple times in the reconcilation flow. First to add [finalizers](https://g

[2022-01-28 14:42] rfranzke commented on #5192
@BeckerMax @acumino Thanks a lot for this analysis! When I read it for the first time, I had the feeling you assumed that there can be two parallel reconciliations for the same `Project`. However, the queue ensures that there is only at most one reconciliation for the same object at any given point in time. Anyways, it doesn't matter much.

In short, I think the problem is: Due to the fact that we

[2022-01-28 15:13] timebertt commented on #5270
Small addition:
Once, the `DNSProvider` capabilities are moved, we should stop accepting `DNSProvider` in `core.ControllerRegistration.Spec.Resources[].Kind`.
There is probably some more code related to references to `DNSProvider` in `ControllerRegistrations` that can be cleaned up as well. For example, we can cleanup some stuff in `pkg/gardenlet/controller/extensions`.

[2022-01-28 17:25] mikednight opened #5343 "Gardener cannot reconcile due to certificate error " x509: certificate signed by unknown authority""
closed in favor of internal SAP ticket, did not know there was an internal repo

[2022-01-28 17:37] #5343 closed, assigned to nobody

[2022-01-28 18:36] petersutter opened #5344 "Bastion finalizer can't be removed if corresponding Shoot is in deletion"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
Bastion finalizer can't be removed if corresponding Shoot is in deletion.
When trying to remove the finalizer using `kubectl`, I see the following error message:
[code]

**What you expected to happen**:
I should be able to remove the finalizer on the bastion

**How to reproduce it (as minimally and precisely as possible

[2022-01-28 18:37] petersutter commented on #5344
/assign

[2022-01-28 19:04] petersutter opened #5346 "Update status in case Bastion blocks Shoot deletion"
**How to categorize this issue?**

/area quality
/kind bug

**What happened**:
`Shoot` deletion is blocked in case there are still `Bastions` for this `Shoot`
`{"level":"info","msg":"Error syncing Shoot garden-core/delete-test2: shoot has still Bastions","ts":"2022-01-26T12:50:47.384Z"}`
The Info is logged but the reason is not apparent on the `Shoot` state.

https://github.com/gardener/gardener/b

[2022-01-30 00:07] acumino commented on #5192
I investigated more in this issue. Here are the findings:

Yes, That's true. But,
- The project is patched multiple times in the reconciliation flow. First to add [finalizers](https://github.com/gardener/gardener/blob/818052a3ff3b741d5fe223517d8720fcdd7e9bc4/pkg/controllermanager/controller/project/project_control_reconcile.go#L46) then to update the [status](https://github.com/gardener/gardener/b

[2022-01-30 18:20] ary1992 commented on #4723
/assign

[2022-01-31 05:18] ialidzhikov commented on #5323
/assign

[2022-01-31 07:52] timebertt opened #5350 "ControlPlane migration test is wrongfully adding `BeforeSuite` in `Describe`"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:

@vpnachev reported in https://github.com/gardener/gardener/pull/5313#issuecomment-1024080188, that the control plane migration test is no longer able to be executed successfully after the upgrade to ginkgo v2.
That's because ginkgo doesn't allow to add `BeforeSuite` calls inside container nodes like `De

[2022-01-31 07:53] timebertt commented on #5350
@kris94 @plkokanov can you take care to resolve this issue?

[2022-01-31 09:31] plkokanov commented on #5350
Thanks, I saw it last week as well but missed submitting it as an issue 😅. I think that just replacing the `CBeforeSuite` with a `BeforeEach` should be good enough solution.

[2022-01-31 10:10] plkokanov opened #5352 "Reversed VPN certificates are not recreated when they were signed with an old CA"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
When the `ReversedVPN` feature gate is enabled the shoot cluster reconciliation can fail with the following error:
[code]

This is caused because the `kube-apiserver-http-proxy` secret is signed by a wrong certificate authority that has `CN=kubernetes`, whereas the dedicated CA for the reversed VPN secrets has `CN

[2022-01-31 10:10] plkokanov commented on #5352
/assign

[2022-01-31 10:43] MartinWeindel opened #5353 "Bastion object for foreign shoot in same project blocks shoot deletion"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
I wanted to delete a shoot cluster, but the deletion was blocked with an error in the gardenlet log
[code]
There is no bastion object for this shoot, but only for another one:
[code]

**What you expected to happen**:
The shoot cluster deletion is not blocked by a bastion of a foreign shoot in the same project name

[2022-01-31 10:45] ialidzhikov commented on #5353
Duplicate of https://github.com/gardener/gardener/issues/5323.
/close

[2022-01-31 10:45] #5353 closed, assigned to nobody

[2022-01-31 11:07] acumino commented on #5192
Looking into this with @rfranzke and @BeckerMax we had the following findings -

Scenario 1: When the first reconciliation is able to complete successfully but the second reconciliation reads the object from the non-updated cache.
- As described in https://github.com/gardener/gardener/issues/5192#issuecomment-1025011615 the cache issue can occur even though we are fetching the object in the next r

[2022-01-31 11:31] shafeeqes commented on #5316
/assign

[2022-01-31 14:02] ALNBAND opened #5355 "BoundServiceAccountTokenVolume - control time"
HI,

We plan to do upgrade to k8s 1.22.x and for 1.21.x we use the feature gate `BoundServiceAccountTokenVolume : false`
As it seems that the default is true for 1.22 when using gardener , how we can increase the token expiration time?

[2022-01-31 14:08] petersutter commented on #5346
/assign

[2022-01-31 14:59] #5352 closed, assigned to plkokanov

[2022-01-31 15:13] rfranzke commented on #5355
Generally, as indicated in the issue template, for support/questions please reach out to the public [#gardener](https://kubernetes.slack.com/archives/CB57N0BFG) Slack channel.

/close

As for your question: The `BoundServiceAccountTokenVolume` was promoted to GA with Kubernetes 1.22 (unrelated to Gardener), hence, it's enabled by default.
Your specific question is more related to Kubernetes, so I

[2022-01-31 15:13] #5355 closed, assigned to nobody

[2022-01-31 15:24] rfranzke opened #5357 "Failing system components are not reported in `ManagedResource` and `Shoot` conditions"
**How to categorize this issue?**

/area robustness ops-productivity monitoring
/kind bug

**What happened**:
We saw failing `kube-proxy` `Pod`s in a `Shoot`'s `kube-system` namespace. Their `status`es were as follows:

[code]

The `DaemonSet`s `status`es were as follows:

[code]

However, the `shoot-core` `ManagedResource` in the shoot's namespace in the seed was not reporting any issues:

[code]

[2022-01-31 15:24] rfranzke commented on #5357
/cc @shafeeqes

[2022-01-31 15:45] ALNBAND commented on #5355
@rfranzke - From here you can see that the feature gate marked for deletion in 1.23, this is what make the confusion...
https://github.com/kubernetes/kubernetes/pull/101992

So those values will influence the token rotation time for `BoundServiceAccountTokenVolume` ?
[code]
As the default with this future now is 1 hour and we want to change it to 1 month...

[2022-01-31 15:51] rfranzke commented on #5355
Can you explain how you would configure this via Kubernetes (when you had direct control to the `kube-apiserver`, `kube-controller-manager`, etc. deployments)?

[2022-01-31 16:07] ALNBAND commented on #5355
@rfranzke Not sure I understand your question, this is not something that  should be control in general ? e.g. the way I remove it via featureGate I suppose that there is a way to configure it globally for all the SA volume? isn't it ?

[2022-01-31 16:16] rfranzke opened #5358 "Provider Extensions can block shoot deletion due to orphaned resources related to `ControlPlane`s"
**How to categorize this issue?**

/area dev-productivity
/kind bug

**What happened**:
The `ControlPlane` reconciliation part of the generic actuator typically [reconciles shoot webhooks](https://github.com/gardener/gardener/blob/ca661c0502eb1f885a2ac3793913025788d5102d/extensions/pkg/controller/controlplane/genericactuator/actuator.go#L264-L268).
This creates a `NetworkPolicy`, a `ManagedResourc

[2022-01-31 16:16] ALNBAND commented on #5355
@rfranzke  - I mean the rotation time for service account

[2022-01-31 16:16] rfranzke commented on #5358
/cc @shafeeqes

[2022-01-31 16:19] rfranzke commented on #5355
I don't know. As said, this is something specific to Kubernetes and I suggest to follow up with their community to clarify this question. If it is possible then I suspect it is some CLI flag that needs to be set when starting `kube-apiserver` or `kube-controller-manager`.

This is why I asked

If you can tell me how this works I can tell you whether it is possible via Gardener. If it is not possib

[2022-01-31 16:23] rfranzke opened #5359 "Improve CoreDNS deployment for multi-zonal shoot clusters"
**How to categorize this issue?**

/area high-availability networking
/kind enhancement

**What would you like to be added**:
From a report of an end-user:

**Why is this needed**:

[2022-01-31 16:23] rfranzke commented on #5359
/cc @ScheererJ @DockToFuture

@DockToFuture already replied (out-of-band) as follows:

[2022-02-01 06:22] shafeeqes commented on #5357
/assign

[2022-02-01 06:43] istvanballok commented on #2800
My latest info is that the cadvisor component is (currently) not exposing some metrics if the container runtime is containerd. This is the reason why the panels are empty on the screenshot above. cc @voelzmo

[2022-02-01 07:09] rfranzke opened #5362 "Locked feature gates are not validated"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:
We have seen cases where end-users were disabling feature gates and later upgrading to a Kubernetes version which does no longer allow disabling such feature gates (because they were promoted to GA and are 'locked' now).

This resulted in a crash-looping `kube-apiserver`:

[code]

If end-users now delete the `S

[2022-02-01 07:32] timuthy commented on #5359
We might also want to consider [pod topology spread constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) to achieve this.

[2022-02-01 07:37] rfranzke opened #5363 "`loki-0` pod is stuck in `ContainerCreating` for a long time when shoot node logging is enabled"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:
When the shoot node logging feature is enabled then the `kube-rbac-proxy` container is part of the `loki` `StatefulSet` deployed in shoot namespaces in the seed clusters.
However, with #5010, the `kube-rbac-proxy` relies on a token issued by the `TokenRequestor` controller part of `gardener-resource-manager`.

[2022-02-01 07:54] rfranzke opened #5364 "Extend error code mapping for user issues"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What would you like to be added**:
We should extend our error code mapping to cover user issues like this one:

[code]

**Why is this needed**:
Reduce ops effort.

[2022-02-01 08:25] dguendisch commented on #5363
For me the complexity of deploying loki twice wouldn't be worth the effort. Also customers rarely ask us to provide an RCA if cluster creation was failing (for some time). So usually we investigate failed cluster creations when the failing situation is still present in which case we have enough k8s resources to analyze and then typically don't need loki.
Hence +1 on deploying it after GRM (in the

[2022-02-01 08:29] rfranzke opened #5368 "Use field selector for `.spec.shootRef` in `Bastion`s"
**How to categorize this issue?**

/area scalability dev-productivity
/kind enhancement

**What would you like to be added**:
Let's use a field selector for `.spec.shootRef` in `Bastion`s for a better filtering, see e.g. https://github.com/gardener/gardener/blob/90a91baf801a320ba7b88d3979876b52f7e71353/pkg/controllermanager/controller/bastion/bastion_control.go#L68 or https://github.com/gardener/g

[2022-02-01 08:30] #5323 closed, assigned to ialidzhikov

[2022-02-01 08:38] #4827 closed, assigned to ialidzhikov

[2022-02-01 09:28] rfranzke commented on #4772
/assign @acumino

[2022-02-01 09:29] rfranzke commented on #5282
/assign @acumino

[2022-02-01 14:39] #5192 closed, assigned to acumino

[2022-02-01 15:19] rfranzke opened #5374 "Optimize node listing calls to reduce load on API server"
**How to categorize this issue?**

/area scalability
/kind enhancement

**What would you like to be added**:
We run the `health-monitor` for kubelet on every node which performs a costly "node list" call in every execution: https://github.com/gardener/gardener/blob/f57cd81abb585064a7766808cfc4f155359656fd/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet

[2022-02-01 15:36] #5109 closed, assigned to timebertt

[2022-02-01 15:36] #5346 closed, assigned to petersutter

[2022-02-01 15:40] #5344 closed, assigned to petersutter

[2022-02-02 04:42] shafeeqes commented on #5357
Shouldn't
https://github.com/gardener/gardener/blob/ca661c0502eb1f885a2ac3793913025788d5102d/pkg/utils/kubernetes/health/daemonset.go#L58
return an error, since daemonSet.Spec.UpdateStrategy.RollingUpdate = nil (in the kube-proxy charts) and therefore maxUnavailable is 0 ?

[2022-02-02 05:44] shafeeqes commented on #5298
/assign

[2022-02-02 06:12] plkokanov opened #5376 "Restoration of worker resource can fail when trying to restore the machine objects"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 2

**What happened**:
During the restore phase of control plane migration the following error occurs:
[code]

**What you expected to happen**:
Control Plane Migration to finish successfully

**Anything else we need to know?**:
This was initially fixed by https://github.com/gardener/gardener/pull/4681. However, the

[2022-02-02 06:59] #5350 closed, assigned to kris94

[2022-02-02 07:11] acumino commented on #4772
@timebertt, IIUC `consider the setting controller.Options.RecoverPanic=true` can only be done for the controller, native to controller-runtime. If that is right, I think we should move ahead with this after the refactoring of `gardener-controller-manager` and `gardenlet`. WDYT?

[2022-02-02 08:16] timebertt commented on #4772
Yes, that's true.

We can either do it for the controller's that are already controller-runtime native controllers today (admission-controller, resource-manager, scheduler) or later once all controllers are refactored.
However I expect "later" to be rather in a few months because of other priorities. So I would vote for doing it now for our c-r native controllers.

[2022-02-02 08:26] rfranzke commented on #5357
@shafeeqes I think this is defaulted to

[code]

(at least this is was I see in the `kube-proxy` `DaemonSet` in a system).

[2022-02-02 08:40] plkokanov opened #5377 "In very rare cases shoot secrets can get regenerated during reconciliation"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
During reconciliation the secrets' data for the `ca-vpn` and `ca` certificate authorities in the `ShootState` were regenerated. It seems that they get somehow deleted together with other secrets that are cleaned up during the `GenerateAndSaveSecrets` step.

**What you expected to happen**:
Th

[2022-02-02 09:28] shafeeqes commented on #5357
@rfranzke yes. just checked it.
What about
https://github.com/gardener/gardener/blob/ca661c0502eb1f885a2ac3793913025788d5102d/pkg/utils/kubernetes/health/daemonset.go#L62 ?

[2022-02-02 09:42] AxiomSamarth opened #5378 "Validation of equality between `MachineDrainTimeout` and `maxGracefulTerminationSeconds` flags"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement

**What would you like to be added**:
A quantitative equality check where the MCM `MachineDrainTimeout` flag is always greater than or equal to `maxGracefulTerminationSeconds ` flag of CA.

**Why is this needed**:
There are two flags that could be set in the Shoot yaml. One is MCM [`MachineDrainTimeout`](https://github.com/gar

[2022-02-02 12:30] rfranzke commented on #5364
When this one is picked up, here is another case for extending the error code mapping:

[code]

[2022-02-02 12:38] rfranzke commented on #5285
I have just seen this again, however, there is not much useful in the `gardenlet` logs.
In this case, the `Shoot` got created at `2022-02-02T11:25:29Z`, an the first occurrence of the "no match" log is at `2022-02-02T11:29:32.457Z`:

[code]

[2022-02-02 12:41] rfranzke commented on #5364
And another one here:

[code]

[2022-02-03 09:18] DockToFuture commented on #5359
/assign

[2022-02-03 09:47] shafeeqes commented on #4798
/assign

[2022-02-03 11:59] ScheererJ commented on #5359
One of the limitations of pod topology spread constraints as well as anti-affinity is that they are only considered at scheduling time, but ignored at execution time. Especially in conjunction with our autoscaling we might end up with an unbalanced spread unless we employ something like [Descheduler](https://github.com/kubernetes-sigs/descheduler).
@rfranzke @timuthy What are your thoughts about D

[2022-02-03 12:07] timebertt opened #5391 "controller-manager triggers high number of shoot reconciliations on restart"
**How to categorize this issue?**

/area scalability usability
/kind bug

**What happened**:

On a restart of controller-manager, a lot of shoot reconciliations are triggered.

This can cause significant problems in large gardener installations, e.g.
- high load on apiserver because of high number of update calls by gardenlet
- hitting DNS rate limits for default and internal domains because of hi

[2022-02-03 12:15] timebertt commented on #5391
cc @vpnachev
@rfranzke and I looked into this and considered the following options:

1. Fix the shoot configmap controller to use a checksum of the contained auditpolicy. This requires a new field in the `Shoot` API, adaptations in controller-manager, admission-controller and detailed testing, etc.
2. Drop the shoot configmap controller as it is anyways contradicting our general approach of minimi

[2022-02-03 12:33] vpnachev commented on #5391
This has the feature that multiple shoots can refer single audit policy and all of them will be reconciled immediately (unless confine spec update is enabled). Now, a shoot owner will have to find all shoots rerferring the configmap which is a bit tedious task as there is no easy filter (i.e. field selector).

What do you think about changing the predicate to not compare the `.data` but the resour

[2022-02-03 12:43] rfranzke commented on #5391
For symmetry reasons, let's drop this code. We don't reconcile shoots when any other reference changes (e.g., no automatic reconciliation when the cloud provider secret changes), so there is no reason to treat audit policy configmaps specially.

[2022-02-03 12:59] vpnachev commented on #5391
Good point, thanks! In this case, I am completely fine to remove it.

[2022-02-04 05:26] shafeeqes commented on #4721
/assign

[2022-02-04 08:33] timebertt commented on #5391
Update:
While addressing https://github.com/gardener/gardener/pull/5392#issuecomment-1029018951 and cleaning up all the logic related to the `resourceVersion`, @rfranzke and I discovered another bug:

If the shoot reference controller does not protect auditpolicy configmaps with its finalizer, updates to auditpolicy configmaps are not validated. However, the next shoot spec update (e.g. by the sho

[2022-02-04 08:34] timebertt commented on #5391
To summarize: this is all a bit of a mess, so we came up with the following plan:
1. Fix this issue by resolving the described inconsistent logic between event handler and reconciliation trigger in the configmap controller (implement expected behavior a): i.e. by changing the predicate to evaluate to true on `resourceVersion` changes instead of only on `data` changes. This will stop piling up "pen

[2022-02-04 10:04] #5376 closed, assigned to plkokanov

[2022-02-04 10:13] timebertt opened #5410 "[Flaky Test] ClientMap Internal Suite is flaky"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`GenericClientMap initialized ClientMap #GetClient [It] should create a new ClientSet and start it automatically`

<details>
<pre>
------------------------------
• Failure [0.015 seconds]
GenericClientMap
/go/src/github.com/gardener/gardener/pkg/client/kubernetes/clientmap/internal/generic_client

[2022-02-04 10:14] plkokanov opened #5411 "Use the `machine.metadata.label[node]` field instead of `machine.status.node` during worker restoration"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement

**What would you like to be added**:
Currently when restoring the `Worker` resource, machine objects are fetched from the `worker.status.state` field and deployed in the shoot's namespace inside the seed cluster. Afterwards the `machine.status.node` field of these objects is patched so that it corresponds to the no

[2022-02-04 10:25] ialidzhikov opened #5412 "gardener-controller-manager: Enable the audit policy configmap reference protection by default"
**How to categorize this issue?**

/area audit-logging control-plane
/kind cleanup

**What would you like to be added**:
With https://github.com/gardener/gardener/pull/3117 the reference protection for audit policy configmaps was disabled by default because of backwards-compatibility reasons:

We can enable the reference protection and finally remove the configuration option.

**Why is this needed

[2022-02-04 10:25] ialidzhikov commented on #5412
/assign

[2022-02-04 11:08] rfranzke opened #5413 "Never successfully created `DNSRecord` cannot be deleted"
**How to categorize this issue?**

/area ops-productivity
/kind bug

**What happened**:
After seeing https://github.com/gardener/gardener/issues/5364#issuecomment-1027903217, I'm now seeing

[code]

Hence, it seems a never successfully created `DNSRecord` can not be deleted anymore.

**What you expected to happen**:
Successful deletion of shoot.

**How to reproduce it (as minimally and precisely a

[2022-02-04 11:22] rfranzke commented on #2754
The next task of this umbrella issue is refactoring the `kube-proxy` Helm chart in order to optimize the rollouts.

[2022-02-04 13:42] #5316 closed, assigned to shafeeqes

[2022-02-04 15:26] Diaphteiros commented on #3881
Would be fine for my purposes.

[2022-02-04 17:17] AxiomSamarth commented on #5411
Hey @plkokanov,

If a label is present on the `machine` object then that means that there is, for sure, a backing VM instance on cloud provider (which we can assume here is a healthy running node)

You can very well consider patching the migrated machine objects with `machine.metadata.labels[node]` and it will not lead to creation of new nodes though creation will be triggered and also MCM will up

[2022-02-07 03:34] himanshu-kun commented on #5411
Yes as @AxiomSamarth said that if `machine.Status.Node` is empty, reconciliation will fill it up . But after looking at the code I figured that the `machine.Status.Node` can be removed anyways and machine controller can rely just on only node label as requested in the issue https://github.com/gardener/machine-controller-manager/issues/389

I will raise a PR soon for the same

[2022-02-07 08:46] timuthy commented on #5359
That's a good point @ScheererJ.

`CoreDNS` has `HPA - MINPODS: 2, MAXPODS: 5`.

Example with cluster in `3` availability zones:
- `t1`
  -  Deployment has `4` replicas.
  -  West: `1`, East: `2`, Central: `1`
  -  Distributed deployment ✅

- `t2`
  -  Deployment is scaled down to `3` replicas.
  -  West: `0`, East: `2`, Central: `1`
  -  Imbalanced distribution ❌

Does this example express the con

[2022-02-07 08:52] DockToFuture commented on #5359
That is exactly the case which could happen when not using the [Descheduler](https://github.com/kubernetes-sigs/descheduler) mentioned by @ScheererJ .

[2022-02-07 08:57] ScheererJ commented on #5359
@timuthy Yes, indeed. It does not even need three availability zones. Regularly scaling up and down with two availability zones will likely also put you into the same spot.
(It is also explicitly mentioned by the documentation of topology spread constraints.)

[2022-02-07 09:33] #5391 closed, assigned to timebertt

[2022-02-07 12:57] plkokanov commented on #5285
Saw this issue again, this time with `Leases`:
[code]

I'll update this comment with more logs once I've gathered them.

[2022-02-08 09:46] plkokanov opened #5423 "During control plane migration one of the cluster's machines gets recreated"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:
During control plane migration tests we found that the tests can fail with the following error on aws and gcp:

[code]
The shoot clusters used for the tests are configured with a workergroup that has `workers[].minimum=1` and `workers[].maximum=3` so this missmatch in the check could be caused by a scale

[2022-02-08 13:18] #5359 closed, assigned to DockToFuture

[2022-02-08 13:20] #4721 closed, assigned to shafeeqes

[2022-02-09 07:14] #4084 closed, assigned to ScheererJ

[2022-02-09 08:23] MartinWeindel commented on #5285
~~Not clear if it is a useful information: The issue was seen on three clusters on canary all with Kubernetes v1.22.4. After some hours the issue self-resolved.~~
I think self-resolving is related to Gardenlet restart.

[2022-02-10 07:25] timebertt commented on #5282
@acumino The API server metrics added in https://github.com/kubernetes/kubernetes/pull/104983 look amazingly useful to me.
Can you open a PR to whitelist these metrics in the Shoot monitoring stack?
https://github.com/gardener/gardener/blob/29a0c4433430ed735e9209c26b106c6817ad45d8/pkg/operation/botanist/component/kubeapiserver/monitoring.go#L184

[2022-02-10 08:00] jia-jerry commented on #4661
@rfranzke , I like this [pic](https://user-images.githubusercontent.com/7465180/135600979-8bfcd89b-c50a-4ed0-9162-44e793145a98.png) you drew because it help us understand how to rotate shoot kubeconfig token easily. Do you have plan to add this token rotation process in the gardener doc?

[2022-02-10 08:07] rfranzke commented on #4661
@jia-jerry There are already other, probably more detailed pics in the docs: https://github.com/gardener/gardener/blob/master/docs/concepts/resource-manager.md#tokenrequestor

[2022-02-11 08:27] MrBatschner opened #5435 "Shoot cannot be deleted with invalid providerConfiguration in shoot.spec.provider.workers.providerConfig"
**How to categorize this issue?**

/area robustness
/kind bug

**What happened**:

I created a shoot and put a custom `providerConfig` into `shoot.spec.provider.workers.providerConfig` which looked like this:

[code]

The shoot could not get created because `could not decode provider config: no kind "OperatingSystemConfig" is registered for version "gardenlinux.os.extensions.gardener.cloud" in sch

[2022-02-11 08:41] rfranzke commented on #5435
@vpnachev Is this coming from `os-gardenlinux` or g/g?

[2022-02-11 08:51] vpnachev commented on #5435
What Thomas already described is not os-gardenlinux specific

It should be g/g.

[2022-02-11 08:57] rfranzke commented on #5435
Just checked the code again, I think it's rather the GCP extension (cc @dkistner @kon-angelo). The other provider extensions are similar, to it probably affects all of those.

[2022-02-11 10:25] rfranzke commented on #3292
Now that [GEP18](https://github.com/gardener/gardener/blob/master/docs/proposals/18-shoot-CA-rotation.md) got merged with https://github.com/gardener/gardener/pull/5395, we can start with the implementation.
Please note that the below list is continuously subject to change and can be extended or shrank based on the made experience during the implementation phase.

# Tasks

_This got copied into th

[2022-02-11 16:27] vlvasilev opened #5439 "Scrapping logs from shoot kube-system pods."
**How to categorize this issue?**

/area logging
/kind enhancement

**What would you like to be added**:
It would be good to add the logs from the shoot `kube-system` pods.
As there is already a node `systemd` scraping configuration this could be achieved easily by adding additional job in the  `promtail` [configuration](https://github.com/gardener/gardener/blob/3c6404d23e2fb583a991c0b9247a3f23c95

[2022-02-11 16:32] vlvasilev commented on #5439
/cc @dguendisch @timebertt @rfranzke @istvanballok
I will need advice on how to proceed with this feature.

[2022-02-14 07:35] #5368 closed, assigned to shafeeqes

[2022-02-14 08:09] rfranzke commented on #5439
I would vote for option 2, mainly motivated by this fact you outlined:

As a con for option 2 you mention

Do we have some numbers to compare, i.e., how "worse" is it? My gut feeling is that the network traffic costs for streaming logs for ALL pods in `kube-system` is (in sum) significantly higher given that many folks deploy workload into this namespace (which is perfectly fine).

Otherwise, the

[2022-02-14 08:23] #5298 closed, assigned to shafeeqes

[2022-02-14 09:01] MartinWeindel opened #5440 "Shoot clusters incorrectly marked with `ERR_INFRA_DEPENDENCIES`"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:

Shoot clusters have been marked as user issuers, but the underlying errors are only timeout problems.

Here are three cases:

- Case 1:

[code]

- Case 2:

[code]

- Case 3:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kno

[2022-02-14 09:23] timebertt commented on #4239
@plkokanov what's the status here?

[2022-02-14 09:52] dergeberl opened #5441 "Update of ManagedSeeds from ManagedSeedSet"
**How to categorize this issue?**
/area control-plane
/kind question

**What happened**:

If creating Seeds with a `ManagedSeedSet` the seeds did not get updated when parameters will be updated (for example values for `spec.template.spec.gardenlet.config`)

Is that behavior correct or is it a bug?

**What you expected to happen**:

All fields that are not immutable should be updated to the `Manage

[2022-02-14 10:22] himanshu-kun commented on #5378
/close
CA drain is followed by MCM drain so they shouldn't interfere.

[2022-02-14 10:22] #5378 closed, assigned to nobody

[2022-02-14 13:40] DockToFuture opened #5443 "GRM: cronjob unknown conversion"
**How to categorize this issue?**

/kind bug

**What happened**:
Cronjobs switched from `apiVersion: batch/v1beta1` to `apiVersion: batch/v1` with k8s version 1.21.
For a k8s/shoot cluster with version 1.20 the managed resource fails with
[code]
when the follwing cronjob is trying to be created.

[code]

**What you expected to happen**:
That the managed resource with the cronjob can be successfull

[2022-02-14 13:49] timebertt commented on #2885
/touch

Unfortunately, this topic (GEP-13) was put on hold in favor of other topics with higher priority, so no one is currently working on it.
/unassign @rfranzke @stoyanr @danielfoehrKn @timebertt
/status on-hold

[2022-02-14 13:51] timebertt commented on #5441
Yep, that's not implemented yet. From https://github.com/gardener/gardener/pull/3713:

Unfortunately, the work on https://github.com/gardener/gardener/issues/2885 (GEP-13) was stopped in favor of other topics with higher priority.
Feel free to follow along there or assign yourself / get in touch if you want to work on it.

I propose to `/close` this one in favor of https://github.com/gardener/gard

[2022-02-14 15:28] timebertt opened #5444 "Rework error code detection"
**How to categorize this issue?**

/area ops-productivity quality
/kind technical-debt

## Problem / Motivation

Gardener uses a set of [error codes](https://github.com/gardener/gardener/blob/d7c9001613b659ac29d5308e28eac6a172c82857/docs/usage/shoot_status.md#error-codes) to mark reconciliation problems or failed health checks as user issues in several categories (e.g. invalid provider credentials

[2022-02-14 15:33] timebertt commented on #5364
Considering the upcoming change in the error code handling, we should directly add these mappings to the correct new places. Ref https://github.com/gardener/gardener/issues/5444

[2022-02-14 15:40] timebertt commented on #5440
Thanks for opening this issue @MartinWeindel.
In all three listed cases, the cause for wrong classification seems to be failed requests to the garden cluster like:
[code]

`Internal Server Error` is matched by the `ERR_INFRA_DEPENDENCIES` regex: https://github.com/gardener/gardener/blob/3bd8b8618c3ae13e08204024c3b4bd967872432d/pkg/apis/core/v1beta1/helper/errors.go#L59 which is simply too generali

[2022-02-14 15:40] #5440 closed, assigned to nobody

[2022-02-14 15:42] dergeberl commented on #5441
Okay thanks for clarification and the Info.

I will close that issue.

[2022-02-14 15:42] #5441 closed, assigned to nobody

[2022-02-14 15:47] timuthy commented on #5444
I really like the approach 👍

Does it make sense to populate a list of well-known error codes in `gardener/gardener` which are supposed to be re-used by extensions and they only use new or provider specific codes for very specific use-cases? Otherwise we're going to have a variety of codes with the same meaning.

[2022-02-15 06:30] timebertt commented on #5444
Thanks for your feedback :)
Got your concern. Can you give an example of such a well-known error code, that would apply everywhere?

[2022-02-15 09:48] #5277 closed, assigned to acumino

[2022-02-15 11:16] timebertt commented on #5357
We had a joint look at the problem and figured that it's actually much more severe than described here.
Currently, all ManagedResource health checks for shoot resources will always wrongly report healthy although there are critical issues for shoot system components.

Short summary would be:
For the shoot grm, the target client cache is disabled (`--target-disable-cache`). For the seed grm (respon

[2022-02-15 11:17] timebertt commented on #5357
Let's raise the priority of this issue according to its severity. Because of this, there will be no alerts and no failing shoot health checks for problems with shoot system components.
/priority 2

[2022-02-15 12:54] timebertt commented on #5357
I was able to reproduce this behavior with https://github.com/gardener/gardener-resource-manager/tree/v0.25.0 (last grm release before the move to g/g) with `--target-disable-cache`.
Meaning, shoot system component health checks were basically broken the entire time and could never report failures since https://github.com/gardener/gardener/pull/3268 ([g/g@v1.14.0](https://github.com/gardener/garde

[2022-02-15 12:58] timebertt commented on #5357
Some upstream issues for reference: https://github.com/kubernetes/kubernetes/issues/80609, https://github.com/kubernetes-sigs/controller-runtime/issues/1517

The GroupVersionKind is cleared here: https://github.com/kubernetes/kubernetes/blob/dd5c3a109e2f156774576b7e7a38e104fa5c7202/staging/src/k8s.io/apimachinery/pkg/runtime/helper.go#L254-L256
It's only set when reading unstructured objects, see

[2022-02-15 15:31] rfranzke commented on #4660
/close since all related PRs have been merged

[2022-02-15 15:32] #4660 closed, assigned to BeckerMax, rfranzke

[2022-02-15 15:55] rfranzke commented on #5102
/close since all related PRs have been merged

[2022-02-15 15:55] #5102 closed, assigned to BeckerMax, rfranzke

[2022-02-15 16:12] timebertt commented on #5443
Yeah, conversion code is not exported to `k8s.io/api`, so we can't do client-side conversions between different API versions.
However, I don't get where this problematic conversion is done. This conversion here, should only convert between structured and unstructured, but in the same API version:

https://github.com/gardener/gardener/blob/e170b6d003bab4b74ac856d4c9c59fa8abe950f8/pkg/controllerutil

[2022-02-15 16:37] ialidzhikov opened #5452 "Remove Worker's `RollingUpdate` condition and replace last `tryUpdateStatus` usage with patch"
**How to categorize this issue?**

/area quality
/kind cleanup

**What would you like to be added**:
While looking into https://github.com/gardener/gardener-extension-provider-aws/issues/493 @timebertt found that the `Status().Update()`/`TryUpdateStatus()` can be replaced by a Patch and hence the whole `updateWorkerStatusMachineDeployments` to do not cause any conflict.

https://github.com/gardene

[2022-02-16 07:16] rfranzke commented on #3501
/close since all related PRs have been merged

[2022-02-16 07:16] #3501 closed, assigned to rfranzke

[2022-02-16 09:29] #4844 closed, assigned to plkokanov

[2022-02-16 16:49] timebertt commented on #4805
/assign
for the health controller test

[2022-02-17 08:16] timuthy commented on #5444
My impression is that many if not all codes that we have today are very generic, match nearly all providers and cover many use-cases.
In general, I wonder why a GCP extension should for instance return `ERR_INFRA_RATE_LIMITS_EXCEEDED` while an Azure extension returns `ERR_AZURE_RATE_LIMIT_EXHAUSTED`. Only additional and very provider specific codes seem beneficial.

[2022-02-17 10:07] ary1992 commented on #4932
/assign

[2022-02-17 10:36] timebertt commented on #5444
Oh, there must be a misunderstanding.
I was not proposing to add provider-specific error codes. The error codes should stay independent from providers and should be defined centrally by gardener (as it is today).
I was proposing to maintain only a mapping of provider SDK errors, error messages regexes or similar things to these well-known error codes in our extensions. I.e., the extensions should

[2022-02-17 14:05] rfranzke commented on #3292
After https://github.com/gardener/gardener/pull/5459, I was not too happy with the manual injection of the checksums since this can easily lead to issues when it is forgotten or done wrongly. The same needs to be done for the extensions and it is generally quite fragile.

In a discussion with @timebertt, we agreed on closing this PR and rather rework the entire secret generation in `gardener/garde

[2022-02-18 07:02] #5357 closed, assigned to timebertt

[2022-02-18 07:54] timebertt opened #5462 "Extension and resource-manager CRDs are inconsistent"
**How to categorize this issue?**

/area dev-productivity
/kind technical-debt

**What happened**:

We have extension and resource-manager CRDs in multiple places:
- [example/seed-crds](https://github.com/gardener/gardener/tree/919c3584f062909d489912d3fb79deda37815e9b/example/seed-crds)
- [example/resource-manager](https://github.com/gardener/gardener/tree/919c3584f062909d489912d3fb79deda37815e9b/

[2022-02-18 11:04] ialidzhikov opened #5463 "istio-ingressgateway's Pod priority is 0"
**How to categorize this issue?**

/area ops-productivity control-plane
/kind bug

**What happened**:
Currently the istio-ingressgateway's Pod priority is `0`.

[code]

So according to the current Pod priorities in the Seed cluster, it is much more important to schedule loki (priority=40), fluent-bit (priority=150) or any control plane (priority=100) Pod rather than istio-ingressgateway Pod.
To my

[2022-02-18 11:58] vpnachev opened #5464 "The high availabilty of gardener resource manager should be disabled right after the kube-apiserver is destroyed"
**How to categorize this issue?**

/area ops-productivity robustness
/kind enhancement

**What would you like to be added**:
The resource manager to be destroyed right after the kube-apiserver in deletion and hibernation flow. Or at least its pod disruption budget to be deleted.

**Why is this needed**:
Once the kube-apiserver of a shoot cluster is no longer deployed all replicas of the gardener r

[2022-02-21 09:17] voelzmo commented on #5413
cross-linking for reference:
* historic similar issue https://github.com/gardener/gardener/issues/4778
* PR by @MartinWeindel https://github.com/gardener/gardener/pull/5234

So maybe this is actually fixed already but the fix hadn't been re-vendored to the extension at the time this happened? In theory, this should not be reproducible anymore now that extensions have been re-vendored with the abov

[2022-02-21 13:11] DockToFuture commented on #5463
/assign

[2022-02-21 14:15] timebertt commented on #4805
/unassign
Test for the health controller is added in https://github.com/gardener/gardener/pull/5469.
It can be used as a template for other cases in this issue.

[2022-02-22 07:07] #5423 closed, assigned to nobody

[2022-02-22 07:58] marwinski commented on #4599
This issue can be mitigated by deleting the offending iptables rule manually:

[code]

A fix is required for this.

[2022-02-22 08:39] qfframb opened #5475 "Request to make monitoring alert email configuration editable"
**How to categorize this issue?**
/area Monitoring
/kind enhancement

**What would you like to be added**:
Request to make monitoring alert email configuration editable

**Why is this needed**:
Currently, the 'send_resolved' in alert email_configuration is set to default value 'false'  due to hardcoded https://github.com/gardener/gardener/blob/master/pkg/operation/botanist/monitoring.go#L312-L318.

[2022-02-22 14:15] danielfoehrKn commented on #5336
Closing as landscaper + Gardener integration is postponed (potentially canceled).

[2022-02-22 14:15] #5336 closed, assigned to danielfoehrKn

[2022-02-22 14:16] danielfoehrKn commented on #4188
Closing as landscaper + Gardener integration is postponed (potentially canceled).

[2022-02-22 14:16] #4188 closed, assigned to danielfoehrKn

[2022-02-22 17:50] rfranzke commented on #5413
Great, with an up-to-date extension this is indeed no longer reproducible.
/close

[2022-02-22 17:50] #5413 closed, assigned to nobody

[2022-02-23 08:17] timebertt commented on #5475
cc @wyb1 @istvanballok

[2022-02-23 09:05] SimonKienzler opened #5479 "Identify/Describe Gardener's ability to scale in terms of seed/shoot clusters"
**How to categorize this issue?**

/area documentation
/kind enhancement

**What would you like to be added**:

Could the documentation provide information about Gardener's ability to scale with some "rule of thumb" numbers? For example, a rough estimation and/or best practices for the following ranges would be very interesting:

* Hoy many shoots can a single Garden cluster handle?
* How many sho

[2022-02-23 09:50] wyb1 commented on #5475
Hi @qfframb

making the email configuration editable is a reasonable request, but is not something that we would work on at this time. If you provide the change we will be happy to review it.

I assume the problem is that alerts fire -> you look into them but they are already resolved. What I think would be more valuable is looking into which alerts get resolved quickly and change the alerting so

[2022-02-23 11:12] ialidzhikov opened #5480 "Cannot disable nginx-ingress addon"
/area quality
/kind bug
/kind regression

**What happened**:
After https://github.com/gardener/gardener/pull/5375 it is not possible to disable the nginx-ingress addon successfully. Currently the SecretData is not passed to the component and the component updates the DNSRecord Secret with empty data on Destroy.

**What you expected to happen**:
To successfully disable nginx-ingress addon.

**How t

[2022-02-23 16:38] vpnachev commented on #5325
Thinking again on this topic, Gardener can configure both [kubelet](https://github.com/gardener/gardener/blob/744e0ff5db4f7f58d70a2f43546d379303f8a2cf/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go#L54) and containerd [(similarly to how it control the pause image)](https://github.com/gardener/gardener/blob/744e0ff5db4f7f58d70a2f43546d379303f

[2022-02-24 08:24] qfframb commented on #5475
Hi @wyb1,

Thanks for the explanation, I will close this issue.

[2022-02-24 08:24] #5475 closed, assigned to nobody

[2022-02-24 15:36] timebertt opened #5486 "Define feature gates centrally instead of once per component"
**How to categorize this issue?**

/area dev-productivity quality
/kind cleanup

**What would you like to be added**:

We define feature gates multiple times, once per component which uses it.

E.g. the `UseDNSRecords` feature gate is defined three times:
https://github.com/gardener/gardener/blob/744e0ff5db4f7f58d70a2f43546d379303f8a2cf/pkg/apiserver/features/features.go#L28
https://github.com/gar

[2022-02-24 15:56] ialidzhikov commented on #5486
I think that there are some benefits when each component has its own map of feature gates. It makes much more easy to check which feature gate is relevant for which component. If we switch to the approach to define them centrally then each component will register all feature gates - which can be misleading -> you will be allowed to configure a feature gate for a component when the component does n

[2022-02-24 16:08] timebertt opened #5487 "Use field selector for `core.BackupBucket.spec.seedName`"
**How to categorize this issue?**

/area scalability dev-productivity
/kind enhancement

**What would you like to be added**:

Filtering `core.BackupBucket` objects for a specific seed should be done via a field selector, e.g. this code: https://github.com/gardener/gardener/blob/744e0ff5db4f7f58d70a2f43546d379303f8a2cf/pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile.go#L107-L110

[2022-02-25 06:54] timebertt commented on #3667
/touch

[2022-02-25 13:23] #5480 closed, assigned to ialidzhikov

[2022-02-25 13:25] #5464 closed, assigned to nobody

[2022-02-28 09:11] BeckerMax commented on #4239
Plamen started with this issue and made some progress so we will keep him assigned.

[2022-02-28 09:16] BeckerMax commented on #5374
/priority 2
On clusters with large node counts this causes significant load on the etcd through API server list calls. We should look at that with prio 2

[2022-02-28 09:19] BeckerMax commented on #4798
/assign @timebertt as the next step is to wait for his proposal using lease objects to check the health status.

[2022-02-28 13:56] BeckerMax commented on #5285
/assign

[2022-02-28 17:10] maresac opened #5496 "Remote write configuration in ManagedSeed doesn't trigger Prometheus config change"
**How to categorize this issue?**

/area monitoring
/kind bug

**What happened**:
I added a remote write configuration for the Shoot Prometheus to the ManagedSeed. The ManagedSeed resource was updated but didn't trigger a restart of the Gardenlet or a config change in the Gardenlet and Shoot Prometheus.

**What you expected to happen**:
Shoot Prometheus picks up remote write configuration.

**How

[2022-03-01 12:50] hendrikKahl commented on #5321
/assign

[2022-03-02 11:26] krgostev opened #5500 "Add support for ETCD backups in the "local provider" extension"
**How to categorize this issue?**

/area control-plane
/kind enhancement

**What would you like to be added**:
The `local provider` should be enhanced to support  ETCD backups.   The first steps would be to introduce `backupbucket`  and `backupentry` controllers.

The general idea is to use the host file system for backup bucket storage, so the `backupbucket` controller should be responsible to cr

[2022-03-02 11:27] krgostev commented on #5500
cc @plkokanov  @rfranzke @timebertt

[2022-03-03 07:55] voelzmo commented on #5325
I can see how gardener modifies the `containerd` configuration file to inject the pause image and was thinking about something similar for the `cgroup driver` setting as well. This would, however, mean that we bootstrap a node first with the containerd configuration file from the OS extensions ([flatcar example here](https://github.com/gardener/gardener-extension-os-coreos/blob/a9ca4f4c579fff26967

[2022-03-03 15:21] petersutter commented on #5374
We have seen an issue on `alicloud` where `$(hostname)` does not match the value of label `kubernetes.io/hostname` and thus no node with this label can be found (case sensitive).
E.g. hostname was `iZuf66s0llotbbevcbdfqzZ` and `kubernetes.io/hostname` was `izuf66s0llotbbevcbdfqzz`

[2022-03-04 11:03] ScheererJ commented on #4382
The connection time of around 3s seems long, but does not seem to cause problems anymore as the connections are fairly stable, i.e. initial connection establishment is not as fast as we would like it to be, but it is good enough.

[2022-03-04 11:03] #4382 closed, assigned to nobody

[2022-03-07 06:59] acumino commented on #3470
I looked into the issue,

The 413 HTTP error is defined as follow -
StatusRequestEntityTooLarge        = 413 // RFC 7231, 6.5.11

[code]

I don't find this very nice to use error `413` for `errors due to invalid field values`, as this indicates `Content Too Large`.
Also,
`apierrors.NewInvalid()` return the `StatusUnprocessableEntity` i.e 422 http error code.
which is defined as follows -

[code]

[2022-03-07 07:37] rfranzke commented on #5377
Let's
/close
this in favor of #5503

[2022-03-07 07:37] #5377 closed, assigned to plkokanov

[2022-03-07 07:42] acumino commented on #5301
/assign

[2022-03-07 07:44] rfranzke opened #5526 "Improve `DNSRecord` reconciliation"
**How to categorize this issue?**

/area scalability
/kind enhancement

**What would you like to be added**:
We should improve the `DNSRecord` reconciliation such that it is only performed when really needed (similar to what we do for the `Infrastructure` reconciliation):

- during shoot creation
- during shoot maintenance
- during shoot deletion if the record is not "healthy"

**Why is this neede

[2022-03-07 07:47] acumino commented on #2751
For cross-reference - https://github.com/gardener/gardener/issues/5301

[2022-03-07 07:47] acumino commented on #2751
/touch

[2022-03-07 07:57] rfranzke commented on #5374
/assign

[2022-03-07 09:22] rfranzke commented on #5486
We agreed to add documentation about which feature gates are relevant for which of our components. Additionally, we would like to move the `FeatureGateSpec` (containing information about the maturity level) to a central place (`pkg/features`) and then just import it in the relevant components.

[2022-03-07 09:46] rfranzke commented on #5285
/assign

[2022-03-07 13:14] timuthy opened #5530 "Nginx Ingress Controller misses projected volume"
**How to categorize this issue?**

/area security
/kind bug

**What happened**:
The Nginx Ingress Controller pod crash looped because it cannot connect to the Kube-Apiserver:

[code]

**What you expected to happen**:
The Nginx Ingress Controller to work.

**How to reproduce it (as minimally and precisely as possible)**:
Create a new shoot with Nginx Ingress Addon enabled. This is a race, so the is

[2022-03-07 13:16] BeckerMax commented on #5285
synced with @rfranzke and he is going to take over for now.
/unassign

[2022-03-07 13:51] ary1992 commented on #3138
/assign

[2022-03-07 14:23] #4723 closed, assigned to ary1992

[2022-03-07 14:25] #5412 closed, assigned to ialidzhikov

[2022-03-07 15:02] #4527 closed, assigned to ary1992

[2022-03-07 15:09] rfranzke commented on #5285
The issue seems to not be related to potential `Forbidden` errors (ref https://github.com/gardener/gardener/issues/5285#issuecomment-1015518384) given that discovering the API is allowed for all authenticated users by default.

[2022-03-07 16:51] rfranzke commented on #5526
/assign

[2022-03-08 06:44] #5321 closed, assigned to hendrikKahl

[2022-03-08 07:51] rfranzke commented on #5358
/assign

[2022-03-08 08:52] rfranzke commented on #4805
/assign
for the garbage collector test

[2022-03-08 09:28] plkokanov opened #5533 "☂️ [GEP-7] Shoot Control Plane Migration "Good Case" Scenario Nice To Have Improvements"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement
/roadmap internal
/priority 4

**What would you like to be added**:
This issue tracks additional improvements to the [GEP-7 Control Plane Migration](https://github.com/gardener/gardener/blob/master/docs/proposals/07-shoot-control-plane-migration.md) ("good case") scenario that have lower priority.

Enhancements:
  -

[2022-03-08 13:42] acumino commented on #3470
cc - @stoyanr @rfranzke @ialidzhikov

[2022-03-08 13:43] rfranzke commented on #3470
I think this `413` was a typo. Let's use `apierrors.NewInvalid` as suggested in the prose of the description.

[2022-03-08 14:17] rfranzke commented on #4805
/unassign
Test for the garbage collector is added in https://github.com/gardener/gardener/pull/5534

[2022-03-08 14:18] rfranzke commented on #5530
/assign

[2022-03-08 14:30] rfranzke commented on #5486
/assign

[2022-03-08 15:14] rfranzke commented on #4487
/assign

[2022-03-08 17:32] rfranzke commented on #5285
Together with @timebertt, we were able to reproduce the problem locally with the following modifications:

[code]

Additionally, while creating the `Shoot` (with enabled anonymous authentication) we had to scale down `gardener-resource-manager` to `0` replicas shortly after it got deployed, and scale it up again after ~`30s` or so. This was to prevent it from populating the token for the `gardener

[2022-03-09 05:38] acumino commented on #3470
/touch
/assign

[2022-03-09 07:05] rfranzke commented on #5487
/assign

[2022-03-09 08:13] timuthy opened #5541 "[Apiserver-Proxy] Readiness probe fails"
**How to categorize this issue?**

/area networking
/kind bug

**What happened**:
We've regularly seen issues with at least one `apiserver-proxy` pod in shoot clusters that does not get ready and remains in this state until the pod is deleted/restarted.

[code]

**What you expected to happen**:
The `apiserver-proxy` pod  to get ready.

**How to reproduce it (as minimally and precisely as possible)

[2022-03-09 08:13] timuthy commented on #5541
/cc @DockToFuture @ScheererJ

[2022-03-09 09:04] ScheererJ commented on #5541
Envoy proxy from the proxy container does not seem to have come up correctly, i.e. neither the port for forwarding to the `kube-apiserver` nor the `metrics` port are open.

[2022-03-09 09:54] ScheererJ commented on #5541
It looks like the envoy proxy hangs in some kind of busy loop as it continuously consumes cpu time. This also explains why it is throttled.

[2022-03-09 10:24] plkokanov commented on #4793
If the infrastructure has already been reconciled once and created, on subsequent reconciliations when terraform values are computed, the `infrastructure.Status.ProviderStatus` field exists and the `countFaultDomains` value is extracted from there instead of the `CloudProfile`.
However, during the restore operation the `infrastructure.Status.ProviderStatus` filed is nil, which means that the  `cou

[2022-03-09 12:07] rfranzke commented on #4793
+1 for the first approach

[2022-03-09 12:34] ScheererJ commented on #5541
`strace` shows that the envoy proxy container is repeatedly calling `sched_setaffinity`.
[code]
`gdb` paints a similar picture.
[code]
The envoy code base does not seem to have a direct call to `sched_setaffinity`.

We will address the issue with a `liveness` probe and restart the container if it does not come up in 30 seconds (#5544).

[2022-03-09 14:37] #5541 closed, assigned to nobody

[2022-03-10 09:23] rfranzke commented on #5530
I looked at an occurrence of this and it seems to be a race condition (as expected). Here is the list of the relevant created resources and their `creationTimestamps`:

- `06:03:53Z` `MutatingWebhookConfiguration/gardener-resource-manager-shoot` --> This one contains the `projectedTokenMount` webhook with the following `namespaceSelector`:

[code]
- `06:04:22Z` `Deployment/addons-nginx-ingress-con

[2022-03-10 10:20] timebertt opened #5547 "Scrape resource-manager instances and add dashboards"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

Right now, we don't have any metrics and dashboards for resource-manager, neither for the instances in shoot control planes nor the seeds (garden namespace).
However, as resource-manager is already a controller-runtime native component, we could simply scrape it and benefit from the many me

[2022-03-10 10:21] timebertt commented on #5547
cc @istvanballok @wyb1

[2022-03-10 10:23] timebertt commented on #5530
Nice investigation!

Probably, it would have helped if we had metrics for resource-manager (e.g. about webhook invocations).
I opened https://github.com/gardener/gardener/issues/5547 to track this.

[2022-03-10 10:29] rfranzke commented on #3138
There is a PR (https://github.com/gardener/gardener/pull/5524) refactoring the entire logic of the end-user kubeconfig handling - it makes sense to base the work on top of this PR and not on top of `master`.

[2022-03-10 13:22] JensAc opened #5548 "Local gardener enhancements"
**How to categorize this issue?**

/area testing
/kind enhancement

**What would you like to be added**:
I spent some time following the [Getting Started Local Guide](https://gardener.cloud/docs/gardener/development/getting_started_locally/) the last days and run into a couple of issues. For simplicity, I list them here:

1. It seems that on Linux (more precisely, I am on NixOS) the `host.docker.i

[2022-03-11 08:44] rfranzke commented on #5364
I would actually vote to add them to the current solution given that #5444 is not yet tackled/finished. It doesn't make a difference if we add them now, so I will open a PR.

/assign

[2022-03-11 08:48] rfranzke commented on #4806
/assign

[2022-03-11 09:48] #5486 closed, assigned to rfranzke

[2022-03-11 09:48] #4617 closed, assigned to ialidzhikov

[2022-03-11 09:48] #5487 closed, assigned to rfranzke

[2022-03-11 10:34] timuthy opened #5553 "Shoot deletion fails due to ingress/external DNSRecord destroy step"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 2

**What happened**:
During a shoot deletion the control-plane namespace in the seed was already in terminating state. Then the `reconcile_delete` restarted which led to the following error:

[code]

**What you expected to happen**:
The shoot deletion to succeed.

/cc @ialidzhikov

**Environment**:

- Gardener version: v1.

[2022-03-11 10:34] timuthy commented on #5553
/cc @Diaphteiros

[2022-03-11 10:42] ialidzhikov commented on #5553
/assign

[2022-03-11 10:58] timuthy opened #5554 "Shoot referenced resources copies objects with finalizers"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:
Gardenlet copies referenced resources in `shoot.spec.resources` to the seed cluster but unfortunately also keeps `metadata.finalizers`, i.e. finalizers for objects set in the Garden cluster are replicated to the object in the seed cluster. Of course, these finalizers are unmanaged (since there if for example no `s

[2022-03-11 11:37] timuthy commented on #5554
/priority 2
since this entails huge ops effort currently.

[2022-03-11 11:48] rfranzke commented on #5554
/assign

[2022-03-11 13:28] #5553 closed, assigned to ialidzhikov

[2022-03-12 10:37] rfranzke commented on #5358
/close since all related PRs have been merged

[2022-03-12 10:37] #5358 closed, assigned to rfranzke

[2022-03-13 10:33] #5554 closed, assigned to rfranzke

[2022-03-14 09:02] #5285 closed, assigned to rfranzke

[2022-03-14 09:42] #5530 closed, assigned to rfranzke

[2022-03-14 10:07] ialidzhikov commented on #4843
/assign

[2022-03-14 11:50] #4487 closed, assigned to rfranzke

[2022-03-15 05:58] #5364 closed, assigned to rfranzke

[2022-03-15 05:59] #5374 closed, assigned to rfranzke

[2022-03-15 06:39] timebertt opened #5576 "[Flaky Test] E2E Test Suite: [It] Shoot Tests Create, Hibernate, Wake up and Delete Shoot [Shoot]"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`E2E Test Suite: [It] Shoot Tests Create, Hibernate, Wake up and Delete Shoot [Shoot]`: https://github.com/gardener/gardener/blob/49427df9174f995daf8a782168b1ed84212f00f9/test/e2e/shoot/create_hibernate_wakeup_delete.go#L29

**CI link**:

- https://prow.gardener.cloud/view/gs/gardener-prow/logs/c

[2022-03-15 07:20] shafeeqes commented on #5444
/assign

[2022-03-15 08:09] timebertt commented on #3453
/touch
@rfranzke @BeckerMax do we consider this as part of https://github.com/gardener/gardener/issues/3292?

[2022-03-15 08:10] timebertt commented on #2815
/touch

[2022-03-15 08:12] timebertt commented on #999
I don't think anyone is working on this right now, so
/unassign mvladev ThormaehlenFred marwinski

However, there are some ideas floating around and brainstorming meetings happening (cc @istvanballok @wyb1)
/touch

[2022-03-15 08:15] rfranzke commented on #3453
The certificates will still be valid for `10y` and end-users are responsible for rotating them regularly, so such metrics/dashboards don't seem helpful anymore, do they? We have the `last{Initiation,Completion}Time` fields for the rotation in the `ShootStatus` instead.

[2022-03-15 09:14] ialidzhikov commented on #2207
/close

[2022-03-15 09:14] #2207 closed, assigned to nobody

[2022-03-15 10:32] timebertt commented on #3873
We decided to drop this item and remove the unused and unfinished code, considering that this topic was not touched for quite some time and nobody seems to be asking for.

Accordingly, the only thing left to do here is drop the unused code.
/touch

[2022-03-15 13:03] timebertt commented on #3453
Right, then let's
/close
this

[2022-03-15 13:04] #3453 closed, assigned to nobody

[2022-03-15 14:31] timebertt commented on #4798
I don't have much more in my head other than what is described in https://github.com/gardener/gardener/pull/5394#pullrequestreview-876002608 already.
I think, this outlines the next steps pretty well and I'm unsure what to propose without picking up the topic on my own.
/unassign

[2022-03-15 14:39] timebertt commented on #5310
/close
as the first few steps have been completed.
More e2e tests will be tracked separately.
Next step is the CPM e2e test, which requires https://github.com/gardener/gardener/issues/5500

[2022-03-15 14:39] #5310 closed, assigned to rfranzke, timebertt

[2022-03-15 16:42] timebertt commented on #5576
I reproduced this issue locally (first try) by hibernating and waking up a shoot.
The worker status was in the following state after the wakeup operation had been completed:
[code]

So it seems like the health check controller doesn't pick up the checks again after waking up the shoot.

For the `ControlPlane` and the `Network` resources, this was not the case:
[code]

Hence, my suspicion for now i

[2022-03-16 06:21] rfranzke commented on #5576
Interesting, thanks for checking @timebertt! Will you continue to look into this?

[2022-03-16 07:31] rfranzke commented on #5576
/assign

[2022-03-16 07:40] rfranzke opened #5585 "[GRM] Sort and apply resources sequentially"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:
Today, the `ManagedResource` controller part of `gardener-resource-manager` applies all resources in parallel. This deviates from what the [`chartrenderer`](https://github.com/gardener/gardener/blob/master/pkg/chartrenderer) and also upstream tools like `helm` or `kubectl` are doing.

The `Ma

[2022-03-16 08:27] timebertt opened #5586 "E2E / integration test for `AdminKubeconfigRequest` feature"
**How to categorize this issue?**

/area testing
/kind enhancement

**What would you like to be added**:

An automated test for the `AdminKubeconfigRequest` feature. Could be a new e2e test or a step in one of the existing e2e tests or an integration test.

**Why is this needed**:

`AdminKubeconfigRequest` was promoted to GA in https://github.com/gardener/gardener/pull/5511.
However, there is no a

[2022-03-16 08:28] timebertt commented on #5586
@acumino @petersutter can you take care of adding a test?

[2022-03-16 08:35] voelzmo commented on #2950
/close

[2022-03-16 08:35] #2950 closed, assigned to amshuman-kr

[2022-03-16 09:45] #3470 closed, assigned to acumino

[2022-03-16 11:56] #5576 closed, assigned to rfranzke

[2022-03-16 12:35] rfranzke commented on #5586
From https://github.com/gardener/gardener/blob/master/docs/deployment/getting_started_locally.md#creating-a-shoot-cluster:

How would we overcome this as part of an e2e test?

[2022-03-16 12:36] rfranzke commented on #5410
Happened again in #5556: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5556/pull-gardener-unit/1504071320869015552

[2022-03-16 13:21] timebertt commented on #5586
In the e2e test, we could workaround this simply looking up the external `DNSRecord` of the shoot and swap out the hostname in the kubeconfig with the resolved IP address.

[2022-03-16 16:56] rfranzke commented on #5410
And again in #5595: https://concourse.ci.gardener.cloud/builds/5327183

[2022-03-17 06:00] vlerenc commented on #5444
@timebertt That sounds like a great improvement (pushing down the matching into the component that knows best how to do that).

I am just wondering, instead of defining the errors codes all centrally in Gardener, wouldn't it be even better (next step?), if also the extensions could define, contribute, and report up "their own sets of error codes"? Much like what @timuthy was thinking at first, but

[2022-03-17 06:33] timebertt commented on #5444
I'm open for thinking about your proposal.
But for the sake of progress, I would vote for focusing on the problem at hand first, which includes: removing technical debt, lowering maintenance burden, lowering potential for wrongful categorization, increasing release velocity for extensions, etc.

Once we have completed this story and moved out the mapping as such, we can still think about allowing

[2022-03-17 06:39] #4806 closed, assigned to rfranzke

[2022-03-17 06:40] rfranzke commented on #5410
And again in #5550: https://concourse.ci.gardener.cloud/builds/5320994

[2022-03-17 06:46] timebertt commented on #5410
I was able to reproduce this locally using:
[code]
(ref https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/flaky-tests.md#deflaking-unit-tests)

[2022-03-17 06:47] timebertt commented on #5410
I assume that timing stuff is making problems under CPU load as we have seen in some other test suites.
Probable fix would be to switch to fake clocks in this suite as well and drop the `time.Sleep` calls like this one:
https://github.com/gardener/gardener/blob/7396ae48b182b4b5887091543e6d13b4c4b1dab3/pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go#L163-L164

[2022-03-17 08:04] vlerenc commented on #5444
Sure, :+1:

So, there are means to make these more meaningful without allowing arbitrary error codes (which would be another plain text field).

Sure, but that's not really nice and creates the same problem we have also for our end users. Imagine there would be only 100/200/300/400/500 as HTTP status codes and we would all parse the HTTP status message... ;-)

[2022-03-17 08:41] jan-kuky opened #5606 "Shoot cluster is hibernated even the hibernation is configured to false"
**How to categorize this issue?**

/area shoot cluster
/area hibernation
/area usability
/kind bug

**What happened**: When you want to deploy shoot cluster without hibernation  and you specify hibernation part in shoot cluster definition yaml with shceduling.

[code]
hibernation is disabled only if this part is deleted from yaml or if schedules part is removed.

[code]
On that case hibernation en

[2022-03-17 10:37] #5526 closed, assigned to rfranzke

[2022-03-18 07:47] #5439 closed, assigned to nobody

[2022-03-18 08:01] epDHowwD opened #5609 "enhancements of error messages"
**How to categorize this issue?**

/area control-plane
Could also be 'usability'.

/kind enhancement

**What would you like to be added**:

When updating from k8s version 1.21 to 1.22 I received an error message upon cri.name being unsupported:

As I changed the k8s version and that is connected to the CRI solution on the hosts, and neither before nor after did set the cri spec I was confused by t

[2022-03-18 10:01] voelzmo opened #5611 "CPU and memory limits are not reconciled back when they are removed manually"
**How to categorize this issue?**

/area auto-scaling
/area control-plane
/kind bug

**What happened**:
We used an OPA policy to remove CPU and memory limits on Deployments in a Shoot namespace on a Seed. This worked as expected, limits got removed on e.g. the `kube-apiserver` Deployment, the Deployment got rolled and all Pods and Containers got updated as expected.
Afterwards, we tried to bring t

[2022-03-21 09:32] ialidzhikov commented on #5435
We discussed that rather provider extension admission components should take care to validate the worker pool `providerConfig`.

[2022-03-21 12:06] vpnachev opened #5619 "Restart cluster-autoscaler on shoot maintenance"
**How to categorize this issue?**

/area auto-scaling control-plane ops-productivity
/kind enhancement

**What would you like to be added**:
Restart cluster-autoscaler on shoot maintenance
Ref: https://github.com/gardener/gardener/blob/master/docs/extensions/shoot-maintenance.md#restart-control-plane-controllers

**Why is this needed**:
Avoid working on stale data.

[2022-03-21 12:56] ialidzhikov commented on #5606
@jan-kuky , there is a mismatch between your expectation and the actual behaviour.
`.spec.hibernation.enable` denotes the desired state of the Shoot cluster (whether the desired state is to have the cluster hibernated or awake).
`.spec.hibernation.schedules` denotes schedules to hibernate/wake up the cluster automatically. The Shoot hibernation controller of gardener-controller-manager reads this

[2022-03-21 15:55] ialidzhikov opened #5622 "Consider disabling etcd-main downscaling for Shoots with `.spec.purpose=infrastructure`"
**How to categorize this issue?**

/area control-plane auto-scaling
/kind enhancement

**What would you like to be added**:
Currently, when the HVPA feature gate is enabled we disable etcd-main downscaling for Shoots with `.spec.purpose=production` - ref https://github.com/gardener/gardener/blob/v1.42.3/docs/concepts/etcd.md#autoscaling. For all other clusters lower advertised requests/limits are

[2022-03-22 13:44] acumino commented on #5282
@timebertt I was checking on this
`consider replacing custom coding in seed-admission-controller with builder.WebhookBuilder.{WithDefaulter,WithValidator}`.
Seems It's not right and we need to follow our old way, which is using `server.Register()`.

To use `builder.WebhookBuilder.{WithDefaulter, WithValidator}`  it needs to implement `admission.{CustomValidator, CustomDefaulter}` [interface](https

[2022-03-22 14:20] acumino commented on #4567
/assign for gardener-resource-manager

[2022-03-22 17:38] #5606 closed, assigned to nobody

[2022-03-22 17:38] #3873 closed, assigned to danielfoehrKn

[2022-03-22 17:40] #4843 closed, assigned to ialidzhikov

[2022-03-22 19:37] Mirko-Weiler opened #5630 "IP-based whitelisting when utilizing Istio ingress gateway"
**How to categorize this issue?**

/area control-plane networking security\
/kind enhancement\
/priority normal

<br />

**What would you like to be added**:

### High-level summary

We propose the addition of IP-based access control at the shoot ingress layer, utilizing the **already built-in**  authorization policy framework by Istio ingress gateways when relying on `ManagedIstio` [feature gate]

[2022-03-23 03:09] ary1992 opened #5631 "Managed Resource `APPLIED` status is false as "apiserver-proxy" service had clusterIP other than "None""
**How to categorize this issue?**

/kind bug

**What happened**:
While on DOD (CW12), I came across an issue on Canary landscape , where for one of the shoot `SC tile was red` with the following error on dashboard:

[code]

On the control plane of shoot , it was found that  managed resource `shoot-core` `Applied` status was `false`.
[code]

`apiserver-proxy` service had following entries under spe

[2022-03-23 04:11] shafeeqes commented on #5363
/assign

[2022-03-23 08:54] rfranzke commented on #5631
https://github.com/gardener/gardener/blob/be6feb277a71c24655f7ff121c29119360f56773/pkg/apis/resources/v1alpha1/types.go#L28-L30 could be used for this scenario if we decide to do something about it in the first place.

[2022-03-23 08:58] vpnachev commented on #5631
For k8s clusters 1.20+ it is nice to manage the `service.spec.clusterIPs` field which is currently not implemented https://github.com/gardener/gardener/blob/v1.42.3/charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-service.yaml.

Ref for the service change k8s: https://github.com/kubernetes/kubernetes/pull/95894

[2022-03-23 09:06] ialidzhikov commented on #5631
As shared in the daily I would not vote to do something similar. The steps to reproduce seem to be too "artificial" - one has to delete the Service and recreate it from a new updated spec (no clusterIP set). I think we could list a lot of similar potential issues - one can delete the coredns Deployment, then create a new Deployment with updates `.spec.selector`, then the ManagedResource should fai

[2022-03-23 09:45] ialidzhikov commented on #5622
@gardener/etcd-druid-maintainers @gardener/hvpa-controller-maintainers (+ @voelzmo @stoyanr ) can you provide feedback whether we should disable etcd-main scale down entirely for Shoots with `.spec.purpose=infrastructure` (our ManagedSeed clusters)? Thanks in advance!

[2022-03-23 09:53] voelzmo commented on #5622
I'm no expert in the area of etcd operations, but if it helps to reduce downtimes for our `production` systems, it seems reasonable to also do this for our `infrastructure` systems. I'm wondering if there are any unwanted side-effects, e.g. are we sure how many etcd's are currently tagged as `infrastructure` and are these the ones we don't want to be scaled down?
/cc @timuthy

[2022-03-23 10:34] vpnachev opened #5634 "Configure fine-granular `PriorityClasses` for all components"
**How to categorize this issue?**

/area high-availability ops-productivity quality
/kind enhancement

**What would you like to be added**:

Configure priorityclass for the Gardener components
- [x] admission-controller -> #5652
- [x] apiserver -> #5652
- [x] controller-manager -> #5652
- [x] gardenlet -> #1899
- [x] scheduler -> #5652
- seed-admission-controller -> #5657
- resource-manager -> #56

[2022-03-23 12:52] vpnachev opened #5636 "[GRM] Use different webhook names for the shoot and seed mutating webhook respectively"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What would you like to be added**:
The admission webhook name `projected-token-mount.resources.gardener.cloud` to be enhanced so that it can describe whether this is the GRM deployed in-the shoot or in the control plane for managed seed clusters.

**Why is this needed**:
It is not impassible, but it is hard to debug err

[2022-03-23 13:00] ialidzhikov commented on #5609
https://github.com/gardener/gardener/pull/5623 and https://github.com/gardener/gardener/pull/5637 should address this issue.

[2022-03-23 14:20] ialidzhikov commented on #4567
/assign
for gardener-seed-admission-controller

[2022-03-24 06:14] vlerenc commented on #5622
`infrastructure` is used by (and allowed only for) Gardener for its seeds, i.e. this only impacts ETCDs in the soils.

In general, it's odd that we treat infrastructure clusters not "at least as critical" as production clusters. They are even more critical, so should include all production cluster measures. Due to the nature of this field (no list, i.e. only one value possible), we may have other

[2022-03-24 07:58] dergeberl opened #5644 "How to add custom StorageClasses in cloud provider extesions"
**How to categorize this issue?**
/area storage
/kind discussion

Hi,

we had a discussion in the `gardener-extension-provider-openstack` (https://github.com/gardener/gardener-extension-provider-openstack/pull/408) about integrating additional StorageClasses in the Gardener.

In the PR mentioned @rgroemmer added this feature directly in the openstack provider. There are more possible options how t

[2022-03-24 08:09] #4901 closed, assigned to nobody

[2022-03-24 09:17] #5622 closed, assigned to voelzmo

[2022-03-24 11:00] #1578 closed, assigned to nobody

[2022-03-24 11:03] dergeberl opened #5650 "Discussion of extending monitoring in PRs #5561 and #5639"
**How to categorize this issue?**
/area monitoring
/kind discussion

Hi @rfranzke @ialidzhikov

I open this issue to have one place for the discussion for 2 PRs #5561 and #5639

My thoughts for this 2 PRs:

## optional external blackbox exporter for probing shoots outside gardener #5561

_Originally posted by @rfranzke in https://github.com/gardener/gardener/pull/5561#pullrequestreview-919837503_

[2022-03-24 11:11] ialidzhikov commented on #5634
/assign

[2022-03-24 13:56] ialidzhikov commented on #5609
I am closing this issue as both PRs are merged.

/close

[2022-03-24 13:56] #5609 closed, assigned to ialidzhikov

[2022-03-24 16:38] ialidzhikov commented on #5634
@vpnachev, really nice finding! Thank you for this issue!

[2022-03-25 07:43] ialidzhikov commented on #4838
This issue should be resolved with the adoption of `terraform@0.15.5` in the provider extensions (especially for provider-aws it is done with https://github.com/gardener/gardener-extension-provider-aws/pull/505). Hence, we can close this issue now.

/close

[2022-03-25 07:43] #4838 closed, assigned to stoyanr, ialidzhikov

[2022-03-25 12:41] #5363 closed, assigned to shafeeqes

[2022-03-25 13:06] acumino commented on #5362
/assign

[2022-03-25 13:49] ialidzhikov opened #5658 "Switch back to upstream VPA CRD (with strict validation)"
/area auto-scaling
/kind enhancement

**What would you like to be added**:
With https://github.com/gardener/gardener/pull/4675 we relaxed the VPA CRD to allow unknown fields in order to unblock users who applied "broken" VPA objects before. See https://github.com/gardener/gardener/pull/4675 for more details.

**Why is this needed**:
We should switch back to the upstream VPA CRD again (maybe with a

[2022-03-25 13:50] ialidzhikov commented on #5658
/cc @timuthy @voelzmo

[2022-03-28 08:17] plkokanov commented on #5619
/assign

[2022-03-28 08:53] plkokanov commented on #5443
/assign

[2022-03-28 09:26] #5463 closed, assigned to DockToFuture

[2022-03-28 09:28] timebertt commented on #3765
All tasks are done now!
/close

[2022-03-28 09:28] #3765 closed, assigned to nobody

[2022-03-28 11:43] timebertt commented on #5282
Thanks for checking the details.
Regarding `extensioncrds`: you're right the current structure cannot simply be refactored into `admission.CustomValidator`. And probably it doesn't provide much value there. So we can skip this.
Regarding `podschedulername`: this is already simple enough and uses as much upstream logic as possible with `admission.HandlerFunc`.

Regarding `extensionresources`: this

[2022-03-28 11:59] acumino commented on #5282
In case of `extensionresources` also I think the current implementation is simple, since in `extensionresource` also we are dealing with multiple `gvr` if we want to follow  `admission.CustomValidator` we have to implement it for every `gvr` and all of them need to be added to manager separately this will make our code bulkier only. The current approach have a little custom coding but I think this

[2022-03-28 12:11] timebertt commented on #5282
Hmm, the current approach *does have* quite some custom coding, see the second code block I referenced. Basically half the file can be dropped by reusing upstream implementations.
Setting the webhook for every GVK on the other hand is very simple, doesn't increase maintenance burden and is easy to understand. So I see a clear advantage of refactoring this webhook, do you agree?

[2022-03-28 12:26] vpnachev opened #5672 "Worker healthcheck to exclude nodes annotated with `node.machine.sapcloud.io/not-managed-by-mcm="1"`"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What would you like to be added**:
The nodes annotated with `node.machine.sapcloud.io/not-managed-by-mcm="1"` to be excluded from the health checks ran by the worker controller.
Ref: https://github.com/gardener/machine-controller-manager/pull/612

**Why is this needed**:
There is a possibility a node not managed by MCM,

[2022-03-28 12:33] acumino commented on #5282
The implementation will be mostly easy only. But I feel, we are not going to have many benefits from it, I can open a PR in the coming days, and then we can look if we want the newer way.

[2022-03-28 12:57] vpnachev opened #5674 "Cloud-config-downloader can invalidate its own token and stop working"
**How to categorize this issue?**

/area ops-productivity quality
/kind bug

**What happened**:
A shoot cluster node has temporary issue with its root filesystem, i.e. there was no space left on the device. At this time, the `cloud-config-downloader` may try to update the token value on the filesystem https://github.com/gardener/gardener/blob/d4ab9bfc38133473741eae930f379f1082adf35e/pkg/operation/

[2022-03-28 13:08] rfranzke commented on #5674
We discussed this in today's quality sync meeting, however, (if at all) we prefer a simple solution as you suggest: Writing the token to another file and then `mv`ing it to the original file if the content differs. What's the benefit of `tmpfs`? Is this complexity justified given that this seems to be a VERY rare issue (only seen once for thousands of VMs with tokens downloaded every minute or so)

[2022-03-28 13:37] vpnachev commented on #5674
No objections from my side, the idea with `tmpfs` was proposed by @vlerenc and I included it, but he can elaborate on it.
It is indeed an issue that I have seen only once so far, but the token rotation is relatively new feature, ref: #5121, so we don't have much experience with it.

[2022-03-28 14:20] vlerenc commented on #5674
Wait, what? ;-) I wasn't proposing `tmpfs` @vpnachev. That would not work. The purpose of my proposal was to have it on the disk already and then move it. I wrote:

I meant "temp file" on the same volume, so that `mv` is just a  "rename" preserving the inode. `tmpfs` or any volume wouldn't serve that purpose.

[2022-03-28 14:23] rfranzke commented on #5674
Thanks for clarification. I think this is reasonable, no matter of the fact that we just saw this once now. @plkokanov can you take care this week (it should be just a few more lines)?

[2022-03-28 14:28] vpnachev commented on #5674
You are right, I need to pay more attention and get the details of what I am reading, it is my fault :wink:

[2022-03-28 14:33] vlerenc commented on #5674
Yeah, I think it's probably a corner case, because in most cases the disk pressure doesn't go away by itself and then MCM will replace the node. Then again, who knows (what kind of GCs run) and now that we rotate and need the disk, we may see it more often.

And don't worry @vpnachev , I wasn't exact either. ;-)

[2022-03-28 15:28] plkokanov opened #5678 "Nil pointer exception can happen when migrating the shoot's BackupEntry"
**How to categorize this issue?**

/area control-plane-migration
/kind bug

**What happened**:
Sometimes during control plane migration a nil pointer exception occurs during the migration of the shoot's `BackupEntry`
[code]

It seems like the nil pointer is caused by this line: https://github.com/gardener/gardener/blob/cb5224a07ed42d84320bc54e92ccddffdafa102e/pkg/gardenlet/controller/backupentry/b

[2022-03-28 16:26] rfranzke commented on #5410
Another one in #5679: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5679/pull-gardener-unit/1508477589600079872

[2022-03-29 04:37] shafeeqes commented on #4730
/assign

[2022-03-29 05:52] timebertt commented on #4717
Heads-up: auto-merging will be activated for this repository with https://github.com/gardener/ci-infra/pull/144
cc @oliver-goetz

[2022-03-29 08:47] shafeeqes commented on #5410
/assign

[2022-03-29 09:13] #5362 closed, assigned to acumino

[2022-03-29 10:59] rfranzke commented on #5410
Another one in #5688: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5688/pull-gardener-unit/1508742205383118848

[2022-03-29 11:37] timebertt commented on #5611
I have given this some thought many times already and I came up with the following rule of thumb about what objects webhooks should mutate for which use cases:

I would generally recommend to do all pod-specific/runtime-related mutations on pods themselves instead of mutating higher-level controllers, e.g.:
- resource requests/limits
- scheduling constraints
- injecting sidecars

Only workload-rel

[2022-03-29 11:45] timebertt commented on #5636
One could distinguish between these webhooks by checking the URL. E.g.
- `https://gardener-resource-manager.garden.svc:443` points to the resource-manager deployed as a seed component
- `https://gardener-resource-manager.shoot--<project>--<shoot-name>:443` points to resource-manager deployed in the shoot control plane.

@vpnachev Is that be sufficient?

[2022-03-29 13:22] acumino commented on #5282
One more hurdle which I missed previously is that the `CustomValidator` returns `error` check [here](https://github.com/kubernetes-sigs/controller-runtime/blob/c46b410039fdc9d620a4217bc7c63c5a7fffae46/pkg/webhook/admission/validator_custom.go#L31-L35) whereas our functions returns `field.ErrorList` check [here](https://github.com/gardener/gardener/blob/f3e414ecd8ff2b0a2143e569b57f93a25a18dc9f/pkg/

[2022-03-29 13:45] acumino commented on #5672
/assign

[2022-03-29 13:56] jdrueckert opened #5690 "Configuration Option for Kubelet Extra Args"
**How to categorize this issue?**

Didn't see an area identifier for "configuration", so I'll go with these instead:
/area control-plane
/area usability

/kind enhancement
/kind api-change

**What would you like to be added**: An extension of `[v1beta1.KubeletConfig](https://gardener.cloud/docs/gardener/api-reference/core/#core.gardener.cloud/v1beta1.KubeletConfig)` with a configuration option for

[2022-03-29 14:00] rfranzke commented on #5690
It is on purpose that not all fields of the configuration are exposed, especially not those which are still alpha or experimental. However, you can help yourself by setting the `KUBELET_EXTRA_ARGS` environment variable on the worker nodes (https://github.com/gardener/gardener/blob/f3e414ecd8ff2b0a2143e569b57f93a25a18dc9f/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/co

[2022-03-29 15:38] #4646 closed, assigned to BeckerMax

[2022-03-29 18:14] rfranzke commented on #4567
As discussed, we can probably
/close
this issue. The only remaining open task was to enable the profiling by default. However, there are several Kubernetes security best practices suggesting that profiling should not be enabled by default for the `kube-apiserver`, so it's probably a good idea to follow the same for our components.

From https://cloud.redhat.com/blog/12-kubernetes-configuration-bes

[2022-03-29 18:14] #4567 closed, assigned to nobody

[2022-03-30 07:48] plkokanov opened #5694 "Schedule control plane migration to be executed during maintenance time windows"
**How to categorize this issue?**

/area control-plane-migration
/kind enhancement

**What would you like to be added**:
Make it possible to schedule control plane migration during maintenance time windows only after the shoot has been "maintained"

**Why is this needed**:
Users might want to schedule migration of their Shoot's control plane during maintenance time windows without the need for an

[2022-03-30 10:46] acumino commented on #5282
@timebertt Can you take a look here?

[2022-03-30 12:29] timebertt commented on #4717
Implemented with https://github.com/gardener/ci-infra/pull/144. Thank you very much @oliver-goetz! 🚀
/close

[2022-03-30 12:29] #4717 closed, assigned to nobody

[2022-03-30 12:59] #1413 closed, assigned to nobody

[2022-03-30 12:59] #1896 closed, assigned to nobody

[2022-03-30 12:59] #2120 closed, assigned to nobody

[2022-03-30 12:59] #2986 closed, assigned to nobody

[2022-03-30 12:59] #1218 closed, assigned to nobody

[2022-03-30 12:59] #2976 closed, assigned to nobody

[2022-03-30 13:02] rfranzke commented on #4106
/remove-lifecycle rotten

[2022-03-30 13:05] rfranzke commented on #3259
/remove-lifecycle rotten

[2022-03-30 13:05] rfranzke commented on #4120
/remove-lifecycle rotten

[2022-03-30 13:08] acumino commented on #2965
/reopen
/lifecycle/frozen

[2022-03-30 13:09] rfranzke commented on #87
/remove-lifecycle rotten

[2022-03-30 13:09] rfranzke commented on #4794
/remove-lifecycle stale

[2022-03-30 13:10] rfranzke commented on #4605
/remove-lifecycle rotten

[2022-03-30 13:10] rfranzke commented on #4796
/remove-lifecycle stale

[2022-03-30 13:31] timebertt commented on #2829
/remove-lifecycle rotten

[2022-03-30 14:04] rfranzke commented on #3244
/close since there are no plans to introduce such controller any more

[2022-03-30 14:08] rfranzke commented on #5156
This is being done as part of #3292
/close

[2022-03-30 14:08] #5156 closed, assigned to nobody

[2022-03-30 14:22] #5672 closed, assigned to acumino

[2022-03-30 14:26] acumino commented on #5410
This one also seems flaky - https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5687/pull-gardener-unit/1509170313273806848

[2022-03-30 15:39] rfranzke commented on #4659
/close
as all related tasks have been completed

[2022-03-30 15:40] #4659 closed, assigned to BeckerMax, rfranzke

[2022-03-30 16:11] rfranzke commented on #5650
@dergeberl I don't think the team has the bandwidth to discuss the topics to their full extents right now, very sorry about that.

I think both changes could be done as part of extensions. For the second one (#5639), your extension can register a webhook for the shoot clusters and then modify the `node-exporter` daemon set as needed. This is already common practice and done at various places, e.g.

[2022-03-31 04:58] vlerenc commented on #3244
@rfranzke Since this is an issue that is constantly causing trouble, what is the plan to help here? Gardener is sensitive to "wrong" web hooks, so what are we doing? Improving the UI https://github.com/gardener/dashboard/issues/1144 is then all we do or are there other tickets/plans?

[2022-03-31 06:23] rfranzke commented on #3244
The ticket is open since very long and nobody is currently working on it. Given this, the fact that there are doubts, and that I recently heard you saying (or writing) that "we don't want racy controllers", I decided to close the issue for now. Do you suggest to reopen it and implement such controller?
I think that the "webhook intercepting webhooks" feature linked by @vpnachev above would be a su

[2022-03-31 07:28] josephine-rueckert commented on #5690
Hi @rfranzke
We have the requirement to not do this manually for a single cluster but as a general part of our shoot configuration.
Is it possible to configure environment variables for the worker nodes as part of the gardener shoot config to achieve the "workaround" you proposed (without the need to restart the `kubelet` service)?

If not, I'd be interested in whether or not adding general suppor

[2022-03-31 07:29] plkokanov commented on #5674
/assign

[2022-03-31 08:14] rfranzke commented on #5690
I am having mixed feelings about allowing such general configuration because it will result in additional operational effort. Users will (even more easily than today) break their clusters because Gardener cannot validate such additional configuration in any meaningful way. That's why we only expose a certain subset of the flags for the Kubernetes components today.
Actually, this is a risk already

[2022-03-31 08:34] josephine-rueckert commented on #5690
I can totally understand that concern. How about only the specific `--seccomp-default` arg?
Being able to enable this feature for applying the seccomp default profile to all workloads would make it so much easier for people to create a more secure baseline for their clusters and workloads.

Alternatively: IIRC, gardener already enforces the AppArmor default profile for all workloads, right? (At le

[2022-03-31 08:37] ialidzhikov commented on #2703
I think we can close now as all gardener components and "main" provider extensions do now support the `--version` flag. The maintainers for the other extensions (networking and OS extensions) can consider to add similar support if they see the need for it.

/close

[2022-03-31 08:37] #2703 closed, assigned to ialidzhikov

[2022-03-31 08:39] rfranzke commented on #2703
Nice, thanks for driving @ialidzhikov!

[2022-03-31 08:42] rfranzke commented on #5690
Generally I have no objections exposing this, however the field is still alpha. We should probably wait for its beta promotion (at least) to prevent that incorporating it into our API now can result in avoidable migration efforts in the future in case they change this field when before promotion. Generally, https://github.com/gardener/gardener/pull/4282 is an exemplary PR for what needs to be done

[2022-03-31 08:51] dergeberl commented on #5650
@rfranzke I got you and the idea but I think it is not practicable for the prometheus config in my opinion. In this case we have to parse the prometheus config and update the keep list for the metrics. I think this will be possible but not practicable to implement this with a webhook. I totally get your point and we don`t want produce more technical debts, we can maintain this feature for now in o

[2022-03-31 08:54] rfranzke commented on #5650
I see, understood and agreed. Yeah, maybe that's a good option for now (sorry for the inconveniences). I truly hope that we can sort this out and implement cleanly in the future.

[2022-03-31 08:57] josephine-rueckert commented on #5690
Okay, fair enough. I don't think there's any official plans for bringing it to beta yet, but I found https://github.com/kubernetes/enhancements/pull/3240 which says it's targeting the v1.25 cycle.

Not even for AppArmor? Interesting... then I need to double-check again, where this comes from 🤔
I was pretty sure it came from gardener, because the confinement was present even on a blank gardener clu

[2022-03-31 08:59] unmarshall opened #5710 "Enhance flow with additional functions"
**How to categorize this issue?**
  /area control-plane
  /kind enhancement

**What would you like to be added**:
Proposal is to add additional methods in the flow framework defined in `pkg/util/flow`

**Why is this needed**:

1. Enhance `RetryUtilTimeout` to also take a jitter
2. Add a method in `TaskFn` to allow specifying exact number of `retryAttempts`, with a `delayInterval` and `exitConditio

[2022-03-31 09:01] unmarshall commented on #5710
Will submit a PR with the enhancements soon.

[2022-03-31 09:24] timebertt commented on #5282
You can call `ToAggregate()` on the `ErrorList`: https://github.com/gardener/gardener/blob/0296476da3a3ee0c4e39acda2f563e09306385f6/vendor/k8s.io/apimachinery/pkg/util/validation/field/errors.go#L241
Then you don't need to change the validation code and can simply call it in the `CustomValidator` implementation.

[2022-03-31 09:33] acumino commented on #5462
/assign

[2022-03-31 09:33] acumino commented on #5496
/assign

[2022-03-31 12:43] #4661 closed, assigned to BeckerMax, rfranzke

[2022-03-31 12:43] rfranzke commented on #4878
All related tasks have been completed.
/close

[2022-03-31 12:43] #4878 closed, assigned to nobody

[2022-03-31 13:23] #5650 closed, assigned to nobody

[2022-03-31 13:37] andrerun commented on #5658
/assign

[2022-03-31 15:19] rfranzke commented on #2414
cc @acumino @shafeeqes @ary1992, it seems there is just a very small TODO left to get this issue closed. Maybe you can have a look when you are free :)

[2022-03-31 15:22] acumino commented on #2414
/assign

[2022-03-31 20:33] #5410 closed, assigned to nobody

[2022-04-01 12:42] timebertt commented on #4599
/shrug

[2022-04-02 19:15] ialidzhikov opened #5723 "Unable to authenticate against grafana Ingresses"
/area monitoring
/kind bug

**What happened**:
Unable to authenticate against grafana ingresses.

**What you expected to happen**:
To be able to authenticate against grafana ingresses

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a new Shoot

2. Navigate to `grafana-operators` or `grafana-users` host.

3. Authenticate with the username/password from the corresponding

[2022-04-03 09:19] rfranzke commented on #5723
Thanks for noticing this @ialidzhikov!

This was introduced as part of https://github.com/gardener/gardener/pull/5608/commits/3397cb7147a7b9f02fce81a0b85a10c688494100.
It seems the `.data.auth` value is double base64-encoded (called here: https://github.com/gardener/gardener/blob/09e7c0528ba4dafa09e5ff53c5ae2b773b864cab/pkg/utils/secrets/basic_auth.go#L145 and implemented here: https://github.com/

[2022-04-03 13:06] ialidzhikov commented on #5723
Thank you! I am able to confirm that it now works with your suggestion. In short, looks like previously we needed https://github.com/gardener/gardener/blob/ebe812bbee4b4058671e08253890d736855f8241/pkg/utils/encoding.go#L140 because we passed the Secret value to the helm chart. With #5608 we switched to client-go calls and client-go under the hood takes care to base64 the Secret data values. This i

[2022-04-03 14:03] rfranzke commented on #5723
Thanks for taking the time to verify this!
Yes, for existing shoots the secret needs to be deleted and regenerated, so this works as expected. However, it only affects clusters which were already reconciled with the master branch, so the bug/regression was not yet released.

[2022-04-04 05:04] #5723 closed, assigned to nobody

[2022-04-04 05:40] #5619 closed, assigned to plkokanov

[2022-04-04 06:31] #3138 closed, assigned to ary1992

[2022-04-04 07:57] timebertt commented on #5710
Inside the task you can simply `return nil` if some condition is met. So I would consider, that this is already possible today.

This is probably also better done in the task itself to not bloat the flow definition more than it is already bloated.

[2022-04-04 08:34] shafeeqes commented on #2414
/assign

[2022-04-04 09:19] acumino commented on #5496
@maresac Can you give a few more detailed steps on how to reproduce it? I tried to reproduce the issue on my end but it is working fine, Any change in the `GardenletConfiguration` is picked, and accordingly `gardenlet` starts with the new configuration.

[2022-04-04 10:55] unmarshall commented on #5710
Yes it is true that you can achieve by returning nil from within the task. In that case you do not even need `DoIf` as that can easily been part of the task itself. I think the intent was to separate out the triggering condition and the actual processing. I am only attempting to make it a bit generic by introducing a function which returns a boolean instead of just passing a pre-computed boolean t

[2022-04-04 11:17] timebertt commented on #5710
No, that's not the case. My main concerns are readability and also the fact, that having a "flow" implementation in kubernetes controllers is a technical debt in the first place. Hence, I would like to avoid adding more "features" or "convenience" to a package that should not be used more extensively than it already is today.

[2022-04-04 11:24] timebertt commented on #5586
With https://github.com/gardener/gardener/pull/5649, `shoots/adminkubeconfig` was exposed to endusers.
I think, it would be good to add an e2e test for it accordingly.

[2022-04-04 11:39] timebertt opened #5731 "Control Plane Migration Tests broken"
**How to categorize this issue?**

/area control-plane-migration
/kind regression
/priority 2

**What happened**:

Since https://github.com/gardener/gardener/pull/5587, control plane migration testmachinery tests are failing with:
[code]

**What you expected to happen**:

Our tests should respect the new restrictions enforced by https://github.com/gardener/gardener/pull/5587.

[2022-04-04 11:40] timebertt commented on #5731
@plkokanov messaged me, that he wants to take care about this issue.

[2022-04-04 12:43] #5674 closed, assigned to plkokanov

[2022-04-04 12:43] #5462 closed, assigned to acumino

[2022-04-04 12:43] #5443 closed, assigned to plkokanov

[2022-04-04 13:11] #5301 closed, assigned to acumino

[2022-04-04 14:16] ScheererJ commented on #4599
Created https://github.com/kubernetes/kubernetes/issues/109286 and https://github.com/kubernetes/kubernetes/pull/109288.
I will also provide a temporary workaround until the upstream change is available.

[2022-04-04 15:06] timebertt commented on #4599
/unshrug

[2022-04-05 03:36] unmarshall commented on #5710
If you have a sequence of activities to be performed which are then represented as a compound activity comprising of sequential and concurrent steps having dependencies amongst them, then i find having a flow kind of frameworks useful as they have the following benefits:

1. They allow breaking down extra-large methods/functions (which i have seen quite a lot unfortunately) into smaller logically

[2022-04-05 07:41] #4599 closed, assigned to DockToFuture, ScheererJ

[2022-04-05 08:51] ary1992 commented on #2414
/assign

[2022-04-05 09:00] timebertt commented on #5710
Reconciliations in kubernetes controller should be fast (think milliseconds) and should generally not wait for anything. Instead of waiting they should requeue or enqueue for relevant watch events.
Instead of using a flow, controllers should always observe the entire state of the world and then decide what's the next thing to do in order to converge to the desired state.

[2022-04-05 11:21] acumino commented on #5547
/assign

[2022-04-05 16:05] #5731 closed, assigned to plkokanov

[2022-04-06 03:40] ary1992 opened #5753 "Promote `CachedRuntimeClients` feature gate to GA (@ary1992 )"

[2022-04-06 03:43] #5753 closed, assigned to nobody

[2022-04-06 06:13] unmarshall commented on #5710
yes that is well understood. So as long as you do not use functions like `RetryUtilTimeout` using a `Flow` is still fine IMHO as it does not cause any additional delays, just arranges the set of activities that one wishes to do as part of the reconciliation either in sequential or concurrent manner.

Today in DWD (existing code), we have a lot of retries. I agree in general that retry'ing from wit

[2022-04-06 07:48] voelzmo commented on #5325
@vpnachev do you have some thoughts on the above discussion? It may be that we have some time to pick this up in the near future.

[2022-04-06 11:14] ialidzhikov opened #5755 "Shoot Node logging no longer works"
/area logging
/kind bug

**What happened**:
It seems that with gardener/gardener@v1.44.0 it is no longer possible to fetch the logs from systemd units.

Loki labels for gardener/gardener < v1.44.0:
![Screenshot 2022-04-06 at 14 10 42](https://user-images.githubusercontent.com/9372594/161962230-26e7a926-d85e-46c9-b1ef-7ec737e56119.png)

(Note that the `unit` label is present and a query like `{unit

[2022-04-06 11:40] ialidzhikov commented on #5755
/close

as it is rather a configuration issue on my side

[2022-04-06 11:40] #5755 closed, assigned to nobody

[2022-04-06 11:45] acumino opened #5756 "Remove the usages of `SHA1-RSA` certificates"
**How to categorize this issue?**

/area usability
/kind enhancement

**Why is this needed**:

Go is deprecating the `SHA1-RSA` in v1.18 https://github.com/golang/go/issues/41682 and will be removed with v1.19. This is causing the provider-local setup to fail. Trying to run provider-local with go v1.18 fails with the following error:
[code]

[2022-04-06 12:33] vlvasilev opened #5757 "Loki is easy to be OOM Killed with `get logs` queries"
**How to categorize this issue?**

/area logging
/kind bug

**What happened**:
Loki is easy to be crashed with OOM after a couple of `get logs` queries.
[code]
Even if we stop the query attack Loki does not free its memory as it was before it.
![Screenshot 2022-04-06 at 14 06 23](https://user-images.githubusercontent.com/38783428/161975289-fa6ebc48-d80a-44a0-998f-75834bf80f17.png)
At 10:19 the DoS

[2022-04-06 13:33] SimonKienzler opened #5758 "GCM configuration for projects doesn't require concurrentSyncs to be set, deploys 0 workers"
**How to categorize this issue?**

/area control-plane
/kind bug

**What happened**:

When not setting `controllers.project.concurrentSyncs` in the `ControllerManagerConfiguration` (but any other `project` setting), this isn't caught by the validation step and results in 0 workers being deployed, so the `Project` resource isn't reconciled.

**What you expected to happen**:

Either a validation fai

[2022-04-07 12:52] grolu opened #5763 "Add node CIDR default to Cloud Profile"
**How to categorize this issue?**
/kind enhancement

**What would you like to be added**:
Currently, the node CIDR used for creating new shoots in the Gardener Dashboard is hard coded. This is a required field in the shoot spec (`spec.networking.nodes`) as well as used for generating the required worker network configuration depending on the selected cloud provider extension.
We now make this valu

[2022-04-07 12:54] timebertt commented on #5710
Go ahead, I don't object. I just wanted to understand the motivation and describe additional considerations.

[2022-04-07 12:56] timebertt commented on #5758
Feel free to pick this up!
/help

[2022-04-08 08:02] voelzmo commented on #5611
This is also my opinion, especially when there is already an existing mechanism operating on pod level. Unfortunately, it is already like it is: HVPA operates on pod-owner level while VPA operates on pod level.

[2022-04-08 10:10] grolu opened #5778 "Add ERROR_CODE to failed MaintenancePreconditionsSatisfied constraint"
**How to categorize this issue?**
/kind enhancement

**What would you like to be added**:
In order to make the user aware of misconfigured webhooks we want to show this as user action error in the dashboard: https://github.com/gardener/dashboard/issues/1144
It would be great, if the reason for the failed constraint could be added as error code, like this:

[code]

Error codes are already added to

[2022-04-08 10:56] rfranzke commented on #5636
/ping @vpnachev

[2022-04-08 10:58] rfranzke commented on #5585
It probably makes sense to tackle this after #4805 is closed.

[2022-04-08 11:00] vpnachev commented on #5636
/close

[2022-04-08 11:00] #5636 closed, assigned to nobody

[2022-04-08 11:01] rfranzke commented on #4932
@shafeeqes can this issue be closed now?

[2022-04-08 11:13] shafeeqes commented on #4932
All the extensions which currently have admission webhooks have this ObjectSelector now. If we introduce admission webhooks in other extensions in the future, probably they can just add the objectSelector since gardener/gardener part is already handled. I'd say we can close this issue.
FYI, This change is not yet adapted in the landscape setup, since there are releases pending for most of the exte

[2022-04-08 11:14] rfranzke commented on #4932
OK, thanks. Then everything related to the open source work seems to be done.
/close

[2022-04-08 11:14] #4932 closed, assigned to nobody

[2022-04-11 03:09] shafeeqes commented on #5758
/assign

[2022-04-11 08:33] acumino commented on #5631
Should we close this issue as @ialidzhikov suggested the steps to reproduce this error is not very realistic?

[2022-04-11 09:36] acumino commented on #5631
The steps to reproduce this is not very realistic also we have not seen any other occurrence of this issue.
/close

[2022-04-11 09:36] #5631 closed, assigned to nobody

[2022-04-11 10:37] acumino commented on #5778
/assign @ary1992

[2022-04-11 10:38] acumino commented on #5452
/assign @ary1992

[2022-04-11 10:38] acumino commented on #5157
/assign

[2022-04-11 10:41] acumino commented on #4722
/touch

[2022-04-11 13:25] acumino commented on #4772
/cc @rfranzke
Can we close this given all the extensions PR are merged now?

[2022-04-11 13:27] rfranzke commented on #4772
Sure, please close if there is nothing left to be done :)

[2022-04-11 13:29] acumino commented on #4772
Ready check PR for all provider-extension I think there is no need for this in any other extension.

[2022-04-11 13:31] acumino commented on #4772
/close

[2022-04-11 13:31] #4772 closed, assigned to acumino

[2022-04-11 13:39] rfranzke opened #5787 "`os-ubuntu`:"

[2022-04-11 13:39] rfranzke commented on #5787
/close
wrong button...

[2022-04-11 13:39] #5787 closed, assigned to nobody

[2022-04-11 14:52] #4793 closed, assigned to plkokanov

[2022-04-12 05:56] ishan16696 opened #5788 "Alert "KubeEtcdFullBackupFailed" needs to be improved."
**How to categorize this issue?**
/area backup
/kind enhancement
/priority normal

**What would you like to be added**:
Currently, alert [KubeEtcdFullBackupFailed](https://github.com/gardener/gardener/blob/master/pkg/operation/botanist/component/etcd/monitoring.go#L170-L171) is calculated based on Last FullSnapshot Timestamp. Whether `backup-restore` has taken a full snapshot within 24h or not.
Id

[2022-04-12 05:56] ishan16696 commented on #5788
cc @vlerenc  @abdasgupta @aaronfern

[2022-04-12 06:15] shafeeqes commented on #5586
/assign

[2022-04-12 09:38] acumino commented on #2414
/close
All the tasks are completed.

[2022-04-12 09:38] #2414 closed, assigned to ary1992, timebertt

[2022-04-12 14:24] #4805 closed, assigned to nobody

[2022-04-12 14:33] rfranzke commented on #5585
FYI: #4805 is closed now, so work could be started if there is capacity.

[2022-04-12 14:39] acumino commented on #5585
/assign

[2022-04-13 05:48] #5758 closed, assigned to shafeeqes

[2022-04-13 07:38] unmarshall opened #5800 "make verify fails on Macbook with ARM64 architecture family"
**How to categorize this issue?**

/area dev-productivity
/area testing
/kind bug

**What happened**:
On Macbook with:
`$(go env GOOS) = darwin`  && `$(go env GOARCH) = arm64`
when you run `make verify` then it fails with the following error log:
[code]
**What you expected to happen**:
`make verify` should succeed when run on Macbook M1 chipset which belongs to `ARM64` architecture family.

**How

[2022-04-13 11:36] unmarshall commented on #5710
Closing this issue as `DoIfFn` also does not get lazily evaluated. Will just make the predicate as implementation detail of the `TaskFn`. For the remainder of the proposals i will not add convenience functions to `Flow` but i have now added utility functions to where it will be used. Therefore this issue is no longer needed and can be closed.

[2022-04-13 11:36] #5710 closed, assigned to nobody

[2022-04-13 11:46] unmarshall commented on #5800
Following changes can resolve the issue:
[code]
In addition change the version of promtool to `2.34.0` These changes do not cause `promtool` issues any longer,  however i am not sure what will break if the version is changed elsewhere.

Unfortunately i am unable to run tests and integration tests locally so cannot confirm the change. `envtest` does not work on M1

[2022-04-13 13:19] ishan16696 opened #5802 "Improve the Randomization of defragmentation timing within the maintenance window."
**How to categorize this issue?**
/area backup
/area TODO
/kind enhancement

**What would you like to be added**:
We don’t want to call a defragmentation on all ETCDs at the same time, so need to improve the [Randomization the defragmentation timing](https://github.com/gardener/gardener/blob/7aac8a9841c1fe1f9804111ed7aceef8d39e62fe/pkg/operation/botanist/etcd.go#L195-L210) within the maintenance w

[2022-04-14 00:00] shafeeqes commented on #5435
/assign

[2022-04-14 05:11] shafeeqes commented on #5496
Closing the issue, can't reproduce it. And no response from the issue opener.
If the issue persists, please reopen and provide further details, so that it can be investigated.
/close

[2022-04-14 05:11] #5496 closed, assigned to acumino

[2022-04-14 07:10] shafeeqes commented on #5435
The gcp admission webhook does deny the above-mentioned spec.
[code]
@MrBatschner isn't able to reproduce this now either.

[2022-04-14 07:34] rfranzke commented on #5435
Interesting. Maybe the admission webhook wasn't registered at the time the issue was reported?

[2022-04-14 07:37] shafeeqes commented on #5435
That might be a possibility.

[2022-04-14 07:39] rfranzke commented on #5435
OK, well, if it's not reproducible anymore and everything looks as if it works as expected, nothing needs to be done and we can close this issue?

[2022-04-14 07:41] MrBatschner commented on #5435
Yes, sounds reasonable not to chase ghosts and close this issue.

[2022-04-14 07:42] shafeeqes commented on #5435
Thanks.
/close

[2022-04-14 07:42] #5435 closed, assigned to shafeeqes

[2022-04-14 10:49] shafeeqes commented on #4417
/assign

[2022-04-14 10:55] vpnachev opened #5808 "Shoot can takeover DNS domains from the default domain"
**How to categorize this issue?**

/area ops-productivity security
/kind bug

**What happened**:
Gardener allows me to use hostname from the default domain that does not belongs to my project.

**What you expected to happen**:
To be disallowed to takeover DNS domains from the default domain

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a gardener project `bar` with n

[2022-04-14 15:31] hoeltcl opened #5809 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-04-15 09:41] ialidzhikov opened #5810 "VPA is wrongly deployed when Seed `.spec.settings.verticalPodAutoscaler.enabled=false`"
**How to categorize this issue?**

/area auto-scaling
/kind bug
/kind regression

**What happened**:
We observe a high amount Pod evictions by VPA for our ManagedSeeds.

[code]

We have 2 VPA stacks acting for the same clusters leading to this high number of Pod evictions.

Our ManagedSeeds enable VPA in the Shoot spec with `spec.kubernetes.verticalPodAutoscaler.enabled=true`. And disable the Seed

[2022-04-18 08:20] ary1992 commented on #4796
/assign

[2022-04-18 08:49] ialidzhikov commented on #5435
I see that this was a provider-gcp specific issue that was fixed with https://github.com/gardener/gardener-extension-provider-gcp/pull/389 (previously the worker config validation was not called if there are no dataVolumes configured for the worker pool).

[2022-04-18 12:00] #5810 closed, assigned to nobody

[2022-04-19 07:01] #5500 closed, assigned to kris94

[2022-04-19 07:25] timebertt commented on #4612
We definitely need this, but it's not clear yet who will take this over.
/remove-lifecycle rotten
/lifecycle frozen

[2022-04-19 07:44] timebertt commented on #4609
With gardener v1.44.3 (which includes https://github.com/kubernetes/kubernetes/pull/104991), the memory usage pattern now looks similar to this:

<img width="1653" alt="Screen Shot 2022-04-19 at 09 39 58" src="https://user-images.githubusercontent.com/46341950/163951261-28ab4291-abfc-432b-baec-2a2c97ac444a.png">

The memory usage looks much more stable and doesn't indicate a memory leak so clearly

[2022-04-19 07:44] #4609 closed, assigned to nobody

[2022-04-19 07:45] timebertt commented on #4606
/priority 4
/remove-lifecycle stale

[2022-04-19 07:49] timebertt commented on #4083
/remove-lifecycle stale

[2022-04-19 07:50] timebertt commented on #4083
@rfranzke @ialidzhikov does it make sense to perform this cleanup now/soon?
If so, maybe one of @acumino @shafeeqes @ary1992 can take this over.

[2022-04-19 14:26] rfranzke opened #5817 "Changing the `ServiceAccount` issuer of a `Shoot` breaks the cluster"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
When changing the `ServiceAccount` issuer for an existing shoot cluster then the control plane and system components start to fail.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a new `Shoot` with a standard manifest (ref https://github.com/gardener/gard

[2022-04-20 07:02] dimityrmirchev commented on #5817
With [this](https://github.com/gardener/gardener/pull/5498) PR was introduced a possibility to specify the `--service-account-issuer` multiple times for k8s 1.22 or later. This allows a non-disruptive migration of the issuer but it requires that the old issuer is set in the `.spec.kubernetes.kubeAPIServer.serviceAccountConfig.acceptedIssuers` field. Although this does not prevent a user from chang

[2022-04-20 08:15] rfranzke commented on #5817
Thanks @dimityrmirchev. I think what we should do is to always add the external hostname to the list of accepted issuers (https://github.com/gardener/gardener/blob/1b10d51dfe74e32bdbd73fe5b8efa903f71b417f/pkg/operation/botanist/kubeapiserver.go#L339), even if the user specifies their own issuer. Today, this is not done automatically, hence all already issued tokens become invalid unless the user a

[2022-04-20 08:40] dimityrmirchev commented on #5817
But I think that this again will not stop me from breaking a cluster. For example:

1. I change the default issuer to `iss-a` and all is good because external hostname was implicitly added to the `acceptedIssuers`.
2. I change it again to `iss-b` and then everything breaks because tokens were issued for `iss-a` but `iss-a` is not in the `acceptedIssuers`.

I am not sure if some kind of validation

[2022-04-20 08:42] dimityrmirchev commented on #5817
IMO the non obvious part of the whole thing is "When can I remove the old issuer from `acceptedIssuers`? Were all the tokens with old `iss` claim regenerated?"

[2022-04-20 08:48] rfranzke commented on #5817
Right, thanks for pointing this out!

[2022-04-20 14:09] rfranzke opened #5824 "Use `--kubeconfig` flag for VPA components when deployed for shoot"
**How to categorize this issue?**

/area open-source
/kind cleanup

**What would you like to be added**:
Now that we have upgraded the VPA components to `0.10` (#5716) we can switch them to use the `--kubeconfig` flag (for example https://github.com/kubernetes/autoscaler/blob/06ad568730252b9c7e6defdd71518a272069f11e/vertical-pod-autoscaler/pkg/admission-controller/main.go#L60 for the `vpa-admissio

[2022-04-20 14:11] rfranzke opened #5825 "Use `Patch` instead of `Update` when setting `Shoot` status to `Aborted`"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:
To prevent `gardenlet` from exiting, we should use `Patch` instead of `Update` when updating the `.status.lastOperation.state` to `Aborted` on start-up: https://github.com/gardener/gardener/blob/61e391ecb37013c8fa0637136bb03ba9f4ddac91/pkg/gardenlet/controller/shoot/shoot.go#L192-L199
We only

[2022-04-20 14:15] rfranzke opened #5826 "Delete `<shoot-name>.monitoring` secret from project namespace when purpose is switched to `testing`"
**How to categorize this issue?**

/area monitoring
/kind bug

**What happened**:
When an existing `Shoot` with a `purpose!=testing` is switched to `purpose=testing` then the monitoring stack is deleted: https://github.com/gardener/gardener/blob/61e391ecb37013c8fa0637136bb03ba9f4ddac91/pkg/operation/botanist/monitoring.go#L452-L454

However, this does not delete the `<shoot-name>.monitoring` secre

[2022-04-20 14:24] rfranzke opened #5827 "Enable rotation trigger for shoot observability credentials"
**How to categorize this issue?**

/area security
/kind enhancement

**What would you like to be added**:
Since #999 is not actively pursued and unclear whether/when to arrive, let's implement a stop-gap solution similar to the rotation of the shoot kubeconfig and monitoring credentials.
It should be enough to introduce a trigger annotation `gardener.cloud/operation=rotate-observability-credential

[2022-04-21 08:46] unmarshall opened #5832 "vpn-seed-server pods fail to start in a local garden kind cluster"
/area dev-productivity
/area testing
/kind bug

**What happened**:
Tried to setup a local garden cluster following the instructions [here](https://github.com/gardener/gardener/blob/master/docs/deployment/getting_started_locally.md).
* Gardener components successfully started
* Gardenlet successfully bootstrapped the seed
* Shoot cluster creation failed reconciliation and was always stuck at 80%. O

[2022-04-21 08:49] timebertt opened #5833 "[Failing Test] gardener-e2e-kind / `make gardener-up` fails"
**How to categorize this issue?**

/area testing
/kind bug
/priority 1

**Which test(s)/suite(s) are flaking**:

[ci-gardener-e2e-kind](https://prow.gardener.cloud/?job=ci-gardener-e2e-kind) and [pull-gardener-e2e-kind](https://prow.gardener.cloud/?job=pull-gardener-e2e-kind)
`make gardener-up` is also failing locally.

**CI link**:

e.g. https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/p

[2022-04-21 08:51] timebertt commented on #5833
Periodic tests started failing with https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1516943594919825408
https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1516882975592026112 was the last working one

However, both jobs were running on commit https://github.com/gardener/gardener/commit/61e391ecb37013c8fa0637136bb03ba9f4ddac91, so no change in th

[2022-04-21 08:52] timebertt commented on #5833
I suspect that https://github.com/projectcalico/calico/pull/5946 is the cause behind this.

https://projectcalico.docs.tigera.io/v3.22/manifests/calico.yaml seems to be kind of a HEAD version and not pinned to the latest release (which is something we should change).

Checking the latest release https://github.com/projectcalico/calico/releases/tag/v3.22.2, `calico.yaml` contains the CRDs

[2022-04-21 08:57] timebertt commented on #5833
/assign
Opening a fix soon

[2022-04-21 10:11] timebertt opened #5836 "[Flaky Test] Controller Common Suite: [It] CheckerWatchdog"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`Controller Common Suite: [It] CheckerWatchdog`

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-unit/1511573836791812096
https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-unit/1517072393976156160
https://prow.gardener.cloud/view/gs/gardener-prow/

[2022-04-21 10:12] #5833 closed, assigned to timebertt

[2022-04-21 11:59] ialidzhikov opened #5839 "Unable to create K8s 1.17 Shoots"
/area quality
/kind bug
/kind regression

**What happened**:
Unable to create K8s 1.17 Shoots.

**What you expected to happen**:
To be able to create K8s 1.17 Shoots.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a K8s 1.17.17 Shoot

2. Make sure that the creation fails with:

[code]

The vpn-seed sidecar container fails to connect to the apiserver while fetch the v

[2022-04-21 12:12] acumino commented on #5839
/cc @rfranzke

[2022-04-21 12:17] rfranzke commented on #5839
What is the issue here, i.e. why is the `vpn-seed` unable to connect?

[2022-04-21 12:23] acumino commented on #5839
`kube-apiserver` logs are filled with
[code]

[2022-04-21 12:31] rfranzke commented on #5839
Unfortunately, I will be OOO soon, so I can't try myself, but maybe it is because of https://github.com/gardener/gardener/blob/a64cf673641b14692c7a1656bf67302e8c154577/pkg/operation/botanist/component/kubeapiserver/secrets.go#L328 - can you try changing this to `secretsmanager.SignedByCA(v1beta1constants.SecretNameCACluster)`?
I see that the cluster CA is used in `vpn-shoot` when the `ReversedVPN`

[2022-04-21 12:35] acumino commented on #5839
I will try. Thanks.

[2022-04-21 12:54] nelljerram commented on #5833
FWIW, we think we've fixed this upstream now in https://projectcalico.docs.tigera.io/v3.22/manifests/calico.yaml.  Removal of the CRDs was accidental.

[2022-04-21 15:36] acumino commented on #5839
[code]
Gives following error
`Unable to get Local Issuer Certificate`

We need to use ca.crt here to mitigate the issue https://github.com/gardener/gardener/blob/28329fd8a93051f6c8cd92767cd5a981e52be589/pkg/operation/botanist/component/kubeapiserver/deployment.go#L741-L744

This seems to solve the issue describe above

[code]

[2022-04-22 06:02] #5839 closed, assigned to nobody

[2022-04-22 07:44] oliver-goetz opened #5846 "Add k8s-app to all Kubernetes components"
**How to categorize this issue?**

/area usability
/kind enhancement

**What would you like to be added**:
Label all Gardener managed Kubernetes components with the `k8s-app: <component name>` label, like `k8s-app: kube-proxy`

**Why is this needed**:
This is a convenience function for the users. Kubernetes upstream is using this label in all their components ([example](https://github.com/kubernet

[2022-04-22 08:55] unmarshall commented on #5832
I resolved the issue w.r.t `vpn-seed-server` not coming up.
I changed the `Dockerfile` in https://github.com/gardener/vpn2 to the following `seed-server/Dockerfile`
[code]
With the above change i was able to start the `vpn-seed-server`. I still have a pending issue w.r.t machine pod not starting up. Will try and gather additional journalctl logs

[2022-04-22 09:41] petersutter opened #5847 "shoots/adminkubeconfig signs client cert with wrong ca"
**How to categorize this issue?**
/area security
/kind bug

**What happened**:
I have created a new shoot cluster with a gardener version `v1.45.0-dev-fa7ad84e4f7bf7a6a378f85aa58bdd3edb55e365`

Running the following gets me an adminkubeconfig for my Shoot
[code]
When using this kubeconfig I get
[code]

The `kube-apiserver` logs show
[code]

The client-certificate in my kubeconfig was issued by `CN

[2022-04-22 10:10] unmarshall commented on #5832
Thanks to @rfranzke after changing the version of kubernetes to 1.23.6 in `example/provider-local/shoot.yaml` and adding 1.23.6 version to the list of versions in `example/provider-local/base/cloudprofile.yaml` the machine pod finally comes up. It takes a total of 35m for the machine pod to come up + shoot reconciliation to finish.

[2022-04-22 10:30] unmarshall commented on #5832
For vpn changes submitted PR https://github.com/gardener/vpn2/pull/11
I am not sure if there is a PR required to also add 1.23.6 to the list of supported kubernetes versions in cloudprofile.yaml and also change the kubernetes version in shoot.yaml

if it is required then let me know and i will raise a separate PR.

[2022-04-22 10:45] rfranzke commented on #5847
/assign

[2022-04-22 11:23] #5847 closed, assigned to rfranzke

[2022-04-22 13:27] rfranzke opened #5850 "Shoots get reconciled even if seed system components are unhealthy or not up-to-date"
**How to categorize this issue?**

/area robustness ops-productivity
/kind enhancement

**What would you like to be added**:
We lack information about the health status of seed system components. This was already reported in #5154 and should be addressed with https://github.com/gardener/gardener/pull/5274.
When this PR is merged, the shoot controller in `gardenlet` will not start reconciling shoot

[2022-04-22 13:28] rfranzke commented on #5850
FYI @dguendisch

[2022-04-23 02:19] #2358 closed, assigned to nobody

[2022-04-25 04:05] #5832 closed, assigned to nobody

[2022-04-25 05:32] timebertt commented on #5778
I'm confused, by this issue. So let me ask back a question to get a better understanding:

The constraints already contain a machine-readable reason (e.g. `ProblematicWebhooks`) in the example above.
I do understand that in `conditions` and `lastErrors` error codes narrows down the things that might have caused a reason: e.g. `reason=CloudControllerManagerDown` could be caused by a user issue (inv

[2022-04-25 06:07] grolu commented on #5778
Okay let me give you some background here. The dashboard has a (hard coded) mapping for known error codes:

[code]

We use this to provide additional information (e.g. on how to resolve the issue) AND to flag the error as user error. (Actually I think this was exactly the reason why they were initially introduced, right? - to flag known errors.) We currently to this for lastErrors and conditions.

[2022-04-25 07:20] shafeeqes commented on #5826
/assign

[2022-04-25 07:40] acumino commented on #5282
/close
All required tasks have been completed.

[2022-04-25 07:40] #5282 closed, assigned to acumino

[2022-04-25 08:32] shafeeqes commented on #5824
/assign

[2022-04-25 08:33] timebertt commented on #5850
Idea is to
- [x] (@kris94) Merge https://github.com/gardener/gardener/pull/5274
- [x] (@timebertt) introduce a new condition `Progressing` (or `RolloutProgressing`) on `ManagedResources` that is set to `True` if resources included in the `ManagedResource` (e.g. a `Deployment`) are not fully rolled out yet: https://github.com/gardener/gardener/pull/5904
  - condition is set to `Unknown` after apply

[2022-04-25 08:33] timebertt commented on #5850
/priority 2

[2022-04-25 08:46] timebertt commented on #4722
https://github.com/gardener/gardener/pull/5274 already tackles part of this. Once its merged, this issue can be tackled for the other parts as well.

[2022-04-25 09:03] timebertt commented on #5817
We discussed this again and came up with the following plan:

- Always add the external hostname to the accepted issuers list. This will prevent invalidating service account tokens once users switch to a custom service account issuer.
- We won't introduce validation for when an issuer can safely be removed from the accepted issuers list, because it's too complicated and in the users responsibility

[2022-04-25 10:53] unmarshall opened #5854 "flow.NewTaskIds does not return nil map if empty TaskID is passed in"
**How to categorize this issue?**
/area control-plane
/kind enhancement

**What happened**:
[code]
The output is:
[code]
As you can see it actually constructs a map with key as "" (empty string).

**What you expected to happen**:
Ideally in method:
[code]
It should check if `len(ids) == 0`, if true then it should just return nil.

**How to reproduce it (as minimally and precisely as possible)**:
J

[2022-04-25 10:59] unmarshall commented on #5854
To add a bit of context. We are constructing a flow which has several steps (some are parallel and some are sequential). What is common is all of these have the same action (scale up/down a resource), however the resources are they act upon is different (statically defined as part of a config).

We construct this flow just once by reading the config and we do this in a concise manner by looping th

[2022-04-25 11:19] shafeeqes commented on #5825
/assign @acumino

[2022-04-25 11:33] shafeeqes commented on #5827
/assign @ary1992

[2022-04-25 11:46] #5826 closed, assigned to shafeeqes

[2022-04-26 09:02] rfranzke opened #5858 "Project `lastActivityTimestamp` should not only consider `creationTimestamp` of objects"
**How to categorize this issue?**

/area usability
/kind bug

**What happened**:
Today, the `Project` activity controller only considers the `creationTimestamp` of `Shoot`s (with #5821 also other objects are considered), see https://github.com/gardener/gardener/blob/e8999347e1367cdc9d108fd6b03446bd0a9040ad/pkg/controllermanager/controller/project/project_activity_control.go#L83-L85.
If a `Shoot` e

[2022-04-26 09:08] rfranzke commented on #5858
Potentially it makes sense to work on this only after #5821 got merged

[2022-04-26 10:35] rfranzke commented on #4415
/assign @rfranzke

[2022-04-26 15:16] wyb1 opened #5860 "Add remote write for the aggregate-prometheus"
**How to categorize this issue?**

/area monitoring
/kind enhancement

**What would you like to be added**:

It should be possible to configure the aggregate prometheus to write to a remote write endpoint. Similar to #4935

**Why is this needed**:

In some scenarios seeds are behind firewalls and it is not possible to scrape the `aggregate-prometheus` from outside of the network. In this case it i

[2022-04-27 09:00] #5157 closed, assigned to acumino

[2022-04-27 12:46] rfranzke commented on #4415
I started looking into this issue and would like to summarize my line of thought here. In order to stop the `cloud-config-executor` from applying the most recent cloud config to nodes which are about to be terminated, I could think of two approaches:

#### Approach 1

1. `cloud-config-executor` reads its `Node` object and checks for a new `scheduled-for-termination` annotation:
    1. If it exists

[2022-04-27 13:57] vpnachev commented on #4415
Single `extensionsv1alpha1.Worker` is responsible for all pools (machinedeployments), each pool should have different checksum. And the extension should somehow distinguish which nodes are to-be-deleted from the pool. Without going into further details, I cannot follow how this idea could resolve the issue.

It indeed looks the same as minor k8s version update, but it was implemented since day one

[2022-04-27 14:07] rfranzke commented on #4415
Right, this is what I have in mind @vpnachev. After the `cloud-config-downloader`s on the old nodes download the `cloud-config` from `cloud-config-foo-no-cri` for the first time, their scripts will be updated to point to the `cloud-config-foo-with-cri` in the future. After some releases, we can delete this temporary code then again. I will experiment with this.

[2022-04-27 14:46] ialidzhikov opened #5865 "Shoot fails to be reconciled with error `missing DH secret information`"
/area control-plane
/kind bug
/kind regression

**What happened**:
See below.

**What you expected to happen**:
Existing Shoot to be reconciled successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Shoot with gardener/gardener@v1.45.0

2. Update to gardener/gardener@v1.46.0-dev-052739856f9f90110d81c97791ee0bf4d9fcf434

3. Reconcile the existing Shoot

4. Make

[2022-04-27 14:54] rfranzke commented on #5865
I think this is because of https://github.com/gardener/gardener/pull/5790/commits/58b3ebfccf1ab9f063c405f88b8c2055058e268b#diff-5a59ce10d2c8c2ae85d9458b6e256e7e957d3b21b160380bb121fddb4a98befcL419-L420 and https://github.com/gardener/gardener/pull/5790/commits/58b3ebfccf1ab9f063c405f88b8c2055058e268b#diff-5a59ce10d2c8c2ae85d9458b6e256e7e957d3b21b160380bb121fddb4a98befcL423-L424 (we read the secret

[2022-04-28 06:48] #5865 closed, assigned to nobody

[2022-04-28 09:33] acumino commented on #5808
What is expected here? Should shoot creation be denied?

[2022-04-28 09:54] timebertt commented on #4729
Do we want to pursue this further?

[2022-04-28 10:25] #5825 closed, assigned to acumino

[2022-04-28 12:10] ialidzhikov opened #5872 "GRM and KCM are not scaled up on reconciliation after a failed hibernation attempt"
/area control-plane
/kind bug

**What happened**:
After https://github.com/gardener/gardener/issues/5865 got fixed we have bunch of Shoots that fail to reconcile after a failed attempt to hibernate.

**What you expected to happen**:
GRM and KCM to be scaled up on reconciliation when `spec.hibernation.enabled=false`, `status.isHibernated=false`

**How to reproduce it (as minimally and precisely as

[2022-04-28 13:34] timebertt commented on #5836
I've spent quite some time to reproduce, debug and understand this problem. However, so far I haven't been able to.
Hence, https://github.com/gardener/gardener/pull/5873 adds some debug logs to help debug the flake if it occurs again.

[2022-04-28 14:01] timebertt commented on #5850
/assign

[2022-04-29 07:03] #5778 closed, assigned to ary1992

[2022-04-29 07:31] #5872 closed, assigned to nobody

[2022-04-29 12:42] rfranzke commented on #5836
@timebertt It happened again here: https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5876/pull-gardener-unit/1520017547204759552

[2022-04-29 13:23] #4122 closed, assigned to nobody

[2022-04-29 13:23] #3123 closed, assigned to nobody

[2022-04-29 13:23] #3420 closed, assigned to nobody

[2022-04-29 13:32] #5452 closed, assigned to ary1992

[2022-04-29 14:23] #3491 closed, assigned to plkokanov

[2022-04-29 14:23] #3889 closed, assigned to nobody

[2022-04-29 14:23] #4361 closed, assigned to nobody

[2022-04-29 14:23] #3570 closed, assigned to nobody

[2022-04-29 15:23] #3160 closed, assigned to nobody

[2022-05-02 06:49] rfranzke commented on #5808
@vpnachev Could you provide feedback, please? We are not clear what the expected behaviour is.

[2022-05-02 06:50] rfranzke commented on #5836
The logs in above build are:

[code]

Does this help @timebertt ?

[2022-05-02 06:58] rfranzke commented on #4730
@shafeeqes Can you please describe what is missing here after https://github.com/gardener/gardener/pull/5683?

[2022-05-02 07:04] shafeeqes commented on #4730
b) changing the update event handlers to enqueue objects only when the generation changed (instead of comparing metadata.generation and status.observedGeneration), this is also what controller-runtime supports out of the box with predicate.GenerationChangedPredicate

since all the controllers are not yet refactored.

[2022-05-02 07:06] rfranzke commented on #5836
/assign @timebertt
since he wants to take another look

[2022-05-02 07:23] unmarshall opened #5878 "Handle scaling of KCM/MCM as part of generic `Worker` actuator reconciliation"
**How to categorize this issue?**
/area control-plane
/area robustness
/kind enhancement

**What would you like to be added**:
See [DWD/Issue#45](https://github.com/gardener/dependency-watchdog/issues/45)

It is possible that prober scales down KCM/MCM/CA partially or fully before the reconciler reacts to a Request and then attempts to cancel the probe because the cluster has been marked for hiber

[2022-05-02 08:06] rfranzke commented on #3881
/assign @acumino

[2022-05-02 08:15] rfranzke commented on #3509
We discussed this issue today and decided to
/close
it since it doesn't bring additional value compared to the dev time and the resulting "code verbosity" resulting out of embedding the upstream type into our API.

[2022-05-02 08:15] #3509 closed, assigned to nobody

[2022-05-02 08:16] rfranzke commented on #4730
Thanks @shafeeqes. As discussed earlier in our meeting, let's
/close
this issue for now since the main motivation (preventing duplicate reconciliations) was tackled. We might optimize the other suggestion as part of #4251, however there is no immediate necessity to pursue this task outside of the planned `controller-runtime` refactoring activities.

[2022-05-02 08:16] #4730 closed, assigned to nobody

[2022-05-02 08:32] rfranzke commented on #5809
/assign @rfranzke

[2022-05-02 08:39] rfranzke commented on #5809
done
/close

[2022-05-02 08:39] #5809 closed, assigned to rfranzke

[2022-05-02 10:06] timebertt commented on #5836
The debug logs were helpful indeed. I've managed to understand what's going on in these flakes:

In the successful case, the logs show this order of execution:
[code]

I.e., `Result requested` -> `Timer expired` -> `Result requested` (`Using last result`)

In the flake however, it looks like this:
[code]

I.e., `Result requested` -> `Result requested` (`Using last result`)
Note, that `Timer expire

[2022-05-02 10:34] timebertt opened #5883 "[Flaky Test] `AdmissionController Auth SeedAuthorizer Graph Suite` panics"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`AdmissionController Auth SeedAuthorizer Graph Suite`

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5882/pull-gardener-unit/1521068788156469248

[code]

**Reason for failure**:

**Anything else we need to know**:

[2022-05-02 10:48] timebertt commented on #4802
Let's close this, I don't see how this can be fixed and the consequences are rather harmless (flooded logs) but no actual bug or anything, I assume.
/close

[2022-05-02 10:48] #4802 closed, assigned to nobody

[2022-05-02 11:47] rfranzke commented on #5817
/assign @acumino @rfranzke

[2022-05-02 12:12] rfranzke commented on #5808
We discussed this again in our meeting this morning and assume that the expected behaviour is forbidden the `Shoot` creation in case it uses a default domain not matching the expected scheme. Today, this is only checked during assignment of the seed cluster.

/assign @acumino

[2022-05-02 12:37] #5836 closed, assigned to timebertt

[2022-05-02 14:48] timebertt commented on #5883
Nevermind, this was probably because of https://github.com/gardener/ci-infra/pull/224
/close

[2022-05-02 14:48] #5883 closed, assigned to nobody

[2022-05-02 17:40] ialidzhikov opened #5892 "failed calling webhook "validation.istio.io": x509: certificate signed by unknown authority"
/area networking
/kind bug

**What happened**:
All of our Seed apiservers have the following failure logs:
[code]

The following comment says that another component will patch the `caBundle` field of the webhook and update its failurePolicy to Fail.

https://github.com/gardener/gardener/blob/2787d636941c3381c2aa712a0da9bc822a507a42/charts/istio/istio-istiod/templates/validatingwebhookconfiguration

[2022-05-02 17:50] ialidzhikov opened #5893 "resource-manager fails to apply VerticalPodAutoscaler resource"
**How to categorize this issue?**

/area control-plane
/kind bug
/kind regression

**What happened**:
The success rate for Azure tests is awful.

<img width="868" alt="Screenshot 2022-05-02 at 18 27 53" src="https://user-images.githubusercontent.com/9372594/166297622-da37e8e1-ccf6-47c7-8631-06ecb939070e.png">

For K8s 1.23 with @kon-angelo we see the following issue:

CCM fails to start with:
[cod

[2022-05-03 04:50] acumino commented on #5892
In the previous versions also `istiod` webhooks are without a `caBundle` set.

[2022-05-03 06:16] timebertt opened #5895 "[Flaky Test] Credentials rotation e2e test failing with `too many worker nodes are registered`"
**How to categorize this issue?**

/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

`E2E Test Suite: [It] Shoot Tests Create Shoot, Rotate CA and Delete Shoot`

**CI link**:

https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1521323003185467392
https://prow.gardener.cloud/view/gs/gardener-prow/logs/ci-gardener-e2e-kind/1519812618934554624
https://prow.g

[2022-05-03 06:32] rfranzke commented on #5756
/assign

[2022-05-03 07:34] rfranzke commented on #4083
/assign

[2022-05-03 08:05] #5817 closed, assigned to rfranzke, acumino

[2022-05-03 08:37] ScheererJ commented on #5892
@ialidzhikov Thanks for noticing the issue.
Apparently, istio changed their logic with istio 1.11. Starting with this release, the validating web hook needs to have a corresponding label otherwise it is not considered (and hence the `caBundle` is not updated). I will create a corresponding pull request.

[2022-05-03 09:24] rfranzke commented on #5585
/reopen
The PR https://github.com/gardener/gardener/pull/5822 gets reverted with #5898 due to https://github.com/gardener/gardener/issues/5893, @acumino can you check what is missing and reopen it?

[2022-05-03 09:32] rfranzke commented on #4083
I checked the code and there doesn't seem to be more things to cleanup, so
/close

We decided to tackle https://github.com/gardener/gardener/issues/4083#issuecomment-851287062 separate once we raise the minimum Kubernetes version for shoots (to 1.18 or higher).

[2022-05-03 09:32] #4083 closed, assigned to rfranzke

[2022-05-03 10:54] #5892 closed, assigned to nobody

[2022-05-03 11:12] timebertt commented on #5850
/unassign
The first step toward resolving this issue is done with https://github.com/gardener/gardener/pull/5904.
Once both https://github.com/gardener/gardener/pull/5904 and https://github.com/gardener/gardener/pull/5274 have been merged, this can be continued (by anyone who is free then).

[2022-05-03 11:24] #5893 closed, assigned to nobody

[2022-05-03 14:53] MartinWeindel commented on #5270
DNSProvider management implementation has been already released with version v1.18.x of the `shoot-dns-service` extension. The new admission webhook of this extension is already deployed to all landscapes.
Next step is validation on a large landscape (canary) by activating the feature gate `DisableDNSProviderManagement` for the Gardenlet and enabling the DNS provider management in the shoot-dns-se

[2022-05-03 15:07] rfranzke commented on #4722
/remove lifecycle/stale

[2022-05-04 05:22] rfranzke opened #5912 "☂️-Issue for "Support for Kubernetes v1.24”"
/area open-source
/kind enhancement
/priority 3
/topology garden seed shoot

Kubernetes v1.24 has been released, find the changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md

Work can be started and pushed to the [`kubernetes-v1.24`](https://github.com/gardener/gardener/tree/kubernetes-v1.24) branch. There should be similar branches in the provider exte

[2022-05-04 05:45] rfranzke opened #5913 "Introduce subresource for binding `Shoot`s to `Seed`s"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What would you like to be added**:
Today, the `.spec.seedName` field of the `Shoot` resource can be changed via regular update requests. Especially in combination with an enabled `SeedChange` feature gate, end-users can now set `.spec.seedName=nil` which leaves the entire control plane resources orphaned in the seed clu

[2022-05-04 06:02] rfranzke opened #5914 "Always update timestamp annotation on `Infrastructure` reconciliation"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement

**What would you like to be added**:
Today, the timestamp annotation is only updated when the reconcile operation annotation is added to the `Infrastructure`: https://github.com/gardener/gardener/blob/f74b427915216972c2595d4271db0520e01b9522/pkg/operation/botanist/component/extensions/infrastructure/infrastructure.go#L136

[2022-05-04 06:31] vlerenc commented on #5913
Cosmetic: How about `shoots/scheduling` instead or `shoots/seed` if it's that specific?

[2022-05-04 06:52] rfranzke commented on #5913
No strong opinion, I was suggesting `binding` because that's how Kubernetes is calling it (https://github.com/kubernetes/kubernetes/blob/6605e526b05da23fee67cdbb59cc6df29ebfb6e5/pkg/registry/core/rest/storage_core.go#L288), and we are doing similar things with `Shoot`s/`Pod`s and `Seed`s/`Node`s

[2022-05-04 11:57] ary1992 commented on #5914
/assign

[2022-05-05 06:12] acumino commented on #5250
/remove-lifecycle stale

[2022-05-05 07:17] rfranzke commented on #5912
/cc @acumino who wanted to take a look at this issue

[2022-05-05 08:25] rfranzke commented on #5547
/assign

[2022-05-05 12:02] acumino commented on #5914
@rfranzke What does user retries means. Does it mean the user annotates the shoot with retry operation?

If we annotate a shoot with retry, the infra also gets the reconcile annotation and it gets reconciled. I am not sure what I am missing here.

[2022-05-05 12:09] vlerenc commented on #5878
If understand it right, this sounds much better/safer, so basically:
- Hibernation was implemented with the wrong assumptions and should no longer assume everything is up/running and should first bring everything up/to the expected state (even if there are networking issues and `kubelet`s cannot update their status, that's irrelevant during hibernation) and then commence with the hibernation flow

[2022-05-05 12:09] voelzmo commented on #4729
Working with `ctr` continues to be a pain, every time we're looking at `containerd` issues I see people being tempted to bring in other tools (`nerdctl`, for example) so while I'm not sure about the initial premise of this item (having the same tool regardless of which container runtime it is), I definitely see a need to improve the operator experience for `containerd` clusters.

[2022-05-05 12:32] rfranzke commented on #5914
@voelzmo Can you potentially add some details what was happening in your scenario and maybe even some more conrete steps for reproduction?

[2022-05-05 12:39] acumino commented on #5585
/cc @rfranzke @ialidzhikov @timebertt If this is hard to follow we can discuss it in internal meeting.

I have created a new list in which resources need to be sorted before getting applied by the resource manager based on all resources that are available in Gardener.

**Sorted List Which we will use-**

CustomResourceDefinition
Namespace
HorizontalPodAutoscaler
Hvpa
VerticalPodAutoscalerCheckpoin

[2022-05-05 12:46] ialidzhikov commented on #5585
When I was debugging https://github.com/gardener/gardener/issues/5893 the problem was rather that in

https://github.com/gardener/gardener/blob/0476c3f4c0fa57e3edbaf8b1f79247342551ff89/pkg/resourcemanager/controller/managedresource/sort.go#L91-L94

`a.oldInformation.Kind` and `b.oldInformation.Kind` were always empty strings and it was always comparing the objects by name.

[2022-05-06 06:08] #5824 closed, assigned to shafeeqes

[2022-05-06 06:08] rfranzke commented on #5824
#5915 addresses the topic for `vpa-recommender` and `vpa-updater`. It is not possible for `vpa-admission-controller` due to https://github.com/kubernetes/autoscaler/issues/4844, so let's keep this issue closed for now until this is fixed and we can address it.

[2022-05-06 09:09] acumino commented on #5585
I checked once again it's not always comparing by name. It first tries to sort the object based on kind but if kind is not there in the list which we provide then it sorts based on the string comparison of a kind and if kind is the same then it sorts based on the object name.
Previously, VPA and others were not so they were getting deployed in last.

[2022-05-06 09:16] acumino commented on #5585
Also, I don't understand why the error message shows `autoscaling.k8s.io/v1beta2` haven't we already moved to `autoscaling.k8s.io/v1`. /cc @rfranzke
I tried to reproduce the issue https://github.com/gardener/gardener/issues/5893. The crds were there with apiVersion `autoscaling.k8s.io/v1`. Though the issue occurred with the same error but it got resolved later in 2-3 minutes. I will look into it a

[2022-05-06 09:17] rfranzke commented on #5585
Extensions which have not yet been released or deployed with new version might still try to apply `autoscaling.k8s.io/v1beta2.VPA` resources.

[2022-05-06 09:31] #5756 closed, assigned to rfranzke

[2022-05-06 09:59] #5547 closed, assigned to rfranzke

[2022-05-06 11:21] ary1992 commented on #5914
For reproducing the issue I have done the following steps :
 - Created a shoot with valid AWS credentials. The infrastructure resource got deployed with timestamp annotation and shoot was in healthy state.
 - Made the change to `shoot-operator-aws` secret in `garden-dev` namespace with invalid credentials.
 - The shoot didn't reconciled to failed state as the infrastructure reconciles only during

[2022-05-06 11:55] #4417 closed, assigned to shafeeqes

[2022-05-06 12:54] voelzmo commented on #5914
Can confirm that the same cluster no longer has an `infrastructure` problem, but now has a `DNSRecord` problem.

Here is what I did (caveat: this is how I remember it, no guarantee that this is 100% correct):
* I'm using the IaaS based local-setup and had a Shoot from a few weeks ago. I hibernated it back then, because I didn't need it for a while
* When I needed it again, I started the local setu

[2022-05-09 07:19] #4415 closed, assigned to rfranzke

[2022-05-09 08:22] plkokanov commented on #5850
/assign

[2022-05-09 08:24] plkokanov commented on #4106
/assign

[2022-05-09 08:27] plkokanov commented on #5913
/assign @ary1992 @shafeeqes

[2022-05-09 08:31] plkokanov commented on #5858
/assign

[2022-05-09 08:33] plkokanov commented on #4350
/assing

[2022-05-09 08:35] plkokanov commented on #5895
/assign

[2022-05-09 09:16] #5827 closed, assigned to ary1992

[2022-05-09 09:26] vpnachev commented on #5808
Is it still required to provide more details? If yes, could you elaborate what is not clear in the initial description?

[2022-05-11 04:47] shafeeqes commented on #5858
From https://github.com/gardener/gardener/blob/master/docs/concepts/controller-manager.md#stale-projects-reconciler,

" Projects are considered as "stale"/not actively used when all of the following conditions apply: The namespace associated with the Project does not have any...
* Shoot resources.
* Plant resources.
* BackupEntry resources.
* Secret resources that are referenced by a SecretBinding

[2022-05-11 05:02] shafeeqes commented on #5895
Another failure, but the error seems to be different.
https://prow.gardener.cloud/view/gs/gardener-prow/pr-logs/pull/gardener_gardener/5938/pull-gardener-e2e-kind/1524242997997211648#

[2022-05-11 05:21] rfranzke commented on #5858
Then, Isn't this check still valid?

How can the `lastActivityTimestamp` be old enough when there are still resources in the namespace?

[2022-05-11 05:24] shafeeqes commented on #5858
When resources are created, but not updated for a long time?

[2022-05-11 05:28] rfranzke commented on #5858
Right, well, then we close this issue and keep everything as is?

[2022-05-11 05:29] shafeeqes commented on #5858
I think so, since the major concern of this issue is already addressed in #5821.

[2022-05-11 05:29] rfranzke commented on #5858
OK, sounds good
/close

[2022-05-11 05:29] #5858 closed, assigned to plkokanov

[2022-05-11 10:29] unmarshall opened #5952 "Support for a single worker pool with min=0"
**How to categorize this issue?**
/area control-plane
/kind discussion

**What happened**:
DWD only interacts with shoot control plane components apart from a `Cluster` resource. For writing integration tests for DWD we only need a seed with the control plane of a shoot under test. There is no need to spin up worker nodes. Currently there is a limitation being enforced wherein if there is a single

[2022-05-11 14:22] neo-liang-sap opened #5956 "Mis-functioning of detection webhooks that are potentially problematic for maintenance activities"
**How to categorize this issue?**
/area ops-productivity
/kind bug
/priority normal

**What happened**:
In a shoot although shoot owner already configed validatingwebhook to excluded `kube-system` namespace, in dashboard there's still some warning indicating

[code]

**What you expected to happen**:

this warning message should not show

**How to reproduce it (as minimally and precisely as possibl

[2022-05-12 07:46] vlerenc commented on #3244
/reopen @rfranzke suggested to now implement auto-remediation in the care controller as this is a really annoying problem. The condition will still reflect such broken web hooks, even if auto-remediated, so showing that condition prominently (in the Dashboard) is still desired to avoid ongoing races between "their" and "our" controllers around such misbehaving web hook configurations.

[2022-05-12 08:53] vpnachev commented on #3244
second attempt, `reopen` should be the right [command](https://prow.gardener.cloud/command-help?repo=gardener%2Fgardener#reopen)
/reopen

[2022-05-12 09:18] #5586 closed, assigned to shafeeqes

[2022-05-12 09:24] donistz opened #5957 "New project role for project service account administration"
/kind enhancement
/priority normal

**What would you like to be added**:
New project role for project service account administration
**Why is this needed**:
We have to prepare Gardener for a breaking change that will come with Kubernetes v.1.24. This Kubernetes change will deprecate the Kubernetes token controller that is currently used by Gardener for the management of the Gardener service accoun

[2022-05-12 10:31] timebertt commented on #4729
/remove-lifecycle rotten

[2022-05-12 10:38] timebertt commented on #5956
@neo-liang-sap can you add the full webhook config so that one can reproduce this issue?

[2022-05-12 10:39] unmarshall commented on #5800
@shreyas-s-rao thanks for including this change in your PR

[2022-05-12 10:42] timebertt commented on #5952
If you are only concerned about testing, it is probably more sensible to simply use provider-local for e2e tests of dependency-watchdog.
You could take a look at https://github.com/gardener/gardener/blob/master/hack/test-e2e-local.sh, https://github.com/gardener/gardener-extension-shoot-oidc-service/blob/master/hack/test-e2e-provider-local.sh and https://github.com/gardener/ci-infra/blob/master/co

[2022-05-12 10:47] DanielYWoo opened #5958 "documentation about the networks, especially for cross-cluster"
**How to categorize this issue?**
/area documentation
/kind enhancement

**What would you like to be added**:
How can I set up CNI parameters, e.g., use calico VXLAN or BGP.
How can I make a shoot cluster routable to another? static routing rules and firewalls specific the infrastructure?

**Why is this needed**:
We have env-per-cluster pattern, and some services need to be clustered across two cl

[2022-05-12 10:57] unmarshall commented on #5952
Currently testing is the scope. I wait for https://github.com/gardener/gardener/pull/5937 to be merged so that KIND cluster supports DWD prober. Once that is merged then it would definitely be sensible to use the KIND cluster instead of test machinery as DWD does not interact or need worker machines.
Thanks for the links - i think this was also presented in the last core weekly review meeting and

[2022-05-12 11:32] #5154 closed, assigned to kris94

[2022-05-12 15:03] bollmann opened #7538 "Changing the Gardener Shoot node's worker group name affects all running workloads and causes down time."
**How to categorize this issue?**
/area control-plane
/kind enhancement
/priority 3

### What happened?

We accidentally changed the worker group name inside our productive Gardener shoot node manifest from "edp-g-pe1" to "default". This caused all the worker shoot nodes belonging to the old worker group to be drained and be shut down. Afterwards, the worker shoots were added to the worker group w

[2022-05-12 23:28] neo-liang-sap commented on #5956
@timebertt i will ping you in private

[2022-05-13 05:32] vlerenc commented on #5952
@unmarshall This is the ticket that was opened back then: https://github.com/gardener/gardener/issues/1907

It was opened by @vpnachev, but I "think" @vasu1124 brought it up some time before, though I am not sure anymore.